{
  "swagger": "2.0",
  "info": {
    "title": "Patient API Cloud",
    "x-ibm-name": "patient-api-cloud",
    "x-ibm-summary": "This profile builds upon the US Core Patient profile. It is used to convey information about the patient who received the services described on the claim.",
    "version": "4.0.1",
    "description": "A simplified version of the HL7 FHIR API for Patient resources.",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BORISMCT2/patient-api-cloud/4.0.1"
  },
  "schemes": [
    "https"
  ],
  "basePath": "/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "oauth2Ping": [
        "openid"
      ]
    }
  ],
  "securityDefinitions": {
    "oauth2Ping": {
      "type": "oauth2",
      "description": "To use the BSCA interoperability API OAuth 2.0,developer must register their application. A registered application is given a client ID and a client secret. The secret should only be used if it can be kept confidential, such as communication between your server and the BSCA interoperability APIs.                                                  Access tokens have scopes, which define permissions and the resources that the token can access. Scopes are primarily utilized to determine the type of data an application is requesting. Scopes must be explicitly declared; wildcards are not supported. ",
      "flow": "accessCode",
      "x-ibm-oauth-provider": "pingoauth",
      "authorizationUrl": "https://dev-ext.blueshieldca.com/as/authorization.oauth2",
      "tokenUrl": "https://dev-ext.blueshieldca.com/as/token.oauth2",
      "scopes": {
        "openid": ""
      }
    },
    "clientId": {
      "type": "apiKey",
      "description": "",
      "in": "query",
      "x-key-type": "client_id",
      "name": "clientId"
    }
  },
  "x-ibm-configuration": {
    "type": "rest",
    "phase": "realized",
    "enforced": true,
    "testable": true,
    "cors": {
      "enabled": true
    },
    "application-authentication": {
      "certificate": false
    },
    "categories": [
      "USCORE"
    ],
    "servers": [
      {
        "url": "https://esbndp-api2.bsc.bscal.com:443/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      },
      {
        "url": "https://esbnxg-api2.bsc.bscal.com/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      }
    ],
    "oauth-servers": {
      "oauth2Ping": {
        "tokenUrls": [
          "https://dev-ext.blueshieldca.com/as/token.oauth2"
        ],
        "authorizationUrls": [
          "https://dev-ext.blueshieldca.com/as/authorization.oauth2"
        ],
        "refreshUrls": []
      }
    }
  },
  "tags": [
    {
      "name": "Patient"
    }
  ],
  "definitions": {
    "Resource": {
      "title": "Resource",
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "id": {
          "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "implicitRules": {
          "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "language": {
          "description": "The base language in which the resource is written.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        }
      },
      "required": [
        "resourceType"
      ]
    },
    "DomainResource": {
      "title": "DomainResource",
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "id": {
          "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "implicitRules": {
          "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "language": {
          "description": "The base language in which the resource is written.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        },
        "contained": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        },
        "extension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        }
      },
      "required": [
        "resourceType"
      ]
    },
    "Patient": {
      "title": "Patient",
      "example": {
        "resourceType": "Patient",
        "meta": {
          "versionId": "r0BlxhiEmn",
          "lastUpdated": "2020-11-04T11:22:44.719535-05:00",
          "source": "1TJxkOPLsZ",
          "profile": [
            "Kso__wyJbq"
          ],
          "security": [
            {
              "system": "RHwf6Wb_Z3",
              "version": "mKNfMM_Jwq",
              "code": "3ofbYka_hY",
              "display": "Uk5cfiCXGy",
              "userSelected": true
            }
          ],
          "tag": [
            {
              "system": "bUpRRWe7RE",
              "version": "mXEexnyUm7",
              "code": "iKROhIfqrE",
              "display": "dI8BrNrGtr",
              "userSelected": true
            },
            {
              "code": "ibm/complete-mock"
            }
          ]
        },
        "implicitRules": "zMr27fm3PV",
        "language": "en-US",
        "text": {
          "status": "empty",
          "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"></div>"
        },
        "identifier": [
          {
            "use": "usual",
            "type": {
              "coding": [
                {
                  "system": "RJxaq9g8Zf",
                  "version": "EuO7jZJ7_C",
                  "code": "IJVxpXwzZg",
                  "display": "IOYwkFCreQ",
                  "userSelected": true
                }
              ],
              "text": "CU7r_ze4es"
            },
            "system": "z99AQHLDbI",
            "value": "6PUn73kneX",
            "period": {
              "start": "2020-11-04T11:22:44.723071-05:00",
              "end": "2020-11-04T11:22:44.723448-05:00"
            }
          }
        ],
        "active": true,
        "name": [
          {
            "use": "anonymous",
            "text": "eVgKYn0WyV",
            "family": "jWwVcpNNIB",
            "given": [
              "TAibsfj1XC"
            ],
            "prefix": [
              "ebYHygfwqO"
            ],
            "suffix": [
              "8AxCS3iEn1"
            ],
            "period": {
              "start": "2020-11-04T11:22:44.728797-05:00",
              "end": "2020-11-04T11:22:44.729004-05:00"
            }
          }
        ],
        "telecom": [
          {
            "system": "phone",
            "value": "ZSfW94KHIV",
            "use": "mobile",
            "rank": 2073248909,
            "period": {
              "start": "2020-11-04T11:22:44.729389-05:00",
              "end": "2020-11-04T11:22:44.729587-05:00"
            }
          }
        ],
        "gender": "male",
        "birthDate": "2020-11-04",
        "deceasedBoolean": true,
        "address": [
          {
            "use": "old",
            "type": "both",
            "text": "8sCUd64GpT",
            "line": [
              "FkxycW_jWz"
            ],
            "city": "1zZgL1V5wX",
            "district": "83GeZoyn21",
            "state": "AGTxHBDpbY",
            "postalCode": "rLBCFZ4GDN",
            "country": "XGE0Hl2h1Y",
            "period": {
              "start": "2020-11-04T11:22:44.730681-05:00",
              "end": "2020-11-04T11:22:44.730896-05:00"
            }
          }
        ],
        "maritalStatus": {
          "coding": [
            {
              "system": "INyk7y2v8N",
              "version": "HLVwwyTtHY",
              "code": "zFWvXkDMal",
              "display": "zAAu4J33Kv",
              "userSelected": true
            }
          ],
          "text": "xHjPzLkct4"
        },
        "multipleBirthBoolean": true,
        "photo": [
          {
            "contentType": "_OEPOWDL32",
            "language": "en-US",
            "data": "GSwJHnY=",
            "url": "SOTL6CpVJ5",
            "size": 1481229908,
            "hash": "RQJXGkc=",
            "title": "1xk8PmxLA3",
            "creation": "2020-11-04T11:22:44.732244-05:00"
          }
        ],
        "contact": [
          {
            "relationship": [
              {
                "coding": [
                  {
                    "system": "i5CmIu6yQh",
                    "version": "dxzgL09XjL",
                    "code": "fBF5xwe6ia",
                    "display": "EvCNTZqQDo",
                    "userSelected": true
                  }
                ],
                "text": "wWEfF1CoYg"
              }
            ],
            "name": {
              "use": "nickname",
              "text": "tWgWTBm3qV",
              "family": "zMYs1RWsPN",
              "given": [
                "23d05nL4vD"
              ],
              "prefix": [
                "CvNSNz3T2k"
              ],
              "suffix": [
                "ASwPu64JGg"
              ],
              "period": {
                "start": "2020-11-04T11:22:44.733696-05:00",
                "end": "2020-11-04T11:22:44.733882-05:00"
              }
            },
            "telecom": [
              {
                "system": "other",
                "value": "CzwfPVmpH4",
                "use": "temp",
                "rank": 218937924,
                "period": {
                  "start": "2020-11-04T11:22:44.734266-05:00",
                  "end": "2020-11-04T11:22:44.734421-05:00"
                }
              }
            ],
            "address": {
              "use": "old",
              "type": "both",
              "text": "2kcDsSC1U_",
              "line": [
                "0vN4AeLMbB"
              ],
              "city": "vFlcx0o86N",
              "district": "lilEVU580K",
              "state": "difXmKYswG",
              "postalCode": "lNvObZ0En2",
              "country": "IgTmZ71LtM",
              "period": {
                "start": "2020-11-04T11:22:44.735025-05:00",
                "end": "2020-11-04T11:22:44.735237-05:00"
              }
            },
            "gender": "male",
            "organization": {
              "reference": "Organization/Gns4744uko",
              "type": "Organization",
              "identifier": {
                "use": "usual",
                "type": {
                  "coding": [
                    {
                      "system": "b23K5e6gb0",
                      "version": "YWcAM1o40U",
                      "code": "etsGEcBjRS",
                      "display": "u2Fa1vwCb_",
                      "userSelected": true
                    }
                  ],
                  "text": "ZSX_XmmoOI"
                },
                "system": "PoKUY202pq",
                "value": "A7GkvaX9Oa",
                "period": {
                  "start": "2020-11-04T11:22:44.736313-05:00",
                  "end": "2020-11-04T11:22:44.736521-05:00"
                }
              },
              "display": "UuouSjhMzf"
            },
            "period": {
              "start": "2020-11-04T11:22:44.736853-05:00",
              "end": "2020-11-04T11:22:44.737021-05:00"
            }
          }
        ],
        "communication": [
          {
            "language": {
              "coding": [
                {
                  "system": "urn:ietf:bcp:47",
                  "code": "en-US"
                }
              ]
            },
            "preferred": true
          }
        ],
        "generalPractitioner": [
          {
            "reference": "Organization/SiB3lKoyXv",
            "type": "Organization",
            "identifier": {
              "use": "secondary",
              "type": {
                "coding": [
                  {
                    "system": "JNpEgU_lJ_",
                    "version": "8JdlQDYmQu",
                    "code": "S8NoNWYCYo",
                    "display": "l04ex85i8D",
                    "userSelected": true
                  }
                ],
                "text": "KjzHzT6Qgs"
              },
              "system": "Tojs8knd6G",
              "value": "ixcvgQqsuk",
              "period": {
                "start": "2020-11-04T11:22:44.738432-05:00",
                "end": "2020-11-04T11:22:44.738599-05:00"
              }
            },
            "display": "SYkDfGKt3F"
          }
        ],
        "managingOrganization": {
          "reference": "Organization/wGF7YMZV5M",
          "type": "Organization",
          "identifier": {
            "use": "usual",
            "type": {
              "coding": [
                {
                  "system": "OVFcmV4gEx",
                  "version": "OxwM90nouv",
                  "code": "zeM4Eevyyp",
                  "display": "lNR13TD3lY",
                  "userSelected": true
                }
              ],
              "text": "JpAdGMgAuV"
            },
            "system": "rvw0qz1uHE",
            "value": "EoaSD9hvI5",
            "period": {
              "start": "2020-11-04T11:22:44.739627-05:00",
              "end": "2020-11-04T11:22:44.739788-05:00"
            }
          },
          "display": "FuDdPGtvhB"
        },
        "link": [
          {
            "other": {
              "reference": "Patient/FFe88dBQqT",
              "type": "Patient",
              "identifier": {
                "use": "old",
                "type": {
                  "coding": [
                    {
                      "system": "uiNsFvvVcG",
                      "version": "KTfer_IQ6l",
                      "code": "2aNmd2mht_",
                      "display": "RB5S9fApDv",
                      "userSelected": true
                    }
                  ],
                  "text": "1PXSw8PzVJ"
                },
                "system": "nikT3Fpzga",
                "value": "qfFmQBX49U",
                "period": {
                  "start": "2020-11-04T11:22:44.741126-05:00",
                  "end": "2020-11-04T11:22:44.741292-05:00"
                }
              },
              "display": "Gg_9RlJi4t"
            },
            "type": "refer"
          }
        ]
      },
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "id": {
          "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "implicitRules": {
          "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "language": {
          "description": "The base language in which the resource is written.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        },
        "contained": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        },
        "extension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "identifier": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "active": {
          "description": "Whether this patient record is in active use. \nMany systems use this property to mark as non&ndash;current patients, such as those that have not been seen for a period of time based on an organization's business rules.\n\nIt is often used to filter patient lists to exclude inactive patients\n\nDeceased patients may also be marked as inactive for the same reasons, but may be active for some time after death.",
          "type": "boolean"
        },
        "name": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HumanName"
          }
        },
        "telecom": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactPoint"
          }
        },
        "gender": {
          "$ref": "#/definitions/Gender"
        },
        "birthDate": {
          "description": "The date of birth for the individual.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?"
        },
        "deceasedBoolean": {
          "description": "Indicates if the individual is deceased or not.",
          "type": "boolean"
        },
        "deceasedDateTime": {
          "description": "Indicates if the individual is deceased or not.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "maritalStatus": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "multipleBirthBoolean": {
          "description": "Indicates whether the patient is part of a multiple (boolean) or indicates the actual birth order (integer).",
          "type": "boolean"
        },
        "multipleBirthInteger": {
          "description": "Indicates whether the patient is part of a multiple (boolean) or indicates the actual birth order (integer).",
          "type": "integer",
          "format": "int32"
        },
        "photo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "contact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Patient_Contact"
          }
        },
        "communication": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Patient_Communication"
          }
        },
        "generalPractitioner": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Reference"
          }
        },
        "managingOrganization": {
          "$ref": "#/definitions/Reference"
        },
        "link": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Patient_Link"
          }
        }
      },
      "required": [
        "resourceType"
      ]
    },
    "Bundle": {
      "title": "Bundle",
      "example": {
        "resourceType": "Bundle",
        "meta": {
          "versionId": "F7bitzw1Hj",
          "lastUpdated": "2020-11-04T11:22:43.502316-05:00",
          "source": "JRkgOa8bwm",
          "profile": [
            "i4gpGowr6Y"
          ],
          "security": [
            {
              "system": "lTnQF4OV3w",
              "version": "hTth0i4Ivs",
              "code": "P6iXDX6DcV",
              "display": "rMonvtKiO8",
              "userSelected": true
            }
          ],
          "tag": [
            {
              "system": "4HA_3UN6ab",
              "version": "FvMU1dv9n6",
              "code": "AjrpSN9l0q",
              "display": "V3cjH6t7zX",
              "userSelected": true
            },
            {
              "code": "ibm/complete-mock"
            }
          ]
        },
        "implicitRules": "IUOLjdM2gr",
        "language": "en-US",
        "identifier": {
          "use": "temp",
          "type": {
            "coding": [
              {
                "system": "GG7NhXNGqZ",
                "version": "hTXMVyhLkS",
                "code": "fimixp8PMa",
                "display": "aYmxIkjI7w",
                "userSelected": true
              }
            ],
            "text": "znbNwNNzOo"
          },
          "system": "zxGBnkW0WU",
          "value": "lpcL4XUHKZ",
          "period": {
            "start": "2020-11-04T11:22:43.507146-05:00",
            "end": "2020-11-04T11:22:43.507335-05:00"
          }
        },
        "type": "document",
        "timestamp": "2020-11-04T11:22:43.507779-05:00",
        "total": 804618139,
        "link": [
          {
            "relation": "0h9oqVMQIt",
            "url": "N6t6uzHuIy"
          }
        ],
        "entry": [
          {
            "link": [
              {
                "relation": "IWG3UO5Awa",
                "url": "MJBFG1zxnb"
              }
            ],
            "fullUrl": "PKkErHU9RX",
            "search": {
              "mode": "match",
              "score": 0.7827620245063741
            },
            "request": {
              "method": "DELETE",
              "url": "EX5t3mSMJh",
              "ifNoneMatch": "TXPgvN30LK",
              "ifModifiedSince": "2020-11-04T11:22:43.514903-05:00",
              "ifMatch": "ESkJi0jaVC",
              "ifNoneExist": "fuSskChKIq"
            },
            "response": {
              "status": "avVXy1xkRq",
              "location": "v0Ub50vvWL",
              "etag": "BmCLcXDNuX",
              "lastModified": "2020-11-04T11:22:43.516375-05:00"
            }
          }
        ],
        "signature": {
          "type": [
            {
              "system": "YievdsQnmM",
              "version": "3um1GW4GVD",
              "code": "sNUnxWccmG",
              "display": "pqCTozifNV",
              "userSelected": true
            }
          ],
          "when": "2020-11-04T11:22:43.518017-05:00",
          "who": {
            "reference": "Practitioner/7tLbieRmnA",
            "type": "Practitioner",
            "identifier": {
              "use": "secondary",
              "type": {
                "coding": [
                  {
                    "system": "9BzciHf_0T",
                    "version": "em1dSVwNdC",
                    "code": "LD7gU1VdIa",
                    "display": "l_je45PsqP",
                    "userSelected": true
                  }
                ],
                "text": "Kd2TxyCZR7"
              },
              "system": "pACafNTDh7",
              "value": "_hcXO_NlZg",
              "period": {
                "start": "2020-11-04T11:22:43.519783-05:00",
                "end": "2020-11-04T11:22:43.520066-05:00"
              }
            },
            "display": "l79nsD4sN6"
          },
          "onBehalfOf": {
            "reference": "Practitioner/LiWB2VJ2UG",
            "type": "Practitioner",
            "identifier": {
              "use": "official",
              "type": {
                "coding": [
                  {
                    "system": "64W3kvPnCz",
                    "version": "1LnrLVgWre",
                    "code": "oHtu3WoiKi",
                    "display": "gMKD8fdCjt",
                    "userSelected": true
                  }
                ],
                "text": "bu5V13p166"
              },
              "system": "Graf7De_yt",
              "value": "UWJRgHe9wr",
              "period": {
                "start": "2020-11-04T11:22:43.544663-05:00",
                "end": "2020-11-04T11:22:43.545138-05:00"
              }
            },
            "display": "kQ5612idGd"
          },
          "targetFormat": "AQCVaUpSER",
          "sigFormat": "FxtGIjypV6",
          "data": "dUUnF3I="
        }
      },
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "id": {
          "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "implicitRules": {
          "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "language": {
          "description": "The base language in which the resource is written.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "identifier": {
          "$ref": "#/definitions/Identifier"
        },
        "type": {
          "$ref": "#/definitions/Type3"
        },
        "timestamp": {
          "description": "The date/time that the bundle was assembled &ndash; i.e. when the resources were placed in the bundle.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "total": {
          "description": "If a set of search matches, this is the total number of entries of type 'match' across all pages in the search.  It does not include search.mode = 'include' or 'outcome' entries and it does not provide a count of the number of entries in the Bundle.",
          "type": "integer",
          "format": "int32"
        },
        "link": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bundle_Link"
          }
        },
        "entry": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bundle_Entry"
          }
        },
        "signature": {
          "$ref": "#/definitions/Signature"
        }
      },
      "required": [
        "resourceType",
        "type"
      ]
    },
    "OperationOutcome": {
      "title": "OperationOutcome",
      "example": {
        "resourceType": "OperationOutcome",
        "meta": {
          "versionId": "q63JAUPuUM",
          "lastUpdated": "2020-11-04T11:22:40.494613-05:00",
          "source": "lwnaIGbKJn",
          "profile": [
            "XGQPxL1j9k"
          ],
          "security": [
            {
              "system": "sPgaKWp0jQ",
              "version": "wZHLBfjatw",
              "code": "DMQqy4R3E8",
              "display": "mmxOeLn3hG",
              "userSelected": true
            }
          ],
          "tag": [
            {
              "system": "MtLYCBYPWS",
              "version": "8Ak7HZQrke",
              "code": "0DRWc7UuJB",
              "display": "6NXvm6cEoG",
              "userSelected": true
            },
            {
              "code": "ibm/complete-mock"
            }
          ]
        },
        "implicitRules": "siFyYo720q",
        "language": "en-US",
        "text": {
          "status": "generated",
          "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"></div>"
        },
        "issue": [
          {
            "severity": "fatal",
            "code": "required",
            "details": {
              "coding": [
                {
                  "system": "YAwo1XN_fv",
                  "version": "9ycWn1vQBR",
                  "code": "Y4ci7ASL_1",
                  "display": "lq_CJ5bq6Z",
                  "userSelected": true
                }
              ],
              "text": "aWHd4ZkhaW"
            },
            "diagnostics": "yew1JE2w0X",
            "location": [
              "ZDqBVS3Xgx"
            ],
            "expression": [
              "yYfbNaNi8V"
            ]
          }
        ]
      },
      "type": "object",
      "properties": {
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "id": {
          "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        },
        "implicitRules": {
          "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "language": {
          "description": "The base language in which the resource is written.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "text": {
          "$ref": "#/definitions/Narrative"
        },
        "contained": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        },
        "extension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "issue": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationOutcome_Issue"
          }
        }
      },
      "required": [
        "resourceType",
        "issue"
      ]
    },
    "Bundle_Entry": {
      "title": "Bundle_Entry",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "link": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bundle_Link"
          }
        },
        "fullUrl": {
          "description": "The Absolute URL for the resource.  The fullUrl SHALL NOT disagree with the id in the resource &ndash; i.e. if the fullUrl is not a urn:uuid, the URL shall be version&ndash;independent URL consistent with the Resource.id. The fullUrl is a version independent reference to the resource. The fullUrl element SHALL have a value except that: \n* fullUrl can be empty on a POST (although it does not need to when specifying a temporary id for reference in the bundle)\n* Results from operations might involve resources that are not identified.",
          "type": "string",
          "pattern": "\\S*"
        },
        "resource": {
          "$ref": "#/definitions/Resource"
        },
        "search": {
          "$ref": "#/definitions/Bundle_Entry_Search"
        },
        "request": {
          "$ref": "#/definitions/Bundle_Entry_Request"
        },
        "response": {
          "$ref": "#/definitions/Bundle_Entry_Response"
        }
      }
    },
    "Bundle_Entry_Response": {
      "title": "Bundle_Entry_Response",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "status": {
          "description": "The status code returned by processing this entry. The status SHALL start with a 3 digit HTTP code (e.g. 404) and may contain the standard HTTP description associated with the status code.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "location": {
          "description": "The location header created by processing this operation, populated if the operation returns a location.",
          "type": "string",
          "pattern": "\\S*"
        },
        "etag": {
          "description": "The Etag for the resource, if the operation for the entry produced a versioned resource (see [Resource Metadata and Versioning](http.html#versioning) and [Managing Resource Contention](http.html#concurrency)).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "lastModified": {
          "description": "The date/time that the resource was modified on the server.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "outcome": {
          "$ref": "#/definitions/Resource"
        }
      },
      "required": [
        "status"
      ]
    },
    "Bundle_Entry_Request": {
      "title": "Bundle_Entry_Request",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "method": {
          "$ref": "#/definitions/Method"
        },
        "url": {
          "description": "The URL for this entry, relative to the root (the address to which the request is posted).",
          "type": "string",
          "pattern": "\\S*"
        },
        "ifNoneMatch": {
          "description": "If the ETag values match, return a 304 Not Modified status. See the API documentation for [\"Conditional Read\"](http.html#cread).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "ifModifiedSince": {
          "description": "Only perform the operation if the last updated date matches. See the API documentation for [\"Conditional Read\"](http.html#cread).",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "ifMatch": {
          "description": "Only perform the operation if the Etag value matches. For more information, see the API section [\"Managing Resource Contention\"](http.html#concurrency).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "ifNoneExist": {
          "description": "Instruct the server not to perform the create if a specified resource already exists. For further information, see the API documentation for [\"Conditional Create\"](http.html#ccreate). This is just the query portion of the URL &ndash; what follows the \"?\" (not including the \"?\").",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      },
      "required": [
        "method",
        "url"
      ]
    },
    "Bundle_Entry_Search": {
      "title": "Bundle_Entry_Search",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "mode": {
          "$ref": "#/definitions/Mode"
        },
        "score": {
          "description": "When searching, the server's search ranking score for the entry.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Bundle_Link": {
      "title": "Bundle_Link",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "relation": {
          "description": "A name which details the functional use for this link &ndash; see [http://www.iana.org/assignments/link&ndash;relations/link&ndash;relations.xhtml#link&ndash;relations&ndash;1](http://www.iana.org/assignments/link&ndash;relations/link&ndash;relations.xhtml#link&ndash;relations&ndash;1).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "url": {
          "description": "The reference details for the link.",
          "type": "string",
          "pattern": "\\S*"
        }
      },
      "required": [
        "relation",
        "url"
      ]
    },
    "OperationOutcome_Issue": {
      "title": "OperationOutcome_Issue",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "severity": {
          "$ref": "#/definitions/Severity"
        },
        "code": {
          "$ref": "#/definitions/Code"
        },
        "details": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "diagnostics": {
          "description": "Additional diagnostic information about the issue.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "location": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "expression": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      },
      "required": [
        "severity",
        "code"
      ]
    },
    "Patient_Link": {
      "title": "Patient_Link",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "other": {
          "$ref": "#/definitions/Reference"
        },
        "type": {
          "$ref": "#/definitions/Type2"
        }
      },
      "required": [
        "other",
        "type"
      ]
    },
    "Patient_Communication": {
      "title": "Patient_Communication",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "language": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "preferred": {
          "description": "Indicates whether or not the patient prefers this language (over other languages he masters up a certain level).",
          "type": "boolean"
        }
      },
      "required": [
        "language"
      ]
    },
    "Patient_Contact": {
      "title": "Patient_Contact",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "relationship": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeableConcept"
          }
        },
        "name": {
          "$ref": "#/definitions/HumanName"
        },
        "telecom": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactPoint"
          }
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "gender": {
          "$ref": "#/definitions/Gender1"
        },
        "organization": {
          "$ref": "#/definitions/Reference"
        },
        "period": {
          "$ref": "#/definitions/Period"
        }
      }
    },
    "Element": {
      "title": "Element",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        }
      }
    },
    "BackboneElement": {
      "title": "BackboneElement",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        }
      }
    },
    "Address": {
      "title": "Address",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "use": {
          "$ref": "#/definitions/Use"
        },
        "type": {
          "$ref": "#/definitions/Type"
        },
        "text": {
          "description": "Specifies the entire address as it should be displayed e.g. on a postal label. This may be provided instead of or as well as the specific parts.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "line": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "city": {
          "description": "The name of the city, town, suburb, village or other community or delivery center.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "district": {
          "description": "The name of the administrative area (county).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "state": {
          "description": "Sub&ndash;unit of a country with limited sovereignty in a federally organized country. A code may be used if codes are in common use (e.g. US 2 letter state codes).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "postalCode": {
          "description": "A postal code designating a region defined by the postal service.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "country": {
          "description": "Country &ndash; a nation as commonly understood or generally accepted.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "period": {
          "$ref": "#/definitions/Period"
        }
      }
    },
    "Quantity": {
      "title": "Quantity",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "value": {
          "description": "The value of the measured amount. The value includes an implicit precision in the presentation of the value.",
          "type": "number",
          "format": "double"
        },
        "comparator": {
          "$ref": "#/definitions/Comparator"
        },
        "unit": {
          "description": "A human&ndash;readable form of the unit.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "system": {
          "description": "The identification of the system that provides the coded form of the unit.",
          "type": "string",
          "pattern": "\\S*"
        },
        "code": {
          "description": "A computer processable form of the unit in some unit representation system.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        }
      }
    },
    "Annotation": {
      "title": "Annotation",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "authorReference": {
          "$ref": "#/definitions/Reference"
        },
        "authorString": {
          "description": "The individual responsible for making the annotation.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "time": {
          "description": "Indicates when this particular annotation was made.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        },
        "text": {
          "description": "The text of the annotation in markdown format.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      },
      "required": [
        "text"
      ]
    },
    "Attachment": {
      "title": "Attachment",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "contentType": {
          "description": "Identifies the type of the data in the attachment and allows a method to be chosen to interpret or render the data. Includes mime type parameters such as charset where appropriate.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "language": {
          "description": "The human language of the content. The value can be any valid value according to BCP 47.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "data": {
          "description": "The actual data of the attachment &ndash; a sequence of bytes, base64 encoded.",
          "type": "string",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
        },
        "url": {
          "description": "A location where the data can be accessed.",
          "type": "string",
          "pattern": "\\S*"
        },
        "size": {
          "description": "The number of bytes of data that make up this attachment (before base64 encoding, if that is done).",
          "type": "integer",
          "format": "int32"
        },
        "hash": {
          "description": "The calculated hash of the data using SHA&ndash;1. Represented using base64.",
          "type": "string",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
        },
        "title": {
          "description": "A label or set of text to display in place of the data.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "creation": {
          "description": "The date that the attachment was first created.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        }
      }
    },
    "CodeableConcept": {
      "title": "CodeableConcept",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "coding": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Coding"
          }
        },
        "text": {
          "description": "A human language representation of the concept as seen/selected/uttered by the user who entered the data and/or which represents the intended meaning of the user.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      }
    },
    "Coding": {
      "title": "Coding",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "system": {
          "description": "The identification of the code system that defines the meaning of the symbol in the code.",
          "type": "string",
          "pattern": "\\S*"
        },
        "version": {
          "description": "The version of the code system which was used when choosing this code. Note that a well&ndash;maintained code system does not need the version reported, because the meaning of codes is consistent across versions. However this cannot consistently be assured, and when the meaning is not guaranteed to be consistent, the version SHOULD be exchanged.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "code": {
          "description": "A symbol in syntax defined by the system. The symbol may be a predefined code or an expression in a syntax defined by the coding system (e.g. post&ndash;coordination).",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "display": {
          "description": "A representation of the meaning of the code in the system, following the rules of the system.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "userSelected": {
          "description": "Indicates that this coding was chosen by a user directly &ndash; e.g. off a pick list of available items (codes or displays).",
          "type": "boolean"
        }
      }
    },
    "ContactPoint": {
      "title": "ContactPoint",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "system": {
          "$ref": "#/definitions/System"
        },
        "value": {
          "description": "The actual contact point details, in a form that is meaningful to the designated communication system (i.e. phone number or email address).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "use": {
          "$ref": "#/definitions/Use2"
        },
        "rank": {
          "description": "Specifies a preferred order in which to use a set of contacts. ContactPoints with lower rank values are more preferred than those with higher rank values.",
          "type": "integer",
          "format": "int32"
        },
        "period": {
          "$ref": "#/definitions/Period"
        }
      }
    },
    "HumanName": {
      "title": "HumanName",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "use": {
          "$ref": "#/definitions/Use3"
        },
        "text": {
          "description": "Specifies the entire name as it should be displayed e.g. on an application UI. This may be provided instead of or as well as the specific parts.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "family": {
          "description": "The part of a name that links to the genealogy. In some cultures (e.g. Eritrea) the family name of a son is the first name of his father.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "given": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "prefix": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "suffix": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "[ \\r\\n\\t\\S]+"
          },
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "period": {
          "$ref": "#/definitions/Period"
        }
      }
    },
    "Identifier": {
      "title": "Identifier",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "use": {
          "$ref": "#/definitions/Use1"
        },
        "type": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "system": {
          "description": "Establishes the namespace for the value &ndash; that is, a URL that describes a set values that are unique.",
          "type": "string",
          "pattern": "\\S*"
        },
        "value": {
          "description": "The portion of the identifier typically relevant to the user and which is unique within the context of the system.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "period": {
          "$ref": "#/definitions/Period"
        },
        "assigner": {
          "$ref": "#/definitions/Reference"
        }
      }
    },
    "Money": {
      "title": "Money",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "value": {
          "description": "Numerical value (with implicit precision).",
          "type": "number",
          "format": "double"
        },
        "currency": {
          "description": "ISO 4217 Currency Code.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        }
      }
    },
    "Period": {
      "title": "Period",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "start": {
          "description": "The start of the period. The boundary is inclusive.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        },
        "end": {
          "description": "The end of the period. If the end of the period is missing, it means no end was known or planned at the time the instance was created. The start may be in the past, and the end date in the future, which means that period is expected/planned to end at that time.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        }
      }
    },
    "Range": {
      "title": "Range",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "low": {
          "$ref": "#/definitions/Quantity"
        },
        "high": {
          "$ref": "#/definitions/Quantity"
        }
      }
    },
    "Ratio": {
      "title": "Ratio",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "numerator": {
          "$ref": "#/definitions/Quantity"
        },
        "denominator": {
          "$ref": "#/definitions/Quantity"
        }
      }
    },
    "Reference": {
      "title": "Reference",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "reference": {
          "description": "A reference to a location at which the other resource is found. The reference may be a relative reference, in which case it is relative to the service base URL, or an absolute URL that resolves to the location where the resource is found. The reference may be version specific or not. If the reference is not to a FHIR RESTful server, then it should be assumed to be version specific. Internal fragment references (start with '#') refer to contained resources.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "type": {
          "description": "The expected type of the target of the reference. If both Reference.type and Reference.reference are populated and Reference.reference is a FHIR URL, both SHALL be consistent.\n\nThe type is the Canonical URL of Resource Definition that is the type this reference refers to. References are URLs that are relative to http://hl7.org/fhir/StructureDefinition/ e.g. \"Patient\" is a reference to http://hl7.org/fhir/StructureDefinition/Patient. Absolute URLs are only allowed for logical models (and can only be used in references in logical models, not resources).",
          "type": "string",
          "pattern": "\\S*"
        },
        "identifier": {
          "$ref": "#/definitions/Identifier"
        },
        "display": {
          "description": "Plain text narrative that identifies the resource in addition to the resource reference.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      }
    },
    "SampledData": {
      "title": "SampledData",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "origin": {
          "$ref": "#/definitions/Quantity"
        },
        "period": {
          "description": "The length of time between sampling times, measured in milliseconds.",
          "type": "number",
          "format": "double"
        },
        "factor": {
          "description": "A correction factor that is applied to the sampled data points before they are added to the origin.",
          "type": "number",
          "format": "double"
        },
        "lowerLimit": {
          "description": "The lower limit of detection of the measured points. This is needed if any of the data points have the value \"L\" (lower than detection limit).",
          "type": "number",
          "format": "double"
        },
        "upperLimit": {
          "description": "The upper limit of detection of the measured points. This is needed if any of the data points have the value \"U\" (higher than detection limit).",
          "type": "number",
          "format": "double"
        },
        "dimensions": {
          "description": "The number of sample points at each time point. If this value is greater than one, then the dimensions will be interlaced &ndash; all the sample points for a point in time will be recorded at once.",
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "description": "A series of data points which are decimal values separated by a single space (character u20). The special values \"E\" (error), \"L\" (below detection limit) and \"U\" (above detection limit) can also be used in place of a decimal value.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        }
      },
      "required": [
        "origin",
        "period",
        "dimensions"
      ]
    },
    "Signature": {
      "title": "Signature",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "type": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Coding"
          }
        },
        "when": {
          "description": "When the digital signature was signed.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "who": {
          "$ref": "#/definitions/Reference"
        },
        "onBehalfOf": {
          "$ref": "#/definitions/Reference"
        },
        "targetFormat": {
          "description": "A mime type that indicates the technical format of the target resources signed by the signature.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "sigFormat": {
          "description": "A mime type that indicates the technical format of the signature. Important mime types are application/signature+xml for X ML DigSig, application/jose for JWS, and image/* for a graphical image of a signature, etc.",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "data": {
          "description": "The base64 encoding of the Signature content. When signature is not recorded electronically this element would be empty.",
          "type": "string",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
        }
      },
      "required": [
        "type",
        "when",
        "who"
      ]
    },
    "Timing": {
      "title": "Timing",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "event": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
          },
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        },
        "repeat": {
          "$ref": "#/definitions/Timing_Repeat"
        },
        "code": {
          "$ref": "#/definitions/CodeableConcept"
        }
      }
    },
    "Timing_Repeat": {
      "title": "Timing_Repeat",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "modifierExtension": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "boundsDuration": {
          "$ref": "#/definitions/Quantity"
        },
        "boundsRange": {
          "$ref": "#/definitions/Range"
        },
        "boundsPeriod": {
          "$ref": "#/definitions/Period"
        },
        "count": {
          "description": "A total count of the desired number of repetitions across the duration of the entire timing specification. If countMax is present, this element indicates the lower bound of the allowed range of count values.",
          "type": "integer",
          "format": "int32"
        },
        "countMax": {
          "description": "If present, indicates that the count is a range &ndash; so to perform the action between [count] and [countMax] times.",
          "type": "integer",
          "format": "int32"
        },
        "duration": {
          "description": "How long this thing happens for when it happens. If durationMax is present, this element indicates the lower bound of the allowed range of the duration.",
          "type": "number",
          "format": "double"
        },
        "durationMax": {
          "description": "If present, indicates that the duration is a range &ndash; so to perform the action between [duration] and [durationMax] time length.",
          "type": "number",
          "format": "double"
        },
        "durationUnit": {
          "$ref": "#/definitions/DurationUnit"
        },
        "frequency": {
          "description": "The number of times to repeat the action within the specified period. If frequencyMax is present, this element indicates the lower bound of the allowed range of the frequency.",
          "type": "integer",
          "format": "int32"
        },
        "frequencyMax": {
          "description": "If present, indicates that the frequency is a range &ndash; so to repeat between [frequency] and [frequencyMax] times within the period or period range.",
          "type": "integer",
          "format": "int32"
        },
        "period": {
          "description": "Indicates the duration of time over which repetitions are to occur; e.g. to express \"3 times per day\", 3 would be the frequency and \"1 day\" would be the period. If periodMax is present, this element indicates the lower bound of the allowed range of the period length.",
          "type": "number",
          "format": "double"
        },
        "periodMax": {
          "description": "If present, indicates that the period is a range from [period] to [periodMax], allowing expressing concepts such as \"do this once every 3&ndash;5 days.",
          "type": "number",
          "format": "double"
        },
        "periodUnit": {
          "$ref": "#/definitions/PeriodUnit"
        },
        "dayOfWeek": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DayOfWeek"
          }
        },
        "timeOfDay": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
          },
          "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
        },
        "when": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/When"
          }
        },
        "offset": {
          "description": "The number of minutes from the event. If the event code does not indicate whether the minutes is before or after the event, then the offset is assumed to be after the event.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContactDetail": {
      "title": "ContactDetail",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "name": {
          "description": "The name of an individual to contact.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "telecom": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactPoint"
          }
        }
      }
    },
    "RelatedArtifact": {
      "title": "RelatedArtifact",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "type": {
          "$ref": "#/definitions/Type1"
        },
        "label": {
          "description": "A short label that can be used to reference the citation from elsewhere in the containing artifact, such as a footnote index.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "display": {
          "description": "A brief description of the document or knowledge resource being referenced, suitable for display to a consumer.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "citation": {
          "description": "A bibliographic citation for the related artifact. This text SHOULD be formatted according to an accepted citation format.",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "url": {
          "description": "A url for the artifact that can be followed to access the actual content.",
          "type": "string",
          "pattern": "\\S*"
        },
        "document": {
          "$ref": "#/definitions/Attachment"
        },
        "resource": {
          "description": "The related resource, such as a library, value set, profile, or other knowledge resource.",
          "type": "string",
          "pattern": "\\S*"
        }
      },
      "required": [
        "type"
      ]
    },
    "UsageContext": {
      "title": "UsageContext",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "code": {
          "$ref": "#/definitions/Coding"
        },
        "valueCodeableConcept": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "valueQuantity": {
          "$ref": "#/definitions/Quantity"
        },
        "valueRange": {
          "$ref": "#/definitions/Range"
        },
        "valueReference": {
          "$ref": "#/definitions/Reference"
        }
      },
      "required": [
        "code"
      ]
    },
    "Meta": {
      "title": "Meta",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "versionId": {
          "description": "The version specific identifier, as it appears in the version portion of the URL. This value changes when the resource is created, updated, or deleted.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "lastUpdated": {
          "description": "When the resource last changed &ndash; e.g. when the version changed.",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "source": {
          "description": "A uri that identifies the source system of the resource. This provides a minimal amount of [Provenance](provenance.html#) information that can be used to track or differentiate the source of information in the resource. The source may identify another FHIR server, document, message, database, etc.",
          "type": "string",
          "pattern": "\\S*"
        },
        "profile": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "\\S*"
          },
          "pattern": "\\S*"
        },
        "security": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Coding"
          }
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Coding"
          }
        }
      }
    },
    "Narrative": {
      "title": "Narrative",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "div": {
          "description": "The actual narrative content, a stripped down version of XHTML.",
          "type": "string"
        }
      },
      "required": [
        "status",
        "div"
      ]
    },
    "Extension": {
      "title": "Extension",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "extension": {
          "example": [
            {
              "url": "http://example.com",
              "valueString": "text value"
            }
          ],
          "type": "array",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "url": {
          "description": "Source of the definition for the extension code &ndash; a logical name or a URL.",
          "type": "string",
          "pattern": "\\S*"
        },
        "valueBase64Binary": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
        },
        "valueBoolean": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "boolean"
        },
        "valueCanonical": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "\\S*"
        },
        "valueCode": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "[^\\s]+(\\s[^\\s]+)*"
        },
        "valueDate": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?"
        },
        "valueDateTime": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
        },
        "valueDecimal": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "number",
          "format": "double"
        },
        "valueId": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "[A-Za-z0-9\\-\\.]{1,64}"
        },
        "valueInstant": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
        },
        "valueInteger": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "integer",
          "format": "int32"
        },
        "valueMarkdown": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "valueOid": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "urn:oid:[0-2](\\.(0|[1-9][0-9]*))+"
        },
        "valuePositiveInt": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "integer",
          "format": "int32"
        },
        "valueString": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "[ \\r\\n\\t\\S]+"
        },
        "valueTime": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
        },
        "valueUnsignedInt": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "integer",
          "format": "int32"
        },
        "valueUri": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "\\S*"
        },
        "valueUrl": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "\\S*"
        },
        "valueUuid": {
          "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
          "type": "string",
          "pattern": "urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        },
        "valueAddress": {
          "$ref": "#/definitions/Address"
        },
        "valueAge": {
          "$ref": "#/definitions/Quantity"
        },
        "valueAnnotation": {
          "$ref": "#/definitions/Annotation"
        },
        "valueAttachment": {
          "$ref": "#/definitions/Attachment"
        },
        "valueCodeableConcept": {
          "$ref": "#/definitions/CodeableConcept"
        },
        "valueCoding": {
          "$ref": "#/definitions/Coding"
        },
        "valueContactPoint": {
          "$ref": "#/definitions/ContactPoint"
        },
        "valueCount": {
          "$ref": "#/definitions/Quantity"
        },
        "valueDistance": {
          "$ref": "#/definitions/Quantity"
        },
        "valueDuration": {
          "$ref": "#/definitions/Quantity"
        },
        "valueHumanName": {
          "$ref": "#/definitions/HumanName"
        },
        "valueIdentifier": {
          "$ref": "#/definitions/Identifier"
        },
        "valueMoney": {
          "$ref": "#/definitions/Money"
        },
        "valuePeriod": {
          "$ref": "#/definitions/Period"
        },
        "valueQuantity": {
          "$ref": "#/definitions/Quantity"
        },
        "valueRange": {
          "$ref": "#/definitions/Range"
        },
        "valueRatio": {
          "$ref": "#/definitions/Ratio"
        },
        "valueReference": {
          "$ref": "#/definitions/Reference"
        },
        "valueSampledData": {
          "$ref": "#/definitions/SampledData"
        },
        "valueSignature": {
          "$ref": "#/definitions/Signature"
        },
        "valueTiming": {
          "$ref": "#/definitions/Timing"
        },
        "valueContactDetail": {
          "$ref": "#/definitions/ContactDetail"
        },
        "valueRelatedArtifact": {
          "$ref": "#/definitions/RelatedArtifact"
        },
        "valueUsageContext": {
          "$ref": "#/definitions/UsageContext"
        },
        "valueMeta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "required": [
        "url"
      ]
    },
    "Code": {
      "title": "Code",
      "description": "Describes the type of the issue. The system that creates an OperationOutcome SHALL choose the most applicable code from the IssueType value set, and may additional provide its own code for the error in the details element.",
      "type": "string",
      "enum": [
        "invalid",
        "structure",
        "required",
        "value",
        "invariant",
        "security",
        "login",
        "unknown",
        "expired",
        "forbidden",
        "suppressed",
        "processing",
        "not-supported",
        "duplicate",
        "multiple-matches",
        "not-found",
        "deleted",
        "too-long",
        "code-invalid",
        "extension",
        "too-costly",
        "business-rule",
        "conflict",
        "transient",
        "lock-error",
        "no-store",
        "exception",
        "timeout",
        "incomplete",
        "throttled",
        "informational"
      ]
    },
    "Comparator": {
      "title": "Comparator",
      "description": "How the value should be understood and represented &ndash; whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is \"<\" , then the real value is < stated value.",
      "type": "string",
      "enum": [
        "<",
        "<=",
        ">=",
        ">"
      ]
    },
    "DayOfWeek": {
      "title": "DayOfWeek",
      "description": "If one or more days of week is provided, then the action happens only on the specified day(s).",
      "type": "string",
      "enum": [
        "mon",
        "tue",
        "wed",
        "thu",
        "fri",
        "sat",
        "sun"
      ]
    },
    "DurationUnit": {
      "title": "DurationUnit",
      "description": "The units of time for the duration, in UCUM units.",
      "type": "string",
      "enum": [
        "s",
        "min",
        "h",
        "d",
        "wk",
        "mo",
        "a"
      ]
    },
    "Gender": {
      "title": "Gender",
      "description": "Administrative Gender &ndash; the gender that the patient is considered to have for administration and record keeping purposes.",
      "type": "string",
      "enum": [
        "male",
        "female",
        "other",
        "unknown"
      ]
    },
    "Gender1": {
      "title": "Gender1",
      "description": "Administrative Gender &ndash; the gender that the contact person is considered to have for administration and record keeping purposes.",
      "type": "string",
      "enum": [
        "male",
        "female",
        "other",
        "unknown"
      ]
    },
    "Method": {
      "title": "Method",
      "description": "In a transaction or batch, this is the HTTP action to be executed for this entry. In a history bundle, this indicates the HTTP action that occurred.",
      "type": "string",
      "enum": [
        "GET",
        "HEAD",
        "POST",
        "PUT",
        "DELETE",
        "PATCH"
      ]
    },
    "Mode": {
      "title": "Mode",
      "description": "Why this entry is in the result set &ndash; whether it's included as a match or because of an _include requirement, or to convey information or warning information about the search process.",
      "type": "string",
      "enum": [
        "match",
        "include",
        "outcome"
      ]
    },
    "PeriodUnit": {
      "title": "PeriodUnit",
      "description": "The units of time for the period in UCUM units.",
      "type": "string",
      "enum": [
        "s",
        "min",
        "h",
        "d",
        "wk",
        "mo",
        "a"
      ]
    },
    "ResourceType": {
      "title": "ResourceType",
      "type": "string",
      "enum": [
        "Account",
        "ActivityDefinition",
        "AdverseEvent",
        "AllergyIntolerance",
        "Appointment",
        "AppointmentResponse",
        "AuditEvent",
        "Basic",
        "Binary",
        "BiologicallyDerivedProduct",
        "BodyStructure",
        "Bundle",
        "CapabilityStatement",
        "CarePlan",
        "CareTeam",
        "CatalogEntry",
        "ChargeItem",
        "ChargeItemDefinition",
        "Claim",
        "ClaimResponse",
        "ClinicalImpression",
[...]
