{
  "openapi": "3.1.0",
  "info": {
    "title": "Hive Publish Developer API",
    "version": "1.0.0",
    "description": "Scoped programmatic access to the same safe organic-social tools exposed through the Hive Publish MCP server. Hive Publish automates DMs on Instagram, Messenger, WhatsApp and Telegram, publishes to twelve networks, answers everything in one inbox and reports on all of it. Free for 14 days with no card, then $6 per connected account per month on Worker Bee, $12 on Swarm, or $85 a month flat on Queen Bee. Priced per connected account, never per contact. Prices: https://hivepublish.com/pricing.json",
    "x-jentic-source-url": "https://hivepublish.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://hivepublish.com"
    }
  ],
  "paths": {
    "/api/v1/tools/search": {
      "post": {
        "operationId": "search",
        "summary": "Search this workspace’s posts, ideas and campaigns by keyword. Returns an id, a title and a link for each match; pass an id to fetch for the full record.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "What to look for."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/fetch": {
      "post": {
        "operationId": "fetch",
        "summary": "Return the full stored record for one id returned by search.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "An id from a search result."
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_product_knowledge": {
      "post": {
        "operationId": "read_product_knowledge",
        "summary": "Read current Hive guidance, the tools available to this connection, their confirmation and Hive approval policies, and how to discover additional workspace operations. Guidance revision is separate from deployment, plugin and directory-review dates. Use this and tools/list before quoting counts or claiming a screen is unsupported.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_pricing": {
      "post": {
        "operationId": "read_pricing",
        "summary": "What Hive Publish costs: every plan with its price, what the free tier includes, the 14-day trial, and how the price is counted. Use this whenever someone asks about cost, plans, the trial or how Hive Publish compares with another tool on price. Never state a Hive Publish price that did not come from here.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_channels": {
      "post": {
        "operationId": "read_channels",
        "summary": "List connected organic channels and their connection health. No tokens or secrets are returned.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:channels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_calendar": {
      "post": {
        "operationId": "read_calendar",
        "summary": "Read scheduled, draft, approval, failed and recently published workflow items.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:calendar",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_posts": {
      "post": {
        "operationId": "read_posts",
        "summary": "Read public canonical post history for evidence, pattern analysis, and repurposing. Date filters apply to the native publication time.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:analytics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dateFrom": {
                    "type": "string",
                    "description": "Inclusive ISO publication-date lower bound."
                  },
                  "dateTo": {
                    "type": "string",
                    "description": "Inclusive ISO publication-date upper bound."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum posts to return, from 1 to 250."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_analytics_summary": {
      "post": {
        "operationId": "read_analytics_summary",
        "summary": "Read the latest organic metrics for each connected account, plus recently captured post metrics. Media URLs are not included in this result.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:analytics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "limit": {
                    "type": "number",
                    "description": "How many recent posts to include, 1 to 100. Defaults to 25."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_reports": {
      "post": {
        "operationId": "read_reports",
        "summary": "List saved report definitions and delivery-safe metadata.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_campaigns_and_tags": {
      "post": {
        "operationId": "read_campaigns_and_tags",
        "summary": "List campaigns and internal post tags.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:campaigns",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_best_times": {
      "post": {
        "operationId": "read_best_times",
        "summary": "Read suggested posting times for each connected Hive account, worked out from that account’s own published posts. Every suggestion says whether it came from real evidence or is a neutral default, and an account with too little history says so rather than inventing a time. For the full heatmap with objective, date-window and timezone selection, discover read_best_time_heatmap with list_workspace_operations.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:analytics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Limit the answer to these connected accounts."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_inbox_summary": {
      "post": {
        "operationId": "read_inbox_summary",
        "summary": "Read aggregate inbox status counts only. Never returns DMs, message bodies, contact PII, or private records.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:inbox",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_listening": {
      "post": {
        "operationId": "read_listening",
        "summary": "Read saved listening queries, provider coverage, and aggregate snapshot metrics.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:listening",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_approval_workflows": {
      "post": {
        "operationId": "read_approval_workflows",
        "summary": "Read saved Hive workflows with ordered reviewer steps and the latest 100 approval runs. External reviewer details require owner opt-in and follow the workspace masking settings; never copy a masked email into a workflow update. Use read_team for teammate choices.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includeReviewerDetails": {
                    "type": "boolean",
                    "description": "Include external reviewer names and email addresses under the workspace private-text sharing and masking settings."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_report_schedules": {
      "post": {
        "operationId": "read_report_schedules",
        "summary": "Read configured report delivery schedules without exposing recipient addresses.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_competitors": {
      "post": {
        "operationId": "read_competitors",
        "summary": "Read Hive competitor tracking with the latest 90 saved snapshots per competitor, recent public posts, freshness, available platforms and management access. Reads stored evidence without refreshing providers.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:analytics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_automations": {
      "post": {
        "operationId": "read_automations",
        "summary": "Read comment and DM automation configuration, state, and aggregate results.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:automations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_advocacy": {
      "post": {
        "operationId": "read_advocacy",
        "summary": "Read employee-advocacy content visible to your role and assigned groups.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_reviews": {
      "post": {
        "operationId": "read_reviews",
        "summary": "Read review operations and assignment state. Provider-live review bodies and reviewer identities remain excluded.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:community",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_portfolio": {
      "post": {
        "operationId": "read_portfolio",
        "summary": "List the connected user's permitted Hive workspaces for Queen multi-brand routing.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:portfolio",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_jobs": {
      "post": {
        "operationId": "read_jobs",
        "summary": "Read recent asynchronous developer jobs and their progress.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:jobs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_inbox_threads": {
      "post": {
        "operationId": "read_inbox_threads",
        "summary": "Read owner-enabled, redacted Inbox threads. This read does not return private notes or original unmasked text. For explicitly authorized originals, discover the reveal_inbox operations with list_workspace_operations; they require private-text sharing, native reveal permission and a successful audit.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:community",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_content_page": {
      "post": {
        "operationId": "read_content_page",
        "summary": "Read an opaque cursor-paginated page of posts, ideas, or campaigns without changing the legacy list tools.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resource": {
                    "type": "string",
                    "enum": [
                      "posts",
                      "ideas",
                      "campaigns"
                    ]
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Opaque nextCursor from the previous page."
                  },
                  "pageSize": {
                    "type": "number",
                    "description": "1 to 100 items."
                  }
                },
                "required": [
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/read_job_page": {
      "post": {
        "operationId": "read_job_page",
        "summary": "Read an opaque cursor-paginated page of asynchronous developer jobs.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:jobs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Opaque nextCursor from the previous page."
                  },
                  "pageSize": {
                    "type": "number",
                    "description": "1 to 100 items."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_idea": {
      "post": {
        "operationId": "create_idea",
        "summary": "Create an idea in the workspace content board.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:ideas",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "brief": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contentFormat": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_draft": {
      "post": {
        "operationId": "create_draft",
        "summary": "Create an editable Hive post draft with everything the composer holds: per-network post types and options, Asset Library media, hashtag groups, campaigns and tags. This never publishes and never messages anyone; a person still opens Hive to schedule or publish it.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:drafts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Shared title. Mainly YouTube."
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private",
                      "unlisted"
                    ],
                    "description": "Shared privacy, overridden by per-network options when supplied."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Shared caption."
                  },
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Hashtags appended per network rules."
                  },
                  "hashtagGroupId": {
                    "type": "string",
                    "description": "A saved hashtag group. Its hashtags are merged with any you pass."
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The connected Hive accounts this post goes to."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assetId": {
                          "type": "string",
                          "description": "An Asset Library id from read_media_library."
                        },
                        "url": {
                          "type": "string",
                          "description": "A Hive-hosted media URL, such as the one upload_media_from_url returns. Links on other hosts are refused: import them with upload_media_from_url first."
                        },
                        "altText": {
                          "type": "string",
                          "description": "Accessibility text. Saved onto the Asset Library item when assetId is given. Instagram post alt text is perPlatform.instagram.igAltText."
                        },
                        "order": {
                          "type": "number",
                          "description": "Where this item sits in the post, lowest first."
                        }
                      }
                    },
                    "description": "The photos and videos on the post, in order."
                  },
                  "cover": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "The composer cover plan. Omit to keep the existing cover; null removes it.",
                    "additionalProperties": true
                  },
                  "perPlatform": {
                    "type": "object",
                    "properties": {},
                    "description": "Per-network options keyed by network (instagram, facebook, tiktok, youtube, linkedin, x, threads, pinterest, snapchat, bluesky, mastodon, whatsapp, telegram). Each value takes what Hive's composer takes, for example postType (post, reel, story), caption, title, privacy, firstComment, igLocationId, igAltText, igCollaborators, coverUrl, threadsReplyControl, youtubeFormat, tiktokPrivacyLevel. Anything omitted falls back to the shared values."
                  },
                  "firstComment": {
                    "type": "string",
                    "description": "A first comment posted under the post where the network supports it."
                  },
                  "campaignIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign ids."
                  },
                  "campaignNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign names. Unknown names are refused with the list of campaigns that exist."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag ids."
                  },
                  "tagNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag names. Unknown names are refused with the list of tags that exist."
                  },
                  "linkTracking": {
                    "type": "string",
                    "enum": [
                      "inherit",
                      "on",
                      "off"
                    ],
                    "description": "Whether Hive rewrites links for click tracking. Defaults to the workspace setting."
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "The teammate asked to approve this post."
                  },
                  "approvalWorkflowId": {
                    "type": "string",
                    "description": "The approval workflow to run instead of the workspace default."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_campaign": {
      "post": {
        "operationId": "create_campaign",
        "summary": "Create an organic workspace campaign.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:campaigns",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_report": {
      "post": {
        "operationId": "create_report",
        "summary": "Create a saved analytics report from an existing Hive template.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "templateKey": {
                    "type": "string",
                    "enum": [
                      "cross-network",
                      "network",
                      "post-performance",
                      "audience-growth",
                      "competitor",
                      "listening",
                      "campaign",
                      "inbox-productivity",
                      "executive-summary"
                    ]
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/schedule_post": {
      "post": {
        "operationId": "schedule_post",
        "summary": "Put a post in Hive’s queue for a future time, with every composer option. Your AI asks you before this runs; with Hive approvals on, Hive asks again inside Hive, because it will be published publicly. Hive checks every target network before it writes anything, so a post a network would reject is refused here instead of failing later.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:schedules",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Shared title. Mainly YouTube."
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private",
                      "unlisted"
                    ],
                    "description": "Shared privacy, overridden by per-network options when supplied."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Shared caption."
                  },
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Hashtags appended per network rules."
                  },
                  "hashtagGroupId": {
                    "type": "string",
                    "description": "A saved hashtag group. Its hashtags are merged with any you pass."
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The connected Hive accounts this post goes to."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assetId": {
                          "type": "string",
                          "description": "An Asset Library id from read_media_library."
                        },
                        "url": {
                          "type": "string",
                          "description": "A Hive-hosted media URL, such as the one upload_media_from_url returns. Links on other hosts are refused: import them with upload_media_from_url first."
                        },
                        "altText": {
                          "type": "string",
                          "description": "Accessibility text. Saved onto the Asset Library item when assetId is given. Instagram post alt text is perPlatform.instagram.igAltText."
                        },
                        "order": {
                          "type": "number",
                          "description": "Where this item sits in the post, lowest first."
                        }
                      }
                    },
                    "description": "The photos and videos on the post, in order."
                  },
                  "cover": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "The composer cover plan. Omit to keep the existing cover; null removes it.",
                    "additionalProperties": true
                  },
                  "perPlatform": {
                    "type": "object",
                    "properties": {},
                    "description": "Per-network options keyed by network (instagram, facebook, tiktok, youtube, linkedin, x, threads, pinterest, snapchat, bluesky, mastodon, whatsapp, telegram). Each value takes what Hive's composer takes, for example postType (post, reel, story), caption, title, privacy, firstComment, igLocationId, igAltText, igCollaborators, coverUrl, threadsReplyControl, youtubeFormat, tiktokPrivacyLevel. Anything omitted falls back to the shared values."
                  },
                  "firstComment": {
                    "type": "string",
                    "description": "A first comment posted under the post where the network supports it."
                  },
                  "campaignIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign ids."
                  },
                  "campaignNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign names. Unknown names are refused with the list of campaigns that exist."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag ids."
                  },
                  "tagNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag names. Unknown names are refused with the list of tags that exist."
                  },
                  "linkTracking": {
                    "type": "string",
                    "enum": [
                      "inherit",
                      "on",
                      "off"
                    ],
                    "description": "Whether Hive rewrites links for click tracking. Defaults to the workspace setting."
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "The teammate asked to approve this post."
                  },
                  "approvalWorkflowId": {
                    "type": "string",
                    "description": "The approval workflow to run instead of the workspace default."
                  },
                  "postId": {
                    "type": "string",
                    "description": "An existing Hive draft to schedule. Leave it out to create and schedule in one step."
                  },
                  "expectedVersion": {
                    "type": "string",
                    "description": "Required with postId: the exact version returned by read_post for the content being approved. Changed content requires a fresh review."
                  },
                  "runAt": {
                    "type": "string",
                    "description": "When to publish, as an ISO date in the future."
                  },
                  "recurrence": {
                    "type": "object",
                    "properties": {},
                    "description": "A repeat pattern. Supplying it creates a repeating series whose first post is the next occurrence."
                  },
                  "approvalToken": {
                    "type": "string",
                    "description": "Single-use token returned by Hive after the owner approves this exact action."
                  }
                },
                "required": [
                  "runAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/update_draft": {
      "post": {
        "operationId": "update_draft",
        "summary": "Change an existing Hive draft: its words, hashtags, media, accounts, per-network options, campaigns or tags. This never publishes and never messages anyone.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Shared title. Mainly YouTube."
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private",
                      "unlisted"
                    ],
                    "description": "Shared privacy, overridden by per-network options when supplied."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Shared caption."
                  },
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Hashtags appended per network rules."
                  },
                  "hashtagGroupId": {
                    "type": "string",
                    "description": "A saved hashtag group. Its hashtags are merged with any you pass."
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The connected Hive accounts this post goes to."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assetId": {
                          "type": "string",
                          "description": "An Asset Library id from read_media_library."
                        },
                        "url": {
                          "type": "string",
                          "description": "A Hive-hosted media URL, such as the one upload_media_from_url returns. Links on other hosts are refused: import them with upload_media_from_url first."
                        },
                        "altText": {
                          "type": "string",
                          "description": "Accessibility text. Saved onto the Asset Library item when assetId is given. Instagram post alt text is perPlatform.instagram.igAltText."
                        },
                        "order": {
                          "type": "number",
                          "description": "Where this item sits in the post, lowest first."
                        }
                      }
                    },
                    "description": "The photos and videos on the post, in order."
                  },
                  "cover": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "The composer cover plan. Omit to keep the existing cover; null removes it.",
                    "additionalProperties": true
                  },
                  "perPlatform": {
                    "type": "object",
                    "properties": {},
                    "description": "Per-network options keyed by network (instagram, facebook, tiktok, youtube, linkedin, x, threads, pinterest, snapchat, bluesky, mastodon, whatsapp, telegram). Each value takes what Hive's composer takes, for example postType (post, reel, story), caption, title, privacy, firstComment, igLocationId, igAltText, igCollaborators, coverUrl, threadsReplyControl, youtubeFormat, tiktokPrivacyLevel. Anything omitted falls back to the shared values."
                  },
                  "firstComment": {
                    "type": "string",
                    "description": "A first comment posted under the post where the network supports it."
                  },
                  "campaignIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign ids."
                  },
                  "campaignNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign names. Unknown names are refused with the list of campaigns that exist."
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag ids."
                  },
                  "tagNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal tag names. Unknown names are refused with the list of tags that exist."
                  },
                  "linkTracking": {
                    "type": "string",
                    "enum": [
                      "inherit",
                      "on",
                      "off"
                    ],
                    "description": "Whether Hive rewrites links for click tracking. Defaults to the workspace setting."
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "The teammate asked to approve this post."
                  },
                  "approvalWorkflowId": {
                    "type": "string",
                    "description": "The approval workflow to run instead of the workspace default."
                  },
                  "postId": {
                    "type": "string",
                    "description": "The Hive draft to change."
                  }
                },
                "required": [
                  "postId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_tag": {
      "post": {
        "operationId": "create_tag",
        "summary": "Create an internal workspace content tag.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/create_saved_reply": {
      "post": {
        "operationId": "create_saved_reply",
        "summary": "Create an internal saved reply. This does not send it to anyone.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:community",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/add_competitor": {
      "post": {
        "operationId": "add_competitor",
        "summary": "Resolve a public competitor using an accessible connected account and atomically save tracking with its first snapshot. External clients require Hive OAuth; workspace API keys cannot impersonate a signed-in user.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "youtube",
                      "instagram",
                      "bluesky"
                    ]
                  },
                  "handle": {
                    "type": "string"
                  },
                  "approvalToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "platform",
                  "handle"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/reschedule_post": {
      "post": {
        "operationId": "reschedule_post",
        "summary": "Move an existing Hive draft or scheduled post through the native calendar using a Hive OAuth connection. Failed posts must use the native Retry failed action so completed destinations, reconnect checks and repeating-series state stay protected.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:publishing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "description": "The Hive post to move."
                  },
                  "runAt": {
                    "type": "string",
                    "description": "The new time, as an ISO date in the future."
                  },
                  "approvalToken": {
                    "type": "string",
                    "description": "Single-use token returned by Hive after the owner approves this exact action."
                  }
                },
                "required": [
                  "postId",
                  "runAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/cancel_scheduled_post": {
      "post": {
        "operationId": "cancel_scheduled_post",
        "summary": "Take a scheduled or approval-pending Hive post out of the queue and return it to drafts. Nothing is deleted. Your AI asks you before this runs; with Hive approvals on, Hive asks again inside Hive.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:publishing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "description": "The Hive post to take out of the queue."
                  },
                  "approvalToken": {
                    "type": "string",
                    "description": "Single-use token returned by Hive after the owner approves this exact action."
                  }
                },
                "required": [
                  "postId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/pause_automation": {
      "post": {
        "operationId": "pause_automation",
        "summary": "Pause an active or scheduled customer-facing automation and skip its pending outbound actions.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:automations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "automationId": {
                    "type": "string"
                  },
                  "approvalToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "automationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/queue_competitor_refresh": {
      "post": {
        "operationId": "queue_competitor_refresh",
        "summary": "Queue a refresh for an exact snapshot of all or selected tracked competitors. Hive rechecks connection, membership and source-account access while it runs; saved job results distinguish failures, cancellation and completion.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "competitorIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional competitor IDs; omit to select all currently tracked competitors. An empty list selects none."
                  },
                  "approvalToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/cancel_job": {
      "post": {
        "operationId": "cancel_job",
        "summary": "Request cancellation of a queued or running asynchronous job created by this API connection.",
        "x-hive-risk": "internal_write",
        "x-hive-scope": "write:content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required for every write.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jobId": {
                    "type": "string"
                  }
                },
                "required": [
                  "jobId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/reply_to_comment": {
      "post": {
        "operationId": "reply_to_comment",
        "summary": "Post a public reply to an existing Hive Community comment. Supply expectedVersion and UUID clientRequestId together for collision protection; careRelease may carry a reviewed care reply. Native account permissions and release checks apply. Provider acceptance with local save issues is reported as delivered; do not resend.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:community",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "threadId": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "expectedVersion": {
                    "type": "integer"
                  },
                  "clientRequestId": {
                    "type": "string"
                  },
                  "careRelease": {
                    "type": "object",
                    "properties": {
                      "releaseId": {
                        "type": "string"
                      },
                      "approvalId": {
                        "type": "string"
                      },
                      "versionHash": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "releaseId",
                      "approvalId",
                      "versionHash"
                    ]
                  },
                  "approvalToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "threadId",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/send_direct_message": {
      "post": {
        "operationId": "send_direct_message",
        "summary": "Send a direct message using the connected Community account permissions and allowed reply window. Meta requires a saved conversation; TikTok protects repeated attempts. Reuse the same request key when retrying; do not resend a delivered message when Hive reports a local save issue.",
        "description": "This reaches real people, so the person is asked before it runs. Their own AI client asks them. When the connection was made with Hive approvals switched on, the first call returns a single-use Hive approval link instead of acting, and the exact request is repeated with approvalToken and an Idempotency-Key once they approve it inside Hive.",
        "x-hive-risk": "confirmation_required",
        "x-hive-scope": "write:community",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the approved retry; optional while requesting the initial approval challenge.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string"
                  },
                  "recipientId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "approvalToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "channelId",
                  "recipientId",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result or approval challenge",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ToolResult"
                    },
                    {
                      "$ref": "#/components/schemas/ApprovalChallengeResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tools/list_automation_recipes": {
      "post": {
        "operationId": "list_automation_recipes",
        "summary": "List Hive simple automations and canvas templates with their connector installation controls. Supply recipeId to read one complete template document for editing and saving as a draft.",
        "x-hive-risk": "read",
        "x-hive-scope": "read:automations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipeId": {
                    "type": "string",
[...]
