{
  "openapi": "3.1.0",
  "info": {
    "title": "New Runtime public JSON and MCP API",
    "version": "2026-09-04",
    "summary": "An atlas of agent-shaped software.",
    "description": "Typed OpenAPI 3.1 contract for New Runtime's free public JSON resources, MCP endpoint, moderated agent inbox, and optional x402 paid compute products. HTML, Markdown, text, and XML publication routes are documented separately in /openapi-route-catalog.json. Public static JSON reads enforce 120 requests per minute and return live RateLimit fields. Paid routes require no account or API key: the first unsigned POST validates and prepares the result, and only a sellable result returns HTTP 402. No public route can publish, approve, administer, deploy, or mutate site content.",
    "contact": {
      "name": "Andrey Reshetnikov",
      "url": "https://newruntime.com/owner-profile.md"
    },
    "x-guidance": "Free: JSON routes, MCP, /agent-actions/contextualize.json for an outside URL, moderated /agent-inbox/* submissions. Paid (x402, USDC on Base, Solana and six more networks; no account): POST a JSON body to /agent-payments/primary-source ($0.10, the official source behind a post or claim; charged only when found), /agent-payments/rumor-check ($0.40, is this rumour independently discussed on X, and is there an official statement?), /agent-payments/research-bundle-v2 ($0.10, a research delta from the dated AI-engineering archive) or /agent-payments/prior-coverage ($0.05, has this URL, claim or topic been covered?). The unsigned request is free and returns a payable 402 quote only for a sellable result; pay one listed rail with an official x402 client and retry the identical body. Rails and prices: /agent-payments/payment-capabilities.",
    "x-jentic-source-url": "https://newruntime.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://newruntime.com"
    }
  ],
  "paths": {
    "/site-index.json": {
      "get": {
        "operationId": "getSiteIndexJson",
        "tags": [
          "Contracts"
        ],
        "summary": "Read the site index",
        "description": "Every section with index, page pattern, count and route templates; entry points; actions. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenapiJson",
        "tags": [
          "Contracts"
        ],
        "summary": "Read the programmatic OpenAPI contract",
        "description": "Static OpenAPI 3.1 contract for the public JSON and MCP API. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/openapi-route-catalog.json": {
      "get": {
        "operationId": "getOpenapiRouteCatalogJson",
        "tags": [
          "Contracts"
        ],
        "summary": "Read this route catalog",
        "description": "OpenAPI-shaped catalog for the complete public HTML, Markdown, JSON, text, and XML surface. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/.well-known/mcp": {
      "get": {
        "operationId": "getWellKnownMcp",
        "tags": [
          "Contracts"
        ],
        "summary": "Read MCP server card",
        "description": "Discovery document for the public Streamable HTTP MCP endpoint (resources, read-only tools, moderated submission tools). This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerCard"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "operationId": "getWellKnownMcpServerCardJson",
        "tags": [
          "Contracts"
        ],
        "summary": "Read MCP server card alias",
        "description": "Stable JSON path for the same public MCP discovery contract. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerCard"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/mcp-readonly.json": {
      "get": {
        "operationId": "getMcpReadonlyJson",
        "tags": [
          "Contracts"
        ],
        "summary": "Read MCP resource manifest",
        "description": "Public resource and tool manifest for agents: stdio and hosted Streamable HTTP transports, read-only tools, and moderated submission tools. No tool edits or publishes records; no admin, approval, or authenticated operations. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpReadOnlyManifest"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/agent-actions/contextualize.json": {
      "get": {
        "operationId": "getAgentActionsContextualizeJson",
        "tags": [
          "Agent Actions"
        ],
        "summary": "Contextualize an outside URL (free)",
        "description": "Records citing the URL, related records and patterns, its source hub, and paid or moderated next actions. No coverage verdict. Same as MCP contextualize_url. Computed per request from published records; read-only.",
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^https://",
              "maxLength": 2000
            },
            "description": "URL being researched."
          },
          {
            "name": "task",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 300
            },
            "description": "Optional research goal."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextualizeUrlResult"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid query input.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/presence.json": {
      "get": {
        "operationId": "getPresenceJson",
        "tags": [
          "Presence"
        ],
        "summary": "Read Presence report",
        "description": "Privacy-safe baseline, attributable return-signal groups, causality policy, and owner gates. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/presence-schema.json": {
      "get": {
        "operationId": "getPresenceSchemaJson",
        "tags": [
          "Presence"
        ],
        "summary": "Read Presence schema",
        "description": "JSON Schema for PresenceEvent, AttentionPacket, SyndicationReceipt, AuthorityAsset, and ReturnSignal. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/datasets/github-projects-for-ai-engineers/v1.json": {
      "get": {
        "operationId": "getDatasetsGithubProjectsForAiEngineersV1Json",
        "tags": [
          "Authority Assets"
        ],
        "summary": "Download GitHub radar JSON",
        "description": "Versioned source-backed GitHub Projects for AI Engineers dataset. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityDataset"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/datasets/github-projects-for-ai-engineers/schema.json": {
      "get": {
        "operationId": "getDatasetsGithubProjectsForAiEngineersSchemaJson",
        "tags": [
          "Authority Assets"
        ],
        "summary": "Read GitHub radar schema",
        "description": "JSON Schema for the versioned GitHub Projects for AI Engineers dataset. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/owner-profile-discovery.json": {
      "get": {
        "operationId": "getOwnerProfileDiscoveryJson",
        "tags": [
          "Owner Profile"
        ],
        "summary": "Read owner profile first-pass discovery bundle",
        "description": "Compact route and edge bundle around the owner career profile. Use before loading full DiscoveryGraph shards. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerProfileDiscovery"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/owner-profile.json": {
      "get": {
        "operationId": "getOwnerProfileJson",
        "tags": [
          "Owner Profile"
        ],
        "summary": "Read owner career profile JSON",
        "description": "Machine-readable career profile for recruiting agents and HR/ATS systems. It has no standalone human-facing HTML page; the Markdown twin is linked from sitewide human navigation. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerCareerProfile"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/machine-consumption.json": {
      "get": {
        "operationId": "getMachineConsumptionJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read machine-consumption aggregate",
        "description": "Privacy-safe aggregate of crawler and machine-route readership. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineConsumptionReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/machine-consumption-schema.json": {
      "get": {
        "operationId": "getMachineConsumptionSchemaJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read machine-consumption schema",
        "description": "Backward-compatible JSON Schema for schema_version 1 and optional v1.1 gateway fields. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/crawler-journeys.json": {
      "get": {
        "operationId": "getCrawlerJourneysJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read crawler journey depth",
        "description": "Privacy-safe 24-hour, 7-day, and 30-day bot-family aggregates for material depth, graph fetches, typed next-read matches, entrypoints, terminal routes, and observed transitions. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlerJourneysReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/crawler-journeys-schema.json": {
      "get": {
        "operationId": "getCrawlerJourneysSchemaJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read crawler journey schema",
        "description": "JSON Schema for the privacy-safe crawler journey aggregate. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/page-readership-schema.json": {
      "get": {
        "operationId": "getPageReadershipSchemaJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read per-page readership schema",
        "description": "JSON Schema for privacy-safe route-level named-automation request aggregates. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/page-readership/{canonical_path}.json": {
      "get": {
        "operationId": "getPageReadershipCanonicalPathJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read machine readership for one canonical page",
        "description": "Successful named-automation requests grouped across the page's HTML, JSON, and Markdown representations, with 24-hour and observed windows. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "canonical_path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Slash-delimited canonical path without leading or trailing slash; use home for the site root."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageReadershipReport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/discovery-graph.json": {
      "get": {
        "operationId": "getDiscoveryGraphJson",
        "tags": [
          "Discovery"
        ],
        "summary": "Read discovery graph index",
        "description": "Compact index for sharded physical-link and editorial-knowledge graph data. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryGraphIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/discovery-graph-schema.json": {
      "get": {
        "operationId": "getDiscoveryGraphSchemaJson",
        "tags": [
          "Discovery"
        ],
        "summary": "Read discovery graph schema",
        "description": "JSON Schema for DiscoveryGraph v1 index and shard objects. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchemaDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/discovery-graph/{shard}.json": {
      "get": {
        "operationId": "getDiscoveryGraphShardJson",
        "tags": [
          "Discovery"
        ],
        "summary": "Read discovery graph shard",
        "description": "Bounded graph shard with stable nodes and typed physical or knowledge edges. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "shard",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Three-digit shard id from /discovery-graph.json."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryGraphShard"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/discovery-experiments.json": {
      "get": {
        "operationId": "getDiscoveryExperimentsJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read discovery experiments",
        "description": "Pre-registered hypotheses, baselines, metrics, windows, and stopping rules. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryExperimentRegistry"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/recall-probes.json": {
      "get": {
        "operationId": "getRecallProbesJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read recall probe registry",
        "description": "Versioned canonical-citation questions and TTFU-proxy scoring rules. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecallProbeRegistry"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/bot-traffic-latest.json": {
      "get": {
        "operationId": "getBotTrafficLatestJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read latest public bot traffic aggregate",
        "description": "Privacy-safe latest traffic aggregate grouped by crawler, AI user agent, human page views, machine routes, and scanner noise. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotTrafficSnapshot"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/bot-traffic-history.json": {
      "get": {
        "operationId": "getBotTrafficHistoryJson",
        "tags": [
          "Telemetry"
        ],
        "summary": "Read public bot traffic history",
        "description": "Privacy-safe daily aggregate history for crawler, AI user agent, human page view, machine route, and scanner-noise classes. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotTrafficHistory"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/source-ledger.json": {
      "get": {
        "operationId": "getSourceLedgerJson",
        "tags": [
          "Evidence"
        ],
        "summary": "Read public source ledger map",
        "description": "Counts, source origins, and the pages that map every publishable public source URL to public records. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSourceLedger"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/source-entities.json": {
      "get": {
        "operationId": "getSourceEntitiesJson",
        "tags": [
          "Evidence"
        ],
        "summary": "Read grouped source origins",
        "description": "Compact source-origin index; open /sources/{origin}.json for detail. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceOriginIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/sources/{origin}.json": {
      "get": {
        "operationId": "getSourcesOriginJson",
        "tags": [
          "Evidence"
        ],
        "summary": "Read source-origin detail",
        "description": "Source-origin detail route with public evidence items and backlinks. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Source origin id from /source-entities.json."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceOriginDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/feed.json": {
      "get": {
        "operationId": "getFeedJson",
        "tags": [
          "Discovery"
        ],
        "summary": "Read JSON Feed",
        "description": "JSON Feed 1.1 twin for recent Field Notes. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/feed+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonFeedDocument"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "operationId": "getWellKnownApiCatalog",
        "tags": [
          "Discovery"
        ],
        "summary": "Read API Catalog",
        "description": "RFC 9727 linkset connecting public OpenAPI, MCP, feeds, and discovery surfaces. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/linkset+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCatalog"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/signals/page/{page}.json": {
      "get": {
        "operationId": "getSignalsPagePageJson",
        "tags": [
          "Signals"
        ],
        "summary": "Read paginated raw signal records",
        "description": "Full raw-signal JSON records by page. Start from /signals.json for page_count. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Signal page number from /signals.json pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/patterns.json": {
      "get": {
        "operationId": "getPatternsJson",
        "tags": [
          "Collections"
        ],
        "summary": "List pattern records",
        "description": "Compact evidence-linked trend hypothesis index. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatternIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/topics.json": {
      "get": {
        "operationId": "getTopicsJson",
        "tags": [
          "Collections"
        ],
        "summary": "List topic hubs",
        "description": "Compact topic discovery records with detail route links. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/signals.json": {
      "get": {
        "operationId": "getSignalsJson",
        "tags": [
          "Collections"
        ],
        "summary": "List raw signals",
        "description": "Compact raw-signal discovery index. Use paginated signal pages for complete records. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/posts.json": {
      "get": {
        "operationId": "getPostsJson",
        "tags": [
          "Collections"
        ],
        "summary": "List field notes",
        "description": "Editorial analysis index with HTML, Markdown, and JSON detail routes. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/shifts.json": {
      "get": {
        "operationId": "getShiftsJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "List tectonic shifts",
        "description": "Structural before-and-after records for post-app change. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/deltas.json": {
      "get": {
        "operationId": "getDeltasJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "List capability deltas",
        "description": "Capability changes with verification level and buildability class. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeltaIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/graveyard.json": {
      "get": {
        "operationId": "getGraveyardJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "List interface graveyard records",
        "description": "Human rituals and interface actions becoming optional. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraveyardIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/projects.json": {
      "get": {
        "operationId": "getProjectsJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "List project blueprints",
        "description": "Forkable public AI automation project records with proof and handoff contracts. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/systems.json": {
      "get": {
        "operationId": "getSystemsJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "List system dossiers",
        "description": "Sanitized public dossiers for watched agent systems. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/learn.json": {
      "get": {
        "operationId": "getLearnJson",
        "tags": [
          "Learning"
        ],
        "summary": "List Learn guides",
        "description": "Structured AI-engineering guides and route links. This is a static read-only route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearnIndex"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/posts/{slug}.json": {
      "get": {
        "operationId": "getPostsSlugJson",
        "tags": [
          "Field Notes"
        ],
        "summary": "Read field note JSON",
        "description": "Structured field-note detail record with retrieval_nugget and source URLs. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldNoteRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/signals/{slug}.json": {
      "get": {
        "operationId": "getSignalsSlugJson",
        "tags": [
          "Signals"
        ],
        "summary": "Read raw signal JSON",
        "description": "Structured raw-signal detail record with provenance and related patterns. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RawSignalRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/patterns/{slug}.json": {
      "get": {
        "operationId": "getPatternsSlugJson",
        "tags": [
          "Patterns"
        ],
        "summary": "Read pattern JSON",
        "description": "Structured pattern detail record with confidence, counter-evidence, and revision trigger. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendPatternRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/topics/{slug}.json": {
      "get": {
        "operationId": "getTopicsSlugJson",
        "tags": [
          "Topics"
        ],
        "summary": "Read topic hub JSON",
        "description": "Structured topic hub with answer, counts, related records, and public sources. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicHubRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/shifts/{slug}.json": {
      "get": {
        "operationId": "getShiftsSlugJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "Read tectonic shift JSON",
        "description": "Structured shift record with stage, confidence, and magic_decay_stage. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TectonicShiftRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/deltas/{slug}.json": {
      "get": {
        "operationId": "getDeltasSlugJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "Read capability delta JSON",
        "description": "Structured capability delta with before/enabling/after fields. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityDeltaRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/graveyard/{slug}.json": {
      "get": {
        "operationId": "getGraveyardSlugJson",
        "tags": [
          "Post-app Observatory"
        ],
        "summary": "Read interface graveyard JSON",
        "description": "Structured disappearing-action record with replacement pattern and proof projects. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisappearingActionRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/projects/{slug}.json": {
      "get": {
        "operationId": "getProjectsSlugJson",
        "tags": [
          "Projects"
        ],
        "summary": "Read project blueprint JSON",
        "description": "Structured project blueprint with buildability, proof, costs, permissions, provider scopes, and related records. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBlueprint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/systems/{slug}.json": {
      "get": {
        "operationId": "getSystemsSlugJson",
        "tags": [
          "Systems"
        ],
        "summary": "Read system dossier JSON",
        "description": "Structured sanitized system dossier. Private commands and credentials are excluded. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemDossierRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/systems/{slug}/releases.json": {
      "get": {
        "operationId": "getSystemsSlugReleasesJson",
        "tags": [
          "Systems"
        ],
        "summary": "Read system release timeline",
        "description": "Interpreted system releases linked to Capability Deltas and tectonic shifts. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemReleaseTimeline"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/learn/{slug}.json": {
      "get": {
        "operationId": "getLearnSlugJson",
        "tags": [
          "Learning"
        ],
        "summary": "Read Learn guide JSON",
        "description": "Structured Learn guide with cards, sections, and retrieval_nugget. This is a static read-only route.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Public record slug from the relevant collection index."
          }
        ],
        "responses": {
          "200": {
            "description": "Public read-only route response.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Link": {
                "$ref": "#/components/headers/DeprecationPolicyLink"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearnGuideRecord"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/RestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RestNotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/RestRateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/RestInternalError"
          }
        }
      }
    },
    "/mcp": {
      "get": {
        "operationId": "getMcpMethodGuidance",
        "tags": [
          "Contracts"
        ],
        "summary": "Read the MCP POST requirement",
        "description": "GET is not a transport operation. It returns an RFC 9457 problem document and Allow: POST.",
        "responses": {
          "405": {
            "description": "The MCP Streamable HTTP endpoint accepts POST only.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "const": "POST"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "operationId": "postMcpReadOnlyRequest",
        "tags": [
          "Contracts"
        ],
        "summary": "Call the hosted read-only MCP endpoint",
        "description": "Streamable HTTP JSON-RPC endpoint. MCP 2026-07-28 is stateless, uses server/discover instead of initialize, and requires per-request protocol metadata plus mirrored HTTP headers. Handshake-era clients use initialize, which answers an unsupported requested version with 2025-11-25. Methods: resources/*, tools/*, prompts/*, ping; logging/setLevel and completion/complete are no-ops. JSON-RPC batches of up to 10 messages are accepted for 2025-03-26. Read-only tools plus moderated submit_* tools. POST /.well-known/mcp is the same endpoint.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "schema": {
[...]
