{
  "openapi": "3.1.0",
  "info": {
    "title": "MobileValidate API",
    "version": "1.0.0",
    "summary": "One explainable verdict per phone number or e-mail address, before you send.",
    "description": "Check phone numbers and e-mail addresses in real time (`POST /v1/lookup`, up to 100 per request) or in bulk\n(`POST /v1/jobs`, up to 50,000 per job): messaging-app and online-account registration, carrier and line type, spam\nreputation, and e-mail account existence. `GET /v1/services` lists every check and its price.\n\n**Try it without signing up.** Every example in this document uses the public sandbox key\n`mv_test_publicSandboxn9ZgneuhR1B9CRfKG3fulym` and the documented test values (for example `+447700900001` and\n`registered@test.mobilevalidate.com`, full list at https://mobilevalidate.com/docs/test-values). The sandbox key\nanswers only those values (anything else gets `403 sandbox_magic_only`), is limited per IP address (30 requests per\nminute, 1,000 per day), accepts jobs of up to 10 rows and no webhooks. Get a personal test key for any number in\ntest mode at https://mobilevalidate.com/get-test-key.\n\n**Conventions.** Send `Authorization: Bearer <key>` and JSON bodies. Money is a decimal string in USD. Phone numbers\nand e-mail addresses never go in URLs or headers. `registered` is `false` only for a conclusive negative; `null`\nmeans unknown. Inconclusive answers (`unknown`, `unsupported_country`, invalid, duplicate) are never charged.\nErrors share one shape (`error.code`, `message`, `param`, optional `suggestion`, `doc_url`, `request_id`); branch\non `code`. POST requests accept an `Idempotency-Key` header for safe retries. Test keys (`mv_test_…`) never reach a\ndata source and are never billed.\n\n**Versioning.** v1 changes are additive only. A deprecated endpoint keeps working for at least 12 months and its\nresponses carry `Deprecation`, `Sunset` and `Link: <https://mobilevalidate.com/changelog>; rel=\"deprecation\"`\nheaders (policy: https://mobilevalidate.com/docs/versioning). Nothing is deprecated today.\n\nPlatform names are used descriptively only; MobileValidate is not affiliated with or endorsed by any platform.\n",
    "contact": {
      "name": "MobileValidate",
      "url": "https://mobilevalidate.com/contact"
    },
    "termsOfService": "https://mobilevalidate.com/legal/terms",
    "x-jentic-source-url": "https://mobilevalidate.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.mobilevalidate.com/v1",
      "description": "Production (live and test keys)"
    }
  ],
  "paths": {
    "/lookup": {
      "post": {
        "tags": [
          "lookup"
        ],
        "operationId": "createLookup",
        "summary": "Check up to 100 numbers and e-mail addresses",
        "description": "Runs every requested check (see GET /v1/services) for every identifier of the check's input type: phone checks for `numbers`, e-mail checks for `emails`. Result rows come back in order: numbers first, then e-mails. The call waits up to `wait` seconds (default 10) for all answers; if some are still running it answers `202` with `status: pending` and a `next.poll_url` (or use a webhook). Checks without real-time support are refused with 403 service_disabled (param `checks[i]`) — send them in a bulk job. E-mail checks answer only whether an account or mailbox exists — never names, photos or profiles.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupRequest"
              },
              "examples": {
                "whatsapp_and_carrier": {
                  "summary": "One number, two checks",
                  "value": {
                    "numbers": [
                      "+447700900001"
                    ],
                    "checks": [
                      "whatsapp",
                      "carrier"
                    ]
                  }
                },
                "email": {
                  "summary": "One e-mail address",
                  "value": {
                    "emails": [
                      "registered@test.mobilevalidate.com"
                    ],
                    "checks": [
                      "email"
                    ]
                  }
                },
                "pending": {
                  "summary": "A check that is still running (answers 202)",
                  "value": {
                    "numbers": [
                      "+447700900004"
                    ],
                    "checks": [
                      "whatsapp"
                    ],
                    "wait": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All checks completed.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimit-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lookup"
                },
                "examples": {
                  "completed": {
                    "$ref": "#/components/examples/LookupCompleted"
                  },
                  "email": {
                    "$ref": "#/components/examples/LookupEmail"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Some checks are still running; poll `next.poll_url` (the Location header) or wait for lookup.completed.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Poll URL (GET /v1/lookups/{id})."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before polling."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lookup"
                },
                "examples": {
                  "pending": {
                    "$ref": "#/components/examples/LookupPending"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/lookups/{id}": {
      "get": {
        "tags": [
          "lookup"
        ],
        "operationId": "getLookup",
        "summary": "Get a lookup",
        "description": "Returns a lookup created by POST /v1/lookup, optionally waiting up to `wait` seconds for pending checks. `input` is masked on later reads; `e164` and `email` are returned. Lookups expire after the account's retention period (404 not_found afterwards).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/Wait"
          }
        ],
        "responses": {
          "200": {
            "description": "The lookup (completed or still pending).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lookup"
                },
                "examples": {
                  "completed": {
                    "$ref": "#/components/examples/LookupRead"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/jobs/estimate": {
      "post": {
        "tags": [
          "jobs"
        ],
        "operationId": "estimateJob",
        "summary": "Estimate a bulk job for free",
        "description": "Validates and counts a list without storing it, calling a data source or charging: valid, invalid and duplicate rows, cached answers, the maximum possible cost (`max_cost`) and its `breakdown` per check and unit price. Checks in parts too small for the bulk price (WhatsApp: fewer than 132 numbers from one country in the job) are priced at the real-time price and listed with `reason: small_batch`. Bulk-only checks bill each country of the job at least `minimum_checks` × the bulk price when it returns an answer; countries with fewer numbers are listed with `reason: country_minimum` and their minimum is included in `max_cost`. Same body as POST /v1/jobs.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              },
              "examples": {
                "list": {
                  "summary": "Two test numbers and one invalid entry",
                  "value": {
                    "numbers": [
                      "+447700900001",
                      "+447700900002",
                      "12"
                    ],
                    "checks": [
                      "whatsapp"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estimate"
                },
                "examples": {
                  "estimate": {
                    "summary": "Test key (never charged; unit prices shown)",
                    "value": {
                      "object": "estimate",
                      "total": 3,
                      "valid": 2,
                      "invalid": 1,
                      "duplicate": 0,
                      "cached": 0,
                      "unsupported": 0,
                      "suppressed": 0,
                      "checks": [
                        "whatsapp.registered"
                      ],
                      "checks_total": 3,
                      "billable_max": 0,
                      "max_cost": {
                        "amount": "0",
                        "currency": "USD"
                      },
                      "breakdown": [
                        {
                          "check": "whatsapp.registered",
                          "price_mode": "batch",
                          "reason": null,
                          "checks": 0,
                          "unit_price": {
                            "amount": "0.00015",
                            "currency": "USD"
                          },
                          "max_cost": {
                            "amount": "0",
                            "currency": "USD"
                          }
                        },
                        {
                          "check": "whatsapp.registered",
                          "price_mode": "realtime",
                          "reason": "small_batch",
                          "checks": 2,
                          "unit_price": {
                            "amount": "0.003",
                            "currency": "USD"
                          },
                          "max_cost": {
                            "amount": "0",
                            "currency": "USD"
                          },
                          "countries": [
                            "GB"
                          ],
                          "batch_minimum": 132
                        }
                      ]
                    }
                  },
                  "mixed_countries": {
                    "summary": "Live key, 1,000 GB numbers + 20 DE numbers (the DE part is below the bulk minimum)",
                    "value": {
                      "object": "estimate",
                      "total": 1020,
                      "valid": 1020,
                      "invalid": 0,
                      "duplicate": 0,
                      "cached": 0,
                      "unsupported": 0,
                      "suppressed": 0,
                      "checks": [
                        "whatsapp.registered"
                      ],
                      "checks_total": 1020,
                      "billable_max": 1020,
                      "max_cost": {
                        "amount": "0.21",
                        "currency": "USD"
                      },
                      "breakdown": [
                        {
                          "check": "whatsapp.registered",
                          "price_mode": "batch",
                          "reason": null,
                          "checks": 1000,
                          "unit_price": {
                            "amount": "0.00015",
                            "currency": "USD"
                          },
                          "max_cost": {
                            "amount": "0.15",
                            "currency": "USD"
                          }
                        },
                        {
                          "check": "whatsapp.registered",
                          "price_mode": "realtime",
                          "reason": "small_batch",
                          "checks": 20,
                          "unit_price": {
                            "amount": "0.003",
                            "currency": "USD"
                          },
                          "max_cost": {
                            "amount": "0.06",
                            "currency": "USD"
                          },
                          "countries": [
                            "DE"
                          ],
                          "batch_minimum": 132
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "jobs"
        ],
        "operationId": "createJob",
        "summary": "Create a bulk job",
        "description": "Checks up to 50,000 numbers and e-mail addresses (JSON body, or a CSV upload as multipart/form-data). The maximum possible cost is reserved up front (bulk prices; real-time prices for parts too small for the bulk price, see POST /v1/jobs/estimate); cached, inconclusive, invalid and duplicate rows are released when the job finishes. Poll GET /v1/jobs/{id} (or subscribe to job.completed), then page through GET /v1/jobs/{id}/results or download the whole file. Test-key jobs complete immediately.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              },
              "examples": {
                "numbers": {
                  "summary": "Numbers and an e-mail address in one job",
                  "value": {
                    "numbers": [
                      "+447700900001",
                      "+447700900002"
                    ],
                    "emails": [
                      "registered@test.mobilevalidate.com"
                    ],
                    "checks": [
                      "whatsapp",
                      "email"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV. With a header row, a `phone`/`number` column feeds numbers and an `email` column feeds emails (a row with both contributes to both). Without a recognised header the first column is used and cells containing \"@\" are treated as e-mail addresses. ≤ 50,000 identifiers in total.\n"
                  },
                  "checks": {
                    "type": "string",
                    "description": "Comma-separated codes or aliases."
                  },
                  "default_country": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$"
                  },
                  "max_age": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_cost": {
                    "type": "string",
                    "description": "Decimal USD amount."
                  },
                  "webhook_endpoint_id": {
                    "type": "string",
                    "pattern": "^we_"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created. `estimate` shows how the list was counted.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "GET /v1/jobs/{id}"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "examples": {
                  "created": {
                    "$ref": "#/components/examples/JobCreated"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "jobs"
        ],
        "operationId": "getJob",
        "summary": "Get a job",
        "description": "Status, progress and cost of a job. `wait` (0–30 s) holds the request until the job reaches a final status (completed, failed or cancelled) or the time runs out. Keys with `jobs:read` see their own jobs; `jobs:read_all` sees every job of the account.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/Wait"
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "examples": {
                  "completed": {
                    "$ref": "#/components/examples/JobCompleted"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "jobs"
        ],
        "operationId": "cancelOrPurgeJob",
        "summary": "Cancel a running job or delete a finished job's results",
        "description": "Running job → cancelled: rows not yet sent to a data source are released and never charged; rows already sent finish and are billed as usual. Finished job → its per-row results are deleted now instead of at the end of the retention period (`purged_at` is set).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "The job after cancelling or deleting results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                },
                "examples": {
                  "purged": {
                    "value": {
                      "object": "job",
                      "id": "job_0VWGguwwda9Wz2TzuoEn",
                      "status": "completed",
                      "livemode": false,
                      "checks": [
                        "whatsapp.registered"
                      ],
                      "created_at": "2026-09-25T14:30:00.000Z",
                      "completed_at": "2026-09-25T14:30:00.014Z",
                      "progress": {
                        "total": 2,
                        "checks_total": 2,
                        "done": 2,
                        "conclusive": 2,
                        "non_billable": 2
                      },
                      "eta_seconds": null,
                      "cost": {
                        "estimated_max": {
                          "amount": "0",
                          "currency": "USD"
                        },
                        "reserved": {
                          "amount": "0",
                          "currency": "USD"
                        },
                        "charged": {
                          "amount": "0",
                          "currency": "USD"
                        },
                        "released": {
                          "amount": "0",
                          "currency": "USD"
                        },
                        "breakdown": [
                          {
                            "check": "whatsapp.registered",
                            "price_mode": "batch",
                            "reason": null,
                            "checks": 0,
                            "unit_price": {
                              "amount": "0.00015",
                              "currency": "USD"
                            },
                            "max_cost": {
                              "amount": "0",
                              "currency": "USD"
                            }
                          },
                          {
                            "check": "whatsapp.registered",
                            "price_mode": "realtime",
                            "reason": "small_batch",
                            "checks": 2,
                            "unit_price": {
                              "amount": "0.003",
                              "currency": "USD"
                            },
                            "max_cost": {
                              "amount": "0",
                              "currency": "USD"
                            },
                            "countries": [
                              "GB"
                            ],
                            "batch_minimum": 132
                          }
                        ]
                      },
                      "retention_days": 30,
                      "purged_at": "2026-09-25T14:35:12.000Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/jobs/{id}/results": {
      "get": {
        "tags": [
          "jobs"
        ],
        "operationId": "listJobResults",
        "summary": "List a job's results",
        "description": "One item per row (number or e-mail address) in input order, with every check of the row. Filter by `registered` / `status` of one `service`; page with `limit` and `after` = the previous page's `next_cursor`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "registered",
            "in": "query",
            "description": "Only rows whose answer for `service` is true / false / null.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only rows whose `service` check has this status.",
            "schema": {
              "$ref": "#/components/schemas/CheckStatus"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Service (code or alias) the registered/status filters apply to; default = the job's first check. With a filter, only rows of that service's input type are returned.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows (numbers and e-mails) per page. A row's checks are never split across pages.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor from the previous page (`next_cursor`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of result items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ResultItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "examples": {
                  "page": {
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "kind": "phone",
                          "input": "+44770*****01",
                          "e164": "+447700900001",
                          "country": "GB",
                          "number_status": "valid",
                          "checks": {
                            "whatsapp.registered": {
                              "service": "whatsapp.registered",
                              "status": "completed",
                              "registered": true,
                              "attributes": null,
                              "confidence": "high",
                              "confidence_score": 0.99,
                              "checked_at": "2026-09-25T14:30:00.013Z",
                              "cached": false,
                              "age_seconds": 0,
                              "billed": false,
                              "reason": null,
                              "poll_after_ms": null
                            }
                          },
                          "test": true
                        }
                      ],
                      "has_more": true,
                      "next_cursor": "cjox"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/jobs/{id}/download": {
      "get": {
        "tags": [
          "jobs"
        ],
        "operationId": "downloadJobResults",
        "summary": "Download a job's results as CSV or NDJSON",
        "description": "Streams the whole result file, one line per row (numbers, then e-mails) in input order. CSV columns: row_no, input_masked, e164, country, number_status, service, status, registered, business, checked_at, cached, billed (for the row's primary check = first requested check of its kind), then kind, email, email_status, then per service `<service>.status`, `<service>.registered`, `<service>.<attribute>`, `<service>.billed` (empty for rows of the other kind). NDJSON lines have the same shape as result items.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "File format.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "ndjson"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result file (Content-Disposition attachment).",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                },
                "example": "row_no,input_masked,e164,country,number_status,service,status,registered,business,checked_at,cached,billed,kind,email,email_status,whatsapp.registered.status,whatsapp.registered.registered,whatsapp.registered.billed\n1,\"'+44770*****01\",+447700900001,GB,valid,whatsapp.registered,completed,true,,2026-09-25T14:30:00.013Z,false,false,phone,,,completed,true,false\n2,\"'+44770*****02\",+447700900002,GB,valid,whatsapp.registered,completed,false,,2026-09-25T14:30:00.013Z,false,false,phone,,,completed,false,false\n"
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getAccount",
        "summary": "Get the account balance",
        "description": "Balance, reserved amount and today's usage (UTC) of the key's account. Needs `account:read`.",
        "responses": {
          "200": {
            "description": "The account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "org_id",
                    "balance",
                    "reserved"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "account"
                    },
                    "org_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "balance": {
                      "$ref": "#/components/schemas/Money"
                    },
                    "reserved": {
                      "$ref": "#/components/schemas/Money"
                    },
                    "today": {
                      "type": "object",
                      "properties": {
                        "numbers": {
                          "type": "integer",
                          "description": "Live identifiers checked today."
                        },
                        "billed_units": {
                          "type": "integer"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "resets_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "account": {
                    "value": {
                      "object": "account",
                      "org_id": "org_sandbox",
                      "name": "Public sandbox",
                      "livemode": false,
                      "balance": {
                        "amount": "0",
                        "currency": "USD"
                      },
                      "reserved": {
                        "amount": "0",
                        "currency": "USD"
                      },
                      "today": {
                        "numbers": 0,
                        "billed_units": 0,
                        "cost": {
                          "amount": "0",
                          "currency": "USD"
                        },
                        "resets_at": "2026-09-26T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/limits": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getLimits",
        "summary": "Get limits and remaining allowances",
        "description": "Request rate, request sizes, the daily identifiers cap and the key's daily spend cap. Daily counters reset at 00:00 UTC.",
        "responses": {
          "200": {
            "description": "Current limits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "limits"
                    },
                    "rate_limit": {
                      "type": "object",
                      "properties": {
                        "requests_per_second": {
                          "type": "integer"
                        },
                        "burst": {
                          "type": "integer"
                        }
                      }
                    },
                    "lookup": {
                      "type": "object",
                      "properties": {
                        "max_numbers": {
                          "type": "integer"
                        },
                        "max_wait_seconds": {
                          "type": "integer"
                        },
                        "realtime_enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "jobs": {
                      "type": "object",
                      "properties": {
                        "max_numbers": {
                          "type": "integer"
                        }
                      }
                    },
                    "daily_numbers": {
                      "type": "object",
                      "properties": {
                        "cap": {
                          "type": "integer"
                        },
                        "used": {
                          "type": "integer"
                        },
                        "remaining": {
                          "type": "integer"
                        }
                      }
                    },
                    "key_daily_spend": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "cap": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "used": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "remaining": {
                          "$ref": "#/components/schemas/Money"
                        }
                      }
                    },
                    "resets_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "limits": {
                    "value": {
                      "object": "limits",
                      "rate_limit": {
                        "requests_per_second": 10,
                        "burst": 20
                      },
                      "lookup": {
                        "max_numbers": 100,
                        "max_wait_seconds": 30,
                        "realtime_enabled": true
                      },
                      "jobs": {
                        "max_numbers": 50000
                      },
                      "daily_numbers": {
                        "cap": 10000,
                        "used": 0,
                        "remaining": 10000
                      },
                      "key_daily_spend": null,
                      "resets_at": "2026-09-26T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getUsage",
        "summary": "Get usage by day or by check",
        "description": "Checks, conclusive answers, cached answers, billed units and cost for an inclusive UTC date range (at most 366 days), for the key's mode (live or test). Rows past the retention period are no longer counted.\n",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "First day (UTC).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Last day (UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-30"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "One row per day or per check.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "service"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "total_cost"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "usage"
                    },
                    "from": {
                      "type": "string",
                      "format": "date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date"
                    },
                    "group_by": {
                      "type": "string",
                      "enum": [
                        "day",
                        "service"
                      ]
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "service": {
                            "type": "string"
                          },
                          "checks": {
                            "type": "integer"
                          },
                          "conclusive": {
                            "type": "integer"
                          },
                          "cached": {
                            "type": "integer"
                          },
                          "billed_units": {
                            "type": "integer"
                          },
                          "cost": {
                            "$ref": "#/components/schemas/Money"
                          }
                        }
                      }
                    },
                    "total_cost": {
                      "$ref": "#/components/schemas/Money"
                    }
                  }
                },
                "examples": {
                  "by_service": {
                    "value": {
                      "object": "usage",
                      "from": "2026-09-01",
                      "to": "2026-09-30",
                      "group_by": "service",
                      "livemode": false,
                      "data": [
                        {
                          "service": "whatsapp.registered",
                          "checks": 4,
                          "conclusive": 3,
                          "cached": 0,
                          "billed_units": 0,
                          "cost": {
                            "amount": "0",
                            "currency": "USD"
                          }
                        }
                      ],
                      "total_cost": {
                        "amount": "0",
                        "currency": "USD"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/webhook_endpoints": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "description": "Every endpoint of the account that is not deleted and has the same mode as the key (test keys list test endpoints, live keys live endpoints). Needs `webhooks:manage`.",
        "responses": {
          "200": {
            "description": "Endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "list": {
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "webhook_endpoint",
                          "id": "we_0VWGguzNt6zD31ghz2pa",
                          "url": "https://example.com/hooks/mobilevalidate",
                          "events": [
                            "lookup.completed",
                            "job.completed"
                          ],
                          "status": "active",
                          "livemode": false,
                          "created_at": "2026-09-25T14:30:00.000Z"
                        }
                      ],
                      "has_more": false
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "description": "Registers a public HTTPS URL (at most 20 per account). The response contains the signing `secret` — shown only once. The endpoint stays `pending_verification` until it answers our signed `webhook.verification` event with a 2xx status. Not available with the public sandbox key.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEvent"
                    },
                    "minItems": 1
                  }
                }
              },
              "examples": {
                "endpoint": {
                  "value": {
                    "url": "https://example.com/hooks/mobilevalidate",
                    "events": [
                      "lookup.completed",
                      "job.completed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint created; `secret` is shown only this once.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    },
                    {
                      "type": "object",
                      "required": [
                        "secret"
                      ],
                      "properties": {
                        "secret": {
                          "type": "string",
                          "pattern": "^whsec_",
                          "description": "Signing secret: the base64 part after whsec_ is the HMAC key."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "created": {
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "we_0VWGguzNt6zD31ghz2pa",
                      "url": "https://example.com/hooks/mobilevalidate",
                      "events": [
                        "lookup.completed",
                        "job.completed"
                      ],
                      "status": "pending_verification",
                      "livemode": false,
                      "created_at": "2026-09-25T14:30:00.000Z",
                      "secret": "whsec_…"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/webhook_endpoints/{id}": {
      "patch": {
        "tags": [
          "webhooks"
        ],
        "operationId": "updateWebhookEndpoint",
        "summary": "Update a webhook endpoint",
        "description": "Changes the URL and/or the subscribed events. A new URL must be verified again (`pending_verification`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEvent"
                    },
                    "minItems": 1
                  }
                }
              },
              "examples": {
                "events": {
                  "value": {
                    "events": [
                      "job.completed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                },
                "examples": {
                  "updated": {
                    "value": {
                      "object": "webhook_endpoint",
                      "id": "we_0VWGguzNt6zD31ghz2pa",
                      "url": "https://example.com/hooks/mobilevalidate",
                      "events": [
                        "job.completed"
                      ],
                      "status": "active",
                      "livemode": false,
                      "created_at": "2026-09-25T14:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete a webhook endpoint",
        "description": "Nothing is delivered to a deleted endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/webhook_endpoints/{id}/test": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "testWebhookEndpoint",
        "summary": "Send a test event",
        "description": "Queues a signed `webhook.test` event to the endpoint (delivered even before verification). Use it to check your signature code.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "202": {
            "description": "Test event queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "id",
                    "endpoint_id",
                    "status"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "webhook_test"
                    },
                    "id": {
                      "type": "string",
                      "description": "Event id (the webhook-id header)."
                    },
                    "endpoint_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "const": "queued"
                    }
                  }
                },
                "examples": {
                  "queued": {
                    "value": {
                      "object": "webhook_test",
                      "id": "evt_a5188025bd4f1316da68efd2",
                      "endpoint_id": "we_0VWGguzNt6zD31ghz2pa",
                      "status": "queued"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/services": {
      "get": {
        "tags": [
          "catalog"
        ],
        "operationId": "listServices",
        "summary": "List checks and prices",
        "description": "Without a key: the public catalog. With a key: every check the key's account may use, at the account's prices. Lists active phone and e-mail checks; switched-off checks are not listed.\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Service catalog with prices by mode.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "catalog": {
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "service",
                          "code": "whatsapp.registered",
                          "name": "WhatsApp registration",
                          "platform": "WhatsApp",
                          "family": "messaging",
                          "namespace": "whatsapp",
                          "description": "Whether the phone number has a WhatsApp account.",
                          "input_type": "phone",
                          "result_kind": "boolean",
                          "fields": [
                            "registered"
                          ],
                          "attributes": [],
                          "realtime": true,
                          "batch": true,
                          "modes": [
                            "realtime",
                            "batch"
                          ],
                          "status": "active",
                          "beta": false,
                          "countries": [],
                          "prices": {
                            "realtime": {
                              "amount": "0.003",
                              "currency": "USD"
                            },
                            "batch": {
                              "amount": "0.00015",
                              "currency": "USD"
                            }
                          },
                          "unit": "per number and check; non-conclusive results are free"
                        }
                      ],
                      "has_more": false
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/test-keys": {
      "post": {
        "tags": [
          "keys"
        ],
        "operationId": "createTestKey",
        "summary": "Get a personal test key",
        "description": "Issues a personal test key (`mv_test_…`) for a work e-mail address, protected by a Cloudflare Turnstile token from the form at https://mobilevalidate.com/get-test-key. The key works in test mode with any number (never billed, never reaches a data source), including bulk jobs and test-mode webhooks. It is shown **once** and never returned again. Each address can receive at most 3 test keys in 30 days; after that the answer is 409 test_key_exists. At most 3 requests per network per day, whatever their result (IPv6 networks count per /64). The request also asks for live access, which we review by hand. No authentication.\n",
        "security": [
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "company",
                  "country",
                  "accept_terms",
                  "turnstile_token"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "description": "Work e-mail address (must receive mail)."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "company": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 160,
                    "description": "Company name."
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country of the company."
                  },
                  "accept_terms": {
                    "type": "boolean",
                    "const": true,
                    "description": "The company accepts the Terms of Service, the Acceptable Use Policy and the Data Processing Agreement (https://mobilevalidate.com/legal/terms, /legal/acceptable-use, /legal/dpa) and is responsible for the lawful use of the service and its results. Recorded with the document versions."
                  },
                  "use_case": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "turnstile_token": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "Token from the Turnstile widget on mobilevalidate.com."
                  },
                  "session_id": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional. Set by the form on mobilevalidate.com to link the key to the page visit that led to it (first-party, per browser tab, no cookie; not sent when the browser signals Do-Not-Track or Global Privacy Control). Unknown or malformed values are ignored."
                  }
                }
              },
              "examples": {
                "request": {
                  "value": {
                    "email": "dev@example.com",
                    "name": "Ada",
                    "company": "Example Ltd",
                    "country": "GB",
                    "accept_terms": true,
                    "use_case": "Screen sign-up phone numbers",
                    "turnstile_token": "0.x…"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The key (shown only once).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "key",
                    "key_prefix",
                    "docs_url",
                    "request_id"
                  ],
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^mv_test_"
                    },
                    "key_prefix": {
                      "type": "string",
                      "description": "First characters of the key, for display."
                    },
                    "docs_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "issued": {
                    "value": {
                      "key": "mv_test_…",
                      "key_prefix": "mv_test_Ab3x",
                      "docs_url": "https://mobilevalidate.com/docs/quickstart",
                      "request_id": "req_0VWGgv00hQwazWkblZfw"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "No more test keys can be issued for this e-mail address right now (at most 3 in 30 days). Keys already issued are never shown again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "exists": {
                    "value": {
                      "error": {
                        "code": "test_key_exists",
                        "message": "No more test keys can be issued for this e-mail address right now. Keys are shown only once.",
                        "status": 409,
                        "retryable": false,
                        "param": "email",
                        "suggestion": "Use a key you received earlier, or request access at https://mobilevalidate.com/request-access.",
                        "doc_url": "https://mobilevalidate.com/docs/errors#test_key_exists",
                        "request_id": "req_0VWGgv00hQwazWkblZfw"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getHealth",
        "summary": "Check that the API is up",
        "description": "No authentication. 200 when the API can reach its database, 503 otherwise.",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "status",
                    "time"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "health"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "unavailable"
                      ]
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "value": {
                      "object": "health",
                      "status": "ok",
                      "time": "2026-09-25T14:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "The API cannot reach its database; retry after Retry-After."
          }
        }
      }
    }
  },
  "webhooks": {
    "lookup.completed": {
      "post": {
        "summary": "A pending lookup finished",
        "description": "Sent to the endpoint named in the lookup's `webhook_endpoint_id` when a lookup that answered `pending` has finished. `data.summary.total` counts rows; `registered`, `not_registered` and `unknown` count checks. Test keys send the same shape with `livemode: false`. Fetch the rows with GET /v1/lookups/{id}. Every delivery carries the headers `webhook-id` (event id, same across retries), `webhook-timestamp` (Unix seconds) and `webhook-signature` (`v1,<base64 HMAC-SHA256 of \"{id}.{timestamp}.{raw body}\">`, key = base64-decoded part of the secret after `whsec_`). Answer 2xx within 10 seconds; failed deliveries are retried for 24 hours.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupWebhookEvent"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "lookup.completed",
                    "id": "evt_3f9c2a7b1d8e4c6a9b0f1e2d",
                    "created_at": "2026-09-25T14:30:05Z",
                    "data": {
                      "object": "lookup",
                      "id": "lkp_0VWGguwClAGtGVIqjdie",
                      "status": "completed",
                      "livemode": true,
                      "summary": {
                        "total": 1,
                        "registered": 1,
                        "not_registered": 0,
                        "unknown": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "job.completed": {
      "post": {
        "summary": "A bulk job finished",
        "description": "Sent when a job reaches `completed`. `progress.total` counts rows (numbers and e-mails); `checks_total`, `done`, `conclusive` and `non_billable` count checks (row × check), so `done` equals `checks_total` when the job is finished. Fetch the rows from `results_url` with your key. Payloads never contain phone numbers or e-mail addresses. Same headers and retries as lookup.completed.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobWebhookEvent"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "job.completed",
                    "id": "evt_7a1b2c3d4e5f60718293a4b5",
                    "created_at": "2026-09-25T14:30:02Z",
                    "data": {
                      "object": "job",
                      "id": "job_0VWGguwwda9Wz2TzuoEn",
                      "status": "completed",
                      "progress": {
                        "total": 3,
                        "checks_total": 6,
                        "done": 6,
                        "conclusive": 4,
                        "non_billable": 2
                      },
                      "results_url": "https://api.mobilevalidate.com/v1/jobs/job_0VWGguwwda9Wz2TzuoEn/results"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "job.failed": {
      "post": {
        "summary": "A bulk job failed (subscribable; delivery rolling out)",
        "description": "Sent when a job ends in `failed`. Reserved amounts for unchecked rows are released. Same headers and retries as lookup.completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventPayload"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "job.failed",
                    "id": "evt_0b1c2d3e4f5a6b7c8d9e0f1a",
                    "created_at": "2026-09-25T14:31:00Z",
                    "data": {
                      "object": "job",
                      "id": "job_0VWGguwwda9Wz2TzuoEn",
                      "status": "failed"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "job.progress": {
      "post": {
        "summary": "Progress of a running job (opt-in; delivery rolling out)",
        "description": "At most once a minute while a job runs. Counters as in job.completed. Same headers and retries as lookup.completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobWebhookEvent"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "job.progress",
                    "id": "evt_1c2d3e4f5a6b7c8d9e0f1a2b",
                    "created_at": "2026-09-25T14:30:30Z",
                    "data": {
                      "object": "job",
                      "id": "job_0VWGguwwda9Wz2TzuoEn",
                      "status": "running",
                      "progress": {
                        "total": 3,
                        "checks_total": 6,
                        "done": 2,
                        "conclusive": 2,
                        "non_billable": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "balance.low": {
      "post": {
        "summary": "The balance fell below the low-balance threshold (delivery rolling out)",
        "description": "Illustrative payload; the `data` fields may still change until delivery starts. Same headers and retries as lookup.completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventPayload"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "balance.low",
                    "id": "evt_2d3e4f5a6b7c8d9e0f1a2b3c",
                    "created_at": "2026-09-25T14:40:00Z",
                    "data": {
                      "object": "account",
                      "balance": {
                        "amount": "4.20",
                        "currency": "USD"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "limits.cap_reached": {
      "post": {
        "summary": "A daily identifiers cap or spend cap was reached (delivery rolling out)",
        "description": "Illustrative payload; the `data` fields may still change until delivery starts. Same headers and retries as lookup.completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventPayload"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "limits.cap_reached",
                    "id": "evt_3e4f5a6b7c8d9e0f1a2b3c4d",
                    "created_at": "2026-09-25T18:00:00Z",
                    "data": {
                      "object": "limits",
                      "cap": "daily_numbers",
                      "resets_at": "2026-09-26T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    },
    "webhook.verification": {
      "post": {
        "summary": "Ownership challenge for a new or changed endpoint",
        "description": "Answer with any 2xx to activate the endpoint. Always sent, whatever the subscribed events.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventPayload"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "webhook.verification",
                    "id": "evt_4f5a6b7c8d9e0f1a2b3c4d5e",
                    "created_at": "2026-09-25T14:30:01Z",
                    "data": {
                      "object": "webhook_endpoint",
                      "id": "we_0VWGguzNt6zD31ghz2pa"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx verifies the endpoint."
          }
        }
      }
    },
    "webhook.test": {
      "post": {
        "summary": "Test event from POST /v1/webhook_endpoints/{id}/test",
        "description": "Delivered even before the endpoint is verified. Same headers as lookup.completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventPayload"
              },
              "examples": {
                "event": {
                  "value": {
                    "type": "webhook.test",
                    "id": "evt_a5188025bd4f1316da68efd2",
                    "created_at": "2026-09-25T14:32:00Z",
                    "data": {
                      "object": "webhook_endpoint",
                      "id": "we_0VWGguzNt6zD31ghz2pa"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges the event."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer <key>`. Keys start with `mv_live_` (billed), `mv_test_` (test mode: documented sample\nanswers, never billed) or `mv_agent_` (AI agents, with a daily spend cap). Keep the key in the\n`MOBILEVALIDATE_API_KEY` environment variable.\n\nPublic sandbox key (safe to publish; test values only, limited per IP address):\n`mv_test_publicSandboxn9ZgneuhR1B9CRfKG3fulym`\n",
        "x-example": "mv_test_publicSandboxn9ZgneuhR1B9CRfKG3fulym"
      }
    },
    "headers": {
      "X-Request-Id": {
        "description": "Id of this request; quote it to support. Also in `error.request_id`.",
        "schema": {
          "type": "string",
          "pattern": "^req_"
        }
      },
      "RateLimit": {
        "description": "Remaining requests and seconds until the window resets, e.g. `\"default\";r=19;t=1`.",
        "schema": {
          "type": "string"
        }
      },
      "Deprecation": {
        "description": "Only on deprecated endpoints (RFC 9745): when the deprecation took effect, as @<Unix seconds>, e.g. `@1790812800`.",
        "schema": {
          "type": "string"
        }
      },
      "Sunset": {
        "description": "Only on deprecated endpoints (RFC 8594): the HTTP date after which the endpoint may stop working.",
        "schema": {
          "type": "string"
        }
      },
      "RateLimit-Policy": {
        "description": "The limit applied, e.g. `\"default\";q=20;w=2` (sandbox key `\"sandbox-minute\";q=30;w=60, \"sandbox-day\";q=1000;w=86400`).",
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Object id (`lkp_…`, `job_…` or `we_…`).",
        "schema": {
          "type": "string",
          "pattern": "^(lkp|job|we)_[0-9A-Za-z]+$"
        }
      },
      "Wait": {
        "name": "wait",
        "in": "query",
        "description": "Seconds (0–30) to wait for pending checks before answering.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 30,
          "default": 0
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Any unique string (1–255 printable ASCII) for safe retries: a retry with the same key and body within 24 hours returns the stored response (header Idempotent-Replayed: true) instead of running the request again.\n",
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "example": "2f1c9d2e-7a55-4b1e-9c1a-0d8b6c3e5f10"
      }
    },
    "responses": {
      "Error": {
        "description": "Error. Branch on `error.code`; `suggestion` (optional) says how to fix the request.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "sandbox_magic_only": {
                "summary": "The public sandbox key only accepts test values",
                "value": {
                  "error": {
                    "code": "sandbox_magic_only",
                    "message": "The public sandbox key only accepts the documented test numbers and e-mail addresses.",
                    "status": 403,
                    "retryable": false,
                    "param": "numbers[0]",
                    "suggestion": "Use a test value such as +447700900001 or registered@test.mobilevalidate.com (https://mobilevalidate.com/docs/test-values), or get your own test key at https://mobilevalidate.com/get-test-key.",
                    "doc_url": "https://mobilevalidate.com/docs/errors#sandbox_magic_only",
                    "request_id": "req_0VWGgv00hQwazWkblZfw"
                  }
                }
              },
              "unauthorized": {
                "summary": "Missing key",
                "value": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Missing or invalid API key.",
                    "status": 401,
                    "retryable": false,
                    "param": null,
                    "suggestion": "Send your API key as Authorization: Bearer mv_test_… (test) or mv_live_… (live). No key yet? The public sandbox key is on https://mobilevalidate.com/docs/test-values.",
                    "doc_url": "https://mobilevalidate.com/docs/errors#unauthorized",
                    "request_id": "req_0VWGgv00hQwazWkblZfw"
                  }
                }
              },
              "not_found": {
                "summary": "Unknown endpoint (answered before authentication)",
                "value": {
                  "error": {
                    "code": "not_found",
                    "message": "Unknown endpoint.",
                    "status": 404,
                    "retryable": false,
                    "param": null,
                    "suggestion": "Did you mean POST /v1/lookup?",
                    "doc_url": "https://mobilevalidate.com/docs/errors#not_found",
                    "request_id": "req_0VWGgv00hQwazWkblZfw"
                  }
                }
              },
              "invalid_request": {
                "summary": "Unknown check code",
                "value": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Unknown check. See GET /v1/services for valid codes.",
                    "status": 400,
                    "retryable": false,
                    "param": "checks[0]",
                    "suggestion": "Did you mean 'whatsapp'? GET /v1/services lists every check code.",
                    "doc_url": "https://mobilevalidate.com/docs/errors#invalid_request",
                    "request_id": "req_0VWGgv00hQwazWkblZfw"
                  }
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "LookupCompleted": {
        "summary": "+447700900001 — WhatsApp registered, carrier data",
        "value": {
          "object": "lookup",
          "id": "lkp_0VWGguuWp0dEA1LP9T6h",
          "status": "completed",
          "livemode": false,
          "created_at": "2026-09-25T14:30:00.000Z",
          "results": [
            {
              "kind": "phone",
              "input": "+447700900001",
              "e164": "+447700900001",
              "country": "GB",
              "number_status": "valid",
              "checks": {
                "whatsapp.registered": {
                  "service": "whatsapp.registered",
                  "status": "completed",
                  "registered": true,
                  "attributes": null,
                  "confidence": "high",
                  "confidence_score": 0.99,
                  "checked_at": "2026-09-25T14:30:00.021Z",
                  "cached": false,
                  "age_seconds": 0,
                  "billed": false,
                  "reason": null,
                  "poll_after_ms": null
                },
                "network.carrier": {
                  "service": "network.carrier",
                  "status": "completed",
                  "registered": true,
                  "attributes": {
                    "line_type": "mobile",
                    "carrier": "Test Carrier",
                    "country": "GB"
                  },
                  "confidence": "high",
                  "confidence_score": 0.99,
                  "checked_at": "2026-09-25T14:30:00.021Z",
                  "cached": false,
                  "age_seconds": 0,
                  "billed": false,
                  "reason": null,
                  "poll_after_ms": null
                }
              },
              "whatsapp": {
                "service": "whatsapp.registered",
                "status": "completed",
                "registered": true,
                "confidence": "high",
                "confidence_score": 0.99,
                "checked_at": "2026-09-25T14:30:00.021Z",
                "cached": false,
                "age_seconds": 0,
                "billed": false,
                "reason": null,
                "poll_after_ms": null
              },
              "test": true
            }
          ],
          "summary": {
            "total": 1,
            "registered": 1,
            "not_registered": 0,
            "unknown": 0,
            "pending": 0,
            "invalid": 0,
            "suppressed": 0,
            "by_service": {
              "whatsapp.registered": {
                "completed": 1,
                "registered": 1,
                "not_registered": 0,
                "unknown": 0,
                "pending": 0
              },
              "network.carrier": {
                "completed": 1,
                "registered": 1,
                "not_registered": 0,
                "unknown": 0,
                "pending": 0
              }
            }
          },
          "billing": {
            "billed_units": 0,
            "cost": {
              "amount": "0",
              "currency": "USD"
            },
            "balance_after": {
              "amount": "0",
              "currency": "USD"
            }
          },
          "next": null,
          "request_id": "req_0VWGguuQ2aX7mT0cWkQe"
        }
      },
      "LookupEmail": {
        "summary": "registered@test.mobilevalidate.com — account exists",
        "value": {
          "object": "lookup",
          "id": "lkp_0VWGguvbYwEo8ynic8P4",
          "status": "completed",
          "livemode": false,
          "created_at": "2026-09-25T14:30:00.000Z",
          "results": [
            {
              "kind": "email",
              "input": "registered@test.mobilevalidate.com",
              "email": "registered@test.mobilevalidate.com",
              "email_status": "valid",
              "e164": null,
              "country": null,
              "checks": {
                "email.valid": {
                  "service": "email.valid",
                  "status": "completed",
                  "registered": true,
                  "attributes": null,
                  "confidence": "high",
                  "confidence_score": 0.99,
                  "checked_at": "2026-09-25T14:30:00.008Z",
                  "cached": false,
                  "age_seconds": 0,
                  "billed": false,
                  "reason": null,
                  "poll_after_ms": null
                }
              },
              "test": true
            }
          ],
          "summary": {
            "total": 1,
            "registered": 1,
            "not_registered": 0,
            "unknown": 0,
            "pending": 0,
            "invalid": 0,
            "suppressed": 0,
            "by_service": {
              "email.valid": {
                "completed": 1,
                "registered": 1,
                "not_registered": 0,
                "unknown": 0,
                "pending": 0
              }
            }
          },
          "billing": {
            "billed_units": 0,
            "cost": {
              "amount": "0",
              "currency": "USD"
            },
            "balance_after": {
              "amount": "0",
              "currency": "USD"
            }
          },
          "next": null,
          "request_id": "req_0VWGguvVbyCR5TZCz3hx"
        }
      },
      "LookupPending": {
        "summary": "+447700900004 — still running (poll after 2 s)",
        "value": {
          "object": "lookup",
          "id": "lkp_0VWGguwClAGtGVIqjdie",
          "status": "pending",
          "livemode": false,
          "created_at": "2026-09-25T14:30:00.000Z",
          "results": [
            {
              "kind": "phone",
              "input": "+447700900004",
              "e164": "+447700900004",
              "country": "GB",
              "number_status": "valid",
              "checks": {
                "whatsapp.registered": {
                  "service": "whatsapp.registered",
                  "status": "pending",
                  "registered": null,
                  "attributes": null,
                  "confidence": null,
                  "confidence_score": null,
                  "checked_at": null,
                  "cached": false,
                  "age_seconds": null,
                  "billed": false,
                  "reason": null,
                  "poll_after_ms": 2000
                }
              },
              "whatsapp": {
                "service": "whatsapp.registered",
                "status": "pending",
                "registered": null,
                "confidence": null,
                "confidence_score": null,
                "checked_at": null,
                "cached": false,
                "age_seconds": null,
                "billed": false,
                "reason": null,
                "poll_after_ms": 2000
              },
              "test": true
            }
          ],
          "summary": {
            "total": 1,
            "registered": 0,
            "not_registered": 0,
            "unknown": 0,
            "pending": 1,
            "invalid": 0,
            "suppressed": 0,
            "by_service": {
              "whatsapp.registered": {
                "completed": 0,
                "registered": 0,
                "not_registered": 0,
                "unknown": 0,
                "pending": 1
              }
            }
          },
          "billing": {
            "billed_units": 0,
            "cost": {
              "amount": "0",
              "currency": "USD"
            },
            "balance_after": {
              "amount": "0",
              "currency": "USD"
            }
          },
          "next": {
            "poll_url": "/v1/lookups/lkp_0VWGguwClAGtGVIqjdie",
            "poll_after_ms": 2000
          },
          "request_id": "req_0VWGguw6hRJ8PmkBLoGg"
        }
      },
      "LookupRead": {
        "summary": "Read later — input masked",
        "value": {
          "object": "lookup",
          "id": "lkp_0VWGguuWp0dEA1LP9T6h",
          "status": "completed",
          "livemode": false,
          "created_at": "2026-09-25T14:30:00.000Z",
          "results": [
            {
              "kind": "phone",
              "input": "+44770*****01",
              "e164": "+447700900001",
              "country": "GB",
              "number_status": "valid",
              "checks": {
                "whatsapp.registered": {
                  "service": "whatsapp.registered",
                  "status": "completed",
                  "registered": true,
                  "attributes": null,
                  "confidence": "high",
                  "confidence_score": 0.99,
                  "checked_at": "2026-09-25T14:30:00.021Z",
                  "cached": false,
                  "age_seconds": 12,
                  "billed": false,
                  "reason": null,
                  "poll_after_ms": null
                }
              },
              "whatsapp": {
                "service": "whatsapp.registered",
                "status": "completed",
                "registered": true,
                "confidence": "high",
                "confidence_score": 0.99,
                "checked_at": "2026-09-25T14:30:00.021Z",
                "cached": false,
                "age_seconds": 12,
                "billed": false,
                "reason": null,
                "poll_after_ms": null
              },
              "test": true
            }
          ],
          "summary": {
            "total": 1,
            "registered": 1,
            "not_registered": 0,
            "unknown": 0,
            "pending": 0,
            "invalid": 0,
            "suppressed": 0
          },
          "billing": {
            "billed_units": 0,
            "cost": {
              "amount": "0",
              "currency": "USD"
            },
            "balance_after": {
              "amount": "0",
              "currency": "USD"
            }
          },
          "next": null,
          "request_id": "req_0VWGgv1Hk2sP9dLmQwRt"
        }
      },
      "JobCreated": {
        "summary": "A test-key job (completes immediately)",
        "value": {
          "object": "job",
          "id": "job_0VWGguwwda9Wz2TzuoEn",
          "status": "completed",
          "livemode": false,
          "checks": [
            "whatsapp.registered",
            "email.valid"
          ],
          "created_at": "2026-09-25T14:30:00.000Z",
          "completed_at": "2026-09-25T14:30:00.014Z",
          "progress": {
            "total": 3,
            "checks_total": 3,
            "done": 3,
            "conclusive": 3,
            "non_billable": 3
          },
          "eta_seconds": null,
          "cost": {
            "estimated_max": {
              "amount": "0",
              "currency": "USD"
            },
            "reserved": {
              "amount": "0",
              "currency": "USD"
            },
            "charged": {
              "amount": "0",
              "currency": "USD"
            },
            "released": {
              "amount": "0",
              "currency": "USD"
            },
            "breakdown": [
              {
                "check": "whatsapp.registered",
                "price_mode": "batch",
                "reason": null,
                "checks": 0,
                "unit_price": {
                  "amount": "0.00015",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              },
              {
                "check": "whatsapp.registered",
                "price_mode": "realtime",
                "reason": "small_batch",
                "checks": 2,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                },
                "countries": [
                  "GB"
                ],
                "batch_minimum": 132
              },
              {
                "check": "email.valid",
                "price_mode": "batch",
                "reason": null,
                "checks": 1,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              }
            ]
          },
          "retention_days": 30,
          "estimate": {
            "total": 3,
            "valid": 3,
            "invalid": 0,
            "duplicate": 0,
            "cached": 0,
            "unsupported": 0,
            "suppressed": 0,
            "checks": [
              "whatsapp.registered",
              "email.valid"
            ],
            "checks_total": 3,
            "billable_max": 0,
            "max_cost": {
              "amount": "0",
              "currency": "USD"
            },
            "breakdown": [
              {
                "check": "whatsapp.registered",
                "price_mode": "batch",
                "reason": null,
                "checks": 0,
                "unit_price": {
                  "amount": "0.00015",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              },
              {
                "check": "whatsapp.registered",
                "price_mode": "realtime",
                "reason": "small_batch",
                "checks": 2,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                },
                "countries": [
                  "GB"
                ],
                "batch_minimum": 132
              },
              {
                "check": "email.valid",
                "price_mode": "batch",
                "reason": null,
                "checks": 1,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              }
            ]
          }
        }
      },
      "JobCompleted": {
        "summary": "A finished job",
        "value": {
          "object": "job",
          "id": "job_0VWGguwwda9Wz2TzuoEn",
          "status": "completed",
          "livemode": false,
          "checks": [
            "whatsapp.registered",
            "email.valid"
          ],
          "created_at": "2026-09-25T14:30:00.000Z",
          "completed_at": "2026-09-25T14:30:00.014Z",
          "progress": {
            "total": 3,
            "checks_total": 3,
            "done": 3,
            "conclusive": 3,
            "non_billable": 3
          },
          "eta_seconds": null,
          "cost": {
            "estimated_max": {
              "amount": "0",
              "currency": "USD"
            },
            "reserved": {
              "amount": "0",
              "currency": "USD"
            },
            "charged": {
              "amount": "0",
              "currency": "USD"
            },
            "released": {
              "amount": "0",
              "currency": "USD"
            },
            "breakdown": [
              {
                "check": "whatsapp.registered",
                "price_mode": "batch",
                "reason": null,
                "checks": 0,
                "unit_price": {
                  "amount": "0.00015",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              },
              {
                "check": "whatsapp.registered",
                "price_mode": "realtime",
                "reason": "small_batch",
                "checks": 2,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                },
                "countries": [
                  "GB"
                ],
                "batch_minimum": 132
              },
              {
                "check": "email.valid",
                "price_mode": "batch",
                "reason": null,
                "checks": 1,
                "unit_price": {
                  "amount": "0.003",
                  "currency": "USD"
                },
                "max_cost": {
                  "amount": "0",
                  "currency": "USD"
                }
              }
            ]
          },
          "retention_days": 30
        }
      }
    },
    "schemas": {
      "Money": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "pattern": "^-?[0-9]+(\\.[0-9]+)?$",
            "description": "Decimal USD amount."
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ]
          }
        }
      },
[...]
