{
  "openapi": "3.1.1",
  "info": {
    "title": "Arbitron API",
    "description": "Funding rates, executable cross-venue spreads and the listings calendar across the perpetual futures venues Arbitron tracks. Read-only JSON over HTTPS. API and MCP access are part of every Arbitron plan: see [the plans](https://arbitron.app/developers#plans).\n\n## Authentication\n\nSend an API key as `Authorization: Bearer arb_live_...` (the `X-Api-Key` header is accepted too). Create one at https://arbitron.app/settings/api; it is shown once. MCP clients can sign in with an Arbitron account through OAuth 2.1 instead of a key.\n\n## Rate limits\n\nEach key has a minute window and a month window, sized by its plan. Both are advertised on every response in the IETF `RateLimit-Policy` and `RateLimit` fields, so a client can pace itself and never see a `429`. For example:\n\n```http\nRateLimit-Policy: \"minute\";q=120;w=60, \"month\";q=100000;w=2592000\nRateLimit: \"minute\";r=118;t=41, \"month\";r=87500;t=1209600\n```\n\n`q` is the quota for the window, `w` its length in seconds, `r` the requests left and `t` the seconds until it resets.\n\n- A spent window answers `429` with `Retry-After` in seconds and a problem body naming the window.\n- The month resets on the 1st at 00:00 UTC. Quotas are hard caps; nothing is ever billed as overage.\n- One request is one request: history, spreads and funding cost the same, and an MCP tool call counts like a REST call.\n\n## Caching\n\nEvery data response carries an `ETag`. Send it back as `If-None-Match` and an unchanged body answers `304`, which is refunded on both windows. `Cache-Control` is `private, max-age=15` on live data and `max-age=300` on delayed data, matching how often the snapshot behind it moves.\n\n## Errors\n\nErrors are RFC 9457 problem details (`application/problem+json`): `type`, `title`, `status`, a `detail` that says what to change, the request id as `instance`, a stable `code`, and `suggestions` where a close match exists. `type` is `https://arbitron.app/developers/errors#<code>`, and every code is explained at [https://arbitron.app/developers/errors](https://arbitron.app/developers/errors).\n\n## Versioning\n\n`/api/v1` is the contract. Fields, endpoints, enum values and optional parameters are added without a version change. Removing or renaming anything, changing a type or changing a default is v2, and v1 keeps working for twelve months after v2 ships. A deprecated endpoint or field announces itself with `Deprecation` and `Sunset` headers and a `Link` to the changelog entry that names the replacement. The MCP server follows the same version, and tool names never change within a major version.\n\n### Changelog\n\n- **2026-09-20** v1 published: funding, funding history, spreads, listings, exchanges, coins and usage. MCP server with eight tools, key or OAuth.",
    "termsOfService": "https://arbitron.app/terms",
    "contact": {
      "name": "Arbitron",
      "url": "https://arbitron.app/developers",
      "email": "support@arbitron.app"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://arbitron.app/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://arbitron.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Where everything is",
        "description": "Anonymous. Links to the docs, the OpenAPI document, `llms.txt`, the MCP server and the plans, plus the endpoint list with the scope each one needs.",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/funding": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Current funding rate on every venue and symbol",
        "description": "One row per perpetual contract on every venue Arbitron tracks, sorted by absolute rate. Rates are percent per settlement; `apr_pct` is the annualised carry net of costs.\n\n- Filter by coin, venue, signed or absolute rate bounds, APR, 7d/30d sums, settlement interval, contract type, volume and time to the next settlement.\n- Sort by any of them with `sort`.\n- Page with `cursor`.",
        "operationId": "listFunding",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "One ticker or a comma-separated list, e.g. `BTC,ETH`. Case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Keep rows on these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Drop rows on these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_rate_pct",
            "in": "query",
            "description": "Keep rows whose `rate_pct` is at least this (signed), e.g. `0.05` or `-0.01`.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_rate_pct",
            "in": "query",
            "description": "Keep rows whose `rate_pct` is at most this (signed), e.g. `-0.01` for negative funding only.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_abs_rate_pct",
            "in": "query",
            "description": "Keep rows whose `|rate_pct|` is at least this, e.g. `0.05`.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_abs_rate_pct",
            "in": "query",
            "description": "Keep rows whose `|rate_pct|` is at most this.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_apr_pct",
            "in": "query",
            "description": "Keep rows whose `apr_pct` is at least this (signed). Rows without an APR are dropped.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_apr_pct",
            "in": "query",
            "description": "Keep rows whose `apr_pct` is at most this (signed).",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_sum_7d_pct",
            "in": "query",
            "description": "Keep rows whose `sum_7d_pct` is at least this (signed).",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_sum_7d_pct",
            "in": "query",
            "description": "Keep rows whose `sum_7d_pct` is at most this (signed).",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_sum_30d_pct",
            "in": "query",
            "description": "Keep rows whose `sum_30d_pct` is at least this (signed).",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_sum_30d_pct",
            "in": "query",
            "description": "Keep rows whose `sum_30d_pct` is at most this (signed).",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "interval_hours",
            "in": "query",
            "description": "Keep rows settling on these intervals, comma-separated, e.g. `1` or `4,8`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_inverse",
            "in": "query",
            "description": "`true` keeps coin-margined (inverse) contracts only, `false` keeps linear only. Default: both.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min_volume_usdt",
            "in": "query",
            "description": "Keep rows whose 24h volume is at least this many USDT, e.g. `1000000`.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_volume_usdt",
            "in": "query",
            "description": "Keep rows whose 24h volume is at most this many USDT.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "settles_within_minutes",
            "in": "query",
            "description": "Keep rows whose next settlement is within this many minutes, 1 to 1440, e.g. `30`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`abs_rate_desc` (default), `abs_rate_asc`, `rate_desc`, `rate_asc`, `apr_desc`, `apr_asc`, `sum_7d_desc`, `sum_7d_asc`, `sum_30d_desc`, `sum_30d_asc`, `volume_desc`, `volume_asc`, `next_funding_asc`, `next_funding_desc`, `coin_asc`, `exchange_asc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1 to 500 (Demo: 50). Default 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "`meta.next_cursor` from the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfFundingRateItem"
                },
                "example": {
                  "data": [
                    {
                      "exchange": "Binance",
                      "symbol": "BTC-USDT",
                      "coin": "BTC",
                      "is_inverse": false,
                      "rate_pct": 0.01,
                      "apr_pct": 10.95,
                      "sum_7d_pct": 0.21,
                      "sum_30d_pct": 0.84,
                      "interval_hours": 8,
                      "next_funding_at": "2026-09-21T16:00:00Z",
                      "volume_24h_usdt": 3498540070
                    },
                    {
                      "exchange": "GateIo",
                      "symbol": "ONE-USDT",
                      "coin": "ONE",
                      "is_inverse": false,
                      "rate_pct": -0.7952,
                      "apr_pct": -870.7,
                      "sum_7d_pct": -2.4,
                      "sum_30d_pct": -5.1,
                      "interval_hours": 8,
                      "next_funding_at": "2026-09-21T16:00:00Z",
                      "volume_24h_usdt": 30509358
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/funding-rates?utm_source=api",
                    "count": 2,
                    "total": 4213,
                    "next_cursor": "Mg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/funding/{coin}": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "One coin's funding across venues",
        "description": "Every venue quoting the coin, the spread between the highest and lowest rate, and which venue pays a short or a long best right now. `strategy_url` opens the terminal's new-strategy form on that pair, short the best short venue and long the best long one, in Hold Mode; opening it creates nothing until the trader presses Start. Narrow the ranking to a venue list (`exchange`, `exclude_exchange`) or a volume floor (`min_volume_usdt`).",
        "operationId": "getCoinFunding",
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "description": "Ticker, e.g. `BTC`. Case-insensitive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Rank only these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Leave these venues out of the ranking. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume_usdt",
            "in": "query",
            "description": "Rank only venues whose 24h volume on the coin is at least this many USDT.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfCoinFundingResponse"
                },
                "example": {
                  "data": {
                    "coin": "BTC",
                    "venue_count": 18,
                    "spread_pct": 0.0176,
                    "highest": {
                      "exchange": "Mexc",
                      "symbol": "BTC-USDT",
                      "rate_pct": 0.015
                    },
                    "lowest": {
                      "exchange": "Hyperliquid",
                      "symbol": "BTC-USDT",
                      "rate_pct": -0.0026
                    },
                    "best_short_exchange": "Mexc",
                    "best_long_exchange": "Hyperliquid",
                    "total_volume_24h_usdt": 41230000000,
                    "inverse_venues": [
                      "Blofin",
                      "Bitget"
                    ],
                    "rates": [
                      {
                        "exchange": "Mexc",
                        "symbol": "BTC-USDT",
                        "coin": "BTC",
                        "is_inverse": false,
                        "rate_pct": 0.015,
                        "apr_pct": 16.4,
                        "sum_7d_pct": 0.31,
                        "sum_30d_pct": 1.2,
                        "interval_hours": 8,
                        "next_funding_at": "2026-09-21T16:00:00Z",
                        "volume_24h_usdt": 812000000
                      }
                    ],
                    "strategy_url": "https://arbitron.app/dashboard?symbol=BTC-USDT&exA=Hyperliquid&exB=Mexc&funding_dir=2&utm_source=api"
                  },
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/funding-rates/coin/btc?utm_source=api",
                    "count": 18,
                    "total": 18
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/funding/history": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Funding history, daily or per settlement",
        "description": "Two resolutions:\n\n- `resolution=1d`: one annualised APR point per day for each venue quoting the coin, up to 180 days.\n- `resolution=settlement`: every settlement print for one venue, up to 92 days per call.\n\nWindow by `from`/`to` or `days`. `order=desc` with `limit` reads the last N points. How far back you may reach depends on the plan.",
        "operationId": "getFundingHistory",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "Ticker, e.g. `BTC`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Venues to include; a list for `1d`, exactly one for `settlement`. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Venues to leave out (`1d`). One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "`1d` (default) or `settlement`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO 8601 UTC. Default: 30 days before `to` (`1d`) or 7 days (`settlement`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO 8601 UTC. Default: now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Shortcut for `from`: this many days before `to`, 1 to 180. Ignored when `from` is given.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "`asc` (default, oldest first) or `desc` (newest first).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Points per series at most, 1 to 5000, taken after ordering: `order=desc&limit=10` is the last ten.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfFundingHistoryResponse"
                },
                "example": {
                  "data": {
                    "coin": "ETH",
                    "resolution": "1d",
                    "from": "2026-09-14T00:00:00Z",
                    "to": "2026-09-21T00:00:00Z",
                    "series": [
                      {
                        "exchange": "Binance",
                        "symbol": "ETH-USDT",
                        "daily": [
                          {
                            "day": "2026-09-14",
                            "apr_pct": 9.12
                          },
                          {
                            "day": "2026-09-15",
                            "apr_pct": 10.95
                          },
                          {
                            "day": "2026-09-16",
                            "apr_pct": null
                          }
                        ]
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/funding-rates/coin/eth?utm_source=api",
                    "count": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/spreads": {
      "get": {
        "tags": [
          "Spreads"
        ],
        "summary": "Current cross-venue spreads",
        "description": "The spread between two venues' perpetuals on the same coin right now, one row per venue pair and symbol, from the engine's last print (seconds old). `spread_pct` is the better of the two entry directions and `direction` says which; both are given, with the bid and ask on each leg.\n\nOn the Demo plan the print arrives 15 minutes late, and the five widest spreads of every venue (on either leg) are withheld whatever the filter. `meta.withheld` is the number withheld from the whole snapshot, the same whatever the filter, and the cursor stops after 100 rows.\n\nFor how often a spread paid over a window, use `/spreads/backtest`.",
        "operationId": "listSpreads",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "One ticker or a comma-separated list, e.g. `BTC,ETH`. Case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Keep pairs with these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange_match",
            "in": "query",
            "description": "`any` (default): either leg is in `exchange`. `all`: both legs are, i.e. spreads among the listed venues only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Drop pairs with any of these venues on either leg. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_spread_pct",
            "in": "query",
            "description": "Keep pairs whose `spread_pct` is at least this many percent, e.g. `0.3`.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_spread_pct",
            "in": "query",
            "description": "Keep pairs whose `spread_pct` is at most this many percent, e.g. `5` to drop dead markets.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "`long_a_short_b` or `short_a_long_b`: keep pairs whose better side is that one. Default: both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume_usdt",
            "in": "query",
            "description": "Keep pairs where BOTH legs' 24h volume is at least this many USDT, e.g. `500000`.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_strength",
            "in": "query",
            "description": "Keep pairs whose `strength` is at least this, 0 to 5.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_age_seconds",
            "in": "query",
            "description": "Keep pairs printed within this many seconds of `meta.as_of`, 1 to 120.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`spread_desc` (default), `spread_asc`, `volume_desc`, `volume_asc`, `strength_desc`, `updated_desc`, `coin_asc`. Volume is the smaller leg's.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1 to 500 (Demo: 50). Default 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "`meta.next_cursor` from the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfCurrentSpreadItem"
                },
                "example": {
                  "data": [
                    {
                      "symbol": "SOL-USDT",
                      "coin": "SOL",
                      "exchange_a": "Binance",
                      "exchange_b": "Bybit",
                      "spread_pct": 0.4132,
                      "direction": "short_a_long_b",
                      "long_a_short_b_pct": -0.521,
                      "short_a_long_b_pct": 0.4132,
                      "bid_a": 142.31,
                      "ask_a": 142.32,
                      "bid_b": 141.72,
                      "ask_b": 141.73,
                      "volume_a_usdt": 512000000,
                      "volume_b_usdt": 388000000,
                      "funding_rate_a_pct": 0.01,
                      "funding_rate_b_pct": 0.0056,
                      "funding_interval_hours_a": 8,
                      "funding_interval_hours_b": 8,
                      "next_funding_at_a": "2026-09-21T16:00:00Z",
                      "next_funding_at_b": "2026-09-21T16:00:00Z",
                      "strength": 3,
                      "updated_at": "2026-09-21T12:00:01Z"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/signals?utm_source=api",
                    "count": 1,
                    "total": 2493,
                    "next_cursor": "MQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/spreads/backtest": {
      "get": {
        "tags": [
          "Spreads"
        ],
        "summary": "Backtested cross-venue spreads",
        "description": "The public scanner's ranked spreads, priced against real order-book depth for an order of `size_usd` over the scan window. `est_profit_pct` is per round trip after fees; `cycles` counts how often the spread opened and closed. `strategy_url` opens a new strategy on the pair in the terminal, coin and both venues filled in.\n\nA backtest, not the live print: use `/spreads` for what the spread is right now. The Demo plan withholds the five best rows of every venue (on either leg) whatever the filter. `withheld_top` is the number withheld from the whole snapshot, the same whatever the filter, and the cursor stops after 100 rows. Paid plans see every row.",
        "operationId": "listSpreadBacktest",
        "parameters": [
          {
            "name": "size_usd",
            "in": "query",
            "description": "Order size the depth is priced at: `25`, `100` or `500`. Default `100`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "One ticker or a comma-separated list, e.g. `BTC,ETH`. Case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Keep spreads with these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange_match",
            "in": "query",
            "description": "`any` (default): either leg is in `exchange`. `all`: both legs are.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Drop spreads with any of these venues on either leg. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_profit_pct",
            "in": "query",
            "description": "Keep spreads whose `est_profit_pct` is at least this.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "max_profit_pct",
            "in": "query",
            "description": "Keep spreads whose `est_profit_pct` is at most this.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_avg_profit_pct",
            "in": "query",
            "description": "Keep spreads whose `avg_profit_pct` is at least this.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "min_cycles",
            "in": "query",
            "description": "Keep spreads that opened and closed at least this many times over the window.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "description": "Keep spreads whose `confidence` is at least this, 0 to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "min_volume_usdt",
            "in": "query",
            "description": "Keep spreads where BOTH legs' 24h volume is at least this many USDT.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_within_hours",
            "in": "query",
            "description": "Keep spreads whose last cycle closed within this many hours, 1 to 720.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`profit_desc` (default), `profit_asc`, `avg_profit_desc`, `cycles_desc`, `confidence_desc`, `volume_desc`, `spread_range_desc`, `last_cycle_desc`, `coin_asc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1 to 500 (Demo: 50). Default 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "`meta.next_cursor` from the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfSpreadBacktestResponse"
                },
                "example": {
                  "data": {
                    "size_usd": 100,
                    "withheld_top": 0,
                    "spreads": [
                      {
                        "symbol": "ENA-USDT",
                        "coin": "ENA",
                        "exchange_a": "BingX",
                        "exchange_b": "Lighter",
                        "est_profit_pct": 3.9783,
                        "avg_profit_pct": 1.214,
                        "fee_pct_cycle": 0.14,
                        "spread_range_pct": 6.2,
                        "cycles": 75,
                        "confidence": 69,
                        "volume_a_usdt": 21000000,
                        "volume_b_usdt": 9800000,
                        "last_cycle_at": "2026-09-21T11:41:00Z",
                        "strategy_url": "https://arbitron.app/dashboard?symbol=ENA-USDT&exA=BingX&exB=Lighter&utm_source=api"
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/arbitrage-scanner?utm_source=api",
                    "count": 1,
                    "total": 58,
                    "next_cursor": "MQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/exchanges": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "The venues",
        "description": "Every venue the API serves, with tracked instrument counts, maximum leverage, the default taker fee and links to its contract specs and funding pages. Filter by name, tradability or spot; sort by instruments, fee or leverage.\n\nAny valid key can call it; no scope is needed.",
        "operationId": "listExchanges",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Start of a venue name, e.g. `Bi` matches Binance, BingX, Bitget.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trading_enabled",
            "in": "query",
            "description": "`true` keeps venues Arbitron can trade on, `false` the rest. Default: all.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_spot",
            "in": "query",
            "description": "`true` keeps venues with a spot market, `false` the rest. Default: all.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`name_asc` (default), `instruments_desc`, `fee_asc`, `leverage_desc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfExchangeItem"
                },
                "example": {
                  "data": [
                    {
                      "exchange": "Binance",
                      "name": "Binance",
                      "icon_url": "https://arbitron.app/images/exchanges/binance.svg",
                      "tracked_instruments": 512,
                      "max_leverage": 125,
                      "taker_fee_pct": 0.05,
                      "trading_enabled": true,
                      "has_spot": true,
                      "fee_url": "https://www.binance.com/en/fee/futureFee",
                      "specs_url": "https://arbitron.app/exchanges/binance",
                      "funding_url": "https://arbitron.app/funding-rates/binance"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/exchanges?utm_source=api",
                    "count": 1,
                    "total": 19
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/coins": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "Coins with a funding page",
        "description": "Ticker lookup: `q` matches the start of a ticker, or anywhere in it with `match=contains`. Each coin carries the venues quoting it and its 24h perpetual volume; filter by venue, venue count or volume.\n\nAny valid key can call it; no scope is needed.",
        "operationId": "listCoins",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text to match against the ticker, e.g. `PE` matches PEPE and PENDLE.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "`prefix` (default): `q` is the start of the ticker. `contains`: `q` appears anywhere, so `PEPE` also finds 1000PEPE.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Keep coins quoted on these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange_match",
            "in": "query",
            "description": "`any` (default): quoted on at least one of `exchange`. `all`: quoted on every one of them.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_venues",
            "in": "query",
            "description": "Keep coins quoted on at least this many venues, 1 to 64.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "min_volume_usdt",
            "in": "query",
            "description": "Keep coins whose 24h perpetual volume across venues is at least this many USDT.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`volume_desc` (default), `volume_asc`, `venues_desc`, `venues_asc`, `coin_asc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1 to 500 (Demo: 50). Default 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "`meta.next_cursor` from the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfCoinItem"
                },
                "example": {
                  "data": [
                    {
                      "coin": "PEPE",
                      "venue_count": 18,
                      "exchanges": [
                        "Binance",
                        "BingX",
                        "Bybit",
                        "GateIo",
                        "Mexc",
                        "Okx"
                      ],
                      "volume_24h_usdt": 20313414258,
                      "funding_url": "https://arbitron.app/funding-rates/coin/pepe?utm_source=api"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/funding-rates/coins?utm_source=api",
                    "count": 1,
                    "total": 654
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listings": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "Announced listings and delistings",
        "description": "The listings calendar: what each venue has announced, when it takes effect and where the announcement is. Filter by coin, venue, kind, status, detection source, an effective window and what is new since a time (`detected_after`); nearest first by default.",
        "operationId": "listListings",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "One ticker or a comma-separated list, e.g. `BTC,ETH`. Case-insensitive.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Keep rows on these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_exchange",
            "in": "query",
            "description": "Drop rows on these venues. One venue or a comma-separated list, spelled as `/exchanges` spells it, e.g. `Binance,Bybit`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "`listing` or `delisting`. Default: both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Exact status as the row carries it, e.g. `preopen`, `newly listed`, `delisted`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "`announcement`, `instruments` or `diff`: how the row was detected. Default: all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Keep rows effective at or after this time (ISO 8601 UTC).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Keep rows effective before this time (ISO 8601 UTC).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days_ahead",
            "in": "query",
            "description": "Shortcut: rows effective between now and this many days ahead, 1 to 365. Ignored when `from` or `to` is given.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "detected_after",
            "in": "query",
            "description": "Keep rows first seen after this time (ISO 8601 UTC): what is new since your last poll.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "`nearest` (default: upcoming soonest first, then past most recent first, undated last), `effective_asc`, `effective_desc`, `detected_desc`, `detected_asc`, `coin_asc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1 to 500 (Demo: 50). Default 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "`meta.next_cursor` from the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated row fields to keep, e.g. `exchange,coin,rate_pct`; the others are dropped from every row. Unknown names are a 400 that lists the fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfListingItem"
                },
                "example": {
                  "data": [
                    {
                      "exchange": "BingX",
                      "symbol": "RCAT-USDT",
                      "coin": "RCAT",
                      "kind": "delisting",
                      "effective_at": "2026-09-22T02:00:00Z",
                      "source": "announcement",
                      "announcement_url": "https://bingx.com/en/support/notice-center/",
                      "detected_at": "2026-09-19T08:12:44Z"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/listings?utm_source=api",
                    "count": 1,
                    "total": 19
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "This key's usage and limits",
        "description": "The plan behind the key, the month and minute windows, and what the plan includes (history depth, delay, commercial use).",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfUsageResponse"
                },
                "example": {
                  "data": {
                    "plan": "trade",
                    "key_prefix": "arb_live_DPxk…",
                    "scopes": [
                      "funding:read",
                      "history:read",
                      "spreads:read",
                      "listings:read",
                      "usage:read",
                      "mcp:read"
                    ],
                    "month": {
                      "used": 1842,
                      "limit": 100000,
                      "remaining": 98158,
                      "resets_at": "2026-10-01T00:00:00Z"
                    },
                    "minute": {
                      "used": 3,
                      "limit": 120,
                      "remaining": 117,
                      "resets_at": "2026-09-21T12:01:00Z"
                    },
                    "history_days": 180,
                    "delay_seconds": 0,
                    "commercial_use": false,
                    "upgrade_url": "https://arbitron.app/developers#plans"
                  },
                  "meta": {
                    "as_of": "2026-09-21T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/settings/api?utm_source=api"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your account at a glance",
        "description": "The plan and its expiry, trading cards by status, today's net PnL with fees, funding, volume and cycles since the account's local midnight, total equity across the connected exchange accounts, and which exchanges are connected. Money is USD; net figures include fee rebates.",
        "operationId": "getMyAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountOverview"
                },
                "example": {
                  "data": {
                    "plan": {
                      "name": "Trader",
                      "status": "active",
                      "expires_at": "2026-10-18T00:00:00Z",
                      "days_remaining": 24
                    },
                    "cards": {
                      "running": 4,
                      "open": 2,
                      "error": 0,
                      "closed": 17
                    },
                    "today": {
                      "since": "2026-09-23T21:00:00Z",
                      "net_pnl_usd": 21.84,
                      "fees_usd": 7.12,
                      "funding_usd": 1.05,
                      "rebate_usd": 0.62,
                      "volume_usd": 11840,
                      "cycles": 9
                    },
                    "equity_usd": 12480.55,
                    "equity_as_of": "2026-09-24T11:59:24Z",
                    "exchange_accounts": 3,
                    "exchanges": [
                      "Binance",
                      "Bybit",
                      "Gate"
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/dashboard"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/cards": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your trading cards",
        "description": "One row per card: coin, the two exchanges and accounts, mode (`classic` or `one_leg`), status (`running`, `open`, `error`, `closed`), the open and close spread thresholds in percent, order size and unit, filled orders against the maximum, leverage, net PnL over the card's life, this session and today, the last fill and any error reason.\n\nCards are addressed by `card_ref`, a handle that means something only to this account. `meta.total` counts every card that matched.",
        "operationId": "listMyCards",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "`active` (default: running, open and error), `all`, or a comma-separated list of `running`, `open`, `error`, `closed`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "Keep cards on these coins, one ticker or a comma-separated list, e.g. `BTC,ETH`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cards to return, 1 to 100. Default 50.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfAccountCard"
                },
                "example": {
                  "data": [
                    {
                      "card_ref": "card_k3xq7m2abc9d",
                      "name": "SOL Binance/Bybit",
                      "symbol": "SOL-USDT",
                      "mode": "classic",
                      "status": "running",
                      "exiting": false,
                      "exchange_a": "Binance",
                      "exchange_b": "Bybit",
                      "account_a": "Main",
                      "account_b": "Main",
                      "trading_legs": "a+b",
                      "direction": "both",
                      "market_type": "linear",
                      "open_spread_pct": 0.35,
                      "close_spread_pct": 0.1,
                      "order_size": 2,
                      "order_size_unit": "coin",
                      "max_orders": 5,
                      "orders_filled": 2,
                      "max_position_usd": 1500,
                      "leverage_a": 3,
                      "leverage_b": 3,
                      "hold_mode": false,
                      "auto_spread": true,
                      "copy_of_lead": false,
                      "net_pnl_usd": 184.62,
                      "session_net_pnl_usd": 12.4,
                      "session_started_at": "2026-09-24T03:00:04Z",
                      "today_net_pnl_usd": 6.15,
                      "last_fill_at": "2026-09-24T11:46:04Z",
                      "created_at": "2026-09-03T12:00:04Z",
                      "updated_at": "2026-09-24T11:46:04Z"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/dashboard",
                    "count": 1,
                    "total": 6
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/cards/{card_ref}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "One of your cards in detail",
        "description": "The card's settings and risk limits (force stop, exit on loss, liquidation protection, order pricing per leg), the current session's fees, funding, volume, cycles and fee share of gross, the open position on each leg, and its 20 most recent paired trades from the last 31 days.",
        "operationId": "getMyCard",
        "parameters": [
          {
            "name": "card_ref",
            "in": "path",
            "description": "The card's `card_ref`, as `/me/cards` returns it, e.g. `card_k3xq7m2abc9d`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountCardDetail"
                },
                "example": {
                  "data": {
                    "card": {
                      "card_ref": "card_k3xq7m2abc9d",
                      "name": "SOL Binance/Bybit",
                      "symbol": "SOL-USDT",
                      "mode": "classic",
                      "status": "running",
                      "exiting": false,
                      "exchange_a": "Binance",
                      "exchange_b": "Bybit",
                      "account_a": "Main",
                      "account_b": "Main",
                      "trading_legs": "a+b",
                      "direction": "both",
                      "market_type": "linear",
                      "open_spread_pct": 0.35,
                      "close_spread_pct": 0.1,
                      "order_size": 2,
                      "order_size_unit": "coin",
                      "max_orders": 5,
                      "orders_filled": 2,
                      "max_position_usd": 1500,
                      "leverage_a": 3,
                      "leverage_b": 3,
                      "hold_mode": false,
                      "auto_spread": true,
                      "copy_of_lead": false,
                      "net_pnl_usd": 184.62,
                      "session_net_pnl_usd": 12.4,
                      "session_started_at": "2026-09-24T03:00:04Z",
                      "today_net_pnl_usd": 6.15,
                      "last_fill_at": "2026-09-24T11:46:04Z",
                      "created_at": "2026-09-03T12:00:04Z",
                      "updated_at": "2026-09-24T11:46:04Z"
                    },
                    "risk": {
                      "force_stop_usd": 60,
                      "exit_mode_on_loss_usd": 25,
                      "liquidation_protection": true,
                      "liquidation_protection_pct": 20,
                      "order_pricing_a": "market",
                      "order_pricing_b": "protected_ioc",
                      "price_band_pct_a": 1,
                      "price_band_pct_b": 0.5,
                      "exit_on_loss_from_peak": true,
                      "session_drawdown_usd": 4.8
                    },
                    "session": {
                      "fees_usd": 3.1,
                      "funding_usd": 0.42,
                      "volume_usd": 6820,
                      "cycles": 11,
                      "fee_share_of_gross_pct": 18.5,
                      "unwinds": 0
                    },
                    "positions": [
                      {
                        "exchange": "Binance",
                        "account": "Main",
                        "side": "Long",
                        "quantity": "4",
                        "entry_price": "141.92",
                        "unrealized_pnl_usd": "1.64",
                        "leverage": 3,
                        "liquidation_price": "96.40"
                      }
                    ],
                    "positions_as_of": "2026-09-24T11:59:52Z",
                    "recent_trades": [
                      {
                        "time": "2026-09-24T11:46:04Z",
                        "action": "close",
                        "net_pnl_usd": 0.96,
                        "fees_usd": 0.28,
                        "expected_spread_pct": 0.38,
                        "leg_a": {
                          "exchange": "Binance",
                          "side": "Buy",
                          "price": 142.31,
                          "quantity": 2,
                          "notional_usd": 284.62,
                          "fee_usd": 0.14,
                          "exchange_order_id": "5823104471"
                        },
                        "leg_b": {
                          "exchange": "Bybit",
                          "side": "Sell",
                          "price": 142.85,
                          "quantity": 2,
                          "notional_usd": 285.7,
                          "fee_usd": 0.14,
                          "exchange_order_id": "a3f1c9e2-51"
                        }
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/dashboard"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/trades": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your trade history",
        "description": "Executed trades over a window of up to 31 days (default: the last 7), grouped by card: per card the net PnL, profit percent on capital, fees, funding and fills, and the newest paired trades with both legs, the venue's order id and any unwind. Window totals cover every trade.\n\nAt most 300 pairs are listed in one answer across all cards; `pairs_truncated` says when more exist. For daily or monthly totals over longer periods use `/me/pnl`.",
        "operationId": "listMyTrades",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Window start, ISO 8601 UTC. Default: 7 days before `to`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end, ISO 8601 UTC. Default: now. At most 31 days after `from`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "card_ref",
            "in": "query",
            "description": "Only this card. The card's `card_ref`, as `/me/cards` returns it, e.g. `card_k3xq7m2abc9d`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pairs_per_card",
            "in": "query",
            "description": "Paired trades listed per card, newest first, 0 to 200. Default 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountTrades"
                },
                "example": {
                  "data": {
                    "from": "2026-09-17T12:00:04Z",
                    "to": "2026-09-24T12:00:04Z",
                    "net_pnl_usd": 96.2,
                    "fees_usd": 38.45,
                    "rebate_usd": 3.1,
                    "volume_usd": 64200,
                    "fills": 212,
                    "pairs_truncated": false,
                    "cards": [
                      {
                        "card_ref": "card_k3xq7m2abc9d",
                        "name": "Binance / Bybit · SOL-USDT",
                        "status": "running",
                        "net_pnl_usd": 41.3,
                        "profit_pct": 2.75,
                        "fees_usd": 12.6,
                        "funding_usd": 0.84,
                        "fills": 88,
                        "pairs_total": 44,
                        "pairs": [
                          {
                            "time": "2026-09-24T11:46:04Z",
                            "action": "close",
                            "net_pnl_usd": 0.96,
                            "fees_usd": 0.28,
                            "expected_spread_pct": 0.38,
                            "leg_a": {
                              "exchange": "Binance",
                              "side": "Buy",
                              "price": 142.31,
                              "quantity": 2,
                              "notional_usd": 284.62,
                              "fee_usd": 0.14,
                              "exchange_order_id": "5823104471"
                            },
                            "leg_b": {
                              "exchange": "Bybit",
                              "side": "Sell",
                              "price": 142.85,
                              "quantity": 2,
                              "notional_usd": 285.7,
                              "fee_usd": 0.14,
                              "exchange_order_id": "a3f1c9e2-51"
                            }
                          }
                        ]
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/trade-history",
                    "count": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/pnl": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your PnL calendar",
        "description": "Realized PnL by day for one month (`month` given) or by month for one year, in the account's own time zone, with fills and volume per period and the total. Periods without trading are left out.",
        "operationId": "getMyPnl",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Calendar year, e.g. `2026`. Default: the current year.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Month 1 to 12 for day-by-day. Omit for month-by-month over the year.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountPnlCalendar"
                },
                "example": {
                  "data": {
                    "year": 2026,
                    "month": 9,
                    "timezone": "Europe/Berlin",
                    "total_pnl_usd": 412.6,
                    "total_volume_usd": 318400,
                    "periods": [
                      {
                        "period": "2026-09-22",
                        "pnl_usd": 38.1,
                        "fills": 64,
                        "volume_usd": 29800
                      },
                      {
                        "period": "2026-09-23",
                        "pnl_usd": 21.84,
                        "fills": 41,
                        "volume_usd": 11840
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/trade-history"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/balances": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your balances and positions",
        "description": "Every connected exchange account: equity (wallet plus unrealized PnL), unrealized PnL, the maintenance margin as a percent of equity where the venue reports it (100 = liquidation), each currency worth at least 1 USD (smaller balances summed into `dust_usd`), and every open position. Each account carries its own `as_of`.",
        "operationId": "getMyBalances",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountBalances"
                },
                "example": {
                  "data": {
                    "total_equity_usd": 12480.55,
                    "total_unrealized_pnl_usd": 18.2,
                    "accounts": [
                      {
                        "exchange": "Binance",
                        "account": "Main",
                        "equity_usd": 6240.1,
                        "unrealized_pnl_usd": 11.3,
                        "margin_ratio_pct": 7.85,
                        "as_of": "2026-09-24T11:59:24Z",
                        "currencies": [
                          {
                            "currency": "USDT",
                            "total": "6228.80",
                            "available": "5104.22",
                            "usd_value": 6228.8
                          }
                        ],
                        "dust_usd": 0.42,
                        "positions": [
                          {
                            "symbol": "SOL-USDT",
                            "side": "Long",
                            "quantity": "4",
                            "entry_price": "141.92",
                            "mark_price": "142.20",
                            "unrealized_pnl_usd": "1.12",
                            "leverage": 3,
                            "liquidation_price": "96.40"
                          }
                        ]
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/portfolio",
                    "count": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/balance-history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your balance history",
        "description": "How each exchange account's equity moved over the last `days` (1 to 180, default 30): start and end equity, the change, the closing equity of each UTC day, and the newest 100 deposits, withdrawals, transfers, liquidations and bonuses.",
        "operationId": "getMyBalanceHistory",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Days back from now, 1 to 180. Default 30.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountBalanceHistory"
                },
                "example": {
                  "data": {
                    "from": "2026-08-25T12:00:04Z",
                    "to": "2026-09-24T12:00:04Z",
                    "accounts": [
                      {
                        "exchange": "Binance",
                        "account": "Main",
                        "start_equity_usd": 5800,
                        "end_equity_usd": 6240.1,
                        "change_usd": 440.1,
                        "daily": [
                          {
                            "date": "2026-09-22",
                            "equity_usd": 6190.4
                          },
                          {
                            "date": "2026-09-23",
                            "equity_usd": 6231.75
                          }
                        ]
                      }
                    ],
                    "movements": [
                      {
                        "time": "2026-09-12T12:00:04Z",
                        "exchange": "Binance",
                        "account": "Main",
                        "kind": "deposit",
                        "asset": "USDT",
                        "amount": 500,
                        "amount_usd": 500
                      }
                    ],
                    "movements_total": 1
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/portfolio"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
                  "detail": "'sort' must be one of abs_rate_desc, abs_rate_asc, rate_desc, rate_asc, apr_desc, apr_asc, sum_7d_desc, sum_7d_asc, sum_30d_desc, sum_30d_asc, volume_desc, volume_asc, next_funding_asc, next_funding_desc, coin_asc, exchange_asc.",
                  "instance": "0HN7Q2K3J4L5M:00000001",
                  "code": "invalid-parameter",
                  "docs": "https://arbitron.app/developers/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/exchange-accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your connected exchange accounts",
        "description": "The exchange accounts connected to Arbitron: exchange, the label you gave it, whether it is active and the default for its exchange, the taker fee in percent, default leverage, order pricing and minimum position lifetime. API keys, secrets and key hints are never returned.",
        "operationId": "listMyExchangeAccounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfIReadOnlyListOfAccountExchange"
                },
                "example": {
                  "data": [
                    {
                      "exchange": "Binance",
                      "account": "Main",
                      "active": true,
                      "default_for_exchange": true,
                      "taker_fee_pct": 0.05,
                      "default_leverage": 3,
                      "order_pricing": "market",
                      "connected_at": "2026-07-26T12:00:04Z"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/exchange-keys",
                    "count": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/leaderboard": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your place on the leaderboard",
        "description": "Your rank for a period and the top 10: net PnL of finished round trips, profit percent, win rate, fills and the streak of profitable weeks. Other traders appear as `trader #N`, never by name, and those who hide their PnL stay hidden.",
        "operationId": "getMyLeaderboard",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "`today`, `this_week` (default), `last_week`, `last_30_days` or `all_time`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelopeOfAccountLeaderboard"
                },
                "example": {
                  "data": {
                    "period": "this_week",
                    "my_rank": 14,
                    "me": {
                      "rank": 14,
                      "trader": "you",
                      "net_pnl_usd": 96.2,
                      "profit_pct": 1.9,
                      "win_rate_pct": 64.5,
                      "fills": 212,
                      "profitable_week_streak": 3
                    },
                    "top": [
                      {
                        "rank": 1,
                        "trader": "trader #1",
                        "net_pnl_usd": 1840,
                        "profit_pct": 6.2,
                        "win_rate_pct": 71,
                        "fills": 1904,
                        "profitable_week_streak": 9
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-09-24T12:00:04Z",
                    "delayed_seconds": 0,
                    "source": "arbitron.app",
                    "url": "https://arbitron.app/leaderboard"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                },
                "example": {
                  "type": "https://arbitron.app/developers/errors#invalid-parameter",
                  "title": "A parameter is not valid",
                  "status": 400,
[...]
