{
  "openapi": "3.1.0",
  "info": {
    "title": "Off-Nadir Delta API",
    "version": "1.0.0",
    "description": "Query geolocated world event signals (Delta Signals), what changed about them, satellite imagery and collection planning, the Watchlist, and the World Brief. Authenticate with an API key (Authorization: Bearer ond_… or X-API-Key). Available on every plan; what a call returns follows the key owner's plan, and metered calls spend its token balance. The MCP server at POST /api/v1/mcp serves the conversational subset as tools; for a ChatGPT custom GPT, import /api/v1/openapi-gpt-actions.json.",
    "x-jentic-source-url": "https://offnadir-delta.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://offnadir-delta.com"
    }
  ],
  "paths": {
    "/api/v1/signals": {
      "get": {
        "summary": "Query geolocated world event signals",
        "description": "Costs 3 token(s) per request. Supports cursor pagination via meta.next_cursor: follow it until it is null to read every matching signal (meta.total_count is exact — there is no cap on how many you can page through; each page is charged). meta.coverage reports what the bbox holds relative to the corpus (and how many signals exist worldwide for the same window), so an empty or thin result can be told apart from a quiet world. Plan-dependent: on a plan without the full event detail (Free) the reported facts beyond the casualty counts are withheld, and each of the collection reasoning (with the GEOINT score), the market reasoning, the full source list and the relations opens on its own per plan; `plan_lock` names what was withheld and `plan_lock.section_plans` the plan that opens each part — a null there means not shown, not unknown (the same rule as the app and the public event pages). The filters are the app's — the Watchfloor's and the Map's Signals panel, which are the same (date range or time window, search, category, stage, severity, publishers, market, location, sort) — with the same choices and the same rules; nothing the app does not offer is accepted, and a retired parameter is refused with its replacement named. Filters beyond category on the Watchfloor — q, stages, min_severity_band, min_publishers, markets and placement — need a plan with event filters (not Free), and linked_to and sort=geoint each need a plan that includes them; without them they are not applied and `meta.filter_clamp` lists the ones dropped, with `required_plans` naming the plan that opens each.",
        "operationId": "querySignals",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box \"minLon,minLat,maxLon,maxLat\" (WGS84). Omit for worldwide.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start, YYYY-MM-DD (UTC) — the Watchfloor date range. Give with end_date, or neither for the recent window. The event record starts on 2026-09-23: a range before that date returns no events because none were recorded, not because none happened. The range is bounded by the key owner's plan — without real-time it ends yesterday, without the date range it ends on the latest readable day, and it never starts before the plan's history floor; meta.window_clamp says what was narrowed.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end, YYYY-MM-DD (UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "recency",
            "in": "query",
            "description": "The Watchfloor time window: last reported in the last 15 min / hour / 24 hours. Default 24h when no date range is given. 15m and 1h need real-time; without it the 24 hours to the end of the latest readable day are used and meta.filter_clamp says so.",
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "1h",
                "24h"
              ]
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated category filter — the Watchfloor Category. Omit for all. Six categories are events made from a measurement or an official record, not from reporting: thermal_anomaly (heat sources measured by satellite), transit_anomaly (ship transits or port calls off their own recent level), nightlight_anomaly (night lights over a city below half of its own usual level), so2_anomaly (sulfur dioxide above background around a volcano with an ash advisory), quake_exposure (an earthquake with registered facilities within a set distance — distances, not shaking or damage) and cyclone_exposure (registered places inside the forecast tropical-storm-force wind radii of an Atlantic or eastern Pacific cyclone — a forecast, not an observation). They carry measured=true and measured_kind, state what was recorded and never a cause.",
            "schema": {
              "type": "string",
              "enum": [
                "kinetic",
                "armed_conflict",
                "maritime",
                "natural_disaster",
                "infrastructure",
                "aviation",
                "humanitarian",
                "protest",
                "diplomacy",
                "other",
                "thermal_anomaly",
                "transit_anomaly",
                "nightlight_anomaly",
                "so2_anomaly",
                "quake_exposure",
                "cyclone_exposure"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The Watchfloor search: title, summary, place, country and category. Every word must match; \"two words\" keeps the order; -word excludes. At most 300 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stages",
            "in": "query",
            "description": "Comma-separated location stages (reported, localized, pinpointed): reported = country or province only, localized = town or city, pinpointed = street block or facility.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_severity_band",
            "in": "query",
            "description": "The Watchfloor Severity filter: severity_band at least this (4 / 6 / 9).",
            "schema": {
              "type": "integer",
              "enum": [
                4,
                6,
                9
              ]
            }
          },
          {
            "name": "min_publishers",
            "in": "query",
            "description": "The Watchfloor Publishers reporting filter (2 / 3 / 5). Breadth of reporting, not independent confirmation.",
            "schema": {
              "type": "integer",
              "enum": [
                2,
                3,
                5
              ]
            }
          },
          {
            "name": "markets",
            "in": "query",
            "description": "Comma-separated market-impact filter (oil, natural_gas, grain, shipping, defense, metals, semiconductors, fx, equities): only signals AI-tagged as exposing these markets via a direct physical/supply channel. Informational only — not investment advice. Omit for all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placement",
            "in": "query",
            "description": "The Watchfloor Location filter: all (default), map (precise enough to draw as a point) or list (placed only to a country or province). With a bbox, `signals` holds only events with a point inside it; events without a point whose country overlaps the bbox come separately in `country_level_signals` (the first 10, counted in meta.country_level) — placement=list returns all of those, paged. Without a bbox, list and all cover the whole world.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "map",
                "list"
              ]
            }
          },
          {
            "name": "linked_to",
            "in": "query",
            "description": "The Watchfloor \"Filter to these events\" on a connector: only events that share it. One stored connector the events share: facility:<entity_id> (from search_entities or get_related_events), place:<place_key> (from get_related_events) or actor:<name> (a name in a signal's actors, case-insensitive). Needs a plan that includes it (meta.filter_clamp.required_plans names the plan when it is dropped).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "watch_id",
            "in": "query",
            "description": "The Watchfloor \"Near my places\" for one place: only events linked to this watch (id from GET /api/v1/watches) — the same up-to-100 most recent events the Watchlist shows for that place, area or event. Another account’s watch, or an unknown id, is 404. meta.watch_linked_events says how many events the watch links; the other filters and the window still apply.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The Watchfloor Sort: latest (default), oldest, or geoint (Imaging value: a satellite could see it first, then the GEOINT score, then how finely the place is known). geoint, like the GEOINT score itself, needs a plan that includes it; without it latest is used and meta.filter_clamp says so.",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "geoint"
              ]
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Differential fetch: only signals refolded at/after this ISO 8601 timestamp. Narrows the window rather than replacing it; signals carry last_updated_at.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows per page (1-500, default 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from meta.next_cursor. Bound to the query it came from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of signals.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/SignalsMeta"
                    },
                    "signals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Signal"
                      }
                    },
                    "country_level_signals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Signal"
                      },
                      "description": "With a bbox: events that cannot be placed as a point (reported only to a country or province) whose country overlaps the bbox — not shown to be inside it. The first 10; meta.country_level counts them. Empty without a bbox."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/signals/{id}": {
      "get": {
        "summary": "Fetch a single signal by id",
        "description": "Costs 1 token(s) per request. Returns exactly one signal by its id (the `id` from a signals result). An id that has since been folded into another event resolves to that event, and `meta.merged_from_request` says so. Plan-dependent: on a plan without the full event detail (Free) the reported facts beyond the casualty counts are withheld, and each of the collection reasoning (with the GEOINT score), the market reasoning, the full source list and the relations opens on its own per plan; `plan_lock` names what was withheld and `plan_lock.section_plans` the plan that opens each part — a null there means not shown, not unknown (the same rule as the app and the public event pages).",
        "operationId": "getSignalById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The signal id (UUID) from a /api/v1/signals result.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The signal.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signal": {
                      "$ref": "#/components/schemas/Signal"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/imagery": {
      "get": {
        "summary": "Search the satellite imagery catalog",
        "description": "Costs 2 token(s) per request. Returns a minimal metadata projection of matching STAC scenes (Sentinel-1, Sentinel-2, NISAR L-band) — no imagery bytes, no signed URLs. bbox is required.",
        "operationId": "searchImagery",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "description": "Bounding box \"minLon,minLat,maxLon,maxLat\" (WGS84). Required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Catalog collection. Defaults to sentinel-2-l2a.",
            "schema": {
              "type": "string",
              "enum": [
                "sentinel-1-grd",
                "sentinel-1-rtc",
                "sentinel-2-l2a",
                "NISAR_L2_GCOV_PROVISIONAL_V1"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start (YYYY-MM-DD, UTC) — the app's imagery date range. Give with end_date, or neither for the last 7 days. At most 30 days.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end (YYYY-MM-DD, UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event_date",
            "in": "query",
            "description": "Event date YYYY-MM-DD (UTC). When set, each scene is tagged timing=pre/post/same_day_unknown, the window is widened to the canonical pre/post span, and meta reports has_pre_baseline / has_post / bracketing_available / window_status; for sentinel-1-grd it also reports sar_pair_status + orbit_note.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event_point",
            "in": "query",
            "description": "Event point \"lon,lat\" (WGS84). When set, each scene reports target_relation (covers_event_geometry = geometry gate; usable_for_analysis additionally requires acceptable cloud for optical) so a scene that only clips the wide bbox — or a cloud-obscured optical scene — is not presented as usable for the event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_aoi",
            "in": "query",
            "description": "Event AOI bbox \"minLon,minLat,maxLon,maxLat\" (WGS84) for target_relation.intersects_event_aoi / event_aoi_coverage_ratio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_timestamp",
            "in": "query",
            "description": "Full event timestamp (ISO 8601) when known — promotes same-day scenes from same_day_unknown to pre/post by time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cloud_cover_max",
            "in": "query",
            "description": "Sentinel-2 only: max cloud cover percentage.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max scenes to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching scenes (minimal metadata).",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "scenes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "collection": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "datetime": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "bbox": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "number"
                            }
                          },
                          "geometry": {
                            "type": [
                              "object",
                              "null"
                            ]
                          },
                          "cloud_cover": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "platform": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "constellation": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "polarizations": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            }
                          },
                          "orbit_state": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Observation direction (ascending/descending), when present."
                          },
                          "preview": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/collection/plan": {
      "get": {
        "summary": "Deterministic imagery plan for one event",
        "description": "Costs 4 token(s) per request (it deliberately issues two catalog searches). The SERVER decides which collections to search for the stated goal — sentinel-1-grd (SAR: all-weather, survives cloud and night) and sentinel-2-l2a (optical) exactly once each — against the event's own footprint and a pre/post window around its date, so the all-weather look can never be silently skipped and the same search is never repeated. Per search it reports why it was made, scenes returned, how many actually COVER the event and are usable (cloud-obscured optical does not count), the SAR pair status and whether a pre/post bracket exists, plus screening / detection / identification capability — a VHR recommendation never invalidates what the free catalog already showed. The vhr_recommendation.assessed flag says whether the VHR question was DECIDED at all: when the subject has no recorded ground-sampling requirement it comes back false, and recommended:false then means \"not determined\", NOT \"not needed\". An event with no resolvable footprint is refused rather than planned against a guess.",
        "operationId": "planEventImagery",
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "description": "The signal id (UUID) from /api/v1/signals. An id folded into another event resolves to that event; meta.merged_from_request says so.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "analysis_goal",
            "in": "query",
            "required": true,
            "description": "damage_assessment | flood_mapping | wildfire_assessment.",
            "schema": {
              "type": "string",
              "enum": [
                "damage_assessment",
                "flood_mapping",
                "wildfire_assessment"
              ]
            }
          },
          {
            "name": "event_date",
            "in": "query",
            "description": "Event date YYYY-MM-DD. Optional — the event row supplies it when known.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The executed plan, one step per collection.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "plan": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientTokens"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/collection/priority": {
      "get": {
        "summary": "Imaging-collection priority ranking",
        "description": "Costs 1 token(s) per request. Crosses each event's composite IMPORTANCE (severity × source breadth × market relevance) with the SPEC CLASS its required resolution demands — coarse (≤100 m), hr (≤10 m, Sentinel-class free data) or vhr (sub-metre, commercial tasking) — and returns per-class counts with mean importance plus the top targets. Use it to triage before spending: a high-importance event needing only hr is answerable with free Sentinel data, while a vhr one is what a paid order is for. Deterministic; no LLM.",
        "operationId": "rankImagingPriority",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "Area as \"west,south,east,north\" (WGS84). Omit for a global survey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Inclusive start date YYYY-MM-DD. Defaults to today. Clamped to your plan history floor (and to yesterday without real-time); meta.window_clamp says what was narrowed. The event record starts on 2026-09-23: an earlier window returns no events because none were recorded, not because none happened.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Inclusive end date YYYY-MM-DD. Defaults to today. Window capped at 30 days.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated Delta categories to restrict to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_geoint_score",
            "in": "query",
            "description": "Drop events below this GEOINT score before ranking.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "top_n",
            "in": "query",
            "description": "How many top targets to return (1..50, default 12).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-spec-class demand and the top collection targets.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "priority": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientTokens"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/collection/observability": {
      "get": {
        "summary": "Exhaustive observability survey for a sensor",
        "description": "Costs 1 token(s) per request. Evaluates EVERY event in the window against a sensor's resolving power using each event's precomputed required resolution, and returns observable vs not counts, the breakdown by required resolution, and the top observable events with their imaging rationale. Observability is resolvability — whether the physical mark is large enough: sentinel-2 is ~10 m optical (needs daylight and clear sky), sentinel-1 is SAR (all-weather, day or night). Deterministic; no LLM and no per-event cost.",
        "operationId": "surveyObservableEvents",
        "parameters": [
          {
            "name": "sensor",
            "in": "query",
            "description": "sentinel-2 (~10 m optical) or sentinel-1 (SAR). Default sentinel-2.",
            "schema": {
              "type": "string",
              "enum": [
                "sentinel-2",
                "sentinel-1"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Area as \"west,south,east,north\" (WGS84). Omit for a global survey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Inclusive start date YYYY-MM-DD. Defaults to today. Clamped to your plan history floor (and to yesterday without real-time); meta.window_clamp says what was narrowed. The event record starts on 2026-09-23: an earlier window returns no events because none were recorded, not because none happened.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Inclusive end date YYYY-MM-DD. Defaults to today. Window capped at 30 days.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated Delta categories to restrict to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_geoint_score",
            "in": "query",
            "description": "Drop events below this GEOINT score before surveying.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "top_n",
            "in": "query",
            "description": "How many observable events to return (1..50, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observable vs not, with the per-resolution breakdown.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "survey": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientTokens"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/passes": {
      "get": {
        "summary": "Next satellite passes over a target",
        "description": "Costs 2 token(s) per request. Propagates current orbital elements (SGP4 over day-cached CelesTrak two-line elements) and returns the access windows over a point for 13 families: Sentinel-1 (SAR), Sentinel-2, Landsat and NISAR are free and SYSTEMATIC (routinely collecting sensors — each pass is still a geometric opportunity, not a scheduled acquisition; units whose operator announced the end of operations are excluded); WorldView, ICEYE, Capella, SkySat, Umbra, Synspective, iQPS, RADARSAT-2 and COSMO-SkyMed are commercial and AGILE (taskable ACCESS opportunities that require a paid order — NOT guaranteed collects). Each pass carries acquisition/loss and closest-approach times, peak elevation, off-nadir angle, ground distance, ascending/descending, solar elevation and sunlit flag, plus the age of the element set used. Give lat and lon, or a bbox whose centre is used. The window is capped to a 7-day horizon. When orbital elements cannot be retrieved the response sets retrieval_ok:false — that means timing is UNAVAILABLE, never \"no passes\". Orbital data by CelesTrak.",
        "operationId": "predictSatellitePasses",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Target latitude (-90..90; positive = North). Required unless bbox is given.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Target longitude (-180..180; positive = East). Required unless bbox is given.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Area as \"west,south,east,north\" (WGS84). The CENTRE is used as the target when lat/lon are omitted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Inclusive start date YYYY-MM-DD (UTC). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Inclusive end date YYYY-MM-DD (UTC). Defaults to start+2 days; capped to a 7-day horizon.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "satellites",
            "in": "query",
            "description": "Comma-separated family keys to consider: sentinel-1, sentinel-2, landsat, nisar, worldview, iceye, capella, skysat, umbra, synspective, iqps, radarsat-2, cosmo-skymed. Omit for all thirteen.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_passes",
            "in": "query",
            "description": "Maximum passes to return, soonest first (1..100, default 40).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access windows over the target, soonest first.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "passes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "satellite": {
                            "type": "string"
                          },
                          "family_key": {
                            "type": "string"
                          },
                          "sensor": {
                            "type": "string",
                            "enum": [
                              "optical",
                              "sar"
                            ]
                          },
                          "collection_mode": {
                            "type": "string",
                            "enum": [
                              "systematic",
                              "agile"
                            ],
                            "description": "systematic = a routinely collecting sensor (a geometric opportunity, not a scheduled acquisition); agile = a taskable access opportunity requiring a paid order."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "peak": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Closest approach — the collection instant."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "duration_min": {
                            "type": "number"
                          },
                          "peak_elevation_deg": {
                            "type": "number"
                          },
                          "off_nadir_deg": {
                            "type": "number",
                            "description": "0 = overhead. Large angles degrade resolution and geometry."
                          },
                          "ground_distance_km": {
                            "type": "number"
                          },
                          "direction": {
                            "type": "string",
                            "enum": [
                              "ascending",
                              "descending"
                            ]
                          },
                          "solar_elevation_deg": {
                            "type": "number",
                            "description": "At the target, at peak. Below 0 = night."
                          },
                          "sunlit": {
                            "type": "boolean",
                            "description": "Optical needs light; SAR does not."
                          },
                          "access": {
                            "type": "string",
                            "enum": [
                              "in_swath",
                              "in_off_nadir_cone"
                            ]
                          },
                          "tle_epoch": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tle_age_days": {
                            "type": "number",
                            "description": "Days between the element-set epoch and THIS pass. Signed: negative means the pass precedes the epoch (a hindcast), not that the elements are from the future."
                          },
                          "is_past": {
                            "type": "boolean",
                            "description": "The pass has already happened."
                          }
                        }
                      }
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "max_tle_age_days": {
                          "type": "number",
                          "description": "Largest |tle_age_days| over the returned passes."
                        },
                        "stale": {
                          "type": "boolean",
                          "description": "Elements older than 7 days — predicted timing may drift by minutes."
                        }
                      }
                    },
                    "retrieval_ok": {
                      "type": "boolean",
                      "description": "false = orbital elements could not be retrieved; timing is unavailable, NOT \"no passes\"."
                    },
                    "total_passes": {
                      "type": "integer"
                    },
                    "by_family": {
                      "type": "object"
                    },
                    "note": {
                      "type": "string"
                    },
                    "attribution": {
                      "type": "string",
                      "description": "Mandatory CelesTrak credit."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientTokens"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/developments": {
      "get": {
        "summary": "What changed about the events in an area",
        "description": "Metered like /signals. Returns CHANGES rather than rows: polling /signals and diffing the ids finds new REPORTING, which is a different thing — a 2025 attack re-reported in 2026 with a fresh attribution is indistinguishable from a fresh attack. Each development says which `axis` moved, what the value was and what it became, what the change rests on (`basis`), and is labelled `world` (the event’s own state moved: a death toll revised, a perpetrator named) or `measurement` (what we can now see moved: a location resolved, the evidence stage advanced). The window filters on WHEN THE CHANGE WAS OBSERVED, so a change to an older event is returned. Default returns only changes worth a person’s attention; notable_only=false returns the full ledger. Plan-dependent: on a plan without the full event detail (Free), every change keeps its time and axis, but only each event’s latest change keeps its value (never for the reported facts — attribution, means, targets, target status); with the full detail, every change keeps its value. Changes to post-event imagery are not returned here: imagery is checked only for events on the Watchlist, and a watch carries its own imagery state. Only a plan that includes the sources keeps the sources behind each change. locked_by says when a value was withheld, and sources_locked says when only the sources were.",
        "operationId": "queryDevelopments",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "minLon,minLat,maxLon,maxLat. Omit for worldwide.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start (YYYY-MM-DD) — the app's date range. Give with end_date, or neither for today. Changes are recorded from 2026-09-23, when the event record starts. The plan's history window bounds it.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end (YYYY-MM-DD), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated signal categories.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "axes",
            "in": "query",
            "description": "Comma-separated change axes (casualties_killed, attributed_actor, stage, location_level, ...). An unknown value is a 400, never an empty result — a silent zero reads as \"nothing happened\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notable_only",
            "in": "query",
            "description": "Default true. False returns every recorded change, including minor ones.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_member_count",
            "in": "query",
            "description": "Default false. The member_count axis means \"one more report arrived\", which says nothing new about the event — including it puts every followed-up story in today’s changes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many developments to return (1..200, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Skip this many developments (meta.total_count is the whole window).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Developments, newest first, with the canonical event each belongs to.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "developments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/events/{eventId}/thread": {
      "get": {
        "summary": "One event, end to end",
        "description": "Free. The full history of a single event: its current state, every change in the order it happened, and every source behind it grouped by outlet. Answers \"is this a new event or an update to an old one\". occurred_at is when the event HAPPENED, and occurred_at_basis says whether that was stated in a report, absent from it, or never measured — three different things that a single null would hide. timeline_total is the number of recorded changes (the array is capped), and timeline_note says why an empty timeline is not an absence of knowledge. Plan-dependent: changes before the key owner's history window keep their time and axis but not their values. On a plan without the full event detail (Free), only the latest change keeps its value (never for withheld facts); with it, every change keeps its value unless its section is withheld. Without the sources no change keeps its sources, the source list keeps only each outlet's latest report and each fact loses the report it came from; the related events and the imaging recommendation are withheld unless the plan includes them — locked_by says why a value was withheld, sources_locked says when only the sources were, and plan_lock names what was withheld with section_plans naming the plan that opens each part.",
        "operationId": "getEventThread",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The event id (UUID). An id folded into another event resolves to that event, and merged_from_request says so.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The canonical event, its timeline, and its sources.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canonical_event": {
                      "type": "object"
                    },
                    "timeline": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "timeline_total": {
                      "type": "integer"
                    },
                    "timeline_note": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/layer-sets": {
      "get": {
        "summary": "List saved layer sets",
        "description": "Free. Lists the named map configurations saved on this account, most recently changed first, with layer count, size, tags and timestamps. The serialized layer tree is not returned — it is an internal representation, not a public contract.",
        "operationId": "listLayerSets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max layer sets to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your saved layer sets.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "layer_sets": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/layer-sets/{layerSetId}": {
      "get": {
        "summary": "Get one saved layer set",
        "description": "Free. Reads one saved map configuration by id — one this account owns, a public one, or one shared with it (the same rule as the app). Returns 404 when there is no layer set with that id that this account can open. `contents` is always \"not_exposed\": the serialized layer tree is internal.",
        "operationId": "getLayerSet",
        "parameters": [
          {
            "name": "layerSetId",
            "in": "path",
            "required": true,
            "description": "The layer set id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The layer set.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "layer_set": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/uploads": {
      "get": {
        "summary": "List your uploaded layers",
        "description": "Free. Lists the data uploaded to the map on this account, newest first, and the formats the uploader accepts. Uploading itself is a multipart file transfer in the app, not a JSON call, so it has no endpoint here.",
        "operationId": "listUploadedLayers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max uploads to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your uploaded layers and the accepted formats.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "accepted_formats": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/standing-orders": {
      "get": {
        "summary": "List standing orders",
        "description": "Free. Lists the standing orders on this key with each one’s cadence, watched area, last check, last fire, and quiet_checks (consecutive checks that found nothing). Also returns how many orders your plan allows and how many remain.",
        "operationId": "listStandingOrders",
        "responses": {
          "200": {
            "description": "Your standing orders and the plan limits that apply to them.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "max_orders": {
                          "type": "number",
                          "nullable": true,
                          "description": "null = unlimited."
                        },
                        "used": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number",
                          "nullable": true
                        },
                        "min_interval_hours": {
                          "type": "number",
                          "description": "24 = daily allowed, 168 = weekly is the fastest."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "summary": "Create a standing order",
        "description": "Free to create. The app’s \"Watch this area\": saves a bounding box and checks it weekly for new events, notifying only when something crossed the reporting bar. The question, cadence, categories and thresholds are not accepted (the app does not offer them); passing them returns 400. Checks are deterministic: when new events cross the bar you receive a digest of them, and no model is run and nothing is charged, whether or not anything was found. The order count is plan-gated; a 403 says which limit you hit.",
        "operationId": "createStandingOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bbox"
                ],
                "properties": {
                  "bbox": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "minItems": 4,
                    "maxItems": 4,
                    "description": "Area to watch, [minLon, minLat, maxLon, maxLat] (WGS84). Required, and at most 100,000 km² — a larger box returns 400 invalid_input (to follow a whole country, create a watch with target_type \"site\" and scale \"country\")."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Label for the order."
                  },
                  "notify_email": {
                    "type": "boolean",
                    "description": "Email the result when it fires (default true). Results are readable from the list either way."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created standing order and the watch it appears under.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "You are at your plan’s order limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/monitoring": {
      "get": {
        "summary": "List monitored areas",
        "description": "Free. Lists the places under continuous satellite measurement on this key, with each area’s metric, latest value, change since the previous measurement, anomaly flag, and coverage. Coverage window_total is null when the catalog total is unknown — null is not zero. The measurement history itself is on GET /api/v1/monitoring/{areaId}.",
        "operationId": "listMonitoredAreas",
        "responses": {
          "200": {
            "description": "Your monitored areas, the plan limits that apply, and how metering works.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "max_areas": {
                          "type": "number",
                          "nullable": true,
                          "description": "null = unlimited."
                        },
                        "used": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "metering": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "summary": "Create a monitored area",
        "description": "Free to create. Fixes a bounding box and a quantity to measure; every new acquisition over it is measured automatically from then on. Each automatic check costs 2 tokens plus 0.5 per new scene measured, and a check that finds no new acquisition costs nothing. The area must be under 5,000 km² and the sensor is chosen from the metric. Requires the monitoring plan feature; area count is plan-gated and a 403 says which limit you hit.",
        "operationId": "createMonitoredArea",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bbox",
                  "metric"
                ],
                "properties": {
                  "bbox": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "minItems": 4,
                    "maxItems": 4,
                    "description": "Area to measure, [minLon, minLat, maxLon, maxLat] (WGS84). Must be under 5,000 km²."
                  },
                  "metric": {
                    "type": "string",
                    "description": "What to count. Plain words work (ships, fires, vegetation, water, burn, snow, built_up, moisture, night_lights) as do index names (ship_detection, fire_count, ndvi, evi, savi, ndmi, ndwi, mndwi, ndbi, ndsi, nbr, dnb, vv, vh, rvi, rfdi, cr)."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Label for the area."
                  },
                  "satellite": {
                    "type": "string",
                    "description": "The sensor to measure with, chosen the way the app’s monitoring form does it (satellite × metric) — e.g. ship detection on Sentinel-1 or on NISAR. Omit for the metric’s first sensor (ship detection: Sentinel-1)."
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "description": "YYYY-MM-DD to begin the history from (default 3 months ago, as in the app). A longer backfill measures more scenes and costs more on the first check."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created area, and how it will be metered.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "area": {
                      "type": "object"
                    },
                    "metering": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Your plan does not include monitoring, or you are at the area limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/monitoring/{areaId}": {
      "get": {
        "summary": "Get a monitored area and its measurement history",
        "description": "Free, and needs a plan that includes data export (otherwise 403 forbidden, with `denial` naming the plan that opens it). Returns one area with the full time series for every metric on it — each measured acquisition, its value, and whether it was flagged anomalous. Anomaly flags come from a median-absolute-deviation test on the series, not a fixed threshold. A metric’s polygon_id is accepted here as well as the area_id.",
        "operationId": "getMonitoredArea",
        "parameters": [
          {
            "name": "areaId",
            "in": "path",
            "required": true,
            "description": "The area_id from the list endpoint (a metric polygon_id also resolves).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The area with its full measurement history.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "area": {
                      "type": "object"
                    },
                    "metering": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No monitored area with that id on this key."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/thermal-anomalies": {
      "get": {
        "summary": "Thermal anomalies: heat sources measured by satellite",
        "description": "Costs 3 token(s) per request — the same as a page of signals, and the same plan window applies (meta.window_clamp says when it was cut). A thermal anomaly is a satellite measurement, not a report (fire radiative power, VIIRS on NOAA-20 / NOAA-21 / Suomi NPP via NASA FIRMS). Two kinds are returned. kind=facility: a heat source of at least 10 MW within 2 km of a registered facility — a refinery, power plant, port, base, dam, bridge and the like; airports are excluded — that is at least 5 times the strongest detection within 500 m of the same spot in the 21 days before (or where none was detected). kind=night_source: a night-time heat source of at least 20 MW with no registered facility within 2 km, at least 5 times its own spot's 21-day maximum and 3 times that of the surrounding 10 km, compact and with little burning around it; its facility and distance_m are null, and it does not rule out vegetation fires. Each record states what was measured — strength, time, satellite, the earlier level, and for kind=facility the distance to the facility — and never a cause: a detection does not distinguish an attack, an accident, flaring or a vegetation fire, and the heat source may be outside the facility. Every record is also an event (same event_id as GET /api/v1/signals with categories=thermal_anomaly, where it carries measured=true and measured_kind=thermal), so the event endpoints work on it. linked_events lists reported events tied to the same facility by name within 3 days of the detection; it needs a plan with event relations (otherwise null, and meta.notes says so). Severity is inherited from linked reporting and is null when there is none. The measurement detail — which facility or place it was near, the distance, the strength, the summary and linked_events — needs a plan with the full event detail. Without it every record still returns that a heat source was measured, when, the pixel position and its kind, with detail_withheld=true, a placeholder title and null in the withheld fields (meta.detail_included and meta.detail_required_plan say so); the same records in GET /api/v1/signals carry the placeholder title too. Cursor pagination via meta.next_cursor.",
        "operationId": "queryThermalAnomalies",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box \"minLon,minLat,maxLon,maxLat\" (WGS84). Omit for worldwide.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start, YYYY-MM-DD (UTC). Give with end_date, or neither for the last 7 days up to the latest day your plan can read.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end, YYYY-MM-DD (UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows per page (1-100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from meta.next_cursor. Bound to the query it came from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of thermal anomalies, newest detection first.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "thermal_anomalies": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/transit-anomalies": {
      "get": {
        "summary": "Transit anomalies: ship transits at straits and canals against their usual level",
        "description": "Costs 3 token(s) per request — the same as a page of signals. Takes no parameters: every strait and canal where ship transits are measured (28 places — Hormuz, Suez, Bab el-Mandeb, Malacca, Bosporus, Panama, Taiwan Strait and others) is returned in one response, the places outside their usual range first. A transit anomaly is a measurement, not a report. Each place carries status — usual, below or above its usual range, or not_measured — and level, an index computed by this product: the 7-day average of ship transits with the usual level set to 100 (index), the change against usual (change, 0.05 = +5%), the same index for tankers alone (tanker_index), and revised when the underlying figure changed after it was first recorded. Ship counts are not returned. Usual level: the median of the 7-day averages over the 12 weeks before. A 7-day average is outside its usual range when it is statistically unusual against those weeks (modified Z-score of 3.5 or more) and at least 15% away. meta.definition carries the same sentence. While a place is outside its usual range, anomaly gives the direction, since (the first day of the current unbroken run, looking back 30 days), days, and event_id — the event recorded for it, the same id GET /api/v1/signals returns with categories=transit_anomaly (measured=true, measured_kind=transit), so the event endpoints work on it; null when no event is linked. entity_id is the registry id GET /api/v1/entities/{entityId} takes, which returns the recent levels of one place. It never states a cause: weather, holidays, a closure, an attack and re-routing all change the number of ships. The measure comes from ship tracking (AIS) signals and covers container, dry bulk, general cargo, ro-ro and tanker ships, so ships that do not broadcast, and other kinds of vessel, are not counted. The underlying measurements are updated weekly, so a change becomes visible 4 to 11 days after it happens; meta.as_of is the latest day measured. The numbers (index, change, tanker_index, revised) need a plan with the full event detail. Without it every place still returns its status, anomaly and event_id, with detail_withheld=true and null in those fields (meta.detail_included and meta.detail_required_plan say so).",
        "operationId": "queryTransitAnomalies",
        "responses": {
          "200": {
            "description": "Every place where ship transits are measured, with its latest level; places outside their usual range first, then by name.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "places": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/nightlight-anomalies": {
      "get": {
        "summary": "Night-light anomalies: city night lights below half of their own usual level",
        "description": "Costs 3 token(s) per request — the same as a page of signals, and the same plan window applies (meta.window_clamp says when it was cut). A night-light anomaly is a satellite measurement, not a report: on a night, the lights measured over one of a fixed list of cities were below 50% of that city's own usual level (NASA Black Marble, VIIRS). A night is judged only when at least 70% of the city's box could be observed; the usual level is the median of the most recent earlier such nights (at least 5, at most 30). Nights of one continuing drop are one record (a new record starts after a judged night that was not a drop, or a gap of more than 3 days). Each record carries the city (name, country, centre and the half-size of its box), night (the latest night of the drop, a UTC date), first_night and nights (every drop night in the record), ratio_to_usual and percent_of_usual (0.41 / 41 = 41% of the usual level), observed_share (how much of the box was observed that night), baseline_nights, product (the Black Marble product, e.g. VJ146A2_NRT), granule (the product file the value was read from) and provisional. provisional=true means the value came from the near-real-time product and can change when the standard product arrives about nine days later. The nightly brightness values themselves are not returned. Every record is also an event (same event_id as GET /api/v1/signals with categories=nightlight_anomaly, where it carries measured=true and measured_kind=nightlight), so the event endpoints work on it. related_events lists events tied to this one by a stored relation — nothing is inferred when the record is read, so it is usually empty; it needs a plan with event relations (otherwise null, and meta.notes says so). The detail — which city, the level against usual, the nights, the observed share and the summary — needs a plan with the full event detail. Without it every record still returns that it was recorded, when, the position and its kind, with detail_withheld=true, a placeholder title and null in the withheld fields (meta.detail_included and meta.detail_required_plan say so); the same records in GET /api/v1/signals carry the placeholder title too. cities lists every monitored city on every page, whether or not it has a record — it is not filtered by bbox, dates or cursor: slug, name, country_code, lat, lng, status (usual = the latest judged night was within the usual range; below = the latest judged night, no more than 3 days old, was below 50% of the usual level; not_judged = neither can be said, and reason says why), level (the latest judged night: night, ratio_to_usual, percent_of_usual, observed_share, provisional), nights (the last 30 days, newest first; ratio_to_usual is null on a night that was not judged) and baseline_nights. Join cities[].slug to a record's city.slug. A city marked usual states a measurement of one night, not that nothing happened there; the nightly brightness values are not returned for cities either. For cities, a plan without the full event detail gets every monitored city (slug, name, country_code, lat, lng) with status, reason, level, nights and baseline_nights null and detail_withheld=true — which city is below its usual level is part of the detail. meta.definition carries the thresholds, meta.notes what the record does and does not establish, and meta.attribution the source credit, which must be shown with the data. Cursor pagination via meta.next_cursor.",
        "operationId": "queryNightlightAnomalies",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box \"minLon,minLat,maxLon,maxLat\" (WGS84). Omit for worldwide.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start, YYYY-MM-DD (UTC). Give with end_date, or neither for the last 7 days up to the latest day your plan can read.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end, YYYY-MM-DD (UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows per page (1-100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from meta.next_cursor. Bound to the query it came from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of records, newest first.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests remaining in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "nightlight_anomalies": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/so2-anomalies": {
      "get": {
        "summary": "SO2 anomalies: sulfur dioxide above the local background around a volcano",
        "description": "Costs 3 token(s) per request — the same as a page of signals, and the same plan window applies (meta.window_clamp says when it was cut). An SO2 anomaly is a satellite measurement, not a report: sulfur dioxide measured by Copernicus Sentinel-5P (TROPOMI, near-real-time) clearly above the local background around a volcano. Only volcanoes with a recent volcanic ash advisory are checked. Pixels within 0.5 degrees of the volcano are compared with the ring out to 2 degrees (quality value 0.5 or better): a record is made when at least 10 pixels exceed the ring's median by 5 times its spread and 1 Dobson Unit, and that is at least 3 times what the ring itself would predict. One record per volcano per UTC day. Each record carries the volcano (name and position), sensed_at (the start of the satellite overpass), peak_du (the largest total vertical column near the volcano, in Dobson Units), background_du and background_spread_du (the ring's median and spread), pixels_over and pixels_expected (how many near pixels stood out, against how many the ring would predict), pixels_near and granule (the product file the values were read from). Every record is also an event (same event_id as GET /api/v1/signals with categories=so2_anomaly, where it carries measured=true and measured_kind=so2), so the event endpoints work on it. related_events lists events tied to this one by a stored relation — nothing is inferred when the record is read, so it is usually empty; it needs a plan with event relations (otherwise null, and meta.notes says so). The detail — which volcano, the column amounts, the pixel counts, the granule and the summary — needs a plan with the full event detail. Without it every record still returns that it was recorded, when, the position and its kind, with detail_withheld=true, a placeholder title and null in the withheld fields (meta.detail_included and meta.detail_required_plan say so); the same records in GET /api/v1/signals carry the placeholder title too. meta.definition carries the thresholds, meta.notes what the record does and does not establish, and meta.attribution the source credit, which must be shown with the data. Cursor pagination via meta.next_cursor.",
        "operationId": "querySo2Anomalies",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box \"minLon,minLat,maxLon,maxLat\" (WGS84). Omit for worldwide.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date range start, YYYY-MM-DD (UTC). Give with end_date, or neither for the last 7 days up to the latest day your plan can read.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date range end, YYYY-MM-DD (UTC), inclusive.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows per page (1-100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from meta.next_cursor. Bound to the query it came from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of records, newest first.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed in the window."
              },
[...]
