{
  "openapi": "3.0.3",
  "info": {
    "title": "BuildData - Canadian Construction Data API",
    "description": "Canada-wide construction data API across ten datasets: building permits, building inspections, business licences, new business openings, development permits, planning applications, property assessments, contractor profiles, and zoning, covering dozens of Canadian cities and provinces. Normalized, geocoded, and updated daily. /opening is the licence a business held first, renewals excluded, joined to the building permit pulled at the same address before it opened, so a fit-out is visible months ahead of the business. /opening_soon is the inverse: work underway at an address that holds no active licence, which is a business that has not opened yet. It carries the permit facts and no business name, because the name does not exist until the licence is issued. Record datasets support search, statistics, per-city coverage, and lookup by ID; zoning resolves the district at any coordinate (/zone) or lists a city's zones (/zoning); /geocode resolves a Canadian address to coordinates and postal code; /reverse-geocode returns the nearest address and postal code for any lat/lng pair. Call /{entity_type}/coverage and /{entity_type}/stats for live record counts and the current list of covered cities. Free-tier keys see records first seen more than 30 days ago; responses include a free_tier object naming the cutoff, and a record inside the window returns 403 rather than 404. A paid plan removes the delay.",
    "version": "0.1.0",
    "x-jentic-source-url": "https://www.builddata.ca/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.builddata.ca"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health",
        "operationId": "/health",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          }
        }
      }
    },
    "/zone": {
      "get": {
        "summary": "Get Zone",
        "operationId": "/zone",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "title": "Lat"
            },
            "example": 43.65
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "title": "Lng"
            },
            "example": -79.38
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "city": "toronto",
                  "zone_code": "CR",
                  "zone_description": "Commercial Residential",
                  "zone_category": "4"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/geocode": {
      "get": {
        "summary": "Geocode a Canadian street address to coordinates and postal code",
        "operationId": "/geocode",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Street address, e.g. '123 MAIN ST SW'",
              "title": "Address"
            },
            "description": "Street address, e.g. '123 MAIN ST SW'",
            "example": "133 MICMAC DR"
          },
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "halifax"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Alias for municipality."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "address": "133 MICMAC DR",
                  "municipality": "halifax",
                  "province": "NS",
                  "lat": 44.6501,
                  "lng": -63.6223,
                  "postal_code": "B3M 2A5",
                  "normalized_address": "133 MICMAC DR",
                  "match_type": "oda",
                  "confidence": 1,
                  "source": "oda"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/reverse-geocode": {
      "get": {
        "summary": "Reverse geocode coordinates to the nearest Canadian address and postal code",
        "operationId": "/reverse-geocode",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "maximum": 84,
              "minimum": 41,
              "description": "Latitude",
              "title": "Lat"
            },
            "description": "Latitude",
            "example": 43.6511
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "maximum": -52,
              "minimum": -141,
              "description": "Longitude",
              "title": "Lng"
            },
            "description": "Longitude",
            "example": -79.3832
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "lat": 43.6511,
                  "lng": -79.3832,
                  "address": "90 RICHMOND ST W",
                  "city": "Toronto",
                  "province": "ON",
                  "postal_code": "M5H 2A4",
                  "distance_m": 12.4
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zoning": {
      "get": {
        "summary": "List zoning districts for a city, or zoning coverage across cities",
        "operationId": "/zoning",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Alias for municipality.",
            "example": "toronto"
          },
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias."
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "Latitude. With lng, returns the zone at that point."
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "nullable": true
            },
            "description": "Longitude. With lat, returns the zone at that point."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 200,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/permit/estimate": {
      "post": {
        "summary": "Pro: estimated construction value for 1..N permits (by record id or attributes)",
        "operationId": "permit_estimate_permit_estimate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermitEstimateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contractor/stats": {
      "get": {
        "summary": "Contractor aggregate stats",
        "operationId": "contractor_stats_contractor_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contractor/coverage": {
      "get": {
        "summary": "Contractor count per city",
        "operationId": "contractor_coverage_contractor_coverage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contractor": {
      "get": {
        "summary": "Search Canadian contractor profiles",
        "operationId": "search_contractors_contractor_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\").",
            "example": "mattamy"
          },
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias."
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Alias for municipality."
          },
          {
            "name": "trade_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter by trade type (partial match)"
          },
          {
            "name": "is_licensed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Filter to licensed contractors only"
          },
          {
            "name": "min_permit_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            },
            "description": "Only contractors with at least this many permits"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads)."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "asc or desc",
              "default": "desc",
              "title": "Sort Order"
            },
            "description": "asc or desc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/property": {
      "get": {
        "summary": "Every BuildData record at one address",
        "operationId": "property_dossier_property_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Street address, e.g. '3 Briarcliffe Drive'. Canonicalized server-side, so you do not need to know the exact stored form.",
              "title": "Address"
            },
            "description": "Street address, e.g. '3 Briarcliffe Drive'. Canonicalized server-side, so you do not need to know the exact stored form.",
            "example": "7236 10 Street NE"
          },
          {
            "name": "municipality",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
              "title": "Municipality"
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "calgary"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/address/normalize": {
      "get": {
        "summary": "Canonical form of a street address",
        "operationId": "address_normalize_address_normalize_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\").",
              "title": "Q"
            },
            "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\").",
            "example": "7236 10 St NE"
          },
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "calgary"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/opening_soon": {
      "get": {
        "summary": "Addresses where a business is likely opening soon",
        "operationId": "business_search_opening_soon_get",
        "parameters": [
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "lethbridge"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Permits: the normalized status (issued, in_review, completed, expired, cancelled, unknown), same as status_canonical. Major projects: proposed, under_construction, complete, on_hold, cancelled. Business licences: the status the city publishes, e.g. APPROVED, case-insensitive. Other datasets: the status as the city publishes it."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Major projects: the source's own sector wording, e.g. 'Transit'. Use sector for the canonical bucket, which spans both official languages."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\")."
          },
          {
            "name": "opened_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Earliest opening date YYYY-MM-DD"
          },
          {
            "name": "opened_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Latest opening date YYYY-MM-DD"
          },
          {
            "name": "preceded_by_permit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a building permit at the same address"
          },
          {
            "name": "is_contractor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only contractors"
          },
          {
            "name": "has_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a street address. Home-based sole proprietors have none, so set this when the address is the point."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads).",
              "default": "date",
              "title": "Sort By"
            },
            "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads)."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "title": "Sort Order"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/opening": {
      "get": {
        "summary": "New business openings",
        "operationId": "business_search_opening_get",
        "parameters": [
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "vancouver"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Permits: the normalized status (issued, in_review, completed, expired, cancelled, unknown), same as status_canonical. Major projects: proposed, under_construction, complete, on_hold, cancelled. Business licences: the status the city publishes, e.g. APPROVED, case-insensitive. Other datasets: the status as the city publishes it."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Major projects: the source's own sector wording, e.g. 'Transit'. Use sector for the canonical bucket, which spans both official languages."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\")."
          },
          {
            "name": "opened_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Earliest opening date YYYY-MM-DD"
          },
          {
            "name": "opened_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Latest opening date YYYY-MM-DD"
          },
          {
            "name": "preceded_by_permit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a building permit at the same address"
          },
          {
            "name": "is_contractor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only contractors"
          },
          {
            "name": "has_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a street address. Home-based sole proprietors have none, so set this when the address is the point.",
            "example": true
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads).",
              "default": "date",
              "title": "Sort By"
            },
            "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads)."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "title": "Sort Order"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/business": {
      "get": {
        "summary": "Canadian businesses: opened, active, closed, opening soon",
        "operationId": "business_search_business_get",
        "parameters": [
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias.",
            "example": "vancouver"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Permits: the normalized status (issued, in_review, completed, expired, cancelled, unknown), same as status_canonical. Major projects: proposed, under_construction, complete, on_hold, cancelled. Business licences: the status the city publishes, e.g. APPROVED, case-insensitive. Other datasets: the status as the city publishes it.",
            "example": "active"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Major projects: the source's own sector wording, e.g. 'Transit'. Use sector for the canonical bucket, which spans both official languages."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Full-text search across the indexed fields of the record, e.g. q=roofing or q=\"Iron Hill\". Matches business, contractor and project names, the address, the city and the permit or licence number, on every plan including free. It does not match a person's name: these datasets carry business records only. Space-separated words require all terms (\"deck addition\"). Use OR to match any term (\"pool OR spa\"), quotes for an exact phrase (\"secondary suite\"), and a leading minus to exclude (\"renovation -interior\")."
          },
          {
            "name": "opened_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Earliest opening date YYYY-MM-DD"
          },
          {
            "name": "opened_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Latest opening date YYYY-MM-DD"
          },
          {
            "name": "preceded_by_permit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a building permit at the same address"
          },
          {
            "name": "is_contractor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only contractors"
          },
          {
            "name": "has_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "description": "Only businesses with a street address. Home-based sole proprietors have none, so set this when the address is the point."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads).",
              "default": "date",
              "title": "Sort By"
            },
            "description": "Sort field: date (the record's own date, e.g. issued_date for permits) or value (the field value_min reads)."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "title": "Sort Order"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/business/stats": {
      "get": {
        "summary": "Business counts by status and category",
        "operationId": "business_stats_endpoint_business_stats_get",
        "parameters": [
          {
            "name": "municipality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Filter to one city by its slug, e.g. 'new_westminster', 'toronto', 'north_vancouver_city'. Exact match. The dataset's /coverage endpoint lists the valid slugs. 'city' is accepted as an alias."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "The query took too long. Narrow it with a municipality or a date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/business/coverage": {
      "get": {
        "summary": "Business count per city",
        "operationId": "business_coverage_endpoint_business_coverage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              }
            }
          },
          "400": {
            "description": "The request is understood but cannot be served as asked, e.g. offset above 9500, or cursor combined with sort_by=value. The message names the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such endpoint, or no record with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A parameter is invalid: an unknown city slug, an impossible date, a limit above 500, an unrecognised sort field, or a misspelled parameter name. The message names the parameter and, where there is one, the nearest valid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per UTC day on this plan.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left today. Zero once the quota is spent.",
                "schema": {
                  "type": "integer",
                  "example": 89
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until the quota resets, which is midnight UTC.",
                "schema": {
                  "type": "integer",
                  "example": 40000
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Same value as X-RateLimit-Reset.",
[...]
