{
  "openapi": "3.1.0",
  "info": {
    "title": "Pharos API",
    "version": "1.0.0",
    "description": "Stablecoin analytics API for peg monitoring, liquidity, risk, blacklist events, mint/burn flows, yield, chains, and market-structure data. Protected public routes require X-API-Key. Get a supporter key or request a partner key at https://pharos.watch/api/.",
    "contact": {
      "name": "Pharos",
      "url": "https://pharos.watch/api/#partner-access"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/TokenBrice/pharos-watch/blob/main/LICENSE"
    },
    "x-jentic-source-url": "https://pharos.watch/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.pharos.watch",
      "description": "Public integration API"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "No-key health check for the public API host.",
        "operationId": "health",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stablecoins": {
      "get": {
        "tags": [
          "Stablecoins"
        ],
        "summary": "List stablecoins",
        "description": "Current stablecoin list with supply, price, peg, chain distribution, and freshness headers. `_meta` publishes the generation, assessment time and effective fresh/degraded budgets; cache TTL and SWR are bounded by the remaining fresh runway.",
        "operationId": "stablecoins",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stablecoin/{stablecoinId}": {
      "get": {
        "tags": [
          "Stablecoins"
        ],
        "summary": "Stablecoin detail",
        "description": "Full per-coin analytics dossier for a canonical Pharos stablecoin ID.",
        "operationId": "stablecoinStablecoinId",
        "parameters": [
          {
            "name": "stablecoinId",
            "in": "path",
            "required": true,
            "description": "Canonical Pharos stablecoin ID, for example `usdt-tether` or `usdc-circle`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stablecoin-summary/{stablecoinId}": {
      "get": {
        "tags": [
          "Stablecoins"
        ],
        "summary": "Stablecoin summary",
        "description": "Lightweight per-coin price and aggregate supply snapshot.",
        "operationId": "stablecoinSummaryStablecoinId",
        "parameters": [
          {
            "name": "stablecoinId",
            "in": "path",
            "required": true,
            "description": "Canonical Pharos stablecoin ID, for example `usdt-tether` or `usdc-circle`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stablecoin-reserves/{stablecoinId}": {
      "get": {
        "tags": [
          "Stablecoins",
          "Reserves"
        ],
        "summary": "Stablecoin reserves",
        "description": "Live or fallback reserve composition for live-reserve-enabled assets.",
        "operationId": "stablecoinReservesStablecoinId",
        "parameters": [
          {
            "name": "stablecoinId",
            "in": "path",
            "required": true,
            "description": "Canonical Pharos stablecoin ID, for example `usdt-tether` or `usdc-circle`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinReservesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stablecoin-charts": {
      "get": {
        "tags": [
          "Stablecoins",
          "History"
        ],
        "summary": "Stablecoin charts",
        "description": "Historical total supply chart data.",
        "operationId": "stablecoinCharts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StablecoinChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/peg-summary": {
      "get": {
        "tags": [
          "Peg Monitoring"
        ],
        "summary": "Peg summary",
        "description": "Per-coin peg scores, reference evidence, coverage-aware recent metrics, and aggregate peg-monitoring summary.",
        "operationId": "pegSummary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PegSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/depeg-events": {
      "get": {
        "tags": [
          "Peg Monitoring"
        ],
        "summary": "Depeg incidents",
        "description": "Historical and active depeg incidents with constituent threshold-crossing counts, filterable by stablecoin.",
        "operationId": "depegEvents",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": false,
            "description": "Optional canonical Pharos stablecoin ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor returned as nextCursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "When true, returns active depeg events only.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "description": "When false, skips the exact total count.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includePending",
            "in": "query",
            "required": false,
            "description": "When true, includes pending incidents awaiting confirmation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepegEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Tape events",
        "description": "Materialized chronological feed of typed events (depeg, freeze, score) backed by the tape_events table. Supports filtering by type, coin, severity floor, and time window, plus keyset pagination.",
        "operationId": "events",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Repeatable: exact event slug (e.g. depeg.opened) or prefix wildcard (depeg.*).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "query",
            "required": false,
            "description": "Shortcut for type=<class>.* (e.g. class=depeg).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Repeatable canonical stablecoin id filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pegCurrency",
            "in": "query",
            "required": false,
            "description": "Filter to events for a specific peg currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Filter to events on a specific chain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Case-insensitive free-text search filter (trimmed and lowercased).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severityFloor",
            "in": "query",
            "required": false,
            "description": "Drop events below this severity.",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "notice",
                "warning",
                "severe",
                "critical"
              ]
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Lower bound on ts (epoch ms, inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Upper bound on ts (epoch ms, inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor returned as nextCursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Default 50, max 500.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "description": "When true, computes the exact total count.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TapeEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/usds-status": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "USDS freeze status",
        "description": "Sky/USDS protocol status, including whether the freeze module is currently active.",
        "operationId": "usdsStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsdsStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/bluechip-ratings": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Bluechip ratings",
        "description": "Safety ratings from bluechip.org for covered stablecoins.",
        "operationId": "bluechipRatings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BluechipRatingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/dex-liquidity": {
      "get": {
        "tags": [
          "Liquidity"
        ],
        "summary": "DEX liquidity",
        "description": "DEX liquidity scores, top pools, chain/protocol breakdowns, and quality metadata.",
        "operationId": "dexLiquidity",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexLiquidityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/dex-liquidity-history": {
      "get": {
        "tags": [
          "Liquidity",
          "History"
        ],
        "summary": "DEX liquidity history",
        "description": "Historical liquidity-score data for a stablecoin.",
        "operationId": "dexLiquidityHistory",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 90.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexLiquidityHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/report-cards/v9": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Safety Score V9 report cards",
        "description": "Canonical API schema-7 Safety Score report cards from the accepted internal schema-6 publication. Rated partial cards retain excluded-pillar diagnostics; pipeline-gap is a null score and null grade, distinct from NR.",
        "operationId": "reportCardsV9",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCardsV9Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/safety-grades": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Safety Score grades (no key)",
        "description": "Free schema-1, no-key projection of the accepted V9 publication: nullable score/grade, ratingStatus and compact partialEvidence per tracked stablecoin, plus methodology version and publication status. Pipeline-gap never means NR.",
        "operationId": "safetyGrades",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyGradesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/dependency-graph/v1": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Dependency graph (no key)",
        "description": "Free schema-2 projection of the accepted V9 publication: publication-bound node supply, nullable grades, ratingStatus, compact partialEvidence, role summaries and coverage counts, with the published dependency edges unchanged. Held snapshots return no-store and X-Safety-Score-Status: held.",
        "operationId": "dependencyGraphV1",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependencyGraphResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/dependency-scenarios/v1": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Modeled dependency scenarios (no key)",
        "description": "Offline schema-2 production-evaluator scenarios from a V9 publication. Published and modeled rows preserve ratingStatus, compact partialEvidence, nullable grades and null deltas for unavailable scores. Returns a nullable artifact and generation-bound freshness: current, earlier-generation within two hours, stale beyond budget, or unavailable. Hypothetical results never alter canonical scores.",
        "operationId": "dependencyScenariosV1",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependencyScenariosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/depeg-resolver": {
      "get": {
        "tags": [
          "Risk",
          "Peg Monitoring"
        ],
        "summary": "Depeg Duration Resolver",
        "description": "Per active confirmed depeg: a mechanistic resolution outlook (terminal vs recoverable) and a stratified empirical duration estimate with per-horizon resolution likelihood.",
        "operationId": "depegResolver",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdrResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/depeg-resolver-review": {
      "get": {
        "tags": [
          "Risk",
          "Peg Monitoring"
        ],
        "summary": "Depeg Duration Resolver Reviewer",
        "description": "Review of stored DDR predictions against later depeg-event outcomes, including recovery-likelihood accuracy and observed-minus-predicted recovery duration error.",
        "operationId": "depegResolverReview",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DdrrResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/redemption-backstops": {
      "get": {
        "tags": [
          "Risk",
          "Reserves"
        ],
        "summary": "Redemption backstops",
        "description": "Modeled issuer/protocol redemption routes and effective-exit scoring for configured assets.",
        "operationId": "redemptionBackstops",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionBackstopsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stress-signals": {
      "get": {
        "tags": [
          "Risk",
          "Peg Monitoring"
        ],
        "summary": "Stress signals",
        "description": "DEWS-style stress signals for the stablecoin universe or one selected asset. Each current row publishes assessedAt, freshBudgetSec, degradedBudgetSec and newestReturnedComputedAt alongside its generation and ageClassification. Aggregate retainedLastValid compares against the newest returned generation; single-asset rows publish a null comparison basis.",
        "operationId": "stressSignals",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": false,
            "description": "Optional canonical Pharos stablecoin ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Endpoint-specific bounds may apply.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StressSignalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/stability-index": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Pharos Stability Index",
        "description": "Latest Pharos Stability Index with optional detail payload and history. Successful partial samples retain unpriced-event diagnostics and optional current.inputDegradation.supplyUnavailableIds/trendUnavailableIds from the stored snapshot. Unavailable current supply is omitted from denominators and contributors; unusable aggregate market-cap or paired trend inputs preserve the previous sample rather than inventing zero.",
        "operationId": "stabilityIndex",
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "description": "When true, includes detailed input components.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StabilityIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/blacklist": {
      "get": {
        "tags": [
          "Blacklist"
        ],
        "summary": "Blacklist events",
        "description": "Freeze and blacklist events with optional uppercase symbol, chain display-name or chain ID, event type, search, sort, exact-count, and pagination filters. Responses include `chainId` join keys; the `chain` query filter is display-name based.",
        "operationId": "blacklist",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": false,
            "description": "Optional uppercase blacklist-tracker stablecoin symbol filter, for example `USDT` or `USDC`.",
            "schema": {
              "type": "string",
              "enum": [
                "USDC",
                "USDT",
                "PAXG",
                "XAUT",
                "PYUSD",
                "USD1",
                "USDG",
                "RLUSD",
                "U",
                "USDTB",
                "A7A5",
                "FDUSD",
                "BRZ",
                "AUSD",
                "EURI",
                "USDQ",
                "USDO",
                "USDX",
                "AID",
                "TGBP",
                "EURC",
                "BUIDL",
                "USDP",
                "TUSD",
                "NUSD",
                "EURCV",
                "USDA",
                "USAT",
                "AEUR",
                "XUSD",
                "XAUM",
                "JPYC",
                "FRXUSD",
                "FIDD"
              ]
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Optional exact chain display-name filter, for example `Ethereum` or `Tron`. Use response `chainId` fields for programmatic joins.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": false,
            "description": "Optional canonical chain-registry ID filter, for example `ethereum` or `tron`. When both `chain` and `chainId` are supplied, they must identify the same chain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "description": "Optional event type filter.",
            "schema": {
              "type": "string",
              "enum": [
                "blacklist",
                "unblacklist",
                "destroy"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional case-insensitive affected-address substring search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field. Defaults to `date`.",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "stablecoin",
                "chain",
                "event"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction. Defaults to `desc`.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of events to return. Defaults to 1000; `0` maps to the default.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Defaults to 0.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "description": "When false, skips the exact total count.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/blacklist-summary": {
      "get": {
        "tags": [
          "Blacklist"
        ],
        "summary": "Blacklist summary",
        "description": "Blacklist summary statistics, chart data, chain options, manifest-derived coverage metadata, and freeze-ledger data-quality context. Prefer tracked freeze-ledger fields over legacy active-state fields for public frozen exposure.",
        "operationId": "blacklistSummary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/mint-burn-flows": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Mint and burn flows",
        "description": "Mint/burn flow aggregates for the selected window.",
        "operationId": "mintBurnFlows",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": false,
            "description": "Optional canonical Pharos stablecoin ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in hours. Defaults to 24.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 720
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintBurnFlowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/mint-burn-events": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Mint and burn events",
        "description": "Individual mint/burn events for supported stablecoins.",
        "operationId": "mintBurnEvents",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Optional direction filter.",
            "schema": {
              "type": "string",
              "enum": [
                "mint",
                "burn"
              ]
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Optional chain ID within the stablecoin's configured issuance scope.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "burnType",
            "in": "query",
            "required": false,
            "description": "Optional burn classification filter.",
            "schema": {
              "type": "string",
              "enum": [
                "effective_burn",
                "bridge_burn",
                "review_required"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "`counted` returns only rows used in economic-flow aggregates. Defaults to `all`.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "counted"
              ]
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "required": false,
            "description": "Minimum USD amount; unpriced rows are excluded when this filter is used.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Defaults to 0.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor returned as nextCursor; cannot be combined with a non-zero offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "description": "When false, skips the exact total count.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintBurnEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/yield-rankings": {
      "get": {
        "tags": [
          "Yield"
        ],
        "summary": "Yield rankings",
        "description": "Yield-bearing stablecoin rankings with safety, benchmark-aware context, and optional publication/source-risk metadata fields. `?projection=summary` returns the compact workbench contract instead of the detailed rows.",
        "operationId": "yieldRankings",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "required": false,
            "description": "Returns the compact Yield workbench contract while preserving the detailed response as the default.",
            "schema": {
              "type": "string",
              "enum": [
                "summary"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/YieldRankingsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/YieldRankingsSummaryResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/yield-adapter-manifest": {
      "get": {
        "tags": [
          "Yield"
        ],
        "summary": "Yield adapter manifest",
        "description": "Machine-readable source-list manifest for every yield-bearing asset, including adapter family, exact runtime source key when known, source-key pattern for runtime-resolved or disabled strategies, label, chain/project hints, lifecycle state, and methodology version.",
        "operationId": "yieldAdapterManifest",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldAdapterManifestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/yield-history": {
      "get": {
        "tags": [
          "Yield",
          "History"
        ],
        "summary": "Yield history",
        "description": "Historical yield observations for a stablecoin, with optional publication/source-risk metadata fields.",
        "operationId": "yieldHistory",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 90.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "History mode. `best` returns historically selected best-source rows; `source` requires `sourceKey`.",
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "source"
              ]
            }
          },
          {
            "name": "sourceKey",
            "in": "query",
            "required": false,
            "description": "Required with `mode=source`; filters history to a single source key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YieldHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/chains": {
      "get": {
        "tags": [
          "Chains"
        ],
        "summary": "Chains",
        "description": "Chain-level stablecoin aggregates with Chain Health Scores; pass `chain` for full per-chain coin detail rows. `_meta` discloses assessment time and the route's 1800/3600-second freshness bands; an unavailable or degraded Safety Score dependency can also downgrade the verdict. Cache lifetime is bounded by remaining fresh runway.",
        "operationId": "chains",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Optional canonical Pharos chain ID for full per-chain coin detail rows.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/non-usd-share": {
      "get": {
        "tags": [
          "Market Structure",
          "History"
        ],
        "summary": "Non-USD share",
        "description": "Historical non-USD peg share series for market-structure views.",
        "operationId": "nonUsdShare",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 5000; `0` maps to the default.",
            "schema": {
              "type": "integer",
              "minimum": 30,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonUsdShareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/supply-history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Supply history",
        "description": "Historical supply series for a stablecoin.",
        "operationId": "supplyHistory",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 365.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplyHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/safety-score-history": {
      "get": {
        "tags": [
          "Risk",
          "History"
        ],
        "summary": "Safety score history",
        "description": "Long-range safety-score history for a stablecoin.",
        "operationId": "safetyScoreHistory",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 365.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyScoreHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/safety-score-history-v2": {
      "get": {
        "tags": [
          "Risk",
          "History"
        ],
        "summary": "Safety score history (identity-aware)",
        "description": "Boundary-aware safety-score history with full score-model identity and transition kinds; the legacy endpoint remains the V8 compatibility projection.",
        "operationId": "safetyScoreHistoryV2",
        "parameters": [
          {
            "name": "stablecoin",
            "in": "query",
            "required": true,
            "description": "Required canonical Pharos stablecoin ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Historical lookback window in days. Defaults to 365.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyScoreHistoryV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/daily-digest": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Daily digest",
        "description": "Latest AI-generated stablecoin market digest.",
        "operationId": "dailyDigest",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyDigestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/digest-archive": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Digest archive",
        "description": "Archive of daily and weekly digests.",
        "operationId": "digestArchive",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestArchiveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/digest-snapshot": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Digest snapshot",
        "description": "Build-time digest context snapshot for a specific digest date.",
        "operationId": "digestSnapshot",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Digest date slug, for example `2026-03-16`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/snapshots/index": {
      "get": {
        "tags": [
          "Digest"
        ],
        "summary": "Public snapshot index",
        "description": "Listing of available daily public snapshots with content hashes and methodology versions, newest first. Keyset-paginated: pass `pagination.nextCursor` as `cursor` while `pagination.hasMore` is true.",
        "operationId": "snapshotsIndex",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of snapshot dates to return. Defaults to 500.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Exclusive upper bound `YYYY-MM-DD` returned as `pagination.nextCursor`; pages older dates.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/snapshots/{date}.json": {
      "get": {
        "tags": [
          "Digest",
          "History"
        ],
        "summary": "Public snapshot for a single day",
        "description": "Full per-day public dataset snapshot (camelCase). Immutable artifact keyed by YYYY-MM-DD; served with public, immutable, max-age=1y cache headers.",
        "operationId": "snapshotsDateJson",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "ISO 8601 date (YYYY-MM-DD) matching a row in the snapshot index.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/snapshot/{date}/stablecoin/{stablecoinId}": {
      "get": {
        "tags": [
          "Digest",
          "Stablecoins",
          "History"
        ],
        "summary": "Public snapshot projection for a single coin",
        "description": "Per-coin slice of a daily snapshot (camelCase). Immutable artifact keyed by YYYY-MM-DD + stablecoin id; served with public, immutable, max-age=1y cache headers.",
        "operationId": "snapshotDateStablecoinStablecoinId",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "ISO 8601 date (YYYY-MM-DD) matching a row in the snapshot index.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stablecoinId",
            "in": "path",
            "required": true,
            "description": "Stablecoin id (lowercase-kebab).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotCoinResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/public-status-history": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Public status history",
        "description": "Public status timeline for the Pharos system.",
        "operationId": "publicStatusHistory",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Status history window.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatusHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    },
    "/api/telegram-pulse": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Telegram pulse",
        "description": "Lightweight public telemetry for Telegram alert surfaces.",
        "operationId": "telegramPulse",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response. See the public API reference for endpoint-specific payload fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramPulseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable or cache not populated"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Required for protected public routes on https://api.pharos.watch."
      }
    },
    "schemas": {
      "JsonValue": {
        "description": "Endpoint-specific JSON response. See https://pharos.watch/about/api/ for detailed contracts."
      },
      "SharedComponents": {
        "$defs": {
          "Shared_version_versionLabel_currentVersion": {
            "type": "object",
            "properties": {
              "version": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string"
              },
              "versionLabel": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_35"
              },
              "currentVersion": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_66"
              },
              "currentVersionLabel": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_106"
              },
              "changelogPath": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_143"
              },
              "asOf": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number_53"
              },
              "isCurrent": {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_boolean_18"
              }
            },
            "required": [
              "version",
              "versionLabel",
              "currentVersion",
              "currentVersionLabel",
              "changelogPath",
              "asOf",
              "isCurrent"
            ],
            "additionalProperties": false
          },
          "Shared_string": {
            "type": "string"
          },
          "Shared_array": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "logoPath": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "evm",
                    "tron",
                    "other"
                  ]
                },
                "totalUsd": {
                  "type": "number"
                },
                "change24h": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "change24hPct": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "change7d": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "change7dPct": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "change30d": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "change30dPct": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "stablecoinCount": {
                  "type": "number"
                },
                "dominantStablecoin": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_8"
                    },
                    "symbol": {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_12"
                    },
                    "share": {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number_3"
                    }
                  },
                  "required": [
                    "id",
                    "symbol",
                    "share"
                  ],
                  "additionalProperties": false
                },
                "topStablecoins": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_8"
                      },
                      "symbol": {
                        "$ref": "#/components/schemas/SharedComponents/$defs/Shared_string_12"
                      },
                      "share": {
                        "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number_3"
                      },
                      "supplyUsd": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "symbol",
                      "share",
                      "supplyUsd"
                    ],
                    "additionalProperties": false
                  }
                },
                "dominanceShare": {
                  "type": "number"
                },
                "healthScore": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "healthBand": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "robust",
                        "healthy",
                        "mixed",
                        "fragile",
                        "concentrated"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "healthFactors": {
                  "type": "object",
                  "properties": {
                    "concentration": {
                      "type": "number"
                    },
                    "quality": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "pegStability": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "backingDiversity": {
                      "type": "number"
                    },
                    "chainEnvironment": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "concentration",
                    "quality",
                    "pegStability",
                    "backingDiversity",
                    "chainEnvironment"
                  ],
                  "additionalProperties": false
                },
                "pegStabilityCoverage": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "partial",
                        "unavailable"
                      ]
                    },
                    "observedSupplyUsd": {
                      "type": "number",
                      "minimum": 0
                    },
                    "eligibleSupplyUsd": {
                      "type": "number",
                      "minimum": 0
                    },
                    "coverage": {
                      "$ref": "#/components/schemas/SharedComponents/$defs/Shared_number"
                    },
                    "noUsablePriceSupplyUsd": {
                      "type": "number",
                      "minimum": 0
                    },
                    "noPegReferenceSupplyUsd": {
                      "type": "number",
                      "minimum": 0
                    },
                    "neutralImputedSupplyUsd": {
                      "type": "number",
                      "minimum": 0
                    },
                    "observedScore": {
                      "type": [
                        "number",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "observedSupplyUsd",
                    "eligibleSupplyUsd",
                    "coverage",
                    "noUsablePriceSupplyUsd",
                    "noPegReferenceSupplyUsd",
                    "neutralImputedSupplyUsd",
                    "observedScore"
                  ],
                  "additionalProperties": false
                },
                "unavailableSupplyObservationCount": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "chainEnvironmentEvidence": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "const": "l2beat"
                        },
                        "score": {
                          "type": "number"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "stage": {
                          "type": "string",
                          "enum": [
                            "Stage 0",
                            "Stage 1",
                            "Stage 2",
                            "Not applicable",
                            "Under review"
                          ]
                        },
                        "isUnderReview": {
                          "type": "boolean"
                        },
                        "stageScore": {
                          "type": "number"
                        },
                        "riskScore": {
                          "type": "number"
                        },
                        "risks": {
                          "type": "object",
                          "properties": {
                            "sequencerFailure": {
                              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_value_sentiment"
                            },
                            "stateValidation": {
                              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_value_sentiment"
                            },
                            "dataAvailability": {
                              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_value_sentiment"
                            },
                            "exitWindow": {
                              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_value_sentiment"
                            },
                            "proposerFailure": {
                              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_value_sentiment"
                            }
                          },
                          "required": [
                            "sequencerFailure",
                            "stateValidation",
                            "dataAvailability",
                            "exitWindow",
                            "proposerFailure"
                          ],
                          "additionalProperties": false
                        },
                        "snapshot": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string"
                            },
                            "fetchedAt": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "source",
                            "fetchedAt"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "source",
                        "score",
                        "projectId",
                        "slug",
                        "name",
                        "stage",
                        "isUnderReview",
                        "stageScore",
                        "riskScore",
                        "risks",
                        "snapshot"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "const": "pharos-chain-tier"
                        },
                        "score": {
                          "type": "number"
                        },
                        "resilienceTier": {
                          "anyOf": [
                            {
                              "type": "number",
                              "const": 1
                            },
                            {
                              "type": "number",
                              "const": 2
                            },
                            {
                              "type": "number",
                              "const": 3
                            }
                          ]
                        }
                      },
                      "required": [
                        "source",
                        "score",
                        "resilienceTier"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "logoPath",
                "type",
                "totalUsd",
                "change24h",
                "change24hPct",
                "change7d",
                "change7dPct",
                "change30d",
                "change30dPct",
                "stablecoinCount",
                "dominantStablecoin",
                "topStablecoins",
                "dominanceShare",
                "healthScore",
                "healthBand",
                "healthFactors"
              ],
              "additionalProperties": false
            }
          },
          "Shared_string_2": {
            "default": "scheduled_24h",
            "type": "string",
            "enum": [
              "scheduled_24h",
              "forecast_readiness",
              "readiness_backstop"
            ]
          },
          "Shared_Union": {
            "default": null,
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string"
                  },
                  "score": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "strictEarlyLockReady": {
                    "type": "boolean"
                  },
                  "reasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": [
                            "input_coverage",
                            "resolution_signal",
                            "duration_support",
                            "observation_maturity"
                          ]
                        },
                        "label": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "weight": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "score",
                        "weight",
                        "reason"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "version",
                  "score",
                  "threshold",
                  "strictEarlyLockReady",
                  "reasons",
                  "components"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_Union_2": {
            "default": null,
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string"
                  },
                  "delaySec": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "backstopAt": {
                    "default": null,
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "reached": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "version",
                  "delaySec",
                  "backstopAt",
                  "reached"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_string_3": {
            "type": "string",
            "enum": [
              "public_prediction",
              "pending",
              "erratum"
            ]
          },
          "Shared_Union_3": {
            "type": [
              "string",
              "null"
            ]
          },
          "Shared_Union_4": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_Union_5": {
            "type": [
              "string",
              "null"
            ]
          },
          "Shared_Union_6": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_trainingWindow_eventCount_incidentCount"
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_Union_7": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_Union_8": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_id_state_publicPredictionId"
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_number": {
            "type": "number"
          },
          "Shared_id_state_publicPredictionId": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "state": {
                "type": "string",
                "const": "invalidated"
              },
              "publicPredictionId": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "incidentKey": {
                "type": "string"
              },
              "eventId": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "assessmentId": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "reason": {
                "type": "string",
                "enum": [
                  "false_positive",
                  "disputed",
                  "no_data",
                  "event_identity_error",
                  "input_corruption",
                  "lifecycle_status_error",
                  "implementation_bug",
                  "hash_mismatch"
                ]
              },
              "createdAt": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "operatorNote": {
                "type": "string"
              },
              "rowHashBefore": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "replacementAssessmentId": {
                "anyOf": [
                  {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "replacementRowHash": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdBy": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "state",
              "publicPredictionId",
              "incidentKey",
              "eventId",
              "assessmentId",
              "reason",
              "createdAt",
              "operatorNote",
              "rowHashBefore",
              "replacementAssessmentId",
              "replacementRowHash",
              "createdBy"
            ],
            "additionalProperties": false
          },
          "Shared_integer": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "Shared_array_2": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedComponents/$defs/Shared_id_state_publicPredictionId"
            }
          },
          "Shared_currentEventId_ageSec_peakDeviationBps": {
            "type": "object",
            "properties": {
              "currentEventId": {
                "anyOf": [
                  {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "ageSec": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "peakDeviationBps": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "currentDeviationBps": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "eventState": {
                "type": "string",
                "enum": [
                  "active",
                  "closed_pending_review",
                  "source_event_missing",
                  "event_invalidated"
                ]
              },
              "updatedAt": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "stale": {
                "type": "boolean"
              },
              "degradedReason": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "currentEventId",
              "ageSec",
              "peakDeviationBps",
              "currentDeviationBps",
              "eventState",
              "updatedAt",
              "stale",
              "degradedReason"
            ],
            "additionalProperties": false
          },
          "Shared_integer_2": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "Shared_Union_9": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_string_4": {
            "type": "string"
          },
          "Shared_string_5": {
            "type": "string"
          },
          "Shared_string_6": {
            "type": "string"
          },
          "Shared_string_7": {
            "type": "string"
          },
          "Shared_string_8": {
            "type": "string"
          },
          "Shared_string_9": {
            "type": "string"
          },
          "Shared_string_10": {
            "type": "string"
          },
          "Shared_integer_3": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "Shared_integer_4": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "Shared_string_11": {
            "type": "string",
            "enum": [
              "active",
              "recovered",
              "terminal",
              "orphan_closed",
              "data_issue",
              "missing",
              "invalidated"
            ]
          },
          "Shared_Union_10": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_Union_11": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SharedComponents/$defs/Shared_start_end"
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_start_end": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "end": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "start",
              "end"
            ],
            "additionalProperties": false
          },
          "Shared_Union_12": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "day",
                  "month",
                  "unknown"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "Shared_autoRepaired_repairSources_parentIncidentKey": {
[...]
