{
  "openapi": "3.1.0",
  "info": {
    "title": "Kawaa API",
    "version": "1.0.0",
    "summary": "Email verification, list hygiene and deliverability, over HTTP.",
    "description": "The core Kawaa REST API: verify an address or a list, follow the job, read the results, and check how a domain is set up to send mail.\n\nThis document describes the endpoints a customer integration uses. It is not the whole surface: profile and security settings (password, two-factor, sessions), billing and subscription changes and team management are reachable but not modelled here, because a specification is only worth having if every line of it is kept true, and they have no page at https://kawaa.com/docs/ yet either. Some operations that do have a page there are not modelled here either, and that page is their only reference: the white-label API (`POST /v1/white-label/sub-accounts`, `GET /v1/white-label/sub-accounts`, `GET /v1/white-label/sub-accounts/{subAccountId}`, `PUT /v1/white-label/sub-accounts/{subAccountId}`, `DELETE /v1/white-label/sub-accounts/{subAccountId}`, `POST /v1/white-label/sub-accounts/{subAccountId}/allocate`, `POST /v1/white-label/sub-accounts/{subAccountId}/reset-key`, `GET /v1/white-label/usage` and `GET /v1/white-label/usage/{subAccountId}`) at https://kawaa.com/docs/api/white-label/, the domain activity lookup (`GET /v1/activity/domain/{domain}`) at https://kawaa.com/docs/api/activity/#domain-activity, and the tracking links (`POST /v1/tracking/links` and `PUT /v1/tracking/links/{id}`), whose limits are at https://kawaa.com/docs/api/activity/#tracking-link-limits. The HubSpot, Salesforce and Mailchimp integrations are not available yet: their authorize routes answer 503 `INTEGRATION_NOT_CONFIGURED`, so no account can connect one. The guides at https://kawaa.com/docs/ cover verification, batch jobs, account and API keys, webhooks, activity, deliverability and the white-label API; the email finder (`POST /v1/find`, `POST /v1/find/bulk`), the domain lookup (`GET /v1/domain/{domain}`) and the billing catalogue (`GET /v1/billing/plans`, `GET /v1/billing/credit-packages`) are described only in this document.\n\n\n\n**API key scopes.** A key can be limited to a list of scopes. Each operation below carries `x-kawaa-scopes` naming every scope it requires (more than one where a route genuinely touches two areas). `x-kawaa-unscoped-only: true` marks an operation a scoped key may not use at all, whatever it holds: it mints a credential, or it acts across every tenant. An operation with neither extension needs no credential. An unrestricted key (which is what every key is unless it was created with scopes) reaches everything. An OAuth access token is always scoped: an operation it can call lists the `OAuth2` scheme in its `security`, with the scopes it requires, and an authenticated operation that does not list it refuses one whatever scopes it holds.\n\n**AI agents.** The same product is served over the Model Context Protocol at `https://api.kawaa.com/mcp`, authenticated with the same API key as an HTTP bearer token, or with an OAuth access token an agent obtains by signing in (the `OAuth2` security scheme). Twelve tools cover verification, bulk jobs (including stopping one), results and deliverability; every tool call is a call to a route described here, so the scopes, rate limits, credit accounting and idempotency below apply to it unchanged. An agent is not a separate entitlement: it is a caller. Setup for Claude Code, Codex, Cursor and Antigravity is at https://kawaa.com/docs/mcp/, and the protocol surface itself is not modelled in this document: this describes the REST API the tools call.",
    "termsOfService": "https://kawaa.com/terms/",
    "contact": {
      "name": "Kawaa support",
      "url": "https://kawaa.com/support/",
      "email": "support@kawaa.com"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Kawaa-Terms"
    },
    "x-jentic-source-url": "https://kawaa.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.kawaa.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getHealth",
        "summary": "Liveness probe",
        "description": "Answers without authentication. Not a status page: https://status.kawaa.com reports component health.",
        "security": [],
        "responses": {
          "200": {
            "description": "The API is serving, but **read `status` in the body before concluding it is healthy**. A degraded dependency does not always change the status code: a worker dead-letter-queue probe that fails or reads above its threshold sets `status: \"degraded\"` while leaving `healthy: true`, and the response is still 200. A monitor that watches only the status code misses worker degradation entirely.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "healthy"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "service": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "service",
                    "version"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "A dependency probe failed. The SAME JSON shape as 200, with `status: \"degraded\"`. A monitor that treats only 200 as a valid response stops reading precisely when the endpoint has something to say.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "degraded",
                      "description": "Always `degraded` on a 503; this response exists to report one.",
                      "examples": [
                        "degraded"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "service": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "service",
                    "version"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "tags": [
          "Verification"
        ],
        "operationId": "verifyEmail",
        "summary": "Verify one address",
        "description": "Verifies a single address and answers with the verdict. Charges 1 credit, or 0.5 when the result is served from cache. The verdict does not change the price: an `unknown`, `risky` or `catch_all` result costs 1 credit, and is never served from cache.\n\nIf verification does not finish inside the request window the response is still `200`, with `status: \"pending\"` and a `job_id` instead of a result. Poll `GET /v1/jobs/{id}` for the result. Calling this again while that check is still running joins it rather than charging again (below); once it has its answer, a repeat is a new request at the usual price.\n\n**Without a key, an identical request that arrives while the first is still in flight is not charged again.** The same account asking for the same normalized address with the same `deep_verify`, `include_ai`, `enrich`, `skip_cache` and `include_activity` (`timeout_ms` does not count) joins the earlier request's verification: it is answered with that verification's result when it is ready inside this request's wait, or with the pending shape carrying the same `job_id`, and either way with `credits_used: 0` and `idempotent_replay: true`. If that attempt ends without an answer while this request waits (it was refunded), this request gets a retryable `503` with `nothing_charged: true` instead. A concurrent pair is charged once. A verification counts as in flight until its answer exists, and for at most 15 minutes after its charge (the age at which job reconciliation refunds an unanswered one). A request that arrives after the answer existed is priced exactly as before: 0.5 credits from cache, or 1 for a fresh check. Another account's verification is never joined.\n\nSend `Idempotency-Key` to make a retry safe at any time.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Just the address",
                  "value": {
                    "email": "user@example.com"
                  }
                },
                "deep": {
                  "summary": "With options",
                  "value": {
                    "email": "user@example.com",
                    "options": {
                      "deep_verify": true,
                      "include_ai": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A verdict, or `status: \"pending\"` when the check is still running.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/VerificationResult"
                        },
                        {
                          "$ref": "#/components/schemas/PendingVerification"
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "One of two codes, and this answer adds no charge in either case. `IDEMPOTENCY_KEY_CONFLICT`: the `Idempotency-Key` was used before for a different request on this route. Repeat the original request exactly, or use a new key. `CONFLICT` with `retryable: true` and a `Retry-After`: a copy of this same request under the same key is being queued right now. Repeat it with the SAME key after that delay, and the repeat returns the job (`idempotent_replay: true`, `credits_used: 0`). A new key buys the verification a second time.",
            "headers": {
              "Retry-After": {
                "description": "Present with `CONFLICT`: seconds until the copy's dispatch lease runs out.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/IdempotentJobExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Something failed after the request was accepted, and **the message says what that means for the money**. A keyed dispatch whose lease could not be confirmed asks you to retry with the SAME `Idempotency-Key`: the work may already be running, and a fresh key buys it again. A batch that was charged and could not create its job attempts a refund and says whether that succeeded. Do not retry blind, and do not assume the debit was restored. Read `error.message`, and check `GET /v1/jobs` before resubmitting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ]
      }
    },
    "/v1/verify/batch": {
      "post": {
        "tags": [
          "Verification"
        ],
        "operationId": "verifyEmailBatch",
        "summary": "Verify a list of addresses",
        "description": "Submits up to your plan's batch size in unique, well-formed addresses (Free 100, Starter 1,000, Professional and Business 5,000, Enterprise 10,000; more is a 413, and the raw list may hold at most 10,000 entries) and answers immediately with a `job_id`. Charges about 1 credit per address at the moment the job is accepted, not when it finishes.\n\nFollow it with `GET /v1/jobs/{id}`, or supply `webhook_url` and be told. Send `Idempotency-Key` to make a retry safe.\n\n`options.timeout_ms` is refused: it bounds the synchronous wait on `POST /v1/verify` and nothing on this path honours it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyBatchRequest"
              },
              "examples": {
                "poll": {
                  "summary": "Poll for the result",
                  "value": {
                    "emails": [
                      "a@example.com",
                      "b@example.com"
                    ]
                  }
                },
                "webhook": {
                  "summary": "Be called when it finishes",
                  "value": {
                    "emails": [
                      "a@example.com"
                    ],
                    "webhook_url": "https://YOUR-ENDPOINT.example.com/kawaa"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and charged. The verdicts arrive on the job.\n\n**A replay is also a 202, and it charged nothing.** Repeating the submission under the same `Idempotency-Key` returns the ORIGINAL job with `idempotent_replay: true` and `credits_used: 0`. Read those two fields before reconciling a debit from this status: the 202 alone does not distinguish a new paid job from a recovered one. A repeat that arrives while another request under the key is still queueing the batch is a replay too, with `dispatch_in_progress: true` and a `Retry-After` header: repeat after the delay, or poll the job.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "description": "Present with `dispatch_in_progress`: how long to wait before retrying the identical request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/BatchAccepted"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "410": {
            "$ref": "#/components/responses/IdempotentJobExpired"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Something failed after the request was accepted, and **the message says what that means for the money**. A keyed dispatch whose lease could not be confirmed asks you to retry with the SAME `Idempotency-Key`: the work may already be running, and a fresh key buys it again. A batch that was charged and could not create its job attempts a refund and says whether that succeeded. A debit whose outcome could not be confirmed (it timed out, and its write may still land) says so: repeat it with the SAME key (without one, the identical batch within 15 minutes), and the repeat returns the batch if it was charged or charges it once if it was not. Do not retry blind, and do not assume the debit was restored. Read `error.message`, and check `GET /v1/jobs` before resubmitting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ]
      }
    },
    "/v1/verify/file": {
      "post": {
        "tags": [
          "Verification"
        ],
        "operationId": "verifyFile",
        "summary": "Verify a CSV, TSV or TXT upload",
        "description": "Two steps. `action: \"get_upload_url\"`, with the file's `filename` and its `file_size` in bytes, returns a presigned URL and a `file_key`; PUT the file to that URL, then call again with `action: \"process\"` and the `file_key`. The URL accepts exactly `file_size` bytes, up to 50 MB.\n\n**CSV, TSV and TXT only.** An `.xlsx` filename is refused at the handshake with `400 Only CSV, TSV and TXT files are supported`, before any upload, and a workbook uploaded under a text name is refused by `process` with `400 This looks like an Excel file. Save it as CSV UTF-8 and upload again.` The name also says how the file is read: a `.csv` or `.tsv` as delimited records whatever `Content-Type` it was PUT with, and a `.txt` one address per line unless it was PUT with a CSV `Content-Type` such as `text/csv`. Text in UTF-8, UTF-16 (with or without a byte-order mark) or Windows-1252 (Excel's plain CSV on Windows) is read as such.\n\n**Addresses come from one column**, which the response names in `email_column`: the column whose header names it (`Email`, `E-mail`, `E-Mail-Adresse`, `Correo electrónico`, `Courriel` and other languages), else the first header that mentions email with addresses under it, preferring one that is not a manager's, owner's, CC or second address, else the column with the most addresses. The full rule is at https://kawaa.com/docs/api/batch/#file-upload.\n\n**What `process` charges: one credit per address**, counted after invalid entries and duplicates are removed, and debited up front: a 50,000-row file with 9,300 distinct valid addresses is a 9,300-credit debit before any verification starts. Check the balance first; the plan's batch ceiling also applies. An address that definitively fails to enqueue is refunded; one whose dispatch is ambiguous is reported in `enqueue_unknown` with its credits in `credits_held` until reconciliation settles it.\n\nThe `process` action accepts `Idempotency-Key`. Any field the chosen action does not read is a 400 rather than silently ignored. A `webhook_secret` alongside `webhook_url` signs the completion callback, as on `POST /v1/verify/batch`; without one the callback is delivered **unsigned**, so treat its body as a hint to go and read `GET /v1/jobs/{job_id}` rather than as evidence.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/FileUploadUrlRequest"
                  },
                  {
                    "$ref": "#/components/schemas/FileProcessRequest"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A presigned upload URL and the key to submit with it (for `get_upload_url`). Nothing is charged by this step.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "upload_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "PUT the file here, unchanged, with no extra headers. It accepts exactly the `file_size` declared: a body of any other length is refused with `403 SignatureDoesNotMatch`. It is a presigned S3 URL: anyone holding it can write that one object, so treat it as a credential."
                        },
                        "file_key": {
                          "type": "string",
                          "description": "Pass this back as `file_key` on the `process` call. It is scoped to your account: a key from another account is refused with 403.",
                          "examples": [
                            "uploads/usr_123/2026-09-17/list.csv"
                          ]
                        },
                        "expires_in_seconds": {
                          "type": "integer",
                          "description": "How long `upload_url` stays valid. Ask for a new one rather than retrying an expired PUT.",
                          "examples": [
                            900
                          ]
                        },
                        "next_step": {
                          "type": "string",
                          "description": "The same instruction in prose, for a caller reading the response rather than this document."
                        }
                      },
                      "required": [
                        "upload_url",
                        "file_key",
                        "expires_in_seconds"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "The file was accepted and charged (for `process`). Poll `GET /v1/jobs/{job_id}`; the counts here describe what was accepted, not what was verified.\n\n**A replay is also a 202, and it charged nothing.** Repeating the submission under the same `Idempotency-Key` returns the ORIGINAL job with `idempotent_replay: true` and `credits_used: 0`. Read those two fields before reconciling a debit from this status: the 202 alone does not distinguish a new paid job from a recovered one.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "description": "Present with `dispatch_in_progress`: how long to wait before retrying the identical request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string",
                          "description": "The job to poll. The only way back to work that has been charged for."
                        },
                        "status": {
                          "type": "string",
                          "description": "Where the job starts: `processing`, or `enqueue_unknown` when some addresses' dispatch could not be confirmed. `completed` when some addresses could not be queued (they are refunded) and every other one already had a result before this answer was sent."
                        },
                        "total_submitted": {
                          "type": "integer",
                          "description": "Rows read from the file, including the invalid ones."
                        },
                        "duplicates_removed": {
                          "type": "integer"
                        },
                        "invalid_emails_skipped": {
                          "type": "integer",
                          "description": "Rows that were not addresses. Skipped, not charged for, and not in the job."
                        },
                        "unique_emails": {
                          "type": "integer",
                          "description": "Addresses the job will verify: what `credits_used` was charged for, except where dispatch was ambiguous (see `credits_held`)."
                        },
                        "email_column": {
                          "type": "object",
                          "description": "The column the addresses were read from. Check it when the file has more than one column of addresses: only this one was verified and charged for. Absent on a replay of a job accepted before this field existed.",
                          "properties": {
                            "index": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "Its position, from 0 for the leftmost column."
                            },
                            "name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Its header as written (trimmed, and cut to 200 characters), or null when the file has no header row."
                            }
                          },
                          "required": [
                            "index",
                            "name"
                          ]
                        },
                        "credits_used": {
                          "type": "number",
                          "description": "Debited when the file was accepted, before any verification ran."
                        },
                        "credits_remaining": {
                          "type": "number",
                          "description": "Omitted when the balance could not be read. Its absence is not a zero balance."
                        },
                        "credits_refunded": {
                          "type": "number",
                          "description": "Returned for addresses that definitively failed to enqueue."
                        },
                        "credits_held": {
                          "type": "number",
                          "description": "Charged but not yet settled: addresses whose dispatch is unconfirmed, pending reconciliation. Neither spent nor refunded yet."
                        },
                        "enqueue_unknown": {
                          "type": "integer",
                          "description": "Addresses whose dispatch could not be confirmed. They may or may not be verified; `credits_held` covers them until reconciliation decides."
                        },
                        "dispatch_in_progress": {
                          "type": "boolean",
                          "description": "A request under this same `Idempotency-Key` is still being dispatched. Nothing more was charged. Retry after `Retry-After`, or just poll the job."
                        },
                        "dispatch_settlement_pending": {
                          "type": "boolean",
                          "description": "Dispatch finished but its credit adjustment has not settled. Nothing more was charged."
                        },
                        "idempotent_replay": {
                          "type": "boolean",
                          "description": "This returned an earlier submission under the same key and charged nothing."
                        },
                        "message": {
                          "type": "string",
                          "description": "Prose for whichever of the above happened."
                        }
                      },
                      "required": [
                        "job_id",
                        "status",
                        "unique_emails",
                        "credits_used"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "`action: \"process\"` named a `file_key` with no object behind it: the presigned PUT was never completed, or the upload failed. Recoverable and free: nothing was charged, because the charge happens after the file is read. Get a fresh URL with `action: \"get_upload_url\"`, upload again, and process the new key. Distinct from the 500 below, which happens AFTER the debit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "410": {
            "$ref": "#/components/responses/IdempotentJobExpired"
          },
          "413": {
            "description": "`BATCH_SIZE_EXCEEDED`: the file is more than one job takes: more distinct addresses than the plan allows, more than 100,000 distinct addresses on any plan, or over 50 MB (`get_upload_url` refuses a `file_size` over 50 MB the same way, before the upload). Also a file that could not be read within 20 seconds of the request arriving, such as millions of blank or repeated rows: it is refused rather than charged after the connection would have timed out. (When the 20 seconds ran out before the file was read at all, the answer is the 503 below, not this.) The message quotes the limit that applies; counting stops there, so it says \"more than\" the limit rather than the file's total. A capacity refusal, not malformed input, answered the same way as a batch over its limit. Nothing was charged. Split the file and submit the parts as separate jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Something failed after the file was charged for, and **the message says what that means for the money**. A keyed attempt that could not be recovered asks you to retry with the SAME `Idempotency-Key`; a job that could not be created after the debit says explicitly whether the refund succeeded. Do not retry with a fresh key, and do not assume the debit was restored. Read `error.message` and check `GET /v1/jobs`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Nothing was charged, and `retryable: true`. Among the reasons:\n\n- The retry protection for this `Idempotency-Key` could not be resolved: its receipt was unreadable, a concurrent attempt is still confirming, or an earlier attempt was refunded. Nothing was charged for this request. **Retry with the SAME key**: a fresh one starts a new paid job.\n- The request used up its 20-second charge budget before the file was read at all (authentication, the key's receipt, the webhook's DNS check, a slow start or S3's first response took it), so no job was started. The file was not the cause: send the same request again, with the same `Idempotency-Key` if it had one. A file that is itself too slow to read is the 413 instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ]
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "listJobs",
        "summary": "List verification jobs",
        "description": "Newest first. `total` counts every job matching the listing, not just the page. Paginate on `has_more` and `next_offset`.\n\n`total_is_approximate: true` means the count stopped at its scan bound, so `total` is a floor.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only jobs in this state. `cancelled` is a real equality filter like any other value, and now returns the jobs stopped through `POST /v1/jobs/{id}/cancel`.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "completed",
                "failed",
                "cancelled",
                "enqueue_unknown"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The `next_offset` from the previous page. Opaque; do not construct one. A value that does not decode or is not in the shape this endpoint issues is a 400 with code `INVALID_CURSOR`; start again without it. An empty `offset=` is read as no offset, the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Return batch and uploaded-file jobs, including legacy bulk and file job labels. Omit this filter to include single-address verifications. Any other present value returns HTTP 400.",
            "schema": {
              "type": "string",
              "enum": [
                "batch"
              ]
            }
          }
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/JobPage"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-kawaa-scopes": [
          "verification:read"
        ]
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getJob",
        "summary": "Job progress and results",
        "description": "Progress counts, and the per-address results when the job has produced any.\n\nPass `include_results=false` while polling: dragging a 10,000-row result set through every poll to learn a percentage is expensive for both sides. Results page with `limit` and `next_key`.\n\n**A job id is matched case-insensitively.** Every id is issued lower-case; an upper-cased copy reads the same job (it used to pass the UUID check and then 404).\n\n**A cached result row states the cache price once it has been billed at it.** The worker copies a cached result's original `credits_used: 1`. When the job's cache discount has been applied (a batch refunds the difference per cached row only after it reaches `completed` or `cancelled`; a single verification settles the same discount), a row with `from_cache: true` reads `credits_used: 0.5`. Before that (a job still running, or a finished one whose discount attempt failed and reports `cache_discount_pending`), or for a legacy verification with no job row to discount it, the row keeps the full credit that is still being held. Reconcile the charge from the job's `status`, `credits_used` and `credits_refunded`; the absence of `cache_discount_pending` alone does not mean the discount was applied.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "name": "include_results",
            "in": "query",
            "description": "`false` (or `0`) leaves the results array out; `true` (or `1`), or leaving the parameter out, includes it. Case-insensitive: `FALSE` and `False` are `false`. **Anything else is a 400**, including an empty value and `no`: `parseIncludeResults` refuses it before the job is read, rather than guessing. Until 2026-09-25 only the exact string `false` turned results off, so `0`, `no` and `FALSE` silently returned the whole page.",
            "schema": {
              "type": "string",
              "pattern": "^(?:[Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee]|1|0)$",
              "default": "true"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page, 1 to 1000 (default 100). A malformed, fractional, zero, negative or larger value is a 400 rather than clamped, the same `parseListLimitParam` rule `GET /v1/jobs` applies to its own `limit`. Until 2026-09-25 `limit=1001` was silently clamped to 1,000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "next_key",
            "in": "query",
            "description": "The `next_key` from the previous page. Opaque. It is read only for a batch or file job when results are returned (`include_results` on and the job has processed rows), and ignored otherwise. A single verification's job (the `job_id` from `POST /v1/verify`) has one result and never reads it, so any value there answers 200 with that result. When it is read, a value that does not decode or is not in the shape this endpoint issues is a 400 with code `INVALID_CURSOR`; start again without it. An empty `next_key=` is read as no key, the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Job"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Only with `include_results`. `RESULT_SUPERSEDED`, `retryable: false`: a result in this job was produced by an older version of the verification classifier (for example a free-mail address stored as `disposable` before the provider exception), and the API withholds the whole page rather than publish a verdict the current classifier would not give, or silently drop the row. A completed job's rows are final, so the same request is refused the same way after any wait, and it carries no `Retry-After`. Verify those addresses again (a new job, charged as usual) to get current verdicts. Until 2026-10-02 this was `SERVICE_UNAVAILABLE` with `retryable: true`, and clients retried it as an outage. Any other 503 here is the shared one (`error.retryable` says whether waiting cures it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-kawaa-scopes": [
          "verification:read"
        ]
      }
    },
    "/v1/jobs/{id}/download": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "downloadJobResults",
        "summary": "Download a job's results",
        "description": "The whole result set as CSV or JSON, optionally filtered to one status. A large result set is answered with a short-lived presigned URL rather than inline.\n\n**Check `complete` before treating the file as the job's results.** The export is read from an eventually-consistent index, so a job that has just flipped to `completed` can be exported before its last rows are visible. Every JSON response here (the inline one and the presigned-link one) carries `complete`, `expected_rows` and `rows_missing`, measured against the job's own `processed_emails`. A short JSON export is reported, not refused: the index normally catches up within seconds, so request it again.\n\n**A `format=csv` export that is known to be short is refused with `409` (`retryable: true`), not served.** The bytes of a CSV have nowhere to carry the verdict, and a file that looks complete and is not is worse than no file. The refusal names the shortfall and offers `format=json`, which returns the rows that do exist together with the shortfall, inline. Note the size of a *filtered* export does not bound this: a selective filter on a large job can produce a handful of rows from a read that was badly short.\n\n**An empty read is not automatically a 404.** If the job counts addresses it finished and none of their rows are readable, the route answers `409` with `retryable: true` rather than `404 No results found for this job`. Retrying is the right next action and also distinguishes the two possible causes: the index catching up, which clears in seconds, or the rows having passed the plan's data-retention window, in which case they are gone. A job that genuinely produced no rows still answers 404.\n\nThe presigned URL is bound to the exact object version this request wrote, so the `complete` it arrives with describes the bytes it serves, even when two requests for the same export overlap. If that version cannot be bound, the route answers `503` rather than hand out an unbound link.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(?:[Cc][Ss][Vv]|[Jj][Ss][Oo][Nn])$",
              "default": "csv"
            },
            "description": "Case-insensitive: the handler lower-cases the query value before validating it, so `CSV` and `csv` are the same request. Expressed as a pattern rather than an enum, which can only list casings. Accepted values: `csv`, `json`."
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Export only part of the job. FOUR OF THESE ARE SUMMARY BUCKETS, not exact verdicts, because they mirror the counts in the job summary: `invalid` also returns disposable addresses; `risky` also returns catch_all, role and spam_trap; `unknown` also returns rows with no stored status at all. `valid` is exact, and so are the finer four: `catch_all`, `disposable`, `role` and `spam_trap` each return only themselves. Building a suppression list from `invalid` therefore gets the disposable addresses too, which is usually what is wanted; ask for the exact verdict when it is not. `all` is accepted and is the explicit no-op: the handler treats it as \"no filter\" and names it in the 400 it returns for anything else, so it is spelled out here rather than left to `VerificationStatus`, which does not contain it. Case-insensitive: the handler lower-cases the query value before validating it, so `ALL` and `all` are the same request. Expressed as a pattern rather than an enum, which can only list casings. Accepted values: `all`, `valid`, `invalid`, `risky`, `unknown`, `catch_all`, `disposable`, `role`, `spam_trap`.",
            "schema": {
              "type": "string",
              "pattern": "^(?:[Aa][Ll][Ll]|[Vv][Aa][Ll][Ii][Dd]|[Ii][Nn][Vv][Aa][Ll][Ii][Dd]|[Rr][Ii][Ss][Kk][Yy]|[Uu][Nn][Kk][Nn][Oo][Ww][Nn]|[Cc][Aa][Tt][Cc][Hh]_[Aa][Ll][Ll]|[Dd][Ii][Ss][Pp][Oo][Ss][Aa][Bb][Ll][Ee]|[Rr][Oo][Ll][Ee]|[Ss][Pp][Aa][Mm]_[Tt][Rr][Aa][Pp])$",
              "default": "all"
            }
          }
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The rows themselves, or a link to them when the set is large. Neither form is wrapped in the standard `{success, data}` envelope, so a deserializer expecting one rejects every successful download. `format=csv` answers with `text/csv`, not JSON.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobResultsInline"
                    },
                    {
                      "$ref": "#/components/schemas/JobResultsLink"
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV, with a Content-Disposition attachment filename."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The export could not be given to you as asked, for one of two reasons. Both are `retryable: true`, and the message says which.\n\n**The job counts results and none of their rows are readable.** Either the results index has not caught up, which clears within seconds, or the rows have passed the data-retention window for the job's plan, in which case they are gone and retrying will keep returning this. The route cannot tell those apart; retrying distinguishes them at no cost, which is why it is marked retryable, but do **not** present this to a user as \"nothing was lost\".\n\n**A `format=csv` export is known to be short.** A CSV body has nowhere to report a shortfall, so it is refused rather than handed over looking complete. The message names the missing row count; ask for `format=json` to read the rows that do exist right now, with the shortfall alongside.\n\nNothing is charged for either.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Told apart by `error.code`.\n\n**`RESULT_SUPERSEDED`** (`retryable: false`): a result in this job was produced by an older version of the verification classifier (for example a free-mail address stored as `disposable` before the provider exception), and the API withholds the whole export rather than publish a verdict the current classifier would not give, or silently drop the row. A completed job's rows are final, so the same request is refused the same way after any wait, and it carries no `Retry-After`. Verify those addresses again (a new job, charged as usual) to get current verdicts. Until 2026-10-02 this was `SERVICE_UNAVAILABLE` with `retryable: true`, and clients retried it as an outage.\n\n**`SERVICE_UNAVAILABLE`** (`retryable: true`): for example, a large export was written but could not be linked to the exact version this request produced, so no link was handed out. Try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-kawaa-scopes": [
          "verification:read"
        ]
      }
    },
    "/v1/jobs/{id}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "cancelJob",
        "summary": "Cancel a running batch",
        "description": "Stop a running batch. Unprocessed addresses are not verified, and the credits held for them are refunded.\n\n**The stop is immediate; the refund is not.** The job is `cancelled` the moment this returns, and no message still queued for it will be verified. The refund waits for the addresses already in a worker's hands to finish (one SQS visibility timeout plus slack), because paying back an address that was in fact checked would be wrong in the customer's favour and would leave the job's counters behind its own results. So expect `billing_status: \"charged\"` on a `cancelled` job for a few minutes, then `\"refunded\"`. Nothing is required of you in between: reading the job, or the platform's own reconciliation sweep, completes it.\n\n**`charged` does not always become `refunded`.** A cancel that arrives just after the last address was checked owes nothing, and the job keeps `charged` permanently, and correctly, because those credits were spent. Do not wait on the billing status; wait for `completed_at`. A cancel writes the status immediately and leaves `completed_at` null, and every path that closes the books (the refund, and the settle for a job that owed nothing) sets it. While it is null a refund is still on its way; once it is set the books are closed however they closed. The counters agree in the ordinary case but not always, and a job the platform reconciled without moving them would keep a counter-based poller waiting for ever.\n\n**This is about the money only.** The verdicts are final the moment the job reads `cancelled`: every result is written together with the job's progress counter in one conditional write that requires the job to still be running, so once the cancel lands nothing further can be recorded. Read the results, and the export, straight away. A refund that could not be applied ends at `refund_failed`, which is also final and needs support rather than patience.\n\n**What the job keeps.** Every address checked before the cancel stays, and stays billed. `GET /v1/jobs/{id}` returns those results immediately. `GET /v1/jobs/{id}/download` exports them without waiting for the refund: the worker writes each result together with the job's progress counter in one conditional write that requires the job to still be running, so the cancel closes the result set as it lands. Index propagation is a separate, much shorter wait: `job-id-index` is eventually consistent, so a first download can still answer `409` (`retryable: true`) or carry `complete: false`. Retry it. `total_emails` collapses onto the addresses actually checked and billed, so `requested_emails` is what you submitted. Read progress as `processed_emails` of `requested_emails`.\n\n**Repeating the request succeeds.** Cancelling an already-cancelled job returns `200` with the job and tries any outstanding refund again; that does not guarantee it lands. `completed_at` says when it has, and `refund_failed` is final and needs support. A job that has already `completed` or `failed` answers `409`: there is nothing left to stop, and its results are unaffected.\n\nBatch and file jobs only. A single verification answers `400`: it finishes in seconds and its credit settles when the result lands.\n\nA cancel and a completion cannot both commit: the worker finishes a job on a condition over the running statuses, so whichever of the two writes first makes the other impossible.",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The job, now cancelled. `billing_status` is `refunded` once the remainder has been paid back, `charged` while in-flight addresses are still draining, and also `charged` for good when the cancel arrived after the last address, so nothing was owed. Compare `total_emails` with `processed_emails` to tell those two apart.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Job"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The job cannot be cancelled: it has already `completed` or `failed`, or it has not started yet. The second case carries `retryable: true`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ]
      }
    },
    "/v1/find": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "findEmail",
        "summary": "Find a business address",
        "description": "Works out a person's work address from their name and their company's mail domain, and checks the candidates with the domain's mail server. Charges 5 credits.\n\n**Only `verified: true` is a confirmed address.** It is set on a `valid` verdict alone: the mail server accepted the mailbox, and the domain does not accept mail for every address. A result with `verified: false` can still carry an `email` (`catch_all`, `risky`, `role`): that is the best guess for this person, the candidate the finder ranked highest. On `catch_all` the domain accepts every address, so nothing was confirmed, and the `message` says whether the guess follows a pattern an address at this domain was confirmed with before or is only the most common pattern; on `risky` the server showed the mailbox exists (it accepted it, or reported it full), but risk signals remain. A `role` address (such as `info@`) can be a mailbox the server accepted, but it reaches a shared inbox, so it is not confirmed as this person's. Do not count it as found.\n\n**Needs the Starter plan or higher.** On the Free plan the request is refused with `403 PLAN_UPGRADE_REQUIRED` before anything is charged.\n\n`status` is the verdict on the address it settled on: `valid`, `risky`, `role`, `catch_all` or `not_found`. `unknown` is no longer returned (an inconclusive check is the `503` below), nor is `invalid_name` (an unusable name is a `400`). A `catch_all` outcome still charges, and it is INCONCLUSIVE rather than negative: the domain accepts every recipient, so no address could be confirmed either way. It may come back with a best-guess `email` (unverified) or with `email: null` (`findEmailForPerson` returns both shapes), so branch on `status`, never on whether `email` is present.\n\nA name over 64 characters is a 400 before the charge: RFC 5321 caps a local part at 64 octets, so no candidate could exist. So is a name that spells to more than 64 letters in a-z (`ß` is written `ss`).\n\n**Names are spelled in a-z before the candidates are built.** Accents are dropped, and letters with no accent to drop are written the usual way: `ø` as `o`, `æ` as `ae`, `ß` as `ss`, `ł` as `l`, `đ` and `ð` as `d`, `þ` as `th`, `ı` as `i`, `œ` as `oe`, so Søren is searched as `soren`. A name that also contains a letter with no single a-z spelling (such as `ə`, `ʒ` or `ʃ`, or a letter from another script next to Latin ones) is a `400` with nothing charged, rather than a search for a misspelled name.\n\n**A `catch_all` status does not guarantee an address.** When the domain accepts every recipient and no candidate clears the confidence threshold, the paid result comes back with `email: null` and `confidence: 0`: you have bought the search and learned that no address can be confirmed.\n\n**A special-use domain is a 400 before the charge.** `.example`, `.test`, `.invalid`, `.localhost`, `.local`, `.onion`, `.alt`, `.internal`, `.corp`, `.home`, `.mail`, and `home.arpa` with the other special-use `.arpa` names (`hasReservedTld`) are never answered for in the public DNS, so no address under them can exist and every candidate could only fail. So are RFC 2606's documentation domains `example.com`, `example.net` and `example.org` and any name under them: they resolve, but publish a null MX, and the worker refuses them before SMTP. They used to be searched and billed (5 credits) for a `not_found` that was certain before the search began.\n\n**A domain that cannot receive mail is a 400 before the charge.** Its mail servers are read the way `GET /v1/domain/{domain}` reads them: a domain that does not exist, publishes a null MX (RFC 7505), or has neither an MX record nor an A or AAAA address is a `400` saying which, with nothing searched and nothing charged. A domain with only an address record receives mail there (RFC 5321's implicit MX) and is searched. A lookup that fails is a `503` with `retry_after_seconds`, also uncharged.\n\n**A public mailbox provider is a 400 before the charge.** gmail.com, yahoo.com, outlook.com and the other domains `POST /v1/verify` reports `free_provider: true` for hold addresses their owners chose, not ones built from a name, so a person's address there cannot be found from their name: any address returned could belong to someone else.\n\nBoth refusals apply to new work only: a repeat under an `Idempotency-Key` whose earlier attempt was paid for is still answered from its receipt.\n\n**An incomplete negative search is a 503, not a `not_found`.** When the search produces no usable candidate and some generated addresses remain unanswered (a probe timed out or the search budget ended), it cannot establish that the other addresses are absent. This includes searches where some candidates were rejected and others could not be checked, and probes that settled nothing about the mailbox: `unknown`, a policy block of the sending server, greylisting, a temporary or connection failure, or `risky` without evidence that the mailbox exists. Such a probe is never returned as the address. It answers a retryable `503 SERVICE_UNAVAILABLE` and charges nothing; with an `Idempotency-Key` the charge is refunded, so a retry under the same key is a new paid search rather than a replay. A `not_found` is billed only when every generated candidate was answered.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "first_name": "Ada",
                    "last_name": "Lovelace",
                    "domain": "YOUR_TARGET_DOMAIN"
                  },
                  "summary": "Replace YOUR_TARGET_DOMAIN with the company mail domain to search"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The search. Branch on `status`, not on whether `email` is present, and treat an address as found only when `verified` is true.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "email",
                          "description": "The address settled on, or `null`. Null is NOT the same as 'no address exists': on a catch-all domain nothing could be confirmed either way. And an address is not the same as a find: with `verified: false` it is a best guess, not an address confirmed as this person's."
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "pattern": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The pattern `email` was built from, e.g. `first.last`. It says something about the domain only when `verified` is true. On a best guess (`verified: false`) it is just the pattern of the candidate the finder ranked highest, not one the domain was seen to use. `null` when there is no `email`."
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "True only on a `valid` verdict: the mail server accepted this mailbox, and the domain does not accept mail for every address. False on every other status, including those that still return an `email`: on a catch-all result the server accepts everything, so nothing was confirmed; on `unknown` the check could not conclude; on `risky` the address may receive mail but risk signals or incomplete proof remain; a `role` address reaches a shared mailbox (the server may have accepted it), so it is not confirmed as this person's. An `email` with `verified: false` is a best guess for this person."
                        },
                        "status": {
                          "type": "string",
                          "examples": [
                            "valid",
                            "risky",
                            "role",
                            "unknown",
                            "catch_all",
                            "not_found",
                            "invalid_name"
                          ],
                          "description": "The verdict on the address returned: `valid`, `risky` (the mail server showed the mailbox exists, with risk signals), `role`, `catch_all` (inconclusive rather than negative), or `not_found`. An inconclusive check is never a status here: it is a `503`."
                        },
                        "message": {
                          "type": "string"
                        },
                        "credits_used": {
                          "type": "number",
                          "description": "5 for a search. Still 5 on a de-duplicated repeat; read `idempotent_replay` to tell a second charge from a free one."
                        },
                        "credits_remaining": {
                          "type": "number"
                        },
                        "idempotent_replay": {
                          "type": "boolean",
                          "description": "Present and true when this repeated a search already charged for, and therefore charged nothing. With an `Idempotency-Key`, the repeat replays the stored result during the plan's retention period; the receipt stays at least 30 days and refuses an expired result with 410. Without a key, an identical search is still settled on the original charge inside a fixed two-minute bucket."
                        }
                      },
                      "required": [
                        "first_name",
                        "last_name",
                        "email",
                        "confidence",
                        "status",
                        "credits_used"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be searched, and nothing was charged. A malformed request or a field this endpoint does not accept; a name with no a-z letter, with a letter that has no single a-z spelling, or longer than 64 characters or letters once spelled; a special-use or RFC 2606 domain; a domain that cannot receive mail (it does not exist in DNS, publishes a null MX, or has no MX record and no A or AAAA address); or a public mailbox provider. The message says which, and `nothing_charged` is true. Retrying it unchanged will fail identically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "One of two codes, and this answer adds no charge in either case. `IDEMPOTENCY_KEY_CONFLICT`: the `Idempotency-Key` was used before for a different search on this route. Repeat the original request exactly, or use a new key. `CONFLICT` with `retryable: true`: a copy of this same request under the same key was charged and is still searching. Wait, then repeat it with the SAME key, which replays that search's stored result (`idempotent_replay: true`) without charging again. A new key buys the search a second time. The bulk finder answers the same state the same way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/IdempotentJobExpired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The search failed somewhere the handler could not classify. Its outer catch covers the cached pattern lookup, the search itself and the credit debit, so **the billing state is genuinely unknown**: an exception during the debit can leave the charge applied with no answer to show for it.\n\nRetry the SAME search with the SAME `Idempotency-Key`: a repeat under it replays the stored result, or finishes the paid search, without charging again. The receipt lasts at least 30 days; after the result expires, a repeat returns 410 without another charge. Without a key, an identical repeat is settled on the original charge only inside a fixed two-minute bucket, and the answer carries `idempotent_replay: true` when it was. Check `GET /v1/usage` before waiting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The domain's mail servers could not be looked up (nothing was searched or charged; retry after `retry_after_seconds`), the credit debit could not be completed because the balance was being changed concurrently, or the search produced no usable candidate and some generated addresses remained unanswered or answered only inconclusively (a policy block, greylisting, a temporary failure). Even if other candidates were rejected, this incomplete search is not a `not_found`. The debit refusal charges nothing; an incomplete keyed search is refunded. If that refund itself fails, the message says the charge is still unsettled, and a retry under the same `Idempotency-Key` finishes the paid search without charging again. Treat the request as uncharged only when the response confirms it. Retry; a refusal for lack of credits is `402`, which is permanent until the balance changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/find/bulk": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "findEmailBulk",
        "summary": "Find business addresses for several people",
        "description": "The same lookup for several people at one domain. Needs the Starter plan or higher, like `POST /v1/find`: on the Free plan it is refused with `403 PLAN_UPGRADE_REQUIRED` before anything is charged. Retry-safe for FIFTEEN MINUTES: the receipt a completed lookup writes has a 15-minute TTL, so a repeat inside that window replays the summary (rather than the individual results) and charges nothing, and a repeat after it is a new paid lookup. A delayed retry is not free.\n\n**What it charges, before it starts.** 5 credits per person (the single finder's price) multiplied by the number of people whose names are usable, debited up front. Up to 50 people per request, so up to **250 credits** on one call.\n\n\"Usable\" is the same rule as `POST /v1/find`: both names must contain at least one letter after normalization (spelled in a-z: accents dropped, `ø` as `o`, `ß` as `ss` and so on, then only `a-z` kept), and no letter without a single a-z spelling. A person who fails it comes back as an `invalid_name` row, with a `message` saying why, and is **not** charged for, so the debit is 5 x the chargeable count rather than 5 x the list length. Count the usable names yourself before submitting if the difference matters: nothing in the request tells you which rows will be free.\n\n**A special-use domain is a 400 before the charge.** `.example`, `.test`, `.invalid`, `.localhost`, `.local`, `.onion`, `.alt`, `.internal`, `.corp`, `.home`, `.mail`, and `home.arpa` with the other special-use `.arpa` names (`hasReservedTld`) are never answered for in the public DNS, so no address under them can exist and every candidate could only fail. So are RFC 2606's documentation domains `example.com`, `example.net` and `example.org` and any name under them: they resolve, but publish a null MX, and the worker refuses them before SMTP. They used to be searched and billed (5 credits per usable name) for a `not_found` that was certain before the search began. A name over 64 characters, or one that spells to more than 64 letters, is a 400 for the whole request.\n\n**A domain that cannot receive mail, or a public mailbox provider, is a 400 for the whole request before the charge**, exactly as on `POST /v1/find`, and a failed mail-server lookup is an uncharged `503`. An earlier attempt of the same request that was already charged, replayed or recorded is still answered from its retry protection instead.\n\n**A person whose probes settled nothing is `not_checked` and refunded**: a probe that is `unknown`, a policy block, greylisting, a temporary failure or `risky` without evidence that the mailbox exists is never that person's address.\n\n**Only a row with `verified: true` is a confirmed address**, exactly as on `POST /v1/find`. A row with an `email` and `verified: false` is a best guess, and `found` counts it; `verified_found` counts only the confirmed rows.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindBulkRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          },
          {
            "OAuth2": [
              "verification:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The searches that were run. **Not necessarily one result per person**: when the request approaches the gateway deadline the handler stops, refunds the chargeable tail it did not process, and still answers 200 with `processed` below `total` and a shorter `results` array. Compare `processed` with `total` before treating a missing person as not found, and read `credits_used` for what was actually charged after the refund.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain the searches ran against, normalized (lower-cased, one leading `www.` stripped)."
                        },
                        "pattern": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The address pattern this run's confirmed rows (`verified: true`) use, the most common one among them, or `null` when the run confirmed none. It is not a pattern remembered from earlier searches or the pattern of a best guess. On a replay it is the original run's value."
                        },
                        "results": {
                          "type": "array",
                          "description": "One entry per person PROCESSED (see the description above); a person absent from this array was not searched for, which is not the same as not found.",
                          "items": {
                            "type": "object",
                            "required": [
                              "first_name",
                              "last_name",
                              "email",
                              "confidence",
                              "pattern",
                              "verified",
                              "status"
                            ],
                            "properties": {
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "email": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "confidence": {
                                "type": "number"
                              },
                              "pattern": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The pattern `email` was built from, e.g. `first.last`. It says something about the domain only when `verified` is true. On a best guess (`verified: false`) it is just the pattern of the candidate the finder ranked highest, not one the domain was seen to use. `null` when there is no `email`."
                              },
                              "verified": {
                                "type": "boolean",
                                "description": "As on `POST /v1/find`: true only on a `valid` verdict. A row with an `email` and `verified: false` is a best guess, not an address confirmed as this person's."
                              },
                              "status": {
                                "type": "string",
                                "description": "`catch_all` is inconclusive rather than negative: the domain accepts every recipient, so nothing could be confirmed either way. `not_checked` means the search produced no usable candidate and did not receive a definite answer for every generated address (a probe that timed out, or one that settled nothing: `unknown`, a policy block, greylisting, a temporary failure, `risky` without mailbox evidence). Some candidates may have been rejected; the remaining addresses are unmeasured, so no negative conclusion can be drawn about the person. This person is refunded. `invalid_name` means no candidate could be generated from the name; its `message` says why, and the person is not charged."
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "People in the request."
                        },
                        "processed": {
                          "type": "integer",
                          "description": "People actually searched for. Below `total` means the run stopped early and the rest were refunded. `not_checked` people count as processed, and are refunded too."
                        },
                        "found": {
                          "type": "integer",
                          "description": "Rows that carry an address, best guesses (`verified: false`) included. Not a count of confirmed addresses: count the rows with `verified: true` for that."
                        },
                        "verified_found": {
                          "type": "integer",
                          "description": "Rows whose address a mail server confirmed (`verified: true`). Never more than `found`. Absent only on a replay (`replayed: true`) of a summary stored before this field existed: count nothing in that case rather than reading it as zero."
                        },
                        "credits_used": {
                          "type": "number",
                          "description": "What was charged after any refund for an unprocessed tail or for `not_checked` people, not 5 × `total`. **On `replayed: true` this is the ORIGINAL request's cost, not what this call charged**: a replay within the 15-minute window charges nothing and returns the first response's summary verbatim. Summing this across responses without checking `replayed` counts the same debit twice."
                        },
                        "credits_remaining": {
                          "type": "number"
                        },
                        "replayed": {
                          "type": "boolean",
                          "description": "Present and true when this returned an earlier identical request's summary under the same retry protection. `results_available: false` accompanies it: the counts replay, the individual rows do not."
                        },
                        "results_available": {
                          "type": "boolean",
                          "description": "False on a replay, where only the summary was kept."
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "domain",
                        "results",
                        "total",
                        "processed",
                        "found",
                        "credits_used"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be searched, and nothing was claimed or charged. A malformed request, a field this endpoint does not accept, more than 50 people, or a person whose name is longer than 64 characters or letters once spelled; a special-use or RFC 2606 domain; a domain that cannot receive mail (it does not exist in DNS, publishes a null MX, or has no MX record and no A or AAAA address); or a public mailbox provider. The message says which. Retrying it unchanged will fail identically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A matching request is already using this retry key or is being reset. Wait and retry the identical request: it is the retry protection working, not a rejection of the payload. Or, when an `Idempotency-Key` was sent: the same key was used for a different request (`IDEMPOTENCY_KEY_CONFLICT`). Repeat the original request exactly, or choose a new key. Nothing was charged and nothing was started in either case. One more `409 CONFLICT` is final (`retryable: false`): a matching request failed after it was charged and its refund could not be confirmed. That charge may stand: look for its refund in `GET /v1/usage/credits/transactions`, and ask support to reconcile it if there is none. The identical request is refused for a day after the failure (the message gives the time); after that it runs, and is charged, as a new search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "The bulk search failed after it was charged for. Several branches answer this (job setup, processing, the refund of an unprocessed tail, and finalizing the retry protection), and some of them say outright that credits could not be refunded and need reconciliation. **Money may still be debited.** Read the message, check `GET /v1/usage`, and do not send the same payload again until you know which happened.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The domain's mail servers could not be looked up (nothing was claimed or charged; retry after `retry_after_seconds`), the retry-protection record could not be read, a credit reservation for a matching request is still confirming, or the search finished but could not be finalized safely. Retry the identical request rather than a new one: these are the states where a fresh payload risks buying the same search twice. It also answers a search in which every chargeable person had an incomplete candidate search and no usable address was established, including partial rejected-candidate evidence. After the whole charge is refunded, nothing was charged and a retry of the identical request runs a new search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-kawaa-scopes": [
          "verification:write"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/domain/{domain}": {
      "get": {
        "tags": [
          "Search"
        ],
        "operationId": "searchDomain",
        "summary": "Look at a domain",
        "description": "Which common addresses at a domain its mail server accepted (or reported full), and whether the domain accepts mail for every address. The domain's mail servers are read to decide whether a search can start, but they are not returned.\n\n**This GET starts work and charges.** The first call for an uncached domain claims the domain, deducts **10 credits**, enqueues every candidate to the verification worker, and returns immediately with `status: \"processing\"` and an **empty `emails` array**. That empty array is not the answer: it means the search has just begun.\n\nRepeat the same GET to poll. Each poll assembles whatever this search's own checks have finished (results other checks left in the shared cache are not used, and an address is listed only when a mail server accepted it or reported its mailbox full); when every candidate has a definite answer, the domain turns out to be catch-all, or the job ages out (about 30 seconds), it returns `status: \"completed\"`. A complete search is cached for 7 days. A candidate counts as checked only on a definite answer: a found mailbox, or a definite no (`invalid`, `disposable`, `spam_trap`). An answer that settles nothing (`unknown`, `risky` without mailbox evidence, a `policy_block`, `greylisted`, `temporary_failure`, `connection_failure` or `dns_only` result, or no answer at all) does not, so a search where some candidates got no definite answer ends as `completion_reason: \"time_limit_reached\"` with `patterns_checked` below the total. That partial result is kept for 15 minutes, not 7 days; the next search after that runs (and charges) afresh. **The poll that completes a partial search refunds the unchecked share of the 10 credits** to the account that started it, in half credits rounded in the customer's favour (nothing checked refunds all 10), and reports it as `credits_refunded`. **Polling never charges again** (the owner paid at the first call), and a search served from that 7-day cache charges nothing at all: `serveCompletedCache` answers `credits_used: 0` for the owner and for anyone else.\n\n**A domain that cannot receive mail is answered before anything is charged.** Before a new search is started, the domain's mail servers are read the way the verifier reads them: an MX record with a real host, or, with no MX at all, the domain's own A or AAAA address (RFC 5321's implicit MX). A domain that does not exist, publishes a null MX (RFC 7505), or has neither an MX nor an address is a `400` saying which, with nothing searched and no credits charged: no mailbox can exist there. Such a search used to be queued and billed 10 credits for 46 answers known in advance. A lookup that fails (no answer, SERVFAIL) is a `503`, also uncharged; retry it. A domain under a special-use top-level name (`.example`, `.test`, `.invalid`, `.localhost`, `.local`, `.internal` and the rest `hasReservedTld` lists) is a `400` before anything is read.\n\n**A public mailbox provider is a 400 before anything is charged.** gmail.com, yahoo.com, outlook.com and the other domains `POST /v1/verify` reports `free_provider: true` for hold mailboxes of unrelated individuals, not one organization, so their common addresses would only list strangers' mailboxes. A cached result for one is not served; a search already running for one still finishes for the account that paid for it.\n\n**Searches that are not paid for in full are limited to 20 per account per UTC day.** A search counts from the moment it starts until its result is collected. One that completes with every mailbox answered, or as a catch-all domain, keeps its charge and stops counting; one that ends `time_limit_reached` (and is refunded the unchecked share) counts for the rest of the day, and so does one nobody has polled to completion yet. At the limit a new search is a `429` with `retry_after_seconds` (and `Retry-After`) up to midnight UTC, and nothing is claimed, queued or charg
[...]
