{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenHelm Public API",
    "version": "1.0.0",
    "description": "Drive OpenHelm Cloud from your own product, server-to-server. Author jobs (reusable task templates whose prompts carry {{placeholders}}), then run them with parameters and read back a structured, schema-shaped result asynchronously — with evidence (screenshot + matched text), a confidence level, and usage/cost. Task-execution failures return 200 with a structured failure_reason; HTTP 4xx/5xx is reserved for request, auth, and quota errors.",
    "x-jentic-source-url": "https://api.openhelm.ai/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://worker.openhelm.ai/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/inboxes": {
      "get": {
        "summary": "List inboxes",
        "description": "Sending identities for this org. Ensures the org default exists.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create an inbox",
        "description": "On the shared relay, or on a domain this org has verified. The webhook secret is returned ONCE.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "autonomy": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "approve_first",
                      "notify"
                    ]
                  },
                  "callback_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/inboxes/{id}": {
      "get": {
        "summary": "Get an inbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update an inbox",
        "description": "`autonomy` governs OUTBOUND: auto sends, notify sends and files a notice, approve_first holds for a human. `inbound_jobs_on` governs INBOUND and is the one people trip over: it defaults to `fresh` (uncorrelated mail only), so REPLIES to mail you sent do not wake a job. Any support or reply-driven workflow wants `all`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "autonomy": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "approve_first",
                      "notify"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused"
                    ]
                  },
                  "callback_url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "inbound_jobs_on": {
                    "type": "string",
                    "enum": [
                      "none",
                      "fresh",
                      "all"
                    ]
                  },
                  "inbound_webhook_on": {
                    "type": "string",
                    "enum": [
                      "none",
                      "correlated",
                      "all"
                    ]
                  },
                  "daily_trigger_cap": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "labeling_rules": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "extraction_schema": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete an inbox",
        "description": "Refused for the org default and a project's primary identity — pause those instead.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/inboxes/{id}/messages": {
      "post": {
        "summary": "Send from an inbox",
        "description": "202 with `status`. `sent` went to SES; `pending_approval` means the inbox holds agent mail for a human and NOTHING has been delivered yet; `scheduled` will send later. `reply_to` states which address replies go to and WHY — `relay_fallback` means the branded domain cannot yet receive, so correlation runs over the relay instead. `suppressed` lists recipients dropped because they bounced, complained or opted out.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject"
                ],
                "properties": {
                  "to": {
                    "type": [
                      "string",
                      "array"
                    ],
                    "description": "One address or a list."
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bcc": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body_markdown": {
                    "type": "string"
                  },
                  "body_html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "from_name": {
                    "type": "string"
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Overrides the correlation Reply-To. Doing so means replies no longer thread back automatically."
                  },
                  "send_class": {
                    "type": "string",
                    "enum": [
                      "transactional",
                      "agent",
                      "marketing"
                    ],
                    "description": "Which daily allowance this charges. Separate counters per class, so an outreach campaign can never starve a password reset. `marketing` and conversation-opening `agent` mail carry a one-click List-Unsubscribe header and are refused if the deployment has no unsubscribe secret. Absent ⇒ derived from the caller."
                  },
                  "scheduled_at": {
                    "type": "string",
                    "description": "RFC 3339. Held until then by the scheduler drainer."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Idempotency key — a repeat returns the original send."
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "{ filename, content_type, content_base64 }, 10 MB total."
                  },
                  "reply_to_thread_id": {
                    "type": "string"
                  },
                  "in_reply_to_message_id": {
                    "type": "string"
                  },
                  "force_approval": {
                    "type": "boolean",
                    "description": "Hold this message for human approval even when the inbox is auto."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/messages/batch": {
      "post": {
        "summary": "Send up to 100 messages",
        "description": "PARTIAL SUCCESS is normal and is not an HTTP error: every item reports its own `status` and `error`, and the request is 202 regardless. A daily-cap failure stops the remainder rather than retrying it 99 times, and says so on each unattempted item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "inbox_id",
                  "messages"
                ],
                "properties": {
                  "inbox_id": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Each needs its own client_id."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Per-item outcomes"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "summary": "List messages",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scope to one inbox"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "e.g. pending_approval"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max 200"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "summary": "Get a message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "summary": "List conversations",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scope to one inbox"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max 200"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/threads/{id}": {
      "get": {
        "summary": "Get a conversation",
        "description": "Embeds every message in order, each with its `attachments` metadata, plus an `attachment_count` for the thread.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Full-text search across this org's mail",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "websearch syntax"
          },
          {
            "name": "inbox_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scope to one inbox"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max 200"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attachments": {
      "get": {
        "summary": "List attachments on a message or a thread",
        "description": "Metadata only — filename, content type, size. Pass message_id or thread_id.",
        "parameters": [
          {
            "name": "message_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "One message"
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Every message on a conversation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attachments/{id}": {
      "get": {
        "summary": "Signed download URL for one attachment",
        "description": "Short-lived (5 min) S3 URL. Bytes never stream through the API.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/approvals": {
      "get": {
        "summary": "Outbound messages held for a human",
        "description": "The held message row IS the approval — there is no separate approvals object.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Defaults to pending_approval"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/approvals/{message_id}/approve": {
      "post": {
        "summary": "Release a held message",
        "description": "Optionally with edits. The daily cap is charged here, at release, not when it was queued.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "edits": {
                    "type": "object",
                    "description": "{ subject, body_markdown, body_html, text }"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/approvals/{message_id}/reject": {
      "post": {
        "summary": "Reject a held message",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "summary": "List sending domains",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Register a sending domain",
        "description": "Returns the DNS records to publish. DKIM is required to SEND; the MX record is optional and only needed to RECEIVE — which is why a verified domain can still be unable to take replies, and why reply_to may honestly fall back to the relay.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created, with DNS records"
          }
        }
      }
    },
    "/domains/{id}/warmup": {
      "post": {
        "summary": "Start or stop a sending warm-up",
        "description": "A brand-new domain sending at full volume gets throttled by the receiving side, and the damage outlives the campaign. Starting a warm-up caps daily volume on a rising schedule derived from the elapsed days, never stored. Transactional mail is exempt: a password reset is not volume the sender chose. An established domain being migrated should not ramp at all.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start"
                ],
                "properties": {
                  "start": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "summary": "Re-check DNS",
        "description": "Reports SES's own answer, including FAILED — a failed DKIM check is never reported as still pending.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/routes": {
      "get": {
        "summary": "List forwarding routes",
        "description": "Each carries a `health` object DERIVED on read, never stored: `deliverable`, the `blockers` stopping it, and the last delivery/failure. A route whose domain has since lost its MX reports that, rather than remembering it once worked.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create a forwarding route",
        "description": "`match` is `alias@domain` or `*@domain`; `destination` must be OFF this platform — self-forwarding is a loop and is refused at write time and again at send time. Forwards re-send the original MIME byte-preserved from an SRS-signed From.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "match",
                  "destination"
                ],
                "properties": {
                  "match": {
                    "type": "string"
                  },
                  "destination": {
                    "type": "string"
                  },
                  "inbox_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/routes/{id}": {
      "patch": {
        "summary": "Enable or disable a route",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enabled"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete a route",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/suppressions": {
      "get": {
        "summary": "Addresses this org must not send to",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Suppress an address",
        "description": "Always recorded as `manual`. A caller cannot forge a bounce, a complaint or an unsubscribe — those carry meaning only SES or a signed opt-out link is evidence for.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/suppressions/{id}": {
      "delete": {
        "summary": "Un-suppress an address (by address)",
        "description": "Refused for an `unsubscribe`: an opt-out cannot be reversed by the sender. Re-consent happens outside this system.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/projects/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a project",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update a project",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "List jobs (task templates)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create a job (task template)",
        "description": "`prompt` may contain {{placeholder}} tokens filled by `inputs` at run time. `input_schema.required` (if set) is validated per run. `output_schema` declares the result shape.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project_id",
                  "name",
                  "prompt"
                ],
                "properties": {
                  "project_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "Check whether {{model_ref}} ({{finish}}) is in stock at {{supplier_url}}. Use the browser; screenshot the stock state."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "haiku",
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet"
                  },
                  "input_schema": {
                    "type": "object"
                  },
                  "output_schema": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/jobs/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a job",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update a job",
        "description": "Beyond name/prompt/model, this also accepts `is_enabled`, `execution_preference` ('local_executor' to pin the job to a specific machine, via `pinned_executor_id`), and the schedule pair `schedule_type`/`schedule_config` — the pair is validated together and a type changed without its matching config is refused, never silently stored half-updated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "haiku",
                      "sonnet",
                      "opus"
                    ]
                  },
                  "is_enabled": {
                    "type": "boolean"
                  },
                  "execution_preference": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "local_executor",
                      null
                    ]
                  },
                  "pinned_executor_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "schedule_type": {
                    "type": "string",
                    "enum": [
                      "manual",
                      "once",
                      "interval",
                      "cron",
                      "email",
                      "after_job"
                    ]
                  },
                  "schedule_config": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete a job",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobs/{id}/run-now": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Fire the job's real run right now (async)",
        "description": "Unlike POST /jobs/{id}/runs, this does not clone the job into a new billable API run — it starts the same run the job's own schedule or the app's \"Run now\" button would start, respecting `execution_preference`/`pinned_executor_id`. Returns 202 immediately with the run's id and status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fire_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defer the run to this time instead of firing immediately."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/jobs/{id}/runs": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Run a job with parameters (async)",
        "description": "Returns 202 immediately; poll GET /runs/{id} or supply callback_url.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "output_schema": {
                    "type": "object",
                    "description": "Overrides the job's output_schema for this run."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HMAC-signed completion webhook target."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Replays return the original run."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued"
                      ]
                    },
                    "poll_url": {
                      "type": "string"
                    },
                    "billing": {
                      "$ref": "#/components/schemas/BillingHint"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Subscription/trial/quota gate"
          },
          "429": {
            "description": "Too many concurrent runs"
          }
        }
      }
    },
    "/runs": {
      "get": {
        "summary": "List recent API runs",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by template job id"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Run an inline prompt (async, no pre-created job)",
        "description": "One-call run: pass a `prompt` (with optional {{placeholders}} filled by `inputs`) and an optional `output_schema`. Returns 202 immediately; poll GET /runs/{id} or supply callback_url. `project_id` is optional — omit it and the run executes in the org's auto-created \"API Runs\" project.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "example": "Research {{company}} and summarise its latest funding round, investors, and valuation."
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "output_schema": {
                    "type": "object",
                    "description": "Declares the result shape."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "haiku",
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet"
                  },
                  "project_id": {
                    "type": "string",
                    "description": "Optional; defaults to the org's \"API Runs\" project."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional label for the run."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HMAC-signed completion webhook target."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Replays return the original run."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued"
                      ]
                    },
                    "poll_url": {
                      "type": "string"
                    },
                    "billing": {
                      "$ref": "#/components/schemas/BillingHint"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Subscription/trial/quota gate"
          },
          "429": {
            "description": "Too many concurrent runs"
          }
        }
      }
    },
    "/runs/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Poll a task result",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Cancel a running task",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/runs/{id}/force": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Jump a queued/deferred run ahead of a paused scheduler",
        "description": "Returns { started: false } rather than an error if the run has already started, finished, or been cancelled.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "summary": "List the plans OpenHelm Cloud offers (public, no key needed)",
        "description": "Prices per seat per month in minor units for USD, GBP and EUR, monthly and yearly, with the AI credits each plan pools. Cached (Cache-Control: public). A seat is an Owner, Admin or Member; Viewers are free.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/settings/{key}": {
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Read an account or machine setting",
        "description": "Account-wide keys (e.g. theme) need no executor_id. Machine-scoped keys (e.g. local_executor_backend, scheduler_paused — which coding-agent CLI a specific Mac uses, whether its local scheduler is paused) require `executor_id`; the returned value is what's REQUESTED — compare `updated_at` to `applied_at` to see whether that machine has confirmed it yet.",
        "parameters": [
          {
            "name": "executor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Required for a machine-scoped key."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Write an account or machine setting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "executor_id": {
                    "type": "string",
                    "description": "Required for a machine-scoped key; omit for an account-wide one."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/executors": {
      "get": {
        "summary": "List this account's registered machines",
        "description": "Every machine (desktop app instance) that has ever attached as a cloud executor, with online status and reported capabilities.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/executors/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "summary": "Sugar over PUT /settings for a specific machine",
        "description": "Set which coding-agent backend a machine uses, or whether it claims cloud-executor jobs. Takes effect the next time that machine polls, not instantly.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "local_executor_backend": {
                    "type": "string",
                    "enum": [
                      "claude-code",
                      "codex",
                      "local"
                    ]
                  },
                  "cloud_executor_enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "summary": "List tasks OpenHelm has flagged for human attention",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "todo",
                "in_progress",
                "resolved",
                "dismissed",
                "archived",
                "done"
              ]
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tasks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a task",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update a task's status or resolution",
        "description": "Read + status-transition only — tasks are created by OpenHelm itself, never via this API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "todo",
                      "in_progress",
                      "resolved",
                      "dismissed",
                      "archived",
                      "done"
                    ]
                  },
                  "resolution": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/scheduler/status": {
      "get": {
        "summary": "Whether this account's scheduled execution is paused",
        "description": "Account-wide, not per-machine — see /executors/{id} for one machine's own scheduler.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/scheduler/pause": {
      "post": {
        "summary": "Pause ALL scheduled runs across every job and product in this account",
        "description": "Stops every scheduled/cron firing regardless of an individual job's own is_enabled, until /scheduler/resume is called. Does NOT affect a manual one-off run — POST /jobs/{id}/run-now and POST /runs/{id}/force are a separate path and keep working while paused.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/scheduler/resume": {
      "post": {
        "summary": "Resume scheduled execution after /scheduler/pause",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "List agents (Goals) — standing missions, each with its own jobs",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/agents/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get an agent (Goal)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update an agent's mission, name, description, or status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "archived"
                    ]
                  },
                  "mission": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/emails": {
      "post": {
        "summary": "Send an email from the org's identity",
        "description": "Sends transactionally from the org's DEFAULT address (orgname@relay.openhelm.ai). To send from a specific inbox — a product's own branded identity, or a named sender like noreply@ — use POST /inboxes/{id}/messages instead. The caller owns approval (e.g. an operator-approved body). Sets a correlation Reply-To so a reply threads back via the email.received webhook. `metadata` is an opaque object echoed verbatim on that webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "subject"
                ],
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ],
                    "description": "One address or a list. A list is ONE message whose recipients see each other."
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "bcc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "Blind copies. Never written into a header the other recipients can read."
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body_markdown": {
                    "type": "string"
                  },
                  "body_html": {
                    "type": "string",
                    "description": "Pre-rendered HTML; takes precedence over body_markdown."
                  },
                  "text": {
                    "type": "string"
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Display name before the address (defaults to the org's name)."
                  },
                  "reply_to": {
                    "type": "string",
                    "format": "email",
                    "description": "Overrides the correlation Reply-To; replies will NOT thread back."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Idempotency key — a repeat returns the original send instead of delivering twice."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Echoed on the reply webhook."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": {
                      "type": "string"
                    },
                    "from_address": {
                      "type": "string"
                    },
                    "correlation_token": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "sent",
                        "scheduled",
                        "pending_approval"
                      ]
                    },
                    "reply_to": {
                      "type": "object",
                      "nullable": true,
                      "description": "Where replies will actually land, and why. `reason` is one of sending_domain (threads on your own domain), relay_fallback (your domain has no confirmed inbound — publish its MX record), override (you supplied one; replies will not be correlated), or none (nothing verified to receive).",
                      "properties": {
                        "address": {
                          "type": "string",
                          "nullable": true
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "sending_domain",
                            "relay_fallback",
                            "override",
                            "none"
                          ]
                        },
                        "detail": {
                          "type": "string"
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Recipients dropped because they are suppressed (hard bounce / complaint). The message WAS delivered to everyone else. Empty on a clean send."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email not configured / invalid body / cap reached / every recipient suppressed"
          }
        }
      }
    },
    "/emails/identity": {
      "get": {
        "summary": "Get the org's email address + inbound callback",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Allocate the identity + set the inbound webhook callback",
        "description": "Allocates the org's address on first call. Set `callback_url` (https) to receive email.received webhooks. Optionally set `username` to choose a friendly address (username@relay.openhelm.ai). Returns the webhook_secret used to HMAC-sign webhooks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "https endpoint for email.received webhooks."
                  },
                  "username": {
                    "type": "string",
                    "description": "Friendly email handle, e.g. \"pilot-hotel-group\" (3–32, a–z/0–9/-, unique)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/connections": {
      "get": {
        "summary": "List connections",
        "description": "The credentials and tools your runs can use (Gmail, GitHub, MCP servers…) with their auth status. Secrets are never returned.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create a connection (token or mcp)",
        "description": "Provision a connection programmatically. `type: \"token\"` stores an API key/secret in encrypted storage; `type: \"mcp\"` registers a remote HTTP/SSE MCP server by URL with optional headers (values may use ${SECRET}). For OAuth/browser providers that need a human, use POST /connections/links instead. The `secret` is write-only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "token",
                      "mcp"
                    ]
                  },
                  "secret": {
                    "type": "string",
                    "description": "API key/token to store (token type, or to back ${SECRET} in mcp headers)."
                  },
                  "env_var_name": {
                    "type": "string",
                    "description": "token type: the env var the secret is injected as (e.g. GITHUB_TOKEN)."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "mcp type: the remote MCP server URL."
                  },
                  "transport": {
                    "type": "string",
                    "enum": [
                      "http",
                      "sse"
                    ],
                    "default": "http"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "mcp type: request headers."
                  },
                  "project_id": {
                    "type": "string",
                    "description": "Scope to one project; omit for all the account's runs."
                  },
                  "service_id": {
                    "type": "string",
                    "description": "Which service this credential is for, as a catalogue id (\"stripe\", \"contextely\", \"notion\"). Service-aware features match on this and never on the connection's name, so a credential provisioned without it is stored correctly and ignored by all of them. Rejected if unknown."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid type/body, or an unknown service_id"
          }
        }
      }
    },
    "/connections/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a connection",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update a connection (name, enabled, rotate secret)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "is_enabled": {
                    "type": "boolean"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Rotates the stored secret."
                  },
                  "env_var_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete a connection (and its secret)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/connections/links": {
      "post": {
        "summary": "Mint a hosted connect link for an OAuth/browser provider",
        "description": "Returns a short-lived signed URL to the hosted connect flow for providers that need a browser (Google, Notion, LinkedIn…). Open it once to authorise, then poll GET /connections until the connection shows as authenticated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "e.g. 'google', 'github', 'notion'."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional label for the resulting connection."
                  },
                  "project_id": {
                    "type": "string",
                    "description": "Optionally scope to one project."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created"
          },
          "400": {
            "description": "Connect disabled / missing provider"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization: Bearer oh_live_… (mint under Settings → API & Webhooks)."
      }
    },
    "schemas": {
      "TaskEnvelope": {
        "type": "object",
        "description": "Shared by the poll endpoint and the completion webhook. Webhook body is { \"event\": \"run.completed\" | \"run.failed\", \"data\": <this> }.",
        "properties": {
          "task_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled",
              "needs_you"
            ]
          },
          "result": {
            "type": [
              "object",
              "null"
            ],
            "description": "Best-effort object conforming to the run's output_schema."
          },
          "confidence": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "high",
              "medium",
              "low",
              null
            ]
          },
          "evidence": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "screenshot_url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Signed URL, valid 7 days"
              },
              "matched_text": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "checked_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "captcha",
              "auth_required",
              "site_down",
              "timeout",
              "ambiguous",
              "not_found",
              null
            ]
          },
          "usage": {
            "type": "object",
            "properties": {
              "duration_ms": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              },
              "cost_usd": {
                "type": "number"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "BillingHint": {
        "type": "object",
        "description": "An up-front cost ESTIMATE returned with a started run. The billed figure is always usage.cost_usd on the completed TaskEnvelope; this is a planning hint only and varies with task complexity and tools used.",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "haiku",
              "sonnet",
              "opus"
            ]
          },
          "credit_usd_rate": {
            "type": "number",
            "description": "USD value of one OpenHelm credit (1 credit = $0.05)."
          },
          "estimated_cost_usd": {
            "type": "object",
            "properties": {
              "low": {
                "type": "number"
              },
              "high": {
                "type": "number"
              }
            }
          },
          "estimated_credits": {
            "type": "object",
            "properties": {
              "low": {
                "type": "integer"
              },
              "high": {
                "type": "integer"
              }
            }
          },
          "monthly_cap_usd": {
            "type": [
              "number",
              "null"
            ],
            "description": "This API key's monthly spend cap, if set."
          },
          "note": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}