{
  "openapi": "3.1.0",
  "info": {
    "title": "SaladCloud API",
    "description": "The SaladCloud REST API. Please refer to the [SaladCloud API Documentation](https://docs.salad.com/api-reference) for more details.",
    "termsOfService": "https://salad.com/terms",
    "contact": {
      "name": "SaladCloud Support",
      "url": "https://salad.com",
      "email": "cloud@salad.com"
    },
    "license": {
      "name": "MIT License",
      "identifier": "MIT"
    },
    "version": "0.9.0-alpha.17",
    "x-jentic-source-url": "https://raw.githubusercontent.com/SaladTechnologies/salad-cloud-docs/main/api-specs/salad-cloud.yaml"
  },
  "servers": [
    {
      "url": "https://api.salad.com/api/public"
    }
  ],
  "paths": {
    "/organizations/{organization_name}/projects/{project_name}/containers": {
      "summary": "Container Groups",
      "description": "Operations for container groups",
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_name"
        },
        {
          "$ref": "#/components/parameters/project_name"
        }
      ],
      "get": {
        "operationId": "list_container_groups",
        "summary": "List Container Groups",
        "description": "Gets the list of container groups",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListContainerGroups"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nvar response = await client.ContainerGroups.ListContainerGroupsAsync(\"acme-corp\", \"dev-env\");\n\nConsole.WriteLine(response);",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\nimport com.salad.cloud.sdk.models.ContainerGroupCollection;\n\npublic class Main {\n\n  public static void main(String[] args) {\n    SaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n      .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey(\"YOUR_API_KEY\").build())\n      .build();\n\n    SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n    ContainerGroupCollection response = saladCloudSdk.containerGroups.listContainerGroups(\"acme-corp\", \"dev-env\");\n\n    System.out.println(response);\n  }\n}",
            "lang": "Java"
          },
          {
            "source": "import (\n  \"fmt\"\n  \"encoding/json\"\n  \"context\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk\"\n\n)\n\nconfig := saladcloudsdkconfig.NewConfig()\nconfig.SetApiKey(\"API_KEY\")\nclient := saladcloudsdk.NewSaladCloudSdk(config)\n\nresponse, err := client.ContainerGroups.ListContainerGroups(context.Background(), \"acme-corp\", \"dev-env\")\nif err != nil {\n  panic(err)\n}\n\nfmt.Println(response)",
            "lang": "Go"
          },
          {
            "source": "import { SaladCloudSdk } from '@saladtechnologies-oss/salad-cloud-sdk';\n\n(async () => {\n  const saladCloudSdk = new SaladCloudSdk({\n    apiKey: 'YOUR_API_KEY',\n  });\n\n  const { data } = await saladCloudSdk.containerGroups.listContainerGroups('acme-corp', 'dev-env');\n\n  console.log(data);\n})();",
            "lang": "TypeScript"
          },
          {
            "source": "from salad_cloud_sdk import SaladCloudSdk\n\nsdk = SaladCloudSdk(\n    api_key=\"YOUR_API_KEY\",\n    api_key_header=\"YOUR_API_KEY_HEADER\",\n    timeout=10000\n)\n\nresult = sdk.container_groups.list_container_groups(\n    organization_name=\"acme-corp\",\n    project_name=\"dev-env\"\n)\n\nprint(result)",
            "lang": "Python"
          }
        ]
      },
      "post": {
        "operationId": "create_container_group",
        "summary": "Create Container Group",
        "description": "Creates a new container group",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateContainerGroup"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateContainerGroup"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\nusing Salad.Cloud.SDK.Models;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nvar gpuClasses = new List<string>() { \"gpu_classes\" };\nvar resources = new CreateContainerResourceRequirements(827, 734164836, gpuClasses, 64, 761306530849177.9);\nvar command = new List<string>() { \"command\" };\nvar axiom = new AxiomLoggingConfiguration(\"api_token\", \"dataset\", \"host\");\nvar tagsItem = new DatadogTagForContainerLogging(\"name\", \"value\");\nvar tags = new List<DatadogTagForContainerLogging>() { tagsItem };\nvar datadog = new DatadogLoggingConfiguration(\"api_key\", \"host\", tags);\nvar headersItem = new ContainerLoggingHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerLoggingHttpHeader>() { headersItem };\nvar http = new ContainerLoggingConfigurationHttp2(ContainerLoggingHttpCompression.None, ContainerLoggingHttpFormat.Json, \"host\", 42056, headers, \"password\", \"path\", \"user\");\nvar newRelic = new NewRelicLoggingConfiguration(\"host\", \"ingestion_key\");\nvar splunk = new ContainerLoggingSplunkConfiguration(\"host\", \"token\");\nvar tcp = new TcpLoggingConfiguration(\"host\", 44671);\nvar logging = new ContainerConfigurationLogging(axiom, datadog, http, newRelic, splunk, tcp);\nvar awsEcr = new ContainerRegistryAuthenticationAwsEcr(\"access_key_id\", \"secret_access_key\");\nvar basic = new ContainerRegistryAuthenticationBasic(\"password\", \"username\");\nvar dockerHub = new ContainerRegistryAuthenticationDockerHub(\"personal_access_token\", \"username\");\nvar gcpGar = new ContainerRegistryAuthenticationGcpGar(\"service_key\");\nvar gcpGcr = new ContainerRegistryAuthenticationGcpGcr(\"service_key\");\nvar registryAuthentication = new ContainerRegistryAuthentication(awsEcr, basic, dockerHub, gcpGar, gcpGcr);\nvar container = new ContainerConfiguration(\"acme/:latest\", resources, command, new object(), true, logging, ContainerGroupPriority.High, registryAuthentication);\nvar countryCodes = new List<CountryCode>() { CountryCode.Af };\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar livenessProbe = new ContainerGroupLivenessProbe(3, 670, 10, 1, 30, exec, grpc, http, tcp);\nvar networking = new CreateContainerGroupNetworking(false, 60000, ContainerNetworkingProtocol.Http, 100000, TheContainerGroupNetworkingLoadBalancer.RoundRobin, 100000, false);\nvar queueAutoscaler = new QueueBasedAutoscalerConfiguration(53, 321, 54, 59, 100, 140);\nvar queueConnection = new ContainerGroupQueueConnection(\"path\", 47568, \"z1h-3z01x9\");\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar readinessProbe = new ContainerGroupReadinessProbe(3, 262, 1, 1, 1, exec, grpc, http, tcp);\nvar scalingActionsItem = new ContainerGroupScalingAction(461, \"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\");\nvar scalingActions = new List<ContainerGroupScalingAction>() { scalingActionsItem };\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar startupProbe = new ContainerGroupStartupProbe(15, 503, 3, 2, 10, exec, grpc, http, tcp);\nvar input = new ContainerGroupCreationRequest(false, container, \"name\", 77, ContainerRestartPolicy.Always, countryCodes, \"KMg0KyVwpb\", livenessProbe, networking, queueAutoscaler, queueConnection, readinessProbe, scalingActions, true, startupProbe);\n\nvar response = await client.ContainerGroups.CreateContainerGroupAsync(input, \"acme-corp\", \"dev-env\");\n\nConsole.WriteLine(response);",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\nimport com.salad.cloud.sdk.models.AxiomLoggingConfiguration;\nimport com.salad.cloud.sdk.models.ContainerConfiguration;\nimport com.salad.cloud.sdk.models.ContainerConfigurationLogging;\nimport com.salad.cloud.sdk.models.ContainerGroup;\nimport com.salad.cloud.sdk.models.ContainerGroupCreationRequest;\nimport com.salad.cloud.sdk.models.ContainerGroupGRpcProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupHttpProbeConfiguration;\nimport com.salad.cloud.sdk.models.ContainerGroupLivenessProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupPriority;\nimport com.salad.cloud.sdk.models.ContainerGroupProbeExec;\nimport com.salad.cloud.sdk.models.ContainerGroupProbeHttpHeader;\nimport com.salad.cloud.sdk.models.ContainerGroupQueueConnection;\nimport com.salad.cloud.sdk.models.ContainerGroupReadinessProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupScalingAction;\nimport com.salad.cloud.sdk.models.ContainerGroupStartupProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupTcpProbe;\nimport com.salad.cloud.sdk.models.ContainerLoggingConfigurationHttp2;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpCompression;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpFormat;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpHeader;\nimport com.salad.cloud.sdk.models.ContainerLoggingSplunkConfiguration;\nimport com.salad.cloud.sdk.models.ContainerNetworkingProtocol;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthentication;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationAwsEcr;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationBasic;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationDockerHub;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationGcpGar;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationGcpGcr;\nimport com.salad.cloud.sdk.models.ContainerRestartPolicy;\nimport com.salad.cloud.sdk.models.CountryCode;\nimport com.salad.cloud.sdk.models.CreateContainerGroupNetworking;\nimport com.salad.cloud.sdk.models.CreateContainerResourceRequirements;\nimport com.salad.cloud.sdk.models.DatadogLoggingConfiguration;\nimport com.salad.cloud.sdk.models.DatadogTagForContainerLogging;\nimport com.salad.cloud.sdk.models.HttpScheme;\nimport com.salad.cloud.sdk.models.NewRelicLoggingConfiguration;\nimport com.salad.cloud.sdk.models.QueueBasedAutoscalerConfiguration;\nimport com.salad.cloud.sdk.models.TcpLoggingConfiguration;\nimport com.salad.cloud.sdk.models.TheContainerGroupNetworkingLoadBalancer;\nimport java.util.Arrays;\nimport java.util.HashMap;\nimport java.util.List;\n\npublic class Main {\n    public static void main(String[] args) {\n\t\tSaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n\t\t\t.apiKeyAuthConfig(\n\t\t\t\tApiKeyAuthConfig.builder()\n\t\t\t\t\t.apiKey(\"YOUR_API_KEY\")\n\t\t\t\t\t.build()\n\t\t\t)\n\t\t\t.build();\n\n\t\tSaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n\t\tList<String> commandList = Arrays.asList(\"command\");\n\n\t\tAxiomLoggingConfiguration axiomLoggingConfiguration = AxiomLoggingConfiguration.builder()\n\t\t\t.apiToken(\"api_token\")\n\t\t\t.dataset(\"dataset\")\n\t\t\t.host(\"host\")\n\t\t\t.build();\n\n\t\tDatadogTagForContainerLogging datadogTagForContainerLogging = DatadogTagForContainerLogging.builder()\n\t\t\t.name(\"name\")\n\t\t\t.value(\"value\")\n\t\t\t.build();\n\n\t\tList<DatadogTagForContainerLogging> tagsList = Arrays.asList(datadogTagForContainerLogging);\n\n\t\tDatadogLoggingConfiguration datadogLoggingConfiguration = DatadogLoggingConfiguration.builder()\n\t\t\t.apiKey(\"api_key\")\n\t\t\t.host(\"host\")\n\t\t\t.tags(tagsList)\n\t\t\t.build();\n\n\t\tContainerLoggingHttpHeader containerLoggingHttpHeader = ContainerLoggingHttpHeader.builder()\n\t\t\t.name(\"name\")\n\t\t\t.value(\"value\")\n\t\t\t.build();\n\n\t\tList<ContainerLoggingHttpHeader> headersList = Arrays.asList(containerLoggingHttpHeader);\n\n\t\tContainerLoggingConfigurationHttp2 containerLoggingConfigurationHttp2 = ContainerLoggingConfigurationHttp2.builder()\n\t\t\t.compression(ContainerLoggingHttpCompression.NONE)\n\t\t\t.format(ContainerLoggingHttpFormat.JSON)\n\t\t\t.headers(headersList)\n\t\t\t.host(\"host\")\n\t\t\t.password(\"password\")\n\t\t\t.path(\"path\")\n\t\t\t.port(42056L)\n\t\t\t.user(\"user\")\n\t\t\t.build();\n\n\t\tNewRelicLoggingConfiguration newRelicLoggingConfiguration = NewRelicLoggingConfiguration.builder()\n\t\t\t.host(\"host\")\n\t\t\t.ingestionKey(\"ingestion_key\")\n\t\t\t.build();\n\n\t\tContainerLoggingSplunkConfiguration containerLoggingSplunkConfiguration = ContainerLoggingSplunkConfiguration.builder()\n\t\t\t.host(\"host\")\n\t\t\t.token(\"token\")\n\t\t\t.build();\n\n\t\tTcpLoggingConfiguration tcpLoggingConfiguration = TcpLoggingConfiguration.builder()\n\t\t\t.host(\"host\")\n\t\t\t.port(44671L)\n\t\t\t.build();\n\n\t\tContainerConfigurationLogging containerConfigurationLogging = ContainerConfigurationLogging.builder()\n\t\t\t.axiom(axiomLoggingConfiguration)\n\t\t\t.datadog(datadogLoggingConfiguration)\n\t\t\t.http(containerLoggingConfigurationHttp2)\n\t\t\t.newRelic(newRelicLoggingConfiguration)\n\t\t\t.splunk(containerLoggingSplunkConfiguration)\n\t\t\t.tcp(tcpLoggingConfiguration)\n\t\t\t.build();\n\n\t\tContainerRegistryAuthenticationAwsEcr containerRegistryAuthenticationAwsEcr = ContainerRegistryAuthenticationAwsEcr.builder()\n\t\t\t.accessKeyId(\"access_key_id\")\n\t\t\t.secretAccessKey(\"secret_access_key\")\n\t\t\t.build();\n\n\t\tContainerRegistryAuthenticationBasic containerRegistryAuthenticationBasic = ContainerRegistryAuthenticationBasic.builder()\n\t\t\t.password(\"password\")\n\t\t\t.username(\"username\")\n\t\t\t.build();\n\n\t\tContainerRegistryAuthenticationDockerHub containerRegistryAuthenticationDockerHub = ContainerRegistryAuthenticationDockerHub.builder()\n\t\t\t.personalAccessToken(\"personal_access_token\")\n\t\t\t.username(\"username\")\n\t\t\t.build();\n\n\t\tContainerRegistryAuthenticationGcpGar containerRegistryAuthenticationGcpGar = ContainerRegistryAuthenticationGcpGar.builder()\n\t\t\t.serviceKey(\"service_key\")\n\t\t\t.build();\n\n\t\tContainerRegistryAuthenticationGcpGcr containerRegistryAuthenticationGcpGcr = ContainerRegistryAuthenticationGcpGcr.builder()\n\t\t\t.serviceKey(\"service_key\")\n\t\t\t.build();\n\n\t\tContainerRegistryAuthentication containerRegistryAuthentication = ContainerRegistryAuthentication.builder()\n\t\t\t.awsEcr(containerRegistryAuthenticationAwsEcr)\n\t\t\t.basic(containerRegistryAuthenticationBasic)\n\t\t\t.dockerHub(containerRegistryAuthenticationDockerHub)\n\t\t\t.gcpGar(containerRegistryAuthenticationGcpGar)\n\t\t\t.gcpGcr(containerRegistryAuthenticationGcpGcr)\n\t\t\t.build();\n\n\t\tList<String> gpuClassesList = Arrays.asList(\"gpu_classes\");\n\n\t\tCreateContainerResourceRequirements createContainerResourceRequirements = CreateContainerResourceRequirements.builder()\n\t\t\t.cpu(827L)\n\t\t\t.gpuClasses(gpuClassesList)\n\t\t\t.memory(734164836L)\n\t\t\t.shmSize(64L)\n\t\t\t.storageAmount(761306530849177.9L)\n\t\t\t.build();\n\n\t\tContainerConfiguration containerConfiguration = ContainerConfiguration.builder()\n\t\t\t.command(commandList)\n\t\t\t.environmentVariables(new HashMap())\n\t\t\t.image(\"acme/:latest\")\n\t\t\t.imageCaching(true)\n\t\t\t.logging(containerConfigurationLogging)\n\t\t\t.priority(ContainerGroupPriority.HIGH)\n\t\t\t.registryAuthentication(containerRegistryAuthentication)\n\t\t\t.resources(createContainerResourceRequirements)\n\t\t\t.build();\n\n\t\tList<CountryCode> countryCodesList = Arrays.asList(CountryCode.AF);\n\n\t\tList<String> commandList1 = Arrays.asList(\"command\");\n\n\t\tContainerGroupProbeExec containerGroupProbeExec = ContainerGroupProbeExec.builder()\n\t\t\t.command(commandList1)\n\t\t\t.build();\n\n\t\tContainerGroupGRpcProbe containerGroupGRpcProbe = ContainerGroupGRpcProbe.builder()\n\t\t\t.port(37648L)\n\t\t\t.service(\"service\")\n\t\t\t.build();\n\n\t\tContainerGroupProbeHttpHeader containerGroupProbeHttpHeader = ContainerGroupProbeHttpHeader.builder()\n\t\t\t.name(\"name\")\n\t\t\t.value(\"value\")\n\t\t\t.build();\n\n\t\tList<ContainerGroupProbeHttpHeader> headersList1 = Arrays.asList(containerGroupProbeHttpHeader);\n\n\t\tContainerGroupHttpProbeConfiguration containerGroupHttpProbeConfiguration = ContainerGroupHttpProbeConfiguration.builder()\n\t\t\t.headers(headersList1)\n\t\t\t.path(\"path\")\n\t\t\t.port(29069L)\n\t\t\t.scheme(HttpScheme.HTTP)\n\t\t\t.build();\n\n\t\tContainerGroupTcpProbe containerGroupTcpProbe = ContainerGroupTcpProbe.builder()\n\t\t\t.port(13817L)\n\t\t\t.build();\n\n\t\tContainerGroupLivenessProbe containerGroupLivenessProbe = ContainerGroupLivenessProbe.builder()\n\t\t\t.exec(containerGroupProbeExec)\n\t\t\t.failureThreshold(3L)\n\t\t\t.grpc(containerGroupGRpcProbe)\n\t\t\t.http(containerGroupHttpProbeConfiguration)\n\t\t\t.initialDelaySeconds(670L)\n\t\t\t.periodSeconds(10L)\n\t\t\t.successThreshold(1L)\n\t\t\t.tcp(containerGroupTcpProbe)\n\t\t\t.timeoutSeconds(30L)\n\t\t\t.build();\n\n\t\tCreateContainerGroupNetworking createContainerGroupNetworking = CreateContainerGroupNetworking.builder()\n\t\t\t.auth(false)\n\t\t\t.clientRequestTimeout(100000L)\n\t\t\t.loadBalancer(TheContainerGroupNetworkingLoadBalancer.ROUND_ROBIN)\n\t\t\t.port(60000L)\n\t\t\t.protocol(ContainerNetworkingProtocol.HTTP)\n\t\t\t.serverResponseTimeout(100000L)\n\t\t\t.singleConnectionLimit(false)\n\t\t\t.build();\n\n\t\tQueueBasedAutoscalerConfiguration queueBasedAutoscalerConfiguration = QueueBasedAutoscalerConfiguration.builder()\n\t\t\t.desiredQueueLength(53L)\n\t\t\t.maxDownscalePerMinute(59L)\n\t\t\t.maxReplicas(321L)\n\t\t\t.maxUpscalePerMinute(100L)\n\t\t\t.minReplicas(54L)\n\t\t\t.pollingPeriod(140L)\n\t\t\t.build();\n\n\t\tContainerGroupQueueConnection containerGroupQueueConnection = ContainerGroupQueueConnection.builder()\n\t\t\t.path(\"path\")\n\t\t\t.port(47568L)\n\t\t\t.queueName(\"z1h-3z01x9\")\n\t\t\t.build();\n\n\t\tContainerGroupReadinessProbe containerGroupReadinessProbe = ContainerGroupReadinessProbe.builder()\n\t\t\t.exec(containerGroupProbeExec)\n\t\t\t.failureThreshold(3L)\n\t\t\t.grpc(containerGroupGRpcProbe)\n\t\t\t.http(containerGroupHttpProbeConfiguration)\n\t\t\t.initialDelaySeconds(262L)\n\t\t\t.periodSeconds(1L)\n\t\t\t.successThreshold(1L)\n\t\t\t.tcp(containerGroupTcpProbe)\n\t\t\t.timeoutSeconds(1L)\n\t\t\t.build();\n\n\t\tContainerGroupScalingAction containerGroupScalingAction = ContainerGroupScalingAction.builder()\n\t\t\t.replicas(461L)\n\t\t\t.schedule(\"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\")\n\t\t\t.build();\n\n\t\tList<ContainerGroupScalingAction> scalingActionsList = Arrays.asList(containerGroupScalingAction);\n\n\t\tContainerGroupStartupProbe containerGroupStartupProbe = ContainerGroupStartupProbe.builder()\n\t\t\t.exec(containerGroupProbeExec)\n\t\t\t.failureThreshold(15L)\n\t\t\t.grpc(containerGroupGRpcProbe)\n\t\t\t.http(containerGroupHttpProbeConfiguration)\n\t\t\t.initialDelaySeconds(503L)\n\t\t\t.periodSeconds(3L)\n\t\t\t.successThreshold(2L)\n\t\t\t.tcp(containerGroupTcpProbe)\n\t\t\t.timeoutSeconds(10L)\n\t\t\t.build();\n\n\t\tContainerGroupCreationRequest containerGroupCreationRequest = ContainerGroupCreationRequest.builder()\n\t\t\t.autostartPolicy(false)\n\t\t\t.container(containerConfiguration)\n\t\t\t.countryCodes(countryCodesList)\n\t\t\t.displayName(\"KMg0KyVwpb\")\n\t\t\t.livenessProbe(containerGroupLivenessProbe)\n\t\t\t.name(\"name\")\n\t\t\t.networking(createContainerGroupNetworking)\n\t\t\t.queueAutoscaler(queueBasedAutoscalerConfiguration)\n\t\t\t.queueConnection(containerGroupQueueConnection)\n\t\t\t.readinessProbe(containerGroupReadinessProbe)\n\t\t\t.replicas(77L)\n\t\t\t.restartPolicy(ContainerRestartPolicy.ALWAYS)\n\t\t\t.scalingActions(scalingActionsList)\n\t\t\t.scheduledScalingEnabled(true)\n\t\t\t.startupProbe(containerGroupStartupProbe)\n\t\t\t.build();\n\n\t\tContainerGroup response = saladCloudSdk.containerGroups.createContainerGroup(\"acme-corp\", \"dev-env\", containerGroupCreationRequest);\n\n\t\tSystem.out.println(response);\n    }\n}",
            "lang": "Java"
          },
          {
            "source": "import (\n  \"fmt\"\n  \"encoding/json\"\n  \"context\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/util\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/containergroups\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/shared\"\n)\n\nconfig := saladcloudsdkconfig.NewConfig()\nconfig.SetApiKey(\"API_KEY\")\nclient := saladcloudsdk.NewSaladCloudSdk(config)\n\n\naxiomLoggingConfiguration := shared.AxiomLoggingConfiguration{\n  ApiToken: util.ToPointer(\"api_token\"),\n  Dataset: util.ToPointer(\"dataset\"),\n  Host: util.ToPointer(\"host\"),\n}\n\n\ndatadogTagForContainerLogging := shared.DatadogTagForContainerLogging{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\ndatadogLoggingConfiguration := shared.DatadogLoggingConfiguration{\n  ApiKey: util.ToPointer(\"api_key\"),\n  Host: util.ToPointer(\"host\"),\n  Tags: []shared.DatadogTagForContainerLogging{datadogTagForContainerLogging},\n}\n\ncontainerLoggingHttpCompression := shared.CONTAINER_LOGGING_HTTP_COMPRESSION_NONE\n\ncontainerLoggingHttpFormat := shared.CONTAINER_LOGGING_HTTP_FORMAT_JSON\n\n\ncontainerLoggingHttpHeader := shared.ContainerLoggingHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\ncontainerLoggingConfigurationHttp2 := containergroups.ContainerLoggingConfigurationHttp2{\n  Compression: &containerLoggingHttpCompression,\n  Format: &containerLoggingHttpFormat,\n  Headers: []shared.ContainerLoggingHttpHeader{containerLoggingHttpHeader},\n  Host: util.ToPointer(\"host\"),\n  Password: util.ToPointer(util.Nullable[string]{ Value: \"password\" }),\n  Path: util.ToPointer(util.Nullable[string]{ Value: \"path\" }),\n  Port: util.ToPointer(int64(42056)),\n  User: util.ToPointer(util.Nullable[string]{ Value: \"user\" }),\n}\n\n\nnewRelicLoggingConfiguration := shared.NewRelicLoggingConfiguration{\n  Host: util.ToPointer(\"host\"),\n  IngestionKey: util.ToPointer(\"ingestion_key\"),\n}\n\n\ncontainerLoggingSplunkConfiguration := shared.ContainerLoggingSplunkConfiguration{\n  Host: util.ToPointer(\"host\"),\n  Token: util.ToPointer(\"token\"),\n}\n\n\ntcpLoggingConfiguration := shared.TcpLoggingConfiguration{\n  Host: util.ToPointer(\"host\"),\n  Port: util.ToPointer(int64(44671)),\n}\n\ncontainerConfigurationLogging := containergroups.ContainerConfigurationLogging{\n  Axiom: &axiomLoggingConfiguration,\n  Datadog: &datadogLoggingConfiguration,\n  Http: &containerLoggingConfigurationHttp2,\n  NewRelic: &newRelicLoggingConfiguration,\n  Splunk: &containerLoggingSplunkConfiguration,\n  Tcp: &tcpLoggingConfiguration,\n}\n\ncontainerGroupPriority := shared.CONTAINER_GROUP_PRIORITY_HIGH\n\n\ncontainerRegistryAuthenticationAwsEcr := containergroups.ContainerRegistryAuthenticationAwsEcr{\n  AccessKeyId: util.ToPointer(\"access_key_id\"),\n  SecretAccessKey: util.ToPointer(\"secret_access_key\"),\n}\n\n\ncontainerRegistryAuthenticationBasic := containergroups.ContainerRegistryAuthenticationBasic{\n  Password: util.ToPointer(\"password\"),\n  Username: util.ToPointer(\"username\"),\n}\n\n\ncontainerRegistryAuthenticationDockerHub := containergroups.ContainerRegistryAuthenticationDockerHub{\n  PersonalAccessToken: util.ToPointer(\"personal_access_token\"),\n  Username: util.ToPointer(\"username\"),\n}\n\n\ncontainerRegistryAuthenticationGcpGar := containergroups.ContainerRegistryAuthenticationGcpGar{\n  ServiceKey: util.ToPointer(\"service_key\"),\n}\n\n\ncontainerRegistryAuthenticationGcpGcr := containergroups.ContainerRegistryAuthenticationGcpGcr{\n  ServiceKey: util.ToPointer(\"service_key\"),\n}\n\ncontainerRegistryAuthentication := containergroups.ContainerRegistryAuthentication{\n  AwsEcr: &containerRegistryAuthenticationAwsEcr,\n  Basic: &containerRegistryAuthenticationBasic,\n  DockerHub: &containerRegistryAuthenticationDockerHub,\n  GcpGar: &containerRegistryAuthenticationGcpGar,\n  GcpGcr: &containerRegistryAuthenticationGcpGcr,\n}\n\n\ncreateContainerResourceRequirements := containergroups.CreateContainerResourceRequirements{\n  Cpu: util.ToPointer(int64(827)),\n  GpuClasses: []string{},\n  Memory: util.ToPointer(int64(734164836)),\n  ShmSize: util.ToPointer(int64(64)),\n  StorageAmount: util.ToPointer(int64(761306530849177.9)),\n}\n\ncontainerConfiguration := containergroups.ContainerConfiguration{\n  Command: []string{},\n  EnvironmentVariables: map[string]string{},\n  Image: util.ToPointer(\"acme/:latest\"),\n  ImageCaching: util.ToPointer(true),\n  Logging: &containerConfigurationLogging,\n  Priority: &containerGroupPriority,\n  RegistryAuthentication: &containerRegistryAuthentication,\n  Resources: &createContainerResourceRequirements,\n}\n\ncountryCode := shared.COUNTRY_CODE_AF\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupLivenessProbe := shared.ContainerGroupLivenessProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(3)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(670)),\n  PeriodSeconds: util.ToPointer(int64(10)),\n  SuccessThreshold: util.ToPointer(int64(1)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(30)),\n}\n\ntheContainerGroupNetworkingLoadBalancer := shared.THE_CONTAINER_GROUP_NETWORKING_LOAD_BALANCER_ROUND_ROBIN\n\ncontainerNetworkingProtocol := shared.CONTAINER_NETWORKING_PROTOCOL_HTTP\n\ncreateContainerGroupNetworking := containergroups.CreateContainerGroupNetworking{\n  Auth: util.ToPointer(true),\n  ClientRequestTimeout: util.ToPointer(int64(100000)),\n  LoadBalancer: &theContainerGroupNetworkingLoadBalancer,\n  Port: util.ToPointer(int64(60000)),\n  Protocol: &containerNetworkingProtocol,\n  ServerResponseTimeout: util.ToPointer(int64(100000)),\n  SingleConnectionLimit: util.ToPointer(true),\n}\n\n\nqueueBasedAutoscalerConfiguration := shared.QueueBasedAutoscalerConfiguration{\n  DesiredQueueLength: util.ToPointer(int64(53)),\n  MaxDownscalePerMinute: util.ToPointer(int64(59)),\n  MaxReplicas: util.ToPointer(int64(321)),\n  MaxUpscalePerMinute: util.ToPointer(int64(100)),\n  MinReplicas: util.ToPointer(int64(54)),\n  PollingPeriod: util.ToPointer(int64(140)),\n}\n\n\ncontainerGroupQueueConnection := shared.ContainerGroupQueueConnection{\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(47568)),\n  QueueName: util.ToPointer(\"z1h-3z01x9\"),\n}\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupReadinessProbe := shared.ContainerGroupReadinessProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(3)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(262)),\n  PeriodSeconds: util.ToPointer(int64(1)),\n  SuccessThreshold: util.ToPointer(int64(1)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(1)),\n}\n\ncontainerRestartPolicy := shared.CONTAINER_RESTART_POLICY_ALWAYS\n\n\ncontainerGroupScalingAction := shared.ContainerGroupScalingAction{\n  Replicas: util.ToPointer(int64(461)),\n  Schedule: util.ToPointer(\"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\"),\n}\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupStartupProbe := shared.ContainerGroupStartupProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(15)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(503)),\n  PeriodSeconds: util.ToPointer(int64(3)),\n  SuccessThreshold: util.ToPointer(int64(2)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(10)),\n}\n\nrequest := containergroups.ContainerGroupCreationRequest{\n  AutostartPolicy: util.ToPointer(true),\n  Container: &containerConfiguration,\n  CountryCodes: []shared.CountryCode{countryCode},\n  DisplayName: util.ToPointer(\"KMg0KyVwpb\"),\n  LivenessProbe: &containerGroupLivenessProbe,\n  Name: util.ToPointer(\"name\"),\n  Networking: &createContainerGroupNetworking,\n  QueueAutoscaler: &queueBasedAutoscalerConfiguration,\n  QueueConnection: &containerGroupQueueConnection,\n  ReadinessProbe: &containerGroupReadinessProbe,\n  Replicas: util.ToPointer(int64(77)),\n  RestartPolicy: &containerRestartPolicy,\n  ScalingActions: []shared.ContainerGroupScalingAction{containerGroupScalingAction},\n  ScheduledScalingEnabled: util.ToPointer(true),\n  StartupProbe: &containerGroupStartupProbe,\n}\n\nresponse, err := client.ContainerGroups.CreateContainerGroup(context.Background(), \"acme-corp\", \"dev-env\", request)\nif err != nil {\n  panic(err)\n}\n\nfmt.Println(response)",
            "lang": "Go"
          },
          {
            "source": "import {\n  AxiomLoggingConfiguration,\n  ContainerConfiguration,\n  ContainerConfigurationLogging,\n  ContainerGroupCreationRequest,\n  ContainerGroupGRpcProbe,\n  ContainerGroupHttpProbeConfiguration,\n  ContainerGroupLivenessProbe,\n  ContainerGroupPriority,\n  ContainerGroupProbeExec,\n  ContainerGroupProbeHttpHeader,\n  ContainerGroupQueueConnection,\n  ContainerGroupReadinessProbe,\n  ContainerGroupScalingAction,\n  ContainerGroupStartupProbe,\n  ContainerGroupTcpProbe,\n  ContainerLoggingConfigurationHttp2,\n  ContainerLoggingHttpCompression,\n  ContainerLoggingHttpFormat,\n  ContainerLoggingHttpHeader,\n  ContainerLoggingSplunkConfiguration,\n  ContainerNetworkingProtocol,\n  ContainerRegistryAuthentication,\n  ContainerRegistryAuthenticationAwsEcr,\n  ContainerRegistryAuthenticationBasic,\n  ContainerRegistryAuthenticationDockerHub,\n  ContainerRegistryAuthenticationGcpGar,\n  ContainerRegistryAuthenticationGcpGcr,\n  ContainerRestartPolicy,\n  CountryCode,\n  CreateContainerGroupNetworking,\n  CreateContainerResourceRequirements,\n  DatadogLoggingConfiguration,\n  DatadogTagForContainerLogging,\n  HttpScheme,\n  NewRelicLoggingConfiguration,\n  QueueBasedAutoscalerConfiguration,\n  SaladCloudSdk,\n  TcpLoggingConfiguration,\n  TheContainerGroupNetworkingLoadBalancer,\n} from '@saladtechnologies-oss/salad-cloud-sdk';\n\n(async () => {\n  const saladCloudSdk = new SaladCloudSdk({\n    apiKey: 'YOUR_API_KEY',\n  });\n\n  const axiomLoggingConfiguration: AxiomLoggingConfiguration = {\n    apiToken: 'api_token',\n    dataset: 'dataset',\n    host: 'host',\n  };\n\n  const datadogTagForContainerLogging: DatadogTagForContainerLogging = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const datadogLoggingConfiguration: DatadogLoggingConfiguration = {\n    apiKey: 'api_key',\n    host: 'host',\n    tags: [datadogTagForContainerLogging],\n  };\n\n  const containerLoggingHttpCompression = ContainerLoggingHttpCompression.NONE;\n\n  const containerLoggingHttpFormat = ContainerLoggingHttpFormat.JSON;\n\n  const containerLoggingHttpHeader: ContainerLoggingHttpHeader = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const containerLoggingConfigurationHttp2: ContainerLoggingConfigurationHttp2 = {\n    compression: containerLoggingHttpCompression,\n    format: containerLoggingHttpFormat,\n    headers: [containerLoggingHttpHeader],\n    host: 'host',\n    password: 'password',\n    path: 'path',\n    port: 42056,\n    user: 'user',\n  };\n\n  const newRelicLoggingConfiguration: NewRelicLoggingConfiguration = {\n    host: 'host',\n    ingestionKey: 'ingestion_key',\n  };\n\n  const containerLoggingSplunkConfiguration: ContainerLoggingSplunkConfiguration = {\n    host: 'host',\n    token: 'token',\n  };\n\n  const tcpLoggingConfiguration: TcpLoggingConfiguration = {\n    host: 'host',\n    port: 44671,\n  };\n\n  const containerConfigurationLogging: ContainerConfigurationLogging = {\n    axiom: axiomLoggingConfiguration,\n    datadog: datadogLoggingConfiguration,\n    http: containerLoggingConfigurationHttp2,\n    newRelic: newRelicLoggingConfiguration,\n    splunk: containerLoggingSplunkConfiguration,\n    tcp: tcpLoggingConfiguration,\n  };\n\n  const containerGroupPriority = ContainerGroupPriority.HIGH;\n\n  const containerRegistryAuthenticationAwsEcr: ContainerRegistryAuthenticationAwsEcr = {\n    accessKeyId: 'access_key_id',\n    secretAccessKey: 'secret_access_key',\n  };\n\n  const containerRegistryAuthenticationBasic: ContainerRegistryAuthenticationBasic = {\n    password: 'password',\n    username: 'username',\n  };\n\n  const containerRegistryAuthenticationDockerHub: ContainerRegistryAuthenticationDockerHub = {\n    personalAccessToken: 'personal_access_token',\n    username: 'username',\n  };\n\n  const containerRegistryAuthenticationGcpGar: ContainerRegistryAuthenticationGcpGar = {\n    serviceKey: 'service_key',\n  };\n\n  const containerRegistryAuthenticationGcpGcr: ContainerRegistryAuthenticationGcpGcr = {\n    serviceKey: 'service_key',\n  };\n\n  const containerRegistryAuthentication: ContainerRegistryAuthentication = {\n    awsEcr: containerRegistryAuthenticationAwsEcr,\n    basic: containerRegistryAuthenticationBasic,\n    dockerHub: containerRegistryAuthenticationDockerHub,\n    gcpGar: containerRegistryAuthenticationGcpGar,\n    gcpGcr: containerRegistryAuthenticationGcpGcr,\n  };\n\n  const createContainerResourceRequirements: CreateContainerResourceRequirements = {\n    cpu: 827,\n    gpuClasses: ['gpu_classes'],\n    memory: 734164836,\n    shmSize: 64,\n    storageAmount: 761306530849177.9,\n  };\n\n  const containerConfiguration: ContainerConfiguration = {\n    command: ['command'],\n    environmentVariables: [],\n    image: 'acme/:latest',\n    imageCaching: true,\n    logging: containerConfigurationLogging,\n    priority: containerGroupPriority,\n    registryAuthentication: containerRegistryAuthentication,\n    resources: createContainerResourceRequirements,\n  };\n\n  const countryCode = CountryCode.AF;\n\n  const containerGroupProbeExec: ContainerGroupProbeExec = {\n    command: ['command'],\n  };\n\n  const containerGroupGRpcProbe: ContainerGroupGRpcProbe = {\n    port: 37648,\n    service: 'service',\n  };\n\n  const containerGroupProbeHttpHeader: ContainerGroupProbeHttpHeader = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const httpScheme = HttpScheme.HTTP;\n\n  const containerGroupHttpProbeConfiguration: ContainerGroupHttpProbeConfiguration = {\n    headers: [containerGroupProbeHttpHeader],\n    path: 'path',\n    port: 29069,\n    scheme: httpScheme,\n  };\n\n  const containerGroupTcpProbe: ContainerGroupTcpProbe = {\n    port: 13817,\n  };\n\n  const containerGroupLivenessProbe: ContainerGroupLivenessProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 3,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 670,\n    periodSeconds: 10,\n    successThreshold: 1,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 30,\n  };\n\n  const theContainerGroupNetworkingLoadBalancer = TheContainerGroupNetworkingLoadBalancer.ROUND_ROBIN;\n\n  const containerNetworkingProtocol = ContainerNetworkingProtocol.HTTP;\n\n  const createContainerGroupNetworking: CreateContainerGroupNetworking = {\n    auth: true,\n    clientRequestTimeout: 100000,\n    loadBalancer: theContainerGroupNetworkingLoadBalancer,\n    port: 60000,\n    protocol: containerNetworkingProtocol,\n    serverResponseTimeout: 100000,\n    singleConnectionLimit: true,\n  };\n\n  const queueBasedAutoscalerConfiguration: QueueBasedAutoscalerConfiguration = {\n    desiredQueueLength: 53,\n    maxDownscalePerMinute: 59,\n    maxReplicas: 321,\n    maxUpscalePerMinute: 100,\n    minReplicas: 54,\n    pollingPeriod: 140,\n  };\n\n  const containerGroupQueueConnection: ContainerGroupQueueConnection = {\n    path: 'path',\n    port: 47568,\n    queueName: 'z1h-3z01x9',\n  };\n\n  const containerGroupReadinessProbe: ContainerGroupReadinessProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 3,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 262,\n    periodSeconds: 1,\n    successThreshold: 1,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 1,\n  };\n\n  const containerRestartPolicy = ContainerRestartPolicy.ALWAYS;\n\n  const containerGroupScalingAction: ContainerGroupScalingAction = {\n    replicas: 461,\n    schedule: '7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT',\n  };\n\n  const containerGroupStartupProbe: ContainerGroupStartupProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 15,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 503,\n    periodSeconds: 3,\n    successThreshold: 2,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 10,\n  };\n\n  const containerGroupCreationRequest: ContainerGroupCreationRequest = {\n    autostartPolicy: true,\n    container: containerConfiguration,\n    countryCodes: [countryCode],\n    displayName: 'KMg0KyVwpb',\n    livenessProbe: containerGroupLivenessProbe,\n    name: 'name',\n    networking: createContainerGroupNetworking,\n    queueAutoscaler: queueBasedAutoscalerConfiguration,\n    queueConnection: containerGroupQueueConnection,\n    readinessProbe: containerGroupReadinessProbe,\n    replicas: 77,\n    restartPolicy: containerRestartPolicy,\n    scalingActions: [containerGroupScalingAction],\n    scheduledScalingEnabled: true,\n    startupProbe: containerGroupStartupProbe,\n  };\n\n  const { data } = await saladCloudSdk.containerGroups.createContainerGroup(\n    'acme-corp',\n    'dev-env',\n    containerGroupCreationRequest,\n  );\n\n  console.log(data);\n})();",
            "lang": "TypeScript"
          },
          {
            "source": "from salad_cloud_sdk import SaladCloudSdk\nfrom salad_cloud_sdk.models import ContainerGroupCreationRequest\n\nsdk = SaladCloudSdk(\n    api_key=\"YOUR_API_KEY\",\n    api_key_header=\"YOUR_API_KEY_HEADER\",\n    timeout=10000\n)\n\nrequest_body = ContainerGroupCreationRequest(\n    autostart_policy=False,\n    container={\n        \"command\": [\n            \"command\"\n        ],\n        \"environment_variables\": {},\n        \"image\": \"acme/:latest\",\n        \"image_caching\": True,\n        \"logging\": {\n            \"axiom\": {\n                \"api_token\": \"api_token\",\n                \"dataset\": \"dataset\",\n                \"host\": \"host\"\n            },\n            \"datadog\": {\n                \"api_key\": \"api_key\",\n                \"host\": \"host\",\n                \"tags\": [\n                    {\n                        \"name\": \"name\",\n                        \"value\": \"value\"\n                    }\n                ]\n            },\n            \"http\": {\n                \"compression\": \"none\",\n                \"format\": \"json\",\n                \"headers\": [\n                    {\n                        \"name\": \"name\",\n                        \"value\": \"value\"\n                    }\n                ],\n                \"host\": \"host\",\n                \"password\": \"password\",\n                \"path\": \"path\",\n                \"port\": 42056,\n                \"user\": \"user\"\n            },\n            \"new_relic\": {\n                \"host\": \"host\",\n                \"ingestion_key\": \"ingestion_key\"\n            },\n            \"splunk\": {\n                \"host\": \"host\",\n                \"token\": \"token\"\n            },\n            \"tcp\": {\n                \"host\": \"host\",\n                \"port\": 44671\n            }\n        },\n        \"priority\": \"high\",\n        \"registry_authentication\": {\n            \"aws_ecr\": {\n                \"access_key_id\": \"access_key_id\",\n                \"secret_access_key\": \"secret_access_key\"\n            },\n            \"basic\": {\n                \"password\": \"password\",\n                \"username\": \"username\"\n            },\n            \"docker_hub\": {\n                \"personal_access_token\": \"personal_access_token\",\n                \"username\": \"username\"\n            },\n            \"gcp_gar\": {\n                \"service_key\": \"service_key\"\n            },\n            \"gcp_gcr\": {\n                \"service_key\": \"service_key\"\n            }\n        },\n        \"resources\": {\n            \"cpu\": 827,\n            \"gpu_classes\": [\n                \"gpu_classes\"\n            ],\n            \"memory\": 734164836,\n            \"shm_size\": 64,\n            \"storage_amount\": 761306530849177.9\n        }\n    },\n    country_codes=[\n        \"af\"\n    ],\n    display_name=\"KMg0KyVwpb\",\n    liveness_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 3,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 670,\n        \"period_seconds\": 10,\n        \"success_threshold\": 1,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 30\n    },\n    name=\"name\",\n    networking={\n        \"auth\": False,\n        \"client_request_timeout\": 100000,\n        \"load_balancer\": \"round_robin\",\n        \"port\": 60000,\n        \"protocol\": \"http\",\n        \"server_response_timeout\": 100000,\n        \"single_connection_limit\": False\n    },\n    queue_autoscaler={\n        \"desired_queue_length\": 53,\n        \"max_downscale_per_minute\": 59,\n        \"max_replicas\": 321,\n        \"max_upscale_per_minute\": 100,\n        \"min_replicas\": 54,\n        \"polling_period\": 140\n    },\n    queue_connection={\n        \"path\": \"path\",\n        \"port\": 47568,\n        \"queue_name\": \"z1h-3z01x9\"\n    },\n    readiness_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 3,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 262,\n        \"period_seconds\": 1,\n        \"success_threshold\": 1,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 1\n    },\n    replicas=77,\n    restart_policy=\"always\",\n    scaling_actions=[\n        {\n            \"replicas\": 461,\n            \"schedule\": \"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\"\n        }\n    ],\n    scheduled_scaling_enabled=True,\n    startup_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 15,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 503,\n        \"period_seconds\": 3,\n        \"success_threshold\": 2,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 10\n    }\n)\n\nresult = sdk.container_groups.create_container_group(\n    request_body=request_body,\n    organization_name=\"acme-corp\",\n    project_name=\"dev-env\"\n)\n\nprint(result)",
            "lang": "Python"
          }
        ]
      }
    },
    "/organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}": {
      "summary": "Container Group",
      "description": "Operations for a container group",
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_name"
        },
        {
          "$ref": "#/components/parameters/project_name"
        },
        {
          "$ref": "#/components/parameters/container_group_name"
        }
      ],
      "get": {
        "operationId": "get_container_group",
        "summary": "Get Container Group",
        "description": "Gets a container group",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetContainerGroup"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nvar response = await client.ContainerGroups.GetContainerGroupAsync(\"acme-corp\", \"dev-env\", \"mandlebrot\");\n\nConsole.WriteLine(response);",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\nimport com.salad.cloud.sdk.models.ContainerGroup;\n\npublic class Main {\n\n  public static void main(String[] args) {\n    SaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n      .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey(\"YOUR_API_KEY\").build())\n      .build();\n\n    SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n    ContainerGroup response = saladCloudSdk.containerGroups.getContainerGroup(\"acme-corp\", \"dev-env\", \"mandlebrot\");\n\n    System.out.println(response);\n  }\n}",
            "lang": "Java"
          },
          {
            "source": "import (\n  \"fmt\"\n  \"encoding/json\"\n  \"context\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk\"\n\n)\n\nconfig := saladcloudsdkconfig.NewConfig()\nconfig.SetApiKey(\"API_KEY\")\nclient := saladcloudsdk.NewSaladCloudSdk(config)\n\nresponse, err := client.ContainerGroups.GetContainerGroup(context.Background(), \"acme-corp\", \"dev-env\", \"mandlebrot\")\nif err != nil {\n  panic(err)\n}\n\nfmt.Println(response)",
            "lang": "Go"
          },
          {
            "source": "import { SaladCloudSdk } from '@saladtechnologies-oss/salad-cloud-sdk';\n\n(async () => {\n  const saladCloudSdk = new SaladCloudSdk({\n    apiKey: 'YOUR_API_KEY',\n  });\n\n  const { data } = await saladCloudSdk.containerGroups.getContainerGroup('acme-corp', 'dev-env', 'mandlebrot');\n\n  console.log(data);\n})();",
            "lang": "TypeScript"
          },
          {
            "source": "from salad_cloud_sdk import SaladCloudSdk\n\nsdk = SaladCloudSdk(\n    api_key=\"YOUR_API_KEY\",\n    api_key_header=\"YOUR_API_KEY_HEADER\",\n    timeout=10000\n)\n\nresult = sdk.container_groups.get_container_group(\n    organization_name=\"acme-corp\",\n    project_name=\"dev-env\",\n    container_group_name=\"mandlebrot\"\n)\n\nprint(result)",
            "lang": "Python"
          }
        ]
      },
      "patch": {
        "operationId": "update_container_group",
        "summary": "Update Container Group",
        "description": "Updates a container group",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateContainerGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateContainerGroup"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\nusing Salad.Cloud.SDK.Models;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nvar command = new List<string>() { \"command\" };\nvar axiom = new AxiomLoggingConfiguration(\"api_token\", \"dataset\", \"host\");\nvar tagsItem = new DatadogTagForContainerLogging(\"name\", \"value\");\nvar tags = new List<DatadogTagForContainerLogging>() { tagsItem };\nvar datadog = new DatadogLoggingConfiguration(\"api_key\", \"host\", tags);\nvar headersItem = new ContainerLoggingHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerLoggingHttpHeader>() { headersItem };\nvar http = new ContainerLoggingConfigurationHttp1(ContainerLoggingHttpCompression.None, ContainerLoggingHttpFormat.Json, headers, \"host\", 55354, \"password\", \"path\", \"user\");\nvar newRelic = new NewRelicLoggingConfiguration(\"host\", \"ingestion_key\");\nvar splunk = new ContainerLoggingSplunkConfiguration(\"host\", \"token\");\nvar tcp = new TcpLoggingConfiguration(\"host\", 44671);\nvar logging = new UpdateContainerLogging(axiom, datadog, http, newRelic, splunk, tcp);\nvar awsEcr = new ContainerRegistryAuthenticationAwsEcr(\"access_key_id\", \"secret_access_key\");\nvar basic = new ContainerRegistryAuthenticationBasic(\"password\", \"username\");\nvar dockerHub = new ContainerRegistryAuthenticationDockerHub(\"personal_access_token\", \"username\");\nvar gcpGar = new ContainerRegistryAuthenticationGcpGar(\"service_key\");\nvar gcpGcr = new ContainerRegistryAuthenticationGcpGcr(\"service_key\");\nvar registryAuthentication = new ContainerRegistryAuthentication(awsEcr, basic, dockerHub, gcpGar, gcpGcr);\nvar gpuClasses = new List<string>() { \"gpu_classes\" };\nvar resources = new ContainerResourceUpdateSchema(191, gpuClasses, 909130690, 64, 699558298076245);\nvar container = new UpdateContainer(command, new object(), \"image\", true, logging, ContainerGroupPriority.High, registryAuthentication, resources);\nvar countryCodes = new List<CountryCode>() { CountryCode.Af };\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar livenessProbe = new ContainerGroupLivenessProbe(3, 670, 10, 1, 30, exec, grpc, http, tcp);\nvar networking = new UpdateContainerGroupNetworking(17025);\nvar queueAutoscaler = new QueueBasedAutoscalerConfiguration(53, 321, 54, 59, 100, 140);\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar readinessProbe = new ContainerGroupReadinessProbe(3, 262, 1, 1, 1, exec, grpc, http, tcp);\nvar scalingActionsItem = new ContainerGroupScalingAction(461, \"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\");\nvar scalingActions = new List<ContainerGroupScalingAction>() { scalingActionsItem };\nvar command = new List<string>() { \"command\" };\nvar exec = new ContainerGroupProbeExec(command);\nvar grpc = new ContainerGroupGRpcProbe(37648, \"service\");\nvar headersItem = new ContainerGroupProbeHttpHeader(\"name\", \"value\");\nvar headers = new List<ContainerGroupProbeHttpHeader>() { headersItem };\nvar http = new ContainerGroupHttpProbeConfiguration(headers, \"path\", 29069, HttpScheme.Http);\nvar tcp = new ContainerGroupTcpProbe(13817);\nvar startupProbe = new ContainerGroupStartupProbe(15, 503, 3, 2, 10, exec, grpc, http, tcp);\nvar input = new ContainerGroupPatch(container, countryCodes, \"ykW8yoj HBQ\", livenessProbe, networking, queueAutoscaler, readinessProbe, 102, scalingActions, true, startupProbe);\n\nvar response = await client.ContainerGroups.UpdateContainerGroupAsync(input, \"acme-corp\", \"dev-env\", \"mandlebrot\");\n\nConsole.WriteLine(response);",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\nimport com.salad.cloud.sdk.models.AxiomLoggingConfiguration;\nimport com.salad.cloud.sdk.models.ContainerGroup;\nimport com.salad.cloud.sdk.models.ContainerGroupGRpcProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupHttpProbeConfiguration;\nimport com.salad.cloud.sdk.models.ContainerGroupLivenessProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupPatch;\nimport com.salad.cloud.sdk.models.ContainerGroupPriority;\nimport com.salad.cloud.sdk.models.ContainerGroupProbeExec;\nimport com.salad.cloud.sdk.models.ContainerGroupProbeHttpHeader;\nimport com.salad.cloud.sdk.models.ContainerGroupReadinessProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupScalingAction;\nimport com.salad.cloud.sdk.models.ContainerGroupStartupProbe;\nimport com.salad.cloud.sdk.models.ContainerGroupTcpProbe;\nimport com.salad.cloud.sdk.models.ContainerLoggingConfigurationHttp1;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpCompression;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpFormat;\nimport com.salad.cloud.sdk.models.ContainerLoggingHttpHeader;\nimport com.salad.cloud.sdk.models.ContainerLoggingSplunkConfiguration;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthentication;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationAwsEcr;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationBasic;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationDockerHub;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationGcpGar;\nimport com.salad.cloud.sdk.models.ContainerRegistryAuthenticationGcpGcr;\nimport com.salad.cloud.sdk.models.ContainerResourceUpdateSchema;\nimport com.salad.cloud.sdk.models.CountryCode;\nimport com.salad.cloud.sdk.models.DatadogLoggingConfiguration;\nimport com.salad.cloud.sdk.models.DatadogTagForContainerLogging;\nimport com.salad.cloud.sdk.models.HttpScheme;\nimport com.salad.cloud.sdk.models.NewRelicLoggingConfiguration;\nimport com.salad.cloud.sdk.models.QueueBasedAutoscalerConfiguration;\nimport com.salad.cloud.sdk.models.TcpLoggingConfiguration;\nimport com.salad.cloud.sdk.models.UpdateContainer;\nimport com.salad.cloud.sdk.models.UpdateContainerGroupNetworking;\nimport com.salad.cloud.sdk.models.UpdateContainerLogging;\nimport java.util.Arrays;\nimport java.util.HashMap;\nimport java.util.List;\n\npublic class Main {\n\n  public static void main(String[] args) {\n    SaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n      .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey(\"YOUR_API_KEY\").build())\n      .build();\n\n    SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n    List<String> commandList = Arrays.asList(\"command\");\n\n    AxiomLoggingConfiguration axiomLoggingConfiguration = AxiomLoggingConfiguration.builder()\n      .apiToken(\"api_token\")\n      .dataset(\"dataset\")\n      .host(\"host\")\n      .build();\n\n    DatadogTagForContainerLogging datadogTagForContainerLogging = DatadogTagForContainerLogging.builder()\n      .name(\"name\")\n      .value(\"value\")\n      .build();\n\n    List<DatadogTagForContainerLogging> tagsList = Arrays.asList(datadogTagForContainerLogging);\n\n    DatadogLoggingConfiguration datadogLoggingConfiguration = DatadogLoggingConfiguration.builder()\n      .apiKey(\"api_key\")\n      .host(\"host\")\n      .tags(tagsList)\n      .build();\n\n    ContainerLoggingHttpHeader containerLoggingHttpHeader = ContainerLoggingHttpHeader.builder()\n      .name(\"name\")\n      .value(\"value\")\n      .build();\n\n    List<ContainerLoggingHttpHeader> headersList = Arrays.asList(containerLoggingHttpHeader);\n\n    ContainerLoggingConfigurationHttp1 containerLoggingConfigurationHttp1 = ContainerLoggingConfigurationHttp1.builder()\n      .compression(ContainerLoggingHttpCompression.NONE)\n      .format(ContainerLoggingHttpFormat.JSON)\n      .headers(headersList)\n      .host(\"host\")\n      .password(\"password\")\n      .path(\"path\")\n      .port(55354L)\n      .user(\"user\")\n      .build();\n\n    NewRelicLoggingConfiguration newRelicLoggingConfiguration = NewRelicLoggingConfiguration.builder()\n      .host(\"host\")\n      .ingestionKey(\"ingestion_key\")\n      .build();\n\n    ContainerLoggingSplunkConfiguration containerLoggingSplunkConfiguration =\n      ContainerLoggingSplunkConfiguration.builder().host(\"host\").token(\"token\").build();\n\n    TcpLoggingConfiguration tcpLoggingConfiguration = TcpLoggingConfiguration.builder()\n      .host(\"host\")\n      .port(44671L)\n      .build();\n\n    UpdateContainerLogging updateContainerLogging = UpdateContainerLogging.builder()\n      .axiom(axiomLoggingConfiguration)\n      .datadog(datadogLoggingConfiguration)\n      .http(containerLoggingConfigurationHttp1)\n      .newRelic(newRelicLoggingConfiguration)\n      .splunk(containerLoggingSplunkConfiguration)\n      .tcp(tcpLoggingConfiguration)\n      .build();\n\n    ContainerRegistryAuthenticationAwsEcr containerRegistryAuthenticationAwsEcr =\n      ContainerRegistryAuthenticationAwsEcr.builder()\n        .accessKeyId(\"access_key_id\")\n        .secretAccessKey(\"secret_access_key\")\n        .build();\n\n    ContainerRegistryAuthenticationBasic containerRegistryAuthenticationBasic =\n      ContainerRegistryAuthenticationBasic.builder().password(\"password\").username(\"username\").build();\n\n    ContainerRegistryAuthenticationDockerHub containerRegistryAuthenticationDockerHub =\n      ContainerRegistryAuthenticationDockerHub.builder()\n        .personalAccessToken(\"personal_access_token\")\n        .username(\"username\")\n        .build();\n\n    ContainerRegistryAuthenticationGcpGar containerRegistryAuthenticationGcpGar =\n      ContainerRegistryAuthenticationGcpGar.builder().serviceKey(\"service_key\").build();\n\n    ContainerRegistryAuthenticationGcpGcr containerRegistryAuthenticationGcpGcr =\n      ContainerRegistryAuthenticationGcpGcr.builder().serviceKey(\"service_key\").build();\n\n    ContainerRegistryAuthentication containerRegistryAuthentication = ContainerRegistryAuthentication.builder()\n      .awsEcr(containerRegistryAuthenticationAwsEcr)\n      .basic(containerRegistryAuthenticationBasic)\n      .dockerHub(containerRegistryAuthenticationDockerHub)\n      .gcpGar(containerRegistryAuthenticationGcpGar)\n      .gcpGcr(containerRegistryAuthenticationGcpGcr)\n      .build();\n\n    List<String> gpuClassesList = Arrays.asList(\"gpu_classes\");\n\n    ContainerResourceUpdateSchema containerResourceUpdateSchema = ContainerResourceUpdateSchema.builder()\n      .cpu(191L)\n      .gpuClasses(gpuClassesList)\n      .memory(909130690L)\n      .shmSize(64L)\n      .storageAmount(699558298076245L)\n      .build();\n\n    UpdateContainer updateContainer = UpdateContainer.builder()\n      .command(commandList)\n      .environmentVariables(new HashMap())\n      .image(\"image\")\n      .imageCaching(true)\n      .logging(updateContainerLogging)\n      .priority(ContainerGroupPriority.HIGH)\n      .registryAuthentication(containerRegistryAuthentication)\n      .resources(containerResourceUpdateSchema)\n      .build();\n\n    List<CountryCode> countryCodesList = Arrays.asList(CountryCode.AF);\n\n    List<String> commandList1 = Arrays.asList(\"command\");\n\n    ContainerGroupProbeExec containerGroupProbeExec = ContainerGroupProbeExec.builder().command(commandList1).build();\n\n    ContainerGroupGRpcProbe containerGroupGRpcProbe = ContainerGroupGRpcProbe.builder()\n      .port(37648L)\n      .service(\"service\")\n      .build();\n\n    ContainerGroupProbeHttpHeader containerGroupProbeHttpHeader = ContainerGroupProbeHttpHeader.builder()\n      .name(\"name\")\n      .value(\"value\")\n      .build();\n\n    List<ContainerGroupProbeHttpHeader> headersList1 = Arrays.asList(containerGroupProbeHttpHeader);\n\n    ContainerGroupHttpProbeConfiguration containerGroupHttpProbeConfiguration =\n      ContainerGroupHttpProbeConfiguration.builder()\n        .headers(headersList1)\n        .path(\"path\")\n        .port(29069L)\n        .scheme(HttpScheme.HTTP)\n        .build();\n\n    ContainerGroupTcpProbe containerGroupTcpProbe = ContainerGroupTcpProbe.builder().port(13817L).build();\n\n    ContainerGroupLivenessProbe containerGroupLivenessProbe = ContainerGroupLivenessProbe.builder()\n      .exec(containerGroupProbeExec)\n      .failureThreshold(3L)\n      .grpc(containerGroupGRpcProbe)\n      .http(containerGroupHttpProbeConfiguration)\n      .initialDelaySeconds(670L)\n      .periodSeconds(10L)\n      .successThreshold(1L)\n      .tcp(containerGroupTcpProbe)\n      .timeoutSeconds(30L)\n      .build();\n\n    UpdateContainerGroupNetworking updateContainerGroupNetworking = UpdateContainerGroupNetworking.builder()\n      .port(17025L)\n      .build();\n\n    QueueBasedAutoscalerConfiguration queueBasedAutoscalerConfiguration = QueueBasedAutoscalerConfiguration.builder()\n      .desiredQueueLength(53L)\n      .maxDownscalePerMinute(59L)\n      .maxReplicas(321L)\n      .maxUpscalePerMinute(100L)\n      .minReplicas(54L)\n      .pollingPeriod(140L)\n      .build();\n\n    ContainerGroupReadinessProbe containerGroupReadinessProbe = ContainerGroupReadinessProbe.builder()\n      .exec(containerGroupProbeExec)\n      .failureThreshold(3L)\n      .grpc(containerGroupGRpcProbe)\n      .http(containerGroupHttpProbeConfiguration)\n      .initialDelaySeconds(262L)\n      .periodSeconds(1L)\n      .successThreshold(1L)\n      .tcp(containerGroupTcpProbe)\n      .timeoutSeconds(1L)\n      .build();\n\n    ContainerGroupScalingAction containerGroupScalingAction = ContainerGroupScalingAction.builder()\n      .replicas(461L)\n      .schedule(\"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\")\n      .build();\n\n    List<ContainerGroupScalingAction> scalingActionsList = Arrays.asList(containerGroupScalingAction);\n\n    ContainerGroupStartupProbe containerGroupStartupProbe = ContainerGroupStartupProbe.builder()\n      .exec(containerGroupProbeExec)\n      .failureThreshold(15L)\n      .grpc(containerGroupGRpcProbe)\n      .http(containerGroupHttpProbeConfiguration)\n      .initialDelaySeconds(503L)\n      .periodSeconds(3L)\n      .successThreshold(2L)\n      .tcp(containerGroupTcpProbe)\n      .timeoutSeconds(10L)\n      .build();\n\n    ContainerGroupPatch containerGroupPatch = ContainerGroupPatch.builder()\n      .container(updateContainer)\n      .countryCodes(countryCodesList)\n      .displayName(\"ykW8yoj HBQ\")\n      .livenessProbe(containerGroupLivenessProbe)\n      .networking(updateContainerGroupNetworking)\n      .queueAutoscaler(queueBasedAutoscalerConfiguration)\n      .readinessProbe(containerGroupReadinessProbe)\n      .replicas(102L)\n      .scalingActions(scalingActionsList)\n      .scheduledScalingEnabled(true)\n      .startupProbe(containerGroupStartupProbe)\n      .build();\n\n    ContainerGroup response = saladCloudSdk.containerGroups.updateContainerGroup(\n      \"acme-corp\",\n      \"dev-env\",\n      \"mandlebrot\",\n      containerGroupPatch\n    );\n\n    System.out.println(response);\n  }\n}",
            "lang": "Java"
          },
          {
            "source": "import (\n  \"fmt\"\n  \"encoding/json\"\n  \"context\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/util\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/containergroups\"\n)\n\nconfig := saladcloudsdkconfig.NewConfig()\nconfig.SetApiKey(\"API_KEY\")\nclient := saladcloudsdk.NewSaladCloudSdk(config)\n\n\naxiomLoggingConfiguration := shared.AxiomLoggingConfiguration{\n  ApiToken: util.ToPointer(\"api_token\"),\n  Dataset: util.ToPointer(\"dataset\"),\n  Host: util.ToPointer(\"host\"),\n}\n\n\ndatadogTagForContainerLogging := shared.DatadogTagForContainerLogging{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\ndatadogLoggingConfiguration := shared.DatadogLoggingConfiguration{\n  ApiKey: util.ToPointer(\"api_key\"),\n  Host: util.ToPointer(\"host\"),\n  Tags: []shared.DatadogTagForContainerLogging{datadogTagForContainerLogging},\n}\n\ncontainerLoggingHttpCompression := shared.CONTAINER_LOGGING_HTTP_COMPRESSION_NONE\n\ncontainerLoggingHttpFormat := shared.CONTAINER_LOGGING_HTTP_FORMAT_JSON\n\n\ncontainerLoggingHttpHeader := shared.ContainerLoggingHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\ncontainerLoggingConfigurationHttp1 := shared.ContainerLoggingConfigurationHttp1{\n  Compression: &containerLoggingHttpCompression,\n  Format: &containerLoggingHttpFormat,\n  Headers: []shared.ContainerLoggingHttpHeader{containerLoggingHttpHeader},\n  Host: util.ToPointer(\"host\"),\n  Password: util.ToPointer(util.Nullable[string]{ Value: \"password\" }),\n  Path: util.ToPointer(util.Nullable[string]{ Value: \"path\" }),\n  Port: util.ToPointer(int64(55354)),\n  User: util.ToPointer(util.Nullable[string]{ Value: \"user\" }),\n}\n\n\nnewRelicLoggingConfiguration := shared.NewRelicLoggingConfiguration{\n  Host: util.ToPointer(\"host\"),\n  IngestionKey: util.ToPointer(\"ingestion_key\"),\n}\n\n\ncontainerLoggingSplunkConfiguration := shared.ContainerLoggingSplunkConfiguration{\n  Host: util.ToPointer(\"host\"),\n  Token: util.ToPointer(\"token\"),\n}\n\n\ntcpLoggingConfiguration := shared.TcpLoggingConfiguration{\n  Host: util.ToPointer(\"host\"),\n  Port: util.ToPointer(int64(44671)),\n}\n\nupdateContainerLogging := containergroups.UpdateContainerLogging{\n  Axiom: &axiomLoggingConfiguration,\n  Datadog: &datadogLoggingConfiguration,\n  Http: &containerLoggingConfigurationHttp1,\n  NewRelic: &newRelicLoggingConfiguration,\n  Splunk: &containerLoggingSplunkConfiguration,\n  Tcp: &tcpLoggingConfiguration,\n}\n\ncontainerGroupPriority := shared.CONTAINER_GROUP_PRIORITY_HIGH\n\n\ncontainerRegistryAuthenticationAwsEcr := containergroups.ContainerRegistryAuthenticationAwsEcr{\n  AccessKeyId: util.ToPointer(\"access_key_id\"),\n  SecretAccessKey: util.ToPointer(\"secret_access_key\"),\n}\n\n\ncontainerRegistryAuthenticationBasic := containergroups.ContainerRegistryAuthenticationBasic{\n  Password: util.ToPointer(\"password\"),\n  Username: util.ToPointer(\"username\"),\n}\n\n\ncontainerRegistryAuthenticationDockerHub := containergroups.ContainerRegistryAuthenticationDockerHub{\n  PersonalAccessToken: util.ToPointer(\"personal_access_token\"),\n  Username: util.ToPointer(\"username\"),\n}\n\n\ncontainerRegistryAuthenticationGcpGar := containergroups.ContainerRegistryAuthenticationGcpGar{\n  ServiceKey: util.ToPointer(\"service_key\"),\n}\n\n\ncontainerRegistryAuthenticationGcpGcr := containergroups.ContainerRegistryAuthenticationGcpGcr{\n  ServiceKey: util.ToPointer(\"service_key\"),\n}\n\ncontainerRegistryAuthentication := containergroups.ContainerRegistryAuthentication{\n  AwsEcr: &containerRegistryAuthenticationAwsEcr,\n  Basic: &containerRegistryAuthenticationBasic,\n  DockerHub: &containerRegistryAuthenticationDockerHub,\n  GcpGar: &containerRegistryAuthenticationGcpGar,\n  GcpGcr: &containerRegistryAuthenticationGcpGcr,\n}\n\n\ncontainerResourceUpdateSchema := containergroups.ContainerResourceUpdateSchema{\n  Cpu: util.ToPointer(util.Nullable[int64]{ Value: int64(191) }),\n  GpuClasses: []string{},\n  Memory: util.ToPointer(util.Nullable[int64]{ Value: int64(909130690) }),\n  ShmSize: util.ToPointer(util.Nullable[int64]{ Value: int64(64) }),\n  StorageAmount: util.ToPointer(util.Nullable[int64]{ Value: int64(699558298076245) }),\n}\n\nupdateContainer := containergroups.UpdateContainer{\n  Command: []string{},\n  EnvironmentVariables: map[string]string{},\n  Image: util.ToPointer(util.Nullable[string]{ Value: \"image\" }),\n  ImageCaching: util.ToPointer(true),\n  Logging: &updateContainerLogging,\n  Priority: &containerGroupPriority,\n  RegistryAuthentication: &containerRegistryAuthentication,\n  Resources: &containerResourceUpdateSchema,\n}\n\ncountryCode := shared.COUNTRY_CODE_AF\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupLivenessProbe := shared.ContainerGroupLivenessProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(3)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(670)),\n  PeriodSeconds: util.ToPointer(int64(10)),\n  SuccessThreshold: util.ToPointer(int64(1)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(30)),\n}\n\n\nupdateContainerGroupNetworking := containergroups.UpdateContainerGroupNetworking{\n  Port: util.ToPointer(util.Nullable[int64]{ Value: int64(17025) }),\n}\n\n\nqueueBasedAutoscalerConfiguration := shared.QueueBasedAutoscalerConfiguration{\n  DesiredQueueLength: util.ToPointer(int64(53)),\n  MaxDownscalePerMinute: util.ToPointer(int64(59)),\n  MaxReplicas: util.ToPointer(int64(321)),\n  MaxUpscalePerMinute: util.ToPointer(int64(100)),\n  MinReplicas: util.ToPointer(int64(54)),\n  PollingPeriod: util.ToPointer(int64(140)),\n}\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupReadinessProbe := shared.ContainerGroupReadinessProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(3)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(262)),\n  PeriodSeconds: util.ToPointer(int64(1)),\n  SuccessThreshold: util.ToPointer(int64(1)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(1)),\n}\n\n\ncontainerGroupScalingAction := shared.ContainerGroupScalingAction{\n  Replicas: util.ToPointer(int64(461)),\n  Schedule: util.ToPointer(\"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\"),\n}\n\n\ncontainerGroupProbeExec := shared.ContainerGroupProbeExec{\n  Command: []string{},\n}\n\n\ncontainerGroupGRpcProbe := shared.ContainerGroupGRpcProbe{\n  Port: util.ToPointer(int64(37648)),\n  Service: util.ToPointer(\"service\"),\n}\n\n\ncontainerGroupProbeHttpHeader := shared.ContainerGroupProbeHttpHeader{\n  Name: util.ToPointer(\"name\"),\n  Value: util.ToPointer(\"value\"),\n}\n\nhttpScheme := shared.HTTP_SCHEME_HTTP\n\ncontainerGroupHttpProbeConfiguration := shared.ContainerGroupHttpProbeConfiguration{\n  Headers: []shared.ContainerGroupProbeHttpHeader{containerGroupProbeHttpHeader},\n  Path: util.ToPointer(\"path\"),\n  Port: util.ToPointer(int64(29069)),\n  Scheme: &httpScheme,\n}\n\n\ncontainerGroupTcpProbe := shared.ContainerGroupTcpProbe{\n  Port: util.ToPointer(int64(13817)),\n}\n\ncontainerGroupStartupProbe := shared.ContainerGroupStartupProbe{\n  Exec: &containerGroupProbeExec,\n  FailureThreshold: util.ToPointer(int64(15)),\n  Grpc: &containerGroupGRpcProbe,\n  Http: &containerGroupHttpProbeConfiguration,\n  InitialDelaySeconds: util.ToPointer(int64(503)),\n  PeriodSeconds: util.ToPointer(int64(3)),\n  SuccessThreshold: util.ToPointer(int64(2)),\n  Tcp: &containerGroupTcpProbe,\n  TimeoutSeconds: util.ToPointer(int64(10)),\n}\n\nrequest := containergroups.ContainerGroupPatch{\n  Container: &updateContainer,\n  CountryCodes: []shared.CountryCode{countryCode},\n  DisplayName: util.ToPointer(util.Nullable[string]{ Value: \"ykW8yoj HBQ\" }),\n  LivenessProbe: &containerGroupLivenessProbe,\n  Networking: &updateContainerGroupNetworking,\n  QueueAutoscaler: &queueBasedAutoscalerConfiguration,\n  ReadinessProbe: &containerGroupReadinessProbe,\n  Replicas: util.ToPointer(util.Nullable[int64]{ Value: int64(102) }),\n  ScalingActions: []shared.ContainerGroupScalingAction{containerGroupScalingAction},\n  ScheduledScalingEnabled: util.ToPointer(true),\n  StartupProbe: &containerGroupStartupProbe,\n}\n\nresponse, err := client.ContainerGroups.UpdateContainerGroup(context.Background(), \"acme-corp\", \"dev-env\", \"mandlebrot\", request)\nif err != nil {\n  panic(err)\n}\n\nfmt.Println(response)",
            "lang": "Go"
          },
          {
            "source": "import {\n  AxiomLoggingConfiguration,\n  ContainerGroupGRpcProbe,\n  ContainerGroupHttpProbeConfiguration,\n  ContainerGroupLivenessProbe,\n  ContainerGroupPatch,\n  ContainerGroupPriority,\n  ContainerGroupProbeExec,\n  ContainerGroupProbeHttpHeader,\n  ContainerGroupReadinessProbe,\n  ContainerGroupScalingAction,\n  ContainerGroupStartupProbe,\n  ContainerGroupTcpProbe,\n  ContainerLoggingConfigurationHttp1,\n  ContainerLoggingHttpCompression,\n  ContainerLoggingHttpFormat,\n  ContainerLoggingHttpHeader,\n  ContainerLoggingSplunkConfiguration,\n  ContainerRegistryAuthentication,\n  ContainerRegistryAuthenticationAwsEcr,\n  ContainerRegistryAuthenticationBasic,\n  ContainerRegistryAuthenticationDockerHub,\n  ContainerRegistryAuthenticationGcpGar,\n  ContainerRegistryAuthenticationGcpGcr,\n  ContainerResourceUpdateSchema,\n  CountryCode,\n  DatadogLoggingConfiguration,\n  DatadogTagForContainerLogging,\n  HttpScheme,\n  NewRelicLoggingConfiguration,\n  QueueBasedAutoscalerConfiguration,\n  SaladCloudSdk,\n  TcpLoggingConfiguration,\n  UpdateContainer,\n  UpdateContainerGroupNetworking,\n  UpdateContainerLogging,\n} from '@saladtechnologies-oss/salad-cloud-sdk';\n\n(async () => {\n  const saladCloudSdk = new SaladCloudSdk({\n    apiKey: 'YOUR_API_KEY',\n  });\n\n  const axiomLoggingConfiguration: AxiomLoggingConfiguration = {\n    apiToken: 'api_token',\n    dataset: 'dataset',\n    host: 'host',\n  };\n\n  const datadogTagForContainerLogging: DatadogTagForContainerLogging = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const datadogLoggingConfiguration: DatadogLoggingConfiguration = {\n    apiKey: 'api_key',\n    host: 'host',\n    tags: [datadogTagForContainerLogging],\n  };\n\n  const containerLoggingHttpCompression = ContainerLoggingHttpCompression.NONE;\n\n  const containerLoggingHttpFormat = ContainerLoggingHttpFormat.JSON;\n\n  const containerLoggingHttpHeader: ContainerLoggingHttpHeader = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const containerLoggingConfigurationHttp1: ContainerLoggingConfigurationHttp1 = {\n    compression: containerLoggingHttpCompression,\n    format: containerLoggingHttpFormat,\n    headers: [containerLoggingHttpHeader],\n    host: 'host',\n    password: 'password',\n    path: 'path',\n    port: 55354,\n    user: 'user',\n  };\n\n  const newRelicLoggingConfiguration: NewRelicLoggingConfiguration = {\n    host: 'host',\n    ingestionKey: 'ingestion_key',\n  };\n\n  const containerLoggingSplunkConfiguration: ContainerLoggingSplunkConfiguration = {\n    host: 'host',\n    token: 'token',\n  };\n\n  const tcpLoggingConfiguration: TcpLoggingConfiguration = {\n    host: 'host',\n    port: 44671,\n  };\n\n  const updateContainerLogging: UpdateContainerLogging = {\n    axiom: axiomLoggingConfiguration,\n    datadog: datadogLoggingConfiguration,\n    http: containerLoggingConfigurationHttp1,\n    newRelic: newRelicLoggingConfiguration,\n    splunk: containerLoggingSplunkConfiguration,\n    tcp: tcpLoggingConfiguration,\n  };\n\n  const containerGroupPriority = ContainerGroupPriority.HIGH;\n\n  const containerRegistryAuthenticationAwsEcr: ContainerRegistryAuthenticationAwsEcr = {\n    accessKeyId: 'access_key_id',\n    secretAccessKey: 'secret_access_key',\n  };\n\n  const containerRegistryAuthenticationBasic: ContainerRegistryAuthenticationBasic = {\n    password: 'password',\n    username: 'username',\n  };\n\n  const containerRegistryAuthenticationDockerHub: ContainerRegistryAuthenticationDockerHub = {\n    personalAccessToken: 'personal_access_token',\n    username: 'username',\n  };\n\n  const containerRegistryAuthenticationGcpGar: ContainerRegistryAuthenticationGcpGar = {\n    serviceKey: 'service_key',\n  };\n\n  const containerRegistryAuthenticationGcpGcr: ContainerRegistryAuthenticationGcpGcr = {\n    serviceKey: 'service_key',\n  };\n\n  const containerRegistryAuthentication: ContainerRegistryAuthentication = {\n    awsEcr: containerRegistryAuthenticationAwsEcr,\n    basic: containerRegistryAuthenticationBasic,\n    dockerHub: containerRegistryAuthenticationDockerHub,\n    gcpGar: containerRegistryAuthenticationGcpGar,\n    gcpGcr: containerRegistryAuthenticationGcpGcr,\n  };\n\n  const containerResourceUpdateSchema: ContainerResourceUpdateSchema = {\n    cpu: 191,\n    gpuClasses: ['gpu_classes'],\n    memory: 909130690,\n    shmSize: 64,\n    storageAmount: 699558298076245,\n  };\n\n  const updateContainer: UpdateContainer = {\n    command: ['command'],\n    environmentVariables: [],\n    image: 'image',\n    imageCaching: true,\n    logging: updateContainerLogging,\n    priority: containerGroupPriority,\n    registryAuthentication: containerRegistryAuthentication,\n    resources: containerResourceUpdateSchema,\n  };\n\n  const countryCode = CountryCode.AF;\n\n  const containerGroupProbeExec: ContainerGroupProbeExec = {\n    command: ['command'],\n  };\n\n  const containerGroupGRpcProbe: ContainerGroupGRpcProbe = {\n    port: 37648,\n    service: 'service',\n  };\n\n  const containerGroupProbeHttpHeader: ContainerGroupProbeHttpHeader = {\n    name: 'name',\n    value: 'value',\n  };\n\n  const httpScheme = HttpScheme.HTTP;\n\n  const containerGroupHttpProbeConfiguration: ContainerGroupHttpProbeConfiguration = {\n    headers: [containerGroupProbeHttpHeader],\n    path: 'path',\n    port: 29069,\n    scheme: httpScheme,\n  };\n\n  const containerGroupTcpProbe: ContainerGroupTcpProbe = {\n    port: 13817,\n  };\n\n  const containerGroupLivenessProbe: ContainerGroupLivenessProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 3,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 670,\n    periodSeconds: 10,\n    successThreshold: 1,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 30,\n  };\n\n  const updateContainerGroupNetworking: UpdateContainerGroupNetworking = {\n    port: 17025,\n  };\n\n  const queueBasedAutoscalerConfiguration: QueueBasedAutoscalerConfiguration = {\n    desiredQueueLength: 53,\n    maxDownscalePerMinute: 59,\n    maxReplicas: 321,\n    maxUpscalePerMinute: 100,\n    minReplicas: 54,\n    pollingPeriod: 140,\n  };\n\n  const containerGroupReadinessProbe: ContainerGroupReadinessProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 3,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 262,\n    periodSeconds: 1,\n    successThreshold: 1,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 1,\n  };\n\n  const containerGroupScalingAction: ContainerGroupScalingAction = {\n    replicas: 461,\n    schedule: '7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT',\n  };\n\n  const containerGroupStartupProbe: ContainerGroupStartupProbe = {\n    exec: containerGroupProbeExec,\n    failureThreshold: 15,\n    grpc: containerGroupGRpcProbe,\n    http: containerGroupHttpProbeConfiguration,\n    initialDelaySeconds: 503,\n    periodSeconds: 3,\n    successThreshold: 2,\n    tcp: containerGroupTcpProbe,\n    timeoutSeconds: 10,\n  };\n\n  const containerGroupPatch: ContainerGroupPatch = {\n    container: updateContainer,\n    countryCodes: [countryCode],\n    displayName: 'ykW8yoj HBQ',\n    livenessProbe: containerGroupLivenessProbe,\n    networking: updateContainerGroupNetworking,\n    queueAutoscaler: queueBasedAutoscalerConfiguration,\n    readinessProbe: containerGroupReadinessProbe,\n    replicas: 102,\n    scalingActions: [containerGroupScalingAction],\n    scheduledScalingEnabled: true,\n    startupProbe: containerGroupStartupProbe,\n  };\n\n  const { data } = await saladCloudSdk.containerGroups.updateContainerGroup(\n    'acme-corp',\n    'dev-env',\n    'mandlebrot',\n    containerGroupPatch,\n  );\n\n  console.log(data);\n})();",
            "lang": "TypeScript"
          },
          {
            "source": "from salad_cloud_sdk import SaladCloudSdk\nfrom salad_cloud_sdk.models import ContainerGroupPatch\n\nsdk = SaladCloudSdk(\n    api_key=\"YOUR_API_KEY\",\n    api_key_header=\"YOUR_API_KEY_HEADER\",\n    timeout=10000\n)\n\nrequest_body = ContainerGroupPatch(\n    container={\n        \"command\": [\n            \"command\"\n        ],\n        \"environment_variables\": {},\n        \"image\": \"image\",\n        \"image_caching\": True,\n        \"logging\": {\n            \"axiom\": {\n                \"api_token\": \"api_token\",\n                \"dataset\": \"dataset\",\n                \"host\": \"host\"\n            },\n            \"datadog\": {\n                \"api_key\": \"api_key\",\n                \"host\": \"host\",\n                \"tags\": [\n                    {\n                        \"name\": \"name\",\n                        \"value\": \"value\"\n                    }\n                ]\n            },\n            \"http\": {\n                \"compression\": \"none\",\n                \"format\": \"json\",\n                \"headers\": [\n                    {\n                        \"name\": \"name\",\n                        \"value\": \"value\"\n                    }\n                ],\n                \"host\": \"host\",\n                \"password\": \"password\",\n                \"path\": \"path\",\n                \"port\": 55354,\n                \"user\": \"user\"\n            },\n            \"new_relic\": {\n                \"host\": \"host\",\n                \"ingestion_key\": \"ingestion_key\"\n            },\n            \"splunk\": {\n                \"host\": \"host\",\n                \"token\": \"token\"\n            },\n            \"tcp\": {\n                \"host\": \"host\",\n                \"port\": 44671\n            }\n        },\n        \"priority\": \"high\",\n        \"registry_authentication\": {\n            \"aws_ecr\": {\n                \"access_key_id\": \"access_key_id\",\n                \"secret_access_key\": \"secret_access_key\"\n            },\n            \"basic\": {\n                \"password\": \"password\",\n                \"username\": \"username\"\n            },\n            \"docker_hub\": {\n                \"personal_access_token\": \"personal_access_token\",\n                \"username\": \"username\"\n            },\n            \"gcp_gar\": {\n                \"service_key\": \"service_key\"\n            },\n            \"gcp_gcr\": {\n                \"service_key\": \"service_key\"\n            }\n        },\n        \"resources\": {\n            \"cpu\": 191,\n            \"gpu_classes\": [\n                \"gpu_classes\"\n            ],\n            \"memory\": 909130690,\n            \"shm_size\": 64,\n            \"storage_amount\": 699558298076245\n        }\n    },\n    country_codes=[\n        \"af\"\n    ],\n    display_name=\"ykW8yoj HBQ\",\n    liveness_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 3,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 670,\n        \"period_seconds\": 10,\n        \"success_threshold\": 1,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 30\n    },\n    networking={\n        \"port\": 17025\n    },\n    queue_autoscaler={\n        \"desired_queue_length\": 53,\n        \"max_downscale_per_minute\": 59,\n        \"max_replicas\": 321,\n        \"max_upscale_per_minute\": 100,\n        \"min_replicas\": 54,\n        \"polling_period\": 140\n    },\n    readiness_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 3,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 262,\n        \"period_seconds\": 1,\n        \"success_threshold\": 1,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 1\n    },\n    replicas=102,\n    scaling_actions=[\n        {\n            \"replicas\": 461,\n            \"schedule\": \"7kwC/T8C   da       x6Ci   bM-rgGYn     bDY6,vT\"\n        }\n    ],\n    scheduled_scaling_enabled=True,\n    startup_probe={\n        \"exec_\": {\n            \"command\": [\n                \"command\"\n            ]\n        },\n        \"failure_threshold\": 15,\n        \"grpc\": {\n            \"port\": 37648,\n            \"service\": \"service\"\n        },\n        \"http\": {\n            \"headers\": [\n                {\n                    \"name\": \"name\",\n                    \"value\": \"value\"\n                }\n            ],\n            \"path\": \"path\",\n            \"port\": 29069,\n            \"scheme\": \"http\"\n        },\n        \"initial_delay_seconds\": 503,\n        \"period_seconds\": 3,\n        \"success_threshold\": 2,\n        \"tcp\": {\n            \"port\": 13817\n        },\n        \"timeout_seconds\": 10\n    }\n)\n\nresult = sdk.container_groups.update_container_group(\n    request_body=request_body,\n    organization_name=\"acme-corp\",\n    project_name=\"dev-env\",\n    container_group_name=\"mandlebrot\"\n)\n\nprint(result)",
            "lang": "Python"
          }
        ]
      },
      "delete": {
        "operationId": "delete_container_group",
        "summary": "Delete Container Group",
        "description": "Deletes a container group",
        "responses": {
          "202": {
            "$ref": "#/components/responses/DeleteContainerGroup"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nawait client.ContainerGroups.DeleteContainerGroupAsync(\"acme-corp\", \"dev-env\", \"mandlebrot\");",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\n\npublic class Main {\n\n  public static void main(String[] args) {\n    SaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n      .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey(\"YOUR_API_KEY\").build())\n      .build();\n\n    SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n    saladCloudSdk.containerGroups.deleteContainerGroup(\"acme-corp\", \"dev-env\", \"mandlebrot\");\n  }\n}",
            "lang": "Java"
          },
          {
            "source": "import (\n  \"fmt\"\n  \"encoding/json\"\n  \"context\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdkconfig\"\n  \"github.com/saladtechnologies/salad-cloud-sdk-go/pkg/saladcloudsdk\"\n\n)\n\nconfig := saladcloudsdkconfig.NewConfig()\nconfig.SetApiKey(\"API_KEY\")\nclient := saladcloudsdk.NewSaladCloudSdk(config)\n\nresponse, err := client.ContainerGroups.DeleteContainerGroup(context.Background(), \"acme-corp\", \"dev-env\", \"mandlebrot\")\nif err != nil {\n  panic(err)\n}\n\nfmt.Println(response)",
            "lang": "Go"
          },
          {
            "source": "import { SaladCloudSdk } from '@saladtechnologies-oss/salad-cloud-sdk';\n\n(async () => {\n  const saladCloudSdk = new SaladCloudSdk({\n    apiKey: 'YOUR_API_KEY',\n  });\n\n  const { data } = await saladCloudSdk.containerGroups.deleteContainerGroup('acme-corp', 'dev-env', 'mandlebrot');\n\n  console.log(data);\n})();",
            "lang": "TypeScript"
          },
          {
            "source": "from salad_cloud_sdk import SaladCloudSdk\n\nsdk = SaladCloudSdk(\n    api_key=\"YOUR_API_KEY\",\n    api_key_header=\"YOUR_API_KEY_HEADER\",\n    timeout=10000\n)\n\nresult = sdk.container_groups.delete_container_group(\n    organization_name=\"acme-corp\",\n    project_name=\"dev-env\",\n    container_group_name=\"mandlebrot\"\n)\n\nprint(result)",
            "lang": "Python"
          }
        ]
      }
    },
    "/organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/system-logs": {
      "summary": "System Logs",
      "description": "Operations for System Logs",
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_name"
        },
        {
          "$ref": "#/components/parameters/project_name"
        },
        {
          "$ref": "#/components/parameters/container_group_name"
        }
      ],
      "get": {
        "operationId": "get_system_logs",
        "summary": "Get System Logs",
        "description": "Gets the System Logs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListSystemLogs"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "system_logs"
        ]
      }
    },
    "/organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/start": {
      "summary": "Container Group",
      "description": "Operations for a container group",
      "parameters": [
        {
          "$ref": "#/components/parameters/organization_name"
        },
        {
          "$ref": "#/components/parameters/project_name"
        },
        {
          "$ref": "#/components/parameters/container_group_name"
        }
      ],
      "post": {
        "operationId": "start_container_group",
        "summary": "Start Container Group",
        "description": "Starts a container group",
        "responses": {
          "202": {
            "$ref": "#/components/responses/StartContainerGroup"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/UnknownError"
          }
        },
        "tags": [
          "container_groups"
        ],
        "x-codeSamples": [
          {
            "source": "using Salad.Cloud.SDK;\nusing Salad.Cloud.SDK.Config;\n\nvar config = new SaladCloudSdkConfig{};\n\nvar client = new SaladCloudSdkClient(config);\n\nawait client.ContainerGroups.StartContainerGroupAsync(\"acme-corp\", \"dev-env\", \"mandlebrot\");",
            "lang": "C#"
          },
          {
            "source": "import com.salad.cloud.sdk.SaladCloudSdk;\nimport com.salad.cloud.sdk.config.ApiKeyAuthConfig;\nimport com.salad.cloud.sdk.config.SaladCloudSdkConfig;\n\npublic class Main {\n\n  public static void main(String[] args) {\n    SaladCloudSdkConfig config = SaladCloudSdkConfig.builder()\n      .apiKeyAuthConfig(ApiKeyAuthConfig.builder().apiKey(\"YOUR_API_KEY\").build())\n      .build();\n\n    SaladCloudSdk saladCloudSdk = new SaladCloudSdk(config);\n\n    saladCloudSdk.containerGroups.startContainerGroup(\"acme-corp\", \"dev-env\", \"mandlebrot\");\n  }\n}",
            "lang": "Java"
          },
          {
[...]
