{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "devs@go-cal.com.co"
    },
    "description": "API for Go-cal",
    "license": {
      "name": "BSD License"
    },
    "termsOfService": "https://www.go-cal.com.co/policies/terms/",
    "title": "Go-cal API",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/GOFFAY/go-cal_api/v1"
  },
  "servers": [
    {
      "url": "https://api.go-cal.com.co/v1"
    }
  ],
  "paths": {
    "/account-connection-request-accept/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this account connection request.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConnectionRequest"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account-connection-request-accept"
        ],
        "description": "",
        "operationId": "account-connection-request-accept_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConnectionRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/account-connections/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AccountConnectionRequest"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account-connections"
        ],
        "description": "",
        "operationId": "account-connections_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConnectionRequest"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "account-connections"
        ],
        "description": "",
        "operationId": "account-connections_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/AccountConnectionRequest"
        }
      }
    },
    "/account-connections/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this account connection request.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "account-connections"
        ],
        "description": "",
        "operationId": "account-connections_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConnectionRequest"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account-connections"
        ],
        "description": "",
        "operationId": "account-connections_read"
      }
    },
    "/account-user/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AccountUser"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account-user"
        ],
        "description": "",
        "operationId": "account-user_list"
      }
    },
    "/account-user/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this account user.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account-user"
        ],
        "description": "",
        "operationId": "account-user_read"
      }
    },
    "/account/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "account_list"
      }
    },
    "/account/user/invitables/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "account_user_invitables_list"
      }
    },
    "/account/user/link-user/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "account_user_link-user_create"
      }
    },
    "/account/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this account.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "account_read"
      },
      "patch": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "account"
        ],
        "description": "",
        "operationId": "account_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Account update-partial",
        "operationId": "account_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        }
      }
    },
    "/accounts/connections/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "",
        "operationId": "accounts_connections_list"
      }
    },
    "/activity-log/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "module",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ActivityLog"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "activity-log"
        ],
        "description": "",
        "operationId": "activity-log_list"
      }
    },
    "/agend/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "user__first_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "model_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Agend"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agend"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Agend"
        }
      }
    },
    "/agend/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this agend.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agend"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agend"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agend"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agend"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "agend"
        ],
        "description": "",
        "operationId": "agend_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agend"
              }
            }
          },
          "required": true
        }
      }
    },
    "/area/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Area"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Area"
        }
      }
    },
    "/area/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this area.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Area"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Area"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "area"
        ],
        "description": "",
        "operationId": "area_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Area"
              }
            }
          },
          "required": true
        }
      }
    },
    "/assessment/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name_config",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Assessment"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Assessment"
        }
      }
    },
    "/assessment/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this assessment.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assessment"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "assessment"
        ],
        "description": "",
        "operationId": "assessment_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assessment"
              }
            }
          },
          "required": true
        }
      }
    },
    "/attachment/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Attachment"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attachment"
              }
            }
          },
          "required": true
        }
      }
    },
    "/attachment/authorization": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_authorization_list"
      }
    },
    "/attachment/authorization/config": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_authorization_config_list"
      }
    },
    "/attachment/download/{file_id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_download_read"
      }
    },
    "/attachment/view-attachment/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_view-attachment_list"
      }
    },
    "/attachment/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this attachment.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "attachment"
        ],
        "description": "",
        "operationId": "attachment_read"
      }
    },
    "/auditor/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "area",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "entity_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "status_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "audit_end_date__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "audit_end_date__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "audit_start_date__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "audit_start_date__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "auditor_email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Auditor"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auditor"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Auditor"
        }
      }
    },
    "/auditor/closure/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this auditor.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditorClosure"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_closure_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditorClosure"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auditor/evaluation-of-findings/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "auditor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/EvaluationOfFindingsList"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationOfFindings"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/EvaluationOfFindings"
        }
      }
    },
    "/auditor/evaluation-of-findings/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this evaluation of findings.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationOfFindingsList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationOfFindings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationOfFindings"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationOfFindings"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_evaluation-of-findings_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationOfFindings"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auditor/finding-found/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this auditor.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditorFindingFound"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_finding-found_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditorFindingFound"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auditor/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this auditor.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auditor"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auditor"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auditor"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auditor"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "auditor"
        ],
        "description": "",
        "operationId": "auditor_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auditor"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auth/code-email-confirm/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_code-email-confirm_create"
      }
    },
    "/auth/refresh-token/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_refresh-token_create"
      }
    },
    "/auth/singin/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "email": {
                      "format": "email",
                      "type": "string"
                    },
                    "password": {
                      "format": "password",
                      "type": "string"
                    }
                  },
                  "required": [
                    "email",
                    "password"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_singin_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "password": {
                    "format": "password",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auth/singup/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_singup_create"
      }
    },
    "/auth/user/change-password/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_user_change-password_create"
      }
    },
    "/auth/user/restore-change-password/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_user_restore-change-password_create"
      }
    },
    "/auth/user/restore-password/": {
      "parameters": [],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_user_restore-password_create"
      }
    },
    "/auth/user/verify-token-password/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "",
        "operationId": "auth_user_verify-token-password_list"
      }
    },
    "/billing/app/quotes/item/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "categories",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Item"
        }
      }
    },
    "/billing/app/quotes/item/bulk-delete/": {
      "parameters": [],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_bulk_delete"
      }
    },
    "/billing/app/quotes/item/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this item.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/item_quotes/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ItemQuotes"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemQuoteCreate"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemQuoteCreate"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/item_quotes/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this item quotes.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemQuotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemQuotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemQuotes"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemQuotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemQuotes"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/item_quotes/{uuid}/update-customer/": {
      "parameters": [
        {
          "description": "A UUID string identifying this item quotes.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemQuotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_item_quotes_update_customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemQuotes"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/quote/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "status__name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "customer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "currency__name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "reference",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "customer__company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "price_list",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "currency",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "reference__reference",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__gte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "created_at__lte",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Quotes"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Quotes"
        }
      }
    },
    "/billing/app/quotes/quote/bulk-delete/": {
      "parameters": [],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_bulk_delete"
      }
    },
    "/billing/app/quotes/quote/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this quotes.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Quotes"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_quote_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Quotes"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/update_status_quote/{uuid}/": {
      "parameters": [
        {
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_update_status_quote_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Quotes"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/app/quotes/{quote_uuid}/clone/": {
      "parameters": [
        {
          "in": "path",
          "name": "quote_uuid",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_clone_create"
      }
    },
    "/billing/app/quotes/{quote_uuid}/version/": {
      "parameters": [
        {
          "in": "path",
          "name": "quote_uuid",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_app_quotes_version_create"
      }
    },
    "/billing/business-notes/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "Múltiples valores separados por comas.",
            "in": "query",
            "name": "uuid__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/BusinessNotes"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessNotes"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/BusinessNotes"
        }
      }
    },
    "/billing/business-notes/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this business notes.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessNotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessNotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessNotes"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessNotes"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_business-notes_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessNotes"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/price/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Price"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Price"
        }
      }
    },
    "/billing/price/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this price.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Price"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Price"
              }
            }
          },
          "required": true
        }
      }
    },
    "/billing/price_list/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "is_active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A search term.",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which field to use when ordering the results.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/PriceList"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceList"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/PriceList"
        }
      }
    },
    "/billing/price_list/{uuid}/": {
      "parameters": [
        {
          "description": "A UUID string identifying this price list.",
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceList"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "billing"
        ],
        "description": "",
        "operationId": "billing_price_list_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceList"
              }
            }
          },
          "required": true
[...]
