{
  "openapi": "3.1.0",
  "info": {
    "title": "Everpop API",
    "version": "1.3.0",
    "description": "Turn your own videos into published Shorts for YouTube, Instagram, Facebook and TikTok, with measured receipts on eligible YouTube Shorts. Built to be driven by AI agents: upload a file, clip it, publish it, and pull real 48h/7d performance — all by API. REST and MCP need the Pro or Scale plan; other accounts get HTTP 402 with reason subscription (no active subscription) or plan (the plan doesn't include API access). Full agent guide: https://everpop.app/skill.md · MCP connector: https://everpop.app/api/mcp/mcp (OAuth, or Authorization: Bearer epk_...)",
    "termsOfService": "https://everpop.app/terms",
    "x-changelog": [
      {
        "version": "1.3.0",
        "date": "2026-10-08",
        "changes": "Changed: POST /api/v1/clip on a video whose strong moments were all clipped already completed FAILED with nothing new to clip; it now completes with one clip that reuses the best of them, flagged repeat_moment in qcWarnings. The first such render of a video in a month hands its video back, so GET /api/v1/usage does not count it. Automatic renders keep the old answer."
      },
      {
        "version": "1.2.0",
        "date": "2026-10-01",
        "changes": "Changed: the upload size limit was 4 GB and is now 32 GB. POST /api/v1/videos/upload answered 413 file_too_large for a file over 4 GB; it now takes a file up to 5 GB, the most one PUT can carry. A file over 5 GB and up to 32 GB answers 413 file_too_large with reason single_put and browserUploadUrl: the user uploads it in the browser. A file over 32 GB still answers 413 file_too_large. Added: browserUploadUrl on that error body."
      },
      {
        "version": "1.1.0",
        "date": "2026-09-24",
        "changes": "Changed: a 401 answered code unauthorized and now names its case: key_missing, key_invalid or key_expired. The Instagram posting-safety cap answered 429 rate_limited and now answers posting_cap. A 429 sent Retry-After: 60 whatever its cause; it now fits the cause (the seconds until resetsAt for quota_exhausted, 180 for queue_capacity, none for upload_cleanup_backlog, upload_retention_backlog and posting_cap, which carry retryable: false). A method a route does not support answered an empty 405; it now answers 405 method_not_allowed with an Allow header. Added: error bodies document their detail fields and a list of known codes (ErrorCode), including meta_publish_frozen. GET /api/v1/posts takes clipId. generateShort is marked deprecated while paused. Examples on the upload, finalize, clip, job, publish and receipts operations."
      },
      {
        "version": "1.0.0",
        "date": "2026-07-03",
        "changes": "First published spec."
      }
    ],
    "contact": {
      "email": "support@everpop.app",
      "url": "https://everpop.app/contact"
    },
    "x-jentic-source-url": "https://everpop.app/openapi.json"
  },
  "servers": [
    {
      "url": "https://everpop.app"
    }
  ],
  "paths": {
    "/api/v1/generate": {
      "post": {
        "operationId": "generateShort",
        "summary": "Generate a vertical Short from a text prompt (paused: answers 403 reason=disabled)",
        "description": "Paused: returns 403 with reason=disabled (code=disabled) and creates nothing. Marked deprecated while paused; it may return. To make Shorts now, upload a file and call POST /api/v1/clip.",
        "deprecated": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Retries carrying the same key never mint a second metered render."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 300
                  },
                  "clipCount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3
                  },
                  "voice": {
                    "type": "string",
                    "enum": [
                      "alloy",
                      "echo",
                      "fable",
                      "onyx",
                      "nova",
                      "shimmer"
                    ]
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "educational",
                      "storytime",
                      "hype",
                      "calm"
                    ]
                  },
                  "targetSeconds": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 60
                  },
                  "captionStyle": {
                    "type": "string",
                    "enum": [
                      "pop",
                      "boxed",
                      "minimal",
                      "clean",
                      "hormozi"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "When enabled: render started — poll the returned job (1–3 min).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobRefEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "reason=disabled (code=disabled): prompt generation is paused and nothing was created. Also code=scope (read-only key) or code=suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "code=idempotency_conflict — the Idempotency-Key was already used with different options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "code=validation_failed — the body did not validate (issues says which field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "code=engine_offline — the clipping service is briefly unavailable; nothing was charged. Retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/videos": {
      "get": {
        "operationId": "listVideos",
        "summary": "List the user's source videos (detected uploads + API/dashboard uploads), newest first, 50 per page",
        "description": "Each video says whether it can be clipped (clippable) and, if not, why (notClippableReason — the code POST /api/v1/clip would return). Pages with an opaque cursor: pass the envelope's nextCursor back as ?cursor= until it is null.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "nextCursor from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the library.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid limit, or code=invalid_cursor (pass nextCursor back unchanged).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/videos/upload": {
      "post": {
        "operationId": "requestUpload",
        "summary": "Step 1 of the compliant upload: get a presigned PUT for the user's video FILE",
        "description": "Everpop clips from the creator's file, never from a YouTube download. PUT exactly expectedBytes to the returned putUrl (15-min validity, ≤5 GB — the most one PUT can carry, files up to 32 GB go through browserUploadUrl — .mp4/.mov/.webm/.mkv/.m4v), send every requiredHeaders entry, and let the HTTP client supply Content-Length. Then call /api/v1/videos/complete. If the PUT times out or the connection drops, or a retried PUT answers 412 (If-None-Match: * means the bytes are already stored), call /api/v1/videos/complete with the same key before anything else: a 400 there means the bytes never landed (PUT again while putUrl is valid, else cancel the slot). At most 3 uploads can be open at once (429 upload_slots).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filename",
                  "sizeBytes"
                ],
                "properties": {
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5363466240,
                    "description": "Exact byte length bound into the signed upload request; one PUT carries at most 5 GB (a bigger file, up to 32 GB, goes through browserUploadUrl); files over 32 GB are not accepted on any path"
                  }
                }
              },
              "examples": {
                "episode": {
                  "value": {
                    "filename": "episode-42.mp4",
                    "sizeBytes": 734003200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact signed upload instructions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSlotEnvelope"
                },
                "examples": {
                  "slot": {
                    "value": {
                      "ok": true,
                      "data": {
                        "putUrl": "https://example.r2.cloudflarestorage.com/everpop-clips/source/cm1user0000000000000000/up2_q3JvPZ1tX9aB4cD7eF0gH2.mp4?X-Amz-Signature=...",
                        "key": "source/cm1user0000000000000000/up2_q3JvPZ1tX9aB4cD7eF0gH2.mp4",
                        "requiredHeaders": {
                          "Content-Type": "video/mp4",
                          "If-None-Match": "*"
                        },
                        "expectedBytes": 734003200,
                        "expiresInSeconds": 900,
                        "next": "PUT exactly expectedBytes of raw file data to putUrl with every requiredHeaders entry (Content-Length is supplied by the HTTP client), then POST /api/v1/videos/complete with { key, rightsConfirmed: true }. If you can't send file bytes, give the user browserUploadUrl instead (they sign in and upload there), then GET /api/v1/videos to continue; next time take the same link from GET /api/v1/videos, which opens no upload slot.",
                        "browserUploadUrl": "https://everpop.app/dashboard/videos#upload-your-video"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Subscription or plan does not allow API upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Account verification, suspension, or write scope blocks upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Account deletion is in progress; no upload slot was opened.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "code=file_too_large — files over 32 GB aren't accepted on any Everpop path (re-export smaller, or trim). With reason=single_put the file is over 5 GB, the most one PUT can carry: give the user browserUploadUrl (the dashboard uploader takes up to 32 GB).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Missing/invalid size or unsupported file type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "code=rate_limited: wait Retry-After (60). code=upload_slots: 3 uploads are already open — finalize or cancel one (a canceled slot counts until its 15-minute window ends), then retry. code=upload_cleanup_backlog or upload_retention_backlog (retryable: false, no Retry-After): earlier canceled uploads are still being cleaned up; stop and tell the user.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Storage upload is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelUpload",
        "summary": "Cancel a failed or abandoned direct-upload slot",
        "description": "Idempotent for a versioned key after terminal cleanup. A 503 cleanup_pending response means cleanup is durably recorded and will retry automatically. Never call this after successful or ambiguously acknowledged finalization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation accepted or the versioned key was already cleaned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelUploadEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Subscription or plan does not allow API writes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not a versioned upload owned by this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "The upload was finalized or a provider operation is still settling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "The cancellation payload or key is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded; obey Retry-After.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "reason=cleanup_pending: provider cleanup is durably queued and will retry automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/videos/complete": {
      "post": {
        "operationId": "finalizeUpload",
        "summary": "Step 2: finalize the uploaded file into a clippable video (auto-clips for active plans)",
        "description": "rightsConfirmed must be the USER's attestation that they hold the rights — agents must ask, never assume. Pass linkSourceVideoId (a parked detected video from /videos) to attach the file to it: un-parks it and keeps its YouTube attribution. Idempotent per uploaded object. After an ambiguous PUT (timeout, dropped connection, or 412 on a retried PUT), call this with the same key first; cancel the slot only if it answers 400 (the bytes never landed).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "rightsConfirmed"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "rightsConfirmed": {
                    "const": true,
                    "description": "The user's explicit attestation; an agent must ask and may never infer this."
                  },
                  "linkSourceVideoId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "renderMode": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "manual"
                    ],
                    "default": "auto",
                    "description": "auto: an account with automatic clipping on starts a render with its saved settings, and that render is this video's one monthly allowance. manual: no automatic render; pass it when you will call POST /api/v1/clip with your own options. The choice is durable — a retry that omits it keeps it."
                  }
                }
              },
              "examples": {
                "finalize": {
                  "value": {
                    "key": "source/cm1user0000000000000000/up2_q3JvPZ1tX9aB4cD7eF0gH2.mp4",
                    "title": "Episode 42",
                    "rightsConfirmed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent adoption result. autoClipping=true means a render is already running; parked=quota means the file is safe but monthly videos are used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizeUploadEnvelope"
                },
                "examples": {
                  "autoClipping": {
                    "value": {
                      "ok": true,
                      "data": {
                        "videoId": "cm1video000000000000000000",
                        "title": "Episode 42",
                        "existing": false,
                        "linked": false,
                        "autoClipping": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The uploaded object is missing or empty: the PUT never landed. PUT again while putUrl is valid, else cancel the slot and start a new upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Subscription or plan does not allow API writes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Write scope, ownership, suspension, or the user's rights attestation blocks finalization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Account/video deletion fence, secure deletion, or upload_not_ready settlement fence. Retry only upload_not_ready with the same key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "The stored object exceeds the 32 GB upload cap and is scheduled for secure cleanup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "The request body, key, title, or linkSourceVideoId is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded; replay the same key after Retry-After.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Ambiguous service failure; replay the same key and never upload/cancel the bytes again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Ambiguous service failure; replay the same key and never upload/cancel the bytes again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/videos/import": {
      "post": {
        "operationId": "importVideo",
        "summary": "Register a YouTube video's METADATA from the user's own connected channel (idempotent)",
        "description": "Metadata only — the video cannot be clipped until its file is uploaded (pair with /videos/upload + linkSourceVideoId).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "rightsConfirmed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The library video — browserUploadUrl is the sign-in-gated page where the user uploads this video's file (null once it has one).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportVideoEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "No YouTube channel is connected to the account; the user connects one first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "The video belongs to a channel the user has not connected: import again with rightsConfirmed only if the USER confirms they hold the rights. Also code=scope (read-only key) or code=suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "The video is not on YouTube (deleted or private).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "No YouTube video id in url, or the body did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "code=upstream_error — YouTube credentials could not be refreshed or YouTube refused the request (the message says why); reconnecting the channel usually fixes it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clip": {
      "post": {
        "operationId": "clipVideo",
        "summary": "Clip the best moments from one of the user's videos into vertical Shorts",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Retries carrying the same key never mint a second metered render; reusing a key with different options is a 409 idempotency_conflict."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sourceVideoId"
                ],
                "properties": {
                  "sourceVideoId": {
                    "type": "string",
                    "description": "A video from GET /api/v1/videos with clippable: true."
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 300,
                    "description": "Optional steer, e.g. 'the most surprising moment' — omit and the AI picks"
                  },
                  "clipCount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "How many clips. Omit for the account's saved clip count (3 if unset). Capped by the plan's clips per video (Starter 3, Pro 10, Scale 15); the response's clipCountApplied says what the job runs with."
                  },
                  "captionStyle": {
                    "type": "string",
                    "enum": [
                      "pop",
                      "boxed",
                      "minimal",
                      "clean",
                      "hormozi"
                    ]
                  },
                  "language": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z]{2}$",
                    "description": "Omit to use the saved language choice (English text by default). Null explicitly selects English captions, headlines and hooks with auto-detected speech (non-English speech is translated). A lowercase ISO-639-1 code such as bg pins that spoken language and keeps text native — so en means the speech IS English; never send en for non-English speech. Original audio is retained."
                  },
                  "archetype": {
                    "type": "string",
                    "enum": [
                      "top_moments",
                      "summary",
                      "punch",
                      "action",
                      "all"
                    ],
                    "description": "Editorial cut; all = a Summary, a Top-moment and a Punch from one pass. Omit for the normal best-moments pick."
                  },
                  "targetSeconds": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 180
                  },
                  "aspectRatio": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "1:1",
                      "16:9",
                      "4:5"
                    ],
                    "description": "The rendered frame. Omit for the account's saved setting (9:16 if unset). The response's aspectRatio says what the job renders at."
                  },
                  "captionsEnabled": {
                    "type": "boolean",
                    "description": "Burn captions into the clips. Omit for the account's saved setting (on if unset). The response's captionsEnabled says what the job applied."
                  }
                }
              },
              "examples": {
                "twoClips": {
                  "value": {
                    "sourceVideoId": "cm1video000000000000000000",
                    "prompt": "the most surprising moment, ending on a cliffhanger",
                    "clipCount": 2,
                    "targetSeconds": 45,
                    "captionStyle": "pop"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render started — poll the returned job. clipCountApplied, aspectRatio and captionsEnabled are the values the job runs with.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClipJobRefEnvelope"
                },
                "examples": {
                  "started": {
                    "value": {
                      "ok": true,
                      "data": {
                        "jobId": "cm1job00000000000000000000",
                        "status": "PENDING",
                        "poll": "/api/v1/jobs/cm1job00000000000000000000",
                        "clipCountApplied": 2,
                        "aspectRatio": "9:16",
                        "captionsEnabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Source video not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "code=idempotency_conflict — the Idempotency-Key was already used with different options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UploadRequired"
          },
          "429": {
            "description": "code=rate_limited (Retry-After 60); code=quota_exhausted (monthly videos used up; retryable: false, Retry-After = seconds until resetsAt — tell the user); or code=queue_capacity (render queue full; retryable: true, Retry-After 180).",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "503": {
            "description": "code=engine_offline — the clipping service is briefly unavailable; nothing was charged and the attempt is recorded as a failed job. Retry the same request in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List the user's clip jobs, newest first, 20 per page — find the render finalize started",
        "description": "finalize starts the automatic render without returning a job id; list jobs for that video here (or read latestJob on GET /api/v1/videos rows). Pages with an opaque cursor.",
        "parameters": [
          {
            "name": "sourceVideoId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only jobs for this library video."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "nextCursor from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobListEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid limit, or code=invalid_cursor (pass nextCursor back unchanged).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List the user's posts (one per clip and destination), newest first, 20 per page — status on every platform",
        "description": "Per-destination publish status for YouTube, Instagram, Facebook and TikTok, the published URL, and the customer-facing reason when a post did not go out. Measured performance lives in GET /api/v1/receipts (eligible YouTube Shorts only).",
        "parameters": [
          {
            "name": "clipId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "description": "Only this clip's posts — pass the clipId you published to follow each destination until its status is final."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "nextCursor from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of posts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid limit, or code=invalid_cursor (pass nextCursor back unchanged).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "The account's plan, videos used and remaining this month, clips per video, capabilities, and whether finalize will auto-clip",
        "description": "Read this before planning a batch or starting a render: every clip job uses one video of the monthly allowance, except the first render of a video in a month whose only clip repeats a moment already clipped (qcWarnings flag repeat_moment), which hands its video back. Tell the user how many videos remain.",
        "responses": {
          "200": {
            "description": "The plan and allowance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Poll a generate/clip job — returns status and, when done, the produced clips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job. Poll every 15–30s until status is not PENDING or PROCESSING.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusEnvelope"
                },
                "examples": {
                  "completed": {
                    "value": {
                      "ok": true,
                      "data": {
                        "jobId": "cm1job00000000000000000000",
                        "status": "COMPLETED",
                        "error": null,
                        "clipCountApplied": 2,
                        "clips": [
                          {
                            "clipId": "cm1clip0000000000000000000",
                            "id": "cm1clip0000000000000000000",
                            "title": "The one thing nobody checks",
                            "clipUrl": "https://pub-example.r2.dev/clips/cm1clip0000000000000000000.mp4",
                            "thumbnailUrl": "https://pub-example.r2.dev/clips/cm1clip0000000000000000000.jpg",
                            "durationSeconds": 41,
                            "status": "READY",
                            "review": {
                              "qcWarnings": [],
                              "sourceStartSeconds": 612.4,
                              "sourceEndSeconds": 653.1,
                              "archetype": "top_moments",
                              "captions": "BURNED_IN",
                              "hook": "Nobody checks this, and it costs them",
                              "width": 1080,
                              "height": 1920,
                              "heldForReview": false
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/publish": {
      "get": {
        "operationId": "listPublishDestinations",
        "summary": "List the exact connected destinations available to this API key",
        "description": "Read this first and show the user the destination id, platform, and display name before requesting publish confirmation.",
        "responses": {
          "200": {
            "description": "The exact destinations a publish may name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishDestinationsEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "publishClip",
        "summary": "Publish a completed clip to explicitly named destinations (explicit user confirmation required)",
        "description": "Publishing is a real-world action. Before this call, show the user every exact destination, the final title/description, and visibility, then obtain an explicit go-ahead. Omitted destinations never mean all accounts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clipId",
                  "destinationIds",
                  "metadata"
                ],
                "properties": {
                  "clipId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "destinationIds": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "Exact ids returned by GET /api/v1/publish"
                  },
                  "metadata": {
                    "type": "object",
                    "required": [
                      "title",
                      "description",
                      "privacyStatus"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 5000
                      },
                      "privacyStatus": {
                        "type": "string",
                        "enum": [
                          "public",
                          "unlisted",
                          "private"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "twoDestinations": {
                  "value": {
                    "clipId": "cm1clip0000000000000000000",
                    "destinationIds": [
                      "cm1dest000000000000000yt1",
                      "cm1dest000000000000000ig1"
                    ],
                    "metadata": {
                      "title": "The one thing nobody checks",
                      "description": "",
                      "privacyStatus": "public"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One result per destination; ok:true only means the request was taken. Check every posts[].status and errorCode: PUBLISHED and DELIVERED went out, FAILED and CONFLICT did not, DISMISSED was discarded; the rest are still in flight — follow them with GET /api/v1/posts?clipId=. A post still in flight that carries errorMessage is held: relay the message to the user instead of polling it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishEnvelope"
                },
                "examples": {
                  "oneInFlightOneConflict": {
                    "value": {
                      "ok": true,
                      "data": {
                        "clipId": "cm1clip0000000000000000000",
                        "posts": [
                          {
                            "destinationId": "cm1dest000000000000000yt1",
                            "platform": "YOUTUBE_SHORTS",
                            "status": "PUBLISHING"
                          },
                          {
                            "destinationId": "cm1dest000000000000000ig1",
                            "platform": "INSTAGRAM_REELS",
                            "status": "CONFLICT",
                            "currentStatus": "PUBLISHED",
                            "errorCode": "PUBLISH_INTENT_CONFLICT",
                            "errorMessage": "This destination already has a publish with different reviewed choices. Refresh to see the active post before trying again."
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "reason=content_review — the clip is held for content review; or write scope/suspension.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "reason=not_found — the clip does not exist for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "reason=clip_removed — the clip was removed from the library.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "reason=unknown_destination (body.destinationIds lists ids that are not connected and healthy — nothing was published), no_eligible_destination (no requested destination can take this clip, e.g. a YouTube channel other than the clip source's), clip_not_ready, or rights_unconfirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "code=meta_publish_frozen: Instagram and Facebook publishing is paused for maintenance, and nothing in the request was published; retry after maintenance, or publish now without the Instagram and Facebook destinations. Otherwise a provider is temporarily unavailable; retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "description": "code=rate_limited: wait Retry-After (60). code=posting_cap (retryable: false, no Retry-After): an Instagram destination is at its posting-safety cap for a rolling window of days; nothing was published — tell the user.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/receipts": {
      "get": {
        "operationId": "listReceipts",
        "summary": "Measured performance per published clip — real YouTube Analytics at 48h and 7d, newest first, 100 per page",
        "description": "Eligible YouTube Shorts published through Everpop, newest first. Pages with an opaque cursor: pass the envelope's nextCursor back as ?cursor= until it is null. A receipt may include a separately signed pre-publish prediction; measured metrics are not separately signed.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "nextCursor from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of receipts: aggregate YouTube Analytics metrics at 48h and 7d (views, retention as averageViewPercentage, likes, comments, shares and subscribers gained), each with its postId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptListEnvelope"
                },
                "examples": {
                  "measured48h": {
                    "value": {
                      "ok": true,
                      "data": {
                        "receipts": [
                          {
                            "postId": "cm1post0000000000000000000",
                            "title": "The one thing nobody checks",
                            "publishedUrl": "https://youtube.com/shorts/aBcDeFgHiJk",
                            "postedAt": "2026-09-20T15:00:00.000Z",
                            "outcomes": {
                              "h48": {
                                "views": 1119,
                                "averageViewPercentage": 95.2,
                                "likes": 41,
                                "comments": 3,
                                "shares": 2,
                                "subscribersGained": 1,
                                "measuredAt": "2026-09-22T15:05:00.000Z"
                              },
                              "d7": null
                            },
                            "receiptUrl": "https://everpop.app/r/cm1post0000000000000000000?t=..."
                          }
                        ],
                        "campaignReportUrl": "https://everpop.app/r/bundle?ids=cm1post0000000000000000000&t=..."
                      },
                      "nextCursor": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid limit, or code=invalid_cursor (pass nextCursor back unchanged).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns with post counts, measured views and the public payout-report link (Pro plan or above)",
        "responses": {
          "200": {
            "description": "The account's campaigns with their post rollup and public report link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "reason=plan — campaigns are not included in this account's plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a paid-clipping campaign (Pro plan or above)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "sourceVideoId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "The sponsor's footage in the user's library; posts published from its clips attach automatically."
                  },
                  "sourceUrl": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 500,
                    "description": "Link to the brief (stored, never fetched)."
                  },
                  "cpmCents": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100000
                  },
                  "budgetCents": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "deadline": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "brief": {
                    "type": "object",
                    "description": "Structured brief rules enforced on every attach."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Subscription required, or reason=plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "sourceVideoId is not in the user's library.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "The body did not validate, the brief could not be read, or both brief and notes were sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/attach": {
      "post": {
        "operationId": "attachToCampaign",
        "summary": "Attach the user's published posts to a campaign (a post counts toward one campaign at a time)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "postIds"
                ],
                "properties": {
                  "postIds": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "postId values from GET /api/v1/receipts or the campaign proof."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many posts were attached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "A post id is not one of the user's published posts (named in the message).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "A post is not published yet, a post breaks the campaign's brief rules or the brief cannot be read, or the body did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/proof": {
      "get": {
        "operationId": "campaignProof",
        "summary": "A campaign's measured payout report: per-clip 48h/7d numbers, totals, estimated payout and the public report link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "csv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Any value returns a CSV download instead of JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "The payout report as JSON, or with ?csv a CSV download (one row per post).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignProofEnvelope"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Campaign not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "epk_...",
        "description": "Per-user API key from everpop.app/dashboard/api (Dashboard → API). Write scope required for mutating endpoints."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "description": "Every response: { ok: true, data } on success, { ok: false, error, ...detail } on failure (the HTTP status carries the verdict).",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "data": {},
          "error": {
            "type": "string"
          }
        },
        "required": [
          "ok"
        ]
      },
      "JobRef": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELED"
            ]
          },
          "poll": {
            "type": "string",
            "description": "Relative URL to poll, e.g. /api/v1/jobs/{id}"
          }
        },
        "required": [
          "jobId",
          "status",
          "poll"
        ]
      },
      "JobRefEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/JobRef"
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "ClipJobRef": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELED"
            ]
          },
          "poll": {
            "type": "string",
            "description": "Relative URL to poll, e.g. /api/v1/jobs/{id}"
          },
          "clipCountApplied": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The clip count the job runs with after the plan's per-video cap (1 for a Summary or Punch, which deliver one video)."
          },
          "aspectRatio": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "9:16",
              "1:1",
              "16:9",
              "4:5",
              null
            ],
            "description": "The aspect ratio the job renders at: the request's aspectRatio, or the account's saved setting when it was omitted."
          },
          "captionsEnabled": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the job burns captions in: the request's captionsEnabled, or the account's saved setting when it was omitted."
          }
        },
        "required": [
          "jobId",
          "status",
          "poll",
          "clipCountApplied",
          "aspectRatio",
          "captionsEnabled"
        ]
      },
      "ClipJobRefEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "$ref": "#/components/schemas/ClipJobRef"
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "ClipItem": {
        "type": "object",
        "properties": {
          "clipId": {
            "type": "string",
            "description": "The id POST /api/v1/publish takes (equal to id)."
          },
          "id": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "clipUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Publicly fetchable MP4 once rendered."
          },
          "thumbnailUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSeconds": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "review": {
            "$ref": "#/components/schemas/ClipReview"
          }
        },
        "required": [
          "clipId",
          "id",
          "title",
          "clipUrl",
          "thumbnailUrl",
          "durationSeconds",
          "status",
          "review"
        ]
      },
      "ClipReview": {
        "type": "object",
        "description": "What to tell the user before asking them to confirm a publish. Clips with quality-check warnings can still be published by the user's explicit choice; mention the warnings.",
        "properties": {
          "qcWarnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QcWarning"
            },
            "description": "Owner-facing quality-check warnings; empty when the clip passed."
          },
          "sourceStartSeconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Where the clip starts in the source video, in seconds (null on older clips)."
          },
          "sourceEndSeconds": {
            "type": [
              "number",
              "null"
            ],
            "description": "Where the clip ends in the source video, in seconds (null on older clips)."
          },
          "archetype": {
            "type": [
              "string",
              "null"
            ],
            "description": "The editorial cut, e.g. top_moments, summary, punch."
          },
          "captions": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "NONE",
              "PENDING",
              "BURNED_IN",
              "FAILED",
              null
            ],
            "description": "Caption state."
          },
          "hook": {
            "type": [
              "string",
              "null"
            ],
            "description": "The words spoken in the clip's opening seconds, when recorded."
          },
          "width": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Rendered width in pixels, measured from the file (null when not measured)."
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Rendered height in pixels, measured from the file (null when not measured)."
          },
          "heldForReview": {
            "type": "boolean",
            "description": "true when an earlier publish attempt left the clip held for content review (publishing answers 403 content_review until it is cleared)."
          }
        },
        "required": [
          "qcWarnings",
          "sourceStartSeconds",
          "sourceEndSeconds",
          "archetype",
          "captions",
          "hook",
          "width",
          "height",
          "heldForReview"
        ]
      },
      "QcWarning": {
        "type": "object",
        "properties": {
          "flag": {
            "type": "string",
            "description": "Stable machine key (e.g. profanity, dead_zone); _other for a flag without specific copy."
          },
          "label": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "flag",
          "label",
          "detail"
        ]
      },
      "JobStatusEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "jobId": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "PROCESSING",
                  "COMPLETED",
                  "FAILED",
                  "CANCELED"
                ],
                "description": "Stop polling on any status other than PENDING or PROCESSING."
              },
              "error": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Customer-safe failure detail when the job did not complete."
              },
              "clipCountApplied": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "The clip count the job runs with after the plan's per-video cap (1 for a Summary or Punch)."
              },
              "clips": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClipItem"
                }
              }
            },
            "required": [
              "jobId",
              "status",
              "error",
              "clipCountApplied",
              "clips"
            ]
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "VideoItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "detectionMethod": {
            "type": "string"
          },
          "clippable": {
            "type": "boolean",
            "description": "Whether POST /api/v1/clip accepts this video — the same check the clip call runs."
          },
          "notClippableReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "upload_required",
              "generated_source",
              "demo_source",
              null
            ],
            "description": "When clippable is false: the code POST /api/v1/clip would 422 with. upload_required = upload the file (POST /api/v1/videos/upload, then /complete with linkSourceVideoId = this id)."
          },
          "uploadUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "When notClippableReason is upload_required: the sign-in-gated Everpop page where the user uploads this video's file (pre-attached to this video). Give it to the user when you can't send file bytes yourself. null otherwise."
          },
          "latestJob": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LatestJob"
              },
              {
                "type": "null"
              }
            ],
            "description": "The newest clip job for this video (e.g. the automatic render finalize started), or null. Poll it with GET /api/v1/jobs/{jobId}."
          }
        },
        "required": [
          "id",
          "title",
          "status",
          "detectedAt",
          "detectionMethod",
          "clippable",
          "notClippableReason",
          "uploadUrl",
          "latestJob"
        ]
      },
      "UsageEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "plan": {
                "type": "string",
                "enum": [
                  "free",
                  "starter",
                  "pro",
                  "scale"
                ]
              },
              "videos": {
                "type": "object",
                "properties": {
                  "used": {
                    "type": "integer",
                    "description": "Videos used in the current monthly window (every clip job counts as one; refunded failures don't)."
                  },
                  "limit": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "remaining": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "resetsAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the monthly window resets (the billing day for paid plans)."
                  }
                },
                "required": [
                  "used",
                  "limit",
                  "remaining",
                  "resetsAt"
                ]
              },
              "clipsPerVideo": {
                "type": "integer",
                "description": "The cap applied to clipCount on POST /api/v1/clip."
              },
              "capabilities": {
                "type": "object",
                "properties": {
                  "apiAccess": {
                    "type": "boolean"
                  },
                  "autoPost": {
                    "type": "boolean"
                  },
                  "campaigns": {
                    "type": "boolean"
                  },
                  "fourK": {
                    "type": "boolean"
                  },
                  "customFonts": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "apiAccess",
                  "autoPost",
                  "campaigns",
                  "fourK",
                  "customFonts"
                ]
              },
              "destinationsConnected": {
                "type": "integer",
                "description": "Connected destinations whose grant is live (not waiting for a reconnect): the same set GET /api/v1/publish lists."
              },
              "autoClipOnFinalize": {
                "type": "boolean",
                "description": "Whether POST /api/v1/videos/complete (renderMode auto) starts a render right now: automatic clipping is on, the plan is active and videos remain."
              }
            },
            "required": [
              "plan",
              "videos",
              "clipsPerVideo",
              "capabilities",
              "destinationsConnected",
              "autoClipOnFinalize"
            ]
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "LatestJob": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELED"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Customer-safe failure detail when the job did not complete."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "jobId",
          "status",
          "error",
          "createdAt"
        ]
      },
      "JobListItem": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "sourceVideoId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELED"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Customer-safe failure detail when the job did not complete."
          },
          "clipCountApplied": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The clip count the job runs with after the plan's per-video cap."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "poll": {
            "type": "string",
            "description": "Relative URL of the job, e.g. /api/v1/jobs/{id}"
          }
        },
        "required": [
          "jobId",
          "sourceVideoId",
          "status",
          "error",
          "clipCountApplied",
          "createdAt",
          "poll"
        ]
      },
      "JobListEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobListItem"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as ?cursor= for the next (older) page; null on the last page."
          }
        },
        "required": [
          "ok",
          "data",
          "nextCursor"
        ]
      },
      "PostItem": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "string"
          },
          "clipId": {
            "type": "string"
          },
          "destinationId": {
            "type": "string"
          },
          "destinationName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The connected account's display name."
          },
          "platform": {
            "type": "string",
            "enum": [
              "TIKTOK",
              "INSTAGRAM_REELS",
              "YOUTUBE_SHORTS",
              "FACEBOOK_REELS",
              "THREADS"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "QUEUED",
              "PUBLISHING",
              "PUBLISHED",
              "DELIVERED",
              "FAILED",
              "SCHEDULED",
              "DISMISSED",
              "DEFERRED"
            ],
            "description": "DELIVERED = in the creator's TikTok inbox as a draft; going public stays their tap."
          },
          "publishedUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "postedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "The customer-facing reason a post did not go out (the same text the Posts page shows), at most 300 characters."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "postId",
          "clipId",
          "destinationId",
          "destinationName",
          "platform",
          "status",
          "publishedUrl",
          "scheduledAt",
          "postedAt",
          "error",
          "createdAt"
        ]
      },
      "PostListEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostItem"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as ?cursor= for the next (older) page; null on the last page."
          }
        },
        "required": [
          "ok",
          "data",
          "nextCursor"
        ]
      },
      "ReceiptWindow": {
        "type": "object",
        "description": "Aggregate YouTube Analytics metrics for one measurement window.",
        "properties": {
          "views": {
            "type": [
              "number",
              "null"
            ]
          },
          "averageViewPercentage": {
            "type": [
              "number",
              "null"
            ],
            "description": "Average percentage of the Short viewed (retention)."
          },
          "likes": {
            "type": [
              "number",
              "null"
            ]
          },
          "comments": {
            "type": [
              "number",
              "null"
            ]
          },
          "shares": {
            "type": [
              "number",
              "null"
            ]
          },
          "subscribersGained": {
            "type": [
              "number",
              "null"
            ]
          },
          "measuredAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "views",
          "averageViewPercentage",
          "likes",
          "comments",
          "shares",
          "subscribersGained",
          "measuredAt"
        ]
      },
      "ReceiptItem": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "string",
            "description": "The post id POST /api/v1/campaigns/{id}/attach takes."
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "postedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "outcomes": {
            "type": "object",
            "properties": {
              "h48": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ReceiptWindow"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "The 48-hour window, or null until it is measured."
              },
              "d7": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ReceiptWindow"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "The 7-day window, or null until it is measured."
              }
            },
            "required": [
              "h48",
              "d7"
            ]
          },
          "receiptUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Token-protected public receipt page, once the post has a measured window; null before."
          }
        },
        "required": [
          "postId",
          "title",
          "publishedUrl",
          "postedAt",
          "outcomes",
          "receiptUrl"
        ]
      },
      "ReceiptListEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "receipts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ReceiptItem"
                }
              },
              "campaignReportUrl": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "description": "One token-protected link bundling the measured receipts on this page; null when none on the page is measured."
              }
            },
            "required": [
              "receipts",
              "campaignReportUrl"
            ]
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as ?cursor= for the next (older) page; null on the last page."
          }
        },
        "required": [
          "ok",
          "data",
          "nextCursor"
        ]
      },
      "VideoListEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoItem"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as ?cursor= for the next (older) page; null on the last page."
          },
          "browserUploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "The sign-in-gated Everpop page where the user uploads a new file themselves. Give it to the user when you can't send file bytes; unlike POST /api/v1/videos/upload it opens no upload slot."
          }
        },
        "required": [
          "ok",
          "data",
          "nextCursor",
          "browserUploadUrl"
        ]
      },
      "ImportVideoEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "videoId": {
                "type": "string",
                "description": "A sourceVideoId for POST /api/v1/clip once the video's file is uploaded."
              },
              "title": {
                "type": "string"
              },
              "existing": {
                "type": "boolean",
                "description": "true when the video was already in the library (the call is idempotent)."
              },
              "browserUploadUrl": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "description": "The sign-in-gated page where the user uploads this video's file; null once it has one."
              }
            },
            "required": [
              "videoId",
              "title",
              "existing",
              "browserUploadUrl"
            ]
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "PublishDestination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id POST /api/v1/publish takes in destinationIds."
          },
          "platform": {
            "type": "string",
            "enum": [
              "TIKTOK",
              "INSTAGRAM_REELS",
              "YOUTUBE_SHORTS",
              "FACEBOOK_REELS",
              "THREADS"
            ]
          },
          "displayName": {
            "type": "string",
            "description": "The connected account's name — show it to the user before they confirm."
          }
        },
        "required": [
          "id",
          "platform",
          "displayName"
        ]
      },
      "PublishDestinationsEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "destinations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublishDestination"
                },
                "description": "Connected destinations whose grant is live (not waiting for a reconnect), oldest first."
              }
            },
            "required": [
              "destinations"
            ]
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "PublishResult": {
        "type": "object",
        "properties": {
          "destinationId": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "TIKTOK",
              "INSTAGRAM_REELS",
              "YOUTUBE_SHORTS",
              "FACEBOOK_REELS",
              "THREADS"
            ]
          },
          "status": {
            "type": "string",
            "description": "This destination's post status after the call — one of the post statuses GET /api/v1/posts reports (e.g. PUBLISHING, QUEUED, FAILED) — or CONFLICT when the destination already has a publish of this clip with different reviewed choices (see errorCode). Follow later changes with GET /api/v1/posts."
          },
          "currentStatus": {
            "type": "string",
            "description": "When the call did not proceed because this destination already has a post for the clip: that post's status."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "PUBLISH_INTENT_CONFLICT",
              "META_PUBLISH_HISTORY_REVIEW_REQUIRED"
            ]
          },
          "errorMessage": {
            "type": "string",
            "description": "Customer-facing reason, when this destination did not proceed."
          }
        },
        "required": [
          "destinationId",
          "platform",
          "status"
        ]
      },
      "PublishEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "clipId": {
                "type": "string"
              },
              "posts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublishResult"
                },
[...]
