{
  "openapi": "3.1.0",
  "info": {
    "title": "Mobula API",
    "version": "2.0.0",
    "description": "Onchain trading backend for trading apps, bots, and traders. Swap routing and execution across 90+ EVM chains and Solana (Uniswap v2/v3/v4, PancakeSwap, SushiSwap, Curve, Raydium, Jupiter) plus launchpad and bonding-curve coverage (PumpFun, Meteora, Raydium Launchlab, FourMeme). Cross-chain bridging through Mobula's own router. Real-time and historical market data: token prices, OHLCV candles, DEX trades, holder and trader analytics, wallet portfolios with PnL, DeFi position tracking, on-chain wallet labels, and token security audits. Live Pulse feed of new token launches and trending pairs. Official SDK: https://www.npmjs.com/package/@mobula_labs/sdk | TypeScript types: https://www.npmjs.com/package/@mobula_labs/types | Open-source trading terminal: https://mtt.gg (source: https://github.com/MobulaFi/MTT).",
    "guidance": "Mobula is a REST API for real-time and historical crypto data across 90+ blockchains. It covers token analytics, wallet portfolios, DEX trades, DeFi positions, security audits, swap execution, on-chain wallet labels, and launchpad data including PumpFun, Meteora, and Raydium Launchlab bonding-curve pools. The /market/lighthouse endpoint provides a real-time Pulse feed of new token launches, trending pairs, and market-wide activity.\n\nAgentic payments (no human in the loop): Mobula exposes the same agent product on two rails — /agent/x402/... (USDC on Base or Solana, x402 payment headers) and /agent/mpp/... (Tempo / MPP credentials). Replace the prefix only: e.g. /agent/x402/subscribe and /agent/mpp/subscribe are equivalent flows with different settlement. Workflow: 1) Call .../subscription to check for an existing plan. 2) If none, call .../subscribe with plan and payment_frequency (402 then pay). 3) Use the returned API key with \"x-api-key: <key>\" or \"Authorization: <key>\" on any REST endpoint — no per-call agent payment for data. 4) WebSocket streams at wss://streams.mobula.io with the same API key. 5) Monitor credits via .../subscription and top up via .../top-up. Fully autonomous.\n\nAuthentication: pass your API key via header \"Authorization: <key>\" or \"x-api-key: <key>\" or query param \"?apiKey=<key>\". Without an API key, endpoints use MPP payment: first request returns 402, pay via MPP (USDC), then retry the same request for a 200 response.\n\nBlockchain identifiers: use the numeric chain ID for EVM chains (1 = Ethereum, 56 = BSC, 137 = Polygon, 8453 = Base, 42161 = Arbitrum, 43114 = Avalanche, 10 = Optimism). Chain names also work: \"ethereum\", \"base\", \"arbitrum\", \"polygon\", \"bsc\", \"avalanche\", \"optimism\". For Solana use \"solana\" or \"solana:solana\". Non-EVM chains: \"alephium\", \"supra\", \"lighter\".\n\nKey patterns: tokens are identified by contract address + blockchain. Wallets are identified by address. Pools by pool contract address + blockchain. Most GET endpoints have a POST batch variant accepting an array of items (up to 500) for bulk lookups.\n\nDocumentation & SDKs: Full API documentation: https://docs.mobula.io. Official TypeScript/JS SDK: https://www.npmjs.com/package/@mobula_labs/sdk. Shared TypeScript types: https://www.npmjs.com/package/@mobula_labs/types. Open-source trading terminal built on the SDK: https://mtt.gg (source: https://github.com/MobulaFi/MTT).\n\nBrowse the paths below and their x-agent-guidance for per-endpoint usage, input modes, and response details.",
    "x-jentic-source-url": "https://api.mobula.io/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.mobula.io"
    }
  ],
  "paths": {
    "/api/2/fast-search": {
      "get": {
        "operationId": "get_fast_search",
        "summary": "Universal Search",
        "description": "Performs a fast fuzzy search across all indexed tokens, DEX pools, and wallets. Matches against token name, symbol, contract address, pool pair name, wallet address, and stored name/symbol translations for non-latin-named tokens (e.g. \"Niu\" finds 牛来). Returns ranked results with logo URLs, chain info, market cap, and relevance score. Use for building search bars, token pickers, or address resolution in agent workflows.",
        "tags": [
          "V2 - Search"
        ],
        "x-agent-guidance": {
          "whenToUse": "Use to search across tokens, pools, and wallets by name, symbol, or contract address. Returns ranked results with logos and basic metadata.",
          "inputModes": "GET: ?query=<searchTerm>.",
          "paymentFlow": "First request without payment returns 402 with a challenge. Pay via MPP (USDC on Tempo), then retry the same request with the payment proof for a 200 response.",
          "tokenEfficiency": "~100-300 tokens depending on result count."
        },
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "currency": "USD",
          "description": "$0.0004 per search",
          "pricingMode": "fixed",
          "price": "0.000400"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Search query string"
            },
            "required": true,
            "description": "Search query string",
            "name": "input",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "tokens",
                "assets",
                "pairs"
              ],
              "description": "Type of results to return"
            },
            "required": false,
            "description": "Type of results to return",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "JSON string with filter options: blockchains, poolTypes, excludeBonded, bondedOnly"
            },
            "required": false,
            "description": "JSON string with filter options: blockchains, poolTypes, excludeBonded, bondedOnly",
            "name": "filters",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "volume24h",
                "marketCap",
                "createdAt",
                "volume1h",
                "feesPaid5min",
                "feesPaid1h",
                "feesPaid24h",
                "volume5min",
                "holdersCount",
                "organicVolume1h",
                "totalFeesPaidUsd",
                "searchScore",
                "liquidity"
              ],
              "description": "Sort field for search results"
            },
            "required": false,
            "description": "Sort field for search results",
            "name": "sortBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Exclude bonded tokens from results"
            },
            "required": false,
            "description": "Exclude bonded tokens from results",
            "name": "excludeBonded",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "description": "Maximum number of results (1-20, default: 5)"
            },
            "required": false,
            "description": "Maximum number of results (1-20, default: 5)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Universal Search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainId": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "decimals": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "id": {
                            "type": "number",
                            "nullable": true,
                            "default": null
                          },
                          "priceUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceToken": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceTokenString": {
                            "type": "string"
                          },
                          "approximateReserveUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "approximateReserveTokenRaw": {
                            "type": "string"
                          },
                          "approximateReserveToken": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalSupply": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "circulatingSupply": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "marketCapUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "marketCapDilutedUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "logo": {
                            "type": "string",
                            "nullable": true
                          },
                          "originLogoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "rank": {
                            "type": "number",
                            "nullable": true,
                            "default": null
                          },
                          "cexs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          },
                          "exchange": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "factory": {
                            "type": "string",
                            "nullable": true
                          },
                          "source": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceFactory": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceMetadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "sourceFactoryMetadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "liquidityUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "liquidityMaxUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "bonded": {
                            "type": "boolean"
                          },
                          "bondingPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "bondingCurveAddress": {
                            "type": "string",
                            "nullable": true
                          },
                          "preBondingFactory": {
                            "type": "string"
                          },
                          "poolAddress": {
                            "type": "string"
                          },
                          "blockchain": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "tokenType": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "2020",
                              "2022"
                            ]
                          },
                          "deployer": {
                            "type": "string",
                            "nullable": true
                          },
                          "bondedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "athUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "atlUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "athDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "atlDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "priceChange1minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange5minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange1hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange4hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange6hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange12hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange24hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange1minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange5minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange1hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange4hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange6hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange12hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange24hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "liquidityBurnPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "volume1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalFeesPaidUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalFeesPaidNativeRaw": {
                            "type": "string",
                            "nullable": true,
                            "default": "0"
                          },
                          "organicTrades1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTrades24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicTraders24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolume24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeBuy24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicVolumeSell24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuys24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSells24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicBuyers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "organicSellers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "createdAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "latestTradeDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "holdersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "socials": {
                            "type": "object",
                            "properties": {
                              "twitter": {
                                "type": "string",
                                "nullable": true
                              },
                              "website": {
                                "type": "string",
                                "nullable": true
                              },
                              "telegram": {
                                "type": "string",
                                "nullable": true
                              },
                              "others": {
                                "type": "object",
                                "nullable": true,
                                "additionalProperties": {
                                  "nullable": true
                                }
                              },
                              "uri": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "twitter",
                              "website",
                              "telegram",
                              "others"
                            ]
                          },
                          "security": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "buyTax": {
                                "type": "string",
                                "nullable": true
                              },
                              "sellTax": {
                                "type": "string",
                                "nullable": true
                              },
                              "transferPausable": {
                                "type": "boolean"
                              },
                              "top10Holders": {
                                "type": "string"
                              },
                              "isBlacklisted": {
                                "type": "boolean"
                              },
                              "noMintAuthority": {
                                "type": "boolean"
                              },
                              "balanceMutable": {
                                "type": "boolean"
                              },
                              "lowLiquidity": {
                                "type": "string"
                              },
                              "burnRate": {
                                "type": "string"
                              },
                              "liquidityBurnPercentage": {
                                "type": "number"
                              },
                              "isHoneypot": {
                                "type": "boolean"
                              },
                              "isNotOpenSource": {
                                "type": "boolean"
                              },
                              "renounced": {
                                "type": "boolean"
                              },
                              "locked": {
                                "type": "string"
                              },
                              "isWhitelisted": {
                                "type": "boolean"
                              },
                              "isMintable": {
                                "type": "boolean"
                              },
                              "modifyableTax": {
                                "type": "boolean"
                              },
                              "selfDestruct": {
                                "type": "boolean"
                              }
                            }
                          },
                          "twitterReusesCount": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "twitterRenameCount": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "twitterRenameHistory": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "username": {
                                  "type": "string"
                                },
                                "lastChecked": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "username",
                                "lastChecked"
                              ]
                            },
                            "default": []
                          },
                          "deployerMigrationsCount": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "deployerTokensCount": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "securityScore": {
                            "type": "number",
                            "nullable": true,
                            "default": null
                          },
                          "securityScoreUpdatedAt": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "dexscreenerListed": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "dexscreenerHeader": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "dexscreenerAdPaid": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "dexscreenerAdPaidDate": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "dexscreenerPendingAt": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "dexscreenerSocialPaid": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "dexscreenerSocialPaidDate": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "liveStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "liveThumbnail": {
                            "type": "string",
                            "nullable": true
                          },
                          "livestreamTitle": {
                            "type": "string",
                            "nullable": true
                          },
                          "liveReplyCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "dexscreenerBoosted": {
                            "type": "boolean",
                            "nullable": true,
                            "default": false
                          },
                          "dexscreenerBoostedDate": {
                            "type": "string",
                            "nullable": true,
                            "default": null
                          },
                          "dexscreenerBoostedAmount": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "isMayhemMode": {
                            "type": "boolean",
                            "nullable": true,
                            "default": null
                          },
                          "isCashbackCoin": {
                            "type": "boolean",
                            "nullable": true,
                            "default": null
                          },
                          "isAgentMode": {
                            "type": "boolean",
                            "nullable": true,
                            "default": null
                          },
                          "isOGCoin": {
                            "type": "boolean",
                            "nullable": true,
                            "default": null
                          },
                          "top10HoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "top50HoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "top100HoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "top200HoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "devHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "insidersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "bundlersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "snipersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "proTradersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "freshTradersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "smartTradersHoldingsPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "insidersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "bundlersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "snipersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "freshTradersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "proTradersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "smartTradersCount": {
                            "type": "number",
                            "nullable": true
                          },
                          "freshTradersBuys": {
                            "type": "number",
                            "nullable": true
                          },
                          "proTradersBuys": {
                            "type": "number",
                            "nullable": true
                          },
                          "smartTradersBuys": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "address",
                          "chainId",
                          "symbol",
                          "name",
                          "priceTokenString",
                          "approximateReserveTokenRaw",
                          "logo",
                          "bondedAt",
                          "createdAt",
                          "latestTradeDate",
                          "description",
                          "socials",
                          "security",
                          "liveStatus",
                          "liveThumbnail",
                          "livestreamTitle",
                          "liveReplyCount"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      },
      "post": {
        "operationId": "post_fast_search",
        "summary": "Universal Search - POST (advanced filters)",
        "description": "POST version of Universal Search. Body shape mirrors a single pulse v2 view (top-level `chainId`/`poolTypes`/`sortBy`/`limit`/`offset` + a Prisma-like `filters` tree supporting AND/OR/NOT). Any `filters` payload that validates here is a valid sub-payload for a pulse view.",
        "tags": [
          "V2 - Search"
        ],
        "x-agent-guidance": {
          "whenToUse": "Use to search across tokens, pools, and wallets by name, symbol, or contract address. Returns ranked results with logos and basic metadata.",
          "inputModes": "GET: ?query=<searchTerm>.",
          "paymentFlow": "First request without payment returns 402 with a challenge. Pay via MPP (USDC on Tempo), then retry the same request with the payment proof for a 200 response.",
          "tokenEfficiency": "~100-300 tokens depending on result count."
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Search query string"
                  },
                  "chainId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "Chain ID(s) to filter — same shorthand as pulse `view.chainId`"
                  },
                  "poolTypes": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "Pool type(s) to filter — same shorthand as pulse `view.poolTypes`"
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    },
                    "description": "Prisma-like `where` tree (AND/OR/NOT + leaf operators `equals`, `not`, `gte`, `gt`, `lte`, `lt`, `in`, `notIn`, `contains`, `startsWith`, `endsWith`). Same surface as `view.filters` on POST /2/pulse."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": [
                      "volume24h",
                      "marketCap",
                      "createdAt",
                      "volume1h",
                      "feesPaid5min",
                      "feesPaid1h",
                      "feesPaid24h",
                      "volume5min",
                      "holdersCount",
                      "organicVolume1h",
                      "totalFeesPaidUsd",
                      "searchScore"
                    ],
                    "description": "Sort field for search results (default: volume24h; searchScore falls back to volume_24h on POST)"
                  },
                  "sortOrder": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ],
                    "description": "Sort order (default: desc)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of results (1-20, default: 5)"
                  },
                  "offset": {
                    "type": "number",
                    "description": "Offset for pagination (default: 0)"
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Universal Search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "chainId": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "decimals": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "id": {
                            "type": "number",
                            "nullable": true,
                            "default": null
                          },
                          "priceUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceToken": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceTokenString": {
                            "type": "string"
                          },
                          "approximateReserveUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "approximateReserveTokenRaw": {
                            "type": "string"
                          },
                          "approximateReserveToken": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalSupply": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "circulatingSupply": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "marketCapUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "marketCapDilutedUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "logo": {
                            "type": "string",
                            "nullable": true
                          },
                          "originLogoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "rank": {
                            "type": "number",
                            "nullable": true,
                            "default": null
                          },
                          "cexs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          },
                          "exchange": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "factory": {
                            "type": "string",
                            "nullable": true
                          },
                          "source": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceFactory": {
                            "type": "string",
                            "nullable": true
                          },
                          "sourceMetadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "sourceFactoryMetadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "logo"
                            ]
                          },
                          "liquidityUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "liquidityMaxUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "bonded": {
                            "type": "boolean"
                          },
                          "bondingPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "bondingCurveAddress": {
                            "type": "string",
                            "nullable": true
                          },
                          "preBondingFactory": {
                            "type": "string"
                          },
                          "poolAddress": {
                            "type": "string"
                          },
                          "blockchain": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "tokenType": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "2020",
                              "2022"
                            ]
                          },
                          "deployer": {
                            "type": "string",
                            "nullable": true
                          },
                          "bondedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "athUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "atlUSD": {
                            "type": "number",
                            "nullable": true
                          },
                          "athDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "atlDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "priceChange1minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange5minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange1hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange4hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange6hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange12hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "priceChange24hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange1minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange5minPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange1hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange4hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange6hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange12hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "poolPriceChange24hPercentage": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "liquidityBurnPercentage": {
                            "type": "number",
                            "nullable": true
                          },
                          "volume1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volume24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeBuy24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "volumeSell24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "trades24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buys24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sells24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "buyers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "sellers24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders1min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders5min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders15min": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders1h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders4h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders6h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders12h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "traders24h": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid1minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid5minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid15minUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid1hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid4hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid6hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid12hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "feesPaid24hUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalFeesPaidUSD": {
                            "type": "number",
                            "nullable": true,
                            "default": 0
                          },
                          "totalFeesPaidNativeRaw": {
                            "type": "string",
[...]
