{
  "openapi": "3.1.0",
  "info": {
    "title": "TwitterAPIs API",
    "version": "1.0.0",
    "description": "REST API for Twitter and X data. Search tweets and users, resolve a single tweet into its full thread, read profiles and timelines, page the follower graph, and run write actions over plain HTTP with Bearer auth and JSON. Pay per call: almost every call is $0.0008 (standard reads plus simple write actions like, retweet, bookmark, follow, their undos, and delete), tweet/thread is $0.004, full tweet history is $0.0024, tweet creation and DM reads are $0.0016, and account reads are free. New accounts start with $0.50 in free credits.",
    "x-jentic-source-url": "https://www.twitterapis.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.twitterapis.com"
    }
  ],
  "paths": {
    "/account/me": {
      "get": {
        "operationId": "account-me",
        "summary": "Account Info",
        "description": "Returns the account behind your API key: remaining credits, credits consumed, total requests served, and when the account was created. Use it to show a balance in your own dashboard or to alert before you run out of credits. This call is free and is not metered. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/account/me\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/account/me\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/account/me\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Your credit balance, lifetime usage, and account details for the API key making the call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email address on the account."
                    },
                    "name": {
                      "type": "string",
                      "description": "Account holder name."
                    },
                    "credits_remaining": {
                      "type": "number",
                      "description": "Credits currently available, in USD."
                    },
                    "credits_used": {
                      "type": "number",
                      "description": "Total credits consumed to date, in USD."
                    },
                    "total_requests": {
                      "type": "number",
                      "description": "Total number of API requests served for this account."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of when the account was created."
                    }
                  }
                },
                "example": {
                  "email": "you@example.com",
                  "name": "Your Name",
                  "credits_remaining": 946.4048,
                  "credits_used": 454.1516,
                  "total_requests": 622007,
                  "created_at": "2026-01-14T09:22:31.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ]
    },
    "/account/payments": {
      "get": {
        "operationId": "account-payments",
        "summary": "Payment History",
        "description": "Returns the payment history for the account behind your API key, ordered newest first. Each entry records what was paid, how many credits it added, and whether the payment completed. Use it to reconcile top-ups against your own billing records. This call is free. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/account/payments\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/account/payments\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/account/payments\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Every credit top-up on your account, newest first, with amount, credits added, and status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "array",
                      "description": "Payment records, newest first. Empty when the account has never topped up.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "example": {
                  "payments": [
                    {
                      "amount": 100,
                      "credits_added": 100,
                      "status": "completed",
                      "created_at": "2026-06-02T14:08:55.000Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ]
    },
    "/feedback": {
      "post": {
        "operationId": "feedback-post",
        "summary": "Send Feedback",
        "description": "Files a product feedback report against your account. It exists for AI agents (Claude Code, Cursor, any MCP client) working against this API: when a call fails, a capability is missing, or the user asks for it, the agent drafts a report locally, the user reviews it, and the client sends it here. The report reaches the team as a stored row plus a Slack post, and the returned id lets the agent read its status later. Free, never metered, rate limited to 10 per minute per key. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/feedback\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"type\": \"bug\", \"title\": \"tweet/thread returns 500 on a quoted reply\", \"details\": \"what happened: tweet/thread?id=1899999999999999999 answered 500 server_error, expected the 4-post thread.\\nrepro: GET tweet/thread with that id.\\nevidence: status 500, request id req_01J9K2, twitter_tweet_thread via claude-code/2.1.259.\", \"area\": \"tweet/thread\", \"evidence\": {\"tool\": \"twitter_tweet_thread\", \"endpoint\": \"tweet/thread\", \"status\": 500, \"request_id\": \"req_01J9K2\", \"client\": \"claude-code/2.1.259\", \"mcp_version\": \"0.9.6\"}, \"client\": \"claude-code/2.1.259 via @twitterapis/mcp@0.9.6\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/feedback\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\n        \"type\": \"bug\",\n        \"title\": \"tweet/thread returns 500 on a quoted reply\",\n        \"details\": \"what happened: tweet/thread?id=1899999999999999999 answered 500 server_error, expected the 4-post thread.\\nrepro: GET tweet/thread with that id.\\nevidence: status 500, request id req_01J9K2, twitter_tweet_thread via claude-code/2.1.259.\",\n        \"area\": \"tweet/thread\",\n        \"evidence\": {\"tool\": \"twitter_tweet_thread\", \"endpoint\": \"tweet/thread\", \"status\": 500, \"request_id\": \"req_01J9K2\", \"client\": \"claude-code/2.1.259\", \"mcp_version\": \"0.9.6\"},\n        \"client\": \"claude-code/2.1.259 via @twitterapis/mcp@0.9.6\",\n    },\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/feedback\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    type: \"bug\",\n    title: \"tweet/thread returns 500 on a quoted reply\",\n    details: \"what happened: tweet/thread?id=1899999999999999999 answered 500 server_error, expected the 4-post thread.\\nrepro: GET tweet/thread with that id.\\nevidence: status 500, request id req_01J9K2, twitter_tweet_thread via claude-code/2.1.259.\",\n    area: \"tweet/thread\",\n    evidence: { tool: \"twitter_tweet_thread\", endpoint: \"tweet/thread\", status: 500, request_id: \"req_01J9K2\", client: \"claude-code/2.1.259\", mcp_version: \"0.9.6\" },\n    client: \"claude-code/2.1.259 via @twitterapis/mcp@0.9.6\",\n  }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "201": {
            "description": "File a bug, idea or missing-capability report from the tool you are using, typically drafted by your AI agent and sent after you review it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The report's id (a UUID). Pass it to GET feedback/{id} to read its status and the team's response."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always \"new\" on creation. Moves to triaged, shipped or declined as the team works the report."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of when the report was stored."
                    }
                  }
                },
                "example": {
                  "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "status": "new",
                  "created_at": "2026-09-04T10:15:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "field",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "invalid_request",
                  "field": "title",
                  "message": "title must be 120 characters or fewer (got 131)."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests. Limit: 10 per minute."
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "upstream_unavailable",
                  "message": "The feedback service is temporarily unavailable. Retry shortly."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "One of bug, idea or missing_capability. Anything else is rejected with 400 naming type.",
                    "example": "bug"
                  },
                  "title": {
                    "type": "string",
                    "description": "One line, 1 to 120 characters after trimming. Say what broke or what is missing, not how the user feels about it.",
                    "example": "tweet/thread returns 500 on a quoted reply"
                  },
                  "details": {
                    "type": "string",
                    "description": "1 to 8000 characters. Recommended shape, three labelled bullets: what happened (observed vs expected, the exact error text if short), repro (minimal steps), evidence (endpoint, status, request id, tool name, client, version), optionally after a one-line summary of the goal. No quotes of the conversation.",
                    "example": "what happened: tweet/thread?id=1899999999999999999 answered 500 server_error, expected the 4-post thread. repro: GET tweet/thread with that id. evidence: status 500, request id req_01J9K2, twitter_tweet_thread via claude-code/2.1.259."
                  },
                  "area": {
                    "type": "string",
                    "description": "The endpoint or feature the report concerns, for example tweet/thread or monitor webhooks. Up to 80 characters.",
                    "example": "tweet/thread"
                  },
                  "evidence": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Identifiers only, never payloads: tool, endpoint, status, request_id, client, mcp_version. Must serialize to 4096 bytes or fewer, and must be a JSON object (an array is rejected); either failure is a 400 naming evidence.",
                    "example": {
                      "tool": "twitter_tweet_thread",
                      "endpoint": "tweet/thread",
                      "status": 500,
                      "request_id": "req_01J9K2",
                      "client": "claude-code/2.1.259",
                      "mcp_version": "0.9.6"
                    }
                  },
                  "client": {
                    "type": "string",
                    "description": "The calling agent or tool and its version, so a fix can be matched to what sent the report. Up to 120 characters.",
                    "example": "claude-code/2.1.259 via @twitterapis/mcp@0.9.6"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "details"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ],
      "get": {
        "operationId": "feedback-get",
        "summary": "List Feedback",
        "description": "Returns the calling account's own feedback reports, newest first, keyset-paginated on (created_at desc, id desc). Each item carries the same summary fields as GET feedback/{id} (id, type, title, area, status, response, created_at, updated_at) and never details or evidence, so paging this endpoint can never turn into a bulk export of a report's full body: read one by id to get that. Free, never metered, and shares the 10-per-minute limiter with POST feedback and GET feedback/{id}. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/feedback?limit=10&status=triaged\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/feedback\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"limit\": 10, \"status\": \"triaged\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/feedback\");\nurl.search = new URLSearchParams({ limit: 10, status: \"triaged\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Page through every feedback report your account has filed, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feedback": {
                      "type": "array",
                      "description": "Array of reports, newest first: id, type, title, area, status, response, created_at, updated_at. Identical shape to a single GET feedback/{id} result; never details or evidence.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of reports in this page, never the account's total report count."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "The limit actually applied to this call: the requested value, or 25 if omitted."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Pass back as cursor to fetch the next page. Null exactly on the last page.",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "feedback": [
                    {
                      "id": "9a2b6e31-9b7b-4a44-8d19-2b6ec1c9a411",
                      "type": "bug",
                      "title": "tweet/thread returns 500 on a quoted reply",
                      "area": "tweet/thread",
                      "status": "triaged",
                      "response": "Reproduced. The quoted post was deleted mid-thread; a fix is in review.",
                      "created_at": "2026-09-04T10:15:00.000Z",
                      "updated_at": "2026-09-04T14:02:11.000Z"
                    },
                    {
                      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                      "type": "idea",
                      "title": "add a webhook event for monitor degraded state",
                      "area": "monitor webhooks",
                      "status": "new",
                      "response": null,
                      "created_at": "2026-09-01T08:44:12.000Z",
                      "updated_at": "2026-09-01T08:44:12.000Z"
                    }
                  ],
                  "count": 2,
                  "limit": 25,
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "field",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "invalid_request",
                  "field": "limit",
                  "message": "limit must be an integer from 1 to 100 (got \"0\")."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests. Limit: 10 per minute."
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "upstream_unavailable",
                  "message": "The feedback service is temporarily unavailable. Retry shortly."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max reports to return, 1 to 100. Defaults to 25. Anything else is rejected with 400 naming limit.",
            "schema": {
              "type": "integer",
              "description": "Max reports to return, 1 to 100. Defaults to 25. Anything else is rejected with 400 naming limit.",
              "example": "25"
            },
            "example": "25"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque continuation token from a previous response's next_cursor. Omit it to start from the newest report. A cursor that cannot be decoded is 400 naming cursor, never a silently empty page.",
            "schema": {
              "type": "string",
              "description": "Opaque continuation token from a previous response's next_cursor. Omit it to start from the newest report. A cursor that cannot be decoded is 400 naming cursor, never a silently empty page.",
              "example": "eyJjcmVhdGVkX2F0IjoiMjAyNi0wOS0wMVQwODo0NDoxMi4wMDBaIiwiaWQiOiI3YzllNjY3OSJ9"
            },
            "example": "eyJjcmVhdGVkX2F0IjoiMjAyNi0wOS0wMVQwODo0NDoxMi4wMDBaIiwiaWQiOiI3YzllNjY3OSJ9"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to one of new, triaged, shipped or declined. Anything else is rejected with 400 naming status.",
            "schema": {
              "type": "string",
              "description": "Filter to one of new, triaged, shipped or declined. Anything else is rejected with 400 naming status.",
              "example": "new"
            },
            "example": "new"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter to one of bug, idea or missing_capability. Anything else is rejected with 400 naming type.",
            "schema": {
              "type": "string",
              "description": "Filter to one of bug, idea or missing_capability. Anything else is rejected with 400 naming type.",
              "example": "bug"
            },
            "example": "bug"
          }
        ]
      }
    },
    "/feedback/{id}": {
      "get": {
        "operationId": "feedback-id",
        "summary": "Feedback Status",
        "description": "Returns one feedback report filed from your account, by id: what was sent (type, title, area), its status (new, triaged, shipped or declined), the team's response text or null, and timestamps. updated_at moves only when status or response changes, so an agent can tell a report that has been looked at from one that has not. Free, never metered. Any id that is not on your account answers 404, including ids that are not UUIDs. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/feedback/{id}\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/feedback/{id}\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/feedback/{id}\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Read one feedback report you filed: its current status and the team's response, if any.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The report's id (a UUID), as returned by POST feedback."
                    },
                    "type": {
                      "type": "string",
                      "description": "bug, idea or missing_capability, as filed."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title as filed."
                    },
                    "area": {
                      "type": "string",
                      "description": "The endpoint or feature named at filing, or null if none was given.",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "description": "One of new (received, not yet reviewed), triaged (accepted into the queue), shipped (the fix or feature is live) or declined (will not be done; response says why)."
                    },
                    "response": {
                      "type": "string",
                      "description": "The team's reply text, or null until one is written.",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of when the report was stored."
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "ISO 8601. Equals created_at until the status or the response changes, and moves only then."
                    }
                  }
                },
                "example": {
                  "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "type": "bug",
                  "title": "tweet/thread returns 500 on a quoted reply",
                  "area": "tweet/thread",
                  "status": "triaged",
                  "response": "Reproduced. The quoted post was deleted mid-thread; a fix is in review.",
                  "created_at": "2026-09-04T10:15:00.000Z",
                  "updated_at": "2026-09-04T14:02:11.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "not_found",
                  "message": "No feedback with that id on this account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Too many requests. Limit: 10 per minute."
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "upstream_unavailable",
                  "message": "The feedback service is temporarily unavailable. Retry shortly."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id segment of the path, as returned by the endpoint that created the resource.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ]
    },
    "/twitter/customer/session": {
      "post": {
        "operationId": "customer-session",
        "summary": "Register Session",
        "description": "Register your X session cookies so write actions (like, retweet, bookmark, follow, create or delete a tweet) and private-data reads (home timeline, bookmarks, likes, DMs, followers-you-know) run as your account. Supply auth_token and ct0 once; the session is stored against your API key and applied automatically. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/customer/session\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/customer/session\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/customer/session\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ auth_token: \"abc123...\", ct0: \"def456...\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Register your auth_token and ct0 cookies once so every write and private read acts as your account, or pass them per call as x-auth-token / x-ct0 headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when the session is stored."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle resolved from the session, or null when it could not be resolved.",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "message": "Session registered. Private-data endpoints will read as your account.",
                  "username": "myhandle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auth_token": {
                    "type": "string",
                    "description": "The auth_token cookie value from a logged-in x.com browser session."
                  },
                  "ct0": {
                    "type": "string",
                    "description": "The ct0 CSRF cookie value from the same x.com browser session."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Browser user-agent to send with session requests. Defaults to a current Chrome UA if omitted."
                  },
                  "proxy_url": {
                    "type": "string",
                    "description": "HTTP or SOCKS proxy URL the session egresses through, for example http://user:pass@host:port. This is a property of the session, so every call made with this API key on this session uses it, reads as well as writes. Defaults to direct, which means we choose the egress."
                  }
                },
                "required": [
                  "auth_token",
                  "ct0"
                ]
              }
            }
          }
        }
      }
    },
    "/twitter/customer/session/delete": {
      "post": {
        "operationId": "customer-session-delete",
        "summary": "Revoke Session",
        "description": "Delete the X session cookies stored against your API key. The key is taken from the authenticated request, and the handler reads no identity from the body, the query string, or any second header, so a call can only ever remove the caller's own stored session. It is idempotent and answers 200 whether or not a row was there to remove. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/customer/session/delete\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/customer/session/delete\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/customer/session/delete\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({}),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete the auth_token and ct0 you registered, so we no longer hold your X session cookies. Self-serve, idempotent, and free.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always true. The request was accepted and no stored session for your API key remains."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "True when a stored session was found and removed. False when nothing was stored for this API key, for example after an earlier revoke, or when you only ever sent per-call x-auth-token and x-ct0 credentials."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation. The wording differs depending on whether a stored session was removed."
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "deleted": true,
                  "message": "Your stored Twitter session was deleted. The auth_token and ct0 you registered are no longer on our servers. This does not log the account out of x.com: to invalidate the cookies themselves, revoke the session from your X account settings as well."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      }
    },
    "/twitter/customer/session/status": {
      "get": {
        "operationId": "customer-session-status",
        "summary": "Session Status",
        "description": "Read the X session stored against your API key without changing it. Returns the account the session actually resolved to, whether it is still live or has been marked dead, when it was registered and last used, and which egress tier a write would leave on. It never returns auth_token, ct0, or any proxy URL. The key is taken from the authenticated request and the handler reads no identity from the body, the query string, or any second header, so a call can only ever read the caller's own session. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/customer/session/status\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/customer/session/status\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/customer/session/status\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Read back the session you registered: which X account it resolved to, whether it is still alive, and whether the proxy you supplied is the one your writes leave from. Free.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registered": {
                      "type": "boolean",
                      "description": "True when a session is stored for your API key. False when you never registered one, or revoked it. Per-call credentials sent as x-auth-token and x-ct0 are never stored, so a caller who only uses that path always sees false."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle the stored session resolved to when it was registered. Read back from storage, not from anything you send, so it is the field that settles whether you are acting as the account you expect. Null when resolution never succeeded.",
                      "nullable": true
                    },
                    "twitter_user_id": {
                      "type": "string",
                      "description": "The numeric X user id for the same account. Null when resolution never succeeded.",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "description": "Either ok or dead. dead is stamped when X rejects the cookies as expired or deauthorized, so it is an observation rather than a guess. A dead session is still stored and still revocable; re-register to resume."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO timestamp of when this session was first registered."
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "ISO timestamp of the last time the session was registered or replaced. Equal to created_at when it has never been re-registered."
                    },
                    "last_used_at": {
                      "type": "string",
                      "description": "ISO timestamp of the last call that acted as this session. Null if it has never been used. A last_used_at that stopped moving is often the first sign of a stalled integration.",
                      "nullable": true
                    },
                    "egress": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "Which egress tier a write on this session would use: session (the proxy you registered), sticky_residential or pool_residential (an exit we assign and keep stable for this account), or direct (our shared server IP)."
                        },
                        "customer_proxy_in_use": {
                          "type": "boolean",
                          "description": "True when the proxy_url you registered is the one your writes leave from. This is the direct answer to whether your own proxy is being honoured."
                        },
                        "note": {
                          "type": "string",
                          "description": "One line explaining that tier and what to do about it. On the direct tier it explains why a shared IP raises the chance of a challenge."
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable summary. Differs for a live session, a dead one, and no session at all."
                    }
                  }
                },
                "example": {
                  "registered": true,
                  "username": "yourhandle",
                  "twitter_user_id": "1234567890123456789",
                  "status": "ok",
                  "created_at": "2026-08-19T19:44:03.433Z",
                  "updated_at": "2026-08-19T19:44:03.433Z",
                  "last_used_at": "2026-08-26T12:34:37.015Z",
                  "egress": {
                    "source": "session",
                    "customer_proxy_in_use": true,
                    "note": "Writes leave through the proxy you registered on this session. Keep it sticky, one dedicated IP per account, and geo-matched to where the account normally signs in."
                  },
                  "message": "Your registered Twitter session is stored and marked live. A per-request proxy sent as x-proxy-url overrides the egress shown here for that call only."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/user_login": {
      "post": {
        "operationId": "user-user-login",
        "summary": "User Login",
        "description": "Log in to an X account with a username and password (plus a TOTP secret when two-factor authentication is enabled). The API runs the login itself and stores the resulting session server-side against your API key; authenticated-account reads and the write tools then act as that account. It does NOT return session cookies: the response is {ok, username, message}, never auth_token/ct0/twid. Bringing your own auth_token and ct0 via POST /customer/session stays the primary, recommended path, since it never sends a password over the wire. This call costs $0.01, billed only on a successful login; a rejected attempt (bad credentials, captcha, etc.) is never charged. Cost: $0.0100 per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.01,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/user/user_login\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"username\": \"myhandle\", \"password\": \"hunter2\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/user/user_login\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"username\": \"myhandle\", \"password\": \"hunter2\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/user/user_login\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ username: \"myhandle\", password: \"hunter2\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Log in to X with a username and password (plus TOTP for 2FA) and store the resulting session against your API key, so authenticated-account reads and write tools then act as that account. A convenience alternative to bringing your own cookies via Register Session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when the session was created and stored against your API key."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle the session belongs to."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation. On success: \"Logged in. Private-data endpoints will now read as your account.\""
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "username": "myhandle",
                  "message": "Logged in. Private-data endpoints will now read as your account."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "two_factor_required",
                  "message": "This account has 2FA enabled. Include `totp_secret` in the request body."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "bad_credentials",
                  "message": "Username or password was rejected by Twitter. A missing or revoked API key also answers 401, with error unauthorized."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "account_locked",
                  "message": "This account is locked; confirm it from the app, then retry."
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "captcha_required",
                  "message": "Login requires a captcha that could not be solved automatically."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Either this API key hit its per-minute limit or Twitter throttled the login itself. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "login_failed",
                  "message": "Login could not be completed."
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "login_unavailable",
                  "message": "Login egress is exhausted. Try again shortly."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The X account username or handle (without the leading @). Aliased as user_name for callers migrating from a twitterapi.io-shaped body."
                  },
                  "password": {
                    "type": "string",
                    "description": "The X account password."
                  },
                  "totp_secret": {
                    "type": "string",
                    "description": "The base32 two-factor (TOTP) secret, required only when the account has 2FA enabled. The API derives the current one-time code from it; omit for accounts without 2FA."
                  },
                  "proxy_url": {
                    "type": "string",
                    "description": "HTTP or SOCKS proxy the login itself runs through, for example http://user:pass@host:port. Optional; defaults to direct egress when omitted."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Browser User-Agent sent for the login request. Optional; defaults to a current Chrome UA when omitted."
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/twitter/tweet/advanced_search": {
      "get": {
        "operationId": "tweet-advanced-search",
        "summary": "Advanced Tweet Search",
        "description": "Run a full-text tweet search using the same operator syntax as Twitter/X advanced search. Combine free text with operators such as from:, to:, since:, until:, min_faves:, and lang: to filter precisely. Results are cursor-paginated at roughly 20 tweets per call. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from%3Anaval%20min_faves%3A1000&product=Latest\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"from:naval min_faves:1000\", \"product\": \"Latest\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\nurl.search = new URLSearchParams({ query: \"from:naval min_faves:1000\", product: \"Latest\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          },
          {
            "lang": "bash",
            "label": "cURL: Paginate all pages",
            "source": "# Walk every page until the collection array comes back empty.\ncursor=\"\"\nwhile : ; do\n  resp=$(curl -s \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from:naval&cursor=$cursor\" \\\n    -H \"Authorization: Bearer $TWITTERAPIS_KEY\")\n  count=$(echo \"$resp\" | jq '.tweets | length')\n  [ \"$count\" -eq 0 ] && break\n  echo \"$resp\" | jq '.tweets[]'\n  cursor=$(echo \"$resp\" | jq -r '.next_cursor // \"\"')\n  [ -z \"$cursor\" ] || [ \"$cursor\" = \"null\" ] && break\ndone"
          },
          {
            "lang": "python",
            "label": "Python: Paginate all pages",
            "source": "import os\nimport requests\n\ndef paginate():\n    cursor = \"\"\n    while True:\n        resp = requests.get(\n            \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n            headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n            params={\"query\": \"from:naval\", \"cursor\": cursor},\n        )\n        resp.raise_for_status()\n        data = resp.json()\n        items = data.get(\"tweets\", [])\n        if not items:\n            break\n        for item in items:\n            yield item\n        cursor = data.get(\"next_cursor\")\n        if not cursor:\n            break\n\nfor item in paginate():\n    print(item)"
          },
          {
            "lang": "js",
            "label": "JavaScript: Paginate all pages",
            "source": "const params = { query: \"from:naval\", cursor: \"\" };\n\nwhile (true) {\n  const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\n  url.search = new URLSearchParams(params).toString();\n  const resp = await fetch(url, {\n    headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n  });\n  const data = await resp.json();\n  const items = data.tweets ?? [];\n  if (items.length === 0) break;\n  for (const item of items) console.log(item);\n  if (!data.next_cursor) break;\n  params.cursor = data.next_cursor;\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Search tweets with Twitter's full query-operator syntax, paginated with cursors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "Echo of the query you sent."
                    },
                    "product": {
                      "type": "string",
                      "description": "Echo of the ranking product applied to the search."
                    },
                    "tweets": {
                      "type": "array",
                      "description": "Matching tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    },
                    "incomplete": {
                      "type": "boolean",
                      "description": "Present and true only when X soft-limited the search that served this page, so the page may be missing rows. Absent on every healthy page."
                    },
                    "incomplete_reason": {
                      "type": "string",
                      "description": "Why the page is incomplete: upstream_soft_limit. Present only with incomplete."
                    },
                    "upstream_limit": {
                      "type": "object",
                      "description": "X's own limit signal for this page (its error codes and message). Present only with incomplete.",
                      "additionalProperties": true
                    }
                  }
                },
                "example": {
                  "query": "from:naval min_faves:1000",
                  "product": "Latest",
                  "count": 20,
                  "next_cursor": "DAABCgABF...",
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "Reading > scrolling. Build the input, the output takes care of itself.",
                      "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                      "author": {
                        "id": "745273",
                        "username": "naval",
                        "name": "Naval"
                      },
                      "favorite_count": 4821,
                      "retweet_count": 612,
                      "reply_count": 88,
                      "quote_count": 14,
                      "bookmark_count": 203,
                      "view_count": 219340
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "X refused this resource for the acting account: on a read, the account is not a participant in the DM thread, the target is protected or has blocked it, or the session was attestation-blocked for calling from a datacenter or rotating IP; on a write, the account is not authorized for the action or has no logged-in session. The credentials are still valid, so do not re-register."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query using Twitter operator syntax.",
            "schema": {
              "type": "string",
              "description": "Search query using Twitter operator syntax.",
              "example": "from:naval min_faves:1000"
            },
            "example": "from:naval min_faves:1000"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
            "schema": {
              "type": "string",
              "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
              "example": "Latest"
            },
            "example": "Latest"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response's next_cursor.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response's next_cursor."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Accepted but not honoured on this endpoint: the upstream page is fixed at roughly 20 results and raising count does not return more. Use cursor to read further.",
            "schema": {
              "type": "integer",
              "description": "Accepted but not honoured on this endpoint: the upstream page is fixed at roughly 20 results and raising count does not return more. Use cursor to read further.",
              "example": "20"
            },
            "example": "20"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/compact"
          },
          {
            "$ref": "#/components/parameters/paid_promotion"
          }
        ]
      }
    },
    "/twitter/user/search": {
      "get": {
        "operationId": "user-search",
        "summary": "User Search",
        "description": "Search X's People directory by keyword. Matches against display name and handle; bio text is not searched, so a term that appears only in a bio returns no match. Useful for discovery, lead lists, and resolving partial handles into full profiles. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/search?query=machine%20learning\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"machine learning\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/search\");\nurl.search = new URLSearchParams({ query: \"machine learning\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Find users by keyword across display names and handles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Matching user objects for this page.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "44196397",
                      "username": "elonmusk",
                      "name": "Elon Musk",
                      "description": "",
                      "followers_count": 211000000,
                      "verified": true
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "X refused this resource for the acting account: on a read, the account is not a participant in the DM thread, the target is protected or has blocked it, or the session was attestation-blocked for calling from a datacenter or rotating IP; on a write, the account is not authorized for the action or has no logged-in session. The credentials are still valid, so do not re-register."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Name, keyword or partial handle to search for. Matched against display name and handle, not bio.",
            "schema": {
              "type": "string",
              "description": "Name, keyword or partial handle to search for. Matched against display name and handle, not bio.",
              "example": "machine learning"
            },
            "example": "machine learning"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/compact"
          }
        ]
      }
    },
    "/twitter/tweet/detail": {
      "get": {
        "operationId": "tweet-detail",
        "summary": "Tweet Detail",
        "description": "Resolve a tweet ID into its complete object, including author, engagement counts, attached media, and any quoted tweet. The starting point for any single-tweet workflow. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/detail?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/detail\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/detail\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a single tweet's full object by ID.",
            "content": {
              "application/json": {
[...]
