{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Veículo",
    "version": "1.0.0",
    "description": "API REST para controlar veículo, composição e dados relacionados.  \n\nO tratamento de erros segue o padrão Problem Details (RFC 7807/9457).  \n\nDefinições do padrão {Major}.{Minor}.{Patch} usado para versionar a especificação:  \n\n\n  Major - Mudanças no contrato da API que provocam quebras nos consumidores da versão anterior;\n\n          * Remover endpoint; mudar método (POST→PUT); mudar URI sem redirecionar;\n          * Tornar obrigatório algo que era opcional; remover campo; mudar tipo/semântica de campo;\n          * Alterar códigos HTTP esperados (ex.: 200→202/204) ou formato de erro;\n          * Mudar paginação/filtros de forma incompatível.\n\n  Minor - Mudanças no contrato da API que não provocam quebras;\n\n          * Adicionar endpoint novo; adicionar campo opcional em requests/responses.\n          * Adicionar parâmetros de filtro opcionais; aumentar limites de payload/paginação.\n          * Atenção: adicionar um novo valor a um enum pode quebrar clientes muito estritos; trate enums como “abertos” ou documente o contrato de tolerância antes de tratar como MINOR.\n\n  Patch  - Mudanças no aquivo da especificação que não geram mudanças de contrato.\n\n          * Corrigir typos/descrições; melhorar textos de `summary`/`description`;\n          * Ajustar ou corrigir exemplos (`example/examples`) para refletir o comportamento real;\n          * Adicionar `externalDocs`, tags, links de migração, notas de depreciação (`deprecated: true`) sem desligar nada;\n          * Incluir anotações `x-*` (vendor extensions) usadas por portais/linters.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Test44927/api-de-veiculo/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ipiranga.com/publicacao/v1",
      "description": "Servidor de produção."
    },
    {
      "url": "https://api-hml.ipiranga.com/publicacao/v1",
      "description": "Servidor de homologação."
    },
    {
      "url": "https://api-dev.ipiranga.com/publicacao/v1",
      "description": "Servidor de desenvolvimento."
    }
  ],
  "paths": {
    "/veiculos": {
      "post": {
        "summary": "Criação de Veículo",
        "operationId": "criacaoDeVeiculo",
        "tags": [
          "veiculos"
        ],
        "description": "Cria um veículo ou composição.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequisicaoCriacaoDeVeiculo"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "O veiculo foi criado com sucesso.",
            "headers": {
              "Location": {
                "description": "URL do recurso recém-criado.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespostaCriacaoDeVeiculo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "get": {
        "summary": "Consulta de Veículos",
        "operationId": "consultaDeVeiculos",
        "tags": [
          "veiculos"
        ],
        "description": "Pesquisa veículos que atendam o critério de busca.",
        "parameters": [
          {
            "name": "filtros",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Busca pelo identificador de banco do veiculo."
                },
                "placa": {
                  "type": "string",
                  "description": "Busca placa do veículo por chave parcial de busca."
                },
                "idExterno": {
                  "type": "string",
                  "description": "Identificador externo do veículo mais sequencial da composição, quando for composto, e deve ser utilizado como chave de busca se não for informado o id.",
                  "example": "ABC1234.001"
                }
              },
              "additionalProperties": false,
              "minProperties": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A consulta de veículo foi executada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespostaConsultaDeVeiculo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "put": {
        "summary": "Atualização de Veículo",
        "operationId": "atualizacaoDeVeiculo",
        "tags": [
          "veiculos"
        ],
        "description": "Atualiza dados do veículo ou composição.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequisicaoAtualizacaoDeVeiculo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "O veículo foi atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespostaAtualizacaoDeVeiculo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "delete": {
        "summary": "Exclusão de Veículo",
        "operationId": "exclusaoDeVeiculo",
        "tags": [
          "veiculos"
        ],
        "description": "Remove logicamente um veículo ou composição. Caso já tenha sido excluído apenas ignora a requisição.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "O identificador único de banco do veículo ou composição.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idExterno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identificador externo do veículo mais sequencial da composição, quando for composto, e deve, obrigatoriamente, ser utilizado como chave de busca se não for informado o id.",
            "example": "ABC1234.001"
          }
        ],
        "responses": {
          "204": {
            "description": "O veículo foi removido com sucesso."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisição inválida. Indica que o servidor não consegue processar a requisição do cliente devido a um erro na própria requisição. Isso significa que o problema está no lado do cliente, e não no servidor. Geralmente, a requisição é mal formada, inválida ou contém informações que o servidor não consegue interpretar.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Erros de validação de negócio. Requisição bem-formada mas semanticamente inválida.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado. Indica que o servidor não conseguiu encontrar o recurso solicitado pelo cliente. Em outras palavras, a página ou arquivo que você está tentando acessar não existe no local especificado.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Falha na autenticação devido a credenciais inválidas.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Sem permissão para acessar o recurso. As credenciais são válidas mas o usuário não tem autorização para acessar o recurso.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "InternalError": {
        "description": "Erro interno do servidor. Indica que o servidor encontrou uma condição inesperada que o impediu de atender à solicitação do cliente. É um erro genérico, significando que o servidor não pôde especificar um erro mais preciso.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Não Implementado indica que o servidor não suporta a funcionalidade necessária para atender à solicitação do cliente. Isso significa que o servidor não reconhece o método de solicitação (como GET, POST, etc.) ou não é capaz de processá-lo para o recurso solicitado.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      }
    },
    "schemas": {
      "DataISO": {
        "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T(2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]-(2[0-3]|[01][0-9]):00$",
        "type": "string",
        "description": "Data e hora em que o evento ocorreu no sistema de origem.",
        "format": "date-time",
        "example": "2020-03-18T12:13:14-03:00"
      },
      "TipoDeCarregamento": {
        "type": "string",
        "description": "Indicador de tipo de carregamento: B - Bottom; T - Top; A - Ambos.\n",
        "enum": [
          "B",
          "T",
          "A"
        ]
      },
      "TipoDeImagem": {
        "type": "integer",
        "format": "int64",
        "description": "Identifica a imagem (caracterização) do veículo. Por exemplo, 1=Ipiranga, 2=Atlantic, 3=NovaImagem, 4=Texaco e 9-Outro.",
        "enum": [
          1,
          2,
          3,
          4,
          9
        ]
      },
      "ComponenteVeiculo": {
        "type": "object",
        "properties": {
          "ordem": {
            "type": "integer",
            "format": "int32",
            "description": "Ordem do estágio na composição."
          },
          "veiculoId": {
            "type": "integer",
            "format": "int64",
            "description": "O id do veículo que participa como estágio da composição."
          },
          "veiculoIdExterno": {
            "type": "string",
            "description": "Identificador do veículo mais sequencial da composição, quando for composto, e deve obrigatoriamente ser utilizado como chave de busca se não for informado o id.",
            "example": "ABC1234.001"
          }
        },
        "description": "Um módulo da composição numa determinada posição ou ordem. Sendo que um módulo é um veículo simples."
      },
      "TipoDeCargaDoCompartimento": {
        "type": "string",
        "description": "P - Peso; V - Volume.",
        "enum": [
          "P",
          "V"
        ]
      },
      "CategoriaProdutoCompartimento": {
        "type": "string",
        "description": "10 - Etanol Hidratado; 13 - Etanol Anidro; 15 - Diesel; 11 - Gasolina; 18 - Biodiesel; 14 - Querosene; 16 - Óleo Combustível.",
        "enum": [
          10,
          13,
          15,
          11,
          18,
          14,
          16
        ]
      },
      "Seta": {
        "type": "object",
        "properties": {
          "idSeta": {
            "type": "integer",
            "format": "int64",
            "description": "Identificador único do cadastro de Seta."
          },
          "volume": {
            "type": "string",
            "description": "Volume da capacidade da Seta"
          },
          "categoriasProdutos": {
            "type": "array",
            "description": "Lista por prefixos de produtos para os compartimentos do veiculo, ou seja, uma indicação do que pode ser colocado na seta do compartimento baseado na densidade do produto.",
            "items": {
              "$ref": "#/components/schemas/CategoriaProdutoCompartimento"
            }
          }
        }
      },
      "CompartimentoVeiculo": {
        "type": "object",
        "properties": {
          "idCompartimentoVeiculo": {
            "type": "integer",
            "format": "int64",
            "description": "Identificador único do cadastro de compartimento de um veículo."
          },
          "pesoCapacidadeMaxima": {
            "type": "integer",
            "format": "int64",
            "description": "Quantidade peso capacidade máxima."
          },
          "volumeCapacidadeMaxima": {
            "type": "integer",
            "format": "int64",
            "description": "Volume capacidade máxima."
          },
          "numeroCompartimento": {
            "type": "integer",
            "format": "int64",
            "description": "Sequencial do compartimento."
          },
          "quantidadeLacre": {
            "type": "integer",
            "format": "int64",
            "description": "Quantidade Lacre."
          },
          "tipoCarga": {
            "$ref": "#/components/schemas/TipoDeCargaDoCompartimento"
          },
          "setas": {
            "type": "array",
            "description": "Informações de sub compartimentos do veículo.\n",
            "items": {
              "$ref": "#/components/schemas/Seta"
            }
          }
        },
        "description": "Contém os compartimentos (subdivisões) de cada veículo."
      },
      "ClasseVeiculoCarga": {
        "type": "string",
        "description": "Determina a classificação do veículo quanto a sua estrutura.  \n\nPode ser:\n  \n  \n    BT - Balsa Tanque;  \n    CA - Carreta Embalado;  \n    CE - Caminhão Embalado;  \n    CM - Caminhão Tanque;  \n    CR - Composição Rodoviária;  \n    CT - Carreta Tanque;  \n    CV - Cavalo;  \n    DO - Dolly;  \n    DU - Duto;  \n    RB - Rebocador/Empurrador;  \n    VT - Vagão.  \n",
        "enum": [
          "BT",
          "CA",
          "CE",
          "CM",
          "CR",
          "CT",
          "CV",
          "DO",
          "DU",
          "RB",
          "VT"
        ]
      },
      "TipoDocumento": {
        "type": "object",
        "description": "CK - Checklist;   CA - Capacitação (CIV);   PP - Capacitação (CIPP);   AF - Aferição;   LV - CRLV;   LA - Licença IBAMA;   LE - Licença Estadual;   LM - Licença Municipal;   CS - Certificado de Segurança;   SR - Seguro Resp. Cívil do Armador de Car;   LR - Licença de Estação de Rádio;   CB - Certificado de Borda Livre;   DC - Declaração de Conformidade;   CQ - Certificado de Arqueação;   AT - Autorização ANTAQ p/ Transporte Fluvial;   XX - CIV (Não utilizar).  \n",
        "enum": [
          "CK",
          "CA",
          "PP",
          "AF",
          "LV",
          "LA",
          "LE",
          "LM",
          "CS",
          "SR",
          "LR",
          "CB",
          "DC",
          "CQ",
          "AT",
          "XX"
        ]
      },
      "DocumentoVeiculo": {
        "type": "object",
        "properties": {
          "idDocumentoVeiculo": {
            "type": "integer",
            "format": "int64",
            "description": "Identificador único no cadastro de documento do veículo"
          },
          "numeroDocumento": {
            "type": "integer",
            "format": "int64",
            "description": "Número da documentação correspondente ao documento.\n",
            "example": "Número do NR35."
          },
          "tipo": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TipoDocumento"
              }
            ],
            "description": "Codigo do tipo do documento do requisito."
          },
          "observacao": {
            "type": "string",
            "description": "Documento veículo corporativo."
          },
          "dataDeEmissao": {
            "description": "Data de emissão do documento do requisito.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DataISO"
              }
            ]
          },
          "dataDoVencimento": {
            "description": "Data de vencimento do documento do requisito.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DataISO"
              }
            ]
          },
          "municipio": {
            "type": "integer",
            "format": "int64",
            "description": "Código IBGE do município para documentos de licença ambiental municipal."
          },
          "uf": {
            "type": "string",
            "description": "Sigla da UF para documentos de licença ambiental estadual."
          }
        },
        "description": "Requisitos do veiculo para o veículo poder trafegar em vias publicas.\n",
        "example": "Aferição; Licença IBAMA; Licença Estadual."
      },
      "Motorista": {
        "type": "object",
        "properties": {
          "idMotorista": {
            "type": "integer",
            "format": "int64",
            "description": "Identificador único do cadastro de motorista."
          },
          "numeroCPF": {
            "type": "string",
            "description": "Número do CPF do motoristas sem formatação. Se não for passado o idMotorista, tem que ser informado obrigatoriamente."
          }
        },
        "description": "Informa um motorista transportador."
      },
      "TransportadorAgregadoFob": {
        "type": "object",
        "description": "Transportador contratado pelo cliente para operar o transporte do produto que ele adquiriu.",
        "required": [
          "tipoPessoa",
          "nome",
          "codigo"
        ],
        "properties": {
          "tipoPessoa": {
            "$ref": "#/components/schemas/TipoPessoa"
          },
          "nome": {
            "type": "string",
            "description": "Nome completo (PF) ou razão social (PJ).",
            "maxLength": 255
          },
          "nomeFantasia": {
            "type": "string",
            "description": "Nome fantasia, aplicável somente a PJ.",
            "maxLength": 255
          },
          "codigo": {
            "type": "string",
            "description": "CPF(PF) ou CNPJ(PJ) sem formatação.",
            "maxLength": 20
          },
          "endereco": {
            "type": "string",
            "description": "Endereço do logradouro do transportador."
          },
          "municipio": {
            "type": "integer",
            "format": "int64",
            "description": "Código do município em que o transportador está cadastrado."
          },
          "uf": {
            "type": "string",
            "description": "Sigla UF do transportador."
          },
          "inscricoesEstaduais": {
            "type": "array",
            "description": "Inscrições estaduais, quando aplicável (PJ).",
            "items": {
              "$ref": "#/components/schemas/InscricaoEstadual"
            }
          }
        }
      },
      "Cliente": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pessoa"
          },
          {
            "properties": {
              "veiculoProprio": {
                "type": "boolean"
              },
              "transportador": {
                "$ref": "#/components/schemas/TransportadorAgregadoFob"
              }
            }
          }
        ],
        "description": "Cliente associado a um veiculo corporativo para o cenário outbound FOB.\n"
      },
      "TipoPessoa": {
        "type": "string",
        "description": "Tipo da pessoa: PF - Física; PJ - Jurídica.\n",
        "enum": [
          "PF",
          "PJ"
        ]
      },
      "SituacaoDaInscricaoEstadual": {
        "type": "string",
        "description": "Valores possíveis: H - Habilitada; N - Não habilitada; P - Pendente.  \n\n1 - Quando a a situação da IE for Habilitada, o indicador de liberação de uso deverá ser Sim;  \n2 - Quando a a situação da IE for Não habilitada, o indicador de liberação de uso deverá ser Não;  \n3 - Quando a a situação da IE for Pendente o indicador de liberação de uso poderá ser Sim ou Não, a critéiro do usuário.\n",
        "enum": [
          "H",
          "N",
          "P"
        ]
      },
      "InscricaoEstadual": {
        "type": "object",
        "description": "Inscrições estaduais de pessoa Jurídica",
        "properties": {
          "sequencialInscricaoEstadual": {
            "type": "integer",
            "format": "int64",
            "description": "Sequencial da inscrição estadual para uma pessoa."
          },
          "codigo": {
            "type": "string",
            "description": "Código da inscrição estadual.",
            "maxLength": 20
          },
          "codigoClassificacaoAtividade": {
            "type": "string",
            "description": "Código de classificação da atividade.",
            "maxLength": 4
          },
          "situacao": {
            "$ref": "#/components/schemas/SituacaoDaInscricaoEstadual"
          },
          "uf": {
            "type": "string",
            "description": "UF da inscrição estadual.",
            "maxLength": 2
          }
        },
        "required": [
          "sequencialInscricaoEstadual",
          "codigo",
          "uf"
        ]
      },
      "Pessoa": {
        "type": "object",
        "description": "Dados cadastrais do cliente.",
        "properties": {
          "idPessoa": {
            "type": "string",
            "description": "Identificador único do cadastro de pessoas."
          },
          "codigo": {
            "type": "string",
            "description": "CPF(PF) ou CNPJ(PJ) sem formatação. Se não informado idPessoa, o sistema deve usar o código para recuperar idPessoa do ponto de entrega principal (igual a 1).",
            "maxLength": 20
          }
        }
      },
      "SituacaoDoVeiculo": {
        "type": "string",
        "description": "Informa a situação do veículo:  \n\n1 -  Ativo;   2 -  Inativo;   3 -  Checklist Vencido;   4 -  Capacitação Vencida;   5 -  Aferição Vencida;   6 -  Sem Motorista;   7 -  Bloqueio Temporário;   8 -  Licença Ambiental Vencida.\n",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8
        ]
      },
      "TipoDeDescarga": {
        "type": "string",
        "description": "Tipos de descarga que um veículo de transporte de carga pode realizar: 1 - Lateral; 2 - Traseira.\n",
        "enum": [
          1,
          2
        ]
      },
      "TipoDeCarreta": {
        "type": "string",
        "description": "Tipos de carreta para um veiculo de transporte de carga: 1 - Longa; 2 - Curta.  \n\nA diferença entre carretas e caminhões é que nas carretas a força motriz as rodas de tração e o motor ficam em uma parte enquanto a carga fica em outra. \n\nA parte em que fica a cabine recebe o nome de cavalo mecânico e a parte em que fica a carga (módulo de carga) é o semi-reboque.\n\nDa mesma forma que regulamentou os tipos de caminhões, o CONTRAN também regulamenta os tipos de carretas.  \n\nAs categorias variam de acordo com o número de eixos, medidas e capacidades do conjunto cavalo mecânico e semi-reboque.\n",
        "enum": [
          1,
          2
        ]
      },
      "TipoDeEquipamento": {
        "type": "string",
        "description": "1 BO - Bomba; 2 DS - Descarga Selada; 3  MA - Maçarico; 4  ML - Mangote Longo; 5  MR - Mangote c/ Redução; 6  SE - Serpentina; 7  TE - Tranca Eletrônica; 8  GC - Guarda-Corpo.\n",
        "enum": [
          "BO",
          "DS",
          "MA",
          "ML",
          "MR",
          "SE",
          "TE",
          "GC"
        ]
      },
      "TipoDeSaida": {
        "type": "string",
        "description": "Indicador de saída de produto do veículo: TRASEIRA; LATERAL.\n",
        "enum": [
          "TRASEIRA",
          "LATERAL"
        ]
      },
      "FilialTransportador": {
        "type": "object",
        "description": "Filial de uma Pessoa transportadora. A filial do transportador é representada por codigoTransportador.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pessoa"
          },
          {
            "properties": {
              "codigoTransportador": {
                "type": "string",
                "description": "Código do transportador."
              }
            }
          }
        ]
      },
      "TransportadorUnidadeOperacional": {
        "type": "object",
        "description": "Para uma determinada Pessoa Transportadora, define qual o código dela é válido para uma unidade operacional, pois ela pode ter várias filiais.",
        "properties": {
          "codigoUnidOper": {
            "type": "string",
            "description": "Código da unidade operacional."
          },
          "transportador": {
            "$ref": "#/components/schemas/FilialTransportador"
          }
        }
      },
      "ProprietarioVeiculo": {
        "type": "object",
        "description": "Dados cadastrais do cliente.",
        "required": [
          "nome",
          "codigo"
        ],
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome do proprietário do veículo."
          },
          "codigo": {
            "type": "string",
            "description": "CPF(PF) ou CNPJ(PJ) sem formatação.",
            "maxLength": 20
          }
        }
      },
      "TipoCarga": {
        "type": "string",
        "enum": [
          "GRANEL_CLARO",
          "GRANEL_ESCURO",
          "EMBALADO",
          "MISTO"
        ]
      },
      "RequisicaoBasicaDeVeiculo": {
        "type": "object",
        "required": [
          "idExterno",
          "identificacaoExterna",
          "descricao",
          "situacao",
          "classe"
        ],
        "description": "Estrutura para transferência de dados básicos de um veículo ou composição. No caso de cadastro simplificado, que aplica-se somente a rodoviário,  ainda será necessário indicar  as placas na sua sequência (quando for composição).  \n\nPara novos veículos, de cadastro simplificado, a situação será sempre checklist vencido visto que tal documento não é informado.\n\nPara cadastros simplificados com mais de uma placa deverão ser cadastrados os veículos unitários considerando o primeiro como cavalo e os demais como carreta, concluíndo com a criação da composição.\n\nEmbora seja um cadastro simplificado, será necessário informar a compartimentação de cada carreta, embora não seja necessário informar detalhes como seta ou quantidade de lacres.\n\nAo registrar um cadastro simplificado de composição, caso a placa esteja cadastrada, como veículo unitário, deve ser utilizado o veículo já cadastrado.\n\nAo registrar um cadastro simplificado de composição, caso a composição esteja cadastrada, deve ser utilizado o veículo composto já cadastrado, gerando apenas a associação deste veículo com fornecedor que está realizando o cadastro. Teremos fornecedor de compra CIF ou congênere.\n",
        "properties": {
          "identificacaoExterna": {
            "type": "string",
            "description": "Para veiculos rodoviários simples contém a placa. Para veículos rodoviários compostos contém a placa do último módulo da composição. Para veículo fluvial é nome da balsa. Para vagão é o número do vagão."
          },
          "idExterno": {
            "type": "string",
            "description": "Identificador externo do veículo mais sequencial da composição, quando for composto, e deve obrigatoriamente ser utilizado como chave de busca se não for informado o id.",
            "example": "ABC1234.001"
          },
          "descricao": {
            "type": "string",
            "description": "Nome visível para o usuário. No caso de balsa contém o nome da balsa. E para veículos rodoviários uma ou mais placas concatendas conforme classe de veículo."
          },
          "situacao": {
            "$ref": "#/components/schemas/SituacaoDoVeiculo"
          },
          "codigoTipoImagem": {
            "$ref": "#/components/schemas/TipoDeImagem"
          },
          "tipoSaidaProduto": {
            "$ref": "#/components/schemas/TipoDeSaida"
          },
          "pesoVeiculo": {
            "type": "integer",
            "format": "int64",
            "description": "Quantidade total do peso do veículo em toneladas."
          },
          "tipoCarga": {
            "$ref": "#/components/schemas/TipoCarga"
          },
          "codigoTipoCarregamento": {
            "$ref": "#/components/schemas/TipoDeCarregamento"
          },
          "comprimentoVeiculo": {
            "$ref": "#/components/schemas/TipoDeCarreta"
          },
          "tipoVeiculoContran": {
            "type": "string",
            "description": "Identificador do perfil de veiculo no CONTRAN. Permite avaliar o limite de peso padrão por veículo. Se o usuário informar um valor maior tem que exigir informar se o veículo possui licença especial e com isso deve anexar o documento correspondente na lista de documentos do veículo."
          },
          "codigoChassi": {
            "type": "string",
            "description": "Identificação do chassi do veículo."
          },
          "veiculoMonitorado": {
            "type": "boolean",
            "description": "Campo para indicar se o veículo é monitorado: S - Sim; N - Não.\n"
          },
          "quantidadeEixo": {
            "type": "integer",
            "format": "int64",
            "description": "Quantidade total de eixos do veículo."
          },
          "quantidadeEixoDescarregado": {
            "type": "integer",
            "format": "int64",
            "description": "Quantidade de eixos do veículo que tocam o solo quando o veículo está descarregado."
          },
          "codigoAntena": {
            "type": "string",
            "description": "O código da tecnologia de rastreamento."
          },
          "codigoRastreio": {
            "type": "string",
            "description": "Identificador do equipamento de GPS para fins de rastreamento."
          },
          "pesoMaximoCarga": {
            "type": "integer",
            "format": "int64",
            "description": "Volume máximo de carga do veículo. Se não estiver preenchido pode ser igual ao campo pesoMaximoCargaEixo multiplicado pela quantidade eixos."
          },
          "pesoMaximoCargaEixo": {
            "type": "integer",
            "format": "int64",
            "description": "Volume máximo de carga por eixo do veículo."
          },
          "anoFabricacao": {
            "type": "integer",
            "format": "int64",
            "description": "Ano de fabricação do veículo."
          },
          "compartimentos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompartimentoVeiculo"
            },
            "description": "Compartimentos (subdivisões) do veículo de carga."
          },
          "proprietario": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProprietarioVeiculo"
              }
            ],
            "description": "Proprietário do veículo."
          },
          "classe": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ClasseVeiculoCarga"
              }
            ],
            "description": "Classificação do veículo quanto a sua estrutura."
          },
          "motoristaPrincipal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Motorista"
              }
            ],
            "description": "O motorista títular. Um veículo pode ter no máximo um motorista titular."
          },
          "componentes": {
            "type": "array",
            "description": "Lista de estágios que fazem parte da composição.",
            "items": {
              "$ref": "#/components/schemas/ComponenteVeiculo"
            }
          }
        }
      },
      "RequisicaoDeVeiculo": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RequisicaoBasicaDeVeiculo"
          },
          {
            "properties": {
              "tiposDeEquipamento": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TipoDeEquipamento"
                }
              },
              "transportadores": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransportadorUnidadeOperacional"
                },
                "description": "Transportadores associadas ao veículo, por unidade operacional."
              },
              "documentos": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentoVeiculo"
                },
                "description": "Lista de documentos do veículo. A lista deve retornar o documento com a vigência mais recente de cada tipo."
              },
              "motoristas": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Motorista"
                },
                "description": "Representa todos os motoristas que podem operar o veículo."
              },
              "clientes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Cliente"
                },
                "description": "Entidade responsável por associar clientes a um veículo."
              }
            }
          }
        ],
        "description": "Estrutura para transferência de todos os dados de um veículo ou composição.\n\n\nTipos de veículos e suas capacidades de carga:\n\n-> Caminhões: são  veículos fixos, monoblocos, constituindo-se de uma única parte que incorpora a cabine, com motor, e a unidade de carga (carroceria). Podem apresentar os mais variados tamanhos ter de 2 ou 4 eixos, podendo atingir peso bruto total de até 29 toneladas.  \n\n-> Carretas: são veículos articulados e, portanto, possuindo unidades de tração e de carga em módulos separados.  \n\nEstas duas unidades são denominadas cavalos mecânicos e semi-reboques.  \n\nOs semirreboques são também chamados de boogies, trailers e chassis porta-containers.  \n\nEste tipo de veículo de transporte pode apresentar-se em duas formas:  \n\n- Aquele totalmente dependente de equipamentos externos para a colocação ou retirada do container do veículo.  \n\n- Equipado com guindastes (containerlift). Estes estão colocados nas duas extremidades da plataforma, permitindo o embarque e desembarque de containers por seus próprios meios.  \n\n-> Combinações de Veículos de Cargas - CVC: são composições de veículos constituídas por cavalos mecânicos, semi-reboques e reboques, portanto, compostos de três partes, normalmente usadas para o transporte de comodities como grãos, madeira e minério de ferro.  \n\nEstes veículos em face do seu elevado peso bruto total (de até 74 toneladas), devem ser previamente autorizados pelos órgãos rodoviários (DNIT, DER''s, etc).\n"
      },
      "RequisicaoCriacaoDeVeiculo": {
        "type": "object",
        "description": "Requisição da operação de criação de veículo. A aplicação deve calcular um hashcode de versao, a partir dos atributos do veiculo, para verificar se ele já existe na base. Caso sim ignora a requisição.",
        "allOf": [
          {
            "$ref": "#/components/schemas/RequisicaoDeVeiculo"
          }
        ]
      },
      "RespostaCriacaoDeVeiculo": {
        "type": "object",
        "required": [
          "id",
          "versao",
          "dataDeCriacao"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Identificador único do cadastro de veículo ou composição."
          },
          "versao": {
            "type": "string",
            "description": "Um hashcode calculado a partir dos atributos do veículo. No cálculo não entra ids de banco."
          },
          "dataDeCriacao": {
            "description": "A data em que a aplicação efetivamente cadastrou o veículo ou composição.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DataISO"
              }
            ]
          }
        }
      },
      "Veiculo": {
        "type": "object",
        "allOf": [
          {
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64",
                "description": "Identificador único do cadastro de veículo."
              },
              "versao": {
                "type": "string",
                "description": "Um hashcode calculado a partir dos atributos do veículo. No cálculo não entra ids de banco."
              }
            },
            "required": [
              "id",
              "versao"
            ]
          },
          {
            "$ref": "#/components/schemas/RequisicaoBasicaDeVeiculo"
          }
        ]
      },
      "RespostaConsultaDeVeiculo": {
        "type": "object",
        "properties": {
          "veiculos": {
            "type": "array",
            "description": "Lista de veículos.",
            "items": {
              "$ref": "#/components/schemas/Veiculo"
            }
          }
        }
      },
      "RequisicaoAtualizacaoDeVeiculo": {
        "type": "object",
        "description": "Requisição da operação de atualização de veículo ou composição. A aplicação deve calcular a nova versão do veiculo com base na requisição. Se esta nova versão existir no banco, significa que as atualizações já foram aplicadas. Nesse caso a requisição pode ser ignorada.",
        "required": [
          "versaoAnterior"
        ],
        "allOf": [
          {
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64",
                "description": "Identificador único do cadastro de veículo."
              },
              "idExterno": {
                "type": "string",
                "description": "Identificador do veículo mais sequencial da composição, quando for composto, e deve obrigatoriamente ser utilizado como chave de busca se não for informado o id.",
                "example": "ABC1234.001"
              },
              "versaoAnterior": {
                "type": "string",
                "description": "Versão do veículo para a qual foi aplicada a atualização. Será utilizada para validar se a origem fez as mudanças a partir da versão mais atualizada do veículo."
              }
            }
          },
          {
            "$ref": "#/components/schemas/RequisicaoDeVeiculo"
          }
        ]
      },
      "RespostaAtualizacaoDeVeiculo": {
        "type": "object",
        "required": [
          "versao",
          "dataDaAtualizacao"
        ],
        "properties": {
          "versao": {
            "type": "string",
            "description": "Um hashcode calculado a partir dos atributos do veículo. No cálculo não entra ids de banco. É a nova versão do veículo após aplicadas as atualizações em banco."
          },
          "dataDaAtualizacao": {
            "description": "Data em que a aplicação efetivamente aplicou as atualizações em banco.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DataISO"
              }
            ]
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "description": "Objeto de erro no formato RFC 7807 / RFC 9457 (Problem Details).",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI que identifica o tipo de problema."
          },
          "title": {
            "type": "string",
            "description": "Resumo legível do problema."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "Código HTTP correspondente."
          },
          "detail": {
            "type": "string",
            "description": "Descrição detalhada do problema."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "URI da ocorrência específica."
          },
          "errors": {
            "type": "array",
            "description": "Lista de violações específicas quando há múltiplos erros do mesmo tipo.",
            "items": {
              "$ref": "#/components/schemas/Violation"
            }
          },
          "correlationId": {
            "type": "string",
            "description": "Identificador para rastreabilidade (extensão opcional)."
          }
        },
        "additionalProperties": true
      },
      "Violation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do campo/parâmetro com erro."
          },
          "pointer": {
            "type": "string",
            "description": "Caminho RFC 6901 (ex.: /placa)."
          },
          "in": {
            "type": "string",
            "enum": [
              "body",
              "query",
              "path",
              "header"
            ],
            "description": "Local do erro."
          },
          "code": {
            "type": "string",
            "description": "Código técnico da regra violada (ex.: pattern, required, range)."
          },
          "message": {
            "type": "string",
            "description": "Mensagem amigável da violação."
          },
          "rejectedValue": {
            "description": "Valor rejeitado."
          }
        },
        "required": [
          "name",
          "message"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}