{
  "openapi": "3.1.1",
  "info": {
    "title": "KinToolkit Public Catalog and MCP HTTP API",
    "version": "1.1.0",
    "description": "Educational US liquid medicine label lookup, not a personalized prescription. For ordinary product names, map only the public brand, ingredient and bottle audience to find_label_references; never forward the user’s full question or patient details. Ask which bottle or formulation is meant when matches are ambiguous. Store-brand entries are reference-only, not calculator-supported substitutes. Use only an exact listed calculator bottle, concentration and published label band for get_label_directions. Never send names, exact measurements, medical history or other patient details. Do not interpolate, convert concentrations or infer that a label reference is safe for a particular child. Preserve the age restrictions, directions, maximum and source together; verify the full package label and ask a clinician when unsure. This describes the existing discovery catalog and JSON-RPC MCP endpoint, not a REST dosing API. No authentication or API key is required. Tool calls may append minimal operational telemetry; arguments and results are excluded. No persistent protocol session is required. KinToolkit will provide at least 90 days of advance public notice before making breaking changes to or removing supported API or tool functionality. No supported API or tool functionality is currently deprecated. See the [API change policy](https://kintoolkit.com/developers#api-change-policy) for public notices and migration guidance.",
    "x-jentic-source-url": "https://kintoolkit.com/openapi.json"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://kintoolkit.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/catalog.json": {
      "get": {
        "operationId": "getKinToolkitCatalog",
        "summary": "Read the public calculator and label-reference catalog",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "description": "Returns calculator URLs, Markdown alternatives, manufacturer sources, canonical public label references and MCP connection metadata. It accepts no patient data or dosing inputs.",
        "responses": {
          "200": {
            "description": "Public discovery catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "operationId": "sendKinToolkitMcpMessage",
        "summary": "Send one MCP JSON-RPC message",
        "tags": [
          "MCP"
        ],
        "security": [],
        "description": "Use a compatible MCP client. Send one UTF-8 JSON-RPC object per POST with Content-Type: application/json and Accept: application/json, text/event-stream. Protocol negotiation supports 2026-07-28 and 2025-11-25; the SDK manages version metadata and headers. Successful protocol requests return JSON or finite SSE depending on the negotiated protocol. Tool failures can have HTTP 200 and result.isError=true; ask_doctor with label_amount=null is a successful reference lookup. GET and DELETE are unsupported (405), and cross-origin browser access is not enabled. Bodies are limited to 16384 bytes; batches are rejected; function execution is limited to ten seconds. The hosting firewall limits /api/mcp to 120 HTTP requests per IP per 60-second fixed window in each region, across methods and hostnames. All MCP HTTP methods and protocol messages count, including initialization, notifications and tool calls. Shared networks, NAT gateways and MCP providers share the same IP cap. Counters are regional, not a single worldwide quota. Excess requests return HTTP 429 at the hosting firewall before reaching the application. A 429 response may be HTML rather than JSON. Honor a valid Retry-After value when present; otherwise wait at least 60 seconds. Use exponential backoff with jitter and a bounded number of retries. Do not retry immediately or switch IP addresses to evade the cap. Application MCP responses include RateLimit-Policy: \"mcp-ip-region\";q=120;w=60;qu=\"requests\". This informational policy header follows the current IETF HTTPAPI draft, not a finalized RFC; it does not report remaining requests or a reset time. The application cannot read the firewall's counters, so it does not emit a RateLimit remaining/reset value. The policy header is not guaranteed on firewall-blocked responses. Never send patient details.",
        "parameters": [
          {
            "in": "header",
            "name": "MCP-Protocol-Version",
            "required": false,
            "description": "Negotiated protocol version; required after legacy initialization and on modern requests. Legacy initialize may omit it.",
            "schema": {
              "type": "string",
              "examples": [
                "2026-07-28",
                "2025-11-25"
              ]
            }
          },
          {
            "in": "header",
            "name": "Mcp-Method",
            "required": false,
            "description": "Modern MCP clients mirror the JSON-RPC method here. Legacy clients may omit it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Mcp-Name",
            "required": false,
            "description": "Modern tools/call requests mirror params.name here. Legacy clients may omit it.",
            "schema": {
              "type": "string",
              "enum": [
                "list_calculator_bottles",
                "get_label_directions",
                "find_label_references"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A single protocol message, never a JSON-RPC batch. Tool arguments reuse the exact runtime schemas and must also form a supported bottle/concentration/band combination.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpMessage"
              },
              "examples": {
                "listBottles": {
                  "summary": "List supported bottles after protocol setup",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "list_calculator_bottles",
                      "arguments": {}
                    }
                  }
                },
                "findReferences": {
                  "summary": "Find exact public references by ordinary brand or ingredient",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "find_label_references",
                      "arguments": {
                        "brand": "motrin",
                        "audience": "children"
                      }
                    }
                  }
                },
                "labelReference": {
                  "summary": "Look up a fixed public label row after protocol setup",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "get_label_directions",
                      "arguments": {
                        "product_id": "motrin-infant",
                        "concentration": "50 mg / 1.25 mL",
                        "label_band": "12-17-lb"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response, including protocol errors or tool errors; inspect error/result.isError. SSE data fields carry JSON-RPC messages, not a JSON response body.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string",
                  "const": "\"mcp-ip-region\";q=120;w=60;qu=\"requests\""
                },
                "description": "Application MCP responses include RateLimit-Policy: \"mcp-ip-region\";q=120;w=60;qu=\"requests\". This informational policy header follows the current IETF HTTPAPI draft, not a finalized RFC; it does not report remaining requests or a reset time. The application cannot read the firewall's counters, so it does not emit a RateLimit remaining/reset value. The policy header is not guaranteed on firewall-blocked responses."
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                },
                "description": "MCP responses are not cached."
              },
              "X-KinToolkit-Request-ID": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Optional random request receipt when operational telemetry is enabled; not a client identifier."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Finite server-sent event stream. Parse nonempty data fields as JSON-RPC messages."
                },
                "x-message-schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted protocol notification or client response; no response body.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string",
                  "const": "\"mcp-ip-region\";q=120;w=60;qu=\"requests\""
                },
                "description": "Application MCP responses include RateLimit-Policy: \"mcp-ip-region\";q=120;w=60;qu=\"requests\". This informational policy header follows the current IETF HTTPAPI draft, not a finalized RFC; it does not report remaining requests or a reset time. The application cannot read the firewall's counters, so it does not emit a RateLimit remaining/reset value. The policy header is not guaranteed on firewall-blocked responses."
              }
            }
          },
          "400": {
            "description": "Malformed JSON, unsupported batch, invalid protocol message or version. Application-controlled errors include static resolution hints; SDK errors may omit these extensions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcError"
                }
              }
            }
          },
          "403": {
            "description": "Host or Origin rejected. Use the published endpoint with a server or local client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationProtocolError"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported response media types; advertise application/json and text/event-stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcError"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 16384 bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationProtocolError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type; send application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcError"
                }
              }
            }
          },
          "429": {
            "description": "Excess requests return HTTP 429 at the hosting firewall before reaching the application. A 429 response may be HTML rather than JSON. Honor a valid Retry-After value when present; otherwise wait at least 60 seconds. Use exponential backoff with jitter and a bounded number of retries. Do not retry immediately or switch IP addresses to evade the cap. RateLimit-Policy is not guaranteed on this provider-controlled response.",
            "headers": {
              "Retry-After": {
                "description": "Optional provider-supplied retry delay in seconds or HTTP date. Its absence does not mean requests are unlimited.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Other transport or hosting failure. Provider responses may not be JSON; do not interpret them as label directions."
          }
        },
        "x-mcp-tools": [
          {
            "name": "find_label_references",
            "title": "Find medicine label references",
            "description": "Resolve ordinary public product names using bounded filters: Children’s Motrin means brand motrin and audience children; Zyrtec means brand zyrtec; generic cetirizine means ingredient cetirizine; Walmart means brand equate. Omit filters only when unspecified. An unlisted medicine or brand is unsupported; do not drop it or use an ingredient match to substitute another product. Lists matching calculator bottles and separately marked reference-only CVS, Equate and Walgreens formulations with sources. Returns clarification guidance for ambiguous matches. No free text or patient inputs. Arguments and results are excluded from operational telemetry.",
            "inputSchema": {
              "$ref": "#/components/schemas/FindLabelReferencesInput"
            },
            "outputSchema": {
              "$ref": "#/components/schemas/FindLabelReferencesOutput"
            },
            "annotations": {
              "readOnlyHint": false,
              "destructiveHint": false,
              "idempotentHint": false,
              "openWorldHint": false
            }
          },
          {
            "name": "list_calculator_bottles",
            "title": "List supported medicine bottles",
            "description": "List the five supported US liquid medicine bottles, exact concentrations and public label-band identifiers. No patient inputs. Minimal operational telemetry records no tool arguments or results.",
            "inputSchema": {
              "$ref": "#/components/schemas/ListCalculatorBottlesInput"
            },
            "outputSchema": {
              "$ref": "#/components/schemas/ListCalculatorBottlesOutput"
            },
            "annotations": {
              "readOnlyHint": false,
              "destructiveHint": false,
              "idempotentHint": false,
              "openWorldHint": false
            }
          },
          {
            "name": "get_label_directions",
            "title": "Get printed label directions",
            "description": "Look up one public label row using identifiers from list_calculator_bottles. Requires an exact bottle/concentration match. Returns label amount or ask_doctor, age and weight restrictions, full directions, source and canonical URL. Does not determine suitability for a child. Minimal operational telemetry records no tool arguments or results.",
            "inputSchema": {
              "$ref": "#/components/schemas/GetLabelDirectionsInput"
            },
            "outputSchema": {
              "$ref": "#/components/schemas/GetLabelDirectionsOutput"
            },
            "annotations": {
              "readOnlyHint": false,
              "destructiveHint": false,
              "idempotentHint": false,
              "openWorldHint": false
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "FindLabelReferencesInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "brand": {
            "type": "string",
            "enum": [
              "tylenol",
              "motrin",
              "zyrtec",
              "cvs",
              "equate",
              "walgreens"
            ]
          },
          "ingredient": {
            "type": "string",
            "enum": [
              "acetaminophen",
              "ibuprofen",
              "cetirizine"
            ]
          },
          "audience": {
            "type": "string",
            "enum": [
              "infants",
              "children"
            ],
            "description": "Public wording on the bottle, never a patient age."
          }
        }
      },
      "FindLabelReferencesOutput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "next_step",
          "scope",
          "calculator_bottles",
          "reference_only"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "match_found",
              "clarification_needed",
              "no_match"
            ]
          },
          "next_step": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "calculator_bottles": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "product_id",
                "name",
                "ingredient",
                "concentration",
                "note",
                "source",
                "label_bands"
              ],
              "properties": {
                "product_id": {
                  "type": "string",
                  "enum": [
                    "tylenol-child",
                    "tylenol-infant",
                    "motrin-child",
                    "motrin-infant",
                    "zyrtec-child"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "ingredient": {
                  "type": "string"
                },
                "concentration": {
                  "type": "string",
                  "enum": [
                    "160 mg / 5 mL",
                    "100 mg / 5 mL",
                    "50 mg / 1.25 mL",
                    "1 mg / mL"
                  ]
                },
                "note": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "format": "uri"
                },
                "label_bands": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "label_band",
                      "weight_band",
                      "age_band",
                      "url"
                    ],
                    "properties": {
                      "label_band": {
                        "type": "string"
                      },
                      "weight_band": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "age_band": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "reference_only": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "reference_id",
                "calculator_supported",
                "retailer",
                "name",
                "ingredient",
                "concentration",
                "form",
                "flavor",
                "package_size",
                "package_ndcs",
                "source",
                "label_updated",
                "source_checked",
                "source_check_note"
              ],
              "properties": {
                "reference_id": {
                  "type": "string"
                },
                "calculator_supported": {
                  "const": false
                },
                "retailer": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "ingredient": {
                  "type": "string"
                },
                "concentration": {
                  "type": "string"
                },
                "form": {
                  "type": "string"
                },
                "flavor": {
                  "type": "string"
                },
                "package_size": {
                  "type": "string"
                },
                "package_ndcs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source": {
                  "type": "string",
                  "format": "uri"
                },
                "label_updated": {
                  "type": "string",
                  "format": "date"
                },
                "source_checked": {
                  "const": "2026-09-25"
                },
                "source_check_note": {
                  "const": "Source verification, not clinical review. Reference-only; not supported by the calculator or get_label_directions. Do not substitute by matching ingredient or strength."
                }
              }
            }
          }
        }
      },
      "ListCalculatorBottlesInput": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "ListCalculatorBottlesOutput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "scope",
          "bottles"
        ],
        "properties": {
          "scope": {
            "type": "string"
          },
          "bottles": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "product_id",
                "name",
                "ingredient",
                "concentration",
                "note",
                "source",
                "label_bands"
              ],
              "properties": {
                "product_id": {
                  "type": "string",
                  "enum": [
                    "tylenol-child",
                    "tylenol-infant",
                    "motrin-child",
                    "motrin-infant",
                    "zyrtec-child"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "ingredient": {
                  "type": "string"
                },
                "concentration": {
                  "type": "string",
                  "enum": [
                    "160 mg / 5 mL",
                    "100 mg / 5 mL",
                    "50 mg / 1.25 mL",
                    "1 mg / mL"
                  ]
                },
                "note": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "format": "uri"
                },
                "label_bands": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "label_band",
                      "weight_band",
                      "age_band",
                      "url"
                    ],
                    "properties": {
                      "label_band": {
                        "type": "string"
                      },
                      "weight_band": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "age_band": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetLabelDirectionsInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "product_id",
          "concentration",
          "label_band"
        ],
        "properties": {
          "product_id": {
            "type": "string",
            "enum": [
              "tylenol-child",
              "tylenol-infant",
              "motrin-child",
              "motrin-infant",
              "zyrtec-child"
            ]
          },
          "concentration": {
            "type": "string",
            "enum": [
              "160 mg / 5 mL",
              "100 mg / 5 mL",
              "50 mg / 1.25 mL",
              "1 mg / mL"
            ]
          },
          "label_band": {
            "type": "string",
            "enum": [
              "under-24-lb",
              "24-35-lb",
              "36-47-lb",
              "48-59-lb",
              "60-71-lb",
              "72-95-lb",
              "under-12-lb",
              "12-17-lb",
              "18-23-lb",
              "under-2-years",
              "2-5-years",
              "6-11-years"
            ]
          }
        }
      },
      "GetLabelDirectionsOutput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "product_id",
          "name",
          "ingredient",
          "concentration",
          "label_band",
          "weight_band",
          "age_band",
          "label_amount",
          "directions",
          "limitations",
          "source",
          "source_checked",
          "source_check_note",
          "url"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "label_reference",
              "ask_doctor"
            ]
          },
          "product_id": {
            "type": "string",
            "enum": [
              "tylenol-child",
              "tylenol-infant",
              "motrin-child",
              "motrin-infant",
              "zyrtec-child"
            ]
          },
          "name": {
            "type": "string"
          },
          "ingredient": {
            "type": "string"
          },
          "concentration": {
            "type": "string",
            "enum": [
              "160 mg / 5 mL",
              "100 mg / 5 mL",
              "50 mg / 1.25 mL",
              "1 mg / mL"
            ]
          },
          "label_band": {
            "type": "string",
            "enum": [
              "under-24-lb",
              "24-35-lb",
              "36-47-lb",
              "48-59-lb",
              "60-71-lb",
              "72-95-lb",
              "under-12-lb",
              "12-17-lb",
              "18-23-lb",
              "under-2-years",
              "2-5-years",
              "6-11-years"
            ]
          },
          "weight_band": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "age_band": {
            "type": "string"
          },
          "label_amount": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "directions": {
            "type": "string"
          },
          "limitations": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "format": "uri"
          },
          "source_checked": {
            "type": "string",
            "format": "date"
          },
          "source_check_note": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "oneOf": [
          {
            "properties": {
              "status": {
                "const": "label_reference"
              },
              "label_amount": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          {
            "properties": {
              "status": {
                "const": "ask_doctor"
              },
              "label_amount": {
                "type": "null"
              }
            }
          }
        ]
      },
      "Catalog": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "documentation": {
            "type": "string",
            "format": "uri"
          },
          "apiCatalog": {
            "type": "string",
            "format": "uri"
          },
          "openapi": {
            "type": "string",
            "format": "uri"
          },
          "purpose": {
            "type": "string"
          },
          "calculators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "markdown": {
                  "type": "string",
                  "format": "uri"
                },
                "manufacturerSource": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "title",
                "description",
                "url",
                "markdown",
                "manufacturerSource"
              ]
            }
          },
          "labelReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "markdown": {
                  "type": "string",
                  "format": "uri"
                },
                "manufacturerSource": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "title",
                "description",
                "url",
                "markdown",
                "manufacturerSource"
              ]
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "required": [
                "title",
                "url"
              ]
            }
          },
          "mcp": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "transport": {
                "const": "streamable-http"
              },
              "authentication": {
                "const": "none"
              },
              "stateless": {
                "const": true
              },
              "tools": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "list_calculator_bottles",
                    "get_label_directions",
                    "find_label_references"
                  ]
                }
              },
              "scope": {
                "type": "string"
              },
              "serverCard": {
                "type": "string",
                "format": "uri"
              },
              "documentation": {
                "type": "string",
                "format": "uri"
              },
              "markdown": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "url",
              "transport",
              "authentication",
              "stateless",
              "tools",
              "scope",
              "serverCard",
              "documentation",
              "markdown"
            ]
          }
        },
        "required": [
          "name",
          "url",
          "documentation",
          "apiCatalog",
          "purpose",
          "calculators",
          "labelReferences",
          "sources",
          "mcp"
        ]
      },
      "FindLabelReferencesRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer"
            ]
          },
          "method": {
            "const": "tools/call"
          },
          "params": {
            "type": "object",
            "properties": {
              "name": {
                "const": "find_label_references"
              },
              "arguments": {
                "$ref": "#/components/schemas/FindLabelReferencesInput"
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "name",
              "arguments"
            ]
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ]
      },
      "ListCalculatorBottlesRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer"
            ]
          },
          "method": {
            "const": "tools/call"
          },
          "params": {
            "type": "object",
            "properties": {
              "name": {
                "const": "list_calculator_bottles"
              },
              "arguments": {
                "$ref": "#/components/schemas/ListCalculatorBottlesInput"
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "name",
              "arguments"
            ]
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ]
      },
      "GetLabelDirectionsRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer"
            ]
          },
          "method": {
            "const": "tools/call"
          },
          "params": {
            "type": "object",
            "properties": {
              "name": {
                "const": "get_label_directions"
              },
              "arguments": {
                "$ref": "#/components/schemas/GetLabelDirectionsInput"
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "name",
              "arguments"
            ]
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ]
      },
      "ProtocolRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer"
            ]
          },
          "method": {
            "type": "string",
            "not": {
              "const": "tools/call"
            }
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "method"
        ],
        "description": "Other protocol requests such as initialize, server/discover, tools/list or ping. The MCP SDK validates their method-specific parameters; unsupported methods return protocol errors."
      },
      "ProtocolNotification": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "method": {
            "type": "string",
            "pattern": "^notifications/"
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "jsonrpc",
          "method"
        ]
      },
      "McpMessage": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FindLabelReferencesRequest"
          },
          {
            "$ref": "#/components/schemas/ListCalculatorBottlesRequest"
          },
          {
            "$ref": "#/components/schemas/GetLabelDirectionsRequest"
          },
          {
            "$ref": "#/components/schemas/ProtocolRequest"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProtocolNotification"
              },
              {
                "not": {
                  "properties": {
                    "id": {}
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            ]
          },
          {
            "$ref": "#/components/schemas/JsonRpcResponse"
          }
        ]
      },
      "ToolResult": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "structuredContent": {
                "$ref": "#/components/schemas/FindLabelReferencesOutput"
              },
              "isError": {
                "const": false
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "content",
              "structuredContent"
            ]
          },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "structuredContent": {
                "$ref": "#/components/schemas/ListCalculatorBottlesOutput"
              },
              "isError": {
                "const": false
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "content",
              "structuredContent"
            ]
          },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "structuredContent": {
                "$ref": "#/components/schemas/GetLabelDirectionsOutput"
              },
              "isError": {
                "const": false
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "content",
              "structuredContent"
            ]
          },
          {
            "type": "object",
            "properties": {
              "isError": {
                "const": true
              },
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "_meta": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "isError",
              "content"
            ]
          }
        ]
      },
      "JsonRpcSuccess": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer"
            ]
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ToolResult"
              },
              {
                "type": "object",
                "not": {
                  "anyOf": [
                    {
                      "properties": {
                        "structuredContent": {}
                      },
                      "required": [
                        "structuredContent"
                      ]
                    },
                    {
                      "properties": {
                        "content": {}
                      },
                      "required": [
                        "content"
                      ]
                    }
                  ]
                },
                "description": "SDK protocol result such as server capabilities, tools/list or ping."
              }
            ]
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "result"
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": [
              "string",
              "integer",
              "null"
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "data": {}
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "jsonrpc",
          "error"
        ]
      },
      "JsonRpcResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/JsonRpcSuccess"
          },
          {
            "$ref": "#/components/schemas/JsonRpcError"
          }
        ]
      },
      "ApplicationProtocolError": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "type": "null"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "data": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "invalid_host",
                      "invalid_origin",
                      "body_too_large",
                      "batch_not_supported",
                      "invalid_json"
                    ]
                  },
                  "resolution": {
                    "type": "string"
                  },
                  "documentation": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "reason",
                  "resolution",
                  "documentation"
                ]
              }
            },
            "required": [
              "code",
              "message",
              "data"
            ]
          }
        },
        "required": [
          "jsonrpc",
          "id",
          "error"
        ]
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Discovery",
      "description": "Public reference and integration discovery"
    },
    {
      "name": "MCP",
      "description": "Stateless Streamable HTTP JSON-RPC label lookup"
    }
  ],
  "externalDocs": {
    "description": "Client setup, complete tool semantics, privacy and examples",
    "url": "https://kintoolkit.com/developers"
  }
}