{
  "openapi": "3.1.0",
  "info": {
    "title": "Cadence API",
    "version": "2026-09-24",
    "summary": "Agent-native RCS messaging with automatic SMS fallback.",
    "description": "Every path here is generated from the live route table, and request and response schemas are generated from the validators that actually run — so this file cannot describe a route that does not exist, or a body the server would reject.\n\n### Three things that catch people\n\n1. **Casing is not uniform.** Brand routes are snake_case; conversation routes are camelCase. `PATCH /v1/brands/{id}` rejects camelCase rather than silently ignoring it.\n2. **Two different things are called a webhook.** `POST /v1/webhooks` registers an endpoint *we* POST your inbound activity to — that is the one you want. `PUT /v1/agents/{id}/webhook` points *Google* somewhere other than Cadence and switches off flow handling. See the `Delivery webhooks` and `Google inbound routing` tags.\n3. **Three operations are irreversible** and marked `x-irreversible`. They refuse with 409 `CONFIRMATION_REQUIRED` and change nothing until re-sent with `{\"confirm\": \"irreversible\"}`.\n\nSandbox keys simulate delivery, so nothing reaches a phone while you build. `POST /v1/conversations/{id}/simulate-inbound` delivers a reply as though the recipient sent it, which is how a flow is exercised end to end without touching Google.",
    "contact": {
      "email": "support@cadencercs.com",
      "url": "https://cadencercs.com/docs.html"
    },
    "license": {
      "name": "Proprietary — Cadence Platform Terms",
      "url": "https://cadencercs.com/customer-terms"
    },
    "x-jentic-source-url": "https://cadencercs.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.cadencercs.com",
      "description": "Production."
    },
    {
      "url": "https://cadence-api-tlx9.onrender.com",
      "description": "The same service under its hosting provider's hostname. Still works, and will keep working — anything already configured against it does not need to change today. Use api.cadencercs.com for anything new: a vendor hostname in your config is a migration you inherit later."
    }
  ],
  "paths": {
    "/v1/signup": {
      "post": {
        "summary": "Get a sandbox key (start here)",
        "description": "The front door. Pass an `email` and you get a real account with a key **linked to it** — that key can then create brands, run readiness checks, sync an agent to Google and mint itself a live key, with no dashboard and no password. Pass no email and the key can only simulate sends: fine for kicking the tyres, a dead end for anything else.\n\nAn email that already has an account is refused rather than served — otherwise anyone who knows your address could mint credentials inside your account.",
        "operationId": "post_v1_signup",
        "tags": [
          "Onboarding"
        ],
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Creates and links an account. Omit for an unlinked send-only key."
                  },
                  "name": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string",
                    "description": "Shown in the key list."
                  },
                  "acceptTerms": {
                    "type": "boolean",
                    "description": "Records terms acceptance, which a live key later requires."
                  }
                }
              },
              "example": {
                "email": "you@example.com",
                "company": "Basal",
                "acceptTerms": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A sandbox key, shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "Store it now — it is never shown again."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "sandbox"
                      ]
                    },
                    "account_linked": {
                      "type": "boolean",
                      "description": "False means this key can only send; it cannot manage brands or be upgraded."
                    },
                    "verification_sent": {
                      "type": "boolean"
                    },
                    "terms_version": {
                      "type": "string"
                    },
                    "terms_accepted": {
                      "type": "boolean"
                    },
                    "terms_url": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string",
                      "description": "What this key can do, precisely."
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_key",
                    "kind",
                    "account_linked"
                  ]
                },
                "example": {
                  "api_key": "sk_sandbox_…",
                  "kind": "sandbox",
                  "account_linked": true,
                  "verification_sent": true
                }
              }
            }
          },
          "409": {
            "description": "An account already exists for that email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "ACCOUNT_EXISTS",
                  "message": "An account already exists for that email, so this route won't issue a key for it.",
                  "remediation": "Sign in and create a key there, or POST /v1/accounts/request-reset."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/onboarding": {
      "get": {
        "summary": "First-run checklist",
        "description": "Computed from real account state, and each step names the API call that completes it — so it is as useful to an agent as to a person.",
        "operationId": "get_v1_onboarding",
        "tags": [
          "Onboarding"
        ],
        "responses": {
          "200": {
            "description": "Checklist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/eta": {
      "get": {
        "summary": "Observed verification times",
        "description": "Median of our own observed submitted → verified durations. Google publishes no SLA and we quote no industry estimate; `null` means not enough completed verifications yet, which is shown rather than guessed.",
        "operationId": "get_v1_eta",
        "tags": [
          "Onboarding"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Medians, or nulls with a note.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brandVerifyHours": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "brandSamples": {
                      "type": "number"
                    },
                    "agentVerifyHours": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "agentSamples": {
                      "type": "number"
                    },
                    "basis": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/signup": {
      "post": {
        "summary": "Create a dashboard account (human path)",
        "description": "**Two signup routes exist and this is the one for people.** It takes a password and returns a dashboard session. If you are a program, use `POST /v1/signup` instead: an email, no password, and a working API key in the response.",
        "operationId": "post_v1_accounts_signup",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account and session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "token": {
                      "type": "string",
                      "description": "Session token. Send as `Authorization: Bearer <token>`."
                    },
                    "termsVersion": {
                      "type": "string"
                    },
                    "verificationSent": {
                      "type": "boolean"
                    },
                    "emailConfigured": {
                      "type": "boolean"
                    },
                    "verifyLink": {
                      "type": "string",
                      "description": "Only returned when no mailer is configured, so a configured deployment never puts a credential in a response body."
                    }
                  },
                  "required": [
                    "account",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Weak password or malformed body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "WEAK_PASSWORD",
                  "message": "Use at least 12 characters."
                }
              }
            }
          },
          "409": {
            "description": "Email already registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_TAKEN"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited per IP and per targeted account. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/login": {
      "post": {
        "summary": "Sign in",
        "description": "Sets a session cookie and returns the same token for cross-origin callers.",
        "operationId": "post_v1_accounts_login",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "account",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing email or password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Incorrect email or password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_CREDENTIALS"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited per IP and per targeted account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/logout": {
      "post": {
        "summary": "Sign out",
        "description": "Destroys the session and clears the cookie. API keys are unaffected.",
        "operationId": "post_v1_accounts_logout",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Signed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable session cookie, session token or API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "The current account",
        "description": "Works with a session token or an account-linked API key. Carries any email change that has been started and not finished — without it, a two-stage flow had no observable second stage and the only way to know one was in flight was to have kept the response that began it.",
        "operationId": "get_v1_me",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The account, and any change in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "pendingEmailChange": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "description": "The address it would move to."
                            },
                            "stage": {
                              "type": "string",
                              "enum": [
                                "awaiting_approval",
                                "awaiting_confirmation"
                              ]
                            },
                            "expiresAt": {
                              "type": "string",
                              "description": "Links last an hour."
                            },
                            "note": {
                              "type": "string"
                            },
                            "remediation": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email",
                            "stage"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Never includes the token — that is a credential, and this is a plain read."
                    }
                  },
                  "required": [
                    "account"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Change the account email",
        "description": "**Two steps if the current address is verified, one if it is not**, and that asymmetry is the design. Moving an account's email is how a stolen session becomes a stolen account, so a verified address has to approve before the new one is even offered a link. An address that was never verified has no established owner to ask — demanding proof from it would only block the person it is meant to protect, which is exactly the person who mistyped it or let an agent invent it.\n\nThis is the account email: who we bill and notify. It is **not** what carriers see — that is `brand.contact_email` and `agent.contact_email`, and Google emails the latter a mandatory authorisation request during launch review.",
        "operationId": "patch_v1_me",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The new address."
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "you@yourcompany.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A link is on its way. Which link depends on whether the current address is verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "stage": {
                      "type": "string",
                      "enum": [
                        "awaiting_approval",
                        "awaiting_confirmation"
                      ]
                    },
                    "pendingEmail": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    },
                    "emailConfigured": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "approveLink": {
                      "type": "string",
                      "description": "Only when no mailer is configured, so a deployment with email never returns a credential."
                    },
                    "confirmLink": {
                      "type": "string",
                      "description": "Only when no mailer is configured."
                    }
                  },
                  "required": [
                    "ok",
                    "stage",
                    "pendingEmail"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed address, or a field this route does not edit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNKNOWN_FIELDS"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "409": {
            "description": "Already this account's address, or another account holds it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_TAKEN"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/approve-email-change": {
      "post": {
        "summary": "Approve a change from the current address",
        "description": "Consumes the link sent to the address on file and issues the confirmation link to the new one. Nothing has moved yet at this point.",
        "operationId": "post_v1_accounts_approve-email-change",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "From the emailed link."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved; the new address now has a link.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "stage": {
                      "type": "string",
                      "enum": [
                        "awaiting_confirmation"
                      ]
                    },
                    "pendingEmail": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "emailConfigured": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "confirmLink": {
                      "type": "string",
                      "description": "Only when no mailer is configured."
                    }
                  },
                  "required": [
                    "ok",
                    "stage"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid, used or expired link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_TOKEN"
                }
              }
            }
          },
          "409": {
            "description": "The address was claimed by another account while this was pending.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_TAKEN"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/change-email": {
      "post": {
        "summary": "Confirm the new address",
        "description": "The step that actually moves the account. The new address becomes the account email and is marked verified — it just proved itself by receiving this. The old address is notified after the fact; it cannot undo the change, but silence is how someone finds out weeks later.",
        "operationId": "post_v1_accounts_change-email",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "From the emailed link."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "email"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid, used or expired link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_TOKEN"
                }
              }
            }
          },
          "409": {
            "description": "The address was claimed by another account while this was pending.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "EMAIL_TAKEN"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/send-verification": {
      "post": {
        "summary": "Resend the verification email",
        "description": "Signup already sends one; this is the resend.",
        "operationId": "post_v1_accounts_send-verification",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Attempted. `delivered` is the honest signal — a configured-but-failing mail provider reports false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "alreadyVerified": {
                      "type": "boolean"
                    },
                    "emailConfigured": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "link": {
                      "type": "string",
                      "description": "Only when no mailer is configured."
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/verify": {
      "post": {
        "summary": "Verify an email address",
        "description": "Token-only, and deliberately works while signed in as a different account — so the response names the address that was verified.",
        "operationId": "post_v1_accounts_verify",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "From the emailed link."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing, invalid or expired token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_TOKEN",
                  "message": "That link is invalid or expired."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/request-reset": {
      "post": {
        "summary": "Request a password reset",
        "description": "Always answers the same way whether or not the account exists — it must not be an account-existence oracle.",
        "operationId": "post_v1_accounts_request-reset",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic acknowledgement, sent either way.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "emailConfigured": {
                      "type": "boolean"
                    },
                    "link": {
                      "type": "string",
                      "description": "Only when no mailer is configured."
                    }
                  },
                  "required": [
                    "ok",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, so reset links can't be used to spam an inbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/reset": {
      "post": {
        "summary": "Set a new password",
        "description": "Consumes the token and drops every existing session for that account.",
        "operationId": "post_v1_accounts_reset",
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "token",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Weak password, or an invalid, used or expired token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "summary": "List API keys",
        "description": "Prefixes and metadata only. Key material is shown once, at creation.",
        "operationId": "get_v1_keys",
        "tags": [
          "API keys"
        ],
        "responses": {
          "200": {
            "description": "Keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Issue an API key",
        "description": "A **live** key must say what it is for: `brandId` scopes it to one brand, `scope: \"account\"` makes it account-wide. There is no default, because the previous behaviour silently bound the key to whichever brand happened to have an agent first.\n\nA live key needs a brand with an RBM agent behind it — not a carrier-verified one. An unlaunched agent sends real RCS to its accepted test devices, which is exactly what you need before launch.",
        "operationId": "post_v1_keys",
        "tags": [
          "API keys"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "sandbox",
                      "live"
                    ],
                    "default": "sandbox"
                  },
                  "brandId": {
                    "type": "string",
                    "description": "Scopes the key to one brand. Required for a live key unless `scope` is `account`."
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "account"
                    ],
                    "description": "Account-wide. A leak reaches every brand you own, so prefer `brandId`."
                  },
                  "label": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kind": "live",
                "brandId": "brd_…",
                "label": "Basal production"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The key, shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "live"
                      ]
                    },
                    "key_prefix": {
                      "type": "string"
                    },
                    "brandId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "account"
                      ]
                    },
                    "reach": {
                      "type": "string",
                      "enum": [
                        "test_devices_only",
                        "all_recipients"
                      ],
                      "description": "Live keys only. How far this key actually reaches today."
                    },
                    "reach_note": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_key",
                    "kind",
                    "key_prefix",
                    "scope"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "A live key was requested with no scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "SCOPE_REQUIRED"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "403": {
            "description": "A brand-scoped key tried to issue a key beyond its own scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "SCOPE_ESCALATION"
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "BRAND_NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "No brand on this account has an RBM agent yet, so a live key would have nothing to send through.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "NO_SENDABLE_BRAND"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{prefix}/revoke": {
      "post": {
        "summary": "Revoke a key",
        "description": "Immediate. In-flight conversations opened by the key remain readable by the account.",
        "operationId": "post_v1_keys_prefix_revoke",
        "tags": [
          "API keys"
        ],
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key's visible prefix, from `GET /v1/keys`."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such key on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands": {
      "get": {
        "summary": "List brands",
        "description": "Every brand on the account.",
        "operationId": "get_v1_brands",
        "tags": [
          "Brands"
        ],
        "responses": {
          "200": {
            "description": "Brands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brands": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Brand"
                      }
                    }
                  },
                  "required": [
                    "brands"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a brand",
        "description": "Only `display_name` is required to create one, but the readiness check will want the rest before submission. **snake_case.**",
        "operationId": "post_v1_brands",
        "tags": [
          "Brands"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Consumer-facing name."
                  },
                  "legal_entity": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "use_case": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  },
                  "banner_url": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "contact_email": {
                    "type": "string"
                  },
                  "contact_phone": {
                    "type": "string"
                  },
                  "privacy_url": {
                    "type": "string"
                  },
                  "terms_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "display_name"
                ]
              },
              "example": {
                "display_name": "Basal",
                "website": "https://basal.ai",
                "use_case": "conversational"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The brand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    }
                  },
                  "required": [
                    "brand"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`display_name` is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}": {
      "get": {
        "summary": "Brand detail",
        "description": "Includes the submission gate, so a UI or an agent can always say exactly what is blocking.",
        "operationId": "get_v1_brands_id",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "responses": {
          "200": {
            "description": "Brand, last readiness report, gate and agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    },
                    "check": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/ReadinessReport"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "gate": {
                      "$ref": "#/components/schemas/BrandGate"
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  },
                  "required": [
                    "brand",
                    "gate",
                    "agents"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a brand",
        "description": "**snake_case only.** Unknown fields are rejected with `UNKNOWN_FIELDS` and nothing is changed — camelCase used to be dropped in silence, so `{\"legalEntity\": …}` returned 200 and changed nothing, and the brand looked complete until a carrier said otherwise. A submitted or verified brand is locked.",
        "operationId": "patch_v1_brands_id",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string"
                  },
                  "legal_entity": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "use_case": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  },
                  "banner_url": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "contact_email": {
                    "type": "string"
                  },
                  "contact_phone": {
                    "type": "string"
                  },
                  "privacy_url": {
                    "type": "string"
                  },
                  "terms_url": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "legal_entity": "Basal, Inc.",
                "privacy_url": "https://basal.ai/privacy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated brand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    }
                  },
                  "required": [
                    "brand"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown or camelCase fields. Nothing was changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNKNOWN_FIELDS",
                  "message": "Not editable on a brand: legalEntity.",
                  "problems": [
                    "legalEntity: brand routes are snake_case — did you mean legal_entity?"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A submitted or verified brand can't be edited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "LOCKED"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a draft brand",
        "description": "Only an untouched draft with no agents and no traffic. A brand whose agents reached Google is effectively permanent from our side — Google deprecated agent deletion for RBM and routes it through their support.",
        "operationId": "delete_v1_brands_id",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Not an empty draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "BRAND_NOT_EMPTY"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/check": {
      "post": {
        "summary": "Run the readiness check",
        "description": "Runs against the brand's own details and attaches the report, promoting a passing draft to `ready`. This is the gate: submission is impossible until it passes. Carrier review rejects on a small, predictable set of issues, and one rejection costs weeks.",
        "operationId": "post_v1_brands_id_check",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "responses": {
          "200": {
            "description": "Report, gate and the updated brand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/ReadinessReport"
                    },
                    "gate": {
                      "$ref": "#/components/schemas/BrandGate"
                    },
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    }
                  },
                  "required": [
                    "report",
                    "gate",
                    "brand"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The brand has no website to check.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/submit": {
      "post": {
        "summary": "Submit for carrier review",
        "description": "Refused until the readiness check passes.",
        "operationId": "post_v1_brands_id_submit",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "responses": {
          "200": {
            "description": "Submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    }
                  },
                  "required": [
                    "brand"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Readiness check not passed, or an invalid status transition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "NOT_READY",
                  "message": "This brand would be rejected by carrier review. Fix these first.",
                  "problems": [
                    "No privacy policy found"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/sync-google": {
      "post": {
        "summary": "Create this brand and its agents at Google",
        "description": "Deliberately **not** gated on the readiness check: an agent that merely exists reaches allowlisted test devices only, involves no carrier, and cannot be rejected by one. The readiness gate stays on `/submit`, where the risk actually is.\n\nWhat this does cost is permanence, so it refuses until confirmed.",
        "operationId": "post_v1_brands_id_sync-google",
        "tags": [
          "Google & carriers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dryRun": {
                    "type": "boolean",
                    "description": "**Rehearse it.** Validates everything, contacts Google only to read, creates nothing, and returns the exact payload each agent would be created with plus the fields that can never change. Needs no `confirm`, and works without Google credentials — what it cannot check from a sandbox it says it cannot check rather than reporting a pass. Do this first: it is the same information as the refusal below without having to trust the refusal."
                  },
                  "confirm": {
                    "type": "string",
                    "enum": [
                      "irreversible"
                    ],
                    "description": "Required for the real call. Without it, and without `dryRun`, the request is refused with 409 and nothing happens."
                  }
                }
              },
              "example": {
                "dryRun": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With `dryRun: true`, what would happen and nothing else. Otherwise, created at Google.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "dryRun": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "wouldSucceed": {
                          "type": "boolean",
                          "description": "False when anything below would be rejected."
                        },
                        "brand": {
                          "type": "object",
                          "properties": {
                            "action": {
                              "type": "string",
                              "enum": [
                                "create",
                                "adopt",
                                "reuse",
                                "unknown"
                              ],
                              "description": "`adopt` means a brand of this name already exists at Google and would be reused rather than duplicated."
                            },
                            "rbmBrandId": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "note": {
                              "type": "string"
                            }
                          }
                        },
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "agentId": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "action": {
                                "type": "string",
                                "enum": [
                                  "create",
                                  "skip",
                                  "would_fail"
                                ]
                              },
                              "wouldSend": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "The exact payload, built by the same code path that would send it."
                              },
                              "problems": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "permanentFields": {
                                "type": "object",
                                "properties": {
                                  "hostingRegion": {
                                    "type": "string"
                                  },
                                  "agentUseCase": {
                                    "type": "string"
                                  },
                                  "billingCategory": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "blockers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "permanentWarnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Permanent findings from the brand's last readiness check."
                        },
                        "permanent": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "What this call makes unchangeable, in plain language."
                        },
                        "limitation": {
                          "type": "string",
                          "description": "Present when Google could not be consulted — from a sandbox key, for instance."
                        },
                        "nextStep": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "dryRun",
                        "wouldSucceed",
                        "agents"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "rbmBrandId": {
                          "type": "string"
                        },
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "agentId": {
                                "type": "string"
                              },
                              "rbmAgentId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "agentId",
                              "rbmAgentId"
                            ]
                          }
                        },
                        "reach": {
                          "type": "string",
                          "description": "What this bought — test devices, or carrier review."
                        },
                        "nextStep": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "rbmBrandId",
                        "agents"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An agent's spec can't be created at Google.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_AGENT"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Not confirmed. Nothing happened. If the brand's last readiness check flagged anything `permanent` and still unresolved, the body repeats it here — this is the last refusal before the artwork reaches Google.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ConfirmationRequired"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "permanentWarnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Non-blocking findings that become permanent past this point."
                        },
                        "warningsNote": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Google rejected the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "RBM_ERROR"
                }
              }
            }
          },
          "503": {
            "description": "This deployment isn't configured to talk to Google RBM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "RBM_NOT_CONFIGURED"
                }
              }
            }
          }
        },
        "x-irreversible": "Creates an RCS agent at Google under our partner account. Google deprecated agent deletion for RBM, so it can never be removed — only abandoned. Hosting region and use case are fixed at creation and can never be changed.",
        "x-confirm-required": true
      }
    },
    "/v1/brands/{id}/link-google": {
      "post": {
        "summary": "Adopt a brand that already exists at Google",
        "description": "An agent created in Google's console leaves our brand row with no `rbm_brand_id`, and every Google-side operation needs it. The symptom is severe and silent: verification and carrier launch both fail for a brand that looks completely set up. Back-fills agent links too.",
        "operationId": "post_v1_brands_id_link-google",
        "tags": [
          "Google & carriers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rbmBrandId": {
                    "type": "string",
                    "description": "Match explicitly. Omit to match on display name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "rbmBrandId": {
                      "type": "string"
                    },
                    "agentsLinked": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "googleAgents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rbmAgentId": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "rbmBrandId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand here, or no matching brand at Google. The error lists what is available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "NO_MATCHING_GOOGLE_BRAND",
                  "remediation": "Pass `rbmBrandId` explicitly from the list above, or run sync-google to create one."
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Google rejected the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "RBM not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/agents": {
      "post": {
        "summary": "Create an agent",
        "description": "Local only — nothing reaches Google until `sync-google`. Hosting region and use case are stored explicitly here because Google fixes them **forever** at creation, and discovering at the last moment that we have to invent a value for a field that can never be corrected is how those get set wrong.\n\n`CONVERSATIONAL` is the only billing category eligible for 24-hour session billing, which the whole RCS price depends on.",
        "operationId": "post_v1_brands_id_agents",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "Consumer-facing agent name."
                  },
                  "hostingRegion": {
                    "type": "string",
                    "enum": [
                      "NORTH_AMERICA",
                      "EUROPE",
                      "ASIA_PACIFIC"
                    ],
                    "default": "NORTH_AMERICA",
                    "description": "**Permanent** once synced to Google."
                  },
                  "billingCategory": {
                    "type": "string",
                    "enum": [
                      "CONVERSATIONAL",
                      "NON_CONVERSATIONAL"
                    ],
                    "default": "CONVERSATIONAL",
                    "description": "Fixed at launch."
                  },
                  "useCase": {
                    "type": "string",
                    "description": "Defaults to the brand's. **Permanent** once synced."
                  }
                },
                "required": [
                  "displayName"
                ]
              },
              "example": {
                "displayName": "Basal",
                "useCase": "conversational"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  },
                  "required": [
                    "agent"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "INVALID_AGENT"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/optins/{e164}": {
      "get": {
        "summary": "Can this brand message this number?",
        "description": "Without this the only way to learn someone opted out is to attempt a send and read the 409 — which means finding out at the moment you were going to message them.",
        "operationId": "get_v1_brands_id_optins_e164",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brand id."
          },
          {
            "name": "e164",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient in E.164, URL-encoded (`%2B12025550123`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Consent status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "e164": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "opted_in",
                        "opted_out",
                        "no_record"
                      ]
                    },
                    "sendable": {
                      "type": "boolean",
                      "description": "Whether a send would be accepted right now."
                    },
                    "method": {
                      "type": "string",
                      "description": "How consent was captured."
                    },
                    "evidenceRef": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "capturedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "optedOutAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "reconsents": {
                      "type": "number",
                      "description": "How many times this opt-out has already been reversed."
                    },
                    "remediation": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "e164",
                    "status",
                    "sendable"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`e164` must be E.164.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, and no account-linked API key was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "UNAUTHENTICATED",
                  "message": "Sign in, or send an account-linked API key as `Authorization: Bearer sk_…`."
                }
              }
            }
          },
          "404": {
            "description": "No such brand on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. The body is always JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/optins/reconsent": {
      "post": {
        "summary": "Record that someone who opted out consented again",
[...]
