{
  "swagger": "2.0",
  "info": {
    "title": "Timed API",
    "description": "Timed API Documentation",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Vuthsila/timed-api/1.0.0"
  },
  "host": "app.timed.co.za",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/api/v1/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "security": [],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Forgot Password",
        "security": [],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset Password",
        "security": [],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "password_confirmation": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get Profile",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update Profile",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/profile/fica": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get FICA",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Submit FICA",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "API Root",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get Logs",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clock-status": {
      "get": {
        "tags": [
          "Clock"
        ],
        "summary": "Clock Status",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clock-in": {
      "post": {
        "tags": [
          "Clock"
        ],
        "summary": "Clock In",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "branch_id": {
                  "type": "string"
                },
                "shift_id": {
                  "type": "string"
                },
                "pin_clock": {
                  "type": "string"
                },
                "facial_clock": {
                  "type": "string"
                },
                "latitude": {
                  "type": "number"
                },
                "longitude": {
                  "type": "number"
                },
                "comment_in": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clock-out": {
      "post": {
        "tags": [
          "Clock"
        ],
        "summary": "Clock Out",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pin_clock": {
                  "type": "string"
                },
                "facial_clock": {
                  "type": "string"
                },
                "latitude": {
                  "type": "number"
                },
                "longitude": {
                  "type": "number"
                },
                "comment_out": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/work-history": {
      "get": {
        "tags": [
          "Work"
        ],
        "summary": "Work History",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/leaves": {
      "get": {
        "tags": [
          "Leaves"
        ],
        "summary": "List Leaves",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Leaves"
        ],
        "summary": "Apply for Leave",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/leaves/{id}": {
      "delete": {
        "tags": [
          "Leaves"
        ],
        "summary": "Delete Leave",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/leaves/types": {
      "get": {
        "tags": [
          "Leaves"
        ],
        "summary": "Leave Types",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/leaves/statuses": {
      "get": {
        "tags": [
          "Leaves"
        ],
        "summary": "Leave Statuses",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/payslips": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Payslips",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/cleaning-records": {
      "get": {
        "tags": [
          "Cleaning"
        ],
        "summary": "List Cleaning Records",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Cleaning"
        ],
        "summary": "Create Cleaning Record",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/cleaning-records/{id}": {
      "get": {
        "tags": [
          "Cleaning"
        ],
        "summary": "Get Cleaning Record",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Cleaning"
        ],
        "summary": "Update Cleaning Record",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api-settings/test": {
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Test Settings",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api-settings/callback/{vendor}": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Callback",
        "parameters": [
          {
            "in": "path",
            "name": "vendor",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api-settings": {
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Save Settings",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api-docs": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "API Docs Root",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
