{
  "openapi": "3.1.0",
  "info": {
    "title": "Arbo API",
    "version": "1.0.0",
    "description": "Visual sitemap builder API. Create and manage sitemap trees programmatically.",
    "x-jentic-source-url": "https://getarbo.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://getarbo.com",
      "description": "This instance"
    }
  ],
  "paths": {
    "/api/v1/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project with all pages",
        "description": "Returns project metadata and full sitemap tree.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project with nodes"
          },
          "401": {
            "description": "Invalid token"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/api/v1/projects/{id}/nodes": {
      "get": {
        "operationId": "listNodes",
        "summary": "List all active pages",
        "description": "Returns flat list of all non-archived nodes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of nodes"
          }
        }
      },
      "post": {
        "operationId": "createNode",
        "summary": "Add a page to the sitemap",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Page name"
                  },
                  "type": {
                    "type": "string",
                    "description": "Page type"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "primary",
                      "secondary",
                      "utility"
                    ]
                  },
                  "parentId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Parent node ID, null for root"
                  },
                  "description": {
                    "type": "string"
                  },
                  "rationale": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created node"
          }
        }
      }
    },
    "/api/v1/projects/{id}/nodes/{nid}": {
      "get": {
        "operationId": "getNode",
        "summary": "Get a single page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Node data"
          }
        }
      },
      "put": {
        "operationId": "updateNode",
        "summary": "Update a page",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string"
                  },
                  "parentId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "description": {
                    "type": "string"
                  },
                  "rationale": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated node"
          }
        }
      },
      "delete": {
        "operationId": "deleteNode",
        "summary": "Remove a page (soft delete)",
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cascade",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Delete children too"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmed"
          }
        }
      }
    },
    "/api/v1/projects/{id}/nodes/bulk": {
      "patch": {
        "operationId": "bulkUpdateNodes",
        "summary": "Update multiple pages at once",
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update results"
          }
        }
      }
    },
    "/api/v1/projects/{id}/import": {
      "post": {
        "operationId": "importNodes",
        "summary": "Import a full sitemap tree",
        "description": "Creates multiple pages with parent-child relationships using temp_id references. Large imports (>50 nodes) are processed asynchronously.",
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "temp_id",
                        "parent_temp_id",
                        "label"
                      ],
                      "properties": {
                        "temp_id": {
                          "type": "string",
                          "description": "Temporary ID for parent references"
                        },
                        "parent_temp_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Parent temp_id, null for root"
                        },
                        "label": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import completed synchronously"
          },
          "202": {
            "description": "Import started asynchronously, poll /api/v1/jobs/{jobId}"
          }
        }
      }
    },
    "/api/v1/projects/{id}/history": {
      "get": {
        "operationId": "getVersionHistory",
        "summary": "List version snapshots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of snapshots"
          }
        }
      }
    },
    "/api/v1/jobs/{jobId}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Poll async job status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and result"
          }
        }
      }
    },
    "/api/v1/projects/{id}/review": {
      "get": {
        "operationId": "getReview",
        "summary": "Review of a project: status, version and Figma link per page and step",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pages with wireframe and mockup status, versions and links per breakpoint"
          },
          "403": {
            "description": "Token does not have access to this project"
          }
        }
      }
    },
    "/api/v1/projects/{id}/review/comments": {
      "get": {
        "operationId": "listReviewComments",
        "summary": "Review comments, pinned on a version and a breakpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "node_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "wireframe",
                "mockup"
              ]
            }
          },
          {
            "name": "open",
            "in": "query",
            "required": false,
            "description": "Set to 1 for unresolved comments only",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of review comments"
          },
          "400": {
            "description": "Invalid step"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Server status"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AI token from project settings"
      }
    },
    "schemas": {
      "Node": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "position": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Page type (home, listing, detail, form, landing, quiz, search, or custom)"
          },
          "priority": {
            "type": "string",
            "enum": [
              "primary",
              "secondary",
              "utility"
            ]
          },
          "description": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "rationale": {
            "type": "string"
          },
          "cta": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}