{
  "openapi": "3.1.0",
  "info": {
    "title": "Uptimely API",
    "version": "0.1.0",
    "description": "The public Uptimely REST API — uptime monitoring, incidents, alerts and status pages for people and agents. Authenticate with an `uptimely_live_` API key via `Authorization: Bearer`.",
    "contact": {
      "name": "Uptimely support",
      "url": "https://getuptimely.com",
      "email": "support@devino.ca"
    },
    "x-jentic-source-url": "https://docs.getuptimely.com/docs/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.getuptimely.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List monitors",
        "description": "Lists the project's monitors with their current status, name-ascending, cursor-paginated. The project is the one the API key is bound to — no project parameter exists.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:read"
        ],
        "x-entitlement": "public_api_read",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Maximum number of items to return (1-100).",
              "example": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to return (1-100)."
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`.",
              "type": "string"
            },
            "description": "Opaque cursor from a previous page's `next_cursor` — omit for the first page. Reusing a cursor with DIFFERENT query parameters (e.g. a different `limit`) answers 400 `validation_failed`."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of monitors.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorList"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — `validation_failed` (see `errors`).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "description": "Creates a monitor through the same path as the dashboard wizard: product-default criteria (going offline auto-declares an incident that auto-resolves on recovery), initial Operational state, plan limits enforced. Website/API/External Status Page take `url`; Ping/IP/Port/DNS/SSL Certificate/Domain take `host`; Manual and Incoming Request/Email take no target. Synthetic/script, SNMP and Server monitors must be created in the dashboard. Send an `Idempotency-Key` header to make retries safe.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:write"
        ],
        "x-entitlement": "public_api_write",
        "x-idempotent": true,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response. The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee.",
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response. The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "Human-readable monitor name."
                  },
                  "monitor_type": {
                    "type": "string",
                    "description": "One of: \"Website\", \"API\", \"External Status Page\", \"Ping\", \"IP\", \"Port\", \"DNS\", \"SSL Certificate\", \"Domain\", \"Manual\", \"Incoming Request\", \"Incoming Email\".",
                    "example": "Website"
                  },
                  "description": {
                    "description": "What this monitor watches.",
                    "type": "string",
                    "maxLength": 1000
                  },
                  "url": {
                    "description": "Target URL (required for Website, API, External Status Page).",
                    "type": "string",
                    "format": "uri"
                  },
                  "host": {
                    "description": "Target hostname or IP (required for Ping, IP, Port, DNS, SSL Certificate, Domain).",
                    "type": "string"
                  },
                  "port": {
                    "description": "TCP port (Port monitors).",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "dns_record_type": {
                    "description": "DNS record type for DNS monitors (default A).",
                    "type": "string"
                  },
                  "monitoring_interval": {
                    "description": "Cron-shaped check cadence (default \"*/5 * * * *\" = every 5 minutes).",
                    "type": "string"
                  },
                  "failure_threshold": {
                    "description": "Consecutive failed checks required before this monitor declares an incident or alert (1-10, default 2). Set 1 to alert on the first failed check.",
                    "example": 2,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "name",
                  "monitor_type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Idempotency-Replayed": {
                "description": "`true` when this response is the stored first response replayed for a repeated Idempotency-Key (nothing re-executed).",
                "schema": {
                  "description": "`true` when this response is the stored first response replayed for a repeated Idempotency-Key (nothing re-executed).",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorCreated"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — `validation_failed` (see `errors`).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is still executing — `idempotency_in_progress`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key reused with a different request body — `idempotency_key_reused`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{monitor_id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a monitor",
        "description": "Fetches one monitor with its current status.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:read"
        ],
        "x-entitlement": "public_api_read",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update a monitor",
        "description": "Changes one or more of a monitor's editable fields through the same domain path as the dashboard's own edit forms. Every field is optional; omitted fields are left untouched, and `description` accepts null to clear it. `url` applies to Website/API/External Status Page monitors and `host` to Ping/IP/Port/DNS/SSL Certificate/Domain monitors — the one the monitor's type does not use is refused rather than silently ignored. `request_timeout_seconds` is a Website/API setting (null restores the 30-second default), and `failure_threshold` is refused for Manual, Incoming Request and Incoming Email monitors. `heartbeat_interval_minutes` and `heartbeat_grace_minutes` set the dead-man's-switch schedule of an Incoming Request monitor — how long silence may last before it is declared down — and are refused for every other type. At least one field must be present.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:write"
        ],
        "x-entitlement": "public_api_write",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "New display name.",
                    "example": "Marketing site",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "description": {
                    "description": "New description; null clears it.",
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 1000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "url": {
                    "description": "New target URL (Website, API, External Status Page monitors).",
                    "example": "https://example.com/health",
                    "type": "string",
                    "format": "uri"
                  },
                  "host": {
                    "description": "New target hostname or IP (Ping, IP, Port, DNS, SSL Certificate, Domain monitors).",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "monitoring_interval": {
                    "description": "Cron-shaped check cadence, e.g. \"*/5 * * * *\".",
                    "example": "*/5 * * * *",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "request_timeout_seconds": {
                    "description": "Per-request probe timeout in seconds (1-60, Website and API monitors). Null restores the 30-second default.",
                    "example": 30,
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 60
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "failure_threshold": {
                    "description": "Consecutive failed checks required before this monitor declares an incident or alert (1-10). Refused for Manual, Incoming Request and Incoming Email monitors, which have no run of failed checks to count.",
                    "example": 2,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "heartbeat_interval_minutes": {
                    "description": "How often the job watching this monitor promises to ping it, in minutes (1-10080). Incoming Request monitors only — refused for every other type.",
                    "example": 60,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10080
                  },
                  "heartbeat_grace_minutes": {
                    "description": "Extra minutes a late ping is allowed before the monitor is declared down (0-10080). 0 declares the moment a ping is late. Incoming Request monitors only.",
                    "example": 15,
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10080
                  }
                },
                "description": "At least one field is required — an empty object is refused."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated monitor.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — `validation_failed` (see `errors`).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "description": "Removes the monitor exactly as the dashboard does: probing stops, it disappears from lists and status pages, and any alert it auto-raised is resolved so nothing is left perpetually active. Recorded checks, incidents and timelines stay in place as history. To silence a monitor temporarily without losing its uptime record, mute it instead.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:write"
        ],
        "x-entitlement": "public_api_write",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorDeleted"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{monitor_id}/status-history": {
      "get": {
        "operationId": "getMonitorStatusHistory",
        "summary": "Get a monitor's status history",
        "description": "Returns the monitor's status-timeline segments over a look-back window (default 30 days, max 90), newest first — for \"when was it last down\" questions.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:read"
        ],
        "x-entitlement": "public_api_read",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "query",
            "name": "days",
            "schema": {
              "default": 30,
              "description": "Look-back window in days (1-90).",
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            },
            "description": "Look-back window in days (1-90)."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "description": "Maximum number of segments to return (1-200).",
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Maximum number of segments to return (1-200)."
          },
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor's status history.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorStatusHistory"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — `validation_failed` (see `errors`).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{monitor_id}/mute": {
      "post": {
        "operationId": "muteMonitorAlerts",
        "summary": "Mute a monitor's alerting",
        "description": "Stops this monitor declaring incidents and alerts until the given time. Probing is UNAFFECTED: checks keep running and the monitor's status keeps changing, so uptime and status pages stay truthful — only paging stops. Send `alerts_muted_until` for an explicit deadline, or `duration_minutes` for a window from now. Re-issuing replaces the current mute.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:write"
        ],
        "x-entitlement": "public_api_write",
        "x-idempotent": true,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response. The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee.",
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Optional client-generated key (1-255 visible ASCII characters; a UUID works) making this POST safely retryable. Retrying with the SAME key and byte-identical body within 24h replays the stored first response. The same key with a different body answers 422 `idempotency_key_reused`; a retry racing the first execution answers 409 `idempotency_in_progress`. Omitting the header executes normally with no idempotency guarantee."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alerts_muted_until": {
                    "description": "Absolute end of the mute window, ISO-8601 UTC. Must be in the future.",
                    "example": "2026-08-20T15:30:00.000Z",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "duration_minutes": {
                    "description": "Mute for this many minutes from now (1 minute to 30 days). Ignored when `alerts_muted_until` is given.",
                    "example": 30,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 43200
                  }
                },
                "description": "Exactly one of `alerts_muted_until` or `duration_minutes` is required."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The monitor's alerting is muted.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Idempotency-Replayed": {
                "description": "`true` when this response is the stored first response replayed for a repeated Idempotency-Key (nothing re-executed).",
                "schema": {
                  "description": "`true` when this response is the stored first response replayed for a repeated Idempotency-Key (nothing re-executed).",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorAlertMute"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — `validation_failed` (see `errors`).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is still executing — `idempotency_in_progress`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key reused with a different request body — `idempotency_key_reused`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unmuteMonitorAlerts",
        "summary": "Unmute a monitor's alerting",
        "description": "Lifts any mute on this monitor immediately, so it declares incidents and alerts again. Safe to call on a monitor that is not muted — the response reports the resulting state either way.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:write"
        ],
        "x-entitlement": "public_api_write",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Monitor id."
            },
            "required": true,
            "description": "Monitor id."
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor's alerting is not muted.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorAlertMute"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials — `missing_credentials`, `invalid_api_key` or `invalid_token`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but denied — `insufficient_scope`, `feature_not_enabled` or `unsupported_credential_type`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this project — `resource_not_found`.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Over a limit — `rate_limited` (per-key burst; retry after `Retry-After`) or `quota_exhausted` (monthly plan allowance; resets at month start).",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until the exceeded window resets.",
                "schema": {
                  "description": "Seconds until the exceeded window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error — `internal_error`; quote `request_id` when reporting.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/export": {
      "get": {
        "operationId": "exportMonitorConfig",
        "summary": "Export the project's monitors as config",
        "description": "Returns every live monitor in the project as a versioned, portable config document — name, type, target, cadence, timeout, failure threshold, heartbeat schedule and label names. Ids, slugs, incoming-request secrets, current status and incident history are deliberately absent: they mean nothing outside this project, and a secret does not belong in an exported file. The document is deterministic (entries sorted by name, no timestamp) so it can be committed to a repository and diffed. Post it back to `/v1/monitors/import`, here or in another project.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "monitors:read"
        ],
        "x-entitlement": "public_api_read",
        "x-idempotent": false,
        "x-meter": {
          "metric": "API_CALLS",
          "cost": 1
        },
        "responses": {
          "200": {
            "description": "The project's monitors as config.",
            "headers": {
              "x-request-id": {
                "required": true,
                "description": "Unique id for this request — present on EVERY response; quote it in support requests.",
                "schema": {
                  "type": "string",
                  "description": "Unique id for this request — present on EVERY response; quote it in support requests."
                }
              },
              "RateLimit-Policy": {
                "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                "schema": {
                  "description": "IETF draft-11 quota policies, e.g. `\"per-key-minute\";q=300;w=60, \"api-calls-period\";q=100000;w=2678400`.",
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                "schema": {
                  "description": "IETF draft-11 current-window state of the primary policy: remaining requests (`r`) and seconds to reset (`t`).",
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Primary-window request allowance.",
                "schema": {
                  "description": "Primary-window request allowance.",
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the primary window.",
                "schema": {
                  "description": "Requests remaining in the primary window.",
                  "type": "string"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the primary window resets.",
                "schema": {
                  "description": "Unix epoch seconds when the primary window resets.",
                  "type": "string"
                }
              }
            },
            "content": {
[...]
