{
  "openapi": "3.1.0",
  "info": {
    "title": "Jurisprudencias.ai API",
    "description": "API para busca de jurisprudencias de tribunais brasileiros. Acesse decisoes judiciais do STF, STJ, TST, TRT1, TRT2, TRT3, TRT4, TRT5, TRT6, TRT7, TRT8, TRT9, TRT10, TRT13, TRT14, TRT16, TRT17, TRT18, TRT19, TRT20, TRT22, TRT23, TRT24, TRF1, TRF2, TRF3, TRF4, TRF5, TRF6, TJAC, TJAP, TJBA, TJCE, TJDFT, TJES, TJGO, TJMA, TJMG, TJMS, TJMT, TJPA, TJPB, TJPE, TJPR, TJRJ, TJRN, TJRO, TJRR, TJRS, TJSC, TJSE, TJSP, TJTO e CARF programaticamente.",
    "version": "1.0.0",
    "contact": {
      "email": "contato@mail.jurisprudencias.ai"
    },
    "x-jentic-source-url": "https://jurisprudencias.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://jurisprudencias.ai",
      "description": "Producao"
    }
  ],
  "paths": {
    "/api/v1/courts": {
      "get": {
        "operationId": "listCourts",
        "summary": "Listar tribunais disponiveis",
        "description": "Retorna a lista de tribunais disponiveis com o numero de decisoes em cada base.",
        "responses": {
          "200": {
            "description": "Lista de tribunais",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador do tribunal (ex: stf, stj, tjsp)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome completo do tribunal"
                          },
                          "abbreviation": {
                            "type": "string",
                            "description": "Sigla do tribunal"
                          },
                          "decisions_count": {
                            "type": "integer",
                            "description": "Numero total de decisoes na base"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_decisions": {
                          "type": "integer",
                          "description": "Soma das decisoes dos tribunais retornados"
                        },
                        "counted_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time",
                          "description": "Data e hora da ultima contagem exata"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/courts/{court_id}/decisions": {
      "get": {
        "operationId": "searchDecisions",
        "summary": "Buscar decisoes por texto",
        "description": "Busca textual nas decisoes de um tribunal com a sintaxe websearch do PostgreSQL. Suporta frases exatas com aspas, operadores OR e exclusao com NOT ou -termo. OR separa alternativas completas; parenteses sao ignorados e nao permitem agrupamento.",
        "parameters": [
          {
            "name": "court_id",
            "in": "path",
            "required": true,
            "description": "Identificador do tribunal (ex: stf, stj, tst, trt1, trt2, trt3, trt4, trt5, trt6, trt7, trt8, trt9, trt10, trt13, trt14, trt16, trt17, trt18, trt19, trt20, trt22, trt23, trt24, trf1, trf2, trf3, trf4, trf5, trf6, tjac, tjap, tjba, tjce, tjdft, tjes, tjgo, tjma, tjmg, tjms, tjmt, tjpa, tjpb, tjpe, tjpr, tjrj, tjrn, tjro, tjrr, tjrs, tjsc, tjse, tjsp, tjto, carf)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Termo de busca. Termos simples, \"frase exata\", OR, NOT / -termo para exclusao. termo1 termo2 termo3 OR termo4 exige os tres primeiros termos ou apenas termo4. Parenteses sao ignorados. Para exigir termo1 termo2 em ambas as alternativas, use termo1 termo2 termo3 OR termo1 termo2 termo4.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Numero da pagina (comeca em 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Ordenacao decrescente por data de publicacao ou data de julgamento",
            "schema": {
              "type": "string",
              "enum": [
                "publication_date",
                "trial_date"
              ],
              "default": "publication_date"
            }
          },
          {
            "name": "pub_from",
            "in": "query",
            "required": false,
            "description": "Data de publicacao minima (formato: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pub_to",
            "in": "query",
            "required": false,
            "description": "Data de publicacao maxima (formato: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "trial_from",
            "in": "query",
            "required": false,
            "description": "Data de julgamento minima (formato: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "trial_to",
            "in": "query",
            "required": false,
            "description": "Data de julgamento maxima (formato: YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados da busca",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DecisionSummary"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total de resultados (null quando o contador e omitido por performance)"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Pagina atual"
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Resultados por pagina"
                        },
                        "total_pages": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total de paginas (null quando o contador e omitido por performance)"
                        },
                        "has_next_page": {
                          "type": "boolean",
                          "description": "Indica se existe uma proxima pagina de resultados"
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/courts/{court_id}/decisions/lookup": {
      "get": {
        "operationId": "lookupDecision",
        "summary": "Consultar decisao por numero do processo",
        "description": "Retorna os dados completos de uma decisao especifica pelo numero do processo, incluindo a ementa integral.",
        "parameters": [
          {
            "name": "court_id",
            "in": "path",
            "required": true,
            "description": "Identificador do tribunal (ex: stf, stj, tst, trt1, trt2, trt3, trt4, trt5, trt6, trt7, trt8, trt9, trt10, trt13, trt14, trt16, trt17, trt18, trt19, trt20, trt22, trt23, trt24, trf1, trf2, trf3, trf4, trf5, trf6, tjac, tjap, tjba, tjce, tjdft, tjes, tjgo, tjma, tjmg, tjms, tjmt, tjpa, tjpb, tjpe, tjpr, tjrj, tjrn, tjro, tjrr, tjrs, tjsc, tjse, tjsp, tjto, carf)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": true,
            "description": "Numero do processo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados completos da decisao",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DecisionFull"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Decisao nao encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token de API com prefixo jur_. Obtenha em https://jurisprudencias.ai/api-tokens"
      }
    },
    "schemas": {
      "DecisionSummary": {
        "type": "object",
        "properties": {
          "process_number": {
            "type": "string",
            "description": "Numero do processo"
          },
          "process_type": {
            "type": "string",
            "description": "Tipo do processo (ex: Recurso Especial)"
          },
          "rapporteur": {
            "type": "string",
            "description": "Nome do relator"
          },
          "adjudicating_body": {
            "type": "string",
            "description": "Orgao julgador"
          },
          "publication_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data de publicacao, quando informada pela fonte"
          },
          "trial_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data de julgamento, quando informada pela fonte"
          },
          "excerpt": {
            "type": "string",
            "description": "Trecho relevante da decisao"
          },
          "url": {
            "type": "string",
            "description": "URL da decisao no site do tribunal"
          }
        }
      },
      "DecisionFull": {
        "type": "object",
        "properties": {
          "process_number": {
            "type": "string",
            "description": "Numero do processo"
          },
          "process_type": {
            "type": "string",
            "description": "Tipo do processo"
          },
          "rapporteur": {
            "type": "string",
            "description": "Nome do relator"
          },
          "adjudicating_body": {
            "type": "string",
            "description": "Orgao julgador"
          },
          "publication_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data de publicacao, quando informada pela fonte"
          },
          "trial_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data de julgamento, quando informada pela fonte"
          },
          "summary": {
            "type": "string",
            "description": "Ementa completa da decisao"
          },
          "url": {
            "type": "string",
            "description": "URL da decisao no site do tribunal"
          },
          "court": {
            "type": "string",
            "description": "Identificador do tribunal"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente ou invalido",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Parametros invalidos",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Limite de requisicoes atingido",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}