{
  "openapi": "3.0.1",
  "info": {
    "title": "Flex API",
    "description": "Flex's tenant API for integrations and AI agents. Every response is scoped to the organization that owns the presented key.\n\n**Authentication.** Send `Authorization: Bearer flx_live_…` on every request. Keys are created by an organization administrator inside Flex; the secret is shown once and stored hashed. A key belongs to exactly one organization.\n\n**Permissions.** A key is granted a subset of Flex permissions when it is created. Each endpoint states the permission it needs; a key without it receives 403. `GET /api/v1/modules` lists the permissions of the presented key.\n\n**Modules.** Endpoints that belong to an optional Flex module (scheduling, invoicing, …) answer 403 with a problem detail when the organization has not activated that module. `GET /api/v1/modules` shows which modules are active.\n\n**Rate limits.** Fixed one-minute windows, per key (default 120 requests/min, configurable per key) and per organization (600/min). Every response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` (seconds until the key's window resets) so a client can pace itself. Exceeding either limit returns 429 with a `Retry-After` header (seconds).\n\n**Pagination.** List endpoints return `{ \"items\": [...], \"nextCursor\": \"…\" }`. Pass `after=<nextCursor>` to fetch the next page and `limit` to size it (1–200, default 50). `nextCursor` is null on the last page; cursors are opaque and stable.\n\n**CSV.** Every list endpoint (`GET /api/v1/activity`, `/categories`, `/customers`, `/customers/{id}/locations`, `/jobs`, `/jobs/{id}/photos`, `/invoices`, `/items`, `/items/low-stock`, `/items/{id}/reorder-points`, `/items/{id}/units`, `/labor-rates`, `/locations`, `/purchase-orders`, `/reorder-points`, `/roles`, `/sales-orders`, `/schedule`, `/schedule-groups`, `/transfers`, `/users`, `/users/removal-requests`, `/vendors`) also answers in CSV: send `Accept: text/csv` or append `?format=csv`. Columns are the JSON property names in declaration order — a nested object is flattened to `parent.child` columns, a list of scalars is `;`-joined, a list of objects is compact JSON in the cell; values are written exactly as in the JSON (invariant decimals, ISO-8601 UTC dates, enum names, `true`/`false`, empty for null). The file is UTF-8 with BOM, CRLF rows, RFC 4180 quoting, and a text cell starting with `=`, `+`, `-`, `@`, TAB or CR is prefixed with an apostrophe so spreadsheets do not run it as a formula. Paging is identical to JSON; because the CSV body has no envelope the next page's cursor is returned in the `X-Next-Cursor` header together with `Link: <next page URL>; rel=\"next\"` (absent on the last page). Responses are attachments named `<resource>.csv`. `GET /api/v1/modules` and single-resource GETs are JSON only.\n\n**ETags.** Single-resource and list GETs return a weak `ETag`. Send it back as `If-None-Match` to receive 304 Not Modified with no body when nothing changed. A list's tag is per representation — the JSON and CSV tags of the same page differ — and list responses carry `Vary: Accept`.\n\n**Idempotency.** Send an `Idempotency-Key` header (any unique string, up to 128 characters) on POST, PUT, PATCH and DELETE. Replaying the same key with the same body returns the original response instead of repeating the write; the same key with a different body is rejected with 422. Keys are remembered for 24 hours per organization.\n\n**Errors.** Failures are RFC 7807 `application/problem+json`: 400 validation errors list per-field messages under `errors`; 401/403/404/409/422/429/500 carry `title`, `detail` and a `traceId` to quote in support requests.",
    "termsOfService": "https://flexonthejob.com/terms",
    "contact": {
      "name": "Flex developer support",
      "url": "https://flexonthejob.com/developers",
      "email": "developers@flexonthejob.com"
    },
    "license": {
      "name": "Proprietary — use is governed by the Flex Terms of Service",
      "url": "https://flexonthejob.com/terms"
    },
    "version": "v1",
    "x-changelog": "https://flexonthejob.com/changelog",
    "x-status-page": "https://status.flexonthejob.com/",
    "x-jentic-source-url": "https://app.flexonthejob.com/openapi/v1.json"
  },
  "servers": [
    {
      "url": "https://app.flexonthejob.com",
      "description": "Production — your organization's data, keys from Settings → Integrations → API Keys"
    },
    {
      "url": "https://sandbox.flexonthejob.com",
      "description": "Sandbox — demo organization, public read-only and write keys, reset nightly at 08:00 UTC. No real-world side effects: email, webhook delivery and automation actions don't run (automation rules match and are logged as skipped), and the AI assistant answers from a fixed demo script"
    }
  ],
  "paths": {
    "/api/v1/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Lists logged API and MCP requests, oldest first, one page at a time.",
        "description": "Requires `ManageOrganizations`. Rows are returned in the order they were written\n(ascending `id`), so a poller can pass the last `nextCursor` back as\n`after` to receive only newer rows. A row is written just after its response is\nsent, so a request appears a moment after it completes. Rows are kept 90 days.\nExample: `GET /api/v1/activity?since=2026-09-22T00:00:00Z&search=update_job_status`.\nAlso available as CSV (`Accept: text/csv` or `?format=csv`); paging cursor in `X-Next-Cursor`.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Only requests that started at/after this instant (ISO-8601 UTC, e.g. `2026-09-22T00:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Only requests that started before this instant (ISO-8601 UTC, exclusive).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "apiKeyId",
            "in": "query",
            "description": "Only requests made with this key id. Example: `3`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusClass",
            "in": "query",
            "description": "Only responses of this HTTP status class, 1-5: e.g. `2` for 2xx, `4` for 4xx (1xx is accepted but never logged). Omit for all.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive match against the path, MCP method and MCP tool name. Example: `jobs`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor from the previous page's `nextCursor` (a log row id). Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1..500 (default 50).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Alternative to the Accept header: `csv` returns text/csv.",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of log rows and the cursor for the next page (null on the last page).",
            "headers": {
              "X-Next-Cursor": {
                "description": "text/csv only: the page's nextCursor. Absent on the last page. Pass it as ?after= (or follow the Link header) to fetch the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "text/csv only, alongside X-Next-Cursor: <absolute URL of the next page>; rel=\"next\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfApiActivityDto"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV document: UTF-8 with BOM, CRLF rows, RFC 4180 quoting. The header row holds the JSON property names of one item (nested objects flattened as parent.child); one row per item of the page."
                }
              }
            }
          },
          "400": {
            "description": "Unusable `after` cursor or `statusClass`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Lists the organization's item categories, one page at a time.",
        "description": "Requires `ViewInventory`. Categories are flat with a `parentCategoryId`; nest them\nclient-side. The built-in system category is not listed. Example:\n`GET /api/v1/categories?parentCategoryId=0` returns the top-level categories.\nAlso available as CSV (`Accept: text/csv` or `?format=csv`); paging cursor in `X-Next-Cursor`.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive substring of the name, e.g. `lum`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentCategoryId",
            "in": "query",
            "description": "Only direct children of this category; `0` for top-level categories only.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Only categories created or edited at/after this UTC instant (ISO-8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "SyncId of the last category of the previous page; omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1-200 (default 50).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Alternative to the Accept header: `csv` returns text/csv.",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of categories.",
            "headers": {
              "X-Next-Cursor": {
                "description": "text/csv only: the page's nextCursor. Absent on the last page. Pass it as ?after= (or follow the Link header) to fetch the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "text/csv only, alongside X-Next-Cursor: <absolute URL of the next page>; rel=\"next\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfCategoryDto"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV document: UTF-8 with BOM, CRLF rows, RFC 4180 quoting. The header row holds the JSON property names of one item (nested objects flattened as parent.child); one row per item of the page."
                }
              }
            }
          },
          "400": {
            "description": "Malformed `after` cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Creates an item category.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as \"New Category\" on\nthe Item Categories page, with stricter checks: the name must be unique among the categories\nwith the same parent, and the parent must be one of your categories that is neither the\nbuilt-in \"No Category\" nor Template Builder-generated. The new category has no properties.\nExample: `{ \"name\": \"Hardwood\", \"parentCategoryId\": 1 }`.",
        "requestBody": {
          "description": "Name plus optional description and parent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryApiRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; body is the new category, `Location` points at it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, missing or blank `name`, a field over its limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "A category with this name already exists under the same parent, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "No such (usable) parent category, including a negative `parentCategoryId` (the field is listed in `errors`); or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/{id}": {
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Deletes an item category.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as \"Delete\" on the\nItem Categories page: only a category without child categories can be deleted (move or\ndelete them first). Its properties and its item assignments go with it; items whose primary\n`categoryId` it was move to the organization's default \"No Category\". Items keep the\nproperty values they already carry. Template Builder-generated categories\n(`isTemplateBuilderCategory` = true) are removed by deleting their Template Builder, not here.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted; body says what changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDeletedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The category has child categories, is Template Builder-generated, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Returns one item category.",
        "description": "Requires `ViewInventory`. Send the previous `ETag` as `If-None-Match` to receive `304 Not Modified` when unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDto"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the supplied ETag."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Categories"
        ],
        "summary": "Renames, re-describes or moves an item category; only the fields sent change.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as editing the\ncategory (or dragging it in the tree) on the Item Categories page. Moving a category\n(`parentCategoryId`; `0` = top level) is refused when it would create a cycle, and\nrecalculates every item's inherited parent categories. Template Builder-generated categories\nare managed by their Template Builder and cannot be changed here.\nExample: `{ \"name\": \"Softwood\", \"parentCategoryId\": 0 }`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to change; at least one.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryApiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed; body is the category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDto"
                }
              }
            }
          },
          "400": {
            "description": "Empty body (no field to change), malformed body, a field over its limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The category is Template Builder-generated, another category under the (new) parent already has the name, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Blank name, no such (usable) parent, or the parent is the category itself or one of its descendants (the field is listed in `errors`); or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/{id}/properties": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Lists a category's properties — its own and those inherited from parent categories.",
        "description": "Requires `ViewInventory`. Ordered by `displayOrder`; inherited properties carry\n`isInherited` and the defining `categoryId`. Supports `If-None-Match`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The category's properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPropertiesResponse"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the supplied ETag."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Adds a property to a category.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as \"Add Property\"\non the category's Manage Properties page, with typed validation: the default value must fit\n`dataType` (and be among `options` for list types), options are only for\n`Dropdown` / `MultiSelect`. A property with a parent category's name overrides it\n(`overridesParent`). Existing items are not changed.\nExample: `{ \"name\": \"Species\", \"dataType\": \"Dropdown\", \"options\": [\"Pine\", \"Oak\"], \"defaultValue\": \"Pine\" }`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The property's definition; `name` is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryPropertyApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryPropertyApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryPropertyApiRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; body is the category's properties (the new one included). `Location` points at the list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPropertiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, missing `name`, a field over its limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The category already has a property with this name, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Reserved name, a default value that does not fit the type or options, invalid options, or a negative `displayOrder` (the field is listed in `errors`); or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/categories/{id}/properties/{propertyId}": {
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Deletes a category property.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as \"Delete\" on the\nManage Properties page: the definition goes; items that already carry the property keep it.\nOnly a property defined on this category can be deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property id from GET (not inherited). Example: `57`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted; body is the category's remaining properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPropertiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category, or no such property defined on it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Categories"
        ],
        "summary": "Changes a category property; only the fields sent change.",
        "description": "Requires `ManageInventory` and an `Idempotency-Key` header. Same as editing the\nproperty on the Manage Properties page, as a partial update with the create rules. Only a\nproperty defined on this category can be changed (an inherited one is edited on its own\ncategory). Items that already carry the property keep their copy (name, type and value).\nExample: `{ \"defaultValue\": \"Oak\", \"displayOrder\": 2 }`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category id. Example: `4`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property id from GET (not inherited). Example: `57`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to change; at least one.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryPropertyApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryPropertyApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryPropertyApiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed; body is the category's properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPropertiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty body (no field to change), malformed body, a field over its limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks `ManageInventory`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such category, or no such property defined on it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Another property of the category already has the name, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Blank or reserved name, a default value that does not fit the (new) type or options, invalid options, or a negative `displayOrder`; or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lists customers, oldest first, one page at a time.",
        "description": "Cursor pagination: pass the `nextCursor` of the previous response as\n`after`. Filters combine with AND. Example:\n`GET /api/v1/customers?isActive=true&updatedSince=2026-01-01T00:00:00Z&limit=100`.\nAlso available as CSV (`Accept: text/csv` or `?format=csv`); paging cursor in `X-Next-Cursor`.",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "SyncId of the last item of the previous page; omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–200 (default 50).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Only customers created or edited at/after this UTC instant (ISO-8601, e.g. `2026-01-01T00:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Only active (`true`) or deactivated (`false`) customers; omit for both.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "customerType",
            "in": "query",
            "description": "Only this type: `EndCustomer`, `Installer`, `Distributor` or `Commercial`.",
            "schema": {
              "$ref": "#/components/schemas/CustomerType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only this status flag: `None`, `Preferred` or `Difficult`.",
            "schema": {
              "$ref": "#/components/schemas/CustomerStatus"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive substring matched against name, company name and e-mail.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Alternative to the Accept header: `csv` returns text/csv.",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers.",
            "headers": {
              "X-Next-Cursor": {
                "description": "text/csv only: the page's nextCursor. Absent on the last page. Pass it as ?after= (or follow the Link header) to fetch the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "text/csv only, alongside X-Next-Cursor: <absolute URL of the next page>; rel=\"next\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfCustomerDto"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV document: UTF-8 with BOM, CRLF rows, RFC 4180 quoting. The header row holds the JSON property names of one item (nested objects flattened as parent.child); one row per item of the page."
                }
              }
            }
          },
          "400": {
            "description": "Malformed `after` cursor or filter value (validation problem listing the field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates a customer.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header (unique per attempt;\na retry with the same key and body replays the first response). The customer is created\nactive with a zero balance; `country` defaults to `\"USA\"`; when any of\n`address`/`city`/`state`/`postalCode` is given, a \"Primary Address\"\nmailing location is created too (see `/customers/{id}/locations`). The write is\nattributed to the user who created the API key.",
        "requestBody": {
          "description": "Customer fields; only `name` is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new customer; `Location` points at `/api/v1/customers/{id}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, unknown enum value, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The key's creator no longer exists on this server, so the write cannot be attributed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Well-formed but invalid field values (problem lists the fields), or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The customer could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Deletes a customer.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header. This is the same\nsoft delete as the Customers page: the customer disappears from every list and lookup\n(GETs answer 404) but keeps its history, and a user can restore it from\nCustomers → Deleted Customers in the app. The delete is refused with `409` while\nthe customer still has active jobs (not Completed/Cancelled), unpaid invoices\n(not Paid/Cancelled) or active sales orders — complete or cancel those first; the\nproblem `detail` names which. To merely hide a customer from pickers without\ndeleting it, `PUT` it with `isActive: false` instead.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer was deleted; body carries its id and a confirmation message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization (also for already-deleted customers).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Active jobs, unpaid invoices or active sales orders reference the customer, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The customer could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Returns one customer.",
        "description": "Send the previous `ETag` as `If-None-Match` to receive `304 Not Modified` when unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id from a list response.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer, with an `ETag` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the supplied `If-None-Match`."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization (also for deleted customers).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Replaces the editable fields of one customer.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header. This is a full\nupdate: every editable field takes the value in the body (omitted optional fields\nbecome null / defaults), so GET the customer first and send it back modified.\nOptional optimistic concurrency: send the `ETag` from that GET as `If-Match`\nto get `412` instead of overwriting a change made in the meantime.\nBalances, deletion state and audit fields cannot be changed here.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The complete set of editable fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, unknown enum value, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization (also for deleted customers).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent edit detected, or the key's creator no longer exists on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` does not match the customer's current `ETag`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Well-formed but invalid field values (problem lists the fields), or `Idempotency-Key` reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The customer could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/locations": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lists the additional locations (job sites / addresses) of one customer.",
        "description": "The customer's primary address is on the customer resource itself; this collection\nholds the extra sites jobs can be booked at. Cursor-paginated like every list.\nAlso available as CSV (`Accept: text/csv` or `?format=csv`); paging cursor in `X-Next-Cursor`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "SyncId of the last item of the previous page; omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1–200 (default 50).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Only active (`true`) or retired (`false`) locations; omit for both.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Alternative to the Accept header: `csv` returns text/csv.",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of locations (may be empty).",
            "headers": {
              "X-Next-Cursor": {
                "description": "text/csv only: the page's nextCursor. Absent on the last page. Pass it as ?after= (or follow the Link header) to fetch the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "text/csv only, alongside X-Next-Cursor: <absolute URL of the next page>; rel=\"next\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfCustomerLocationDto"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV document: UTF-8 with BOM, CRLF rows, RFC 4180 quoting. The header row holds the JSON property names of one item (nested objects flattened as parent.child); one row per item of the page."
                }
              }
            }
          },
          "400": {
            "description": "Malformed `after` cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Adds a location (job site / address) to a customer.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header. Same rules as\nCustomers → Addresses → Add in the app: `name`, `address`, `city`, `state`\nand `postalCode` are required; `isMailingAddress: true` moves the mailing flag here\nfrom the customer's other locations, and a customer's first location is always the mailing\naddress. Attributed to the user who created the API key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The location's fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new location; `Location` points at `/api/v1/customers/{id}/locations/{locationId}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLocationDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, a field over its length limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization (also for deleted customers).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The key's creator is unknown on this server, so the write cannot be attributed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "A required field is missing; the fields are listed in `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/locations/{locationId}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Retires (deletes) a customer location.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header. The same delete as the\nCustomers → Addresses page: the location is deactivated (`isActive: false`) rather than\nerased, so it stays on history and disappears from pickers; restore it with a PATCH of\n`isActive: true`. Refused with `409` while any job (in any status) references it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "Location id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The location was retired; body carries its id and a confirmation message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization, or the location belongs to another customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Jobs reference the location (the detail says how many), or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Returns one location of a customer.",
        "description": "Send the previous `ETag` as `If-None-Match` to receive `304 Not Modified` when unchanged; send it as `If-Match` on a PATCH to avoid overwriting a concurrent edit.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "Location id from the customer's location list.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The location, with an `ETag` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLocationDto"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the supplied `If-None-Match`."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization, or the location belongs to another customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Edits a customer location; only the fields sent change.",
        "description": "Requires `ManageCustomers` and an `Idempotency-Key` header. `\"\"` clears an optional\nfield; `name`, `address`, `city`, `state` and `postalCode` cannot be cleared.\n`isMailingAddress: true` unmarks the customer's other locations; `isActive` retires or\nrestores the location. Optional optimistic concurrency: send the `ETag` from\n`GET …/locations/{locationId}` as `If-Match` to get `412` instead of overwriting a\nchange made in the meantime. Example: `PATCH /api/v1/customers/5/locations/9 { \"notes\": \"Gate code 4411\" }`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "Location id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLocationWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The location after the edit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLocationDto"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, a field over its length limit, or missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such customer in this organization, or the location belongs to another customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent edit detected, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` does not match the location's current `ETag`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "A required field was cleared; the fields are listed in `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Lists invoice headers.",
        "description": "Requires `ViewInvoices`. Cursor-paginated: pass the last invoice's `syncId`\nas `after`.\nAlso available as CSV (`Accept: text/csv` or `?format=csv`); paging cursor in `X-Next-Cursor`.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Only invoices in this status (name such as `Sent` or numeric value).",
            "schema": {
              "$ref": "#/components/schemas/InvoiceStatus"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Only invoices billing this job.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Only invoices billed to this customer.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Only invoices created or modified at/after this UTC instant.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "SyncId of the last invoice of the previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, 1..200 (default 50).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Alternative to the Accept header: `csv` returns text/csv.",
            "schema": {
              "enum": [
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of invoice headers.",
            "headers": {
              "X-Next-Cursor": {
                "description": "text/csv only: the page's nextCursor. Absent on the last page. Pass it as ?after= (or follow the Link header) to fetch the next page.",
                "schema": {
                  "type": "string"
                }
              },
              "Link": {
                "description": "text/csv only, alongside X-Next-Cursor: <absolute URL of the next page>; rel=\"next\".",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfInvoiceSummary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV document: UTF-8 with BOM, CRLF rows, RFC 4180 quoting. The header row holds the JSON property names of one item (nested objects flattened as parent.child); one row per item of the page."
                }
              }
            }
          },
          "400": {
            "description": "Unknown `after` cursor or unrecognized `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Creates a standalone invoice (not tied to a job) from explicit lines.",
        "description": "Requires `ManageInvoices` and an `Idempotency-Key` header. The subtotal is\nthe sum of the lines; tax applies to all of it at `taxRate` (0 for a tax-exempt\ncustomer). Every omitted field defaults exactly as the New Invoice page does (next\n`INV-SA-…` number, today, the organization's default payment terms, tax rate and\npayment instructions). Like that page, the invoice is created already finalized\n(status `Sent`) — there is no draft step — so a payment can be recorded at once\nwith `POST /api/v1/invoices/{id}/payments`. To bill a job instead, use\n`POST /api/v1/invoices/from-job`.",
        "requestBody": {
          "description": "Customer, lines and, optionally, how to bill.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStandaloneInvoiceApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStandaloneInvoiceApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStandaloneInvoiceApiRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new invoice; `Location` points at it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSummary"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, no lines, or an out-of-range value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The invoice number is already used, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unknown `customerId` or `customerAddressId`, or `dueDate` precedes `invoiceDate`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The invoice could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices/{id}": {
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "Deletes a draft invoice.",
        "description": "Requires `ManageInvoices` and an `Idempotency-Key` header; no body. The API twin of\nthe draft invoice page's \"Delete Draft\" button. Only a `Draft` can be deleted — a\nfinalized invoice is voided instead (`POST /api/v1/invoices/{id}/void`). A consolidated\ndraft, or a draft carrying a payment other than the job's transferred down payment, is refused.\nMoney goes back where it came from: the job's down payment returns to the job (the next\ninvoice re-applies it), applied store credit returns to the customer, and the job's or sales\norder's payment status is recalculated. A job moved from `Completed` to `Invoiced` by\ngenerating this draft goes back to `Completed` when no other non-voided invoice remains\n(counter-sales organizations keep `Invoiced`); its stock movements stay, and the job can\nsimply be invoiced again (`POST /api/v1/invoices/from-job`).\nDeletion is permanent — there is no restore, and the invoice, its lines, payments and notes\ndisappear from every synced device. Fires `invoice.deleted`. Repeating the request with the\nsame `Idempotency-Key` replays the 204; a new key for an already-deleted id gets 404.\nThe deletion is recorded on the job's history, attributed to the user who created the key.\nExample: `DELETE /api/v1/invoices/57`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric invoice id, e.g. `57`.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The draft invoice was deleted; no body."
          },
          "400": {
            "description": "Missing `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such invoice in the calling organization (or it was already deleted).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The invoice is not a draft (void it instead), is a consolidated invoice, has recorded payments, or the key's creator is unknown on this server — the `detail` says which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "The deletion could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Returns one invoice with its lines and payments.",
        "description": "Requires `ViewInvoices`. `id` may be the numeric id or the `syncId`.\nSends a weak `ETag`; repeat with `If-None-Match` to get 304 when unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric id or SyncId.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceDetail"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged since the supplied ETag."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such invoice in the calling organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Invoices"
        ],
        "summary": "Edits a draft invoice's header (number, dates, terms, notes, payment instructions, tax rate).",
        "description": "Requires `ManageInvoices` and an `Idempotency-Key` header. PATCH semantics: only the\nfields you send change. Only a `Draft` invoice can be edited (a finalized invoice is\nimmutable — void it and issue a new one). Totals are not editable here: the subtotal comes\nfrom the job, so recompute it with `POST /api/v1/invoices/{id}/refresh-from-job` after the\njob's lines change. The write is attributed to the user who created the key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric invoice id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The header fields to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceDraftApiRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceDraftApiRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceDraftApiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSummary"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, missing `Idempotency-Key`, or a tax rate out of 0–100.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No such invoice in the calling organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "The invoice is not a draft, or the key's creator is unknown on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "The invoice number was sent blank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices/{id}/mark-sent": {
[...]
