{
  "openapi": "3.1.0",
  "info": {
    "title": "Cruise Itinerary Data API",
    "version": "1.0.0",
    "summary": "Cruise reference data, weekly fares, itineraries on the calendar, port traffic and a change feed.",
    "description": "Reference data and weekly fare snapshots for cruise lines, ships, ports and sailings, refreshed every Monday. Fares are snapshots from an inventory feed, not live bookable prices. A null fare means the cabin is not offered or is sold out; the feed does not distinguish.\n\n**Authentication.** Send `Authorization: Bearer <key>` or `X-API-Key: <key>`. Every endpoint needs a key, and a Free key costs nothing but an email address. A request without one gets 401 `key_required`. A malformed, unknown or revoked key is a 401, never a silent downgrade.\n\n**Plans.** Each endpoint lists the lowest plan that can call it in `x-required-plan`. Rate limits are per minute and some plans have a monthly call quota; both are reported in response headers. See /pricing for the current numbers.\n\n**Envelope.** Single objects come back as `{\"data\": {...}, \"meta\": {...}}`, lists as `{\"data\": [...], \"meta\": {as_of, page, per_page, total, has_more}}`, errors as `{\"error\": {status, code, message}}`. Every key is always present; absent values are null. Dates are YYYY-MM-DD. Money is whole US dollars.\n\n**Ids.** Lines, ships, ports, destinations, regions and cruises use slugs. Sailings use their integer id.\n\n**Caching.** Anonymous responses from open endpoints are cacheable for an hour and carry an ETag. Everything keyed is `private, no-store`.\n\n**Counting.** A keyed request that returns 2xx counts toward the monthly quota; errors do not.",
    "termsOfService": "https://cruise-itinerary.com/terms",
    "contact": {
      "name": "Cruise Itinerary",
      "url": "https://cruise-itinerary.com"
    },
    "x-jentic-source-url": "https://cruise-itinerary.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://cruise-itinerary.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Service root",
        "description": "Name, version and links. Useful as a connectivity check for your key.",
        "operationId": "getRoot",
        "x-required-plan": "free",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Root"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "name": "Cruise Itinerary Data API",
                    "version": "1",
                    "docs": "https://cruise-itinerary.com/docs",
                    "openapi": "https://cruise-itinerary.com/openapi.json",
                    "as_of": "2026-10-05"
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Data status",
        "description": "How fresh the data is and how much of it there is. Inventory is reloaded once a week; `next_scheduled_load` says when.",
        "operationId": "getStatus",
        "x-required-plan": "free",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "as_of": "2026-10-05",
                    "counts": {
                      "sailings": 61052,
                      "ships": 522,
                      "ports_with_calls": 2761,
                      "lines": 43
                    },
                    "next_scheduled_load": "2026-10-12T03:20:00-07:00"
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/lines": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "List cruise lines",
        "description": "Every cruise line, alphabetical, with how many ships and upcoming sailings each has.",
        "operationId": "listLines",
        "x-required-plan": "free",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Line"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "amawaterways",
                      "name": "AmaWaterways",
                      "ship_count": 40,
                      "sailing_count": 3242
                    },
                    {
                      "id": "american-cruise-lines",
                      "name": "American Cruise Lines",
                      "ship_count": 23,
                      "sailing_count": 610
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 45,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/lines/{id}": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "Get a cruise line",
        "description": "One line by slug.",
        "operationId": "getLine",
        "x-required-plan": "free",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Line slug.",
            "schema": {
              "type": "string"
            },
            "example": "holland-america-line"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Line"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "holland-america-line",
                    "name": "Holland America Line",
                    "ship_count": 13,
                    "sailing_count": 1233
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ships": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "List ships",
        "description": "Ships, alphabetical. `q` matches part of the name or an exact IMO number.",
        "operationId": "listShips",
        "x-required-plan": "free",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "line",
            "in": "query",
            "required": false,
            "description": "Only ships of this line (slug).",
            "schema": {
              "type": "string"
            },
            "example": "holland-america-line"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Name contains, or exact IMO.",
            "schema": {
              "type": "string"
            },
            "example": "eurodam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ship"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "eurodam",
                      "name": "Eurodam",
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "imo": "9378448",
                      "mmsi": "245206000",
                      "passengers": 2104,
                      "crew": 929,
                      "gross_tonnage": 86273,
                      "decks": 11,
                      "length_ft": 936,
                      "width_ft": 106,
                      "maiden_voyage": "2008-07-05",
                      "launched": "2008-01-01",
                      "refurbished": null,
                      "adults_only": false
                    },
                    {
                      "id": "koningsdam",
                      "name": "Koningsdam",
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "imo": "9692557",
                      "mmsi": "244830547",
                      "passengers": 2650,
                      "crew": 1025,
                      "gross_tonnage": 99500,
                      "decks": 12,
                      "length_ft": 935,
                      "width_ft": 115,
                      "maiden_voyage": "2016-04-04",
                      "launched": null,
                      "refurbished": null,
                      "adults_only": false
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 13,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ships/{id}": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "Get a ship",
        "description": "One ship by slug.",
        "operationId": "getShip",
        "x-required-plan": "free",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ship slug.",
            "schema": {
              "type": "string"
            },
            "example": "eurodam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Ship"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "eurodam",
                    "name": "Eurodam",
                    "line": {
                      "id": "holland-america-line",
                      "name": "Holland America Line"
                    },
                    "imo": "9378448",
                    "mmsi": "245206000",
                    "passengers": 2104,
                    "crew": 929,
                    "gross_tonnage": 86273,
                    "decks": 11,
                    "length_ft": 936,
                    "width_ft": 106,
                    "maiden_voyage": "2008-07-05",
                    "launched": "2008-01-01",
                    "refurbished": null,
                    "adults_only": false
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ports": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "List ports",
        "description": "Ports and scenic stops. Use `has_calls=true` for ports a ship is scheduled to visit. For matching free text to a port, use `/v1/resolve`.",
        "operationId": "listPorts",
        "x-required-plan": "free",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Name or alias contains.",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          },
          {
            "name": "destination",
            "in": "query",
            "required": false,
            "description": "Destination slug.",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Region slug.",
            "schema": {
              "type": "string"
            },
            "example": "caribbean"
          },
          {
            "name": "has_calls",
            "in": "query",
            "required": false,
            "description": "true: only ports with scheduled calls; false: only those without.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "port, scenic or transit.",
            "schema": {
              "type": "string",
              "enum": [
                "port",
                "scenic",
                "transit"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Port"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "miami",
                      "name": "Miami",
                      "kind": "port",
                      "latitude": 25.7741566,
                      "longitude": -80.1935973,
                      "destination": {
                        "id": "miami",
                        "name": "Miami"
                      },
                      "region": {
                        "id": "united-states",
                        "name": "United States"
                      },
                      "aliases": [],
                      "upcoming_calls": 2408
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 1,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ports/{id}": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "Get a port",
        "description": "One port by slug. The numeric id of a port that was merged into another also works and returns the surviving port, with `meta.resolved_from` set to the id you sent.",
        "operationId": "getPort",
        "x-required-plan": "free",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Port slug, or the numeric id of a merged legacy port.",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Port"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "miami",
                    "name": "Miami",
                    "kind": "port",
                    "latitude": 25.7741566,
                    "longitude": -80.1935973,
                    "destination": {
                      "id": "miami",
                      "name": "Miami"
                    },
                    "region": {
                      "id": "united-states",
                      "name": "United States"
                    },
                    "aliases": [],
                    "upcoming_calls": 2408
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/destinations": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "List destinations",
        "description": "Destinations with their region and a representative coordinate.",
        "operationId": "listDestinations",
        "x-required-plan": "free",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Destination"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "abu-dhabi",
                      "name": "Abu Dhabi",
                      "region": {
                        "id": "middle-east",
                        "name": "Middle East"
                      },
                      "latitude": 24.453884,
                      "longitude": 54.3773438
                    },
                    {
                      "id": "acapulco",
                      "name": "Acapulco",
                      "region": {
                        "id": "mexico-region",
                        "name": "Mexico region"
                      },
                      "latitude": 16.863611,
                      "longitude": -99.8825
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 379,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/regions": {
      "get": {
        "tags": [
          "Reference data"
        ],
        "summary": "List regions",
        "description": "The 18 top-level regions.",
        "operationId": "listRegions",
        "x-required-plan": "free",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Region"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "africa",
                      "name": "Africa"
                    },
                    {
                      "id": "alaska-region",
                      "name": "Alaska region"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 18,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/resolve": {
      "get": {
        "tags": [
          "Resolver"
        ],
        "summary": "Resolve a name",
        "description": "Match free text such as \"Port Canaveral, Florida\" or \"Royal Caribbean Symphony of the Seas\" to ports, ships and lines. Returns up to five candidates, best first. Confidence is 1.0 for an exact name, about 0.9 to 0.97 after normalising accents, punctuation, country suffixes and aliases, and 0.85 or less for approximate matches. For many names at once, use the POST form.",
        "operationId": "resolve",
        "x-required-plan": "free",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The text to match, up to 120 characters.",
            "schema": {
              "type": "string"
            },
            "example": "Port Canaveral, Florida"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict to one kind of entity.",
            "schema": {
              "type": "string",
              "enum": [
                "port",
                "ship",
                "line"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ResolveCandidate"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "type": "port",
                      "id": "port-canaveral",
                      "name": "Port Canaveral",
                      "confidence": 0.9,
                      "match": "normalized"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 1,
                    "total": 1,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Resolver"
        ],
        "summary": "Resolve names in bulk",
        "description": "Up to 100 items per request. The response holds one entry per item, in order, each with its own candidate list.",
        "operationId": "resolveBatch",
        "x-required-plan": "free",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "q": {
                          "type": "string",
                          "maxLength": 120
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "port",
                            "ship",
                            "line"
                          ]
                        }
                      },
                      "required": [
                        "q"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "items"
                ],
                "additionalProperties": false
              },
              "example": {
                "items": [
                  {
                    "q": "Port Canaveral",
                    "type": "port"
                  },
                  {
                    "q": "Allure of the seas"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ResolveBatchResult"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "q": "Port Canaveral",
                      "type": "port",
                      "candidates": [
                        {
                          "type": "port",
                          "id": "port-canaveral",
                          "name": "Port Canaveral",
                          "confidence": 1,
                          "match": "exact"
                        }
                      ]
                    },
                    {
                      "q": "Allure of the seas",
                      "type": null,
                      "candidates": [
                        {
                          "type": "ship",
                          "id": "allure-of-the-seas",
                          "name": "Allure of the Seas",
                          "confidence": 1,
                          "match": "exact"
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 2,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/v1/price-index/latest": {
      "get": {
        "tags": [
          "Price index"
        ],
        "summary": "Latest price index",
        "description": "The all-lines Cruise Price Index plus the eight largest lines, for cabin `any` and segment `all`, over the last 12 loads. Ordered all lines first, then by line name, oldest load first. The series starts on 2026-09-06 at 100.",
        "operationId": "getPriceIndexLatest",
        "x-required-plan": "free",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceIndexPoint"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "observed_on": "2026-09-06",
                      "previous_on": null,
                      "line": null,
                      "cabin": "any",
                      "segment": "all",
                      "weighting": "sailing",
                      "matched": 54299,
                      "index_value": 100,
                      "mean_log_change": null,
                      "pct_cut": null,
                      "pct_raised": null,
                      "pct_unavailable": null,
                      "avg_per_diem": null,
                      "berth_coverage_pct": null
                    },
                    {
                      "observed_on": "2026-09-07",
                      "previous_on": "2026-09-06",
                      "line": null,
                      "cabin": "any",
                      "segment": "all",
                      "weighting": "sailing",
                      "matched": 54299,
                      "index_value": 99.9036,
                      "mean_log_change": -0.000964,
                      "pct_cut": 0.62,
                      "pct_raised": 0.52,
                      "pct_unavailable": 0.18,
                      "avg_per_diem": 464.59,
                      "berth_coverage_pct": null
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 54,
                    "total": 54,
                    "has_more": false
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/sailings": {
      "get": {
        "tags": [
          "Sailings"
        ],
        "summary": "Search sailings",
        "description": "Upcoming sailings with their latest fares. Fares are weekly snapshots from the inventory feed, not live bookable prices. `port` matches sailings that call at a port (itinerary days), `embark_port` the departure port. `from` and `to` bound the departure date.",
        "operationId": "listSailings",
        "x-required-plan": "developer",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "ship",
            "in": "query",
            "required": false,
            "description": "Ship slug.",
            "schema": {
              "type": "string"
            },
            "example": "eurodam"
          },
          {
            "name": "line",
            "in": "query",
            "required": false,
            "description": "Line slug.",
            "schema": {
              "type": "string"
            },
            "example": "holland-america-line"
          },
          {
            "name": "port",
            "in": "query",
            "required": false,
            "description": "Port slug; sailings that call there.",
            "schema": {
              "type": "string"
            },
            "example": "ketchikan"
          },
          {
            "name": "embark_port",
            "in": "query",
            "required": false,
            "description": "Departure port slug.",
            "schema": {
              "type": "string"
            },
            "example": "seattle"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Region slug.",
            "schema": {
              "type": "string"
            },
            "example": "alaska-region"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Earliest departure date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-10-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Latest departure date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-12-31"
          },
          {
            "name": "min_nights",
            "in": "query",
            "required": false,
            "description": "Minimum length.",
            "schema": {
              "type": "integer"
            },
            "example": 7
          },
          {
            "name": "max_nights",
            "in": "query",
            "required": false,
            "description": "Maximum length.",
            "schema": {
              "type": "integer"
            },
            "example": 14
          },
          {
            "name": "max_estimated_days",
            "in": "query",
            "required": false,
            "description": "Most itinerary days with an estimated date; 0 keeps only sailings whose every day is exact.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "cabin",
            "in": "query",
            "required": false,
            "description": "Restrict to sailings with a fare in this cabin; also the cabin `max_fare` and `sort=fare` use.",
            "schema": {
              "type": "string",
              "enum": [
                "inside",
                "outside",
                "balcony",
                "suite"
              ]
            }
          },
          {
            "name": "max_fare",
            "in": "query",
            "required": false,
            "description": "Highest fare in USD (in `cabin`, or in any cabin when `cabin` is absent).",
            "schema": {
              "type": "integer"
            },
            "example": 800
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "departure (default) or fare, lowest first.",
            "schema": {
              "type": "string",
              "enum": [
                "departure",
                "fare"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sailing"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 14305054,
                      "cruise": {
                        "id": "16-night-panama-canal-eurodam-567b30",
                        "title": "16 Night Panama Canal"
                      },
                      "ship": {
                        "id": "eurodam",
                        "name": "Eurodam"
                      },
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "departure_date": "2026-10-08",
                      "return_date": "2026-10-24",
                      "nights": 16,
                      "embark_port": {
                        "id": "san-diego",
                        "name": "San Diego"
                      },
                      "disembark_port": {
                        "id": "ft-lauderdale",
                        "name": "Ft. Lauderdale"
                      },
                      "fares": {
                        "inside": null,
                        "outside": null,
                        "balcony": null,
                        "suite": null
                      },
                      "currency": "USD",
                      "fares_changed_on": "2026-09-28",
                      "observed_on": "2026-10-05",
                      "estimated_days": 0
                    },
                    {
                      "id": 14039046,
                      "cruise": {
                        "id": "7-night-eastern-caribbean-amber-cove-and-key-west-eurodam-ffc6c5",
                        "title": "7 Night Eastern Caribbean Amber Cove and Key West"
                      },
                      "ship": {
                        "id": "eurodam",
                        "name": "Eurodam"
                      },
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "departure_date": "2026-10-24",
                      "return_date": "2026-10-31",
                      "nights": 7,
                      "embark_port": {
                        "id": "ft-lauderdale",
                        "name": "Ft. Lauderdale"
                      },
                      "disembark_port": {
                        "id": "ft-lauderdale",
                        "name": "Ft. Lauderdale"
                      },
                      "fares": {
                        "inside": 699,
                        "outside": 729,
                        "balcony": null,
                        "suite": null
                      },
                      "currency": "USD",
                      "fares_changed_on": "2026-10-05",
                      "observed_on": "2026-10-05",
                      "estimated_days": 0
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 109,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/sailings/{id}": {
      "get": {
        "tags": [
          "Sailings"
        ],
        "summary": "Get a sailing",
        "description": "One sailing with its day-by-day itinerary. Embark and disembark days are exact, and so is every day where the cruise line publishes its itinerary; other days in between are estimated and labelled so.",
        "operationId": "getSailing",
        "x-required-plan": "developer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sailing id.",
            "schema": {
              "type": "string"
            },
            "example": 14305054
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SailingDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 14305054,
                    "cruise": {
                      "id": "16-night-panama-canal-eurodam-567b30",
                      "title": "16 Night Panama Canal"
                    },
                    "ship": {
                      "id": "eurodam",
                      "name": "Eurodam"
                    },
                    "line": {
                      "id": "holland-america-line",
                      "name": "Holland America Line"
                    },
                    "departure_date": "2026-10-08",
                    "return_date": "2026-10-24",
                    "nights": 16,
                    "embark_port": {
                      "id": "san-diego",
                      "name": "San Diego"
                    },
                    "disembark_port": {
                      "id": "ft-lauderdale",
                      "name": "Ft. Lauderdale"
                    },
                    "fares": {
                      "inside": null,
                      "outside": null,
                      "balcony": null,
                      "suite": null
                    },
                    "currency": "USD",
                    "fares_changed_on": "2026-09-28",
                    "observed_on": "2026-10-05",
                    "estimated_days": 0,
                    "itinerary": [
                      {
                        "day_offset": 0,
                        "date": "2026-10-08",
                        "port": {
                          "id": "san-diego",
                          "name": "San Diego",
                          "latitude": 32.7137,
                          "longitude": -117.1751
                        },
                        "kind": "embark",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 1,
                        "date": "2026-10-09",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 2,
                        "date": "2026-10-10",
                        "port": {
                          "id": "cabo-san-lucas",
                          "name": "Cabo San Lucas",
                          "latitude": 22.8938884,
                          "longitude": -109.92006
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 3,
                        "date": "2026-10-11",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 4,
                        "date": "2026-10-12",
                        "port": {
                          "id": "acapulco",
                          "name": "Acapulco",
                          "latitude": 16.8531,
                          "longitude": -99.8237
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 5,
                        "date": "2026-10-13",
                        "port": {
                          "id": "huatulco",
                          "name": "Huatulco",
                          "latitude": 16.2210377,
                          "longitude": -95.1916775
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 6,
                        "date": "2026-10-14",
                        "port": {
                          "id": "puerto-chiapas",
                          "name": "Puerto Chiapas",
                          "latitude": 14.7105442,
                          "longitude": -92.4002054
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 7,
                        "date": "2026-10-15",
                        "port": {
                          "id": "puerto-quetzal",
                          "name": "Puerto Quetzal",
                          "latitude": 13.9333768,
                          "longitude": -90.7889072
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 8,
                        "date": "2026-10-16",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 9,
                        "date": "2026-10-17",
                        "port": {
                          "id": "puerto-caldera",
                          "name": "Puerto Caldera",
                          "latitude": 9.9778439,
                          "longitude": -84.8294211
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 10,
                        "date": "2026-10-18",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 11,
                        "date": "2026-10-19",
                        "port": {
                          "id": "enter-panama-canal-balboa",
                          "name": "Enter Panama Canal Balboa",
                          "latitude": 9.1110858,
                          "longitude": -79.6993185
                        },
                        "kind": "scenic",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 12,
                        "date": "2026-10-20",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 13,
                        "date": "2026-10-21",
                        "port": {
                          "id": "oranjestad",
                          "name": "Oranjestad",
                          "latitude": 17.482411,
                          "longitude": -62.9828803
                        },
                        "kind": "call",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 14,
                        "date": "2026-10-22",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 15,
                        "date": "2026-10-23",
                        "port": null,
                        "kind": "sea",
                        "day_confidence": "exact"
                      },
                      {
                        "day_offset": 16,
                        "date": "2026-10-24",
                        "port": {
                          "id": "ft-lauderdale",
                          "name": "Ft. Lauderdale",
                          "latitude": 26.1223084,
                          "longitude": -80.1433786
                        },
                        "kind": "disembark",
                        "day_confidence": "exact"
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/sailings/{id}/prices": {
      "get": {
        "tags": [
          "Sailings"
        ],
        "summary": "Fare history of a sailing",
        "description": "Every weekly snapshot of the sailing's four fares, oldest first. History starts on 2026-09-06 and continues after the sailing departs.",
        "operationId": "getSailingPrices",
        "x-required-plan": "business",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sailing id.",
            "schema": {
              "type": "string"
            },
            "example": 14305054
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceSnapshot"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "observed_on": "2026-09-06",
                      "fares": {
                        "inside": 2139,
                        "outside": 2209,
                        "balcony": 2739,
                        "suite": 6229
                      },
                      "currency": "USD"
                    },
                    {
                      "observed_on": "2026-09-07",
                      "fares": {
                        "inside": 2139,
                        "outside": 2209,
                        "balcony": 2739,
                        "suite": 6229
                      },
                      "currency": "USD"
                    },
                    {
                      "observed_on": "2026-09-14",
                      "fares": {
                        "inside": 2139,
                        "outside": 2209,
                        "balcony": 2739,
                        "suite": 6229
                      },
                      "currency": "USD"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 3,
                    "total": 6,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/cruises/{id}": {
      "get": {
        "tags": [
          "Sailings"
        ],
        "summary": "Get a cruise",
        "description": "A cruise is the product (title, ship, ordered stops); a sailing is one departure of it. Cruise slugs are permanent.",
        "operationId": "getCruise",
        "x-required-plan": "developer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Cruise slug.",
            "schema": {
              "type": "string"
            },
            "example": "16-night-panama-canal-eurodam-567b30"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cruise"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "16-night-panama-canal-eurodam-567b30",
                    "title": "16 Night Panama Canal",
                    "ship": {
                      "id": "eurodam",
                      "name": "Eurodam"
                    },
                    "line": {
                      "id": "holland-america-line",
                      "name": "Holland America Line"
                    },
                    "nights": 16,
                    "embark_port": {
                      "id": "san-diego",
                      "name": "San Diego"
                    },
                    "disembark_port": {
                      "id": "ft-lauderdale",
                      "name": "Ft. Lauderdale"
                    },
                    "itinerary_source": "official",
                    "stops": [
                      {
                        "seq": 1,
                        "day": 1,
                        "port": {
                          "id": "san-diego",
                          "name": "San Diego"
                        }
                      },
                      {
                        "seq": 2,
                        "day": 3,
                        "port": {
                          "id": "cabo-san-lucas",
                          "name": "Cabo San Lucas"
                        }
                      },
                      {
                        "seq": 3,
                        "day": 5,
                        "port": {
                          "id": "acapulco",
                          "name": "Acapulco"
                        }
                      },
                      {
                        "seq": 4,
                        "day": 6,
                        "port": {
                          "id": "huatulco",
                          "name": "Huatulco"
                        }
                      },
                      {
                        "seq": 5,
                        "day": 7,
                        "port": {
                          "id": "puerto-chiapas",
                          "name": "Puerto Chiapas"
                        }
                      },
                      {
                        "seq": 6,
                        "day": 8,
                        "port": {
                          "id": "puerto-quetzal",
                          "name": "Puerto Quetzal"
                        }
                      },
                      {
                        "seq": 7,
                        "day": 10,
                        "port": {
                          "id": "puerto-caldera",
                          "name": "Puerto Caldera"
                        }
                      },
                      {
                        "seq": 8,
                        "day": 12,
                        "port": {
                          "id": "enter-panama-canal-balboa",
                          "name": "Enter Panama Canal Balboa"
                        }
                      },
                      {
                        "seq": 9,
                        "day": 14,
                        "port": {
                          "id": "oranjestad",
                          "name": "Oranjestad"
                        }
                      },
                      {
                        "seq": 10,
                        "day": 17,
                        "port": {
                          "id": "ft-lauderdale",
                          "name": "Ft. Lauderdale"
                        }
                      }
                    ],
                    "next_departure": "2026-10-08",
                    "sailing_count": 2
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ships/{id}/schedule": {
      "get": {
        "tags": [
          "Ships and ports"
        ],
        "summary": "Ship schedule",
        "description": "Where a ship is on each day: one row per stop, with sea days. When sailings overlap, the shortest one that covers a day owns it. Window limit: 400 days; default 90 days from today.",
        "operationId": "getShipSchedule",
        "x-required-plan": "developer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ship slug.",
            "schema": {
              "type": "string"
            },
            "example": "eurodam"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "First day (default today).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-10-03"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Last day.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-10-31"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShipDay"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "date": "2026-10-08",
                      "seq": 0,
                      "kind": "embark",
                      "port": {
                        "id": "san-diego",
                        "name": "San Diego",
                        "latitude": 32.7137,
                        "longitude": -117.1751
                      },
                      "day_confidence": "exact",
                      "sailing_id": 14305054
                    },
                    {
                      "date": "2026-10-09",
                      "seq": 0,
                      "kind": "sea",
                      "port": null,
                      "day_confidence": "exact",
                      "sailing_id": 14305054
                    },
                    {
                      "date": "2026-10-10",
                      "seq": 0,
                      "kind": "call",
                      "port": {
                        "id": "cabo-san-lucas",
                        "name": "Cabo San Lucas",
                        "latitude": 22.8938884,
                        "longitude": -109.92006
                      },
                      "day_confidence": "exact",
                      "sailing_id": 14305054
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 3,
                    "total": 24,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ports/{id}/calendar": {
      "get": {
        "tags": [
          "Ships and ports"
        ],
        "summary": "Port traffic calendar",
        "description": "Ships, lower berths and turnarounds per day. Only days with at least one ship appear; a missing day has none. Window limit: 730 days; default 90 days from today. Berths count lower-berth capacity; real headcount runs 10 to 20 percent higher.",
        "operationId": "getPortCalendar",
        "x-required-plan": "business",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Port slug (or merged legacy id).",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "First day (default today).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-11-01"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Last day.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-11-30"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PortDay"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "date": "2026-11-01",
                      "ships": 7,
                      "berths": 26885,
                      "ships_no_capacity": 0,
                      "embark_ships": 5,
                      "disembark_ships": 7,
                      "turnaround_ships": 5,
                      "estimated_ships": 0,
                      "busy_pct": 87
                    },
                    {
                      "date": "2026-11-02",
                      "ships": 3,
                      "berths": 12560,
                      "ships_no_capacity": 0,
                      "embark_ships": 3,
                      "disembark_ships": 3,
                      "turnaround_ships": 3,
                      "estimated_ships": 0,
                      "busy_pct": 39
                    },
                    {
                      "date": "2026-11-05",
                      "ships": 4,
                      "berths": 11456,
                      "ships_no_capacity": 0,
                      "embark_ships": 4,
                      "disembark_ships": 4,
                      "turnaround_ships": 4,
                      "estimated_ships": 0,
                      "busy_pct": 30
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 3,
                    "total": 27,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/ports/{id}/days/{date}": {
      "get": {
        "tags": [
          "Ships and ports"
        ],
        "summary": "Port day detail",
        "description": "The counts for one day plus the ships behind them. A day with no ships returns zero counts and an empty `calls` list.",
        "operationId": "getPortDay",
        "x-required-plan": "business",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Port slug (or merged legacy id).",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "YYYY-MM-DD.",
            "schema": {
              "type": "string"
            },
            "example": "2026-11-14"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PortDayDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                },
                "example": {
                  "data": {
                    "date": "2026-11-14",
                    "ships": 7,
                    "berths": 27493,
                    "ships_no_capacity": 0,
                    "embark_ships": 7,
                    "disembark_ships": 7,
                    "turnaround_ships": 7,
                    "estimated_ships": 0,
                    "busy_pct": 88,
                    "calls": [
                      {
                        "ship": {
                          "id": "carnival-magic",
                          "name": "Carnival Magic",
                          "passengers": 3690
                        },
                        "line": {
                          "id": "carnival-cruise-line",
                          "name": "Carnival Cruise Line"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14252373
                      },
                      {
                        "ship": {
                          "id": "carnival-sunrise",
                          "name": "Carnival Sunrise",
                          "passengers": 2984
                        },
                        "line": {
                          "id": "carnival-cruise-line",
                          "name": "Carnival Cruise Line"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14252960
                      },
                      {
                        "ship": {
                          "id": "msc-world-america",
                          "name": "MSC World America",
                          "passengers": 5240
                        },
                        "line": {
                          "id": "msc-cruises",
                          "name": "MSC Cruises"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14290891
                      },
                      {
                        "ship": {
                          "id": "norwegian-luna",
                          "name": "Norwegian Luna",
                          "passengers": 3565
                        },
                        "line": {
                          "id": "norwegian-cruise-line",
                          "name": "Norwegian Cruise Line"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14221900
                      },
                      {
                        "ship": {
                          "id": "freedom-of-the-seas",
                          "name": "Freedom of the Seas",
                          "passengers": 3634
                        },
                        "line": {
                          "id": "royal-caribbean",
                          "name": "Royal Caribbean"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14240653
                      },
                      {
                        "ship": {
                          "id": "icon-of-the-seas",
                          "name": "Icon of the Seas",
                          "passengers": 5610
                        },
                        "line": {
                          "id": "royal-caribbean",
                          "name": "Royal Caribbean"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14089008
                      },
                      {
                        "ship": {
                          "id": "scarlet-lady",
                          "name": "Scarlet Lady",
                          "passengers": 2770
                        },
                        "line": {
                          "id": "virgin-voyages",
                          "name": "Virgin Voyages"
                        },
                        "kind": "turnaround",
                        "day_confidence": "exact",
                        "sailing_id": 14199956
                      }
                    ]
                  },
                  "meta": {
                    "as_of": "2026-10-05"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/changes": {
      "get": {
        "tags": [
          "Changes"
        ],
        "summary": "Change feed",
        "description": "What changed between consecutive weekly loads: fare moves per cabin, cabins appearing or vanishing, sailings added or removed, itineraries swapped, port days moved or confirmed. Newest load first. `kind` takes a comma-separated list.",
        "operationId": "listChanges",
        "x-required-plan": "business",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Earliest detected_on.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-14"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Latest detected_on.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-28"
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Comma-separated: price_drop, price_rise, cabin_unavailable, cabin_available, sailing_added, sailing_removed, itinerary_changed, schedule_changed.",
            "schema": {
              "type": "string"
            },
            "example": "price_drop,sailing_added"
          },
          {
            "name": "ship",
            "in": "query",
            "required": false,
            "description": "Ship slug.",
            "schema": {
              "type": "string"
            },
            "example": "eurodam"
          },
          {
            "name": "line",
            "in": "query",
            "required": false,
            "description": "Line slug.",
            "schema": {
              "type": "string"
            },
            "example": "holland-america-line"
          },
          {
            "name": "port",
            "in": "query",
            "required": false,
            "description": "Port slug; sailings that call there.",
            "schema": {
              "type": "string"
            },
            "example": "miami"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChangeEvent"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ListMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 426493,
                      "detected_on": "2026-10-05",
                      "previous_on": "2026-09-28",
                      "kind": "price_drop",
                      "sailing_id": 14026554,
                      "cruise_id": "7-night-mexican-riviera-holiday-koningsdam-b7e911",
                      "previous_cruise_id": null,
                      "ship": {
                        "id": "koningsdam",
                        "name": "Koningsdam"
                      },
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "departure_date": "2026-12-26",
                      "cabin": "inside",
                      "old_value": 1149,
                      "new_value": 999,
                      "currency": "USD"
                    },
                    {
                      "id": 426494,
                      "detected_on": "2026-10-05",
                      "previous_on": "2026-09-28",
                      "kind": "price_drop",
                      "sailing_id": 14038929,
                      "cruise_id": "9-night-eastern-caribbean-st-maarten-antigua-and-bahamas-nieuw-amsterdam-bc9bc6",
                      "previous_cruise_id": null,
                      "ship": {
                        "id": "nieuw-amsterdam",
                        "name": "Nieuw Amsterdam"
                      },
                      "line": {
                        "id": "holland-america-line",
                        "name": "Holland America Line"
                      },
                      "departure_date": "2026-12-11",
                      "cabin": "inside",
                      "old_value": 849,
                      "new_value": 699,
                      "currency": "USD"
                    }
                  ],
                  "meta": {
                    "as_of": "2026-10-05",
                    "page": 1,
                    "per_page": 2,
                    "total": 1093,
                    "has_more": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ]
      }
    },
    "/v1/price-index": {
      "get": {
        "tags": [
          "Price index"
        ],
        "summary": "Price index series",
        "description": "The full series for one line, cabin, segment and weighting, oldest first. `line` is a slug, or omitted (or `all`) for all lines. `weighting=berth` weights each sailing by its ship's lower berths (passengers per sailing) instead of counting each sailing once. Rows exist only where at least 30 sailings matched.",
        "operationId": "getPriceIndex",
        "x-required-plan": "business",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "line",
            "in": "query",
            "required": false,
            "description": "Line slug or all.",
            "schema": {
              "type": "string"
            },
            "example": "carnival-cruise-line"
          },
          {
            "name": "cabin",
            "in": "query",
            "required": false,
            "description": "Cabin class (default any).",
            "schema": {
              "type": "string",
              "enum": [
                "inside",
                "outside",
                "balcony",
                "suite",
                "any"
              ]
            }
          },
          {
            "name": "segment",
            "in": "query",
            "required": false,
            "description": "all (default), w000_090, w091_180, w181_365, w366_plus, a sail quarter like q2027_1, or size_intimate, size_small, size_medium, size_large, size_mega.",
            "schema": {
              "type": "string"
            },
            "example": "w000_090"
          },
          {
            "name": "weighting",
            "in": "query",
            "required": false,
            "description": "sailing (default) or berth.",
            "schema": {
              "type": "string",
              "enum": [
                "sailing",
                "berth"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
[...]
