{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Trio Mobil Digital Facility IoT Platform API",
    "description": "This API documentation is proprietary and confidential. Unauthorized reproduction, distribution, or use of this material is strictly prohibited. Use of this documentation is subject to the applicable terms of service and license agreement.",
    "license": {
      "name": "\u00a9 2026 Trio Mobil Inc. All rights reserved.",
      "url": "https://www.triomobil.com/en/privacy-policy"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Trio-Mobil/trio-mobil-digital-facility-iot-platform-api/v1"
  },
  "host": "api.triomobil.com",
  "basePath": "/facility/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Authorization": {
      "name": "Authorization",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/alarmRule/opt-out": {
      "get": {
        "operationId": "alarmRuleOptOut",
        "summary": "Alarm Notification Opt Out",
        "tags": [
          "Alarm Rules"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "all-out",
            "in": "query",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "security": []
      }
    },
    "/alarmRules": {
      "get": {
        "operationId": "alarmRuleList",
        "summary": "List Alarm Rules",
        "tags": [
          "Alarm Rules"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "type": "string",
            "enum": [
              "sensor",
              "temperatureSensor",
              "tracker",
              "vehicle",
              "forklift",
              "trueaiDevice"
            ]
          },
          {
            "name": "sensorId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "temperatureSensorId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "trackerId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "forkliftId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "trueaiDeviceId",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$"
            }
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "enum": [
              "ALARM",
              "OFFLINE",
              "OK"
            ]
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:customerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:dealerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:label"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabelState:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabelState:_sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/alarm-rule-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "alarmRuleCreate",
        "summary": "Create Alarm Rule",
        "tags": [
          "Alarm Rules"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/alarm-rule-post"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/alarm-rule-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/alarmRules/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "alarmRuleGet",
        "summary": "Get Alarm Rule",
        "tags": [
          "Alarm Rules"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/alarm-rule-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "put": {
        "operationId": "alarmRuleUpdate",
        "summary": "Update Alarm Rule",
        "tags": [
          "Alarm Rules"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/alarm-rule-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/alarm-rule-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "delete": {
        "operationId": "alarmRuleDelete",
        "summary": "Delete Alarm Rule",
        "tags": [
          "Alarm Rules"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/anchors": {
      "get": {
        "operationId": "anchorList",
        "summary": "List Anchors",
        "tags": [
          "Anchors"
        ],
        "parameters": [
          {
            "name": "floorPlanId",
            "in": "query",
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "enum": [
              "ble",
              "ua",
              "ua-widearea"
            ]
          },
          {
            "name": "site.region",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 24
          },
          {
            "name": "site.country",
            "in": "query",
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          {
            "name": "site.name",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 24
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabelAddr:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabelAddr:customerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabelAddr:dealerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabelAddr:label"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabelAddr:addr"
          },
          {
            "$ref": "#/parameters/trait:queryLatestSignalAtIsBatteryLow:latestSignalAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryLatestSignalAtIsBatteryLow:latestSignalAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryLatestSignalAtIsBatteryLow:isBatteryLow"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortBy"
          },
          {
            "$ref": "#/parameters/trait:pullAuditLatestSignalAtIsBatteryLowNote:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/anchor-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "anchorCreate",
        "summary": "Create Anchor",
        "tags": [
          "Anchors"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/anchor-post"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/anchor-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/anchors/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "anchorGet",
        "summary": "Get Anchor",
        "tags": [
          "Anchors"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAuditLatestSignalAtIsBatteryLowNote:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/anchor-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "patch": {
        "operationId": "anchorModify",
        "summary": "Modify Anchor",
        "tags": [
          "Anchors"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/anchor-patch"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/anchor-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "put": {
        "operationId": "anchorUpdate",
        "summary": "Update Anchor",
        "tags": [
          "Anchors"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/anchor-put"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/anchor-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "delete": {
        "operationId": "anchorDelete",
        "summary": "Delete Anchor",
        "tags": [
          "Anchors"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/auth": {
      "post": {
        "operationId": "authToken",
        "summary": "Generate Auth Token",
        "tags": [
          "Authentication"
        ],
        "description": "Generates an authentication token to be used with API calls. Once generated, token is valid for 48 hours and time-to-live is extended to 48 hours each time it is used up to 30 days. Tokens are expected to be sent with every API requests via **`Authorization`** request header.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "username": {
                  "type": "string",
                  "minLength": 4,
                  "maxLength": 24
                },
                "password": {
                  "type": "string",
                  "minLength": 4,
                  "maxLength": 24
                }
              },
              "required": [
                "username",
                "password"
              ]
            }
          },
          {
            "name": "X-TRIO-TOKEN-TTL",
            "in": "header",
            "description": "seconds",
            "type": "integer",
            "default": 172800,
            "minimum": 60,
            "maximum": 2592000
          },
          {
            "name": "X-TRIO-FIREBASE-TOKEN",
            "in": "header",
            "type": "string",
            "minLength": 1
          },
          {
            "type": "string",
            "in": "header",
            "name": "X-TRIO-OTP",
            "pattern": "^\\d{6}$"
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "token": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "required": [
                "token"
              ]
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "security": []
      },
      "delete": {
        "summary": "Revoke Auth Token",
        "operationId": "authRevoke",
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/2fa": {
      "delete": {
        "summary": "Disable 2FA",
        "operationId": "2faDisable",
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "otp": {
                  "$ref": "#/definitions/otp"
                }
              },
              "required": [
                "otp"
              ]
            }
          },
          {
            "type": "string",
            "in": "query",
            "name": "method",
            "required": true,
            "enum": [
              "TOTP",
              "EMAIL"
            ]
          }
        ],
        "tags": [
          "Authentication"
        ]
      },
      "get": {
        "summary": "Status 2FA",
        "operationId": "2faStatus",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "totp": {
                  "type": "boolean"
                },
                "email": {
                  "oneOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "string",
                      "enum": [
                        "REQUIRED"
                      ]
                    }
                  ]
                }
              },
              "required": [
                "totp",
                "email"
              ]
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "parameters": []
      },
      "post": {
        "operationId": "2faEnable",
        "summary": "Enable 2FA",
        "tags": [
          "Authentication"
        ],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "otp": {
                  "$ref": "#/definitions/otp"
                }
              },
              "required": [
                "otp"
              ]
            },
            "description": ""
          },
          {
            "type": "string",
            "in": "query",
            "name": "method",
            "required": true,
            "enum": [
              "TOTP",
              "EMAIL"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "recovery": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 6,
                  "maxItems": 10,
                  "items": {
                    "$ref": "#/definitions/otp"
                  }
                }
              },
              "required": [
                "recovery"
              ]
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "parameters": []
    },
    "/auth/2fa/register": {
      "post": {
        "summary": "Register 2FA",
        "operationId": "2faRegister",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "uri": {
                  "format": "uri",
                  "type": "string"
                }
              },
              "required": [
                "uri"
              ]
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "method",
            "required": true,
            "enum": [
              "TOTP",
              "EMAIL"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/chats": {
      "get": {
        "operationId": "chatList",
        "summary": "List Chats",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:label"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortOrder"
          },
          {
            "name": "_sortBy",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 2,
            "items": {
              "type": "string",
              "enum": [
                "audit.createdAt",
                "audit.updatedAt"
              ]
            }
          },
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "type": "string",
            "in": "query",
            "name": "model",
            "enum": [
              "SAFE_ASSIST"
            ]
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/chat-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "chatCreate",
        "summary": "Create Chat",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/chat-post"
            }
          },
          {
            "type": "string",
            "in": "query",
            "name": "model",
            "required": true,
            "enum": [
              "SAFE_ASSIST"
            ]
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/chat-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Chats"
        ]
      },
      "parameters": []
    },
    "/chats/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "chatGet",
        "summary": "Get Chat",
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/chat-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Chats"
        ]
      },
      "patch": {
        "operationId": "chatModify",
        "summary": "Modify Chat",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/chat-patch"
            }
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/chat-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Chats"
        ]
      },
      "delete": {
        "operationId": "chatDelete",
        "summary": "Delete Chat",
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Chats"
        ]
      }
    },
    "/chats/{id}/conversation": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "conversationList",
        "summary": "Get Chat Conversation",
        "parameters": [
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:sortOrder:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditCreatedAt:_sortBy"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/chat-conversation-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "description": "",
        "tags": [
          "Chats"
        ]
      },
      "post": {
        "operationId": "conversationCreate",
        "summary": "Add Message To Chat Conversation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/chat-post"
            }
          },
          {
            "$ref": "#/parameters/trait:requestHeader:locale"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/chat-conversation-agent"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Chats"
        ]
      }
    },
    "/customers": {
      "get": {
        "operationId": "customerList",
        "summary": "List Customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:sortAuditName:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditName:_sortBy"
          },
          {
            "$ref": "#/parameters/trait:pullAuditNote:_pull"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdName:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdName:dealerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdName:name"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdName:emailListaddress"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdName:phoneListnumber"
          },
          {
            "$ref": "#/parameters/trait:accessControl:isRestricted"
          },
          {
            "in": "query",
            "type": "array",
            "name": "segment",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 2,
            "items": {
              "type": "string",
              "enum": [
                "SME",
                "LARGE",
                "KEY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customer-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "customerCreate",
        "summary": "Create Customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/customer-post"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/customer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "customerGet",
        "summary": "Get Customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAuditNote:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/customer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "patch": {
        "operationId": "customerModify",
        "summary": "Modify Customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/customer-patch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/customer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "put": {
        "operationId": "customerUpdate",
        "summary": "Update Customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/customer-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/customer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "delete": {
        "operationId": "customerDelete",
        "summary": "Delete Customer",
        "tags": [
          "Customers"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "operationId": "dashboardList",
        "summary": "List Dashboards",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:customerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:dealerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerIdLabel:label"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortBy"
          },
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dashboard-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "dashboardCreate",
        "summary": "Create Dashboard",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dashboard-post"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dashboard-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/dashboards/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "dashboardGet",
        "summary": "Get Dashboard",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dashboard-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "put": {
        "operationId": "dashboardUpdate",
        "summary": "Update Dashboard",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dashboard-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dashboard-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "delete": {
        "operationId": "dashboardDelete",
        "summary": "Delete Dashboard",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/dealers": {
      "get": {
        "operationId": "dealerList",
        "summary": "List Dealers",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:sortAuditName:_sortOrder"
          },
          {
            "$ref": "#/parameters/trait:sortAuditName:_sortBy"
          },
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          },
          {
            "$ref": "#/parameters/trait:queryIdName:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdName:name"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/dealer-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "post": {
        "operationId": "dealerCreate",
        "summary": "Create Dealer",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dealer-post"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dealer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/dealers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
        "operationId": "dealerGet",
        "summary": "Get Dealer",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/trait:pullAudit:_pull"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dealer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "patch": {
        "operationId": "dealerModify",
        "summary": "Modify Dealer",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dealer-patch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dealer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "put": {
        "operationId": "dealerUpdate",
        "summary": "Update Dealer",
        "tags": [
          "Dealers"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/dealer-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dealer-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      },
      "delete": {
        "operationId": "dealerDelete",
        "summary": "Delete Dealer",
        "tags": [
          "Dealers"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        }
      }
    },
    "/drivers": {
      "get": {
        "operationId": "driverList",
        "summary": "List Drivers",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "maxLength": 24,
            "minLength": 1
          },
          {
            "$ref": "#/parameters/trait:sortAuditLabel:_sortOrder"
          },
          {
            "name": "_sortBy",
            "in": "query",
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 2,
            "items": {
              "type": "string",
              "enum": [
                "audit.createdAt",
                "audit.updatedAt",
                "licensePlate",
                "latestSignalAt"
              ]
            }
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.createdBy"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.since"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedAt.until"
          },
          {
            "$ref": "#/parameters/trait:queryAudit:audit.updatedBy"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerId:_id"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerId:vehicleId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerId:customerId"
          },
          {
            "$ref": "#/parameters/trait:queryIdDealerIdCustomerId:dealerId"
          },
          {
            "$ref": "#/parameters/trait:pagination:_perPage"
          },
          {
            "$ref": "#/parameters/trait:pagination:_page"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/driver-get"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "description": "",
        "tags": [
          "Drivers"
        ]
      },
      "post": {
        "operationId": "driverCreate",
        "summary": "Create Driver",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/driver-post"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/driver-get"
            }
          },
          "400": {
            "$ref": "#/responses/trait:errorResponses:400"
          },
          "401": {
            "$ref": "#/responses/trait:errorResponses:401"
          },
          "403": {
            "$ref": "#/responses/trait:errorResponses:403"
          },
          "404": {
            "$ref": "#/responses/trait:errorResponses:404"
          },
          "405": {
            "$ref": "#/responses/trait:errorResponses:405"
          },
          "408": {
            "$ref": "#/responses/trait:errorResponses:408"
          },
          "409": {
            "$ref": "#/responses/trait:errorResponses:409"
          },
          "414": {
            "$ref": "#/responses/trait:errorResponses:414"
          },
          "422": {
            "$ref": "#/responses/trait:errorResponses:422"
          },
          "429": {
            "$ref": "#/responses/trait:errorResponses:429"
          },
          "500": {
            "$ref": "#/responses/trait:errorResponses:500"
          },
          "502": {
            "$ref": "#/responses/trait:errorResponses:502"
          },
          "503": {
            "$ref": "#/responses/trait:errorResponses:503"
          },
          "504": {
            "$ref": "#/responses/trait:errorResponses:504"
          }
        },
        "tags": [
          "Drivers"
        ]
      },
      "parameters": []
    },
    "/drivers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[0-9a-fA-F]{24}$"
        }
      ],
      "get": {
[...]
