{
  "openapi": "3.1.0",
  "info": {
    "title": "Ada Diamonds Agent API",
    "version": "1.1.0",
    "summary": "Read Ada Diamonds' lab grown diamond inventory, engagement ring settings, fine jewelry, and buying guides — and request a jeweler consultation.",
    "description": "The Ada Diamonds Agent API gives AI agents and applications structured access to Ada Diamonds' live catalog and published content.\n\n**Catalog and content endpoints require no credential.** An agent answering a shopper's question should not need an onboarding step first. Credentials exist to raise rate limits and to reach the endpoints that touch a specific customer's data. The API roots (`/api`, `/api/v1`) are the one read that challenges anonymous callers, with a `WWW-Authenticate: Bearer` header that points at the OAuth metadata.\n\n**Pricing model.** An engagement ring is a setting plus a loose diamond, priced separately. `priceFrom` on a setting excludes the center stone. All prices are US dollars.\n\n**Getting a credential.** `POST /api/v1/keys` issues a working API key immediately, no account required. For customer-specific access, register an OAuth client at `/api/oauth/register` and use the authorization code flow with PKCE.\n\n**Sandbox.** Request `{\"env\":\"sandbox\"}` when creating a key. Sandbox credentials read the real catalog and accept writes without creating anything.\n\n**Batching.** `POST /api/v1/batch` runs up to 20 public reads in one request and returns each sub-response with its own status. Use it to assemble a quote (a setting plus several stones) in a single round trip. A batch counts as one request against the rate limit.\n\n**Long-running operations.** Whole-catalog exports are asynchronous: `POST /api/v1/exports` answers 202 with a `Location` header for the job. Poll `GET /api/v1/jobs/{id}` (honouring `Retry-After`) until `status` is `succeeded`, then download `result_url`. Exports complete within seconds and job ids stay valid for 24 hours. Operations marked `x-async: true` follow this pattern.\n\n**MCP.** The same catalog is available as an MCP server at https://www.adadiamonds.com/mcp (streamable HTTP); the server card at https://www.adadiamonds.com/.well-known/mcp/server-card.json lists its tools.",
    "termsOfService": "https://www.adadiamonds.com/terms",
    "contact": {
      "name": "Ada Diamonds developer support",
      "email": "it@adadiamonds.com",
      "url": "https://www.adadiamonds.com/developers"
    },
    "license": {
      "name": "Ada Diamonds API Terms",
      "url": "https://www.adadiamonds.com/terms"
    },
    "x-jentic-source-url": "https://www.adadiamonds.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.adadiamonds.com",
      "description": "Production"
    },
    {
      "url": "https://www.adadiamonds.com/sandbox",
      "description": "Sandbox: every path below, mounted under /sandbox. Credential-less requests are treated as the public sandbox key; reads return the live catalog, writes are acknowledged and create nothing. Described at /sandbox."
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "getApiRoot",
        "summary": "API root: credential check and endpoint index",
        "description": "Returns a map of every endpoint with its operationId and auth requirement, plus the resolved credential (`anonymous` when the request carries none). No credential is needed: the roots are the first URLs an agent tries, and every catalog and content endpoint behind them is open. Protected endpoints answer 401 with a bare `WWW-Authenticate: Bearer` challenge whose `resource_metadata` parameter points at the OAuth protected-resource document.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1": {
      "get": {
        "operationId": "getV1Probe",
        "summary": "Versioned-root probe: the same endpoint index as /api/v1",
        "description": "Clients that guess `/v1` before reading any docs get the endpoint index, which says where the API is (`/api/v1`) and that it needs no account. The response is identical to `GET /api/v1`, credential resolution included; `/api/v1` remains the canonical root to link and cache.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1": {
      "get": {
        "operationId": "getApiV1Root",
        "summary": "Versioned API root: credential check and endpoint index",
        "description": "Returns a map of every endpoint with its operationId and auth requirement, plus the resolved credential (`anonymous` when the request carries none). No credential is needed: the roots are the first URLs an agent tries, and every catalog and content endpoint behind them is open. Protected endpoints answer 401 with a bare `WWW-Authenticate: Bearer` challenge whose `resource_metadata` parameter points at the OAuth protected-resource document.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/diamonds": {
      "get": {
        "operationId": "listDiamonds",
        "summary": "Search available loose lab diamonds",
        "description": "Returns a page of Ada's live loose lab grown diamond inventory, filtered by shape, carat, price, color, clarity, and cut. Stones sell continuously, so treat results as a snapshot and call `getDiamond` to re-check a specific stone before quoting it. Prices are US dollars for the loose stone only; add a setting from `listEngagementRings` to quote a finished ring.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "shape",
            "description": "Diamond shape. One of Round, Oval, Cushion, Emerald, Pear, Radiant, Asscher, Princess, Marquise (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Oval"
          },
          {
            "in": "query",
            "name": "min_carat",
            "description": "Minimum carat weight (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "max_carat",
            "description": "Maximum carat weight (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Minimum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Maximum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "color",
            "description": "Color grade, D through K.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "F"
          },
          {
            "in": "query",
            "name": "clarity",
            "description": "Clarity grade: FL, IF, VVS1, VVS2, VS1, VS2, SI1, SI2.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "VS1"
          },
          {
            "in": "query",
            "name": "cut",
            "description": "Cut grade: Ideal, Excellent, Very Good.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort order. Default is the feed order.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price_asc",
                "price_desc",
                "carat_asc",
                "carat_desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of available diamonds.",
            "headers": {
              "RateLimit": {
                "description": "RFC 9331 combined budget, e.g. `limit=120, remaining=118, reset=42`. Read it to pace yourself.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "description": "The API version that served the response.",
                "schema": {
                  "type": "string",
                  "example": "v1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiamondList"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/diamonds/{id}": {
      "get": {
        "operationId": "getDiamond",
        "summary": "Get one diamond",
        "description": "Returns a single loose diamond by its product id or by the grading report number (GCAL, IGI, or GIA), which is the identifier an agent usually has after reading a product page. A 404 means the stone has sold or the id is wrong; list current inventory with `listDiamonds` and pick again.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Product id (from `listDiamonds`) or grading report number.",
            "schema": {
              "type": "string"
            },
            "example": "LG12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "The diamond.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Diamond"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/engagement-rings": {
      "get": {
        "operationId": "listEngagementRings",
        "summary": "Search engagement ring settings",
        "description": "Returns a page of engagement ring settings filtered by the center stone shape they accommodate, style, type, and setting price. `priceFrom` is the setting alone and excludes the center diamond; pair a result with a stone from `listDiamonds` and add the two prices to quote a complete ring. Every setting is made to order in platinum or 14k/18k gold.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "shape",
            "description": "Center stone shape the setting accommodates.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Oval"
          },
          {
            "in": "query",
            "name": "style",
            "description": "Setting style, e.g. Petite Four Prong, Trellis, Bezel.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Setting type, e.g. Solitaire, Halo, Three Stone.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Solitaire"
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Minimum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Maximum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "q",
            "description": "Free-text match against the setting name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of settings.",
            "headers": {
              "RateLimit": {
                "description": "RFC 9331 combined budget, e.g. `limit=120, remaining=118, reset=42`. Read it to pace yourself.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "description": "The API version that served the response.",
                "schema": {
                  "type": "string",
                  "example": "v1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngagementRingList"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/engagement-rings/{slug}": {
      "get": {
        "operationId": "getEngagementRing",
        "summary": "Get one engagement ring setting",
        "description": "Returns a single setting by its URL slug or SKU (`AD-066` or bare `066`). The response includes per-metal images and the platinum and two-tone upcharges, which is everything needed to describe the setting to a shopper; the center diamond is still priced separately.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "Product slug or SKU (\"AD-066\" or \"066\").",
            "schema": {
              "type": "string"
            },
            "example": "AD-066"
          }
        ],
        "responses": {
          "200": {
            "description": "The setting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngagementRing"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/jewelry": {
      "get": {
        "operationId": "listJewelry",
        "summary": "Search fine jewelry",
        "description": "Returns a page of fine jewelry (wedding bands, earrings, necklaces, bracelets, fashion rings) filtered by category, type, diamond shape, and price. `priceFrom` and `priceMax` bound the configurable price range in US dollars; every piece is set with lab grown diamonds.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "description": "Top-level category, e.g. Bridal, Fashion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Piece type, e.g. Wedding Bands, Earrings, Necklaces.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Wedding Bands"
          },
          {
            "in": "query",
            "name": "shape",
            "description": "Diamond shape used in the piece.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Minimum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Maximum price in US dollars (inclusive).",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "q",
            "description": "Free-text match against the piece name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jewelry.",
            "headers": {
              "RateLimit": {
                "description": "RFC 9331 combined budget, e.g. `limit=120, remaining=118, reset=42`. Read it to pace yourself.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "description": "The API version that served the response.",
                "schema": {
                  "type": "string",
                  "example": "v1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JewelryList"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/jewelry/{slug}": {
      "get": {
        "operationId": "getJewelryItem",
        "summary": "Get one jewelry piece",
        "description": "Returns a single jewelry piece by URL slug or SKU. Use it to confirm a piece an agent found through `listJewelry` before presenting it, or to resolve a SKU a shopper quotes back.",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "Product slug or SKU.",
            "schema": {
              "type": "string"
            },
            "example": "AD-3101"
          }
        ],
        "responses": {
          "200": {
            "description": "The piece.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JewelryItem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/knowledge-base": {
      "get": {
        "operationId": "listArticles",
        "summary": "List published guides and articles",
        "description": "Returns a page of Ada Diamonds' published guides on lab grown diamonds: the 4Cs, CVD versus HPHT growth, shape guides, certification, and buying advice. Each summary carries a `markdown_url`; call `getArticle` or fetch that URL for the full text.",
        "tags": [
          "Content"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "content:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "description": "Case-insensitive match against title and summary.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "clarity"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of articles.",
            "headers": {
              "RateLimit": {
                "description": "RFC 9331 combined budget, e.g. `limit=120, remaining=118, reset=42`. Read it to pace yourself.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "description": "The API version that served the response.",
                "schema": {
                  "type": "string",
                  "example": "v1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleList"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/knowledge-base/{slug}": {
      "get": {
        "operationId": "getArticle",
        "summary": "Get one article as markdown",
        "description": "Returns a single knowledge base article with its body rendered as markdown, ready to quote or summarise. The slug is the last segment of the article URL and is also returned by `listArticles`.",
        "tags": [
          "Content"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "content:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "description": "Article slug.",
            "schema": {
              "type": "string"
            },
            "example": "cvd-lab-diamonds"
          }
        ],
        "responses": {
          "200": {
            "description": "The article, body rendered as markdown.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/showrooms": {
      "get": {
        "operationId": "listShowrooms",
        "summary": "Showroom locations and remote consultation options",
        "description": "Returns Ada's physical showroom(s) with address, hours, and phone, plus the virtual consultation details that serve shoppers everywhere else. Use it to answer whether someone outside New York can buy from Ada (yes, by video consultation) and where to book.",
        "tags": [
          "Content"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "content:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Showrooms and virtual consultation details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowroomList"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/batch": {
      "post": {
        "operationId": "batchRequests",
        "summary": "Run several read requests in one call",
        "description": "Executes up to 20 GET requests against the public read endpoints in a single round trip and returns each sub-response with its own status and body. The batch always answers 200 once the envelope is valid, even if individual items fail, so check each item's `status`. Only the read endpoints listed in the `allowed_paths` of an error item can be batched; a batch counts as one request against the rate limit.",
        "tags": [
          "Bulk"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Every sub-response, in request order.",
            "headers": {
              "RateLimit": {
                "description": "RFC 9331 combined budget, e.g. `limit=120, remaining=118, reset=42`. Read it to pace yourself.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "description": "The API version that served the response.",
                "schema": {
                  "type": "string",
                  "example": "v1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/exports": {
      "post": {
        "operationId": "createExport",
        "summary": "Start a full catalog export (async job)",
        "description": "Starts an export of the diamonds, engagement ring, or jewelry catalog with the same filters the list endpoint accepts, and answers **202 Accepted** with a `Location` header pointing at the job's status URL. Exports complete within seconds: poll `status_url` (honouring `Retry-After`) until `status` is `succeeded`, then download `result_url`. Job ids are self-contained signed tokens valid for 24 hours; there is nothing to cancel.",
        "tags": [
          "Bulk"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "x-async": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The export job was accepted. Poll the `Location` URL.",
            "headers": {
              "Location": {
                "description": "Job status URL (`GET /api/v1/jobs/{id}`).",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before the first poll (2).",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/exports/{id}": {
      "get": {
        "operationId": "downloadExport",
        "summary": "Download a finished export",
        "description": "Streams the export as `application/x-ndjson` (one product per line, default) or as a JSON array, depending on the `format` chosen when the job was created. Rows have exactly the field shape of the matching list endpoint, with prices in US dollars. The response is an attachment (`Content-Disposition`) and is never cached.",
        "tags": [
          "Bulk"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Job id returned by `createExport`.",
            "schema": {
              "type": "string"
            },
            "example": "job_eyJ0IjoiZXhwb3J0In0.abc"
          }
        ],
        "responses": {
          "200": {
            "description": "The export.",
            "headers": {
              "Content-Disposition": {
                "description": "e.g. `attachment; filename=\"ada-diamonds-diamonds-2026-08-25.jsonl\"`",
                "schema": {
                  "type": "string"
                }
              },
              "X-Export-Count": {
                "description": "Number of rows in the export.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "One JSON object per line; each is a Diamond, EngagementRing, or JewelryItem."
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Diamond"
                      },
                      {
                        "$ref": "#/components/schemas/EngagementRing"
                      },
                      {
                        "$ref": "#/components/schemas/JewelryItem"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidJobToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get the status of an async job",
        "description": "Reports the state of a job started by `createExport`. A job is `queued` for a moment after creation (the response carries `Retry-After`) and `succeeded` after that, at which point `result_url` is set. Expired jobs (older than 24 hours) return 410; start a new export.",
        "tags": [
          "Bulk"
        ],
        "security": [
          {},
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Job id returned by `createExport`.",
            "schema": {
              "type": "string"
            },
            "example": "job_eyJ0IjoiZXhwb3J0In0.abc"
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "headers": {
              "Retry-After": {
                "description": "Present while the job is still `queued`: seconds to wait before polling again.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidJobToken"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/consultations": {
      "post": {
        "operationId": "requestConsultation",
        "summary": "Request a jeweler consultation",
        "description": "Creates a real consultation request that a jeweler answers by email within one business day. Requires the `appointments:write` scope, which is only issued through the authorization code flow, so the customer has approved the request. Send an `Idempotency-Key` so a retried request cannot create a duplicate lead; sandbox credentials get a 201 without creating anything.",
        "tags": [
          "Appointments"
        ],
        "security": [
          {
            "oauth2": [
              "appointments:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was recorded.",
            "headers": {
              "Idempotency-Replayed": {
                "description": "`true` when this is the stored response to an earlier request with the same `Idempotency-Key`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A request with this `Idempotency-Key` is still in flight. Retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "This `Idempotency-Key` was already used with a different request body. Use a new key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/api/v1/keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Issue a self-serve API key",
        "description": "Returns a working API key immediately, with no account and no human approval. Keys are limited to the public read scopes and mainly buy a higher rate limit; the key is shown once and stored only as a hash, so save it. Request `env: \"sandbox\"` to get a key whose writes are acknowledged and discarded.",
        "tags": [
          "Onboarding"
        ],
        "security": [
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The key. Store it now; it is not retrievable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/register": {
      "get": {
        "operationId": "describeRegistration",
        "summary": "How self-serve registration works",
        "description": "A short JSON description of the registration endpoint: what to POST, the defaults, and the related OAuth client registration endpoint. Read it once if the 201 body of the POST is not self-explanatory; nothing is created by a GET.",
        "tags": [
          "Onboarding"
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "The description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationDescription"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "registerAgent",
        "summary": "Register an agent: a sandbox API key with no body required",
        "description": "Zero-friction registration. POST with an empty body, plain text, a form, or the same JSON as `/api/v1/keys` and get a working key back at once: no account, no email, no approval. `name` defaults to `self-serve agent key` and `env` to `sandbox`; send `env: \"production\"` for a production key with the same public read scopes. A body shaped like RFC 7591 client metadata (`redirect_uris`, `client_name`) is treated as OAuth dynamic client registration instead. Also served at `/register`, `/signup`, and `/api/agents/register`.",
        "tags": [
          "Onboarding"
        ],
        "security": [
          {}
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The key. Store it now; it is not retrievable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/agents/register": {
      "post": {
        "operationId": "registerAgentAlias",
        "summary": "Alias of POST /api/register",
        "description": "Identical to `POST /api/register`: an empty body returns a sandbox API key at once. Kept because some clients try this path first; `/register` and `/signup` are the same door.",
        "tags": [
          "Onboarding"
        ],
        "security": [
          {}
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The key. Store it now; it is not retrievable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/pricing.md": {
      "get": {
        "operationId": "getPricingMarkdown",
        "summary": "Pricing, as markdown",
        "description": "The single free developer tier (rate limits, scopes, sandbox) and how products are priced (setting plus loose diamond, US dollars), with live price bands from the catalog feeds.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Markdown document",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/?mode=agent": {
      "get": {
        "operationId": "getAgentModeView",
        "summary": "Structured agent view of the site",
        "description": "Any page URL with `?mode=agent` returns interfaces, authentication, capabilities, content indexes, rate limits, and contact as a linked HTML page. Send `Accept: application/json` for JSON or `Accept: text/markdown` for markdown.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Agent view",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "site",
                    "generated_at",
                    "interfaces",
                    "authentication",
                    "capabilities",
                    "content",
                    "rate_limits",
                    "contact"
                  ],
                  "properties": {
                    "site": {
                      "type": "object"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "interfaces": {
                      "type": "object"
                    },
                    "authentication": {
                      "type": "object"
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST"
                            ]
                          },
                          "path": {
                            "type": "string",
                            "format": "uri"
                          },
                          "auth": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "object"
                    },
                    "rate_limits": {
                      "type": "object"
                    },
                    "contact": {
                      "type": "object"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{section}/llms.txt": {
      "get": {
        "operationId": "getSectionLlmsTxt",
        "summary": "Section-level llms.txt",
        "description": "A scoped llms.txt for one section of the site. Served at /developers/llms.txt, /api/llms.txt, /docs/llms.txt, /knowledge-base/llms.txt, /mcp/llms.txt, and /developers/commerce/llms.txt.",
        "tags": [
          "Discovery"
        ],
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "developers",
                "api",
                "docs",
                "knowledge-base",
                "mcp",
                "developers/commerce"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "llms.txt document",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Unknown section"
          }
        }
      }
    },
    "/api/v1/ask": {
      "get": {
        "operationId": "ask",
        "tags": [
          "Search"
        ],
        "summary": "Natural language search (NLWeb)",
        "description": "NLWeb 0.55 endpoint over the live catalog, the knowledge base, and the developer docs. Also served at https://www.adadiamonds.com/ask. Send `Accept: text/event-stream` or `streaming=true` for SSE.",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Natural language query, e.g. `1.5 carat oval under $5000`."
          },
          {
            "in": "query",
            "name": "site",
            "schema": {
              "type": "string",
              "enum": [
                "adadiamonds.com",
                "diamonds",
                "engagement-rings",
                "jewelry",
                "knowledge-base",
                "developers"
              ]
            },
            "description": "Restrict to one corpus."
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "summarize",
                "generate"
              ],
              "default": "list"
            }
          },
          {
            "in": "query",
            "name": "streaming",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "`true` answers as text/event-stream."
          },
          {
            "in": "query",
            "name": "prev",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated previous queries for context."
          },
          {
            "in": "query",
            "name": "query_id",
            "schema": {
              "type": "string"
            },
            "description": "Client-chosen id echoed in `_meta.query_id`."
          }
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Answer (or an application-level failure with HTTP 200).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "Present for mode=summarize or generate; built deterministically from the top results."
                    },
                    "content": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "structuredData": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Present when response_type is failure.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NO_RESULTS",
                            "INVALID_QUERY",
                            "UNSUPPORTED_FORMAT",
                            "UNSUPPORTED_MODE",
                            "RATE_LIMITED",
                            "INTERNAL_ERROR",
                            "TIMEOUT",
                            "TOKEN_LIMIT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events. Named events in order: `start` ({_meta}), `result` ({index, item}) once per item, `complete` ({_meta}); `error` carries the failure envelope."
                }
              }
            }
          },
          "400": {
            "description": "Malformed request (missing query, invalid JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "Present for mode=summarize or generate; built deterministically from the top results."
                    },
                    "content": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "structuredData": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Present when response_type is failure.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NO_RESULTS",
                            "INVALID_QUERY",
                            "UNSUPPORTED_FORMAT",
                            "UNSUPPORTED_MODE",
                            "RATE_LIMITED",
                            "INTERNAL_ERROR",
                            "TIMEOUT",
                            "TOKEN_LIMIT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; `Retry-After` is set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "Present for mode=summarize or generate; built deterministically from the top results."
                    },
                    "content": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "structuredData": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Present when response_type is failure.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NO_RESULTS",
                            "INVALID_QUERY",
                            "UNSUPPORTED_FORMAT",
                            "UNSUPPORTED_MODE",
                            "RATE_LIMITED",
                            "INTERNAL_ERROR",
                            "TIMEOUT",
                            "TOKEN_LIMIT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "askPost",
        "tags": [
          "Search"
        ],
        "summary": "Natural language search (NLWeb, structured body)",
        "description": "Same as GET; accepts the NLWeb 0.55 structured body or the legacy flat body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "NLWeb 0.55 structured request. The legacy flat body {query, site, mode, streaming, prev, query_id} is also accepted.",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "required": [
                      "text"
                    ],
                    "properties": {
                      "text": {
                        "type": "string"
                      },
                      "site": {
                        "type": "string"
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "prev": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "prefer": {
                    "type": "object",
                    "properties": {
                      "streaming": {
                        "type": "boolean"
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "list",
                          "summarize",
                          "generate"
                        ]
                      },
                      "response_format": {
                        "type": "string",
                        "enum": [
                          "conversational_search",
                          "chatgpt_app"
                        ]
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "examples": [
                          "0.55"
                        ]
                      }
                    }
                  }
                }
              },
              "example": {
                "query": {
                  "text": "1.5 carat oval under $5000"
                },
                "prefer": {
                  "mode": "summarize",
                  "streaming": false
                },
                "meta": {
                  "version": "0.55"
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Answer (or an application-level failure with HTTP 200).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "Present for mode=summarize or generate; built deterministically from the top results."
                    },
                    "content": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "structuredData": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Present when response_type is failure.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NO_RESULTS",
                            "INVALID_QUERY",
                            "UNSUPPORTED_FORMAT",
                            "UNSUPPORTED_MODE",
                            "RATE_LIMITED",
                            "INTERNAL_ERROR",
                            "TIMEOUT",
                            "TOKEN_LIMIT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events. Named events in order: `start` ({_meta}), `result` ({index, item}) once per item, `complete` ({_meta}); `error` carries the failure envelope."
                }
              }
            }
          },
          "400": {
            "description": "Malformed request (missing query, invalid JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "Present for mode=summarize or generate; built deterministically from the top results."
                    },
                    "content": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "structuredData": {
                      "type": "array",
                      "description": "chatgpt_app format only.",
                      "items": {
                        "type": "object",
                        "description": "An NLWeb result: schema.org fields at top level plus the reference-server fields.",
                        "required": [
                          "@type",
                          "url",
                          "name",
                          "site",
                          "score",
                          "schema_object"
                        ],
                        "properties": {
                          "@type": {
                            "type": "string",
                            "examples": [
                              "Product",
                              "Article",
                              "TechArticle",
                              "SearchSummary"
                            ]
                          },
                          "@context": {
                            "type": "string",
                            "const": "https://schema.org"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          },
                          "site": {
                            "type": "string",
                            "const": "adadiamonds.com"
                          },
                          "siteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100
                          },
                          "description": {
                            "type": "string"
                          },
                          "schema_object": {
                            "type": "object",
                            "description": "Full schema.org JSON-LD (Product with offers in USD, or Article).",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Present when response_type is failure.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NO_RESULTS",
                            "INVALID_QUERY",
                            "UNSUPPORTED_FORMAT",
                            "UNSUPPORTED_MODE",
                            "RATE_LIMITED",
                            "INTERNAL_ERROR",
                            "TIMEOUT",
                            "TOKEN_LIMIT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; `Retry-After` is set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_meta"
                  ],
                  "properties": {
                    "_meta": {
                      "type": "object",
                      "required": [
                        "response_type",
                        "version"
                      ],
                      "properties": {
                        "response_type": {
                          "type": "string",
                          "enum": [
                            "answer",
                            "failure"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "examples": [
                            "0.55"
                          ]
                        },
                        "response_format": {
                          "type": "string",
                          "enum": [
                            "conversational_search",
                            "chatgpt_app"
                          ]
                        },
                        "query_id": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
[...]
