{
  "openapi": "3.1.0",
  "info": {
    "title": "CommsHarbor",
    "version": "9b238192",
    "description": "CommsHarbor API for contacts, emails and delivery results. Each call uses its organisation's identity. Incoming mail is currently unavailable.",
    "x-jentic-source-url": "https://commsharbor.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://commsharbor.com"
    }
  ],
  "paths": {
    "/agent.json": {
      "get": {
        "operationId": "get_agent_json",
        "summary": "Agent card: identity, operator, documentation, the MCP endpoint and the tools it serves. Same document as `/.well-known/agent-card.json`.",
        "description": "Returns: `application/json`: `name`, `provider`, `protocol` (`mcp`), `interfaces[]` and `skills[]`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/json`: `name`, `provider`, `protocol` (`mcp`), `interfaces[]` and `skills[]`."
          }
        }
      }
    },
    "/okf/{arquivo}": {
      "get": {
        "operationId": "get_okf_by_arquivo",
        "summary": "OKF bundle (Open Knowledge Format v0.1): markdown with frontmatter so an agent reads the whole product without parsing HTML.",
        "description": "Returns: `text/markdown`. Start at `/okf/index.md`, which lists the bundle.",
        "security": [],
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`index.md`, `sobre.md`, `api.md` or `faq.md`.",
            "example": "index.md"
          }
        ],
        "responses": {
          "200": {
            "description": "`text/markdown`. Start at `/okf/index.md`, which lists the bundle."
          },
          "404": {
            "description": "File outside the bundle."
          }
        }
      }
    },
    "/.well-known/{arquivo}": {
      "get": {
        "operationId": "get_well_known_by_arquivo",
        "summary": "Machine discovery before the home page: `api-catalog` (RFC 9727, a linkset with the API and the MCP), `security.txt` (RFC 9116), `x402` (payment manifest: network, wallet and the routes that charge) and `mcp-registry-auth` (the official MCP registry key).",
        "description": "Returns: `application/linkset+json` for the api-catalog; `application/json` for x402 and apis.json; `text/plain` for the other two.",
        "security": [],
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`api-catalog`, `security.txt`, `x402`, `mcp-registry-auth` or `apis.json`.",
            "example": "api-catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "`application/linkset+json` for the api-catalog; `application/json` for x402 and apis.json; `text/plain` for the other two."
          },
          "404": {
            "description": "Name outside the five published."
          }
        }
      }
    },
    "/apis.json": {
      "get": {
        "operationId": "get_apis_json",
        "summary": "APIs.json (apisjson.org, 0.19): the index APIs.io harvests — the API, the MCP, OpenAPI, guide and OKF bundle in one file. Also at `/.well-known/apis.json`.",
        "description": "Returns: `application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`."
          }
        }
      }
    },
    "/api/": {
      "get": {
        "operationId": "get_api",
        "summary": "Discover the whole API: every endpoint, every auth mode and the MCP endpoint.",
        "description": "Returns: { name, description, build, environment, base_url, docs, auth, endpoints, mcp, mcp_tools }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ name, description, build, environment, base_url, docs, auth, endpoints, mcp, mcp_tools }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "commsharbor_health",
        "summary": "Read liveness, environment and the commit currently deployed.",
        "description": "Smoke tests wait for their own commit to appear here instead of racing edge propagation.\nReturns: { ok, app, build, environment, timestamp }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ ok, app, build, environment, timestamp }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "get": {
        "operationId": "get_mcp",
        "summary": "Inspect the remote MCP server card: transport, protocol and tool count.",
        "description": "`POST /mcp` speaks Streamable HTTP with JSON-RPC 2.0. The tools are the operations in this catalog; the MCP has no backend of its own.\nReturns: { transport, protocol_version, endpoint, server, tools, usage, api_index }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ transport, protocol_version, endpoint, server, tools, usage, api_index }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transport": {
                      "type": "string",
                      "description": "How the server speaks — `streamable-http`."
                    },
                    "protocol_version": {
                      "type": "string",
                      "description": "MCP protocol version the server implements."
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "Absolute URL to POST JSON-RPC to."
                    },
                    "server": {
                      "type": "object",
                      "description": "`name` and `version` of this server; the version is the deployed commit."
                    },
                    "tools": {
                      "type": "integer",
                      "description": "How many tools the server exposes."
                    },
                    "usage": {
                      "type": "string",
                      "description": "One line saying how to call it."
                    },
                    "api_index": {
                      "type": "string",
                      "description": "The self-describing API index, for the operations behind the tools."
                    }
                  },
                  "required": [
                    "transport",
                    "protocol_version",
                    "endpoint",
                    "server",
                    "tools",
                    "usage",
                    "api_index"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/bootstrap": {
      "get": {
        "operationId": "get_api_auth_bootstrap",
        "summary": "Prepare the browser for global sign-in.",
        "description": "Sets a host-only HttpOnly browser cookie. CSRF is bound to the current session. No CORS.\nReturns: { csrf, context }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ csrf, context }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "csrf": {
                      "type": "string",
                      "description": "X-CSRF-Token"
                    },
                    "context": {
                      "type": "string",
                      "description": "Opaque view context, also in X-MM-Context; not a credential / contexto opaco da vista, não é credencial."
                    }
                  },
                  "required": [
                    "csrf",
                    "context"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_request"
          },
          "403": {
            "description": "invalid_origin / invalid_csrf"
          },
          "503": {
            "description": "auth_unavailable: a sessão anterior é preservada / the previous session is preserved"
          }
        }
      }
    },
    "/api/account/profile": {
      "get": {
        "operationId": "get_api_account_profile",
        "summary": "Read your global profile.",
        "description": "Reads current preferences from the account. Edit them on your account page; products never own a separate profile.\nReturns: {profile:{name,locale,timeZone,theme,revision}}",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{profile:{name,locale,timeZone,theme,revision}}"
          },
          "401": {
            "description": "invalid_session"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/account/avatar": {
      "get": {
        "operationId": "get_api_account_avatar",
        "summary": "Read your global profile photo.",
        "description": "Private WebP, up to 64 KiB, no cache. Change it on your account. No user ID or object URL accepted.\nReturns: image/webp; Cache-Control: no-store",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "image/webp; Cache-Control: no-store",
            "content": {
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "invalid_session"
          },
          "404": {
            "description": "not_found: no photo / sem foto"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "commsharbor_logout",
        "summary": "Revoke this product session.",
        "description": "Bootstrap/CSRF must belong to this browser and session. Other product sessions remain active.\nReturns: { ok }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "true"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_request"
          },
          "403": {
            "description": "invalid_origin / invalid_csrf"
          },
          "503": {
            "description": "auth_unavailable: a sessão anterior é preservada / the previous session is preserved"
          }
        }
      }
    },
    "/api/account/keys": {
      "get": {
        "operationId": "get_api_account_keys",
        "summary": "List your API keys in this product.",
        "description": "Never returns the key itself: name, last 4 characters, organization, creation, last use (hourly) and whether it still works.\nReturns: { keys }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ keys }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "`id`, `name`, `organizationId`, `last4`, `createdAt`, `lastUsedAt`, `revokedAt`, `active` (false when revoked or stopped by a password change / ending all sessions)."
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "invalid_session"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/account/keys/create": {
      "post": {
        "operationId": "post_api_account_keys_create",
        "summary": "Create an API key for agents and scripts.",
        "description": "Needs a sign-in in the last 5 minutes; an organization key also needs a second factor in the session and the owner/admin role with this product enabled. At most 10 live keys per account and product. The key (`secret`) is returned ONCE.\nReturns: { key, secret }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Up to 60 characters."
                  },
                  "organizationId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "`null` for an account key."
                  }
                },
                "required": [
                  "name",
                  "organizationId"
                ]
              },
              "example": {
                "name": "agent",
                "organizationId": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ key, secret }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "object",
                      "description": "`id`, `name`, `organizationId`, `last4`, `createdAt`."
                    },
                    "secret": {
                      "type": "string",
                      "description": "`mmk_…`, shown once."
                    }
                  },
                  "required": [
                    "key",
                    "secret"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_key_name / invalid_organization"
          },
          "401": {
            "description": "invalid_session / reauth_required"
          },
          "403": {
            "description": "invalid_origin / invalid_csrf / organization_forbidden / organization_mfa_required"
          },
          "409": {
            "description": "key_limit_reached"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/account/keys/revoke": {
      "post": {
        "operationId": "post_api_account_keys_revoke",
        "summary": "Revoke one of your API keys.",
        "description": "Stops the key at once. Repeating is harmless.\nReturns: { ok }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The key `id`."
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "true"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_key_id"
          },
          "401": {
            "description": "invalid_session"
          },
          "403": {
            "description": "invalid_origin / invalid_csrf"
          },
          "404": {
            "description": "key_not_found"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/auth/wallet/agent/start": {
      "post": {
        "operationId": "post_api_auth_wallet_agent_start",
        "summary": "Start the wallet credential of an agent without an account.",
        "description": "No account: the wallet proves it is hers by signing the message (EIP-4361). Signing does not pay or transfer anything. The message names this product and lasts 5 minutes. Sign it with personal_sign and send it to /api/auth/wallet/agent/token.\nReturns: { message, issuedAt, expiresIn }",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "0x…, a carteira (EOA ou contrato na Base)"
                  }
                },
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": "0x2c7536E3605D9C16a7a3D7b1898e529396a65c23"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ message, issuedAt, expiresIn }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "EIP-4361"
                    },
                    "issuedAt": {
                      "type": "number",
                      "description": "segundos / seconds"
                    },
                    "expiresIn": {
                      "type": "number",
                      "description": "300"
                    }
                  },
                  "required": [
                    "message",
                    "issuedAt",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_wallet_address"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/auth/wallet/agent/token": {
      "post": {
        "operationId": "post_api_auth_wallet_agent_token",
        "summary": "Get the wallet credential (mmw_…) of this product.",
        "description": "The wallet's signature of the start message, checked here (own key) or on Base (contract, EIP-1271/6492). The credential lasts 30 days: send `Authorization: Bearer mmw_…` to the routes that accept the wallet as owner (owner `x402:<address>`). Once the wallet is linked to an account, what it did here moves to the account when the person signs in.\nReturns: { token, owner, expiresAt }",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "0x…, a mesma carteira do start / the same wallet as in start"
                  },
                  "issuedAt": {
                    "type": "number",
                    "description": "o issuedAt do start / start's issuedAt"
                  },
                  "signature": {
                    "type": "string",
                    "description": "personal_sign (0x…)"
                  }
                },
                "required": [
                  "address",
                  "issuedAt",
                  "signature"
                ]
              },
              "example": {
                "address": "0x2c7536E3605D9C16a7a3D7b1898e529396a65c23",
                "issuedAt": 1791400000,
                "signature": "0x…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ token, owner, expiresAt }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "mmw_…"
                    },
                    "owner": {
                      "type": "string",
                      "description": "x402:0x…"
                    },
                    "expiresAt": {
                      "type": "number",
                      "description": "segundos / seconds"
                    }
                  },
                  "required": [
                    "token",
                    "owner",
                    "expiresAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_body"
          },
          "401": {
            "description": "invalid_wallet"
          },
          "429": {
            "description": "wallet_limited"
          },
          "503": {
            "description": "wallet_unavailable / auth_unavailable"
          }
        }
      }
    },
    "/api/auth/claim/wallets": {
      "post": {
        "operationId": "post_api_auth_claim_wallets",
        "summary": "Move to the account what its wallets did without an account.",
        "description": "The sign-in window calls it after every sign-in. For each wallet linked to the account: the rights bought here by x402 (owner x402:<address>) and what this product keeps for that owner. Repeating moves nothing.\nReturns: { carteiras, direitos }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ carteiras, direitos }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "carteiras": {
                      "type": "number",
                      "description": "wallets"
                    },
                    "direitos": {
                      "type": "number",
                      "description": "rights moved"
                    }
                  },
                  "required": [
                    "carteiras",
                    "direitos"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "invalid_session"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/guest": {
      "post": {
        "operationId": "post_api_guest",
        "summary": "Open or restore a temporary workspace in this browser.",
        "description": "Sets a host-only HttpOnly guest cookie. The SDK limits issuance to 20 per network per hour; a valid cookie is reused.\nReturns: { guest_token }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ guest_token }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guest_token": {
                      "type": "string",
                      "description": "Signed guest token for an API client."
                    }
                  },
                  "required": [
                    "guest_token"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "guest_rate_limited"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/visitor": {
      "get": {
        "operationId": "get_api_visitor",
        "summary": "Read the temporary workspace id.",
        "description": "The id is derived by the shared account library; product data stays under this id when you link an account.\nReturns: { organization }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ organization }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "description": "`{id,name:null,role:'guest'}`."
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized / guest_ended"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/auth/claim": {
      "post": {
        "operationId": "post_api_auth_claim",
        "summary": "Attach this browser's temporary workspace to your global account.",
        "description": "Requires a recent sign-in with a second factor, as organization ownership does. The workspace stays available as a guest until the claim succeeds.\nReturns: { ok }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "true when linked."
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — no account session; sign in at `/conta/global` first"
          },
          "409": {
            "description": "guest_claim_mfa_required / guest_already_claimed"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "operationId": "commsharbor_me",
        "summary": "Read the global profile and the platform role, if any.",
        "description": "`user.id` is the shared-account ID. Organizations are not listed here: they live in the shared account, which does not list them inside products yet — open a workspace by its ID with `GET /api/organizations/{organization_id}`.\nReturns: { user{id,email}, profile{name,locale,timeZone,theme,revision}, platform_role }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ user{id,email}, profile{name,locale,timeZone,theme,revision}, platform_role }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ],
                      "description": "The person behind the session."
                    },
                    "profile": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Profile"
                        }
                      ],
                      "description": "Global MM profile — it belongs to the person, edited on the account, not to a tenant."
                    },
                    "platform_role": {
                      "type": "string",
                      "description": "Platform role, when one was explicitly granted. Owning a tenant grants nothing here.",
                      "nullable": true
                    }
                  },
                  "required": [
                    "user",
                    "profile",
                    "platform_role"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No session, or the session expired."
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/account/organizations": {
      "get": {
        "operationId": "get_api_account_organizations",
        "summary": "List your organizations: ID, name and your role.",
        "description": "Served by the shared account on this domain; every organization you belong to, whether or not this product is enabled there. Creating, renaming, members, invitations and organization API keys are on the account page, `/conta/global`.\nReturns: { organizations, next }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`next` of the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "{ organizations, next }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Up to 8 per page: `id`, `name`, `revision`, `role` (`owner`, `admin` or `member`) and `mfaRequired`."
                    },
                    "next": {
                      "type": "string",
                      "description": "Cursor for the next page.",
                      "nullable": true
                    }
                  },
                  "required": [
                    "organizations",
                    "next"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid_organization_cursor"
          },
          "401": {
            "description": "invalid_session"
          },
          "404": {
            "description": "organization_not_found"
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/context": {
      "get": {
        "operationId": "commsharbor_context",
        "summary": "Resolve which organization and role the current session or API key is acting as.",
        "description": "Read this before a write when you are not certain which tenant is active. Guessing is how data lands in the wrong organization. An organization API key answers `kind: api_key` with its scopes.\nReturns: { kind, organizationId, userId, sessionId, apiKeyId, scopes, role, organization }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Which organization to act in; required with a session. The shared account checks, on every request, that you belong to it and that CommsHarbor is enabled for it. An organization API key opens only its own organization: send that ID, or omit the header."
          }
        ],
        "responses": {
          "200": {
            "description": "{ kind, organizationId, userId, sessionId, apiKeyId, scopes, role, organization }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}": {
      "get": {
        "operationId": "commsharbor_organization_get",
        "summary": "Open one organization: its name, your role and its CommsHarbor plan.",
        "description": "This is how a workspace is opened. Name and role come from the shared account (null with an organization API key, which carries neither); the plan is the organization's global entitlement in CommsHarbor.\nReturns: { id, name, role, plan }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Which organization to act in; required with a session. The shared account checks, on every request, that you belong to it and that CommsHarbor is enabled for it. An organization API key opens only its own organization: send that ID, or omit the header."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, name, role, plan }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/audit": {
      "get": {
        "operationId": "commsharbor_audit",
        "summary": "List the append-only audit trail of the organization.",
        "description": "Audit records are never rewritten and never carry recipient PII.\nReturns: { items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from the previous page. Do not build or parse it."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Page size, from 1 to 100."
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageCamelAuditEvent"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/platform/context": {
      "get": {
        "operationId": "commsharbor_platform_context",
        "summary": "Confirm an explicitly granted platform administrator.",
        "description": "Tenant ownership grants nothing here: platform access is a separate, explicit grant.\nReturns: { role, user_id }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ role, user_id }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "The platform role that was granted."
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Who holds it."
                    }
                  },
                  "required": [
                    "role",
                    "user_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No session."
          },
          "403": {
            "description": "This person has no platform grant."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/domains": {
      "get": {
        "operationId": "commsharbor_domains",
        "summary": "List the sending domains of the organization and their last observed state.",
        "description": "`status` is what was last OBSERVED at SES and DNS. It does not become `active` because provisioning was requested.\nReturns: { items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDomain"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      },
      "post": {
        "operationId": "commsharbor_domain_create",
        "summary": "Register the organization's sending domain and queue idempotent SES provisioning.",
        "description": "Asking twice does not provision twice. Publish the returned DKIM records, then call `verify` to have the state observed.\nReturns: { domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The domain to send from, e.g. `example.com`."
                  }
                },
                "required": [
                  "domain"
                ]
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Domain"
                        }
                      ],
                      "description": "The registered domain, with the DKIM records to publish."
                    },
                    "provisioning": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Provisioning"
                        }
                      ],
                      "description": "Whether this call enqueued provisioning work."
                    }
                  },
                  "required": [
                    "domain",
                    "provisioning"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed domain."
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/domains/{domain_id}": {
      "get": {
        "operationId": "commsharbor_domain_get",
        "summary": "Read one sending domain, without inferring current DNS state.",
        "description": "This returns what was stored at the last observation. To look again, call `verify`.\nReturns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sending domain ID, from the domains listing.",
            "example": "$DOMAIN"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/domains/{domain_id}/verify": {
      "post": {
        "operationId": "commsharbor_domain_verify",
        "summary": "Observe SES, DKIM, DMARC and custom MAIL FROM state right now, and store what was seen.",
        "description": "This is the ONLY operation that can move a domain to `active`, and only because it actually looked.\nReturns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sending domain ID, from the domains listing.",
            "example": "$DOMAIN"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/domains/{domain_id}/smoke": {
      "post": {
        "operationId": "commsharbor_domain_smoke",
        "summary": "Queue one controlled smoke message to the server-side QA recipient.",
        "description": "The request never accepts a recipient: the destination is a server-side secret. That is what keeps this from becoming a way to send mail to arbitrary addresses through someone else's verified domain.\nReturns: { delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sending domain ID, from the domains listing.",
            "example": "$DOMAIN"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivery": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Delivery"
                        }
                      ],
                      "description": "The delivery record for the smoke."
                    },
                    "capacity": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Capacity"
                        }
                      ],
                      "description": "What is left to send after it."
                    },
                    "dispatch": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Dispatch"
                        }
                      ],
                      "description": "The queue work behind it."
                    }
                  },
                  "required": [
                    "delivery",
                    "capacity",
                    "dispatch"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "409": {
            "description": "The domain is not active yet — verify it first."
          },
          "429": {
            "description": "The plan expired (`send_entitlement_expired`), the send allowance is used up (`send_allowance_exhausted`: each recipient uses one unit, and what does not fit whole is refused whole), or no global capacity left (`global_hard_cap`)."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/domains/{domain_id}/deliveries": {
      "get": {
        "operationId": "commsharbor_domain_deliveries",
        "summary": "List deliveries sent from one domain, without recipient addresses.",
        "description": "Returns: { items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sending domain ID, from the domains listing.",
            "example": "$DOMAIN"
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDelivery"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/deliveries/{delivery_id}": {
      "get": {
        "operationId": "commsharbor_delivery_get",
        "summary": "Read one delivery and its SES MessageId, without recipient data.",
        "description": "`ses_message_id` is what correlates this record with AWS when you need to chase a message there.\nReturns: { id, status, domain_id, template_id, template_version, ses_message_id, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "delivery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Delivery ID returned when the message was queued.",
            "example": "$DELIVERY"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, status, domain_id, template_id, template_version, ses_message_id, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delivery"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/deliveries/{delivery_id}/events": {
      "get": {
        "operationId": "commsharbor_delivery_events",
        "summary": "List the normalized SES feedback events for one delivery.",
        "description": "Open and Click are ADDITIVE: they are recorded alongside delivery state and never overwrite it.\nReturns: { items[{id,event_type,occurred_at,detail}] }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "delivery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Delivery ID returned when the message was queued.",
            "example": "$DELIVERY"
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,event_type,occurred_at,detail}] }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDeliveryEvent"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/aws/sns": {
      "post": {
        "operationId": "post_api_aws_sns",
        "summary": "Receive a signed Amazon SNS callback for the configured SES topic.",
        "description": "This callback never accepts a user credential. It requires a valid SNS signature, a certificate URL in the expected AWS region, and the exact configured TopicArn — anything else is rejected before the body is read.\nReturns: `204 No Content` when the notification was accepted.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "`204 No Content` when the notification was accepted."
          },
          "400": {
            "description": "Malformed notification, or a certificate URL outside the expected region."
          },
          "403": {
            "description": "Bad signature, or a TopicArn other than the configured one."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/tracking-domain": {
      "get": {
        "operationId": "commsharbor_tracking_domain",
        "summary": "Read the organization's tracking domain and the CNAME it needs.",
        "description": "`null` when the organization has none — then every link falls back to the platform origin.\nReturns: { organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "responses": {
          "200": {
            "description": "{ organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingDomain"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      },
      "post": {
        "operationId": "commsharbor_tracking_domain_create",
        "summary": "Register the host that will serve this organization's message links.",
        "description": "One per organization, and the host is unique across the platform — two tenants claiming the same name would make link routing ambiguous. Registering does not activate: publish the CNAME, then call `verify`.\nReturns: { organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The tracking host, e.g. `links.example.com`."
                  }
                },
                "required": [
                  "domain"
                ]
              },
              "example": {
                "domain": "links.example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingDomain"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed domain."
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "409": {
            "description": "This organization already has a tracking domain, or the host belongs to another one."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      },
      "delete": {
        "operationId": "commsharbor_tracking_domain_remove",
        "summary": "Remove the tracking domain and send links back to the platform origin.",
        "description": "Links already sent keep pointing at the removed host: this stops NEW messages, not old ones.\nReturns: { removed, domain }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "responses": {
          "200": {
            "description": "{ removed, domain }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean",
                      "description": "Always true when it existed."
                    },
                    "domain": {
                      "type": "string",
                      "description": "The host that was removed."
                    }
                  },
                  "required": [
                    "removed",
                    "domain"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/tracking-domain/verify": {
      "post": {
        "operationId": "commsharbor_tracking_domain_verify",
        "summary": "Probe the host right now and store what was seen.",
        "description": "The only operation that can move a tracking domain to `active`, and it does so only after reaching this product's own health endpoint ON that host. A host that used to answer and stopped becomes `failed`, and links go back to the platform origin immediately.\nReturns: { organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ organization_id, domain, state, checks, dns_record, last_checked_at, created_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingDomain"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/inboxes": {
      "get": {
        "operationId": "commsharbor_inboxes",
        "summary": "List this organisation's configured inbox addresses.",
        "description": "Up to 100, newest first. A disabled address keeps its readable history. Incoming mail is currently unavailable.\nReturns: { id, local_part, domain, address, status, created_at, updated_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, local_part, domain, address, status, created_at, updated_at }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Inbox"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      },
      "post": {
        "operationId": "commsharbor_inbox_create",
        "summary": "Create an address on a verified sending domain.",
        "description": "The domain must already be `verified` or `active`. Incoming mail is currently unavailable. Creating the address or changing mail records does not enable receipt.\nReturns: { id, local_part, domain, address, status, created_at, updated_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "local_part": {
                    "type": "string",
                    "description": "What comes before the `@`: lowercase letters, digits and `._+-`, 1 to 64 characters."
                  },
                  "domain": {
                    "type": "string",
                    "description": "A sending domain of this organization."
                  }
                },
                "required": [
                  "local_part",
                  "domain"
                ]
              },
              "example": {
                "local_part": "support",
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ id, local_part, domain, address, status, created_at, updated_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "400": {
            "description": "The local part is not a valid mailbox name."
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "409": {
            "description": "That address already exists."
          },
          "422": {
            "description": "The sending domain is not registered or not verified yet; the message names it."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/inboxes/{inbox_id}": {
      "get": {
        "operationId": "commsharbor_inbox_get",
        "summary": "Read one configured inbox address and its saved status.",
        "description": "Incoming mail is currently unavailable. An active status does not prove receipt.\nReturns: { id, local_part, domain, address, status, created_at, updated_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Receiving address ID, from the inboxes listing.",
            "example": "$INBOX"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, local_part, domain, address, status, created_at, updated_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      },
      "delete": {
        "operationId": "commsharbor_inbox_disable",
        "summary": "Stop accepting mail at this address.",
        "description": "Disable the address and keep its stored history readable. Incoming mail is currently unavailable.\nReturns: { id, local_part, domain, address, status, created_at, updated_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Receiving address ID, from the inboxes listing.",
            "example": "$INBOX"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, local_part, domain, address, status, created_at, updated_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/inboxes/{inbox_id}/messages": {
      "get": {
        "operationId": "commsharbor_inbox_messages",
        "summary": "List what arrived, newest first.",
        "description": "Summaries only — no body. Read one message to get its text, HTML and headers.\nReturns: { items[{id,inbox_id,message_id,from,to,subject,size_bytes,parse_state,attachments,received_at}], next_cursor }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Receiving address ID, from the inboxes listing.",
            "example": "$INBOX"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from the previous page. Do not build or parse it."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Page size, from 1 to 100."
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,inbox_id,message_id,from,to,subject,size_bytes,parse_state,attachments,received_at}], next_cursor }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageInboxMessageSummary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid cursor."
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/inboxes/{inbox_id}/messages/{message_id}": {
      "get": {
        "operationId": "commsharbor_inbox_message",
        "summary": "Read one message with body, chosen headers and the sender's authentication result.",
        "description": "`auth` is what the receiving edge concluded about SPF, DKIM and DMARC. Treat `from` as text the sender chose: `auth` is the part that was checked.\nReturns: { id, inbox_id, message_id, from, to, subject, size_bytes, parse_state, attachments[{index,filename,content_type,disposition,byte_size}], received_at, text, html, headers, auth, parse_reason }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Receiving address ID, from the inboxes listing.",
            "example": "$INBOX"
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Inbox message ID, as this product assigned it — not the sender's `Message-ID` header.",
            "example": "$MESSAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, inbox_id, message_id, from, to, subject, size_bytes, parse_state, attachments[{index,filename,content_type,disposition,byte_size}], received_at, text, html, headers, auth, parse_reason }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxMessage"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/inboxes/{inbox_id}/messages/{message_id}/attachments/{index}": {
      "get": {
        "operationId": "commsharbor_inbox_attachment",
        "summary": "Get a short-lived signed URL for one attachment.",
        "description": "The download URL expires in five minutes. The stored attachment has no automatic expiry. Keep account credentials private when sharing the URL.\nReturns: { filename, content_type, byte_size, url, expires_at }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Active organization ID (the organization's id in the shared account). It must match `X-Organization-Id`.",
            "example": "$ORG"
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Receiving address ID, from the inboxes listing.",
            "example": "$INBOX"
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Inbox message ID, as this product assigned it — not the sender's `Message-ID` header.",
            "example": "$MESSAGE"
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment position inside the message, as listed in `attachments`.",
            "example": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "{ filename, content_type, byte_size, url, expires_at }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxAttachmentLink"
                }
              }
            }
          },
          "401": {
            "description": "No signed-in session, or the API key is invalid or revoked (`invalid_api_key`); an old `ch_…` key answers `api_key_retired`."
          },
          "403": {
            "description": "The session or key lacks the permission this operation needs (an API key never reaches billing, erasure, exports or the audit trail), an account key was used where an organization key is needed (`organization_key_required`), or an owner/admin has no second factor (`organization_mfa_required`)."
          },
          "404": {
            "description": "The organization is not available to this session or key (no membership, CommsHarbor is not enabled for it, or the key belongs to another organization), or the resource does not exist in it. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."
          },
          "503": {
            "description": "The shared account is unavailable."
          }
        }
      }
    },
    "/api/inbox-attachments/{token}": {
      "get": {
        "operationId": "get_api_inbox_attachments_by_token",
        "summary": "Download the attachment bytes with a signed capability.",
        "description": "The token carries organization, message and index, so no path from the request ever reaches storage. Expired tokens answer 410 — ask the attachment route for a fresh one.\nReturns: The attachment bytes, with the sender's declared `content-type`, `nosniff` and `content-disposition: attachment`. There is no JSON envelope: the body is the file.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signed capability from the attachment route. It is scoped to one attachment and expires.",
            "example": "$TOKEN"
          }
        ],
        "responses": {
          "200": {
            "description": "The attachment bytes, with the sender's declared `content-type`, `nosniff` and `content-disposition: attachment`. There is no JSON envelope: the body is the file."
          },
          "401": {
            "description": "The capability is malformed or its signature does not verify. This route accepts no session and no API key — the token is the whole credential."
          },
          "404": {
            "description": "The capability verifies, but that attachment is not there — including a token signed for another organization."
          },
          "410": {
            "description": "The capability expired. Ask the attachment route for a fresh one."
          }
        }
      }
    },
    "/api/organizations/{organization_id}/crm/contacts": {
      "get": {
        "operationId": "commsharbor_crm_contacts_list",
        "summary": "List contacts in the tenant CRM — a person in the tenant CRM.",
[...]
