{
  "openapi": "3.1.0",
  "info": {
    "title": "Cookie Free Analytics read API",
    "version": "1.0.0",
    "description": "Aggregates you already see on the dashboard. Bearer token from /app/account. Starter and Growth. No visitor hashes, no raw rows, no Hobby.",
    "x-jentic-source-url": "https://www.cookiefreeanalytics.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.cookiefreeanalytics.com"
    }
  ],
  "paths": {
    "/api/v1/sites": {
      "get": {
        "summary": "Sites you own",
        "operationId": "listSites"
      }
    },
    "/api/v1/sites/{siteId}/overview": {
      "get": {
        "summary": "Visitors, visits, pageviews, bounce, duration, live",
        "operationId": "siteOverview",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "7d"
            }
          },
          {
            "name": "f",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Dashboard filter string"
            }
          }
        ]
      }
    },
    "/api/v1/sites/{siteId}/pages": {
      "get": {
        "summary": "Top pages",
        "operationId": "sitePages"
      }
    },
    "/api/v1/sites/{siteId}/sources": {
      "get": {
        "summary": "Top sources",
        "operationId": "siteSources"
      }
    },
    "/api/v1/sites/{siteId}/live": {
      "get": {
        "summary": "Last path in five minutes, no heartbeat",
        "operationId": "siteLive"
      }
    },
    "/api/v1/sites/{siteId}/funnels": {
      "get": {
        "summary": "Linear same-day funnels (Growth)",
        "operationId": "siteFunnels"
      }
    },
    "/api/v1/sites/{siteId}/watch": {
      "get": {
        "summary": "Watch state, uptime, TTFB, TLS (Starter+)",
        "operationId": "siteWatch"
      }
    },
    "/api/v1/sites/{siteId}/watch/incidents": {
      "get": {
        "summary": "Watch incidents (Starter+)",
        "operationId": "siteWatchIncidents"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "cfa_live_"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}