{
  "openapi": "3.1.1",
  "info": {
    "title": "Crevio API V1",
    "version": "1.0.0",
    "description": "API for the Crevio creator platform — a multi-tenant SaaS for digital product sales.\nUses snake_case keys following Stripe conventions. All resource IDs are string IDs (e.g., \"prod_abc123\").\n\nAuthentication is a bearer token: `Authorization: Bearer $CREVIO_API_KEY`.\nList endpoints are cursor-paginated with `limit` and `starting_after`.\nWrites accept an `Idempotency-Key` header and are safe to retry.\n\nEvery response carries IETF RateLimit headers (`RateLimit`, `RateLimit-Policy`) so a client can\nself-throttle, and `Retry-After` on a 429. The quota is 600 requests per minute per credential.\n\nThe API is versioned in the URL path (`/v1`). Nothing is removed without in-band warning: a\ndeprecated operation is marked `\"deprecated\": true` here and serves `Deprecation` (RFC 9745),\n`Sunset` (RFC 8594) and `Link; rel=\"deprecation\"` headers for at least six months before it\nstops answering. See https://crevio.co/docs/developer/guides/versioning.\n",
    "contact": {
      "email": "support@crevio.co",
      "name": "Crevio Support",
      "url": "https://crevio.co/docs"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://crevio.co/legal/terms-of-service",
    "x-jentic-source-url": "https://api.crevio.co/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.crevio.co/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get current account",
        "description": "Returns information about the authenticated account",
        "operationId": "getAccount",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.account.get();\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "patch": {
        "summary": "Update current account",
        "description": "Updates the authenticated account's information",
        "operationId": "updateAccount",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Plan upgrade required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.account.update({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads": {
      "get": {
        "summary": "List ads",
        "description": "Ads with metrics, scoped to the tenant's accounts.",
        "operationId": "adsList",
        "x-speakeasy-group": "ads",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Connected ad-capable channel id (sacct_…).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by platform: facebook, instagram, tiktok, linkedin, pinterest, google, twitter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Filter by platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "zernio (Crevio-created only) or all (incl. externally synced). Defaults to all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start of date range (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of date range (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.list();\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "post": {
        "summary": "Create ad",
        "description": "Create a standalone ad with its own creative.",
        "operationId": "adsCreate",
        "x-speakeasy-group": "ads",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Ad to create.",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "ad_account_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "budget_amount": {
                    "type": "number",
                    "description": "Budget for the new ad set (or campaign, with budget_level=campaign). Whole currency units, NOT cents: 20 = $20.00. Meta's own Marketing API takes this number in minor units, so it is an easy and expensive mix-up — 2000 here buys $2000.00 of ads, not $20.00."
                  },
                  "budget_type": {
                    "type": "string",
                    "description": "`daily` or `lifetime`. A lifetime budget also needs `end_date`."
                  },
                  "headline": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "call_to_action": {
                    "type": "string"
                  },
                  "link_url": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created ad.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Created ad."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.create({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/ad-accounts": {
      "get": {
        "summary": "List ad accounts",
        "description": "Platform ad accounts (Meta, Google, TikTok…) under a connected channel.",
        "operationId": "adsAdAccountsList",
        "x-speakeasy-group": "ads.adAccounts",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Connected ad-capable channel id (sacct_…).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "ad_account_id",
            "in": "query",
            "description": "Platform ad account id (e.g. Meta act_…).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ad accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adAccounts.list({\n    accountId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/ad-groups/{id}": {
      "get": {
        "summary": "Retrieve ad group",
        "description": "One ad group (ad set), derived from the ad tree.",
        "operationId": "adsAdGroupsGet",
        "x-speakeasy-group": "ads.adGroups",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ad set id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ad group.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Ad group."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adGroups.get({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "patch": {
        "summary": "Update ad group",
        "description": "Update ad group budget / bid / schedule.",
        "operationId": "adsAdGroupsUpdate",
        "x-speakeasy-group": "ads.adGroups",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ad set id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Fields to update.",
                "properties": {
                  "platform": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "object"
                  },
                  "bid_strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated ad group.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Updated ad group."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adGroups.update({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/ad-groups/{id}/pause": {
      "post": {
        "summary": "Pause ad group",
        "description": "Pause a single ad group.",
        "operationId": "adsAdGroupsPause",
        "x-speakeasy-group": "ads.adGroups",
        "x-speakeasy-name-override": "pause",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ad set id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Platform.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adGroups.pause({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/ad-groups/{id}/resume": {
      "post": {
        "summary": "Resume ad group",
        "description": "Resume a single ad group.",
        "operationId": "adsAdGroupsResume",
        "x-speakeasy-group": "ads.adGroups",
        "x-speakeasy-name-override": "resume",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform ad set id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Platform.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adGroups.resume({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/audiences": {
      "get": {
        "summary": "List custom audiences",
        "description": "Custom audiences for a connected account's ad account.",
        "operationId": "adsAudiencesList",
        "x-speakeasy-group": "ads.audiences",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Connected ad-capable channel id (sacct_…).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "ad_account_id",
            "in": "query",
            "description": "Platform ad account id (e.g. Meta act_…).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by platform: facebook, instagram, tiktok, linkedin, pinterest, google, twitter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom audiences.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.audiences.list({\n    accountId: \"<id>\",\n    adAccountId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "post": {
        "summary": "Create custom audience",
        "description": "Create a customer-list, retargeting, or lookalike audience (Meta).",
        "operationId": "adsAudiencesCreate",
        "x-speakeasy-group": "ads.audiences",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Audience to create.",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "ad_account_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created audience.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Created audience."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.audiences.create({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/audiences/{id}": {
      "get": {
        "summary": "Retrieve custom audience",
        "description": "One custom audience, with fresh platform metadata when available.",
        "operationId": "adsAudiencesGet",
        "x-speakeasy-group": "ads.audiences",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Audience id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Audience."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.audiences.get({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "delete": {
        "summary": "Delete custom audience",
        "description": "Delete a custom audience.",
        "operationId": "adsAudiencesDelete",
        "x-speakeasy-group": "ads.audiences",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Audience id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "deleted"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.audiences.delete({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/audiences/{id}/users": {
      "post": {
        "summary": "Upload audience users",
        "description": "Upload hashed user data (≤10k) to a customer-list audience.",
        "operationId": "adsAudiencesAddUsers",
        "x-speakeasy-group": "ads.audiences",
        "x-speakeasy-name-override": "addUsers",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Audience id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Users to upload.",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Upload result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.audiences.addUsers({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/boost": {
      "post": {
        "summary": "Boost a post",
        "description": "Promote an existing published post as an ad.",
        "operationId": "adsBoost",
        "x-speakeasy-group": "ads",
        "x-speakeasy-name-override": "boost",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Boost request.",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "ad_account_id": {
                    "type": "string"
                  },
                  "post_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "object",
                    "description": "`{ amount, type }` — `type` is `daily` or `lifetime`. Whole currency units, NOT cents: 20 = $20.00. Meta's own Marketing API takes this number in minor units, so it is an easy and expensive mix-up — 2000 here buys $2000.00 of ads, not $20.00.",
                    "properties": {
                      "amount": {
                        "type": "number",
                        "description": "Whole currency units, NOT cents: 20 = $20.00. Meta's own Marketing API takes this number in minor units, so it is an easy and expensive mix-up — 2000 here buys $2000.00 of ads, not $20.00."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "lifetime"
                        ]
                      }
                    },
                    "required": [
                      "amount",
                      "type"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created ad.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Created ad."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.boost({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/business-centers": {
      "get": {
        "summary": "List TikTok Business Centers",
        "description": "Business Centers for a connected TikTok Ads channel.",
        "operationId": "adsAdAccountsListBusinessCenters",
        "x-speakeasy-group": "ads.adAccounts",
        "x-speakeasy-name-override": "listBusinessCenters",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Connected ad-capable channel id (sacct_…).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business centers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.adAccounts.listBusinessCenters({\n    accountId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns": {
      "get": {
        "summary": "List campaigns",
        "description": "Campaigns with aggregate metrics, scoped to the tenant's accounts.",
        "operationId": "adsCampaignsList",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "Connected ad-capable channel id (sacct_…).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ad_account_id",
            "in": "query",
            "description": "Platform ad account id (e.g. Meta act_…).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by platform: facebook, instagram, tiktok, linkedin, pinterest, google, twitter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "zernio (Crevio-created only) or all (incl. externally synced). Defaults to all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.list();\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/bulk-pause": {
      "post": {
        "summary": "Bulk pause campaigns",
        "description": "Pause up to 50 campaigns in one call.",
        "operationId": "adsCampaignsBulkPause",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "bulkPause",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Campaigns to pause.",
                "properties": {
                  "campaigns": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Bulk result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.bulkPause({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/bulk-resume": {
      "post": {
        "summary": "Bulk resume campaigns",
        "description": "Resume up to 50 campaigns in one call.",
        "operationId": "adsCampaignsBulkResume",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "bulkResume",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Campaigns to resume.",
                "properties": {
                  "campaigns": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Bulk result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.bulkResume({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}": {
      "get": {
        "summary": "Retrieve campaign",
        "description": "One campaign (derived from the campaign list).",
        "operationId": "adsCampaignsGet",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Campaign."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.get({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "patch": {
        "summary": "Update campaign",
        "description": "Update campaign budget / bid strategy (Meta).",
        "operationId": "adsCampaignsUpdate",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Fields to update.",
                "properties": {
                  "platform": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "object",
                    "description": "`{ amount, type }` — `type` is `daily` or `lifetime`. Whole currency units, NOT cents: 20 = $20.00. Meta's own Marketing API takes this number in minor units, so it is an easy and expensive mix-up — 2000 here buys $2000.00 of ads, not $20.00.",
                    "properties": {
                      "amount": {
                        "type": "number",
                        "description": "Whole currency units, NOT cents: 20 = $20.00. Meta's own Marketing API takes this number in minor units, so it is an easy and expensive mix-up — 2000 here buys $2000.00 of ads, not $20.00."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "lifetime"
                        ]
                      }
                    },
                    "required": [
                      "amount",
                      "type"
                    ]
                  },
                  "bid_strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Updated campaign."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.update({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      },
      "delete": {
        "summary": "Delete campaign",
        "description": "Delete a campaign and its hierarchy (Meta).",
        "operationId": "adsCampaignsDelete",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Platform.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "deleted"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.delete({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}/ad-groups": {
      "get": {
        "summary": "List campaign ad groups",
        "description": "The ad groups (ad sets) within a campaign.",
        "operationId": "adsCampaignsListAdGroups",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "listAdGroups",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ad groups.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.listAdGroups({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}/ads": {
      "get": {
        "summary": "List campaign ads",
        "description": "The ads within a campaign.",
        "operationId": "adsCampaignsListAds",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "listAds",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by platform: facebook, instagram, tiktok, linkedin, pinterest, google, twitter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for the next page — the `next_cursor` of the previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Resource object (snake_case passthrough from the ad platform)."
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.listAds({\n    id: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}/duplicate": {
      "post": {
        "summary": "Duplicate campaign",
        "description": "Duplicate a campaign to scale a winner (Meta + TikTok).",
        "operationId": "adsCampaignsDuplicate",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "duplicate",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Source platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Duplication options.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplication result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Duplication result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.duplicate({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}/pause": {
      "post": {
        "summary": "Pause campaign",
        "description": "Pause every ad in a campaign.",
        "operationId": "adsCampaignsPause",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "pause",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Platform.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.pause({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/campaigns/{id}/resume": {
      "post": {
        "summary": "Resume campaign",
        "description": "Resume every ad in a campaign.",
        "operationId": "adsCampaignsResume",
        "x-speakeasy-group": "ads.campaigns",
        "x-speakeasy-name-override": "resume",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Platform campaign id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Platform.",
                "properties": {
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Result."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Account not activated for ads (call POST /v1/socials/activate first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.campaigns.resume({\n    id: \"<id>\",\n    requestBody: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/connect": {
      "post": {
        "summary": "Connect ads",
        "description": "Connect ads for a platform (separate from posting). Required before campaigns/ads sync. Same-token platforms (facebook, instagram, linkedin, pinterest) need no extra OAuth; tiktok, twitter and googleads return an auth_url. ChatGPT ads (openaiads) have no OAuth: send an `api_key` from ChatGPT Ads Manager, which covers exactly one ad account.",
        "operationId": "adsConnect",
        "x-speakeasy-group": "ads",
        "x-speakeasy-name-override": "connect",
        "tags": [
          "Ads"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Makes this write safe to retry: a repeat with the same key replays the first response instead of creating a second resource. Scoped to the account, remembered for 24 hours; reusing a key with a different payload is an error.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "1f7a4c2e-3b19-4a6d-9f0c-2ac81b5d7e33"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "facebook",
                      "instagram",
                      "linkedin",
                      "tiktok",
                      "twitter",
                      "pinterest",
                      "googleads",
                      "openaiads"
                    ]
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Parent posting channel (sacct_…), for same-token platforms."
                  },
                  "api_key": {
                    "type": "string",
                    "description": "openaiads only, and required there. API key from ChatGPT Ads Manager (Settings). OpenAI has no read-only scope, so the key carries full campaign write access. Posting a rotated key for the same ad account updates the connection in place. A key OpenAI rejects returns 422."
                  },
                  "ad_account_id": {
                    "type": "string",
                    "description": "Scope sync to one Meta ad account (act_…)."
                  },
                  "redirect_url": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Re-run OAuth even though a connection already exists. Without it a same-token connection (facebook/instagram/linkedin/pinterest) keeps answering `already_connected` on its posting token, so a channel whose token lacks ads scopes can never be repaired."
                  }
                },
                "required": [
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection result (already_connected, account, or auth_url).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Account not activated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Crevio } from \"@crevio/sdk\";\n\nconst crevio = new Crevio({\n  apiKey: process.env[\"CREVIO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await crevio.ads.connect({\n    platform: \"linkedin\",\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/ads/connections": {
      "get": {
        "summary": "List ads connections",
[...]
