{
  "openapi": "3.1.0",
  "info": {
    "title": "Selda API",
    "version": "1.0.0",
    "summary": "Find the right people, write the message, prepare the campaign. A person still presses send.",
    "description": "Generated from `convex/lib/mcpRegistry.ts`, the same table the endpoints dispatch from. A\nfunction added to the registry appears here on the next build and one removed disappears, so\nthis document cannot describe a capability the API does not have.\n\n## Authentication\n\n`Authorization: Bearer sk_live_...` or `Bearer sk_test_...`. **Your organisation is resolved\nfrom the key.** You never send an `orgId`, and a key cannot reach a workspace outside the\norganisation it was made in. A `sk_test_` key reaches every read and write that costs Selda\nnothing and cannot spend or send; each operation says whether it refuses one, and why.\n\n## These paths and the RPC endpoints are the same API\n\nEvery route here is dispatched by the same code that answers `POST /mcp/query`,\n`POST /mcp/mutate` and `POST /mcp/run`. The path chooses the function name; nothing else\nchanges. The RPC form is not deprecated and is still the only way to call the few entries\nthat have no route.\n\n## What is not here, on purpose\n\n**There is no operation that sends.** `launchRun` is in no registry, not this one and not the\nMCP one, and it never will be. A script can prepare a campaign completely: import material,\nconfirm the companies, write and rewrite every draft. A human presses send in the app. That is\nthe product's central claim, not a gap waiting to be filled.\n\n**There is no operation that creates a workspace.** `projects.create` is absent rather than\ngated, because a rule enforced by a plan tier is a rule with a price on it.\n\n**Response shapes are almost never documented.** A shape for `value` is published for\n1 of the 77 operations, because one is derived only where the target function declares\na `returns` validator. Everywhere else `value` carries a description saying exactly that,\nrather than an invented object that would go stale with nothing to notice. Call an operation\nonce with a test key and read what comes back.\n\n## Registry entries with no route\n\n- `leads.enrich` on `POST /mcp/run`: another registry table (INTERNAL_ACTIONS) declares leads.enrich on /mcp/run too and the dispatcher checks that one first, so this entry can never be the one that runs.\n- `leads.update` on `POST /mcp/mutate`: another registry table (INTERNAL_MUTATIONS) declares leads.update on /mcp/mutate too and the dispatcher checks that one first, so this entry can never be the one that runs.\n- `replies.draft` on `POST /mcp/run`: `POST /v1/replies/draft` is already the route for `replies.draft` on `/mcp/mutate`, and one URL cannot mean two functions. Call this one at `POST /mcp/run` with `{ \"fn\": \"replies.draft\" }`.",
    "x-jentic-source-url": "https://docs.selda.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.selda.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/brain": {
      "get": {
        "operationId": "brain_list",
        "summary": "brain.list",
        "description": "The workspace's structured knowledge: products, partners, references, company facts, and the things Selda must never say. Each item has a type, a title and a body.\n\nDispatched to `brain.list` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_list_brain`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "brain"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A Convex document id in the `projects` table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:listBrainItems` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "brain.list",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_list_brain"
        ]
      },
      "post": {
        "operationId": "brain_add",
        "summary": "brain.add",
        "description": "Add one thing Selda should know: a product, a partner, a reference, a company fact, a note, something it must never say, or a `writing_rule` — a standing instruction about HOW messages are written, which reaches the composer as a directive and is never quoted as material.\n\nDispatched to `brain.add` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_add_brain_item`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "brain"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:addBrainItemInternal` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "brain.add",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_add_brain_item"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "A Convex document id in the `projects` table."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "company",
                      "product",
                      "partner",
                      "reference",
                      "avoid",
                      "note",
                      "writing_rule"
                    ]
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "type",
                  "title",
                  "body"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/brain/remove": {
      "post": {
        "operationId": "brain_remove",
        "summary": "brain.remove",
        "description": "Take one Brain item back out. The human owns what Selda knows.\n\nDispatched to `brain.remove` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_remove_brain_item`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "brain"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:removeBrainItemInternal` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "brain.remove",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_remove_brain_item"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "A Convex document id in the `projects` table."
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/brain/update": {
      "post": {
        "operationId": "brain_update",
        "summary": "brain.update",
        "description": "Rewrite the title and body of one Brain item.\n\nDispatched to `brain.update` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_update_brain_item`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "brain"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:updateBrainItemInternal` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "brain.update",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_update_brain_item"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "A Convex document id in the `projects` table."
                  },
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/campaigns": {
      "get": {
        "operationId": "campaigns_list",
        "summary": "campaigns.list",
        "description": "Campaigns in a workspace.\n\nDispatched to `campaigns.list` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_list_campaigns`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:listCampaigns` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.list",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_list_campaigns"
        ]
      },
      "post": {
        "operationId": "campaigns_create",
        "summary": "campaigns.create",
        "description": "Create a campaign (legacy table, not the one the app's campaign-flow UI reads).\n\nDispatched to `campaigns.create` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`, `userId`",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:createCampaign` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.create",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "brief": {
                    "type": "string"
                  },
                  "outreachAngle": {
                    "type": "string"
                  },
                  "channels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "targetRole": {
                    "type": "string"
                  },
                  "targetIndustry": {
                    "type": "string"
                  },
                  "targetCompanySize": {
                    "type": "string"
                  },
                  "locations": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "leadCount": {
                    "type": "number"
                  },
                  "startAt": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "startedAt": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scheduledStartDate": {
                    "type": "number"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaignId}": {
      "get": {
        "operationId": "campaigns_get",
        "summary": "campaigns.get",
        "description": "One campaign: status, channels, settings, leads.\n\nDispatched to `campaigns.get` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_get_campaign`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:getCampaign` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.get",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_get_campaign"
        ]
      },
      "patch": {
        "operationId": "campaigns_update",
        "summary": "campaigns.update",
        "description": "Change a campaign.\n\nDispatched to `campaigns.update` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:updateCampaign` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.update",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "brief": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ghostwriterHints": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "outreachAngle": {
                    "type": "string"
                  },
                  "scheduledStartDate": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaignId}/add-leads": {
      "post": {
        "operationId": "campaigns_addLeads",
        "summary": "campaigns.addLeads",
        "description": "Put specific leads into a campaign.\n\nDispatched to `campaigns.addLeads` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:addLeadsToCampaign` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.addLeads",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "leadIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "A Convex document id in the `leads` table."
                    }
                  }
                },
                "additionalProperties": false,
                "required": [
                  "leadIds"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaignId}/lock-message-structure": {
      "post": {
        "operationId": "campaigns_lockMessageStructure",
        "summary": "campaigns.lockMessageStructure",
        "description": "Lock a campaign's message structure so every locked block ships exactly as written and nothing rewrites it, or unlock it with locked: false. Sends nothing.\n\nDispatched to `campaigns.lockMessageStructure` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_lock_message_structure`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `campaignBlueprints:setMessageStructureLockForApi` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.lockMessageStructure",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_lock_message_structure"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locked": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "locked"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaignId}/message-structure": {
      "get": {
        "operationId": "campaigns_messageStructure",
        "summary": "campaigns.messageStructure",
        "description": "Read what a campaign's message is made of: every block, which ones ship verbatim, the instruction behind each generated one, the shape, and whether it is locked.\n\nDispatched to `campaigns.messageStructure` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_get_message_structure`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "anyOf": [
                        {
                          "description": "Any JSON value. The validator is `v.any()`."
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.messageStructure",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_get_message_structure"
        ]
      }
    },
    "/v1/campaigns/{campaignId}/set-message-structure": {
      "post": {
        "operationId": "campaigns_setMessageStructure",
        "summary": "campaigns.setMessageStructure",
        "description": "State what a campaign's message is made of: blocks that ship WORD FOR WORD, blocks Selda writes from an instruction you give it, the paragraph count, and what must never appear. Refuses to change a locked structure. Sends nothing.\n\nDispatched to `campaigns.setMessageStructure` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_set_message_structure`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `campaignBlueprints:setMessageStructureForApi` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.setMessageStructure",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_set_message_structure"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "objective": {
                    "type": "string"
                  },
                  "blocks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "order": {
                          "type": "number"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "subject",
                            "body"
                          ]
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "locked",
                            "generated"
                          ]
                        },
                        "label": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "aiInstruction": {
                          "type": "string"
                        },
                        "optional": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "kind"
                      ]
                    }
                  },
                  "form": {
                    "type": "object",
                    "properties": {
                      "paragraphs": {
                        "type": "number"
                      },
                      "maxWords": {
                        "type": "number"
                      },
                      "links": {
                        "type": "string",
                        "enum": [
                          "none",
                          "allowed"
                        ]
                      }
                    }
                  },
                  "mustNever": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "must": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "followUpStrategy": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{campaignId}/stats": {
      "get": {
        "operationId": "campaigns_stats",
        "summary": "campaigns.stats",
        "description": "Campaign counters: sent, delivered, opened, clicked, replied, bounced.\n\nDispatched to `campaigns.stats` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_campaign_stats`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:getCampaignStats` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.stats",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_campaign_stats"
        ]
      }
    },
    "/v1/campaigns/add-leads-by-tag": {
      "post": {
        "operationId": "campaigns_addLeadsByTag",
        "summary": "campaigns.addLeadsByTag",
        "description": "Put every lead carrying a tag into a campaign (legacy table).\n\nDispatched to `campaigns.addLeadsByTag` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:addLeadsToCampaignByTag` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.addLeadsByTag",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false,
                "required": [
                  "campaignId",
                  "projectId",
                  "tags"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/add-rule": {
      "post": {
        "operationId": "campaigns_addRule",
        "summary": "campaigns.addRule",
        "description": "Add a campaign rule.\n\nDispatched to `campaigns.addRule` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:addCampaignRule` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "campaigns.addRule",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "A Convex document id in the `projects` table."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "A Convex document id in the `campaigns` table."
                  },
                  "condition": {
                    "type": "object",
                    "properties": {
                      "tag": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "tag"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "campaignId",
                  "condition"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/company/lookup": {
      "post": {
        "operationId": "company_lookup",
        "summary": "company.lookup",
        "description": "Resolve a company and return the right people to reach. Starts nothing.\n\nDispatched to `company.lookup` on `POST /mcp/run`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `pipeline`\n- A free sandbox key is refused: it resolves real people's contact details through a paid provider, which costs money per call\n- MCP tools that wrap the same function: `selda_lookup`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "company"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:lookupCompany` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "company.lookup",
        "x-selda-rpc-endpoint": "/mcp/run",
        "x-selda-scope": "pipeline",
        "x-selda-sandbox": "refused",
        "x-selda-live-only-reason": "paid_contact_data",
        "x-selda-mcp-tools": [
          "selda_lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "company"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/connectors": {
      "get": {
        "operationId": "connectors_list",
        "summary": "connectors.list",
        "description": "Data connectors registered for this workspace.\n\nDispatched to `connectors.list` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_list_connectors`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A Convex document id in the `projects` table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `dataConnectors:listConnectors` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "connectors.list",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_list_connectors"
        ]
      },
      "post": {
        "operationId": "connectors_create",
        "summary": "connectors.create",
        "description": "Register a data connector.\n\nDispatched to `connectors.create` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "connectors"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `dataConnectors:createConnector` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "connectors.create",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "A Convex document id in the `projects` table."
                  },
                  "name": {
                    "type": "string"
                  },
                  "logoUrl": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "authHeader": {
                    "type": "string"
                  },
                  "fieldMap": {
                    "type": "object",
                    "properties": {
                      "company": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "externalUrl": {
                        "type": "string"
                      },
                      "companyDomain": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false,
                "required": [
                  "projectId",
                  "name",
                  "url",
                  "fieldMap"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}": {
      "delete": {
        "operationId": "connectors_delete",
        "summary": "connectors.delete",
        "description": "Remove a data connector.\n\nDispatched to `connectors.delete` on `POST /mcp/mutate`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `write`\n- A free sandbox key may call it\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A Convex document id in the `dataConnectors` table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `dataConnectors:deleteConnector` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "connectors.delete",
        "x-selda-rpc-endpoint": "/mcp/mutate",
        "x-selda-scope": "write",
        "x-selda-sandbox": "allowed"
      }
    },
    "/v1/connectors/{connectorId}/sync": {
      "post": {
        "operationId": "connectors_sync",
        "summary": "connectors.sync",
        "description": "Pull from a connected data source.\n\nDispatched to `connectors.sync` on `POST /mcp/run`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `pipeline`\n- A free sandbox key is refused: it pulls from a connected outside source and enriches as it goes\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "connectors"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A Convex document id in the `dataConnectors` table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `dataConnectors:syncConnector` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "connectors.sync",
        "x-selda-rpc-endpoint": "/mcp/run",
        "x-selda-scope": "pipeline",
        "x-selda-sandbox": "refused",
        "x-selda-live-only-reason": "external_sync"
      }
    },
    "/v1/credits/info": {
      "get": {
        "operationId": "credits_info",
        "summary": "credits.info",
        "description": "Credit balance, daily free credits, usage, plan.\n\nDispatched to `credits.info` on `POST /mcp/query`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `read`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_credits`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "credits"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `mcpQueries:getCreditInfo` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "credits.info",
        "x-selda-rpc-endpoint": "/mcp/query",
        "x-selda-scope": "read",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_credits"
        ]
      }
    },
    "/v1/drafts/attach": {
      "post": {
        "operationId": "drafts_attach",
        "summary": "drafts.attach",
        "description": "Attach files to ONE draft, by public https url or by storageId, on top of what the campaign already gives it. Refuses a message that already went out; never sends.\n\nDispatched to `drafts.attach` on `POST /mcp/run`. This route is a different URL for the same call: the request is answered by the same dispatcher, with the same authentication, the same scope check, the same organisation scoping and the same refusals.\n\n- Scope: `pipeline`\n- A free sandbox key may call it\n- MCP tools that wrap the same function: `selda_attach_files`\n- Filled in from your API key, never sent by you: `orgId`",
        "tags": [
          "drafts"
        ],
        "responses": {
          "200": {
            "description": "The call succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "value",
                    "request_id"
                  ],
                  "properties": {
                    "value": {
                      "description": "Not documented. `campaignRunner/attachments:attachFilesFromApiKey` declares no `returns` validator, so there is nothing to derive a shape from, and a shape written out by hand here is a shape that goes stale without anything noticing. Call it once against a test key and read what comes back."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Echoed in the `X-Request-Id` header."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown route, or arguments the validator refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, the plan entitlement, or is a sandbox key on a live-only function.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait for the next minute window and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The function threw. The message says what, without leaking internals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-selda-fn": "drafts.attach",
        "x-selda-rpc-endpoint": "/mcp/run",
        "x-selda-scope": "pipeline",
        "x-selda-sandbox": "allowed",
        "x-selda-mcp-tools": [
          "selda_attach_files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "leadId": {
                    "type": "string",
                    "description": "A Convex document id in the `campaignRunLeads` table."
                  },
                  "runId": {
                    "type": "string",
                    "description": "A Convex document id in the `campaignRuns` table."
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "storageId": {
                          "type": "string",
                          "description": "A Convex document id in the `_storage` table."
                        },
                        "url": {
                          "type": "string"
                        },
                        "fileName": {
                          "type": "string"
                        },
                        "filename": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string"
                        },
                        "contentType": {
                          "type": "string"
                        },
                        "inline": {
                          "type": "boolean"
                        },
                        "cid": {
                          "type": "string"
                        },
[...]
