{
  "openapi": "3.1.0",
  "info": {
    "title": "Indexed.vc API",
    "version": "1.0.0",
    "description": "Company intelligence API providing comprehensive data on private companies,\nfunding history, and investor relationships.\n\n## Authentication & tiers\nAll authenticated endpoints require an `X-API-Key` header. Every plan can\ncreate a key, and every plan can pull depth:\n  - **Free** — company & investor card search by name or domain (web parity\n    with the public site, 25 searches a day), entity detail and `POST /reveal`\n    paid from its 25 monthly credits, `/industries`, `/usage`.\n  - **Every paid plan (Silver and up)** — adds the bulk and automation surface:\n    filter-only listing with sorting, bulk enrichment, tech/app-stack search,\n    funding-alert webhooks, scheduled exports, plus far more credits and\n    searches. Paid tiers differ by volume (credits, keys, rate limit, reveal\n    batch), not by whether depth exists.\nEndpoints beyond a tier's capability return `403 TIER_UPGRADE_REQUIRED`.\nCredit exhaustion returns `402 CREDIT_LIMIT_REACHED` with `top_up_url`,\n`upgrade_url` and `next_plan`.\nThe free `/industries` endpoint is publicly accessible without a key.\n\n## Credits\nMost endpoints consume credits. Costs are documented per-endpoint.\nDetail fetches cache the same entity and depth for 12 months. Reveal and enrich share the existing entity reveal cache; a reveal does not waive every detail action.\n\n## Rate Limiting\nAll authenticated responses include `X-RateLimit-Limit`, `X-RateLimit-Remaining`,\nand `X-RateLimit-Reset` headers.\n\n## Request Correlation\nEvery authenticated response includes an `X-Request-Id` header (UUID v4).\nInclude this in support requests for fast debugging. The unauthenticated\n`/industries` endpoint is CDN-cached for 24h and carries no request id.\n",
    "contact": {
      "name": "Indexed.vc Support",
      "url": "https://indexed.vc"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://indexed.vc/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://indexed.vc/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "operationId": "searchCompanies",
        "summary": "Search companies",
        "description": "Search and filter companies. Every result is the full public card; `_revealed` marks entities whose depth (funding history, valuations, stacks) you have unlocked.\nStandard search is free within the daily quota; paid plans spend 1 credit\nper nonempty page afterward, while Free stops with SEARCH_QUOTA_EXCEEDED.\nPremium search (techStack/appStack filters)\ncosts 3 credits on the first nonempty page; subsequent pages with a valid\n`X-Search-Session` token are free for 15 minutes. Empty `data` pages consume\nno delivered-search quota or credits even when `meta.total` is positive;\nan unpaid empty premium page does not issue a session token. Request-rate\nlimits still apply.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Free text search query"
          },
          {
            "name": "industries",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated industry filters. Accepts display labels (Fintech), case variants (fintech), or slugs (ai-ml). Use GET /industries for valid values."
          },
          {
            "name": "countries",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated country names (e.g., United States,United Kingdom)"
          },
          {
            "name": "employees",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated employee ranges: 1-10, 11-50, 51-200, 201-500, 501-1000, 1001-5000, 5001-10000, 10001+. Unsupported ranges return 400 VALIDATION_FAILED. URL-encode + as %2B."
          },
          {
            "name": "operatingStatus",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: active, acquired, ipo, closed, merged"
          },
          {
            "name": "minFunding",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Minimum total funding (total_funding_raised, grants included) in whole USD"
          },
          {
            "name": "maxFunding",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Maximum total funding (total_funding_raised, grants included) in whole USD"
          },
          {
            "name": "domain",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Match a company by its website domain (enrichment lookup, e.g. stripe.com). EXACT registrable-domain matching: matches mercury.com and any subdomain (www./app.mercury.com) but never superstrings like bluemercury.com. Accepts bare domains or full URLs."
          },
          {
            "name": "minCompleteness",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 64
            },
            "description": "Minimum data_completeness_score — skip thin records"
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Incremental sync: only records modified at/after this ISO date or timestamp (updated_at watermark). Combine with cursor pagination for drift-free delta pulls."
          },
          {
            "name": "techStack",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated technology names (triggers premium search: 3 credits)"
          },
          {
            "name": "appStack",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated app/tool names (triggers premium search: 3 credits)"
          },
          {
            "name": "stackMatch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ],
              "default": "any"
            },
            "description": "Match mode for tech/app stack filters"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "total_funding_raised",
                "name",
                "last_funding_date",
                "last_funding_amount",
                "founded_year",
                "data_completeness_score"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Results per page. Paid search supports up to 100; Free is capped at 10. meta.limit reports the effective page size after plan caps."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Paid plans only. Keyset cursor for sequential bulk pulls. Free keys use page=1 through page=3. Pass meta.next_cursor from the prior page; ignores page/sort."
          },
          {
            "name": "reveal_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "revealed",
                "unrevealed"
              ],
              "default": "all"
            },
            "description": "Filter results by reveal state"
          },
          {
            "name": "X-Search-Session",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Session token for free premium search pagination (15-min TTL)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results (full public cards with reveal flags)",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Credits-Cost": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Search-Session": {
                "schema": {
                  "type": "string"
                },
                "description": "Premium search session token"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyCard"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SearchPageMeta"
                    },
                    "coverage_requested": {
                      "type": "boolean",
                      "description": "Present on a zero-result exact-domain lookup: true when durably queued for coverage, false when persistence failed and the client should retry later, or when the domain belongs to a company outside coverage scope. The lookup remains free."
                    },
                    "coverage_status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "not_queued",
                        "pending_enrichment",
                        "scope_review",
                        "not_in_coverage_scope",
                        "not_found"
                      ],
                      "description": "Present on a zero-result exact-domain lookup, and on a zero-result name search (q without filters). For a name search it is pending_enrichment, scope_review or not_in_coverage_scope when we hold a company with exactly that name, otherwise not_found (name misses are reviewed as search demand; nothing is promised). For a domain lookup: queued: recorded for coverage review. not_queued: recording failed; retry later. pending_enrichment: we hold this company but its profile is not yet complete enough to serve. scope_review: we hold it and its fit with coverage scope is under review. not_in_coverage_scope: we hold it but it is outside coverage scope (for example a consultancy), so it will not be served and coverage_requested is false."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/companies/lookup": {
      "post": {
        "operationId": "lookupCompanyDomains",
        "summary": "Look up up to 100 company domains",
        "description": "Batch form of `GET /companies?domain=…`. Inputs are normalized and\ndeduplicated in first-seen order. Each delivered hit costs 1 credit;\nmisses are free. A miss reports whether review was durably queued,\nis pending enrichment, needs scope review, or is outside our coverage;\nno miss promises admission. Alias and\nformer-domain hits include `domain_match` so a different canonical\nwebsite is explicit rather than surprising.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "additionalProperties": false,
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "maxLength": 500
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered per-domain lookup results",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Credits-Cost": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total credits charged for delivered hits"
              },
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current combined included and pack balance after delivered hits"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "summary"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyDomainLookupItem"
                      }
                    },
                    "summary": {
                      "$ref": "#/components/schemas/CompanyDomainLookupSummary"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/companies/{slug}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company by slug",
        "description": "Fetch a single company profile. Cost varies by depth:\n\n**valuation_events field schema** (returned at `depth=full`): each\nround object carries `event_type`, `round_name`, `amount_raised_usd`\n(whole USD; also mirrored as `amount_raised`), `announced_date`\n(YYYY-MM-DD), `pre_money_valuation` / `post_money_valuation`,\n`press_url`, `confidence_score`, and `participants[]` (investors with\n`is_lead`). Note: valuation-only events (409A marks, some tender\noffers) legitimately have `amount_raised_usd: null` — a null amount\nis \"undisclosed/not applicable\", not missing data. `data_as_of` on the\nresponse is when this record was last verified by enrichment.\n\n- `slim` (1 credit): identity fields only\n- `standard` (2 credits): company scalars plus reviewed ownership links; no funding events, valuations or stack\n- `full` (3 credits): complete data — funding rounds, investors, tech/app stack, valuations\n",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "slim",
                "standard",
                "full"
              ],
              "default": "standard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Credits-Cost": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-Credits-Cached": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CompanyProfile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "503": {
            "description": "Requested entity preparation unavailable (DATA_UNAVAILABLE) or credit service unavailable (SYSTEM_ERROR). Incomplete requested entity reads and cache-read failures do not charge. A lost deduction response can have an unknown billing outcome; check credit usage before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/investors": {
      "get": {
        "operationId": "searchInvestors",
        "summary": "Search investors",
        "description": "Search and filter investors. Free within the daily quota; paid plans spend 1 credit per nonempty page afterward. Free stops at its daily quota. Empty data pages consume no delivered-search quota or credits even when meta.total is positive.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: vc, pe, angel, cvc, accelerator, family_office, etc."
          },
          {
            "name": "stages",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: seed, series_a, series_b, etc."
          },
          {
            "name": "industries",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated industry preferences"
          },
          {
            "name": "countries",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minAum",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "maxAum",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "minCompleteness",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 64
            },
            "description": "Minimum data_completeness_score — skip thin records"
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Incremental sync: only records modified at/after this ISO date or timestamp (updated_at watermark). Combine with cursor pagination for drift-free delta pulls."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "aum",
                "portfolio_count",
                "total_investments",
                "last_investment_date",
                "data_completeness_score"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Results per page. Paid search supports up to 100; Free is capped at 10. meta.limit reports the effective page size after plan caps."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Paid plans only. Keyset cursor for sequential bulk pulls. Free keys use page=1 through page=3. Pass meta.next_cursor from the prior page; ignores page/sort."
          },
          {
            "name": "reveal_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "revealed",
                "unrevealed"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results (full public cards with reveal flags)",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Credits-Cost": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvestorCard"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/SearchPageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/investors/{slug}": {
      "get": {
        "operationId": "getInvestor",
        "summary": "Get investor by slug",
        "description": "Fetch a single investor profile. Same depth pricing as companies:\nslim (1), standard (2), full (3 credits).\nFull includes portfolio_companies, investments, and sub_funds.\n",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "slim",
                "standard",
                "full"
              ],
              "default": "standard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Investor profile",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Credits-Cost": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvestorProfile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "503": {
            "description": "Requested entity preparation unavailable (DATA_UNAVAILABLE) or credit service unavailable (SYSTEM_ERROR). Incomplete requested entity reads and cache-read failures do not charge. A lost deduction response can have an unknown billing outcome; check credit usage before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/enrich": {
      "post": {
        "operationId": "enrichCompanies",
        "summary": "Bulk enrich companies by domain or slug",
        "description": "The GTM/RevOps query: submit a list of domains (or slugs) and get the\nmatched company records back. Domain matching is EXACT\nregistrable-domain (mercury.com matches Mercury at mercury.com or any\nof its subdomains — never superstrings like bluemercury.com); you are\nnever billed for a fuzzy match. Billed like /reveal — 3 credits per\nnewly revealed match; previously-revealed matches are free within the\n12-month cache. Unmatched inputs return status \"not_found\" (no charge).\nMultiple inputs resolving to the same company are billed once; only the first\nsuch input carries the charge. Ambiguous domains return 409 AMBIGUOUS_DOMAIN\nwithout billing; retry with verified company slugs.\nHost precedence matches /companies/lookup: the exact current website wins\nover subsidiaries or former websites; conflicting current owners still fail closed.\nA lookup-card match must also be eligible for full public company data.\nDelivered domain matches include domain_match explaining the matched host and evidence.\nMisses carry coverage_status (not_in_coverage_scope, scope_review,\npending_enrichment, not_found, or invalid_domain for malformed input that was never searched). A miss does not enqueue research.\nBatch size and hourly limits follow your tier's reveal limits.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Company website domains, e.g. [\"stripe.com\", \"openai.com\"]"
                  },
                  "slugs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Indexed company slugs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrich results (normalized unique domains first, then unique slugs, in first-seen order within each group) + summary",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "summary"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "query",
                          "matched",
                          "status",
                          "credits_charged"
                        ],
                        "properties": {
                          "query": {
                            "type": "string"
                          },
                          "matched": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "revealed",
                              "cached",
                              "insufficient_credits",
                              "not_found"
                            ]
                          },
                          "credits_charged": {
                            "type": "integer"
                          },
                          "domain_match": {
                            "$ref": "#/components/schemas/DomainMatch"
                          },
                          "coverage_status": {
                            "type": "string",
                            "enum": [
                              "not_in_coverage_scope",
                              "scope_review",
                              "pending_enrichment",
                              "not_found",
                              "invalid_domain"
                            ],
                            "description": "Explanation for unmatched inputs; does not promise admission or an enrichment timeline."
                          },
                          "data": {
                            "$ref": "#/components/schemas/CompanyProfile"
                          }
                        }
                      }
                    },
                    "summary": {
                      "$ref": "#/components/schemas/EnrichSummary"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Domain matches multiple companies (AMBIGUOUS_DOMAIN); no charge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhook endpoints",
        "description": "FREE. Signing secrets are masked (whsec_…last4) — the full secret is only shown at creation.",
        "responses": {
          "200": {
            "description": "Endpoints + per-tier limit"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook endpoint (Silver and up)",
        "description": "Subscribe a URL to funding-round alerts. When a new funding round lands\nfor a company on your watchlist (`list_id` — one of your saved company\nlists), or any company if unscoped, Indexed POSTs a signed JSON event\nto your endpoint within ~5 minutes.\n\n**Billing:** 1 credit per successfully delivered event. Test sends and\nretries are free; a delivery is never charged twice (idempotent per\ndelivery id). Deliveries pause if your credits are exhausted and resume\non the retry schedule once topped up.\n\n**Delivery + retries:** 10s timeout, HTTPS only, redirects refused.\nNon-2xx responses retry on a backoff of 1m → 10m → 1h → 6h → 24h, then\ndead-letter. 20 consecutive failures auto-disable the endpoint\n(re-enable via PATCH `is_active: true`).\n\n**Delivery semantics — at-least-once.** Like Stripe/GitHub webhooks, an\nevent may occasionally be delivered more than once (e.g. your endpoint\n200s but the ack is lost, or a worker is reclaimed after a crash).\n**Dedupe on `X-Indexed-Delivery-Id`** — process each id once. Billing is\nexactly-once regardless: a given delivery is charged at most one credit\neven if re-sent (idempotent per delivery id).\n\n**Verifying signatures:** every request carries\n`X-Indexed-Signature: t=<unix_seconds>,v1=<hex>` where\n`v1 = HMAC_SHA256(secret, \"{t}.{raw_body}\")`. Recompute over the raw\nbody, compare constant-time, and reject if `|now - t| > 300s`:\n```js\nconst [t, v1] = header.match(/t=(\\d+),v1=([0-9a-f]+)/).slice(1)\nconst expected = crypto.createHmac('sha256', secret).update(`${t}.${rawBody}`).digest('hex')\nconst valid = crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(v1))\n  && Math.abs(Date.now()/1000 - t) < 300\n```\nRequests also carry `X-Indexed-Event` and `X-Indexed-Delivery-Id`\n(use the delivery id for idempotent processing on your side).\n\n**Event catalog** — `funding_round.created` (new round, announced ≤90 days),\n`funding_round.updated` (material correction to an existing round, ≤1/round/day),\n`company.created` / `investor.created` (entity entered the visible index, fired once),\nand `company.updated` (watchlist-scoped subscriptions only — requires `list_id`;\n≤1/company/day). `domain.coverage.added` is opt-in and fires once per\nendpoint/domain when a domain previously missed by that user becomes\nAPI-resolvable. `company.*` payloads carry `data.company`, `investor.*`\npayloads carry `data.investor`; the funding shape is below.\n\n**Coverage-added payload** (`domain.coverage.added`):\n```json\n{\n  \"id\": \"<delivery uuid>\",\n  \"event\": \"domain.coverage.added\",\n  \"created_at\": \"2026-09-01T12:00:00Z\",\n  \"data\": {\n    \"requested_domain\": \"example.com\",\n    \"company\": { \"id\", \"name\", \"slug\", \"website\", \"industries\", \"hq_city\", \"hq_country\" },\n    \"domain_match\": {\n      \"queried\": \"example.com\",\n      \"canonical_domain\": \"example.com\",\n      \"matched_via\": \"canonical_domain\"\n    }\n  }\n}\n```\n\n**Event payload** (`funding_round.created` / `funding_round.updated`):\n```json\n{\n  \"id\": \"<delivery uuid>\",\n  \"event\": \"funding_round.created\",\n  \"created_at\": \"2026-07-03T12:00:00Z\",\n  \"data\": {\n    \"company\": { \"id\", \"name\", \"slug\", \"website\", \"industries\", \"hq_city\", \"hq_country\" },\n    \"funding_round\": {\n      \"event_type\": \"series_b\", \"round_name\": \"Series B\",\n      \"amount_raised_usd\": 42000000, \"announced_date\": \"2026-07-01\",\n      \"post_money_valuation\": 400000000, \"press_url\": \"https://…\",\n      \"investors\": [{ \"name\": \"Example Ventures\", \"is_lead\": true }]\n    }\n  }\n}\n```\nEndpoint limits: Silver 2, Gold 3, Platinum 10, Enterprise 25.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "HTTPS endpoint (public host — internal/private addresses rejected)"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "funding_round.created",
                        "funding_round.updated",
                        "company.created",
                        "company.updated",
                        "investor.created",
                        "domain.coverage.added"
                      ]
                    }
                  },
                  "list_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Scope to one of your saved company lists (watchlist). Omit for all companies."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. `secret` (whsec_…) is returned ONLY here — store it to verify signatures."
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook endpoint (FREE)",
        "description": "Fetch a single endpoint you own, with its secret masked. Costs no credits.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint (secret masked)"
          },
          "404": {
            "description": "Not found or not owned by you"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook endpoint",
        "description": "Update url/event_types/list_id/description or pause/resume via is_active. Re-enabling resets the failure counter.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated endpoint (secret masked)"
          },
          "404": {
            "description": "Not found or not owned by you"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook endpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found or not owned by you"
          }
        }
      }
    },
    "/webhooks/{id}/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Send a sample signed event (FREE)",
        "description": "Sends a sample event (flagged `\"test\": true`) shaped for one of the endpoint's subscribed types — pass `{\"event_type\": \"...\"}` to pick one, default is the first subscribed type. Never consumes credits.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ delivered, response_code, error, credits_charged: 0 }"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/scheduled-exports": {
      "get": {
        "operationId": "listScheduledExports",
        "summary": "List scheduled exports (FREE, Platinum/Enterprise)",
        "responses": {
          "200": {
            "description": "Your scheduled exports"
          },
          "403": {
            "description": "Requires Platinum or Enterprise"
          }
        }
      },
      "post": {
        "operationId": "createScheduledExport",
        "summary": "Create a scheduled export (Platinum/Enterprise)",
        "description": "Recurring CSV/JSON delivery. On each run the file is generated, stored privately, and an expiring signed download link (7 days) is emailed to your account address — never an attachment, never a public object. Each run bills the standard export credit schedule (1 credit per 10 rows; 3x with include_funding). Runs are capped at 5,000 rows — contact us for full-dataset Enterprise feeds.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity",
                  "columns",
                  "cadence"
                ],
                "properties": {
                  "entity": {
                    "type": "string",
                    "enum": [
                      "companies",
                      "investors"
                    ]
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Registered export columns for the entity"
                  },
                  "cadence": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly"
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "csv",
                      "json"
                    ],
                    "default": "csv"
                  },
                  "include_funding": {
                    "type": "boolean",
                    "default": false,
                    "description": "Append every funding event, including debt and exits; each row's counts_toward_total (Yes/No) marks whether it sums into total_funding_raised."
                  },
                  "list_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Scope to one of your saved lists. Omit for the full visible dataset (capped per run)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "403": {
            "description": "Requires Platinum or Enterprise",
            "or schedule limit reached": null
          }
        }
      }
    },
    "/scheduled-exports/{id}": {
      "delete": {
        "operationId": "deleteScheduledExport",
        "summary": "Delete a scheduled export (FREE)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "Recent delivery log (FREE)",
        "description": "Last 50 deliveries with status (pending/delivered/failed/dead/credit_blocked), attempts, response codes, and credits_charged — the per-event billing audit trail. Test sends appear with event_type \"test\" and credits_charged 0.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery log entries"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/reveal": {
      "post": {
        "operationId": "revealEntities",
        "summary": "Reveal entity depth",
        "description": "Unmask one or more entities from search results. 3 credits per newly\nrevealed entity (cached reveals are free). Accepts both slugs and UUIDs.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity_type"
                ],
                "properties": {
                  "entity_type": {
                    "type": "string",
                    "enum": [
                      "company",
                      "investor"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "description": "Single entity slug or UUID"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Batch of entity slugs/UUIDs. Max per call: Free 5, Silver 5, Gold 10, Platinum 25, Enterprise 50."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reveal results",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "summary"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RevealResult"
                      }
                    },
                    "summary": {
                      "$ref": "#/components/schemas/RevealSummary"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Check credit balance and limits",
        "description": "FREE — does not consume credits. Returns tier, credit balance, and rate limits.",
        "responses": {
          "200": {
            "description": "Usage data",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UsageData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/industries": {
      "get": {
        "operationId": "listIndustries",
        "summary": "List valid industry filters",
        "description": "Returns canonical industry labels and their accepted aliases.\nFREE and publicly accessible — no API key required.\nResponse is cached for 24 hours.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Industry list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IndustryFilter"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key in format `idx_<32chars>`. Available on every plan; entity detail and reveal spend credits on every plan, while bulk enrichment, webhooks, scheduled exports and listing/sorting require a paid plan (Silver+)."
      }
    },
    "schemas": {
      "CompanyRelationship": {
        "type": "object",
        "properties": {
          "relationship_type": {
            "type": "string",
            "enum": [
              "subsidiary",
              "brand",
              "division",
              "joint_venture"
            ]
          },
          "ownership_pct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Stated ownership percentage when a source gives it"
          },
          "started_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "company": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "logo_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "CompanyCard": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "_revealed"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "short_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "industries": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "hq_city": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "employee_count_range": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1-10",
              "11-50",
              "51-200",
              "201-500",
              "501-1000",
              "1001-5000",
              "5001-10000",
              "10001+",
              null
            ]
          },
          "total_funding_raised": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Whole USD. Sum of disclosed itemized funding rounds at confidence 50+: equity rounds, notes, SAFEs, equity crowdfunding and grants. Grants are included; debt, IPOs, acquisitions and secondaries are not. Null when no counted round has a disclosed amount."
          },
          "operating_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "active",
              "acquired",
              "ipo",
              "closed",
              null
            ]
          },
          "_revealed": {
            "type": "boolean",
            "description": "true when this account has unlocked the entity's depth within 12 months"
          },
          "domain_match": {
            "$ref": "#/components/schemas/DomainMatch"
          }
        }
      },
      "DomainMatch": {
        "type": "object",
        "required": [
          "queried",
          "canonical_domain",
          "matched_via"
        ],
        "properties": {
          "queried": {
            "type": "string",
            "description": "Canonicalized domain supplied by the caller"
          },
          "canonical_domain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Current website host on the matched company"
          },
          "matched_via": {
            "type": "string",
            "enum": [
              "canonical_domain",
              "alias_domain",
              "former_website"
            ]
          }
        }
      },
      "CompanyDomainLookupItem": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "domain",
              "status",
              "credits_charged",
              "data"
            ],
            "properties": {
              "domain": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "hit"
              },
              "credits_charged": {
                "type": "integer",
                "const": 1
              },
              "data": {
                "$ref": "#/components/schemas/CompanyCard"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "domain",
              "status",
              "coverage_requested",
              "coverage_eta_days",
              "credits_charged"
            ],
            "properties": {
              "domain": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "miss"
              },
              "coverage_requested": {
                "type": "boolean",
                "description": "true when the request was durably recorded for manual review; not a promise of admission or coverage. false means recording failed and the client can retry, or the domain belongs to a company outside coverage scope"
              },
              "coverage_status": {
                "type": "string",
                "enum": [
                  "queued",
                  "not_queued",
                  "pending_enrichment",
                  "scope_review",
                  "not_in_coverage_scope"
                ],
                "description": "Why this domain missed: queued (recorded for review), not_queued (recording failed), pending_enrichment (held, profile not yet servable), scope_review (held, scope under review), not_in_coverage_scope (held, outside coverage scope; never served)"
              },
              "coverage_eta_days": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Currently null: manual review has no guaranteed completion date. Misses are never charged."
              },
              "credits_charged": {
                "type": "integer",
                "const": 0
              }
            }
          },
          {
            "type": "object",
            "required": [
              "domain",
              "status",
              "credits_charged"
            ],
            "properties": {
              "domain": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "insufficient_credits"
              },
              "credits_charged": {
                "type": "integer",
                "const": 0
              }
            }
          }
        ]
      },
      "CompanyDomainLookupSummary": {
        "type": "object",
        "required": [
          "total_requested",
          "total_hits",
          "total_misses",
          "total_insufficient_credits",
          "total_credits_charged"
        ],
        "properties": {
          "total_requested": {
            "type": "integer"
          },
          "total_hits": {
            "type": "integer"
          },
          "total_misses": {
            "type": "integer"
          },
          "total_insufficient_credits": {
            "type": "integer"
          },
          "total_credits_charged": {
            "type": "integer"
          }
        }
      },
      "InvestorCard": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "_revealed"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "investor_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "vc",
              "pe",
              "growth_equity",
              "hedge_fund",
              "cvc",
              "family_office",
              "sovereign_wealth",
              "accelerator",
              "incubator",
              "angel_group",
              "angel",
              "individual",
              "bank",
              "other",
              null
            ]
          },
          "hq_city": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "total_investments_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "_revealed": {
            "type": "boolean",
            "description": "true when this account has unlocked the entity's depth within 12 months"
          }
        }
      },
      "ProfileLoadState": {
        "type": "object",
        "required": [
          "status"
        ],
        "description": "Section read status, not a claim of historical data completeness. Full-record delivery rejects unsuccessful tracked section reads.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "partial",
              "unavailable",
              "failed"
            ]
          },
          "cause": {
            "type": "string",
            "enum": [
              "outage",
              "defect"
            ],
            "description": "Present only for unsuccessful reads."
          }
        }
      },
      "NullableCompanyReference": {
        "type": [
          "object",
          "null"
        ],
        "description": "Visible parent or acquirer identity; null when no visible reference is recorded.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CompanyProfile": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug"
        ],
        "description": "Shape varies by depth parameter (slim/standard/full)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "data_as_of": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last verified enrichment timestamp; null when unknown."
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "short_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "long_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "industries": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "hq_city": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_state": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "employee_count_range": {
            "type": [
              "string",
              "null"
            ]
          },
          "total_funding_raised": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Whole USD. Sum of disclosed itemized funding rounds at confidence 50+: equity rounds, notes, SAFEs, equity crowdfunding and grants. Grants are included; debt, IPOs, acquisitions and secondaries are not. Null when no counted round has a disclosed amount."
          },
          "operating_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "founded_year": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_valuation": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null at slim/standard depth or when undisclosed."
          },
          "last_valuation_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Null at slim/standard depth or when unknown."
          },
          "load_states": {
            "type": "object",
            "properties": {
              "relationships": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "acquisitions": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "acquirer": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "parent_company": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "valuation_events": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "technologies": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "app_stack": {
                "$ref": "#/components/schemas/ProfileLoadState"
              }
            }
          },
          "acquirer": {
            "$ref": "#/components/schemas/NullableCompanyReference"
          },
          "parent_company": {
            "$ref": "#/components/schemas/NullableCompanyReference"
          },
          "owners": {
            "type": "array",
            "description": "depth=standard and full. Companies that own this one, from reviewed, sourced relationships: its controlling parent (subsidiary, brand or division), or its joint-venture owners. This and subsidiaries share a bounded set of up to 200 relationships ordered by child name; empty means none in that returned set.",
            "items": {
              "$ref": "#/components/schemas/CompanyRelationship"
            }
          },
          "subsidiaries": {
            "type": "array",
            "description": "depth=standard and full. Companies this one owns (subsidiaries, brands, divisions, joint ventures), from the same bounded set of up to 200 relationships as owners, ordered by child name.",
            "items": {
              "$ref": "#/components/schemas/CompanyRelationship"
            }
          },
          "acquisitions": {
            "type": "array",
            "description": "depth=full only. Up to 100 visible acquisitions, most recent first; a bounded subset, not a complete acquisition history.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "logo_url": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "website": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "short_description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "industries": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "hq_city": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "hq_country": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "acquisition_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "acquisition_price_usd": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              }
            }
          },
          "valuation_events": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "event_type": {
                  "type": "string"
                },
                "amount_raised_usd": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "announced_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "participants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "is_lead": {
                        "type": "boolean"
                      },
                      "investor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "investor_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "technologies": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "technology_name": {
                  "type": "string"
                },
                "category": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "stack_type": {
                  "type": "string",
                  "const": "tech"
                }
              }
            }
          },
          "app_stack": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "technology_name": {
                  "type": "string"
                },
                "category": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "stack_type": {
                  "type": "string",
                  "const": "app"
                }
              }
            }
          }
        }
      },
      "InvestorProfile": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug"
        ],
        "description": "Shape varies by depth parameter (slim/standard/full)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "data_as_of": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last verified enrichment timestamp; null when unknown."
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "investor_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_city": {
            "type": [
              "string",
              "null"
            ]
          },
          "hq_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "total_investments_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "portfolio_company_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "total_capital_deployed": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null at slim/standard depth or when undisclosed."
          },
          "avg_check_size": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null at slim/standard depth or when undisclosed."
          },
          "typical_check_size_min": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null at slim/standard depth or when undisclosed."
          },
          "typical_check_size_max": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null at slim/standard depth or when undisclosed."
          },
          "load_states": {
            "type": "object",
            "properties": {
              "portfolio": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "investments": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "family": {
                "$ref": "#/components/schemas/ProfileLoadState"
              },
              "co_investors": {
                "$ref": "#/components/schemas/ProfileLoadState"
              }
            }
          },
          "portfolio_companies": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "company_name": {
                  "type": "string"
                },
                "company_slug": {
                  "type": "string"
                },
                "company_logo_url": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "industries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "hq_country": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "investments": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "company_name": {
                  "type": "string"
                },
                "company_slug": {
                  "type": "string"
                },
                "event_type": {
                  "type": "string"
                },
                "date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "amount": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "is_lead": {
                  "type": "boolean"
                }
              }
            }
          },
          "sub_funds": {
            "type": "array",
            "description": "Only present at depth=full",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SearchPageMeta": {
        "type": "object",
        "required": [
          "total",
          "page",
          "limit",
          "hasMore",
          "revealed_count",
          "unrevealed_count",
          "search_quota"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total matches (always full count, regardless of reveal_status filter)"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          },
          "revealed_count": {
            "type": "integer"
          },
          "unrevealed_count": {
            "type": "integer"
          },
          "all_revealed": {
            "type": "boolean",
            "description": "Present only when reveal_status=unrevealed and the first noncursor page verifies the complete nonempty match set is already revealed. Empty partial, cursor or later pages do not establish this; absence does not imply unrevealed matches exist."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque continuation token for a paid key; null means the final page. Pass it as the cursor query parameter."
          },
          "search_quota": {
            "type": "object",
            "required": [
              "per_day",
              "used_today",
              "remaining_today",
              "resets_at"
            ],
            "properties": {
              "per_day": {
                "type": "integer"
              },
              "used_today": {
                "type": "integer"
              },
              "remaining_today": {
                "type": "integer"
              },
              "resets_at": {
                "type": "string",
                "format": "date-time"
              },
              "note": {
                "type": "string",
                "description": "Present when this page used paid credits beyond the daily quota"
              }
            }
          },
          "depth": {
            "type": "object",
            "description": "Only present while this page contains unrevealed results; points to the full-record endpoint",
            "required": [
              "endpoint",
              "cost_credits",
              "unlocks",
              "docs"
            ],
            "properties": {
              "endpoint": {
                "type": "string"
              },
              "cost_credits": {
                "type": "integer"
              },
              "unlocks": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "docs": {
                "type": "string",
                "format": "uri"
              },
              "free_plan": {
                "type": "object",
                "description": "Present when the key's plan does not have full API access",
                "required": [
                  "credits_per_month",
                  "full_records_per_month"
                ],
                "properties": {
                  "credits_per_month": {
                    "type": "integer"
                  },
                  "full_records_per_month": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "alternate_entities": {
            "type": "array",
            "description": "Identity-only investor pointers when an exact company-domain lookup belongs to an investor; no private data",
            "items": {
              "type": "object",
              "required": [
                "entity_type",
                "id",
                "name",
                "slug",
                "website",
                "investor_type",
                "profile_path"
              ],
              "properties": {
                "entity_type": {
                  "type": "string",
                  "const": "investor"
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "website": {
                  "type": "string",
                  "format": "uri"
                },
                "investor_type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "profile_path": {
                  "type": "string"
                }
              }
            }
          },
          "alternate_entities_truncated": {
            "type": "boolean"
          },
          "resolved_filters": {
            "type": "object",
            "description": "Echo of resolved filter values (e.g., industries: ai-ml → AI/ML). Only present when filters are applied.",
            "additionalProperties": true
          }
        }
      },
      "RevealResult": {
        "type": "object",
        "required": [
          "id",
          "entity_type",
          "status",
          "credits_charged"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity identifier (UUID if input was UUID, slug if input was slug)"
          },
          "entity_type": {
            "type": "string",
            "enum": [
              "company",
              "investor"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "revealed",
              "cached",
              "insufficient_credits",
              "not_found"
            ]
          },
          "credits_charged": {
            "type": "integer"
          },
          "data": {
            "description": "Full entity data (present when status is revealed or cached). Entity type determines the shape.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/CompanyProfile"
              },
              {
                "$ref": "#/components/schemas/InvestorProfile"
              }
            ]
          }
        }
      },
      "EnrichSummary": {
        "type": "object",
        "required": [
          "total_requested",
          "total_matched",
          "total_revealed",
          "total_cached",
          "total_unmatched",
          "total_credits_charged"
        ],
        "properties": {
          "total_requested": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of unique normalized inputs."
          },
          "total_matched": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of distinct matched companies; multiple inputs can match one company."
          },
          "total_revealed": {
            "type": "integer",
            "minimum": 0
          },
          "total_cached": {
            "type": "integer",
            "minimum": 0
          },
          "total_unmatched": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of unmatched unique inputs",
            "including malformed domains.": null
          },
          "total_credits_charged": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "RevealSummary": {
        "type": "object",
        "required": [
          "total_requested",
          "total_revealed",
          "total_cached",
          "total_failed",
          "total_credits_charged"
        ],
        "properties": {
          "total_requested": {
            "type": "integer"
          },
          "total_revealed": {
            "type": "integer"
          },
          "total_cached": {
            "type": "integer"
          },
          "total_failed": {
            "type": "integer"
          },
          "total_credits_charged": {
            "type": "integer"
          }
        }
      },
      "UsageData": {
        "type": "object",
        "properties": {
          "credits_included": {
            "type": "integer"
          },
          "credits_used": {
            "type": "integer"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "pack_credits_remaining": {
            "type": "integer"
          },
          "low_balance_threshold": {
            "type": "number",
            "description": "Alert threshold for the active subscription or latest-pack bucket"
          },
          "low_balance_basis": {
            "type": "integer",
            "description": "Current bucket size used to derive the 10% threshold"
          },
          "overage_enabled": {
            "type": "boolean"
          },
          "overage_credits_used": {
            "type": "integer"
          },
          "period_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "period_end": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "silver",
              "gold",
              "platinum",
              "enterprise"
            ]
          },
          "limits": {
            "type": "object",
            "properties": {
              "rate_limit_per_minute": {
                "type": "integer"
              },
              "api_keys_max": {
                "type": "integer"
              },
              "reveal_batch_size_max": {
                "type": "integer"
              },
              "reveal_hourly_max": {
                "type": "integer"
              }
            }
          }
        }
      },
      "IndustryFilter": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Canonical display label"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Accepted alternative values (lowercase, slugs)"
          },
          "db_variants_count": {
            "type": "integer",
            "description": "Number of DB industry values this label matches"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error",
          "code"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "reason": {
            "type": "string",
            "enum": [
              "credits_exhausted",
              "overage_cap_reached",
              "no_active_period"
            ]
          },
          "remaining": {
            "type": "integer",
            "minimum": 0
          },
          "top_up_url": {
            "type": "string",
            "format": "uri"
          },
          "top_up_pack": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "pack_5k"
              },
              "credits": {
                "type": "integer",
                "example": 5000
              },
              "price_cents": {
                "type": "integer",
                "example": 20000
              }
            }
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Correlation ID (also in X-Request-Id header)"
          },
          "details": {
            "type": "array",
            "description": "Present for validation errors",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "ServiceUnavailable": {
        "description": "Data or credit service unavailable. DATA_UNAVAILABLE means requested entity preparation failed before charging; retry later. SYSTEM_ERROR may have an unknown billing outcome after a lost deduction response; check credit usage before retrying.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request parameters",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "AuthError": {
        "description": "Missing, invalid, or insufficient API key",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Entity not found",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Credits exhausted, no active credit period, or overage cap reached (code CREDIT_LIMIT_REACHED). This is a billing state, not a rate limit — do not retry. Follow top_up_url to repurchase the returned top_up_pack.\n",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded (code RATE_LIMITED). Back off and retry after Retry-After.",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}