{
  "openapi": "3.0.0",
  "info": {
    "description": "API de integração do Hub BConnector. Este hub atua como camada intermediária entre ERPs e Marketplaces, provendo canonização de dados e sincronização multi-tenant.\n\n### Papéis de Acesso (Roles)\n- **Operador (Admin/White Label)**: Acesso total ao sistema, configurações globais e logs.\n- **Fornecedor (Supplier)**: Visão limitada aos seus próprios produtos, estoques e sincronizações.",
    "title": "Hub BConnector API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BCONNECTORBR/hub-bconnector/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bconnector.com.br/v1"
    }
  ],
  "paths": {
    "/auth/mercado-livre/callback": {
      "get": {
        "responses": {
          "200": {
            "description": "Sucesso na autorização"
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Endpoint para receber o code/token do Mercado Livre após autorização do seller. **Permissão**: Operador",
        "summary": "OAuth Callback do Mercado Livre"
      }
    },
    "/orders/mercado-livre/{order_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "description": "Detalhes do pedido"
          }
        },
        "tags": [
          "Orders"
        ],
        "description": "Busca detalhes de um pedido específico diretamente ou via cache do Hub. **Permissão**: Operador",
        "summary": "Consulta pedido no Mercado Livre"
      }
    },
    "/products": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Lista de produtos"
          }
        },
        "tags": [
          "Products"
        ],
        "description": "Retorna a lista de produtos. Se o perfil for **Fornecedor**, retorna apenas seus itens. **Permissão**: Operador, Fornecedor",
        "summary": "Listar produtos canônicos"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Produto criado"
          }
        },
        "tags": [
          "Products"
        ],
        "description": "Cria um novo produto na base canônica do hub. **Permissão**: Operador, Fornecedor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          },
          "required": true
        },
        "summary": "Criar produto canônico"
      }
    },
    "/stock/sync": {
      "post": {
        "responses": {
          "202": {
            "description": "Atualização aceita para processamento"
          }
        },
        "tags": [
          "Stock"
        ],
        "description": "Recebe atualização de estoque (ex: via Bling) e dispara replicação. **Permissão**: Operador",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockUpdate"
              }
            }
          },
          "required": true
        },
        "summary": "Atualização manual de estoque (Webhook ERP Simulator)"
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "properties": {
          "external_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "items": {
            "items": {
              "properties": {
                "quantity": {
                  "type": "integer"
                },
                "sku": {
                  "type": "string"
                },
                "unit_price": {
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "Product": {
        "properties": {
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sku_canonical": {
            "type": "string"
          },
          "status": {
            "enum": [
              "active",
              "inactive",
              "draft"
            ],
            "type": "string"
          },
          "supplier_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductInput": {
        "properties": {
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sku_canonical": {
            "type": "string"
          },
          "supplier_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "sku_canonical",
          "name",
          "supplier_id"
        ],
        "type": "object"
      },
      "StockUpdate": {
        "properties": {
          "quantity": {
            "type": "integer"
          },
          "sku": {
            "type": "string"
          },
          "warehouse_id": {
            "type": "string"
          }
        },
        "required": [
          "sku",
          "quantity"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "Chave de acesso. Ex: 7bb6be21-d76e-4b76-acab-37afb0eaa057",
        "in": "header",
        "name": "X-API-KEY",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "description": "Autenticação e Autorização",
      "name": "Auth"
    },
    {
      "description": "Gestão de White Labels, Sellers e Fornecedores",
      "name": "Core"
    },
    {
      "description": "Gestão de Produtos Canônicos e Blueprints",
      "name": "Products"
    },
    {
      "description": "Controle e Sincronização de Estoque",
      "name": "Stock"
    },
    {
      "description": "Gestão de Pedidos (Mercado Livre e outros)",
      "name": "Orders"
    }
  ]
}