{
  "openapi": "3.1.0",
  "info": {
    "title": "drillr Public Data API",
    "version": "2.0.0-spec.116",
    "description": "REST endpoints over the same tables the drillr app runs on: fundamentals, filings, earnings, ownership, events, executives, analyst data and news for US, Japan and China equities. Every row derived from a disclosure links to the official filing. Generated from the Public Data API interface spec (revision 116, 2026-09-15). Read endpoints use GET query parameters; news search uses POST with a JSON body; every path below already carries the `/api/v2` prefix, so the server URL is the bare host. Authenticate with an `X-API-KEY` header; keys are created at https://drillr.ai/account/api-keys and every call is billed in credits (`x-credits`).",
    "termsOfService": "https://drillr.ai/legal/terms",
    "contact": {
      "name": "drillr developer support",
      "url": "https://drillr.ai/docs",
      "email": "support@lil-grebe.com"
    },
    "license": {
      "name": "drillr Terms of Service",
      "url": "https://drillr.ai/legal/terms"
    },
    "x-logo": {
      "url": "https://drillr.ai/images/brand/logo_512_optimized.png",
      "altText": "drillr"
    },
    "x-jentic-source-url": "https://gateway.drillr.ai/api/v2/openapi.json"
  },
  "servers": [
    {
      "url": "https://gateway.drillr.ai"
    }
  ],
  "paths": {
    "/api/v2/tickers": {
      "get": {
        "operationId": "publicDataV2Tickers",
        "tags": [
          "Company"
        ],
        "summary": "Resolve or list canonical tickers",
        "description": "Converts a company name, local code, ISIN, CIK or CUSIP into the `ticker` that every other endpoint uses, one per row. Without `query`, lists all currently trading common stocks in a market. Call this first when you only have a name or an identifier.\n\nExample request: `GET /api/v2/tickers?query=Apple%20Inc.&market=US`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "weekdays; profile 07:00 UTC, snapshot 16:00 UTC",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "US",
                  "CN",
                  "JP"
                ]
              },
              "minItems": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicTickersItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "name": "Apple Inc.",
                      "exchange": "XNAS",
                      "identifiers": {
                        "isin": "US0378331005",
                        "cik": "0000320193",
                        "cusip": "037833100"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/company-discovery": {
      "get": {
        "operationId": "publicDataV2CompanyDiscovery",
        "tags": [
          "Company"
        ],
        "summary": "Discover companies from a natural-language description",
        "description": "Finds companies from a plain-language description. Returns every candidate that passes verification, one company per row: the ticker, the company name and the reason it matched. Use it when you do not know the ticker, then call the other endpoints with what it returns.\n\nExample request: `GET /api/v2/company-discovery?query=US%20companies%20that%20design%20GPUs%20for%20data%20centers&market=US`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "3 cr per call",
        "x-refresh": "follows company snapshot rebuild",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "US",
                  "CN",
                  "JP",
                  "HK",
                  "KR"
                ]
              },
              "minItems": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicCompanyDiscoveryItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "NVDA",
                      "company_name": "NVIDIA Corporation",
                      "reason": "US company designing GPUs for accelerated data center platforms."
                    },
                    {
                      "ticker": "AMD",
                      "company_name": "Advanced Micro Devices, Inc.",
                      "reason": "US company designing data center GPUs, including Radeon and Instinct accelerators."
                    },
                    {
                      "ticker": "INTC",
                      "company_name": "Intel Corp.",
                      "reason": "Designs data center and AI discrete GPUs."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/company-profile": {
      "get": {
        "operationId": "publicDataV2CompanyProfile",
        "tags": [
          "Company"
        ],
        "summary": "Get company profiles",
        "description": "Returns basic company profiles and external identifiers, one row per company. For prices, use `/prices-snapshot`; for valuation, use `/financial-metrics-snapshot`.\n\nExample request: `GET /api/v2/company-profile?ticker=AAPL`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "weekdays; profile 07:00 UTC, snapshot 16:00 UTC",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicCompanyProfileItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "name": "Apple Inc.",
                      "name_local": null,
                      "exchange": "XNAS",
                      "country": "US",
                      "currency": "USD",
                      "sector": "Technology",
                      "industry": "Consumer Electronics",
                      "listing_date": "1980-12-12",
                      "website": "https://www.apple.com",
                      "full_time_employees": 164000,
                      "identifiers": {
                        "isin": "US0378331005",
                        "cik": "0000320193",
                        "cusip": "037833100"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/filings": {
      "get": {
        "operationId": "publicDataV2Filings",
        "tags": [
          "Filings"
        ],
        "summary": "List retained regulatory filings",
        "description": "Returns a company's filings, one row per filing, with the form type, filing date and a link to the official document. Ordered by `filing_date` descending, then `accession_number` descending for the same day. Covers the last 5 years for US and the last 3 years of financial reports for JP / CN; there are no date or form-type parameters and no market-wide scan — every filing for that company inside the window comes back together. Filter for annual or quarterly reports yourself on the `form_type` field of the returned rows.\n\nExample request: `GET /api/v2/filings?ticker=AAPL&limit=20`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "US 5m; JP 15-30m; CN daily 16:00 UTC",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicFilingsItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "form_type": "4",
                      "title": null,
                      "filing_date": "2026-02-03",
                      "period_of_report": null,
                      "accession_number": "0001216519-26-000002",
                      "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000121651926000002/0001216519-26-000002.txt"
                    },
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "form_type": "10-K",
                      "title": "Annual report for fiscal year ended September 27, 2025",
                      "filing_date": "2025-10-31",
                      "period_of_report": "2025-09-27",
                      "accession_number": "0000320193-25-000079",
                      "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/filing-search": {
      "get": {
        "operationId": "publicDataV2FilingSearch",
        "tags": [
          "Filings"
        ],
        "summary": "Search one company's retained filings — passages always, structured as-reported facts where covered",
        "description": "Search SEC filings and Chinese and Japanese financial reports for facts buried in footnotes, tables and narrative disclosures. Semantic and keyword search returns original passages with filing context.\n\nExample request: `GET /api/v2/filing-search?ticker=AAPL&query=share+repurchase&form_type=10-K&from=2025-01&to=2025-12&include_facts=true`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.1 cr per call",
        "x-refresh": "US 5m; JP 15-30m; CN daily 16:00 UTC",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 1
            }
          },
          {
            "name": "form_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "include_facts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFilingSearchItem"
                },
                "example": {
                  "data": {
                    "passages": [
                      {
                        "ticker": "AAPL",
                        "market": "US",
                        "form_type": "10-K",
                        "filing_date": "2025-10-31",
                        "language": "en",
                        "section": "Share Repurchase Program",
                        "snippet": "Share Repurchase Program During 2025, the Company repurchased 402 million shares of its common stock for $89.3 billion…",
                        "score": 0.0472
                      }
                    ],
                    "facts": [
                      {
                        "fact_id": "f1f97ecc9ad979fc",
                        "metric": "Repurchases of Common Stock",
                        "value": 89300,
                        "printed_value": "$89,300",
                        "unit": "million",
                        "currency": "USD",
                        "fiscal_year": 2025,
                        "fiscal_period": "FY",
                        "period_start": "2024-09-29",
                        "period_end": "2025-09-27",
                        "xbrl_concept": "us-gaap:PaymentsForRepurchaseOfCommonStock",
                        "form_type": "10-K",
                        "filing_date": "2025-10-31",
                        "accession": "0000320193-25-000079",
                        "score": 0.0311
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/industry-inflections": {
      "get": {
        "operationId": "publicDataV2IndustryInflections",
        "tags": [
          "Signal"
        ],
        "summary": "List published industry inflections",
        "description": "Returns industry-level changes synthesized from the earnings calls of multiple US-listed companies, one row per inflection theme that can be tracked over time: the change mechanism, impact scope and degree, market attention, and the per-company impact breakdown (the `company_impacts` array, not flattened by company). Built from earnings calls held after July 2026 and refreshed daily as new calls and evidence arrive.\n\nExample request: `GET /api/v2/industry-inflections?limit=10&page=1`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "1 cr per call",
        "x-refresh": "daily upstream research refresh and historical replay",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicIndustryInflectionsItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "change_id": "theme_0652186192fd13ab",
                      "quarter": "2026Q2",
                      "name": "Conflict feedstock rationing re-sorts who can supply",
                      "regime_type": "competition",
                      "impact_scope": "cross_industry",
                      "impact_degree": 2,
                      "attention_verdict": "partly",
                      "change_summary": "…",
                      "first_seen": "2026-08-13",
                      "source_tickers": [
                        "ANSLY",
                        "GRSXY",
                        "UFI"
                      ],
                      "company_impacts": [
                        {
                          "ticker": "UFI",
                          "relation": "direct",
                          "direction": "positive",
                          "magnitude": 2,
                          "impact_stage": "realized",
                          "evidence_status": "confirmed",
                          "affected_business": "Brazil segment …",
                          "impact": "…"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise-ai-adoption": {
      "get": {
        "operationId": "publicDataV2EnterpriseAiAdoption",
        "tags": [
          "Signal"
        ],
        "summary": "List enterprise AI adoption observations",
        "description": "Returns the concrete enterprise AI applications US-listed companies have disclosed on earnings calls: the workflow each is used in, its deployment stage and scope, the value disclosed, metrics and supporting evidence. General statements about AI strategy are excluded.\n\nExample request: `GET /api/v2/enterprise-ai-adoption?ticker=ALHC&since=2024-01-01`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "1 cr per call",
        "x-refresh": "daily upstream research refresh and historical replay",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicEnterpriseAiAdoptionItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "deployment_id": "p91_external_case_05f447e473a6182f",
                      "application_id": "app_b5743ede99d797b3",
                      "ticker": "ALHC",
                      "company_name": "Alignment Healthcare, Inc.",
                      "application_name": "AI-leveraging contract management solutions …",
                      "first_report_date": "2026-04-30",
                      "update_date": "2026-04-30",
                      "summary": "[Application] … [Current Result] … [Financial Link] … [Boundary] …",
                      "evolution_summary": "[Management Stance] … ",
                      "business_position": "support_function",
                      "deployment_stage": "unclear",
                      "deployment_scope": "unclear",
                      "value_type": "cost_reduction",
                      "metrics": [
                        {
                          "metric_name": "Administrative cost reduction",
                          "value": "15%",
                          "scope": "Contract management workflow",
                          "metric_role": "realized_result",
                          "financial_metric": "operating_expenses",
                          "financial_attribution": "Management attributed part of the reduction to the AI-enabled workflow.",
                          "evidence_id": "ev_3f1c8a20d4b7"
                        }
                      ],
                      "evidence": [
                        {
                          "evidence_id": "ev_3f1c8a20d4b7",
                          "quote": "we are also deploying contract management solutions that leverage AI …",
                          "speaker": null,
                          "section": null
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/news-search": {
      "post": {
        "operationId": "publicDataV2NewsSearch",
        "tags": [
          "Signal"
        ],
        "summary": "Search cross-source news storylines, events and attributed claims",
        "description": "Searches news across sources and returns storylines. Duplicate reports of the same occurrence are merged into one event, related events are grouped into a storyline, and statements with a named speaker and subject are returned separately as attributed claims (`claims`). Each item in `results` is a storyline, not an article; every result is an in-house summary with links to the original sources, and article text is not included.\n\nExample request: `POST /api/v2/news-search` with the JSON body shown below.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.2 cr per call",
        "x-refresh": "continuous signal ingestion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "theme": {
                    "type": "string"
                  },
                  "ticker": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        },
                        "minItems": 1,
                        "maxItems": 1
                      }
                    ]
                  },
                  "since": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "until": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "search_type": {
                    "type": "string",
                    "enum": [
                      "all",
                      "events",
                      "claims"
                    ],
                    "default": "all"
                  },
                  "order_by": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "event_time",
                      "create_time"
                    ],
                    "default": "relevance"
                  },
                  "top_k": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "theme"
                    ]
                  },
                  {
                    "required": [
                      "ticker"
                    ]
                  },
                  {
                    "required": [
                      "since"
                    ]
                  },
                  {
                    "required": [
                      "until"
                    ]
                  }
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "export controls",
                "ticker": "NVDA",
                "search_type": "all",
                "order_by": "relevance",
                "top_k": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicNewsSearchItem"
                },
                "example": {
                  "query": "export controls",
                  "theme": null,
                  "theme_resolved": null,
                  "ticker": [
                    "NVDA"
                  ],
                  "since": null,
                  "until": null,
                  "order_by": "relevance",
                  "count": 2,
                  "results": [
                    {
                      "story_id": 123,
                      "title": "US Tightens AI Chip Export Curbs on China",
                      "summary": "The US expanded restrictions on access to advanced AI chips.",
                      "node_count": 48,
                      "first_seen_at": "2026-05-30T23:59:59Z",
                      "last_seen_at": "2026-08-31T07:05:38Z",
                      "created_at": "2026-05-30T23:59:59Z",
                      "sim": 0.91,
                      "events_in_window": 2,
                      "tags": {
                        "version": 1,
                        "primary_class": "legal_regulatory",
                        "event_types": [
                          "regulatory_action"
                        ],
                        "regions": [
                          "US",
                          "CN"
                        ],
                        "sectors_gics": [
                          "Information Technology"
                        ]
                      },
                      "events": [
                        {
                          "id": 456,
                          "time_event": "2026-08-31T07:05:38Z",
                          "summary": "US authorities expanded AI-chip export controls.",
                          "event_type": "regulatory_action",
                          "event_subtype": null,
                          "primary_entity_name": "United States",
                          "object_name": "Nvidia",
                          "score": 4.5,
                          "sim": 0.88,
                          "sources_total": 6,
                          "first_reported": "2026-08-31T07:05:38Z",
                          "last_reported": "2026-08-31T09:12:00Z",
                          "source": {
                            "name": "Reuters",
                            "url": "https://www.reuters.com/...",
                            "time": "2026-08-31T07:05:38Z",
                            "headline": "US tightens AI chip export curbs"
                          }
                        }
                      ]
                    }
                  ],
                  "claims": [
                    {
                      "id": 789,
                      "time_event": "2026-08-31T08:00:00Z",
                      "claim_type": "policy_statement",
                      "claim_subtype": null,
                      "claimant_name": "US Department of Commerce",
                      "target_name": "Nvidia",
                      "summary": "The department said the updated controls cover additional advanced chips.",
                      "sources_total": 3,
                      "first_reported": "2026-08-31T08:00:00Z",
                      "last_reported": "2026-08-31T09:20:00Z",
                      "source": {
                        "name": "Reuters",
                        "url": "https://www.reuters.com/...",
                        "time": "2026-08-31T08:00:00Z",
                        "headline": "US updates advanced-chip export controls"
                      }
                    }
                  ],
                  "next_cursor": null,
                  "claims_skipped": null
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/income-statements": {
      "get": {
        "operationId": "publicDataV2IncomeStatements",
        "tags": [
          "Financials"
        ],
        "summary": "Get income statements",
        "description": "Returns a company's income statement: revenue, costs, profit at each level, earnings per share and more, one row per reporting period. 29 line-item columns in total, plus the 14 meta-data fields shared by the three statements, all listed under Response fields. `ebitda` is a derived column (not an as-reported line). Quarterly amounts may be calculated from cumulative disclosures; earnings per share and weighted average shares cannot be obtained by directly subtracting cumulative figures.\n\nExample request: `GET /api/v2/income-statements?ticker=AAPL&period=FY&limit=5`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "follows filing ingestion; canonical replay weekly",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FY",
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4"
                ]
              },
              "minItems": 1,
              "default": [
                "FY"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicIncomeStatementsItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "fiscal_year": 2025,
                      "period": "FY",
                      "period_start": "2024-09-29",
                      "report_period": "2025-09-27",
                      "currency": "USD",
                      "accounting_standard": "US-GAAP",
                      "accession_number": "0000320193-25-000079",
                      "form_type": "10-K",
                      "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                      "filing_date": "2025-10-31",
                      "derived_fields": [],
                      "derivation": {},
                      "revenue": 416161000000,
                      "cost_of_revenue": 220960000000,
                      "gross_profit": 195201000000,
                      "research_and_development_expense": 34550000000,
                      "selling_and_marketing_expense": null,
                      "general_and_administrative_expense": 8077000000,
                      "selling_general_and_administrative_expense": null,
                      "taxes_and_surcharges": null,
                      "operating_expenses": null,
                      "operating_income": 133050000000,
                      "interest_income": null,
                      "interest_expense": null,
                      "other_non_operating_income": null,
                      "ordinary_income": null,
                      "extraordinary_gains": null,
                      "extraordinary_losses": null,
                      "pretax_income": 132729000000,
                      "income_tax_expense": 20719000000,
                      "net_income": null,
                      "net_income_attributable_to_parent": 112010000000,
                      "net_income_attributable_to_noncontrolling_interests": null,
                      "depreciation_and_amortization": null,
                      "share_based_compensation": 12863000000,
                      "eps_basic": null,
                      "eps_diluted": null,
                      "dividend_per_share": 1.02,
                      "weighted_average_shares_basic": 14948500000,
                      "weighted_average_shares_diluted": null,
                      "ebitda": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/balance-sheets": {
      "get": {
        "operationId": "publicDataV2BalanceSheets",
        "tags": [
          "Financials"
        ],
        "summary": "Get balance sheets",
        "description": "Returns a company's balance sheet: assets, liabilities, shareholders' equity and their line items, one row per reporting period as of period end. 41 line-item columns in total, plus the 14 meta-data fields shared by the three statements, all listed under Response fields; `period_start` is always `null`. `total_debt` / `net_debt` are derived columns (not as-reported lines); all other columns are as-reported values.\n\nExample request: `GET /api/v2/balance-sheets?ticker=AAPL&period=FY&limit=3`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "follows filing ingestion; canonical replay weekly",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FY",
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4"
                ]
              },
              "minItems": 1,
              "default": [
                "FY"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicBalanceSheetsItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "fiscal_year": 2025,
                      "period": "FY",
                      "period_start": null,
                      "report_period": "2025-09-27",
                      "currency": "USD",
                      "accounting_standard": "US-GAAP",
                      "accession_number": "0000320193-25-000079",
                      "form_type": "10-K",
                      "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                      "filing_date": "2025-10-31",
                      "derived_fields": [
                        "total_equity"
                      ],
                      "derivation": {
                        "total_equity": {
                          "value": 73733000000,
                          "inputs": [
                            {
                              "value": 359241000000,
                              "metric": "total_assets",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": null,
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            },
                            {
                              "value": 285508000000,
                              "metric": "total_liabilities",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": null,
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            }
                          ],
                          "metric": "total_equity",
                          "currency": "USD",
                          "operation": "minus",
                          "available_at": "2025-10-31",
                          "period_start": null,
                          "report_period": "2025-09-27"
                        }
                      },
                      "cash_and_cash_equivalents": 35934000000,
                      "short_term_investments": 18763000000,
                      "accounts_receivable": null,
                      "inventories": 5718000000,
                      "prepaid_expenses": null,
                      "other_current_assets": null,
                      "current_assets": 147957000000,
                      "property_plant_equipment": null,
                      "right_of_use_assets": 11205000000,
                      "goodwill": null,
                      "intangible_assets": 13301000000,
                      "long_term_investments": null,
                      "deferred_tax_assets": null,
                      "other_non_current_assets": 83727000000,
                      "non_current_assets": null,
                      "total_assets": 359241000000,
                      "accounts_payable": 69860000000,
                      "short_term_debt": null,
                      "current_portion_of_long_term_debt": null,
                      "employee_compensation_payable": null,
                      "income_taxes_payable": 13016000000,
                      "accrued_liabilities": null,
                      "deferred_revenue": null,
                      "other_current_liabilities": null,
                      "current_liabilities": 165631000000,
                      "long_term_debt": null,
                      "lease_liabilities": 692000000,
                      "deferred_tax_liabilities": 19980000000,
                      "other_non_current_liabilities": null,
                      "non_current_liabilities": null,
                      "total_liabilities": 285508000000,
                      "common_stock": 93568000000,
                      "additional_paid_in_capital": null,
                      "retained_earnings": -14264000000,
                      "treasury_stock": null,
                      "accumulated_other_comprehensive_income": null,
                      "equity_attributable_to_parent": 73733000000,
                      "noncontrolling_interests": null,
                      "total_equity": 73733000000,
                      "temporary_equity": null,
                      "total_debt": null,
                      "net_debt": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cash-flow-statements": {
      "get": {
        "operationId": "publicDataV2CashFlowStatements",
        "tags": [
          "Financials"
        ],
        "summary": "Get cash-flow statements",
        "description": "Returns a company's cash flow statement: operating, investing and financing cash flows plus free cash flow, one row per reporting period. 16 line-item columns in total, plus the 14 meta-data fields shared by the three statements, all listed under Response fields. Signs follow the statement direction: outflows such as capital expenditures, buybacks and dividends are negative, inflows such as investment proceeds are positive. `free_cash_flow` is a derived column (not an as-reported line). Quarterly cash flows may be calculated from cumulative disclosures; half-year or full-year cumulative amounts are not returned as single-quarter amounts.\n\nExample request: `GET /api/v2/cash-flow-statements?ticker=AAPL&period=FY&limit=3`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "follows filing ingestion; canonical replay weekly",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FY",
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4"
                ]
              },
              "minItems": 1,
              "default": [
                "FY"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicCashFlowStatementsItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "fiscal_year": 2025,
                      "period": "FY",
                      "period_start": "2024-09-29",
                      "report_period": "2025-09-27",
                      "currency": "USD",
                      "accounting_standard": "US-GAAP",
                      "accession_number": "0000320193-25-000079",
                      "form_type": "10-K",
                      "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                      "filing_date": "2025-10-31",
                      "derived_fields": [
                        "investing_cash_flow",
                        "dividends_paid",
                        "cash_at_end_of_period",
                        "income_taxes_paid"
                      ],
                      "derivation": {
                        "dividends_paid": {
                          "value": -15421000000,
                          "inputs": [
                            {
                              "value": 15421000000,
                              "metric": "dividends_paid",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": "2024-09-29",
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            }
                          ],
                          "metric": "dividends_paid",
                          "currency": "USD",
                          "operation": "negative_absolute",
                          "available_at": "2025-10-31",
                          "period_start": "2024-09-29",
                          "report_period": "2025-09-27"
                        },
                        "income_taxes_paid": {
                          "value": -43369000000,
                          "inputs": [
                            {
                              "value": 43369000000,
                              "metric": "income_taxes_paid",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": "2024-09-29",
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            }
                          ],
                          "metric": "income_taxes_paid",
                          "currency": "USD",
                          "operation": "negative_absolute",
                          "available_at": "2025-10-31",
                          "period_start": "2024-09-29",
                          "report_period": "2025-09-27"
                        },
                        "investing_cash_flow": {
                          "value": 15195000000,
                          "inputs": [
                            {
                              "value": 15195000000,
                              "metric": "net_cash_used_for_investing_activities",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": "2024-09-29",
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            }
                          ],
                          "metric": "investing_cash_flow",
                          "currency": "USD",
                          "operation": "col",
                          "available_at": "2025-10-31",
                          "period_start": "2024-09-29",
                          "report_period": "2025-09-27"
                        },
                        "cash_at_end_of_period": {
                          "value": 35934000000,
                          "inputs": [
                            {
                              "value": 35934000000,
                              "metric": "cash_and_cash_equivalents",
                              "currency": "USD",
                              "form_type": "10-K",
                              "operation": "reported",
                              "filing_url": "https://www.sec.gov/Archives/edgar/data/320193/000032019325000079/0000320193-25-000079.txt",
                              "filing_date": "2025-10-31",
                              "available_at": "2025-10-31",
                              "period_start": null,
                              "report_period": "2025-09-27",
                              "accession_number": "0000320193-25-000079"
                            }
                          ],
                          "metric": "cash_at_end_of_period",
                          "currency": "USD",
                          "operation": "col",
                          "available_at": "2025-10-31",
                          "period_start": "2024-09-29",
                          "report_period": "2025-09-27"
                        }
                      },
                      "operating_cash_flow": 111482000000,
                      "change_in_working_capital": null,
                      "capital_expenditures": null,
                      "acquisitions_net": null,
                      "purchases_of_investments": null,
                      "proceeds_from_investments": null,
                      "investing_cash_flow": 15195000000,
                      "share_repurchases": null,
                      "dividends_paid": -15421000000,
                      "financing_cash_flow": -120686000000,
                      "effect_of_exchange_rate_on_cash": null,
                      "net_change_in_cash": 5991000000,
                      "cash_at_end_of_period": 35934000000,
                      "income_taxes_paid": -43369000000,
                      "interest_paid": null,
                      "free_cash_flow": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/financial-metrics-snapshot": {
      "get": {
        "operationId": "publicDataV2FinancialMetricsSnapshot",
        "tags": [
          "Financials"
        ],
        "summary": "Get current financial metrics",
        "description": "Returns a company's precomputed valuation and financial ratios: market cap, enterprise value, TTM valuation multiples, margins, returns, growth rates, leverage and liquidity ratios, and dividend metrics, one row per ticker as of the latest snapshot date. Ratios are always decimals (`0.25` = 25%), not percentages; monetary fields are in `currency` (the trading currency), and `market_capitalization_usd` is additionally converted to USD at the snapshot-date rate.\n\nExample request: `GET /api/v2/financial-metrics-snapshot?ticker=AAPL`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "weekdays at 16:00 UTC",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicFinancialMetricsSnapshotItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "market": "US",
                      "currency": "USD",
                      "shares_outstanding": 14780000000,
                      "market_capitalization": 3421000000000,
                      "market_capitalization_usd": 3421000000000,
                      "enterprise_value": 3480000000000,
                      "pe_ratio_ttm": 34.2,
                      "peg_ratio_ttm": 2.9,
                      "pb_ratio_ttm": 47.1,
                      "ps_ratio_ttm": 8.5,
                      "pcf_ratio_ttm": 28,
                      "ev_to_sales_ttm": 8.7,
                      "ev_to_ebitda_ttm": 26.3,
                      "ev_to_ebit_ttm": 28.1,
                      "gross_profit_margin_ttm": 0.463,
                      "ebitda_margin_ttm": 0.334,
                      "net_income_margin_ttm": 0.253,
                      "fcf_margin_ttm": 0.27,
                      "roe_ttm": 1.472,
                      "roa_ttm": 0.29,
                      "roic_ttm": 0.58,
                      "revenue_growth_ttm": 0.061,
                      "eps_growth_ttm": 0.083,
                      "fcf_growth_ttm": 0.05,
                      "revenue_cagr_3y": 0.04,
                      "eps_cagr_3y": 0.09,
                      "dividend_yield_ttm": 0.0042,
                      "payout_ratio_ttm": 0.15,
                      "dividend_growth_1y": 0.04,
                      "consecutive_dividend_years": 13,
                      "debt_to_equity": 1.45,
                      "net_debt_to_equity": 0.24,
                      "debt_to_assets": 0.29,
                      "debt_to_ebitda": 0.62,
                      "net_debt_to_ebitda": 0.1,
                      "interest_coverage": 38.6,
                      "ebitda_to_interest": 44.2,
                      "current_ratio": 1.07,
                      "quick_ratio": 1.02,
                      "cash_ratio": 0.51,
                      "working_capital": 9473000000,
                      "operating_cash_flow_ratio": 0.89,
                      "fcf_to_debt": 1.38,
                      "ocf_to_debt": 1.54,
                      "ebit_margin_ttm": 0.318,
                      "capex_to_sales_ttm": 0.029,
                      "asset_turnover_ttm": 1.19,
                      "cash_per_share_ttm": 4.69,
                      "ebitda_growth_ttm": 0.072,
                      "ebit_growth_ttm": 0.059,
                      "ocf_growth_ttm": 0.081,
                      "ebitda_cagr_3y": 0.05,
                      "ebit_cagr_3y": 0.04,
                      "net_income_cagr_3y": 0.06,
                      "fcf_cagr_3y": 0.03,
                      "book_value_cagr_3y": -0.08,
                      "total_assets_cagr_3y": 0.01,
                      "dividend_rate_ttm": 1.04,
                      "fcf_payout_ratio_ttm": 0.077,
                      "dividend_cagr_3y": 0.042,
                      "dividend_frequency": "Quarterly",
                      "price_date": "2026-09-08",
                      "statement_period_end": "2026-06-27",
                      "statement_period": "Q3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/prices-historical": {
      "get": {
        "operationId": "publicDataV2PricesHistorical",
        "tags": [
          "Prices"
        ],
        "summary": "Get US daily, weekly or monthly price history",
        "description": "Returns a stock's historical daily, weekly or monthly bars: open, high, low and close, one row per bar, in descending `date` order. All bars in the date window come back in a single response; `limit` / `page` are not accepted. Prices are raw and unadjusted, updated after market close; there is no intraday or real-time data.\n\nExample request: `GET /api/v2/prices-historical?ticker=AAPL&from=2026-01-01&to=2026-08-20&interval=week`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "weekdays after close at 22:00 UTC",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 1
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicPricesHistoricalItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "date": "2026-08-17",
                      "open": 248.93,
                      "high": 249.1,
                      "low": 241.82,
                      "close": 243.85
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/prices-snapshot": {
      "get": {
        "operationId": "publicDataV2PricesSnapshot",
        "tags": [
          "Prices"
        ],
        "summary": "Get latest US closing-price snapshots",
        "description": "Returns each stock's closing price for its latest trading day, at most one row per ticker, with `date` as that trading day. Prices are unadjusted and updated after market close; this is not a real-time quote. Row order is not declared in the contract, so match rows to the request by the `ticker` field, not by position. US common stock only: if any ticker cannot be resolved or is non-US, the whole request returns `404` rather than returning what it can and silently dropping the rest. For historical prices use `/prices-historical`.\n\nExample request: `GET /api/v2/prices-snapshot?ticker=AAPL,MSFT`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
        "x-refresh": "weekdays after close at 22:00 UTC",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Public Data API response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicPricesSnapshotItem"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "ticker": "AAPL",
                      "date": "2026-08-20",
                      "price": 231.42
                    },
                    {
                      "ticker": "MSFT",
                      "date": "2026-08-20",
                      "price": 512.3
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or unsupported parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "404": {
            "description": "Ticker not found, market not covered, or dataset not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/earnings-calendar": {
      "get": {
        "operationId": "publicDataV2EarningsCalendar",
        "tags": [
          "Earnings"
        ],
        "summary": "Get earnings calendar entries",
        "description": "Returns the earnings calendar for a date range: which company reports on which day, with EPS / revenue estimates and actuals. One row per company per announcement, covering US / CN / JP, queried by announcement date `date`; there is no ticker filter, so filter the returned rows for a single company.\n\nExample request: `GET /api/v2/earnings-calendar?from=2026-03-06&to=2026-06-03&limit=50&page=1`",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-credits": "0.02 cr per call",
[...]
