{
  "openapi": "3.0.3",
  "info": {
    "title": "Lumabill API",
    "version": "1.0",
    "description": "The Lumabill API gives **Pro and Lifetime** subscribers programmatic access to\nSwiss invoicing and bookkeeping data. You can create and manage invoices,\nclients, expenses, journal entries, and more - the same data you see in the\nLumabill dashboard.\n\n## Authentication\n\nAll requests must carry a Bearer API key in the `Authorization` header:\n\n```\nAuthorization: Bearer lmb_your_api_key_here\n```\n\nAPI keys are created in **Settings → API Keys** inside the Lumabill dashboard.\n\n## Profile scoping\n\nA Lumabill account can have multiple profiles (companies). By default the key\nis scoped to the profile it was created for. If a key has access to multiple\nprofiles, supply the `X-Profile-Id` header with the UUID of the target profile.\n\n## Rate limits\n\n| Operation | Limit |\n|-----------|-------|\n| Reads (GET) | 60 requests / minute per API key |\n| Writes (POST, PUT, DELETE) | 20 requests / minute per API key |\n\nWhen the limit is exceeded the API returns `429 Too Many Requests` with a\n`Retry-After` header indicating when you may retry (seconds from now).\n\n## Pagination\n\nList endpoints support cursor-free page-based pagination via query parameters:\n\n| Parameter | Default | Maximum |\n|-----------|---------|---------|\n| `page` | 1 | - |\n| `per_page` | 50 | 100 |\n\nResponses include a top-level `meta` object:\n\n```json\n{\n  \"data\": [...],\n  \"meta\": { \"page\": 1, \"per_page\": 50, \"total\": 243 }\n}\n```\n\n## Errors\n\nAll error responses share a common shape:\n\n```json\n{\n  \"error\": {\n    \"code\": \"ERROR_CODE\",\n    \"message\": \"Human-readable description\"\n  }\n}\n```\n\nCommon error codes: `INVALID_API_KEY`, `FORBIDDEN`, `NOT_FOUND`,\n`VALIDATION_ERROR`, `RATE_LIMIT_EXCEEDED`, `SUBSCRIPTION_REQUIRED`,\n`READ_ONLY_KEY`, `CLIENT_NOT_FOUND`, `INTERNAL_ERROR`.\n\n## Smart defaults\n\nWhen creating invoices or offers the API auto-resolves most fields from\nyour profile so you can send minimal payloads. Only `lines` is required.\n\n| Field | Auto-resolved from |\n|-------|-------------------|\n| `invoice_number` | Profile prefix + sequential counter (e.g. `IV-010`) |\n| `issue_date` | Today |\n| `due_date` | `issue_date` + profile payment deadline (default 30 days) |\n| `currency` | Profile default currency (default `CHF`) |\n| `vat_rate` (on lines) | Profile default tax rate |\n| Sender details | Profile company name, address, IBAN, etc. |\n| Payment info | Profile payment template and deadline |\n\n**`client_id` shorthand** - pass a `client_id` UUID instead of a full\nclient object. The API fetches the client and snapshots the data\nautomatically. Returns `404` with code `CLIENT_NOT_FOUND` if the client\ndoes not exist in your profile.\n\n**Minimal example:**\n\n```json\nPOST /invoices\n{\n  \"client_id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n  \"lines\": [\n    { \"description\": \"Consulting\", \"quantity\": 2, \"price\": 150 }\n  ]\n}\n```\n\nAny field you explicitly provide overrides the auto-resolved default.\n\n## MCP Server (AI Assistant Integration)\n\nConnect your Lumabill account to AI assistants like Claude, ChatGPT, and Cursor\nusing the Model Context Protocol (MCP).\n\n**Endpoint:** `https://mcp.lumabill.ch/mcp?key={your_api_key}`\n\n**Setup for Claude Desktop** - add to `claude_desktop_config.json`:\n```json\n{\n  \"mcpServers\": {\n    \"lumabill\": {\n      \"type\": \"streamable-http\",\n      \"url\": \"https://mcp.lumabill.ch/mcp?key=lmb_your_key_here\"\n    }\n  }\n}\n```\n\n**Setup for Claude Code** - add to `.mcp.json` in your project:\n```json\n{\n  \"mcpServers\": {\n    \"lumabill\": {\n      \"type\": \"streamable-http\",\n      \"url\": \"https://mcp.lumabill.ch/mcp?key=lmb_your_key_here\"\n    }\n  }\n}\n```\n\n**Setup for Cursor** - add to MCP settings:\n- Name: `lumabill`\n- Type: `streamable-http`\n- URL: `https://mcp.lumabill.ch/mcp?key=lmb_your_key_here`\n\nThe MCP server exposes all API endpoints as tools. Your AI assistant can:\n- Create and manage invoices, offers, and expenses\n- Look up clients and vendors\n- Generate financial reports (P&L, balance sheet, VAT)\n- Import bank transactions\n- Query revenue data\n\n**API key permissions apply:** Read-only keys only expose read tools.\nSame rate limits as the REST API (60 reads/min, 20 writes/min).\n",
    "contact": {
      "name": "Lumabill Support",
      "url": "https://lumabill.com/contact"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://api.lumabill.ch/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.lumabill.ch/v1",
      "description": "Production"
    },
    {
      "url": "https://api.dev.lumabill.ch/v1",
      "description": "Development / Sandbox"
    }
  ],
  "paths": {
    "/invoices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "document_type",
            "in": "query",
            "description": "`invoice` (default): sales only. `credit_note`: credit notes (Gutschriften, negative totals). `all`: both.\n",
            "schema": {
              "type": "string",
              "enum": [
                "invoice",
                "credit_note",
                "all"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "sent",
                "paid",
                "overdue"
              ]
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter by client UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createInvoice",
        "summary": "Create an invoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/invoices/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getInvoice",
        "summary": "Get an invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateInvoice",
        "summary": "Update an invoice",
        "tags": [
          "Invoices"
        ],
        "description": "Partial update: fields omitted from the body keep their stored values (invoice number, dates, client, sender, payment, currency, attachments, ...). Only invoices in `draft` status can be fully updated. Changing the `status` field moves the invoice through its lifecycle; status values are case-insensitive.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteInvoice",
        "summary": "Delete an invoice",
        "tags": [
          "Invoices"
        ],
        "description": "Only draft invoices may be deleted.",
        "responses": {
          "200": {
            "description": "Invoice deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/invoices/{id}/payments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listInvoicePayments",
        "summary": "List the recorded payments of an invoice",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Payments, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/invoices/{id}/unpay": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "undoInvoicePayment",
        "summary": "Undo a recorded payment",
        "tags": [
          "Invoices"
        ],
        "description": "Undoes one payment (by `paymentId`, else the most recent). The payment journal entry is reversed with a Storno on the payment date (nothing is deleted, the Buchungsnummer series stays gap-free), bank matches are released and the payment status is recomputed. Rejected with 400 `FISCAL_YEAR_CLOSED` when the payment date lies in a closed fiscal year.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment undone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/invoices/{id}/credit-note": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "createCreditNote",
        "summary": "Create a credit note (Gutschrift) for an issued invoice",
        "tags": [
          "Invoices"
        ],
        "description": "Creates a credit note linked to the invoice, in the profile's credit note number series, with the invoice's client, currency and VAT settings. Without `items` it credits the whole invoice (every line with its quantity negated). `issue: true` issues it right away: in double-entry mode revenue, receivable and output VAT are reversed on the credit note date, which is also the VAT period of the correction. `settle: true` (implies issue) sets it off against the invoice's open amount; `issue` + `settle` on a full credit cancels the invoice in one step. An invoice can no longer be issued with a negative total: this is the way to correct one.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "description": "Credited lines with NEGATIVE quantities (default - the invoice's lines negated)",
                    "items": {
                      "type": "object"
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Credit note date (default today)"
                  },
                  "issue": {
                    "type": "boolean",
                    "default": false
                  },
                  "settle": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credit note created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "invoiceNumber": {
                      "type": "string",
                      "nullable": true,
                      "example": "GS-001",
                      "description": "null for a draft credit note (numbered in the credit note series when issued)"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "SENT"
                      ]
                    },
                    "sourceInvoiceId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "allocations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditAllocation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/invoices/{id}/credit-allocations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listCreditAllocations",
        "summary": "List credit note settlements of an invoice or credit note",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Settlements, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreditAllocation"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "settleCreditNote",
        "summary": "Settle a credit note against open invoices (Verrechnung)",
        "tags": [
          "Invoices"
        ],
        "description": "`{id}` is an issued credit note. Each allocation sets part of its credit off against an issued invoice of the same client and currency. No money moves and no journal entry is posted (the receivable already nets out); both documents' payment status is recomputed. An omitted amount takes as much as both sides allow, in list order. The date must lie in an open fiscal year.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "allocations"
                ],
                "properties": {
                  "allocations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "invoiceId"
                      ],
                      "properties": {
                        "invoiceId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "amount": {
                          "type": "number",
                          "example": 250.0
                        }
                      }
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allocations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditAllocation"
                      }
                    },
                    "creditRemaining": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/credit-allocations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "delete": {
        "operationId": "undoCreditAllocation",
        "summary": "Undo a credit note settlement",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Settlement removed; both documents are open again by its amount"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/invoices/{id}/share-link": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "getInvoiceShareLink",
        "summary": "Get the public share link for an invoice or offer",
        "tags": [
          "Invoices"
        ],
        "description": "Returns the recipient-facing view URL for an invoice or an offer - the same link the send mail contains. Use it to hand someone a payment or viewing link without sending mail from Lumabill.\n\nPOST because the first call mints and persists the public token. It is idempotent: a document that already carries a token keeps it, so the URL stays stable once shared. Works for offers too, since offers are stored alongside invoices. A draft is rejected (400): the link would expose an unfinished document with no login and no expiry. Profile-scoped like GET /invoices/{id}.\n",
        "responses": {
          "200": {
            "description": "Share link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Public view page for the document",
                      "example": "https://lumabill.ch/view/9f1c0c4a6b8e4d2f"
                    },
                    "paymentLink": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "Stripe checkout URL when online payment is configured on the document, otherwise null.\n",
                      "example": "https://checkout.stripe.com/c/pay/cs_live_123"
                    },
                    "onlinePayment": {
                      "type": "boolean",
                      "description": "Whether online payment is enabled on the document",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search by name or company name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/clients/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getClient",
        "summary": "Get a client",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Client object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete a client",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "Client deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/expenses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listExpenses",
        "summary": "List expenses",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "vendor_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "Filter by payment status (use `UNPAID` to find outstanding obligations)",
            "schema": {
              "type": "string",
              "enum": [
                "UNPAID",
                "PARTIALLY_PAID",
                "PAID"
              ]
            }
          },
          {
            "name": "excludeMatched",
            "in": "query",
            "description": "If `true`, hide fully paid expenses; partially-paid expenses remain visible",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of expenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Expense"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createExpense",
        "summary": "Create an expense",
        "tags": [
          "Expenses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/expenses/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getExpense",
        "summary": "Get an expense",
        "tags": [
          "Expenses"
        ],
        "responses": {
          "200": {
            "description": "Expense object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateExpense",
        "summary": "Update an expense",
        "tags": [
          "Expenses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated expense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteExpense",
        "summary": "Delete an expense",
        "tags": [
          "Expenses"
        ],
        "responses": {
          "200": {
            "description": "Expense deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/expenses/{id}/pay": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "recordExpensePayment",
        "summary": "Record a payment against an expense",
        "tags": [
          "Expenses"
        ],
        "description": "Records a full or partial payment against an expense and posts the payment journal entry from the given payment account (e.g. bank). Omitting `amount` pays the remaining balance.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpensePaymentWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/expenses/{id}/payments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listExpensePayments",
        "summary": "List the recorded payments of an expense",
        "tags": [
          "Expenses"
        ],
        "responses": {
          "200": {
            "description": "Payments, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/expenses/{id}/unpay": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "undoExpensePayment",
        "summary": "Undo a recorded payment",
        "tags": [
          "Expenses"
        ],
        "description": "Undoes one payment (by `paymentId`, else the most recent). The payment journal entry is reversed with a Storno on the payment date (nothing is deleted, the Buchungsnummer series stays gap-free), bank matches are released and the payment status is recomputed. Rejected with 400 `FISCAL_YEAR_CLOSED` when the payment date lies in a closed fiscal year.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment undone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chart-accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listChartAccounts",
        "summary": "List the chart of accounts",
        "tags": [
          "Chart of Accounts"
        ],
        "description": "Returns the profile's chart of accounts (Swiss Kontenplan KMU) with account UUIDs, codes, names and types. Account UUIDs are required for bank transaction adjustments, categorization, expense lines, and expense payments.\n",
        "parameters": [
          {
            "name": "includeBalances",
            "in": "query",
            "description": "Include the current balance per account",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fiscalYearId",
            "in": "query",
            "description": "Restrict balances to a fiscal year (with includeBalances=true)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chart accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChartAccount"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createChartAccount",
        "summary": "Add an account to the chart of accounts",
        "tags": [
          "Chart of Accounts"
        ],
        "description": "Adds a custom account to the profile's Kontenplan, e.g. a liability account the default chart lacks (2270 Geschuldete Sozialversicherungen). The 4-digit code must match the type per Swiss Kontenrahmen KMU: 1xxx ASSET, 2000-2799 LIABILITY, 2800-2999 EQUITY, 3xxx REVENUE, 4xxx-7xxx EXPENSE. Codes are unique per profile. Permission `bookkeeping.create`; needs a read-write key.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartAccountWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "The code already exists for this profile (`DUPLICATE_ACCOUNT_CODE`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/chart-accounts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "put": {
        "operationId": "updateChartAccount",
        "summary": "Rename, regroup or deactivate a chart account",
        "tags": [
          "Chart of Accounts"
        ],
        "description": "Code and type are fixed once created. Deactivating (`isActive: false`) is refused for system accounts (`ACCOUNT_IS_SYSTEM`) and for accounts that still carry a balance (`ACCOUNT_HAS_BALANCE`). Permission `bookkeeping.update`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartAccountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteChartAccount",
        "summary": "Delete a custom chart account",
        "tags": [
          "Chart of Accounts"
        ],
        "description": "Only accounts without journal lines can be deleted; otherwise the API answers 400 `ACCOUNT_HAS_ENTRIES`. System accounts are refused. Deactivate those via PUT instead. Permission `bookkeeping.delete`.\n",
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/journal-entries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listJournalEntries",
        "summary": "List journal entries",
        "tags": [
          "Journal Entries"
        ],
        "description": "A Storno carries `isReversal: true` and `reversedEntryId`; the entry it reverses carries `reversedById` / `reversedBySeq`. With `includeVoided=true` the list also returns entries removed before Storno bookings existed that still hold a Buchungsnummer, marked with `deletedAt` and `voidReason`; they never count toward any balance.\n",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "fiscalYearId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "referenceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeVoided",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of journal entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JournalEntry"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createJournalEntry",
        "summary": "Create a journal entry",
        "tags": [
          "Journal Entries"
        ],
        "description": "Debits and credits across all lines must balance (sum of debits = sum of credits). Mutations to entries in closed fiscal years are rejected.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Journal entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/journal-entries/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getJournalEntry",
        "summary": "Get a journal entry",
        "tags": [
          "Journal Entries"
        ],
        "responses": {
          "200": {
            "description": "Journal entry object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntry"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateJournalEntry",
        "summary": "Update a journal entry",
        "tags": [
          "Journal Entries"
        ],
        "description": "Mutations to entries in closed fiscal years are rejected with `403`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated journal entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteJournalEntry",
        "summary": "Withdraw a manual journal entry (posts a Storno)",
        "tags": [
          "Journal Entries"
        ],
        "description": "Posted bookings are never removed. Deleting a MANUAL entry posts a Storno, exactly like `POST /journal-entries/{id}/reverse`: a new numbered entry on the same date with debit and credit swapped, linked to the original. Errors (400 with `errorCode`): `NOT_MANUAL` (undo automatic bookings through their invoice, expense, payment or bank transaction), `ALREADY_REVERSED`, `IS_REVERSAL`, `FISCAL_YEAR_CLOSED`.\n",
        "responses": {
          "200": {
            "description": "Storno posted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reversalId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "reversalEntrySeq": {
                      "type": "integer",
                      "nullable": true
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/journal-entries/{id}/reverse": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "reverseJournalEntry",
        "summary": "Reverse a manual journal entry (Storno)",
        "tags": [
          "Journal Entries"
        ],
        "description": "Posts a Storno for a MANUAL entry: a new numbered entry on the original's date with debit and credit swapped, linked via `reversedEntryId`. The original stays in the journal. An entry can be reversed once; its fiscal year must be open. Errors (400 with `errorCode`): `NOT_MANUAL`, `ALREADY_REVERSED`, `IS_REVERSAL`, `FISCAL_YEAR_CLOSED`.\n",
        "responses": {
          "201": {
            "description": "Storno posted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StornoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/vendors": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listVendors",
        "summary": "List vendors",
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search by vendor name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of vendors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vendor"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createVendor",
        "summary": "Create a vendor",
        "tags": [
          "Vendors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vendor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/vendors/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getVendor",
        "summary": "Get a vendor",
        "tags": [
          "Vendors"
        ],
        "responses": {
          "200": {
            "description": "Vendor object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateVendor",
        "summary": "Update a vendor",
        "tags": [
          "Vendors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteVendor",
        "summary": "Delete a vendor",
        "tags": [
          "Vendors"
        ],
        "responses": {
          "200": {
            "description": "Vendor deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/recurring-invoices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listRecurringInvoices",
        "summary": "List recurring invoices",
        "tags": [
          "Recurring Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active state",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of recurring invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecurringInvoice"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createRecurringInvoice",
        "summary": "Create a recurring invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringInvoiceWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recurring invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringInvoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/recurring-invoices/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getRecurringInvoice",
        "summary": "Get a recurring invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "responses": {
          "200": {
            "description": "Recurring invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringInvoice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateRecurringInvoice",
        "summary": "Update a recurring invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringInvoiceWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated recurring invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringInvoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecurringInvoice",
        "summary": "Delete a recurring invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "responses": {
          "200": {
            "description": "Recurring invoice deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/offers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "sent",
                "accepted",
                "rejected"
              ]
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of offers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createOffer",
        "summary": "Create an offer",
        "tags": [
          "Offers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Offer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/offers/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getOffer",
        "summary": "Get an offer",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Offer object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateOffer",
        "summary": "Update an offer",
        "tags": [
          "Offers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteOffer",
        "summary": "Delete an offer",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Offer deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/catalog": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listCatalogItems",
        "summary": "List catalog items",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search by item name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of catalog items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createCatalogItem",
        "summary": "Create a catalog item",
        "tags": [
          "Catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Catalog item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/catalog/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getCatalogItem",
        "summary": "Get a catalog item",
        "tags": [
          "Catalog"
        ],
        "responses": {
          "200": {
            "description": "Catalog item object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateCatalogItem",
        "summary": "Update a catalog item",
        "tags": [
          "Catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated catalog item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCatalogItem",
        "summary": "Delete a catalog item",
        "tags": [
          "Catalog"
        ],
        "responses": {
          "200": {
            "description": "Catalog item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/bank-accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listBankAccounts",
        "summary": "List bank accounts",
        "tags": [
          "Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankAccount"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createBankAccount",
        "summary": "Create a bank account",
        "tags": [
          "Bank Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/bank-accounts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getBankAccount",
        "summary": "Get a bank account",
        "tags": [
          "Bank Accounts"
        ],
        "responses": {
          "200": {
            "description": "Bank account object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateBankAccount",
        "summary": "Update a bank account",
        "tags": [
          "Bank Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bank account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "POSTING_ACCOUNT_HAS_BOOKINGS: `chartAccountId` would change on a bank account with booked transactions. Resend with `confirmPostingAccountChange: true` to proceed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "POSTING_ACCOUNT_HAS_BOOKINGS"
                      ]
                    },
                    "bookedCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteBankAccount",
        "summary": "Delete a bank account",
        "tags": [
          "Bank Accounts"
        ],
        "responses": {
          "200": {
            "description": "Bank account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/bank-imports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProfileIdHeader"
        }
      ],
      "get": {
        "operationId": "listBankImports",
        "summary": "List bank statement imports",
        "tags": [
          "Bank Imports"
        ],
        "description": "Returns one row per uploaded statement, including per-status counts (`matchedCount`, `categorizedCount`, `unmatchedCount`, `ignoredCount`) so a reconciliation UI or agent can target imports that still need work.\n",
        "parameters": [
          {
            "in": "query",
            "name": "bankAccountId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to imports for a specific bank account"
          },
          {
            "in": "query",
            "name": "hasUnmatched",
            "schema": {
              "type": "boolean"
            },
            "description": "If `true`, only return imports that still have at least one UNMATCHED transaction"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank imports for this profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankImport"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createBankImport",
        "summary": "Import bank transactions",
        "tags": [
          "Bank Imports"
        ],
        "description": "Upload a CAMT.053 XML file or a CSV bank statement. The import is processed asynchronously; poll the returned `id` via the `status` field if needed.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "bank_account_id"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CAMT.053 XML or CSV bank statement file"
                  },
                  "bank_account_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the target bank account",
                    "example": "b8c9d0e1-8901-cdef-1234-567890123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankImportResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
[...]
