{
  "openapi": "3.1.0",
  "info": {
    "title": "HLA-Verify",
    "version": "1.0.0",
    "description": "Deterministic validation of HLA nomenclature and donor-recipient match arithmetic against IPD-IMGT/HLA 3.65.0. No LLM; nothing stored. What to send: allele names, typing strings, GL strings and report text about HLA typing. What never to send: patient identifiers of any kind (names, medical record numbers, dates of birth, accession or case identifiers, other patient details). The service neither needs nor wants them, request bodies are processed in memory and never stored, and de-identifying before sending is the caller's responsibility. This is a nomenclature and reference-release checker: not a diagnostic aid, not clinical decision support, and it does not recommend a donor. Limits are a daily call quota plus a per-call batch cap, both per tier: free 100 calls/day per IP and 250 typings per /v1/normalize call, starter 500/250, lab 10,000/5,000, scale 1,000,000/5,000, enterprise uncapped/5,000, academic 10,000/5,000 (hand-issued to accredited institutions, never sold); 'pro' is the legacy name for 'lab'. Quotas reset at UTC midnight and every billable response carries x-hla-verify-daily-limit, -daily-remaining, -daily-reset and -max-typings. /healthz, /docs, /openapi.json, /pricing, /v1/checkout, /v1/beta-signup, /v1/research-access and /v1/usage are not billable. Per-key usage reporting: GET /v1/usage returns the caller's own calls and units for today/7d/30d, by endpoint and by status, plus the tier's daily quota; cached 60s per key; 401 without a key. Free public beta: verdicts are production-quality and anonymous access stays open; paid keys are self-serve through Stripe (POST /v1/checkout with {\"tier\": \"starter\"|\"lab\"|\"scale\"} returns a Checkout Session url, or use the buttons on /pricing), and a subscription keeps the price it was created with when prices later change. Academic and nonprofit labs get a free, durable academic-tier key at Lab's limits by emailing hello@hlaverify.com from an institutional address, no Stripe involved, or can instead apply for a checkout-issued key with POST /v1/research-access, which is approved by hand. Enterprise: hello@hlaverify.com.",
    "contact": {
      "email": "hello@hlaverify.com",
      "url": "https://hlaverify.com"
    },
    "x-jentic-source-url": "https://api.hlaverify.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.hlaverify.com"
    },
    {
      "url": "https://hlaverify.com"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Liveness and pinned release",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "summary": "Classify every allele-shaped token in HLA report text or model output",
        "description": "Nomenclature checking against the pinned release, not interpretation of a case. Send HLA typing report text or model output about HLA typing with patient identifiers removed first: no names, medical record numbers, dates of birth, accession or case identifiers, or other patient details. The service neither needs nor wants them and does not store request bodies; de-identifying is the caller's responsibility.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 200000,
                    "description": "HLA typing report text, or model output about HLA typing, to scan for allele names. Allele names and HLA content only, never patient identifiers."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verdicts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "release": {
                      "type": "string"
                    },
                    "clean": {
                      "type": "boolean"
                    },
                    "counts": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "valid",
                              "group",
                              "deleted",
                              "fabricated_group",
                              "hallucinated",
                              "mac_code",
                              "out_of_scope"
                            ]
                          },
                          "note": {
                            "type": "string"
                          },
                          "successor": {
                            "type": "string"
                          },
                          "current_2field": {
                            "type": "string"
                          },
                          "g_group": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "attribution": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/normalize": {
      "post": {
        "summary": "Normalize reported typings to the current release",
        "description": "maxItems is the ceiling. The cap that applies to a request is the caller's tier's (free 250, starter 250, lab 5,000, scale 5,000, enterprise 5,000, academic 5,000), reported on every response as x-hla-verify-max-typings; a batch over it is a 422 naming the cap and the tier that lifts it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "typings"
                ],
                "properties": {
                  "typings": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "release": {
                      "type": "string"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reported": {
                            "type": "string"
                          },
                          "current_name": {
                            "type": "string"
                          },
                          "allele_2field": {
                            "type": "string"
                          },
                          "g_group": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "attribution": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/allele/{name}": {
      "get": {
        "summary": "Facts for one allele, prefix, group, deleted name, or reported shorthand",
        "description": "Accepts what /v1/normalize accepts: current names at 1-4 fields, legacy spellings (A*0101, Cw*0702, Cw*07:02), deleted names, G/P group names, the XX code (A*02:XX), two-field A*02:01g and an optional HLA- prefix. A shorthand answers with the facts of the name it stands for plus 'resolves_to' and a flag (deprecated_name, xx_code, lg_notation); an NMDP multiple allele code (A*02:AB) returns status mac_code, recognised but not expanded. Class I (A/B/C) names carry a trailing 'ligands' object (leader_21, bw, c_group, kir_ligand; see /v1/typing/check).",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A*24:09N"
          }
        ],
        "responses": {
          "200": {
            "description": "assigned | valid_prefix | group | deleted | mac_code (+ resolves_to and flags for a shorthand)"
          },
          "404": {
            "description": "not in this release"
          }
        }
      }
    },
    "/v1/match": {
      "post": {
        "summary": "Donor-recipient match verdict (rules R1-R6)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient",
                  "donor"
                ],
                "properties": {
                  "framework": {
                    "type": "string",
                    "enum": [
                      "6/6",
                      "8/8",
                      "10/10",
                      "12/12",
                      "antigen"
                    ],
                    "default": "8/8"
                  },
                  "recipient": {
                    "$ref": "#/components/schemas/Typing"
                  },
                  "donor": {
                    "$ref": "#/components/schemas/Typing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "release": {
                      "type": "string"
                    },
                    "framework": {
                      "type": "string"
                    },
                    "count": {
                      "type": "string",
                      "example": "7/8"
                    },
                    "verdicts": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "enum": [
                          "match",
                          "mismatch",
                          "potential"
                        ]
                      }
                    },
                    "hvg_mismatches": {
                      "type": "integer"
                    },
                    "gvh_mismatches": {
                      "type": "integer"
                    },
                    "flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "attribution": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/typing/check": {
      "post": {
        "summary": "QC-check one HLA typing (all loci): resolution, renames, locus mismatches, null alleles, B-leader/KIR-ligand profile, DRB3/4/5",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "typing"
                ],
                "properties": {
                  "typing": {
                    "$ref": "#/components/schemas/Typing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "release, valid, loci, issues, counts, profile, drb345, attribution"
          },
          "422": {
            "description": "invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compat": {
      "post": {
        "summary": "Donor/recipient immunogenetic compatibility: HLA-B leader (Petersdorf 2020) and KIR ligand (C1/C2/Bw4). Decision support only; not a medical device.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient",
                  "donor"
                ],
                "properties": {
                  "recipient": {
                    "$ref": "#/components/schemas/Typing"
                  },
                  "donor": {
                    "$ref": "#/components/schemas/Typing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "release, b_leader, kir_ligands, recipient_valid, donor_valid, issues, attribution"
          },
          "422": {
            "description": "invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/glstring": {
      "post": {
        "summary": "Validate and normalize a GL String (^ | + ~ / grammar)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gl"
                ],
                "properties": {
                  "gl": {
                    "type": "string",
                    "maxLength": 100000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "release, valid, normalized_gl, changed, loci, alleles, issues, counts, attribution"
          },
          "422": {
            "description": "invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "summary": "Published prices and limits (HTML)",
        "description": "Amount, currency and billing interval are read from Stripe at request time and cached for ten minutes, so a price change in Stripe publishes without a deploy. An existing subscription is not re-rated: it keeps the price it was created with until it is deliberately migrated. Not billable.",
        "responses": {
          "200": {
            "description": "text/html"
          }
        }
      }
    },
    "/v1/checkout": {
      "post": {
        "summary": "Start a Stripe Checkout Session for a paid tier",
        "description": "Creates a subscription-mode Stripe Checkout Session for the named tier at its current Stripe price and returns the hosted url to send the buyer to. metadata.tier is set on the session from the price's own tier metadata, which is what the webhook reads to issue the key. Promotion codes are accepted on Stripe's page; pass promotion_code to pre-apply one. Not billable against the daily quota, but rate limited like every other /v1/ route (60 requests/minute per IP without a key). 503 when self-serve checkout is not configured on the deployment or the tier has no live price — email hello@hlaverify.com in that case.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "starter",
                      "lab",
                      "scale"
                    ],
                    "description": "Which plan to buy."
                  },
                  "price": {
                    "type": "string",
                    "description": "A specific active Stripe price id, instead of (or as a cross-check on) tier."
                  },
                  "promotion_code": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "A customer-facing promotion code to pre-apply, for example a launch discount."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url",
                    "tier"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Hosted Stripe Checkout url; send the buyer here."
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "integer",
                      "description": "Unit amount in the currency's minor unit, as Stripe holds it."
                    },
                    "currency": {
                      "type": "string"
                    },
                    "interval": {
                      "type": "string"
                    },
                    "promotion_code_applied": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "unknown or missing tier, or a price that is not an active plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate limited (60 req/min per IP; /v1/checkout does not consume daily quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Stripe rejected the session or was unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "self-serve checkout is not configured, or that tier is not on sale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/beta-signup": {
      "post": {
        "summary": "Join the free public beta's list for paid API keys",
        "description": "Records one address per beta list entry; re-submitting the same address returns already_recorded rather than failing. Stores the address, the optional fields, a timestamp and CF-IPCountry — no IP address. The record is not an API key and cannot be used as one.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "maxLength": 254,
                    "example": "you@lab.example"
                  },
                  "org": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "use_case": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Free-text hint: site, mcp, docs."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recorded or already_recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "status",
                    "message",
                    "release"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "recorded",
                        "already_recorded"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "release": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "invalid email or an oversized field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate limited (60 req/min per IP; /v1/beta-signup does not consume daily quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/research-access": {
      "post": {
        "summary": "Apply for free academic and nonprofit research access",
        "description": "Files one application per address for the research and education programme. Approval is manual: a person reads every application, there is no automatic decision, no service level and no guarantee. An approved applicant is emailed a single-use Stripe promotion code, redeemed at self-serve checkout against any tier: it takes 100% off for 12 months, so the total is $0, Stripe collects no card, and the API key is issued by the same webhook that issues a paid one. Re-submitting the same address returns already_recorded and never overwrites an application that has already been decided. Stores what you send plus a timestamp, CF-IPCountry and a status, and no IP address. The record is not an API key and cannot be used as one. Not billable against the daily quota, but rate limited like every other /v1/ route (60 requests/minute per IP without a key).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "institution",
                  "use_case"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "maxLength": 254,
                    "example": "you@lab.example",
                    "description": "Where the approval code is sent."
                  },
                  "institution": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "Example University",
                    "description": "University, hospital, institute or nonprofit the work is done at."
                  },
                  "use_case": {
                    "type": "string",
                    "maxLength": 1000,
                    "example": "Retyping QC for a 4,000-donor registry cohort study",
                    "description": "What the research or teaching is and what the API would do in it. This is what the decision is made on. No patient details."
                  },
                  "expected_volume": {
                    "type": "string",
                    "maxLength": 120,
                    "example": "about 20,000 typings a month"
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Free-text hint: site, mcp, docs."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recorded or already_recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "status",
                    "message",
                    "release"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "recorded",
                        "already_recorded"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "release": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "invalid email, a missing or empty required field, or an oversized field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate limited (60 req/min per IP; /v1/research-access does not consume daily quota)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "the application store is not available on this deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "The caller's own usage: calls/units today, 7d and 30d, by endpoint and status, plus the tier's daily quota",
        "description": "Scoped strictly to the presented key's own label (index1 in the Analytics Engine dataset); no cross-key view. Requires an API key: anonymous callers are counted per IP-day for quota purposes, not per caller, so there is nothing to report back to them. Answers are cached 60 seconds per key so a dashboard refresh cannot turn into Analytics Engine SQL API traffic. Not billable against the daily quota.",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "release": {
                      "type": "string"
                    },
                    "tier": {
                      "type": "string"
                    },
                    "daily_quota": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "unlimited"
                          ]
                        }
                      ]
                    },
                    "max_typings": {
                      "type": "integer"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "today": {
                          "type": "object"
                        },
                        "7d": {
                          "type": "object"
                        },
                        "30d": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "missing or invalid X-API-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "usage reporting not configured on this deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/usage": {
      "get": {
        "summary": "Operator dashboard: deployment-wide usage, protected by a separate ADMIN_TOKEN secret",
        "description": "Authorization: Bearer <ADMIN_TOKEN>, a secret distinct from every customer API key, never accepted as one. Totals for 24h/7d/30d (calls, unique key labels, anonymous calls), a 30-day daily series, breakdowns by endpoint, tier and status class, the top 20 key labels by calls, p50/p95 latency and the overall error rate, and an unmet-requests report: per request shape the service cannot fully serve, requests, distinct callers (keyed, paid, repeat), endpoints and a ranking score over 30 days — counts of shapes, never the strings. JSON by default; Accept: text/html or ?format=html returns a small self-contained HTML dashboard with inline SVG bar charts, no external assets.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "html"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "usage (JSON or, with Accept: text/html or ?format=html, an HTML dashboard)"
          },
          "401": {
            "description": "missing or invalid admin token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "admin dashboard or usage reporting not configured on this deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Remote MCP endpoint (Streamable HTTP transport, JSON-RPC 2.0, stateless)",
        "description": "Tools: verify_text, normalize_allele, allele_info, match_score, check_typing, donor_compat, validate_gl_string, beta_signup, research_access, about. Every tool call but about, beta_signup and research_access consumes one call of the caller's daily quota, the same one /v1/* spends. donor_compat is decision support only; not a medical device. beta_signup and research_access are the only tools that write. Same input rule as REST: send allele names, typing strings, GL strings and HLA report text, never patient identifiers. See the MCP for agents section above.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "id": {},
                  "method": {
                    "type": "string"
                  },
                  "params": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response or error"
          },
          "202": {
            "description": "notification acknowledged (no body)"
          },
          "405": {
            "description": "GET not supported"
          },
          "429": {
            "description": "rate limited (per-minute burst). A spent DAILY quota is not a 429 here: it is a 200 JSON-RPC result whose tool result has isError:true and names the UTC-midnight reset, with x-hla-verify-daily-remaining: 0 and Retry-After on the response."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      },
      "Typing": {
        "type": "object",
        "description": "locus -> up to 4 reported allele names. Allele strings only: never patient names, medical record numbers, dates of birth, or accession or case identifiers.",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "maxItems": 4
        },
        "example": {
          "A": [
            "A*02:01",
            "A*24:02"
          ],
          "B": [
            "B*07:02",
            "B*44:02"
          ],
          "C": [
            "C*07:02",
            "C*05:01"
          ],
          "DRB1": [
            "DRB1*15:01",
            "DRB1*04:01"
          ]
        }
      }
    }
  },
  "security": [
    {},
    {
      "ApiKey": []
    }
  ]
}