{
  "openapi": "3.1.0",
  "info": {
    "title": "Gringo Funnels API",
    "version": "1.2.0",
    "description": "Versioned, tenant-scoped API for Gringo Funnels. Sites organize one hostname namespace with multiple mounted content types. New integrations should use /sites/* for custom domains; /funnels/{funnelId}/domains remains a backward-compatible facade.",
    "x-jentic-source-url": "https://gringofunnels.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://gringofunnels.com/api/v1"
    }
  ],
  "paths": {
    "/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List publishing Sites",
        "description": "Sites are hostname namespaces that organize multiple mounted funnels, listicles, quizzes, and pages. Requires funnels:read.",
        "responses": {
          "200": {
            "description": "Sites in the authenticated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sites"
                  ],
                  "properties": {
                    "sites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Site"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createSite",
        "summary": "Create an empty publishing Site",
        "description": "Requires funnels:write. This does not connect or modify a domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site created"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Site slug is already in use"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/sites/{siteId}": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getSite",
        "summary": "Get a Site, mounts, and domains",
        "responses": {
          "200": {
            "description": "Site details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "site"
                  ],
                  "properties": {
                    "site": {
                      "$ref": "#/components/schemas/SiteDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Site not found"
          }
        }
      },
      "patch": {
        "operationId": "updateSite",
        "summary": "Update a Site name or internal slug",
        "description": "Requires funnels:write. It never changes DNS or a connected hostname.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site not found"
          },
          "409": {
            "description": "Site slug is already in use"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteSite",
        "summary": "Delete an empty Site",
        "description": "Requires funnels:write. A Site with connected domains cannot be deleted.",
        "responses": {
          "200": {
            "description": "Site deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site not found"
          },
          "409": {
            "description": "Remove Site domains before deleting the Site"
          }
        }
      }
    },
    "/sites/{siteId}/mounts": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "listSiteMounts",
        "summary": "List mounted funnels",
        "description": "Requires funnels:read. Public routing selects the longest matching mount path.",
        "responses": {
          "200": {
            "description": "Mounted funnels"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Site not found"
          }
        }
      },
      "post": {
        "operationId": "createSiteMount",
        "summary": "Mount a funnel, listicle, quiz, or page",
        "description": "Requires funnels:write. A funnel can be mounted once, and a mount path must be unique within its Site. If the Site already has any custom domain, an active custom_domains entitlement is required because this changes live hostname routing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteMountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Funnel mounted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site or funnel not found"
          },
          "409": {
            "description": "Funnel already mounted or mount path is in use"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/sites/{siteId}/mounts/{funnelId}": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "funnelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "operationId": "updateSiteMount",
        "summary": "Move or reorder a mounted funnel",
        "description": "Requires funnels:write. If the Site has any custom domain, an active custom_domains entitlement is required because this changes live hostname routing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteMountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mount updated"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site or mount not found"
          },
          "409": {
            "description": "Mount path is in use"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteSiteMount",
        "summary": "Unmount a funnel from a Site",
        "description": "Requires funnels:write and remains available without a paid entitlement. The funnel and immutable releases remain available; only this Site route is removed. A mount used as a custom-domain compatibility anchor cannot be removed until those domains are removed.",
        "responses": {
          "200": {
            "description": "Mount removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site or mount not found"
          },
          "409": {
            "description": "Mount anchors one or more Site domains; remove those domains first"
          }
        }
      }
    },
    "/sites/{siteId}/domains": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "listSiteDomains",
        "summary": "List Site custom domains",
        "description": "Requires funnels:read.",
        "responses": {
          "200": {
            "description": "Site domains"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Site not found"
          }
        }
      },
      "post": {
        "operationId": "connectSiteDomain",
        "summary": "Start a custom hostname claim for a Site",
        "description": "Requires funnels:read and domains:write plus an active custom_domains subscription. It returns exact DNS records and never edits a registrar automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteDomainConnect"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hostname claim created; response includes DNS records"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Site not found"
          },
          "409": {
            "description": "Hostname already connected"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/sites/{siteId}/domains/{domainId}": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "domainId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "operationId": "refreshSiteDomain",
        "summary": "Recheck Site hostname ownership and TLS",
        "description": "Requires funnels:read and domains:write plus an active custom_domains subscription. It never writes DNS.",
        "responses": {
          "200": {
            "description": "Current hostname state"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Domain not found"
          }
        }
      },
      "delete": {
        "operationId": "removeSiteDomain",
        "summary": "Remove a Site hostname mapping",
        "description": "Requires funnels:read and domains:write. Removal stays available after a subscription ends so a customer can always stop serving a hostname. It removes Gringo's mapping, not customer DNS records.",
        "responses": {
          "200": {
            "description": "Domain mapping removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    },
    "/sites/{siteId}/domains/{domainId}/claim": {
      "parameters": [
        {
          "name": "siteId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "domainId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "rotateSiteDomainClaim",
        "summary": "Rotate a pending one-time Site hostname claim",
        "description": "Requires funnels:read and domains:write plus an active custom_domains subscription. It invalidates the previous pending TXT value and returns the replacement exactly once. Verified claims cannot be rotated.",
        "responses": {
          "200": {
            "description": "Replacement claim issued; response includes the one-time TXT value"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Domain not found"
          },
          "409": {
            "description": "Claim already verified"
          }
        }
      }
    },
    "/funnels": {
      "get": {
        "operationId": "listFunnels",
        "summary": "List funnels",
        "responses": {
          "200": {
            "description": "Funnels for the authenticated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Funnel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createFunnel",
        "summary": "Create a code-managed funnel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunnelCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Funnel created"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/funnels/{funnelId}/deployments": {
      "parameters": [
        {
          "name": "funnelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "listDeployments",
        "summary": "List code deployments",
        "responses": {
          "200": {
            "description": "Recent deployments"
          }
        }
      },
      "post": {
        "operationId": "createDeployment",
        "summary": "Declare an immutable bundle inventory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload session created"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/funnels/{funnelId}/deployments/{deploymentId}/files/{path}": {
      "put": {
        "operationId": "uploadDeploymentFile",
        "summary": "Upload one predeclared file with exact length and checksum",
        "parameters": [
          {
            "name": "funnelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {}
          }
        },
        "responses": {
          "200": {
            "description": "File verified and stored"
          }
        }
      }
    },
    "/funnels/{funnelId}/deployments/{deploymentId}/complete": {
      "post": {
        "operationId": "completeDeployment",
        "summary": "Run quality gates and publish the bundle",
        "parameters": [
          {
            "name": "funnelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "allowWarnings": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Immutable release published"
          },
          "409": {
            "description": "Warnings require explicit confirmation"
          },
          "422": {
            "description": "Blocking quality findings"
          }
        }
      }
    },
    "/funnels/{funnelId}/domains": {
      "parameters": [
        {
          "name": "funnelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "listDomains",
        "summary": "List custom domains and DNS/TLS state",
        "description": "Backward-compatible funnel-domain facade. New integrations should list domains through /sites/{siteId}/domains so one hostname can serve multiple mounted funnels.",
        "responses": {
          "200": {
            "description": "Domains connected to the funnel"
          }
        }
      },
      "post": {
        "operationId": "connectDomain",
        "summary": "Connect an external hostname through Cloudflare for SaaS",
        "description": "Backward-compatible facade that resolves the funnel's Site. New integrations should use POST /sites/{siteId}/domains. Requires an active custom_domains subscription and returns 402 subscription_required when absent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "maxLength": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hostname created; response contains exact DNS verification records"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Hostname is already connected"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/funnels/{funnelId}/domains/{domainId}": {
      "parameters": [
        {
          "name": "funnelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "domainId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "operationId": "refreshDomain",
        "summary": "Recheck DNS ownership and certificate state",
        "description": "Backward-compatible funnel-domain facade. Requires an active custom_domains subscription.",
        "responses": {
          "200": {
            "description": "Current domain state"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "removeDomain",
        "summary": "Remove a custom hostname mapping",
        "description": "Backward-compatible funnel-domain facade. Requires an active custom_domains subscription.",
        "responses": {
          "200": {
            "description": "Domain mapping removed"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/leads": {
      "post": {
        "operationId": "createLead",
        "summary": "Create a real lead",
        "description": "Idempotent lead ingestion with optional bounded first-touch attribution. Set emailMarketingConsent=true only after an explicit marketing opt-in; analytics consent is never reused. Never send raw gclid/fbclid values. Demo fixtures are never returned by this API or counted as activation.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique retry key (8–128 safe ASCII characters).",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing lead returned for an idempotent retry",
            "headers": {
              "Idempotency-Replayed": {
                "schema": {
                  "type": "boolean"
                },
                "description": "True for a replay."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadCreateResponse"
                }
              }
            }
          },
          "201": {
            "description": "Lead created",
            "headers": {
              "Idempotency-Replayed": {
                "schema": {
                  "type": "boolean"
                },
                "description": "False for a new lead."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "enum": [
                "7",
                "30",
                "90",
                "all"
              ],
              "default": "30"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "funnel",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated leads for the authenticated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "schemas": {
      "Site": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "mountCount",
          "domainCount",
          "activeDomainCount",
          "primaryHostname",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          },
          "slug": {
            "type": "string",
            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          },
          "mountCount": {
            "type": "integer",
            "minimum": 0
          },
          "domainCount": {
            "type": "integer",
            "minimum": 0
          },
          "activeDomainCount": {
            "type": "integer",
            "minimum": 0
          },
          "primaryHostname": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SiteDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Site"
          },
          {
            "type": "object",
            "required": [
              "mounts",
              "domains"
            ],
            "properties": {
              "mounts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SiteMount"
                }
              },
              "domains": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SiteDomain"
                }
              }
            }
          }
        ]
      },
      "SiteCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          },
          "slug": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          }
        }
      },
      "SiteUpdate": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          },
          "slug": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          }
        }
      },
      "SiteMount": {
        "type": "object",
        "required": [
          "siteId",
          "funnelId",
          "funnelName",
          "funnelSlug",
          "funnelType",
          "funnelStatus",
          "activeReleaseId",
          "activeReleaseVersion",
          "mountPath",
          "position",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "siteId": {
            "type": "string",
            "format": "uuid"
          },
          "funnelId": {
            "type": "string",
            "format": "uuid"
          },
          "funnelName": {
            "type": "string"
          },
          "funnelSlug": {
            "type": "string"
          },
          "funnelType": {
            "type": "string",
            "description": "Examples: funnel, listicle, quiz, page."
          },
          "funnelStatus": {
            "enum": [
              "ativo",
              "pausado",
              "rascunho",
              "arquivado"
            ]
          },
          "activeReleaseId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "activeReleaseVersion": {
            "type": [
              "integer",
              "null"
            ]
          },
          "mountPath": {
            "type": "string",
            "pattern": "^/(?:[a-z0-9]+(?:-[a-z0-9]+)*/?)*$"
          },
          "position": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SiteMountCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "funnelId"
        ],
        "properties": {
          "funnelId": {
            "type": "string",
            "format": "uuid"
          },
          "mountPath": {
            "type": "string",
            "default": "/",
            "maxLength": 300,
            "description": "Safe Site path. Platform routes such as /api and /_next are reserved."
          },
          "position": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          }
        }
      },
      "SiteMountUpdate": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "mountPath": {
            "type": "string",
            "maxLength": 300
          },
          "position": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          }
        }
      },
      "SiteDomain": {
        "type": "object",
        "required": [
          "id",
          "siteId",
          "funnelId",
          "hostname",
          "status",
          "servingState",
          "dnsStatus",
          "ownershipStatus",
          "sslStatus",
          "cnameTarget",
          "verificationRecords",
          "claimRecordName",
          "claimExpiresAt",
          "claimVerifiedAt",
          "claimStatus",
          "lastErrorCode",
          "lastErrorMessage",
          "lastCheckedAt",
          "activatedAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "siteId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "funnelId": {
            "type": "string",
            "format": "uuid"
          },
          "hostname": {
            "type": "string"
          },
          "status": {
            "enum": [
              "pending_dns",
              "pending_validation",
              "active",
              "blocked",
              "removing"
            ]
          },
          "servingState": {
            "enum": [
              "enabled",
              "billing_grace",
              "suspended"
            ]
          },
          "dnsStatus": {
            "type": "string"
          },
          "ownershipStatus": {
            "type": "string"
          },
          "sslStatus": {
            "type": "string"
          },
          "cnameTarget": {
            "type": "string"
          },
          "verificationRecords": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "name",
                "value"
              ],
              "properties": {
                "type": {
                  "enum": [
                    "txt",
                    "cname"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "claimRecordName": {
            "type": "string"
          },
          "claimRecordValue": {
            "type": "string",
            "description": "One-time TXT ownership value. Present only on a newly issued or rotated claim."
          },
          "claimExpiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "claimVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "claimStatus": {
            "enum": [
              "pending",
              "verified",
              "expired"
            ]
          },
          "lastErrorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastErrorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastCheckedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "activatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SiteDomainConnect": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "minLength": 3,
            "maxLength": 300
          }
        }
      },
      "Funnel": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "slug",
          "status",
          "updatedAt",
          "stepCount",
          "visits",
          "leads",
          "conversion",
          "revenueBrl"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "enum": [
              "ativo",
              "pausado",
              "rascunho",
              "arquivado"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "stepCount": {
            "type": "integer"
          },
          "visits": {
            "type": "integer"
          },
          "leads": {
            "type": "integer"
          },
          "conversion": {
            "type": [
              "number",
              "null"
            ],
            "description": "Measured conversion fraction, or null when aggregate lead and view totals cannot establish the same deduplicated visitor cohort. Null is not zero; do not derive a replacement percentage from the operational totals."
          },
          "revenueBrl": {
            "type": "number"
          }
        }
      },
      "FunnelCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "contentOrigin"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 160
          },
          "type": {
            "type": "string",
            "default": "código"
          },
          "slug": {
            "type": "string",
            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          },
          "contentOrigin": {
            "$ref": "#/components/schemas/FunnelContentOrigin"
          }
        }
      },
      "FunnelContentOrigin": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "kind"
            ],
            "properties": {
              "kind": {
                "const": "original"
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "kind",
              "sourceName",
              "sourceUrl",
              "originalCreator",
              "excludedDeliverables"
            ],
            "properties": {
              "kind": {
                "const": "educational_recreation"
              },
              "sourceName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 160
              },
              "sourceUrl": {
                "type": "string",
                "format": "uri",
                "pattern": "^https://",
                "maxLength": 2048
              },
              "originalCreator": {
                "type": "string",
                "minLength": 1,
                "maxLength": 160
              },
              "excludedDeliverables": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "uniqueItems": true,
                "items": {
                  "enum": [
                    "original_pdf",
                    "original_ebook",
                    "original_webclass"
                  ]
                }
              }
            }
          }
        ]
      },
      "BundleSeo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 70
          },
          "description": {
            "type": "string",
            "maxLength": 180
          },
          "socialImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "indexable": {
            "type": "boolean"
          },
          "schemaType": {
            "enum": [
              "WebPage",
              "LandingPage",
              "FAQPage"
            ]
          }
        }
      },
      "DeploymentCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "manifest",
          "files"
        ],
        "properties": {
          "manifest": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "schemaVersion",
              "steps"
            ],
            "properties": {
              "schemaVersion": {
                "const": 1
              },
              "name": {
                "type": "string",
                "maxLength": 160
              },
              "steps": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "key",
                    "name",
                    "kind",
                    "path",
                    "entry"
                  ],
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^[a-z][a-z0-9_-]{0,63}$"
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 160
                    },
                    "kind": {
                      "enum": [
                        "landing",
                        "obrigado",
                        "upsell",
                        "downsell",
                        "quiz",
                        "agenda",
                        "nutricao",
                        "live",
                        "replay"
                      ]
                    },
                    "path": {
                      "type": "string"
                    },
                    "entry": {
                      "type": "string"
                    },
                    "condition": {
                      "type": "string",
                      "maxLength": 500
                    },
                    "seo": {
                      "$ref": "#/components/schemas/BundleSeo"
                    }
                  }
                }
              }
            }
          },
          "files": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "path",
                "mime",
                "size",
                "sha256"
              ],
              "properties": {
                "path": {
                  "type": "string"
                },
                "mime": {
                  "type": "string"
                },
                "size": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 10485760
                },
                "sha256": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$"
                }
              }
            }
          }
        }
      },
      "Lead": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "stage",
          "score"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "funnelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "stage": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "LeadCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "externalId": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9._:/-]+$"
          },
          "funnelId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "attribution": {
            "$ref": "#/components/schemas/LeadAttributionInput"
          },
          "emailMarketingConsent": {
            "type": "boolean",
            "default": false,
            "description": "Explicit opt-in to marketing e-mail for this capture."
          },
          "stage": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "default": "novo"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 0
          }
        }
      },
      "LeadCreateResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "id",
              "createdAt",
              "duplicate"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "duplicate": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "LeadAttributionInput": {
        "type": "object",
        "additionalProperties": false,
        "description": "Privacy-safe first-touch acquisition fields. Send a pathname only (never a full landing/referrer URL). Raw advertising click identifiers are not accepted or stored.",
        "properties": {
          "utmSource": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "utmMedium": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "utmCampaign": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "utmContent": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "utmTerm": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "landingPath": {
            "type": "string",
            "pattern": "^/[^?#]*$",
            "maxLength": 512
          },
          "referrerHost": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": [
          "page",
          "pageSize",
          "pageCount",
          "total"
        ],
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "pageCount": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code",
          "requestId"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "details": {}
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Missing or malformed request metadata",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The scoped credential does not grant this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "SubscriptionRequired": {
        "description": "The workspace lacks an active entitlement for this paid capability. Agents must show this error to the owner and must not mutate DNS or retry around billing.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "subscription_required"
                    },
                    "details": {
                      "type": "object",
                      "description": "Entitlement feature and current state, when safe to disclose."
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid query parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Request body exceeds the endpoint-specific bound",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Tenant and endpoint allowance exceeded (600 requests per 60 seconds)",
        "headers": {
          "RateLimit-Policy": {
            "schema": {
              "type": "string",
              "example": "600;w=60"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "integer",
              "example": 60
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required API protection or dependency is unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}