{
  "openapi": "3.1.0",
  "info": {
    "title": "Ranch.Bot HTTP API",
    "version": "2026-09-06",
    "description": "Current implemented integration endpoints. Access is directed developer use; contact support@ranch.bot. Legacy API keys are deprecated. OAuth requires a registered client and verified setup; this reference does not provide self-serve onboarding. Direct API writes execute without the app confirmation screen. The canonical HTTP prefix is /v1; /api/v1 is also mounted today. OAuth paths are at /oauth. No new versioning or compatibility guarantee is implied. JSON request bodies have a 10 MB parser limit. Browser CORS is restricted to the configured Ranch.Bot web origin; server-side clients and cURL can send requests without Origin. Scope checks and farm membership/roles are separate. OAuth/device and legacy key scopes do not grant membership. Most insufficient-role failures are 401, while missing scope is 403 and missing membership is 404. Pagination uses skip/take where listed and is not a stable snapshot; supply an explicit positive take and deduplicate by id when data changes. Unspecified pagination values are not a published fixed default.",
    "x-jentic-source-url": "https://ranch.bot/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ranch.bot"
    }
  ],
  "paths": {
    "/oauth/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "get_oauth_well_known_oauth_authorization_server",
        "tags": [
          "oauth"
        ],
        "summary": "Discovery",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issuer": {
                      "type": "string"
                    },
                    "authorization_endpoint": {
                      "type": "string"
                    },
                    "token_endpoint": {
                      "type": "string"
                    },
                    "revocation_endpoint": {
                      "type": "string"
                    },
                    "userinfo_endpoint": {
                      "type": "string"
                    },
                    "jwks_uri": {
                      "type": "string"
                    },
                    "response_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "grant_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "code_challenge_methods_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scopes_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "token_endpoint_auth_methods_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "issuer",
                    "authorization_endpoint",
                    "token_endpoint",
                    "revocation_endpoint",
                    "userinfo_endpoint",
                    "jwks_uri",
                    "response_types_supported",
                    "grant_types_supported",
                    "code_challenge_methods_supported",
                    "scopes_supported",
                    "token_endpoint_auth_methods_supported"
                  ]
                },
                "example": {
                  "issuer": "example",
                  "authorization_endpoint": "example",
                  "token_endpoint": "PLACEHOLDER_CREDENTIAL",
                  "revocation_endpoint": "example",
                  "userinfo_endpoint": "example",
                  "jwks_uri": "https://example.com",
                  "response_types_supported": [],
                  "grant_types_supported": [],
                  "code_challenge_methods_supported": [],
                  "scopes_supported": [],
                  "token_endpoint_auth_methods_supported": []
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "get_oauth_authorize",
        "tags": [
          "oauth"
        ],
        "summary": "Authorize",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks.",
        "parameters": [
          {
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "response_type",
            "required": true,
            "schema": {
              "type": "string",
              "const": "code"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code_challenge",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code_challenge_method",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the configured authentication or consent flow.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/oauth/device": {
      "post": {
        "operationId": "post_oauth_device",
        "tags": [
          "oauth"
        ],
        "summary": "Device",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Production rate limit: 30 requests per 15-minute window, per client IP. RateLimit headers report the current window; respect Retry-After on 429. Requires an active registered client and only that client’s allowed scopes. Codes expire after 900 seconds; poll no faster than every 5 seconds. The user approves in the browser. No public self-serve client registration is provided.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_code": {
                      "type": "string"
                    },
                    "user_code": {
                      "type": "string"
                    },
                    "verification_uri": {
                      "type": "string"
                    },
                    "verification_uri_complete": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "number"
                    },
                    "interval": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "device_code",
                    "user_code",
                    "verification_uri",
                    "verification_uri_complete",
                    "expires_in",
                    "interval"
                  ]
                },
                "example": {
                  "device_code": "example",
                  "user_code": "example",
                  "verification_uri": "https://example.com",
                  "verification_uri_complete": "example",
                  "expires_in": 1,
                  "interval": 1
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "scope": {
                    "type": "string",
                    "maxLength": 1024
                  }
                },
                "required": [
                  "client_id"
                ]
              },
              "example": {
                "client_id": "11111111-1111-4111-8111-111111111111"
              }
            }
          }
        },
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/oauth/device/token": {
      "post": {
        "operationId": "post_oauth_device_token",
        "tags": [
          "oauth"
        ],
        "summary": "Device Token",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Production rate limit: 240 requests per 15-minute window, per client IP. RateLimit headers report the current window; respect Retry-After on 429. Poll with the returned device_code and original client_id. Pending authorization returns an OAuth 400 body. Malformed request bodies return the standard validation 400 envelope. Invalid, consumed, expired, mismatched-client, or disallowed-permission device codes return the standard 401 envelope.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "const": "Bearer"
                    },
                    "expires_in": {
                      "type": "number"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Returned for normal registered clients. The observer client (ranchbot-pi-observer-v1) omits this field; observer sessions cannot be refreshed."
                    }
                  },
                  "required": [
                    "scope",
                    "access_token",
                    "token_type",
                    "expires_in"
                  ]
                },
                "example": {
                  "scope": "read:animals",
                  "access_token": "PLACEHOLDER_ACCESS_TOKEN",
                  "refresh_token": "PLACEHOLDER_REFRESH_TOKEN",
                  "token_type": "Bearer",
                  "expires_in": 900
                }
              }
            }
          },
          "400": {
            "description": "Pending authorization returns an OAuth error object; malformed request bodies return the standard validation error envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "error_description": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "error_description"
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "example": {
                  "error": "authorization_pending",
                  "error_description": "The authorization request is still pending"
                }
              }
            }
          },
          "401": {
            "description": "Invalid, consumed, expired, mismatched-client, or disallowed-permission device code; returns the standard error envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "AuthError",
                      "message": "Invalid device code"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "const": "urn:ietf:params:oauth:grant-type:device_code"
                  },
                  "device_code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "client_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "grant_type",
                  "device_code",
                  "client_id"
                ]
              },
              "example": {
                "grant_type": "urn:ietf:params:oauth:grant-type:device_code",
                "device_code": "example",
                "client_id": "11111111-1111-4111-8111-111111111111"
              }
            }
          }
        },
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "post_oauth_revoke",
        "tags": [
          "oauth"
        ],
        "summary": "Revoke",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Production rate limit: 240 requests per 15-minute window, per client IP. RateLimit headers report the current window; respect Retry-After on 429.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "revoked"
                  ]
                },
                "example": {
                  "revoked": true
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "client_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "token",
                  "client_id"
                ]
              },
              "example": {
                "token": "PLACEHOLDER_CREDENTIAL",
                "client_id": "11111111-1111-4111-8111-111111111111"
              }
            }
          }
        },
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "post_oauth_token",
        "tags": [
          "oauth"
        ],
        "summary": "Token",
        "description": "Current oauth HTTP operation. No resource-scope middleware on this operation. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Production rate limit: 240 requests per 15-minute window, per client IP. RateLimit headers report the current window; respect Retry-After on 429. Authorization-code exchange requires code and redirect_uri. A refresh-token grant requires refresh_token. Use the configured client and its directed setup; do not infer a working public client from endpoint existence.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "access_token": {
                              "type": "string"
                            },
                            "token_type": {
                              "type": "string"
                            },
                            "expires_in": {
                              "type": "number"
                            },
                            "refresh_token": {
                              "type": "string"
                            },
                            "scope": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "access_token",
                            "token_type",
                            "expires_in",
                            "refresh_token",
                            "scope"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "refresh_token": {
                              "type": "string"
                            },
                            "scope": {
                              "type": "string"
                            },
                            "access_token": {
                              "type": "string"
                            },
                            "token_type": {
                              "type": "string",
                              "const": "Bearer"
                            },
                            "expires_in": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "refresh_token",
                            "scope",
                            "access_token",
                            "token_type",
                            "expires_in"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string"
                        },
                        "expires_in": {
                          "type": "number"
                        },
                        "refresh_token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "access_token",
                        "token_type",
                        "expires_in",
                        "refresh_token"
                      ]
                    }
                  ]
                },
                "example": {
                  "access_token": "PLACEHOLDER_CREDENTIAL",
                  "token_type": "PLACEHOLDER_CREDENTIAL",
                  "expires_in": 1,
                  "refresh_token": "PLACEHOLDER_CREDENTIAL",
                  "scope": "example"
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/oauth.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "code_verifier": {
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id"
                ]
              },
              "example": {
                "grant_type": "authorization_code",
                "client_id": "11111111-1111-4111-8111-111111111111"
              }
            }
          }
        },
        "x-required-scopes": [],
        "x-minimum-role": "None at route middleware",
        "security": []
      }
    },
    "/v1/farm": {
      "get": {
        "operationId": "get_v1_farm",
        "tags": [
          "farms"
        ],
        "summary": "Get Farms",
        "description": "Current farms HTTP operation. External credential scopes: read:farms. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Pagination accepts integer skip and take; set both explicitly. An omitted value passes through to the data query. Collection property names differ by resource; use the response schema. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429.",
        "parameters": [
          {
            "in": "query",
            "name": "skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "take",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "allow_private_threads": {
                            "type": "boolean"
                          },
                          "current_month_start": {
                            "anyOf": [
                              {
                                "type": "null"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              }
                            ]
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "species": {
                            "type": "string",
                            "enum": [
                              "BISON",
                              "CATTLE",
                              "ELK",
                              "GOAT",
                              "HORSE",
                              "OTHER",
                              "PIG",
                              "SHEEP"
                            ]
                          },
                          "species_other": {
                            "anyOf": [
                              {
                                "type": "null"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "farm_users": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/FarmMember"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "created_at",
                          "updated_at",
                          "name",
                          "allow_private_threads",
                          "current_month_start",
                          "is_active",
                          "species",
                          "species_other",
                          "farm_users"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total",
                    "records"
                  ]
                },
                "example": {
                  "total": 0,
                  "records": []
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/farm.ts",
        "x-required-scopes": [
          "read:farms"
        ],
        "x-minimum-role": "None at route middleware"
      },
      "post": {
        "operationId": "post_v1_farm",
        "tags": [
          "farms"
        ],
        "summary": "Create Farm",
        "description": "Current farms HTTP operation. External credential scopes: write:farms. Access is resolved for the authenticated user or by the endpoint-specific OAuth checks. Direct requests execute without an app confirmation screen. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "farm": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "name": {
                          "type": "string"
                        },
                        "allow_private_threads": {
                          "type": "boolean"
                        },
                        "current_month_start": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "format": "date-time"
                            }
                          ]
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "species": {
                          "type": "string",
                          "enum": [
                            "BISON",
                            "CATTLE",
                            "ELK",
                            "GOAT",
                            "HORSE",
                            "OTHER",
                            "PIG",
                            "SHEEP"
                          ]
                        },
                        "species_other": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "farm_users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FarmMember"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "created_at",
                        "updated_at",
                        "name",
                        "allow_private_threads",
                        "current_month_start",
                        "is_active",
                        "species",
                        "species_other",
                        "farm_users"
                      ]
                    },
                    "welcome_thread_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "farm",
                    "welcome_thread_id"
                  ]
                },
                "example": {
                  "farm": {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "created_at": "2026-09-01T12:00:00.000Z",
                    "updated_at": "2026-09-01T12:00:00.000Z",
                    "name": "Example",
                    "allow_private_threads": true,
                    "current_month_start": null,
                    "is_active": true,
                    "species": "BISON",
                    "species_other": null,
                    "farm_users": []
                  },
                  "welcome_thread_id": "11111111-1111-4111-8111-111111111111"
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/farm.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2
                  },
                  "species": {
                    "type": "string",
                    "enum": [
                      "BISON",
                      "CATTLE",
                      "ELK",
                      "GOAT",
                      "HORSE",
                      "OTHER",
                      "PIG",
                      "SHEEP"
                    ]
                  },
                  "species_other": {
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "required": [
                  "name",
                  "species"
                ]
              },
              "example": {
                "name": "Example",
                "species": "BISON"
              }
            }
          }
        },
        "x-required-scopes": [
          "write:farms"
        ],
        "x-minimum-role": "None at route middleware"
      }
    },
    "/v1/farm/{farm_id}": {
      "delete": {
        "operationId": "delete_v1_farm_farm_id",
        "tags": [
          "farms"
        ],
        "summary": "Delete Farm",
        "description": "Current farms HTTP operation. External credential scopes: write:farms. Minimum farm role: OWNER. Direct requests execute without an app confirmation screen. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429. Deletion behavior is described below; a successful status does not imply erasure from all retained history. Marks the stored entity inactive (soft deletion).",
        "parameters": [
          {
            "in": "path",
            "name": "farm_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Completed; no response body."
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/farm.ts",
        "x-required-scopes": [
          "write:farms"
        ],
        "x-minimum-role": "OWNER"
      },
      "get": {
        "operationId": "get_v1_farm_farm_id",
        "tags": [
          "farms"
        ],
        "summary": "Get Farm",
        "description": "Current farms HTTP operation. External credential scopes: read:farms. Minimum farm role: READER. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429.",
        "parameters": [
          {
            "in": "path",
            "name": "farm_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "farm": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "allow_private_threads": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "current_month_start": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_active": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "species": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "species_other": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "created_at": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "updated_at": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "farm_users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FarmMember"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "allow_private_threads",
                        "current_month_start",
                        "is_active",
                        "name",
                        "species",
                        "species_other",
                        "created_at",
                        "updated_at",
                        "farm_users"
                      ]
                    }
                  },
                  "required": [
                    "farm"
                  ]
                },
                "example": {
                  "farm": {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "allow_private_threads": true,
                    "current_month_start": "2026-09-01T12:00:00.000Z",
                    "is_active": true,
                    "name": "example",
                    "species": "example",
                    "species_other": "example",
                    "created_at": "2026-09-01T12:00:00.000Z",
                    "updated_at": "2026-09-01T12:00:00.000Z",
                    "farm_users": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/farm.ts",
        "x-required-scopes": [
          "read:farms"
        ],
        "x-minimum-role": "READER"
      },
      "put": {
        "operationId": "put_v1_farm_farm_id",
        "tags": [
          "farms"
        ],
        "summary": "Update Farm",
        "description": "Current farms HTTP operation. External credential scopes: write:farms. Minimum farm role: EDITOR. Direct requests execute without an app confirmation screen. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429.",
        "parameters": [
          {
            "in": "path",
            "name": "farm_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "farm": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "name": {
                          "type": "string"
                        },
                        "allow_private_threads": {
                          "type": "boolean"
                        },
                        "current_month_start": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "format": "date-time"
                            }
                          ]
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "species": {
                          "type": "string",
                          "enum": [
                            "BISON",
                            "CATTLE",
                            "ELK",
                            "GOAT",
                            "HORSE",
                            "OTHER",
                            "PIG",
                            "SHEEP"
                          ]
                        },
                        "species_other": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "farm_users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FarmMember"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "created_at",
                        "updated_at",
                        "name",
                        "allow_private_threads",
                        "current_month_start",
                        "is_active",
                        "species",
                        "species_other",
                        "farm_users"
                      ]
                    }
                  },
                  "required": [
                    "farm"
                  ]
                },
                "example": {
                  "farm": {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "created_at": "2026-09-01T12:00:00.000Z",
                    "updated_at": "2026-09-01T12:00:00.000Z",
                    "name": "Example",
                    "allow_private_threads": true,
                    "current_month_start": null,
                    "is_active": true,
                    "species": "BISON",
                    "species_other": null,
                    "farm_users": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/farm.ts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allow_private_threads": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 2
                  },
                  "species": {
                    "type": "string",
                    "enum": [
                      "BISON",
                      "CATTLE",
                      "ELK",
                      "GOAT",
                      "HORSE",
                      "OTHER",
                      "PIG",
                      "SHEEP"
                    ]
                  },
                  "species_other": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              },
              "example": {}
            }
          }
        },
        "x-required-scopes": [
          "write:farms"
        ],
        "x-minimum-role": "EDITOR"
      }
    },
    "/v1/farm/{farm_id}/animals": {
      "get": {
        "operationId": "get_v1_farm_farm_id_animals",
        "tags": [
          "animals"
        ],
        "summary": "Get Animals",
        "description": "Current animals HTTP operation. External credential scopes: read:animals. Minimum farm role: READER. Pagination accepts integer skip and take; set both explicitly. An omitted value passes through to the data query. Collection property names differ by resource; use the response schema. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429. Defaults to CURRENT inventory. Use inventory_status=ALL to include all nondeleted historical profiles, or select UNKNOWN, SOLD, DECEASED, or NOT_MANAGED.",
        "parameters": [
          {
            "in": "path",
            "name": "farm_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "take",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "inventory_status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CURRENT",
                "UNKNOWN",
                "SOLD",
                "DECEASED",
                "NOT_MANAGED",
                "ALL"
              ],
              "default": "CURRENT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "farm_id": {
                            "type": "string"
                          },
                          "metadata": {},
                          "groups": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Group"
                            }
                          },
                          "animal_identifiers": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/AnimalIdentifier"
                            }
                          },
                          "inventory_status": {
                            "type": "string",
                            "enum": [
                              "CURRENT",
                              "UNKNOWN",
                              "SOLD",
                              "DECEASED",
                              "NOT_MANAGED"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "created_at",
                          "updated_at",
                          "is_active",
                          "farm_id",
                          "metadata",
                          "groups",
                          "animal_identifiers",
                          "inventory_status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total",
                    "records"
                  ]
                },
                "example": {
                  "total": 0,
                  "records": []
                }
              }
            }
          },
          "400": {
            "description": "Request validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 400,
                      "name": "ValidationError",
                      "message": "Request validation failed."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid authentication or insufficient farm role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 401,
                      "name": "Unauthorized",
                      "message": "Missing/invalid authentication or insufficient farm role."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope or credential type is disallowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 403,
                      "name": "ForbiddenError",
                      "message": "Missing required scope or credential type is disallowed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource or active farm membership not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 404,
                      "name": "RanchBotError",
                      "message": "Resource or active farm membership not found."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the indicated delay.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 429,
                      "name": "RanchBotError",
                      "message": "Rate limit exceeded. Retry after the indicated delay."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": 500,
                      "name": "RanchBotError",
                      "message": "Unexpected server failure."
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source": "api/src/lib/controllers/animal.ts",
        "x-required-scopes": [
          "read:animals"
        ],
        "x-minimum-role": "READER"
      },
      "post": {
        "operationId": "post_v1_farm_farm_id_animals",
        "tags": [
          "animals"
        ],
        "summary": "Create Animal",
        "description": "Current animals HTTP operation. External credential scopes: write:animals. Minimum farm role: EDITOR. Direct requests execute without an app confirmation screen. Production rate limit: 100 requests per 15-minute window per legacy key or device account, 1000 per browser session, otherwise per client IP. RateLimit headers report the current window; respect Retry-After on 429. inventory_status is separate from deletion: CURRENT, UNKNOWN, SOLD, DECEASED, or NOT_MANAGED. New animals default to CURRENT; use UNKNOWN when present inventory membership is unconfirmed. Status changes preserve profile history and identifiers.",
        "parameters": [
          {
            "in": "path",
            "name": "farm_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
[...]
