{
  "openapi": "3.0.0",
  "info": {
    "title": "Hydrafetch API",
    "description": "Hydrafetch is a web data API for developers and agents. Send a URL and get back clean Markdown, the page's own structured data, schema-shaped JSON, links, or a summary, with the navigation, banners and boilerplate stripped out. Scrape one page, crawl a whole site, run a search, or extract to a schema, all through one API with one response shape. Every call costs one credit a page whatever it took to fetch, and failures are never billed.\n\nPoint us at a whole site and get every page. Ask a question and get answers with per-field\nconfidence and the passage each value came from. You describe the outcome you want — the\npipeline decides how to get it.\n\n## Authentication\n\nEvery request is authenticated with your API key in the `X-API-Key` header. Keys are scoped to a\nworkspace and carry its credit balance.\n\n## Credits\n\nCalls are billed in credits and charged only on success. A standard scrape is one credit; richer\nformats and the extraction tier cost more. Each response reports what it consumed.\n\n## Conventions\n\nAll timestamps are UTC ISO 8601. Long-running jobs (crawl, batch) return a job id you poll, or a\nwebhook you register.\n\n## Errors\n\nEvery failure returns the same shape, whatever the status:\n\n```json\n{ \"success\": false, \"error\": { \"code\": \"INSUFFICIENT_CREDITS\", \"message\": \"Insufficient credits\" },\n  \"meta\": { \"requestId\": \"019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c\" } }\n```\n\nBranch on `error.code`, which is stable. `error.message` is written for a person and may be\nreworded without notice. Validation failures add `error.details`. Quote `meta.requestId` when\nasking us about a specific failure. Every operation documents the codes it can return.\n\n## Rate limits\n\nLimits are per workspace, not per key, over a 60 second window, and the ceiling comes from your\nplan. Every response carries the IETF RateLimit header fields so you can self-throttle rather\nthan discovering the limit by hitting it:\n\n```http\nRateLimit-Policy: \"workspace\";q=600;w=60\nRateLimit: \"workspace\";r=599;t=42\n```\n\n`q` is the quota, `w` the window in seconds, `r` the requests remaining and `t` the seconds until\nthe window resets. A 429 also carries `Retry-After` in seconds; wait that long rather than\nretrying immediately. The older `X-RateLimit-Limit`, `X-RateLimit-Remaining` and\n`X-RateLimit-Reset` headers are still sent and mean the same thing.\n\n## Versioning and deprecation\n\nThe version is in the path: every endpoint on this API lives under `/v1/`. Within a version we\nonly make additive changes — new endpoints, new optional parameters, new fields in a response.\nAdding a field to a response is not a breaking change, so parse defensively and ignore what you\ndo not recognise.\n\nAnything that would break an existing integration ships under a new version path instead. When an\nendpoint or a version is retired, the responses say so before it stops working:\n\n```http\nDeprecation: @1780272000\nSunset: Sat, 01 May 2027 00:00:00 GMT\nLink: <https://docs.hydrafetch.com/changelog>; rel=\"deprecation\"\n```\n\n`Deprecation` (RFC 9745) marks when the endpoint became deprecated, `Sunset` (RFC 8594) when it\nstops responding, and the `deprecation` link relation points at what to move to. Nothing on this\nAPI is deprecated today, so you will not see these headers yet. Watch for them rather than for an\nannouncement: the headers are the notice, and the linked changelog carries what to move to.",
    "version": "1.0",
    "contact": {
      "name": "Hydrafetch",
      "url": "https://hydrafetch.com",
      "email": "support@hydrafetch.com"
    },
    "x-jentic-source-url": "https://api.hydrafetch.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.hydrafetch.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/web/scrape": {
      "post": {
        "description": "Fetch a single URL and return it in the formats you ask for. Waits for the result by default, returning a job id if it runs long; set `async` to always return a job id immediately.",
        "operationId": "scrape",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The scraped page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "The scrape is running; poll the job id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Scrape a URL",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/markdown": {
      "post": {
        "description": "Fetch a URL and return clean Markdown of its main content.",
        "operationId": "markdown",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeFormatRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Scrape to Markdown",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/html": {
      "post": {
        "description": "Fetch a URL and return its cleaned main-content HTML.",
        "operationId": "html",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeFormatRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Scrape to HTML",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/raw-html": {
      "post": {
        "description": "Fetch a URL and return its unmodified page HTML.",
        "operationId": "rawHtml",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeFormatRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Scrape raw HTML",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/links": {
      "post": {
        "description": "Fetch a URL and return its internal and external links.",
        "operationId": "links",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeFormatRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Get a page's links",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/structured": {
      "post": {
        "description": "Fetch a URL and return the page's own machine-authored structured data (JSON-LD, microdata, OpenGraph, RDFa), normalised.",
        "operationId": "structured",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeFormatRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Get structured data",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/scrape/{id}": {
      "get": {
        "description": "Poll a scrape started with `async` (or one that ran past the synchronous wait).",
        "operationId": "status",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The job id returned by the scrape call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Get scrape job status",
        "tags": [
          "Scrape"
        ]
      }
    },
    "/v1/web/map": {
      "post": {
        "description": "Quickly enumerate a site's URLs without scraping them. Returns synchronously and costs one credit.",
        "operationId": "mapUrls",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The discovered URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Map a site",
        "tags": [
          "Crawl & batch"
        ]
      }
    },
    "/v1/web/crawl": {
      "post": {
        "description": "Discover and scrape a whole site as one asynchronous job. Returns a crawl id immediately; poll it or register a webhook. One credit per page scraped.",
        "operationId": "startCrawl",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The crawl was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Start a crawl",
        "tags": [
          "Crawl & batch"
        ]
      }
    },
    "/v1/web/batch": {
      "post": {
        "description": "Scrape an explicit list of URLs as one asynchronous job. Returns a batch id immediately; poll it or register a webhook. One credit per URL scraped.",
        "operationId": "startBatch",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The batch was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAcceptedDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Start a batch",
        "tags": [
          "Crawl & batch"
        ]
      }
    },
    "/v1/web/crawl/{id}": {
      "get": {
        "description": "Poll a crawl for its progress and per-page results.",
        "operationId": "crawlStatus",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The crawl id returned when the crawl started.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusEnvelopeDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such job, or the id belongs to another workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Job not found"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The target site did not respond, so there was nothing to return. This is a fact about that URL rather than a fault on our side, and retrying it will not change the answer. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UPSTREAM_UNREACHABLE",
                    "message": "The origin did not respond to any attempt we made."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The workspace exceeded its per-minute request limit. Read the RateLimit headers, or Retry-After on this response, and retry after the window resets.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying. Prefer this over a fixed backoff.",
                "schema": {
                  "type": "integer",
                  "example": 17
                }
              },
              "RateLimit": {
                "description": "Requests remaining (r) and seconds until the window resets (t).",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";r=0;t=17"
                }
              },
              "RateLimit-Policy": {
                "description": "The quota (q) for your plan and the window it applies over (w), in seconds.",
                "schema": {
                  "type": "string",
                  "example": "\"workspace\";q=600;w=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "TOO_MANY_REQUESTS",
                    "message": "Rate limit exceeded for this workspace and plan."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Nothing was charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal server error"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "503": {
            "description": "A dependency needed for the requested formats is unavailable. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "The summary and json formats are not available."
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          }
        },
        "summary": "Get crawl status",
        "tags": [
          "Crawl & batch"
        ]
      }
    },
    "/v1/web/batch/{id}": {
      "get": {
        "description": "Poll a batch for its progress and per-URL results.",
        "operationId": "batchStatus",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The batch id returned when the batch started.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlStatusEnvelopeDto"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "url must be a valid URL"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The X-API-Key header is missing, malformed, or names a key that no longer exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Missing X-API-Key header. Agents: https://hydrafetch.com/auth.md"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "402": {
            "description": "The workspace has no credits left for this request. Nothing was charged and nothing was fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "INSUFFICIENT_CREDITS",
                    "message": "Insufficient credits"
                  },
                  "meta": {
                    "requestId": "019e8a3c-9f0b-7c12-88ab-1d2e3f4a5b6c"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key is valid but the workspace may not make this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WORKSPACE_BANNED",
                    "message": "This workspace has been suspended and cannot make API requests."
                  },
                  "meta": {
[...]
