{
  "openapi": "3.0.0",
  "info": {
    "description": "Integrated API for Property Search, Details, Availability, and Pricing.",
    "title": "LivBnB Partner API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/livbnbvacationhomesr/Livbnb-Partner-API/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.livbnb.com/api"
    }
  ],
  "paths": {
    "/authentication": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            },
            "description": "OK - Token is valid"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or expired token"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Forbidden - Account disabled"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Server Error - Service unavailable"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Security"
        ],
        "description": "Check the validity of the Bearer token and retrieve account status.",
        "summary": "Validate Authentication Token"
      }
    },
    "/booking": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BookingSuccessResponse"
                }
              }
            },
            "description": "Booking saved successfully"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Database or validation error"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Booking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create a New Booking"
      }
    },
    "/booking/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the booking to retrieve.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetail"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Invalid ID format"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Access Denied"
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Booking Management"
        ],
        "description": "Retrieve full details of a specific booking by its ID.",
        "summary": "Get Booking Details"
      }
    },
    "/faq": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FAQResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Support & Info"
        ],
        "summary": "Get Frequently Asked Questions"
      }
    },
    "/privacy": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Legal & Privacy"
        ],
        "summary": "Get Privacy Policy"
      }
    },
    "/properties": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "default": "214536",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDetail"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Property"
        ],
        "summary": "Property Details"
      }
    },
    "/properties/search": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "city",
            "schema": {
              "default": "dubai",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "location",
            "schema": {
              "enum": [
                "dubai marina",
                "palm jumeirah"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkIn",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkOut",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "adults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "children",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "rooms",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Search"
        ],
        "summary": "Search Properties"
      }
    },
    "/properties/{id}/availability": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkin",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkout",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "guests",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Property"
        ],
        "summary": "Calendar Availability"
      }
    },
    "/properties/{id}/pricebreakdown": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkin",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "checkout",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Pricing"
        ],
        "summary": "Price Breakdown"
      }
    },
    "/terms": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TermsResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Legal & Policies"
        ],
        "description": "Returns static information regarding fees, penalties, and legal terms and conditions.",
        "summary": "Get Terms and Policies"
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "full": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "neighborhood": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AuthResponse": {
        "properties": {
          "data": {
            "properties": {
              "email": {
                "type": "string"
              },
              "isActive": {
                "type": "boolean"
              },
              "lastLogin": {
                "format": "date-time",
                "type": "string"
              },
              "role": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailabilityResponse": {
        "properties": {
          "calendar": {
            "properties": {
              "days": {
                "items": {
                  "$ref": "#/components/schemas/CalendarDay"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "BookingDetail": {
        "properties": {
          "accommodationFare": {
            "type": "number"
          },
          "bookingId": {
            "type": "string"
          },
          "checkin": {
            "format": "date",
            "type": "string"
          },
          "checkout": {
            "format": "date",
            "type": "string"
          },
          "cleaningFee": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "guestFirstName": {
            "type": "string"
          },
          "guestLastName": {
            "type": "string"
          },
          "guests": {
            "type": "integer"
          },
          "monthlyDiscount": {
            "type": "number"
          },
          "phone": {
            "type": "string"
          },
          "processingFee": {
            "type": "number"
          },
          "quoteId": {
            "type": "string"
          },
          "specialRequest": {
            "type": "string"
          },
          "tourismTax": {
            "type": "number"
          },
          "vatFee": {
            "type": "number"
          },
          "weeklyDiscount": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "BookingSuccessResponse": {
        "properties": {
          "message": {
            "type": "string"
          },
          "orderId": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CalendarDay": {
        "properties": {
          "available": {
            "type": "boolean"
          },
          "available_count": {
            "type": "integer"
          },
          "closed_for_arrival": {
            "type": "boolean"
          },
          "closed_for_departure": {
            "type": "boolean"
          },
          "date": {
            "format": "date",
            "type": "string"
          },
          "day_rate": {
            "type": "number"
          },
          "maximum_available_nights": {
            "type": "integer"
          },
          "minimum_length_of_stay": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CreateBookingRequest": {
        "properties": {
          "accommodationFare": {
            "type": "number"
          },
          "checkin": {
            "format": "date",
            "type": "string"
          },
          "checkout": {
            "format": "date",
            "type": "string"
          },
          "cleaningFee": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "guestFirstName": {
            "type": "string"
          },
          "guestLastName": {
            "type": "string"
          },
          "guests": {
            "type": "integer"
          },
          "monthlyDiscount": {
            "type": "number"
          },
          "phone": {
            "type": "string"
          },
          "processingFee": {
            "type": "number"
          },
          "quoteId": {
            "type": "string"
          },
          "specialRequest": {
            "type": "string"
          },
          "tourismTax": {
            "type": "number"
          },
          "uplistingId": {
            "type": "string"
          },
          "vatFee": {
            "type": "number"
          },
          "weeklyDiscount": {
            "type": "number"
          }
        },
        "required": [
          "uplistingId",
          "checkin",
          "checkout",
          "guests",
          "email",
          "quoteId"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "details": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FAQEntry": {
        "properties": {
          "answer": {
            "type": "string"
          },
          "question": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FAQResponse": {
        "properties": {
          "faq": {
            "properties": {
              "entries": {
                "items": {
                  "$ref": "#/components/schemas/FAQEntry"
                },
                "type": "array"
              },
              "introduction": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "FeeItem": {
        "properties": {
          "charge": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Picture": {
        "properties": {
          "order": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PrivacyClause": {
        "properties": {
          "body": {
            "description": "Used when the clause is a single block of text",
            "type": "string"
          },
          "content": {
            "description": "Used when the clause has multiple paragraphs",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PrivacyResponse": {
        "properties": {
          "privacy_policy": {
            "properties": {
              "clauses": {
                "items": {
                  "$ref": "#/components/schemas/PrivacyClause"
                },
                "type": "array"
              },
              "introduction": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "PropertyDetail": {
        "properties": {
          "accommodates": {
            "type": "integer"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "amenities": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "bathrooms": {
            "type": "number"
          },
          "bedrooms": {
            "type": "integer"
          },
          "beds": {
            "type": "integer"
          },
          "cancellationPolicy": {
            "enum": [
              "strict",
              "firm",
              "moderate"
            ],
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "defaultCheckInTime": {
            "type": "string"
          },
          "defaultCheckOutTime": {
            "type": "string"
          },
          "pictures": {
            "items": {
              "$ref": "#/components/schemas/Picture"
            },
            "type": "array"
          },
          "price": {
            "type": "number"
          },
          "publicDescription": {
            "properties": {
              "summary": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "rating": {
            "type": "number"
          },
          "slug": {
            "type": "string"
          },
          "suitability": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "uplistingId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "QuoteResponse": {
        "properties": {
          "accommodationFare": {
            "type": "number"
          },
          "cleaningFee": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "monthlyDiscount": {
            "type": "number"
          },
          "processingFee": {
            "type": "number"
          },
          "quoteId": {
            "type": "string"
          },
          "tourismTax": {
            "type": "number"
          },
          "vatFee": {
            "type": "number"
          },
          "weeklyDiscount": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "SearchResponse": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "properties": {
            "items": {
              "$ref": "#/components/schemas/PropertyDetail"
            },
            "type": "array"
          },
          "totalCount": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "StructuredErrorResponse": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TermsResponse": {
        "properties": {
          "fees_and_policies": {
            "properties": {
              "cleaning": {
                "properties": {
                  "additional_cleaning": {
                    "properties": {
                      "chargeable": {
                        "type": "boolean"
                      },
                      "note": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "lost_items": {
                "properties": {
                  "lost_access_card": {
                    "$ref": "#/components/schemas/FeeItem"
                  },
                  "lost_key": {
                    "$ref": "#/components/schemas/FeeItem"
                  },
                  "lost_parking_remote": {
                    "$ref": "#/components/schemas/FeeItem"
                  }
                },
                "type": "object"
              },
              "penalties": {
                "properties": {
                  "smoking_penalty": {
                    "$ref": "#/components/schemas/FeeItem"
                  }
                },
                "type": "object"
              },
              "security_deposit": {
                "properties": {
                  "due": {
                    "type": "string"
                  },
                  "mandatory": {
                    "type": "boolean"
                  },
                  "note": {
                    "type": "string"
                  },
                  "refund_timeline": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "terms_and_conditions": {
            "properties": {
              "clauses": {
                "items": {
                  "properties": {
                    "body": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "introduction": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "description": "Format: Bearer <your_token>",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  }
}