{
  "openapi": "3.1.0",
  "info": {
    "title": "Dabra API",
    "version": "v1",
    "description": "API pública Dabra — consulta de dados. Toda conta tem uma chave de teste (`dabra_test_...`) que devolve o exemplo de cada endpoint a custo zero, marcado com o header X-Example: true — a validação de parâmetros é a mesma da produção.",
    "x-jentic-source-url": "https://dabradata.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://app.dabradata.com"
    }
  ],
  "paths": {
    "/api/v1/consulta/ibama-debitos": {
      "get": {
        "summary": "IBAMA - Certidão de Débitos Ambientais",
        "description": "Emite a Certidão Negativa de Débitos do IBAMA para pessoa física ou jurídica, verificando pendências ambientais via CPF ou CNPJ e gerando comprovantes em PDF.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.",
        "operationId": "ibama-debitos",
        "tags": [
          "Ambiental"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF da pessoa fisica a consultar (certidao de debitos ambientais). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ da pessoa juridica a consultar (certidao de debitos ambientais). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "nome": "string",
                  "numero": "number",
                  "status": "string",
                  "debitos": [],
                  "dataEmissao": "string",
                  "dataValidade": "string",
                  "possuiDebito": "boolean",
                  "efeitoNegativo": "boolean",
                  "documentoConsultado": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/ibama-embargo": {
      "get": {
        "summary": "IBAMA - Certidão de Embargos",
        "description": "Consulta e emite certidão de embargos do IBAMA para pessoas físicas ou jurídicas via CPF/CNPJ, retornando dados sobre embargos e irregularidades ambientais associadas.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.",
        "operationId": "ibama-embargo",
        "tags": [
          "Ambiental"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF da pessoa fisica a consultar (certidao de embargos). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ da pessoa juridica a consultar (certidao de embargos). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "nome": null,
                  "status": "string",
                  "embargos": null,
                  "endereco": null,
                  "documento": "string",
                  "dataEmissao": "string",
                  "observacoes": [
                    "string"
                  ],
                  "dataValidade": "string",
                  "possuiEmbargo": "boolean",
                  "numeroCertidao": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/ibama-regularidade": {
      "get": {
        "summary": "IBAMA - Certificado de Regularidade",
        "description": "Consulta a regularidade ambiental de pessoas físicas e jurídicas. Gera certificados oficiais necessários para licitações, financiamentos e certificações ambientais.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.",
        "operationId": "ibama-regularidade",
        "tags": [
          "Ambiental"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF da pessoa fisica a consultar (certificado de regularidade do CTF). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ da pessoa juridica a consultar (certificado de regularidade do CTF). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "uf": "string",
                  "cep": "string",
                  "bairro": "string",
                  "numero": "number",
                  "documento": "string",
                  "municipio": "string",
                  "atividades": null,
                  "categorias": {
                    "listaCategorias": [
                      {
                        "detalhe": "string",
                        "categoria": "string"
                      }
                    ]
                  },
                  "logradouro": "string",
                  "observacao": null,
                  "complemento": "string",
                  "dataEmissao": "string",
                  "dataAbertura": "string",
                  "dataConsulta": "string",
                  "dataValidade": "string",
                  "nomeFantasia": "string",
                  "numeroRegistro": "string",
                  "nomeEmpresarial": "string",
                  "constaCertificado": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/ibama-autuacoes": {
      "get": {
        "summary": "IBAMA — Autuações Ambientais",
        "description": "Verifica, por CPF ou CNPJ, a existência de autos de infração ambiental lavrados pelo IBAMA contra a pessoa ou empresa consultada, retornando o detalhamento de cada autuação, o total de multas e o indicador de passivo ambiental.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "ibama-autuacoes",
        "tags": [
          "Ambiental"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF da pessoa fisica a consultar (autuacoes ambientais). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ da pessoa juridica a consultar (autuacoes ambientais). Informe **cpf** OU **cnpj**. Aceita com ou sem pontuacao.",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "autuacoes": [],
                  "observacoes": "Nenhum auto de infração ambiental encontrado para o documento consultado.",
                  "nomeEntidade": "***",
                  "possuiAutuacao": false,
                  "totalAutuacoes": 0,
                  "valorTotalMultas": "0,00",
                  "documentoConsultado": "***"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/registration-brazil": {
      "get": {
        "summary": "Validação Cadastral - Brasil",
        "description": "Valida e consulta dados cadastrais de um CPF, retornando informações pessoais, endereço, telefone, e-mail e faixa salarial. Utilizado para onboarding, validação de identidade, análise de risco e preve",
        "operationId": "registration-brazil",
        "tags": [
          "Antifraude"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "dob",
            "in": "query",
            "required": false,
            "description": "Data de nascimento do titular (DD/MM/AAAA). Parâmetro opcional que pode ser combinado com `name` e `surname` para reforçar a identificação do CPF consultado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome completo do titular. Parâmetro opcional que pode ser combinado com `surname` e `dob` para reforçar a identificação do CPF consultado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surname",
            "in": "query",
            "required": false,
            "description": "Sobrenome do titular. Parâmetro opcional que pode ser combinado com `name` e `dob` para reforçar a identificação do CPF consultado.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "age": 38,
                  "cpf": "***",
                  "name": "***",
                  "emails": [
                    {
                      "emailAddress": "***"
                    },
                    {
                      "emailAddress": "***"
                    }
                  ],
                  "gender": "Feminino",
                  "phones": [
                    {
                      "phoneType": null,
                      "phoneNumber": "(11) 991000001"
                    },
                    {
                      "phoneType": null,
                      "phoneNumber": "(11) 991000002"
                    },
                    {
                      "phoneType": null,
                      "phoneNumber": "(11) 991000003"
                    },
                    {
                      "phoneType": null,
                      "phoneNumber": "(11) 32100004"
                    },
                    {
                      "phoneType": null,
                      "phoneNumber": "(11) 32100005"
                    }
                  ],
                  "addresses": [
                    {
                      "city": "JUIZ DE FORA",
                      "state": "MG",
                      "number": "212",
                      "street": "RUA DAS FLORES",
                      "complement": null,
                      "postalCode": "36010-020",
                      "neighborhood": "SAO MATEUS"
                    },
                    {
                      "city": "JUIZ DE FORA",
                      "state": "MG",
                      "number": "530",
                      "street": "AVENIDA RIO BRANCO",
                      "complement": "AP 305",
                      "postalCode": "36016-310",
                      "neighborhood": "CENTRO"
                    },
                    {
                      "city": "NITEROI",
                      "state": "RJ",
                      "number": "220",
                      "street": "RUA VISCONDE DE SEPETIBA",
                      "complement": "BL 2 AP 402",
                      "postalCode": "24020-207",
                      "neighborhood": "ICARAI"
                    }
                  ],
                  "nameMother": "***",
                  "dateOfBirth": "***",
                  "salaryRange": "1518",
                  "estimatedSalary": "Faixa 1 salário mínimo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/bc-inabilitados": {
      "get": {
        "summary": "Banco Central - Inabilitados",
        "description": "Consulta pessoas temporariamente inabilitadas para cargos em instituições financeiras, retornando penalidades e restrições. Essencial para compliance, análise de risco e decisões de crédito.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "bc-inabilitados",
        "tags": [
          "Banco Central"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "consta": "boolean",
                  "mensagem": "string",
                  "parametros": {
                    "cpf": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/bc-proibidos": {
      "get": {
        "summary": "Banco Central - Proibidos",
        "description": "Consulta o Quadro Geral de Proibidos do Banco Central para validar se uma pessoa ou empresa está temporariamente proibida de prestar serviços de auditoria para instituições autorizadas.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "bc-proibidos",
        "tags": [
          "Banco Central"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": null,
                  "found": false,
                  "message": "Nenhum registro encontrado"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/assistencia-social-pf": {
      "get": {
        "summary": "Assistência Social - PF",
        "description": "Consulta benefícios sociais de pessoas físicas, retornando se o cidadão recebeu Bolsa Família, BPC, Garantia-Safra, Seguro-Defeso e outros programas nos últimos 12 meses.",
        "operationId": "assistencia-social-pf",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "bpc": "boolean",
                  "cpf": "string",
                  "nis": null,
                  "nome": "string",
                  "obito": "boolean",
                  "nomeMae": "string",
                  "bolsaFamilia": "boolean",
                  "seguroDefeso": "boolean",
                  "garantiaSafra": "boolean",
                  "dataNascimento": "string",
                  "auxilioEmergencial": "boolean",
                  "auxilioReconstrucao": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/auxilio-emergencial": {
      "get": {
        "summary": "Auxílio Emergencial",
        "description": "Consulta informações sobre beneficiários do Auxílio Emergencial, retornando dados de pagamentos e situação para análises de risco e crédito.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "auxilio-emergencial",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cpf": "***",
                  "nis": "0.000.000.000-0",
                  "nome": "***",
                  "beneficios": [
                    {
                      "uf": "RS",
                      "data": "01/05/2020 00:00:00",
                      "valor": "600,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 1,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/07/2020 00:00:00",
                      "valor": "600,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 2,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/08/2020 00:00:00",
                      "valor": "600,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 3,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/09/2020 00:00:00",
                      "valor": "600,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 4,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/10/2020 00:00:00",
                      "valor": "600,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 5,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/11/2020 00:00:00",
                      "valor": "300,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 6,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/11/2020 00:00:00",
                      "valor": "300,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 7,
                      "numeroRegistro": null
                    },
                    {
                      "uf": "RS",
                      "data": "01/12/2020 00:00:00",
                      "valor": "300,00",
                      "situacao": "Não há",
                      "municipio": "IJUI",
                      "enquadramento": "EXTRACAD",
                      "numeroParcela": 8,
                      "numeroRegistro": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/auxilio-reconstrucao": {
      "get": {
        "summary": "Auxílio Reconstrução",
        "description": "Consulta dados de beneficiários do programa Auxílio Reconstrução para famílias desalojadas no Rio Grande do Sul. Retorna informações sobre benefícios concedidos, membros da família e localização.",
        "operationId": "auxilio-reconstrucao",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": null,
                  "found": false,
                  "message": "Nenhum registro encontrado"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/bpc-beneficio": {
      "get": {
        "summary": "Benefício de Prestação Continuada (BPC)",
        "description": "Permite consultar dados sobre o Benefício de Prestação Continuada para pessoas com deficiência e idosos, viabilizando validação de identidade, análise de risco e prevenção a fraude em processos de onb\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "bpc-beneficio",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "nis",
            "in": "query",
            "required": false,
            "description": "NIS – Número de Identificação Social (11 dígitos)",
            "schema": {
              "type": "string"
            },
            "example": "12345678901"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/bolsa-familia": {
      "get": {
        "summary": "Bolsa Família",
        "description": "Consulta as parcelas recebidas e sacadas do Bolsa Família a partir do NIS, fornecendo dados para análise de risco, crédito e validação de identidade.",
        "operationId": "bolsa-familia",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "nis",
            "in": "query",
            "required": true,
            "description": "NIS – Número de Identificação Social (11 dígitos)",
            "schema": {
              "type": "string"
            },
            "example": "12345678901"
          },
          {
            "name": "ano_referencia",
            "in": "query",
            "required": true,
            "description": "Ano de referência",
            "schema": {
              "type": "string"
            },
            "example": "2025"
          },
          {
            "name": "mes_referencia",
            "in": "query",
            "required": true,
            "description": "Mês de referência (1-12)",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "ano_competencia",
            "in": "query",
            "required": false,
            "description": "Ano de competência",
            "schema": {
              "type": "string"
            },
            "example": "2025"
          },
          {
            "name": "mes_competencia",
            "in": "query",
            "required": false,
            "description": "Mês de competência (1-12)",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/garantia-safra": {
      "get": {
        "summary": "Garantia Safra",
        "description": "Consulta informações sobre benefícios do programa Garantia Safra para agricultores familiares, validando dados cadastrais (CPF, NIS) e retornando histórico de parcelas por município e estado.",
        "operationId": "garantia-safra",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": null,
                  "found": false,
                  "message": "Nenhum registro encontrado"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/peti-trabalho-infantil": {
      "get": {
        "summary": "PETI - Erradicação do Trabalho Infantil",
        "description": "Verifica inclusão no PETI (Programa de Erradicação do Trabalho Infantil) por CPF. Retorna situação e período. Para compliance de cadeias produtivas.",
        "operationId": "peti-trabalho-infantil",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/seguro-defeso": {
      "get": {
        "summary": "Seguro Defeso - Pescador Artesanal",
        "description": "Retorna dados de Seguro Defeso para pescadores artesanais em período de defeso, incluindo parcelas, valores e situação do benefício.",
        "operationId": "seguro-defeso",
        "tags": [
          "Benefícios Sociais"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": null,
                  "found": false,
                  "message": "Nenhum registro encontrado"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/ccd-pf": {
      "get": {
        "summary": "Certidão Conjunta de Débitos - PF",
        "description": "Consulta a Certidão Conjunta de Débitos relativos a Tributos Federais e à Dívida Ativa da União (RFB/PGFN) de uma pessoa física, a partir do CPF, indicando regularidade fiscal, dívidas listadas, validade e código de controle. Não substitui certidões estaduais ou municipais.",
        "operationId": "ccd-pf",
        "tags": [
          "Certidões"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cpf": "string",
                  "nome": "string",
                  "status": "string",
                  "titulo": "string",
                  "portaria": "string",
                  "emitidaAs": "string",
                  "validaAte": "string",
                  "listaDividas": [],
                  "linkValidacao": "string",
                  "possuiDividas": "boolean",
                  "regularidadeFiscal": "boolean",
                  "validadeProrrogada": null,
                  "codigoControleCertidao": "string",
                  "possuiDividaAtivaUniao": null,
                  "possuiDebitosReceitaFederal": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/ccd-pj": {
      "get": {
        "summary": "Certidão Conjunta de Débitos - PJ",
        "description": "Emite a Certidão Negativa de Débitos relativos a Créditos Tributários Federais e à Dívida Ativa da União (RFB/PGFN) de uma pessoa jurídica, a partir do CNPJ. Comprova a regularidade fiscal da empresa perante a Receita Federal e a Procuradoria-Geral da Fazenda Nacional, indicando se há débitos federais em aberto ou inscritos em dívida ativa.",
        "operationId": "ccd-pj",
        "tags": [
          "Certidões"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "required": true,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cnpj": "string",
                  "nome": "string",
                  "status": "string",
                  "titulo": "string",
                  "portaria": "string",
                  "emitidaAs": "string",
                  "validaAte": "string",
                  "listaDividas": [],
                  "linkValidacao": "string",
                  "possuiDividas": "boolean",
                  "regularidadeFiscal": "boolean",
                  "validadeProrrogada": null,
                  "situacaoCadastralCnpj": null,
                  "codigoControleCertidao": "string",
                  "possuiDividaAtivaUniao": null,
                  "possuiDebitosReceitaFederal": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/tst-cndt": {
      "get": {
        "summary": "Certidão Negativa de Débitos Trabalhistas (CNDT)",
        "description": "Emite e consulta a Certidão Negativa de Débitos Trabalhistas (CNDT) do TST — Banco Nacional de Devedores Trabalhistas (BNDT) — para CPF ou CNPJ. Aponta se há débito trabalhista pendente e lista os processos.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.",
        "operationId": "tst-cndt",
        "tags": [
          "Certidões"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (11 dígitos) do titular da certidão, somente números. Informe cpf OU cnpj.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (14 dígitos) do titular da certidão, somente números. Informe cpf OU cnpj.",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "nome": "string",
                  "status": "string",
                  "processos": [],
                  "dataValidade": "string",
                  "dataExpedicao": "string",
                  "numeroCertidao": "string",
                  "possuiProcesso": "boolean",
                  "totalProcessos": "number",
                  "documentoConsultado": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/leads-contato": {
      "post": {
        "summary": "Contato do Lead",
        "description": "Retorna telefones e e-mails de um registro localizado pela consulta Leads por Endereço. Cobrado por registro consultado.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "leads-contato",
        "tags": [
          "Comercial"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Identificador do registro, obtido no campo `id` da consulta Leads por Endereço.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{1,20}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "nome": "CONDOMINIO EDIFICIO EXEMPLO",
                  "emails": [
                    "contato@exemplo.com.br"
                  ],
                  "documento": "00000000000191",
                  "telefones": [
                    {
                      "ddd": "11",
                      "numero": "32555361"
                    },
                    {
                      "ddd": "11",
                      "numero": "30644576"
                    },
                    {
                      "ddd": "11",
                      "numero": "31672576"
                    }
                  ],
                  "tipoPessoa": "PJ",
                  "idConsultado": "48282358"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/enriquecimento-lead": {
      "get": {
        "summary": "Enriquecimento de Lead",
        "description": "Retorna dados de cadastro de um CPF a partir de e-mail e/ou celular, combinando fontes oficiais com inferências para enriquecimento e qualificação de leads.\n\nObrigatório informar pelo menos um de: celular ou email.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "enriquecimento-lead",
        "tags": [
          "Comercial"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Endereço de e-mail do contato a identificar. Via de entrada alternativa a `celular` — envie ao menos um dos dois, ou ambos para enriquecer o resultado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "celular",
            "in": "query",
            "required": false,
            "description": "Telefone celular do contato, aceito com ou sem formatação. Via de entrada alternativa a `email` — envie ao menos um dos dois; se informado, precisa ser um número válido, senão a consulta inteira é rejeitada.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cpf": "***",
                  "nome": "***",
                  "sexo": "***",
                  "idade": 0,
                  "signo": null,
                  "emails": [],
                  "nomeMae": "***",
                  "enderecos": [
                    {
                      "uf": "GO",
                      "cep": "***",
                      "bairro": "***",
                      "cidade": "GOIANIA",
                      "numero": null,
                      "logradouro": "***",
                      "complemento": "***"
                    },
                    {
                      "uf": "RJ",
                      "cep": "***",
                      "bairro": "***",
                      "cidade": "RIO DE JANEIRO",
                      "numero": "435",
                      "logradouro": "***",
                      "complemento": "***"
                    }
                  ],
                  "telefones": [
                    {
                      "whatsApp": null,
                      "operadora": null,
                      "tipoTelefone": null,
                      "telefoneComDDD": "***",
                      "telemarketingBloqueado": null
                    },
                    {
                      "whatsApp": null,
                      "operadora": null,
                      "tipoTelefone": null,
                      "telefoneComDDD": "***",
                      "telemarketingBloqueado": null
                    },
                    {
                      "whatsApp": null,
                      "operadora": null,
                      "tipoTelefone": null,
                      "telefoneComDDD": "***",
                      "telemarketingBloqueado": null
                    },
                    {
                      "whatsApp": null,
                      "operadora": null,
                      "tipoTelefone": null,
                      "telefoneComDDD": "***",
                      "telemarketingBloqueado": null
                    },
                    {
                      "whatsApp": null,
                      "operadora": null,
                      "tipoTelefone": null,
                      "telefoneComDDD": "***",
                      "telemarketingBloqueado": null
                    }
                  ],
                  "rendaEstimada": "***",
                  "dataNascimento": "***",
                  "rendaFaixaSalarial": "Faixa 1 salário mínimo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "celular",
            "email"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/leads-endereco": {
      "post": {
        "summary": "Leads por Endereço",
        "description": "Lista os registros de pessoas e empresas associados a um endereço, a partir do CEP e do número. Use para prospecção e para descobrir quem está ligado a um imóvel.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "leads-endereco",
        "tags": [
          "Comercial"
        ],
        "parameters": [
          {
            "name": "cep",
            "in": "query",
            "required": true,
            "description": "CEP do endereço, com ou sem hífen (ex.: 11700-200 ou 11700200).",
            "schema": {
              "type": "string",
              "pattern": "^\\s*[0-9]{5}-?[0-9]{3}\\s*$"
            }
          },
          {
            "name": "numero",
            "in": "query",
            "required": false,
            "description": "Número do imóvel. Sem ele a busca devolve todo o CEP, que pode cobrir a rua inteira — informe o número para restringir ao endereço.",
            "schema": {
              "type": "string",
              "pattern": "^\\s*[0-9A-Za-z./ -]{1,15}\\s*$"
            }
          },
          {
            "name": "tipo_pessoa",
            "in": "query",
            "required": false,
            "description": "Filtra o resultado: PF (pessoas físicas) ou PJ (empresas). Sem o filtro, retorna os dois.",
            "schema": {
              "type": "string",
              "format": "upper",
              "pattern": "^\\s*(PF|PJ)\\s*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "leads": [
                    {
                      "id": "48282358",
                      "cnae": "8112500",
                      "nome": "CONDOMINIO EDIFICIO EXEMPLO",
                      "documento": "00000000000191",
                      "tipoPessoa": "PJ"
                    },
                    {
                      "id": "77158934",
                      "cnae": null,
                      "nome": "LIA ****** *******",
                      "documento": "106***538**",
                      "tipoPessoa": "PF"
                    }
                  ],
                  "totalLeads": 188,
                  "enderecoConsultado": {
                    "cep": "04530060",
                    "numero": "109",
                    "tipoPessoa": null
                  },
                  "totalPessoasFisicas": 179,
                  "totalPessoasJuridicas": 9
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/acordos-leniencia": {
      "get": {
        "summary": "Acordos de Leniência",
        "description": "Consulta dados sobre Acordos de Leniência conforme Lei Anticorrupção nº 12.846/2013, retornando informações sobre acordos celebrados entre administração pública e pessoas jurídicas colaboradoras, incl\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "acordos-leniencia",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "required": true,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "acordos": [
                    {
                      "sancoes": [],
                      "numeroRegistro": 900001,
                      "quantidadeSancoes": 0,
                      "detalhamentoAcordo": {
                        "dataFimAcordo": "30/01/2025 00:00:00",
                        "situacaoAcordo": "Em Execução",
                        "dataInicioAcordo": "31/05/2019 00:00:00",
                        "orgaoResponsavel": "Controladoria-Geral da União - Unidades com vínculo direto"
                      }
                    }
                  ],
                  "observacoes": "Foi encontrado um resultado compatível com a pesquisa.",
                  "razaoSocial": "INDUSTRIAS REUNIDAS VALE VERDE S.A",
                  "totalSancoes": 0,
                  "constamAcordos": true,
                  "quantidadeAcordos": 1,
                  "documentoConsultado": "22222222000122"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/oab-advogados": {
      "get": {
        "summary": "Advogados — Cadastro Nacional (OAB)",
        "description": "Localiza profissionais inscritos no Cadastro Nacional dos Advogados da OAB, retornando a lista de advogados e estagiários que correspondem à busca, com número de inscrição, seccional (UF) e tipo de inscrição. Útil para conferir se um advogado possui registro válido e em qual estado atua.\n\nObrigatório informar pelo menos um de: nome ou inscricao.",
        "operationId": "oab-advogados",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "nome",
            "in": "query",
            "required": false,
            "description": "Nome completo ou parcial do advogado. Retorna todos os homônimos e nomes semelhantes de todas as seccionais.",
            "schema": {
              "type": "string"
            },
            "example": "Fulano de Tal"
          },
          {
            "name": "inscricao",
            "in": "query",
            "required": false,
            "description": "Número de inscrição do profissional na OAB (só dígitos, sem a sigla da UF). Use junto com `uf` para identificar um registro único.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uf",
            "in": "query",
            "required": false,
            "description": "Sigla da seccional (UF) onde a inscrição foi emitida — 2 letras (ex.: SP, MG). Acompanha o parâmetro `inscricao`. Aceita minúsculas.",
            "schema": {
              "type": "string",
              "format": "upper",
              "enum": [
                "AC",
                "AL",
                "AP",
                "AM",
                "BA",
                "CE",
                "DF",
                "ES",
                "GO",
                "MA",
                "MT",
                "MS",
                "MG",
                "PA",
                "PB",
                "PR",
                "PE",
                "PI",
                "RJ",
                "RN",
                "RS",
                "RO",
                "RR",
                "SC",
                "SP",
                "SE",
                "TO"
              ]
            },
            "example": "SP"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "uf": "string",
                  "advogados": [
                    {
                      "uf": "string",
                      "foto": "string",
                      "nome": "string",
                      "endereco": null,
                      "situacao": "string",
                      "telefone": "string",
                      "inscricao": "string",
                      "nomeSocial": null,
                      "organizacao": "string",
                      "tipoInscricao": "string"
                    }
                  ],
                  "inscricao": "string",
                  "observacoes": "string",
                  "nomePesquisado": null,
                  "possuiRegistros": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "nome",
            "inscricao"
          ]
        ]
      }
    },
    "/api/v1/consulta/cvm-processos-sancionadores": {
      "get": {
        "summary": "CVM — Processos Sancionadores",
        "description": "Levanta os Processos Administrativos Sancionadores (PAS) da CVM associados a um CPF ou CNPJ, detalhando cada processo, sua fase e movimentações e os acusados envolvidos. Serve para avaliar risco regulatório e histórico de infrações no mercado de capitais.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "cvm-processos-sancionadores",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "processos": [
                    {
                      "ementa": "string",
                      "acusados": [
                        {
                          "nome": "string",
                          "situacao": "string",
                          "dataSituacao": "string"
                        }
                      ],
                      "faseAtual": "string",
                      "localAtual": "string",
                      "dataAbertura": "string",
                      "subfaseAtual": "string",
                      "assuntoObjeto": "string",
                      "movimentacoes": [
                        {
                          "local": "string",
                          "subfase": "string",
                          "dataMovimentacao": "string"
                        }
                      ],
                      "totalAcusados": "number",
                      "numeroProcesso": "string",
                      "processoEncerrado": "boolean",
                      "encarregadoInstrucao": "string",
                      "dataUltimaMudancaFase": "string",
                      "dataRelatorioInquerito": "string",
                      "dataUltimaMovimentacaoLocal": "string"
                    }
                  ],
                  "observacoes": "string",
                  "nomeEntidade": "string",
                  "possuiProcesso": "boolean",
                  "totalProcessos": "number",
                  "documentoConsultado": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/cvm-valores-mobiliarios": {
      "get": {
        "summary": "CVM — Valores Mobiliários",
        "description": "Verifica se um CPF ou CNPJ está registrado na CVM como participante do mercado de valores mobiliários, trazendo o cadastro da entidade (código CVM, situação, categoria, patrimônio líquido) e a relação de diretores. Útil para due diligence, compliance e checagem de emissores e agentes regulados.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "cvm-valores-mobiliarios",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "uf": "string",
                  "cep": "string",
                  "bairro": "string",
                  "cidade": "string",
                  "website": "string",
                  "endereco": "string",
                  "situacao": "string",
                  "telefone": "string",
                  "categoria": "string",
                  "codigoCVM": "string",
                  "diretores": [
                    {
                      "nome": "string",
                      "instrucao": "string",
                      "dataInicio": "string"
                    }
                  ],
                  "dataRegistro": "string",
                  "dataSituacao": "string",
                  "nomeEntidade": "string",
                  "categoriaRegistro": "string",
                  "patrimonioLiquido": "string",
                  "tiposParticipante": [
                    "string"
                  ],
                  "documentoConsultado": "string",
                  "companhiaDeMenorPorte": "string",
                  "dataInicioNaCategoria": "string",
                  "dataPatrimonioLiquido": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/anbima-certificado-edu": {
      "get": {
        "summary": "Certificações Anbima",
        "description": "Retorna as certificações profissionais da Anbima (como CPA-10, CPA-20, CEA, CGA, CFG, entre outras) associadas a um CPF, com datas de obtenção e vencimento, forma de obtenção e situação de cada certificado. Serve para comprovar a habilitação de profissionais do mercado financeiro.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "anbima-certificado-edu",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cpf": "string",
                  "observacoes": "string",
                  "nomeEntidade": "string",
                  "certificacoes": [
                    {
                      "titulo": "string",
                      "situacao": "string",
                      "vencimento": null,
                      "formaObtencao": null,
                      "ultimaAtualizacao": null,
                      "primeiraCertificacao": null
                    }
                  ],
                  "possuiCertificacoes": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/bet-safe-compliance": {
      "get": {
        "summary": "Compliance para Apostas (Bet Safe)",
        "description": "Consulta informações detalhadas de CPF para análise de risco e compliance em apostas, incluindo dados pessoais, benefícios sociais, vínculos familiares e status de conformidade.",
        "operationId": "bet-safe-compliance",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cbo": "string",
                  "cpf": "string",
                  "pep": "boolean",
                  "nome": "string",
                  "idade": "number",
                  "obito": "boolean",
                  "genero": "string",
                  "codigoCBO": "string",
                  "beneficios": {
                    "bpc": "boolean",
                    "nis": null,
                    "bolsaFamilia": "boolean",
                    "seguroDefeso": "boolean",
                    "garantiaSafra": "boolean",
                    "auxilioEmergencial": "boolean",
                    "auxilioReconstrucao": "boolean"
                  },
                  "parentescos": [
                    {
                      "cbo": "string",
                      "cpf": "string",
                      "nome": "string",
                      "obito": "boolean",
                      "genero": "string",
                      "codigoCBO": "string",
                      "dataObito": null,
                      "dataNascimento": "string",
                      "grauParentesco": "string",
                      "relacionadoEsporte": "boolean"
                    }
                  ],
                  "dataNascimento": "string",
                  "relacionadoEsporte": "boolean",
                  "personalidadePublica": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/consulta/cnia-improbidade": {
      "get": {
        "summary": "Condenações por Improbidade (CNIA)",
        "description": "Verifica condenações por improbidade administrativa no Cadastro Nacional do CNJ. Retorna se há condenações contra pessoas ou entidades e detalhes dos processos.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.",
        "operationId": "cnia-improbidade",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "string",
                  "documento": "string",
                  "condenacoes": [],
                  "dataEmissao": "string",
                  "nomeEntidade": null,
                  "codigoValidacao": "string",
                  "possuiCondenacao": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/ceis-sancoes": {
      "get": {
        "summary": "Empresas Inidôneas e Suspensas (CEIS)",
        "description": "Identifica empresas e pessoas sancionadas por irregularidades contratuais com a Administração Pública, fornecendo detalhes sobre sanções e restrições de participação em licitações e contratos.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "ceis-sancoes",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sancoes": [
                    {
                      "orgao": {
                        "uf": "SP",
                        "nome": "Secretaria Municipal Exemplo de Educação",
                        "poder": null,
                        "esfera": "MUNICIPAL"
                      },
                      "numeroRegistro": 999002,
                      "fundamentoLegal": "LEI 8666 - ART. 87, IV - DECLARAÇÃO DE INIDONEIDADE PARA LICITAR OU CONTRATAR COM A ADMINISTRAÇÃO PÚBLICA.",
                      "detalhamentoSancao": {
                        "fonte": {
                          "nome": null,
                          "endereco": null,
                          "telefone": null,
                          "dadosPublicacao": {
                            "data": "01/01/2018 00:00:00",
                            "link": null,
                            "texto": "Diário Oficial do Município Seção Licitações Página 1",
                            "detalhamento": null
                          }
                        },
                        "dataFim": null,
                        "categoria": "Declaração de Inidoneidade sem prazo determinado",
                        "dataInicio": "25/01/2018 00:00:00",
                        "observacao": null,
                        "dataReferencia": null,
                        "numeroProcesso": "0000-0.000.000-0",
                        "dataOrigemInformacao": null,
                        "dataTransitadoJulgado": null,
                        "abrangenciaDefinidaDecisaoJudicial": "Em todos os Poderes da Esfera do órgão sancionador"
                      }
                    }
                  ],
                  "observacoes": "Foi encontrado um resultado compatível com a pesquisa.",
                  "nomeEntidade": "INSTITUTO EXEMPLO DE ENSINO",
                  "constamSancoes": true,
                  "documentoConsultado": "22222222000122"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/cnep-sancoes": {
      "get": {
        "summary": "Empresas Punidas (CNEP)",
        "description": "Verifica se pessoas físicas ou jurídicas constam no Cadastro Nacional de Empresas Punidas, identificando sanções, multas ou proibições de participação em licitações e contratos governamentais.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "cnep-sancoes",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sancoes": [
                    {
                      "orgao": {
                        "uf": null,
                        "nome": "Empresa Pública Exemplo S.A.",
                        "poder": null,
                        "esfera": "FEDERAL"
                      },
                      "numeroRegistro": 999001,
                      "fundamentoLegal": "LEI 12846 - ART. 6º, I - MULTA, NO VALOR DE 0,1% A 20% DO FATURAMENTO BRUTO DO ÚLTIMO EXERCÍCIO.",
                      "detalhamentoSancao": {
                        "fonte": {
                          "nome": null,
                          "endereco": null,
                          "telefone": null,
                          "dadosPublicacao": {
                            "data": "01/01/2020 00:00:00",
                            "link": null,
                            "texto": "Diário Oficial da União Seção 3 Página 1",
                            "detalhamento": null
                          }
                        },
                        "dataFim": null,
                        "categoria": "Multa",
                        "dataInicio": "20/08/2020 00:00:00",
                        "observacao": null,
                        "valorMulta": "150000.00",
                        "dataReferencia": null,
                        "numeroProcesso": "000000002020",
                        "dataOrigemInformacao": null,
                        "dataTransitadoJulgado": null,
                        "abrangenciaDefinidaDecisaoJudicial": "Sem Informação"
                      }
                    }
                  ],
                  "observacoes": "Foi encontrado um resultado compatível com a pesquisa.",
                  "nomeEntidade": "COMERCIO EXEMPLO DE PECAS E EQUIPAMENTOS LTDA",
                  "constamSancoes": true,
                  "documentoConsultado": "22222222000122"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/cepim": {
      "get": {
        "summary": "Entidades Impedidas (CEPIM)",
        "description": "Consulta se uma entidade privada sem fins lucrativos está impedida de celebrar convênios ou contratos de repasse com a Administração Pública Federal, listando sanções e irregularidades associadas.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "cepim",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "required": true,
            "description": "CNPJ (somente números, 14 dígitos)",
            "schema": {
              "type": "string",
              "format": "cnpj"
            },
            "example": "SEU_CNPJ"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cnpj": "22222222000122",
                  "sancoes": [
                    {
                      "orgao": {
                        "cnpj": null,
                        "nome": "Ministério Exemplo de Desenvolvimento - Unidades com vínculo direto",
                        "poder": null,
                        "sigla": null
                      },
                      "numeroRegistro": 999003,
                      "detalhamentoSancao": {
                        "motivo": "NAO APRESENTACAO DE DOCUMENTACAO COMPLEMENTAR",
                        "dataReferencia": null
                      }
                    }
                  ],
                  "observacoes": "Foi encontrado um resultado compatível com a pesquisa.",
                  "razaoSocial": "ASSOCIACAO EXEMPLO DE ARTESANATO",
                  "constamSancoes": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/ceaf-expulsoes": {
      "get": {
        "summary": "Expulsões da Administração Federal (CEAF)",
        "description": "Consulta informações sobre demissões, destituições e cassações de aposentadoria de servidores públicos federais registradas desde 2004.\n\nQuando nada consta para os parâmetros informados, a resposta é `200` com corpo `{\"consta\": false, \"mensagem\": \"...\", \"parametros\": {...}}` — resultado negativo autoritativo, cobrado normalmente. O `404` fica restrito a recurso inexistente.",
        "operationId": "ceaf-expulsoes",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF (somente números, 11 dígitos)",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso (inclui resultado negativo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": null,
                  "found": false,
                  "message": "Nenhum registro encontrado"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-empty-as-negative": true
      }
    },
    "/api/v1/consulta/sicaf-fornecedor": {
      "get": {
        "summary": "Fornecedor do Governo Federal (SICAF)",
        "description": "Informa se um CPF ou CNPJ está cadastrado como fornecedor do Governo Federal (SICAF), se o cadastro está ativo e se consta habilitado a licitar, com os dados cadastrais divulgados: razão social/nome, atividade CNAE, natureza jurídica, porte e município/UF. Útil para diligência de fornecedor, análise de crédito (quem fatura com o setor público) e qualificação de leads B2G.\n\nObrigatório informar pelo menos um de: cpf ou cnpj.\n\nEnvie no máximo um de: cpf ou cnpj — cada consulta responde sobre um único documento.",
        "operationId": "sicaf-fornecedor",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "CPF do titular a consultar — 11 dígitos, com ou sem pontuação. A máscara é removida antes da validação e o dígito verificador é conferido.",
            "schema": {
              "type": "string",
              "format": "cpf",
              "pattern": "^[0-9]{11}$"
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "CNPJ da empresa a consultar — 14 caracteres, com ou sem pontuação. Aceita o CNPJ alfanumérico (12 posições em A-Z/0-9 mais 2 dígitos verificadores). A máscara é removida antes da validação e o dígito verificador é conferido.",
            "schema": {
              "type": "string",
              "format": "cnpj",
              "pattern": "^[A-Z0-9]{12}[0-9]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "uf": null,
                  "cnae": null,
                  "nome": null,
                  "porte": null,
                  "status": "string",
                  "municipio": null,
                  "tipoPessoa": "string",
                  "cadastroAtivo": null,
                  "cnaeDescricao": null,
                  "naturezaJuridica": null,
                  "habilitadoLicitar": null,
                  "documentoConsultado": "string",
                  "possuiCadastroSicaf": "boolean",
                  "codigoNaturezaJuridica": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "x-one-of-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ],
        "x-at-most-one-groups": [
          [
            "cpf",
            "cnpj"
          ]
        ]
      }
    },
    "/api/v1/consulta/listas-restritivas": {
      "get": {
        "summary": "Listas Restritivas e Sanções — PF",
        "description": "Screening de sanções e listas restritivas de uma pessoa física a partir do CPF, cobrindo 17 listas nacionais e internacionais: ONU (Conselho de Segurança), OFAC e DDTC (EUA), União Europeia, Reino Unido, Canadá, INTERPOL, FBI, BACEN, CVM, CNJ, TCU, TCE-SP, CEAF, CNEP, MTE (trabalho escravo) e IBAMA. O cruzamento com as listas é resolvido na origem a partir do CPF, com índice de similaridade de nome por ocorrência — sem risco de falso negativo por busca manual de nome.",
        "operationId": "listas-restritivas",
        "tags": [
          "Compliance & Risco"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "required": true,
            "description": "CPF da pessoa física consultada, com ou sem máscara.",
            "schema": {
              "type": "string",
              "format": "cpf"
            },
            "example": "SEU_CPF"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "cpf": "string",
                  "status": "string",
                  "ocorrencias": [
[...]
