{
  "openapi": "3.0.0",
  "info": {
    "description": "Timed API Documentation",
    "title": "Timed API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Vuthsila/timed-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://app.timed.co.za/"
    }
  ],
  "paths": {
    "/api-docs": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Docs"
        ],
        "summary": "API Docs Root"
      }
    },
    "/api-settings": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Save Settings"
      }
    },
    "/api-settings/callback/{vendor}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "vendor",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Settings"
        ],
        "summary": "Callback"
      }
    },
    "/api-settings/test": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Test Settings"
      }
    },
    "/api/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "General"
        ],
        "summary": "API Root"
      }
    },
    "/api/v1/cleaning-records": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cleaning"
        ],
        "summary": "List Cleaning Records"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cleaning"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Create Cleaning Record"
      }
    },
    "/api/v1/cleaning-records/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cleaning"
        ],
        "summary": "Get Cleaning Record"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cleaning"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update Cleaning Record"
      }
    },
    "/api/v1/clock-in": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Clock"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "branch_id": {
                    "type": "string"
                  },
                  "comment_in": {
                    "type": "string"
                  },
                  "facial_clock": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "pin_clock": {
                    "type": "string"
                  },
                  "shift_id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Clock In"
      }
    },
    "/api/v1/clock-out": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Clock"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment_out": {
                    "type": "string"
                  },
                  "facial_clock": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "pin_clock": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Clock Out"
      }
    },
    "/api/v1/clock-status": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Clock"
        ],
        "summary": "Clock Status"
      }
    },
    "/api/v1/forgot-password": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Forgot Password"
      }
    },
    "/api/v1/leaves": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Leaves"
        ],
        "summary": "List Leaves"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Leaves"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Apply for Leave"
      }
    },
    "/api/v1/leaves/statuses": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Leaves"
        ],
        "summary": "Leave Statuses"
      }
    },
    "/api/v1/leaves/types": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Leaves"
        ],
        "summary": "Leave Types"
      }
    },
    "/api/v1/leaves/{id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Leaves"
        ],
        "summary": "Delete Leave"
      }
    },
    "/api/v1/login": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Login"
      }
    },
    "/api/v1/logout": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Auth"
        ],
        "summary": "Logout"
      }
    },
    "/api/v1/logs": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Logs"
        ],
        "summary": "Get Logs"
      }
    },
    "/api/v1/payslips": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Payslips"
        ],
        "summary": "Payslips"
      }
    },
    "/api/v1/profile": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Profile"
        ],
        "summary": "Get Profile"
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Update Profile"
      }
    },
    "/api/v1/profile/fica": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Profile"
        ],
        "summary": "Get FICA"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Body"
        },
        "summary": "Submit FICA"
      }
    },
    "/api/v1/reset-password": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Reset Password"
      }
    },
    "/api/v1/work-history": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Work"
        ],
        "summary": "Work History"
      }
    }
  },
  "components": {
    "requestBodies": {
      "Body": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}