{
  "openapi": "3.1.0",
  "info": {
    "title": "Galley Render API",
    "version": "1.0.0",
    "summary": "Documents for agents. JSON in, PDF out.",
    "description": "A template plus a JSON payload becomes a PDF, PNG or JPG behind a signed URL.\n\nEvery render is deterministic and cached: the cache key is a SHA-256 over the template\nversion's checksum, the output format, and the canonical JSON of the data and options.\nAn identical repeat request returns the stored object with `cached: true` and is not billed.\n\nSmall jobs finish inside the request and return `200` with a URL. A request carrying a\n`webhook_url`, `async: true`, a large payload, or a batch item is queued and returns `202`\nwith an id to poll.\n\nAgents can skip signup entirely: the MCP server at https://mcp.galleyrender.com/mcp mints a\ntrial of 10 PDF pages or 10 images on the first call and hands back a key that works here too.",
    "termsOfService": "https://galleyrender.com/terms",
    "contact": {
      "name": "Galley Render support",
      "email": "support@galleyrender.com",
      "url": "https://galleyrender.com/support"
    },
    "x-jentic-source-url": "https://api.galleyrender.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.galleyrender.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/render": {
      "post": {
        "tags": [
          "Renders"
        ],
        "operationId": "createRender",
        "summary": "Render a document",
        "description": "Renders `template` with `data` and returns a signed URL. Returns `200` when the render finished inside the request, `202` when it was queued. A cache hit always returns `200`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              },
              "examples": {
                "invoice": {
                  "summary": "A one-page invoice as a PDF",
                  "value": {
                    "template": "invoice@1",
                    "format": "pdf",
                    "data": {
                      "invoice_number": "INV-1042",
                      "issued_on": "2026-09-16",
                      "seller": {
                        "name": "Galley Render"
                      },
                      "buyer": {
                        "name": "Acme Robotics"
                      },
                      "line_items": [
                        {
                          "description": "Starter plan, September",
                          "quantity": 1,
                          "unit_price": 19
                        }
                      ]
                    }
                  }
                },
                "ogCard": {
                  "summary": "A social card as a PNG on the fast path",
                  "value": {
                    "template": "og-card",
                    "format": "png",
                    "data": {
                      "title": "JSON in, PDF out."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered inside the request, or served from cache.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Renders allowed per window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Renders left in this window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the window resets."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "202": {
            "description": "Queued. Poll `GET /v1/renders/{id}` or wait for the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — including a value anywhere in `template`, `data`, `options` or `webhook_url` that cannot be stored: a NUL character (U+0000), an unpaired UTF-16 surrogate (U+D800–U+DFFF not part of a pair), or JSON nested more than 128 levels deep; `errors[0].path` names it. Or `asset_blocked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error` — the key is missing, malformed or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "`quota_exceeded` or `spend_cap_exceeded` — checked before the render starts, against the template's declared `expected_pages` for a PDF and 1 unit for raster output. `details.estimated_units` is what was estimated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`permission_error` — the account is suspended. `plan_required` — the request asked for something this account's plan does not carry: a `webhook_url`, or a cloud delivery option. `details.required_plan` names the cheapest plan that would work.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no such template or version on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`validation_error` — the payload does not match the template schema. `render_failed` with `details.cause: \"template\"` — the template or its data made the render fail (a Liquid error, markup Satori rejects, a page that never finishes loading, a page size Chromium cannot print). Fix the template or the data; retrying fails the same way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — more renders started than the plan allows per minute (60 free, 600 paid), counted per API key. `Retry-After` says how many seconds to wait; `X-RateLimit-Remaining` is on successful responses too.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`render_failed` with `details.cause: \"server\"` or `\"storage\"` — the render failed on our side; one retry is reasonable. `details.shutting_down: true` is one shape of `cause: \"server\"`: the instance that would have handled this render is being replaced and refused rather than starting work it might not finish — the retry is close to certain to work, on the next instance. `internal_error` — ours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render/batch": {
      "post": {
        "tags": [
          "Renders"
        ],
        "operationId": "createRenderBatch",
        "summary": "Render up to 50 documents",
        "description": "Every item is queued. Items that hit the cache come back finished. A failed item does not fail the batch: its entry in `renders` is an error envelope with the same `index`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "examples": {
                "two": {
                  "summary": "Two invoices with one shared webhook",
                  "value": {
                    "webhook_url": "https://example.com/hooks/galley",
                    "renders": [
                      {
                        "template": "invoice@1",
                        "format": "pdf",
                        "data": {
                          "invoice_number": "INV-1042"
                        }
                      },
                      {
                        "template": "invoice@1",
                        "format": "pdf",
                        "data": {
                          "invoice_number": "INV-1043"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — empty batch, or more than 50 items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`. A batch spends one unit of the per-minute limit per item, so 50 renders count as 50.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/renders": {
      "get": {
        "tags": [
          "Renders"
        ],
        "operationId": "listRenders",
        "summary": "List recent renders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many to return, newest first.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Render"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/renders/{id}": {
      "get": {
        "tags": [
          "Renders"
        ],
        "operationId": "getRender",
        "summary": "Get a render and a fresh signed URL",
        "description": "Signed URLs expire after an hour; the stored file is kept until the render's `expires_at` (your plan's retention when it was made). Until then, call this again for a new URL rather than re-rendering — it costs nothing. After it, this answers `410 retention_expired` and the file is deleted; render again to have it back.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The render id returned by `POST /v1/render`.",
            "schema": {
              "type": "string",
              "pattern": "^rnd_[a-z0-9]+$",
              "examples": [
                "rnd_7hq2m4x8k1bv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The render.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no render with that id on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "`retention_expired` — the render's file has passed its retention (`expires_at`) and is deleted, or is about to be. The render itself is in `details.render`, every field, with `url: null` and `file_deleted_at`; `details.rerender` is the request that makes the document again (a new, billed render).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/library": {
      "get": {
        "tags": [
          "Library"
        ],
        "operationId": "getLibrary",
        "summary": "The starter library, or one use-case kit of it",
        "description": "The 43 starter templates every account is seeded with, described the way the website describes them: the human name from the schema's `title`, the committed preview at its real pixel size, the example payload, and the `demo` block — the three fields a person would want their own words in, labelled for them rather than for the schema.\n\n**No key.** Nothing here is about an account: it is the same data the template gallery and every template page already publish. Cache it — the body only changes on a deploy, it carries an `ETag`, and a repeat request with `If-None-Match` is a `304`.\n\n`?pack=` narrows to one kit and returns it in picker order, **lead document first**. Without it you get all 43 in name order. Either way `packs` carries all six kits with their titles and membership, so one request is enough to draw the picker.\n\n`source` is deliberately not included: it is public, but 43 templates of embedded woff2 is several megabytes and nothing renders in the browser. Use `GET /v1/templates/{ref}` for the copy on your own account.",
        "security": [],
        "parameters": [
          {
            "name": "pack",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hoa",
                "trades",
                "freelancer",
                "events",
                "coach",
                "nonprofit"
              ]
            },
            "description": "One use-case kit. Omit for the whole library."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The `ETag` from a previous response. A match answers `304` with no body."
          }
        ],
        "responses": {
          "200": {
            "description": "The library, or the requested kit.",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Changes only when the library does."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "`public, max-age=300, stale-while-revalidate=86400`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Library"
                }
              }
            }
          },
          "304": {
            "description": "`If-None-Match` matched. Nothing has changed."
          },
          "404": {
            "description": "`not_found` — no kit by that name. `details.available_packs` lists the six.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signup/status": {
      "get": {
        "tags": [
          "Sign-up"
        ],
        "operationId": "getSignupStatus",
        "summary": "Has the owner answered that verification email yet?",
        "description": "One word — `pending`, `verified`, `issued`, `cancelled` — about one sign-up, so a page that has just sent somebody an email can finish the job itself instead of asking them to press a button again when they get back.\n\n**It has no side effects.** It mints nothing, mails nothing, verifies nothing and consumes nothing, and it is not a step in getting a key: the key still comes from `create_account`, after the owner confirms the request on the page the email links to, once. This only says when that call is worth making.\n\n**It never returns an address.** The token is a public id, and a public id is handed out by `existing_account`, so an address here would undo that answer's redaction.\n\n**No key.** The `token` is the `account.id` that `create_account` returned with `pending_verification`, which the caller that started the sign-up holds and nobody else does.\n\nPoll every `poll_after_seconds`. This has its own budget — thirty checks a minute per token — so polling here never spends the three-per-hour `create_account` budget, which is the whole reason it exists.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^acct_[a-z0-9]+$",
              "examples": [
                "acct_7hq2m4x8k1bv"
              ]
            },
            "description": "The `account.id` from the `create_account` call that started this sign-up."
          }
        ],
        "responses": {
          "200": {
            "description": "Where this sign-up has got to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupStatus"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — no `token`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no sign-up under that token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — more than thirty checks in a minute for one token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "listTemplates",
        "summary": "List templates on the account",
        "responses": {
          "200": {
            "description": "Every template, with its latest version number.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Template"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "createTemplate",
        "summary": "Create a template at version 1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              },
              "examples": {
                "minimal": {
                  "summary": "A one-line template with a schema",
                  "value": {
                    "name": "delivery-note",
                    "engine": "chromium",
                    "source": "<html><body><h1>{{ title }}</h1></body></html>",
                    "schema": {
                      "type": "object",
                      "required": [
                        "title"
                      ],
                      "properties": {
                        "title": {
                          "type": "string"
                        }
                      }
                    },
                    "example": {
                      "title": "Delivery note 1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created at version 1.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — bad name, unparseable Liquid, or an invalid JSON Schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`plan_required` (`details.feature: \"templates\"`) — the account already holds as many templates of its own as its plan keeps (`details.template_limit`, `details.own_templates`). The starter library never counts. Nothing the account has is affected: publishing a new version is never limited, and deleting a template makes room.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` (`details.code: \"template_exists\"`) — a live template already holds that name. Publish a new version instead. A soft-deleted template does not hold its name: deleting `invoice` frees it, and creating `invoice` again starts a new template at version 1.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{ref}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "getTemplate",
        "summary": "Get one template version",
        "description": "`invoice` resolves the latest version; `invoice@3` pins version 3.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateRef"
          }
        ],
        "responses": {
          "200": {
            "description": "The template and the resolved version, including its source and schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "operationId": "deleteTemplate",
        "summary": "Soft-delete a template",
        "description": "Existing renders keep working and their stored files are untouched, and renders pinned to `name@version` keep resolving. The name is released: creating a template with the same name afterwards succeeds and starts a new template at version 1.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateRef"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "template"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "name",
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{name}/versions": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "listTemplateVersions",
        "summary": "List a template's versions",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateName"
          }
        ],
        "responses": {
          "200": {
            "description": "Every published version.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TemplateVersion"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "createTemplateVersion",
        "summary": "Publish a new immutable version",
        "description": "Earlier versions keep rendering byte-for-byte as they did. Renders cached against the old version stay valid; the new version starts with a cold cache.\n\n**Fields you leave out are inherited from the previous version, not reset.** `engine`, `schema`, `options`, `expected_pages` and `example` all carry forward, so `{\"source\": \"…\"}` publishes a new body against the same renderer and the same validation contract. Send a field to override it, and send an empty value (`{}` for `schema` or `options`, `null` for `example`) to clear it. `source` is always required, and `message` is never inherited — it is the note for this version.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateVersionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{ref}/validate": {
      "post": {
        "tags": [
          "Templates"
        ],
        "operationId": "validateTemplateData",
        "summary": "Dry-run a payload against a template schema",
        "description": "Renders nothing and costs nothing. Returns the same field-level errors `POST /v1/render` would.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateRef"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "description": "The payload you intend to render."
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Whether the payload is valid, and why not.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "validation"
                    },
                    "template": {
                      "type": "string",
                      "examples": [
                        "invoice@1"
                      ]
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FieldError"
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Warning"
                      },
                      "description": "Fields the template would not use, possibly empty. The same array `POST /v1/render` returns."
                    },
                    "example": {
                      "description": "The template's own example payload, or null."
                    }
                  },
                  "required": [
                    "object",
                    "template",
                    "valid",
                    "errors",
                    "warnings"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "createImport",
        "summary": "Start turning an existing document into a template",
        "description": "Paid plans only. Takes a PDF three ways: a multipart `file` part, a JSON `file_url` the API fetches (public https only), or JSON `{ \"upload\": true }`, which answers with a one-time upload link and an import in `awaiting_upload`. Answers in under a second with the import in `uploaded`; the work happens after, so poll `GET /v1/imports/{id}`. The same bytes from the same account inside 24 hours are the same import and answer `200` with `existing: true` unless `force` is true. A feature that is switched off on the deployment answers `503 import_disabled`.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A PDF, up to 20 MB and 10 pages."
                  },
                  "options": {
                    "type": "string",
                    "description": "A JSON object part: `{ \"auto\": true, \"name\": \"ashcroft-invoice\", \"hint\": \"invoice\" }`."
                  },
                  "force": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "`true` to import the same bytes again inside 24 hours."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              },
              "examples": {
                "fileUrl": {
                  "summary": "A PDF the API fetches",
                  "value": {
                    "file_url": "https://example.com/our-invoice.pdf",
                    "options": {
                      "auto": false
                    }
                  }
                },
                "uploadLink": {
                  "summary": "A one-time upload link",
                  "value": {
                    "upload": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The same bytes were imported by this account in the last 24 hours; this is that import, with `existing: true`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "201": {
            "description": "The import. With `upload: true`, `status` is `awaiting_upload` and `upload` carries the link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — none or more than one of `file`, `file_url`, `upload`, or a bad `options` field. `asset_blocked` — a `file_url` the egress policy refuses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`plan_required` with `details.feature: \"imports\"` — the plan carries no imports (Free) or the period's count is used; `details.import_limit`, `imports_used`, `required_plan`, `required_plan_price_usd` and `feature_docs_url` say which. `permission_error` — the account is not in a closed beta of the feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`import_unsupported` with `details.reason: \"too_large\"` — over 20 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`import_unsupported` — `details.reason` is `unsupported_type`, `docx_not_yet` or `pptx_not_yet`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — requests faster than the account's per-minute rate limit (wait `Retry-After` seconds), or an import limit named by `details.scope`: `imports_hourly` (the hour's starts are spent; `details.retry_after_seconds`) or `imports_in_flight` (the account already has as many imports being worked as its plan allows).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled` — document import is not switched on for this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Imports"
        ],
        "operationId": "listImports",
        "summary": "List recent imports",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many to return, newest first.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newest first. No draft bodies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Import"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/{id}": {
      "get": {
        "tags": [
          "Imports"
        ],
        "operationId": "getImport",
        "summary": "Get an import",
        "description": "`questions` are present while `status` is `awaiting_answers`; `preview_url`, `check` and `draft_summary` when it is `ready` or `saved`. The preview and a question's crop are signed for 15 minutes and re-signed on every read. Poll about every 3 seconds; an import usually takes a few minutes, most of it Galley writing the template.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "responses": {
          "200": {
            "description": "The import.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no such import on this account, or it has been deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Imports"
        ],
        "operationId": "deleteImport",
        "summary": "Delete an import now",
        "description": "Deletes the source, the page images, the preview and what the analysis read from the document, now rather than at the end of the retention period. A template already saved from the import is untouched.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "deleted"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/{id}/answers": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "answerImport",
        "summary": "Answer an import's questions",
        "description": "Each answer is one of the question's own option values, and a `path` only with `field` or `field_with_default`. Nothing else is accepted. A question left out takes its recommended option, recorded as `answered_by: \"auto\"`. Answers can be given once: a second call is `409 conflict` with `details.code: \"import_already_answered\"`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              },
              "examples": {
                "one": {
                  "summary": "Answer one, leave the rest to the recommendation",
                  "value": {
                    "answers": [
                      {
                        "question_id": "q1",
                        "value": "field_with_default",
                        "path": "payment_terms"
                      }
                    ],
                    "answered_by": "user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted; the import moves on to synthesis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — the body is not JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` — the import is not waiting for answers (`details.code` is `import_already_answered` or `import_invalid_transition`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`validation_error` — an unknown `question_id`, a `value` that is not one of the question's options (`errors[0].path` is `answers[i].value`), or a bad `path`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/{id}/save": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "saveImport",
        "summary": "Save a ready import as a template",
        "description": "Creates the account's own template, version 1, from the import's draft. It counts against the plan's template limit exactly as `POST /v1/templates` does. Nothing is a template until this call. Saving again returns the same template with `200` and `saved: true`. Saving is never counted against the plan's import count.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9._-]{0,62}$",
                    "examples": [
                      "ashcroft-invoice"
                    ]
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already saved: the same template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedImportTemplate"
                }
              }
            }
          },
          "201": {
            "description": "The new template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedImportTemplate"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`plan_required` with `details.feature: \"templates\"` — the plan's template limit is reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` — the import is not `ready` (`details.code: \"import_invalid_transition\"`), or it has no draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/{id}/draft": {
      "get": {
        "tags": [
          "Imports"
        ],
        "operationId": "getImportDraft",
        "summary": "Read the draft template in full",
        "description": "The template an import made, whole: source, schema, example, strings and options, for a caller who wants to edit it before saving or to create the template by hand. It holds the words of the document, so it is served only to the account that made the import, and only once the import is `ready` or `saved`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "responses": {
          "200": {
            "description": "The draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportDraft"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` — no draft yet (`details.code: \"import_no_draft\"`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/{id}/feedback": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "sendImportFeedback",
        "summary": "Say whether the result was useful",
        "description": "One call per import; a second replaces the first. The note is your own words about your own document; it is stored on the import and read by a person, and is not sent to analytics. There is no `share_source` option yet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "useful"
                ],
                "properties": {
                  "useful": {
                    "type": "boolean"
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500,
                    "examples": [
                      "The totals row is in the wrong place."
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "import_feedback"
                    },
                    "import_id": {
                      "type": "string"
                    },
                    "recorded": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "object",
                    "import_id",
                    "recorded"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`validation_error` — `useful` is not a boolean, or `note` is over 500 characters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/imports/uploads/{token}": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "uploadImportFile",
        "summary": "Put a PDF on an upload link",
        "description": "No API key: the token in the path is the credential. It comes from `upload.url` or `upload.curl` on an import made with `upload: true`, works once, and dies after 15 minutes. A file that is refused (not a PDF, over 20 MB) does not spend it.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "The one-time upload token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A PDF, up to 20 MB and 10 pages."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted; the import proceeds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Import"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — no `file` part.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "`link_expired` — unknown, expired or already used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`import_unsupported` with `details.reason: \"too_large\"`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`import_unsupported` — not a PDF.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`import_disabled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUsage",
        "summary": "Usage, cost and limits for the current period",
        "responses": {
          "200": {
            "description": "The account's position this billing period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getAccount",
        "summary": "The account behind this key, and the webhook signing secret",
        "description": "`webhook_secret` is returned **once**, on the first call that has one to give; after that it is `null` and only `webhook_secret_prefix` identifies which secret is in use. Store it when you get it. If you lose it, rotate.",
        "responses": {
          "200": {
            "description": "The account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/webhook-secret": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate the webhook signing secret",
        "description": "Mints a new secret and returns it once. The previous secret stops verifying immediately, so update your handler in the same change.",
        "responses": {
          "200": {
            "description": "Rotated. The new secret is in the body and will not be shown again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "account",
                    "webhook_secret",
                    "rotated_at"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "webhook_secret"
                    },
                    "account": {
                      "type": "string"
                    },
                    "webhook_secret": {
                      "type": "string",
                      "examples": [
                        "whsec_9Fb2…"
                      ]
                    },
                    "webhook_secret_prefix": {
                      "type": "string"
                    },
                    "rotated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/spend-cap": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "setSpendCap",
        "summary": "Set this account's monthly spend cap",
        "description": "The cap bounds what you are billed **past** your plan's allowance, at your plan's own rate, over your Stripe billing period. The pages and images the plan includes never count toward it, so a cap of `0` means \"never bill me past my plan\" rather than \"stop rendering\". On an annual plan the figure is monthly and the period cap is twelve times it.\n\nAnything from `0` to the maximum in `max_self_serve_usd` (also on `GET /v1/account` as `limits.monthly_spend_cap_max_usd`). Above that, write to support@galleyrender.com.\n\nFree accounts and keyless trials cannot be billed and are never capped: the setting is stored and `applies_now` is `false` until the account is on a paid plan.\n\nA rise is emailed to the account's verified address, because a key is the account and the inbox is the one place a key holder cannot reach.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "monthly_spend_cap_usd"
                ],
                "properties": {
                  "monthly_spend_cap_usd": {
                    "type": "number",
                    "minimum": 0,
                    "description": "US dollars a month, cents allowed. `0` means no overage at all.",
                    "examples": [
                      100,
                      12.5,
                      0
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set. In force from the next render on a paid plan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "account",
                    "monthly_spend_cap_usd"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "spend_cap"
                    },
                    "account": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "monthly_spend_cap_usd": {
                      "type": "number",
                      "examples": [
                        100
                      ]
                    },
                    "previous_monthly_spend_cap_usd": {
                      "type": "number",
                      "examples": [
                        50
                      ]
                    },
                    "period_spend_cap_usd": {
                      "type": "number",
                      "description": "What the cap is over the billing period: twelve times the monthly figure on an annual plan."
                    },
                    "period_months": {
                      "type": "integer",
                      "examples": [
                        1,
                        12
                      ]
                    },
                    "max_self_serve_usd": {
                      "type": "number"
                    },
                    "applies_now": {
                      "type": "boolean"
                    },
                    "effect": {
                      "type": "string"
                    },
                    "raise_above_the_maximum": {
                      "type": "string"
                    },
                    "docs_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request`: not a number, negative, or above the maximum.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict`: the cap changed while this request was in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/keys": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "createApiKey",
        "summary": "Mint another API key for this account",
        "description": "Returns a new key **once**, in `api_key`. Keys are stored as a SHA-256 digest and cannot be read back by this API, by the dashboard or by support, so save it before you do anything else and do not write it to a log or a transcript.\n\nAuthenticated by a key you already hold — a live key is the proof that you are the account. Nothing is revoked by this call: deploy the new key, confirm it works, then revoke the old one with `POST /v1/account/keys/{id}/revoke`. `other_live_keys` lists the ids you might mean, including the one you authenticated with.\n\n**No key at all?** This endpoint cannot help you — it needs one. Call `create_account` on the MCP server with the account's verified address: it mails a one-time link code, `link_account` binds this client with it, and `rotate_key` then mints a key from there.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "A label for this key, so two can be told apart later. Defaults to `rotated`.",
                    "examples": [
                      "ci",
                      "laptop"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Minted. The plaintext key is in this response and will not be shown again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "id",
                    "api_key",
                    "key_prefix"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "account": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "api_key": {
                      "type": "string",
                      "examples": [
                        "glr_sk_8Qd1nR7xKpV2sYbL4mTf9Uae"
                      ]
                    },
                    "key_prefix": {
                      "type": "string",
                      "examples": [
                        "glr_sk_8Qd1nR7"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "shown_once": {
                      "type": "string"
                    },
                    "do_not_log_it": {
                      "type": "string"
                    },
                    "other_live_keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "key_prefix": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_used_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "When the key last authenticated. Recorded only from the release after 2026-09-21; null on an older key means unknown, not unused."
                          },
                          "is_the_key_you_authenticated_with": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "last_used_at_note": {
                      "type": "string"
                    },
                    "to_finish_rotating": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/keys/{id}/revoke": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "revokeApiKey",
        "summary": "Revoke one API key",
        "description": "Immediate and permanent: the next request carrying that key gets `authentication_error`. The id comes from `other_live_keys` on `POST /v1/account/keys`.\n\nRevoking the account's **last** live key is refused with `invalid_request`. An account with no live key cannot mint one here, so that request is a lock-out rather than a cleanup: mint the replacement first.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The key to revoke. Keys on other accounts answer `not_found`."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "id",
                    "revoked"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "account": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "key_prefix": {
                      "type": "string"
                    },
                    "revoked": {
                      "type": "boolean",
                      "const": true
                    },
                    "revoked_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "effect": {
                      "type": "string"
                    },
                    "live_keys_remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — this is the only live key on the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — no live key with that id on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "createCheckoutSession",
        "summary": "Start an upgrade: a Stripe-hosted Checkout Session",
        "description": "Returns a hosted Checkout URL for one paid plan. Open `url` in a browser and pay there — Galley never sees a card. The session carries the plan's flat price and its metered overage price, and Stripe Tax is calculated on the page.\n\n**The plan does not change when this returns.** It changes when Stripe delivers `checkout.session.completed` and `customer.subscription.created` to our webhook, a second or two later. Poll `GET /v1/account` and read `subscription.status`.\n\nThe account must have a verified email address: the invoice, the receipt and every dunning message go to it. A keyless trial gets `permission_error` naming the call that fixes it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              },
              "examples": {
                "solo": {
                  "summary": "The $5 entry plan, monthly",
                  "value": {
                    "plan": "solo",
                    "interval": "month"
                  }
                },
                "starterAnnual": {
                  "summary": "Starter, annual (two months free)",
                  "value": {
                    "plan": "starter",
                    "interval": "year"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Checkout Session. Nothing has been charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` — unknown `plan`, bad `interval`, or a return URL off galleyrender.com.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`permission_error` — the account has no verified email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "createPortalSession",
        "summary": "A Stripe Customer Portal link",
        "description": "Returns a single-use, short-lived URL to the Stripe-hosted portal, where a customer can switch plans, update a card, download invoices and cancel at period end. This is the only way any of those happen: the API cannot change or cancel a subscription, by design.\n\n`not_found` until the account has a Stripe customer, which the first checkout creates.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "return_url": {
                    "type": "string",
                    "description": "Where the portal's back link goes. Must be https on galleyrender.com.",
                    "examples": [
                      "https://galleyrender.com/dashboard"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A portal session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSession"
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — this account has never subscribed, so it has no Stripe customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stripe/webhook": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "stripeWebhook",
        "summary": "Stripe's webhook endpoint (not for customers)",
        "description": "Stripe calls this; you do not. It is the only unauthenticated write path in the API, and the `Stripe-Signature` header is what stands in for authentication: the raw body is verified against the endpoint's signing secret before a byte of it is parsed.\n\nHandled: `checkout.session.completed`, `customer.subscription.created`, `.updated`, `.deleted`, `invoice.paid`, `invoice.payment_failed`. Idempotent on the Stripe event id, so a redelivery is a no-op. Anything verified answers 200, including an event we do not act on.",
        "security": [],
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`t=<unix seconds>,v1=<hex hmac-sha256 of `t.body`>`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "A Stripe Event."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified. `outcome` is `applied`, `ignored`, `unmatched` or `duplicate`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "received",
                    "id",
                    "type",
                    "outcome"
                  ],
                  "properties": {
                    "received": {
                      "type": "boolean",
                      "const": true
                    },
                    "id": {
                      "type": "string",
                      "examples": [
                        "evt_1UGP…"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "examples": [
                        "customer.subscription.created"
                      ]
                    },
                    "outcome": {
                      "type": "string",
                      "enum": [
                        "applied",
                        "ignored",
                        "unmatched",
                        "duplicate"
                      ]
                    },
                    "account": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`authentication_error` — missing or invalid signature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getHealth",
        "summary": "Liveness and a cheap dependency probe",
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy."
          },
          "503": {
            "description": "A dependency is unreachable."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key, `glr_sk_…`. Send it as `Authorization: Bearer glr_sk_…` or `X-API-Key: glr_sk_…`. A keyless trial token from the MCP server is an ordinary key and works here."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "parameters": {
      "TemplateRef": {
        "name": "ref",
        "in": "path",
        "required": true,
        "description": "`invoice` for the latest version, or `invoice@3` to pin one.",
        "schema": {
          "type": "string",
          "examples": [
            "invoice",
            "invoice@3"
          ]
        }
      },
      "TemplateName": {
        "name": "name",
        "in": "path",
        "required": true,
        "description": "The template name, without a version.",
        "schema": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9._-]{0,62}$",
          "examples": [
            "invoice"
          ]
        }
      },
      "ImportId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The import id returned by `POST /v1/imports`.",
        "schema": {
          "type": "string",
          "pattern": "^imp_[a-z0-9]+$",
          "examples": [
            "imp_4tq8m2x7k1bv"
          ]
        }
      }
    },
    "schemas": {
      "RenderRequest": {
        "type": "object",
        "required": [
          "template"
        ],
        "properties": {
          "template": {
            "type": "string",
            "description": "`invoice` for the latest version, or `invoice@3` to pin one. Pin it in anything you ship.",
            "examples": [
              "invoice@3"
            ]
          },
          "version": {
            "type": [
              "integer",
              "string"
            ],
            "description": "Version number, if you would rather not put `@3` in `template`."
          },
          "data": {
            "description": "The payload, validated against the template's JSON Schema. `lang` and `labels` at the root of `data` are read by the language engine only where the template's schema declares a root property of that name, as a direct property (a `$ref` or `allOf` declaration does not count). The starter library's templates declare them for new accounts and for existing accounts once the library refresh has been run; on a template that does not, they are ordinary unknown fields (an `unknown_field` warning on an open schema, a 422 on a closed one), and the template's own schema decides what they may hold. Fields the template does not use are never an error; they come back in `warnings`.",
            "default": {},
            "properties": {
              "lang": {
                "type": "string",
                "maxLength": 100,
                "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{1,8})*$",
                "description": "Only where the template's schema declares `lang`. Language of the document's fixed text — titles, labels, headings, default sentences — and the locale dates and money are formatted in, as a BCP 47 tag (the languages with translated text are listed at /docs/templates/languages). The library's schemas accept a tag of up to 35 characters matching the pattern below, and refuse anything else with a 422 at `data.lang`; the engine itself reads up to 100. A tag that passes the pattern but that `Intl` cannot canonicalise (for example `en-a`) is not an error: it is ignored, as if `lang` had not been sent, with no warning. A tag with no translated text formats dates and money for that locale, keeps the English text, and adds an `unsupported_language` warning. Omit it and nothing changes.",
                "examples": [
                  "pt-BR"
                ]
              },
              "labels": {
                "type": "object",
                "description": "Your own wording for any of the document's fixed strings, by key. Wins over `lang`. Use it for a house term (\"Quotation\" instead of \"Estimate\"), or for a language we do not ship.",
                "additionalProperties": {
                  "type": "string",
                  "maxLength": 500
                }
              }
            }
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "png",
              "jpg",
              "jpeg"
            ],
            "description": "Defaults to `pdf` for chromium templates and `png` for satori ones. `webp` is not in v1."
          },
          "options": {
            "$ref": "#/components/schemas/RenderOptions"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute https URL to POST on completion. Supplying one forces the queued path. The body is signed with `X-Galley-Signature` (HMAC-SHA256 over the raw body, using the secret from `GET /v1/account`), and delivery is retried up to five times with exponential backoff over about a quarter of an hour.",
            "examples": [
              "https://example.com/hooks/galley"
            ]
          },
          "async": {
            "type": "boolean",
            "default": false,
            "description": "Force the queued path even for a small job."
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "renders"
        ],
        "properties": {
          "renders": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/RenderRequest"
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Applied to every item that does not carry its own."
          }
        }
      },
      "RenderOptions": {
        "type": "object",
        "description": "Merged over the template's own defaults. Options are part of the cache key, so two calls that differ only here are two different renders.",
        "properties": {
          "page_size": {
            "type": "string",
            "description": "PDF page size: `Letter`, `A4`, `Legal`, or `210mm x 297mm`."
          },
          "landscape": {
            "type": "boolean",
            "default": false,
            "description": "PDF only."
          },
          "margin": {
            "description": "PDF margins as a CSS length, or per side. Each value is a non-negative number with an optional unit (in, px, cm, mm) — these four and no others, because they are the four Chromium takes. A bare number is pixels: 48, \"48\", \"48px\" and \"0.5in\" are the same margin. A value that is not a length, or a negative one, is refused with 400 invalid_request before the render starts, as are margins larger than the sheet — the one named by page_size, or the largest Chromium knows when there is none, since the page then comes from the template's own CSS. Margins too large for the page a template actually prints on come back as render_failed 422 with cause template.",
            "oneOf": [
              {
                "type": "string",
                "examples": [
                  "18mm"
                ]
              },
              {
                "type": "number",
                "examples": [
                  48
                ]
              },
              {
                "type": "object",
                "properties": {
                  "top": {
                    "type": [
                      "string",
                      "number"
                    ]
                  },
                  "right": {
                    "type": [
                      "string",
                      "number"
                    ]
                  },
                  "bottom": {
                    "type": [
                      "string",
                      "number"
                    ]
                  },
                  "left": {
                    "type": [
                      "string",
                      "number"
                    ]
                  }
                }
              }
            ]
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "description": "Viewport width in px for png/jpg. Default 1200."
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "description": "Viewport height in px for png/jpg. Default 630."
          },
          "scale": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 3,
            "description": "Device pixel ratio for png/jpg; a CSS zoom on PDF, where it is capped at 2. Values above the cap are clamped, not rejected, and the cap is 3 on both engines."
          },
          "full_page": {
            "type": "boolean",
            "description": "png/jpg: capture the whole document, not just the viewport. The capture is limited to 16,384 device pixels on either side, measured after `scale`; a larger page is refused with render_failed 422 and cause `template`."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "jpg only. Default 90."
          },
          "background": {
            "type": "string",
            "description": "CSS colour painted under the document."
          },
          "print_background": {
            "type": "boolean",
            "description": "PDF: print background colours and images. Default true."
          },
          "css": {
            "type": "string",
            "description": "Extra CSS appended after the template's own styles."
          },
          "on_blocked_asset": {
[...]
