{
  "openapi": "3.1.0",
  "info": {
    "title": "Loadster API",
    "description": "The Loadster REST API works with the same projects, scripts, scenarios, datasets, monitors, and load test results as the Loadster dashboard.\n\nAuthenticate with a personal access token from the Loadster dashboard, sent as a bearer token in the `Authorization` header. A personal access token reaches only the endpoints in this spec. The trigger endpoints under `/s/` and `/t/` need no token, because the code in the path authorizes the request.\n\nAI assistants can also reach Loadster through the MCP server at https://api.loadster.com/mcp, with OAuth or the same personal access token.",
    "termsOfService": "https://loadster.com/legal/terms/",
    "contact": {
      "name": "Loadster Support",
      "url": "https://loadster.com/support/",
      "email": "help@loadster.com"
    },
    "version": "1",
    "x-jentic-source-url": "https://api.loadster.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.loadster.com"
    }
  ],
  "paths": {
    "/team/tags/{id}": {
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "Update a tag",
        "operationId": "updateTagById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Delete a tag",
        "operationId": "deleteTagById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/team/policies/{id}": {
      "get": {
        "tags": [
          "Notification Policies"
        ],
        "summary": "Get a notification policy",
        "operationId": "getPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPolicy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notification Policies"
        ],
        "summary": "Update a notification policy",
        "operationId": "updatePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPolicy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPolicy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Policies"
        ],
        "summary": "Delete a notification policy",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/team/maintenance-windows/{id}": {
      "get": {
        "tags": [
          "Maintenance Windows"
        ],
        "summary": "Get a maintenance window",
        "operationId": "getMaintenanceWindow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceWindow"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Maintenance Windows"
        ],
        "summary": "Update a maintenance window",
        "operationId": "updateMaintenanceWindow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceWindow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceWindow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Maintenance Windows"
        ],
        "summary": "Delete a maintenance window",
        "operationId": "deleteMaintenanceWindow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/monitoring/monitors/{id}": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get a monitor",
        "operationId": "getMonitorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cycles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Update a monitor",
        "operationId": "updateMonitorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Monitor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Delete a monitor",
        "operationId": "deleteMonitorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/engines/{id}": {
      "put": {
        "tags": [
          "Engines"
        ],
        "summary": "Rename a self-hosted engine",
        "operationId": "updatePrivateEngine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Engine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Engine"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Engines"
        ],
        "summary": "Delete a self-hosted engine",
        "operationId": "deletePrivateEngine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/team/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List tags",
        "operationId": "listTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create a tag",
        "operationId": "createTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      }
    },
    "/team/policies": {
      "get": {
        "tags": [
          "Notification Policies"
        ],
        "summary": "List notification policies",
        "operationId": "getPolicies",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationPolicy"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Notification Policies"
        ],
        "summary": "Create a notification policy",
        "operationId": "createPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPolicy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/team/maintenance-windows": {
      "get": {
        "tags": [
          "Maintenance Windows"
        ],
        "summary": "List maintenance windows",
        "operationId": "getMaintenanceWindows",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaintenanceWindow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Maintenance Windows"
        ],
        "summary": "Create a maintenance window",
        "operationId": "createMaintenanceWindow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceWindow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceWindow"
                }
              }
            }
          }
        }
      }
    },
    "/s/{shortcut}": {
      "post": {
        "tags": [
          "Triggers"
        ],
        "summary": "Launch a load test from a scenario's trigger code",
        "operationId": "startTestRunByShortcut",
        "parameters": [
          {
            "name": "shortcut",
            "in": "path",
            "description": "The scenario's trigger code, shown under its launch button in the dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "A label for the load test",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTestTriggerInvocation"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts": {
      "get": {
        "tags": [
          "Scripts"
        ],
        "summary": "List a project's scripts",
        "operationId": "listScripts",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCommands",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeCommandsPreview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Script"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Scripts"
        ],
        "summary": "Create a script",
        "operationId": "createScript",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Script"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}/assets": {
      "get": {
        "tags": [
          "Scripts"
        ],
        "summary": "Get a script asset's content or metadata",
        "operationId": "getScriptAsset",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "summary for the asset's metadata, or raw for its content",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "summary",
                "raw"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetInfo"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Scripts"
        ],
        "summary": "Upload a script asset",
        "operationId": "saveScriptAsset",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The asset's content",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetInfo"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Scripts"
        ],
        "summary": "Delete a script asset",
        "operationId": "deleteScriptAsset",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}/actions/import": {
      "post": {
        "tags": [
          "Scripts"
        ],
        "summary": "Import a JMeter, k6, or Locust script into a script",
        "operationId": "importScript",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replace",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "baseUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The script file to import",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptImportResult"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}/actions/duplicate": {
      "post": {
        "tags": [
          "Scripts"
        ],
        "summary": "Duplicate a script",
        "operationId": "duplicateScript",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scenarios": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "List a project's scenarios",
        "operationId": "listScenarios",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referencingScriptId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scenario"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Create a scenario",
        "operationId": "createScenario",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Scenario"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scenario"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scenarios/{scenarioId}/actions/duplicate": {
      "post": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Duplicate a scenario",
        "operationId": "duplicateScenario",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scenario"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/datasets": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List a project's datasets",
        "operationId": "listDatasets",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "values",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSet"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create a dataset",
        "operationId": "createDataSet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/datasets/{dataSetId}/actions/duplicate": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Duplicate a dataset",
        "operationId": "duplicateDataSet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/actions/duplicate": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Duplicate a project",
        "operationId": "duplicateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/player/script/actions/stop": {
      "post": {
        "tags": [
          "Script Runs"
        ],
        "summary": "Stop a script run",
        "operationId": "stopScript",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/player/script/actions/start": {
      "post": {
        "tags": [
          "Script Runs"
        ],
        "summary": "Play a script once",
        "operationId": "playScript",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayScriptResult"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/monitors": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "List monitors",
        "operationId": "getMonitors",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "script",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cycles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Monitor"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Create a monitor",
        "operationId": "createMonitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Monitor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          }
        }
      }
    },
    "/engines": {
      "get": {
        "tags": [
          "Engines"
        ],
        "summary": "List engines",
        "operationId": "listEngines",
        "parameters": [
          {
            "name": "includeCloud",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeShared",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Engine"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Engines"
        ],
        "summary": "Register a self-hosted engine",
        "operationId": "createPrivateEngine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Engine"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Engine"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/tests/{id}/actions/stop": {
      "post": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Stop a running load test",
        "operationId": "stopCloudTest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/cloud/tests/{id}/actions/kill": {
      "post": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Kill a running load test immediately",
        "operationId": "killCloudTest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeScenarioPopulations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeScriptCommands",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeDatasetValues",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTestReferences",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "operationId": "updateProjectSelectively",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects/{projectId}/tests/{testId}": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Get a load test",
        "operationId": "getTest",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRun"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Delete a load test",
        "operationId": "deleteTest",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Rename a load test",
        "operationId": "updateTestSelectively",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestRun"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects/{projectId}/tests/{testId}/report": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Get a load test's test report",
        "operationId": "getTestReportData",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestReportData"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Update a test report's notes",
        "operationId": "updateTestReportData",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestReportData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestReportData"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}": {
      "get": {
        "tags": [
          "Scripts"
        ],
        "summary": "Get a script",
        "operationId": "getScript",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Scripts"
        ],
        "summary": "Delete a script",
        "operationId": "deleteScript",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Scripts"
        ],
        "summary": "Update a script",
        "operationId": "updateScriptSelectively",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Script"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects/{projectId}/scenarios/{scenarioId}": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Get a scenario",
        "operationId": "getScenario",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scenario"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Delete a scenario",
        "operationId": "deleteScenario",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Scenarios"
        ],
        "summary": "Update a scenario",
        "operationId": "updateScenarioSelectively",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Scenario"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects/{projectId}/datasets/{datasetId}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get a dataset",
        "operationId": "getDataSet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSet"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Delete a dataset",
        "operationId": "deleteDataSet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Datasets"
        ],
        "summary": "Update a dataset",
        "operationId": "updateDataSetSelectively",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/t/{shortcut}": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get a load test by its test code",
        "operationId": "getTestRunByShortcut",
        "parameters": [
          {
            "name": "shortcut",
            "in": "path",
            "description": "The load test's code, the last segment of the testUrl a trigger returns",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRun"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/t/{shortcut}/status": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get a load test's status by its test code",
        "operationId": "getTestStatusByShortcut",
        "parameters": [
          {
            "name": "shortcut",
            "in": "path",
            "description": "The load test's code, the last segment of the testUrl a trigger returns",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestStatus"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/t/{shortcut}/report": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Get a load test's test report by its test code",
        "operationId": "getTestReportDataByShortcut",
        "parameters": [
          {
            "name": "shortcut",
            "in": "path",
            "description": "The load test's code, the last segment of the testUrl a trigger returns",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestReportData"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/t/{shortcut}/report.json": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Download a load test's test report as a JSON file",
        "operationId": "downloadTestReportJsonByShortcut",
        "parameters": [
          {
            "name": "shortcut",
            "in": "path",
            "description": "The load test's code, the last segment of the testUrl a trigger returns",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/projects/{projectId}/tests": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "List a project's load tests",
        "operationId": "listTests",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scenarioId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTestReferences",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestRun"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}/revisions": {
      "get": {
        "tags": [
          "Scripts"
        ],
        "summary": "List a script's revisions",
        "operationId": "getScriptRevisions",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Script"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scripts/{scriptId}/revisions/{version}": {
      "get": {
        "tags": [
          "Scripts"
        ],
        "summary": "Get one revision of a script",
        "operationId": "getScriptRevision",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Script"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs": {
      "get": {
        "tags": [
          "Script Runs"
        ],
        "summary": "List a project's script runs",
        "operationId": "listScriptRuns",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "script",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScriptRun"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs/{scriptRunId}": {
      "get": {
        "tags": [
          "Script Runs"
        ],
        "summary": "Get a script run",
        "operationId": "getScriptRun",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptRun"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs/{scriptRunId}/assets": {
      "get": {
        "tags": [
          "Script Runs"
        ],
        "summary": "Get a script run asset's content or metadata, such as a screenshot",
        "operationId": "getScriptRunAsset",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "summary for the asset's metadata, or raw for its content",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "summary",
                "raw"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetInfo"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get monitoring usage",
        "operationId": "getMonitoringUsageInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringUsageInfo"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/summary": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get the monitoring summary",
        "operationId": "getMonitoringSummary",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matchAllTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeMetrics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePeriods",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeAggregates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeStatuses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringSummary"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/monitors/{id}/summary": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get a monitor's summary",
        "operationId": "getMonitorSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeMetrics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePeriods",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeAggregates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeStatuses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorSummary"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/monitors/{id}/periods": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get a monitor's status over time",
        "operationId": "getMonitorPeriods",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 86400000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorStatusPeriod"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/monitors/{id}/cycles": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "List a monitor's cycles",
        "operationId": "listMonitorCycles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "cycleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seek",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorCycle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/monitors/{id}/cycles/{cycleId}": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get a monitor cycle",
        "operationId": "getMonitorCycle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cycleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorCycle"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/incidents": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "List incidents",
        "operationId": "getIncidents",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includeResolved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/incidents/{id}": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get an incident",
        "operationId": "getIncident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/tests": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "List load tests in progress",
        "operationId": "listCloudTests",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "test",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudTest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cloud/tests/{id}": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Get a load test's execution details",
        "operationId": "getCloudTest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudTest"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/tests/{id}/status": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Get a load test's status",
        "operationId": "getTestStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestStatus"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/tests/{id}/advice": {
      "get": {
        "tags": [
          "Load Tests"
        ],
        "summary": "Get advice on a finished load test",
        "operationId": "getTestAdvice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestReportAdvice"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/regions": {
      "get": {
        "tags": [
          "Engines"
        ],
        "summary": "List cloud regions",
        "operationId": "listRegions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudRegion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/fuel/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get fuel usage",
        "operationId": "getFuelUsage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelUsage"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "schemas": {
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "NotificationPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repeatCount": {
            "type": "integer",
            "format": "int32"
          },
          "delay": {
            "type": "integer",
            "format": "int64"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationPolicyAction"
            }
          },
          "maintenanceWindowIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NotificationPolicyAction": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string"
          },
          "integrationId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string"
          }
        }
      },
      "MaintenanceWindow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "format": "int64"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "boolean"
            }
          },
          "monitorIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "policyIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        }
      },
      "Monitor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repositoryProjectId": {
            "type": "string"
          },
          "repositoryScriptId": {
            "type": "string"
          },
          "frequency": {
            "type": "integer",
            "format": "int64"
          },
          "enabled": {
            "type": "boolean"
          },
          "failureThreshold": {
            "type": "integer",
            "format": "int32"
          },
          "recoveryThreshold": {
            "type": "integer",
            "format": "int32"
          },
          "acceptableResponseTimeAverageMin": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableResponseTimeAverageMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableResponseTimeTotalMin": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableResponseTimeTotalMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableCycleDurationMin": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableCycleDurationMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableTimeToFirstByteMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableFirstContentfulPaintMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableLargestContentfulPaintMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptableCumulativeLayoutShiftMax": {
            "type": "number",
            "format": "double"
          },
          "acceptableTotalBlockingTimeMax": {
            "type": "integer",
            "format": "int64"
          },
          "acceptablePerformanceScoreMin": {
            "type": "integer",
            "format": "int32"
          },
          "notificationsEnabled": {
            "type": "boolean"
          },
          "pausedByMaintenanceWindow": {
            "type": "boolean"
          },
          "engineIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "notificationPolicyIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "maintenanceWindowIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "startedMonitorNumberForCustomer": {
            "type": "integer",
            "format": "int32"
          },
          "cycles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorCycle"
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorStep"
            }
          }
        }
      },
      "MonitorCycle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "repositoryProjectId": {
            "type": "string"
          },
          "repositoryScriptId": {
            "type": "string"
          },
          "repositoryScriptRunId": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateScheduled": {
            "type": "string",
            "format": "date-time"
          },
          "dateStarted": {
            "type": "string",
            "format": "date-time"
          },
          "dateFinished": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "scriptDuration": {
            "type": "integer",
            "format": "int64"
          },
          "responseTimeAvg": {
            "type": "integer",
            "format": "int64"
          },
          "responseTimeTotal": {
            "type": "integer",
            "format": "int64"
          },
          "timeToFirstByte": {
            "type": "integer",
            "format": "int64"
          },
          "firstContentfulPaint": {
            "type": "integer",
            "format": "int64"
          },
          "largestContentfulPaint": {
            "type": "integer",
            "format": "int64"
          },
          "cumulativeLayoutShift": {
            "type": "number",
            "format": "double"
          },
          "totalBlockingTime": {
            "type": "integer",
            "format": "int64"
          },
          "performanceScore": {
            "type": "integer",
            "format": "int32"
          },
          "requestCount": {
            "type": "integer",
            "format": "int32"
          },
          "engineId": {
            "type": "string"
          }
        }
      },
      "MonitorStep": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          }
        }
      },
      "Engine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cloudRegion": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "CLOUD",
              "SHARED",
              "PRIVATE"
            ]
          },
          "lastActivity": {
            "type": "string",
            "format": "date-time"
          },
          "xpos": {
            "type": "number",
            "format": "double"
          },
          "ypos": {
            "type": "number",
            "format": "double"
          },
          "reliabilityScore": {
            "type": "number",
            "format": "double"
          },
          "estimatedCapacityProtocolBots": {
            "type": "integer",
            "format": "int32"
          },
          "estimatedCapacityBrowserBots": {
            "type": "integer",
            "format": "int32"
          },
          "testRunningAllowed": {
            "type": "boolean"
          },
          "scriptRunningAllowed": {
            "type": "boolean"
          },
          "monitoringAllowed": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          }
        }
      },
      "CloudTestTriggerInvocation": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "testUrl": {
            "type": "string"
          },
          "reportUrl": {
            "type": "string"
          },
          "reportDataUrl": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string"
          }
        }
      },
      "Blob": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          }
        }
      },
      "CodeCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Command": {
        "type": "object",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "CommentCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CustomHeader": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "DataSet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "projectId": {
            "type": "string"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/User"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "rowCount": {
            "type": "integer",
            "format": "int32"
          },
          "columnCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ElementCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "element": {
                "type": "string",
                "deprecated": true
              },
              "action": {
                "type": "string",
                "enum": [
                  "Click",
                  "DoubleClick",
                  "Drag",
                  "Type",
                  "Select",
                  "ChooseFiles",
                  "Hover",
                  "KeyPress",
                  "WaitFor"
                ]
              },
              "options": {
                "type": "object",
                "additionalProperties": {}
              },
              "locators": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ElementLocator"
                }
              },
              "requiredBlobs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Blob"
                },
                "uniqueItems": true
              }
            }
          }
        ]
      },
      "ElementLocator": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "getByRole",
              "getByLabel",
              "getByText",
              "getByTitle",
              "getByTestId",
              "getByPlaceholder",
              "getByAltText",
              "locator",
              "frameLocator",
              "filter",
              "first",
              "last",
              "nth"
            ]
          },
          "options": {
            "type": "object",
            "additionalProperties": {}
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "EngineInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "cloud": {
            "type": "boolean"
          }
        }
      },
      "EvaluateCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "script": {
                "type": "string"
              }
            }
          }
        ]
      },
      "HttpCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "type": "string"
              },
              "baseUrl": {
                "type": "string"
              },
              "queryString": {
                "type": "string"
              },
              "authType": {
                "type": "string"
              },
              "authUsername": {
                "type": "string"
              },
              "authPassword": {
                "type": "string"
              },
              "authWorkstation": {
                "type": "string"
              },
              "authDomain": {
                "type": "string"
              },
              "authToken": {
                "type": "string"
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "validationRules": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JsValidationRule"
                    },
                    {
                      "$ref": "#/components/schemas/SizeValidationRule"
                    },
                    {
                      "$ref": "#/components/schemas/StatusValidationRule"
                    },
                    {
                      "$ref": "#/components/schemas/TextValidationRule"
                    },
                    {
                      "$ref": "#/components/schemas/TimeValidationRule"
                    }
                  ]
                }
              },
              "capturingRules": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TextCapturingRule"
                }
              },
              "customHeaders": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomHeader"
                }
              },
              "requestBody": {
                "$ref": "#/components/schemas/Blob"
              },
              "requestContentType": {
                "type": "string"
              },
              "requestBodyInterpolated": {
                "type": "boolean"
              },
              "throwOnError": {
                "type": "boolean"
              },
              "ignoreHttpErrors": {
                "type": "boolean"
              },
              "requiredBlobs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Blob"
                },
                "uniqueItems": true
              }
            }
          }
        ]
      },
      "IncludeCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "scriptId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "JsValidationRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ValidationRule"
          },
          {
            "type": "object",
            "properties": {
              "javaScript": {
                "type": "string"
              }
            }
          }
        ]
      },
      "NavigateCommand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          },
          {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        ]
      },
      "PlaybackOptions": {
        "type": "object",
        "properties": {
          "httpUserAgent": {
            "type": "string"
          },
[...]
