{
  "openapi": "3.0.3",
  "info": {
    "title": "My Bank Statement Analysis API",
    "version": "2026-09-18",
    "description": "Analyze bank statements and read the resulting categorised transactions, insights and recurring-charge findings. Requires a Business plan API key.",
    "x-jentic-source-url": "https://mybankstatementanalysis.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://mybankstatementanalysis.com"
    }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "operationId": "getAccount",
        "summary": "Account, plan and remaining page allowance",
        "responses": {
          "200": {
            "description": "Account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key's plan does not include API access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analyses": {
      "post": {
        "operationId": "createAnalysis",
        "summary": "Analyze one or more statement files",
        "description": "Runs synchronously and returns the finished report. Allow up to five minutes of client timeout. The request body must stay under 4MB and carry at most 10 files.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "PDF or image parts, repeated once per file."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The finished report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Plan page allowance exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key's plan does not include API access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported file type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The statement could not be read — password-protected, scanned beyond recovery, or mixed-currency.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "More than 200 analyses in one day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAnalyses",
        "summary": "List analyses, newest first",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "`nextCursor` from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of analyses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key's plan does not include API access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analyses/{id}": {
      "get": {
        "operationId": "getAnalysis",
        "summary": "Fetch one report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key's plan does not include API access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such analysis for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analyses/{id}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "Page through categorised transactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key's plan does not include API access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such analysis for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key created in account settings, prefixed `mbsa_`."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {}
          },
          "limitReached": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "error",
          "code"
        ],
        "additionalProperties": false
      },
      "Analysis": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "currency": {
            "nullable": true,
            "type": "string"
          },
          "statementMonth": {
            "nullable": true,
            "type": "string"
          },
          "institution": {
            "type": "object",
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              },
              "kind": {
                "nullable": true,
                "type": "string"
              }
            },
            "required": [
              "name",
              "kind"
            ],
            "additionalProperties": false
          },
          "pages": {
            "type": "object",
            "properties": {
              "uploaded": {
                "type": "number"
              },
              "analyzed": {
                "type": "number"
              },
              "truncated": {
                "type": "boolean"
              }
            },
            "required": [
              "uploaded",
              "analyzed",
              "truncated"
            ],
            "additionalProperties": false
          },
          "totals": {
            "type": "object",
            "properties": {
              "income": {
                "type": "number"
              },
              "expenses": {
                "type": "number"
              },
              "net": {
                "type": "number"
              }
            },
            "required": [
              "income",
              "expenses",
              "net"
            ],
            "additionalProperties": false
          },
          "transactionCount": {
            "type": "number"
          },
          "lastTransactionDate": {
            "nullable": true,
            "type": "string"
          },
          "expiresAt": {
            "nullable": true,
            "type": "string"
          },
          "insights": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "savingsTips": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "monthlySaving": {
                  "type": "number"
                }
              },
              "required": [
                "title",
                "description",
                "monthlySaving"
              ],
              "additionalProperties": false
            }
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "frequency": {
                  "type": "string"
                },
                "dayOfMonth": {
                  "nullable": true,
                  "type": "number"
                }
              },
              "required": [
                "name",
                "amount",
                "frequency",
                "dayOfMonth"
              ],
              "additionalProperties": false
            }
          },
          "duplicateCharges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "merchant": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "count": {
                  "type": "number"
                },
                "dates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "confidence": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              },
              "required": [
                "merchant",
                "amount",
                "count",
                "dates",
                "confidence",
                "reason"
              ],
              "additionalProperties": false
            }
          },
          "actionPlan": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "impact": {
                  "type": "number"
                },
                "type": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "impact",
                "type",
                "description"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "status",
          "createdAt",
          "fileName",
          "currency",
          "statementMonth",
          "institution",
          "pages",
          "totals",
          "transactionCount",
          "lastTransactionDate",
          "expiresAt",
          "insights",
          "savingsTips",
          "subscriptions",
          "duplicateCharges",
          "actionPlan"
        ],
        "additionalProperties": false
      },
      "AnalysisSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "currency": {
            "nullable": true,
            "type": "string"
          },
          "statementMonth": {
            "nullable": true,
            "type": "string"
          },
          "institution": {
            "type": "object",
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              },
              "kind": {
                "nullable": true,
                "type": "string"
              }
            },
            "required": [
              "name",
              "kind"
            ],
            "additionalProperties": false
          },
          "pages": {
            "type": "object",
            "properties": {
              "uploaded": {
                "type": "number"
              },
              "analyzed": {
                "type": "number"
              },
              "truncated": {
                "type": "boolean"
              }
            },
            "required": [
              "uploaded",
              "analyzed",
              "truncated"
            ],
            "additionalProperties": false
          },
          "totals": {
            "type": "object",
            "properties": {
              "income": {
                "type": "number"
              },
              "expenses": {
                "type": "number"
              },
              "net": {
                "type": "number"
              }
            },
            "required": [
              "income",
              "expenses",
              "net"
            ],
            "additionalProperties": false
          },
          "transactionCount": {
            "type": "number"
          },
          "lastTransactionDate": {
            "nullable": true,
            "type": "string"
          },
          "expiresAt": {
            "nullable": true,
            "type": "string"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt",
          "fileName",
          "currency",
          "statementMonth",
          "institution",
          "pages",
          "totals",
          "transactionCount",
          "lastTransactionDate",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "date": {
            "type": "string"
          },
          "postedAt": {
            "nullable": true,
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "merchant": {
            "nullable": true,
            "type": "string"
          },
          "merchantDomain": {
            "nullable": true,
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "direction": {
            "type": "string",
            "enum": [
              "credit",
              "debit"
            ]
          },
          "balanceAfter": {
            "nullable": true,
            "type": "number"
          },
          "category": {
            "type": "string"
          },
          "categoryColor": {
            "type": "string"
          },
          "excluded": {
            "type": "boolean"
          },
          "internalTransfer": {
            "type": "boolean"
          },
          "refund": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "date",
          "postedAt",
          "description",
          "merchant",
          "merchantDomain",
          "amount",
          "direction",
          "balanceAfter",
          "category",
          "categoryColor",
          "excluded",
          "internalTransfer",
          "refund"
        ],
        "additionalProperties": false
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "keyPrefix": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "pagesUsed": {
                "type": "number"
              },
              "pageLimit": {
                "type": "number"
              },
              "pagesRemaining": {
                "type": "number"
              },
              "periodStart": {
                "type": "string"
              },
              "periodResetsAt": {
                "type": "string"
              }
            },
            "required": [
              "pagesUsed",
              "pageLimit",
              "pagesRemaining",
              "periodStart",
              "periodResetsAt"
            ],
            "additionalProperties": false
          },
          "limits": {
            "type": "object",
            "properties": {
              "analysesPerDay": {
                "type": "number"
              }
            },
            "required": [
              "analysesPerDay"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "accountId",
          "email",
          "plan",
          "keyPrefix",
          "usage",
          "limits"
        ],
        "additionalProperties": false
      },
      "AnalysisResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "completed",
                  "failed"
                ]
              },
              "createdAt": {
                "type": "string"
              },
              "fileName": {
                "type": "string"
              },
              "currency": {
                "nullable": true,
                "type": "string"
              },
              "statementMonth": {
                "nullable": true,
                "type": "string"
              },
              "institution": {
                "type": "object",
                "properties": {
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "kind": {
                    "nullable": true,
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "kind"
                ],
                "additionalProperties": false
              },
              "pages": {
                "type": "object",
                "properties": {
                  "uploaded": {
                    "type": "number"
                  },
                  "analyzed": {
                    "type": "number"
                  },
                  "truncated": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "uploaded",
                  "analyzed",
                  "truncated"
                ],
                "additionalProperties": false
              },
              "totals": {
                "type": "object",
                "properties": {
                  "income": {
                    "type": "number"
                  },
                  "expenses": {
                    "type": "number"
                  },
                  "net": {
                    "type": "number"
                  }
                },
                "required": [
                  "income",
                  "expenses",
                  "net"
                ],
                "additionalProperties": false
              },
              "transactionCount": {
                "type": "number"
              },
              "lastTransactionDate": {
                "nullable": true,
                "type": "string"
              },
              "expiresAt": {
                "nullable": true,
                "type": "string"
              },
              "insights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "savingsTips": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "monthlySaving": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "monthlySaving"
                  ],
                  "additionalProperties": false
                }
              },
              "subscriptions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "frequency": {
                      "type": "string"
                    },
                    "dayOfMonth": {
                      "nullable": true,
                      "type": "number"
                    }
                  },
                  "required": [
                    "name",
                    "amount",
                    "frequency",
                    "dayOfMonth"
                  ],
                  "additionalProperties": false
                }
              },
              "duplicateCharges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "merchant": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "dates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "merchant",
                    "amount",
                    "count",
                    "dates",
                    "confidence",
                    "reason"
                  ],
                  "additionalProperties": false
                }
              },
              "actionPlan": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "impact": {
                      "type": "number"
                    },
                    "type": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "impact",
                    "type",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "id",
              "status",
              "createdAt",
              "fileName",
              "currency",
              "statementMonth",
              "institution",
              "pages",
              "totals",
              "transactionCount",
              "lastTransactionDate",
              "expiresAt",
              "insights",
              "savingsTips",
              "subscriptions",
              "duplicateCharges",
              "actionPlan"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "AnalysisListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "processing",
                    "completed",
                    "failed"
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "currency": {
                  "nullable": true,
                  "type": "string"
                },
                "statementMonth": {
                  "nullable": true,
                  "type": "string"
                },
                "institution": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "kind": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "kind"
                  ],
                  "additionalProperties": false
                },
                "pages": {
                  "type": "object",
                  "properties": {
                    "uploaded": {
                      "type": "number"
                    },
                    "analyzed": {
                      "type": "number"
                    },
                    "truncated": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "uploaded",
                    "analyzed",
                    "truncated"
                  ],
                  "additionalProperties": false
                },
                "totals": {
                  "type": "object",
                  "properties": {
                    "income": {
                      "type": "number"
                    },
                    "expenses": {
                      "type": "number"
                    },
                    "net": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "income",
                    "expenses",
                    "net"
                  ],
                  "additionalProperties": false
                },
                "transactionCount": {
                  "type": "number"
                },
                "lastTransactionDate": {
                  "nullable": true,
                  "type": "string"
                },
                "expiresAt": {
                  "nullable": true,
                  "type": "string"
                }
              },
              "required": [
                "id",
                "status",
                "createdAt",
                "fileName",
                "currency",
                "statementMonth",
                "institution",
                "pages",
                "totals",
                "transactionCount",
                "lastTransactionDate",
                "expiresAt"
              ],
              "additionalProperties": false
            }
          },
          "nextCursor": {
            "nullable": true,
            "type": "string"
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                },
                "date": {
                  "type": "string"
                },
                "postedAt": {
                  "nullable": true,
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "merchant": {
                  "nullable": true,
                  "type": "string"
                },
                "merchantDomain": {
                  "nullable": true,
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "direction": {
                  "type": "string",
                  "enum": [
                    "credit",
                    "debit"
                  ]
                },
                "balanceAfter": {
                  "nullable": true,
                  "type": "number"
                },
                "category": {
                  "type": "string"
                },
                "categoryColor": {
                  "type": "string"
                },
                "excluded": {
                  "type": "boolean"
                },
                "internalTransfer": {
                  "type": "boolean"
                },
                "refund": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "date",
                "postedAt",
                "description",
                "merchant",
                "merchantDomain",
                "amount",
                "direction",
                "balanceAfter",
                "category",
                "categoryColor",
                "excluded",
                "internalTransfer",
                "refund"
              ],
              "additionalProperties": false
            }
          },
          "total": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "total",
          "limit",
          "offset",
          "hasMore"
        ],
        "additionalProperties": false
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "plan": {
                "type": "string"
              },
              "keyPrefix": {
                "type": "string"
              },
              "usage": {
                "type": "object",
                "properties": {
                  "pagesUsed": {
                    "type": "number"
                  },
                  "pageLimit": {
                    "type": "number"
                  },
                  "pagesRemaining": {
                    "type": "number"
                  },
                  "periodStart": {
                    "type": "string"
                  },
                  "periodResetsAt": {
                    "type": "string"
                  }
                },
                "required": [
                  "pagesUsed",
                  "pageLimit",
                  "pagesRemaining",
                  "periodStart",
                  "periodResetsAt"
                ],
                "additionalProperties": false
              },
              "limits": {
                "type": "object",
                "properties": {
                  "analysesPerDay": {
                    "type": "number"
                  }
                },
                "required": [
                  "analysesPerDay"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "accountId",
              "email",
              "plan",
              "keyPrefix",
              "usage",
              "limits"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}