{
  "openapi": "3.1.0",
  "info": {
    "title": "InterMIND API",
    "version": "1.2.0",
    "summary": "Meetings, recaps, transcripts, channels, documents and recap-ready webhooks of an InterMIND account.",
    "description": "InterMIND is a communication space where every meeting is understood in 20+ languages. This API lets a tool create and schedule meetings on behalf of a user, list their meetings, read recaps and transcripts, search recaps, read and post in their channels, list shared documents, and subscribe a webhook that fires the moment a recap is ready. Authenticate with a personal API key (InterMIND → Settings → API keys) or the token an OAuth connection minted, as a bearer token. A key carries the rights it was created with: keys from before v1.1 open only /me, POST /meetings, /recaps and /webhooks — the other endpoints answer 403 until the app is reconnected or a new key is created.",
    "contact": {
      "name": "InterMIND",
      "url": "https://intermind.com/docs/integrations/api-zapier",
      "email": "support@intermind.com"
    },
    "x-jentic-source-url": "https://intermind.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://intermind.com/api/v1"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "account"
        ],
        "summary": "Who owns this key",
        "responses": {
          "200": {
            "description": "The key's owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/meetings": {
      "post": {
        "operationId": "createMeeting",
        "tags": [
          "meetings"
        ],
        "summary": "Create an ad-hoc meeting link, optionally at a time in the user's calendar",
        "description": "Creates a meeting owned by the key's user. Anyone with the link knocks; the owner approves them in the room. With `starts_at` and `time_zone` (rights v1.1) the meeting is also written to the user's connected Google or Microsoft calendar with the invitees; the schedule on the meeting mirrors the calendar, so without a connected calendar the link works but carries no time (`calendar: not_connected`).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "Shown in the room and in the recap."
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Name of the calling integration (zapier, mcp, …). Usage label only."
                  },
                  "starts_at": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}$",
                    "description": "Local wall time YYYY-MM-DDTHH:mm in time_zone. Requires time_zone."
                  },
                  "duration_min": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 480,
                    "default": 30
                  },
                  "time_zone": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "IANA time zone of starts_at."
                  },
                  "invitees": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "Invited through the calendar event."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Meeting"
                    },
                    {
                      "$ref": "#/components/schemas/ScheduledMeeting"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "operationId": "listMeetings",
        "tags": [
          "meetings"
        ],
        "summary": "Meetings the key's user hosts or belongs to",
        "description": "`recent` (default): by last activity, newest first. `upcoming`: bound to a calendar event that starts in the future, soonest first.",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "recent",
                "upcoming"
              ],
              "default": "recent"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "channel",
                "adhoc",
                "inbox"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Meetings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeetingListItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/recaps": {
      "get": {
        "operationId": "listRecaps",
        "tags": [
          "recaps"
        ],
        "summary": "Newest recaps of meetings the key's user hosted",
        "description": "Finalized sessions with a non-empty summary, newest first, in exactly the shape the `recap.ready` webhook delivers.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 3
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Recaps, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recap"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "webhooks"
        ],
        "summary": "List webhook subscriptions",
        "responses": {
          "200": {
            "description": "Subscriptions of the key's user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookSubscription"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "subscribeWebhook",
        "tags": [
          "webhooks"
        ],
        "summary": "Subscribe a URL to an event (REST hook)",
        "description": "`target_url` must be https and publicly reachable; private-network addresses are refused at delivery time. At most 20 subscriptions per account. A 410 or 404 from the target deletes the subscription.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target_url",
                  "event"
                ],
                "properties": {
                  "target_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "pattern": "^https://"
                  },
                  "event": {
                    "type": "string",
                    "enum": [
                      "recap.ready"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscribed. `secret` signs every delivery (see the `recap.ready` webhook).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Subscription cap reached."
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "operationId": "unsubscribeWebhook",
        "tags": [
          "webhooks"
        ],
        "summary": "Delete a webhook subscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not this user's subscription, or already gone."
          }
        }
      }
    },
    "/meetings/{id}/transcript": {
      "get": {
        "operationId": "getTranscript",
        "tags": [
          "meetings"
        ],
        "summary": "Latest finalized transcript of a meeting, as Markdown by speaker",
        "description": "In the spoken language, or the reader's cached translation when the room made one. Cut at `max_chars` with `truncated: true`; the transcript page has the whole text.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "A specific session of a channel; latest by default."
          },
          {
            "name": "max_chars",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 200000,
              "default": 60000
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recaps/search": {
      "get": {
        "operationId": "searchRecaps",
        "tags": [
          "recaps"
        ],
        "summary": "Recaps whose current summary contains a phrase",
        "description": "Case-insensitive substring over the current summary of every session of meetings the key's user hosts or belongs to, newest first, with a snippet around the first match.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Hits, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecapHit"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "operationId": "listChannels",
        "tags": [
          "channels"
        ],
        "summary": "Channels and inboxes the key's user belongs to",
        "description": "Team chats (`channel`) and personal inboxes (`inbox`), by last activity.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Channels.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeetingListItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/channels/{id}/messages": {
      "get": {
        "operationId": "listChannelMessages",
        "tags": [
          "channels"
        ],
        "summary": "One page of a channel's chat, oldest first",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only messages sent before this time."
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Messages, oldest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelMessage"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "postChannelMessage",
        "tags": [
          "channels"
        ],
        "summary": "Post a chat message as the key's user",
        "description": "Stored and fanned out live to the room; every member reads it in their own language. The sender is always the key's user.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16000
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Name of the calling integration. Usage label only."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Posted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostedMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "tags": [
          "documents"
        ],
        "summary": "Documents shared in the user's meetings",
        "description": "Uploads and linked Google Drive / OneDrive files, newest first. With `meeting_id`: only that meeting or channel; otherwise across the user's recent meetings.",
        "parameters": [
          {
            "name": "meeting_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Documents, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/knowledge/search": {
      "get": {
        "operationId": "searchKnowledge",
        "tags": [
          "knowledge"
        ],
        "summary": "The best-matching passages of the account's recaps, transcripts, chats and shared files",
        "description": "Hybrid search (meaning and words, merged by reciprocal rank fusion) over the knowledge index of the user's organization, restricted to meetings and channels the key's user hosts or belongs to. Each hit says where it comes from.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 300
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 8
            }
          },
          {
            "name": "meeting_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated subset of recap, transcript, chat, document."
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Hits, best first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeHit"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{id}/content": {
      "get": {
        "operationId": "getDocumentContent",
        "tags": [
          "documents"
        ],
        "summary": "The extracted text of a shared file",
        "description": "Markdown text extracted from a file shared in a meeting or channel the key's user belongs to — a document id from /documents or a document hit of /knowledge/search. Cut at `max_chars` with `truncated: true`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_chars",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 120000,
              "default": 40000
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "The document's text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentContent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/docs/search": {
      "get": {
        "operationId": "searchDocs",
        "tags": [
          "docs"
        ],
        "summary": "Sections of the InterMIND documentation that match a query",
        "description": "How the product itself works — features, plans, settings, integrations — from the public documentation.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 6
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "description": "Name of the calling integration. Usage label only."
          }
        ],
        "responses": {
          "200": {
            "description": "Sections, best first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocsSection"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "webhooks": {
    "recap.ready": {
      "post": {
        "summary": "A recap of a meeting the user hosted is ready",
        "description": "Sent once per finished meeting session, the moment the summary exists. Headers: `X-InterMIND-Event: recap.ready`, `X-InterMIND-Delivery` (the payload `id`, deduplicate on it), `X-InterMIND-Signature: sha256=<HMAC-SHA256 of the raw body with the subscription secret>`, `User-Agent: InterMIND-Webhooks/1`. Answer 2xx within 8 seconds; a network error, 5xx or 429 is retried once immediately; 410 or 404 deletes the subscription; anything else is logged and not resent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Recap"
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Received."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "imk_… (InterMIND → Settings → API keys)"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing, malformed or revoked API key."
      },
      "BadRequest": {
        "description": "Validation failed."
      },
      "Forbidden": {
        "description": "The key was created before this endpoint existed (rights version too low). Reconnect the app or create a new key."
      },
      "NotFound": {
        "description": "No such meeting or channel among those the key's user hosts or belongs to."
      }
    },
    "schemas": {
      "Me": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Meeting": {
        "type": "object",
        "required": [
          "id",
          "url",
          "title",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-z]{3}-[a-z]{3}-[a-z]{3}$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Participant": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Recap": {
        "type": "object",
        "required": [
          "id",
          "event",
          "occurred_at",
          "meeting",
          "recap",
          "session",
          "participants",
          "host"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "`<meeting id>.<session id>` — unique per delivery."
          },
          "event": {
            "type": "string",
            "enum": [
              "recap.ready"
            ]
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          },
          "meeting": {
            "type": "object",
            "required": [
              "id",
              "title",
              "url",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "type": {
                "type": "string",
                "enum": [
                  "adhoc",
                  "channel"
                ]
              }
            }
          },
          "recap": {
            "type": "object",
            "required": [
              "url",
              "transcript_url",
              "summary_md",
              "language"
            ],
            "properties": {
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "description": "Full recap page; opens for signed-in participants."
              },
              "transcript_url": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri"
              },
              "summary_md": {
                "type": "string",
                "description": "The summary in Markdown."
              },
              "language": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "BCP-47 language of the summary."
              }
            }
          },
          "session": {
            "type": "object",
            "required": [
              "started_at",
              "ended_at"
            ],
            "properties": {
              "started_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "ended_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          },
          "host": {
            "type": "object",
            "required": [
              "name",
              "email"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "required": [
          "id",
          "event",
          "target_url",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "enum": [
              "recap.ready"
            ]
          },
          "target_url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookSubscriptionWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookSubscription"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string",
                "description": "HMAC key for `X-InterMIND-Signature`. Returned once."
              }
            }
          }
        ]
      },
      "MeetingListItem": {
        "type": "object",
        "required": [
          "id",
          "type",
          "title",
          "url",
          "recap_url",
          "is_host",
          "scheduled_start_at",
          "scheduled_end_at",
          "time_zone",
          "last_activity_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "channel",
              "adhoc",
              "inbox"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "recap_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The recap page of the meeting (all sessions of a channel)."
          },
          "is_host": {
            "type": "boolean"
          },
          "scheduled_start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Set when the meeting is bound to a calendar event."
          },
          "scheduled_end_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "time_zone": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScheduledMeeting": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Meeting"
          },
          {
            "type": "object",
            "required": [
              "scheduled_start_at",
              "scheduled_end_at",
              "time_zone",
              "calendar"
            ],
            "properties": {
              "scheduled_start_at": {
                "type": "string",
                "format": "date-time"
              },
              "scheduled_end_at": {
                "type": "string",
                "format": "date-time"
              },
              "time_zone": {
                "type": "string"
              },
              "calendar": {
                "type": "string",
                "enum": [
                  "created",
                  "not_connected",
                  "failed"
                ],
                "description": "Whether the event was written to the user's connected Google or Microsoft calendar."
              }
            }
          }
        ]
      },
      "Transcript": {
        "type": "object",
        "required": [
          "meeting_id",
          "session_id",
          "language",
          "ended_at",
          "transcript_url",
          "truncated",
          "transcript_md"
        ],
        "properties": {
          "meeting_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "language": {
            "type": [
              "string",
              "null"
            ],
            "description": "BCP 47 of transcript_md: the spoken language, or the reader's cached translation."
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "transcript_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "truncated": {
            "type": "boolean"
          },
          "transcript_md": {
            "type": "string"
          }
        }
      },
      "RecapHit": {
        "type": "object",
        "required": [
          "meeting",
          "session_id",
          "ended_at",
          "language",
          "snippet_md",
          "recap_url",
          "transcript_url"
        ],
        "properties": {
          "meeting": {
            "type": "object",
            "required": [
              "id",
              "title",
              "url"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "session_id": {
            "type": "string"
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "language": {
            "type": [
              "string",
              "null"
            ]
          },
          "snippet_md": {
            "type": "string"
          },
          "recap_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "transcript_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        }
      },
      "ChannelMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "sender",
          "sent_at",
          "text",
          "text_translated",
          "file_name",
          "external_url"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "chat, file, image or recap"
          },
          "sender": {
            "type": "object",
            "required": [
              "id",
              "name",
              "is_me"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "is_me": {
                "type": "boolean"
              }
            }
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string",
            "description": "As written by the sender."
          },
          "text_translated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cached translation into the key's user's chat language, when the room already made one."
          },
          "file_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PostedMessage": {
        "type": "object",
        "required": [
          "id",
          "sent_at",
          "text"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "Document": {
        "type": "object",
        "required": [
          "id",
          "title",
          "mime_type",
          "size",
          "source",
          "external_url",
          "meeting",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "mime_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "size": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ],
            "description": "s3 (uploaded), google_drive or onedrive"
          },
          "external_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "meeting": {
            "type": [
              "object",
              "null"
            ],
            "required": [
              "id",
              "url"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KnowledgeHit": {
        "type": "object",
        "required": [
          "source_type",
          "source_id",
          "meeting",
          "at",
          "file_name",
          "text",
          "score"
        ],
        "properties": {
          "source_type": {
            "type": "string",
            "enum": [
              "recap",
              "transcript",
              "chat",
              "document"
            ]
          },
          "source_id": {
            "type": "string",
            "description": "The session, the chat day or the file message the passage comes from; a document's id reads with /documents/{id}/content"
          },
          "meeting": {
            "type": [
              "object",
              "null"
            ],
            "required": [
              "id",
              "title",
              "url"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "file_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "A document passage: the shared file's name"
          },
          "text": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "DocumentContent": {
        "type": "object",
        "required": [
          "id",
          "file_name",
          "mime_type",
          "meeting",
          "truncated",
          "content_md"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "file_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "mime_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "meeting": {
            "type": [
              "object",
              "null"
            ],
            "required": [
              "id",
              "url"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "truncated": {
            "type": "boolean"
          },
          "content_md": {
            "type": "string"
          }
        }
      },
      "DocsSection": {
        "type": "object",
        "required": [
          "title",
          "page",
          "content"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "page": {
            "type": [
              "string",
              "null"
            ],
            "description": "Documentation page path"
          },
          "content": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "meetings"
    },
    {
      "name": "recaps"
    },
    {
      "name": "channels"
    },
    {
      "name": "documents"
    },
    {
      "name": "webhooks"
    },
    {
      "name": "knowledge",
      "description": "Search over everything the account can see"
    },
    {
      "name": "docs",
      "description": "The product documentation"
    }
  ]
}