{
  "openapi": "3.1.0",
  "info": {
    "title": "slot.report Slot Data API",
    "description": "Free JSON API for online slot game data. 6,000+ slots from 80+ providers with RTP, volatility, max win, features, mechanics and themes. Updated daily. Access is free but requires an editorial dofollow link to slot.report inside the body text of one of your pages (a paragraph with text before and after the link; footer, sidebar, navigation and link-list placements do not qualify). Websites are verified by their domain, server apps use a free domain-bound key (24h trial without a link) from https://slot.report/api/register. Domains that already linked before 2026-09-04 keep their existing placement; users from before 2026-06-30 are grandfathered. The /api/v1/embed/ endpoints and the provably-fair RNG are exempt.",
    "version": "2.1.0",
    "contact": {
      "name": "slot.report",
      "url": "https://slot.report/api/"
    },
    "license": {
      "name": "Free to use with attribution",
      "url": "https://slot.report/api/terms"
    },
    "x-jentic-source-url": "https://slot.report/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://slot.report"
    }
  ],
  "paths": {
    "/api/v1/status.json": {
      "get": {
        "operationId": "getStatus",
        "summary": "API metadata: version, last update, totals, coverage",
        "responses": {
          "200": {
            "description": "API status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "total_slots": {
                      "type": "integer"
                    },
                    "total_providers": {
                      "type": "integer"
                    },
                    "coverage": {
                      "type": "object"
                    },
                    "endpoints": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/slots.json": {
      "get": {
        "operationId": "listSlots",
        "summary": "All slots with core fields (~150KB compressed)",
        "responses": {
          "200": {
            "description": "List of all slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slot"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/new.json": {
      "get": {
        "operationId": "listNewestSlots",
        "summary": "The 30 newest slot releases, updated daily",
        "responses": {
          "200": {
            "description": "Newest releases sorted by release date descending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "last_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slot"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/slots/{slug}.json": {
      "get": {
        "operationId": "getSlot",
        "summary": "Full detail for a single slot",
        "description": "Slug is the lowercase hyphenated slot name, e.g. gates-of-olympus. Common aliases resolve too (roman numeral variants like thunderstruck-ii, franchise short names like book-of-dead).",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "gates-of-olympus"
          }
        ],
        "responses": {
          "200": {
            "description": "Slot detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Slot"
                }
              }
            }
          },
          "404": {
            "description": "Unknown slug"
          }
        }
      }
    },
    "/api/v1/providers.json": {
      "get": {
        "operationId": "listProviders",
        "summary": "All providers with slot count and average RTP",
        "responses": {
          "200": {
            "description": "Provider list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "total_slots": {
                            "type": "integer"
                          },
                          "avg_rtp": {
                            "type": "number"
                          },
                          "volatility_distribution": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/providers/{slug}.json": {
      "get": {
        "operationId": "getProviderSlots",
        "summary": "All slots from one provider",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pragmatic-play"
          }
        ],
        "responses": {
          "200": {
            "description": "Slots of this provider",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slot"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown provider slug"
          }
        }
      }
    },
    "/api/rng/v1/crash": {
      "post": {
        "summary": "Provably-fair crash multiplier",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "house_edge": {
                    "type": "number",
                    "default": 0.01
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/lines": {
      "post": {
        "summary": "lines slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/ways": {
      "post": {
        "summary": "ways slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/megaways": {
      "post": {
        "summary": "megaways slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/cluster": {
      "post": {
        "summary": "cluster slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/cascade": {
      "post": {
        "summary": "cascade slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/spin/book": {
      "post": {
        "summary": "book slot spin (configurable rtp/max_win)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/feature/hold-and-win": {
      "post": {
        "summary": "Hold & Win coin respin feature",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/feature/multiplier": {
      "post": {
        "summary": "Weighted multiplier draw",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "ladder": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/feature/pick": {
      "post": {
        "summary": "Pick-bonus from a weighted prize table",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "prizes": {
                    "type": "object"
                  },
                  "picks": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/buy/bonus": {
      "post": {
        "summary": "Bonus buy (forced feature entry)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "target_rtp": {
                    "type": "number",
                    "default": 0.96
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/dice": {
      "post": {
        "summary": "Dice notation roll (3d6, 4d6kh3, 5d10!)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "notation": {
                    "type": "string",
                    "default": "3d6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/cards": {
      "post": {
        "summary": "Shuffle a 52-card deck and draw a hand",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "draw": {
                    "type": "integer",
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/shuffle": {
      "post": {
        "summary": "Shuffle an items array",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "items": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/draw/weighted": {
      "post": {
        "summary": "Weighted random draw",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "weights": {
                    "type": "object"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/dist": {
      "post": {
        "summary": "Distribution sampling (gaussian/exponential/poisson)",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "gaussian",
                      "exponential",
                      "poisson"
                    ]
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/raw/int": {
      "post": {
        "summary": "Raw random int",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/raw/float": {
      "post": {
        "summary": "Raw random float",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/raw/bytes": {
      "post": {
        "summary": "Raw random bytes",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/commit": {
      "post": {
        "summary": "Create a server seed, return its SHA-256 commitment",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/reveal": {
      "post": {
        "summary": "Reveal a committed server seed",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seed_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/verify": {
      "post": {
        "summary": "Recompute any outcome from its seeds",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_seed": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "server_seed": {
                    "type": "string"
                  },
                  "seed_id": {
                    "type": "string"
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "game": {
                    "type": "string"
                  },
                  "expected_commitment": {
                    "type": "string"
                  },
                  "house_edge": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/rng/v1/math/full-cycle-rtp": {
      "get": {
        "summary": "Exact RTP + hit frequency of the lines slot",
        "tags": [
          "RNG"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "rtp",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 96
            }
          }
        ]
      }
    },
    "/api/rng/v1/math/volatility": {
      "get": {
        "summary": "Variance + volatility index of the lines slot",
        "tags": [
          "RNG"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "rtp",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 96
            }
          }
        ]
      }
    },
    "/api/rng/v1/sim/montecarlo": {
      "post": {
        "summary": "Simulate N spins of any game",
        "tags": [
          "RNG"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "game": {
                    "type": "string"
                  },
                  "spins": {
                    "type": "integer",
                    "default": 10000
                  },
                  "rtp": {
                    "type": "number",
                    "default": 96
                  },
                  "max_win": {
                    "type": "number",
                    "default": 5000
                  },
                  "client_seed": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Slot": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Gates of Olympus"
          },
          "slug": {
            "type": "string",
            "example": "gates-of-olympus"
          },
          "provider": {
            "type": "string",
            "example": "Pragmatic Play"
          },
          "provider_slug": {
            "type": "string",
            "example": "pragmatic-play"
          },
          "rtp": {
            "type": [
              "number",
              "null"
            ],
            "example": 96.5,
            "description": "Highest available RTP configuration in percent"
          },
          "volatility": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "low",
              "medium-low",
              "medium",
              "medium-high",
              "high",
              "very-high",
              "extreme",
              null
            ]
          },
          "volatility_score": {
            "type": [
              "integer",
              "null"
            ],
            "description": "1 (low) to 5 (extreme)"
          },
          "max_win": {
            "type": [
              "integer",
              "null"
            ],
            "example": 5000,
            "description": "Maximum win as bet multiplier"
          },
          "max_win_category": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid": {
            "type": [
              "string",
              "null"
            ],
            "example": "6x5",
            "description": "Reels x rows; ranges for megaways, e.g. 6x2-7"
          },
          "paylines": {
            "type": [
              "integer",
              "null"
            ]
          },
          "features": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "mechanic": {
            "type": [
              "string",
              "null"
            ],
            "example": "cluster-pays"
          },
          "theme": {
            "type": [
              "array",
              "string",
              "null"
            ]
          },
          "has_bonus_buy": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "release_date": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-02-25"
          },
          "year": {
            "type": [
              "integer",
              "null"
            ]
          },
          "hit_frequency": {
            "type": [
              "number",
              "null"
            ],
            "description": "Hit frequency in percent"
          },
          "min_bet": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_bet": {
            "type": [
              "number",
              "null"
            ]
          },
          "_credit": {
            "type": "string",
            "description": "Attribution hint — a link back to slot.report is appreciated"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Free domain-bound key from https://slot.report/api/register. Alternatively pass ?key=. Websites with an in-content dofollow link are authorised automatically via their domain (no key)."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {}
  ]
}