{
  "openapi": "3.1.0",
  "info": {
    "title": "muro REST API",
    "version": "1.0.0",
    "description": "Read conversations, send replies, triage threads, and sync contacts. JSON in, JSON out, one Bearer key. Stable DTOs, keyset pagination, predictable errors, and HMAC-signed webhooks.",
    "contact": {
      "name": "muro support",
      "email": "contact@muro.chat",
      "url": "https://muro.chat/docs/api"
    },
    "x-jentic-source-url": "https://muro.chat/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://muro.chat/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "API index / cheap auth check",
        "operationId": "getRoot",
        "responses": {
          "200": {
            "description": "Resource map."
          },
          "401": {
            "description": "Missing/invalid key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "This document",
        "operationId": "getOpenApi",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 document."
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations",
        "operationId": "listConversations",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "snoozed"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Search name/email/message text."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of conversations.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix seconds when the window resets."
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Correlation id — quote it to support."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Conversation"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Open a conversation toward a known contact",
        "operationId": "createConversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "visitor_id"
                ],
                "properties": {
                  "visitor_id": {
                    "type": "string",
                    "example": "vis_19c4ab"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 32000,
                    "description": "Optional opening line."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Carries a Location header.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix seconds when the window resets."
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Correlation id — quote it to support."
              },
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Conversation"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "opening_message_id": {
                          "type": "string",
                          "description": "Id of the opening message, when `content` was supplied.",
                          "example": "msg_4d1c"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the write scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type must be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a conversation",
        "operationId": "getConversation",
        "responses": {
          "200": {
            "description": "The conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "404": {
            "description": "Not found in your workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Triage a conversation",
        "operationId": "updateConversation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "closed",
                      "snoozed"
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "maxItems": 50
                  },
                  "assigned_user_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mark_read": {
                    "type": "boolean"
                  },
                  "mark_unread": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Shallow-merged; a null value drops a key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body or assignee not in workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/bulk": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Apply one action to many conversations",
        "operationId": "bulkConversations",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids",
                  "action"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "close",
                      "open",
                      "snooze",
                      "read",
                      "unread",
                      "assign"
                    ]
                  },
                  "assigned_user_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-id result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type must be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List messages (chronological)",
        "operationId": "listMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Message"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a reply or note",
        "operationId": "createMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 32000
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "agent",
                      "note"
                    ],
                    "default": "agent"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {}
                  },
                  "replyTo": {
                    "type": "object",
                    "description": "Quote an earlier message this reply threads under.",
                    "required": [
                      "messageId",
                      "preview",
                      "senderName"
                    ],
                    "properties": {
                      "messageId": {
                        "type": "string",
                        "example": "msg_4d1c"
                      },
                      "preview": {
                        "type": "string",
                        "maxLength": 280
                      },
                      "senderName": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created message (same shape as list).",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type must be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/typing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Broadcast an agent typing indicator",
        "operationId": "typing",
        "responses": {
          "202": {
            "description": "Broadcast accepted."
          },
          "404": {
            "description": "Conversation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get the stored AI summary",
        "operationId": "getSummary",
        "responses": {
          "200": {
            "description": "The summary (may be null if never generated)."
          },
          "404": {
            "description": "Conversation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate / refresh the AI summary",
        "operationId": "createSummary",
        "responses": {
          "200": {
            "description": "A fresh AI recap of the thread."
          },
          "404": {
            "description": "Conversation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "AI not available, or nothing to summarize.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/saved-replies": {
      "get": {
        "tags": [
          "Saved replies"
        ],
        "summary": "List saved replies",
        "operationId": "listSavedReplies",
        "responses": {
          "200": {
            "description": "All canned replies for the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SavedReply"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Saved replies"
        ],
        "summary": "Create a saved reply",
        "operationId": "createSavedReply",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shortcut",
                  "title",
                  "body"
                ],
                "properties": {
                  "shortcut": {
                    "type": "string",
                    "example": "refund"
                  },
                  "title": {
                    "type": "string",
                    "example": "Refund policy"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedReply"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "That shortcut already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/automation-rules": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "List automation rules",
        "operationId": "listAutomationRules",
        "responses": {
          "200": {
            "description": "All rules, highest priority first.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AutomationRule"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Automation"
        ],
        "summary": "Create an automation rule",
        "operationId": "createAutomationRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/automation-rules/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "Retrieve a rule",
        "operationId": "getAutomationRule",
        "responses": {
          "200": {
            "description": "The rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationRule"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Automation"
        ],
        "summary": "Update a rule",
        "operationId": "updateAutomationRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Automation"
        ],
        "summary": "Delete a rule",
        "operationId": "deleteAutomationRule",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/saved-replies/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Saved replies"
        ],
        "summary": "Retrieve a saved reply",
        "operationId": "getSavedReply",
        "responses": {
          "200": {
            "description": "The saved reply.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedReply"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Saved replies"
        ],
        "summary": "Update a saved reply",
        "operationId": "updateSavedReply",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shortcut": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedReply"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "That shortcut already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Saved replies"
        ],
        "summary": "Delete a saved reply",
        "operationId": "deleteSavedReply",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "operationId": "listContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "website_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contact"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a contact",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "The contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Enrich a contact (name, email, metadata)",
        "operationId": "updateContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Shallow-merged; a null value drops a key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/realtime": {
      "get": {
        "tags": [
          "Realtime"
        ],
        "summary": "Realtime connection details (beta)",
        "operationId": "getRealtime",
        "responses": {
          "200": {
            "description": "pusher-js config + channel names."
          }
        }
      }
    },
    "/realtime/auth": {
      "post": {
        "tags": [
          "Realtime"
        ],
        "summary": "pusher-js channel authorizer (beta)",
        "operationId": "authRealtime",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "socket_id": {
                    "type": "string"
                  },
                  "channel_name": {
                    "type": "string"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "socket_id": {
                    "type": "string"
                  },
                  "channel_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel auth signature."
          },
          "400": {
            "description": "socket_id and channel_name are required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Channel not owned by your key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Realtime not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "message.created": {
      "post": {
        "summary": "A visitor message or agent reply was created.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "evt_…"
                  },
                  "type": {
                    "type": "string"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "conversation_id": {
                            "type": "string"
                          },
                          "sender_type": {
                            "type": "string",
                            "enum": [
                              "visitor",
                              "agent"
                            ]
                          },
                          "sender_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "content": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 2xx to acknowledge. Signature: header x-muro-signature: t=…,v1=HMAC_SHA256(secret, rawBody)."
          }
        }
      }
    },
    "conversation.opened": {
      "post": {
        "summary": "A new conversation was opened.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "evt_…"
                  },
                  "type": {
                    "type": "string"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "conversation": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "website_id": {
                            "type": "string"
                          },
                          "visitor_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 2xx to acknowledge. Signature: header x-muro-signature: t=…,v1=HMAC_SHA256(secret, rawBody)."
          }
        }
      }
    },
    "conversation.closed": {
      "post": {
        "summary": "A conversation was resolved.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "evt_…"
                  },
                  "type": {
                    "type": "string"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "conversation": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "open",
                              "closed",
                              "snoozed"
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "unread_count": {
                            "type": "integer"
                          },
                          "assigned_user_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_message_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 2xx to acknowledge. Signature: header x-muro-signature: t=…,v1=HMAC_SHA256(secret, rawBody)."
          }
        }
      }
    },
    "visitor.identified": {
      "post": {
        "summary": "A visitor handed over an email.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "evt_…"
                  },
                  "type": {
                    "type": "string"
                  },
                  "organization_id": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "visitor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 2xx to acknowledge. Signature: header x-muro-signature: t=…,v1=HMAC_SHA256(secret, rawBody)."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A workspace API key, `Authorization: Bearer mr_live_…`. Scopes: read, write."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Opaque next_cursor from a prior page."
      },
      "idempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "Safe-retry key; an identical retry replays the first response. Durable (survives deploys/instances), retained ~24h."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "type",
              "message"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authentication_error",
                  "permission_error",
                  "rate_limit_error",
                  "invalid_request_error",
                  "subscription_required",
                  "not_found",
                  "api_error"
                ]
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "List": {
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "conversation"
          },
          "id": {
            "type": "string",
            "example": "cnv_8f2a1b"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "snoozed"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "unread_count": {
            "type": "integer"
          },
          "website_id": {
            "type": "string",
            "example": "web_1a2b"
          },
          "assigned_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "visitor": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "vis_19c4"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "last_message": {
            "type": [
              "object",
              "null"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "AI recap (auto-generated on close)."
          },
          "summary_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AutomationRule": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "automation_rule"
          },
          "id": {
            "type": "string",
            "example": "rul_1a2b"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "priority": {
            "type": "integer"
          },
          "trigger": {
            "type": "string",
            "enum": [
              "conversation.created",
              "message.created"
            ]
          },
          "conditions": {
            "$ref": "#/components/schemas/RuleConditions"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RuleConditions": {
        "type": "object",
        "properties": {
          "match": {
            "type": "string",
            "enum": [
              "all",
              "any"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "enum": [
                    "content",
                    "email",
                    "name",
                    "website_id",
                    "tag"
                  ]
                },
                "op": {
                  "type": "string",
                  "enum": [
                    "contains",
                    "equals",
                    "regex",
                    "exists"
                  ]
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AutomationRuleInput": {
        "type": "object",
        "required": [
          "name",
          "trigger",
          "actions"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "enum": [
              "conversation.created",
              "message.created"
            ]
          },
          "conditions": {
            "$ref": "#/components/schemas/RuleConditions"
          },
          "actions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "description": "One of: {type:add_tag,value} | {type:assign,user_id} | {type:set_status,value} | {type:reply,text}"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "SavedReply": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "saved_reply"
          },
          "id": {
            "type": "string",
            "example": "srp_1a2b"
          },
          "shortcut": {
            "type": "string",
            "example": "refund"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "message"
          },
          "id": {
            "type": "string",
            "example": "msg_4b71c2"
          },
          "conversation_id": {
            "type": "string",
            "example": "cnv_8f2a1b"
          },
          "sender_type": {
            "type": "string",
            "enum": [
              "visitor",
              "agent",
              "system",
              "note"
            ]
          },
          "sender_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "contact"
          },
          "id": {
            "type": "string",
            "example": "vis_19c4ab"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "fingerprint": {
            "type": "string"
          },
          "website_id": {
            "type": "string"
          },
          "conversation_count": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BulkResult": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "bulk_result"
          },
          "action": {
            "type": "string"
          },
          "updated": {
            "type": "integer"
          },
          "not_found": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "updated",
                    "not_found"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Conversations"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "AI"
    },
    {
      "name": "Saved replies"
    },
    {
      "name": "Automation"
    },
    {
      "name": "Realtime"
    },
    {
      "name": "Meta"
    }
  ],
  "x-id-prefixes": {
    "conversation": "cnv_",
    "message": "msg_",
    "contact": "vis_",
    "website": "web_",
    "user": "usr_",
    "event": "evt_",
    "saved_reply": "srp_",
    "api_key": "mr_live_"
  },
  "x-rate-limit": {
    "requests": 120,
    "window_seconds": 60,
    "scope": "per API key (per process)"
  }
}