{
  "openapi": "3.1.0",
  "info": {
    "title": "Smolabot Trade Economics Check",
    "version": "1.0.0",
    "summary": "Deterministic decision guardrail for AI agents and bots. This API: long-only pre-trade economics check.",
    "description": "POST /check answers one question with arithmetic only: does a proposed long (buy) trade still clear after fees, spread, slippage and an optional profit buffer? No predictions, no market data, no execution. Costs 1 prepaid credit per successful check; every failure costs 0. Get an API key (10 free checks) at https://smolabot.arison8.com. The same check is available to MCP clients as the tool trade_check at https://smolabot.arison8.com/mcp (same key, same Authorization header). Calculation model v1-long-only: the same model_version and the same input always produce the same output.",
    "x-jentic-source-url": "https://smolabot.arison8.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://smolabot.arison8.com"
    }
  ],
  "paths": {
    "/check": {
      "post": {
        "operationId": "tradeCheck",
        "summary": "Check whether a long trade clears after all costs (1 credit on success)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeCheckInput"
              },
              "example": {
                "symbol": "BTC-USD",
                "side": "buy",
                "size": {
                  "notional": 1000
                },
                "entry_price": 100000,
                "exit_price": 101000,
                "entry_liquidity": "taker",
                "exit_liquidity": "taker",
                "maker_fee_bps": 40,
                "taker_fee_bps": 60,
                "spread_bps": 2,
                "slippage_bps": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A completed check (1 credit spent). A trade that does not clear is still a 200 with economically_clears=false.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Matches the usage ledger."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSuccess"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED (see error.errors[]), INVALID_JSON, NUMERIC_OVERFLOW or BAD_REQUEST. 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "MISSING_API_KEY or INVALID_API_KEY. 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "INSUFFICIENT_CREDITS, returned before any calculation. 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API_KEY_DISABLED. 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE (over 64 KiB). 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "UNSUPPORTED_MEDIA_TYPE (Content-Type must be application/json). 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited at the edge (per client IP). Retry later. 0 credits."
          },
          "500": {
            "description": "INTERNAL_ERROR (always the generic message \"Internal error.\"). 0 credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Service info (no authentication)",
        "security": [],
        "responses": {
          "200": {
            "description": "Service info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "status",
                    "service",
                    "service_version",
                    "model_version",
                    "executes_trades",
                    "connects_to_exchanges"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "smolabot-trade-check"
                      ]
                    },
                    "service_version": {
                      "type": "string"
                    },
                    "model_version": {
                      "type": "string"
                    },
                    "executes_trades": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "connects_to_exchanges": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "smolabotKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "smk_<key id>.<secret>",
        "description": "Send \"Authorization: Bearer smk_...\". Header only, never in the URL."
      }
    },
    "schemas": {
      "TradeCheckInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "symbol",
          "side",
          "size",
          "entry_price",
          "exit_price",
          "entry_liquidity",
          "exit_liquidity",
          "maker_fee_bps",
          "taker_fee_bps",
          "spread_bps",
          "slippage_bps"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Label only; does not affect the math."
          },
          "side": {
            "type": "string",
            "enum": [
              "buy"
            ],
            "description": "Long-only: \"buy\". Shorts are rejected with SIDE_NOT_SUPPORTED."
          },
          "size": {
            "description": "Exactly one of quantity (base units) or notional (quote currency, at the entry reference price).",
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "quantity"
                ],
                "properties": {
                  "quantity": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "notional"
                ],
                "properties": {
                  "notional": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  }
                }
              }
            ]
          },
          "entry_price": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Entry reference (mid) price, before spread, slippage and fees."
          },
          "exit_price": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Expected exit reference (mid) price, before spread, slippage and fees."
          },
          "entry_liquidity": {
            "type": "string",
            "enum": [
              "maker",
              "taker"
            ]
          },
          "exit_liquidity": {
            "type": "string",
            "enum": [
              "maker",
              "taker"
            ]
          },
          "maker_fee_bps": {
            "type": "number",
            "minimum": 0,
            "exclusiveMaximum": 10000
          },
          "taker_fee_bps": {
            "type": "number",
            "minimum": 0,
            "exclusiveMaximum": 10000
          },
          "spread_bps": {
            "type": "number",
            "minimum": 0,
            "description": "FULL bid/ask spread in bps; a taker leg pays half."
          },
          "slippage_bps": {
            "type": "number",
            "minimum": 0,
            "description": "Adverse slippage per taker leg, in bps."
          },
          "profit_buffer_bps": {
            "type": "number",
            "minimum": 0,
            "description": "Optional required net return in bps; omitted means 0 (echoed in assumptions)."
          }
        }
      },
      "TradeCheckResult": {
        "type": "object",
        "description": "The canonical engine result. Numbers are unrounded. Same model_version + same input = same output.",
        "required": [
          "economically_clears",
          "result",
          "reason",
          "symbol",
          "side",
          "quantity",
          "reference_notional",
          "entry",
          "exit",
          "costs",
          "gross_price_pnl",
          "break_even_exit_price",
          "min_profitable_exit_price",
          "expected_net_pnl",
          "expected_net_return_pct",
          "required_net_pnl",
          "exit_vs_min_profitable_bps",
          "assumptions_applied",
          "warnings"
        ],
        "properties": {
          "economically_clears": {
            "type": "boolean",
            "description": "The verdict: expected_net_pnl >= required_net_pnl. Arithmetic only."
          },
          "result": {
            "type": "string",
            "enum": [
              "clears",
              "does_not_clear"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "clears",
              "loss_after_costs",
              "profit_below_buffer"
            ]
          },
          "symbol": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": [
              "buy"
            ]
          },
          "quantity": {
            "type": "number"
          },
          "reference_notional": {
            "type": "number"
          },
          "entry": {
            "type": "object",
            "required": [
              "reference_price",
              "execution_price",
              "gross_value",
              "estimated_cost"
            ],
            "properties": {
              "reference_price": {
                "type": "number"
              },
              "execution_price": {
                "type": "number"
              },
              "gross_value": {
                "type": "number"
              },
              "estimated_cost": {
                "type": "number"
              }
            }
          },
          "exit": {
            "type": "object",
            "required": [
              "reference_price",
              "execution_price",
              "gross_value",
              "estimated_proceeds"
            ],
            "properties": {
              "reference_price": {
                "type": "number"
              },
              "execution_price": {
                "type": "number"
              },
              "gross_value": {
                "type": "number"
              },
              "estimated_proceeds": {
                "type": "number"
              }
            }
          },
          "costs": {
            "type": "object",
            "required": [
              "entry",
              "exit",
              "total",
              "total_bps_of_reference_notional"
            ],
            "properties": {
              "entry": {
                "type": "object",
                "required": [
                  "spread",
                  "slippage",
                  "fee",
                  "total"
                ],
                "properties": {
                  "spread": {
                    "type": "number"
                  },
                  "slippage": {
                    "type": "number"
                  },
                  "fee": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                }
              },
              "exit": {
                "type": "object",
                "required": [
                  "spread",
                  "slippage",
                  "fee",
                  "total"
                ],
                "properties": {
                  "spread": {
                    "type": "number"
                  },
                  "slippage": {
                    "type": "number"
                  },
                  "fee": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                }
              },
              "total": {
                "type": "object",
                "required": [
                  "spread",
                  "slippage",
                  "fee",
                  "total"
                ],
                "properties": {
                  "spread": {
                    "type": "number"
                  },
                  "slippage": {
                    "type": "number"
                  },
                  "fee": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                }
              },
              "total_bps_of_reference_notional": {
                "type": "number"
              }
            }
          },
          "gross_price_pnl": {
            "type": "number"
          },
          "break_even_exit_price": {
            "type": "number",
            "description": "Reference exit price at which net P&L is exactly 0."
          },
          "min_profitable_exit_price": {
            "type": "number",
            "description": "Reference exit price at which net return equals profit_buffer_bps."
          },
          "expected_net_pnl": {
            "type": "number"
          },
          "expected_net_return_pct": {
            "type": "number"
          },
          "required_net_pnl": {
            "type": "number"
          },
          "exit_vs_min_profitable_bps": {
            "type": "number",
            "description": "Negative means the expected exit is short of the minimum profitable exit."
          },
          "assumptions_applied": {
            "type": "object",
            "description": "Every assumption the engine used, echoed back.",
            "required": [
              "model_version",
              "entry_leg",
              "exit_leg",
              "profit_buffer_bps",
              "profit_buffer_source",
              "not_modeled"
            ],
            "properties": {
              "model_version": {
                "type": "string",
                "enum": [
                  "v1-long-only"
                ]
              },
              "side": {
                "type": "string",
                "enum": [
                  "buy"
                ]
              },
              "size_basis": {
                "type": "string",
                "enum": [
                  "quantity",
                  "notional_at_reference_price"
                ]
              },
              "maker_fee_bps": {
                "type": "number"
              },
              "taker_fee_bps": {
                "type": "number"
              },
              "spread_bps_full": {
                "type": "number"
              },
              "slippage_bps_per_taker_leg": {
                "type": "number"
              },
              "entry_leg": {
                "type": "object",
                "required": [
                  "liquidity",
                  "fee_bps",
                  "half_spread_bps_applied",
                  "slippage_bps_applied"
                ],
                "properties": {
                  "liquidity": {
                    "type": "string",
                    "enum": [
                      "maker",
                      "taker"
                    ]
                  },
                  "fee_bps": {
                    "type": "number"
                  },
                  "half_spread_bps_applied": {
                    "type": "number"
                  },
                  "slippage_bps_applied": {
                    "type": "number"
                  }
                }
              },
              "exit_leg": {
                "type": "object",
                "required": [
                  "liquidity",
                  "fee_bps",
                  "half_spread_bps_applied",
                  "slippage_bps_applied"
                ],
                "properties": {
                  "liquidity": {
                    "type": "string",
                    "enum": [
                      "maker",
                      "taker"
                    ]
                  },
                  "fee_bps": {
                    "type": "number"
                  },
                  "half_spread_bps_applied": {
                    "type": "number"
                  },
                  "slippage_bps_applied": {
                    "type": "number"
                  }
                }
              },
              "profit_buffer_bps": {
                "type": "number"
              },
              "profit_buffer_source": {
                "type": "string",
                "enum": [
                  "input",
                  "omitted_defaulted_to_0"
                ]
              },
              "not_modeled": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "enum": [
                    "EXIT_NOT_ABOVE_ENTRY",
                    "MAKER_FILL_NOT_MODELED"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "required": [
          "credits_used",
          "credits_remaining"
        ],
        "properties": {
          "credits_used": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "credits_remaining": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "CheckSuccess": {
        "type": "object",
        "required": [
          "ok",
          "result",
          "usage"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "result": {
            "$ref": "#/components/schemas/TradeCheckResult"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "MISSING_API_KEY",
                  "INVALID_API_KEY",
                  "API_KEY_DISABLED",
                  "INSUFFICIENT_CREDITS",
                  "VALIDATION_FAILED",
                  "INVALID_JSON",
                  "NUMERIC_OVERFLOW",
                  "BAD_REQUEST",
                  "NOT_FOUND",
                  "METHOD_NOT_ALLOWED",
                  "PAYLOAD_TOO_LARGE",
                  "UNSUPPORTED_MEDIA_TYPE",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string"
              },
              "errors": {
                "type": "array",
                "description": "Present for VALIDATION_FAILED: every problem found.",
                "items": {
                  "type": "object",
                  "required": [
                    "field",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "INPUT_NOT_OBJECT",
                        "MISSING_FIELD",
                        "UNKNOWN_FIELD",
                        "INVALID_TYPE",
                        "INVALID_VALUE",
                        "OUT_OF_RANGE",
                        "SIDE_NOT_SUPPORTED",
                        "SIZE_MISSING",
                        "SIZE_AMBIGUOUS",
                        "FRICTION_TOO_LARGE"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "Present once the key has been authenticated."
          }
        }
      }
    }
  },
  "security": [
    {
      "smolabotKey": []
    }
  ]
}