{
  "openapi": "3.1.0",
  "info": {
    "title": "ROOTE API",
    "version": "2.0.0",
    "description": "Worldwide live mobility near a coordinate.",
    "x-jentic-source-url": "https://api.roote.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.roote.ai",
      "description": "ROOTE API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "security": [],
        "summary": "API health",
        "responses": {
          "200": {
            "description": "Running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok"
                    },
                    "service": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changelog.json": {
      "get": {
        "operationId": "getChangelog",
        "security": [],
        "summary": "Read the canonical ROOTE API release changelog",
        "description": "Public, unmetered and provider-independent release history. Supports ETag conditional requests and a bounded cache policy.",
        "responses": {
          "200": {
            "description": "Canonical changelog schema version 1",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "version",
                    "updated_at",
                    "entries"
                  ],
                  "properties": {
                    "version": {
                      "type": "string",
                      "const": "1"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "entries": {
                      "type": "array",
                      "maxItems": 200,
                      "description": "Canonical history ordered by published_at descending, then stable id.",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "id",
                          "published_at",
                          "api_version",
                          "type",
                          "title",
                          "description",
                          "breaking",
                          "links"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "api_version": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "feature",
                              "improvement",
                              "fix",
                              "breaking",
                              "deprecation"
                            ]
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "breaking": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "array",
                            "maxItems": 10,
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "label",
                                "url"
                              ],
                              "properties": {
                                "label": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "pattern": "^https://"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "The canonical changelog has not changed."
          }
        }
      }
    },
    "/v1/nearby": {
      "get": {
        "operationId": "getGlobalNearby",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "summary": "Search all nearby ROOTE families",
        "description": "Global in-process orchestrator. With no filters it queries mobility, transit and services. families is authoritative; otherwise modes and types infer eligible families. One credit is settled for each successful, empty or genuinely partial family; a total technical family failure is refunded.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude"
          },
          {
            "name": "families",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "mobility,transit,services"
          },
          {
            "name": "modes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Mobility and Transit categories"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Service categories"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1000
            },
            "description": "Requested radius"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 300
            },
            "description": "Global result limit"
          },
          {
            "name": "family_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 100
            },
            "description": "Per-family result limit"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include family diagnostics"
          }
        ],
        "responses": {
          "200": {
            "description": "Global nearby response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "query_origin",
                    "radius",
                    "total",
                    "families"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "empty",
                        "partial",
                        "error"
                      ]
                    },
                    "query_origin": {
                      "type": "object",
                      "required": [
                        "lat",
                        "lon"
                      ],
                      "properties": {
                        "lat": {
                          "type": "number"
                        },
                        "lon": {
                          "type": "number"
                        }
                      }
                    },
                    "radius": {
                      "type": "number"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "families": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openApi",
        "security": [],
        "summary": "OpenAPI document",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/usage/cities": {
      "get": {
        "operationId": "publicCityUsage",
        "security": [],
        "summary": "Public ranking of useful city searches",
        "description": "Aggregated, privacy-safe usage by stable city identifier. No coordinates, users, projects, tokens or event rows are exposed.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            },
            "description": "Aggregation period"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Deterministic pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Public geographic usage aggregates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "metric_version",
                    "period",
                    "updated_at",
                    "coverage_started_at",
                    "coverage_complete",
                    "items",
                    "pagination"
                  ],
                  "properties": {
                    "metric_version": {
                      "type": "string",
                      "const": "1"
                    },
                    "period": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "coverage_started_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date"
                    },
                    "coverage_complete": {
                      "type": "boolean"
                    },
                    "publication_threshold": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "city_id",
                          "name",
                          "country",
                          "admin_level",
                          "useful_searches",
                          "requests_with_results",
                          "families"
                        ],
                        "properties": {
                          "city_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "admin_level": {
                            "type": "string"
                          },
                          "useful_searches": {
                            "type": "integer"
                          },
                          "requests_with_results": {
                            "type": "integer"
                          },
                          "families": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/geocode": {
      "get": {
        "operationId": "geocodeAddress",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "summary": "Geocode an address",
        "description": "Resolves address-like queries into up to five candidates in Google ranking order. The API does not choose a conversational answer.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Up to five ordered geographic candidates. The first result is the provider's highest-ranked candidate, not a guaranteed unique match. No results returns HTTP 200 and an empty array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "meta"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "maxItems": 5,
                      "description": "Geographic candidates in provider relevance order.",
                      "items": {
                        "type": "object",
                        "required": [
                          "roote_id",
                          "name",
                          "label",
                          "type",
                          "location",
                          "address",
                          "source_id",
                          "source_place_id"
                        ],
                        "properties": {
                          "roote_id": {
                            "type": "null"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address",
                              "street",
                              "locality",
                              "city",
                              "neighborhood",
                              "region",
                              "country",
                              "poi",
                              "station",
                              "airport",
                              "railway_station",
                              "transit_station",
                              "establishment",
                              "unknown"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "formatted": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street_number": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "city": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "postal_code": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "region": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "country": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "source_id": {
                            "type": "string",
                            "const": "google"
                          },
                          "source_place_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "match_quality": {
                            "type": "string",
                            "enum": [
                              "rooftop",
                              "range_interpolated",
                              "geometric_center",
                              "approximate"
                            ],
                            "description": "Provider-reported geocoding precision when available; not a ROOTE confidence score."
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "source",
                        "cache",
                        "total"
                      ],
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "cache": {
                          "type": "string",
                          "enum": [
                            "hit",
                            "miss"
                          ]
                        },
                        "total": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        },
                        "origin": {
                          "type": "object",
                          "required": [
                            "lat",
                            "lon"
                          ],
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lon": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/place-search": {
      "get": {
        "operationId": "searchPlaces",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "summary": "Search places and POIs",
        "description": "Resolves cities, POIs and named places into up to five candidates in Google ranking order. Position is optional and used only as location bias. The API does not choose a conversational answer.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Up to five ordered geographic candidates. The first result is the provider's highest-ranked candidate, not a guaranteed unique match. No results returns HTTP 200 and an empty array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "meta"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "maxItems": 5,
                      "description": "Geographic candidates in provider relevance order.",
                      "items": {
                        "type": "object",
                        "required": [
                          "roote_id",
                          "name",
                          "label",
                          "type",
                          "location",
                          "address",
                          "source_id",
                          "source_place_id"
                        ],
                        "properties": {
                          "roote_id": {
                            "type": "null"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address",
                              "street",
                              "locality",
                              "city",
                              "neighborhood",
                              "region",
                              "country",
                              "poi",
                              "station",
                              "airport",
                              "railway_station",
                              "transit_station",
                              "establishment",
                              "unknown"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "formatted": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street_number": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "city": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "postal_code": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "region": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "country": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "source_id": {
                            "type": "string",
                            "const": "google"
                          },
                          "source_place_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "match_quality": {
                            "type": "string",
                            "enum": [
                              "rooftop",
                              "range_interpolated",
                              "geometric_center",
                              "approximate"
                            ],
                            "description": "Provider-reported geocoding precision when available; not a ROOTE confidence score."
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "source",
                        "cache",
                        "total"
                      ],
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "cache": {
                          "type": "string",
                          "enum": [
                            "hit",
                            "miss"
                          ]
                        },
                        "total": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        },
                        "origin": {
                          "type": "object",
                          "required": [
                            "lat",
                            "lon"
                          ],
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lon": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reverse-geocode": {
      "get": {
        "operationId": "reverseGeocode",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reverse geocode coordinates",
        "description": "Requires a valid ROOTE API token with data:read.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Up to five ordered geographic candidates. The first result is the provider's highest-ranked candidate, not a guaranteed unique match. No results returns HTTP 200 and an empty array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "meta"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "maxItems": 5,
                      "description": "Geographic candidates in provider relevance order.",
                      "items": {
                        "type": "object",
                        "required": [
                          "roote_id",
                          "name",
                          "label",
                          "type",
                          "location",
                          "address",
                          "source_id",
                          "source_place_id"
                        ],
                        "properties": {
                          "roote_id": {
                            "type": "null"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address",
                              "street",
                              "locality",
                              "city",
                              "neighborhood",
                              "region",
                              "country",
                              "poi",
                              "station",
                              "airport",
                              "railway_station",
                              "transit_station",
                              "establishment",
                              "unknown"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "formatted": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "street_number": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "city": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "postal_code": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "region": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "country": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          },
                          "source_id": {
                            "type": "string",
                            "const": "google"
                          },
                          "source_place_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "match_quality": {
                            "type": "string",
                            "enum": [
                              "rooftop",
                              "range_interpolated",
                              "geometric_center",
                              "approximate"
                            ],
                            "description": "Provider-reported geocoding precision when available; not a ROOTE confidence score."
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "source",
                        "cache",
                        "total"
                      ],
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "cache": {
                          "type": "string",
                          "enum": [
                            "hit",
                            "miss"
                          ]
                        },
                        "total": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        },
                        "origin": {
                          "type": "object",
                          "required": [
                            "lat",
                            "lon"
                          ],
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lon": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/services/nearby": {
      "get": {
        "operationId": "getNearbyServices",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find nearby urban services",
        "description": "Returns a compact service result with per-type counts. Parking and charging reuse the same Google adapter as their specialized endpoints; lockers use the public, non-guaranteed InPost Geowidget source behind a defensive adapter. Provider failures produce partial coverage; provider orchestration and counters are returned only when debug=true.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude of query_origin"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude of query_origin"
          },
          {
            "name": "types",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated types: aed, toilets, wifi, fountain, parking, charging, locker. drinking_water remains a compatibility alias."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            },
            "description": "Optional ISO 3166-1 alpha-2 country hint passed to providers that support it, including InPost."
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "maximum": 10000,
              "default": 1500
            },
            "description": "Requested metres; values above 10000 are clamped to 10000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Requested aggregate count; values above 200 are clamped to 200. Google returns at most 20 items for each Google-backed category; InPost returns at most 100."
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include internal provider, cache and requested/applied diagnostics"
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Compact nearby urban services result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "query_origin",
                    "radius",
                    "total",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "empty",
                        "partial",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Deterministic convenience message for empty or incomplete coverage."
                    },
                    "query_origin": {
                      "type": "object",
                      "required": [
                        "lat",
                        "lon"
                      ],
                      "properties": {
                        "lat": {
                          "type": "number"
                        },
                        "lon": {
                          "type": "number"
                        }
                      },
                      "description": "Exact canonical coordinates used for the services search and distance calculation."
                    },
                    "radius": {
                      "type": "number",
                      "maximum": 10000,
                      "description": "Effective search radius in metres."
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "summary": {
                      "type": "object",
                      "description": "Returned result count for every requested service type, including zero counts.",
                      "additionalProperties": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "results": {
                      "type": "array",
                      "maxItems": 200,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "service_type",
                          "name",
                          "location",
                          "distance_meters",
                          "attributes",
                          "source_id",
                          "source_type"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "service"
                          },
                          "service_type": {
                            "type": "string",
                            "enum": [
                              "aed",
                              "toilets",
                              "drinking_water",
                              "fountain",
                              "wifi",
                              "parking",
                              "charging",
                              "locker"
                            ]
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "distance_meters": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "attributes": {
                            "type": "object"
                          },
                          "source_id": {
                            "type": "string",
                            "enum": [
                              "aedmap",
                              "refuge",
                              "openstreetmap",
                              "google",
                              "inpost"
                            ]
                          },
                          "source_type": {
                            "type": "string",
                            "enum": [
                              "partner_api",
                              "community"
                            ]
                          }
                        }
                      }
                    },
                    "attributions": {
                      "type": "array",
                      "description": "Attributions required when Google-backed parking or charging types are requested.",
                      "items": {
                        "type": "object",
                        "required": [
                          "provider",
                          "display_name",
                          "required"
                        ],
                        "properties": {
                          "provider": {
                            "type": "string",
                            "const": "Google"
                          },
                          "display_name": {
                            "type": "string",
                            "const": "Google"
                          },
                          "required": {
                            "type": "boolean",
                            "const": true
                          }
                        }
                      }
                    },
                    "debug": {
                      "type": "object",
                      "description": "Internal provider diagnostics returned only when debug=true.",
                      "properties": {
                        "providers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "status",
                              "raw_count",
                              "returned_count"
                            ],
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ok",
                                  "timeout",
                                  "error",
                                  "unauthorized",
                                  "unavailable"
                                ]
                              },
                              "raw_count": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "returned_count": {
                                "type": "integer",
                                "minimum": 0
                              }
                            }
                          }
                        },
                        "provider_calls": {
                          "type": "integer"
                        },
                        "cache": {
                          "type": "string",
                          "enum": [
                            "hit",
                            "miss",
                            "partial"
                          ]
                        },
                        "requested_radius": {
                          "type": "number"
                        },
                        "applied_radius": {
                          "type": "number"
                        },
                        "requested_limit": {
                          "type": "integer"
                        },
                        "applied_limit": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/parking/nearby": {
      "get": {
        "operationId": "getNearbyParking",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find nearby parking",
        "description": "Returns Google Places parking POIs normalized by ROOTE. Google attribution is mandatory for consumers.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude of query_origin"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude of query_origin"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Preferred Google result language"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "default": 1500
            },
            "description": "Requested metres; values above 10000 are clamped to 10000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            },
            "description": "Requested count; values above the Google Nearby Search maximum of 20 are clamped to 20"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include safe provider, cache and applied-limit diagnostics"
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby parking results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "query_origin",
                    "radius",
                    "total",
                    "results",
                    "attribution"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "empty",
                        "partial"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "query_origin": {
                      "type": "object",
                      "required": [
                        "lat",
                        "lon"
                      ],
                      "properties": {
                        "lat": {
                          "type": "number"
                        },
                        "lon": {
                          "type": "number"
                        }
                      }
                    },
                    "radius": {
                      "type": "number",
                      "maximum": 10000
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "results": {
                      "type": "array",
                      "maxItems": 20,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "service_type",
                          "name",
                          "location",
                          "distance_meters",
                          "attributes",
                          "source_id",
                          "source_type"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "service"
                          },
                          "service_type": {
                            "type": "string",
                            "const": "parking"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "distance_meters": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "attributes": {
                            "type": "object",
                            "required": [
                              "google_place_id",
                              "types",
                              "open_status",
                              "parking"
                            ],
                            "properties": {
                              "google_place_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "primary_type": {
                                "type": "string",
                                "enum": [
                                  "parking",
                                  "parking_garage",
                                  "parking_lot"
                                ]
                              },
                              "types": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "open_status": {
                                "type": "string",
                                "enum": [
                                  "open",
                                  "closed",
                                  "unknown"
                                ]
                              },
                              "opening_hours": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "google_maps_uri": {
                                "type": "string"
                              },
                              "parking": {
                                "type": "object",
                                "required": [
                                  "kind",
                                  "features"
                                ],
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "parking",
                                      "garage",
                                      "lot"
                                    ]
                                  },
                                  "features": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "free_parking",
                                        "paid_parking",
                                        "free_street_parking",
                                        "paid_street_parking",
                                        "valet_parking",
                                        "free_garage_parking",
                                        "paid_garage_parking"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "source_id": {
                            "type": "string",
                            "const": "google"
                          },
                          "source_type": {
                            "type": "string",
                            "const": "partner_api"
                          }
                        }
                      }
                    },
                    "attribution": {
                      "type": "object",
                      "required": [
                        "provider",
                        "display_name",
                        "required"
                      ],
                      "properties": {
                        "provider": {
                          "type": "string",
                          "const": "Google"
                        },
                        "display_name": {
                          "type": "string",
                          "const": "Google"
                        },
                        "required": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    "debug": {
                      "type": "object",
                      "description": "Internal provider diagnostics returned only when debug=true.",
                      "properties": {
                        "providers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "status",
                              "raw_count",
                              "returned_count"
                            ],
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ok",
                                  "timeout",
                                  "error",
                                  "unauthorized",
                                  "unavailable"
                                ]
                              },
                              "raw_count": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "returned_count": {
                                "type": "integer",
                                "minimum": 0
                              }
                            }
                          }
                        },
                        "provider_calls": {
                          "type": "integer"
                        },
                        "cache": {
                          "type": "string",
                          "enum": [
                            "hit",
                            "miss",
                            "partial"
                          ]
                        },
                        "requested_radius": {
                          "type": "number"
                        },
                        "applied_radius": {
                          "type": "number"
                        },
                        "requested_limit": {
                          "type": "integer"
                        },
                        "applied_limit": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/charging/nearby": {
      "get": {
        "operationId": "getNearbyEvCharging",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Find nearby EV charging stations",
        "description": "Returns Google Places EV charging stations and connector availability when supplied. Missing availability is never represented as zero. Google attribution is mandatory for consumers.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            },
            "description": "Latitude of query_origin"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Longitude of query_origin"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Preferred Google result language"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "default": 1500
            },
            "description": "Requested metres; values above 10000 are clamped to 10000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            },
            "description": "Requested count; values above the Google Nearby Search maximum of 20 are clamped to 20"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include safe provider, cache and applied-limit diagnostics"
          },
          {
            "name": "token",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "description": "Compatibility API token; prefer Authorization Bearer."
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby EV charging results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "query_origin",
                    "radius",
                    "total",
                    "results",
                    "attribution"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "empty",
                        "partial"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "query_origin": {
                      "type": "object",
                      "required": [
                        "lat",
                        "lon"
                      ],
                      "properties": {
                        "lat": {
                          "type": "number"
                        },
                        "lon": {
                          "type": "number"
                        }
                      }
                    },
                    "radius": {
                      "type": "number",
                      "maximum": 10000
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "results": {
                      "type": "array",
                      "maxItems": 20,
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "service_type",
                          "name",
                          "location",
                          "distance_meters",
                          "attributes",
                          "source_id",
                          "source_type"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "service"
                          },
                          "service_type": {
                            "type": "string",
                            "const": "charging"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "required": [
                              "lat",
                              "lon"
                            ],
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              }
                            }
                          },
                          "distance_meters": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "attributes": {
                            "type": "object",
                            "required": [
                              "google_place_id",
                              "types",
                              "open_status",
                              "charging"
                            ],
                            "properties": {
                              "google_place_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "primary_type": {
                                "type": "string",
                                "const": "electric_vehicle_charging_station"
                              },
                              "types": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "open_status": {
                                "type": "string",
                                "enum": [
                                  "open",
                                  "closed",
                                  "unknown"
                                ]
                              },
                              "opening_hours": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "google_maps_uri": {
                                "type": "string"
                              },
                              "charging": {
                                "type": "object",
                                "required": [
                                  "connectors"
                                ],
                                "properties": {
                                  "connector_count": {
                                    "type": "integer",
                                    "minimum": 0
                                  },
                                  "available_count": {
                                    "type": "integer",
                                    "minimum": 0
                                  },
                                  "out_of_service_count": {
                                    "type": "integer",
                                    "minimum": 0
                                  },
                                  "availability_updated_at": {
                                    "type": "string",
                                    "format": "date-time"
[...]
