{
  "swagger": "2.0",
  "info": {
    "description": "Get Organization details, example : Organisation Name, ID, Business manager ID , Legal manager , Allowed cost centers, details of the superior and sub organisations, filled position details, job profiles..",
    "version": "1.0.0",
    "title": "Human Ressources-People@Renault-Organization",
    "contact": {
      "name": "Nicolas De-Chastellier",
      "email": "nicolas.de-chastellier@renault.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TERFERRE/human-ressources-peoplerenault-organization/1.0.0"
  },
  "host": "apis.tls.renault.com",
  "basePath": "/hri/organization/v1",
  "tags": [
    {
      "name": "organisation"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/ren-isu-wb-worker-data/suporg-suborg-details": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Organisation and suborganisation details like Id, Name, count of positions filled",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Org!Organization_Reference_ID",
            "in": "query",
            "description": "Get organisation details by ID. Example: REN_SUPORG_XXXXXXXX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orgName": {
                        "type": "string",
                        "example": "Name of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "orgId": {
                        "type": "string",
                        "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "organizationSubordinate": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "subOrgName": {
                              "type": "string",
                              "example": "Name(s) of the direct sub organisation",
                              "x-workday-type": "Text"
                            },
                            "subOrgId": {
                              "type": "string",
                              "example": "ID(s) of the sub organisation",
                              "x-workday-type": "Text"
                            },
                            "positionCount": {
                              "type": "integer",
                              "example": "Count of the filled position headcount in the organisation",
                              "x-workday-type": "Numeric"
                            },
                            "subOrgCount": {
                              "type": "integer",
                              "example": "Count of the sub organisations under the supervisory organisation",
                              "x-workday-type": "Numeric"
                            },
                            "subType": {
                              "type": "string",
                              "example": "ID of the organisation type REN_SUPORG_SUBTYPE_XX",
                              "x-workday-type": "Text"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-wb-worker-data_suporg-suborg-details_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-superior-details": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Organisation and superior organisation details like id, Name, level from topmost organisation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Org!Organization_Reference_ID",
            "in": "query",
            "description": "Get hierarchical organisation details for an organisation by ID. Example: REN_SUPORG_XXXXXXXX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orgName": {
                        "type": "string",
                        "example": "Name of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "orgId": {
                        "type": "string",
                        "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "orgLevel": {
                        "type": "integer",
                        "example": "Level of the current organisation from the top most organisation",
                        "x-workday-type": "Numeric"
                      },
                      "organizationSuperior": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "superiorOrgName": {
                              "type": "string",
                              "example": "Name(s) of the hiearchical organisation",
                              "x-workday-type": "Text"
                            },
                            "superiorOrgId": {
                              "type": "string",
                              "example": "ID(s) of the hiearchical organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                              "x-workday-type": "Text"
                            },
                            "superiorOrgLevel": {
                              "type": "integer",
                              "example": "Level of the hiearchical organisation from the top most organisation",
                              "x-workday-type": "Numeric"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-wb-worker-data_suporg-superior-details_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-position-details": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Get filled position details like job profile details, worker id under an Organisation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Org!Organization_Reference_ID",
            "in": "query",
            "description": "Get filled position details under an organisation by ID. Example: REN_SUPORG_XXXXXXXX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orgName": {
                        "type": "string",
                        "example": "Name of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "orgId": {
                        "type": "string",
                        "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "organizationPosition": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "positionId": {
                              "type": "string",
                              "example": "ID of the filled position REN_POSITION_XXXXXXXX/ALL_POSITION_XXXXXXXX",
                              "x-workday-type": "Text"
                            },
                            "workerId": {
                              "type": "string",
                              "example": "Employee ID of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "businessTitle": {
                              "type": "string",
                              "example": "Position Title",
                              "x-workday-type": "Text"
                            },
                            "jobProfileId": {
                              "type": "string",
                              "example": "ID of the job profile associated with the position XXXXX-Y",
                              "x-workday-type": "Text"
                            },
                            "jobProfileName": {
                              "type": "string",
                              "example": "Name of the job profile associated with the position",
                              "x-workday-type": "Text"
                            },
                            "jobFamilyId": {
                              "type": "string",
                              "example": "ID of the job family associated with the job profile ALL_JOB FAMILY GROUP_XXXXXXXX",
                              "x-workday-type": "Text"
                            },
                            "jobFamilyName": {
                              "type": "string",
                              "example": "Name of the job family associated with the job profile",
                              "x-workday-type": "Text"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-wb-worker-data_suporg-position-details_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-details": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Get details of an organisation like Id, Name, Type of organization, cost centers and company associated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Org!Organization_Reference_ID",
            "in": "query",
            "description": "Get details of an organisation by ID. Example: REN_SUPORG_XXXXXXXX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orgName": {
                        "type": "string",
                        "example": "Name of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "orgId": {
                        "type": "string",
                        "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "managerId": {
                        "type": "integer",
                        "example": "Employee ID of the worker managing the organisation",
                        "x-workday-type": "Numeric"
                      },
                      "legalOrganizationLink": {
                        "type": "string",
                        "example": "ID of the linked legal supervisory organisation REN_LGLORG_XXXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "subType": {
                        "type": "string",
                        "example": "ID of the organisation type REN_SUPORG_SUBTYPE_XX",
                        "x-workday-type": "Text"
                      },
                      "defaultCompany": {
                        "type": "string",
                        "example": "ID of the default company associated with the organisation REN_COMPANY_XXXX",
                        "x-workday-type": "Text"
                      },
                      "allowedCostCenters": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "costCenter": {
                              "type": "string",
                              "example": "ID of the allowed costcenter for the organisation REN_CC_XXXXXXX",
                              "x-workday-type": "Text"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-wb-worker-data_suporg-details_GET"
      }
    },
    "/ren-isu-api/suporg-workers": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Get details of an Supervisory organisation Id, Name, Subtype ID, Subtype, Worker id,  First name, last name, ipn and etc...",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "InactiveWorkers",
            "in": "query",
            "description": "Include only Inactive workers.",
            "required": false,
            "type": "boolean",
            "x-example": "0"
          },
          {
            "name": "Org!Organization_Reference_ID",
            "in": "query",
            "description": "Get organisation details by ID. Example: REN_SUPORG_XXXXXXXX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orgName": {
                        "type": "string",
                        "example": "Name of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "orgId": {
                        "type": "string",
                        "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                        "x-workday-type": "Text"
                      },
                      "managerId": {
                        "type": "string",
                        "example": "Manager ID of the worker occupying the position",
                        "x-workday-type": "Text"
                      },
                      "legalOrgLink": {
                        "type": "string",
                        "example": "Legal Organization Link of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "subTypeId": {
                        "type": "string",
                        "example": "Subtype ID of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "Subtype": {
                        "type": "string",
                        "example": "Subtype of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "defaultCompany": {
                        "type": "string",
                        "example": "Default Company of the supervisory organisation",
                        "x-workday-type": "Text"
                      },
                      "worker": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "employeeID": {
                              "type": "string",
                              "example": "Employee ID of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "firstName": {
                              "type": "string",
                              "example": "first Name of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "Last Name of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "fullName": {
                              "type": "string",
                              "example": "Full Name of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "workEmail": {
                              "type": "string",
                              "example": "work Email of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "ipn": {
                              "type": "string",
                              "example": "IPN of the worker occupying the position",
                              "x-workday-type": "Text"
                            },
                            "workerType": {
                              "type": "string",
                              "example": "Worker Type of the worker occupying the position",
                              "x-workday-type": "Text"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-api_suporg-workers_GET"
      }
    },
    "/ren-isu-api/global-functions": {
      "get": {
        "tags": [
          "organisation"
        ],
        "description": "Get details of an Custom Organization Reference ID, Name, parent ID, status ...",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "collection something or other",
              "properties": {
                "Report_Entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ReferenceID": {
                        "type": "string",
                        "example": "Reference ID of the Global Function organisation",
                        "x-workday-type": "Text"
                      },
                      "CusOrgName": {
                        "type": "string",
                        "example": "Name of the custom Organisation",
                        "x-workday-type": "Text"
                      },
                      "SuperiorRefID": {
                        "type": "string",
                        "example": "Superior Reference ID of the Global Function organisation",
                        "x-workday-type": "Text"
                      },
                      "Active": {
                        "type": "boolean",
                        "example": "Status of the Custom Organisation",
                        "x-workday-type": "Text"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred",
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "operationId": "ren-isu-api_global-functions_GET"
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Common"
        ],
        "operationId": "openApi",
        "summary": "Specifications Swagger/openapi",
        "description": "Information on service provided, this information is highly recommended in your API.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "Verify if backend is up",
        "description": "Verify if backend is up, this information is higly recommended in your API.",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
                      "errorLevel": {
                        "type": "string",
                        "description": "Criticity level of error",
                        "default": "info",
                        "enum": [
                          "info",
                          "warning",
                          "error",
                          "critical"
                        ]
                      },
                      "errorType": {
                        "type": "string",
                        "description": "Type of error",
                        "enum": [
                          "functional",
                          "technical"
                        ]
                      },
                      "documentationUrl": {
                        "type": "string",
                        "description": "Url of the documenation associated to the error"
                      },
                      "tips": {
                        "type": "string",
                        "description": "Tips/help for adressing the error"
                      }
                    },
                    "required": [
                      "errorCode",
                      "errorMessage"
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "Error technical Code (can be different than the HTTP return code)"
                      },
                      "errorMessage": {
                        "type": "string",
                        "description": "Message describing the error (Do not give too much information, to avoid security breach)"
                      },
[...]
