{
  "openapi": "3.1.0",
  "info": {
    "title": "packet.guru Agent Verifier API",
    "version": "1.0.0",
    "summary": "Tell an AI agent how its own request looks from the outside.",
    "description": "A self-check for automated clients. Call it and the answer describes the request you just made:\nwhether your Web Bot Auth signature verified, what your key directory publishes, the exact fault\nand how to fix it, and plain facts about the address you came from.\n\nNo account, no key, no registration. The self-check is anonymous by design. An agent asking\nwhether it is configured correctly should not have to sign up to find out.\n\nIMPORTANT: do not route the call through a proxy. The answer describes your request exactly as\nit arrives, so anything that re-sends it on your behalf changes what the answer is about. A\nrequest that did not arrive directly is reported as such in signals.transport.provenance\nrather than guessing.",
    "contact": {
      "url": "https://packet.guru",
      "email": "root@packet.guru"
    },
    "license": {
      "name": "No licence required"
    },
    "x-jentic-source-url": "https://packet.guru/openapi.json"
  },
  "servers": [
    {
      "url": "https://fp.packet.guru",
      "description": "Direct name — required for the handshake to be yours."
    }
  ],
  "paths": {
    "/api/v1/connection": {
      "get": {
        "summary": "Self-check: how does my request look?",
        "description": "Send your ordinary request, signed the way you sign requests to anyone else. Nothing in the\nbody, no parameters. Everything in the answer is read from the request you made.\n\nSend Signature, Signature-Input and Signature-Agent if you sign. The answer then covers your\nsignature and your directory. Without them the answer still covers your address and transport.",
        "operationId": "connectionSelfCheck",
        "security": [],
        "parameters": [
          {
            "name": "Signature-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The origin publishing your keys, quoted per RFC 9651, for example \"https://example.com\"."
          },
          {
            "name": "Signature-Input",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RFC 9421 signature parameters. The tag must be \"web-bot-auth\"."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RFC 9421 signature."
          }
        ],
        "responses": {
          "200": {
            "description": "The self-check. It needs no account and no key, and sending none is not an error. A field with nothing to say is absent rather than null, so an absent key reads the same as one that does not apply.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always true on a 200. Errors carry success:false and an error object."
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier for this verdict, safe to quote in a support request."
                    },
                    "mode": {
                      "type": "string",
                      "description": "You called this endpoint yourself, so the answer describes your own request.",
                      "enum": [
                        "direct"
                      ]
                    },
                    "signals": {
                      "type": "object",
                      "properties": {
                        "agent": {
                          "type": "object",
                          "properties": {
                            "keyDirectoryBinding": {
                              "type": "string",
                              "description": "Whether your directory proved it published the key set that was read. binding-key-proven means the response signature verified but did not cover the body, so possession of the key is proven and the key set is not.",
                              "enum": [
                                "binding-proven",
                                "binding-key-proven",
                                "binding-not-provided",
                                "binding-failed",
                                "binding-not-checked"
                              ]
                            },
                            "notes": {
                              "type": "array",
                              "description": "Observations about your setup that are not faults."
                            },
                            "knownBot": {
                              "type": "string",
                              "description": "The second, independent check, and the one that has nothing to do with your signature: some operators publish the address ranges their crawlers use, and those lists are refreshed regularly. matched means the address this request came from is inside such a published range. none is the ordinary answer and is not a fault: it means no operator publishes a list containing this address, which is true of every address that is not a large crawler, and true of most agents.",
                              "enum": [
                                "matched",
                                "none"
                              ]
                            },
                            "refutedSignatures": {
                              "type": "array",
                              "description": "Other signatures on the same request whose named directory does not list the key they used. You can confirm each against the published file yourself."
                            },
                            "signature": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Whether a Web Bot Auth signature was present and how it came out."
                            },
                            "webBotAuthDetail": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "The specific fault, and the sentence saying what to change. Read this part first. Besides reason and fix it may carry three more members. clockDriftSec is how far the signing clock sits from this server, in seconds. directoryStatus is the HTTP status the named key directory answered with, where 403 or 429 is almost always a firewall in front of it refusing this verifier rather than anything about the keys. fromCachedDirectory appears only when true and means the answer rests on a stored copy that could not be refreshed, so a key reported as absent may simply have been published after that copy was taken."
                            },
                            "card": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Your own published card read back to you, plus the one promise a single live request can settle: the User-Agent you said you would send."
                            }
                          }
                        },
                        "automation": {
                          "type": "object",
                          "properties": {
                            "uaClient": {
                              "type": "string",
                              "description": "What your User-Agent string alone says you are. A string, not a judgement."
                            },
                            "clientHints": {
                              "type": "string",
                              "description": "State of the Client Hints headers you sent."
                            }
                          }
                        },
                        "transport": {
                          "type": "object",
                          "properties": {
                            "provenance": {
                              "type": "string",
                              "description": "measured = your request arrived directly and was read first-hand. unavailable = it did not, and no finding in this answer rests on it.",
                              "enum": [
                                "measured",
                                "unavailable"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Envelope: API version, how long the verdict took, which axes contributed.",
                      "properties": {
                        "apiVersion": {
                          "type": "string",
                          "description": "Version of this API. `v1` today."
                        },
                        "queryTimeMs": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "How long the answer took to build, in milliseconds."
                        },
                        "axes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Which sources contributed to this answer. An axis absent here contributed nothing, which is why a field can be missing without anything being wrong."
                        }
                      }
                    },
                    "identity": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Who you were established to be, and on what evidence. Empty of judgement: the outcome of checking a signature you sent against a directory you published.",
                      "properties": {
                        "operator": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The name established for you, when one could be. Null when nothing named you."
                        },
                        "bot": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The specific bot within that operator, when the evidence distinguishes one."
                        },
                        "method": {
                          "type": "string",
                          "description": "How the name was established: `signature` when your own signature verified, `range` when your address sat in a list its operator publishes."
                        },
                        "trusted": {
                          "type": "boolean",
                          "description": "Whether the established name is one this verifier holds a trust anchor for. A verified signature from a domain nobody knows is a verified signature from a domain nobody knows."
                        }
                      }
                    },
                    "ip": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Plain facts about your own address: network, operator, reputation of the address itself.",
                      "properties": {
                        "origin": {
                          "type": "string",
                          "description": "What kind of network the address belongs to: residential, datacenter, mobile, and so on."
                        },
                        "asn": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Autonomous system number of the network."
                        },
                        "org": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The organisation that network is registered to."
                        },
                        "hostname": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Reverse DNS name of the address, when it has one."
                        },
                        "blacklisted": {
                          "type": "boolean",
                          "description": "Whether the address appears on the public abuse feeds this service tracks."
                        },
                        "riskScore": {
                          "type": "integer",
                          "description": "Reputation of the ADDRESS, 0 to 100, higher meaning worse. A datacenter address scores in the middle by nature: it is a statement about where you are, never about who you are or what you did."
                        },
                        "riskLevel": {
                          "type": "string",
                          "description": "The same figure as a word: low, medium or high."
                        }
                      }
                    },
                    "geo": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Country, region, city and timezone of your address.",
                      "properties": {
                        "country": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "ISO 3166-1 alpha-2 country code of the address."
                        },
                        "region": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "First-level administrative division."
                        },
                        "city": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "City the address is placed in."
                        },
                        "timezone": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "IANA timezone name for that place."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests from one address. Slow down and retry."
          }
        }
      }
    }
  },
  "x-fault-dictionary": {
    "description": "Every fault signals.agent.webBotAuthDetail.reason can carry, with the remedy that ships beside it. Published in full so the report is usable without reading our documentation.",
    "count": 37,
    "faults": [
      {
        "reason": "bad-signature",
        "fix": "The signature does not verify against the published key. The base is a likelier cause than the key: covering \"signature-agent\" puts the whole field into it, covering \"signature-agent\";key=\"sig1\" puts that member value alone. Rebuild the base, then check the key is the one your directory publishes."
      },
      {
        "reason": "bad-tag",
        "fix": "Set the Signature-Input tag parameter to \"web-bot-auth\". Without it the signature is not read as a bot-auth signature."
      },
      {
        "reason": "canonicalization-mismatch",
        "fix": "The signature is sound, the base it was built over is not the one rebuilt here: a value formatted differently, identifiers written without quotes, a whole field where the covered member belongs, or a trailing newline. The fix beside this reason names which."
      },
      {
        "reason": "clock-ahead",
        "fix": "Your server's clock is ahead: the signature is dated in the future. Enable time synchronisation (NTP)."
      },
      {
        "reason": "component-unsupported",
        "fix": "The signature covers a component this verifier does not rebuild. Supported: @method, @authority, @path, @target-uri, signature-agent, content-digest. Nothing is wrong with your signature. It simply was not checked here."
      },
      {
        "reason": "component-unsupported-parameter",
        "fix": "A covered component carries a parameter this verifier does not support. Only the key parameter on signature-agent is understood."
      },
      {
        "reason": "content-digest-mismatch",
        "fix": "The Content-Digest you signed does not match the body that arrived. Recompute the digest over the exact bytes you send."
      },
      {
        "reason": "directory-bad-status",
        "fix": "Your key directory answered a status other than 200, in directoryStatus here. 403 or 429 is a bot rule refusing this verifier: exempt /.well-known/http-message-signatures-directory itself, which serves public keys to a plain GET, rather than a User-Agent anyone can copy. 5xx is your origin failing. 3xx means the keys are elsewhere than your Signature-Agent says."
      },
      {
        "reason": "directory-host-unknown",
        "fix": "The host in Signature-Agent does not exist in DNS, so no key directory can be published there. Check the address you send."
      },
      {
        "reason": "directory-no-keys",
        "fix": "Your key directory holds no usable Ed25519 key. Check the kty, crv and x fields."
      },
      {
        "reason": "directory-not-published",
        "fix": "The host exists but publishes no key directory at the well-known path. Publish it at /.well-known/http-message-signatures-directory."
      },
      {
        "reason": "directory-too-large",
        "fix": "Your key directory is larger than this verifier will read. Publish only the keys currently in use."
      },
      {
        "reason": "directory-too-many-keys",
        "fix": "Your key directory holds more keys than this verifier will search. Remove keys that are no longer in use."
      },
      {
        "reason": "directory-unreachable",
        "fix": "Nothing answered at your key directory address: a name that does not resolve, a TLS failure or a timeout. Check the well-known path from outside its own network. It has to answer 200 directly over HTTPS on the default port, since a redirect is not followed."
      },
      {
        "reason": "directory-unreadable",
        "fix": "The directory body does not parse. It must be JSON containing a keys array."
      },
      {
        "reason": "directory-wrong-media-type",
        "fix": "Your key directory is served with the wrong Content-Type. Use application/http-message-signatures-directory+json."
      },
      {
        "reason": "duplicate-component",
        "fix": "The same component identifier is covered twice. RFC 9421 requires a signature base to be built with each identifier once, so the base cannot be constructed and the signature cannot be checked. Remove the repeat."
      },
      {
        "reason": "expired",
        "fix": "The signature expired before the request arrived. Set expires with more headroom. A minute is usually enough."
      },
      {
        "reason": "key-before-activation",
        "fix": "This key nbf is in the future, so the key is not active yet."
      },
      {
        "reason": "key-not-found",
        "fix": "The public key for this signature could not be obtained from the address you published it at."
      },
      {
        "reason": "key-not-in-directory",
        "fix": "No key with this keyid is in your directory. Make sure keyid matches either the key thumbprint or its kid."
      },
      {
        "reason": "key-past-expiry",
        "fix": "This key exp is already in the past. Publish a replacement key."
      },
      {
        "reason": "missing-component",
        "fix": "The signature covers a component that this request does not carry, so the signature base cannot be rebuilt. Send every component you sign."
      },
      {
        "reason": "missing-fields",
        "fix": "Signature-Input is missing required parameters. Include created, expires, keyid and tag."
      },
      {
        "reason": "signature-agent-absent",
        "fix": "No Signature-Agent header. The current draft requires one on a signed request, and without it nothing says where your public key is published."
      },
      {
        "reason": "signature-agent-ambiguous-member",
        "fix": "Signature-Agent carries several members and none can be matched to this signature. Add a key parameter to the covered signature-agent component, or use one member named after the signature label."
      },
      {
        "reason": "signature-agent-member-missing",
        "fix": "The signature covers a Signature-Agent member that the header does not contain. The key parameter must name a member that is actually sent."
      },
      {
        "reason": "signature-agent-mixed-forms",
        "fix": "Signature-Agent mixes the bare-string and dictionary forms in one header. Send one form only."
      },
      {
        "reason": "signature-agent-not-https",
        "fix": "Signature-Agent must point at an https address. Key directories are not read over plain http."
      },
      {
        "reason": "signature-agent-not-origin",
        "fix": "For the directory type the value must be a bare origin such as \"https://example.com\", with no path, query or fragment. Use type=jwks_uri to point at a file."
      },
      {
        "reason": "signature-agent-port-unsupported",
        "fix": "Publish the key directory on the default HTTPS port and name it without one, as \"https://example.com\". A Signature-Agent carrying another port is not fetched."
      },
      {
        "reason": "signature-agent-unparsable",
        "fix": "Signature-Agent is not readable. Send a dictionary member such as sig1=\"https://example.com\"."
      },
      {
        "reason": "signature-agent-unsupported-type",
        "fix": "The Signature-Agent type parameter names a discovery mechanism this verifier does not support. Use directory, jwks_uri or cimd."
      },
      {
        "reason": "signature-alg-unsupported",
        "fix": "The signature names an algorithm this verifier does not implement. Ed25519 is the only one checked here, so nothing was decided about yours. Sign with Ed25519 to be verifiable at this endpoint."
      },
      {
        "reason": "signature-input-unreadable",
        "fix": "Signature-Input could not be parsed. It must be a dictionary member such as sig1=(\"@authority\");created=1;expires=2;keyid=\"…\";tag=\"web-bot-auth\"."
      },
      {
        "reason": "signature-value-unreadable",
        "fix": "The Signature header has no member matching the Signature-Input label, or its value is not base64 between colons."
      },
      {
        "reason": "target-not-covered",
        "fix": "The signature covers no request target, so it is valid against any endpoint and replayable elsewhere as your identity. Cover \"@authority\" or \"@target-uri\". The draft requires one of them."
      }
    ]
  }
}