{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This API provides the functionality to create the cutover data",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "termsOfService": "",
    "title": "Q8-KPNWE-Cutover",
    "version": "1.1.0",
    "x-ibm-name": "api-cutover",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/KOLESNYKGANNA/cut/1.1.0"
  },
  "servers": [
    {
      "url": "https://itnapapicgw.q8int.com/kpnwe/api-int/api/cutover/v1"
    }
  ],
  "paths": {
    "/cutovers": {
      "post": {
        "parameters": [
          {
            "description": "Unique identifier of the request",
            "in": "header",
            "name": "X-Request-Id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Correlation Id",
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Receiver Id",
            "in": "header",
            "name": "X-Receiver-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sender Id",
            "in": "header",
            "name": "X-Sender-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "The value of one or more request parameters is not valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "unauthorized"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "internal server error"
          }
        },
        "tags": [
          "cutover-controller"
        ],
        "operationId": "createNewCutoverUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cutover"
              }
            }
          },
          "description": "cutover information",
          "required": true
        },
        "summary": "create new Cutover"
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Healthcheck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Healthcheck"
                }
              }
            },
            "description": "The request has been accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "The value of one or more request parameters is not valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "not found"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "unsupported media type"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "too many requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "internal server error"
          }
        },
        "tags": [
          "cutover-controller"
        ],
        "operationId": "getHealthCheck",
        "summary": "health check of the API"
      }
    }
  },
  "components": {
    "schemas": {
      "Cutover": {
        "properties": {
          "cutoverMoment": {
            "description": "Date and time when cutover was taken",
            "format": "date-time",
            "type": "string"
          },
          "cutoverNumber": {
            "description": "Identifier of the cutover - unique per site, not unique across sites.  Site Number and Cutover Number are unique together.",
            "format": "int64",
            "maxLength": 5,
            "maximum": 99999,
            "type": "integer"
          },
          "cutoverType": {
            "description": "Indicates whether the cutover is a daily cutover or an ad-hoc cutover",
            "enum": [
              "AD-HOC",
              "DAILY"
            ],
            "type": "string"
          },
          "dippings": {
            "description": "the Dippings",
            "items": {
              "$ref": "#/components/schemas/Dipping"
            },
            "type": "array"
          },
          "mopsList": {
            "description": "The MOPs numbers",
            "items": {
              "$ref": "#/components/schemas/Mops"
            },
            "type": "array"
          },
          "nozzleIndexes": {
            "description": "Nozzle Indexes",
            "items": {
              "$ref": "#/components/schemas/NozzleIndex"
            },
            "type": "array"
          },
          "shopSales": {
            "description": "the Shop sales numbers",
            "items": {
              "$ref": "#/components/schemas/ShopSale"
            },
            "type": "array"
          },
          "siteNumber": {
            "description": "Identifier of the site Site Number and Cutover Number are unique together.",
            "format": "int64",
            "maxLength": 6,
            "maximum": 999999,
            "type": "integer"
          },
          "typeOfSite": {
            "description": "Identifier if the site is a manned site or not",
            "enum": [
              "manned",
              "unmanned"
            ],
            "type": "string"
          }
        },
        "required": [
          "siteNumber",
          "cutoverNumber",
          "cutoverMoment",
          "cutoverType"
        ],
        "type": "object"
      },
      "Dipping": {
        "properties": {
          "productMeasurement": {
            "$ref": "#/components/schemas/ProductMeasurement"
          },
          "tankCapacity": {
            "description": "The tank capacity",
            "exclusiveMaximum": true,
            "maximum": 100000000,
            "type": "number"
          },
          "tankGroup": {
            "description": "Indicates the tank group the tank is in",
            "format": "int32",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          },
          "tankNumber": {
            "description": "The number of the tank",
            "format": "int32",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          }
        },
        "required": [
          "tankNumber",
          "tankGroup",
          "tankCapacity",
          "productMeasurement"
        ],
        "type": "object"
      },
      "Error": {
        "description": "This problem will be reported in response to requests that are not valid.",
        "properties": {
          "detail": {
            "description": "A human-readable explanation specific to this occurrence of the problem.",
            "type": "string"
          },
          "instance": {
            "description": "urn:uuid:<X-Q8-KPNWE-messageId>",
            "type": "string"
          },
          "status": {
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem",
            "type": "number"
          },
          "step": {
            "description": "The step that went wrong",
            "type": "string"
          },
          "title": {
            "description": "A short, human-readable summary of the problem type.",
            "type": "string"
          },
          "type": {
            "description": "This field will be used as identification of the problem but won't lead to any documentation when dereferenced. ",
            "enum": [
              "about:blank"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Healthcheck": {
        "description": "result of the actuator health check.",
        "properties": {
          "status": {
            "description": "The runtime status of the API.",
            "enum": [
              "UP",
              "DOWN"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Mop": {
        "properties": {
          "id": {
            "description": "MOP ID that is being used",
            "format": "int32",
            "maxLength": 5,
            "maximum": 99999,
            "type": "integer"
          },
          "mopName": {
            "description": "the method of payment name related to the id",
            "type": "string"
          }
        },
        "required": [
          "id",
          "mopName"
        ],
        "type": "object"
      },
      "Mops": {
        "properties": {
          "amount": {
            "description": "Amount sold",
            "exclusiveMaximum": true,
            "maximum": 10000000000,
            "type": "number"
          },
          "currency": {
            "description": "The currency being used",
            "maxLength": 3,
            "minLength": 1,
            "type": "string"
          },
          "mop": {
            "$ref": "#/components/schemas/Mop"
          },
          "productType": {
            "description": "Indicates whether the MOP was used to pay for fuel or shop",
            "enum": [
              "FUEL",
              "SHOP"
            ],
            "type": "string"
          },
          "terminal": {
            "$ref": "#/components/schemas/Terminal"
          },
          "terminalCutoverNbr": {
            "description": "Terminal cutover number",
            "format": "int32",
            "maxLength": 6,
            "maximum": 999999,
            "type": "integer"
          },
          "volume": {
            "description": "Volume of the sale",
            "exclusiveMaximum": true,
            "maximum": 1000000000000,
            "type": "number"
          }
        },
        "required": [
          "terminal",
          "mop",
          "terminalCutoverNbr",
          "productType",
          "volume",
          "amount",
          "currency"
        ],
        "type": "object"
      },
      "NozzleIndex": {
        "properties": {
          "currency": {
            "description": "The currency being used",
            "maxLength": 3,
            "minLength": 1,
            "type": "string"
          },
          "hardwareMeasurement": {
            "$ref": "#/components/schemas/NozzleMeasurement"
          },
          "nozzleNumber": {
            "description": "The identifier of the nozzle",
            "format": "int64",
            "maxLength": 1,
            "maximum": 9,
            "type": "integer"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "pumpId": {
            "description": "The identifier of the pump",
            "format": "int64",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          },
          "softwareMeasurement": {
            "$ref": "#/components/schemas/NozzleMeasurement"
          },
          "tankGroup": {
            "description": "Tank group the Nozzle is in",
            "format": "int64",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          }
        },
        "required": [
          "nozzleNumber",
          "pumpId",
          "product",
          "tankGroup",
          "hardwareMeasurement",
          "softwareMeasurement",
          "currency"
        ],
        "type": "object"
      },
      "NozzleMeasurement": {
        "description": "Measurement of the nozzle",
        "properties": {
          "amount": {
            "description": "Amount of the product being measured",
            "maximum": 9999999999.999,
            "type": "number"
          },
          "volume": {
            "description": "Volume of the product being measured",
            "maximum": 99999999999.99,
            "type": "number"
          }
        },
        "required": [
          "amount",
          "volume"
        ],
        "type": "object"
      },
      "Product": {
        "properties": {
          "id": {
            "description": "Product ID that is being measured",
            "enum": [
              0,
              2,
              3,
              4,
              5,
              6,
              8,
              11,
              12,
              13
            ],
            "type": "integer"
          },
          "productName": {
            "description": "Product that is being measured, well known products are No product (0), CNG (2), HIQ Diesel (3), LPG (4), HIQ Euro 95 (5), Gasoil Industry Extra (6), HIQ Super + 98 (8), Adblue (11),  HVO 100 Neste MY Renewable Diesel (12), Lamppetroleum/Kero (13)",
            "type": "string"
          }
        },
        "required": [
          "id",
          "productName"
        ],
        "type": "object"
      },
      "ProductMeasurement": {
        "description": "A complete measurement object for the indicated tank",
        "properties": {
          "gaugeStatus": {
            "description": "The status of the tank gauge",
            "enum": [
              "OK",
              "NOK",
              "NO_GAUGE",
              "ONGOING_DELIVERY",
              "ONGOING_TRANSACTION"
            ],
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "productHeight": {
            "description": "Product Height",
            "exclusiveMaximum": true,
            "maximum": 100,
            "type": "number"
          },
          "productVolume": {
            "description": "Product Volume",
            "exclusiveMaximum": true,
            "maximum": 1000000,
            "type": "number"
          },
          "temperature": {
            "description": "Temperature",
            "maximum": 100,
            "type": "number"
          },
          "waterHeight": {
            "description": "Water Height",
            "exclusiveMaximum": true,
            "maximum": 100,
            "type": "number"
          },
          "waterVolume": {
            "description": "Water Volume",
            "exclusiveMaximum": true,
            "maximum": 1000000,
            "type": "number"
          }
        },
        "required": [
          "product",
          "waterHeight",
          "waterVolume",
          "productHeight",
          "productVolume",
          "temperature",
          "gaugeStatus"
        ],
        "type": "object"
      },
      "ShopSale": {
        "properties": {
          "amount": {
            "description": "Amount of the product being sold",
            "exclusiveMaximum": true,
            "maximum": 100000000000,
            "type": "number"
          },
          "department": {
            "description": "Department",
            "format": "int32",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          },
          "description": {
            "description": "Description of the product being sold",
            "maxLength": 15,
            "minLength": 1,
            "type": "string"
          },
          "eftCode1": {
            "description": "To do",
            "maxLength": 2,
            "type": "string"
          },
          "eftCode2": {
            "description": "To do",
            "maxLength": 2,
            "type": "string"
          },
          "quantity": {
            "description": "Quantity of the product being sold",
            "exclusiveMaximum": true,
            "maximum": 100000000000,
            "type": "number"
          },
          "returnAmount": {
            "description": "In case of return, the returned amount",
            "exclusiveMaximum": true,
            "maximum": 100000000000,
            "type": "number"
          },
          "returnQuantity": {
            "description": "In case of return, the returned quantity",
            "exclusiveMaximum": true,
            "maximum": 100000000000,
            "type": "number"
          },
          "subDepartment": {
            "description": "SubDepartment",
            "format": "int32",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          },
          "vatPercentage": {
            "description": "The VAT percentage having been used",
            "enum": [
              0,
              600,
              1200,
              2100
            ],
            "type": "number"
          }
        },
        "required": [
          "department",
          "subDepartment",
          "description",
          "amount",
          "quantity",
          "vatPercentage"
        ],
        "type": "object"
      },
      "Terminal": {
        "properties": {
          "terminalId": {
            "description": "This is the unique ID of the terminal, that should be printed on the Terminal somewhere. It is not used by the Integration Layer, instead there is a conversion table internally that takes Site Number and Terminal Site ID and maps that to the terminal ID internally. The reason that we already include it here is that we will be ready when in the future we are not reliant on interrnal programs to do the conversion anymore.",
            "format": "int32",
            "maxLength": 8,
            "maximum": 99999999,
            "type": "integer"
          },
          "terminalSiteId": {
            "description": "This is an ID attributed to each terminal on a site. It identifies each terminal uniquely for that given site.",
            "format": "int32",
            "maxLength": 2,
            "maximum": 99,
            "type": "integer"
          },
          "terminalType": {
            "description": "Type of terminal where payments are registered",
            "enum": [
              "PTI",
              "PTO",
              "POS",
              "PUMP_TEST",
              "PTO_NL_DE"
            ],
            "type": "string"
          }
        },
        "required": [
          "terminalType",
          "terminalSiteId"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "ClientId": {
        "in": "header",
        "name": "X-Q8-KPNWE-clientid",
        "type": "apiKey",
        "x-key-type": "client_id"
      },
      "ClientSecret": {
        "description": "Client Secret",
        "in": "header",
        "name": "X-Q8-KPNWE-clientsecret",
        "type": "apiKey",
        "x-key-type": "client_secret"
      },
      "heartbeatoauth2": {
        "flows": {
          "clientCredentials": {
            "scopes": {
              "heartbeat_scope": "HeartBeat Scope"
            },
            "tokenUrl": "https://q8kpnweheartbeatoauth2/oauth2/token"
          }
        },
        "type": "oauth2",
        "x-ibm-oauth-provider": "q8-kpnwe-heartbeat-oauth2"
      }
    }
  },
  "security": [
    {
      "ClientId": [],
      "ClientSecret": [],
      "heartbeatoauth2": [
        "heartbeat_scope"
      ]
    }
  ],
  "tags": [
    {
      "description": "Cutover Information Controller",
      "name": "cutover-controller"
    }
  ],
  "x-ibm-configuration": {
    "servers": [
      {
        "description": "",
        "type": [
          "Production",
          "Development"
        ],
        "url": "https://itnapapicgw.q8int.com/kpnwe/api-int/api/cutover/v1"
      }
    ],
    "application-authentication": {
      "certificate": false
    },
    "cors": {
      "enabled": true
    },
    "enforced": true,
    "oauth-servers": {
      "heartbeatoauth2": {
        "authorizationUrls": [],
        "refreshUrls": [],
        "tokenUrls": [
          "https://itnapapicgw.q8int.com/kpnwe/api-int/q8kpnweheartbeatoauth2/oauth2/token"
        ]
      }
    },
    "phase": "realized",
    "testable": true,
    "type": "rest"
  }
}