{
  "openapi": "3.0.0",
  "info": {
    "description": "Programmable API to control locks, thermostats, noise sensors, cameras, access control systems, and other IoT devices.\n\nPrefer the official Seam SDKs over hand-written HTTP calls: they handle\nauthentication, request serialization, pagination, and error handling for\nyou. The official SDKs are listed in this document under\n`info.x-seam-sdks`.\n\nIf you call the HTTP API directly, your query parameters must be\nserialized compatibly with the Seam API. There is no universal convention\nfor serializing arrays, booleans, or nested objects in a query string, so\nuse @seamapi/url-search-params-serializer, the language specific serializer module provided by each Seam SDK, or follow its specification:\nhttps://github.com/seamapi/url-search-params-serializer",
    "title": "Seam Connect",
    "version": "1.0.0",
    "x-seam-query-serializer": {
      "description": "Reference implementation and specification for query parameter serialization compatible with the Seam API.",
      "url": "https://github.com/seamapi/url-search-params-serializer"
    },
    "x-seam-sdks": [
      {
        "language": "javascript",
        "url": "https://github.com/seamapi/javascript"
      },
      {
        "language": "python",
        "url": "https://github.com/seamapi/python"
      },
      {
        "language": "ruby",
        "url": "https://github.com/seamapi/ruby"
      },
      {
        "language": "php",
        "url": "https://github.com/seamapi/php"
      },
      {
        "language": "csharp",
        "url": "https://github.com/seamapi/csharp"
      }
    ],
    "x-jentic-source-url": "https://docs.seam.co/openapi.json"
  },
  "servers": [
    {
      "url": "https://connect.getseam.com"
    }
  ],
  "paths": {
    "/access_codes/create": {
      "post": {
        "description": "Creates a new [access code](/low-level-apis/smart-locks/access-codes). For granting access, we recommend [Access Grants](/use-cases/granting-access) instead: they work across both standalone smart locks and access control systems and manage the underlying codes for you. Use this low-level endpoint only when you need direct control over a code on a single device, such as setting a custom PIN value.",
        "operationId": "accessCodesCreatePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_external_modification": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`.",
                    "type": "boolean"
                  },
                  "attempt_for_offline_device": {
                    "default": true,
                    "type": "boolean"
                  },
                  "code": {
                    "description": "Code to be used for access.",
                    "maxLength": 12,
                    "minLength": 4,
                    "pattern": "^\\d+$",
                    "type": "string"
                  },
                  "common_code_key": {
                    "description": "Key to identify access codes that should have the same code. Any two access codes with the same `common_code_key` are guaranteed to have the same `code`. See also [Creating and Updating Multiple Linked Access Codes](/low-level-apis/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes).",
                    "minLength": 1,
                    "type": "string"
                  },
                  "device_id": {
                    "description": "ID of the device for which you want to create the new access code.",
                    "format": "uuid",
                    "type": "string"
                  },
                  "ends_at": {
                    "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                    "type": "string"
                  },
                  "is_external_modification_allowed": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`.",
                    "type": "boolean"
                  },
                  "is_offline_access_code": {
                    "description": "Indicates whether the access code is an [offline access code](/low-level-apis/smart-locks/access-codes/offline-access-codes).",
                    "type": "boolean"
                  },
                  "is_one_time_use": {
                    "description": "Indicates whether the [offline access code](/low-level-apis/smart-locks/access-codes/offline-access-codes) is a single-use access code.",
                    "type": "boolean"
                  },
                  "max_time_rounding": {
                    "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](/low-level-apis/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`.",
                    "enum": [
                      "1hour",
                      "1day",
                      "1h",
                      "1d"
                    ],
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components).",
                    "type": "string"
                  },
                  "prefer_native_scheduling": {
                    "description": "Indicates whether [native scheduling](/low-level-apis/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`.",
                    "type": "boolean"
                  },
                  "preferred_code_length": {
                    "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length.",
                    "format": "float",
                    "type": "number"
                  },
                  "starts_at": {
                    "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                    "type": "string"
                  },
                  "use_backup_access_code_pool": {
                    "description": "Indicates whether to use a [backup access code pool](/low-level-apis/smart-locks/access-codes/backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](/api/access_codes/pull_backup_access_code).",
                    "type": "boolean"
                  },
                  "use_offline_access_code": {
                    "deprecated": true,
                    "type": "boolean",
                    "description": "Deprecated. Use `is_offline_access_code` instead."
                  }
                },
                "required": [
                  "device_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_code": {
                      "$ref": "#/components/schemas/access_code"
                    }
                  },
                  "required": [
                    "access_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session_with_customer": []
          },
          {
            "client_session": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Create an Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-action-attempt-type": "CREATE_ACCESS_CODE",
        "x-response-key": "access_code",
        "x-title": "Create an Access Code",
        "x-mint": {
          "href": "/api/access_codes/create"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.create({\n  device_id: \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n  name: \"My Ongoing Online Access Code\",\n  code: \"1234\",\n});\n\n/*\n{\n  \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n  \"code\": \"1234\",\n  \"common_code_key\": null,\n  \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\": \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n  \"errors\": [],\n  \"is_backup\": false,\n  \"is_backup_access_code_available\": false,\n  \"is_external_modification_allowed\": false,\n  \"is_managed\": true,\n  \"is_offline_access_code\": false,\n  \"is_one_time_use\": false,\n  \"is_scheduled_on_device\": true,\n  \"is_waiting_for_code_assignment\": false,\n  \"name\": \"My Ongoing Online Access Code\",\n  \"pulled_backup_access_code_id\": null,\n  \"status\": \"set\",\n  \"type\": \"ongoing\",\n  \"warnings\": [],\n  \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n}\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/create\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n  \"name\": \"My Ongoing Online Access Code\",\n  \"code\": \"1234\"\n}\nEOF\n\n# Response:\n# {\n#   \"access_code\": {\n#     \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#     \"code\": \"1234\",\n#     \"common_code_key\": null,\n#     \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#     \"device_id\": \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n#     \"errors\": [],\n#     \"is_backup\": false,\n#     \"is_backup_access_code_available\": false,\n#     \"is_external_modification_allowed\": false,\n#     \"is_managed\": true,\n#     \"is_offline_access_code\": false,\n#     \"is_one_time_use\": false,\n#     \"is_scheduled_on_device\": true,\n#     \"is_waiting_for_code_assignment\": false,\n#     \"name\": \"My Ongoing Online Access Code\",\n#     \"pulled_backup_access_code_id\": null,\n#     \"status\": \"set\",\n#     \"type\": \"ongoing\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.create(\n    device_id=\"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n    name=\"My Ongoing Online Access Code\",\n    code=\"1234\",\n)\n\n# AccessCode(\n    access_code_id=\"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    code=\"1234\",\n    common_code_key=None,\n    created_at=\"2025-06-14T16:54:17.946242Z\",\n    device_id=\"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n    errors=[],\n    is_backup=false,\n    is_backup_access_code_available=false,\n    is_external_modification_allowed=false,\n    is_managed=true,\n    is_offline_access_code=false,\n    is_one_time_use=false,\n    is_scheduled_on_device=true,\n    is_waiting_for_code_assignment=false,\n    name=\"My Ongoing Online Access Code\",\n    pulled_backup_access_code_id=None,\n    status=\"set\",\n    type=\"ongoing\",\n    warnings=[],\n    workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n)"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.create(\n  device_id: \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n  name: \"My Ongoing Online Access Code\",\n  code: \"1234\",\n)\n\n# => {\n  \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n  \"code\" => \"1234\",\n  \"common_code_key\" => nil,\n  \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\" => \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n  \"errors\" => [],\n  \"is_backup\" => false,\n  \"is_backup_access_code_available\" => false,\n  \"is_external_modification_allowed\" => false,\n  \"is_managed\" => true,\n  \"is_offline_access_code\" => false,\n  \"is_one_time_use\" => false,\n  \"is_scheduled_on_device\" => true,\n  \"is_waiting_for_code_assignment\" => false,\n  \"name\" => \"My Ongoing Online Access Code\",\n  \"pulled_backup_access_code_id\" => nil,\n  \"status\" => \"set\",\n  \"type\" => \"ongoing\",\n  \"warnings\" => [],\n  \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n}"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->create(\n    device_id: \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n    name: \"My Ongoing Online Access Code\",\n    code: \"1234\",\n);\n\n// [\n    \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    \"code\" => \"1234\",\n    \"common_code_key\" => null,\n    \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\" => \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n    \"errors\" => [],\n    \"is_backup\" => false,\n    \"is_backup_access_code_available\" => false,\n    \"is_external_modification_allowed\" => false,\n    \"is_managed\" => true,\n    \"is_offline_access_code\" => false,\n    \"is_one_time_use\" => false,\n    \"is_scheduled_on_device\" => true,\n    \"is_waiting_for_code_assignment\" => false,\n    \"name\" => \"My Ongoing Online Access Code\",\n    \"pulled_backup_access_code_id\" => null,\n    \"status\" => \"set\",\n    \"type\" => \"ongoing\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes create --device_id \"a5036385-adcb-41b5-88c2-dd8a702a0730\" --name \"My Ongoing Online Access Code\" --code \"1234\"\n\n# {\n#   \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#   \"code\": \"1234\",\n#   \"common_code_key\": null,\n#   \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#   \"device_id\": \"a5036385-adcb-41b5-88c2-dd8a702a0730\",\n#   \"errors\": [],\n#   \"is_backup\": false,\n#   \"is_backup_access_code_available\": false,\n#   \"is_external_modification_allowed\": false,\n#   \"is_managed\": true,\n#   \"is_offline_access_code\": false,\n#   \"is_one_time_use\": false,\n#   \"is_scheduled_on_device\": true,\n#   \"is_waiting_for_code_assignment\": false,\n#   \"name\": \"My Ongoing Online Access Code\",\n#   \"pulled_backup_access_code_id\": null,\n#   \"status\": \"set\",\n#   \"type\": \"ongoing\",\n#   \"warnings\": [],\n#   \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n# }"
          }
        ]
      }
    },
    "/access_codes/create_multiple": {
      "put": {
        "description": "Creates new [access codes](/low-level-apis/smart-locks/access-codes) that share a common code across multiple devices.\n\nUsers with more than one door lock in a property may want to create groups of linked access codes, all of which have the same code (PIN). For example, a short-term rental host may want to provide guests the same PIN for both a front door lock and a back door lock.\n\nIf you specify a custom code, Seam assigns this custom code to each of the resulting access codes. However, in this case, Seam does not link these access codes together with a `common_code_key`. That is, `common_code_key` remains null for these access codes.\n\nIf you want to change these access codes that are not linked by a `common_code_key`, you cannot use `/access_codes/update_multiple`. However, you can update each of these access codes individually, using `/access_codes/update`.\n\nSee also [Creating and Updating Multiple Linked Access Codes](/low-level-apis/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes).\n\nFor granting a person access to a space, [Access Grants](/use-cases/granting-access) are the default and recommended approach and work across both standalone smart locks and access systems. Use the lower-level Access Codes API directly only when you specifically need to manage individual PIN codes.",
        "operationId": "accessCodesCreateMultiplePut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_external_modification": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`.",
                    "type": "boolean"
                  },
                  "attempt_for_offline_device": {
                    "default": true,
                    "type": "boolean"
                  },
                  "behavior_when_code_cannot_be_shared": {
                    "default": "throw",
                    "description": "Desired behavior if any device cannot share a code. If `throw` (default), no access codes will be created if any device cannot share a code. If `create_random_code`, a random code will be created on devices that cannot share a code.",
                    "enum": [
                      "throw",
                      "create_random_code"
                    ],
                    "type": "string"
                  },
                  "code": {
                    "description": "Code to be used for access.",
                    "maxLength": 12,
                    "minLength": 4,
                    "pattern": "^\\d+$",
                    "type": "string"
                  },
                  "device_ids": {
                    "description": "IDs of the devices for which you want to create the new access codes.",
                    "items": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "ends_at": {
                    "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                    "type": "string"
                  },
                  "is_external_modification_allowed": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`.",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components).",
                    "type": "string"
                  },
                  "prefer_native_scheduling": {
                    "description": "Indicates whether [native scheduling](/low-level-apis/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`.",
                    "type": "boolean"
                  },
                  "preferred_code_length": {
                    "description": "Preferred code length. If the affected devices do not support the preferred code length, Seam reverts to using the shortest supported code length.",
                    "format": "float",
                    "type": "number"
                  },
                  "starts_at": {
                    "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                    "type": "string"
                  },
                  "use_backup_access_code_pool": {
                    "description": "Indicates whether to use a [backup access code pool](/low-level-apis/smart-locks/access-codes/backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](/api/access_codes/pull_backup_access_code).",
                    "type": "boolean"
                  }
                },
                "required": [
                  "device_ids"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_codes": {
                      "items": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "access_codes"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Create Multiple Linked Access Codes",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_codes",
        "x-title": "Create Multiple Linked Access Codes",
        "x-mint": {
          "href": "/api/access_codes/create_multiple"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.createMultiple({\n  device_ids: [\n    \"d9717800-fa73-401a-b66b-03f0ef950e2a\",\n    \"550e8400-e29b-41d4-a716-446655440000\",\n  ],\n  behavior_when_code_cannot_be_shared: \"throw\",\n  preferred_code_length: 4,\n  name: \"My Linked Access Code\",\n  starts_at: \"2025-06-19T01:41:56.000Z\",\n  ends_at: \"2025-06-22T16:40:40.000Z\",\n});\n\n/*\n[\n  {\n    \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    \"code\": \"1234\",\n    \"common_code_key\": \"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n    \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n    \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n    \"errors\": [],\n    \"is_backup\": false,\n    \"is_backup_access_code_available\": false,\n    \"is_external_modification_allowed\": false,\n    \"is_managed\": true,\n    \"is_offline_access_code\": false,\n    \"is_one_time_use\": false,\n    \"is_scheduled_on_device\": true,\n    \"is_waiting_for_code_assignment\": false,\n    \"name\": \"My Linked Access Code\",\n    \"pulled_backup_access_code_id\": null,\n    \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n    \"status\": \"set\",\n    \"type\": \"time_bound\",\n    \"warnings\": [],\n    \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n  }\n]\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/create_multiple\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_ids\": [\n    \"d9717800-fa73-401a-b66b-03f0ef950e2a\",\n    \"550e8400-e29b-41d4-a716-446655440000\"\n  ],\n  \"behavior_when_code_cannot_be_shared\": \"throw\",\n  \"preferred_code_length\": 4,\n  \"name\": \"My Linked Access Code\",\n  \"starts_at\": \"2025-06-19T01:41:56.000Z\",\n  \"ends_at\": \"2025-06-22T16:40:40.000Z\"\n}\nEOF\n\n# Response:\n# {\n#   \"access_codes\": [\n#     {\n#       \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#       \"code\": \"1234\",\n#       \"common_code_key\": \"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n#       \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#       \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n#       \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#       \"errors\": [],\n#       \"is_backup\": false,\n#       \"is_backup_access_code_available\": false,\n#       \"is_external_modification_allowed\": false,\n#       \"is_managed\": true,\n#       \"is_offline_access_code\": false,\n#       \"is_one_time_use\": false,\n#       \"is_scheduled_on_device\": true,\n#       \"is_waiting_for_code_assignment\": false,\n#       \"name\": \"My Linked Access Code\",\n#       \"pulled_backup_access_code_id\": null,\n#       \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#       \"status\": \"set\",\n#       \"type\": \"time_bound\",\n#       \"warnings\": [],\n#       \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#     }\n#   ]\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.create_multiple(\n    device_ids=[\n        \"d9717800-fa73-401a-b66b-03f0ef950e2a\",\n        \"550e8400-e29b-41d4-a716-446655440000\",\n    ],\n    behavior_when_code_cannot_be_shared=\"throw\",\n    preferred_code_length=4,\n    name=\"My Linked Access Code\",\n    starts_at=\"2025-06-19T01:41:56.000Z\",\n    ends_at=\"2025-06-22T16:40:40.000Z\",\n)\n\n# [\n    AccessCode(\n        access_code_id=\"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n        code=\"1234\",\n        common_code_key=\"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n        created_at=\"2025-06-14T16:54:17.946242Z\",\n        device_id=\"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n        ends_at=\"2025-07-04T16:54:17.946049Z\",\n        errors=[],\n        is_backup=false,\n        is_backup_access_code_available=false,\n        is_external_modification_allowed=false,\n        is_managed=true,\n        is_offline_access_code=false,\n        is_one_time_use=false,\n        is_scheduled_on_device=true,\n        is_waiting_for_code_assignment=false,\n        name=\"My Linked Access Code\",\n        pulled_backup_access_code_id=None,\n        starts_at=\"2025-07-02T16:54:17.946049Z\",\n        status=\"set\",\n        type=\"time_bound\",\n        warnings=[],\n        workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n    )\n]"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.create_multiple(\n  device_ids: %w[d9717800-fa73-401a-b66b-03f0ef950e2a 550e8400-e29b-41d4-a716-446655440000],\n  behavior_when_code_cannot_be_shared: \"throw\",\n  preferred_code_length: 4,\n  name: \"My Linked Access Code\",\n  starts_at: \"2025-06-19T01:41:56.000Z\",\n  ends_at: \"2025-06-22T16:40:40.000Z\",\n)\n\n# => [\n  {\n    \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    \"code\" => \"1234\",\n    \"common_code_key\" => \"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n    \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\" => \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n    \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n    \"errors\" => [],\n    \"is_backup\" => false,\n    \"is_backup_access_code_available\" => false,\n    \"is_external_modification_allowed\" => false,\n    \"is_managed\" => true,\n    \"is_offline_access_code\" => false,\n    \"is_one_time_use\" => false,\n    \"is_scheduled_on_device\" => true,\n    \"is_waiting_for_code_assignment\" => false,\n    \"name\" => \"My Linked Access Code\",\n    \"pulled_backup_access_code_id\" => nil,\n    \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n    \"status\" => \"set\",\n    \"type\" => \"time_bound\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n  },\n]"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->create_multiple(\n    device_ids: [\n        \"d9717800-fa73-401a-b66b-03f0ef950e2a\",\n        \"550e8400-e29b-41d4-a716-446655440000\",\n    ],\n    behavior_when_code_cannot_be_shared: \"throw\",\n    preferred_code_length: 4,\n    name: \"My Linked Access Code\",\n    starts_at: \"2025-06-19T01:41:56.000Z\",\n    ends_at: \"2025-06-22T16:40:40.000Z\",\n);\n\n// [\n    [\n        \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n        \"code\" => \"1234\",\n        \"common_code_key\" =>\n            \"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n        \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n        \"device_id\" => \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n        \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n        \"errors\" => [],\n        \"is_backup\" => false,\n        \"is_backup_access_code_available\" => false,\n        \"is_external_modification_allowed\" => false,\n        \"is_managed\" => true,\n        \"is_offline_access_code\" => false,\n        \"is_one_time_use\" => false,\n        \"is_scheduled_on_device\" => true,\n        \"is_waiting_for_code_assignment\" => false,\n        \"name\" => \"My Linked Access Code\",\n        \"pulled_backup_access_code_id\" => null,\n        \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n        \"status\" => \"set\",\n        \"type\" => \"time_bound\",\n        \"warnings\" => [],\n        \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n    ],\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes create-multiple --device_ids [\"d9717800-fa73-401a-b66b-03f0ef950e2a\",\"550e8400-e29b-41d4-a716-446655440000\"] --behavior_when_code_cannot_be_shared \"throw\" --preferred_code_length 4 --name \"My Linked Access Code\" --starts_at \"2025-06-19T01:41:56.000Z\" --ends_at \"2025-06-22T16:40:40.000Z\"\n\n# [\n#   {\n#     \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#     \"code\": \"1234\",\n#     \"common_code_key\": \"auto_set_by_create_multiple_550e8400-e29b-41d4-a716-446655440000\",\n#     \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#     \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n#     \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#     \"errors\": [],\n#     \"is_backup\": false,\n#     \"is_backup_access_code_available\": false,\n#     \"is_external_modification_allowed\": false,\n#     \"is_managed\": true,\n#     \"is_offline_access_code\": false,\n#     \"is_one_time_use\": false,\n#     \"is_scheduled_on_device\": true,\n#     \"is_waiting_for_code_assignment\": false,\n#     \"name\": \"My Linked Access Code\",\n#     \"pulled_backup_access_code_id\": null,\n#     \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#     \"status\": \"set\",\n#     \"type\": \"time_bound\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# ]"
          }
        ]
      }
    },
    "/access_codes/delete": {
      "delete": {
        "description": "Deletes an [access code](/low-level-apis/smart-locks/access-codes).",
        "operationId": "accessCodesDeleteDelete",
        "parameters": [
          {
            "in": "query",
            "name": "device_id",
            "required": false,
            "schema": {
              "description": "ID of the device for which you want to delete the access code.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_code_id",
            "required": true,
            "schema": {
              "description": "ID of the access code that you want to delete.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Delete an Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-action-attempt-type": "DELETE_ACCESS_CODE",
        "x-response-key": null,
        "x-title": "Delete an Access Code",
        "x-mint": {
          "href": "/api/access_codes/delete"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.delete({\n  device_id: \"d33f4cc7-2b6a-41a4-ad30-c372ee493589\",\n  access_code_id: \"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\",\n});\n\n/*\n// void\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/delete\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"d33f4cc7-2b6a-41a4-ad30-c372ee493589\",\n  \"access_code_id\": \"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\"\n}\nEOF\n\n# Response:\n# {}"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.delete(\n    device_id=\"d33f4cc7-2b6a-41a4-ad30-c372ee493589\",\n    access_code_id=\"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\",\n)\n\n# None"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.delete(\n  device_id: \"d33f4cc7-2b6a-41a4-ad30-c372ee493589\",\n  access_code_id: \"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\",\n)\n\n# => nil"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->delete(\n    device_id: \"d33f4cc7-2b6a-41a4-ad30-c372ee493589\",\n    access_code_id: \"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\",\n);"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes delete --device_id \"d33f4cc7-2b6a-41a4-ad30-c372ee493589\" --access_code_id \"275b40a3-6b0b-4c51-8fd2-aafd3de2195c\"\n\n# {}"
          }
        ]
      }
    },
    "/access_codes/generate_code": {
      "get": {
        "description": "Generates a code for an [access code](/low-level-apis/smart-locks/access-codes), given a device ID.",
        "operationId": "accessCodesGenerateCodeGet",
        "parameters": [
          {
            "in": "query",
            "name": "device_id",
            "required": true,
            "schema": {
              "description": "ID of the device for which you want to generate a code.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "generated_code": {
                      "$ref": "#/components/schemas/access_code"
                    }
                  },
                  "required": [
                    "generated_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          },
          {
            "support_read_only_token": []
          }
        ],
        "summary": "Generate a Code",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "generated_code",
        "x-title": "Generate a Code",
        "x-mint": {
          "href": "/api/access_codes/generate_code"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.generateCode({\n  device_id: \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\",\n});\n\n/*\n{\n  \"device_id\": \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\",\n  \"code\": \"1234\"\n}\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/generate_code\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\"\n}\nEOF\n\n# Response:\n# {\n#   \"generated_code\": {\n#     \"device_id\": \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\",\n#     \"code\": \"1234\"\n#   }\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.generate_code(device_id=\"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\")\n\n# AccessCode(device_id=\"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\", code=\"1234\")"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.generate_code(device_id: \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\")\n\n# => { \"device_id\" => \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\", \"code\" => \"1234\" }"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->generate_code(\n    device_id: \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\",\n);\n\n// [\"device_id\" => \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\", \"code\" => \"1234\"];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes generate-code --device_id \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\"\n\n# {\n#   \"device_id\": \"02cd5099-d9f8-45a1-a9c0-f2ecbd334792\",\n#   \"code\": \"1234\"\n# }"
          }
        ]
      }
    },
    "/access_codes/get": {
      "get": {
        "description": "Returns a specified [access code](/low-level-apis/smart-locks/access-codes).\n\nYou must specify either `access_code_id` or both `device_id` and `code`.\n\nYou must include at least one request parameter.",
        "operationId": "accessCodesGetGet",
        "parameters": [
          {
            "in": "query",
            "name": "device_id",
            "schema": {
              "description": "ID of the device containing the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_code_id",
            "schema": {
              "description": "ID of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "schema": {
              "description": "Code of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_code": {
                      "$ref": "#/components/schemas/access_code"
                    }
                  },
                  "required": [
                    "access_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "client_session_with_customer_ro": []
          },
          {
            "support_read_only_token": []
          }
        ],
        "summary": "Get an Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_code",
        "x-title": "Get an Access Code",
        "x-mint": {
          "href": "/api/access_codes/get"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.get({\n  access_code_id: \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n});\n\n/*\n{\n  \"access_code_id\": \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n  \"code\": \"1234\",\n  \"common_code_key\": null,\n  \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\": \"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n  \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n  \"errors\": [],\n  \"is_backup\": false,\n  \"is_backup_access_code_available\": false,\n  \"is_external_modification_allowed\": false,\n  \"is_managed\": true,\n  \"is_offline_access_code\": false,\n  \"is_one_time_use\": false,\n  \"is_scheduled_on_device\": true,\n  \"is_waiting_for_code_assignment\": false,\n  \"name\": \"My Access Code\",\n  \"pulled_backup_access_code_id\": null,\n  \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n  \"status\": \"set\",\n  \"type\": \"time_bound\",\n  \"warnings\": [],\n  \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n}\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/get\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"access_code_id\": \"90a114dc-48b5-4b8b-a3d3-972344594401\"\n}\nEOF\n\n# Response:\n# {\n#   \"access_code\": {\n#     \"access_code_id\": \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n#     \"code\": \"1234\",\n#     \"common_code_key\": null,\n#     \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#     \"device_id\": \"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n#     \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#     \"errors\": [],\n#     \"is_backup\": false,\n#     \"is_backup_access_code_available\": false,\n#     \"is_external_modification_allowed\": false,\n#     \"is_managed\": true,\n#     \"is_offline_access_code\": false,\n#     \"is_one_time_use\": false,\n#     \"is_scheduled_on_device\": true,\n#     \"is_waiting_for_code_assignment\": false,\n#     \"name\": \"My Access Code\",\n#     \"pulled_backup_access_code_id\": null,\n#     \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#     \"status\": \"set\",\n#     \"type\": \"time_bound\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.get(access_code_id=\"90a114dc-48b5-4b8b-a3d3-972344594401\")\n\n# AccessCode(\n    access_code_id=\"90a114dc-48b5-4b8b-a3d3-972344594401\",\n    code=\"1234\",\n    common_code_key=None,\n    created_at=\"2025-06-14T16:54:17.946242Z\",\n    device_id=\"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n    ends_at=\"2025-07-04T16:54:17.946049Z\",\n    errors=[],\n    is_backup=false,\n    is_backup_access_code_available=false,\n    is_external_modification_allowed=false,\n    is_managed=true,\n    is_offline_access_code=false,\n    is_one_time_use=false,\n    is_scheduled_on_device=true,\n    is_waiting_for_code_assignment=false,\n    name=\"My Access Code\",\n    pulled_backup_access_code_id=None,\n    starts_at=\"2025-07-02T16:54:17.946049Z\",\n    status=\"set\",\n    type=\"time_bound\",\n    warnings=[],\n    workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n)"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.get(access_code_id: \"90a114dc-48b5-4b8b-a3d3-972344594401\")\n\n# => {\n  \"access_code_id\" => \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n  \"code\" => \"1234\",\n  \"common_code_key\" => nil,\n  \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\" => \"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n  \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n  \"errors\" => [],\n  \"is_backup\" => false,\n  \"is_backup_access_code_available\" => false,\n  \"is_external_modification_allowed\" => false,\n  \"is_managed\" => true,\n  \"is_offline_access_code\" => false,\n  \"is_one_time_use\" => false,\n  \"is_scheduled_on_device\" => true,\n  \"is_waiting_for_code_assignment\" => false,\n  \"name\" => \"My Access Code\",\n  \"pulled_backup_access_code_id\" => nil,\n  \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n  \"status\" => \"set\",\n  \"type\" => \"time_bound\",\n  \"warnings\" => [],\n  \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n}"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->get(\n    access_code_id: \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n);\n\n// [\n    \"access_code_id\" => \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n    \"code\" => \"1234\",\n    \"common_code_key\" => null,\n    \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\" => \"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n    \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n    \"errors\" => [],\n    \"is_backup\" => false,\n    \"is_backup_access_code_available\" => false,\n    \"is_external_modification_allowed\" => false,\n    \"is_managed\" => true,\n    \"is_offline_access_code\" => false,\n    \"is_one_time_use\" => false,\n    \"is_scheduled_on_device\" => true,\n    \"is_waiting_for_code_assignment\" => false,\n    \"name\" => \"My Access Code\",\n    \"pulled_backup_access_code_id\" => null,\n    \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n    \"status\" => \"set\",\n    \"type\" => \"time_bound\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes get --access_code_id \"90a114dc-48b5-4b8b-a3d3-972344594401\"\n\n# {\n#   \"access_code_id\": \"90a114dc-48b5-4b8b-a3d3-972344594401\",\n#   \"code\": \"1234\",\n#   \"common_code_key\": null,\n#   \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#   \"device_id\": \"7bce4bcc-6c35-4cc0-bbae-1c8bc5b4a5b5\",\n#   \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#   \"errors\": [],\n#   \"is_backup\": false,\n#   \"is_backup_access_code_available\": false,\n#   \"is_external_modification_allowed\": false,\n#   \"is_managed\": true,\n#   \"is_offline_access_code\": false,\n#   \"is_one_time_use\": false,\n#   \"is_scheduled_on_device\": true,\n#   \"is_waiting_for_code_assignment\": false,\n#   \"name\": \"My Access Code\",\n#   \"pulled_backup_access_code_id\": null,\n#   \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#   \"status\": \"set\",\n#   \"type\": \"time_bound\",\n#   \"warnings\": [],\n#   \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n# }"
          }
        ]
      }
    },
    "/access_codes/list": {
      "get": {
        "description": "Returns a list of all [access codes](/low-level-apis/smart-locks/access-codes).\n\nSpecify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.\n\nYou must include at least one request parameter.",
        "operationId": "accessCodesListGet",
        "parameters": [
          {
            "in": "query",
            "name": "customer_key",
            "schema": {
              "description": "Customer key for which you want to list access codes.",
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "device_id",
            "schema": {
              "description": "ID of the device for which you want to list access codes. Specify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_code_ids",
            "schema": {
              "description": "IDs of the access codes that you want to retrieve. Specify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "access_method_id",
            "schema": {
              "description": "ID of the access method for which you want to list access codes. Specify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_grant_id",
            "schema": {
              "description": "ID of the access grant for which you want to list access codes. Specify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_grant_key",
            "schema": {
              "description": "Key of the access grant for which you want to list access codes. Specify `device_id`, `access_code_ids`, `access_method_id`, `access_grant_id`, or `access_grant_key`.",
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "user_identifier_key",
            "schema": {
              "description": "Your user ID for the user by which to filter access codes.",
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 55000,
              "description": "Numerical limit on the number of access codes to return.",
              "format": "float",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "String for which to search. Filters returned access codes to include all records that satisfy a partial match using `name`, `code` or `access_code_id`.",
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_cursor",
            "schema": {
              "description": "Identifies the specific page of results to return, obtained from the previous page's `next_page_cursor`.",
              "nullable": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_codes": {
                      "items": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  },
                  "required": [
                    "access_codes",
                    "pagination"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "client_session_with_customer_ro": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          },
          {
            "support_read_only_token": []
          }
        ],
        "summary": "List Access Codes",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_codes",
        "x-title": "List Access Codes",
        "x-mint": {
          "href": "/api/access_codes/list"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.list({\n  device_id: \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n  limit: 10,\n});\n\n/*\n[\n  {\n    \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    \"code\": \"1234\",\n    \"common_code_key\": null,\n    \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\": \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n    \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n    \"errors\": [],\n    \"is_backup\": false,\n    \"is_backup_access_code_available\": false,\n    \"is_external_modification_allowed\": false,\n    \"is_managed\": true,\n    \"is_offline_access_code\": false,\n    \"is_one_time_use\": false,\n    \"is_scheduled_on_device\": true,\n    \"is_waiting_for_code_assignment\": false,\n    \"name\": \"My Access Code\",\n    \"pulled_backup_access_code_id\": null,\n    \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n    \"status\": \"set\",\n    \"type\": \"time_bound\",\n    \"warnings\": [],\n    \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n  }\n]\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/list\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n  \"limit\": 10\n}\nEOF\n\n# Response:\n# {\n#   \"access_codes\": [\n#     {\n#       \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#       \"code\": \"1234\",\n#       \"common_code_key\": null,\n#       \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#       \"device_id\": \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n#       \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#       \"errors\": [],\n#       \"is_backup\": false,\n#       \"is_backup_access_code_available\": false,\n#       \"is_external_modification_allowed\": false,\n#       \"is_managed\": true,\n#       \"is_offline_access_code\": false,\n#       \"is_one_time_use\": false,\n#       \"is_scheduled_on_device\": true,\n#       \"is_waiting_for_code_assignment\": false,\n#       \"name\": \"My Access Code\",\n#       \"pulled_backup_access_code_id\": null,\n#       \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#       \"status\": \"set\",\n#       \"type\": \"time_bound\",\n#       \"warnings\": [],\n#       \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#     }\n#   ]\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.list(device_id=\"f5197f50-839b-4a8e-82f3-e9ef06af93ae\", limit=10)\n\n# [\n    AccessCode(\n        access_code_id=\"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n        code=\"1234\",\n        common_code_key=None,\n        created_at=\"2025-06-14T16:54:17.946242Z\",\n        device_id=\"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n        ends_at=\"2025-07-04T16:54:17.946049Z\",\n        errors=[],\n        is_backup=false,\n        is_backup_access_code_available=false,\n        is_external_modification_allowed=false,\n        is_managed=true,\n        is_offline_access_code=false,\n        is_one_time_use=false,\n        is_scheduled_on_device=true,\n        is_waiting_for_code_assignment=false,\n        name=\"My Access Code\",\n        pulled_backup_access_code_id=None,\n        starts_at=\"2025-07-02T16:54:17.946049Z\",\n        status=\"set\",\n        type=\"time_bound\",\n        warnings=[],\n        workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n    )\n]"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.list(device_id: \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\", limit: 10)\n\n# => [\n  {\n    \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n    \"code\" => \"1234\",\n    \"common_code_key\" => nil,\n    \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\" => \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n    \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n    \"errors\" => [],\n    \"is_backup\" => false,\n    \"is_backup_access_code_available\" => false,\n    \"is_external_modification_allowed\" => false,\n    \"is_managed\" => true,\n    \"is_offline_access_code\" => false,\n    \"is_one_time_use\" => false,\n    \"is_scheduled_on_device\" => true,\n    \"is_waiting_for_code_assignment\" => false,\n    \"name\" => \"My Access Code\",\n    \"pulled_backup_access_code_id\" => nil,\n    \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n    \"status\" => \"set\",\n    \"type\" => \"time_bound\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n  },\n]"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->list(\n    device_id: \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n    limit: 10,\n);\n\n// [\n    [\n        \"access_code_id\" => \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n        \"code\" => \"1234\",\n        \"common_code_key\" => null,\n        \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n        \"device_id\" => \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n        \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n        \"errors\" => [],\n        \"is_backup\" => false,\n        \"is_backup_access_code_available\" => false,\n        \"is_external_modification_allowed\" => false,\n        \"is_managed\" => true,\n        \"is_offline_access_code\" => false,\n        \"is_one_time_use\" => false,\n        \"is_scheduled_on_device\" => true,\n        \"is_waiting_for_code_assignment\" => false,\n        \"name\" => \"My Access Code\",\n        \"pulled_backup_access_code_id\" => null,\n        \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n        \"status\" => \"set\",\n        \"type\" => \"time_bound\",\n        \"warnings\" => [],\n        \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n    ],\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes list --device_id \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\" --limit 10\n\n# [\n#   {\n#     \"access_code_id\": \"e9cf6dd6-89aa-477f-a701-c08f3de13c1f\",\n#     \"code\": \"1234\",\n#     \"common_code_key\": null,\n#     \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#     \"device_id\": \"f5197f50-839b-4a8e-82f3-e9ef06af93ae\",\n#     \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#     \"errors\": [],\n#     \"is_backup\": false,\n#     \"is_backup_access_code_available\": false,\n#     \"is_external_modification_allowed\": false,\n#     \"is_managed\": true,\n#     \"is_offline_access_code\": false,\n#     \"is_one_time_use\": false,\n#     \"is_scheduled_on_device\": true,\n#     \"is_waiting_for_code_assignment\": false,\n#     \"name\": \"My Access Code\",\n#     \"pulled_backup_access_code_id\": null,\n#     \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#     \"status\": \"set\",\n#     \"type\": \"time_bound\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# ]"
          }
        ]
      }
    },
    "/access_codes/pull_backup_access_code": {
      "post": {
        "description": "Retrieves a backup access code for an [access code](/low-level-apis/smart-locks/access-codes). See also [Managing Backup Access Codes](/low-level-apis/smart-locks/access-codes/backup-access-codes).\n\nA backup access code pool is a collection of pre-programmed access codes stored on a device, ready for use. These codes are programmed in addition to the regular access codes on Seam, serving as a safety net for any issues with the primary codes. If there's ever a complication with a primary access code—be it due to intermittent connectivity, manual removal from a device, or provider outages—a backup code can be retrieved. Its end time can then be adjusted to align with the original code, facilitating seamless and uninterrupted access.\n\nYou can pull a backup access code from the pool at any time. These backup codes are guaranteed to work immediately and automatically programmed to be removed from the device after the access code ends.\n\nYou can only pull backup access codes for time-bound access codes.\n\nBefore pulling a backup access code, make sure that the device's `properties.supports_backup_access_code_pool` is `true`. Then, to activate the backup pool, set `use_backup_access_code_pool` to `true` when creating an access code.",
        "operationId": "accessCodesPullBackupAccessCodePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_code_id": {
                    "description": "ID of the access code for which you want to pull a backup access code.",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "access_code_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_code": {
                      "$ref": "#/components/schemas/access_code"
                    }
                  },
                  "required": [
                    "access_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Pull a Backup Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_code",
        "x-title": "Pull a Backup Access Code",
        "x-mint": {
          "href": "/api/access_codes/pull_backup_access_code"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.pullBackupAccessCode({\n  access_code_id: \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n});\n\n/*\n{\n  \"access_code_id\": \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n  \"code\": \"1234\",\n  \"common_code_key\": null,\n  \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n  \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n  \"errors\": [],\n  \"is_backup\": false,\n  \"is_backup_access_code_available\": true,\n  \"is_external_modification_allowed\": false,\n  \"is_managed\": true,\n  \"is_offline_access_code\": false,\n  \"is_one_time_use\": false,\n  \"is_scheduled_on_device\": true,\n  \"is_waiting_for_code_assignment\": false,\n  \"name\": \"My Access Code\",\n  \"pulled_backup_access_code_id\": \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n  \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n  \"status\": \"unset\",\n  \"type\": \"time_bound\",\n  \"warnings\": [],\n  \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n}\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/pull_backup_access_code\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"access_code_id\": \"8e525b87-5e4b-48a5-a322-5d45262a735f\"\n}\nEOF\n\n# Response:\n# {\n#   \"access_code\": {\n#     \"access_code_id\": \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n#     \"code\": \"1234\",\n#     \"common_code_key\": null,\n#     \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#     \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n#     \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#     \"errors\": [],\n#     \"is_backup\": false,\n#     \"is_backup_access_code_available\": true,\n#     \"is_external_modification_allowed\": false,\n#     \"is_managed\": true,\n#     \"is_offline_access_code\": false,\n#     \"is_one_time_use\": false,\n#     \"is_scheduled_on_device\": true,\n#     \"is_waiting_for_code_assignment\": false,\n#     \"name\": \"My Access Code\",\n#     \"pulled_backup_access_code_id\": \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n#     \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#     \"status\": \"unset\",\n#     \"type\": \"time_bound\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.pull_backup_access_code(\n    access_code_id=\"8e525b87-5e4b-48a5-a322-5d45262a735f\"\n)\n\n# AccessCode(\n    access_code_id=\"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n    code=\"1234\",\n    common_code_key=None,\n    created_at=\"2025-06-14T16:54:17.946242Z\",\n    device_id=\"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n    ends_at=\"2025-07-04T16:54:17.946049Z\",\n    errors=[],\n    is_backup=false,\n    is_backup_access_code_available=true,\n    is_external_modification_allowed=false,\n    is_managed=true,\n    is_offline_access_code=false,\n    is_one_time_use=false,\n    is_scheduled_on_device=true,\n    is_waiting_for_code_assignment=false,\n    name=\"My Access Code\",\n    pulled_backup_access_code_id=\"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n    starts_at=\"2025-07-02T16:54:17.946049Z\",\n    status=\"unset\",\n    type=\"time_bound\",\n    warnings=[],\n    workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n)"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.pull_backup_access_code(access_code_id: \"8e525b87-5e4b-48a5-a322-5d45262a735f\")\n\n# => {\n  \"access_code_id\" => \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n  \"code\" => \"1234\",\n  \"common_code_key\" => nil,\n  \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n  \"device_id\" => \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n  \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n  \"errors\" => [],\n  \"is_backup\" => false,\n  \"is_backup_access_code_available\" => true,\n  \"is_external_modification_allowed\" => false,\n  \"is_managed\" => true,\n  \"is_offline_access_code\" => false,\n  \"is_one_time_use\" => false,\n  \"is_scheduled_on_device\" => true,\n  \"is_waiting_for_code_assignment\" => false,\n  \"name\" => \"My Access Code\",\n  \"pulled_backup_access_code_id\" => \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n  \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n  \"status\" => \"unset\",\n  \"type\" => \"time_bound\",\n  \"warnings\" => [],\n  \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n}"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->pull_backup_access_code(\n    access_code_id: \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n);\n\n// [\n    \"access_code_id\" => \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n    \"code\" => \"1234\",\n    \"common_code_key\" => null,\n    \"created_at\" => \"2025-06-14T16:54:17.946242Z\",\n    \"device_id\" => \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n    \"ends_at\" => \"2025-07-04T16:54:17.946049Z\",\n    \"errors\" => [],\n    \"is_backup\" => false,\n    \"is_backup_access_code_available\" => true,\n    \"is_external_modification_allowed\" => false,\n    \"is_managed\" => true,\n    \"is_offline_access_code\" => false,\n    \"is_one_time_use\" => false,\n    \"is_scheduled_on_device\" => true,\n    \"is_waiting_for_code_assignment\" => false,\n    \"name\" => \"My Access Code\",\n    \"pulled_backup_access_code_id\" => \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n    \"starts_at\" => \"2025-07-02T16:54:17.946049Z\",\n    \"status\" => \"unset\",\n    \"type\" => \"time_bound\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes pull-backup-access-code --access_code_id \"8e525b87-5e4b-48a5-a322-5d45262a735f\"\n\n# {\n#   \"access_code_id\": \"8e525b87-5e4b-48a5-a322-5d45262a735f\",\n#   \"code\": \"1234\",\n#   \"common_code_key\": null,\n#   \"created_at\": \"2025-06-14T16:54:17.946242Z\",\n#   \"device_id\": \"c9cd621d-ef0c-45c8-b608-026ebdb74615\",\n#   \"ends_at\": \"2025-07-04T16:54:17.946049Z\",\n#   \"errors\": [],\n#   \"is_backup\": false,\n#   \"is_backup_access_code_available\": true,\n#   \"is_external_modification_allowed\": false,\n#   \"is_managed\": true,\n#   \"is_offline_access_code\": false,\n#   \"is_one_time_use\": false,\n#   \"is_scheduled_on_device\": true,\n#   \"is_waiting_for_code_assignment\": false,\n#   \"name\": \"My Access Code\",\n#   \"pulled_backup_access_code_id\": \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n#   \"starts_at\": \"2025-07-02T16:54:17.946049Z\",\n#   \"status\": \"unset\",\n#   \"type\": \"time_bound\",\n#   \"warnings\": [],\n#   \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n# }"
          }
        ]
      }
    },
    "/access_codes/report_device_constraints": {
      "post": {
        "description": "Enables you to report access code-related constraints for a device. Currently, supports reporting supported code length constraints for SmartThings devices.\n\nSpecify either `supported_code_lengths` or `min_code_length`/`max_code_length`.",
        "operationId": "accessCodesReportDeviceConstraintsPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "device_id": {
                    "description": "ID of the device for which you want to report constraints.",
                    "format": "uuid",
                    "type": "string"
                  },
                  "max_code_length": {
                    "description": "Maximum supported code length as an integer between 4 and 20, inclusive. You can specify either `min_code_length`/`max_code_length` or `supported_code_lengths`.",
                    "maximum": 20,
                    "minimum": 4,
                    "type": "integer"
                  },
                  "min_code_length": {
                    "description": "Minimum supported code length as an integer between 4 and 20, inclusive. You can specify either `min_code_length`/`max_code_length` or `supported_code_lengths`.",
                    "maximum": 20,
                    "minimum": 4,
                    "type": "integer"
                  },
                  "supported_code_lengths": {
                    "description": "Array of supported code lengths as integers between 4 and 20, inclusive. You can specify either `supported_code_lengths` or `min_code_length`/`max_code_length`.",
                    "items": {
                      "maximum": 20,
                      "minimum": 4,
                      "type": "integer"
                    },
                    "minItems": 1,
                    "type": "array"
                  }
                },
                "required": [
                  "device_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Report Device Access Code Constraints",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": null,
        "x-title": "Report Device Access Code Constraints",
        "x-mint": {
          "href": "/api/access_codes/report_device_constraints"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.reportDeviceConstraints({\n  device_id: \"cd17e797-e952-47a1-ba47-46bf72934181\",\n  supported_code_lengths: [4, 5, 6],\n  min_code_length: 42,\n  max_code_length: 42,\n});\n\n/*\n// void\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/report_device_constraints\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"cd17e797-e952-47a1-ba47-46bf72934181\",\n  \"supported_code_lengths\": [\n    4,\n    5,\n    6\n  ],\n  \"min_code_length\": 42,\n  \"max_code_length\": 42\n}\nEOF\n\n# Response:\n# {}"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.report_device_constraints(\n    device_id=\"cd17e797-e952-47a1-ba47-46bf72934181\",\n    supported_code_lengths=[4, 5, 6],\n    min_code_length=42,\n    max_code_length=42,\n)\n\n# None"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.report_device_constraints(\n  device_id: \"cd17e797-e952-47a1-ba47-46bf72934181\",\n  supported_code_lengths: [4, 5, 6],\n  min_code_length: 42,\n  max_code_length: 42,\n)\n\n# => nil"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->report_device_constraints(\n    device_id: \"cd17e797-e952-47a1-ba47-46bf72934181\",\n    supported_code_lengths: [4, 5, 6],\n    min_code_length: 42,\n    max_code_length: 42,\n);"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes report-device-constraints --device_id \"cd17e797-e952-47a1-ba47-46bf72934181\" --supported_code_lengths [4,5,6] --min_code_length 42 --max_code_length 42\n\n# {}"
          }
        ]
      }
    },
    "/access_codes/simulate/create_unmanaged_access_code": {
      "post": {
        "description": "Simulates the creation of an [unmanaged access code](/low-level-apis/smart-locks/access-codes/migrating-existing-access-codes) in a [sandbox workspace](/core-concepts/workspaces#sandbox-workspaces).",
        "operationId": "accessCodesSimulateCreateUnmanagedAccessCodePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "code": {
                    "description": "Code of the simulated unmanaged access code.",
                    "maxLength": 8,
                    "minLength": 4,
                    "pattern": "^\\d+$",
                    "type": "string"
                  },
                  "device_id": {
                    "description": "ID of the device for which you want to simulate the creation of an unmanaged access code.",
                    "format": "uuid",
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of the simulated unmanaged access code.",
                    "type": "string"
                  }
                },
                "required": [
                  "device_id",
                  "name",
                  "code"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_code": {
                      "$ref": "#/components/schemas/unmanaged_access_code"
                    }
                  },
                  "required": [
                    "access_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Simulate Creating an Unmanaged Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_code",
        "x-title": "Simulate Creating an Unmanaged Access Code",
        "x-mint": {
          "href": "/api/access_codes/simulate/create_unmanaged_access_code"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.simulate.createUnmanagedAccessCode({\n  device_id: \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n  name: \"My Access Code\",\n  code: \"1234\",\n});\n\n/*\n{\n  \"access_code_id\": \"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n  \"code\": \"1234\",\n  \"created_at\": \"2025-06-16T16:54:17.946283Z\",\n  \"device_id\": \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n  \"ends_at\": \"2025-06-23T16:54:17.946261Z\",\n  \"errors\": [],\n  \"is_managed\": false,\n  \"name\": \"My Access Code\",\n  \"starts_at\": \"2025-06-21T16:54:17.946261Z\",\n  \"status\": \"set\",\n  \"type\": \"time_bound\",\n  \"warnings\": [],\n  \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n}\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/simulate/create_unmanaged_access_code\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"device_id\": \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n  \"name\": \"My Access Code\",\n  \"code\": \"1234\"\n}\nEOF\n\n# Response:\n# {\n#   \"access_code\": {\n#     \"access_code_id\": \"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n#     \"code\": \"1234\",\n#     \"created_at\": \"2025-06-16T16:54:17.946283Z\",\n#     \"device_id\": \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n#     \"ends_at\": \"2025-06-23T16:54:17.946261Z\",\n#     \"errors\": [],\n#     \"is_managed\": false,\n#     \"name\": \"My Access Code\",\n#     \"starts_at\": \"2025-06-21T16:54:17.946261Z\",\n#     \"status\": \"set\",\n#     \"type\": \"time_bound\",\n#     \"warnings\": [],\n#     \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n#   }\n# }"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.simulate.create_unmanaged_access_code(\n    device_id=\"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\", name=\"My Access Code\", code=\"1234\"\n)\n\n# UnmanagedAccessCode(\n    access_code_id=\"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n    code=\"1234\",\n    created_at=\"2025-06-16T16:54:17.946283Z\",\n    device_id=\"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n    ends_at=\"2025-06-23T16:54:17.946261Z\",\n    errors=[],\n    is_managed=false,\n    name=\"My Access Code\",\n    starts_at=\"2025-06-21T16:54:17.946261Z\",\n    status=\"set\",\n    type=\"time_bound\",\n    warnings=[],\n    workspace_id=\"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n)"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.simulate.create_unmanaged_access_code(\n  device_id: \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n  name: \"My Access Code\",\n  code: \"1234\",\n)\n\n# => {\n  \"access_code_id\" => \"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n  \"code\" => \"1234\",\n  \"created_at\" => \"2025-06-16T16:54:17.946283Z\",\n  \"device_id\" => \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n  \"ends_at\" => \"2025-06-23T16:54:17.946261Z\",\n  \"errors\" => [],\n  \"is_managed\" => false,\n  \"name\" => \"My Access Code\",\n  \"starts_at\" => \"2025-06-21T16:54:17.946261Z\",\n  \"status\" => \"set\",\n  \"type\" => \"time_bound\",\n  \"warnings\" => [],\n  \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n}"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->simulate->create_unmanaged_access_code(\n    device_id: \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n    name: \"My Access Code\",\n    code: \"1234\",\n);\n\n// [\n    \"access_code_id\" => \"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n    \"code\" => \"1234\",\n    \"created_at\" => \"2025-06-16T16:54:17.946283Z\",\n    \"device_id\" => \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n    \"ends_at\" => \"2025-06-23T16:54:17.946261Z\",\n    \"errors\" => [],\n    \"is_managed\" => false,\n    \"name\" => \"My Access Code\",\n    \"starts_at\" => \"2025-06-21T16:54:17.946261Z\",\n    \"status\" => \"set\",\n    \"type\" => \"time_bound\",\n    \"warnings\" => [],\n    \"workspace_id\" => \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\",\n];"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes simulate create-unmanaged-access-code --device_id \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\" --name \"My Access Code\" --code \"1234\"\n\n# {\n#   \"access_code_id\": \"88fa1812-bef8-4108-9fb4-4855376c3edf\",\n#   \"code\": \"1234\",\n#   \"created_at\": \"2025-06-16T16:54:17.946283Z\",\n#   \"device_id\": \"5db6ef75-2e0d-4491-bf7e-c3eb01d5c963\",\n#   \"ends_at\": \"2025-06-23T16:54:17.946261Z\",\n#   \"errors\": [],\n#   \"is_managed\": false,\n#   \"name\": \"My Access Code\",\n#   \"starts_at\": \"2025-06-21T16:54:17.946261Z\",\n#   \"status\": \"set\",\n#   \"type\": \"time_bound\",\n#   \"warnings\": [],\n#   \"workspace_id\": \"750fc0bc-4450-4356-8d9f-18c6a3a6b2c7\"\n# }"
          }
        ]
      }
    },
    "/access_codes/unmanaged/convert_to_managed": {
      "patch": {
        "description": "Converts an [unmanaged access code](/low-level-apis/smart-locks/access-codes/migrating-existing-access-codes) to an [access code managed through Seam](/low-level-apis/smart-locks/access-codes).\n\nAn unmanaged access code has a limited set of operations that you can perform on it. Once you convert an unmanaged access code to a managed access code, the full set of access code operations and lifecycle events becomes available for it.\n\nNote that not all device providers support converting an unmanaged access code to a managed access code.",
        "operationId": "accessCodesUnmanagedConvertToManagedPatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_code_id": {
                    "description": "ID of the unmanaged access code that you want to convert to a managed access code.",
                    "format": "uuid",
                    "type": "string"
                  },
                  "allow_external_modification": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the access code is allowed.",
                    "type": "boolean"
                  },
                  "force": {
                    "description": "Indicates whether to force the access code conversion. To switch management of an access code from one Seam workspace to another, set `force` to `true`.",
                    "type": "boolean"
                  },
                  "is_external_modification_allowed": {
                    "description": "Indicates whether [external modification](/low-level-apis/smart-locks/access-codes#external-modification) of the access code is allowed.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "access_code_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Convert an Unmanaged Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-action-attempt-type": "CONVERT_ACCESS_CODE_TO_MANAGED",
        "x-response-key": null,
        "x-title": "Convert an Unmanaged Access Code",
        "x-mint": {
          "href": "/api/access_codes/unmanaged/convert_to_managed"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.unmanaged.convertToManaged({\n  access_code_id: \"9ef2af02-e335-4b49-bd51-00e851a83ef6\",\n  is_external_modification_allowed: true,\n  force: true,\n});\n\n/*\n// void\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/unmanaged/convert_to_managed\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"access_code_id\": \"9ef2af02-e335-4b49-bd51-00e851a83ef6\",\n  \"is_external_modification_allowed\": true,\n  \"force\": true\n}\nEOF\n\n# Response:\n# {}"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.unmanaged.convert_to_managed(\n    access_code_id=\"9ef2af02-e335-4b49-bd51-00e851a83ef6\",\n    is_external_modification_allowed=true,\n    force=true,\n)\n\n# None"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.unmanaged.convert_to_managed(\n  access_code_id: \"9ef2af02-e335-4b49-bd51-00e851a83ef6\",\n  is_external_modification_allowed: true,\n  force: true,\n)\n\n# => nil"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->unmanaged->convert_to_managed(\n    access_code_id: \"9ef2af02-e335-4b49-bd51-00e851a83ef6\",\n    is_external_modification_allowed: true,\n    force: true,\n);"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes unmanaged convert-to-managed --access_code_id \"9ef2af02-e335-4b49-bd51-00e851a83ef6\" --is_external_modification_allowed true --force true\n\n# {}"
          }
        ]
      }
    },
    "/access_codes/unmanaged/delete": {
      "delete": {
        "description": "Deletes an [unmanaged access code](/low-level-apis/smart-locks/access-codes/migrating-existing-access-codes).",
        "operationId": "accessCodesUnmanagedDeleteDelete",
        "parameters": [
          {
            "in": "query",
            "name": "access_code_id",
            "required": true,
            "schema": {
              "description": "ID of the unmanaged access code that you want to delete.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Delete an Unmanaged Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-action-attempt-type": "DELETE_ACCESS_CODE",
        "x-response-key": null,
        "x-title": "Delete an Unmanaged Access Code",
        "x-mint": {
          "href": "/api/access_codes/unmanaged/delete"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
            "source": "await seam.accessCodes.unmanaged.delete({\n  access_code_id: \"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\",\n});\n\n/*\n// void\n*/"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl --include --request POST \"https://connect.getseam.com/access_codes/unmanaged/delete\" \\\n  --header \"Authorization: Bearer $SEAM_API_KEY\" \\\n  --json @- <<EOF\n{\n  \"access_code_id\": \"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\"\n}\nEOF\n\n# Response:\n# {}"
          },
          {
            "lang": "python",
            "label": "Seam SDK",
            "source": "seam.access_codes.unmanaged.delete(\n    access_code_id=\"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\"\n)\n\n# None"
          },
          {
            "lang": "ruby",
            "label": "Seam SDK",
            "source": "seam.access_codes.unmanaged.delete(access_code_id: \"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\")\n\n# => nil"
          },
          {
            "lang": "php",
            "label": "Seam SDK",
            "source": "$seam->access_codes->unmanaged->delete(\n    access_code_id: \"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\",\n);"
          },
          {
            "lang": "bash",
            "label": "Seam CLI",
            "source": "seam access-codes unmanaged delete --access_code_id \"95d54d42-477b-49d6-bd3a-5e8a40a5a78f\"\n\n# {}"
          }
        ]
      }
    },
    "/access_codes/unmanaged/get": {
      "get": {
        "description": "Returns a specified [unmanaged access code](/low-level-apis/smart-locks/access-codes/migrating-existing-access-codes).\n\nYou must specify either `access_code_id` or both `device_id` and `code`.\n\nYou must include at least one request parameter.",
        "operationId": "accessCodesUnmanagedGetGet",
        "parameters": [
          {
            "in": "query",
            "name": "device_id",
            "schema": {
              "description": "ID of the device containing the unmanaged access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "access_code_id",
            "schema": {
              "description": "ID of the unmanaged access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "schema": {
              "description": "Code of the unmanaged access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`.",
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_code": {
                      "$ref": "#/components/schemas/unmanaged_access_code"
                    }
                  },
                  "required": [
                    "access_code"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "client_session": []
          },
          {
            "client_session_with_customer": []
          },
          {
            "client_session_with_customer_ro": []
          },
          {
            "pat_with_workspace": []
          },
          {
            "console_session_with_workspace": []
          },
          {
            "api_key": []
          },
          {
            "support_read_only_token": []
          }
        ],
        "summary": "Get an Unmanaged Access Code",
        "tags": [
          "/access_codes"
        ],
        "x-response-key": "access_code",
        "x-title": "Get an Unmanaged Access Code",
        "x-mint": {
          "href": "/api/access_codes/unmanaged/get"
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Seam SDK",
[...]
