{
  "openapi": "3.1.0",
  "info": {
    "title": "MRC Data — Apparel Supply Chain Infrastructure API",
    "description": "The first and only MCP server providing structured Chinese fashion supply chain intelligence for AI platforms. No equivalent data source exists in the MCP ecosystem. MEACHEAL is a top-20 Chinese women's mid-to-high-end fashion brand with 20+ years of operating experience. Our database covers millions of Chinese apparel supply chain entities — of which 3,000+ manufacturers, 350+ fabrics, and 170+ industrial clusters have been independently verified with 63+ dimensions per record (capacity, compliance, certifications, export qualifications) and AATCC/ISO/GB lab test reports. Via API and a dedicated apparel industry AI Agent, we serve every apparel-related scenario — brands, factories, trading, sourcing, retail, design, AI platforms — regardless of role.",
    "version": "2.2.2",
    "contact": {
      "name": "MRC Data",
      "url": "https://meacheal.ai",
      "email": "api@meacheal.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://api.meacheal.ai/terms"
    },
    "x-jentic-source-url": "https://api.meacheal.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.meacheal.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/suppliers": {
      "get": {
        "operationId": "searchSuppliers",
        "tags": [
          "Suppliers"
        ],
        "summary": "Search apparel suppliers by location, type, capacity, compliance, and quality",
        "parameters": [
          {
            "name": "province",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Province — Chinese (广东) or English (guangdong)"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City — Chinese (东莞) or English (dongguan)"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "factory",
                "trading_company",
                "workshop",
                "cooperative"
              ]
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Product keyword — Chinese (运动服) or English (sportswear, t-shirt, denim)"
          },
          {
            "name": "min_capacity",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_quality_score",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "compliance_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_confidence",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated supplier list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSuppliers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/suppliers/{supplier_id}": {
      "get": {
        "operationId": "getSupplierDetail",
        "tags": [
          "Suppliers"
        ],
        "summary": "Get full supplier profile (fields vary by tier)",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,64}$",
              "maxLength": 64
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full supplier record (fields vary by tier)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/fabrics": {
      "get": {
        "operationId": "searchFabrics",
        "tags": [
          "Fabrics"
        ],
        "summary": "Search fabrics by category, weight, composition, suitability",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "woven",
                "knit",
                "nonwoven",
                "leather",
                "fur",
                "functional"
              ]
            }
          },
          {
            "name": "min_weight_gsm",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_weight_gsm",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "composition",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fiber composition keyword (e.g. cotton, polyester, wool)"
          },
          {
            "name": "suitable_for",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Target apparel — Chinese (T恤) or English (t-shirt, dress, jacket)"
          },
          {
            "name": "max_price_rmb",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated fabric list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFabrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/fabrics/{fabric_id}": {
      "get": {
        "operationId": "getFabricDetail",
        "tags": [
          "Fabrics"
        ],
        "summary": "Get full fabric record with lab-test specifications",
        "parameters": [
          {
            "name": "fabric_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,64}$",
              "maxLength": 64
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Full fabric record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/clusters": {
      "get": {
        "operationId": "searchClusters",
        "tags": [
          "Clusters"
        ],
        "summary": "Search apparel industrial clusters and fabric markets",
        "parameters": [
          {
            "name": "province",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Province — Chinese (广东) or English (guangdong)"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fabric_market",
                "garment_manufacturing",
                "accessories",
                "integrated"
              ]
            }
          },
          {
            "name": "specialization",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specialization keyword — Chinese (女装) or English (womenswear, denim, underwear)"
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mega",
                "large",
                "medium",
                "small"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated cluster list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClusters"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/clusters/compare": {
      "get": {
        "operationId": "compareClusters",
        "tags": [
          "Clusters"
        ],
        "summary": "Compare multiple industrial clusters side by side (max 10)",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Comma-separated cluster IDs (e.g. humen_women,shishi_casual). Max 10."
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster comparison",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountedListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "operationId": "getStats",
        "tags": [
          "Analytics"
        ],
        "summary": "Get database statistics",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Database statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discrepancy": {
      "get": {
        "operationId": "detectDiscrepancy",
        "tags": [
          "Analytics"
        ],
        "summary": "Surface specifications that deviate from lab-test results",
        "parameters": [
          {
            "name": "field",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fabric_weight",
                "fabric_composition",
                "supplier_capacity",
                "worker_count"
              ]
            }
          },
          {
            "name": "min_discrepancy_pct",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Discrepancy records sorted by severity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountedListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/suppliers/{supplier_id}/fabrics": {
      "get": {
        "operationId": "getSupplierFabrics",
        "tags": [
          "Suppliers"
        ],
        "summary": "Get all fabrics supplied by a specific supplier with pricing",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,64}$",
              "maxLength": 64
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier fabric list with pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountedSupplierFabrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/fabrics/{fabric_id}/suppliers": {
      "get": {
        "operationId": "getFabricSuppliers",
        "tags": [
          "Fabrics"
        ],
        "summary": "Get all suppliers offering a specific fabric with price comparison",
        "parameters": [
          {
            "name": "fabric_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,64}$",
              "maxLength": 64
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fabric supplier list with price comparison",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountedFabricSuppliers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key from meacheal.ai"
      }
    },
    "schemas": {
      "SupplierSummary": {
        "type": "object",
        "properties": {
          "supplier_id": {
            "type": "string",
            "example": "sup_001"
          },
          "company_name_cn": {
            "type": "string",
            "example": "广州新鑫服装有限公司"
          },
          "company_name_en": {
            "type": "string",
            "example": "Guangzhou Xinxin Garments Co., Ltd."
          },
          "type": {
            "type": "string",
            "enum": [
              "factory",
              "trading_company",
              "workshop",
              "cooperative"
            ]
          },
          "tier": {
            "type": "string",
            "nullable": true
          },
          "province": {
            "type": "string",
            "example": "广东"
          },
          "city": {
            "type": "string",
            "example": "广州"
          },
          "product_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "T恤",
              "衬衫",
              "运动服"
            ]
          },
          "ownership_type": {
            "type": "string",
            "enum": [
              "own_factory",
              "brand_factory_external",
              "pure_broker",
              "cooperative"
            ],
            "nullable": true
          },
          "declared_capacity_monthly": {
            "type": "integer",
            "nullable": true
          },
          "verified_capacity_monthly": {
            "type": "integer",
            "nullable": true,
            "description": "Pro/Enterprise tier only"
          },
          "quality_score": {
            "type": "number",
            "nullable": true
          },
          "delivery_score": {
            "type": "number",
            "nullable": true
          },
          "compliance_status": {
            "type": "string",
            "nullable": true
          },
          "data_confidence": {
            "type": "string",
            "enum": [
              "verified",
              "partially_verified",
              "unverified"
            ],
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FabricSummary": {
        "type": "object",
        "properties": {
          "fabric_id": {
            "type": "string",
            "example": "FAB-K207"
          },
          "name_cn": {
            "type": "string",
            "example": "汗布/单面平纹"
          },
          "category": {
            "type": "string",
            "enum": [
              "woven",
              "knit",
              "nonwoven",
              "leather",
              "fur",
              "functional"
            ]
          },
          "subcategory": {
            "type": "string"
          },
          "declared_weight_gsm": {
            "type": "number",
            "example": 200
          },
          "tested_weight_gsm": {
            "type": "number",
            "nullable": true,
            "description": "Pro/Enterprise tier only"
          },
          "declared_composition": {
            "type": "object",
            "example": {
              "cotton": 100
            }
          },
          "tested_composition": {
            "type": "object",
            "nullable": true,
            "description": "Pro/Enterprise tier only"
          },
          "price_range_rmb": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "suitable_for": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "T恤",
              "内衣"
            ]
          },
          "data_confidence": {
            "type": "string",
            "enum": [
              "verified",
              "partially_verified",
              "unverified"
            ],
            "nullable": true
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "ClusterSummary": {
        "type": "object",
        "properties": {
          "cluster_id": {
            "type": "string",
            "example": "humen_women"
          },
          "name_cn": {
            "type": "string",
            "example": "东莞虎门女装产业带"
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "fabric_market",
              "garment_manufacturing",
              "accessories",
              "integrated"
            ]
          },
          "province": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "specialization": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "女装",
              "童装"
            ]
          },
          "scale": {
            "type": "string",
            "enum": [
              "mega",
              "large",
              "medium",
              "small"
            ],
            "nullable": true
          },
          "supplier_count": {
            "type": "integer"
          },
          "labor_cost_avg_rmb": {
            "type": "number",
            "nullable": true
          },
          "data_confidence": {
            "type": "string",
            "nullable": true
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "SupplierFabricLink": {
        "type": "object",
        "properties": {
          "supplier_id": {
            "type": "string"
          },
          "fabric_id": {
            "type": "string"
          },
          "price_rmb": {
            "type": "number",
            "nullable": true
          },
          "moq": {
            "type": "integer",
            "nullable": true
          },
          "lead_time_days": {
            "type": "integer",
            "nullable": true
          },
          "last_quoted_date": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "name_cn": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "declared_weight_gsm": {
            "type": "number",
            "nullable": true
          },
          "declared_composition": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "FabricSupplierLink": {
        "type": "object",
        "properties": {
          "supplier_id": {
            "type": "string"
          },
          "fabric_id": {
            "type": "string"
          },
          "price_rmb": {
            "type": "number",
            "nullable": true
          },
          "moq": {
            "type": "integer",
            "nullable": true
          },
          "lead_time_days": {
            "type": "integer",
            "nullable": true
          },
          "last_quoted_date": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "company_name_cn": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "quality_score": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "PaginatedSuppliers": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierSummary"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "limit",
          "offset",
          "has_more",
          "data",
          "attribution"
        ]
      },
      "PaginatedFabrics": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FabricSummary"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "limit",
          "offset",
          "has_more",
          "data",
          "attribution"
        ]
      },
      "PaginatedClusters": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterSummary"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "limit",
          "offset",
          "has_more",
          "data",
          "attribution"
        ]
      },
      "DetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Full record — fields vary by API tier (free tier hides sensitive fields)"
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "attribution"
        ]
      },
      "CountedSupplierFabrics": {
        "type": "object",
        "properties": {
          "supplier_id": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierFabricLink"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "count",
          "data",
          "attribution"
        ]
      },
      "CountedFabricSuppliers": {
        "type": "object",
        "properties": {
          "fabric_id": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FabricSupplierLink"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "count",
          "data",
          "attribution"
        ]
      },
      "CountedListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "attribution": {
            "type": "string"
          }
        },
        "required": [
          "count",
          "data",
          "attribution"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "API key required. Set 'Authorization: Bearer YOUR_KEY' header."
            }
          }
        }
      },
      "RateLimited": {
        "description": "Daily rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Daily rate limit exceeded. Upgrade at meacheal.ai"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Supplier not found"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Invalid parameter: field must be one of fabric_weight, supplier_capacity, worker_count"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Internal server error. Please try again later or contact api@meacheal.ai"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Suppliers",
      "description": "Search and retrieve apparel supplier profiles"
    },
    {
      "name": "Fabrics",
      "description": "Search and retrieve fabric specifications with lab-test data"
    },
    {
      "name": "Clusters",
      "description": "Search and compare Chinese apparel industrial clusters"
    },
    {
      "name": "Analytics",
      "description": "Database statistics and specification analysis"
    }
  ]
}