{
  "openapi": "3.1.0",
  "info": {
    "title": "Listings API",
    "version": "2026-09-09",
    "description": "REST API for managing business locations: sync listings across Google, Facebook, Bing and other publishers, respond to reviews, publish posts, and pull local search analytics. Authenticate with an API key from the developer dashboard.\n\nTry the sandbox day pass, no card required, when it is offered: sign up at https://listingsapi.com/signup?plan=day-pass&campaign=daypass. It covers the locations and listings endpoints and syncs only to listingsAPI demo directories. Agents can use the Day pass operations, which need no key; see https://listingsapi.com/docs/day-pass.",
    "contact": {
      "name": "Listings API support",
      "email": "support@listingsapi.com",
      "url": "https://www.listingsapi.com/contact"
    },
    "termsOfService": "https://www.listingsapi.com/terms",
    "license": {
      "name": "Proprietary (Listings API Terms of Service)",
      "url": "https://www.listingsapi.com/terms"
    },
    "x-logo": {
      "url": "https://www.listingsapi.com/favicon.svg"
    },
    "x-jentic-source-url": "https://listingsapi.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://listingsapi.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v4/countries": {
      "get": {
        "operationId": "supportedCountries",
        "summary": "List of supported countries.",
        "tags": [
          "Supporting APIs"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "supportedCountries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CountryType"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "supportedCountries": [
                      {
                        "databaseId": 13,
                        "hasCity": true,
                        "id": "Q291bnRyeToxMw==",
                        "iso": "AU",
                        "name": "Australia",
                        "states": [
                          {
                            "countryId": 13,
                            "id": "139",
                            "iso": "VIC",
                            "name": "Victoria"
                          },
                          {
                            "countryId": 13,
                            "id": "142",
                            "iso": "NSW",
                            "name": "New South Wales"
                          },
                          {
                            "countryId": 13,
                            "id": "141",
                            "iso": "QLD",
                            "name": "Queensland"
                          }
                        ]
                      },
                      {
                        "databaseId": 17,
                        "hasCity": true,
                        "id": "Q291bnRyeToxNw==",
                        "iso": "BE",
                        "name": "Belgium",
                        "states": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns every country Listings API supports along with its states/provinces and the ISO codes used when creating or updating locations."
      }
    },
    "/api/v4/sub-categories": {
      "get": {
        "operationId": "subcategories",
        "summary": "List of sub-categories.",
        "tags": [
          "Supporting APIs"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "subcategories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SubCategoryType"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "subcategories": [
                      {
                        "databaseId": 639,
                        "id": "U3ViQ2F0ZWdvcnk6NjM5",
                        "key": "3d-printing",
                        "name": "3D Printing",
                        "primary": true
                      },
                      {
                        "databaseId": 4589,
                        "id": "U3ViQ2F0ZWdvcnk6NDU4OQ==",
                        "key": "3d-printing-service",
                        "name": "3D printing service",
                        "primary": true
                      },
                      {
                        "databaseId": 3268,
                        "id": "U3ViQ2F0ZWdvcnk6MzI2OA==",
                        "key": "aadhaar-center",
                        "name": "Aadhaar center",
                        "primary": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns the full catalog of subcategories used to classify locations when creating or updating them."
      }
    },
    "/api/v4/locations-by-store-codes": {
      "get": {
        "operationId": "getLocationsByStoreCodes",
        "summary": "Get locations by the Store Codes.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "storeCodes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded array of store code strings, e.g. `[\"ACME01\",\"jio678\"]`. URL-encode the value."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "getLocationsByStoreCodes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LocationSummaryType"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "getLocationsByStoreCodes": [
                      {
                        "id": "TG9jYXRpb246MTgwMDI4OQ==",
                        "databaseId": 1800289,
                        "accountId": 62670,
                        "storeId": "ACME01",
                        "name": "Jenny Home",
                        "archived": false,
                        "street": "600 Congress Ave, Suite 200",
                        "city": "Austin",
                        "stateIso": "TX",
                        "postalCode": "78701",
                        "countryIso": "US",
                        "phone": "5125550142",
                        "categoryId": 15,
                        "subCategoryId": 1432,
                        "subCategoryName": "Restaurants",
                        "package": "PREMIUM",
                        "planId": 3797,
                        "planName": "Launch",
                        "placeActionLinks": [
                          {
                            "placeActionType": "FOOD_ORDERING",
                            "uri": "https://order.example.com",
                            "isPreferred": true,
                            "name": "locations/1944.../placeActionLinks/54ada85bc246058a",
                            "submissionStatus": "success"
                          }
                        ],
                        "discoveredPlaceActionLinks": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns full location details for one or more locations identified by their store codes."
      }
    },
    "/api/v4/locations": {
      "get": {
        "operationId": "allLocations",
        "summary": "All locations that belong to an account.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "first",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of records to return, counting forward from the start of the result set."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor to page forward from. Pass `pageInfo.endCursor`, or equivalently the `cursor` of the last edge in the previous page. Stop paging when `pageInfo.hasNextPage` is false, or when a page returns an empty `edges` array."
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of records to return, counting backward from the end of the result set."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor to page backward from, used with `last`. Pass the `cursor` of the first edge of the page you are moving back from. The response `pageInfo` has no `startCursor` field."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded filter object to narrow the result set (e.g. by approval status or sync state)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "allLocations": {
                          "type": "object",
                          "required": [
                            "edges",
                            "pageInfo"
                          ],
                          "properties": {
                            "edges": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "node",
                                  "cursor"
                                ],
                                "properties": {
                                  "node": {
                                    "$ref": "#/components/schemas/LocationSummaryConnectionType"
                                  },
                                  "cursor": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "pageInfo": {
                              "type": "object",
                              "required": [
                                "hasNextPage",
                                "hasPreviousPage"
                              ],
                              "properties": {
                                "hasNextPage": {
                                  "type": "boolean"
                                },
                                "hasPreviousPage": {
                                  "type": "boolean"
                                },
                                "endCursor": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "total": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                }
                              }
                            },
                            "totalCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "allLocations": {
                      "edges": [
                        {
                          "cursor": "TG9jYXRpb246MTgwMDI4OQ==",
                          "node": {
                            "id": "TG9jYXRpb246MTgwMDI4OQ==",
                            "databaseId": 1800289,
                            "accountId": 62670,
                            "accountName": "owner@brightsmile-dental.com",
                            "name": "Jenny Home",
                            "approved": "APPROVED",
                            "archived": false,
                            "archivalScheduledAt": null,
                            "archivedAt": null,
                            "street": "600 Congress Ave, Suite 200",
                            "city": "Austin",
                            "stateIso": "TX",
                            "stateName": "Texas",
                            "postalCode": "78701",
                            "countryIso": "US",
                            "countryCode": "1",
                            "latitude": "30.2711286",
                            "longitude": "-97.7436995",
                            "phone": "5125550142",
                            "additionalPhones": [],
                            "bizUrl": null,
                            "hideAddress": false,
                            "storeId": null,
                            "categoryId": 15,
                            "subCategoryId": 1432,
                            "subCategoryName": "Restaurants",
                            "additionalCategoryIds": [],
                            "additionalCategoryNames": [],
                            "description": "This is a standalone duplex house. A comfortable, private residence located in the Bouldin Creek neighborhood of Austin, offering spacious duplex living with easy access to the surrounding South Congress area and downtown Austin.",
                            "businessHours": [],
                            "package": "PREMIUM",
                            "planId": 3797,
                            "planName": "Launch",
                            "temporarilyClosed": false,
                            "ownerEmail": null,
                            "ownerName": null,
                            "googleVerificationStatus": {
                              "status": "NOT_CONNECTED",
                              "message": null
                            },
                            "voiceStatus": 3,
                            "uid": "3c92283c-6145-4a43-8a62-0c15fd712021",
                            "createdDate": "July 06, 2026",
                            "lastUpdatedDate": "July 06, 2026",
                            "updatedAt": "2026-07-06T18:33:29.664Z",
                            "placeActionLinks": [
                              {
                                "placeActionType": "FOOD_ORDERING",
                                "uri": "https://order.example.com",
                                "isPreferred": true,
                                "name": "locations/1944.../placeActionLinks/54ada85bc246058a",
                                "submissionStatus": "success",
                                "submissionMessage": "Already up to date on Google.",
                                "lastSubmittedAt": "2026-07-08T12:14:36Z"
                              }
                            ],
                            "discoveredPlaceActionLinks": [
                              {
                                "placeActionType": "APPOINTMENT",
                                "uri": "https://book.example.com",
                                "isPreferred": false,
                                "name": "locations/1944.../placeActionLinks/abc123",
                                "providerType": "MERCHANT",
                                "isEditable": true
                              }
                            ]
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "hasPreviousPage": false,
                        "endCursor": "TG9jYXRpb246MTgwMDI4OQ==",
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns a cursor-paginated list of locations in your account."
      },
      "post": {
        "operationId": "createLocation",
        "summary": "Create a new location.",
        "tags": [
          "Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createLocation": {
                          "$ref": "#/components/schemas/CreateLocationPayload"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "createLocation": {
                      "clientMutationId": null,
                      "success": true,
                      "errors": null,
                      "location": {
                        "id": "TG9jYXRpb246MTgwMDI5MA==",
                        "databaseId": 1800290,
                        "storeId": "ACME01",
                        "name": "Acme Kitchen",
                        "street": "123 Jump Street",
                        "city": "New York",
                        "stateIso": "NY",
                        "postalCode": "10013",
                        "countryIso": "US",
                        "phone": "6443859313",
                        "status": "PENDING",
                        "primaryGbpSiteCategoryId": null,
                        "placeActionLinks": [
                          {
                            "placeActionType": "FOOD_ORDERING",
                            "uri": "https://order.acmekitchen.example.com",
                            "isPreferred": true,
                            "name": null,
                            "submissionStatus": null
                          },
                          {
                            "placeActionType": "FOOD_TAKEOUT",
                            "uri": "https://takeout.acmekitchen.example.com",
                            "isPreferred": false,
                            "name": null,
                            "submissionStatus": null
                          }
                        ],
                        "discoveredPlaceActionLinks": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/CreateLocationInput"
                  }
                },
                "required": [
                  "input"
                ]
              },
              "example": {
                "input": {
                  "name": "Acme Kitchen",
                  "description": "Acme Kitchen is a family-owned neighborhood restaurant in downtown New York serving wood-fired pizza, hand-rolled pasta, and a short seasonal menu built around produce from nearby growers. Our dining room seats forty, takeout and delivery run until close, and the bar pours regional wine and beer on tap.",
                  "storeId": "ACME01",
                  "street": "123 Jump Street",
                  "city": "New York",
                  "stateIso": "NY",
                  "postalCode": "10013",
                  "countryIso": "US",
                  "phone": "6443859313",
                  "bizUrl": "https://acmekitchen.example.com",
                  "subCategoryId": 1432,
                  "primaryGbpSiteCategoryId": "gcid:restaurant",
                  "additionalGbpSiteCategoryIds": [
                    "gcid:pizza_restaurant"
                  ],
                  "businessHours": [
                    {
                      "day": "MONDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "TUESDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "WEDNESDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "THURSDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "FRIDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "SATURDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "10:00am",
                          "end": "02:00pm"
                        }
                      ]
                    },
                    {
                      "day": "SUNDAY",
                      "type": "CLOSED",
                      "slots": []
                    }
                  ],
                  "placeActionLinks": [
                    {
                      "placeActionType": "FOOD_ORDERING",
                      "uri": "https://order.acmekitchen.example.com",
                      "isPreferred": true
                    },
                    {
                      "placeActionType": "FOOD_TAKEOUT",
                      "uri": "https://takeout.acmekitchen.example.com"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Creates a new business location in your account and queues it for listing submission."
      }
    },
    "/api/v4/locations/search": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search for locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword matched against location name, street address, city, and store ID. Omit to page through every location."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded filter object to narrow results (for example by approval status)."
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of records to return, counting forward from the start of the result set."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor to page forward from. Pass `pageInfo.endCursor`, or equivalently the `cursor` of the last edge in the previous page. Stop paging when `pageInfo.hasNextPage` is false, or when a page returns an empty `edges` array."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "searchLocations": {
                          "type": "object",
                          "required": [
                            "edges",
                            "pageInfo"
                          ],
                          "properties": {
                            "edges": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "node",
                                  "cursor"
                                ],
                                "properties": {
                                  "node": {
                                    "$ref": "#/components/schemas/LocationSummaryConnectionType"
                                  },
                                  "cursor": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "pageInfo": {
                              "type": "object",
                              "required": [
                                "hasNextPage",
                                "hasPreviousPage"
                              ],
                              "properties": {
                                "hasNextPage": {
                                  "type": "boolean"
                                },
                                "hasPreviousPage": {
                                  "type": "boolean"
                                },
                                "endCursor": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "total": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                }
                              }
                            },
                            "totalCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "searchLocations": {
                      "edges": [
                        {
                          "cursor": "TG9jYXRpb246MTgwMDI4OQ==",
                          "node": {
                            "accountId": 62670,
                            "accountName": "owner@brightsmile-dental.com",
                            "addOns": [],
                            "additionalCategoryIds": [],
                            "additionalCategoryNames": [],
                            "additionalGbpSiteCategoryIds": [],
                            "additionalGbpSiteCategoryNames": [],
                            "additionalInfo": null,
                            "additionalPhones": [],
                            "aiAnalyticsEnabled": false,
                            "approved": "APPROVED",
                            "archivalScheduledAt": null,
                            "archived": false,
                            "archivedAt": null,
                            "bizUrl": null,
                            "bizUrlUtm": false,
                            "bookingUrl": null,
                            "businessHours": [],
                            "cancellationScheduledAt": null,
                            "categoryId": 15,
                            "city": "Austin",
                            "clientName": "owner@brightsmile-dental.com",
                            "contentPreferredLanguage": "ENGLISH",
                            "countryCode": "1",
                            "countryIso": "US",
                            "createErrors": [],
                            "createdDate": "July 06, 2026",
                            "customAttributes": [],
                            "databaseId": 1800289,
                            "defaultAgencyTag": "ownerbrightsmiledentalcom",
                            "description": "This is a standalone duplex house. A comfortable, private residence located in the Bouldin Creek neighborhood of Austin.",
                            "discoveredPlaceActionLinks": [],
                            "enabledSiteIds": [],
                            "facebookUrl": null,
                            "franchise": false,
                            "googleAdsPhone": null,
                            "googleVerificationStatus": {
                              "message": null,
                              "status": "NOT_CONNECTED"
                            },
                            "googleplusUrl": null,
                            "hideAddress": false,
                            "id": "TG9jYXRpb246MTgwMDI4OQ==",
                            "instagramUrl": null,
                            "isRestaurant": true,
                            "lastUpdatedDate": "July 06, 2026",
                            "latitude": "30.2711286",
                            "linkedinUrl": null,
                            "locationPhotos": [],
                            "longitude": "-97.7436995",
                            "managedServiceSiteBuckets": [],
                            "managedServiceSites": [],
                            "moreHours": [],
                            "name": "Jenny Home",
                            "offeringsUrl": null,
                            "ownerEmail": null,
                            "ownerName": null,
                            "package": "PREMIUM",
                            "paymentMethods": [],
                            "phone": "5125550142",
                            "pinterestUrl": null,
                            "placeActionLinks": [],
                            "planId": 3797,
                            "planName": "Launch",
                            "postalCode": "78701",
                            "primaryGbpSiteCategoryId": null,
                            "primaryGbpSiteCategoryName": null,
                            "publisherAttributes": [],
                            "reservationUrl": null,
                            "serviceArea": null,
                            "serviceItems": [],
                            "stateIso": "TX",
                            "stateName": "Texas",
                            "storeId": null,
                            "street": "600 Congress Ave, Suite 200",
                            "street1": null,
                            "subCategoryId": 1432,
                            "subCategoryName": "Restaurants",
                            "tagline": null,
                            "temporarilyClosed": false,
                            "tiktokUrl": null,
                            "toplineMessage": null,
                            "twitterUrl": null,
                            "uid": "3c92283c-6145-4a43-8a62-0c15fd712021",
                            "updatedAt": "2026-07-06T18:33:29.664Z",
                            "videos": [],
                            "voiceStatus": 3,
                            "yearOfIncorporation": null,
                            "youtubeUrl": null
                          }
                        }
                      ],
                      "pageInfo": {
                        "endCursor": "TG9jYXRpb246MTgwMDI4OQ==",
                        "hasNextPage": false,
                        "hasPreviousPage": false,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns a cursor-paginated list of locations matching a keyword, searchable by name, address, or store ID."
      }
    },
    "/api/v4/locations-by-ids": {
      "get": {
        "operationId": "getLocationsByIds",
        "summary": "Fetch location info via cursor ids.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "getLocationsByIds": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LocationSummaryType"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "getLocationsByIds": [
                      {
                        "id": "TG9jYXRpb246MTgwMDI4OQ==",
                        "databaseId": 1800289,
                        "accountId": 62670,
                        "storeId": null,
                        "name": "Jenny Home",
                        "archived": false,
                        "archivedAt": null,
                        "street": "600 Congress Ave, Suite 200",
                        "city": "Austin",
                        "stateIso": "TX",
                        "postalCode": "78701",
                        "countryIso": "US",
                        "countryCode": "1",
                        "latitude": "30.2711286",
                        "longitude": "-97.7436995",
                        "phone": "5125550142",
                        "additionalPhones": [],
                        "bizUrl": null,
                        "hideAddress": false,
                        "categoryId": 15,
                        "subCategoryId": 1432,
                        "subCategoryName": "Restaurants",
                        "additionalCategoryIds": [],
                        "description": "This is a standalone duplex house. A comfortable, private residence located in the Bouldin Creek neighborhood of Austin, offering spacious duplex living with easy access to the surrounding South Congress area and downtown Austin.",
                        "contentPreferredLanguage": "ENGLISH",
                        "businessHours": [],
                        "moreHours": [],
                        "package": "PREMIUM",
                        "planId": 3797,
                        "planName": "Launch",
                        "temporarilyClosed": false,
                        "ownerName": null,
                        "ownerEmail": null,
                        "paymentMethods": [],
                        "locationPhotos": [],
                        "isRestaurant": true,
                        "voiceStatus": 3,
                        "yearOfIncorporation": null,
                        "placeActionLinks": [
                          {
                            "placeActionType": "FOOD_ORDERING",
                            "uri": "https://order.example.com",
                            "isPreferred": true,
                            "name": "locations/1944.../placeActionLinks/54ada85bc246058a",
                            "submissionStatus": "success",
                            "submissionMessage": "Already up to date on Google.",
                            "lastSubmittedAt": "2026-07-08T12:14:36Z"
                          }
                        ],
                        "discoveredPlaceActionLinks": [
                          {
                            "placeActionType": "APPOINTMENT",
                            "uri": "https://book.example.com",
                            "isPreferred": false,
                            "name": "locations/1944.../placeActionLinks/abc123",
                            "providerType": "MERCHANT",
                            "isEditable": true
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns full location information for a specified set of location IDs in one request."
      }
    },
    "/api/v4/locations/update": {
      "post": {
        "operationId": "updateLocation",
        "summary": "Update information on a location.",
        "tags": [
          "Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updateLocation": {
                          "$ref": "#/components/schemas/UpdateLocationPayload"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "updateLocation": {
                      "clientMutationId": null,
                      "success": true,
                      "errors": null,
                      "location": {
                        "id": "TG9jYXRpb246MTgwMDI4OQ==",
                        "databaseId": 1800289,
                        "name": "Jenny Home",
                        "street": "600 Congress Ave, Suite 200",
                        "city": "Austin",
                        "stateIso": "TX",
                        "countryIso": "US",
                        "postalCode": "78701",
                        "phone": "5125550199",
                        "storeId": null,
                        "status": "APPROVED",
                        "placeActionLinks": [
                          {
                            "placeActionType": "FOOD_ORDERING",
                            "uri": "https://order.example.com",
                            "isPreferred": true,
                            "name": null,
                            "submissionStatus": null
                          }
                        ],
                        "discoveredPlaceActionLinks": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/UpdateLocationInput"
                  }
                },
                "required": [
                  "input"
                ]
              },
              "example": {
                "input": {
                  "id": "TG9jYXRpb246MTgwMDI4OQ==",
                  "phone": "5125550199",
                  "bizUrl": "https://acmekitchen.example.com",
                  "primaryGbpSiteCategoryId": "gcid:restaurant",
                  "businessHours": [
                    {
                      "day": "MONDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "TUESDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "WEDNESDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "THURSDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "FRIDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "09:00am",
                          "end": "05:00pm"
                        }
                      ]
                    },
                    {
                      "day": "SATURDAY",
                      "type": "OPEN",
                      "slots": [
                        {
                          "start": "10:00am",
                          "end": "02:00pm"
                        }
                      ]
                    },
                    {
                      "day": "SUNDAY",
                      "type": "CLOSED",
                      "slots": []
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Updates writable fields on an existing location. Only the fields you send are changed."
      }
    },
    "/api/v4/locations/archive": {
      "post": {
        "operationId": "archiveLocations",
        "summary": "Archive locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "archiveLocations": {
                          "$ref": "#/components/schemas/ArchiveLocationsPayload"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "archiveLocations": {
                      "clientMutationId": null,
                      "bulkEditTaskId": null,
                      "errors": null,
                      "success": null,
                      "result": [
                        {
                          "locationId": "TG9jYXRpb246MTgwMDI4OQ==",
                          "status": "ARCHIVE_SCHEDULED",
                          "success": true,
                          "errors": null
                        },
                        {
                          "locationId": "TG9jYXRpb246MTgwMDI5MA==",
                          "status": "ARCHIVE_SCHEDULED",
                          "success": true,
                          "errors": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/ArchiveLocationsInput"
                  }
                },
                "required": [
                  "input"
                ]
              },
              "example": {
                "input": {
                  "locationIds": [
                    "TG9jYXRpb246MTgwMDI4OQ==",
                    "TG9jYXRpb246MTgwMDI5MA=="
                  ]
                }
              }
            }
          }
        },
        "description": "Schedules one or more locations for archival at the end of the current billing cycle."
      }
    },
    "/api/v4/locations/cancel_archive": {
      "post": {
        "operationId": "cancelLocationsArchive",
        "summary": "Cancel archival of locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "cancelLocationsArchive": {
                          "$ref": "#/components/schemas/CancelLocationsArchivePayload"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "cancelLocationsArchive": {
                      "clientMutationId": null,
                      "bulkEditTaskId": null,
                      "errors": null,
                      "success": null,
                      "result": [
                        {
                          "locationId": "TG9jYXRpb246MTgwMDI4OQ==",
                          "status": "ACTIVE",
                          "success": true,
                          "errors": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/CancelLocationsArchiveInput"
                  }
                },
                "required": [
                  "input"
                ]
              },
              "example": {
                "input": {
                  "locationIds": [
                    "TG9jYXRpb246MTgwMDI4OQ=="
                  ]
                }
              }
            }
          }
        },
        "description": "Cancels a pending archival for locations in ARCHIVE_SCHEDULED status, restoring them to active."
      }
    },
    "/api/v4/posts/{postId}": {
      "get": {
        "operationId": "socialPostView",
        "summary": "Individual social post view page.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded social post ID (e.g. from the `id` field of a posts list, or the `socialPost.id` returned by POST /posts)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "socialPostView": {
                          "$ref": "#/components/schemas/SocialPostView"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "socialPostView": {
                      "socialPostId": "U29jaWFsUG9zdDo0NDEyMg==",
                      "socialPostInfo": {
                        "id": "U29jaWFsUG9zdDo0NDEyMg==",
                        "name": "Summer Hours Update",
                        "status": "SUCCESS",
                        "type": "ANNOUNCEMENT",
                        "createdAt": "2026-06-28",
                        "scheduledStartDate": "2026-06-28",
                        "scheduledEndDate": "2026-07-28",
                        "views": 128,
                        "clicks": 14,
                        "shares": 0,
                        "reactions": 3,
                        "comments": 1,
                        "sites": [
                          "GOOGLE"
                        ],
                        "message": [
                          {
                            "site": "GOOGLE",
                            "message": "We have extended our summer hours! Open until 9pm on weekdays."
                          }
                        ],
                        "cta": [
                          {
                            "type": {
                              "value": "LEARN_MORE",
                              "label": "Learn more"
                            },
                            "url": "https://jennyhome.example/hours",
                            "site": "GOOGLE",
                            "tinyUrl": "https://tiny.cc/jh-hours"
                          }
                        ],
                        "contextInfo": null,
                        "mediaUrl": [
                          {
                            "url": "https://cdn.listingsapi.com/posts/44122/summer.jpg",
                            "site": "GOOGLE",
                            "type": "IMAGE"
                          }
                        ],
                        "publishDetails": [
                          {
                            "site": "GOOGLE",
                            "status": "PUBLISHED",
                            "createdDate": "2026-06-28",
                            "publishedDate": "2026-06-28",
                            "submissionError": null
                          }
                        ],
                        "postLinks": [
                          {
                            "site": "GOOGLE",
                            "link": "https://www.google.com/maps/place/?post=44122"
                          }
                        ],
                        "locationIds": [
                          1800289
                        ]
                      },
                      "publishedLocationsCount": 1,
                      "socialPostAnalyticsBySite": [
                        {
                          "site": "GOOGLE",
                          "views": 128,
                          "clicks": 14,
                          "reactions": 3,
                          "shares": 0,
                          "comments": 1
                        }
                      ],
                      "socialPostAnalyticsByLocationId": [
                        {
                          "locationId": 1800289,
                          "siteStats": [
                            {
                              "site": "GOOGLE",
                              "status": "PUBLISHED",
                              "views": 128,
                              "clicks": 14,
                              "reactions": 3,
                              "shares": 0,
                              "comments": 1
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "description": "Returns a single social post campaign with its content, per-site publish status, and engagement analytics."
      },
      "delete": {
        "operationId": "deleteSocialPost",
        "summary": "Delete a social post.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded social post ID to delete (the `id` from a posts list or the create response)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleteSocialPost": {
                          "$ref": "#/components/schemas/DeleteSocialPostMutation"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "deleteSocialPost": {
                      "success": true,
                      "socialPostId": "U29jaWFsUG9zdDo0NDEyMg=="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientMutationId": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "clientMutationId": "delete-44122-req-1"
              }
            }
          }
        },
        "description": "Permanently deletes a social post campaign and removes it from every site it was published to."
      }
    },
    "/api/v4/posts": {
      "post": {
        "operationId": "createSocialPost",
        "summary": "Create social posts for multiple locations.",
        "tags": [
          "Posts"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createSocialPost": {
                          "$ref": "#/components/schemas/SocialPostMutation"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Present when the operation reported a request-level failure. Writes can also report validation nested under `data.<field>.errors` on a 200.",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "createSocialPost": {
                      "clientMutationId": null,
                      "success": true,
                      "errors": [],
                      "socialPost": {
                        "id": "U29jaWFsUG9zdDo0NDEyMg==",
                        "name": "Grand Opening Announcement",
                        "status": "INPROGRESS",
                        "type": "ANNOUNCEMENT",
                        "createdAt": "2026-06-28",
                        "sites": [
                          "GOOGLE"
                        ],
                        "message": [
                          {
                            "site": "GOOGLE",
                            "message": "We are now open! Visit Jenny Home this week for our grand opening."
                          }
                        ],
                        "cta": [
                          {
                            "type": {
                              "value": "LEARN_MORE",
                              "label": "Learn more"
                            },
                            "url": "https://jennyhome.example/opening",
                            "site": "GOOGLE",
                            "tinyUrl": null
                          }
                        ],
                        "contextInfo": null,
                        "mediaUrl": [
                          {
                            "url": "https://cdn.example.com/opening.jpg",
                            "site": "GOOGLE",
                            "type": "IMAGE"
                          }
                        ],
                        "publishDetails": [
                          {
                            "site": "GOOGLE",
                            "status": "PUBLISHING",
                            "createdDate": "2026-06-28",
                            "submissionError": null
                          }
                        ],
                        "postLinks": [],
                        "locationIds": [
                          1800289
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: a malformed filter, an invalid enum value, or a malformed ID. The body carries an `errors` array, or a single `error` object when the request was rejected before it ran (e.g. `SY90001` on `reviewDetails` with no `interactionIds`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiErrorObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — the API key is missing, malformed, or revoked (`SY90005`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the key is valid but not permitted for this resource or operation (`SY90003`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Wait `retry_after_seconds` (or the `Retry-After` header) and retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. The body carries a single `error` object with code `INTERNAL_SERVER_ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorObject"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/CreateSocialPostMutationInput"
                  }
                },
                "required": [
                  "input"
                ]
              },
              "example": {
                "input": {
                  "postName": "Grand Opening Announcement",
                  "locationIds": [
                    "TG9jYXRpb246MTgwMDI4OQ=="
                  ],
                  "postType": "ANNOUNCEMENT",
                  "postSites": [
                    "GOOGLE"
                  ],
                  "postMessage": [
                    {
                      "site": "GOOGLE",
                      "message": "We are now open! Visit Jenny Home this week for our grand opening."
                    }
                  ],
                  "postCta": [
                    {
                      "site": "GOOGLE",
                      "type": "LEARN_MORE",
                      "url": "https://jennyhome.example/opening"
                    }
                  ],
                  "postMediaUrl": [
                    {
                      "site": "GOOGLE",
                      "url": "https://cdn.example.com/opening.jpg",
                      "type": "IMAGE"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Creates an ANNOUNCEMENT social post and publishes it to the chosen sites for one or more locations."
      }
    },
    "/api/v4/locations/{locationId}/reviews": {
      "get": {
        "operationId": "interactions",
        "summary": "Paginated list of interactions (reviews / Q&A / social) for a single location, with filters.",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Raw numeric ID"
                },
                {
                  "type": "string",
                  "description": "Base64-encoded Relay ID"
                }
              ],
              "format": "base64-or-int"
            },
            "description": "Location ID, a raw numeric database ID (e.g. `1800289`) or its Base64-encoded Relay ID (e.g. `TG9jYXRpb246MTgwMDI4OQ==`)."
          },
          {
            "name": "siteUrls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded array of publisher hostnames to include, e.g. `[\"maps.google.com\",\"yelp.com\"]`."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start of the date-range filter (YYYY-MM-DD)."
          },
          {
            "name": "searchString",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full-text search across interaction content."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End of the date-range filter (YYYY-MM-DD)."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Single interaction category, e.g. `REVIEW`."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded array of interaction categories."
          },
          {
            "name": "ratingFilters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
            "description": "JSON-encoded array of star ratings to include, e.g. `[3,4]`."
          },
          {
            "name": "ratingFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Single star rating to filter by."
          },
          {
            "name": "responseStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "JSON-encoded filter object"
            },
[...]
