{
  "openapi": "3.0.3",
  "info": {
    "title": "EveryPage API",
    "description": "Upload documents and get trackable share links programmatically. Authenticate with a personal API key (create one at https://everypage.co/account under API keys) or an OAuth 2.0 access token, sent as a bearer token. Every error under /api/v1 is an RFC 9457 problem document (application/problem+json) - branch on its `code`.\n\nVersioning: /api/v1 is the contract - changes inside a version are additive only, and anything scheduled to go away carries Deprecation (RFC 9745) and Sunset (RFC 8594) headers with at least six months' notice (https://everypage.co/docs/developers/versioning; no active deprecations). Rate limits: 120 requests per minute per bearer token, advertised on every response in RateLimit and RateLimit-Policy (IETF structured fields) plus X-RateLimit-*, with Retry-After on 429. OAuth 2.0 server metadata: https://everypage.co/.well-known/oauth-authorization-server.\n",
    "version": "1.1.0",
    "termsOfService": "https://everypage.co/terms",
    "x-deprecation-policy": {
      "url": "https://everypage.co/docs/developers/versioning",
      "minimumNoticeDays": 180,
      "signals": [
        "Deprecation",
        "Sunset",
        "Link rel=deprecation"
      ],
      "activeDeprecations": []
    },
    "contact": {
      "email": "support@everypage.co"
    },
    "x-jentic-source-url": "https://everypage.co/openapi.json"
  },
  "servers": [
    {
      "url": "https://everypage.co"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "API discovery document",
        "operationId": "getApiIndex",
        "description": "Zero-credential discovery document at the API root - pointers to this specification, the developer docs, the credential lanes (API keys, OAuth server and protected-resource metadata), the rate-limit convention, the error format and the versioning policy. The one read an agent can make before it has a key.",
        "security": [],
        "responses": {
          "200": {
            "description": "The discovery document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a document",
        "operationId": "uploadFile",
        "description": "Upload a document as multipart form-data (field `file`) and get a trackable share link. Returns the new file's UUID, short ID and ready-to-send `shareUrl` (`https://everypage.co/{shortId}`; the UUID form works too). PDFs are stored as sent; Word (.docx) and PowerPoint (.pptx/.ppt) files are converted to PDF server-side (legacy .doc is rejected with 400). Scope `files:write`; uses one of your plan's file slots - 3 Free, 100 Basic, unlimited Pro - and is capped at your plan's size. The file starts with no expiry and no gates.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A PDF (application/pdf). Word (.docx, up to 25MB) and PowerPoint (.pptx/.ppt, up to 50MB) are converted to PDF server-side; the stored PDF must fit your plan's cap (20MB free / 200MB Basic / 2GB Pro)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Your plan's file limit is reached (3 Free / 100 Basic) - delete a file or upgrade, then retry (code `forbidden`; limit-reached 403s are not `plan_required`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List your files",
        "operationId": "listFiles",
        "description": "Every active file the caller owns, newest first, with share identifiers (`uuid`, `shortId`, `slug` when set) and current settings. Trashed files are excluded, and `revisions` is never included in the list (fetch one file for its replacement history). Scope `files:read`. Unpaginated.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's files, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/import": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Import a PDF from an export URL",
        "operationId": "importFile",
        "description": "Create a file by server-side download of an allowlisted HTTPS export URL (e.g. a Canva design export). PDF only, redirect-free, capped at your plan's size; uses a file slot (403 when full). Returns `uuid`, `shortId`, `shareUrl` and an optional advisory `palette`. Scope `files:write`.\n\nThe response may include `palette` - colour swatches extracted from the imported document during the import (see the Palette schema). The palette is advisory and best-effort: extraction reads the first page's embedded images with a short time budget, so vector-only documents (and any extraction failure or timeout) simply omit the field. A missing palette is normal, never an error, and never fails the import.\n\n**Canva design lane (republish-in-place):** sending a verified `canvaUserToken` AND `designToken` pair binds the import to the Canva design. When a live file of yours is already bound to that design, the import REPLACES its bytes in place - same UUID, short id, QR and readership history - and the response reports `republished: true` with the new `contentVersion`. Works on every plan (unlike the /content endpoint), and a republish consumes no file-limit slot; the owner can switch the lane off per file (`canvaUpdatesEnabled`) or sever it permanently (`detachCanvaDesign`) via the settings endpoint. A `designToken` WITHOUT a valid `canvaUserToken` is ignored (the import proceeds as a plain create), as is any token that fails verification - a bad optional token never fails a publish.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Plain HTTPS export URL on the import host allowlist."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Display name for the new file. Defaults to design.pdf."
                  },
                  "canvaUserToken": {
                    "type": "string",
                    "description": "Canva Apps SDK user JWT (verified against Canva's JWKS). Required for the design lane; travels in the body because the Authorization header already carries your EveryPage credential."
                  },
                  "designToken": {
                    "type": "string",
                    "description": "Canva design token (contentMetadata.designToken) binding the publish to a design. Ignored unless canvaUserToken is present and verifies."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imported (or republished in place - see `republished`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The URL's host is not an allowed import source, your plan's file limit is reached, or (design lane) updates from Canva are switched off for the bound file.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Design lane only - the document was changed by another connection mid-replace. Retry.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "The export source could not be fetched or returned an error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/claim": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Claim an anonymous file into your account",
        "operationId": "claimFile",
        "description": "Attaches the anonymous file a `claimToken` references (returned by anonymous uploads, Canva publishes, and the Canva design status endpoint) to the authenticated bearer user's account. The programmatic twin of the /api/claim browser link: use it when the claiming identity must be EXACTLY the connected account - e.g. the Canva panel claims into the account its OAuth grant belongs to in the same gesture as connecting. The file keeps its expiry and encryption key; claiming unlocks the owner surfaces (library, readership, settings). Idempotent for the same owner: re-claiming a file you already own returns 200. Scope `files:write`.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "claimToken"
                ],
                "properties": {
                  "claimToken": {
                    "type": "string",
                    "description": "The claim token bound to the file (30-day validity)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claimed (or already yours)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Missing/invalid bearer credential, or an invalid or expired claim token.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Your plan's file limit is reached - free a slot or upgrade, then claim again.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "The file is no longer available to claim (expired and swept).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "The file has already been claimed by a different account.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/canva/import": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Anonymous Canva import (Canva app credential)",
        "operationId": "canvaImport",
        "description": "Used by the EveryPage Canva app: creates an anonymous, immediately-shareable file from a Canva export URL. The bearer credential is a Canva Apps SDK user JWT verified against Canva's JWKS - NOT an EveryPage API key or OAuth token - so this endpoint is not callable with the credentials the rest of this API uses. The response carries the share link and QR URL, the `claimToken` (attach the file to an account via /api/claim) and `manageToken` (configure it via the v1 settings endpoint while it remains anonymous), and may include `palette` with the same advisory, best-effort semantics as the owned import above.\n\n**Republish-in-place:** an optional `designToken` binds the publish to the exporting Canva design. When the same Canva user publishes the same design again while the earlier file is live and UNCLAIMED, the bytes are replaced in place - same link, same QR - and the response reports `republished: true` with the new `contentVersion` (a republish consumes no upload-budget slot, and re-bases the 365-day expiry unless the uploader chose one via the settings endpoint). A CLAIMED file refuses this lane with 403 - the owning account must republish through /api/v1/files/import instead. A `designToken` that is absent or fails verification degrades to a plain unbound import; it never fails the publish.\n",
        "security": [
          {
            "canvaJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Plain HTTPS export URL on the import host allowlist."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Display name for the new file. Defaults to canva-design.pdf."
                  },
                  "designToken": {
                    "type": "string",
                    "description": "Canva design token (contentMetadata.designToken) binding the publish to a design for republish-in-place. Optional; unverifiable tokens are ignored."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imported (or republished in place - see `republished`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvaImportResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Missing or invalid Canva user token.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The URL's host is not an allowed import source; or the design's link belongs to an EveryPage account (republish it via the connected import); or the link is frozen pending abuse review.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "The document was changed by another connection mid-replace. Retry.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The export is larger than the anonymous upload limit.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-Canva-user rate limit or upload budget exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "The export source could not be fetched or returned an error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/canva/design/status": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Canva design publish status (Canva app credential)",
        "operationId": "canvaDesignStatus",
        "description": "Used by the EveryPage Canva Design Editor panel: reports whether the calling Canva user has a live published link for a design, and its state. Auth is a Canva Apps SDK user JWT in the Authorization header (like /api/v1/canva/import - NOT an EveryPage credential) PLUS a verified `designToken` in the body; both are required, because the response is derived entirely from the design id and an unproven id would make this an enumeration oracle.\n\nFor a live UNCLAIMED link the response carries the link identity, view count, `contentVersion`, and a fresh `claimToken`. For a link CLAIMED by an EveryPage account it carries `claimed: true` and the link's share/QR URLs only - never a claim token, and the view count and uuid only when the optional `accessToken` proves the caller IS the owning account (`connectedAccountIsOwner`). `publishedByOther` is a boolean-only disclosure that a DIFFERENT Canva user (a design collaborator) already published this design - publishing anyway would mint a second link behind any QR they already printed.\n",
        "security": [
          {
            "canvaJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "designToken"
                ],
                "properties": {
                  "designToken": {
                    "type": "string",
                    "description": "Canva design token (getDesignToken / contentMetadata.designToken). REQUIRED and hard-verified - unlike the import lane there is no unbound fallback to degrade to."
                  },
                  "accessToken": {
                    "type": "string",
                    "description": "Optional EveryPage bearer credential (API key or OAuth access token). In the body because the Authorization header carries the Canva JWT on this lane. When present, the response includes connectedAccountIsOwner."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The design's publish state for the calling Canva user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvaDesignStatus"
                }
              }
            }
          },
          "400": {
            "description": "Missing design token or malformed body.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Canva user token, an invalid design token, or an invalid `accessToken`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Per-Canva-user or per-IP rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Design verification is temporarily unavailable (signing keys unreachable). Retry.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/{uuid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get a file's details",
        "operationId": "getFile",
        "description": "The owner's detail view of one file - identifiers, settings, counters, `contentVersion` and the `revisions` replacement history (the only place it is populated). Scope `files:read`; UUID or short id. A file you do not own, and an unclaimed anonymous file, answer 404, never 403.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "File details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file (trash or purge)",
        "operationId": "deleteFile",
        "description": "Delete a file you own (scope `files:write`; UUID or short id). On Basic/Pro the file goes to the trash - restorable in the web app for 7 days (Basic) or 30 days (Pro), its short id and slug still reserved - and the response reports `trashed: true` with `trashedAt`/`purgeAt`. Free plans hard-delete immediately (`trashed: false`). `?purge=1` forces an immediate hard delete on any plan, from the trash or straight past it. Deleting an already-trashed file again is a 200 no-op that repeats its trash state. An active file owned by someone else answers 403; a trashed file owned by someone else, or an unknown id, answers 404.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "Hard-delete immediately instead of trashing (Basic/Pro; Free always hard-deletes). Also purges a file that is already in the trash."
          }
        ],
        "responses": {
          "200": {
            "description": "Trashed, or hard-deleted (see `trashed`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The file is active and belongs to another account (code `forbidden`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Unknown id, or a trashed file that is not yours (code `not_found`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/settings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update a file's settings",
        "operationId": "updateFileSettings",
        "description": "Update a file's sharing settings: viewer mode, password, downloads, expiry (`deleteAt` or `neverExpire`), view limit, email gate, vanity slug, watermark, page range, appearance. Omitted fields keep their value. Owner via `files:write`, or the file's manage token while anonymous. 403 above plan, 409 slug in use, 410 dead link.\n\nBesides an API key or OAuth token (files:write), this endpoint accepts a **manage token** as the bearer credential: anonymous uploads return a `manageToken` bound to the new file, valid for 30 days and only while the file remains unclaimed (a claimed file answers 404 to token callers). Manage-token callers are limited to the free plan's settings; plan-gated fields return 403. The `claimToken` from the same response is a different credential (it attaches the file to an account) and is never accepted here.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          },
          {
            "manageToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings applied (empty body)."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/content": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Download the stored PDF (owner only)",
        "operationId": "getFileContent",
        "description": "Stream the file's stored bytes to its owner, verbatim: no view gates, no view units consumed, no readership entry, no watermark or page-range trim. Scope `files:read`; UUID or short id. Files you do not own, and unclaimed files, answer 404 (never 403); a link burned by its view limit answers 410. Served as `Content-Type: application/pdf` with `Content-Disposition: inline; filename=...`; Range requests are not supported. The response is binary - hand the URL to the user or save it; do not return the body to a model.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The stored PDF, verbatim",
            "headers": {
              "Content-Disposition": {
                "description": "`inline; filename=<originalName>`",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such file, not owned by you, or still unclaimed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "The link was burned by its view limit; its content is no longer served (replace the content to revive it).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Replace the document behind a link (dynamic links)",
        "operationId": "replaceFileContent",
        "description": "Swap the document behind a live link. UUID, short id, slug, QR, settings and readership history survive; `contentVersion` increments and the old file is kept as a revision. Pro plan, owner only. Un-burns a view-limited link; 410 if expired. Multipart, same shape as the upload endpoint (PDF, or Word/PowerPoint converted server-side); `?clearAnchors=false` keeps page-anchored hotspots and notes despite the page mismatch (default clears them).\n\nAccepts the same manage-token bearer lane as the settings endpoint, but since manage tokens act at the free tier, content replacement always answers 403 to them - it remains effectively owner-only.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          },
          {
            "manageToken": []
          }
        ],
        "parameters": [
          {
            "name": "clearAnchors",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Send `false` (or `0`) to keep page-anchored hotspots and notes despite the page mismatch. Anything else - including omitting it - clears them; document-level notes always survive."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A PDF (application/pdf). Word (.docx, up to 25MB) and PowerPoint (.pptx/.ppt, up to 50MB) are converted to PDF server-side; the stored PDF must fit your plan's cap (20MB free / 200MB Basic / 2GB Pro)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner, a manage-token caller, or a plan below Pro (codes `forbidden` / `plan_required`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The document was changed by another connection mid-replace (code `conflict`). Retry.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "The link has expired; expired links refuse replacement content (code `gone`). Burned links are NOT refused - replacing the content is the documented un-burn path.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/variants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Variants"
        ],
        "summary": "List a file's link variants",
        "operationId": "listVariants",
        "description": "Every variant of the file, newest first - revoked and redacted ones included, so they can be managed here. Pro plan required; scope `files:read`.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The file's variants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variants": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Variant"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Variants"
        ],
        "summary": "Create a link variant",
        "operationId": "createVariant",
        "description": "Mint a per-recipient child link for a file you own (Pro, `files:write`). The variant has its own 12-char short id and URL, an optional `label` (recipient name, GDPR-redactable) and `overrides` (`allowDownload`, `pageRange`). Views through it are attributed in readership and in `file.opened`/`file.viewed`/`file.downloaded` webhook payloads (`variantUuid`/`variantLabel`). Up to 200 variants per file.\n\nPasswords and viewing gates are deliberately per-FILE, not per-variant: a viewer who passed the file's gate through one link has passed it for all of the file's links.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variant"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body, label too long, or variant limit (200) reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/variants/{variantUuid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        },
        {
          "name": "variantUuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The variant's UUID from the create/list response (never the variant's short id)."
        }
      ],
      "put": {
        "tags": [
          "Variants"
        ],
        "summary": "Update a link variant",
        "operationId": "updateVariant",
        "description": "Update the label and/or overrides, or revoke/un-revoke the variant. Omitted fields keep their current values; `label: \"\"` clears the label. An `overrides` object replaces the stored override set as a whole (see VariantUpdate) - include every override you want to keep. A revoked variant's link answers 404 to viewers (without revealing that a canonical link exists) until un-revoked. A redacted variant's label can never be set again (409).\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated variant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Variants"
        ],
        "summary": "Delete or redact a link variant",
        "operationId": "deleteVariant",
        "description": "Without parameters, permanently deletes the variant (its sessions survive, unattributed). With `?redact=1`, performs a GDPR redaction instead: the recipient label - the only personal field - is erased from the variant, all analytics surfaces, and every stored or pending webhook payload (anything already delivered to your own endpoints is yours to erase), and the variant keeps working, so analytics stay consistent. Redaction is the compliance path for erasure requests (for example Shopify's `customers/redact`). Idempotent.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "redact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "Redact in place instead of deleting."
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (or redacted)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/readership": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "A file's readership report",
        "operationId": "getFileReadership",
        "description": "The owner's readership dashboard data. The response shape follows the owner's plan (a `tier` field says which sections are present). On the Pro plan the response includes a `variants` array - per-link-variant readership: `{uuid, label, sessions, avgTimeMs, revoked, redacted}` per variant, label omitted after GDPR redaction. Scope `readership:read`.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Readership report (plan-shaped; `variants` present on Pro when the file has link variants)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadershipReport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner (code `forbidden`). Unlike most file routes this one does not hide foreign files behind 404.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/readership/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "A file's per-page readership (Basic+)",
        "operationId": "getFilePageReadership",
        "description": "Page-level read-through for one file: per-page view counts, average dwell time, and back-turns (returns to a page - the re-read signal). Owner only; requires the Basic plan or higher. Scope `readership:read`.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Per-page stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPages": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pageNumber": {
                            "type": "integer"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "avgDurationMs": {
                            "type": "integer"
                          },
                          "backTurns": {
                            "type": "integer",
                            "description": "Views of this page that arrived via backward navigation."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner, or the plan is below Basic.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/page-marks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "A file's page marks (Pro)",
        "operationId": "getFilePageMarks",
        "description": "Every verdict readers have left on the document's pages - `pick`, `reject` or `maybe` - as per-page tallies, a per-viewer breakdown, and document totals. Owner only; requires Pro. Scope `readership:read`.\n\nThis is a pull, not a push: the `proofing.updated` webhook fires only once per viewer per document, on their first mark, and carries no verdicts. Read this endpoint when that event arrives.\n\n`identity` is the invitee's email address for readers who arrived through an email invite, and a pseudonymous `Anonymous reader <id>` label otherwise - treat the response as personal data.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ]
            },
            "description": "Return `text/csv` (one row per mark) instead of JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "Page marks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "integer"
                          },
                          "pick": {
                            "type": "integer"
                          },
                          "reject": {
                            "type": "integer"
                          },
                          "maybe": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "viewers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "string",
                            "description": "Invitee email address, or a pseudonymous reader label."
                          },
                          "marks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "page": {
                                  "type": "integer"
                                },
                                "mark": {
                                  "type": "string",
                                  "enum": [
                                    "pick",
                                    "reject",
                                    "maybe"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "pick": {
                          "type": "integer"
                        },
                        "reject": {
                          "type": "integer"
                        },
                        "maybe": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner, or the plan is below Pro.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/annotations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "A file's reader annotations (Pro)",
        "operationId": "getFileAnnotations",
        "description": "Every annotation readers have drawn on the document, grouped by page, with the marked-up region and the reader's note. Owner only; requires Pro. Scope `readership:read`. Same `identity` semantics and the same pull-on-event pattern as the page-marks endpoint above.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ]
            },
            "description": "Return `text/csv` (one row per annotation) instead of JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "Annotations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "integer"
                          },
                          "annotations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uuid": {
                                  "type": "string"
                                },
                                "identity": {
                                  "type": "string",
                                  "description": "Invitee email address, or a pseudonymous reader label."
                                },
                                "rect": {
                                  "type": "object",
                                  "description": "The annotated region on the page."
                                },
                                "note": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner, or the plan is below Pro.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a branding asset (Basic+)",
        "operationId": "uploadFileAsset",
        "description": "Stores an encrypted auxiliary image for the file and returns its `assetId`, which `viewerSettings.logo.assetId` and `viewerSettings.background.assetId` then reference - the settings PUT rejects an assetId that does not belong to the same file, so upload before you configure. `logo` and `background` are singletons: a second upload of the same kind replaces and deletes the first. PNG/JPEG/WebP up to 5MB (`hotspot-audio` accepts MP3 up to 10MB); max 10 per file.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "logo",
                "background",
                "hotspot-image",
                "hotspot-audio"
              ]
            },
            "description": "What the asset is for. `logo` and `background` are singletons (a new upload replaces the previous one); hotspot kinds accumulate up to the per-file cap."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PNG, JPEG or WebP up to 5MB for `logo`, `background` and `hotspot-image`; MP3 up to 10MB for `hotspot-audio`."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `kind`, malformed multipart, missing `file`, or an unsupported media type for that kind.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner, a plan below Basic, or the per-file asset cap (10) reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "The asset is over its cap (5MB images, 10MB audio) (code `payload_too_large`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/assets/{assetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        },
        {
          "name": "assetId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The assetId UUID returned by the asset upload."
        }
      ],
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a branding asset",
        "operationId": "deleteFileAsset",
        "description": "Remove an asset uploaded to this file (owner only, scope `files:write`; any plan). Viewer settings or hotspots still pointing at the `assetId` lose their image or audio. 404 when the asset does not belong to this file.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted (empty body)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/hotspots": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Replace the file's hotspots (Pro)",
        "operationId": "replaceFileHotspots",
        "description": "Whole-set replace, not a merge - omitted hotspots are deleted. Owner only, Pro plan, scope `files:write`. Rects are normalised 0-1 against the page box. Max 300 per file, 30 per page. `page` payloads must target a page that exists, and `image`/`audio` payloads reference an assetId owned by the same file.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hotspots": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "x": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "y": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "w": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "h": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "link",
                            "page",
                            "video",
                            "image",
                            "audio"
                          ]
                        },
                        "payload": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The stored set, with server-assigned uuids",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hotspots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid hotspot set",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/files/{uuid}/qr-code": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "QR code for the share link",
        "operationId": "getFileQrCode",
        "description": "Bearer-authed twin of the public `/api/files/{uuid}/qr-code` endpoint, returning the same PNG. There is NO ownership check: any valid credential with `files:read` can fetch the QR of any live file id, because the image only encodes the public share URL (durable short-id form on the owner's custom domain when verified, never the slug, with `?via=qr` so scans show up in the readership source breakdown). Unknown, expired, trashed or burned ids answer 404. Cached for a day (`Cache-Control: public, max-age=86400`). When handing a QR URL to a third party (an email, a Zap output, a downstream app), use the public path - it needs no Authorization header. The response is binary - hand the URL to the user rather than returning the bytes to a model.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "files:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "PNG QR code encoding the share URL",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "`public, max-age=86400`",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/files/{uuid}/qr-code": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "QR code for the share link (public)",
        "operationId": "getPublicQrCode",
        "description": "Unauthenticated QR endpoint (per-IP rate limited, 60/min). This is the URL integration outputs should embed - e.g. the Zapier `qr_url` output - so anything downstream can fetch the PNG without credentials. Same image and rules as the v1 twin: encodes the durable share URL with `?via=qr`; unknown, expired, trashed or burned ids answer a plain-text 404 (this path is outside the /api/v1 problem-document lane). Cached for a day. The response is binary - hand the URL to the user rather than returning the bytes to a model.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "PNG QR code encoding the share URL",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "`public, max-age=86400`",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundText"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedPublic"
          }
        }
      }
    },
    "/api/files/{uuid}/qr-code.png": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "QR code for the share link (public, .png alias)",
        "operationId": "getPublicQrCodePng",
        "description": "Byte-identical alias of `/api/files/{uuid}/qr-code` whose `.png` extension lets clients that sniff the URL - Notion \"Files & media\" columns and other image-only embeds - treat it as an image. Same public access, the same per-IP limit, the same day-long cache and the same plain-text 404. Prefer it wherever a URL is pasted somewhere that may inspect the extension. The response is binary - hand the URL to the user rather than returning the bytes to a model.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "PNG QR code encoding the share URL",
            "headers": {
              "Cache-Control": {
                "description": "`public, max-age=86400`",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundText"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedPublic"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Recent events",
        "operationId": "listEvents",
        "description": "Poll recent activity across your files. One stream per call via `type`: `view` (default), `download`, or `gate` (Pro). Newest first without `since`; ascending after the cursor with `since=<last id>`. Cursors are per stream - never reuse a view id on download or gate (`view`/`download` ids are 32-bit; `gate` ids are 64-bit; there is no `type=all`). `file=` narrows to one file (UUID or short id; unknown = `[]`). Scope `readership:read`.\nNote: the `download` stream records every explicit download, including your own - unlike the `file.downloaded` webhook, which only fires for non-owner downloads.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "download",
                "gate"
              ],
              "default": "view"
            },
            "description": "Which event stream to read. Cursors are NOT portable across types."
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this file's events (UUID or short id). Unknown or foreign identifiers return an empty list, not an error."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Return events with id greater than this (per-type cursor)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Max events to return (1-100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Events (newest first without `since`; ascending from the cursor with it)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "`type=gate` requires the Pro plan. NOTE: this plan check returns a plain-text message (\"This feature requires the pro plan or higher\"), a different 403 body than the `insufficient_scope` message an OAuth token missing `readership:read` receives.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/gate-responses": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Gate responses (completed viewing-gate forms)",
        "operationId": "listGateResponses",
        "description": "A dedicated resource alias of `/api/v1/events?type=gate` for integrations whose trigger config wants a resource path. Identical rows, cursor, and parameters. Pro plan required; scope `readership:read`. Event ids are 64-bit. Email-only gates (which store the address on the view session rather than as a form response) do not appear in this feed.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "readership:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this file's responses (UUID or short id). Unknown or foreign identifiers return an empty list."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            },
            "description": "Return responses with id greater than this. Not portable to the other event streams."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Max responses to return (1-100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Gate responses as `type:\"gate\"` events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadEvent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Requires the Pro plan (plain-text 403 message) - or, for OAuth tokens, the `readership:read` scope (`insufficient_scope` message).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List your webhooks",
        "operationId": "listWebhooks",
        "description": "Webhook endpoints for the caller's account. Never includes signing secrets (shown once at creation). Scope `webhooks:manage` (API keys hold every scope).",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "webhooks:manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "operationId": "createWebhook",
        "description": "Register an HTTPS endpoint to receive signed event deliveries (available on every plan; up to 25 webhooks per account). Set `fileUuid` to scope delivery to one file; omit it for account-wide delivery. The signing secret (`whsec_...`) is returned exactly once, in this response, and is never retrievable again. Deliveries carry an `X-Everypage-Signature` header: `t=<unix ts>,v1=<hex>` where v1 is HMAC-SHA256 over `<t>.<raw body>` keyed with the FULL secret string (the `whsec_` prefix is part of the key). Endpoints failing 20 consecutive deliveries are disabled automatically.\n\nPayload note: when the viewer arrived through a link variant, the `file.opened`, `file.viewed` and `file.downloaded` data objects additionally carry `variantUuid` and `variantLabel` (the label is omitted for variants whose label was GDPR-redacted). Both keys are additive - canonical-link events carry neither. `file.opened` fires the moment a non-owner reading session starts, before any page is read, and shares its `sessionId` with the `file.viewed` event that follows at session end.\n\nPlan note: `gate.completed` deliveries require the Pro plan at event time; other kinds deliver on every plan.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "webhooks:manage"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; `secret` is shown only here.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    "secret": {
                      "type": "string",
                      "example": "whsec_9f2c..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body; `url` not a plain HTTPS URL (or pointing at a private/local address, or over 2048 chars); empty or unknown `events`; bad `format`; or the 25-webhooks-per-account limit reached (code `validation_error`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "`fileUuid` does not name a file you own.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/webhooks/{uuid}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The webhook's UUID from the create/list response."
        }
      ],
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "description": "Remove one of your webhooks by UUID; queued deliveries for it are discarded. Scope `webhooks:manage`. A webhook you do not own answers 404.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "webhooks:manage"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (queued deliveries are discarded)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/webhooks/{uuid}/test": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The webhook's UUID from the create/list response."
        }
      ],
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Send a test delivery",
        "operationId": "testWebhook",
        "description": "Synchronously sends a sample `webhook.test` event through the real delivery path (same body format and signature) and reports the outcome. Fires regardless of any per-file scope - it is an endpoint-reachability check with a placeholder file. Rate-limited more tightly than the rest of the API (10 requests/minute per token).\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "webhooks:manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Test outcome (delivered may be false)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivered": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status your endpoint returned (0 if unreachable)."
                    },
                    "latencyMs": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string",
                      "description": "Present when not delivered (coarse reason only)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Test rate limit exceeded (10 per minute per token) - or the general 120/min limit (code `rate_limited`).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your account and plan",
        "operationId": "getCurrentUser",
        "description": "The caller's profile - `name`, `email`, `subscription` (`free`, `basic`, `pro`), `hasDealLicense`, the free-trial fields (`trialEligible`, `trialEndsAt`, `storageLimited`) and `created_at`. Scope `profile`. `isAdmin` is always false through the API (the internal flag is masked on every token-authenticated read).",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "profile"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/oembed": {
      "get": {
        "tags": [
          "Embedding"
        ],
        "summary": "oEmbed provider endpoint",
        "operationId": "getOEmbed",
        "description": "Turn a pasted EveryPage share link into an embeddable rich object (an iframe on the /embed/ path). Public and unauthenticated; rate-limited per IP (60/min). Accepts any share-link form - UUID, short id, or a vanity slug on the owner's custom domain - and the /embed/<id> form. Dead links of every kind (unknown, expired, view limit reached, unclaimed) answer a uniform 404.\n",
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The full share link to resolve (URL-encoded)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            },
            "description": "Only json is supported; other values answer 501."
          }
        ],
        "responses": {
          "200": {
            "description": "oEmbed rich payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OEmbed"
                }
              }
            }
          },
          "400": {
            "description": "Missing or non-absolute `url` parameter.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The link does not resolve to a viewable document (unknown, expired, burned or unclaimed).",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedPublic"
          },
          "501": {
            "description": "A `format` other than json was requested.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Authorization endpoint (Authorization Code + PKCE)",
        "operationId": "oauthAuthorize",
        "description": "Browser endpoint, not an API call - send the user here to obtain consent for a registered OAuth client. Signed-out users are bounced through login first. On approval it redirects to `redirect_uri` with `?code=` (and `?state=`); protocol errors (`unsupported_response_type`, `invalid_request` for a missing/non-S256 challenge, `invalid_scope`) redirect back with `?error=`. An unknown `client_id` or an unregistered `redirect_uri` cannot be redirected and answers a plain-text 400 instead. PKCE S256 is mandatory; authorization codes are single-use and valid for 5 minutes.",
        "security": [],
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Always `code`."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The registered OAuth client id (`epc_...`)."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must exactly match a redirect URI registered for the client."
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Space-delimited; every scope must be allowed for the client."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque CSRF value echoed back on the redirect."
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PKCE challenge (RFC 7636)."
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "S256"
              ]
            },
            "description": "Only `S256` is accepted."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the consent screen, login, or back to redirect_uri with code/error."
          },
          "400": {
            "description": "Unknown OAuth client, or a `redirect_uri` that is not registered for the client. Plain text - there is no trusted redirect target to send the error to.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Token endpoint",
        "operationId": "oauthToken",
        "description": "Exchanges an authorization code (with the PKCE `code_verifier`) or a refresh token for tokens. Client auth via HTTP Basic or body params; confidential clients must present `client_secret`. Refresh tokens rotate: each refresh returns a new `refresh_token` and retires the previous one (replaying a retired token revokes the whole family); pass `scope` to down-scope. Errors are RFC 6749 JSON documents.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "code_verifier": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Optional down-scope on refresh."
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Confidential clients only."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "ep_at_..."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request`, `invalid_grant` (unknown, used, expired or PKCE-mismatched code; revoked or rotated refresh token) or `unsupported_grant_type`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_client` - unknown `client_id`, or a wrong or missing `client_secret` for a confidential client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Revoke a token (RFC 7009)",
        "operationId": "oauthRevoke",
        "description": "Revoke an access or refresh token issued to your OAuth client. Client authentication as on the token endpoint (HTTP Basic or body params). Unknown tokens still answer 200; only client-authentication failures error.",
        "security": [],
        "requestBody": {
          "required": true,
[...]
