{
  "openapi": "3.1.0",
  "info": {
    "title": "MoveSurge Institutional Events API",
    "version": "1.0.0",
    "description": "Rolling curated market-moving news/event history and reader-safe measured market reactions. The WebSocket pushes events, not continuous market prices; its protocol is documented under x-websocket.",
    "contact": {
      "email": "support@movesurge.com"
    },
    "x-jentic-source-url": "https://movesurge.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://movesurge.com",
      "description": "MoveSurge production"
    }
  ],
  "paths": {
    "/api/v1/health/": {
      "get": {
        "summary": "Credential and contracted-window health",
        "operationId": "getInstitutionalApiHealth",
        "responses": {
          "200": {
            "description": "Credential is usable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "ok",
                  "schema_version": "movesurge.events.v1",
                  "desk": "sample-desk",
                  "environment": "sandbox",
                  "credential_environment": "sandbox",
                  "data_environment": "live_reader_safe",
                  "scopes": [
                    "events:read",
                    "stream:read"
                  ],
                  "history_days": 30,
                  "requests_per_minute": 120,
                  "max_websocket_connections": 2,
                  "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/v1/schema/": {
      "get": {
        "summary": "JSON Schema and protocol reference",
        "operationId": "getInstitutionalApiSchema",
        "responses": {
          "200": {
            "description": "Complete schema reference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaReferenceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/v1/events/": {
      "get": {
        "summary": "List curated events in the contracted history window",
        "description": "Returns the curated Pro news feed. Prime-only Full Flow items are omitted unless later evidence promotes them into the curated main feed.",
        "operationId": "listInstitutionalEvents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            },
            "description": "Page size."
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated OR filter.",
            "example": "ES,NQ"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated case-insensitive OR filter.",
            "example": "Macro,Equities"
          },
          {
            "name": "min_impact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high",
                "critical"
              ]
            },
            "description": "Inclusive impact threshold."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor for older default-order rows."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor for continuing ascending queries."
          },
          {
            "name": "published_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Publication watermark; mutually exclusive with updated_after."
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Create/update watermark for reconnect recovery."
          }
        ],
        "responses": {
          "200": {
            "description": "Event page.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-MoveSurge-Schema": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                },
                "example": {
                  "schema_version": "movesurge.events.v1",
                  "data": [
                    {
                      "schema_version": "movesurge.events.v1",
                      "event_id": "pe_7f4b1e2c9a8d",
                      "version": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                      "published_at": "2026-08-26T18:00:00+00:00",
                      "updated_at": "2026-08-26T18:15:04+00:00",
                      "headline": "Federal Reserve holds rates unchanged; statement flags persistent inflation risk",
                      "classification": {
                        "category": "Macro",
                        "section": "Macro",
                        "event_type": "central_bank_decision",
                        "impact": "critical",
                        "importance": "high"
                      },
                      "instruments": [
                        "ES",
                        "NQ",
                        "USDJPY",
                        "XAUUSD"
                      ],
                      "analysis": {
                        "why": "The inflation language reduced near-term easing expectations and repriced index futures, the dollar and gold.",
                        "context": [
                          "The policy rate was unchanged, as expected.",
                          "The statement retained data-dependence for the next decision."
                        ]
                      },
                      "market_reaction": {
                        "reaction_id": "rxn:pe_7f4b1e2c9a8d:v1",
                        "state": "FINAL",
                        "availability_status": "OK",
                        "reaction_basis": "EVENT",
                        "finalized_at": "2026-08-26T18:15:04+00:00",
                        "instruments": [
                          {
                            "symbol": "ES",
                            "display_label": "E-mini S&P 500",
                            "asset_class": "index_future",
                            "event_base": {
                              "sample_time": "2026-08-26T17:59:59+00:00",
                              "price": 6500,
                              "staleness_ms": 1000
                            },
                            "horizons": {
                              "60": {
                                "horizon_seconds": 60,
                                "target_time": "2026-08-26T18:01:00+00:00",
                                "sample_time": "2026-08-26T18:01:02+00:00",
                                "sample_lag_ms": 2000,
                                "price": 6493.5,
                                "event_return_pct": -0.1,
                                "native_move_value": -6.5,
                                "native_move_unit": "points",
                                "availability_status": "OK"
                              },
                              "900": {
                                "horizon_seconds": 900,
                                "target_time": "2026-08-26T18:15:00+00:00",
                                "sample_time": "2026-08-26T18:15:03+00:00",
                                "sample_lag_ms": 3000,
                                "price": 6480.5,
                                "event_return_pct": -0.3,
                                "native_move_value": -19.5,
                                "native_move_unit": "points",
                                "availability_status": "OK"
                              }
                            },
                            "availability_status": "OK"
                          }
                        ]
                      }
                    }
                  ],
                  "paging": {
                    "count": 1,
                    "has_more": true,
                    "cursor_mode": "published",
                    "next_before": "<opaque-signed-rest-cursor>",
                    "next_after": null
                  },
                  "filters": {
                    "symbols": [
                      "ES",
                      "NQ"
                    ],
                    "categories": [],
                    "min_impact": "high",
                    "history_days": 30
                  },
                  "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/QueryError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/api/v1/events/{event_id}/": {
      "get": {
        "summary": "Retrieve one event by stable public ID",
        "operationId": "getInstitutionalEvent",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Public event ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Event detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetailResponse"
                },
                "example": {
                  "schema_version": "movesurge.events.v1",
                  "data": {
                    "schema_version": "movesurge.events.v1",
                    "event_id": "pe_7f4b1e2c9a8d",
                    "version": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                    "published_at": "2026-08-26T18:00:00+00:00",
                    "updated_at": "2026-08-26T18:15:04+00:00",
                    "headline": "Federal Reserve holds rates unchanged; statement flags persistent inflation risk",
                    "classification": {
                      "category": "Macro",
                      "section": "Macro",
                      "event_type": "central_bank_decision",
                      "impact": "critical",
                      "importance": "high"
                    },
                    "instruments": [
                      "ES",
                      "NQ",
                      "USDJPY",
                      "XAUUSD"
                    ],
                    "analysis": {
                      "why": "The inflation language reduced near-term easing expectations and repriced index futures, the dollar and gold.",
                      "context": [
                        "The policy rate was unchanged, as expected.",
                        "The statement retained data-dependence for the next decision."
                      ]
                    },
                    "market_reaction": {
                      "reaction_id": "rxn:pe_7f4b1e2c9a8d:v1",
                      "state": "FINAL",
                      "availability_status": "OK",
                      "reaction_basis": "EVENT",
                      "finalized_at": "2026-08-26T18:15:04+00:00",
                      "instruments": [
                        {
                          "symbol": "ES",
                          "display_label": "E-mini S&P 500",
                          "asset_class": "index_future",
                          "event_base": {
                            "sample_time": "2026-08-26T17:59:59+00:00",
                            "price": 6500,
                            "staleness_ms": 1000
                          },
                          "horizons": {
                            "60": {
                              "horizon_seconds": 60,
                              "target_time": "2026-08-26T18:01:00+00:00",
                              "sample_time": "2026-08-26T18:01:02+00:00",
                              "sample_lag_ms": 2000,
                              "price": 6493.5,
                              "event_return_pct": -0.1,
                              "native_move_value": -6.5,
                              "native_move_unit": "points",
                              "availability_status": "OK"
                            },
                            "900": {
                              "horizon_seconds": 900,
                              "target_time": "2026-08-26T18:15:00+00:00",
                              "sample_time": "2026-08-26T18:15:03+00:00",
                              "sample_lag_ms": 3000,
                              "price": 6480.5,
                              "event_return_pct": -0.3,
                              "native_move_value": -19.5,
                              "native_move_unit": "points",
                              "availability_status": "OK"
                            }
                          },
                          "availability_status": "OK"
                        }
                      ]
                    }
                  },
                  "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "description": "Outside the history window or unknown."
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "summary": "Public machine-readable API specification",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document."
          }
        }
      }
    },
    "/docs/api/v1/": {
      "get": {
        "summary": "Public human-readable integration guide",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML documentation."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "MoveSurge desk API key"
      }
    },
    "schemas": {
      "Event": {
        "title": "MoveSurge institutional event",
        "description": "Customer-ready market-moving event projection.",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "event_id",
          "version",
          "published_at",
          "updated_at",
          "headline",
          "classification",
          "instruments",
          "analysis",
          "market_reaction"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "movesurge.events.v1"
          },
          "event_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 96,
            "description": "Stable public identifier. Use as the logical primary key."
          },
          "version": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$",
            "description": "SHA-256 of this representation. A new value supersedes an older value for the same event_id."
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "UTC ISO-8601 timestamp; null when the datum is not available."
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "UTC ISO-8601 timestamp; null when the datum is not available."
          },
          "stream_cursor": {
            "type": "string",
            "description": "Present only inside event.created/event.updated WebSocket data. Opaque stream-resume cursor."
          },
          "headline": {
            "type": "string",
            "maxLength": 4000,
            "description": "MoveSurge reader-facing event headline or compressed event text."
          },
          "classification": {
            "$ref": "#/$defs/classification"
          },
          "instruments": {
            "type": "array",
            "maxItems": 40,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "maxLength": 24
            },
            "description": "Uppercase instruments associated with the event. An empty array means no instrument was confidently mapped."
          },
          "analysis": {
            "$ref": "#/$defs/analysis"
          },
          "market_reaction": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/$defs/marketReaction"
              }
            ],
            "description": "Accepted measured reaction, or null when no accepted reaction is available."
          }
        },
        "$defs": {
          "classification": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "category",
              "section",
              "event_type",
              "impact",
              "importance"
            ],
            "properties": {
              "category": {
                "type": "string",
                "maxLength": 80,
                "description": "Canonical event category."
              },
              "section": {
                "type": "string",
                "maxLength": 80,
                "description": "Product rail/section."
              },
              "event_type": {
                "type": "string",
                "maxLength": 100,
                "description": "More specific event taxonomy value; may be empty."
              },
              "impact": {
                "type": "string",
                "enum": [
                  "",
                  "low",
                  "medium",
                  "high",
                  "critical"
                ],
                "description": "Normalized MoveSurge impact level; empty when not assigned."
              },
              "importance": {
                "type": "string",
                "maxLength": 24,
                "description": "Reader-facing importance flag/value; may be empty."
              }
            }
          },
          "analysis": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "why",
              "context"
            ],
            "properties": {
              "why": {
                "type": "string",
                "maxLength": 1200,
                "description": "Concise causal/materiality explanation; empty when unavailable."
              },
              "context": {
                "type": "array",
                "maxItems": 6,
                "items": {
                  "type": "string",
                  "maxLength": 800
                },
                "description": "Up to six reader-safe context bullets."
              }
            }
          },
          "eventBase": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "sample_time",
              "price",
              "staleness_ms"
            ],
            "properties": {
              "sample_time": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "UTC ISO-8601 timestamp; null when the datum is not available."
              },
              "price": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Finite JSON number, or null when unavailable."
              },
              "staleness_ms": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Age of the accepted baseline observation relative to the event, in milliseconds."
              }
            }
          },
          "horizon": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "horizon_seconds",
              "target_time",
              "sample_time",
              "sample_lag_ms",
              "price",
              "event_return_pct",
              "native_move_value",
              "native_move_unit",
              "availability_status"
            ],
            "properties": {
              "horizon_seconds": {
                "type": "integer",
                "enum": [
                  60,
                  900
                ]
              },
              "target_time": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "UTC ISO-8601 timestamp; null when the datum is not available."
              },
              "sample_time": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "UTC ISO-8601 timestamp; null when the datum is not available."
              },
              "sample_lag_ms": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Accepted observation time minus target horizon time, in milliseconds."
              },
              "price": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Accepted native instrument quote/level at sample_time."
              },
              "event_return_pct": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Percentage return from event_base.price to this price when percentage-return semantics apply."
              },
              "native_move_value": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Move expressed in native_move_unit, useful for assets such as yields or spreads."
              },
              "native_move_unit": {
                "type": "string",
                "maxLength": 30,
                "description": "Native move unit such as pct, points, bps, or an empty string."
              },
              "availability_status": {
                "type": "string",
                "maxLength": 24,
                "description": "Observation availability state, commonly OK or NO_DATA."
              }
            }
          },
          "reactionInstrument": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "symbol",
              "display_label",
              "asset_class",
              "event_base",
              "horizons",
              "availability_status"
            ],
            "properties": {
              "symbol": {
                "type": "string",
                "maxLength": 24
              },
              "display_label": {
                "type": "string",
                "maxLength": 80
              },
              "asset_class": {
                "type": "string",
                "maxLength": 40
              },
              "event_base": {
                "$ref": "#/$defs/eventBase"
              },
              "horizons": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "60",
                  "900"
                ],
                "properties": {
                  "60": {
                    "$ref": "#/$defs/horizon"
                  },
                  "900": {
                    "$ref": "#/$defs/horizon"
                  }
                }
              },
              "availability_status": {
                "type": "string",
                "maxLength": 24
              }
            }
          },
          "marketReaction": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "state",
              "availability_status",
              "instruments"
            ],
            "properties": {
              "reaction_id": {
                "type": "string",
                "maxLength": 96,
                "description": "Stable reaction identifier; present on accepted reactions."
              },
              "state": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "PARTIAL",
                  "FINAL"
                ],
                "description": "Lifecycle state of an accepted reaction."
              },
              "availability_status": {
                "type": "string",
                "maxLength": 24
              },
              "reaction_basis": {
                "type": "string",
                "const": "EVENT"
              },
              "finalized_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "UTC ISO-8601 timestamp; null when the datum is not available."
              },
              "instruments": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/reactionInstrument"
                },
                "description": "Accepted instrument reactions."
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "schema_version",
          "desk",
          "environment",
          "credential_environment",
          "data_environment",
          "scopes",
          "history_days",
          "requests_per_minute",
          "max_websocket_connections",
          "request_id"
        ],
        "properties": {
          "status": {
            "const": "ok"
          },
          "schema_version": {
            "const": "movesurge.events.v1"
          },
          "desk": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "live"
            ]
          },
          "credential_environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "live"
            ]
          },
          "data_environment": {
            "const": "live_reader_safe"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "history_days": {
            "type": "integer",
            "minimum": 1
          },
          "requests_per_minute": {
            "type": "integer",
            "minimum": 1
          },
          "max_websocket_connections": {
            "type": "integer",
            "minimum": 1
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "SchemaReferenceResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "stream_protocol_version",
          "event_schema",
          "field_reference",
          "query_parameters",
          "errors",
          "websocket_close_codes",
          "examples",
          "endpoints",
          "request_id"
        ],
        "properties": {
          "schema_version": {
            "const": "movesurge.events.v1"
          },
          "stream_protocol_version": {
            "const": "movesurge.stream.v1"
          },
          "event_schema": {
            "type": "object"
          },
          "field_reference": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "query_parameters": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "websocket_close_codes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "examples": {
            "type": "object"
          },
          "endpoints": {
            "type": "object"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "required": [
          "schema_version",
          "data",
          "paging",
          "filters",
          "request_id"
        ],
        "properties": {
          "schema_version": {
            "const": "movesurge.events.v1"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "filters": {
            "type": "object"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "required": [
          "schema_version",
          "data",
          "request_id"
        ],
        "properties": {
          "schema_version": {
            "const": "movesurge.events.v1"
          },
          "data": {
            "$ref": "#/components/schemas/Event"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "Paging": {
        "type": "object",
        "required": [
          "count",
          "has_more",
          "cursor_mode",
          "next_before",
          "next_after"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "has_more": {
            "type": "boolean"
          },
          "cursor_mode": {
            "type": "string",
            "enum": [
              "published",
              "updated"
            ]
          },
          "next_before": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_after": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "request_id"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "AuthError": {
        "description": "Authentication, desk, or scope failure.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "invalid_cursor",
                "message": "Invalid query parameter."
              },
              "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
            }
          }
        }
      },
      "QueryError": {
        "description": "Invalid query/cursor combination.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "invalid_cursor",
                "message": "Invalid query parameter."
              },
              "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded; honor Retry-After.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "invalid_cursor",
                "message": "Invalid query parameter."
              },
              "request_id": "8e7f9c87-3113-4c28-9bd0-c4f9c1f4d658"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "$defs": {
    "classification": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "category",
        "section",
        "event_type",
        "impact",
        "importance"
      ],
      "properties": {
        "category": {
          "type": "string",
          "maxLength": 80,
          "description": "Canonical event category."
        },
        "section": {
          "type": "string",
          "maxLength": 80,
          "description": "Product rail/section."
        },
        "event_type": {
          "type": "string",
          "maxLength": 100,
          "description": "More specific event taxonomy value; may be empty."
        },
        "impact": {
          "type": "string",
          "enum": [
            "",
            "low",
            "medium",
            "high",
            "critical"
          ],
          "description": "Normalized MoveSurge impact level; empty when not assigned."
        },
        "importance": {
          "type": "string",
          "maxLength": 24,
          "description": "Reader-facing importance flag/value; may be empty."
        }
      }
    },
    "analysis": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "why",
        "context"
      ],
      "properties": {
        "why": {
          "type": "string",
          "maxLength": 1200,
          "description": "Concise causal/materiality explanation; empty when unavailable."
        },
        "context": {
          "type": "array",
          "maxItems": 6,
          "items": {
            "type": "string",
            "maxLength": 800
          },
          "description": "Up to six reader-safe context bullets."
        }
      }
    },
    "eventBase": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "sample_time",
        "price",
        "staleness_ms"
      ],
      "properties": {
        "sample_time": {
          "type": [
            "string",
            "null"
          ],
          "format": "date-time",
          "description": "UTC ISO-8601 timestamp; null when the datum is not available."
        },
        "price": {
          "type": [
            "number",
            "null"
          ],
          "description": "Finite JSON number, or null when unavailable."
        },
        "staleness_ms": {
          "type": [
            "number",
            "null"
          ],
          "description": "Age of the accepted baseline observation relative to the event, in milliseconds."
        }
      }
    },
    "horizon": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "horizon_seconds",
        "target_time",
        "sample_time",
        "sample_lag_ms",
        "price",
        "event_return_pct",
        "native_move_value",
        "native_move_unit",
        "availability_status"
      ],
      "properties": {
        "horizon_seconds": {
          "type": "integer",
          "enum": [
            60,
            900
          ]
        },
        "target_time": {
          "type": [
            "string",
            "null"
          ],
          "format": "date-time",
          "description": "UTC ISO-8601 timestamp; null when the datum is not available."
        },
        "sample_time": {
          "type": [
            "string",
            "null"
          ],
          "format": "date-time",
          "description": "UTC ISO-8601 timestamp; null when the datum is not available."
        },
        "sample_lag_ms": {
          "type": [
            "number",
            "null"
          ],
          "description": "Accepted observation time minus target horizon time, in milliseconds."
        },
        "price": {
          "type": [
            "number",
            "null"
          ],
          "description": "Accepted native instrument quote/level at sample_time."
        },
        "event_return_pct": {
          "type": [
            "number",
            "null"
          ],
          "description": "Percentage return from event_base.price to this price when percentage-return semantics apply."
        },
        "native_move_value": {
          "type": [
            "number",
            "null"
          ],
          "description": "Move expressed in native_move_unit, useful for assets such as yields or spreads."
        },
        "native_move_unit": {
          "type": "string",
          "maxLength": 30,
          "description": "Native move unit such as pct, points, bps, or an empty string."
        },
        "availability_status": {
          "type": "string",
          "maxLength": 24,
          "description": "Observation availability state, commonly OK or NO_DATA."
        }
      }
    },
    "reactionInstrument": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "symbol",
        "display_label",
        "asset_class",
        "event_base",
        "horizons",
        "availability_status"
      ],
      "properties": {
        "symbol": {
          "type": "string",
          "maxLength": 24
        },
        "display_label": {
          "type": "string",
          "maxLength": 80
        },
        "asset_class": {
          "type": "string",
          "maxLength": 40
        },
        "event_base": {
          "$ref": "#/$defs/eventBase"
        },
        "horizons": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "60",
            "900"
          ],
          "properties": {
            "60": {
              "$ref": "#/$defs/horizon"
            },
            "900": {
              "$ref": "#/$defs/horizon"
            }
          }
        },
        "availability_status": {
          "type": "string",
          "maxLength": 24
        }
      }
    },
    "marketReaction": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "state",
        "availability_status",
        "instruments"
      ],
      "properties": {
        "reaction_id": {
          "type": "string",
          "maxLength": 96,
          "description": "Stable reaction identifier; present on accepted reactions."
        },
        "state": {
          "type": "string",
          "enum": [
            "PENDING",
            "PARTIAL",
            "FINAL"
          ],
          "description": "Lifecycle state of an accepted reaction."
        },
        "availability_status": {
          "type": "string",
          "maxLength": 24
        },
        "reaction_basis": {
          "type": "string",
          "const": "EVENT"
        },
        "finalized_at": {
          "type": [
            "string",
            "null"
          ],
          "format": "date-time",
          "description": "UTC ISO-8601 timestamp; null when the datum is not available."
        },
        "instruments": {
          "type": "array",
          "items": {
            "$ref": "#/$defs/reactionInstrument"
          },
          "description": "Accepted instrument reactions."
        }
      }
    }
  },
  "x-websocket": {
    "url": "wss://movesurge.com/ws/api/v1/stream",
    "description": "Progressive real-time MoveSurge news/event delivery. Use the unfiltered stream for the lowest-latency curated feed. symbols and min_impact are evaluated on each frame's current enriched state and can delay first delivery until an event.updated frame. This is not a tick, quote, OHLC, or order-book price feed.",
    "authentication": "Authorization: Bearer <key> during HTTP upgrade; never put the key in the URL.",
    "close_semantics": "The gateway completes the WebSocket upgrade before applying authentication, authorization, filter, quota, and capacity policy. Rejections therefore arrive as the documented WebSocket close codes rather than an HTTP 403 handshake response.",
    "query_parameters": [
      "symbols",
      "categories",
      "min_impact",
      "cursor"
    ],
    "filter_semantics": "A symbols filter matches instruments already mapped on that progressive frame. It does not mean every headline capable of moving the requested instrument, and symbols=ES,NQ is not a complete index-futures news filter.",
    "client_messages": {
      "ping": {
        "type": "ping"
      },
      "subscribe": {
        "type": "subscribe",
        "symbols": [
          "ES",
          "NQ"
        ],
        "categories": [
          "macro"
        ],
        "min_impact": "high"
      }
    },
    "server_data_frames": [
      "event.created",
      "event.updated",
      "market_reaction.updated",
      "event.retracted"
    ],
    "server_control_frames": [
      "stream.ready",
      "heartbeat",
      "replay.required",
      "replay.truncated",
      "pong",
      "stream.subscribed"
    ],
    "examples": {
      "event": {
        "protocol_version": "movesurge.stream.v1",
        "type": "event.created",
        "cursor": "1787757600000-0",
        "delivered_at": "2026-08-26T18:00:00.040000+00:00",
        "data": {
          "schema_version": "movesurge.events.v1",
          "event_id": "pe_7f4b1e2c9a8d",
          "version": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "published_at": "2026-08-26T18:00:00+00:00",
          "updated_at": "2026-08-26T18:15:04+00:00",
          "headline": "Federal Reserve holds rates unchanged; statement flags persistent inflation risk",
          "classification": {
            "category": "Macro",
            "section": "Macro",
            "event_type": "central_bank_decision",
            "impact": "critical",
            "importance": "high"
          },
          "instruments": [
            "ES",
            "NQ",
            "USDJPY",
            "XAUUSD"
          ],
          "analysis": {
            "why": "The inflation language reduced near-term easing expectations and repriced index futures, the dollar and gold.",
            "context": [
              "The policy rate was unchanged, as expected.",
              "The statement retained data-dependence for the next decision."
            ]
          },
          "market_reaction": {
            "reaction_id": "rxn:pe_7f4b1e2c9a8d:v1",
            "state": "FINAL",
            "availability_status": "OK",
            "reaction_basis": "EVENT",
            "finalized_at": "2026-08-26T18:15:04+00:00",
            "instruments": [
              {
                "symbol": "ES",
                "display_label": "E-mini S&P 500",
                "asset_class": "index_future",
                "event_base": {
                  "sample_time": "2026-08-26T17:59:59+00:00",
                  "price": 6500,
                  "staleness_ms": 1000
                },
                "horizons": {
                  "60": {
                    "horizon_seconds": 60,
                    "target_time": "2026-08-26T18:01:00+00:00",
                    "sample_time": "2026-08-26T18:01:02+00:00",
                    "sample_lag_ms": 2000,
                    "price": 6493.5,
                    "event_return_pct": -0.1,
                    "native_move_value": -6.5,
                    "native_move_unit": "points",
                    "availability_status": "OK"
                  },
                  "900": {
                    "horizon_seconds": 900,
                    "target_time": "2026-08-26T18:15:00+00:00",
                    "sample_time": "2026-08-26T18:15:03+00:00",
                    "sample_lag_ms": 3000,
                    "price": 6480.5,
                    "event_return_pct": -0.3,
                    "native_move_value": -19.5,
                    "native_move_unit": "points",
                    "availability_status": "OK"
                  }
                },
                "availability_status": "OK"
              }
            ]
          },
          "stream_cursor": "1787757600000-0"
        }
      },
      "reaction_update": {
        "protocol_version": "movesurge.stream.v1",
        "type": "market_reaction.updated",
        "cursor": "1787758504000-0",
        "delivered_at": "2026-08-26T18:15:04.020000+00:00",
        "data": {
          "schema_version": "movesurge.events.v1",
          "event_id": "pe_7f4b1e2c9a8d",
          "market_reaction": {
            "reaction_id": "rxn:pe_7f4b1e2c9a8d:v1",
            "state": "FINAL",
            "availability_status": "OK",
            "reaction_basis": "EVENT",
            "finalized_at": "2026-08-26T18:15:04+00:00",
            "instruments": [
              {
                "symbol": "ES",
                "display_label": "E-mini S&P 500",
                "asset_class": "index_future",
                "event_base": {
                  "sample_time": "2026-08-26T17:59:59+00:00",
                  "price": 6500,
                  "staleness_ms": 1000
                },
                "horizons": {
                  "60": {
                    "horizon_seconds": 60,
                    "target_time": "2026-08-26T18:01:00+00:00",
                    "sample_time": "2026-08-26T18:01:02+00:00",
                    "sample_lag_ms": 2000,
                    "price": 6493.5,
                    "event_return_pct": -0.1,
                    "native_move_value": -6.5,
                    "native_move_unit": "points",
                    "availability_status": "OK"
                  },
                  "900": {
                    "horizon_seconds": 900,
                    "target_time": "2026-08-26T18:15:00+00:00",
                    "sample_time": "2026-08-26T18:15:03+00:00",
                    "sample_lag_ms": 3000,
                    "price": 6480.5,
                    "event_return_pct": -0.3,
                    "native_move_value": -19.5,
                    "native_move_unit": "points",
                    "availability_status": "OK"
                  }
                },
                "availability_status": "OK"
              }
            ]
          },
          "version": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
        }
      },
      "retraction": {
        "protocol_version": "movesurge.stream.v1",
        "type": "event.retracted",
        "cursor": "1787758510000-0",
        "delivered_at": "2026-08-26T18:15:10.020000+00:00",
        "data": {
          "schema_version": "movesurge.events.v1",
          "event_id": "pe_7f4b1e2c9a8d"
        }
      },
      "controls": {
        "stream.ready": {
          "protocol_version": "movesurge.stream.v1",
          "type": "stream.ready",
          "schema_version": "movesurge.events.v1",
          "desk": "sample-desk",
          "environment": "sandbox",
          "latest_cursor": "1787758504000-0",
          "replay_available": true,
          "filters": {
            "symbols": [
              "ES",
              "NQ"
            ],
            "categories": [],
            "min_impact": "high"
          }
        },
        "heartbeat": {
          "protocol_version": "movesurge.stream.v1",
          "type": "heartbeat",
          "server_time": "2026-08-26T18:16:00+00:00",
          "latest_cursor": "1787758504000-0"
        },
        "replay.required": {
          "protocol_version": "movesurge.stream.v1",
          "type": "replay.required",
          "cursor": "<unavailable-stream-cursor>",
          "recovery": "/api/v1/events/?updated_after=<last_delivery_time_minus_5s>"
        },
        "replay.truncated": {
          "protocol_version": "movesurge.stream.v1",
          "type": "replay.truncated",
          "next_cursor": "1787758504000-0",
          "recovery": "/api/v1/events/?updated_after=<last_delivery_time_minus_5s>"
        },
        "pong": {
          "type": "pong",
          "cursor": "1787758504000-0"
        },
        "stream.subscribed": {
          "type": "stream.subscribed",
          "filters": {
            "symbols": [
              "ES",
              "NQ"
            ],
            "categories": [
              "macro"
            ],
            "min_impact": "high"
          }
        }
      }
    }
  }
}