{
  "openapi": "3.1.0",
  "info": {
    "title": "Canonical API",
    "version": "v1",
    "description": "Company search for developers: describe the companies you want in natural language (or with typed filters) and get back verified, structured company profiles.\n\n<div class=\"docs-intro-cards\">\n\n<div class=\"docs-intro-card\">\n\n<p class=\"docs-intro-card-head\"><span class=\"docs-intro-icon docs-intro-icon-auth\"></span><strong>Authentication</strong></p>\n\nEvery request needs an API key in the `x-api-key` header. Create keys in [Settings → API Keys](/settings). Keys start with `sk_`.\n\n</div>\n\n<div class=\"docs-intro-card\">\n\n<p class=\"docs-intro-card-head\"><span class=\"docs-intro-icon docs-intro-icon-credits\"></span><strong>Credits</strong></p>\n\nResult-bearing calls consume credits (each endpoint documents its cost); responses carry `credits_used` and `credits_remaining`.\n\n</div>\n\n<div class=\"docs-intro-card\">\n\n<p class=\"docs-intro-card-head\"><span class=\"docs-intro-icon docs-intro-icon-rate\"></span><strong>Rate limits</strong></p>\n\nPer-organization, by plan (see the [rate limits guide](/documentation/rate-limits)). A `429` response includes a `Retry-After` header in seconds.\n\n</div>\n\n</div>",
    "x-jentic-source-url": "https://trycanonical.ai/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://trycanonical.ai"
    }
  ],
  "paths": {
    "/api/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verified companies matching the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "results": [
                    {
                      "name": "Stronghold",
                      "website": "stronghold.co",
                      "domain": "stronghold.co",
                      "headquarters": "San Francisco, California, United States",
                      "employee_count": 42,
                      "founding_year": 2017,
                      "is_public": false,
                      "dimensions": {
                        "channel": [
                          "Online"
                        ],
                        "industry": [
                          "Financials"
                        ],
                        "offering": [
                          "Embedded payment solutions (ACH)",
                          "Real-time clearing and settlement",
                          "Payment Network Infrastructure"
                        ],
                        "offering_type": [
                          "Software"
                        ],
                        "revenue_model": [
                          "Subscription",
                          "Usage-Based"
                        ],
                        "business_model": [
                          "B2B"
                        ],
                        "offering_domain": [
                          "Payments & Remittance"
                        ],
                        "target_customer": [
                          "Businesses",
                          "Developers",
                          "Payment Network Operators"
                        ],
                        "business_category": [],
                        "technology_application": []
                      },
                      "funding": {
                        "total_usd": 3300000,
                        "round_count": 1,
                        "latest_date": "2018-07-01",
                        "latest_amount_usd": 3300000,
                        "latest_series": "seed",
                        "latest_post_money_valuation": null,
                        "latest_lead_investor": "Freestyle Capital",
                        "all_investors": [
                          "Array Ventures",
                          "Freestyle Capital",
                          "Hack VC",
                          "Neural Capital",
                          "Precursor Ventures"
                        ]
                      },
                      "description": "Stronghold provides payment and financial infrastructure solutions, enabling businesses to embed payments into their products and offering real-time clearing and settlement. Their mission is to make payment and financial infrastructure accessible to all.",
                      "verdict": "relevant",
                      "verdict_reason": "The factsheet explicitly lists embedded payment solutions, real-time clearing and settlement, and payment network infrastructure — a direct match to \"payments infrastructure\"."
                    }
                  ],
                  "count": 1,
                  "query": "payments infrastructure companies",
                  "credits_used": 1,
                  "credits_remaining": 999,
                  "warnings": [],
                  "interpreted_criteria": {
                    "description": "payments infrastructure",
                    "intent_inferred": "default"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Have 0, need 1. Purchase more at /billing."
                }
              }
            }
          },
          "422": {
            "description": "Validation error — bad mode combination or unknown `intent`.",
            "content": {
              "application/json": {
                "example": {
                  "error": "validation",
                  "detail": "Provide `q` (NL) or a structured `description`/`filters` body."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` header carries the wait in seconds.",
            "content": {
              "application/json": {
                "example": {
                  "error": "rate_limit",
                  "limit": 20,
                  "period": "minute",
                  "retry_after": 42
                }
              }
            }
          }
        },
        "operationId": "searchCompanies",
        "summary": "Search companies (natural language)",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "1 credit / verified result",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "Rate limited",
            "position": "after",
            "color": "hsl(38, 65%, 88%)"
          },
          {
            "name": "SSE opt-in",
            "position": "after",
            "color": "hsl(205, 60%, 88%)"
          }
        ],
        "description": "Describe the companies you want in plain English; the interpreter extracts structured criteria, the engine retrieves and LLM-verifies candidates, and you get back structured company profiles. Send `Accept: text/event-stream` to stream results as they verify (SSE events: `meta`, `batch`, `partial_batch`, `preview`, `done`); omit it for a single batch JSON response.\n\n**Credits:** 1 credit per strong (verified) result returned. Partial matches (`include_partials=true`) are not billed. The response reports `credits_used` and `credits_remaining`.\n\n**MCP twin:** `search_companies`.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Natural-language search query, e.g. `AI healthcare startups in Boston with over 50 employees`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top_k",
            "in": "query",
            "required": false,
            "description": "Number of results to return (NL mode).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 25
            }
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "description": "Optional ranking profile applied after relevance filtering. Omit to let the server infer intent from the query; unknown slugs return 422 with the valid set.",
            "schema": {
              "type": "string",
              "enum": [
                "sales_prospecting",
                "sales_timing",
                "sales_expansion",
                "competitive_tracking",
                "emerging_competitor_scan",
                "talent_source",
                "recruiter_employer_vet",
                "jobseeker_stability",
                "jobseeker_growth"
              ]
            }
          },
          {
            "name": "include_partials",
            "in": "query",
            "required": false,
            "description": "Also return LLM-evaluated partial matches (close but not strong). Partials are not billed.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude_company_domain",
            "in": "query",
            "required": false,
            "description": "Repeat to exclude companies by domain, e.g. `?exclude_company_domain=stripe.com&exclude_company_domain=square.com`. Unresolvable domains appear in the response `warnings`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verified companies matching the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "results": [
                    {
                      "name": "Stronghold",
                      "website": "stronghold.co",
                      "domain": "stronghold.co",
                      "headquarters": "San Francisco, California, United States",
                      "employee_count": 42,
                      "founding_year": 2017,
                      "is_public": false,
                      "dimensions": {
                        "channel": [
                          "Online"
                        ],
                        "industry": [
                          "Financials"
                        ],
                        "offering": [
                          "Embedded payment solutions (ACH)",
                          "Real-time clearing and settlement",
                          "Payment Network Infrastructure"
                        ],
                        "offering_type": [
                          "Software"
                        ],
                        "revenue_model": [
                          "Subscription",
                          "Usage-Based"
                        ],
                        "business_model": [
                          "B2B"
                        ],
                        "offering_domain": [
                          "Payments & Remittance"
                        ],
                        "target_customer": [
                          "Businesses",
                          "Developers",
                          "Payment Network Operators"
                        ],
                        "business_category": [],
                        "technology_application": []
                      },
                      "funding": {
                        "total_usd": 3300000,
                        "round_count": 1,
                        "latest_date": "2018-07-01",
                        "latest_amount_usd": 3300000,
                        "latest_series": "seed",
                        "latest_post_money_valuation": null,
                        "latest_lead_investor": "Freestyle Capital",
                        "all_investors": [
                          "Array Ventures",
                          "Freestyle Capital",
                          "Hack VC",
                          "Neural Capital",
                          "Precursor Ventures"
                        ]
                      },
                      "description": "Stronghold provides payment and financial infrastructure solutions, enabling businesses to embed payments into their products and offering real-time clearing and settlement. Their mission is to make payment and financial infrastructure accessible to all.",
                      "verdict": "relevant",
                      "verdict_reason": "The factsheet explicitly lists embedded payment solutions, real-time clearing and settlement, and payment network infrastructure — a direct match to \"payments infrastructure\"."
                    }
                  ],
                  "count": 1,
                  "query": "payments infrastructure companies",
                  "credits_used": 1,
                  "credits_remaining": 999,
                  "warnings": [],
                  "interpreted_criteria": {
                    "description": "payments infrastructure",
                    "intent_inferred": "default"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Have 0, need 1. Purchase more at /billing."
                }
              }
            }
          },
          "406": {
            "description": "Structured mode cannot stream.",
            "content": {
              "application/json": {
                "example": {
                  "error": "not_acceptable",
                  "detail": "Structured search returns batch JSON only; omit the text/event-stream Accept header, or use the `q` NL parameter for streaming."
                }
              }
            }
          },
          "422": {
            "description": "Validation error — bad mode combination or unknown `intent`.",
            "content": {
              "application/json": {
                "example": {
                  "error": "validation",
                  "detail": "Provide `q` (NL) or a structured `description`/`filters` body."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` header carries the wait in seconds.",
            "content": {
              "application/json": {
                "example": {
                  "error": "rate_limit",
                  "limit": 20,
                  "period": "minute",
                  "retry_after": 42
                }
              }
            }
          }
        },
        "operationId": "searchCompaniesStructured",
        "summary": "Search companies (NL or structured)",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "1 credit / verified result",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "Rate limited",
            "position": "after",
            "color": "hsl(38, 65%, 88%)"
          },
          {
            "name": "SSE opt-in",
            "position": "after",
            "color": "hsl(205, 60%, 88%)"
          }
        ],
        "description": "Same engine as GET, plus **structured mode**: post a JSON body with `description` and/or typed `filters` to skip natural-language interpretation entirely. Provide exactly one of the `q` query parameter or a structured body — both (or neither) returns 422. Structured mode is batch JSON only; requesting `text/event-stream` with a structured body returns 406. **Credits:** 1 credit per strong (verified) result returned. Partial matches (`include_partials=true`) are not billed. The response reports `credits_used` and `credits_remaining`.\n\n**MCP twin:** `search_companies`.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Natural-language search query, e.g. `AI healthcare startups in Boston with over 50 employees`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top_k",
            "in": "query",
            "required": false,
            "description": "Number of results to return (NL mode).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 25
            }
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "description": "Optional ranking profile applied after relevance filtering. Omit to let the server infer intent from the query; unknown slugs return 422 with the valid set.",
            "schema": {
              "type": "string",
              "enum": [
                "sales_prospecting",
                "sales_timing",
                "sales_expansion",
                "competitive_tracking",
                "emerging_competitor_scan",
                "talent_source",
                "recruiter_employer_vet",
                "jobseeker_stability",
                "jobseeker_growth"
              ]
            }
          },
          {
            "name": "include_partials",
            "in": "query",
            "required": false,
            "description": "Also return LLM-evaluated partial matches (close but not strong). Partials are not billed.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude_company_domain",
            "in": "query",
            "required": false,
            "description": "Repeat to exclude companies by domain, e.g. `?exclude_company_domain=stripe.com&exclude_company_domain=square.com`. Unresolvable domains appear in the response `warnings`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredSearchRequest"
              },
              "example": {
                "description": "AI healthcare startups",
                "filters": {
                  "location": {
                    "countries": [
                      "United States"
                    ]
                  },
                  "employee_count_min": 51,
                  "employee_count_max": 100,
                  "funding_series": [
                    "series_a",
                    "series_b"
                  ],
                  "funding_min_usd": 10000000,
                  "funding_max_usd": 50000000,
                  "is_public": false
                },
                "top_k": 10
              }
            }
          }
        }
      }
    },
    "/api/v1/lookup": {
      "post": {
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "operationId": "lookupCompanies",
        "summary": "Look up companies by name",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "1 credit / call with a match",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "Rate limited",
            "position": "after",
            "color": "hsl(38, 65%, 88%)"
          }
        ],
        "description": "Disambiguate free-text company names into canonical domains before chaining into search, similar, or details calls. Per input name you get ranked `candidates` plus an `auto_resolve_recommended` flag: when true, proceed with `primary_candidate_domain`; when false, show the candidates and let your user pick.\n\n**Credits:** 1 per call when at least one name returns a candidate; a no-match call is free.\n\n**MCP twin:** `lookup_companies`.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "One or more company names. Repeat the parameter to look up several (max 10 per call; split longer lists across sequential calls). A trailing legal form (GmbH, SE, S.A., Inc…) is handled for you, so don't also send the bare name.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 10
            }
          },
          {
            "name": "k",
            "in": "query",
            "required": false,
            "description": "Candidates per name.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 5
            }
          },
          {
            "name": "disambiguation_mode",
            "in": "query",
            "required": false,
            "description": "`auto_when_confident` (default) | `always_auto` | `always_ask`.",
            "schema": {
              "type": "string",
              "enum": [
                "auto_when_confident",
                "always_auto",
                "always_ask"
              ],
              "default": "auto_when_confident"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-name candidates and disambiguation recommendation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                },
                "example": {
                  "results": {
                    "Stripe": {
                      "confidence": "medium",
                      "auto_resolve_recommended": true,
                      "primary_candidate_domain": "stripe.com",
                      "candidates": [
                        {
                          "name": "Stripe",
                          "domain": "stripe.com",
                          "headquarters": "South San Francisco, California, United States",
                          "description": "Stripe is a financial technology company that provides a comprehensive suite of financial infrastructure tools for businesses to grow revenue.",
                          "is_primary": true,
                          "payload_richness": "full"
                        },
                        {
                          "name": "Stripes",
                          "domain": "stripesstores.com",
                          "headquarters": "Corpus Christi, Texas, United States",
                          "description": "Stripes Convenience Stores is a retail chain offering a wide selection of food, beverages, and snacks.",
                          "is_primary": false,
                          "payload_richness": "full"
                        }
                      ]
                    }
                  },
                  "credits_used": 1,
                  "credits_remaining": 999
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Have 0, need 1. Purchase more at /billing."
                }
              }
            }
          },
          "422": {
            "description": "Empty names, too many names, or invalid mode.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "`name` query parameter is required and must be non-empty."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` header carries the wait in seconds.",
            "content": {
              "application/json": {
                "example": {
                  "error": "rate_limit",
                  "limit": 20,
                  "period": "minute",
                  "retry_after": 42
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/similar": {
      "post": {
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "operationId": "findSimilarCompanies",
        "summary": "Find similar companies",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "1 credit / strong result",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "Rate limited",
            "position": "after",
            "color": "hsl(38, 65%, 88%)"
          },
          {
            "name": "SSE opt-in",
            "position": "after",
            "color": "hsl(205, 60%, 88%)"
          }
        ],
        "description": "Given a seed company (`company_domain` — the `domain` field from search or lookup results), returns companies similar to it. Dual-mode like search: by default you get a single batch JSON response with any `intent` ranking already applied server-side. Send `Accept: text/event-stream` to stream results as they arrive instead (SSE events: `meta`, `batch`, `partial_batch`, `sorted_order`, `done`); in streaming mode a non-default `intent` emits a late `sorted_order` event carrying `ordered_domains` — apply it client-side once ranking finishes.\n\n**Credits:** 1 per strong result.\n\n**MCP twin:** `find_similar_companies`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimilarRequest"
              },
              "example": {
                "company_domain": "stripe.com",
                "max_results": 25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Companies similar to the seed — batch JSON by default, SSE on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "results": [
                    {
                      "name": "Checkout.com",
                      "website": "checkout.com",
                      "domain": "checkout.com",
                      "headquarters": "London, England, United Kingdom",
                      "employee_count": 2349,
                      "founding_year": 2012,
                      "dimensions": {
                        "channel": [
                          "Online"
                        ],
                        "industry": [
                          "Financials"
                        ],
                        "offering": [
                          "Payment Processing Platform",
                          "Fraud Management Tools",
                          "Payout Services"
                        ],
                        "offering_type": [
                          "Software"
                        ],
                        "revenue_model": [
                          "Commission",
                          "Subscription"
                        ],
                        "business_model": [
                          "B2B"
                        ],
                        "offering_domain": [
                          "Payments & Remittance"
                        ],
                        "target_customer": [
                          "Merchants",
                          "eCommerce Businesses",
                          "Fintech Companies"
                        ],
                        "business_category": [],
                        "technology_application": []
                      },
                      "funding": {
                        "total_usd": 1830000000,
                        "round_count": 4,
                        "latest_date": "2022-01-01",
                        "latest_amount_usd": 1000000000,
                        "latest_series": "series_d",
                        "latest_post_money_valuation": 40000000000,
                        "latest_lead_investor": null,
                        "all_investors": [
                          "Insight Partners",
                          "Tiger Global",
                          "Coatue",
                          "DST Global",
                          "GIC"
                        ]
                      },
                      "description": "Checkout.com is a global payment solutions provider that offers a unified platform for businesses to process online payments. They aim to simplify and streamline the payment experience for merchants worldwide.",
                      "verdict": "relevant",
                      "verdict_reason": "Checkout.com is a direct, canonical competitor to Stripe in the global online payment processing market, offering a nearly identical API-first infrastructure for merchants.",
                      "_similarity_score": 0.5735599949425296
                    }
                  ],
                  "count": 1,
                  "query": "stripe.com",
                  "credits_used": 1,
                  "credits_remaining": 999,
                  "warnings": []
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Have 0, need 1. Purchase more at /billing."
                }
              }
            }
          },
          "404": {
            "description": "Seed company not found (free).",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "error": "company_not_found",
                    "company_id": null,
                    "company_domain": "nope.example"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unknown `intent` slug, or the seed has no description available for similarity search.",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "error": "source_description_unavailable",
                    "company_id": 123,
                    "company_name": "Example Co",
                    "message": "Seed company has no description available for similarity search."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` header carries the wait in seconds.",
            "content": {
              "application/json": {
                "example": {
                  "error": "rate_limit",
                  "limit": 20,
                  "period": "minute",
                  "retry_after": 42
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_domain}/details": {
      "get": {
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "operationId": "getCompanyDetails",
        "summary": "Get company details",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "1 credit / resolved company",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "Rate limited",
            "position": "after",
            "color": "hsl(38, 65%, 88%)"
          }
        ],
        "description": "Full detail payload for one company, addressed by domain — the public identifier returned by search, lookup, and similar results. `company` carries the canonical profile (including `defunct`); `people` lists cofounders and C-suite/execs with role, LinkedIn URL, and prior companies (each prior company includes a `domain` you can feed back into this endpoint to walk the graph). `leadership_data` reports coverage: `available`, `not_available` (company known, but not in the leadership subset — most companies), or `error` (transient lookup failure).\n\nWhen the company has known ownership edges, the payload also carries a `relationships` block (key absent otherwise): `parents` (all direct parents with their `relation`), `ultimate_parent` and `lineage` (ordered root → immediate parent; both null/empty when ownership is ambiguous, e.g. joint ventures — fall back to `parents`), and `children` grouped by relation category (`subsidiary`, `product_of`, `joint_venture`, `merger`, `other`). Child lists are complete — never truncated. Every related company includes a `domain`; feed it back into this endpoint to walk the corporate family. `source` reports the edges' provenance (e.g. `analyst_curated`) and is present when all edges share one origin.\n\nWhen we hold job-board data for the company, `company.hiring` carries its current openings: `active_job_count` (total open roles), `has_remote_job`, and three ranked breakdowns of `{name, count}` — `by_department` (up to 15), `by_country` (up to 10, country names rather than ISO2 codes) and `by_city` (up to 5). It comes from a weekly scrape of the company's own job board and counts active postings only.\n\n`hiring` is **absent** when we hold no posting data, which is not the same as the company not hiring — coverage is roughly 20,000 companies. Treat a missing block as \"no data\", never as \"no open roles\". The breakdowns are ranked top-Ns for display, not complete sets (the largest company in the data posts across 3,371 distinct cities) — to FILTER on hiring, use the `jobs` filters on `POST /api/v1/search`, which match against the full lists.\n\nA subdomain resolves through its **registered domain** when only the parent is a known company: `coilcoatings.akzonobel.com` returns AkzoNobel. The response then carries `requested_domain`, `matched_domain` and `resolved_via: \"registered_domain\"`, and the profile is the PARENT company's — check `relationships.children` for the specific unit. All three keys are absent when the requested domain resolved exactly.\n\n**Credits:** 1, charged only when the domain resolves to a real company — a 404 is free.\n\n**MCP twin:** `get_company_details`.",
        "parameters": [
          {
            "name": "company_domain",
            "in": "path",
            "required": true,
            "description": "Company domain, e.g. `stripe.com` — the `domain` field from search results.",
            "schema": {
              "type": "string",
              "examples": [
                "stripe.com"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile, key people, and billing counters.",
            "content": {
              "application/json": {
                "example": {
                  "company": {
                    "name": "Stripe",
                    "primary_domain": "stripe.com",
                    "founding_year": 2010,
                    "description": "Stripe is a financial technology company that provides a comprehensive suite of financial infrastructure tools for businesses to grow revenue. They offer a unified platform for a wide array of financial services, enabling businesses to accept payments, manage billing, and access capital.",
                    "dimensions": {
                      "channel": [
                        "Online"
                      ],
                      "industry": [
                        "Financials"
                      ],
                      "offering": [
                        "Payment Processing Services",
                        "Subscription Management",
                        "Financial Infrastructure Tools"
                      ],
                      "offering_type": [
                        "Software"
                      ],
                      "revenue_model": [
                        "Usage-Based",
                        "Subscription"
                      ],
                      "business_model": [
                        "B2B",
                        "B2B2C"
                      ],
                      "offering_domain": [
                        "Payments & Remittance",
                        "Software Development"
                      ],
                      "target_customer": [
                        "Enterprises",
                        "SMBs",
                        "Marketplaces"
                      ],
                      "business_category": [],
                      "technology_application": []
                    },
                    "funding_total_usd": 2837025000,
                    "funding_round_count": 16,
                    "funding_latest_date": "2026-03-17",
                    "funding_latest_amount_usd": 14577645,
                    "funding_latest_series": "other",
                    "funding_latest_post_money_valuation": null,
                    "funding_latest_lead_investor": "Robinhood Ventures Fund I",
                    "hq_country": "United States",
                    "hq_region": "California",
                    "hq_city": "South San Francisco",
                    "funding_all_investors": [
                      "Sequoia Capital",
                      "Andreessen Horowitz",
                      "Founders Fund",
                      "General Catalyst",
                      "Thrive Capital"
                    ],
                    "employee_count": 17396,
                    "defunct": false,
                    "is_public": true,
                    "hiring": {
                      "active_job_count": 272,
                      "has_remote_job": true,
                      "by_department": [
                        {
                          "name": "Engineering",
                          "count": 81
                        },
                        {
                          "name": "Operations",
                          "count": 47
                        },
                        {
                          "name": "Sales",
                          "count": 25
                        }
                      ],
                      "by_country": [
                        {
                          "name": "United States",
                          "count": 135
                        },
                        {
                          "name": "India",
                          "count": 58
                        },
                        {
                          "name": "Ireland",
                          "count": 35
                        }
                      ],
                      "by_city": [
                        {
                          "name": "San Francisco",
                          "count": 122
                        },
                        {
                          "name": "Bengaluru",
                          "count": 41
                        },
                        {
                          "name": "Dublin",
                          "count": 35
                        }
                      ]
                    }
                  },
                  "people": [
                    {
                      "name": "john collison",
                      "role": "cofounder",
                      "role_secondary": "president",
                      "is_current": true,
                      "confidence": "high",
                      "headline": "President at Stripe",
                      "linkedin_url": "linkedin.com/in/johnbcollison",
                      "profile_trust": "high",
                      "prior_companies": []
                    },
                    {
                      "name": "patrick collison",
                      "role": "cofounder",
                      "role_secondary": "ceo",
                      "is_current": true,
                      "confidence": "high",
                      "headline": "Stripe CEO",
                      "linkedin_url": "linkedin.com/in/patrickcollison",
                      "profile_trust": "high",
                      "prior_companies": [
                        {
                          "name": "Auctomatic",
                          "title": "cofounder",
                          "role_type": "cofounder",
                          "categories": [],
                          "is_current": false,
                          "domain": null
                        }
                      ]
                    }
                  ],
                  "leadership_data": "available",
                  "relationships": {
                    "parents": [],
                    "ultimate_parent": null,
                    "lineage": [],
                    "children": {
                      "subsidiary": [
                        {
                          "name": "Paystack",
                          "domain": "paystack.com",
                          "relation": "acquired_and_independently_operating"
                        },
                        {
                          "name": "TaxJar",
                          "domain": "taxjar.com",
                          "relation": "acquired_and_independently_operating"
                        }
                      ]
                    },
                    "source": "analyst_curated"
                  },
                  "credits_used": 1,
                  "credits_remaining": 999
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Have 0, need 1. Purchase more at /billing."
                }
              }
            }
          },
          "404": {
            "description": "Unknown company domain (free).",
            "content": {
              "application/json": {
                "example": {
                  "detail": "no company with that id or domain"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` header carries the wait in seconds.",
            "content": {
              "application/json": {
                "example": {
                  "error": "rate_limit",
                  "limit": 20,
                  "period": "minute",
                  "retry_after": 42
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/status": {
      "get": {
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          }
        ],
        "operationId": "getAccountStatus",
        "summary": "Get account status",
        "x-badges": [
          {
            "name": "API key",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          },
          {
            "name": "Free — 0 credits",
            "position": "after",
            "color": "hsl(150, 30%, 88%)"
          },
          {
            "name": "No rate limit",
            "position": "after",
            "color": "hsl(0, 0%, 92%)"
          }
        ],
        "description": "Credit balance, plan, and search rate limits for the authenticated organization. `credits` breaks the balance into buckets (`total`, `subscription`, `extra`) with `subscription_resets_at` (ISO datetime, or null with no active subscription). Poll it to check remaining credits and pace requests against `rate_limits` before a paid call.\n\n**Free:** this endpoint charges no credits and is not rate-limited — unlike the result-bearing endpoints, so no 402 or 429.\n\n**MCP twin:** `get_account_status`.",
        "responses": {
          "200": {
            "description": "Credit balance, plan, and rate limits.",
            "content": {
              "application/json": {
                "example": {
                  "credits": {
                    "total": 1675,
                    "subscription": 1500,
                    "extra": 175,
                    "subscription_resets_at": "2026-08-01T00:00:00+00:00"
                  },
                  "plan": "pro",
                  "rate_limits": {
                    "per_minute": 100,
                    "per_day": 50000
                  },
                  "billing_url": "https://trycanonical.ai/billing"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required. Include x-api-key header."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "LookupCandidate": {
        "description": "One candidate company for an input name. `domain` is the public handle.",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Domain"
          },
          "headquarters": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Headquarters"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Description"
          },
          "is_primary": {
            "default": false,
            "title": "Is Primary",
            "type": "boolean"
          },
          "match": {
            "default": "partial",
            "title": "Match",
            "type": "string"
          },
          "payload_richness": {
            "default": "stub",
            "title": "Payload Richness",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "title": "LookupCandidate",
        "type": "object"
      },
      "LookupResponse": {
        "description": "Per-input-name disambiguation results from `POST /api/v1/lookup`.",
        "properties": {
          "results": {
            "additionalProperties": {
              "$ref": "#/components/schemas/LookupResult"
            },
            "title": "Results",
            "type": "object"
          },
          "credits_used": {
            "default": 0,
            "title": "Credits Used",
            "type": "integer"
          },
          "credits_remaining": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Credits Remaining"
          },
          "guidance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Guidance"
          }
        },
        "required": [
          "results"
        ],
        "title": "LookupResponse",
        "type": "object"
      },
      "LookupResult": {
        "description": "Candidates for one input name plus a disambiguation recommendation.\n\nWhen `auto_resolve_recommended` is true the match is unambiguous — proceed\nwith `primary_candidate_domain`. When false, present `candidates` to the\nuser and let them pick before chaining into another endpoint.",
        "properties": {
          "confidence": {
            "title": "Confidence",
            "type": "string"
          },
          "auto_resolve_recommended": {
            "title": "Auto Resolve Recommended",
            "type": "boolean"
          },
          "primary_candidate_domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Primary Candidate Domain"
          },
          "candidates": {
            "items": {
              "$ref": "#/components/schemas/LookupCandidate"
            },
            "title": "Candidates",
            "type": "array"
          }
        },
        "required": [
          "confidence",
          "auto_resolve_recommended"
        ],
        "title": "LookupResult",
        "type": "object"
      },
      "SearchResponse": {
        "properties": {
          "results": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Results",
            "type": "array"
          },
          "count": {
            "title": "Count",
            "type": "integer"
          },
          "query": {
            "title": "Query",
            "type": "string"
          },
          "credits_used": {
            "title": "Credits Used",
            "type": "integer"
          },
          "credits_remaining": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Credits Remaining"
          },
          "warnings": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Warnings",
            "type": "array"
          },
          "interpreted_criteria": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Interpreted Criteria"
          },
          "guidance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Guidance"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Next Cursor"
          }
        },
        "required": [
          "results",
          "count",
          "query",
          "credits_used"
        ],
        "title": "SearchResponse",
        "type": "object"
      },
      "SimilarRequest": {
        "properties": {
          "company_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Company Id"
          },
          "company_domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Company Domain"
          },
          "max_results": {
            "default": 100,
            "maximum": 1000,
            "minimum": 1,
            "title": "Max Results",
            "type": "integer"
          },
          "intent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Optional ranking-profile slug applied after relevance filtering (e.g. 'sales_timing'). Omit for relevance-only ordering. Same taxonomy as /api/v1/search. Because this endpoint streams results before the ranker finishes, the rank arrives in a separate `sorted_order` SSE event carrying `ordered_domains` (a list of result domains in ranker-preferred order) — apply it client-side to reorder the rows you've buffered.",
            "title": "Intent"
          }
        },
        "title": "SimilarRequest",
        "type": "object"
      },
      "StructuredExclude": {
        "properties": {
          "description": {
            "anyOf": [
              {
                "maxLength": 500,
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "All semantic exclusions — every concept a company must NOT match. Use this whenever the query says \"exclude / not / without / no / except …\", and pack multiple exclusions into one string, e.g. \"logistics providers, distributors, drinks-only manufacturers\". Do NOT phrase exclusions as negatives inside the positive `description`; there they are treated as positive signal and hurt precision.",
            "title": "Description"
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredLocation"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "funding_series": {
            "anyOf": [
              {
                "items": {
                  "enum": [
                    "pre_seed",
                    "seed",
                    "series_a",
                    "series_b",
                    "series_c",
                    "series_d",
                    "series_e",
                    "series_f",
                    "series_g_plus",
                    "growth",
                    "late",
                    "bridge",
                    "venture",
                    "angel",
                    "other"
                  ],
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Series"
          },
          "funding_investor": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Investor"
          }
        },
        "title": "StructuredExclude",
        "type": "object"
      },
      "StructuredFilters": {
        "properties": {
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredLocation"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "employee_count_min": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Employee Count Min"
          },
          "employee_count_max": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Employee Count Max"
          },
          "funding_series": {
            "anyOf": [
              {
                "items": {
                  "enum": [
                    "pre_seed",
                    "seed",
                    "series_a",
                    "series_b",
                    "series_c",
                    "series_d",
                    "series_e",
                    "series_f",
                    "series_g_plus",
                    "growth",
                    "late",
                    "bridge",
                    "venture",
                    "angel",
                    "other"
                  ],
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Series"
          },
          "funding_min_usd": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Min Usd"
          },
          "funding_max_usd": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Max Usd"
          },
          "funding_post_money_min_usd": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Post Money Min Usd"
          },
          "funding_post_money_max_usd": {
            "anyOf": [
              {
                "minimum": 0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Post Money Max Usd"
          },
          "funded_after": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funded After"
          },
          "funded_before": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funded Before"
          },
          "funding_investor": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Funding Investor"
          },
          "people": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredPeople"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "jobs": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredJobs"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "exclude_company_domains": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Exclude Company Domains"
          },
          "exclude": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredExclude"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "founding_year_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founding Year Min"
          },
          "founding_year_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founding Year Max"
          },
          "founding_year_exclude_min": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founding Year Exclude Min"
          },
          "founding_year_exclude_max": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founding Year Exclude Max"
          },
          "is_public": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "true = publicly listed companies only; false = private or unknown listing status (coarse — combine with other filters); omit for no filter.",
            "title": "Is Public"
          }
        },
        "title": "StructuredFilters",
        "type": "object"
      },
      "StructuredJobs": {
        "description": "Where and for what a company is currently HIRING.\n\nRead from a weekly scrape of company job boards, active postings only. Two\nthings callers get wrong:\n\n* This is not the company's headquarters. A US-headquartered company hiring\n  in Bengaluru matches `jobs.countries=[\"India\"]` and\n  `location.countries=[\"United States\"]` at the same time, and both are true.\n* Combining axes matches ONE POSTING where the search can be answered from\n  Postgres alone: `cities=[\"Austin\"]` with `departments=[\"Engineering\"]` then\n  means an engineering posting in Austin. A search that also carries a\n  `description` is answered through the retriever's index, which holds\n  per-company arrays and cannot express \"the same posting\", so that shape\n  can return a company with an Austin posting and a separate engineering\n  posting.\n\nWithin one axis the values are contains-ANY. Coverage is partial: about 20k\ncompanies have any posting data at all, so any job filter narrows hard.",
        "properties": {
          "hiring": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Hiring"
          },
          "cities": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Cities"
          },
          "states": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "States"
          },
          "countries": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Countries"
          },
          "departments": {
            "anyOf": [
              {
                "items": {
                  "enum": [
                    "Engineering",
                    "Operations",
                    "Management",
                    "Art_and_Design",
                    "Product",
                    "Support",
                    "Sales",
                    "HR",
                    "Marketing",
                    "Account",
                    "Analytics",
                    "Data_Science_AI_ML",
                    "Quality_Assurance",
                    "Communication",
                    "Finance"
                  ],
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Departments"
          },
          "levels": {
            "anyOf": [
              {
                "items": {
                  "enum": [
                    "leadership",
                    "individual_contributor"
                  ],
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Levels"
          }
        },
        "title": "StructuredJobs",
        "type": "object"
      },
      "StructuredLocation": {
        "properties": {
          "cities": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Cities"
          },
          "states": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "States"
          },
          "countries": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Countries"
          }
        },
        "title": "StructuredLocation",
        "type": "object"
      },
      "StructuredPeople": {
        "properties": {
          "has_repeat_founder": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Has Repeat Founder"
          },
          "has_technical_cofounder": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Has Technical Cofounder"
          },
          "founder_prior_categories": {
            "anyOf": [
              {
                "items": {
                  "enum": [
                    "faang",
                    "big_tech",
                    "unicorn",
                    "top_startup",
                    "mbb"
                  ],
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founder Prior Categories"
          },
          "founder_prior_companies": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Founder Prior Companies"
          }
        },
        "title": "StructuredPeople",
        "type": "object"
      },
      "StructuredSearchRequest": {
        "properties": {
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Free-text semantic concept describing what the company SHOULD be (the only fuzzy field; matched by an LLM verifier). Describe only the positive concept — do NOT embed exclusions or negations here (\"exclude X\", \"not Y\", \"without Z\"); put those in `filters.exclude.description`, or they are read as positive signal and pull in the companies you meant to exclude.",
            "title": "Description"
          },
          "filters": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StructuredFilters"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "intent": {
            "anyOf": [
              {
                "enum": [
                  "sales_prospecting",
                  "sales_timing",
                  "sales_expansion",
                  "competitive_tracking",
                  "emerging_competitor_scan",
                  "talent_source",
                  "recruiter_employer_vet",
                  "jobseeker_stability",
                  "jobseeker_growth"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Intent"
          },
          "top_k": {
            "default": 25,
            "maximum": 1000,
            "minimum": 1,
            "title": "Top K",
            "type": "integer"
          },
          "include_partials": {
            "default": false,
            "title": "Include Partials",
            "type": "boolean"
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Opaque pagination token from a previous response's `next_cursor`. When set, resumes the same paged session (server-side filters/description are pinned to the first call) instead of starting a new search.",
            "title": "Cursor"
          }
        },
        "title": "StructuredSearchRequest",
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Natural-language and structured company search."
    },
    {
      "name": "Companies",
      "description": "Lookup, similarity, and enrichment for specific companies."
    },
    {
      "name": "Account",
      "description": "Credits, plan, and rate limits for your organization."
    }
  ]
}