{
  "openapi": "3.1.0",
  "info": {
    "title": "Job Opportunities API",
    "version": "2026-10-07",
    "summary": "A verified ledger of open jobs, with per-field provenance and closure history.",
    "description": "Every listing here comes from an employer ATS, a company's own careers page,\na public employment agency, or a direct submission. Redistribution is\nenforced by a database JOIN, not a filter someone can forget.\n\nThree things this API does that a job feed normally does not:\n\n* **It says which fields it guessed.** Every job carries `field_sources`,\n  naming each field as `published` (carried by the source), `inferred`\n  (derived by us) or `absent`. 88.6% of live listings have an *inferred*\n  remote status; 11.3% have one the source actually stated. Filter with\n  `remote_confirmed=true` to get only the latter.\n* **It says when each row was last verified.** `last_verified_at` is when we\n  last confirmed the vacancy still exists at its source, not when it was\n  posted. `GET /v1/meta/freshness` publishes the coverage numbers.\n* **It keeps what closed.** `GET /v1/jobs/closed` returns roles that have\n  come off their source, with the reason and the date. A req that opened\n  and closed in nine days is a hiring signal, not a dead link. The date is\n  the day JOA's daily verification confirmed the advert had gone; before\n  late September 2026 that verification ran in large catch-up batches, so\n  earlier closure dates show when JOA confirmed a closure, not when the\n  employer closed the role.\n\nChangelog 2026-10-07: new contract fields `engagement`,\n`contract_category`, `agency` and `working_schedule`, each with\n`field_sources` provenance and filters (`?engagement=`,\n`?contract_category=`, `?agency=`, `?working_schedule=`; absence token\n`unknown`, alias `not_stated`). Values appear only when the posting or the\nsource states them (or, later, when an audited rule establishes them) —\nmost postings will show `unknown` at launch, and that is the honest answer,\nnot a defect. `contract_category=permanent` returns only postings that\nSTATE permanence. Per-field coverage is published on /public/coverage.\n`employment_type` is unchanged and frozen.\n\nCounts in this document are not typed in: they come from the daily\nstatistics snapshot every page of the website uses (GET /public/site-stats):\n1,937,020 live employer-direct listings (employer_direct_live) and\n140,162 employers as of 2026-10-08.\n",
    "x-jentic-source-url": "https://jobopportunitiesapi.org/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.jobopportunitiesapi.org"
    }
  ],
  "paths": {
    "/v1/jobs": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "List listings, newest first.",
        "description": "Keyset pagination on `(posted_at DESC NULLS LAST, id DESC)`. Pass the\n`next_cursor` from each response back as `cursor`. Offsets are not\noffered here: at this scale they double-count when rows shift. A\nnon-zero `offset` is a **422** `offset_not_supported`, not silently\nignored (it used to return page one again).\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The next_cursor from the previous page."
          },
          {
            "name": "status",
            "in": "query",
            "description": "`live` (default) returns open vacancies. `closed` returns roles that\nhave left their source. `any` returns both; every row carries\n`status`. Paid endpoints only.\n",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "closed",
                "any"
              ],
              "default": "live"
            }
          },
          {
            "name": "include_poster_type",
            "in": "query",
            "description": "Re-admits vacancies whose poster is a staffing agency or a job board.\nExcluded by DEFAULT: the posting is real and the apply link is the\nposter's own, but the poster is not the employer, and one agency with\nthousands of listings (18,000 in one case, measured 19 Aug 2026) can\nflood a category until search stops being useful.\nComma-separated. Paid endpoints only. An unrecognised value is a 422.\n",
            "schema": {
              "type": "string",
              "enum": [
                "staffing",
                "jobboard",
                "all"
              ]
            }
          },
          {
            "name": "quality",
            "in": "query",
            "description": "`all` re-admits rows we have GATED -- reversible doubt, such as a\nfuture `posted_at` or a missing apply URL. It never re-admits rows we\nhave REMOVED: those breach the employer-direct guarantee and no query\nparameter may opt back into it. Each returned row carries its verdict,\nits rule id and the matched host. Paid endpoints only.\n",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Family"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/City"
          },
          {
            "$ref": "#/components/parameters/State"
          },
          {
            "$ref": "#/components/parameters/Remote"
          },
          {
            "$ref": "#/components/parameters/EmploymentType"
          },
          {
            "$ref": "#/components/parameters/Engagement"
          },
          {
            "$ref": "#/components/parameters/ContractCategory"
          },
          {
            "$ref": "#/components/parameters/AgencyFlag"
          },
          {
            "$ref": "#/components/parameters/WorkingSchedule"
          },
          {
            "$ref": "#/components/parameters/Seniority"
          },
          {
            "$ref": "#/components/parameters/Provider"
          },
          {
            "$ref": "#/components/parameters/ExcludeProvider"
          },
          {
            "$ref": "#/components/parameters/SourceType"
          },
          {
            "$ref": "#/components/parameters/ExcludeSourceType"
          },
          {
            "$ref": "#/components/parameters/Company"
          },
          {
            "$ref": "#/components/parameters/ExcludeCategory"
          },
          {
            "$ref": "#/components/parameters/ExcludeCountry"
          },
          {
            "$ref": "#/components/parameters/RemoteConfirmed"
          },
          {
            "$ref": "#/components/parameters/HasSalary"
          },
          {
            "$ref": "#/components/parameters/HasDescription"
          },
          {
            "$ref": "#/components/parameters/RequireFields"
          },
          {
            "$ref": "#/components/parameters/IncludeDescription"
          },
          {
            "$ref": "#/components/parameters/PostedAfter"
          },
          {
            "$ref": "#/components/parameters/VerifiedAfter"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "$ref": "#/components/parameters/Title"
          },
          {
            "$ref": "#/components/parameters/TitleExclude"
          },
          {
            "$ref": "#/components/parameters/DescriptionContains"
          },
          {
            "$ref": "#/components/parameters/CompanyDomain"
          },
          {
            "$ref": "#/components/parameters/ExcludeCompanyDomain"
          },
          {
            "$ref": "#/components/parameters/MinSalary"
          },
          {
            "$ref": "#/components/parameters/MaxSalary"
          },
          {
            "$ref": "#/components/parameters/SortRelevance"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of listings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/jobs/expired": {
      "get": {
        "summary": "Ids of roles that have come off the ledger",
        "description": "The cheap half of /v1/jobs/closed. Returns id, closed_at and closed_reason only — enough to mark rows stale in your own database without transferring the jobs themselves. About 89% smaller than the same page from /v1/jobs/closed.\n\nClosure dates: JOA records as the closure date the day its daily verification confirmed that an advert had gone. Before late September 2026 that verification ran in large catch-up batches, so closure dates recorded before then show when JOA confirmed a closure, not when the employer closed the role; daily verification applies from late September 2026.\nKeyset paged exactly like /v1/changes: pass `since` on the first call and the returned `next_since` from then on. An empty page echoes your cursor back, so the loop keeps working once you are current.\n",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "description": "RFC3339 timestamp, or a `next_since` cursor from a previous call.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "1-10000, default 1000.",
            "schema": {
              "type": "integer",
              "default": 1000,
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of closures.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "closed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "JOA records as the closure date the day its daily verification confirmed that an advert had gone. Before late September 2026 that verification ran in large catch-up batches, so closure dates recorded before then show when JOA confirmed a closure, not when the employer closed the role; daily verification applies from late September 2026."
                          },
                          "closed_reason": {
                            "type": "string",
                            "enum": [
                              "expired_upstream",
                              "not_seen",
                              "employer_closed",
                              "deadline_passed"
                            ]
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "next_since": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanUpgradeRequired"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/jobs/closed": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Roles that have left their source, most recently closed first.",
        "description": "Keyset pagination on `(closed_at DESC, id DESC)`.\n\nClosure dates: JOA records as the closure date the day its daily\nverification confirmed that an advert had gone. Before late September\n2026 that verification ran in large catch-up batches, so closure dates\nrecorded before then show when JOA confirmed a closure, not when the\nemployer closed the role; daily verification applies from late\nSeptember 2026.\n\n`closed_reason` is not decoration. `expired_upstream` means the radar\nproved the vacancy dead — two misses at least an hour apart, re-checked\nagainst the board listing or the job URL itself. `not_seen` means it\nsimply stopped appearing at its source for the grace period, which is\nusually a closure and occasionally a board that broke.\n`employer_closed` and `deadline_passed` are stated by the employer\nitself, for roles listed through Erioun for Teams: it closed the role,\nor its application deadline passed. A role an employer paused, unlisted\nor deleted is not a closure and is never here; /v1/changes reports it\nas `withdrawn`.\n\nEvery filter from `GET /v1/jobs` also applies here.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closed_after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closed_before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closed_reason",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "expired_upstream",
                "not_seen",
                "employer_closed",
                "deadline_passed"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Family"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/City"
          },
          {
            "$ref": "#/components/parameters/State"
          },
          {
            "$ref": "#/components/parameters/Remote"
          },
          {
            "$ref": "#/components/parameters/EmploymentType"
          },
          {
            "$ref": "#/components/parameters/Engagement"
          },
          {
            "$ref": "#/components/parameters/ContractCategory"
          },
          {
            "$ref": "#/components/parameters/AgencyFlag"
          },
          {
            "$ref": "#/components/parameters/WorkingSchedule"
          },
          {
            "$ref": "#/components/parameters/Seniority"
          },
          {
            "$ref": "#/components/parameters/Provider"
          },
          {
            "$ref": "#/components/parameters/ExcludeProvider"
          },
          {
            "$ref": "#/components/parameters/SourceType"
          },
          {
            "$ref": "#/components/parameters/ExcludeSourceType"
          },
          {
            "$ref": "#/components/parameters/Company"
          },
          {
            "$ref": "#/components/parameters/ExcludeCategory"
          },
          {
            "$ref": "#/components/parameters/ExcludeCountry"
          },
          {
            "$ref": "#/components/parameters/RemoteConfirmed"
          },
          {
            "$ref": "#/components/parameters/HasSalary"
          },
          {
            "$ref": "#/components/parameters/HasDescription"
          },
          {
            "$ref": "#/components/parameters/RequireFields"
          },
          {
            "$ref": "#/components/parameters/IncludeDescription"
          },
          {
            "$ref": "#/components/parameters/PostedAfter"
          },
          {
            "$ref": "#/components/parameters/VerifiedAfter"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "$ref": "#/components/parameters/Title"
          },
          {
            "$ref": "#/components/parameters/TitleExclude"
          },
          {
            "$ref": "#/components/parameters/DescriptionContains"
          },
          {
            "$ref": "#/components/parameters/CompanyDomain"
          },
          {
            "$ref": "#/components/parameters/ExcludeCompanyDomain"
          },
          {
            "$ref": "#/components/parameters/MinSalary"
          },
          {
            "$ref": "#/components/parameters/MaxSalary"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of closed listings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "One listing, with its description.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The uuid or the public slug."
          },
          {
            "name": "include_closed",
            "in": "query",
            "description": "Return the row even if it has been delisted. It carries `status=\"closed\"`.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The listing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Job"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "The employer withdrew this listing (a role listed through Erioun for Teams that was paused, unlisted, closed, expired or deleted). Final for this id: stop serving it.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Employers whose live roles this API returns.",
        "description": "Every company here has at least one live listing you can fetch, so\n`open_roles` and `GET /v1/jobs?company=<slug>` reconcile. That is the\npoint of the endpoint: a directory entry advertising roles the API will\nnot serve is a broken promise.\n\nFurther companies (22,138 when measured on 8 Aug 2026) were seen hiring on their own careers page,\nunder a source we do not redistribute. They carry `own_site_roles` and\n`open_roles: 0`, their individual pages resolve normally, and they are\nincluded only with `include_discovered=true` — they are evidence a\ncompany is hiring, not inventory you can buy.\n\nOrdered by `GREATEST(open_roles, own_site_roles) DESC, name, slug`. The\nslug makes the ordering total: without it ties could be reordered\nbetween two requests (measured 3 Aug 2026: 18,213 tie groups covering\n36,464 of 186,558 companies, 19.5%), so offset paging silently repeated\nand skipped rows.\n\n`offset` is capped at 100,000 and an offset beyond that is a **422**, not\na silently clamped 200. Use `cursor` for deep paging — it is lossless and\nhas no limit.\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The next_cursor from the previous page. Overrides offset."
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_website",
            "in": "query",
            "description": "Only companies whose domain we fetched and found their own name on.\nAn absent website means we could not prove one, not that they have none.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_discovered",
            "in": "query",
            "description": "Also return the companies we watched hiring on their own careers page\nunder a source we do not redistribute. They arrive with\n`open_roles: 0` and a non-zero `own_site_roles`, and `careers_url`\npoints at the page we saw them on. Useful for enrichment; not\ninventory.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of companies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/companies/{slug}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "One employer.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/changes": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Delta feed — created, updated, withdrawn and delisted, in change order.",
        "description": "Poll this instead of re-reading the ledger. Pass `since` on the first\ncall and the returned `next_since` from then on; it is a keyset cursor\nof `<timestamp>|<uuid>`, so no row is lost to a shared timestamp.\n\n**New: `change: \"withdrawn\"`.** A row can leave the served set without\nbeing closed by the employer — because we judged it no longer meets the\nemployer-direct promise this API is sold on. Until now those rows simply\nstopped being mentioned, which meant a mirror built from this feed kept\nserving them indefinitely. `withdrawn` says so explicitly.\n\nTreat it exactly as you treat `delisted`: stop serving the row. The\ndifference is only in why. `delisted` means the vacancy is gone;\n`withdrawn` means the vacancy may well still exist, but we are no longer\nwilling to stand behind the link — most often because it points at a\ngovernment or aggregator portal rather than at the employer.\n\nA withdrawn row keeps its id. If we later judge it servable again it\nreturns as `updated`, so a mirror keyed on id needs no special handling.\n\nRoles an employer lists through Erioun for Teams follow the same\nrule: pausing, unlisting or deleting one is `withdrawn` (its job\ncarries no `closed_at`: it is not a closure), closing it or letting\nits deadline pass is `delisted` with `closed_reason`\n`employer_closed` or `deadline_passed`, and publishing it again\nis `updated` under the same id.\n\nIf your integration switches on `change`, add the new value before\nupgrading. An unknown-value branch that ignores it will keep serving\nrows we have withdrawn.\n",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Restrict the change feed to these upper-cased ISO country codes\n(comma-separated, up to 12, same semantics as /v1/jobs). A\nkey country lock applies alongside this filter.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of changes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "change": {
                            "type": "string",
                            "description": "`created` first seen since your cursor ·\n`updated` its content moved ·\n`withdrawn` still open, but no longer served by us —\nstop serving it ·\n`delisted` the vacancy itself is gone.\n",
                            "enum": [
                              "created",
                              "updated",
                              "withdrawn",
                              "delisted"
                            ]
                          },
                          "job": {
                            "$ref": "#/components/schemas/Job"
                          }
                        }
                      }
                    },
                    "next_since": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "403": {
            "$ref": "#/components/responses/PlanUpgradeRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/export": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Bulk export of the full corpus, as a stream of NDJSON.",
        "description": "One JSON object per line, not a JSON array: the stream can be processed as it arrives, and a dropped connection costs one line rather than the whole document. Requires a plan with `bulk_export`.\nRows are ordered by `id`, so an interrupted transfer resumes exactly where it stopped — pass the last id you received as `after`. On a multi-gigabyte export that is not a rare need.\nRecords are charged in batches as they are written, not at the end, so an export that is abandoned partway is still billed for what it delivered. If the monthly allowance runs out mid-stream, the last line of the body is an object carrying `error: record_quota_exhausted` and the `after` cursor to resume from. A consumer must therefore check the final line rather than assume a clean end of stream.\nEvery filter from `GET /v1/jobs` applies.\nPersonal contact details removed: when `include_description=true`, recruiter email addresses and phone numbers found inside the advert body are replaced with `[contact removed — see apply_url]` before the row is written. `apply_url` and every other field are unchanged. `GET /v1/jobs` and `GET /v1/jobs/{id}` apply a narrower rule instead: they remove only email addresses that identify a person (see the `description` field), keep company mailboxes such as `jobs@`, and leave phone numbers unchanged.\n",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Resume cursor — the `id` of the last row you received.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "closed",
                "any"
              ],
              "default": "live"
            }
          },
          {
            "$ref": "#/components/parameters/IncludeDescription"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Family"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Remote"
          },
          {
            "$ref": "#/components/parameters/Seniority"
          },
          {
            "$ref": "#/components/parameters/Provider"
          },
          {
            "$ref": "#/components/parameters/SourceType"
          },
          {
            "$ref": "#/components/parameters/Company"
          },
          {
            "$ref": "#/components/parameters/PostedAfter"
          },
          {
            "$ref": "#/components/parameters/VerifiedAfter"
          },
          {
            "$ref": "#/components/parameters/HasSalary"
          },
          {
            "$ref": "#/components/parameters/HasDescription"
          }
        ],
        "responses": {
          "200": {
            "description": "A stream of listings, one JSON object per line.",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/RecordQuotaExhausted"
          },
          "403": {
            "$ref": "#/components/responses/PlanUpgradeRequired"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/export-packs": {
      "post": {
        "tags": [
          "jobs"
        ],
        "summary": "BETA: queue a background whole-country export pack.",
        "description": "Requires a plan with `bulk_export` (same gate as `GET /v1/export`). Creates a background job that pages the full corpus for one country (optionally narrowed to one `category`/family), writes a gzip CSV file server-side, and meters the rows exactly like `GET /v1/jobs`. One in-flight pack per account. Poll `GET /v1/export-packs/{id}` for status; a completed pack carries a signed, expiring `download_url` valid for 7 days. BETA: row caps per plan are provisional and the file is deleted 7 days after completion.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country"
                ],
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "Two-letter country code, e.g. DE."
                  },
                  "family": {
                    "type": "string",
                    "description": "Optional job-family filter (the same vocabulary as `category`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The pack was queued."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanUpgradeRequired"
          },
          "409": {
            "description": "An export pack is already queued or running for this account."
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      },
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "BETA: list this account's export packs.",
        "description": "Newest first, up to 50. Each row carries `status` (`queued`, `running`, `completed`, `failed`) and, once completed, a signed `download_url`.\n",
        "responses": {
          "200": {
            "description": "This account's export packs."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/export-packs/{id}": {
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "BETA: one export pack's status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The pack's current status."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/meta/facets": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Every filter value with its live count.",
        "description": "Facet keys: `family`, `country`, `city`, `remote`, `employment`,\n`seniority`, `source_type`, `remote_source`, `provider`, `field`, and\nthe legacy `source`.\n\n`remote_source` counts the provenance split itself — how much of the\nledger's remote status is stated and how much is our inference.\n`provider` is every source name `?provider=` accepts, with its live row\ncount. `field` is how many live rows carry each field as `published`\nrather than inferred — the population `require_fields` selects from.\n",
        "responses": {
          "200": {
            "description": "Facet counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "count": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When these counts were computed. The whole table is\nrebuilt in one transaction, so this describes all of it.\nWithout it, a facet total that differs from\n/public/coverage by a few thousand rows is\nindistinguishable from a real disagreement — the ledger\nmoves by thousands an hour.\n"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/meta/providers": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Every source the ledger is built from, with its live row count.",
        "description": "The list `?provider=` and `?exclude_provider=` accept. A value that is\nnot here is a 422, never a silently empty page — you can always tell\n\"no jobs match\" from \"you spelled it wrong\".\n\nOnly redistributable sources appear. Sources JOA reads but does not\nrepublish are named at `GET /public/coverage` (`excluded_sources`).\n\nAlso served without a key at `GET /public/providers`, because \"which\nsources is this built from\" is a question you should be able to answer\nbefore creating an account.\n",
        "responses": {
          "200": {
            "description": "The provider list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider": {
                            "type": "string",
                            "description": "The value to pass to ?provider=."
                          },
                          "label": {
                            "type": "string"
                          },
                          "live_listings": {
                            "type": "integer"
                          },
                          "with_description": {
                            "type": "integer",
                            "description": "How many of this source's live rows carry the\nemployer's advert text. Published including the\nsources where it is zero — three of them have no\nadapter in the description crawl at all, so they\ncontribute rows and no text, and\n`?provider=<that>&require_fields=description` returns\nan empty page. Knowing that here beats discovering it\nmid-evaluation.\n"
                          },
                          "with_description_pct": {
                            "type": "number"
                          },
                          "source_class": {
                            "type": "string",
                            "enum": [
                              "employer_ats",
                              "government",
                              "direct"
                            ]
                          },
                          "source_type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/meta/freshness": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "How recently the ledger was verified, and how much of it is inferred.",
        "description": "The claim the subscription is sold on, made checkable. Every live\nlisting is re-confirmed at its source on a rolling cycle; this reports\nthe coverage, plus per-field provenance totals so a buyer can size the\nhonest subset before they pay for it.\n",
        "responses": {
          "200": {
            "description": "Freshness and coverage report.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "live_listings": {
                          "type": "integer"
                        },
                        "verification": {
                          "type": "object",
                          "properties": {
                            "reverified_last_hour": {
                              "type": "integer"
                            },
                            "reverified_last_24h": {
                              "type": "integer"
                            },
                            "reverified_last_24h_pct": {
                              "type": "number"
                            },
                            "reverified_last_48h": {
                              "type": "integer"
                            },
                            "reverified_last_48h_pct": {
                              "type": "number"
                            },
                            "reverified_last_7d": {
                              "type": "integer"
                            },
                            "oldest_verification": {
                              "type": "string"
                            },
                            "newest_verification": {
                              "type": "string"
                            }
                          }
                        },
                        "closures": {
                          "type": "object",
                          "properties": {
                            "last_24h": {
                              "type": "integer"
                            },
                            "last_7d": {
                              "type": "integer"
                            }
                          }
                        },
                        "field_coverage": {
                          "type": "object",
                          "properties": {
                            "remote_published": {
                              "type": "integer"
                            },
                            "remote_published_pct": {
                              "type": "number"
                            },
                            "remote_inferred": {
                              "type": "integer"
                            },
                            "remote_inferred_pct": {
                              "type": "number"
                            },
                            "salary_published": {
                              "type": "integer"
                            },
                            "description": {
                              "type": "integer"
                            },
                            "employment_type": {
                              "type": "integer"
                            }
                          }
                        },
                        "generated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/public/site-stats": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "The site's headline numbers, one name and one definition each (daily snapshot).",
        "security": [],
        "description": "Keyless. The single source of every headline number on\njobopportunitiesapi.org, /public/stats, /public/coverage, llms.txt and\napis.json. Taken once a day (normally ~05:00 UTC, from a coverage report measured minutes earlier); `as_of` names the day.\nEvery surface shows the same values for the same `as_of`.\n\n`metrics.employer_direct_live` is THE live count: adverts a caller can\nobtain from /v1/jobs. `live_including_withheld` and\n`employers_including_withheld` include adverts JOA holds back and are\nnever the number JOA sells. `closed_with_closure_date` carries the\nclosure-date caveat in `closure_date_note`. Regional totals state their\ncountry sets in `regions`.\n",
        "responses": {
          "200": {
            "description": "The daily snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "as_of": {
                      "type": "string",
                      "format": "date"
                    },
                    "measured_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "frozen_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "stale": {
                      "type": "boolean"
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "employer_direct_live": {
                          "type": "integer"
                        },
                        "live_including_withheld": {
                          "type": "integer"
                        },
                        "withheld_listings": {
                          "type": "integer"
                        },
                        "employers": {
                          "type": "integer"
                        },
                        "employers_including_withheld": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "countries_with_live_roles": {
                          "type": "integer"
                        },
                        "closed_with_closure_date": {
                          "type": "integer"
                        },
                        "listings_ledger_rows": {
                          "type": "integer"
                        },
                        "posted_last_7d": {
                          "type": "integer"
                        },
                        "europe_live": {
                          "type": "integer"
                        },
                        "north_america_live": {
                          "type": "integer"
                        },
                        "country_unknown_live": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        }
                      }
                    },
                    "regions": {
                      "type": "object"
                    },
                    "definitions": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "closure_date_note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "No snapshot has been taken yet."
          }
        }
      }
    },
    "/public/market-signals/history": {
      "get": {
        "tags": [
          "public"
        ],
        "security": [],
        "summary": "BETA — partial data. Daily trend of Market Signals segments (salary percentiles, time-to-fill, listing counts) over 30/90/365 days.",
        "description": "Keyless. Reads a once-a-day snapshot of the same rollup GET /public/market-signals\nreads live (joa.market_signal_segments), taken by joa.snapshot_market_signal_history()\n(db/193) into joa.market_signal_history. History begins the day the daily snapshot\nfirst ran — there is no backfill — and every response carries \"beta\": true,\n\"partial_data\": true and \"history_starts\" so a caller cannot mistake a short series\nfor a long one. Same restriction as the live endpoint: family/country/seniority only,\nno title, no company. Edge-cached >=1h.\n",
        "parameters": [
          {
            "name": "family",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "One value of the family facet of /public/facets."
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2."
          },
          {
            "name": "seniority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "One value of the seniority facet of /public/facets."
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                30,
                90,
                365
              ]
            },
            "description": "Window size. Defaults to 30."
          }
        ],
        "responses": {
          "200": {
            "description": "A daily trend for the requested segment, oldest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "beta": {
                          "type": "boolean"
                        },
                        "partial_data": {
                          "type": "boolean"
                        },
                        "history_starts": {
                          "type": "string",
                          "format": "date",
                          "nullable": true,
                          "description": "Earliest date any snapshot exists, across every segment. Null before the first snapshot has ever run."
                        },
                        "note": {
                          "type": "string"
                        },
                        "days_requested": {
                          "type": "integer"
                        },
                        "points": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "published",
                                  "suppressed"
                                ]
                              },
                              "listings": {
                                "type": "integer"
                              },
                              "companies": {
                                "type": "integer"
                              },
                              "open": {
                                "type": "integer"
                              },
                              "closed": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/public/companies/{slug}/open-roles-history": {
      "get": {
        "tags": [
          "public"
        ],
        "security": [],
        "summary": "BETA — partial data. One company's open-roles count over 30/90/365 days; real daily snapshots from 2026-10-06.",
        "description": "Keyless. Reads a snapshot of joa.companies.open_roles (already maintained by\nrefresh_companies()), taken by joa.snapshot_company_open_history() into\njoa.company_open_history — never a job row, never a salary or time-to-fill figure.\nSnapshots are daily from 2026-10-06. Before that only two snapshots exist\n(2026-09-28 and 2026-10-04), so older windows have gaps; nothing is reconstructed\nat present. Each point carries a \"method\": \"snapshot\" (a count recorded that day) or\n\"reconstructed\" (a value derived afterwards from the ledger; a reconstructed point never\nreplaces a snapshot). An unknown slug returns 200 with an empty points array rather\nthan 404. Edge-cached >=1h.\n",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                30,
                90,
                365
              ]
            },
            "description": "Window size. Defaults to 30."
          }
        ],
        "responses": {
          "200": {
            "description": "A daily open-roles trend for the named company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "beta": {
                          "type": "boolean"
                        },
                        "partial_data": {
                          "type": "boolean"
                        },
                        "history_starts": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "note": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "days_requested": {
                          "type": "integer"
                        },
                        "points": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "open_roles": {
                                "type": "integer"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "snapshot",
                                  "reconstructed"
                                ],
                                "description": "How the point was obtained."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Your key, plan and quota.",
        "responses": {
          "200": {
            "description": "Key status."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/me/usage": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Requests served per day, for the dashboard's usage chart.",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "requests"
              ]
            },
            "description": "Only requests is available today."
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                30,
                90
              ]
            },
            "description": "Window size. Defaults to 30."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily request counts, oldest first."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/me/export-estimate": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Approximately how many rows a search would return, and whether the CSV export tool would use your plan's remaining allowance.",
        "description": "Accepts the same filters as GET /v1/jobs. Free to call: it never returns rows and consumes no record quota. estimated_rows is the query planner's approximation (EXPLAIN, no execution), not an exact count.\n",
        "responses": {
          "200": {
            "description": "estimated_rows, export_cap, would_use, remaining_this_month."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer YOUR_API_SECRET`"
      }
    },
    "responses": {
      "401": {
        "$ref": "#/components/responses/Unauthorized"
      },
      "429": {
        "$ref": "#/components/responses/RateLimited"
      },
      "Unauthorized": {
        "description": "Missing, unknown, revoked or expired key. All four are reported identically.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "No such row.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "A parameter we will not guess at: an unknown source_type or provider, an unparseable timestamp, a malformed cursor. Note the deliberate exceptions, which are clamps rather than errors: `limit` is capped at the plan maximum (a non-numeric value falls back to the default), and comma-separated lists are truncated to the per-parameter maximum shown on each. Unknown query parameters are ignored.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Over your plan's per-minute or per-day limit. `Retry-After` says how long (seconds to the next minute boundary, or to UTC midnight on a daily breach). The body says exactly when the limit resets (`resets_at`, `resets_at_text`) and, when a higher plan exists, links a same-key upgrade (`upgrade_url`).\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the limit resets.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix seconds of the next UTC midnight, when the daily counter resets.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LimitError"
            }
          }
        }
      },
      "RecordQuotaExhausted": {
        "description": "The plan's monthly RECORD allowance is spent. Distinct from 429: a 429 means slow down and retry, a 402 means the licence is used up until the allowance resets. The monthly window is the CALENDAR month in UTC: it resets on the 1st of the next month at 00:00 UTC, and the body gives the exact instant. Do not retry before then. Every metered response carries `X-RateLimit-Records-Remaining`, so this is visible long before it happens.\n",
        "headers": {
          "X-RateLimit-Records-Limit": {
            "description": "Records included in the plan this month.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Records-Used": {
            "description": "Records consumed this month.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Records-Reset": {
            "description": "Unix seconds of the instant the monthly allowance resets (the 1st of next month, 00:00 UTC). There is no Retry-After on a 402.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LimitError"
            }
          }
        }
      },
      "PlanUpgradeRequired": {
        "description": "This endpoint is not included in your plan. `X-JOA-Required-Feature` names the missing entitlement — `delta_feed` or `bulk_export`. See https://jobopportunitiesapi.org/api for the tiers that include it.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        }
      },
      "LimitError": {
        "description": "The body of a 402 `record_quota_exhausted` and a 429 `rate_limited`. `error`, `message` and `docs` are the same envelope as every other error; the remaining fields are optional additions. Marketplace channel keys and keys with no higher plan get the reset time but no `upgrade_*` fields.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "format": "int64",
                "description": "The limit that was hit, in the unit of `window` (records per month, requests per day or per minute)."
              },
              "used": {
                "type": "integer",
                "format": "int64",
                "description": "Usage in that window when the limit was hit."
              },
              "plan": {
                "type": "string",
                "description": "The key's plan, e.g. `explore`."
              },
              "window": {
                "type": "string",
                "enum": [
                  "calendar_month_utc",
                  "day_utc",
                  "minute"
                ],
                "description": "Which limit was hit. `calendar_month_utc` resets on the 1st of the next month at 00:00 UTC; `day_utc` at the next 00:00 UTC; `minute` at the next minute boundary."
              },
              "resets_at": {
                "type": "string",
                "format": "date-time",
                "description": "The exact reset instant, RFC 3339, always UTC.",
                "example": "2026-11-01T00:00:00Z"
              },
              "resets_at_text": {
                "type": "string",
                "description": "The same instant in plain English, UTC.",
                "example": "1 November 2026 at 00:00 UTC"
              },
              "upgrade_plan": {
                "type": "string",
                "description": "The plan `upgrade_url` moves the key to. `growth` for a free (Explore) key or a live trial (the one-click link); otherwise the next plan up. Absent for the top plan and for marketplace keys.",
                "example": "growth"
              },
              "upgrade_url": {
                "type": "string",
                "format": "uri",
                "description": "For a free (Explore) key or a live trial that hit the monthly record limit: a one-click link for the SAME key\n(`https://jobopportunitiesapi.org/upgrade?k=<signed token>`). Opening it, no sign-in needed, redirects to a\npersonal Creem checkout that upgrades this key to Growth monthly; same secret, nothing to change in the integration.\nThe token is signed, scoped to the key and valid for 48 hours. For any other key it is a same-key checkout link for\n`upgrade_plan` (the signed-in owner of the key completes it).\n"
              },
              "docs_url": {
                "type": "string",
                "format": "uri",
                "description": "The documentation section on this limit."
              }
            }
          }
        ]
      },
      "FieldSources": {
        "type": "object",
        "description": "Per-field provenance. `published` means the value was carried by the\nsource. `inferred` means WE produced it — it may be right, it is not a\nquotation. `absent` means no value, which is a different failure from a\nguess and is reported as such.\n\n`category` and `seniority` are ALWAYS `inferred`: both are read off the\njob title by a classifier, never from a field the employer filled in.\n\n`salary` is `published` when the source stated it in a field\n(`salary_source: structured`), and `inferred` when we read it out of the\nadvert text (`salary_source: parsed_description`). It is never an\nestimate: the projection refuses to emit Erioun's AI salary predictions\nat all, so a modelled figure cannot reach this API by any route.\n\n`region`, `expires_at`, `description_length`, `source_requisition_id`,\n`employer_website`, `salary_max`, `salary_currency` and `salary_period`\nwere added with db/144, which moved the fields parsed out of the source's\nown page into a side table (`joa.listing_extract`). The payload coalesces\nthe listing column with the extracted one, preferring whatever the row\nalready carried, and these keys say whether a value is there: a value\nthat came from the source is `published`, a missing one is `absent`.\n\nEvery key on this object is ALWAYS present on every job — the vocabulary\nis the value, not the presence — so a client can bind the whole shape.\n",
        "required": [
          "remote",
          "employment_type",
          "engagement",
          "contract_category",
          "agency",
          "working_schedule",
          "category",
          "seniority",
          "salary",
          "salary_max",
          "salary_currency",
          "salary_period",
          "location",
          "region",
          "posted_at",
          "description",
          "description_length",
          "source_type",
          "expires_at",
          "source_requisition_id",
          "employer_website"
        ],
        "properties": {
          "remote": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "employment_type": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "engagement": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of the engagement array (db/232): `published` when the\nsource's own field or page stated the relationship, `inferred` when\nan audited deterministic rule of ours established it (the payload\nthen also carries engagement_confidence), `absent` when the posting\ndoes not establish it — the value key is then omitted and\n`?engagement=unknown` selects the row. Never inferred from silence.\n"
          },
          "contract_category": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "agency": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "working_schedule": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "seniority": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "salary": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "salary_max": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of salary_max, and always the same verdict as salary:\npublished only when the source stated the figure in a field of its\nown, inferred when we read it out of the advert text, absent when\nthere is no figure.\n"
          },
          "salary_currency": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of salary_currency; the same verdict as salary."
          },
          "salary_period": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of salary_period; the same verdict as salary."
          },
          "location": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "region": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "published when the row carries a region, absent when it does not. It\ndoes NOT separate the region the source declared from the ones db/078\nderives from the location text or the city gazetteer, and it does not\nseparate the listing column from the value extracted off the page\n(db/144) — read it as \"we established a region\", not as a quotation.\n"
          },
          "posted_at": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "description": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ]
          },
          "description_length": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Computed from the same octet_length as description, so the two cannot\ndisagree: published when the row carries text, absent when it does\nnot.\n"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "`inferred` when the value is the provider's default class;\n`published` when the row itself was classified upstream.\n\nTODAY THIS IS ALWAYS `inferred`: the row-level column is null on\nevery live listing, so the provider's class is the only path taken.\n`published` is reserved for when per-row classification lands. Do not\nbuild a filter that expects it to appear.\n"
          },
          "expires_at": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of expires_at: published when the row carries one, from\neither source — see the Job schema — and absent while the vacancy is\nlive.\n"
          },
          "source_requisition_id": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of source_requisition_id. The value only ever comes from\nthe page the verify sweep parsed (db/144), so this is published or\nabsent, never inferred.\n"
          },
          "employer_website": {
            "type": "string",
            "enum": [
              "published",
              "inferred",
              "absent"
            ],
            "description": "Provenance of employer_website. Like source_requisition_id it only\never comes from the page the sweep parsed, so it is published or\nabsent, never inferred.\n"
          }
        }
      },
      "Job": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "title",
          "company",
          "company_slug",
          "remote_inferred",
          "last_verified_at",
          "status",
          "source",
          "source_type",
          "provider_type",
          "has_description",
          "field_sources"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "company_slug": {
            "type": "string"
          },
          "company_logo": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "category_confidence": {
            "type": [
              "number",
              "null"
            ],
            "description": "Classifier confidence in `category`. Below 0.6 no category is published at all, so this is always null or >= 0.6."
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "description": "State/province code where one could be established — US two-letter\ncodes today, absent on every non-US row and on cities that resolve to\nmore than one state. db/078 resolves it from the source's declared\nregion first, then a state named in the free-text location, then an\nunambiguous city; db/144 adds the region the page itself declares\n(schema.org addressRegion) where the listing column has none.\nfield_sources.region reports published whenever the row carries one\nand does not separate those derivations, so read it as \"we\nestablished a region\", not as a quotation.\n"
          },
          "remote": {
            "type": "string",
            "enum": [
              "remote",
              "hybrid",
              "on_site"
            ]
          },
          "remote_inferred": {
            "type": "boolean",
            "description": "**Always present.** True when we derived `remote` rather than read\nit. It used to be omitted when false, which made a stated value and\nan absent one identical on the wire.\n"
          },
          "relevance": {
            "type": "object",
            "description": "Present only on rows served with `sort=relevance`. `score` is an\nordering-only integer (comparable within one response, never\nacross queries); `tier` is the match class: exact, synonym,\nabbreviation or typo.\n",
            "properties": {
              "score": {
                "type": "integer"
              },
              "tier": {
                "type": "string",
                "enum": [
                  "exact",
                  "synonym",
                  "abbreviation",
                  "typo"
                ]
              }
            }
          },
          "employment_type": {
            "type": "string",
            "description": "One of Full-time, Part-time, Contract, Temporary, Internship. A row\nthat already carried one keeps it; otherwise this is the\nemploymentType the page itself declares (db/144), normalised to the\nsame five values (db/220; a declared value that maps to none of them\nis not shown). Either way the value is the source's own, which is\nwhy field_sources.employment_type is published whenever the key is\npresent, and ?employment_type= filters on exactly this value.\nUNCHANGED and frozen since the contract fields (engagement,\ncontract_category, agency, working_schedule) shipped: existing\nintegrations keep byte-identical behaviour. Rough old-to-new\nreading: Contract/Temporary mostly correspond to engagement=vendor\nor contract_category=fixed_term, Internship to\ncontract_category=internship — but the new fields come from what\nthe posting STATES, so they are populated independently, not\ntranslated from this one.\n"
          },
          "engagement": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "employee",
                "vendor",
                "other"
              ]
            },
            "description": "The employment relationship the posting establishes (db/232, plan\nv2.1): `employee` — an employment contract with some employer of\nrecord running payroll (the advertiser, a temp agency or an\numbrella company); `vendor` — a commercial or civil-law service\nrelationship (freelance, B2B, 1099, C2C, Brazilian PJ: the person\ninvoices); `other` — a stated hybrid national form that everyday\nunderstanding puts on neither side (Polish umowa zlecenie /\numowa o dzieło, Italian co.co.co., Spanish TRADE, umbrella/portage\narrangements, statutory non-employment internships such as the\nFrench stage, volunteering). The raw national term is retained\ninternally. An ARRAY because some adverts offer two arrangements\n(\"CLT ou PJ\", \"UoP lub B2B\"): main option first, at most 3 values,\nusually exactly 1. OMITTED when the posting does not establish it —\nwhich is most postings; absence is filterable as\n`?engagement=unknown` and never means \"employee by default\".\n"
          },
          "engagement_confidence": {
            "type": "number",
            "description": "Present ONLY when field_sources.engagement is `inferred`: the\nmeasured precision of the rule that established the value, 0..1. A\npublished value carries no confidence — it is the source's words.\n"
          },
          "contract_category": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "permanent",
                "fixed_term",
                "project_based",
                "seasonal",
                "apprenticeship",
                "internship",
                "other"
              ]
            },
            "description": "The contract kind the posting establishes (db/232): `permanent` is\nreturned only when the posting STATES an open-ended contract (CDI,\nunbefristet, tempo indeterminato, indefinido, ...); `fixed_term`\nends on a date or fixed period; `project_based` ends on completion\nof a defined project; `seasonal` when the source says seasonal;\n`apprenticeship` is a statutory work-and-study contract;\n`internship` includes traineeships; `other` is a STATED form none\nof these represent (zero-hours, casual, per diem, Minijob,\nWerkstudent, ...). An ARRAY (dual-option adverts), main option\nfirst. OMITTED when the posting states none — most postings;\nfilterable as `?contract_category=unknown`. For vendors the\ncategory only describes the term of the engagement.\n"
          },
          "contract_category_confidence": {
            "type": "number",
            "description": "Present ONLY when field_sources.contract_category is `inferred`:\nthe measured precision of the rule, 0..1.\n"
          },
          "agency": {
            "type": "string",
            "enum": [
              "direct",
              "agency",
              "umbrella"
            ],
            "description": "Who the employer of record is: `direct` — the advertiser; `agency`\n— a temporary-work agency (the engagement is then employee, per EU\nand national law, and contract_category describes the contract with\nthe agency — permanent agency contracts exist); `umbrella` — an\numbrella / portage company. OMITTED when not established\n(`?agency=unknown`). No confidence key by design.\n"
          },
          "working_schedule": {
            "type": "string",
            "enum": [
              "full_time",
              "part_time",
              "flexible"
            ],
            "description": "The stated schedule. `flexible` covers adverts offering either\nschedule. OMITTED when not established\n(`?working_schedule=unknown`). Distinct from, and independent of,\nthe frozen employment_type field above.\n"
          },
          "working_schedule_confidence": {
            "type": "number",
            "description": "Present ONLY when field_sources.working_schedule is `inferred`.\n"
          },
          "seniority": {
            "type": "string"
          },
          "salary_min": {
            "type": "number",
            "description": "The source's own figure. A row that already carried one keeps it;\notherwise this is the baseSalary the page declares, or the ATS's\nsalaryRange (db/144). Absent — not null — when there is no figure,\nwhich is the case for most employers.\n"
          },
          "salary_max": {
            "type": "number",
            "description": "The top of the range, same sources as salary_min. Absent when the\nsource states a single figure or none at all.\n"
          },
          "salary_currency": {
            "type": "string",
            "description": "ISO code, as the source states it. Same sources as salary_min.\n"
          },
          "salary_period": {
            "type": "string",
            "description": "hour, day, week, month or year, as the source states it. Same sources\nas salary_min.\n"
          },
          "salary_source": {
            "type": "string",
            "description": "Where the figure came from. `structured` is a field the source itself published. `parsed_description` is a real figure quoted in the advert text that WE read out and normalised — we chose the number and the period, so `field_sources.salary` reports it as `inferred`, never `published`.\n\nThis marker describes the LISTING row only. A figure that arrived\nfrom the extracted side table (db/144) is the source's own baseSalary\nor salaryRange field, and `field_sources.salary` reports it as\n`published` while salary_source itself is absent.\n",
            "enum": [
              "structured",
              "parsed_description"
            ]
          },
          "posted_at": {
            "type": "string"
          },
          "last_verified_at": {
            "type": "string",
            "description": "When we last confirmed this vacancy still exists at its source."
          },
          "status": {
            "type": "string",
            "enum": [
              "live",
              "closed"
            ]
          },
          "closed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "JOA records as the closure date the day its daily verification confirmed that an advert had gone. Before late September 2026 that verification ran in large catch-up batches, so closure dates recorded before then show when JOA confirmed a closure, not when the employer closed the role; daily verification applies from late September 2026."
          },
          "closed_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "expired_upstream",
              "not_seen",
              "employer_closed",
              "deadline_passed",
              null
            ]
          },
          "upstream_expired_at": {
            "type": "string",
            "description": "When the radar proved the vacancy dead, as opposed to when we removed it. Still the radar's column and nothing else; `expires_at` is the key that also carries the posting's own validThrough date."
          },
          "expires_at": {
            "type": "string",
            "description": "When the vacancy stops being valid, from either source: the timestamp\nthe radar PROVED it dead (upstream_expired_at), or the date the\nposting itself states (db/144, schema.org validThrough). A row that\nalready carried the first keeps it. Absent while the vacancy is live.\nSame shape as every other timestamp here — a date from the posting\nrenders as midnight of that date.\n"
          },
          "apply_url": {
            "type": "string"
          },
          "source_requisition_id": {
            "type": "string",
            "description": "The identifier the SOURCE uses for this vacancy — an ATS job id, a\nWorkday requisition id, a schema.org identifier — so a support ticket\nor a buyer's own ATS lookup can quote it. Absent on every row the\nverify sweep has not extracted yet (db/144); joa.listings has no\ncolumn for it, which is why the payload carried it for 0% of rows\nbefore.\n"
          },
          "employer_website": {
            "type": "string",
            "description": "The employer's own site as THIS posting states it —\nhiringOrganization.url or sameAs, or the ATS's own field (db/144).\nA different claim from `website` on /v1/companies, which is verified\nagainst the domain's own page.\n"
          },
          "source": {
            "type": "string",
            "description": "The provider id, e.g. greenhouse, company_site, workday. The full published list is /public/providers; eures, arbeitsagentur and france_travail were named here until 2026-08-15, when they became discovery-only and left that list."
          },
          "source_type": {
            "type": "string",
            "enum": [
              "ats",
              "career_site",
              "public_agency",
              "aggregator",
              "agency",
              "unknown"
            ],
            "description": "Per-row provenance where the source has been classified per row,\notherwise the provider's class. Snapshot of the distribution on\n5 Aug 2026: ats 1,063,129, career_site 672,526, public_agency 320,727;\nthe current split by source class is in /public/coverage (sources).\n\nRESERVED VALUES: `aggregator` and `agency` are accepted by the filter\nbut currently match no rows. Every aggregator source is marked\nnon-redistributable, so that inventory never enters the ledger at\nall, and no provider is classified `agency` yet. Filtering on either\nreturns an empty page — that is the data, not a fault.\n"
          },
          "provider_type": {
            "type": "string",
            "enum": [
              "employer_ats",
              "government",
              "direct",
              "aggregator"
            ],
            "description": "The provider-level class, in the original vocabulary. Kept so a query written against it still resolves."
          },
          "has_description": {
            "type": "boolean"
          },
          "description_length": {
            "type": "number",
            "description": "Size of description in bytes. Always present: 0 means the row carries\nno advert text, exactly as has_description:false does. Computed with\noctet_length, which reads the length out of the TOAST header without\nfetching the text — the text itself still needs\ninclude_description=true.\n"
          },
          "description_truncated": {
            "type": "boolean",
            "description": "True while the stored advert text is known to be cut short at its\nsource: harvested under an old 4,000-character limit and not yet\nre-fetched, or longer than the 100,000-character safety ceiling.\nJOA does not shorten the text it serves; this flag says the\nledger's own copy is incomplete. Always present.\n"
          },
          "description": {
            "type": "string",
            "description": "The full advert text. Present ONLY when the request set include_description=true, and only on the 89.8% of rows that have one (1,740,395 live rows).\n\nPersonal email addresses are removed: an email address that identifies one person (a name-based address such as jane.doe@...) is replaced with `[personal contact removed]`. Company mailboxes stay in the text: role mailboxes (jobs@, careers@, hr@, info@ and their equivalents in other languages). Phone numbers are not changed on this path. A role an employer listed with us directly keeps its text exactly as the employer published it. Nothing else in the text, `apply_url` and every other field are unchanged. `description_length` counts the stored text, before this replacement. The bulk `GET /v1/export` removes every email address and phone number instead.\n"
          },
          "first_seen_at": {
            "type": "string",
            "description": "When the vacancy first entered this ledger. Populated on 100% of rows, unlike posted_at which the source often omits — so this is the field to sort or backfill by when you need every row to have a date.\n"
          },
          "salary_min_annual_eur": {
            "type": "number",
            "description": "salary_min converted to an annual EUR figure, so a row quoting USD/hour and one quoting GBP/year are comparable. NULL when the period or the currency is unrecognised — never guessed, because reading an hourly rate as a salary is wrong by a factor of 2080. Converted with the indicative rates in /v1/meta/freshness, not a settlement rate.\n"
          },
          "field_sources": {
            "$ref": "#/components/schemas/FieldSources"
          },
          "canonical_url": {
            "type": "string",
            "description": "Present only on roles an employer listed through Erioun for Teams: the role's own page, where people apply and which search engines should index. Link to it, not to our page. Absent on every other row.\n"
          },
          "attribution": {
            "type": "string",
            "description": "Present only on roles an employer listed through Erioun for Teams: show the listing with these words, today \"via Erioun for Teams\". Absent on every other row.\n"
          }
        }
      },
      "JobPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_more": {
            "type": "boolean"
          },
          "completeness": {
            "type": "object",
            "description": "Present only when you passed `require_fields`. Every row in `data`\ncarries all of `required` as `published` in `field_sources`.\n\n`published_in_ledger` is per field and ledger-wide — the number\nmatching your other filters as well is at most the smallest of them.\nIt is deliberately not an exact count of your query: that is an\naggregate over the whole ledger, and running one per request is how\nan endpoint becomes a timeout. `by_country` links to the per-country\ntable, which is where \"is there enough of this in my market\" is\nactually answered.\n",
            "properties": {
              "required": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "published_in_ledger": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "labels": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "generated_at": {
                "type": "string",
                "format": "date-time"
              },
              "note": {
                "type": "string"
              },
              "by_country": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "website_verified": {
            "type": "string",
            "description": "When we fetched this domain and found the company own name on it."
          },
          "logo": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "org_type": {
            "type": "string"
          },
          "sectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "open_roles": {
            "type": "integer",
            "description": "Roles retrievable from THIS API. Never a number the API cannot honour."
          },
          "own_site_roles": {
            "type": "integer",
            "description": "Vacancies seen on the company own careers page."
          },
          "careers_url": {
            "type": "string"
          },
          "source_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ats",
                "career_site",
                "public_agency",
                "aggregator",
                "agency"
              ]
            },
            "description": "`aggregator` and `agency` are reserved and match no rows today; see the source_type enum.\n"
          },
          "first_seen": {
            "type": "string"
          }
        }
      },
      "CompanyPage": {
        "type": "object",
[...]
