{
  "openapi": "3.0.3",
  "info": {
    "title": "ScreenshotOne - A screenshot and HTML rendering API",
    "description": "Take stunning site screenshots or render HTML via ScreenshotOne API.\n\nRender websites and HTML as images. Block cookie banners and ads. \nThe API uses the latest Google Chrome for rendering \nand Google Cloud Platform for performance and scalability.",
    "termsOfService": "https://screenshotone.com/terms-of-service/",
    "contact": {
      "email": "support@screenshotone.com"
    },
    "license": {
      "name": "Commercial Proprietary License"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.screenshotone.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.screenshotone.com/"
    }
  ],
  "paths": {
    "/take": {
      "get": {
        "summary": "Generate a screenshot or PDF of a website, render HTML, or Markdown",
        "description": "Generate a screenshot or PDF by specifying a website URL, render HTML, or Markdown.        \n",
        "operationId": "getScreenshot",
        "parameters": [
          {
            "name": "url",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "html",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "markdown",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "signature",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "selector",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "error_on_selector_not_found",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "response_type",
            "schema": {
              "type": "string",
              "enum": [
                "by_format",
                "empty"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpeg",
                "jpg",
                "webp",
                "gif",
                "jp2",
                "tiff",
                "avif",
                "heif",
                "html"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "clip_x",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "clip_y",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "clip_width",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "clip_height",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "dark_mode",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "reduced_motion",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "media_type",
            "schema": {
              "type": "string",
              "enum": [
                "screen",
                "print"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "scripts",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "scripts_wait_until",
            "schema": {
              "type": "string",
              "enum": [
                "load",
                "domcontentloaded",
                "networkidle0",
                "networkidle2"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "styles",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "hide_selectors",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "hover",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "error_on_hover_selector_not_found",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "click",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "image_quality",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "image_width",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "image_height",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "omit_background",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_device",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_width",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_height",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "device_scale_factor",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_mobile",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_has_touch",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "viewport_landscape",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "full_page",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "full_page_scroll",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "full_page_scroll_delay",
            "schema": {
              "type": "integer",
              "minimum": 100
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "full_page_scroll_by",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "geolocation_latitude",
            "schema": {
              "type": "integer",
              "minimum": -90,
              "maximum": 90
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "geolocation_longitude",
            "schema": {
              "type": "integer",
              "minimum": -180,
              "maximum": 180
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "geolocation_accuracy",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_cookie_banners",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_banners_by_heuristics",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_chats",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_ads",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_socials",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_trackers",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_requests",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "block_resources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "document",
                  "stylesheet",
                  "image",
                  "media",
                  "font",
                  "script",
                  "texttrack",
                  "xhr",
                  "fetch",
                  "eventsource",
                  "websocket",
                  "manifest",
                  "other"
                ]
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "cache",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "cache_ttl",
            "schema": {
              "type": "integer",
              "minimum": 14400,
              "maximum": 2592000
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "cache_key",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "user_agent",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "authorization",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "headers",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "cookies",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "proxy",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "proxy_bypass_hosts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "time_zone",
            "schema": {
              "type": "string",
              "enum": [
                "America/Santiago",
                "Asia/Shanghai",
                "Europe/Berlin",
                "America/Guayaquil",
                "Europe/Madrid",
                "Pacific/Majuro",
                "Asia/Kuala_Lumpur",
                "Pacific/Auckland",
                "Europe/Lisbon",
                "Europe/Kiev",
                "Asia/Tashkent",
                "Europe/London"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "delay",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 30
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "timeout",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 30
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "wait_until",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "load",
                  "domcontentloaded",
                  "networkidle0",
                  "networkidle2"
                ]
              }
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "wait_for_selector",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "store",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "storage_bucket",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "storage_path",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "storage_class",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "reduced_redundancy",
                "standard_ia",
                "onezone_ia",
                "intelligent_tiering",
                "glacier",
                "deep_archive",
                "outposts",
                "glacier_ir"
              ]
            },
            "in": "query",
            "description": ""
          },
          {
            "name": "reduce_motion",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScreenshotResult"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Generate a screenshot or PDF of a website, render HTML, or Markdown",
        "description": "Generate a screenshot or PDF by specifying a website URL, render HTML, or Markdown.        \n",
        "operationId": "takeScreenshot",
        "requestBody": {
          "description": "Update an existent pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "access_key": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/ScreenshotOptions"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScreenshotResult"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/bulk": {
      "post": {
        "summary": "Take a screenshot of the website or render HTML or Markdown",
        "description": "Take a screenshot by URL or render HTML or Markdown",
        "operationId": "bulk",
        "requestBody": {
          "description": "Update an existent pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get API usage metrics",
        "description": "Returns the API usage metrics for the specified access key.",
        "operationId": "apiUsageMetrics",
        "responses": {
          "200": {
            "description": "A successful result with the API usage metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "available": {
                      "type": "integer"
                    },
                    "used": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "summary": "The list of supported devices",
        "description": "Returns a list of viewport devices that can be used for rendering screenshots.\nUse `id`of the device as the `viewport_device` option in the `/take` method.\n",
        "operationId": "devices",
        "responses": {
          "200": {
            "description": "The list of supported devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ViewportDevice"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BulkOptions": {
        "type": "object",
        "required": [
          "execute",
          "optimize",
          "options",
          "requests"
        ],
        "properties": {
          "access_key": {
            "type": "string"
          },
          "execute": {
            "type": "boolean"
          },
          "optimize": {
            "type": "boolean"
          },
          "options": {
            "$ref": "#/components/schemas/ScreenshotOptions"
          },
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScreenshotOptions"
            }
          }
        }
      },
      "ViewportDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "viewport": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "deviceScaleFactor": {
                "type": "integer"
              },
              "isMobile": {
                "type": "boolean"
              },
              "hasTouch": {
                "type": "boolean"
              },
              "isLandscape": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ScreenshotOptions": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "html": {
            "type": "string"
          },
          "markdown": {
            "type": "string"
          },
          "selector": {
            "type": "string"
          },
          "error_on_selector_not_found": {
            "type": "boolean"
          },
          "response_type": {
            "type": "string",
            "enum": [
              "by_format",
              "empty"
            ]
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "jpg",
              "webp",
              "gif",
              "jp2",
              "tiff",
              "avif",
              "heif",
              "html"
            ]
          },
          "clip_x": {
            "type": "integer"
          },
          "clip_y": {
            "type": "integer"
          },
          "clip_width": {
            "type": "integer"
          },
          "clip_height": {
            "type": "integer"
          },
          "dark_mode": {
            "type": "boolean"
          },
          "reduced_motion": {
            "type": "boolean"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "screen",
              "print"
            ]
          },
          "scripts": {
            "type": "string"
          },
          "scripts_wait_until": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ]
          },
          "styles": {
            "type": "string"
          },
          "hide_selectors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hover": {
            "type": "string"
          },
          "error_on_hover_selector_not_found": {
            "type": "boolean"
          },
          "click": {
            "type": "string"
          },
          "image_quality": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "image_width": {
            "type": "integer"
          },
          "image_height": {
            "type": "integer"
          },
          "omit_background": {
            "type": "boolean"
          },
          "viewport_device": {
            "type": "string"
          },
          "viewport_width": {
            "type": "integer"
          },
          "viewport_height": {
            "type": "integer"
          },
          "device_scale_factor": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "viewport_mobile": {
            "type": "boolean"
          },
          "viewport_has_touch": {
            "type": "boolean"
          },
          "viewport_landscape": {
            "type": "boolean"
          },
          "full_page": {
            "type": "boolean"
          },
          "full_page_scroll": {
            "type": "boolean"
          },
          "full_page_scroll_delay": {
            "type": "integer",
            "minimum": 100
          },
          "full_page_scroll_by": {
            "type": "integer"
          },
          "geolocation_latitude": {
            "type": "integer",
            "minimum": -90,
            "maximum": 90
          },
          "geolocation_longitude": {
            "type": "integer",
            "minimum": -180,
            "maximum": 180
          },
          "geolocation_accuracy": {
            "type": "integer",
            "minimum": 0
          },
          "block_cookie_banners": {
            "type": "boolean"
          },
          "block_banners_by_heuristics": {
            "type": "boolean"
          },
          "block_chats": {
            "type": "boolean"
          },
          "block_ads": {
            "type": "boolean"
          },
          "block_socials": {
            "type": "boolean"
          },
          "block_trackers": {
            "type": "boolean"
          },
          "block_requests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "block_resources": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "document",
                "stylesheet",
                "image",
                "media",
                "font",
                "script",
                "texttrack",
                "xhr",
                "fetch",
                "eventsource",
                "websocket",
                "manifest",
                "other"
              ]
            }
          },
          "cache": {
            "type": "boolean"
          },
          "cache_ttl": {
            "type": "integer",
            "minimum": 14400,
            "maximum": 2592000
          },
          "cache_key": {
            "type": "string"
          },
          "user_agent": {
            "type": "string"
          },
          "authorization": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "proxy": {
            "type": "string",
            "format": "uri"
          },
          "proxy_bypass_hosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "time_zone": {
            "type": "string",
            "enum": [
              "America/Santiago",
              "Asia/Shanghai",
              "Europe/Berlin",
              "America/Guayaquil",
              "Europe/Madrid",
              "Pacific/Majuro",
              "Asia/Kuala_Lumpur",
              "Pacific/Auckland",
              "Europe/Lisbon",
              "Europe/Kiev",
              "Asia/Tashkent",
              "Europe/London"
            ]
          },
          "delay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30
          },
          "timeout": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30
          },
          "wait_until": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "load",
                "domcontentloaded",
                "networkidle0",
                "networkidle2"
              ]
            }
          },
          "wait_for_selector": {
            "type": "string"
          },
          "store": {
            "type": "boolean"
          },
          "storage_bucket": {
            "type": "string"
          },
          "storage_path": {
            "type": "string"
          },
          "storage_class": {
            "type": "string",
            "enum": [
              "standard",
              "reduced_redundancy",
              "standard_ia",
              "onezone_ia",
              "intelligent_tiering",
              "glacier",
              "deep_archive",
              "outposts",
              "glacier_ir"
            ]
          },
          "reduce_motion": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "is_successful",
          "error_code",
          "error_message"
        ],
        "properties": {
          "is_successful": {
            "type": "boolean"
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "error_details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "context": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "Screenshot": {
        "description": "ScreenshotOptions object that needs to be added to the store",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScreenshotOptions"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "accessKeyQuery": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query"
      },
      "accessKeyHeader": {
        "type": "apiKey",
        "name": "X-Access-Key",
        "in": "header"
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "An error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ScreenshotResult": {
        "description": "A successful rendering result of website, HTML, or Markdown.",
        "content": {
          "image/png": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/jpeg": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/webp": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/gif": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/jp2": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/tiff": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/avif": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/heif": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "application/pdf": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "text/html": {
            "schema": {
              "type": "string",
              "format": "text"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "accessKeyQuery": []
    },
    {
      "accessKeyHeader": []
    }
  ],
  "externalDocs": {
    "description": "Official documentation for ScreenshotOne API",
    "url": "https://screenshotone.com/docs/getting-started/"
  }
}