{
  "openapi": "3.1.0",
  "info": {
    "title": "Pechincha.ai Partner API",
    "version": "1.0.0",
    "description": "Promoções ativas e produtos com histórico de preço das lojas brasileiras (Amazon, Mercado Livre, AliExpress, Shopee e outras). Preços em BRL, conteúdo em pt-BR. A chave de parceiro é pedida em https://pechincha.ai/comercial. Limite: 60 requisições por minuto (acima disso, 429). Documentação: https://pechincha.ai/desenvolvedores",
    "contact": {
      "email": "comercial@pechincha.ai",
      "url": "https://pechincha.ai/desenvolvedores"
    },
    "x-jentic-source-url": "https://pechincha.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.pechincha.ai/api-partner"
    }
  ],
  "paths": {
    "/promotions": {
      "get": {
        "operationId": "listPromotions",
        "summary": "Lista promoções ativas, 25 por página",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Busca textual por título (até 50 caracteres).",
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category_ids",
            "in": "query",
            "description": "UUIDs separados por vírgula. Tem precedência sobre category_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tag_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "price",
                "title",
                "views",
                "total_reactions",
                "total_comments",
                "total_shares",
                "total_clicks"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "hide_expired",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de promoções",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Promotion"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/product/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Detalhes do produto (especificações, prós e contras, perguntas frequentes)",
        "parameters": [
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "responses": {
          "200": {
            "description": "Produto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Produto não encontrado"
          }
        }
      }
    },
    "/product/slug/{productSlug}": {
      "get": {
        "operationId": "getProductBySlug",
        "summary": "Detalhes do produto pelo slug",
        "parameters": [
          {
            "name": "productSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Produto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Produto não encontrado"
          }
        }
      }
    },
    "/product/{productId}/promotions": {
      "get": {
        "operationId": "getProductOffers",
        "summary": "Ofertas do mesmo produto em várias lojas (comparação de preço)",
        "parameters": [
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "responses": {
          "200": {
            "description": "Ofertas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/product/{productId}/price-history": {
      "get": {
        "operationId": "getPriceHistory",
        "summary": "Histórico de preço do produto",
        "parameters": [
          {
            "$ref": "#/components/parameters/productId"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d",
                "1y",
                "all"
              ],
              "default": "30d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pontos do histórico e estatísticas do período",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "min_price": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "max_price": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "avg_price": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "total_records": {
                          "type": "integer"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "old_price": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "store_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/product/{productId}/related": {
      "get": {
        "operationId": "getRelatedProducts",
        "summary": "Produtos relacionados",
        "parameters": [
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "responses": {
          "200": {
            "description": "Produtos relacionados"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "productId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "API key ausente, inválida ou revogada"
      },
      "TooManyRequests": {
        "description": "Limite de 60 requisições por minuto excedido"
      }
    },
    "schemas": {
      "Store": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_verified": {
            "type": "boolean"
          }
        }
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "description": "Página: https://pechincha.ai/p/{id}/{slug}"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "old_price": {
            "type": [
              "number",
              "null"
            ]
          },
          "discount": {
            "type": [
              "number",
              "null"
            ]
          },
          "coupon_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "PROMOTION",
              "COUPON"
            ]
          },
          "url": {
            "type": "string",
            "description": "Link curto pechincha.link/p/{codigo} que redireciona para a loja. Use sempre este link; aceita ?ref= e utm_*."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "store": {
            "$ref": "#/components/schemas/Store"
          },
          "category": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "old_price": {
            "type": [
              "number",
              "null"
            ]
          },
          "coupon_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string"
          },
          "is_expired": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "store": {
            "$ref": "#/components/schemas/Store"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "description": "Página: https://pechincha.ai/produto/{id}/{slug}"
          },
          "name": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lowest_price": {
            "type": [
              "number",
              "null"
            ]
          },
          "lowest_price_store": {
            "$ref": "#/components/schemas/Store"
          },
          "pros": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "faq": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              }
            }
          },
          "technical_specs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}