{
  "openapi": "3.0.0",
  "info": {
    "title": "Sharpe API",
    "version": "1.0.0",
    "description": "Institutional-grade crypto market data API. Access funding rates, futures, arbitrage opportunities, narratives, ecosystems, and more.\n\nAuthentication is supported via two production-safe methods:\n1. **Bearer token** in the Authorization header: `Authorization: Bearer sk_live_...`\n2. **X-API-Key header**: `X-API-Key: sk_live_...`\n\nAPI keys in query parameters are rejected by default because URLs are commonly stored in logs, browser history, analytics tools, and referrer headers.\n\nThese `/v1` endpoints send no CORS headers and must be called from a server: calling them from a browser would expose your API key in page JavaScript. The free, keyless `/api/*` endpoints do allow cross-origin browser requests (https://www.sharpe.ai/docs/free-api).",
    "contact": {
      "name": "Sharpe API Support",
      "url": "https://sharpe.ai",
      "email": "team@sharpe.ai"
    },
    "x-jentic-source-url": "https://www.sharpe.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.sharpe.ai/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/analytics/query": {
      "post": {
        "operationId": "queryAnalyticsDataset",
        "tags": [
          "Market Data"
        ],
        "summary": "Governed analytics query",
        "description": "Runs a bounded query against a cataloged Sharpe Data Ocean dataset. Accepts only registered dataset IDs, whitelisted fields, filter operators, sort fields, and opaque cursors.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dataset": {
                    "type": "string",
                    "enum": [
                      "funding_rates_current",
                      "funding_accumulated",
                      "stablecoins_metrics"
                    ]
                  },
                  "select": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "op": {
                          "type": "string",
                          "enum": [
                            "eq",
                            "in",
                            "gte",
                            "lte"
                          ]
                        },
                        "value": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            },
                            {
                              "minItems": 1,
                              "maxItems": 100,
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      },
                      "required": [
                        "field",
                        "op",
                        "value"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "sort": {
                    "maxItems": 3,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "asc",
                            "desc"
                          ]
                        }
                      },
                      "required": [
                        "field",
                        "direction"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100
                  },
                  "cursor": {
                    "nullable": true,
                    "type": "string"
                  }
                },
                "required": [
                  "dataset"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analytics query returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsQueryResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": {
          "by": "dataset",
          "map": {
            "funding_rates_current": "funding_rates_current",
            "funding_accumulated": "funding_accumulated",
            "stablecoins_metrics": "stablecoins"
          }
        },
        "x-freshness-sla-seconds": {
          "by": "dataset",
          "map": {
            "funding_rates_current": 600,
            "funding_accumulated": 3600,
            "stablecoins_metrics": 7200
          }
        }
      }
    },
    "/v1/arbitrage/borrow-rates": {
      "get": {
        "operationId": "getArbitrageBorrowRates",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Margin borrow rates",
        "description": "Returns the spot-margin borrow rate of every coin the venues price without an account: Binance (VIP 0 cross-margin daily rate), OKX (basic daily rate), Bybit (No VIP hourly rate) and Gate.io (unified-account hourly rate, the 100 enabled currencies with the most USDT spot volume). Rates are fractions: hourlyRate per hour, annualRate = hourlyRate × 8,760 (simple). One row per coin with every venue's quote, cheapest first; a venue that does not price a coin is absent, never 0. `venues` reports each venue's status (ok, stale, failed, unsupported) with its fetch time. KuCoin, Bitget, MEXC, BingX, HTX and CoinEx publish no keyless borrow rate.",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "Borrowed asset, case-insensitive (BTC, USDT, PEPE).",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated venues, case-insensitive: Binance, OKX, Bybit, Gate.io (KuCoin, Bitget, MEXC, BingX, HTX and CoinEx are accepted and reported unsupported). Default: all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Margin borrow rates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BorrowRatesResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "margin_borrow_rates",
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/cex-spot-transfer": {
      "get": {
        "operationId": "getArbitrageCexSpotTransfer",
        "tags": [
          "Arbitrage"
        ],
        "summary": "CEX spot-transfer arbitrage scanner",
        "description": "Returns live CEX spot-transfer arbitrage routes after exact network matching (ambiguous network names are refused), token-contract matching, withdrawal/deposit status and minimums, withdrawal fees, per-venue taker fees, executable depth and slippage. Routes netting above zero come first; up to 50 near-miss routes that do not clear fees follow as indicative (`below_fees`). `meta.transferScan` counts the coins, venues and routes the scan evaluated. Same-ticker contract mismatches fail closed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "CEX spot-transfer scanner rows (executable and indicative) returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CexSpotTransferResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "arbitrage_tickers",
        "x-freshness-sla-seconds": 60
      }
    },
    "/v1/arbitrage/cross-exchange": {
      "get": {
        "operationId": "getCrossExchangeArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Cross-exchange arbitrage",
        "description": "Returns cross-exchange funding differentials across every funding venue and asset class — crypto plus RWA perps (equity, commodity, FX, index). Legs pair within one instrument-master asset (BONK, 1000BONK and KBONK are one; prices compared per asset unit), never across asset classes. One row per coin: the executable pair with the highest net APR, else the best pair whose only gap is unreported depth (`no_depth`), else the largest gross differential. netFundingRate is the per-period differential at intervalHours (the faster leg's cadence). Spread uses real order books where both legs expose one (spreadSource \"book\") and reference prices otherwise (\"reference\"). A row is executable when its spread is book-priced, its legs are within 5% of each other, both quotes are fresh and top-of-book depth reported by BOTH venues covers $10,000 (unknown depth is indicative `no_depth`, never executable); executable rows rank first by netApr — gross less both venues' taker fees and the adverse entry spread over a 30-day hold, present only on book-priced rows — then `no_depth` rows, then the other indicative rows, each by netApr where present, else gross annualized differential (apr). Unknown spread, open interest or volume are null, never zero.",
        "parameters": [
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated list of venues to compare. Omit for every funding venue in the funding tracker's registry that the instrument master does not mark not live (`X-Data-Venues` lists them).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetClass",
            "in": "query",
            "description": "Underlying filter: \"all\" (default), \"crypto\", or \"rwa\" (equity, commodity, FX and index perps).",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "crypto",
                "rwa"
              ]
            }
          },
          {
            "name": "minOiUsd",
            "in": "query",
            "description": "Minimum open interest in USD on the smaller leg. Default 0 (no floor). Legs with unknown OI fail a positive floor, and so does a leg on a venue left out of the API's open-interest totals (MEXC).",
            "schema": {
              "default": 0,
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "minVolUsd",
            "in": "query",
            "description": "Minimum 24h perp volume in USD on the smaller leg. Default 0 (no floor). Legs with unknown volume fail a positive floor.",
            "schema": {
              "default": 0,
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Narrative filter: only crypto coins in that narrative's CoinGecko category (the constituents /api/narratives/data lists). Omit or \"all\" for every coin. A coin the category does not list, and every RWA perp, is left out when a sector is set.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "memes",
                "ai-agents",
                "layer-1",
                "defi"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return at most this many rows, the first in board order (executable rows first by netApr, then `no_depth` rows, then the rest, each by netApr or apr). Default: every row. On v1 a limited answer carries `pagination`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from the previous page's `pagination.cursor` (100 rows a page when `limit` is omitted).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossExchangeArbitrageResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Missing": {
                "$ref": "#/components/headers/X-Data-Missing"
              },
              "X-Data-Venues": {
                "$ref": "#/components/headers/X-Data-Venues"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "arbitrage_boards",
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/dated-futures-basis": {
      "get": {
        "operationId": "getArbitrageDatedFuturesBasis",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Dated futures basis scanner",
        "description": "Returns cash-and-carry rows priced at spot ask and futures bid across Binance, OKX and Bybit (Deribit has no spot leg, so it appears only in calendar spreads). Rows at least 3 days from expiry rank first; within them executable rows at the requested notional, then rows executable on a live read (`snapshot_quote`), then the rest, each by fee-adjusted net APR. Reference-only rows are omitted. Days to expiry are recomputed from the expiry on every request. The per-coin aggregate covers only contracts at least three days from expiry.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatedFuturesBasisResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "arbitrage_dated_quotes",
          "futures_term_structure"
        ],
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/dex-scanner/preview": {
      "get": {
        "operationId": "previewDexScannerArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Preview validated DEX scanner gross-spread candidates",
        "description": "Resolves one or two GeckoTerminal liquidity pool URLs, verifies canonical token identity, and compares DEX pool mids against CEX bid/ask books or another verified DEX pool. Returns gross quote-spread candidates, blocked states, source timestamps, and explicit warnings; it does not return executable net profit.",
        "parameters": [
          {
            "name": "poolUrl",
            "in": "query",
            "description": "GeckoTerminal pool URL, for example https://www.geckoterminal.com/eth/pools/0x...",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated CEX list. Supported values: Binance, OKX, Bybit, Gate.io, MEXC, KuCoin, Bitget, HTX, BingX, CoinEx.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minProfitPct",
            "in": "query",
            "description": "Minimum gross quote-spread percentage to mark a validated row as a candidate. This is not a net-profit threshold.",
            "schema": {
              "default": 1,
              "type": "number",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Scanner mode. Use cex_dex for CEX-vs-DEX comparison or dex_dex to compare two DEX pools.",
            "schema": {
              "default": "cex_dex",
              "type": "string",
              "enum": [
                "cex_dex",
                "dex_dex"
              ]
            }
          },
          {
            "name": "secondPoolUrl",
            "in": "query",
            "description": "Required when mode=dex_dex. Both pools must resolve to the same canonical network and target-token contract.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "tier2Exchanges",
            "in": "query",
            "description": "Deprecated compatibility parameter. Extended exchanges without verified live providers return explicit warnings and no rows.",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFundingLeg",
            "in": "query",
            "description": "Set to true to include funding-leg context when the scanner can match a relevant perpetual market.",
            "schema": {
              "default": "false",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DEX scanner preview returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexScannerPreviewResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "dex_pools",
          "arbitrage_tickers"
        ],
        "x-freshness-sla-seconds": 60
      }
    },
    "/v1/arbitrage/fixed-floating-funding": {
      "get": {
        "operationId": "getArbitrageFixedFloatingFunding",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Fixed vs floating funding (Pendle Boros)",
        "description": "Returns every live Pendle Boros funding-rate market (one per venue perp and maturity: Binance, OKX, Bybit, Gate, KuCoin, Hyperliquid incl. the xyz builder dex, Lighter) with its implied (fixed) APR, the floating APR Boros reports, and Sharpe's own realised 7-day and 30-day funding for the same venue contract, annualised (acc × 365 / days). spread7dApr and spread30dApr are implied − realised: positive means locking the fixed rate beats what the floating leg has paid (the lock-fixed-carry signal). Gross of Boros and venue fees. A market whose venue contract is not in the funding store keeps its Boros figures and serves realised null with a reason, never 0. Ranked by spread30dApr, then spread7dApr.",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "Underlying asset, case-insensitive (BTC, ETH, HYPE, BRENTOIL).",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "venue",
            "in": "query",
            "description": "Filter to one venue, case-insensitive: Boros's name (Binance, OKX, Hyperliquid, Gate, Kucoin, Lighter, Bybit) or our funding store's (Gate.io, KuCoin, tradeXYZ).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Boros fixed vs floating funding returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedFloatingFundingResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "boros_markets",
          "funding_accumulated"
        ],
        "x-freshness-sla-seconds": 300
      }
    },
    "/v1/arbitrage/funding-spread-history": {
      "get": {
        "operationId": "getArbitrageFundingSpreadHistory",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Funding spread history and carry backtest",
        "description": "Returns a pair's historical funding spread and a carry backtest from stored settlements: a spot-perp carry on one venue (spot pays no funding) or a cross-exchange carry (long one perp, short another). The legs are aligned by settlement time (a 1h leg against an 8h leg reads the 8h settlement for each hour it covers), intervals come from the settlements themselves, never an assumed 8h. Backtests over 1-90 days sum the settlements in the window, charge each venue's entry and exit taker fees once, and report net return, annualized net APR, days with negative carry, max drawdown of cumulative carry and coverage. Borrow interest for a short-spot leg is not included.",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "`spot-perp`: one venue's spot and perp (needs `venue`). `cross-exchange`: a long perp and a short perp (needs `longVenue` and `shortVenue`).",
            "schema": {
              "default": "spot-perp",
              "type": "string",
              "enum": [
                "spot-perp",
                "cross-exchange"
              ]
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "Base coin, for example BTC.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32
            }
          },
          {
            "name": "venue",
            "in": "query",
            "description": "Spot-perp venue: Binance, OKX, Bybit, Bitget, Gate.io, KuCoin, MEXC, BingX, HTX or CoinEx.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Spot-perp: the venue's perp contract symbol, for example BTCUSDT. Optional: without it the venue's contract for the coin with the largest current open interest is used.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Spot-perp: `short` buys spot and shorts the perp (collects positive funding); `long` sells spot and longs the perp (borrow interest not included).",
            "schema": {
              "default": "short",
              "type": "string",
              "enum": [
                "short",
                "long"
              ]
            }
          },
          {
            "name": "longVenue",
            "in": "query",
            "description": "Cross-exchange: the venue of the long perp.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "longContract",
            "in": "query",
            "description": "Cross-exchange: the long perp's contract symbol. Optional, resolved as `contract` is.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "shortVenue",
            "in": "query",
            "description": "Cross-exchange: the venue of the short perp.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "shortContract",
            "in": "query",
            "description": "Cross-exchange: the short perp's contract symbol. Optional, resolved as `contract` is.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Backtest window in days (1-90): the series covers it, and `backtests` lists it after the shorter standard windows.",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spread series and backtests returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingSpreadHistoryResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "funding_rates_history",
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/futures-calendar-spread": {
      "get": {
        "operationId": "getArbitrageFuturesCalendarSpread",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Futures calendar spread scanner",
        "description": "Returns near-versus-far dated futures spreads (every adjacent pair, plus every pair of last-Friday monthly and quarterly contracts at least 7 days apart) using the buy leg ask and sell leg bid, with direction and curve from mark (else mid) prices. Pairs meeting the tenor floors (near leg at least 3 days out, legs at least 7 days apart) rank first; within them executable pairs that clear their fees, then such pairs executable on a live read (`snapshot_quote`), then the rest, each by signed post-fee net roll APY.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesCalendarSpreadResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "arbitrage_dated_quotes",
          "futures_term_structure"
        ],
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/perp-dated-carry": {
      "get": {
        "operationId": "getArbitragePerpDatedCarry",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Perp versus dated futures carry scanner",
        "description": "Returns perp-versus-dated carry rows: the dated contract's basis against the perp at the chosen trade's executable sides, against the funding the perp is expected to pay to expiry (the 7-day realised average; the current print under 3 days), with fee-adjusted annualized net carry used for filtering and ranking. Rows at least 3 days from expiry rank first; within them executable rows, then rows executable on a live read (`snapshot_quote`), then the rest. The perp and dated legs are often on different venues (`crossVenue`): separate accounts and collateral.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpDatedCarryResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "arbitrage_dated_quotes",
          "futures_term_structure"
        ],
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/arbitrage/spot-perp": {
      "get": {
        "operationId": "getSpotPerpArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Spot-perp arbitrage",
        "description": "Returns spot-perpetual funding-capture rows with live funding, verified spot or margin availability, diagnostic basis, gross APR, and net APR after the venue's taker fees, the adverse entry basis and (where public) the borrow cost of a reverse carry. Executable rows (both legs priced, one instrument within 5%, fresh quotes, depth reported on both legs covering $10,000) rank first, then rows whose only gap is unproven depth (`no_spot_depth`: spot prices are last trades with no book, so this is every clean row today), then the other indicative rows.",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by exchange name, or \"all\" for all exchanges.",
            "schema": {
              "default": "all",
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Filter by perpetual-leg direction: short for positive funding capture, long for negative funding capture.",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "all",
                "long",
                "short"
              ]
            }
          },
          {
            "name": "minOiUsd",
            "in": "query",
            "description": "Minimum open interest in USD on the perpetual leg (`perpOpenInterestUsd`). Default 0 (no floor). A row whose open interest is unknown fails a positive floor, and so does a row on a venue left out of the API's open-interest totals (MEXC: `openInterestExcludedVenues` elsewhere), whose stored value is kept on the row.",
            "schema": {
              "default": 0,
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page (1-1000), in board order. Omitted with no `cursor`: every row. On v1 a paged answer carries `pagination`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from the previous page's `pagination.cursor` (100 rows a page when `limit` is omitted).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage opportunities returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotPerpArbitrageResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Missing": {
                "$ref": "#/components/headers/X-Data-Missing"
              },
              "X-Data-Venues": {
                "$ref": "#/components/headers/X-Data-Venues"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "arbitrage_boards",
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/briefing": {
      "get": {
        "operationId": "getBriefing",
        "tags": [
          "Reports"
        ],
        "summary": "Market briefing",
        "description": "A market briefing rendered as markdown: total market cap, 24h volume, BTC dominance and the Fear & Greed Index; the top 5 and bottom 3 narratives by 24h change as the API ranks them; the funding book's highest and lowest markets by 8h-equivalent rate among fresh markets with at least $1M of open interest, printed as APR with each venue's `rate_kind` (mostly the estimate of the next payment, not yet charged); and the whole-market funding estimated over the next 24 hours at current rates. `inputs` lists each read with the freshness of its answer; a read that fails leaves a gap in the report, not an error.",
        "responses": {
          "200": {
            "description": "The briefing, rendered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BriefingResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "sectors",
          "narratives",
          "funding_rates_current",
          "funding_fee_settlement"
        ],
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/coins/{coin}/analysis": {
      "get": {
        "operationId": "getCoinAnalysis",
        "tags": [
          "Reports"
        ],
        "summary": "Coin analysis",
        "description": "One coin's analysis rendered as markdown: its price-prediction score and signals (when the asset is in the prediction coverage list), the price with its as-of; its current funding on its 10 largest markets by open interest (8h-equivalent rate and APR, each labelled with its `rate_kind`: on most venues the estimate of the next payment, not yet charged) with the average and median across venues; the asset's open-interest total from the global board in USD notional, with its 1h/24h change beside the 24h price change (USD open interest moves with price); and the dollars its funding is estimated to move over the next 24 hours at current rates. `inputs` lists each read with the freshness of its answer; a read that fails leaves a gap in the report, not an error.",
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "description": "Coin ticker (`BTC`, `ETH`, `1000PEPE`), any case. The funding reads resolve it to its asset (PEPE brings its 1000PEPE and KPEPE contracts); the price prediction is matched in the coverage list by that asset, else by ticker, never by a guessed slug. The settlement read matches the ticker as written, and the report names the asset's other spellings it leaves out.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The coin's analysis, rendered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinAnalysisResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": [
          "price_prediction_inputs",
          "funding_rates_current",
          "global_overview_snapshot",
          "funding_fee_settlement"
        ],
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/correlation/matrix": {
      "get": {
        "operationId": "getCorrelationMatrix",
        "tags": [
          "Market Data"
        ],
        "summary": "Correlation matrix",
        "description": "Returns a price correlation matrix for the requested coins over the specified period.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Lookback period for correlation calculation.",
            "schema": {
              "default": "30d",
              "type": "string",
              "enum": [
                "30d",
                "90d",
                "1y",
                "3y"
              ]
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated asset ids: CoinGecko ids for crypto (e.g. bitcoin) and short ids for TradFi (e.g. sp500, gold). Maximum 10. If omitted, returns the default set. Ids no source recognises are listed in an optional `unresolved` array (partial success, as on the free route); a selection none of whose ids is recognised returns 404 resource_not_found naming them.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Correlation matrix returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorrelationMatrixResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "correlation_prices",
        "x-freshness-sla-seconds": 172800
      }
    },
    "/v1/ecosystems/data": {
      "get": {
        "operationId": "getEcosystemsData",
        "tags": [
          "Categories"
        ],
        "summary": "Ecosystems data",
        "description": "Returns ecosystem-level market data (Ethereum, Solana, BNB, Arbitrum, Base, etc.) including market cap, volume, TVL, and performance metrics.",
        "parameters": [
          {
            "name": "ecosystem",
            "in": "query",
            "description": "Ecosystem to return detail for: the config id (e.g. bnb) or the URL slug (e.g. bnb-chain, ethereum, solana). An unknown value returns 400 invalid_parameter listing the valid values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlation",
            "in": "query",
            "description": "Set to \"true\" to include correlation data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Timeframe for correlation data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeNative",
            "in": "query",
            "description": "Set to \"true\" to exclude the native token from aggregated metrics.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ecosystems data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcosystemsDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "ecosystems",
        "x-freshness-sla-seconds": 14400
      }
    },
    "/v1/funding/coins": {
      "get": {
        "operationId": "getFundingCoins",
        "tags": [
          "Derivatives"
        ],
        "summary": "Available funding coins",
        "description": "Returns every distinct base coin in the current funding-rate book with a display name and a same-origin logo path, ordered by symbol. Feeds coin pickers without downloading the full funding book; name and logo_url are null when no metadata exists.",
        "responses": {
          "200": {
            "description": "Coin list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingCoinsResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "funding_rates_current",
        "x-freshness-sla-seconds": 600
      }
    },
    "/v1/funding/rates": {
      "get": {
        "operationId": "getFundingRates",
        "tags": [
          "Derivatives"
        ],
        "summary": "Funding rates",
        "description": "Returns perpetual funding rates across all supported exchanges. Supports current snapshots, accumulated rates over multiple windows, and per-coin historical rates.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of funding rate data to retrieve.",
            "schema": {
              "default": "current",
              "type": "string",
              "enum": [
                "current",
                "accumulated",
                "history"
              ]
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "The coin to return: a ticker (e.g. BTC), a lot or venue spelling (e.g. `1000PEPE`, `kPEPE`), or the full name (e.g. `bitcoin`, resolved to BTC). Case-insensitive, one coin per request. `coin` names an asset, not a base_coin string: every contract of that asset is returned whatever its base_coin spelling, so `PEPE` also returns the 1000PEPE and KPEPE lot contracts (read `lot_multiplier`), and a ticker two assets share (BB is BounceBit and BlackBerry) returns both, narrowed by `asset_class`. Optional filter for type=current and type=accumulated; required when type=history. A value that no perpetual in the funding book has ever settled returns 400 rather than an empty result set; GET /api/funding/coins lists every ticker carried.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of history to retrieve (type=history only).",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 1095
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter to a single venue. Accepts the slug (e.g. `gate-io`), the display name as returned in the `exchange` field (e.g. `Gate.io`), or the ccxt id. The venue registry is not frozen, so read the `sharpe://exchanges` MCP resource or /api/funding/rates for the current list. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "asset_class",
            "in": "query",
            "description": "Narrow the response to one underlying category. The funding book is not crypto-only. Tokenized equity, commodity, index and FX perps trade on the same venues, so this is unfiltered by default. Applies to type=current and type=accumulated; ignored for type=history. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "enum": [
                "crypto",
                "equity",
                "commodity",
                "fx",
                "index"
              ]
            }
          },
          {
            "name": "margin",
            "in": "query",
            "description": "Narrow the response to one collateral convention: `linear` for quote-margined contracts, `inverse` for coin-margined ones. Unfiltered by default. Applies to type=current and type=accumulated; ignored for type=history. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "enum": [
                "linear",
                "inverse"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "type=current only: order the rows by `open_interest`, ascending, or descending with the leading `-`. Rows with unknown open interest come last either way. Applied before `limit`/`cursor`. Default: the book's order (base_coin, exchange, symbol).",
            "schema": {
              "type": "string",
              "enum": [
                "open_interest",
                "-open_interest"
              ]
            }
          },
          {
            "name": "extremes",
            "in": "query",
            "description": "type=current only: answer with the N highest and N lowest rows by `rate_8h` (`extremes.highest`, `extremes.lowest`) among fresh rows with a usable interval, and how many rows each check left out (`extremes.omitted`). The other filters narrow the rows first. Returns an object instead of rows; cannot be combined with `limit`, `cursor` or `sort`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "min_oi_usd",
            "in": "query",
            "description": "type=current, with `extremes` only: leave out rows whose open interest in USD is below this floor. A row with unknown open interest fails a floor above 0.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "stats",
            "in": "query",
            "description": "type=current only: `1` answers with the whole book's funding (`market`: mean and open-interest-weighted APR, and the count of positive and negative rates). Returns an object instead of rows; cannot be combined with `coin`, `exchange`, `margin`, `asset_class`, `limit`, `cursor` or `sort`.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "type=current, with `coin` only: `1` answers with the coin's funding across venues (`summary`: average and median 8-hour rate, how they were reduced, and the venues behind them). Returns an object instead of rows; cannot be combined with `limit`, `cursor` or `sort`.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingRatesResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              },
              "X-Coverage-Start": {
                "$ref": "#/components/headers/X-Coverage-Start"
              },
              "X-Requested-Start": {
                "$ref": "#/components/headers/X-Requested-Start"
              },
              "X-Coverage-Complete": {
                "$ref": "#/components/headers/X-Coverage-Complete"
              },
              "X-Days-Clamped": {
                "$ref": "#/components/headers/X-Days-Clamped"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": {
          "by": "type",
          "map": {
            "current": "funding_rates_current",
            "accumulated": "funding_accumulated",
            "history": "funding_rates_history"
          }
        },
        "x-freshness-sla-seconds": {
          "by": "type",
          "map": {
            "current": 600,
            "accumulated": 3600,
            "history": 600
          }
        }
      }
    },
    "/v1/funding/settlement": {
      "get": {
        "operationId": "getFundingSettlement",
        "tags": [
          "Derivatives"
        ],
        "summary": "Funding fee settlement",
        "description": "Returns how many dollars actually changed hands at funding settlement, and which side paid it. fee_usd = open_interest_usd x rate, priced at the one-sided open interest (each contract counted once, the side that pays) recorded at or before each settlement. `current` is the next 24 hours at current rates (each contract's forward rate x 24 / its own interval hours), computed live; `1d`/`3d`/`7d` are realised windows from a materialized view. Every window reports both long_paid and short_paid alongside net, and the `totals` block reconciles crypto + rwa === all. Venues in settlementMeta.oi_excluded_venues are priced per venue (venues[].excluded_from_totals) but left out of every coin row and the totals.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SettlementWindowParam"
          },
          {
            "$ref": "#/components/parameters/SettlementClassParam"
          },
          {
            "$ref": "#/components/parameters/SettlementCoinParam"
          },
          {
            "$ref": "#/components/parameters/SettlementExchangeParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SettlementOffsetParam"
          },
          {
            "$ref": "#/components/parameters/SettlementSortParam"
          },
          {
            "$ref": "#/components/parameters/SettlementExpandParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Funding fee settlement data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettlementResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": {
          "by": "window",
          "map": {
            "current": "funding_rates_current",
            "1d": "funding_fee_settlement",
            "3d": "funding_fee_settlement",
            "7d": "funding_fee_settlement"
          }
        },
        "x-freshness-sla-seconds": {
          "by": "window",
          "map": {
            "current": 600,
            "1d": 1800,
            "3d": 1800,
            "7d": 1800
          }
        }
      }
    },
    "/v1/futures/coins": {
      "get": {
        "operationId": "getFuturesCoins",
        "tags": [
          "Derivatives"
        ],
        "summary": "Available futures coins",
        "description": "Returns up to 1000 coins with futures data, including funding, open-interest, liquidation, long/short, CVD, and dated-basis capability flags plus observed venue coverage and market-cap rank.",
        "responses": {
          "200": {
            "description": "Coin list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesCoinsResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "futures_coins",
        "x-freshness-sla-seconds": 43200
      }
    },
    "/v1/futures/data": {
      "get": {
        "operationId": "getFuturesData",
        "tags": [
          "Derivatives"
        ],
        "summary": "Futures chart data",
        "description": "Returns time-series data for a specific futures chart. Supports open interest (one-sided USD notional per venue), volume, funding rate history, liquidations, long/short ratios, basis, term structure, OHLCV, and more. A database read that fails before returning any row answers 503 (Retry-After) rather than an empty dataset; one that fails part-way returns the rows it has, with coverage.status \"partial\", coverage.warnings and an X-Data-Partial header. chart=cvd serves OHLCV candle rows with the CVD precomputed: each candle with a taker volume carries `cvd_delta_usd` ((2 * taker_buy_volume - volume) * close) and `cvd_usd`, the running sum per venue from the first candle in the window (Binance only today; coverage.warnings names the venues without one). The free route also joins open-interest overlay rows (open_interest_value, no close) into cvd to normalise CVD by open interest; tell the two apart by close. returns-session, returns-heatmap, returns-hour and returns-day serve the raw 1h candles of the highest-volume venue (the averages are computed by the client). Composite charts (perp-dislocation, funding-cost, crowding-risk, flow-confirmation, carry-curve) serve their raw input rows tagged with `_type`. Liquidation `quantity` is USD notional.",
        "parameters": [
          {
            "name": "chart",
            "in": "query",
            "description": "Futures chart identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "perp-dislocation",
                "funding-cost",
                "crowding-risk",
                "flow-confirmation",
                "carry-curve",
                "perpetual-price",
                "liquidations",
                "oi-stacked",
                "oi-change",
                "oi-daily-change",
                "oi-snapshot",
                "oi-volume",
                "volume-snapshot",
                "volume-history",
                "cvd",
                "long-short-ratio",
                "funding-rate",
                "top-trader-ls",
                "returns-session",
                "returns-heatmap",
                "returns-hour",
                "returns-day",
                "annualized-basis",
                "term-structure"
              ]
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "Base coin ticker.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "default": "BTC"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Lookback window for the data.",
            "schema": {
              "default": "3M",
              "type": "string",
              "enum": [
                "1W",
                "2W",
                "1M",
                "3M",
                "6M",
                "1Y",
                "3Y"
              ]
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated list of exchanges to include (e.g. Binance,Bybit).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of data points per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Futures chart data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Data-Partial": {
                "$ref": "#/components/headers/X-Data-Partial"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": {
          "by": "chart",
          "map": {
            "oi-stacked": "futures_open_interest",
            "oi-change": "futures_open_interest",
            "oi-daily-change": "futures_open_interest",
            "oi-snapshot": "futures_open_interest",
            "oi-volume": "futures_open_interest",
            "funding-rate": "funding_rates_history",
            "funding-cost": "funding_rates_history",
            "long-short-ratio": "futures_long_short_ratio",
            "top-trader-ls": "futures_long_short_ratio",
            "liquidations": "futures_liquidations",
            "term-structure": "futures_term_structure",
            "carry-curve": "futures_term_structure",
            "annualized-basis": "futures_term_structure",
            "perp-dislocation": "futures_basis",
            "perpetual-price": "futures_ohlcv",
            "cvd": "futures_ohlcv",
            "volume-snapshot": "futures_ohlcv",
            "volume-history": "futures_ohlcv",
            "returns-session": "futures_ohlcv",
            "returns-heatmap": "futures_ohlcv",
            "returns-hour": "futures_ohlcv",
            "returns-day": "futures_ohlcv",
            "crowding-risk": "futures_long_short_ratio",
            "flow-confirmation": "futures_ohlcv"
          }
        },
        "x-freshness-sla-seconds": {
          "by": "chart",
          "map": {
            "oi-stacked": 1200,
            "oi-change": 1200,
            "oi-daily-change": 1200,
            "oi-snapshot": 1200,
            "oi-volume": 1200,
            "funding-rate": 600,
            "funding-cost": 600,
            "long-short-ratio": 1200,
            "top-trader-ls": 1200,
            "liquidations": 1200,
            "term-structure": 7200,
            "carry-curve": 7200,
            "annualized-basis": 7200,
            "perp-dislocation": 1200,
            "perpetual-price": 7200,
            "cvd": 7200,
            "volume-snapshot": 7200,
            "volume-history": 7200,
            "returns-session": 7200,
            "returns-heatmap": 7200,
            "returns-hour": 7200,
            "returns-day": 7200,
            "crowding-risk": 1200,
            "flow-confirmation": 7200
          }
        }
      }
    },
    "/v1/gem-finder/data": {
      "get": {
        "operationId": "getGemFinderData",
        "tags": [
          "Market Data"
        ],
        "summary": "Gem finder",
        "description": "Returns up to 1,000 market-ranked token rows, optionally scoped to one chain with `chain`, with market cap, nullable FDV and FDV/MCap ratio, volume, nullable price and market-cap changes, circulating supply, ATH and ATL history, preferred chain scope, and observed exchange availability. Stablecoins, wrapped/bridged/pegged and liquid-staking derivative assets, tokenized stocks, assets whose upstream quote is more than 24 hours old (delisted or halted markets that would otherwise report a weeks-old price change as if it were current), and rows below minimum market-cap or volume thresholds are excluded. Ambiguous same-ticker assets do not receive symbol-only exchange attribution. Enrichment coverage is exposed in syncStatus. No wallet signal or proprietary token score is returned.",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "description": "Keep only assets deployed on this chain. A multi-chain asset matches every chain in its chainSlugs, not only its preferred chainSlug; a native L1 coin with no token contract on a supported chain (BTC, ETH) matches none. An unknown chain is a 400.",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "solana",
                "base",
                "arbitrum",
                "bsc",
                "avalanche",
                "polygon",
                "optimism",
                "fantom",
                "blast",
                "linea",
                "mantle",
                "scroll",
                "zksync",
                "tron",
                "cronos",
                "celo",
                "berachain"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of tokens to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque, snapshot-bound pagination cursor from a previous response. Cursors expire when the cache refreshes; restart without a cursor after an expiry error.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Gem finder data returned successfully. Returns a paginated envelope when the `limit` query parameter is supplied, otherwise the full dataset in a success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GemFinderResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-dataset": "gem_finder",
        "x-freshness-sla-seconds": 43200
      }
    },
    "/v1/global/overview": {
      "get": {
        "operationId": "getGlobalOverview",
        "tags": [
          "Derivatives"
        ],
        "summary": "Global market overview",
        "description": "Whole-market derivatives board. Returns market-wide metrics (total open interest -- one-sided USD notional, each contract counted once, summed over every venue except metrics.openInterestExcludedVenues -- with its crypto-versus-RWA split, 24h liquidations, average Wilder RSI(14) across the top 100 crypto perps by market cap, the Altcoin Season Index, and open interest by asset class) plus a ranked per-asset row table for the requested tab. Liquidations are crypto-only: no RWA perp venue publishes a liquidation feed. Market cap is absent on the preipo and index tabs. When composing the board fails or runs past its 20-second budget, the crypto tab answers from the last composed snapshot with X-Data-Stale true and X-Data-As-Of set to that snapshot's own time, not cached; other tabs answer the last board the server composed for the tab, flagged the same way, when it has one, and 503 (Retry-After: 30) otherwise. A tab with no rows returns 503.",
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "description": "Universe to return rows for. The metric block is identical on every tab.",
            "schema": {
              "default": "crypto",
              "type": "string",
              "enum": [
                "crypto",
                "equity",
                "preipo",
                "etf",
                "index",
                "commodity",
                "fx"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum rows per page (1-1000). Enables cursor pagination.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
[...]
