{
  "openapi": "3.0.0",
  "info": {
    "title": "Sellercloud Delta Client API Documentation",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DHRUV_1/sellercloud-delta-client-api-documentation/v1"
  },
  "servers": [
    {
      "url": "https://p3g999.api.sellercloud.com/rest"
    }
  ],
  "paths": {
    "/api/Catalog": {
      "get": {
        "parameters": [
          {
            "description": "List of product IDs",
            "in": "query",
            "name": "model.sKU",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "<br />  0 = Non_Shadow_Only ,  1 = Shadow_Only ,  2 = Shadow_Parent ,  3 = Not_Shadow_or_Shadow_Parent ",
            "in": "query",
            "name": "model.displayShadows",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3
              ],
              "format": "int32",
              "type": "integer"
            },
            "x-enumNames": [
              "Non_Shadow_Only",
              "Shadow_Only",
              "Shadow_Parent",
              "Not_Shadow_or_Shadow_Parent"
            ]
          },
          {
            "description": "Kit<br />  0 = Not_a_Kit_Parent_or_Component ,  1 = Kit_Parent ,  2 = Kit_Component ,  3 = Not_a_Kit_Parent ,  4 = Not_a_Kit_Component ",
            "in": "query",
            "name": "model.selectedKits",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4
              ],
              "format": "int32",
              "type": "integer"
            },
            "x-enumNames": [
              "Not_a_Kit_Parent_or_Component",
              "Kit_Parent",
              "Kit_Component",
              "Not_a_Kit_Parent",
              "Not_a_Kit_Component"
            ]
          },
          {
            "description": "Is Active<br />  0 = No ,  1 = Yes ,  -1 = All ",
            "in": "query",
            "name": "model.activeStatus",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                -1
              ],
              "format": "int32",
              "type": "integer"
            },
            "x-enumNames": [
              "No",
              "Yes",
              "All"
            ]
          },
          {
            "description": "Date created from",
            "in": "query",
            "name": "model.dateCreatedFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Date created to",
            "in": "query",
            "name": "model.dateCreatedTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "List of IDs of different purchase orders",
            "explode": true,
            "in": "query",
            "name": "model.poID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of IDs of different companies",
            "explode": true,
            "in": "query",
            "name": "model.companyID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of IDs of vendors",
            "explode": true,
            "in": "query",
            "name": "model.vendorID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of IDs of default vendors",
            "explode": true,
            "in": "query",
            "name": "model.defaultVendorID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of vendor SKUs",
            "explode": true,
            "in": "query",
            "name": "model.vendorSKU",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "List of brand IDs",
            "explode": true,
            "in": "query",
            "name": "model.brandIds",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of IDs of different warehouses",
            "explode": true,
            "in": "query",
            "name": "model.warehouse",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Universal Product Code number",
            "in": "query",
            "name": "model.uPC",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Minimum physical qty",
            "in": "query",
            "name": "model.physicalQtyFrom",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Maximum physical qty",
            "in": "query",
            "name": "model.physicalQtyTo",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Inventory kit type<br />  0 = Independant ,  1 = MainComponent ,  2 = AllComponents ",
            "in": "query",
            "name": "model.kitType",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            },
            "x-enumNames": [
              "Independant",
              "MainComponent",
              "AllComponents"
            ]
          },
          {
            "description": "Product Group Filter Operator<br />  0 = NotInProductGroup ,  1 = InProductGroup ,  -1 = All ",
            "in": "query",
            "name": "model.productGroupFilterType",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                -1
              ],
              "format": "int32",
              "type": "integer"
            },
            "x-enumNames": [
              "NotInProductGroup",
              "InProductGroup",
              "All"
            ]
          },
          {
            "description": "Product Group ID. Used in combination with ProductGroupFilterType.",
            "in": "query",
            "name": "model.productGroup",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start date-time of creation: mm/dd/yyyy hh:mm",
            "in": "query",
            "name": "model.lastAggregateFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Last date-time of creation: mm/dd/yyyy hh:mm",
            "in": "query",
            "name": "model.lastAggregateTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Start date-time of updating: mm/dd/yyyy hh:mm",
            "in": "query",
            "name": "model.lastUpdatedFrom",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Last date-time of updating: mm/dd/yyyy hh:mm",
            "in": "query",
            "name": "model.lastUpdatedTo",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model.keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model.pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "model.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetAll",
        "summary": "Get catalog info for multiple products"
      }
    },
    "/api/Catalog/AdvancedInfo": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_UpdateAdvancedInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateAdvancedInfoRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateAdvancedInfoRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateAdvancedInfoRequest"
              }
            }
          },
          "description": "Fields to update",
          "required": true
        },
        "summary": "Update advanced catalog info"
      }
    },
    "/api/Catalog/BasicInfo": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_UpdateBasicInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateBasicInfoRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateBasicInfoRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateBasicInfoRequest"
              }
            }
          },
          "description": "Product info",
          "required": true
        },
        "summary": "Update basic catalog info"
      }
    },
    "/api/Catalog/Exports/Basic": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_PerformBasicExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Manage.Actions.Catalog.ExportStandardProductInfoRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Manage.Actions.Catalog.ExportStandardProductInfoRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Manage.Actions.Catalog.ExportStandardProductInfoRequest"
              }
            }
          },
          "description": "Provide the type of basic export that needs to be created\r\n            and an array of product IDs.",
          "required": true
        },
        "summary": "Create basic export of data. Either creates a queued job or directly receives\r\nthe data as Base64 encoded string. Use the encoded string to convert it to file\r\non your machine."
      }
    },
    "/api/Catalog/Exports/Custom": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_PerformCustomExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CustomCatalogExportRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CustomCatalogExportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CustomCatalogExportRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create custom data export by providing a list of product fields."
      }
    },
    "/api/Catalog/Exports/Custom/Metadata": {
      "get": {
        "parameters": [
          {
            "description": "True/False whether or not to include advanced columns for export \r\n            in the response model",
            "in": "query",
            "name": "includeAdvancedColumns",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.CustomCatalogExportsMetadataResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.CustomCatalogExportsMetadataResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_GetCustomExportsMetadata",
        "summary": "Get metadata necessary to create a custom export. Includes available File Formats,\r\nNames of previously created templates, Available fields from which a custom export template can be configured.\r\nUse the \"AvailableColumns\" collection to specify columns for a custom export.\r\nIn this reponse model \"Key\" property will be \"OriginalName\" for column object in the request, \r\nand \"Value\" property from this response model can be \"DisplayName\" for the column request (you can specify your own display name\r\nfor the given column)."
      }
    },
    "/api/Catalog/Exports/Custom/Templates/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Template ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.Manage.Actions.Catalog.CustomCatalogExportTemplateDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.Manage.Actions.Catalog.CustomCatalogExportTemplateDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_GetCustomExportTemplate",
        "summary": "Get data about a catalog export template. The response model includes name, ID and array of the template's columns.\r\nUse the columns collection to perform a custom export. In the reponse model \"Key\" property will be\r\n\"OriginalName\" in the request, and \"DisplayName\" will be \"DisplayName\" from the request (you can specify your own display name\r\nfor the given column)."
      }
    },
    "/api/Catalog/Exports/ViaMappingProfile": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_PerformExportViaMappingProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/SellerCloud.Delta.Models.ClientAPI.Product.ExportProductViaPluginRequest"
        },
        "summary": "Export products via mapping profile"
      }
    },
    "/api/Catalog/Exports/ViaMappingProfile/Metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.MappingProfilesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.MappingProfilesResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_GetMappingProfileExportMetadata",
        "summary": "Get a list of available mapping profiles that can be used to perform product export."
      }
    },
    "/api/Catalog/Exports/ViaPlugin": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_PerformExportViaPlugin",
        "requestBody": {
          "$ref": "#/components/requestBodies/SellerCloud.Delta.Models.ClientAPI.Product.ExportProductViaPluginRequest"
        },
        "summary": "Export products via plugin"
      }
    },
    "/api/Catalog/Exports/ViaPlugin/Metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.ExportPluginsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.ExportPluginsResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogExports"
        ],
        "operationId": "CatalogExports_GetPluginExportMetadata",
        "summary": "Get a list of available plugins that can be used to perform product export."
      }
    },
    "/api/Catalog/GetAllByView": {
      "get": {
        "parameters": [
          {
            "description": "View ID",
            "in": "query",
            "name": "viewID",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "pageNumber",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page Size",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetAllByView",
        "summary": "Get products by view"
      }
    },
    "/api/Catalog/Imports/BasicImports/Types": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogBasicImports"
        ],
        "operationId": "CatalogBasicImports_GetAvailableBasicImportTypes",
        "summary": "Get a list of the available basic types of import."
      }
    },
    "/api/Catalog/Imports/BasicImports/{typeOfImport}": {
      "post": {
        "parameters": [
          {
            "description": "<br />  5 = KitBoxDimensions ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  17 = ProductAverageCostAdjustments ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  38 = RakutenAttributes ,  39 = ImportShippingPreferencesforQty ,  -1 = None ",
            "in": "path",
            "name": "typeOfImport",
            "required": true,
            "schema": {
              "enum": [
                5,
                7,
                8,
                9,
                10,
                12,
                13,
                14,
                15,
                17,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                38,
                39,
                -1
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogBasicImports"
        ],
        "operationId": "CatalogBasicImports_ImportInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            }
          },
          "description": "A file filled with the import data should be provided as a byte array.\r\n            The format of the file should be also specified",
          "required": true
        },
        "summary": "Perform the specified type of data import."
      }
    },
    "/api/Catalog/Imports/BasicImports/{typeOfImport}/Template": {
      "get": {
        "parameters": [
          {
            "description": "Type of import: shadows, kits etc.<br />  5 = KitBoxDimensions ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  17 = ProductAverageCostAdjustments ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  38 = RakutenAttributes ,  39 = ImportShippingPreferencesforQty ,  -1 = None ",
            "in": "path",
            "name": "typeOfImport",
            "required": true,
            "schema": {
              "enum": [
                5,
                7,
                8,
                9,
                10,
                12,
                13,
                14,
                15,
                17,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                38,
                39,
                -1
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Type of the file.<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogBasicImports"
        ],
        "operationId": "CatalogBasicImports_GetFileTemplate",
        "summary": "Get template file that will be used later for catalog import"
      }
    },
    "/api/Catalog/Imports/Custom": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_ImportData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.BulkUpdateProductsDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.BulkUpdateProductsDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.BulkUpdateProductsDto_"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/Catalog/Imports/Custom/Template": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_DownloadTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateDownloadTemplateRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateDownloadTemplateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateDownloadTemplateRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/Catalog/Imports/Custom/Templates": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_GetAllCustomTemplates"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_SaveTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateSaveTemplateRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateSaveTemplateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateSaveTemplateRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/Catalog/Imports/Custom/Templates/Fields": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_GetAvailableColumnsForExport"
      }
    },
    "/api/Catalog/Imports/Custom/Templates/{templateName}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "templateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_DeleteTemplate"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "templateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Services.IServiceDataResult_SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateTemplateDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Services.IServiceDataResult_SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateTemplateDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogCustomImports"
        ],
        "operationId": "CatalogCustomImports_GetCustomTemplate"
      }
    },
    "/api/Catalog/Imports/EbaySpecifics": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportEbaySpecifics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportEbayspecificsDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportEbayspecificsDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportEbayspecificsDto_"
              }
            }
          },
          "description": "Ebay specifics info.",
          "required": true
        },
        "summary": "Import ebay specifics info"
      }
    },
    "/api/Catalog/Imports/EbaySpecifics/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetEbaySpecificsFileTemplate",
        "summary": "Get template for ebay specific imports"
      }
    },
    "/api/Catalog/Imports/Images": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportProductImages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            }
          },
          "description": "Catalog image info",
          "required": true
        },
        "summary": "Importing catalog images"
      }
    },
    "/api/Catalog/Imports/Images/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetProductImages",
        "summary": "Get template for populating product images info"
      }
    },
    "/api/Catalog/Imports/Kits": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportKits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportKitsDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportKitsDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportKitsDto_"
              }
            }
          },
          "description": "Kits info.",
          "required": true
        },
        "summary": "Import kits info"
      }
    },
    "/api/Catalog/Imports/Kits/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetKitsFileTemplate",
        "summary": "Get template for populating kits info"
      }
    },
    "/api/Catalog/Imports/NeweggBizAttributes": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportNeweggBizAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            }
          },
          "description": "NeweggBiz Attributes info.",
          "required": true
        },
        "summary": "Import NeweggBiz Attributes info"
      }
    },
    "/api/Catalog/Imports/NeweggBizAttributes/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Import in Multi-format",
            "in": "query",
            "name": "multiFormat",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetNeweggBizAttributesFileTemplate",
        "summary": "Get template for NeweggBiz Attributes imports"
      }
    },
    "/api/Catalog/Imports/NeweggComAttributes": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportNeweggComAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto_"
              }
            }
          },
          "description": "NeweggCom Attributes info.",
          "required": true
        },
        "summary": "Import NeweggCom Attributes info"
      }
    },
    "/api/Catalog/Imports/NeweggComAttributes/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Import in Multi-format",
            "in": "query",
            "name": "multiFormat",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetNeweggComAttributesFileTemplate",
        "summary": "Get template for NeweggCom Attributes imports"
      }
    },
    "/api/Catalog/Imports/PerCompany/Types": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SellerCloud.Common.Models.Data.IDataItem_System.String_System.String_"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogPerCompanyImports"
        ],
        "operationId": "CatalogPerCompanyImports_GetAvailablePerCompanyImportTypes",
        "summary": "Get a list of the available per company types of imports."
      }
    },
    "/api/Catalog/Imports/PerCompany/{companyId}/{typeOfImport}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "<br />  0 = BulkUpdateProducts ,  1 = ViaPluginProfile ,  2 = Shadows ,  3 = Variations ,  4 = Kits ,  5 = KitBoxDimensions ,  6 = EbaySpecifics ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  11 = NeweggComAttributes ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  16 = ProductGroups ,  17 = ProductAverageCostAdjustments ,  18 = ProductRebates ,  19 = ProductReplacements ,  20 = NeweggBizAttributes ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  36 = ProductAliases ,  37 = ProductAccessories ,  38 = RakutenAttributes ,  39 = ImportShippingPreferencesforQty ,  40 = ImportProductTypes ,  41 = ImportEtsyAttributes ,  42 = PartsCompatibilityFromEbayItemID ,  43 = PartsCompatibilityFromSKU ,  44 = ImportBackMarketAttributes ,  45 = BigCommerceTierPricing ",
            "in": "path",
            "name": "typeOfImport",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogPerCompanyImports"
        ],
        "operationId": "CatalogPerCompanyImports_ImportInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/Catalog/Imports/PerCompany/{typeOfImport}/Template": {
      "get": {
        "parameters": [
          {
            "description": "<br />  0 = BulkUpdateProducts ,  1 = ViaPluginProfile ,  2 = Shadows ,  3 = Variations ,  4 = Kits ,  5 = KitBoxDimensions ,  6 = EbaySpecifics ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  11 = NeweggComAttributes ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  16 = ProductGroups ,  17 = ProductAverageCostAdjustments ,  18 = ProductRebates ,  19 = ProductReplacements ,  20 = NeweggBizAttributes ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  36 = ProductAliases ,  37 = ProductAccessories ,  38 = RakutenAttributes ,  39 = ImportShippingPreferencesforQty ,  40 = ImportProductTypes ,  41 = ImportEtsyAttributes ,  42 = PartsCompatibilityFromEbayItemID ,  43 = PartsCompatibilityFromSKU ,  44 = ImportBackMarketAttributes ,  45 = BigCommerceTierPricing ",
            "in": "path",
            "name": "typeOfImport",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogPerCompanyImports"
        ],
        "operationId": "CatalogPerCompanyImports_GetFileTemplate"
      }
    },
    "/api/Catalog/Imports/Shadows": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportShadows",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportShadowsDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportShadowsDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportShadowsDto_"
              }
            }
          },
          "description": "Shadows info.",
          "required": true
        },
        "summary": "Import shadows info"
      }
    },
    "/api/Catalog/Imports/Shadows/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetShadowsFileTemplate",
        "summary": "Get template for populating shadows info"
      }
    },
    "/api/Catalog/Imports/Variations": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportVariations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportVariationsDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportVariationsDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportVariationsDto_"
              }
            }
          },
          "description": "Variations info.",
          "required": true
        },
        "summary": "Import variations info"
      }
    },
    "/api/Catalog/Imports/Variations/Images": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportVariationsImages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
              }
            }
          },
          "description": "Variations images info.",
          "required": true
        },
        "summary": "Import variations images"
      }
    },
    "/api/Catalog/Imports/Variations/Images/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetVariationImages",
        "summary": "Get template for populating variations images info"
      }
    },
    "/api/Catalog/Imports/Variations/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetVariationsFileTemplate",
        "summary": "Get template for populating variations info"
      }
    },
    "/api/Catalog/Imports/WalmartMarketplaceAttributes": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_ImportWalmartMarketplaceAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportWalmartMarketplaceAttributesDto_"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportWalmartMarketplaceAttributesDto_"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest_SellerCloud.Delta.Client.Api.Models.Request.ImportWalmartMarketplaceAttributesDto_"
              }
            }
          },
          "description": "Walmart Marketplace Attributes info",
          "required": true
        },
        "summary": "Import Walmart Marketplace Attributes info"
      }
    },
    "/api/Catalog/Imports/WalmartMarketplaceAttributes/Template": {
      "get": {
        "parameters": [
          {
            "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
            "in": "query",
            "name": "fileFormat",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Country Id<br />  0 = US ,  1 = CA ",
            "in": "query",
            "name": "countryId",
            "required": true,
            "schema": {
              "enum": [
                0,
                1
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "CatalogSpecificImports"
        ],
        "operationId": "CatalogSpecificImports_GetWalmartMarketplaceAttributesFileTemplate",
        "summary": "Get template for Walmart Marketplace Attributes import"
      }
    },
    "/api/Catalog/Prices": {
      "get": {
        "parameters": [
          {
            "description": "ID of product",
            "in": "query",
            "name": "productID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.GetProductPricesDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.GetProductPricesDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetProductPricesV2",
        "summary": "Get product prices"
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_UpdateProductPricesV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateProductPricesRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateProductPricesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.UpdateProductPricesRequest"
              }
            }
          },
          "description": "Update data",
          "required": true
        },
        "summary": "Update product prices"
      }
    },
    "/api/Catalog/ProductTypes": {
      "get": {
        "parameters": [
          {
            "description": "List of Product Type IDs",
            "explode": true,
            "in": "query",
            "name": "model.productTypeIds",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of Product Type Names",
            "explode": true,
            "in": "query",
            "name": "model.typeNames",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "model.pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "model.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ManageProductTypeDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.ManageEntity.Concrete.ManageProductTypeDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetProductTypes",
        "summary": "Get product types"
      }
    },
    "/api/Catalog/Variation": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "model.productID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model.pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "model.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.MatrixWithImagesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.MatrixWithImagesResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_LoadVariation",
        "summary": "Get Product Variation"
      }
    },
    "/api/Catalog/VariationDimensions": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "model.searchTerm",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model.pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "model.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.VariationDimensionResponseDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.VariationDimensionResponseDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetVariationDimensions",
        "summary": "Get All Variation Dimensions"
      }
    },
    "/api/Catalog/Views": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CoreWebAdmin.Delta.ManageEntity.View.SavedView"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CoreWebAdmin.Delta.ManageEntity.View.SavedView"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_Views",
        "summary": "Get catalog saved views"
      }
    },
    "/api/Catalog/{id}/Prices": {
      "get": {
        "parameters": [
          {
            "description": "ID of product",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.GetProductPricesDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.GetProductPricesDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_GetProductPrices",
        "summary": "Get product prices [obsolete]"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of product",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Catalog"
        ],
        "operationId": "Catalog_UpdateProductPrices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
              }
            }
          },
          "description": "Update data",
          "required": true
        },
        "summary": "Update product prices [obsolete]"
      }
    },
    "/api/Companies": {
      "get": {
        "parameters": [
          {
            "description": "List of company ID",
            "explode": true,
            "in": "query",
            "name": "model.companyID",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "List of channels",
            "explode": true,
            "in": "query",
            "name": "model.channel",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  12,
                  15,
                  16,
                  17,
                  18,
                  19,
                  20,
                  21,
                  22,
                  23,
                  24,
                  25,
                  26,
                  27,
                  28,
                  29,
                  30,
                  31,
                  32,
                  33,
                  34,
                  35,
                  36,
                  37,
                  38,
                  39,
                  40,
                  41,
                  42,
                  43,
                  44,
                  45,
                  46,
                  47,
                  48,
                  49,
                  50,
                  51,
                  52,
                  53,
                  54,
                  55,
                  56,
                  57,
                  58,
                  59,
                  60,
                  61,
                  62,
                  63,
                  64,
                  65,
                  66,
                  67,
                  68,
                  69,
                  70,
                  71,
                  72,
                  73,
                  74,
                  75,
                  76,
                  77,
                  78,
                  79,
                  80,
                  81
                ],
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            },
            "x-enumNames": [
              "Local_Store",
              "eBayOrder",
              "eBaySingleItem",
              "Yahoo",
              "Amazon",
              "PriceGrabber",
              "Website",
              "Buy",
              "NewEggMall",
              "Magento",
              "QuickBooks",
              "RMS",
              "Cart32",
              "Sears",
              "FBA",
              "Wholesale",
              "Overstock",
              "NewEggdotcom",
              "Etsy",
              "Bonanza",
              "PriceFalls",
              "Wayfair",
              "UnbeatableSale",
              "VendorCentral",
              "Hayneedle",
              "SmartBargains",
              "uBid",
              "ATGStores",
              "StacksAndStacks",
              "Sharkstores",
              "BestBuy",
              "Kohls",
              "Staples",
              "OneStopPlus",
              "Meijer",
              "Sonsi",
              "Walmart",
              "HSN",
              "NewEgg_Business",
              "KMart",
              "Wish",
              "SPRichards",
              "FingerHut",
              "Groupon",
              "Walmart_Marketplace",
              "ShopHQ",
              "PriceMinister",
              "GS",
              "DrugStore",
              "MercadoLibre",
              "JET",
              "ElevenMain",
              "SearsVendor",
              "Choxi",
              "TradeMe",
              "Tanga",
              "Target",
              "GrouponMarketplace",
              "Reverb",
              "BedBathAndBeyond",
              "Dropship_Central",
              "DSW",
              "Houzz",
              "Gilt",
              "BestBuyDS",
              "TopHatter",
              "HomeDepot",
              "MassGenie",
              "Cdiscount",
              "GrouponGateway",
              "SBN",
              "GoogleExpress",
              "Target_Plus",
              "WFS",
              "BackMarket",
              "AWD"
            ]
          },
          {
            "in": "query",
            "name": "model.keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model.pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "model.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_CoreWebAdmin.Delta.ManageEntity.Filters.CompanyDto_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse_CoreWebAdmin.Delta.ManageEntity.Filters.CompanyDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "operationId": "Companies_GetAll",
        "summary": "Get info for list of companies"
      }
    },
    "/api/Companies/{id}": {
      "get": {
        "parameters": [
          {
            "description": "ID of existing company",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreWebAdmin.Delta.DetailsEntity.Models.Company.CompanyDetailsDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreWebAdmin.Delta.DetailsEntity.Models.Company.CompanyDetailsDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "operationId": "Companies_Get",
        "summary": "Get info for single company"
      }
    },
    "/api/Companies/{id}/CustomSettings": {
      "get": {
        "parameters": [
          {
            "description": "Company ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Company.CustomSettings.GetCustomSettingsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Company.CustomSettings.GetCustomSettingsResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "operationId": "Companies_GetCustomSettings",
        "summary": "Get company custom settings"
      },
      "post": {
        "parameters": [
          {
            "description": "Company ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Token": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "operationId": "Companies_CreateCustomSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCloud.Delta.Models.ClientAPI.Company.CustomSettings.CreateCustomSettingRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
[...]
