{
  "openapi": "3.0.3",
  "info": {
    "title": "staffSign API",
    "description": "The staffSign REST API enables organizations to create, manage, and send employment contracts with digital signature workflows. It provides full lifecycle management of contracts and contract templates via API key authentication.\n\n## Authentication\n\nAll endpoints require an API key passed as the `X-Api-Key` request header in the format `{identifier}.{secret}`.\n\n## Base URL\n\nAll endpoints are relative to `https://www.promotionbasis.de/api`.\n\n## Pagination\n\nCollection endpoints return paginated results. Use the `page` query parameter to navigate pages. Default page size is 30 items, maximum is 100.",
    "version": "1.1.0",
    "contact": {
      "name": "staffSign Support",
      "url": "https://staffsign.de",
      "email": "support@staffsign.de"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-logo": {
      "url": "https://staffsign.de/logo.svg"
    },
    "x-jentic-source-url": "https://staffsign.de/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.promotionbasis.de/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/staffsign/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List contracts",
        "description": "Returns a paginated list of contracts belonging to the authenticated organization.",
        "operationId": "getStaffSignContracts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "Number of items per page (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "order[createdAt]",
            "in": "query",
            "description": "Sort by creation date",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "order[sentAt]",
            "in": "query",
            "description": "Sort by sent date",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "order[contractStatus]",
            "in": "query",
            "description": "Sort by status",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "contractStatus",
            "in": "query",
            "description": "Filter by exact contract status key",
            "schema": {
              "$ref": "#/components/schemas/ContractStatusKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of contracts",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a contract",
        "description": "Creates a new contract based on a contract template. The contract is optionally sent for digital signature immediately.",
        "operationId": "createStaffSignContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractRequest"
              },
              "example": {
                "contractTemplateId": "550e8400-e29b-41d4-a716-446655440000",
                "signatureLevel": "signature_level.aes",
                "participants": [
                  {
                    "role": "contract_participant_role.employer",
                    "signingMethod": "signing_method.digital",
                    "participantData": {
                      "firstName": "Max",
                      "lastName": "Mustermann",
                      "email": "max.mustermann@firma.de"
                    }
                  },
                  {
                    "role": "contract_participant_role.employee",
                    "signingMethod": "signing_method.digital",
                    "participantData": {
                      "firstName": "Erika",
                      "lastName": "Musterfrau",
                      "email": "erika.musterfrau@example.de",
                      "dateOfBirth": "1990-01-15"
                    }
                  }
                ],
                "terms": {
                  "startDate": "2026-06-01",
                  "compensationType": "compensation_type.monthly",
                  "compensationAmount": "2500"
                },
                "sendImmediately": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contract created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractRead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contracts/preview": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Preview a contract",
        "description": "Renders a contract preview without persisting any data. Use this to validate placeholder data and inspect the rendered contract content before creation.",
        "operationId": "previewStaffSignContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractPreviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get a contract",
        "description": "Returns the full details of a single contract.",
        "operationId": "getStaffSignContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractRead"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Delete a contract",
        "description": "Deletes a contract. Only draft contracts can be deleted.",
        "operationId": "deleteStaffSignContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contracts/{id}/send": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Send a contract",
        "description": "Sends a draft contract to all participants for digital signing. The contract status transitions from `draft` to `sent`.",
        "operationId": "sendStaffSignContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractRead"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contracts/{id}/cancel": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Cancel a contract",
        "description": "Cancels a sent contract. Only contracts with `sent` status can be cancelled.",
        "operationId": "cancelStaffSignContract",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contract_templates": {
      "get": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "List contract templates",
        "description": "Returns a paginated list of contract templates available to the authenticated organization, including system templates.",
        "operationId": "getStaffSignContractTemplates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "order[name]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "order[createdAt]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "contractTemplateStatus",
            "in": "query",
            "description": "Filter by status key",
            "schema": {
              "$ref": "#/components/schemas/ContractTemplateStatusKey"
            }
          },
          {
            "name": "isSystemTemplate",
            "in": "query",
            "description": "Filter to only system templates or only custom templates",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of contract templates",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractTemplateCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Create a contract template",
        "description": "Creates a new contract template for the authenticated organization. Templates support dynamic placeholders using Twig-like syntax.",
        "operationId": "createStaffSignContractTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractTemplateRequest"
              },
              "example": {
                "name": "Standard Arbeitsvertrag",
                "description": "Standard employment contract for promotional staff",
                "content": "<h1>Arbeitsvertrag</h1><p>zwischen {{ employer.firstName }} {{ employer.lastName }} und {{ employee.firstName }} {{ employee.lastName }}</p>"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractTemplateRead"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contract_templates/validate": {
      "post": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Validate a contract template",
        "description": "Validates a contract template definition (name, content, placeholders) without persisting it. Returns 204 on success or 422 with validation errors.",
        "operationId": "validateStaffSignContractTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Template is valid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contract_templates/{id}": {
      "get": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Get a contract template",
        "description": "Returns the full details of a single contract template including its content and placeholder information.",
        "operationId": "getStaffSignContractTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractTemplateRead"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Update a contract template",
        "description": "Updates the name, description, or content of an existing contract template.",
        "operationId": "updateStaffSignContractTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Archive a contract template",
        "description": "Archives a contract template, making it unavailable for new contracts. The template is not permanently deleted.",
        "operationId": "archiveStaffSignContractTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/staffsign/contract_templates/{id}/activate": {
      "post": {
        "tags": [
          "Contract Templates"
        ],
        "summary": "Activate a contract template",
        "description": "Activates a draft or archived contract template, making it available for creating new contracts.",
        "operationId": "activateStaffSignContractTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template activated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/staffsign/contracts/{id}/download/signed": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Download signed contract PDF",
        "description": "Downloads the signed contract PDF once all participants have signed. Returns the document as a binary PDF stream.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Contract not found."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/staffsign/contracts/{id}/download/audit-trail": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Download audit trail PDF",
        "description": "Downloads the audit trail PDF for a completed contract. The audit trail contains a cryptographically verifiable log of all signature events.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Contract not found."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/staffsign/contracts/{id}/download/sealed": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Download sealed PDF",
        "description": "Downloads the sealed contract PDF with embedded digital signatures and the audit trail appended.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Contract not found."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/staffsign/contracts/{id}/deliver": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Deliver signed contract",
        "description": "Manually triggers delivery of the signed contract document by email to all participants. Only applicable when the contract was created with `autoDeliverSignedDocument: false`. Returns the updated contract.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery triggered successfully. Returns the updated contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractRead"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key."
          },
          "404": {
            "description": "Contract not found."
          },
          "422": {
            "description": "Contract is not in a deliverable state (e.g. not yet completed)."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key in the format `{identifier}.{secret}`. Obtain your API credentials from your staffSign organization settings."
      }
    },
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "UUID of the resource",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "example": 404
                },
                "message": {
                  "type": "string",
                  "example": "Not Found"
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "violations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Violation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Violation": {
        "type": "object",
        "properties": {
          "propertyPath": {
            "type": "string",
            "description": "The path to the invalid field",
            "example": "terms.startDate"
          },
          "message": {
            "type": "string",
            "description": "Human-readable validation error message",
            "example": "This value should not be blank."
          }
        }
      },
      "ContractStatusKey": {
        "type": "string",
        "description": "Contract status identifier",
        "enum": [
          "contract_status.draft",
          "contract_status.sent",
          "contract_status.signed",
          "contract_status.expired",
          "contract_status.cancelled"
        ]
      },
      "ContractTemplateStatusKey": {
        "type": "string",
        "description": "Contract template status identifier",
        "enum": [
          "contract_template_status.draft",
          "contract_template_status.active",
          "contract_template_status.archived"
        ]
      },
      "ContractTypeKey": {
        "type": "string",
        "description": "Contract type identifier",
        "enum": [
          "contract_type.employment"
        ]
      },
      "SignatureLevelKey": {
        "type": "string",
        "description": "Digital signature level. `aes` = Advanced Electronic Signature. `qes` = Qualified Electronic Signature (requires identity verification).",
        "enum": [
          "signature_level.aes",
          "signature_level.qes"
        ]
      },
      "SigningMethodKey": {
        "type": "string",
        "description": "Signing method for a participant",
        "enum": [
          "signing_method.digital",
          "signing_method.manual"
        ]
      },
      "ParticipantRoleKey": {
        "type": "string",
        "description": "Role of a contract participant",
        "enum": [
          "contract_participant_role.employer",
          "contract_participant_role.employee",
          "contract_participant_role.contract_creator",
          "contract_participant_role.contract_recipient",
          "contract_participant_role.landlord",
          "contract_participant_role.tenant"
        ]
      },
      "CompensationTypeKey": {
        "type": "string",
        "description": "Compensation billing frequency",
        "enum": [
          "compensation_type.hourly",
          "compensation_type.daily",
          "compensation_type.monthly",
          "compensation_type.one_time",
          "compensation_type.none"
        ]
      },
      "EmploymentTypeKey": {
        "type": "string",
        "description": "Type of employment",
        "enum": [
          "employment_type.contractor",
          "employment_type.full_time",
          "employment_type.part_time",
          "employment_type.temporary",
          "employment_type.part_time_mini",
          "employment_type.student",
          "employment_type.training"
        ]
      },
      "ScheduleTypeKey": {
        "type": "string",
        "description": "Working time schedule type",
        "enum": [
          "schedule_type.daily",
          "schedule_type.weekly",
          "schedule_type.monthly",
          "schedule_type.flexible"
        ]
      },
      "ParticipantData": {
        "type": "object",
        "description": "Personal data of a contract participant",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address — required for digital signers"
          },
          "firstName": {
            "type": "string",
            "maxLength": 255
          },
          "lastName": {
            "type": "string",
            "maxLength": 255
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "description": "Date of birth in YYYY-MM-DD format"
          },
          "company": {
            "type": "string",
            "maxLength": 255
          },
          "gender": {
            "type": "string",
            "enum": [
              "gender.male",
              "gender.female",
              "gender.diverse"
            ]
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "street": {
            "type": "string",
            "maxLength": 255
          },
          "zipcode": {
            "type": "string",
            "maxLength": 20
          },
          "city": {
            "type": "string",
            "maxLength": 255
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code key, e.g. `country.de`"
          }
        }
      },
      "ParticipantInput": {
        "type": "object",
        "required": [
          "role",
          "signingMethod",
          "participantData"
        ],
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ParticipantRoleKey"
          },
          "signingMethod": {
            "$ref": "#/components/schemas/SigningMethodKey"
          },
          "participantId": {
            "type": "string",
            "description": "Optional reference to a known participant (e.g. candidate profile ID)"
          },
          "participantData": {
            "$ref": "#/components/schemas/ParticipantData"
          }
        }
      },
      "ContractTerms": {
        "type": "object",
        "required": [
          "startDate",
          "compensationType",
          "compensationAmount"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Contract start date (YYYY-MM-DD)",
            "example": "2026-06-01"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Contract end date (YYYY-MM-DD). Omit for open-ended contracts."
          },
          "compensationType": {
            "$ref": "#/components/schemas/CompensationTypeKey"
          },
          "compensationAmount": {
            "type": "string",
            "description": "Compensation amount as a numeric string (e.g. '2500' for EUR 2,500.00)",
            "example": "2500"
          },
          "compensationDescription": {
            "type": "string",
            "maxLength": 500,
            "nullable": true,
            "description": "Additional description or notes about the compensation"
          },
          "location": {
            "type": "string",
            "maxLength": 500,
            "nullable": true,
            "description": "Work location address or description"
          }
        }
      },
      "ContractEmployment": {
        "type": "object",
        "required": [
          "employmentType"
        ],
        "description": "Optional employment-specific data",
        "properties": {
          "employmentType": {
            "$ref": "#/components/schemas/EmploymentTypeKey"
          },
          "workDescription": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true
          },
          "probationPeriod": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Probation period description (e.g. '3 months')"
          },
          "cancellationPeriod": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Notice period description (e.g. '4 weeks')"
          }
        }
      },
      "DailyScheduleEntry": {
        "type": "object",
        "required": [
          "date",
          "startTime",
          "endTime"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "startTime": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}$",
            "description": "Start time in HH:MM format",
            "example": "09:00"
          },
          "endTime": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}$",
            "description": "End time in HH:MM format",
            "example": "17:00"
          },
          "breakMinutes": {
            "type": "integer",
            "minimum": 0,
            "description": "Break duration in minutes"
          }
        }
      },
      "ContractWorkingTime": {
        "type": "object",
        "required": [
          "scheduleType",
          "description"
        ],
        "description": "Optional working time schedule",
        "properties": {
          "scheduleType": {
            "$ref": "#/components/schemas/ScheduleTypeKey"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Free-text description of the working time arrangement"
          },
          "dailySchedule": {
            "type": "array",
            "description": "Explicit daily schedule entries (e.g. for event-based promotions)",
            "items": {
              "$ref": "#/components/schemas/DailyScheduleEntry"
            }
          }
        }
      },
      "CreateContractRequest": {
        "type": "object",
        "required": [
          "contractTemplateId",
          "signatureLevel",
          "participants",
          "terms"
        ],
        "properties": {
          "contractTemplateId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the contract template to use"
          },
          "contractType": {
            "$ref": "#/components/schemas/ContractTypeKey"
          },
          "signatureLevel": {
            "$ref": "#/components/schemas/SignatureLevelKey"
          },
          "participants": {
            "type": "array",
            "minItems": 2,
            "description": "Contract participants. Must include at least one signer on each side (e.g. employer + employee).",
            "items": {
              "$ref": "#/components/schemas/ParticipantInput"
            }
          },
          "terms": {
            "$ref": "#/components/schemas/ContractTerms"
          },
          "employment": {
            "$ref": "#/components/schemas/ContractEmployment",
            "nullable": true
          },
          "workingTime": {
            "$ref": "#/components/schemas/ContractWorkingTime",
            "nullable": true
          },
          "additionalTerms": {
            "type": "object",
            "nullable": true,
            "description": "Additional custom terms as key-value pairs (used as template placeholder data)"
          },
          "sendImmediately": {
            "type": "boolean",
            "default": true,
            "description": "If `true`, the contract is sent for signing immediately after creation. If `false`, it remains as a draft."
          },
          "autoDeliverSignedDocument": {
            "type": "boolean",
            "default": true,
            "description": "If true (default), the signed document is automatically delivered by email to all participants once all have signed. Set to false to trigger delivery manually via `POST /staffsign/contracts/{id}/deliver`."
          }
        }
      },
      "ContractParticipantOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "description": "Localized role label"
          },
          "roleKey": {
            "$ref": "#/components/schemas/ParticipantRoleKey"
          },
          "signingMethod": {
            "type": "string",
            "description": "Localized signing method label"
          },
          "signingMethodKey": {
            "$ref": "#/components/schemas/SigningMethodKey"
          },
          "participantId": {
            "type": "string",
            "nullable": true,
            "description": "External participant reference ID"
          },
          "participantData": {
            "type": "object",
            "description": "Personal data of the participant"
          },
          "signedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when this participant signed (Y-m-d H:i:s)"
          },
          "qesVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of QES identity verification (only for QES contracts)"
          }
        }
      },
      "ContractRead": {
        "type": "object",
        "description": "Full contract details",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "jobPostingId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "contractTemplateId": {
            "type": "string",
            "format": "uuid"
          },
          "contractTemplateName": {
            "type": "string",
            "nullable": true
          },
          "contractType": {
            "type": "string",
            "description": "Localized contract type label"
          },
          "contractTypeKey": {
            "$ref": "#/components/schemas/ContractTypeKey"
          },
          "status": {
            "type": "string",
            "description": "Localized status label"
          },
          "statusKey": {
            "$ref": "#/components/schemas/ContractStatusKey"
          },
          "signatureLevel": {
            "type": "string",
            "description": "Localized signature level label"
          },
          "signatureLevelKey": {
            "$ref": "#/components/schemas/SignatureLevelKey"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractParticipantOutput"
            }
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "compensationType": {
            "type": "string",
            "description": "Localized compensation type label"
          },
          "compensationTypeKey": {
            "$ref": "#/components/schemas/CompensationTypeKey"
          },
          "compensationAmount": {
            "type": "string",
            "description": "Compensation amount as a numeric string"
          },
          "compensationDescription": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "employmentType": {
            "type": "string",
            "nullable": true,
            "description": "Localized employment type label"
          },
          "employmentTypeKey": {
            "$ref": "#/components/schemas/EmploymentTypeKey",
            "nullable": true
          },
          "workDescription": {
            "type": "string",
            "nullable": true
          },
          "probationPeriod": {
            "type": "string",
            "nullable": true
          },
          "cancellationPeriod": {
            "type": "string",
            "nullable": true
          },
          "scheduleType": {
            "type": "string",
            "nullable": true,
            "description": "Localized schedule type label"
          },
          "scheduleTypeKey": {
            "$ref": "#/components/schemas/ScheduleTypeKey",
            "nullable": true
          },
          "workingTimeDescription": {
            "type": "string",
            "nullable": true
          },
          "renderedContent": {
            "type": "string",
            "description": "Full HTML content of the rendered contract"
          },
          "externalDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "ID in the external signing provider (Paperless.io)"
          },
          "signedDocumentUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to download the signed PDF document"
          },
          "auditTrailPdfUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to download the audit trail PDF"
          },
          "sealedPdfUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL to download the sealed (long-term archived) PDF"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Expiry timestamp of the signing request (Y-m-d H:i:s)"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the contract was sent for signing (Y-m-d H:i:s)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp (Y-m-d H:i:s)"
          },
          "autoDeliverSignedDocument": {
            "type": "boolean",
            "description": "Whether the signed document is automatically delivered by email upon contract completion."
          },
          "signedDocumentDeliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the signed document was delivered to participants. Null if not yet delivered."
          }
        }
      },
      "ContractList": {
        "type": "object",
        "description": "Contract summary (used in list responses)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "jobPostingId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "contractTemplateId": {
            "type": "string",
            "format": "uuid"
          },
          "contractTemplateName": {
            "type": "string",
            "nullable": true
          },
          "contractType": {
            "type": "string"
          },
          "contractTypeKey": {
            "$ref": "#/components/schemas/ContractTypeKey"
          },
          "status": {
            "type": "string"
          },
          "statusKey": {
            "$ref": "#/components/schemas/ContractStatusKey"
          },
          "signatureLevel": {
            "type": "string"
          },
          "signatureLevelKey": {
            "$ref": "#/components/schemas/SignatureLevelKey"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractParticipantOutput"
            }
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "compensationType": {
            "type": "string"
          },
          "compensationTypeKey": {
            "$ref": "#/components/schemas/CompensationTypeKey"
          },
          "compensationAmount": {
            "type": "string"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "autoDeliverSignedDocument": {
            "type": "boolean",
            "description": "Whether the signed document is automatically delivered by email upon contract completion."
          }
        }
      },
      "ContractCollection": {
        "type": "object",
        "description": "Hydra paginated collection of contracts",
        "properties": {
          "@context": {
            "type": "string",
            "example": "/api/contexts/Contract"
          },
          "@id": {
            "type": "string",
            "example": "/api/staffsign/contracts"
          },
          "@type": {
            "type": "string",
            "example": "hydra:Collection"
          },
          "hydra:member": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractList"
            }
          },
          "hydra:totalItems": {
            "type": "integer",
            "example": 42
          },
          "hydra:view": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string"
              },
              "@type": {
                "type": "string",
                "example": "hydra:PartialCollectionView"
              },
              "hydra:first": {
                "type": "string"
              },
              "hydra:last": {
                "type": "string"
              },
              "hydra:next": {
                "type": "string"
              }
            }
          }
        }
      },
      "ContractPreviewResponse": {
        "type": "object",
        "description": "Contract preview response — no data persisted",
        "properties": {
          "contract": {
            "$ref": "#/components/schemas/ContractRead"
          },
          "renderedContent": {
            "type": "string",
            "description": "Rendered HTML content of the contract"
          },
          "canBeSent": {
            "type": "boolean",
            "description": "Whether all required placeholders are filled and the contract can be sent"
          },
          "missingPlaceholders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of placeholder names that are missing values"
          },
          "articles": {
            "type": "array",
            "description": "Pricing articles (products) that would be charged for this contract",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          },
          "requiresIdentification": {
            "type": "boolean",
            "description": "Whether the recipient requires identity verification (QES only)"
          },
          "requiresOrganizationIdentification": {
            "type": "boolean",
            "description": "Whether the organization signer requires identity verification (QES only)"
          }
        }
      },
      "ContractTemplateRead": {
        "type": "object",
        "description": "Contract template details",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "description": "Template markup with dynamic placeholders (Twig syntax)"
          },
          "renderLogo": {
            "type": "boolean",
            "description": "Whether the organization logo is rendered in the contract PDF header."
          },
          "isSystemTemplate": {
            "type": "boolean",
            "description": "Whether this is a platform-provided system template (read-only)"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Organization that owns this template. Null for system templates."
          },
          "status": {
            "type": "string",
            "description": "Localized status label"
          },
          "statusKey": {
            "$ref": "#/components/schemas/ContractTemplateStatusKey"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "usedPlaceholders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "List of all placeholder names used in the template content"
          },
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "List of participant data fields required by this template's placeholders"
          }
        }
      },
      "ContractTemplateCollection": {
        "type": "object",
        "description": "Hydra paginated collection of contract templates",
        "properties": {
          "@context": {
            "type": "string"
          },
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string",
            "example": "hydra:Collection"
          },
          "hydra:member": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractTemplateRead"
            }
          },
          "hydra:totalItems": {
            "type": "integer"
          },
          "hydra:view": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string"
              },
              "@type": {
                "type": "string"
              },
              "hydra:first": {
                "type": "string"
              },
              "hydra:last": {
                "type": "string"
              },
              "hydra:next": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateContractTemplateRequest": {
        "type": "object",
        "required": [
          "name",
          "content"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 255,
            "description": "Template name"
          },
          "content": {
            "type": "string",
            "minLength": 10,
            "description": "Template markup in HTML with dynamic placeholders. Supports `{{ employer.firstName }}`, `{{ employee.email }}` etc. Twig control structures (`{% if %}`, `{% for %}`) are not allowed."
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true,
            "description": "Optional description of the template's purpose or use case"
          },
          "renderLogo": {
            "type": "boolean",
            "default": true,
            "description": "Whether to render the organization logo in the contract PDF header. Defaults to true."
          }
        }
      },
      "UpdateContractTemplateRequest": {
        "type": "object",
        "required": [
          "name",
          "content"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 255
          },
          "content": {
            "type": "string",
            "minLength": 10,
            "description": "Updated template markup"
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "renderLogo": {
            "type": "boolean",
            "description": "Whether to render the organization logo in the contract PDF header."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contracts",
      "description": "Create and manage employment contracts including sending for signature and lifecycle operations."
    },
    {
      "name": "Contract Templates",
      "description": "Create and manage reusable contract templates with dynamic placeholders."
    }
  ]
}