{
  "openapi": "3.0.3",
  "info": {
    "title": "varg API",
    "version": "2.0.0",
    "description": "Unified AI video & media generation API. One API key, server-side caching, stable output URLs.",
    "x-jentic-source-url": "https://api.varg.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.varg.ai"
    }
  ],
  "paths": {
    "/v2/tools": {
      "get": {
        "summary": "List all tools",
        "tags": [
          "tools"
        ]
      }
    },
    "/v2/tools/{tool_key}": {
      "get": {
        "summary": "Get a tool by key",
        "tags": [
          "tools"
        ]
      }
    },
    "/v2/tools/{tool_key}/call": {
      "post": {
        "summary": "Call a tool (create a job)",
        "tags": [
          "tools"
        ],
        "parameters": [
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "File this job's output into a folder (id or slug). Also accepted as a top-level `workspace_id` in the body. Applies to every job-creating route (the sugar routes, /v2/render, /v2/pipeline). 404 if the folder is unknown."
          }
        ]
      }
    },
    "/v2/image": {
      "post": {
        "summary": "Generate an image (sugar for tools/image/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/video": {
      "post": {
        "summary": "Generate a video (sugar for tools/video/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/speech": {
      "post": {
        "summary": "Text-to-speech (sugar for tools/speech/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/music": {
      "post": {
        "summary": "Generate music (sugar for tools/music/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/transcription": {
      "post": {
        "summary": "Transcribe audio (sugar for tools/transcription/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/ffmpeg": {
      "post": {
        "summary": "FFmpeg processing (sugar for tools/ffmpeg/call)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/render": {
      "post": {
        "summary": "Render a video from TSX code (with API key injection)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/pipeline": {
      "post": {
        "summary": "Run a registered custom pipeline (access-gated; `model` is the pipeline name)",
        "tags": [
          "sugar"
        ]
      }
    },
    "/v2/jobs": {
      "get": {
        "summary": "List jobs",
        "tags": [
          "jobs"
        ]
      },
      "post": {
        "summary": "Create a job",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}": {
      "get": {
        "summary": "Get a job",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/refresh": {
      "post": {
        "summary": "Refresh a job (re-poll the provider)",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/status": {
      "get": {
        "summary": "Get job status",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/price": {
      "get": {
        "summary": "Get pricing breakdown for a job",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/cancel": {
      "post": {
        "summary": "Cancel a job",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/retry": {
      "post": {
        "summary": "Retry a failed/cancelled job under the same id. Re-reserves the job's estimate first — 402 insufficient_balance leaves the job terminal and untouched. The 402 body carries details { needed_cents, available_cents, reserved_cents, total_cents, held_jobs, job_id }: when total_cents >= needed_cents the credits are merely held by running jobs and a later retry will succeed; otherwise they are gone. Same details on a 402 from POST /v2/jobs (the cancelled row's id is job_id). 409 for a running job or one billed as part of a render tree.",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/confirm": {
      "post": {
        "summary": "Confirm gate of a multi-step pipeline job paused in awaiting_confirmation: { action: approve | retry | reject, overrides? }. The completed steps are billed at the pause and the rest of the hold is returned; approve/retry re-reserve the remaining steps' estimate — 402 insufficient_balance leaves the job paused (top up and confirm again). 409 when the job is not awaiting confirmation.",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/jobs/{id}/rerun": {
      "post": {
        "summary": "Re-run a FINISHED multi-step pipeline job from a later step as a NEW job: { step: \"extend\", overrides? }. Earlier steps are carried over (not re-generated, not re-billed). Returns the new job (202).",
        "tags": [
          "jobs"
        ]
      }
    },
    "/v2/files": {
      "get": {
        "summary": "List files (with optional search: ?tool=speech&model=eleven-turbo-v2&q=hello)",
        "tags": [
          "files"
        ],
        "parameters": [
          {
            "name": "tool",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tool key (image, video, speech, music, render, ...)"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by model (exact match on job.input.model)"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search on prompt/text/code"
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by media type prefix (image, video, audio) or origin (upload, generated)"
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder id OR slug, or 'unfiled' for files in no folder. Takes precedence over tool/model/q/kind."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      },
      "post": {
        "summary": "Upload a file (binary, multipart)",
        "tags": [
          "files"
        ],
        "parameters": [
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "File the upload into this folder (id or slug). Multipart uploads may instead send a `workspace_id` form field (browser forms cannot set headers)."
          }
        ]
      }
    },
    "/v2/files/import": {
      "post": {
        "summary": "Import a file by URL (SSRF-protected, dedup by url/hash, streams external URLs to R2)",
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The file URL to import"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "media_type": {
                    "type": "string"
                  },
                  "origin": {
                    "type": "string",
                    "enum": [
                      "upload",
                      "generated"
                    ],
                    "description": "Explicit provenance — overrides the varg-hosted heuristic"
                  },
                  "hash": {
                    "type": "string",
                    "description": "sha256 (hex or 'sha256:<hex>') of the bytes — enables content dedup"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Byte size of the file (stored as size_bytes)"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Scalar metadata (width/height/duration_ms by default). When present, skips server-side dimension probing."
                  },
                  "workspace_id": {
                    "type": "string",
                    "description": "File the import into this folder — id or slug (or send X-Workspace-Id)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/files/check": {
      "get": {
        "summary": "Check whether the account already owns a file with this content hash (dedup pre-check)",
        "tags": [
          "files"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "sha256 (hex or 'sha256:<hex>') of the file bytes"
          }
        ]
      }
    },
    "/v2/files/{id}": {
      "get": {
        "summary": "Get a file by id",
        "tags": [
          "files"
        ]
      },
      "delete": {
        "summary": "Soft-delete a file",
        "tags": [
          "files"
        ]
      }
    },
    "/v2/files/{id}/feedback": {
      "get": {
        "summary": "Get feedback (likes, dislikes, comments) for a file",
        "tags": [
          "feedback"
        ]
      },
      "post": {
        "summary": "Submit feedback (like / dislike / comment) on a file",
        "tags": [
          "feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "like",
                      "dislike",
                      "comment"
                    ]
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Required when kind=comment"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove the caller's like/dislike rating on a file",
        "tags": [
          "feedback"
        ]
      }
    },
    "/v2/lineage": {
      "post": {
        "summary": "Resolve a file (by id or URL) to the job that created it + the recipe (prompt, model, tool, cost, dimensions)",
        "tags": [
          "lineage"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "File id (file_xxx)"
                  },
                  "url": {
                    "type": "string",
                    "description": "File URL (alternative to file_id)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/resources": {
      "get": {
        "summary": "List merged resources (renders, outputs, files)",
        "tags": [
          "resources"
        ]
      }
    },
    "/v2/resources/creators": {
      "get": {
        "summary": "Distinct creators (people and API keys) with file counts",
        "tags": [
          "resources"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder id or slug — restricts both the creator list and the counts to that folder. Omit for the whole account. 404 when the folder is unknown or not yours."
          }
        ]
      }
    },
    "/v2/resources/files": {
      "get": {
        "summary": "List files with lineage, favorites and creator attribution",
        "tags": [
          "resources"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 24
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "image|video|audio (media type) or upload|generated (origin). Repeatable or comma-joined."
          },
          {
            "name": "tool",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "tool_key(s). Repeatable or comma-joined."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "favorites",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator_api_key_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Files made with this API key. For a key someone shared with you, lists that key's files in its owner's account (read-only, is_favorite always false)."
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder id OR slug, or 'unfiled' for files in no folder. Takes precedence over the other filters. 404 when the folder is unknown or not yours."
          }
        ]
      }
    },
    "/v2/templates": {
      "get": {
        "summary": "Browse approved community templates. Full-text search with ?q= (ranked over description and tags), filter with ?tag=.",
        "tags": [
          "templates"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search over description and tags."
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exact tag match (case-insensitive)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ]
      },
      "post": {
        "summary": "Publish one of your documents as a template. The document is copied, so later canvas edits do not change the published version. Created as `pending` for moderation.",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/tags": {
      "get": {
        "summary": "The tag vocabulary across approved templates",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/my": {
      "get": {
        "summary": "Your own templates, any moderation status",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/favorites": {
      "get": {
        "summary": "Approved templates you have favorited",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/{id}": {
      "get": {
        "summary": "One template, including document.content (the vargai TSX). Approved templates, or your own at any status.",
        "tags": [
          "templates"
        ]
      },
      "delete": {
        "summary": "Withdraw your own template",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/{id}/favorite": {
      "post": {
        "summary": "Toggle favorite. Returns the resulting state.",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/{id}/use": {
      "post": {
        "summary": "Increment the template's use counter",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/templates/{id}/render": {
      "post": {
        "summary": "Render the template to video. Creates an ordinary job — poll it at GET /v2/jobs/{id}. Body carries render options only (mode, output, verbose, options); the code comes from the template.",
        "tags": [
          "templates"
        ]
      }
    },
    "/v2/estimate": {
      "post": {
        "summary": "Estimate the price of a request without creating a job",
        "tags": [
          "pricing"
        ]
      }
    },
    "/v2/pricing": {
      "get": {
        "summary": "Get the public price catalog",
        "tags": [
          "pricing"
        ],
        "security": []
      }
    },
    "/v2/models": {
      "get": {
        "summary": "Get the public model catalog: every canonical model with its provider routes (exact model_key addresses, modality, priority, raw pricing rules, ops metadata). POST the canonical name for auto-routing or a route's model_key to pin it. ?tool= filters.",
        "tags": [
          "pricing"
        ],
        "security": []
      }
    },
    "/v2/presets": {
      "get": {
        "summary": "Browse reusable parameter values (ElevenLabs voices, Higgsfield/Recraft styles). Filter with ?type=, ?namespace=, ?tool= (what a given tool can use), ?q= (free text), and any metadata axis as a bare param (?gender=male&accent=british).",
        "tags": [
          "presets"
        ],
        "security": []
      }
    },
    "/v2/presets/filters": {
      "get": {
        "summary": "The filter vocabulary, derived from the rows: each metadata axis with its values and preset counts. ?type= scopes it (voices and styles have different axes).",
        "tags": [
          "presets"
        ],
        "security": []
      }
    },
    "/v2/presets/{id}": {
      "get": {
        "summary": "One preset plus `tools` — the ready-to-merge fragment for each tool this preset can be delivered into, so you can build the request yourself instead of calling /apply.",
        "tags": [
          "presets"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The preset's id ('preset_a1b2c3d4e5f6')."
          }
        ]
      }
    },
    "/v2/presets/apply": {
      "post": {
        "summary": "Merge presets into a request body. Send { payload, assets: [\"preset_…\"] }; the tool is inferred from payload.model. Returns the finished payload plus a per-preset report — unknown or incompatible presets are listed in `rejected` rather than aborting (422 only when nothing applied).",
        "tags": [
          "presets"
        ],
        "security": []
      }
    },
    "/v2/billing/balance": {
      "get": {
        "summary": "Get account balance",
        "tags": [
          "billing"
        ]
      }
    },
    "/v2/billing/usage": {
      "get": {
        "summary": "Get usage records",
        "tags": [
          "billing"
        ]
      }
    },
    "/v2/billing/transactions": {
      "get": {
        "summary": "Get balance ledger transactions",
        "tags": [
          "billing"
        ]
      }
    },
    "/v2/analytics/summary": {
      "get": {
        "summary": "Spend, charges, jobs and runs in a range, the comparison period, and the current balance (account-wide, with subscription/rollover expiry).",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range start, inclusive. YYYY-MM-DD (local midnight in `timezone`) or ISO 8601. Default: `to` − 30 days."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range end, exclusive. Default: now."
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IANA timezone for date-only bounds and calendar buckets. Default: UTC."
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_period",
                "none"
              ]
            },
            "description": "previous_period | none — compare against the equal-length period before `from`."
          },
          {
            "name": "compare_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison start (with compare_to), e.g. the same days of last month."
          },
          {
            "name": "compare_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison end (with compare_from)."
          },
          {
            "name": "tool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated tool keys (video, image, speech, music, render, pipeline, …)."
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated model ids."
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated folder ids, or `none`."
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated API key ids, or `none`."
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated user ids, or `none`."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated creators — `api_key:<id>` or `member:<id>` — or `none`."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: app (people in the web app) | api | mcp | internal (varg system keys) | unknown."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: the charged job's status (completed, failed, cancelled, …)."
          },
          {
            "name": "include_balance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Include the current balance (default true)."
          }
        ]
      }
    },
    "/v2/analytics/timeseries": {
      "get": {
        "summary": "Spend per hour/day/week/month in `timezone`, optionally split by one dimension (top N + other).",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range start, inclusive. YYYY-MM-DD (local midnight in `timezone`) or ISO 8601. Default: `to` − 30 days."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range end, exclusive. Default: now."
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IANA timezone for date-only bounds and calendar buckets. Default: UTC."
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_period",
                "none"
              ]
            },
            "description": "previous_period | none — compare against the equal-length period before `from`."
          },
          {
            "name": "compare_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison start (with compare_to), e.g. the same days of last month."
          },
          {
            "name": "compare_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison end (with compare_from)."
          },
          {
            "name": "tool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated tool keys (video, image, speech, music, render, pipeline, …)."
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated model ids."
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated folder ids, or `none`."
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated API key ids, or `none`."
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated user ids, or `none`."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated creators — `api_key:<id>` or `member:<id>` — or `none`."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: app (people in the web app) | api | mcp | internal (varg system keys) | unknown."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: the charged job's status (completed, failed, cancelled, …)."
          },
          {
            "name": "bucket_width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d",
                "1w",
                "1mo"
              ]
            },
            "description": "1h (≤31 days) | 1d | 1w | 1mo. Default 1d."
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "One of: tool, model, workspace, api_key, member, creator, source, status."
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "How many groups to keep before rolling the rest into `other` (1–12, default 6)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            },
            "description": "json (default) | csv"
          }
        ]
      }
    },
    "/v2/analytics/breakdown": {
      "get": {
        "summary": "Spend ranked by one or two dimensions. Rows plus `other` always add up to `total`.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range start, inclusive. YYYY-MM-DD (local midnight in `timezone`) or ISO 8601. Default: `to` − 30 days."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range end, exclusive. Default: now."
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IANA timezone for date-only bounds and calendar buckets. Default: UTC."
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_period",
                "none"
              ]
            },
            "description": "previous_period | none — compare against the equal-length period before `from`."
          },
          {
            "name": "compare_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison start (with compare_to), e.g. the same days of last month."
          },
          {
            "name": "compare_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison end (with compare_from)."
          },
          {
            "name": "tool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated tool keys (video, image, speech, music, render, pipeline, …)."
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated model ids."
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated folder ids, or `none`."
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated API key ids, or `none`."
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated user ids, or `none`."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated creators — `api_key:<id>` or `member:<id>` — or `none`."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: app (people in the web app) | api | mcp | internal (varg system keys) | unknown."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: the charged job's status (completed, failed, cancelled, …)."
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "One or two of: tool, model, workspace, api_key, member, creator, source, status (comma-separated)."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spend",
                "charges",
                "jobs",
                "runs"
              ]
            },
            "description": "spend (default) | charges | jobs | runs"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows before the rest is rolled into `other` (1–200, default 20)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            },
            "description": "json (default) | csv"
          }
        ]
      }
    },
    "/v2/analytics/activity": {
      "get": {
        "summary": "The ledger charges behind the numbers (group=charge), or those charges grouped by run (group=run) with the run's lifetime total alongside. Cursor-paginated.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range start, inclusive. YYYY-MM-DD (local midnight in `timezone`) or ISO 8601. Default: `to` − 30 days."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range end, exclusive. Default: now."
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IANA timezone for date-only bounds and calendar buckets. Default: UTC."
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_period",
                "none"
              ]
            },
            "description": "previous_period | none — compare against the equal-length period before `from`."
          },
          {
            "name": "compare_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison start (with compare_to), e.g. the same days of last month."
          },
          {
            "name": "compare_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit comparison end (with compare_from)."
          },
          {
            "name": "tool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated tool keys (video, image, speech, music, render, pipeline, …)."
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated model ids."
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated folder ids, or `none`."
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated API key ids, or `none`."
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated user ids, or `none`."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated creators — `api_key:<id>` or `member:<id>` — or `none`."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: app (people in the web app) | api | mcp | internal (varg system keys) | unknown."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: the charged job's status (completed, failed, cancelled, …)."
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "charge",
                "run"
              ]
            },
            "description": "charge (default) | run"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "recent",
                "amount"
              ]
            },
            "description": "recent (default) | amount"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1–200, default 50."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`next_cursor` from the previous page."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            },
            "description": "json (default) | csv"
          }
        ]
      }
    },
    "/v2/analytics/files": {
      "get": {
        "summary": "Media files generated per hour/day/week/month in `timezone`, split into video, image, audio and other. Every generated file counts once, when it was made — clips inside a render and deleted files included, uploads and cache replays not. Filters apply through the job that made the file.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range start, inclusive. YYYY-MM-DD (local midnight in `timezone`) or ISO 8601. Default: `to` − 30 days."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Range end, exclusive. Default: now."
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IANA timezone for date-only bounds and calendar buckets. Default: UTC."
          },
          {
            "name": "tool",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated tool keys (video, image, speech, music, render, pipeline, …)."
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated model ids."
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated folder ids, or `none`."
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated API key ids, or `none`."
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated user ids, or `none`."
          },
          {
            "name": "creator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: comma-separated creators — `api_key:<id>` or `member:<id>` — or `none`."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: app (people in the web app) | api | mcp | internal (varg system keys) | unknown."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter: the charged job's status (completed, failed, cancelled, …)."
          },
          {
            "name": "bucket_width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d",
                "1w",
                "1mo"
              ]
            },
            "description": "1h (≤31 days) | 1d | 1w | 1mo. Default 1d."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            },
            "description": "json (default) | csv"
          }
        ]
      }
    },
    "/v2/analytics/meta": {
      "get": {
        "summary": "Metric definitions and time bases, dimensions, filters, limits, and the earliest charge on the account.",
        "tags": [
          "analytics"
        ]
      }
    },
    "/v2/jobs/{id}/cost": {
      "get": {
        "summary": "What a job and its whole run were charged, from the ledger — per job and per charge, with estimates and credits still held reported separately.",
        "tags": [
          "analytics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A job id (root or child)."
          }
        ]
      }
    },
    "/v2/me": {
      "get": {
        "summary": "Resolve account (userId, email) for render auth",
        "tags": [
          "account"
        ]
      }
    },
    "/v2/api-keys": {
      "get": {
        "summary": "List user API keys for the active account. Each key says whether it can be shown again (`revealable`), your `role` on it and how many people it is shared with (`shared_count`).",
        "tags": [
          "account"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "shared"
              ]
            },
            "description": "`shared` also returns keys other people shared with you (role `shared`, with their `owner`). Ignored with X-Team-Id."
          }
        ]
      },
      "post": {
        "summary": "Create a user API key for the active account. The full key is returned once, in `api_key`; with `revealable: true` an encrypted copy is kept so it can be shown again and shared.",
        "tags": [
          "account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "personal",
                      "service"
                    ]
                  },
                  "revealable": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/api-keys/{id}": {
      "patch": {
        "summary": "Rename a user API key",
        "tags": [
          "account"
        ]
      },
      "delete": {
        "summary": "Revoke a user API key",
        "tags": [
          "account"
        ]
      }
    },
    "/v2/api-keys/{id}/reveal": {
      "post": {
        "summary": "The full key, for keys created with `revealable: true` — to the key's managers and the people it is shared with. 409 `api_key_not_revealable` for keys that were shown once. Never cached.",
        "tags": [
          "account"
        ]
      }
    },
    "/v2/api-keys/{id}/shares": {
      "get": {
        "summary": "Who has the key: its `owner`, and the people it is shared with (`shares`). The key's managers only.",
        "tags": [
          "account"
        ]
      },
      "post": {
        "summary": "Share the key with people by email. They see it in their key list (role `shared`), can reveal it when it is revealable, and can list the files it made; requests made with it bill the key's account. Emails with no varg account come back in `not_found`. At most 50 people per key; 30 requests per hour.",
        "tags": [
          "account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 20
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/api-keys/{id}/shares/{user_id}": {
      "delete": {
        "summary": "End someone's access to a key. Managers may remove anyone; you may remove yourself from a key shared with you.",
        "tags": [
          "account"
        ]
      }
    },
    "/v2/workspaces": {
      "get": {
        "summary": "List the caller's folders",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ]
      },
      "post": {
        "summary": "Create a folder",
        "tags": [
          "workspaces"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "slug": {
                    "type": "string",
                    "description": "URL-safe slug; derived from name when omitted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspaces/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Folder uuid or slug (the dashboard's URLs are slug-based)"
        }
      ],
      "get": {
        "summary": "Get a folder (includes file_count)",
        "tags": [
          "workspaces"
        ]
      },
      "patch": {
        "summary": "Rename or re-slug a folder",
        "tags": [
          "workspaces"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                },
                "description": "At least one of name or slug is required"
              }
            }
          }
        }
      }
    },
    "/v2/workspaces/{id}/files": {
      "get": {
        "summary": "List a folder's files (newest-filed first)",
        "tags": [
          "workspaces"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ]
      },
      "post": {
        "summary": "Put files in a folder (partial success: linked / already_linked / not_found)",
        "tags": [
          "workspaces"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file_ids"
                ],
                "properties": {
                  "file_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspaces/{id}/files/{file_id}": {
      "delete": {
        "summary": "Remove a file from a folder (the file itself is NOT deleted)",
        "tags": [
          "workspaces"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization: Bearer varg_xxx"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}