{
  "openapi": "3.1.0",
  "info": {
    "title": "AtlasFetch",
    "version": "1.3.0",
    "summary": "Point-in-polygon boundary lookup and geofencing.",
    "description": "Send a coordinate; get back the country, region and municipality that contain it,\nplus matches from your own uploaded boundary sets — in one call. Optionally, the\nnearest street and house number, worldwide (per-country detail at /streets/coverage).\n\n**When to use it:** reverse geocoding to administrative areas, geofencing against your\nown polygons, jurisdiction and region checks, enriching location data with region codes.\n\n**When not to:** forward geocoding (address to coordinate) or place search, a\nguaranteed house number (OpenStreetMap maps them unevenly), routing or map tiles,\nretrieving boundary or street geometry, many coordinates in one request, or\nenter/exit event tracking.\n\nA fuller reference for automated clients is at https://atlasfetch.xyz/llms.txt\n\nReference boundaries and streets derive from OpenStreetMap under the ODbL; attribution and\nshare-alike obligations pass through to you. Looked-up coordinates are not stored.",
    "termsOfService": "https://atlasfetch.xyz/terms",
    "contact": {
      "name": "AtlasFetch",
      "url": "https://atlasfetch.xyz"
    },
    "license": {
      "name": "ODbL (reference boundary data)",
      "url": "https://atlasfetch.xyz/attribution"
    },
    "x-jentic-source-url": "https://atlasfetch.xyz/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.atlasfetch.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/location/lookup": {
      "get": {
        "tags": [
          "Lookup"
        ],
        "summary": "Resolve a coordinate to the boundaries that contain it",
        "description": "Point-in-polygon lookup. Returns the administrative boundaries containing the point\nand any matches from the account's own boundary sets.\n\nAdd `street` to `base` for the nearest street: three answers, within 5 m, within\n20 m and unlimited, each a house number and street, or a street alone, with its\ndistance. Worldwide: 216 countries (`GET /streets/coverage`). `null` only outside them,\nfor example at sea.\n\nOne request is one billed lookup, however many layers, sets or grid codes it touches.\nMetering happens before matching, so a call that matches nothing still bills.\n\n`errors[]` is present on every response. A set that cannot be queried is skipped and\nreported there with HTTP 200 — it does not fail the request.",
        "operationId": "locationLookup",
        "deprecated": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude, -90 to 90.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude, -180 to 180.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Comma-separated reference layers to resolve: `country`, `region`, `municipal`, `street`. Defaults to the first three; `street` is opt-in.",
            "schema": {
              "type": "string",
              "default": "country,region,municipal"
            },
            "example": "country,region,municipal,street"
          },
          {
            "name": "set",
            "in": "query",
            "required": false,
            "description": "Comma-separated names of your own boundary sets to match against. Defaults to none.",
            "schema": {
              "type": "string"
            },
            "example": "delivery_zones"
          },
          {
            "name": "encode",
            "in": "query",
            "required": false,
            "description": "Comma-separated grid encodings to express the point in: `h3`, `pluscode`. Output only — neither is accepted as a location. Not metered.",
            "schema": {
              "type": "string"
            },
            "example": "h3,pluscode"
          },
          {
            "name": "h3res",
            "in": "query",
            "required": false,
            "description": "H3 resolution, 0-15. r9 is roughly 400 m across.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15,
              "default": 9
            }
          },
          {
            "name": "pluslen",
            "in": "query",
            "required": false,
            "description": "Plus Code length. 9 is not a valid Plus Code length.",
            "schema": {
              "type": "integer",
              "enum": [
                2,
                4,
                6,
                8,
                10,
                11,
                12,
                13,
                14,
                15
              ],
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The point resolved. Check `errors[]` for per-set problems.",
            "headers": {
              "X-Lookups-Remaining": {
                "description": "Lookups left in the current billing period.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters — including a Plus Code or H3 index sent as the location, which is refused on purpose. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Monthly lookup allowance exhausted. Retry after the period resets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded. Honour Retry-After. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/location/info": {
      "get": {
        "tags": [
          "Lookup"
        ],
        "summary": "Resolve a coordinate (deprecated alias of /location/lookup)",
        "description": "Point-in-polygon lookup. Returns the administrative boundaries containing the point\nand any matches from the account's own boundary sets.\n\nAdd `street` to `base` for the nearest street: three answers, within 5 m, within\n20 m and unlimited, each a house number and street, or a street alone, with its\ndistance. Worldwide: 216 countries (`GET /streets/coverage`). `null` only outside them,\nfor example at sea.\n\nOne request is one billed lookup, however many layers, sets or grid codes it touches.\nMetering happens before matching, so a call that matches nothing still bills.\n\n`errors[]` is present on every response. A set that cannot be queried is skipped and\nreported there with HTTP 200 — it does not fail the request.",
        "operationId": "locationInfo",
        "deprecated": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude, -90 to 90.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude, -180 to 180.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Comma-separated reference layers to resolve: `country`, `region`, `municipal`, `street`. Defaults to the first three; `street` is opt-in.",
            "schema": {
              "type": "string",
              "default": "country,region,municipal"
            },
            "example": "country,region,municipal,street"
          },
          {
            "name": "set",
            "in": "query",
            "required": false,
            "description": "Comma-separated names of your own boundary sets to match against. Defaults to none.",
            "schema": {
              "type": "string"
            },
            "example": "delivery_zones"
          },
          {
            "name": "encode",
            "in": "query",
            "required": false,
            "description": "Comma-separated grid encodings to express the point in: `h3`, `pluscode`. Output only — neither is accepted as a location. Not metered.",
            "schema": {
              "type": "string"
            },
            "example": "h3,pluscode"
          },
          {
            "name": "h3res",
            "in": "query",
            "required": false,
            "description": "H3 resolution, 0-15. r9 is roughly 400 m across.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15,
              "default": 9
            }
          },
          {
            "name": "pluslen",
            "in": "query",
            "required": false,
            "description": "Plus Code length. 9 is not a valid Plus Code length.",
            "schema": {
              "type": "integer",
              "enum": [
                2,
                4,
                6,
                8,
                10,
                11,
                12,
                13,
                14,
                15
              ],
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The point resolved. Check `errors[]` for per-set problems.",
            "headers": {
              "X-Lookups-Remaining": {
                "description": "Lookups left in the current billing period.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters — including a Plus Code or H3 index sent as the location, which is refused on purpose. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Monthly lookup allowance exhausted. Retry after the period resets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded. Honour Retry-After. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boundaries/sets": {
      "get": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "List the account's boundary sets",
        "description": "Includes each set's boundary count and the ids of the API keys it is granted to.",
        "operationId": "listBoundarySets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The sets belonging to the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BoundarySet"
                      }
                    }
                  },
                  "required": [
                    "sets"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Create a boundary set",
        "description": "A new set is created with `available: false` and no key grants, so it matches nothing\nuntil both are changed.\n\n**A client holding only an API key cannot finish this on its own.** Grants are addressed\nby API key *id*, and the only endpoint that lists key ids requires a browser session, so\nthe grant step happens in the dashboard at https://atlasfetch.xyz/dashboard",
        "operationId": "createBoundarySet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
                    "description": "1-32 letters, digits, hyphens or underscores, starting with a letter or digit."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The set was created — unavailable and granted to no key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoundarySetCreated"
                }
              }
            }
          },
          "400": {
            "description": "The name does not match the allowed pattern.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan's set cap was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A set of that name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boundaries/sets/{name}": {
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "description": "The set name.",
          "schema": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
            "description": "1-32 letters, digits, hyphens or underscores, starting with a letter or digit."
          }
        }
      ],
      "patch": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Toggle availability, grant or revoke keys",
        "description": "A set is only queryable when `available` is true **and** the calling key is granted it.",
        "operationId": "updateBoundarySet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "available": {
                    "type": "boolean",
                    "description": "The account-wide master switch for this set."
                  },
                  "grant": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "API key ids to grant."
                  },
                  "revoke": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "API key ids to revoke."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated set, in the same shape as the list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoundarySet"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such set on this account, or a key id in grant/revoke is not one of its keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Delete a set and every boundary in it",
        "operationId": "deleteBoundarySet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such set on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boundaries": {
      "post": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Add a polygon to a set",
        "description": "Stores one polygon in an existing set. Each call creates a new boundary; the same name twice\nstores two.\n\nPlan caps apply to vertices per polygon (every ring position counts, including the closing\none), properties per boundary, and boundaries per set. At the boundaries-per-set cap the\nPublic plan — the shared demo key — silently deletes the oldest boundary to make room; every\nother plan refuses with 403.",
        "operationId": "createBoundary",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
                    "description": "The existing set to add it to."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Returned when a looked-up point falls inside it."
                  },
                  "geometry": {
                    "$ref": "#/components/schemas/PolygonGeometry"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/BoundaryProperties"
                  }
                },
                "required": [
                  "set",
                  "name",
                  "geometry"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The boundary was stored. Geometry is not echoed back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoundaryCreated"
                }
              }
            }
          },
          "400": {
            "description": "Not a valid GeoJSON Polygon (wrong type, unclosed or short ring, out-of-range or non-numeric positions, self-intersection), a bad name, or a property of the wrong type or length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "A plan cap was hit: too many vertices, too many properties, a property the Public plan does not allow, or a full set on a plan that refuses rather than evicts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such set on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boundaries/view": {
      "get": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Read back your own boundaries, with geometry",
        "description": "Only ever returns boundaries belonging to the calling account. Reference boundaries are never returned.",
        "operationId": "viewBoundaries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "set",
            "in": "query",
            "required": true,
            "description": "The set to read.",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
              "description": "1-32 letters, digits, hyphens or underscores, starting with a letter or digit."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The set and its boundaries, oldest first, with geometry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "set": {
                      "type": "string"
                    },
                    "available": {
                      "type": "boolean"
                    },
                    "boundaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BoundaryWithGeometry"
                      }
                    }
                  },
                  "required": [
                    "set",
                    "available",
                    "boundaries"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such set on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boundaries/{id}": {
      "delete": {
        "tags": [
          "Boundary sets"
        ],
        "summary": "Delete one boundary",
        "operationId": "deleteBoundary",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The boundary id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such boundary on this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Liveness",
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "The service is up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Which build is serving",
        "operationId": "version",
        "security": [],
        "responses": {
          "200": {
            "description": "The image tag and Cloud Run revision.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "examples": [
                        "v23"
                      ]
                    },
                    "revision": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "version",
                    "revision"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "This document",
        "operationId": "openapi",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI description of this API."
          }
        }
      }
    },
    "/streets/coverage": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Countries that answer the street layer",
        "description": "The countries that answer `base=street` — 216, every country with an ISO code —\nwith their OpenStreetMap snapshot and road and address counts. Outside them `street`\nis null. `addresses` is the number of mapped addresses: roads are well mapped almost\neverywhere, house numbers vary widely by country, and this is how to judge one.",
        "operationId": "streetCoverage",
        "security": [],
        "responses": {
          "200": {
            "description": "Covered countries, by ISO 3166-1 code.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "examples": [
                              "ZA"
                            ]
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "South Africa"
                            ]
                          },
                          "snapshotDate": {
                            "type": "string",
                            "format": "date",
                            "description": "The OpenStreetMap snapshot the data came from."
                          },
                          "roads": {
                            "type": "integer"
                          },
                          "addresses": {
                            "type": "integer",
                            "description": "Mapped addresses — the ceiling on how often a house number can come back."
                          },
                          "loadedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "snapshotDate",
                          "roads",
                          "addresses",
                          "loadedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "count",
                    "countries"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/route": {
      "post": {
        "tags": [
          "Directions"
        ],
        "summary": "Route between two or more coordinates",
        "description": "A route from the first location to the last, via any between. Costs **10 lookups** from\nthe monthly allowance, whatever it asks for. Durations are free-flow estimates with no\ntraffic. Optional: turn-by-turn steps, the route line, up to 2 alternatives (2 locations\nonly), avoid zones taken from your own boundary sets, and exposure: how far the route\nruns inside the zones of other sets. A zone containing one of the locations is not\navoided for that route, and `avoid.skipped` says so. Coordinates go in the body,\nnever the URL, and are not stored.",
        "operationId": "route",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The route. `X-Lookups-Remaining` is set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "`code` invalid_request, too_far or avoid_too_complex. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Monthly lookup allowance exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`code` plan_feature (a mode or cap above the plan) or avoid_set_unavailable. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`code` no_road_nearby or no_route. Billed: the route was attempted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded. Honour Retry-After. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`code` routing_unavailable. Not billed, or refunded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/route/coverage": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Whether routing is answering, and the routing limits of each plan",
        "operationId": "routeCoverage",
        "security": [],
        "responses": {
          "200": {
            "description": "Routing status, coverage, costs in lookups, and per-plan caps.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "coverage": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "examples": [
                        "world"
                      ]
                    },
                    "snapshot": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The OpenStreetMap snapshot the routes come from."
                    },
                    "modes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "car",
                          "bike",
                          "foot",
                          "truck"
                        ]
                      }
                    },
                    "costs": {
                      "type": "object",
                      "properties": {
                        "route": {
                          "type": "integer"
                        },
                        "matrixCell": {
                          "type": "integer"
                        },
                        "isochrone": {
                          "type": "integer"
                        }
                      }
                    },
                    "plans": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/RoutingCaps"
                      }
                    }
                  },
                  "required": [
                    "available",
                    "coverage",
                    "snapshot",
                    "modes",
                    "costs",
                    "plans"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/demo/key": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "The shared public demo key",
        "description": "Returns an API key belonging to one communal account. Its quota, rate limit and single\nboundary set are pooled across every anonymous user — fine for evaluation, wrong for\nanything real. Create your own key at https://atlasfetch.xyz/dashboard",
        "operationId": "demoKey",
        "security": [],
        "responses": {
          "200": {
            "description": "The demo key and the public plan's caps.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "monthlyLookups": {
                          "type": "integer"
                        },
                        "rateLimitPerSec": {
                          "type": "integer"
                        },
                        "boundaries": {
                          "$ref": "#/components/schemas/BoundaryCaps"
                        }
                      }
                    }
                  },
                  "required": [
                    "key",
                    "plan"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No demo key is configured on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/plans": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "The plan catalogue",
        "operationId": "plans",
        "security": [],
        "responses": {
          "200": {
            "description": "Every plan, with prices and caps.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plan"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key, sent as `Authorization: Bearer <key>` — a 64-character hex string with no\nprefix. Create one at https://atlasfetch.xyz/dashboard, or call `GET /demo/key` for the\nshared public key.\n\nThe dashboard endpoints (key management, usage, billing, members) accept only a browser\nsession, which an automated client cannot obtain, and are not described here."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Every 4xx and 5xx body has this shape.",
        "properties": {
          "error": {
            "type": "string",
            "description": "What went wrong, in a sentence."
          },
          "code": {
            "type": "string",
            "description": "A machine-readable reason, on routing errors."
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Per-field validation problems, when there are any."
          }
        },
        "required": [
          "error"
        ]
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "ok"
        ]
      },
      "ApiError": {
        "type": "object",
        "description": "A problem with part of a request that still succeeded.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "access",
              "usage"
            ],
            "description": "`access` — a set was skipped. `usage` — quota exhausted, mirroring a 402."
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "LayerHit": {
        "type": [
          "object",
          "null"
        ],
        "description": "A matched boundary. `null` when that layer matched nothing.",
        "properties": {
          "code": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 for country, ISO 3166-2 for region, and for municipal the official ISO code where OpenStreetMap carries one, otherwise a generated `B-<country>-<n>`. Generated codes are not yet stable across a full reseed; ISO codes are.",
            "examples": [
              "GB-ENG"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "England"
            ]
          }
        },
        "required": [
          "code",
          "name"
        ]
      },
      "StreetAnswer": {
        "type": "object",
        "description": "The street answer for one radius. A numbered address within the radius wins over a nearer street; for the unlimited radius an address must still be within 20 m. With nothing within the radius, every field but `radiusMeters` is null.",
        "properties": {
          "radiusMeters": {
            "type": [
              "integer",
              "null"
            ],
            "enum": [
              5,
              20,
              null
            ],
            "description": "5, 20, or null for unlimited."
          },
          "streetNumber": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string, not a number: `44A`, `12-14`. Only when an address matched — house numbers are rare.",
            "examples": [
              "169"
            ]
          },
          "streetName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The street name, or the route number for a road that has only one (`N1`).",
            "examples": [
              "Oxford Road"
            ]
          },
          "postcode": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string: some postcodes start with 0. Only when an address matched.",
            "examples": [
              "2196"
            ]
          },
          "distanceMeters": {
            "type": [
              "number",
              "null"
            ],
            "description": "Metres to the building (0 inside it) or to the nearest point of the street, to 0.1 m.",
            "examples": [
              12.8
            ]
          }
        },
        "required": [
          "radiusMeters",
          "streetNumber",
          "streetName",
          "postcode",
          "distanceMeters"
        ]
      },
      "SetMatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The boundary name you gave it."
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Whatever you attached to that boundary."
          }
        },
        "required": [
          "name"
        ]
      },
      "LookupResponse": {
        "type": "object",
        "properties": {
          "base": {
            "type": "object",
            "description": "One entry per layer named in `base`. A layer that matched nothing is present and null, never absent.",
            "properties": {
              "country": {
                "$ref": "#/components/schemas/LayerHit"
              },
              "region": {
                "$ref": "#/components/schemas/LayerHit"
              },
              "municipal": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LayerHit"
                  }
                ],
                "description": "The finest unit available below the region tier — not a consistent kind of thing. Los Angeles returns a city; rural Kansas returns a county. Do not assume it names a city."
              },
              "street": {
                "type": [
                  "array",
                  "null"
                ],
                "description": "Only when `street` is in `base`. Always three entries, in the order 5 m, 20 m, unlimited. `null` means the point is outside every covered country (see `GET /streets/coverage`), for example at sea; an entry of nulls means covered, but nothing within that radius. No geometry is returned.",
                "items": {
                  "$ref": "#/components/schemas/StreetAnswer"
                },
                "minItems": 3,
                "maxItems": 3
              }
            }
          },
          "sets": {
            "type": "object",
            "description": "Keyed by set name; each value is every boundary in that set containing the point.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SetMatch"
              }
            }
          },
          "encoded": {
            "type": "object",
            "description": "Absent entirely unless `encode` was requested.",
            "properties": {
              "h3": {
                "type": "string",
                "examples": [
                  "89195da49b7ffff"
                ]
              },
              "pluscode": {
                "type": "string",
                "examples": [
                  "9C3XGV4C+VX"
                ]
              }
            }
          },
          "errors": {
            "type": "array",
            "description": "Always present, empty or not. Read it unconditionally.",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "base",
          "sets",
          "errors"
        ]
      },
      "BoundarySet": {
        "type": "object",
        "description": "Returned by GET /boundaries/sets and PATCH /boundaries/sets/{name}.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "available": {
            "type": "boolean",
            "description": "The account-wide switch. False on creation."
          },
          "boundaryCount": {
            "type": "integer"
          },
          "grantedKeys": {
            "type": "array",
            "description": "The API keys allowed to query this set.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "label"
              ]
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "available",
          "boundaryCount",
          "grantedKeys",
          "createdAt",
          "updatedAt"
        ]
      },
      "BoundarySetCreated": {
        "type": "object",
        "description": "Returned by POST /boundaries/sets. Narrower than BoundarySet: a new set has no boundaries and no grants.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "available": {
            "type": "boolean",
            "const": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "available",
          "createdAt"
        ]
      },
      "PolygonGeometry": {
        "type": "object",
        "description": "A single GeoJSON Polygon. MultiPolygon, Feature and FeatureCollection are rejected. Positions are [longitude, latitude] within range. Each ring has at least 4 positions and is closed (last equals first); rings after the first are holes. Self-intersecting polygons are rejected.",
        "properties": {
          "type": {
            "type": "string",
            "const": "Polygon"
          },
          "coordinates": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        },
        "required": [
          "type",
          "coordinates"
        ],
        "examples": [
          {
            "type": "Polygon",
            "coordinates": [
              [
                [
                  -0.2,
                  51.4
                ],
                [
                  -0.2,
                  51.6
                ],
                [
                  0,
                  51.6
                ],
                [
                  0,
                  51.4
                ],
                [
                  -0.2,
                  51.4
                ]
              ]
            ]
          }
        ]
      },
      "BoundaryProperties": {
        "type": "object",
        "description": "Flat key/value pairs returned with every match. Keys up to 32 characters; values a string (up to 256 characters), number or boolean. The Public plan (the shared demo key) accepts only category (zone, area, route, place, other), color (green, blue, red, yellow, purple, orange) and priority (low, medium, high).",
        "additionalProperties": {
          "anyOf": [
            {
              "type": "string",
              "maxLength": 256
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            }
          ]
        }
      },
      "BoundaryCreated": {
        "type": "object",
        "description": "Returned by POST /boundaries.",
        "properties": {
          "id": {
            "type": "string"
          },
          "set": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/BoundaryProperties"
          },
          "pointCount": {
            "type": "integer",
            "description": "Positions across all rings, the number the plan cap counts."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "set",
          "name",
          "properties",
          "pointCount",
          "createdAt"
        ]
      },
      "BoundaryWithGeometry": {
        "type": "object",
        "description": "One boundary as returned inside GET /boundaries/view.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/BoundaryProperties"
          },
          "pointCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "geometry": {
            "$ref": "#/components/schemas/PolygonGeometry"
          }
        },
        "required": [
          "id",
          "name",
          "properties",
          "pointCount",
          "createdAt",
          "geometry"
        ]
      },
      "BoundaryCaps": {
        "type": "object",
        "properties": {
          "maxSets": {
            "type": "integer"
          },
          "maxGeomsPerSet": {
            "type": "integer"
          },
          "maxPointsPerGeom": {
            "type": "integer"
          },
          "maxPropsPerGeom": {
            "type": "integer"
          },
          "propsMode": {
            "type": "string",
            "enum": [
              "allowlist",
              "freeform"
            ]
          },
          "eviction": {
            "type": "string",
            "enum": [
              "evict",
              "reject"
            ],
            "description": "At the cap: `evict` replaces the oldest, `reject` refuses."
          }
        }
      },
      "RoutingCaps": {
        "type": "object",
        "properties": {
          "maxWaypoints": {
            "type": "integer",
            "description": "Locations per route, origin and destination included."
          },
          "maxRouteKm": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Straight-line limit per mode."
          },
          "alternatives": {
            "type": "integer"
          },
          "maxAvoidZones": {
            "type": "integer"
          },
          "maxAvoidVertices": {
            "type": "integer"
          },
          "maxExposureSets": {
            "type": "integer"
          },
          "modes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LatLng": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "RouteRequest": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LatLng"
            },
            "minItems": 2,
            "maxItems": 25
          },
          "mode": {
            "type": "string",
            "enum": [
              "car",
              "bike",
              "foot",
              "truck"
            ],
            "default": "car",
            "description": "`truck` is Pro only."
          },
          "steps": {
            "type": "boolean",
            "default": false
          },
          "geometry": {
            "type": "string",
            "enum": [
              "none",
              "polyline6",
              "geojson"
            ],
            "default": "none"
          },
          "language": {
            "type": "string",
            "default": "en-US",
            "description": "Instruction language, e.g. en-GB, de-DE, fr-FR."
          },
          "alternatives": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2,
            "default": 0,
            "description": "Only with exactly 2 locations."
          },
          "avoid": {
            "type": "object",
            "properties": {
              "sets": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
                  "description": "1-32 letters, digits, hyphens or underscores, starting with a letter or digit."
                }
              }
            },
            "required": [
              "sets"
            ]
          },
          "exposure": {
            "type": "object",
            "properties": {
              "sets": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,31}$",
                  "description": "1-32 letters, digits, hyphens or underscores, starting with a letter or digit."
                }
              }
            },
            "required": [
              "sets"
            ]
          },
          "vehicle": {
            "type": "object",
            "description": "Truck dimensions, only with mode truck.",
            "properties": {
              "heightMeters": {
                "type": "number"
              },
              "widthMeters": {
                "type": "number"
              },
              "lengthMeters": {
                "type": "number"
              },
              "weightTonnes": {
                "type": "number"
              },
              "axleLoadTonnes": {
                "type": "number"
              },
              "hazmat": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "locations"
        ],
        "additionalProperties": false
      },
      "RouteStep": {
        "type": "object",
        "properties": {
          "maneuver": {
            "type": "string",
            "enum": [
              "depart",
              "arrive",
              "continue",
              "turn-left",
              "turn-right",
              "slight-left",
              "slight-right",
              "sharp-left",
              "sharp-right",
              "u-turn",
              "ramp",
              "exit",
              "merge",
              "fork",
              "roundabout",
              "ferry",
              "other"
            ]
          },
          "instruction": {
            "type": "string"
          },
          "streetNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "distanceMeters": {
            "type": "number"
          },
          "durationSeconds": {
            "type": "number"
          },
          "geometryIndex": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Span of points in the route line. Only when geometry is returned."
          }
        },
        "required": [
          "maneuver",
          "instruction",
          "streetNames",
          "distanceMeters",
          "durationSeconds"
        ]
      },
      "Route": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string"
          },
          "distanceMeters": {
            "type": "number"
          },
          "durationSeconds": {
            "type": "number",
            "description": "Free-flow: no traffic."
          },
          "legs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "distanceMeters": {
                  "type": "number"
                },
                "durationSeconds": {
                  "type": "number"
                },
                "steps": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteStep"
                  }
                }
              },
              "required": [
                "distanceMeters",
                "durationSeconds"
              ]
            }
          },
          "geometry": {
            "description": "A polyline6 string or a GeoJSON LineString, as requested."
          },
          "exposure": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "set": {
                  "type": "string"
                },
                "zone": {
                  "type": "string"
                },
                "properties": {
                  "type": "object"
                },
                "metersInside": {
                  "type": "number"
                }
              }
            }
          }
        },
        "required": [
          "mode",
          "distanceMeters",
          "durationSeconds",
          "legs"
        ]
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "route": {
            "$ref": "#/components/schemas/Route"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "locations": {
            "type": "array",
            "description": "Each location as snapped to the road network, and how far it moved.",
            "items": {
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number"
                },
                "lng": {
                  "type": "number"
                },
                "snapDistanceMeters": {
                  "type": "number"
                }
              }
            }
          },
          "avoid": {
            "type": "object",
            "properties": {
              "applied": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "set": {
                      "type": "string"
                    },
                    "zone": {
                      "type": "string"
                    }
                  }
                }
              },
              "skipped": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "set": {
                      "type": "string"
                    },
                    "zone": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "contains_location"
                      ]
                    },
                    "locationIndex": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "avoid_skipped",
                    "hole_ignored",
                    "avoid_violated"
                  ]
                },
                "message": {
                  "type": "string"
                },
                "set": {
                  "type": "string"
                },
                "zone": {
                  "type": "string"
                },
                "route": {
                  "description": "The string route, or an index into alternatives."
                }
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "route",
          "locations",
          "warnings",
          "errors"
        ]
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "public",
              "personal",
              "basic",
              "pro"
            ]
          },
          "label": {
            "type": "string"
          },
          "priceGBP": {
            "type": "integer",
            "description": "Pence per month. 0 for the free plans."
          },
          "priceDisplay": {
            "type": "string",
            "examples": [
              "£9"
            ]
          },
          "monthlyLookups": {
            "type": "integer"
          },
          "rateLimitPerSec": {
            "type": "integer"
          },
          "boundaries": {
            "$ref": "#/components/schemas/BoundaryCaps"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingCaps"
          },
          "selfServe": {
            "type": "boolean",
            "description": "Whether it can be bought online."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Lookup",
      "description": "The point-in-polygon lookup."
    },
    {
      "name": "Boundary sets",
      "description": "Your own polygons, grouped into named sets."
    },
    {
      "name": "Directions",
      "description": "Routes between coordinates, around your own avoid zones."
    },
    {
      "name": "Public",
      "description": "No authentication, no metering."
    }
  ],
  "externalDocs": {
    "description": "Human-readable documentation",
    "url": "https://atlasfetch.xyz/docs"
  }
}