{
  "openapi": "3.0.3",
  "info": {
    "title": "PropLine — Player Props & Sports Betting Odds API",
    "version": "1.2.0",
    "description": "Real-time player prop betting lines and game odds across 57 sports from 37 books — 23 sportsbooks (BetMGM, BetRivers, Betway, Bovada, Courtside, Sportzino, Heritage Sports, Jazz Sports, YouWager, Thrillzz, DraftKings, Fanatics, FanDuel, Fliff, Hard Rock Bet, Pinnacle, Unibet, 1xBet, TAB AU, ReBet, BetUS, BetOnline.ag, LowVig.ag), 6 DFS providers (PrizePicks, Underdog, Sleeper, Dabble, ParlayPlay, DraftKings Pick6), 3 prediction-market exchanges (Kalshi, Polymarket, Polymarket US), and 5 betting exchanges (Matchbook, Smarkets, Novig, ProphetX, SX Bet). Kalshi quotes more than game lines: NFL team totals (full game and 1st half), winning margin and half-time/full-time (NFL + NCAAF), NFL/MLB/WNBA player props, La Liga + EPL total and team corners, La Liga goalscorers, WTA 125 / ATP Challenger match winners, UFC fight goes the distance, and golf winner / make-cut / top 5, 10, 20 on the PGA and DP World Tours — filter with `bookmakers=kalshi`. Includes prop resolution against actual box-score stats, historical line movement with book-published timestamps, cross-book +EV with no-vig fair lines, an EV calculator for prices at books we don't carry, period-market filtering (?period=q1|h1|p1|f5|map1|s1|g1) on every odds endpoint, futures markets, and bulk CSV exports. Responses are the-odds-api compatible for drop-in migration. Every authenticated response carries live quota headers (X-Daily-Limit, X-Daily-Used, X-Daily-Remaining, X-Daily-Reset — unix seconds at the 00:00 UTC reset) so usage can be tracked programmatically without a dashboard. Standard rate-limit headers are sent alongside them (RateLimit-Limit, RateLimit-Remaining, RateLimit-Reset — seconds until reset — and RateLimit-Policy, plus the X-RateLimit-* spelling), so a generic client can self-throttle; quota headers ride every authenticated response including 4xx errors, but not a 401 for an invalid key; both 429 types carry Retry-After. Versioning is in the URL path and anything deprecated keeps serving for at least 12 months with RFC 8594 Deprecation and Sunset headers (https://prop-line.com/api-versioning).",
    "contact": {
      "name": "PropLine",
      "url": "https://prop-line.com",
      "email": "support@prop-line.com"
    },
    "x-jentic-source-url": "https://prop-line.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.prop-line.com",
      "description": "PropLine production"
    }
  ],
  "paths": {
    "/v1/sports": {
      "get": {
        "tags": [
          "Sports"
        ],
        "summary": "List Sports",
        "description": "List all available sports.",
        "operationId": "list_sports_v1_sports_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SportOut"
                  },
                  "type": "array",
                  "title": "Response List Sports V1 Sports Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/v1/sports/{sport_key}/events": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "List Events",
        "description": "List upcoming events for a sport (no odds — free endpoint).",
        "operationId": "list_events_v1_sports__sport_key__events_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOut"
                  },
                  "title": "Response List Events V1 Sports  Sport Key  Events Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/odds": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "List Odds",
        "description": "Bulk odds for a sport. Filter by market keys (comma-separated).",
        "operationId": "list_odds_v1_sports__sport_key__odds_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "h2h",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param.",
            "example": "draftkings,fanduel"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Game-period filter. Omitted = full-game markets only (backwards-compat default). Pass canonical codes like 'q1', 'h1', 'p1', 'i6', 'f5', 'map1', 's1' (sets — tennis / volleyball), 'g1' (games — table tennis / badminton), comma-separated for multiple, or 'all' to include every period.",
            "schema": {
              "type": "string",
              "example": "q1"
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, adds a `link` field — the book's public event-page URL (plain navigation, no affiliate tagging) — per bookmaker block (odds endpoints) or per price row (/best-line). Links ship for Bovada, DraftKings, FanDuel, BetMGM, Kalshi, Polymarket, Smarkets, ProphetX and Novig; other books return null. Matches the-odds-api's includeLinks param. It also adds an `app_link` field (mobile app-open deep link; ProphetX only today, null elsewhere)."
          },
          {
            "name": "includeBookIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, adds `book_event_id` per bookmaker block and `book_outcome_id` + `outcome_id` per outcome — each book's OWN identifiers for the event and the priced selection, plus PropLine's canonical outcome id (the value `line_movement` / `resolution` webhooks carry, so a delivery joins onto one REST row). Use these to join PropLine rows onto a book's native feed by id instead of matching on team names, players and lines. Kalshi ships both (event ticker + per-contract market ticker, e.g. KXMLBGAME-26AUG08NYYBOS-NYY); Bovada, DraftKings, FanDuel, BetMGM, Pinnacle, Polymarket, Smarkets, Novig, Matchbook, Sleeper, Dabble, ReBet, 1xBet, TAB AU and the Kambi books (BetRivers/Unibet) ship event ids. Books without a stable id return null. NB a two-sided market can share one book_outcome_id across both legs (a Kalshi contract is binary — Over/Under are its YES/NO sides); the outcome's `name` says which side. PropLine-specific, not a the-odds-api param."
          },
          {
            "name": "includeDepth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, every outcome carries `depth`: the order-book levels BEYOND the served price, best-first, each {price, size} — American odds and the dollars a taker can spend at that level, at prices strictly worse than `price`. Up to 50 levels for Polymarket, Polymarket US and Kalshi (Kalshi: budgeted read, served only while under 3 minutes old and its top equals `price`), up to 3 for ProphetX; [] for every other book or an empty ladder. Omitted from the response unless set. PropLine-specific."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOddsOut"
                  },
                  "title": "Response List Odds V1 Sports  Sport Key  Odds Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/odds": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "Get Event Odds",
        "description": "Get odds for a single event — supports player prop markets.\nThis is where the real value is.",
        "operationId": "get_event_odds_v1_sports__sport_key__events__event_id__odds_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pitcher_strikeouts,batter_hits,batter_home_runs",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param.",
            "example": "draftkings,fanduel"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Game-period filter. Omitted = full-game markets only. Canonical codes ('q1', 'h1', 'p1', 'i6', 'f5', 'map1', 's1', 'g1'), comma-separated, or 'all'.",
            "schema": {
              "type": "string",
              "example": "q1"
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, adds a `link` field — the book's public event-page URL (plain navigation, no affiliate tagging) — per bookmaker block (odds endpoints) or per price row (/best-line). Links ship for Bovada, DraftKings, FanDuel, BetMGM, Kalshi, Polymarket, Smarkets, ProphetX and Novig; other books return null. Matches the-odds-api's includeLinks param. It also adds an `app_link` field (mobile app-open deep link; ProphetX only today, null elsewhere)."
          },
          {
            "name": "includeBookIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, adds `book_event_id` per bookmaker block and `book_outcome_id` + `outcome_id` per outcome — each book's OWN identifiers for the event and the priced selection, plus PropLine's canonical outcome id (the value `line_movement` / `resolution` webhooks carry, so a delivery joins onto one REST row). Use these to join PropLine rows onto a book's native feed by id instead of matching on team names, players and lines. Kalshi ships both (event ticker + per-contract market ticker, e.g. KXMLBGAME-26AUG08NYYBOS-NYY); Bovada, DraftKings, FanDuel, BetMGM, Pinnacle, Polymarket, Smarkets, Novig, Matchbook, Sleeper, Dabble, ReBet, 1xBet, TAB AU and the Kambi books (BetRivers/Unibet) ship event ids. Books without a stable id return null. NB a two-sided market can share one book_outcome_id across both legs (a Kalshi contract is binary — Over/Under are its YES/NO sides); the outcome's `name` says which side. PropLine-specific, not a the-odds-api param."
          },
          {
            "name": "includeDepth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, every outcome carries `depth`: the order-book levels BEYOND the served price, best-first, each {price, size} — American odds and the dollars a taker can spend at that level, at prices strictly worse than `price`. Up to 50 levels for Polymarket, Polymarket US and Kalshi (Kalshi: budgeted read, served only while under 3 minutes old and its top equals `price`), up to 3 for ProphetX; [] for every other book or an empty ladder. Omitted from the response unless set. PropLine-specific."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventOddsOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/markets": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "List Event Markets",
        "description": "List available market types for a specific event (full-game markets).\n`outcomes_count` counts the offerings stored for the event. /odds additionally withholds prices a book has withdrawn or stopped delivering, so a count here can be higher than what /odds serves; use /odds for what is live right now.",
        "operationId": "list_event_markets_v1_sports__sport_key__events__event_id__markets_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/odds/history": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "Get Event Odds History",
        "description": "Historical odds movement for a single event.\nPro / Streaming / Enterprise: full snapshot history.\nFree tier: redacted (shows structure and count).\n\nDepth is tier-gated by event age: Pro = events from the last 90 days, Streaming = 365 days, Enterprise = unlimited. Events older than the tier window return the redacted shape (empty snapshots + `upgrade_url`) — same envelope as the free-tier redaction, so no schema fork.",
        "operationId": "get_event_odds_history_v1_sports__sport_key__events__event_id__odds_history_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pitcher_strikeouts,batter_hits",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param.",
            "example": "draftkings,fanduel"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "ISO timestamp; only include snapshots at or after this time. Mutually exclusive with relative_from.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "ISO timestamp; only include snapshots at or before this time. Mutually exclusive with relative_to.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "relative_from",
            "in": "query",
            "required": false,
            "description": "Offset relative to commence_time, e.g. '-7d', '-3h', '-30m', '-90s'. Mutually exclusive with `from`.",
            "schema": {
              "type": "string",
              "example": "-3h"
            }
          },
          {
            "name": "relative_to",
            "in": "query",
            "required": false,
            "description": "Offset relative to commence_time, e.g. '-1m' or '0' for commence_time itself. Mutually exclusive with `to`.",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Downsample to one snapshot per bucket; latest snapshot in each bucket wins.",
            "schema": {
              "type": "string",
              "enum": [
                "30s",
                "1m",
                "5m",
                "15m",
                "30m",
                "1h"
              ]
            }
          },
          {
            "name": "changes_only",
            "in": "query",
            "required": false,
            "description": "When true, drop snapshots whose (price, point) match the previous one. The opening line is always kept.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Game-period filter. Omitted = full-game markets only. Canonical codes ('q1', 'h1', 'p1', 'i6', 'f5', 'map1', 's1', 'g1'), comma-separated, or 'all'.",
            "schema": {
              "type": "string",
              "example": "q1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventHistoryOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/odds/closing": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "Opening & closing lines (CLV)",
        "description": "Opening and closing line per (book, market, outcome).\n\nClosing = the last snapshot at or before commence_time — the canonical line CLV-tracking tools measure against. Opening = the first snapshot we hold for the outcome, however far before kickoff the book posted it (use `opening_window` to limit the lookback). Returning both ends in one call is what makes this a complete CLV helper: on spreads and totals the point moves as much as the price (-3 -110 -> -3.5 -105), so `opening_point`/`point` matter as much as the prices.\n\nHobby+ gets full data; free tier is redacted (structure only). Same per-tier event-age cap as /odds/history.",
        "operationId": "get_event_odds_closing_v1_sports__sport_key__events__event_id__odds_closing_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "h2h,spreads,totals",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param.",
            "example": "draftkings,fanduel"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Game-period filter. Omitted = full-game markets only. Canonical codes ('q1', 'h1', 'p1', 'i6', 'f5', 'map1', 's1', 'g1'), comma-separated, or 'all'.",
            "schema": {
              "type": "string",
              "example": "q1"
            }
          },
          {
            "name": "opening_window",
            "in": "query",
            "required": false,
            "description": "Lookback for the opening_* fields. Omitted or 'all' = the first snapshot we hold for the outcome. A whole number of days (1-3650) limits it to that many days before commence_time; 14 matches the resolved-props export's opening columns. Anything else is a 400.",
            "schema": {
              "type": "string",
              "example": "14"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventClosingOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/futures": {
      "get": {
        "tags": [
          "Events & Odds"
        ],
        "summary": "List Futures",
        "description": "List futures markets for a sport — championship winner, MVP,\ndivision winner, etc. One row per (futures event, book, market) with\nevery team or player priced. Free tier; pulled from each book's\nfutures feed (Bovada today). Order is by event commence_time\n(typically season-end) ascending.\n\nOptional `bookmakers` (comma-separated book keys) narrows the per-book market rows — same the-odds-api-compatible contract as every /odds endpoint: omitted = all books, unknown keys match nothing. A futures event with no market left after filtering is dropped.",
        "operationId": "list_futures_v1_sports__sport_key__futures_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Bookmakers",
              "nullable": true
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuturesEventOut"
                  },
                  "title": "Response List Futures V1 Sports  Sport Key  Futures Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/ev": {
      "get": {
        "tags": [
          "+EV"
        ],
        "summary": "Get Event Ev",
        "description": "Compute cross-book +EV for a single event.\n\n`markets` is an optional comma-separated filter. If omitted, every\nmarket on the event is evaluated. Each market line that has Pinnacle\n(preferred) or Bovada (fallback) coverage gets a no-vig fair price\nand an EV% per book.\n\n`bookmakers` is an optional comma-separated book-key filter — shop only the books you hold accounts at. It narrows the returned prices, never the anchor.\n\nThe anchor is chosen per line and always named: every line carries `fair_source`, and the response carries `fair_source_default` with the fallback order (pinnacle → polymarket → kalshi → bovada). One response routinely mixes several anchors, so read `fair_source` per line.",
        "operationId": "get_event_ev_v1_sports__sport_key__events__event_id__ev_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Markets",
              "nullable": true
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Bookmakers",
              "nullable": true
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param. NB it narrows the PRICES only, never the fair-line anchor: bookmakers=draftkings still returns DraftKings EV% measured against Pinnacle. Lines where none of the requested books quote a price are omitted."
          },
          {
            "name": "devig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "multiplicative",
                "shin"
              ],
              "default": "multiplicative",
              "title": "Devig"
            },
            "description": "How the anchor's vig is removed before the fair line is derived. 'multiplicative' (default) divides each implied probability by the booksum, spreading the overround evenly. 'shin' solves Shin's insider-trading model, which loads the overround onto the longshot side and corrects the favourite-longshot bias — negligible on a -110/-110 total, material on a +600 anytime scorer. The default is the only method the +EV backtest is measured on. Unknown values return 400.",
            "example": "shin"
          },
          {
            "name": "fair_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fair-line anchor: one or more of pinnacle, polymarket, kalshi, bovada, smarkets (comma list = order tried), or 'consensus' alone (median no-vig across 3+ books with a clean, fresh market; books used are listed in fair_books). Anything else is 400."
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Drop prices the book has not delivered within this many seconds (see each outcome's last_update). The fair line is unaffected.",
            "example": 300
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEvOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/projections": {
      "get": {
        "summary": "Market-implied consensus projections per (market, player)",
        "description": "One row per (market, player): the statistical value the betting market collectively implies — the line where the no-vig P(over) crosses 50%, median across contributing sportsbooks. Market-implied arithmetic over sportsbook prices, not a forecast. DFS pick'em pricing excluded; only genuine two-way Over/Under pairs contribute. player_id is the stable cross-book id also served on /odds (null until the player has graded). Hobby+ (all paid tiers) full; free tier gets a redacted teaser.",
        "operationId": "getEventProjections",
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "football_nfl"
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 25070
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional comma-separated market-key filter, e.g. player_pass_yds,player_receptions"
          }
        ],
        "responses": {
          "200": {
            "description": "Market-implied projections for the event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "sport_key": {
                      "type": "string"
                    },
                    "home_team": {
                      "type": "string"
                    },
                    "away_team": {
                      "type": "string"
                    },
                    "commence_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "method": {
                      "type": "string"
                    },
                    "projections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market_key": {
                            "type": "string"
                          },
                          "player": {
                            "type": "string"
                          },
                          "player_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "projected_value": {
                            "type": "number",
                            "nullable": true
                          },
                          "consensus_over_prob": {
                            "type": "number",
                            "nullable": true
                          },
                          "books_contributing": {
                            "type": "integer"
                          },
                          "last_update": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "redacted": {
                      "type": "boolean"
                    },
                    "upgrade_url": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Sport or event not found"
          }
        },
        "tags": [
          "+EV"
        ],
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/ev/calc": {
      "get": {
        "tags": [
          "+EV"
        ],
        "summary": "Calc Event Ev",
        "description": "Calculate EV% for a user-supplied price against the event's no-vig\nfair anchor.\n\nUseful when you bet at a book PropLine doesn't carry directly\n(Caesars, BetMGM, Fanatics, BetUS, Hard Rock, etc.). The fair line\nis derived from the same Pinnacle-preferred anchor as the bulk\n`/ev` endpoint, so the math is identical — you're just plugging in\na price we don't ingest. Returns 404 with the available outcome\nnames when the (market, point, name) tuple doesn't match any\nfair-anchored line on the event.\n\nPro tier required.",
        "operationId": "calc_event_ev_v1_sports__sport_key__events__event_id__ev_calc_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market key, e.g. 'h2h', 'spreads', 'totals', 'pitcher_strikeouts', 'player_pass_yds', 'player_anytime_td'. Full per-sport list: https://prop-line.com/docs — or GET /v1/sports/{sport_key}/events/{event_id}/markets for the keys a specific event carries.",
              "title": "Market"
            },
            "description": "Market key, e.g. 'h2h', 'spreads', 'totals', 'pitcher_strikeouts', 'player_pass_yds', 'player_anytime_td'. Full per-sport list: https://prop-line.com/docs — or GET /v1/sports/{sport_key}/events/{event_id}/markets for the keys a specific event carries."
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Outcome name. For h2h/spreads: team name. For totals/props: 'Over' or 'Under'.",
              "title": "Name"
            },
            "description": "Outcome name. For h2h/spreads: team name. For totals/props: 'Over' or 'Under'."
          },
          {
            "name": "price",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "American odds at your book, e.g. -118 or +145.",
              "title": "Price"
            },
            "description": "American odds at your book, e.g. -118 or +145."
          },
          {
            "name": "point",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Line/point for spreads, totals, and player props. Omit for h2h. For spreads, sign matters: e.g. -1.5 for the favorite.",
              "title": "Point",
              "nullable": true
            },
            "description": "Line/point for spreads, totals, and player props. Omit for h2h. For spreads, sign matters: e.g. -1.5 for the favorite."
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Player name for player-prop markets; empty for game-line markets.",
              "default": "",
              "title": "Description"
            },
            "description": "Player name for player-prop markets; empty for game-line markets."
          },
          {
            "name": "devig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "multiplicative",
                "shin"
              ],
              "default": "multiplicative",
              "title": "Devig"
            },
            "description": "How the anchor's vig is removed before the fair line is derived. 'multiplicative' (default) divides each implied probability by the booksum, spreading the overround evenly. 'shin' solves Shin's insider-trading model, which loads the overround onto the longshot side and corrects the favourite-longshot bias — negligible on a -110/-110 total, material on a +600 anytime scorer. The default is the only method the +EV backtest is measured on. Unknown values return 400.",
            "example": "shin"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvCalcOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/best-line": {
      "get": {
        "tags": [
          "+EV"
        ],
        "summary": "Get Event Best Line",
        "description": "Cross-book best-line lookup for a single event.\n\nFor each (market, player, line) tuple on the event, returns the\nsingle best American price across every comparable book PropLine\ningests, with the book name attached and an `all_prices` array\nsorted best-first (one row per book, each with `last_update`) so\nconsumers can render runner-ups without a second request.\n\n`markets` is an optional comma-separated filter (e.g.\n`markets=h2h,spreads,pitcher_strikeouts`). When omitted, every\nmarket on the event is included. `bookmakers` is an optional\ncomma-separated book-key filter (the-odds-api-compatible) — shop\nonly the books you hold accounts at.\n\nDFS pick'em books (PrizePicks, Sleeper, Dabble, ParlayPlay, DraftKings Pick6) are excluded —\ntheir quotes aren't independently bettable payouts; Underdog is\nincluded only at its clean two-way lines (payout_multiplier ==\n1.0). Companion to `/ev`: best-line tells you which book has the\nhighest payout right now; +EV tells you whether that price beats a\nsharp no-vig fair line.\n\nHobby tier or higher sees prices. Free tier gets a redacted\nteaser: the full structure — every line, side, book identity, and\nthe best-first ranking — with every price nulled, plus\n`redacted: true` and an `upgrade_url`.",
        "operationId": "get_event_best_line_v1_sports__sport_key__events__event_id__best_line_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Markets",
              "nullable": true
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all comparable books. Matches the-odds-api's `bookmakers` param.",
            "schema": {
              "type": "string",
              "title": "Bookmakers",
              "nullable": true
            }
          },
          {
            "name": "includeLinks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, adds a `link` field — the book's public event-page URL (plain navigation, no affiliate tagging) — per bookmaker block (odds endpoints) or per price row (/best-line). Links ship for Bovada, DraftKings, FanDuel, BetMGM, Kalshi, Polymarket, Smarkets, ProphetX and Novig; other books return null. Matches the-odds-api's includeLinks param. It also adds an `app_link` field (mobile app-open deep link; ProphetX only today, null elsewhere)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventBestLineOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/scores": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "List Scores",
        "description": "Game scores and status for recent events (last N days).\nFree tier — no Pro required.",
        "operationId": "list_scores_v1_sports__sport_key__scores_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "days_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "title": "Days From"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreOut"
                  },
                  "title": "Response List Scores V1 Sports  Sport Key  Scores Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/baseball_mlb/grand-salami": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "MLB Grand Salami",
        "description": "Synthetic daily Grand Salami — total runs scored across all MLB games on a given US Eastern date, plus each book's implied Grand Salami line (sum of per-game primary totals across our MLB books). No retail book quotes this as a single market. Free tier. Default date is today (US Eastern).",
        "operationId": "mlb_grand_salami_v1_sports_baseball_mlb_grand_salami_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Date (YYYY-MM-DD UTC)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrandSalamiOut"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/hockey_nhl/daily-goals-total": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "NHL Daily Goals Total",
        "description": "Hockey's equivalent of the MLB Grand Salami — total goals scored across all NHL games on a given US Eastern date (incl. OT/SO), plus each book's implied Daily Goals Total line (sum of per-game primary totals across our NHL books). No retail book quotes this as a single market. Free tier. Default date is today (US Eastern).",
        "operationId": "nhl_daily_goals_total_v1_sports_hockey_nhl_daily_goals_total_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Date (YYYY-MM-DD UTC)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyGoalsTotalOut"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/stats": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "Get Event Stats",
        "description": "Actual player/team stats from box scores (book-agnostic).\nUse these to resolve props against any sportsbook's lines.\nLive during games for major US sports (MLB + WNBA now; NFL, NCAAF, NBA, NHL at season start): while status is in_progress, stats refresh ~every 90 seconds with cumulative in-game values; at final they are the official box score. Other sports populate at game completion.\nFree tier — no Pro required.",
        "operationId": "get_event_stats_v1_sports__sport_key__events__event_id__stats_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "stat_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Stat Type"
            },
            "description": "Comma-separated stat names to return; omit for all. The stored vocabulary is wider than the market list — a stat is recorded whenever the box score carries it, not only when a book prices it. MLB: hits, total_bases, singles, doubles, triples, home_runs, runs, rbis, walks, stolen_bases, at_bats, hits_runs_rbis, batter_strikeouts, strikeouts, earned_runs, hits_allowed, outs, pitcher_started. NBA/WNBA/NCAAB: points, rebounds, assists, threes, steals, blocks, turnovers, points_rebounds, points_assists, rebounds_assists, points_rebounds_assists, minutes. NHL: goals, points_nhl, shots_on_goal, blocked_shots, power_play_points, saves. NFL/NCAAF: passing_yards, passing_tds, passing_attempts, passing_completions, interceptions, longest_completion, rushing_yards, rushing_tds, rushing_attempts, longest_rush, receiving_yards, receiving_tds, receptions, longest_reception, pass_rush_yds, rush_reception_yds, anytime_td, first_td, sacks, fumbles, fumbles_lost, fumbles_recovered, field_goals_made, field_goals_attempted, longest_field_goal, extra_points_made, extra_points_attempted, kicking_points. Soccer: goals, assists, shots, shots_on_target, yellow_cards, red_cards, cards, first_goal, fouls_committed, fouls_suffered, offsides, saves, shots_faced, goals_conceded, own_goals, corners. Tennis: total_games, sets_won, set_1_games..set_5_games, aces, dblfaults, breakpts, breakpts_w, tiebreaks, tiebreaks_w, games_w, sets_w, matches_w and opp_* mirrors. Golf: strokes, score, total_score, birdies, eagles, pars, bogeys_ow, holes, rank, golf_position, golf_made_cut, tournament_winner. UFC: significant_strikes, takedowns, fight_winner, fight_method, fight_round, completed_rounds, went_distance. Team period scores are period_{code}_home / period_{code}_away."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatsOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/movement": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Get Line Movement & Steam",
        "description": "Line movement derived from the snapshot tick history. Per (book, market, outcome): opening line, latest line, and the implied-probability / point shift between them. The steam[] array flags outcomes multiple books moved in the same direction — the sharp-money signal, computed across all 30 books. Hobby+ full; free tier redacted.",
        "operationId": "get_event_movement_v1_sports__sport_key__events__event_id__movement_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "h2h,spreads,totals",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books. Matches the-odds-api's bookmakers param.",
            "example": "draftkings,fanduel"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Period",
              "nullable": true
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Measure movement from this moment instead of each line's first quote in the 14 days before kickoff. ISO-8601 timestamp, or a negative offset from now ('-6h', '-30m', '-2d'). Each outcome's opening is the price it was holding at `since`.",
            "schema": {
              "type": "string",
              "title": "Since",
              "nullable": true
            }
          },
          {
            "name": "includeBookIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, every outcome also carries `book_outcome_id` (that book's own selection/contract id). `outcome_id` is always present."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMovementOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/context": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "Get Game Context",
        "description": "Conditions a game is played under: probable starting pitchers, confirmed-lineup flag, the home-plate umpire, and first-pitch weather (outdoor / open-roof venues).\nThe same context is embedded in the /results response so every graded prop carries the conditions it settled against.\nFree tier. MLB today; weather extends to other outdoor sports next. 404 when no context is on file yet.",
        "operationId": "get_event_context_v1_sports__sport_key__events__event_id__context_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameContextOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/events/{event_id}/results": {
      "get": {
        "tags": [
          "Scores & Results"
        ],
        "summary": "Get Event Results",
        "description": "Resolved prop outcomes with actual player stats.\nPro / Streaming / Enterprise: full resolution data.\nFree tier: redacted (shows structure but hides results).",
        "operationId": "get_event_results_v1_sports__sport_key__events__event_id__results_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Event Id"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Markets"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Comma-separated bookmaker keys (e.g. 'draftkings,fanduel'). Omitted = all books.",
            "schema": {
              "type": "string",
              "title": "Bookmakers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Not found. On an event id that previously worked, the event was likely merged into a canonical duplicate (the same fixture posted by multiple books under different team-name spellings). Merged ids resolve automatically and return the canonical event with a 200 — its `id` field is the id to store. A persistent 404 means re-fetch the event from /v1/sports/{sport}/events and use the current id."
          }
        }
      }
    },
    "/v1/sports/{sport_key}/players": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Search Players",
        "description": "Find a player's stable `player_id` and every spelling the books use for him (`known_names`). Built from graded box scores, so every spelling listed has been proven against a real stat line for that player. Pass the `player_id` as the `{player_name}` segment of /players/{player_name}/history and /trends. Free on every tier.",
        "operationId": "search_players_v1_sports__sport_key__players_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "title": "Search"
            },
            "description": "Name fragment, 2+ characters, case- and accent-insensitive."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSearchOut"
                }
              }
            }
          },
          "400": {
            "description": "search shorter than 2 characters"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/players/{player_name}/history": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get Player History",
        "description": "Resolved prop history for a player in a given market.\n\nReturns one entry per (event, bookmaker, line) with line + prices + resolution + actual value. Most books post an alternate ladder beside the main line, so a game can carry several entries per book: `is_main_line` marks the line that book priced closest to even on both sides among lines that stood at kickoff, and `line_moved_in_play` marks a quote re-priced after kickoff (an in-play line, never marked main). `main_line_only=true` keeps only each book's main line per game. `limit` counts entries.\n\n`{player_name}` may be a name (expanded to every known spelling) or a `player_id`; the response carries a top-level `player_id` (null when the name is unknown or shared by two players).\n\nPaid tiers (Hobby and above): full data.\nFree tier: structure only — resolution + actual_value redacted.",
        "operationId": "get_player_history_v1_sports__sport_key__players__player_name__history_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "player_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Name"
            },
            "description": "Player name or stable `player_id` (e.g. `mlb:677951`, from GET /v1/sports/{sport_key}/players?search=). A name is expanded to every spelling we have proven for that player against graded box scores, so \"Bobby Witt\" and \"Bobby Witt Jr.\" return the same data. Case- and accent-insensitive."
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market key, e.g. pitcher_strikeouts",
              "title": "Market"
            },
            "description": "Market key, e.g. pitcher_strikeouts"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional bookmaker filter",
              "default": "",
              "title": "Bookmaker"
            },
            "description": "Optional bookmaker filter"
          },
          {
            "name": "main_line_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Main Line Only"
            },
            "description": "Keep only each book's main line per game (the line it priced closest to even on both sides, among lines that stood at kickoff)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerHistoryOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sports/{sport_key}/players/{player_name}/trends": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get Player Trends",
        "description": "Aggregated hit-rate trends for a player — \"did X go over in N of his last M games?\" — across every market they have graded history in.\n\nFor each market: over/under/push splits across the last 5 / 10 / 20 / 50 graded games, the current over/under streak, average actual stat, and the most recent line. The verdict each game compares the player's real (book-agnostic) stat against one reference book's posted line; pushes are excluded from the over_pct denominator.\n\nDerived entirely from PropLine's prop resolution — the-odds-api has no equivalent. Paid tiers (Hobby and above): full data. Free tier: market list + graded-game counts, with the rates redacted.\n\nThe reference line each game is the reference book's MAIN PREGAME line — never an alternate-ladder rung and never a line re-priced in play; a game where every book only has in-play lines is left ungraded. Every market reaches back the same 50 graded games whether or not `market=` is set. `{player_name}` accepts a name (expanded to every known spelling) or a `player_id`; the response carries a top-level `player_id` (null when unknown or ambiguous).",
        "operationId": "get_player_trends_v1_sports__sport_key__players__player_name__trends_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sport Key"
            },
            "description": "Sport key. the-odds-api names are accepted as aliases (americanfootball_nfl -> football_nfl, icehockey_nhl -> hockey_nhl, soccer_spain_la_liga -> soccer_la_liga, ...), but only where the competition is identical; otherwise the request returns 404 with a structured body carrying `reason` and `did_you_mean`. Canonical list: GET /v1/sports."
          },
          {
            "name": "player_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Name"
            },
            "description": "Player name or stable `player_id` (e.g. `mlb:677951`, from GET /v1/sports/{sport_key}/players?search=). A name is expanded to every spelling we have proven for that player against graded box scores, so \"Bobby Witt\" and \"Bobby Witt Jr.\" return the same data. Case- and accent-insensitive."
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional market key to filter to one market",
              "default": "",
              "title": "Market"
            },
            "description": "Optional market key to filter to one market"
          },
          {
            "name": "dfs_odds_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "goblin",
                "demon"
              ],
              "title": "DFS Odds Type"
            },
            "description": "Optional PrizePicks pick-em flavor filter: 'standard', 'goblin', or 'demon'. When set, trends are computed against that flavor's PrizePicks line only (e.g. compare a player's goblin-line hit-rate vs his standard-line trend). Omitted = cross-book behavior (reference line from the preferred-book list, flavor ignored). PrizePicks flavor tagging began 2026-06-16, so per-flavor trends only have depth from that date forward."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerTrendsOut"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/resolved-props": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export Resolved Props",
        "description": "Stream resolved prop outcomes as CSV. Pro+ tier required.\n\nOne row per (event, market, bookmaker, outcome). Includes the line,\nprice, resolution (won/lost/push/void), and actual stat value — the\nexact data model builders need for CLV and backtesting. Every row also carries both ends of the line move: the closing line\n(`closing_price` / `closing_point` / `closing_at` = the last snapshot at\nor before commence_time) and the opening line (`opening_price` /\n`opening_point` / `opening_at` = the first snapshot in the 14 days\nbefore kickoff). That makes a full CLV study one download rather than\none history call per event, and it is something the-odds-api cannot\noffer since they don't resolve props. Note `closing_point` is distinct\nfrom `line`, which is the outcome's own current point.\n\nNew columns are always appended immediately before `customer_token`, so\npositional parsers written against an earlier column set keep working.\n\nHistorical depth is tier-gated: Pro = last 90 days, Streaming = last\n365 days, Enterprise = unbounded. The effective floor is reflected in\nthe `X-PropLine-Export-Window-Start` response header.\n\nDaily call cap is also tier-gated: Pro = 50/day, Streaming Lite =\n100/day, Streaming = 200/day, Enterprise = uncapped. The cap counts\nwhole calls, not rows, and `sport` is required, so a multi-sport pull\nis one call per sport — the efficient pattern is one call per sport\nover the widest date range you need. Remaining budget is surfaced on\nevery successful response in the `X-PropLine-Export-Daily-Remaining`\nheader; over-cap calls return 429 with a `Retry-After` set to the\nseconds until 00:00 UTC.\n\nEvery row carries a `dfs_odds_type` column — the PrizePicks projection\ntier (`standard` / `goblin` / `demon`); blank for traditional\nsportsbooks.\n\nRows also carry `outcome_id` (our stable id for the priced selection — the same value `/odds?includeBookIds=true`, `/odds/history`, `/odds/closing` and webhook payloads carry) and `player_id` (matches `/odds` and `/results`).\n\nArchive coverage is stated in-band on every response: the `X-PropLine-Archive-Starts` header carries the sport's earliest held date (`none` if the sport has no data yet), and `X-PropLine-Archive-Notice` is set when the requested window ends before the archive begins, meaning the export can only be empty.",
        "operationId": "export_resolved_props_v1_exports_resolved_props_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sport key (e.g. baseball_mlb). Required.",
              "title": "Sport"
            },
            "description": "Sport key (e.g. baseball_mlb). Required."
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional market filter, e.g. pitcher_strikeouts",
              "default": "",
              "title": "Market"
            },
            "description": "Optional market filter, e.g. pitcher_strikeouts"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional bookmaker filter",
              "default": "",
              "title": "Bookmaker"
            },
            "description": "Optional bookmaker filter"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO datetime lower bound on resolved_at",
              "title": "Since",
              "nullable": true
            },
            "description": "ISO datetime lower bound on resolved_at"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO datetime upper bound on resolved_at",
              "title": "Until",
              "nullable": true
            },
            "description": "ISO datetime upper bound on resolved_at"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/odds-history": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export Odds History",
        "description": "Stream the full line-movement time-series as CSV — every recorded odds snapshot (price + line, per book, including period markets) for every outcome, not just the closing line. One row per (outcome, snapshot).\n\nThis is the raw tick history that no subscription tier can pull in bulk: Pro/Streaming get per-event `/odds/history` and the resolved-props export (closing line only), but the bulk snapshot firehose is exclusive to the one-time Historical Backfill pass and Enterprise. Backfill pass = trailing 2-year lookback (Enterprise unbounded); uncapped calls.\n\nA full all-sport, all-history pull is many GB — page month-by-month with `since`/`until` to keep any single request bounded.\n\nColumns: event_id, sport_key, commence_time, home_team, away_team, market, period, bookmaker, player_name, outcome_name, recorded_at, price_american, price_decimal, point, book_updated_at, dfs_odds_type, customer_token (dfs_odds_type = PrizePicks tier: standard / goblin / demon; blank for sportsbooks).\n\nArchive coverage is stated in-band on every response: the `X-PropLine-Archive-Starts` header carries the sport's earliest held date (`none` if the sport has no data yet), and `X-PropLine-Archive-Notice` is set when the requested window ends before the archive begins, meaning the export can only be empty.",
        "operationId": "export_odds_history_v1_exports_odds_history_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sport key (e.g. baseball_mlb). Required.",
              "title": "Sport"
            },
            "description": "Sport key (e.g. baseball_mlb). Required."
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional market filter, e.g. pitcher_strikeouts",
              "default": "",
              "title": "Market"
            },
            "description": "Optional market filter, e.g. pitcher_strikeouts"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional bookmaker filter",
              "default": "",
              "title": "Bookmaker"
            },
            "description": "Optional bookmaker filter"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO datetime lower bound on recorded_at",
              "title": "Since",
              "nullable": true
            },
            "description": "ISO datetime lower bound on recorded_at"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO datetime upper bound on recorded_at",
              "title": "Until",
              "nullable": true
            },
            "description": "ISO datetime upper bound on recorded_at"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/sample": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export Sample",
        "description": "Public sample: last 7 days of MLB pitcher_strikeouts as CSV.\n\nNo auth required — this is a SEO/marketing lead magnet. Capped to\nkeep it a taste, not a full dataset. For full access, Pro tier\nusers hit /v1/exports/resolved-props.",
        "operationId": "export_sample_v1_exports_sample_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/markets/hit-rates": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Market Hit Rates",
        "description": "Per-market daily Over hit rates over the last N days.\n\nResponse shape:\n    {\n      \"days\": 28,\n      \"bookmaker\": \"bovada\",\n      \"markets\": {\n        \"pitcher_strikeouts\": [\n          {\"date\": \"2026-04-01\", \"total\": 14, \"won\": 6},\n          ...\n        ],\n        \"batter_total_bases\": [...],\n        ...\n      }\n    }\n\n`total` and `won` are scoped to graded **Over** outcomes only — the\nsame denominator the cross-sport accuracy panel uses, so the numbers\nline up. `total` excludes voids; `won` is the subset where the actual\nstat exceeded the line.",
        "operationId": "get_market_hit_rates_v1_markets_hit_rates_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 60,
              "minimum": 1,
              "description": "Look-back window in days",
              "default": 28,
              "title": "Days"
            },
            "description": "Look-back window in days"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Bookmaker to aggregate. Defaults to bovada — the canonical book for /today.",
              "default": "bovada",
              "title": "Bookmaker"
            },
            "description": "Bookmaker to aggregate. Defaults to bovada — the canonical book for /today."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dfs/payouts": {
      "get": {
        "tags": [
          "DFS"
        ],
        "summary": "DFS Payout Schedule + Breakeven",
[...]
