{
  "openapi": "3.2.1",
  "info": {
    "title": "BestPrintOnDemand API",
    "version": "1.0.0",
    "summary": "Live US print-on-demand costs by product and supplier: base price, shipping, total, profit and price changes.",
    "description": "What it costs to print and ship print-on-demand products in the US at each supplier (Printful, Printify, Gelato and more): base price, first-item shipping and total, each with its source and date, the cheapest supplier like for like, profit at a sell price after a sales channel's fees, head-to-head supplier records, and the price changes hourly readings of Printful, Printify and Gelato attribute to each supplier. The same answers as the pages of BestPrintOnDemand and its MCP server. No key or account; read-only; open to any origin (CORS). The data is licensed CC BY 4.0: credit BestPrintOnDemand and link the page or source a figure came from.",
    "termsOfService": "https://bestprintondemand.co/legal/terms",
    "contact": {
      "name": "BestPrintOnDemand",
      "url": "https://bestprintondemand.co/data#api",
      "email": "hello@bestprintondemand.co"
    },
    "license": {
      "name": "CC BY 4.0",
      "identifier": "CC-BY-4.0"
    },
    "x-jentic-source-url": "https://bestprintondemand.co/openapi.json"
  },
  "servers": [
    {
      "url": "https://bestprintondemand.co/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "operationId": "findProducts",
        "security": [],
        "summary": "Find print-on-demand products",
        "description": "Search the catalog of print-on-demand products (t-shirts, hoodies, mugs, posters, stickers, phone cases, tote bags and more, or a blank such as Bella+Canvas 3001). Returns each match's slug, its lowest listed US total and supplier, and its page. The same answer as the MCP tool `find_products` at https://bestprintondemand.co/mcp.",
        "tags": [
          "Print-on-demand costs"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Product type or blank, e.g. \"hoodie\", \"11oz mug\", \"Bella+Canvas 3001\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "example": "hoodie"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Most results to return (default 10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            },
            "example": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Find print-on-demand products: the answer as data, with `summary` holding it as text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Answer"
                },
                "example": {
                  "query": "hoodie",
                  "matches": 7,
                  "products": [
                    {
                      "name": "Unisex Pullover Hoodie",
                      "slug": "pullover-hoodie",
                      "category": "Apparel",
                      "blank": "Gildan 18500",
                      "page": "https://bestprintondemand.co/products/pullover-hoodie",
                      "suppliersWithTotal": 5,
                      "lowestTotal": {
                        "supplier": "Printify",
                        "totalUsd": 28.65,
                        "shippingEstimated": false,
                        "claim": "Cheapest supplier for this product on a like-for-like total"
                      }
                    },
                    {
                      "name": "Heavyweight Pullover Hoodie",
                      "slug": "heavyweight-hoodie",
                      "category": "Apparel",
                      "blank": "Bella+Canvas 4719",
                      "page": "https://bestprintondemand.co/products/heavyweight-hoodie",
                      "suppliersWithTotal": 1,
                      "lowestTotal": {
                        "supplier": "Printful",
                        "totalUsd": 46.02,
                        "shippingEstimated": false,
                        "claim": "The only supplier with a listed total for this product"
                      }
                    },
                    {
                      "name": "Unisex Sponge Fleece Hoodie",
                      "slug": "sponge-fleece-hoodie",
                      "category": "Apparel",
                      "blank": "Bella+Canvas 3719",
                      "page": "https://bestprintondemand.co/products/sponge-fleece-hoodie",
                      "suppliersWithTotal": 3,
                      "lowestTotal": {
                        "supplier": "Printful",
                        "totalUsd": 40.47,
                        "shippingEstimated": false,
                        "claim": "Cheapest supplier for this product on a like-for-like total"
                      }
                    }
                  ],
                  "summary": "7 products match \"hoodie\", the 3 most sold first. Call get_product_costs with a slug for every supplier's price, shipping and profit.\n- Unisex Pullover Hoodie (pullover-hoodie): $28.65 at Printify (cheapest supplier for this product on a like-for-like total). https://bestprintondemand.co/products/pullover-hoodie\n- Heavyweight Pullover Hoodie (heavyweight-hoodie): $46.02 at Printful (the only supplier with a listed total for this product). https://bestprintondemand.co/products/heavyweight-hoodie\n- Unisex Sponge Fleece Hoodie (sponge-fleece-hoodie): $40.47 at Printful (cheapest supplier for this product on a like-for-like total). https://bestprintondemand.co/products/sponge-fleece-hoodie\nListed US starting costs for one item with first-item shipping, in USD; tax, extra print areas and plan fees excluded. Confirm the variant on the supplier's own page before ordering. Data: BestPrintOnDemand, CC BY 4.0."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/products/{product}/costs": {
      "get": {
        "operationId": "getProductCosts",
        "security": [],
        "summary": "Get a product's costs by supplier",
        "description": "Every supplier's listed US cost for one print-on-demand product: base price, first-item shipping and total, each with its source and date, cheapest first, plus the site's one-sentence answer on which supplier is cheapest like for like. Give sell_price (and optionally a sales channel) to get each supplier's profit after fees. The same answer as the MCP tool `get_product_costs` at https://bestprintondemand.co/mcp.",
        "tags": [
          "Print-on-demand costs"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "Product slug from find_products (e.g. \"unisex-tee\") or its name.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "example": "unisex-tee"
          },
          {
            "name": "sell_price",
            "in": "query",
            "required": false,
            "description": "Your sell price in USD, to compute profit per supplier.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "maximum": 100000
            },
            "example": 25
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Sales channel whose fees to subtract: etsy, shopify-own, woocommerce, tiktok-shop, walmart, ebay or amazon-seller.",
            "schema": {
              "type": "string",
              "maxLength": 40
            },
            "example": "etsy"
          },
          {
            "name": "buyer_pays_shipping",
            "in": "query",
            "required": false,
            "description": "True when the buyer pays shipping on top of the sell price (default false: you cover shipping).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a product's costs by supplier: the answer as data, with `summary` holding it as text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Answer"
                },
                "example": {
                  "product": {
                    "name": "Unisex Staple T-Shirt",
                    "slug": "unisex-tee",
                    "category": "Apparel",
                    "blank": "Bella+Canvas 3001",
                    "page": "https://bestprintondemand.co/products/unisex-tee"
                  },
                  "answer": "Gelato has the lowest total for this product delivered in the US: $15.68 ($10.69 base plus $4.99 shipping), $0.56 less than Printify and $1.19 less than Printful. 6 suppliers list a fully sourced total on the same blank and print method (Bella+Canvas 3001, DTG), from $15.68 to $23.99. Base price checked Oct 10, 2026.",
                  "scenario": {
                    "sellPriceUsd": 25,
                    "channel": "Etsy",
                    "shippingPaidBy": "seller"
                  },
                  "offers": [
                    {
                      "supplier": "Gelato",
                      "supplierPage": "https://bestprintondemand.co/suppliers/gelato",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 premium unisex tee, white, L, front print (DTG), Gelato API quote for one item to the US",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 10.69,
                      "shippingUsd": 4.99,
                      "shippingEstimated": false,
                      "totalUsd": 15.68,
                      "livePrice": true,
                      "basePriceDate": "2026-10-10T06:24:13.435Z",
                      "basePriceSource": "https://www.gelato.com/custom/bestsellers/premium-unisex-crewneck-tshirt-bella-canvas-3001",
                      "shippingSource": "https://www.gelato.com/custom/bestsellers/premium-unisex-crewneck-tshirt-bella-canvas-3001",
                      "profit": {
                        "profitUsd": 6.5,
                        "marginPct": 25.98,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Printify",
                      "supplierPage": "https://bestprintondemand.co/suppliers/printify",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 (DTG), lowest landed US print provider (Printify catalog)",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 11.29,
                      "shippingUsd": 4.95,
                      "shippingEstimated": false,
                      "totalUsd": 16.24,
                      "paidPlan": "Printify Premium",
                      "paidPlanTotalUsd": 13.99,
                      "livePrice": true,
                      "basePriceDate": "2026-10-09T20:24:04.647Z",
                      "basePriceSource": "https://printify.com/app/products/12/bellacanvas/unisex-jersey-short-sleeve-tee",
                      "shippingSource": "https://printify.com/app/products/12/bellacanvas/unisex-jersey-short-sleeve-tee",
                      "profit": {
                        "profitUsd": 5.94,
                        "marginPct": 23.74,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Printful",
                      "supplierPage": "https://bestprintondemand.co/suppliers/printful",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella + Canvas 3001 Unisex Short Sleeve Jersey T-Shirt with Tear Away Label (Aqua / L), cheapest US variant (Printful catalog)",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 11.92,
                      "shippingUsd": 4.95,
                      "shippingEstimated": false,
                      "totalUsd": 16.87,
                      "livePrice": true,
                      "basePriceDate": "2026-10-10T06:24:13.435Z",
                      "basePriceSource": "https://api.printful.com/products/71",
                      "shippingSource": "https://www.printful.com/shipping",
                      "profit": {
                        "profitUsd": 5.3,
                        "marginPct": 21.22,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Teelaunch",
                      "supplierPage": "https://bestprintondemand.co/suppliers/teelaunch",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Canvas Mens Shirt, Airlume combed ring-spun jersey tee (model number not stated)",
                      "blank": null,
                      "baseUsd": 11,
                      "shippingUsd": 6,
                      "shippingEstimated": false,
                      "totalUsd": 17,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://teelaunch.com/products/canvas-mens-shirt/",
                      "shippingSource": "https://teelaunch.com/products/canvas-mens-shirt/",
                      "profit": {
                        "profitUsd": 5.18,
                        "marginPct": 20.7,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Fourthwall",
                      "supplierPage": "https://bestprintondemand.co/suppliers/fourthwall",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 Unisex Supersoft T-Shirt, printed (DTG), XS-5XL",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 11.75,
                      "shippingUsd": 5.96,
                      "shippingEstimated": true,
                      "totalUsd": 17.71,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://fourthwall.com/products/bella-canvas-unisex-supersoft-t-shirt-dtg",
                      "shippingSource": null,
                      "profit": {
                        "profitUsd": 4.46,
                        "marginPct": 17.86,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Print Aura",
                      "supplierPage": "https://bestprintondemand.co/suppliers/print-aura",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 Unisex Jersey Tee, XS-4XL",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 13,
                      "shippingUsd": 5.96,
                      "shippingEstimated": true,
                      "totalUsd": 18.96,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://app.printaura.com/products/77",
                      "shippingSource": null,
                      "profit": {
                        "profitUsd": 3.21,
                        "marginPct": 12.86,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Apliiq",
                      "supplierPage": "https://bestprintondemand.co/suppliers/apliiq",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 tee, dropship qty 1, digital (DTG) print",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 15.59,
                      "shippingUsd": 5.96,
                      "shippingEstimated": false,
                      "totalUsd": 21.55,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://www.apliiq.com/brand/bella-canvas",
                      "shippingSource": "https://docs.google.com/spreadsheets/d/1xCdUcsEBXwN08Ei4cXkXvQU_s0a6cCN9d6SVqABQYLM/edit?usp=sharing",
                      "profit": {
                        "profitUsd": 0.62,
                        "marginPct": 2.5,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Two Fifteen",
                      "supplierPage": "https://bestprintondemand.co/suppliers/two-fifteen",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 unisex jersey tee (CV001), DTG, made in the UK",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 10.23,
                      "shippingUsd": 12.32,
                      "shippingEstimated": false,
                      "totalUsd": 22.55,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://www.twofifteen.co.uk/bella-canvas-3001-unisex-jersey-short-sleeve-tee",
                      "shippingSource": "https://www.twofifteen.co.uk/shipping-costs",
                      "profit": {
                        "profitUsd": -0.38,
                        "marginPct": -1.5,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Inkthreadable",
                      "supplierPage": "https://bestprintondemand.co/suppliers/inkthreadable",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 unisex crew neck tee (CV3001), DTG, made in the UK",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": 10.23,
                      "shippingUsd": 13.76,
                      "shippingEstimated": false,
                      "totalUsd": 23.99,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://www.inkthreadable.co.uk/canvas-unisex-crew-neck-t-shirt",
                      "shippingSource": "https://www.inkthreadable.co.uk/shipping-costs",
                      "profit": {
                        "profitUsd": -1.81,
                        "marginPct": -7.26,
                        "channelFeeUsd": 2.83
                      }
                    },
                    {
                      "supplier": "Gooten",
                      "supplierPage": "https://bestprintondemand.co/suppliers/gooten",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas 3001 unisex jersey tee",
                      "blank": "Bella+Canvas 3001",
                      "baseUsd": null,
                      "shippingUsd": 5.96,
                      "shippingEstimated": true,
                      "totalUsd": null,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://www.gooten.com/print-on-demand/bella-canvas-3001-unisex-jersey-crew-neck-tee/",
                      "shippingSource": null,
                      "profit": null
                    },
                    {
                      "supplier": "Scalable Press",
                      "supplierPage": "https://bestprintondemand.co/suppliers/scalable-press",
                      "printMethod": "DTG",
                      "region": "US",
                      "variant": "Bella+Canvas unisex tee",
                      "blank": null,
                      "baseUsd": null,
                      "shippingUsd": 5.96,
                      "shippingEstimated": true,
                      "totalUsd": null,
                      "livePrice": false,
                      "basePriceDate": "2026-09",
                      "basePriceSource": "https://scalablepress.com/pricing",
                      "shippingSource": null,
                      "profit": null
                    }
                  ],
                  "basis": "Listed US starting costs for one item with first-item shipping, in USD; tax, extra print areas and plan fees excluded. Confirm the variant on the supplier's own page before ordering. Data: BestPrintOnDemand, CC BY 4.0.",
                  "summary": "Unisex Staple T-Shirt (Apparel). Gelato has the lowest total for this product delivered in the US: $15.68 ($10.69 base plus $4.99 shipping), $0.56 less than Printify and $1.19 less than Printful. 6 suppliers list a fully sourced total on the same blank and print method (Bella+Canvas 3001, DTG), from $15.68 to $23.99. Base price checked Oct 10, 2026.\nProfit at a $25.00 sell price after Etsy fees, with you covering shipping.\n- Gelato, DTG, Bella+Canvas 3001: $15.68 ($10.69 base + $4.99 shipping), profit $6.50 (26.0%). Source: https://www.gelato.com/custom/bestsellers/premium-unisex-crewneck-tshirt-bella-canvas-3001\n- Printify, DTG, Bella+Canvas 3001: $16.24 ($11.29 base + $4.95 shipping), profit $5.94 (23.7%). Source: https://printify.com/app/products/12/bellacanvas/unisex-jersey-short-sleeve-tee\n- Printful, DTG, Bella+Canvas 3001: $16.87 ($11.92 base + $4.95 shipping), profit $5.30 (21.2%). Source: https://api.printful.com/products/71\n- Teelaunch, DTG: $17.00 ($11.00 base + $6.00 shipping), profit $5.18 (20.7%). Source: https://teelaunch.com/products/canvas-mens-shirt/\n- Fourthwall, DTG, Bella+Canvas 3001: ≈ $17.71 ($11.75 base + $5.96 estimated shipping), profit $4.46 (17.9%). Source: https://fourthwall.com/products/bella-canvas-unisex-supersoft-t-shirt-dtg\n- Print Aura, DTG, Bella+Canvas 3001: ≈ $18.96 ($13.00 base + $5.96 estimated shipping), profit $3.21 (12.9%). Source: https://app.printaura.com/products/77\n- Apliiq, DTG, Bella+Canvas 3001: $21.55 ($15.59 base + $5.96 shipping), profit $0.62 (2.5%). Source: https://www.apliiq.com/brand/bella-canvas\n- Two Fifteen, DTG, Bella+Canvas 3001: $22.55 ($10.23 base + $12.32 shipping), profit -$0.38 (-1.5%). Source: https://www.twofifteen.co.uk/bella-canvas-3001-unisex-jersey-short-sleeve-tee\n- Inkthreadable, DTG, Bella+Canvas 3001: $23.99 ($10.23 base + $13.76 shipping), profit -$1.81 (-7.3%). Source: https://www.inkthreadable.co.uk/canvas-unisex-crew-neck-t-shirt\n- Gooten, DTG, Bella+Canvas 3001: no complete total. Source: https://www.gooten.com/print-on-demand/bella-canvas-3001-unisex-jersey-crew-neck-tee/\n- Scalable Press, DTG: no complete total. Source: https://scalablepress.com/pricing\nPage: https://bestprintondemand.co/products/unisex-tee\nListed US starting costs for one item with first-item shipping, in USD; tax, extra print areas and plan fees excluded. Confirm the variant on the supplier's own page before ordering. Data: BestPrintOnDemand, CC BY 4.0."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/compare": {
      "get": {
        "operationId": "compareSuppliers",
        "security": [],
        "summary": "Compare two print-on-demand suppliers",
        "description": "Which of two suppliers (e.g. Printful and Printify) has the lower listed US total across the products both offer, matched on product, print method and blank, with the record by category and the largest gaps. The same answer as the MCP tool `compare_suppliers` at https://bestprintondemand.co/mcp.",
        "tags": [
          "Print-on-demand costs"
        ],
        "parameters": [
          {
            "name": "supplier_a",
            "in": "query",
            "required": true,
            "description": "A supplier name or slug, e.g. \"Printful\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "example": "printful"
          },
          {
            "name": "supplier_b",
            "in": "query",
            "required": true,
            "description": "Another supplier, e.g. \"Printify\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "example": "printify"
          }
        ],
        "responses": {
          "200": {
            "description": "Compare two print-on-demand suppliers: the answer as data, with `summary` holding it as text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Answer"
                },
                "example": {
                  "suppliers": [
                    "Printful",
                    "Printify"
                  ],
                  "headline": "Printful is cheaper on 49 of 90 matched products, Printify on 40.",
                  "matchedProducts": 96,
                  "comparedOnSourcedTotals": 90,
                  "lowerTotal": {
                    "Printful": 49,
                    "Printify": 40
                  },
                  "ties": 1,
                  "notCountedEstimatedShipping": 6,
                  "medianGapUsd": 1.87,
                  "byCategory": [
                    {
                      "category": "Apparel",
                      "products": 43,
                      "comparedOnSourcedTotals": 43,
                      "lowerTotal": {
                        "Printful": 22,
                        "Printify": 21
                      },
                      "ties": 0
                    },
                    {
                      "category": "Drinkware",
                      "products": 11,
                      "comparedOnSourcedTotals": 11,
                      "lowerTotal": {
                        "Printful": 4,
                        "Printify": 6
                      },
                      "ties": 1
                    },
                    {
                      "category": "Accessories",
                      "products": 21,
                      "comparedOnSourcedTotals": 19,
                      "lowerTotal": {
                        "Printful": 12,
                        "Printify": 7
                      },
                      "ties": 0
                    },
                    {
                      "category": "Wall Art",
                      "products": 5,
                      "comparedOnSourcedTotals": 5,
                      "lowerTotal": {
                        "Printful": 3,
                        "Printify": 2
                      },
                      "ties": 0
                    },
                    {
                      "category": "Home",
                      "products": 16,
                      "comparedOnSourcedTotals": 12,
                      "lowerTotal": {
                        "Printful": 8,
                        "Printify": 4
                      },
                      "ties": 0
                    }
                  ],
                  "largestLeads": [
                    {
                      "supplier": "Printful",
                      "largestLeads": [
                        {
                          "product": "Recycled Basketball Jersey",
                          "page": "https://bestprintondemand.co/products/basketball-jersey",
                          "leadUsd": 21.13
                        },
                        {
                          "product": "Kids Leggings",
                          "page": "https://bestprintondemand.co/products/kids-leggings",
                          "leadUsd": 20.41
                        },
                        {
                          "product": "All-Over Print Leggings",
                          "page": "https://bestprintondemand.co/products/leggings",
                          "leadUsd": 14.26
                        }
                      ]
                    },
                    {
                      "supplier": "Printify",
                      "largestLeads": [
                        {
                          "product": "Fleece / Sherpa Blanket",
                          "page": "https://bestprintondemand.co/products/blanket",
                          "leadUsd": 12.62
                        },
                        {
                          "product": "All-Over Print Sports Bra",
                          "page": "https://bestprintondemand.co/products/sports-bra",
                          "leadUsd": 10.1
                        },
                        {
                          "product": "Independent Trading Co. SS4500 Unisex Midweight Hoodie",
                          "page": "https://bestprintondemand.co/products/independent-ss4500",
                          "leadUsd": 8.92
                        }
                      ]
                    }
                  ],
                  "page": "https://bestprintondemand.co/compare/printful-vs-printify",
                  "basis": "Listed US starting costs for one item with first-item shipping, in USD; tax, extra print areas and plan fees excluded. Confirm the variant on the supplier's own page before ordering. Data: BestPrintOnDemand, CC BY 4.0.",
                  "summary": "Printful vs Printify: Printful is cheaper on 49 of 90 matched products, Printify on 40.\nMedian gap where one is cheaper: $1.87.\n6 more matched products are not counted because a total rests on estimated shipping.\n- Apparel: Printful lower on 22, Printify lower on 21 (of 43).\n- Drinkware: Printful lower on 4, Printify lower on 6, 1 tied (of 11).\n- Accessories: Printful lower on 12, Printify lower on 7 (of 19).\n- Wall Art: Printful lower on 3, Printify lower on 2 (of 5).\n- Home: Printful lower on 8, Printify lower on 4 (of 12).\nPrintful's largest leads: Recycled Basketball Jersey $21.13, Kids Leggings $20.41, All-Over Print Leggings $14.26.\nPrintify's largest leads: Fleece / Sherpa Blanket $12.62, All-Over Print Sports Bra $10.10, Independent Trading Co. SS4500 Unisex Midweight Hoodie $8.92.\nMatched means the same product, print method and destination, and for printed apparel the same blank; a product counts only when both totals are fully sourced.\nPage: https://bestprintondemand.co/compare/printful-vs-printify\nListed US starting costs for one item with first-item shipping, in USD; tax, extra print areas and plan fees excluded. Confirm the variant on the supplier's own page before ordering. Data: BestPrintOnDemand, CC BY 4.0."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/price-changes": {
      "get": {
        "operationId": "getPriceChanges",
        "security": [],
        "summary": "Get print-on-demand price changes",
        "description": "The price changes the site's hourly readings of Printful, Printify and Gelato attribute to the supplier: supplier-wide changes (many products moving by the same percentage or amount, each product's price before and after) and changes to one product's own price. Name a supplier to narrow it, or a product for its price history at each supplier. The same answer as the MCP tool `get_price_changes` at https://bestprintondemand.co/mcp.",
        "tags": [
          "Print-on-demand costs"
        ],
        "parameters": [
          {
            "name": "supplier",
            "in": "query",
            "required": false,
            "description": "Only this supplier's changes, e.g. \"Printful\".",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "example": "printify"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Product slug or name (e.g. \"unisex-tee\"), for its price history at each supplier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get print-on-demand price changes: the answer as data, with `summary` holding it as text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Answer"
                },
                "example": {
                  "supplier": "Printify",
                  "events": [
                    {
                      "headline": "Printify cut 18 prices by 3¢",
                      "supplier": "Printify",
                      "direction": "down",
                      "rule": {
                        "amountUsd": -0.03
                      },
                      "products": 18,
                      "firstReadAtNewPrices": "2026-10-02T09:24:04.003Z",
                      "lastFirstReadAtNewPrices": "2026-10-03T02:24:04.737Z",
                      "lastReadAtOldPrices": "2026-10-02T14:24:04.001Z",
                      "changedBetweenReadings": false,
                      "page": "https://bestprintondemand.co/price-changes#printify-2026-10-02",
                      "changes": [
                        {
                          "product": "All-Over Print Yoga Leggings",
                          "productPage": "https://bestprintondemand.co/products/yoga-leggings",
                          "supplier": "Printify",
                          "beforeUsd": 35.3,
                          "afterUsd": 35.27,
                          "changePercent": -0.08,
                          "lastReadAtOldPrice": "2026-10-02T04:24:04.202Z",
                          "firstReadAtNewPrice": "2026-10-02T09:24:04.003Z",
                          "source": "https://printify.com/app/products/516/generic-brand/high-waisted-yoga-leggings-aop"
                        },
                        {
                          "product": "Die-Cut Sticker",
                          "productPage": "https://bestprintondemand.co/products/die-cut-sticker",
                          "supplier": "Printify",
                          "beforeUsd": 3.78,
                          "afterUsd": 3.75,
                          "changePercent": -0.79,
                          "lastReadAtOldPrice": "2026-10-01T20:24:05.596Z",
                          "firstReadAtNewPrice": "2026-10-02T10:24:04.402Z",
                          "source": "https://printify.com/app/products/600/generic-brand/die-cut-stickers"
                        },
                        {
                          "product": "All-Over Print T-Shirt Dress",
                          "productPage": "https://bestprintondemand.co/products/t-shirt-dress",
                          "supplier": "Printify",
                          "beforeUsd": 29.67,
                          "afterUsd": 29.64,
                          "changePercent": -0.1,
                          "lastReadAtOldPrice": "2026-10-02T05:24:04.425Z",
                          "firstReadAtNewPrice": "2026-10-02T10:24:04.402Z",
                          "source": "https://printify.com/app/products/431/generic-brand/t-shirt-dress-aop"
                        },
                        {
                          "product": "Jigsaw Puzzle",
                          "productPage": "https://bestprintondemand.co/products/jigsaw-puzzle",
                          "supplier": "Printify",
                          "beforeUsd": 18,
                          "afterUsd": 17.97,
                          "changePercent": -0.17,
                          "lastReadAtOldPrice": "2026-10-01T21:24:04.552Z",
                          "firstReadAtNewPrice": "2026-10-02T11:24:13.419Z",
                          "source": "https://printify.com/app/products/532/generic-brand/jigsaw-puzzle-with-tin"
                        },
                        {
                          "product": "Playing Cards",
                          "productPage": "https://bestprintondemand.co/products/playing-cards",
                          "supplier": "Printify",
                          "beforeUsd": 13.96,
                          "afterUsd": 13.93,
                          "changePercent": -0.21,
                          "lastReadAtOldPrice": "2026-10-01T21:24:04.552Z",
                          "firstReadAtNewPrice": "2026-10-02T12:24:04.262Z",
                          "source": "https://printify.com/app/products/675/generic-brand/poker-playing-cards"
                        },
                        {
                          "product": "Hand Towel",
                          "productPage": "https://bestprintondemand.co/products/hand-towel",
                          "supplier": "Printify",
                          "beforeUsd": 11,
                          "afterUsd": 10.97,
                          "changePercent": -0.27,
                          "lastReadAtOldPrice": "2026-10-01T22:24:04.656Z",
                          "firstReadAtNewPrice": "2026-10-02T13:24:14.204Z",
                          "source": "https://printify.com/app/products/797/generic-brand/hand-towel"
                        },
                        {
                          "product": "Scented Soy Candle",
                          "productPage": "https://bestprintondemand.co/products/scented-candle",
                          "supplier": "Printify",
                          "beforeUsd": 9.58,
                          "afterUsd": 9.55,
                          "changePercent": -0.31,
                          "lastReadAtOldPrice": "2026-10-01T23:24:03.974Z",
                          "firstReadAtNewPrice": "2026-10-02T15:24:03.880Z",
                          "source": "https://printify.com/app/products/2665/generic-brand/soy-wax-candle-in-jar-9oz"
                        },
                        {
                          "product": "All-Over Print Comforter",
                          "productPage": "https://bestprintondemand.co/products/comforter",
                          "supplier": "Printify",
                          "beforeUsd": 78.62,
                          "afterUsd": 78.59,
                          "changePercent": -0.04,
                          "lastReadAtOldPrice": "2026-10-02T14:24:04.001Z",
                          "firstReadAtNewPrice": "2026-10-02T16:24:04.076Z",
                          "source": "https://printify.com/app/products/416/generic-brand/comforter"
                        },
                        {
                          "product": "Laptop Sleeve",
                          "productPage": "https://bestprintondemand.co/products/laptop-sleeve",
                          "supplier": "Printify",
                          "beforeUsd": 18.47,
                          "afterUsd": 18.44,
                          "changePercent": -0.16,
                          "lastReadAtOldPrice": "2026-10-02T00:24:03.958Z",
                          "firstReadAtNewPrice": "2026-10-02T16:24:04.076Z",
                          "source": "https://printify.com/app/products/429/generic-brand/laptop-sleeve"
                        },
                        {
                          "product": "Pet Bandana",
                          "productPage": "https://bestprintondemand.co/products/pet-bandana",
                          "supplier": "Printify",
                          "beforeUsd": 17.93,
                          "afterUsd": 17.9,
                          "changePercent": -0.17,
                          "lastReadAtOldPrice": "2026-10-02T00:24:03.958Z",
                          "firstReadAtNewPrice": "2026-10-02T16:24:04.076Z",
                          "source": "https://printify.com/app/products/563/generic-brand/pet-bandana-collar"
                        },
                        {
                          "product": "Sublimation Crew Socks",
                          "productPage": "https://bestprintondemand.co/products/socks",
                          "supplier": "Printify",
                          "beforeUsd": 7.39,
                          "afterUsd": 7.36,
                          "changePercent": -0.41,
                          "lastReadAtOldPrice": "2026-10-02T00:24:03.958Z",
                          "firstReadAtNewPrice": "2026-10-02T16:24:04.076Z",
                          "source": "https://printify.com/app/products/376/generic-brand/sublimation-socks"
                        },
                        {
                          "product": "iPhone MagSafe Tough Case",
                          "productPage": "https://bestprintondemand.co/products/magsafe-phone-case",
                          "supplier": "Printify",
                          "beforeUsd": 12.75,
                          "afterUsd": 12.72,
                          "changePercent": -0.24,
                          "lastReadAtOldPrice": "2026-10-02T02:24:04.202Z",
                          "firstReadAtNewPrice": "2026-10-02T18:24:04.798Z",
                          "source": "https://printify.com/app/products/2000/generic-brand/magnetic-clear-impact-resistant-cases"
                        },
                        {
                          "product": "Pickleball Paddle Set",
                          "productPage": "https://bestprintondemand.co/products/pickleball-paddle",
                          "supplier": "Printify",
                          "beforeUsd": 45.98,
                          "afterUsd": 45.95,
                          "changePercent": -0.07,
                          "lastReadAtOldPrice": "2026-10-02T01:24:04.113Z",
                          "firstReadAtNewPrice": "2026-10-02T18:24:04.798Z",
                          "source": "https://printify.com/app/products/1480/generic-brand/pickleball-kit"
                        },
                        {
                          "product": "Sticky Note Pads",
                          "productPage": "https://bestprintondemand.co/products/sticky-notes",
                          "supplier": "Printify",
                          "beforeUsd": 6.22,
                          "afterUsd": 6.19,
                          "changePercent": -0.48,
                          "lastReadAtOldPrice": "2026-10-02T02:24:04.202Z",
                          "firstReadAtNewPrice": "2026-10-02T18:24:04.798Z",
                          "source": "https://printify.com/app/products/1294/post-it/post-it-note-pads"
                        },
                        {
                          "product": "Ceramic Ornament",
                          "productPage": "https://bestprintondemand.co/products/ceramic-ornament",
                          "supplier": "Printify",
                          "beforeUsd": 6.34,
                          "afterUsd": 6.31,
                          "changePercent": -0.47,
                          "lastReadAtOldPrice": "2026-10-02T03:24:04.022Z",
                          "firstReadAtNewPrice": "2026-10-02T19:24:04.672Z",
                          "source": "https://printify.com/app/products/531/generic-brand/ceramic-ornament-4-shapes"
                        },
                        {
                          "product": "Table Runner",
                          "productPage": "https://bestprintondemand.co/products/table-runner",
                          "supplier": "Printify",
                          "beforeUsd": 24.89,
                          "afterUsd": 24.86,
                          "changePercent": -0.12,
                          "lastReadAtOldPrice": "2026-10-02T03:24:04.022Z",
                          "firstReadAtNewPrice": "2026-10-02T19:24:04.672Z",
                          "source": "https://printify.com/app/products/1002/generic-brand/table-runner-cotton-poly"
                        },
                        {
                          "product": "All-Over Print Biker Shorts",
                          "productPage": "https://bestprintondemand.co/products/biker-shorts",
                          "supplier": "Printify",
                          "beforeUsd": 21.2,
                          "afterUsd": 21.17,
                          "changePercent": -0.14,
                          "lastReadAtOldPrice": "2026-10-02T09:24:04.003Z",
                          "firstReadAtNewPrice": "2026-10-03T02:24:04.737Z",
                          "source": "https://printify.com/app/products/1132/generic-brand/womens-biker-shorts-aop"
                        },
                        {
                          "product": "All-Over Print Skater Dress",
                          "productPage": "https://bestprintondemand.co/products/skater-dress",
                          "supplier": "Printify",
                          "beforeUsd": 33.42,
                          "afterUsd": 33.39,
                          "changePercent": -0.09,
                          "lastReadAtOldPrice": "2026-10-02T09:24:04.003Z",
                          "firstReadAtNewPrice": "2026-10-03T02:24:04.737Z",
                          "source": "https://printify.com/app/products/1262/generic-brand/womens-skater-dress-aop"
                        }
                      ]
                    }
                  ],
                  "singleProductChanges": [],
                  "readings": [
                    {
                      "supplier": "Printify",
                      "products": 102,
                      "readings": 3767,
                      "firstReading": "2026-09-25T23:24:05.082Z"
                    }
                  ],
                  "page": "https://bestprintondemand.co/price-changes",
                  "basis": "Prices are each supplier's lowest US base price for an in-stock option, read from its own catalog, in USD, before shipping and tax. A change counts once the new price has held two days, and is the supplier's only on evidence: the same variant read at a new price, or many products moving by the same rule at once. Data: BestPrintOnDemand, CC BY 4.0.",
                  "summary": "Price changes for Printify, from hourly readings of Printify (3,767 readings since 2026-09-25).\n- Printify cut 18 prices by 3¢, first read at the new prices between 2026-10-02 and 2026-10-03. https://bestprintondemand.co/price-changes#printify-2026-10-02\nPage: https://bestprintondemand.co/price-changes\nPrices are each supplier's lowest US base price for an in-stock option, read from its own catalog, in USD, before shipping and tax. A change counts once the new price has held two days, and is the supplier's only on evidence: the same variant read at a new price, or many products moving by the same rule at once. Data: BestPrintOnDemand, CC BY 4.0."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Answer": {
        "type": "object",
        "description": "The tool's answer as data. Each operation's example shows its fields.",
        "properties": {
          "summary": {
            "type": "string",
            "description": "The same answer as plain text, ready to quote, with the figures, the page each comes from and the basis they are stated on."
          }
        },
        "required": [
          "summary"
        ],
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "description": "Why the request could not be answered, with what helps the next request (the candidate products, the valid sales channels or suppliers).",
        "properties": {
          "error": {
            "type": "string",
            "description": "The reason, in a sentence."
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": true
      }
    },
    "responses": {
      "BadRequest": {
        "description": "A parameter is missing, unknown, repeated or out of range, or the product named matches more than one product (the body lists the candidates).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "No product or supplier matches, or the supplier has no hourly price record.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unavailable": {
        "description": "The data behind the answer cannot be read right now; try again in a few minutes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "More than 60 requests in a minute from one address.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before the next request.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Print-on-demand costs",
      "description": "Every answer the site gives about what printing and shipping a product costs."
    }
  ],
  "externalDocs": {
    "description": "Documentation, the dataset file and the MCP server",
    "url": "https://bestprintondemand.co/data#api"
  }
}