{
  "openapi": "3.1.0",
  "info": {
    "title": "AxioRank Gateway API",
    "version": "1.0.0",
    "description": "The runtime governance API behind every AxioRank SDK. Call it directly from any language. All requests authenticate with a bearer token and send/receive JSON.\n\nThe SDKs (`@axiorank/sdk`, `axiorank` on PyPI) are thin wrappers over these endpoints. The canonical base path is `/api/v1`; the unversioned `/api/...` paths remain as aliases.",
    "contact": {
      "name": "AxioRank",
      "url": "https://axiorank.com"
    },
    "x-jentic-source-url": "https://axiorank.com/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.axiorank.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/gateway/tool-call": {
      "post": {
        "operationId": "scoreToolCall",
        "summary": "Score a tool call",
        "description": "Inspect an outbound agent tool call, score its risk, apply your policies, and return a decision. Requires the `gateway:write` scope. When a `require_approval` policy fires the decision is `hold` and an `approvalId` is returned. Poll `GET /api/gateway/approvals/{approvalId}` for the resolution.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Optional. Safely retry a write: the first response for a given key is replayed on retries (24h TTL). A concurrent retry gets 409; reusing a key with a different body gets 422."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The governance decision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Workspace monthly usage quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is already in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying."
              }
            }
          }
        }
      }
    },
    "/api/v1/gateway/approvals/{approvalId}": {
      "get": {
        "operationId": "pollApproval",
        "summary": "Poll a held tool call",
        "description": "When a tool call returns `decision: \"hold\"`, poll this endpoint with the `approvalId` until a human resolves it. The server long-polls (~8s per request), so polling is cheap. Authenticate with the SAME agent key that made the call; another agent's holds return an opaque 404.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current approval state. `decision` stays `hold` while pending.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown approval, or not owned by this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gateway/verify-card": {
      "post": {
        "operationId": "verifyCard",
        "summary": "Preflight an external agent/server",
        "description": "Verify an external MCP server / A2A agent card before trusting it. Supply EITHER a `url` to fetch the card from OR an inline `document` (one is required). Returns the resolved identity (signature validity, key domain-binding), declared capabilities, auth, and a decision. Requires the `cards:verify` scope.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Optional. Safely retry a write: the first response for a given key is replayed on retries (24h TTL). A concurrent retry gets 409; reusing a key with a different body gets 422."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The preflight verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, or neither `url` nor `document` supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Workspace monthly usage quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is already in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gateway/verify-request": {
      "post": {
        "operationId": "verifyRequest",
        "summary": "Verify an inbound agent request",
        "description": "Verify an inbound agent request against a property's site key (bot management). The `axioGuard` middleware builds this call for you. Authenticate with an `axr_site_…` key (scope `inbound:verify`); the visiting agent's own HTTP Message Signature travels inside the body, not in this call's auth.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The inbound decision (`allow` | `challenge` | `block`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid site key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gateway/token": {
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange for a short-lived token",
        "description": "Exchange a long-lived credential for a short-lived, scoped `axr_tok_…` token (tokens can only NARROW scopes, never widen them). Two grants: **key exchange**, present an `axr_live_`/`axr_test_` key in the `Authorization` header; **federated**, present a platform OIDC token as `subject_token` in the body (no AxioRank secret stored on the agent).",
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The minted token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body or invalid `subject_token`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Requested scopes are not permitted by the credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gateway/mcp-tool-call": {
      "post": {
        "operationId": "evaluateMcpToolCall",
        "summary": "Verdict for a proxied MCP tools/call",
        "description": "Lightweight verdict endpoint the local stdio shim (`@axiorank/mcp-gateway`) calls per `tools/call`. `server` is the registered server slug. `phase: \"request\"` inspects the call arguments; `phase: \"result\"` inspects the tool output and requires `resultText`. Requires the `gateway:write` scope.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpToolCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The verdict for this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpToolCallVerdict"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown MCP server slug for this agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/export": {
      "get": {
        "operationId": "exportAuditLogs",
        "summary": "Export audit logs (SIEM)",
        "description": "Stream redacted audit-log rows as newline-delimited JSON (`application/x-ndjson`), one row per line, keyset-paginated by `(created_at, id)`. Follow the `x-axiorank-next-cursor` response header to page. Requires the `logs:read` scope and a Pro plan or above (`siemExport`).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp for the start of the window."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp for the end of the window."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Opaque keyset cursor from the previous page."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 1000
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "sdk",
                "mcp",
                "coding-agent",
                "browser-agent"
              ]
            }
          },
          {
            "name": "decision",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "allow",
                "deny",
                "hold"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NDJSON stream of redacted audit rows.",
            "headers": {
              "x-axiorank-next-cursor": {
                "schema": {
                  "type": "string"
                },
                "description": "Cursor for the next page; absent on the last page."
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing `logs:read` scope or plan does not include SIEM export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/public-key": {
      "get": {
        "operationId": "auditPublicKey",
        "summary": "Transparency-log public keys (JWKS)",
        "description": "The Ed25519 public keys (active + retired) that sign audit receipts and signed tree heads. PUBLIC and unauthenticated by design: pin a key by `kid` out-of-band, then verify a receipt against it offline with the open-source `@axiorank/audit-verify` package. That independence from AxioRank is the whole point.",
        "security": [],
        "responses": {
          "200": {
            "description": "A JWKS of the log signing keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/verify-receipt": {
      "post": {
        "operationId": "verifyAuditReceipt",
        "summary": "Verify an audit receipt",
        "description": "Convenience verifier: POST a receipt and get the per-check result. This is NOT the trust anchor - the authoritative path is the open-source verifier run against a key you pinned out-of-band, which needs no trust in this endpoint. Public and rate-limited.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReceipt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The verification result (per-check + overall).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyReceiptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or oversized receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/checkpoints/{seq}": {
      "get": {
        "operationId": "auditCheckpoint",
        "summary": "Signed tree head for a checkpoint",
        "description": "Fetch the signed tree head (STH) for one of your workspace's sealed checkpoints by its sequence number. A monitor pins the STH series over time to detect a retroactive edit. Requires the `logs:read` scope; the workspace is taken from the key, so an STH series is never cross-tenant.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "seq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The signed tree head for that checkpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedTreeHead"
                }
              }
            }
          },
          "400": {
            "description": "Invalid checkpoint sequence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown checkpoint, or it predates the Merkle upgrade.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/receipt/{auditLogId}": {
      "get": {
        "operationId": "auditReceipt",
        "summary": "Issue an offline-verifiable receipt for an audit row",
        "description": "Issue a self-contained receipt for one of your workspace's audit rows: inclusion proof + signed tree head + signed provenance, verifiable offline with `@axiorank/audit-verify`. Requires the `logs:read` scope; the workspace is taken from the key. Returns an envelope with `status` (ok, pending_seal, purged, unavailable) and, when ok, the `receipt`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "auditLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The receipt envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "pending_seal",
                        "purged",
                        "unavailable"
                      ]
                    },
                    "receipt": {
                      "$ref": "#/components/schemas/AuditReceipt"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/log/{logId}/checkpoints": {
      "get": {
        "operationId": "listLogCheckpoints",
        "summary": "Public checkpoint series for a monitored log",
        "description": "PUBLIC, unauthenticated: the signed-tree-head series for a workspace that opted into public monitoring, keyed by its opaque log id. Anyone can pull the series and independently watch for equivocation or rollback (the `@axiorank/log-watchdog` daemon does this). Only hashes, counts, timestamps, signatures, and witness records are exposed, never audit content.",
        "security": [],
        "parameters": [
          {
            "name": "logId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of checkpoints, ascending by sequence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCheckpointList"
                }
              }
            }
          },
          "404": {
            "description": "Unknown log id, or monitoring is not enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/log/{logId}/checkpoints/latest": {
      "get": {
        "operationId": "latestLogCheckpoint",
        "summary": "Latest head for a monitored log",
        "description": "PUBLIC, unauthenticated: the current head for an opted-in workspace's log. A monitor fetches this each interval; a seq that goes backward, or a changed root/signature at a known seq, signals equivocation.",
        "security": [],
        "parameters": [
          {
            "name": "logId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current head.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCheckpoint"
                }
              }
            }
          },
          "404": {
            "description": "Unknown log id, or no checkpoints sealed yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/log/{logId}/checkpoints/{seq}": {
      "get": {
        "operationId": "logCheckpointBySeq",
        "summary": "One checkpoint by sequence for a monitored log",
        "description": "PUBLIC, unauthenticated: re-fetch a specific head a monitor pinned earlier and confirm it is byte-identical.",
        "security": [],
        "parameters": [
          {
            "name": "logId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "seq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The checkpoint at that sequence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCheckpoint"
                }
              }
            }
          },
          "400": {
            "description": "Invalid checkpoint sequence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown log id or checkpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "health",
        "summary": "Liveness + readiness probe",
        "description": "Public uptime probe. Reports DB reachability without leaking data; returns 503 when degraded.",
        "responses": {
          "200": {
            "description": "Healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Degraded: the database is unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protocols": {
      "get": {
        "operationId": "protocols",
        "summary": "Protocol coverage matrix",
        "description": "Public, machine-readable matrix of the agent-interop protocols AxioRank speaks.",
        "responses": {
          "200": {
            "description": "Coverage summary, planes, and per-protocol detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "planes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "protocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "summary",
                    "planes",
                    "protocols"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mcp/{serverId}": {
      "post": {
        "operationId": "mcpProxy",
        "summary": "Remote MCP transport proxy",
        "description": "Streamable-HTTP proxy to a registered upstream MCP server. The body is a JSON-RPC 2.0 message; AxioRank inspects, audits, and polices `tools/call` before forwarding. Authenticated with a per-server URL token (or the governing agent's Bearer key), NOT the standard gateway scopes.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registered MCP server id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "A JSON-RPC 2.0 request object."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upstream JSON-RPC response (passed through).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid server token / key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools-log/servers": {
      "get": {
        "operationId": "toolLogServers",
        "summary": "Tool-definition transparency log: server directory",
        "description": "PUBLIC, unauthenticated. The directory of MCP servers observed in the tool-definition transparency log. Server-published metadata only (no tenant identity).",
        "security": [],
        "responses": {
          "200": {
            "description": "Observed servers and their latest tool-definition hashes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "servers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "servers"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools-log/servers/{host}": {
      "get": {
        "operationId": "toolLogServerHistory",
        "summary": "Tool-definition transparency log: server history",
        "description": "PUBLIC, unauthenticated. The full tool-definition history for one MCP server: every observed state and signed diff event. A rug-pull appears here as a publicly provable change event.",
        "security": [],
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The server's observed tool-definition history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Server not found in the log.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools-log/entries/{id}": {
      "get": {
        "operationId": "toolLogEntry",
        "summary": "Tool-definition transparency log: one entry",
        "description": "PUBLIC, unauthenticated. One tool-definition log entry: the normalized tool set, per-tool hashes, and the diff if it is a change event.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The log entry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Entry not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools-log/entries/{id}/proof": {
      "get": {
        "operationId": "toolLogEntryProof",
        "summary": "Tool-definition transparency log: inclusion proof",
        "description": "PUBLIC, unauthenticated. An offline-verifiable inclusion proof for one entry (inclusion path plus the signed tree head), so any client can verify a server's tool history against the published key.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The inclusion proof + signed tree head.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Entry not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Entry not sealed into a checkpoint yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools-log/sth": {
      "get": {
        "operationId": "toolLogSth",
        "summary": "Tool-definition transparency log: signed tree head",
        "description": "PUBLIC, unauthenticated. The current signed tree head of the tool-definition log. Pin it over time to confirm the log only ever grows.",
        "security": [],
        "responses": {
          "200": {
            "description": "The current signed tree head.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "No checkpoints sealed yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An AxioRank API key (`axr_live_…` agent key or `axr_site_…` property key) or a short-lived token (`axr_tok_…`). Sent as `Authorization: Bearer <key>`. Scopes: `gateway:write`, `cards:verify`, `inbound:verify`, `logs:read`, `admin`."
      }
    },
    "schemas": {
      "ToolCallRequest": {
        "type": "object",
        "properties": {
          "tool": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "arguments": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "phase": {
            "default": "request",
            "type": "string",
            "enum": [
              "request",
              "result",
              "prompt",
              "completion"
            ]
          },
          "resultText": {
            "type": "string",
            "maxLength": 200000
          },
          "promptText": {
            "type": "string",
            "maxLength": 200000
          },
          "completionText": {
            "type": "string",
            "maxLength": 200000
          },
          "context": {
            "type": "string",
            "maxLength": 200000
          },
          "costUsd": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "inputTokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000000
          },
          "outputTokens": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000000
          },
          "durationMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 86400000
          },
          "intent": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "taintHandle": {
            "type": "string",
            "maxLength": 16384
          },
          "passport": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "enum": [
              "sdk",
              "mcp",
              "coding-agent",
              "browser-agent"
            ]
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "stepIndex": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 256
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          },
          "parentStepIndex": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000
          }
        },
        "required": [
          "tool"
        ]
      },
      "VerifyCardRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          },
          "document": {},
          "protocol": {
            "type": "string",
            "enum": [
              "a2a",
              "mcp",
              "oauth",
              "api-catalog",
              "x402",
              "acp",
              "ucp",
              "mpp",
              "did",
              "acp-comm",
              "anp",
              "agntcy-slim",
              "authmd",
              "ap2",
              "content-permission",
              "agntcy-directory",
              "nlweb",
              "ans",
              "agent-skills",
              "webmcp",
              "nanda",
              "vc",
              "visa-tap",
              "spiffe",
              "agents-json",
              "l402",
              "oid4vci",
              "authzen",
              "mc-agent-pay",
              "visa-intelligent-commerce",
              "skyfire",
              "nekuda",
              "amex-agent-pay",
              "paypal-agentic-checkout"
            ]
          }
        }
      },
      "InboundVerifyRequest": {
        "type": "object",
        "properties": {
          "surfaceKind": {
            "default": "website",
            "type": "string",
            "enum": [
              "website",
              "http_api",
              "mcp_server",
              "a2a_agent",
              "webhook",
              "shopify"
            ]
          },
          "operation": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "null"
              }
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 16
              },
              {
                "type": "null"
              }
            ]
          },
          "authority": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              },
              {
                "type": "null"
              }
            ]
          },
          "path": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ]
          },
          "query": {
            "default": "",
            "type": "string",
            "maxLength": 4096
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ]
          },
          "clientIp": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64
              },
              {
                "type": "null"
              }
            ]
          },
          "signatureInput": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8192
              },
              {
                "type": "null"
              }
            ]
          },
          "signature": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8192
              },
              {
                "type": "null"
              }
            ]
          },
          "signatureAgent": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ]
          },
          "headers": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "bodySample": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 65536
              },
              {
                "type": "null"
              }
            ]
          },
          "agentCard": {},
          "agentCardUrl": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ]
          },
          "authToken": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8192
              },
              {
                "type": "null"
              }
            ]
          },
          "governancePassport": {},
          "reputationCredential": {}
        }
      },
      "McpToolCallRequest": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "tool": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "arguments": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "phase": {
            "default": "request",
            "type": "string",
            "enum": [
              "request",
              "result"
            ]
          },
          "resultText": {
            "type": "string",
            "maxLength": 200000
          },
          "costUsd": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "stepIndex": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 256
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          },
          "parentStepIndex": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000
          }
        },
        "required": [
          "server",
          "tool"
        ]
      },
      "TokenExchangeRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "api_key",
              "federated"
            ]
          },
          "subject_token": {
            "type": "string",
            "minLength": 1
          },
          "ttl_seconds": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 3600
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "AuditExportQuery": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "to": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "cursor": {
            "type": "string",
            "maxLength": 512
          },
          "limit": {
            "default": 1000,
            "type": "integer",
            "minimum": 1,
            "maximum": 5000
          },
          "source": {
            "type": "string",
            "enum": [
              "sdk",
              "mcp",
              "coding-agent",
              "browser-agent"
            ]
          },
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold"
            ]
          }
        }
      },
      "RiskSignal": {
        "type": "object",
        "description": "A redacted content-inspection finding that contributed to the risk score.",
        "properties": {
          "detector": {
            "type": "string",
            "examples": [
              "secret.aws_access_key"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "secret",
              "pii",
              "destructive",
              "injection",
              "egress",
              "bot_spoof",
              "rate_abuse",
              "supply_chain"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "label": {
            "type": "string"
          },
          "points": {
            "type": "integer",
            "description": "Pre-diminishing-returns contribution, from severity."
          },
          "location": {
            "type": "string",
            "examples": [
              "body.env.AWS_SECRET",
              "(tool_name)"
            ]
          },
          "evidence": {
            "type": "string",
            "description": "Redacted evidence, safe to persist and display."
          },
          "critical": {
            "type": "boolean",
            "description": "A live secret / key / card was detected."
          }
        },
        "required": [
          "detector",
          "category",
          "severity",
          "label",
          "points",
          "location",
          "evidence"
        ]
      },
      "ToolCallResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold"
            ]
          },
          "reason": {
            "type": "string"
          },
          "risk": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "auditLogId": {
            "type": "string"
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskSignal"
            }
          },
          "approvalId": {
            "type": "string",
            "description": "Present ONLY when decision is `hold`. Poll GET /api/gateway/approvals/{id}."
          },
          "ifc": {
            "type": "boolean",
            "description": "True when this workspace enforces information-flow control. The SDK uses it to decide whether to report untrusted tool results (phase=\"result\") for taint tracking."
          }
        },
        "required": [
          "decision",
          "reason",
          "risk",
          "auditLogId",
          "signals"
        ]
      },
      "CardVerifyResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "review",
              "deny"
            ]
          },
          "reason": {
            "type": "string"
          },
          "risk": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "protocol": {
            "type": "string",
            "description": "Resolved protocol of the card (a2a, mcp, oauth, …)."
          },
          "identity": {
            "type": "object",
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "provider": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "signed": {
                "type": "boolean"
              },
              "signatureValid": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "true = verified · false = forged · null = unsigned / key unresolvable."
              },
              "keySource": {
                "type": "string",
                "enum": [
                  "embedded",
                  "jwks",
                  "none"
                ]
              },
              "keyDomainBound": {
                "type": "boolean"
              },
              "keyId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sourceUrl": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "provider",
              "signed",
              "signatureValid",
              "keySource",
              "keyDomainBound",
              "keyId",
              "sourceUrl"
            ]
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "sample": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "name"
                  ]
                }
              }
            },
            "required": [
              "count",
              "sample"
            ]
          },
          "auth": {
            "type": "object",
            "properties": {
              "schemes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "protectedResource": {
                "type": "boolean"
              }
            },
            "required": [
              "schemes",
              "protectedResource"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskSignal"
            }
          },
          "cardId": {
            "type": "string"
          }
        },
        "required": [
          "decision",
          "reason",
          "risk",
          "protocol",
          "identity",
          "capabilities",
          "auth",
          "warnings",
          "signals",
          "cardId"
        ]
      },
      "InboundVerifyResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "challenge",
              "block"
            ]
          },
          "reason": {
            "type": "string"
          },
          "risk": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "verification": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "verified",
                  "unverified",
                  "spoofed",
                  "unknown"
                ]
              },
              "method": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "agentSlug": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "agentLabel": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "confidence": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100,
                "description": "0..100: cryptographic proof = 100, heuristic UA match = 40, etc."
              }
            },
            "required": [
              "status",
              "method",
              "agentSlug",
              "agentLabel",
              "confidence"
            ]
          },
          "enforced": {
            "type": "boolean",
            "description": "false under `monitor` posture: the verdict was computed + logged, not acted on."
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskSignal"
            }
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "decision",
          "reason",
          "risk",
          "verification",
          "enforced",
          "signals",
          "requestId"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "A short-lived `axr_tok_…` bearer token."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_in": {
            "type": "integer",
            "description": "Lifetime in seconds."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "token",
          "token_type",
          "expires_at",
          "expires_in",
          "scopes"
        ]
      },
      "McpToolCallVerdict": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold"
            ]
          },
          "reason": {
            "type": "string"
          },
          "risk": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "auditLogId": {
            "type": "string"
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskSignal"
            }
          },
          "enforced": {
            "type": "boolean",
            "description": "true when the call must NOT be forwarded as-is under `enforce` posture."
          },
          "approvalId": {
            "type": "string",
            "description": "Present when decision is `hold` under enforce."
          }
        },
        "required": [
          "decision",
          "reason",
          "risk",
          "auditLogId",
          "signals",
          "enforced"
        ]
      },
      "ApprovalStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Approval state: `pending` while awaiting a human; `approved`/`denied` once resolved; `expired` on timeout."
          },
          "decision": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold"
            ],
            "description": "`hold` while still pending; resolves to `allow`/`deny`."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "auditLogId": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolvedBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "Operator who resolved the hold, if any."
          }
        },
        "required": [
          "status",
          "decision"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "db": {
            "type": "string",
            "enum": [
              "ok",
              "unreachable"
            ]
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "db",
          "time"
        ]
      },
      "SignedTreeHead": {
        "type": "object",
        "description": "An Ed25519-signed Merkle tree head over a sealed checkpoint window.",
        "properties": {
          "seq": {
            "type": "integer"
          },
          "merkleRoot": {
            "type": "string",
            "description": "Hex RFC 6962 root over the window's row hashes."
          },
          "treeSize": {
            "type": "integer"
          },
          "prevCheckpointHash": {
            "type": "string",
            "description": "Binds the STH into the append-only chain."
          },
          "checkpointHash": {
            "type": "string",
            "description": "This checkpoint's own hash, signed on self-anchored (v2) heads. Absent on v1."
          },
          "fromTs": {
            "type": "string",
            "format": "date-time"
          },
          "toTs": {
            "type": "string",
            "format": "date-time"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "EdDSA"
            ]
          },
          "merkleVersion": {
            "type": "integer"
          },
          "treeAlgo": {
            "type": "string",
            "examples": [
              "rfc6962-sha256"
            ]
          },
          "keyId": {
            "type": "string",
            "description": "RFC 7638 thumbprint of the signing key (JWKS lookup id)."
          },
          "signedAt": {
            "type": "string",
            "format": "date-time"
          },
          "signature": {
            "type": "string",
            "description": "base64url Ed25519 over the canonical STH."
          }
        },
        "required": [
          "seq",
          "merkleRoot",
          "treeSize",
          "prevCheckpointHash",
          "fromTs",
          "toTs",
          "workspaceId",
          "algorithm",
          "merkleVersion",
          "treeAlgo",
          "keyId",
          "signedAt",
          "signature"
        ]
      },
      "AuditReceipt": {
        "type": "object",
        "description": "A self-contained, offline-verifiable proof for one audit row.",
        "properties": {
          "version": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "auditLogId": {
            "type": "string",
            "format": "uuid"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "rowHash": {
            "type": "string",
            "description": "Hex SHA-256 over the row's immutable fields."
          },
          "leafHash": {
            "type": "string"
          },
          "leafIndex": {
            "type": "integer"
          },
          "treeSize": {
            "type": "integer"
          },
          "inclusionPath": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dir": {
                  "type": "string",
                  "enum": [
                    "L",
                    "R"
                  ]
                },
                "hash": {
                  "type": "string"
                }
              },
              "required": [
                "dir",
                "hash"
              ]
            }
          },
          "signedTreeHead": {
            "$ref": "#/components/schemas/SignedTreeHead"
          },
          "provenance": {
            "type": "object",
            "additionalProperties": true,
            "description": "The Ed25519-signed delegation-provenance token (who authorized the action)."
          }
        },
        "required": [
          "version",
          "auditLogId",
          "workspaceId",
          "rowHash",
          "leafHash",
          "leafIndex",
          "treeSize",
          "inclusionPath",
          "signedTreeHead"
        ]
      },
      "PublicKeyResponse": {
        "type": "object",
        "description": "JWKS of the transparency-log signing keys (active + retired). Pin a key by kid.",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kid": {
                  "type": "string"
                },
                "kty": {
                  "type": "string",
                  "enum": [
                    "OKP"
                  ]
                },
                "crv": {
                  "type": "string",
                  "enum": [
                    "Ed25519"
                  ]
                },
                "x": {
                  "type": "string"
                },
                "alg": {
                  "type": "string",
                  "enum": [
                    "EdDSA"
                  ]
                },
                "use": {
                  "type": "string",
                  "enum": [
                    "sth",
                    "provenance",
                    "approver",
                    "tool-log-sth"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "retired"
                  ]
                }
              },
              "required": [
                "kid",
                "kty",
                "crv",
                "x"
              ]
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "VerifyReceiptResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "checks": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "leaf": {
                "type": "boolean",
                "description": "leafHash matches SHA-256(0x00 ‖ rowHash)."
              },
              "rowBinding": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Null unless the row is supplied."
              },
              "inclusion": {
                "type": "boolean",
                "description": "Proof folds to the signed Merkle root."
              },
              "sthSignature": {
                "type": "boolean",
                "description": "Tree-head signature verifies."
              },
              "provenance": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Provenance token verifies (null if none)."
              },
              "approver": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Every human-approval signature verifies (null if none present)."
              }
            }
          },
          "reason": {
            "type": "string",
            "description": "Present only when ok is false."
          }
        },
        "required": [
          "ok",
          "checks"
        ]
      },
      "WitnessRecord": {
        "type": "object",
        "description": "An independent witness co-signature over a signed tree head (split-view defense).",
        "properties": {
          "witness": {
            "type": "string",
            "description": "Witness scheme: 'rekor' or 'note:<name>'."
          },
          "keyId": {
            "type": "string",
            "description": "Pinned witness key / log id used to verify the countersignature."
          },
          "signedAt": {
            "type": "string",
            "format": "date-time"
          },
          "subjectHash": {
            "type": "string",
            "description": "Hex SHA-256 over the canonical STH: binds the record to this head."
          },
          "signature": {
            "type": "string",
            "description": "The witness countersignature (for rekor, the SET)."
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "witness",
          "keyId",
          "signedAt",
          "subjectHash",
          "signature"
        ]
      },
      "PublicCheckpoint": {
        "type": "object",
        "description": "A public checkpoint head: the signed tree head plus its chain fields and witnesses.",
        "properties": {
          "seq": {
            "type": "integer"
          },
          "signedTreeHead": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SignedTreeHead"
              },
              {
                "type": "null"
              }
            ],
            "description": "The stored signed tree head, or null for a legacy checkpoint."
          },
          "checkpointHash": {
            "type": "string"
          },
          "batchHash": {
            "type": "string"
          },
          "prevHash": {
            "type": "string"
          },
          "rowCount": {
            "type": "integer"
          },
          "fromTs": {
            "type": "string",
            "format": "date-time"
          },
          "toTs": {
            "type": "string",
            "format": "date-time"
          },
          "purged": {
            "type": "boolean",
            "description": "Rows purged under retention; the signed head still proves the window."
          },
          "witnesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WitnessRecord"
            }
          }
        },
        "required": [
          "seq",
          "checkpointHash",
          "batchHash",
          "prevHash",
          "rowCount",
          "fromTs",
          "toTs",
          "purged",
          "witnesses"
        ]
      },
      "PublicCheckpointList": {
        "type": "object",
        "properties": {
          "logId": {
            "type": "string",
            "format": "uuid"
          },
          "checkpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCheckpoint"
            }
          }
        },
        "required": [
          "logId",
          "checkpoints"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}