{
  "openapi": "3.1.0",
  "info": {
    "title": "Mergify API",
    "description": "Faster & safer code merge",
    "termsOfService": "https://mergify.com/tos",
    "contact": {
      "name": "Mergify",
      "url": "https://mergify.com/",
      "email": "support@mergify.com"
    },
    "version": "v1",
    "x-jentic-source-url": "https://docs.mergify.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.mergify.com/v1",
      "description": "default"
    }
  ],
  "paths": {
    "/application": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Get current application",
        "description": "Get the current authenticated application",
        "operationId": "application_application_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                },
                "example": {
                  "id": "e155518c-ca1b-443c-9be9-fe90fdab7345",
                  "name": "an application name",
                  "scope": "admin",
                  "account_scope": {
                    "id": 123456,
                    "login": "Mergifyio"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "CIApplicationKey": []
          }
        ]
      }
    },
    "/repos/{owner}/{repository}/queues/configuration": {
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "Get merge queues configuration",
        "description": "Get the list of all merge queues configuration sorted by processing order",
        "operationId": "repository_queues_configuration_repos__owner___repository__queues_configuration_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuesConfig"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "The configuration file is invalid."
          }
        }
      }
    },
    "/repos/{owner}/{repository}/queue/pause": {
      "put": {
        "tags": [
          "queues"
        ],
        "summary": "Pause the merge queue",
        "description": "Pause the merge of the requested repository",
        "operationId": "create_queue_pause_repos__owner___repository__queue_pause_put",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueuePausePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuePauseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      },
      "delete": {
        "tags": [
          "queues"
        ],
        "summary": "Unpause merge queue",
        "description": "Unpause the merge queue of the requested repository",
        "operationId": "delete_queue_pause_repos__owner___repository__queue_pause_delete",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      },
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "Get queue pause data",
        "description": "Checks if the merge queue is paused and get the queue pause data",
        "operationId": "get_queue_pause_repos__owner___repository__queue_pause_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuePauseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/queue/pause/delete": {
      "post": {
        "tags": [
          "queues"
        ],
        "summary": "Unpause merge queue",
        "description": "Unpause the merge queue of the requested repository",
        "operationId": "delete_queue_pause_repos__owner___repository__queue_pause_delete_post",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/queues": {
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "Get merge queues",
        "description": "Get the list of pull requests queued in a merge queue of a repository",
        "operationId": "repository_queues_repos__owner___repository__queues_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queues"
                },
                "example": {
                  "queues": [
                    {
                      "branch": {
                        "name": "main"
                      },
                      "pull_requests": [
                        {
                          "number": 5678,
                          "position": 1,
                          "priority": 100,
                          "effective_priority": 100,
                          "priority_alias": "low",
                          "partition_name": "__default__",
                          "queue_rule": {
                            "name": "default",
                            "config": {
                              "priority": 100,
                              "batch_size": 1,
                              "batch_max_wait_time": 0,
                              "allow_inplace_checks": true,
                              "allow_queue_branch_edit": false,
                              "checks_timeout": 60,
                              "draft_bot_account": "",
                              "queue_branch_prefix": "mergify/merge-queue/",
                              "queue_branch_merge_method": "fast-forward",
                              "batch_max_failure_resolution_attempts": 10,
                              "commit_message_template": "",
                              "merge_bot_account": "",
                              "merge_method": "merge",
                              "update_bot_account": "",
                              "update_method": "rebase"
                            }
                          },
                          "speculative_check_pull_request": {
                            "in_place": true,
                            "number": 5678,
                            "started_at": "2021-10-14T14:19:12+00:00",
                            "ended_at": "2021-10-14T15:00:42+00:00",
                            "checks": [],
                            "evaluated_conditions": "",
                            "state": "success"
                          },
                          "mergeability_check": {
                            "check_type": "in_place",
                            "pull_request_number": 5678,
                            "started_at": "2021-10-14T14:19:12+00:00",
                            "ended_at": "2021-10-14T15:00:42+00:00",
                            "state": "success"
                          },
                          "queued_at": "2021-10-14T14:19:12+00:00",
                          "estimated_time_of_merge": "2021-10-14T15:19:12+00:00"
                        },
                        {
                          "number": 4242,
                          "position": 1,
                          "priority": 100,
                          "effective_priority": 100,
                          "priority_alias": "low",
                          "partition_name": "__default__",
                          "queue_rule": {
                            "name": "default",
                            "config": {
                              "priority": 100,
                              "batch_size": 1,
                              "batch_max_wait_time": 0,
                              "allow_inplace_checks": true,
                              "allow_queue_branch_edit": false,
                              "checks_timeout": 60,
                              "draft_bot_account": "",
                              "queue_branch_prefix": "mergify/merge-queue/",
                              "queue_branch_merge_method": "fast-forward",
                              "batch_max_failure_resolution_attempts": 10,
                              "commit_message_template": "",
                              "merge_bot_account": "",
                              "merge_method": "merge",
                              "update_bot_account": "",
                              "update_method": "rebase"
                            }
                          },
                          "speculative_check_pull_request": {
                            "in_place": false,
                            "number": 7899,
                            "started_at": "2021-10-14T14:19:12+00:00",
                            "ended_at": "2021-10-14T15:00:42+00:00",
                            "checks": [],
                            "evaluated_conditions": "",
                            "state": "success"
                          },
                          "mergeability_check": {
                            "check_type": "draft_pr",
                            "pull_request_number": 7899,
                            "started_at": "2021-10-14T14:19:12+00:00",
                            "ended_at": "2021-10-14T15:00:42+00:00",
                            "state": "success"
                          },
                          "queued_at": "2021-10-14T14:19:12+00:00",
                          "estimated_time_of_merge": "2021-10-14T15:19:12+00:00"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/queues/branches": {
      "get": {
        "tags": [
          "queues"
        ],
        "summary": "Get the base refs in the repository",
        "description": "Retrieve a list of base refs branches affected by queue activity",
        "operationId": "get_queue_base_refs_repos__owner___repository__queues_branches_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseRefsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/pulls/{number}/simulator": {
      "post": {
        "tags": [
          "simulator"
        ],
        "summary": "Get a Mergify simulation for a pull request",
        "description": "Get a simulation of what Mergify will do on a pull request",
        "operationId": "simulator_pull_repos__owner___repository__pulls__number__simulator_post",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 9223372036854776000,
              "minimum": 0,
              "description": "The pull request number",
              "title": "Number"
            },
            "description": "The pull request number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/simulator": {
      "post": {
        "tags": [
          "simulator"
        ],
        "summary": "Get a Mergify simulation for a repository",
        "description": "Get a simulation of what Mergify will do for this repository",
        "operationId": "simulator_repo_repos__owner___repository__simulator_post",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/configuration-simulator": {
      "post": {
        "tags": [
          "simulator"
        ],
        "summary": "Get a Mergify configuration simulation for a repository",
        "description": "Get a simulation of what Mergify will do for this repository",
        "operationId": "repository_configuration_simulator_repos__owner___repository__configuration_simulator_post",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryConfigurationSimulatorResponse"
                },
                "example": {
                  "message": "The configuration is valid",
                  "deprecations": [],
                  "unused_sections": [
                    {
                      "section": "pull_request_rules",
                      "product": "workflow_automation",
                      "product_name": "Workflow Automation",
                      "product_url": "https://dashboard.mergify.com/orgs/Mergifyio/repos/mergify-engine/workflow-automation"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/logs": {
      "get": {
        "tags": [
          "activity_log"
        ],
        "summary": "Get the activity log",
        "description": "Get the activity log of the requested repository. Supports filtering by `event_type`, derived `outcome` (`success` / `failure` / `pending` / `neutral`), `trigger` (include only these trigger strings — Datadog `Only`), and `not_trigger` (exclude). `trigger` and `not_trigger` are mutually exclusive.",
        "operationId": "get_repository_events_repos__owner___repository__logs_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "pull_request",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter events by pull-request number. Repeatable to match several PRs at once (e.g. `?pull_request=1&pull_request=2`).",
              "title": "Pull Request"
            },
            "description": "Filter events by pull-request number. Repeatable to match several PRs at once (e.g. `?pull_request=1&pull_request=2`)."
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get events for PRs to the given base ref",
              "title": "Base Ref"
            },
            "description": "Get events for PRs to the given base ref"
          },
          {
            "name": "batch_pull",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to batch (draft) pull requests' own lifecycle events by number (surfaced in the dashboard as \"Batch Pull Request\"). Repeatable to match several batches at once. The draft PR is the Mergify-opened pull request that speculatively checks a batch; this returns each batch's `action.queue.checks_start` / `action.queue.checks_end` events (which snapshot the draft PR number) plus the batch's bisection events. When `in_place` is true the number is the user's own PR rather than a Mergify draft. The number rotates on checks-retry — each event snapshots the number at that attempt. Mutually exclusive with `not_batch_pull` (exclusion).",
              "title": "Batch Pull"
            },
            "description": "Filter to batch (draft) pull requests' own lifecycle events by number (surfaced in the dashboard as \"Batch Pull Request\"). Repeatable to match several batches at once. The draft PR is the Mergify-opened pull request that speculatively checks a batch; this returns each batch's `action.queue.checks_start` / `action.queue.checks_end` events (which snapshot the draft PR number) plus the batch's bisection events. When `in_place` is true the number is the user's own PR rather than a Mergify draft. The number rotates on checks-retry — each event snapshots the number at that attempt. Mutually exclusive with `not_batch_pull` (exclusion)."
          },
          {
            "name": "not_batch_pull",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude batch (draft) pull requests' own lifecycle events by number — the same event set `batch_pull` includes, negated. Repeatable. Mirrors Datadog's facet semantics: unchecking a batch pull request in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `batch_pull` (positive include).",
              "title": "Not Batch Pull"
            },
            "description": "Exclude batch (draft) pull requests' own lifecycle events by number — the same event set `batch_pull` includes, negated. Repeatable. Mirrors Datadog's facet semantics: unchecking a batch pull request in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `batch_pull` (positive include)."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "The specific types of events to select. `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`.",
              "title": "Event Type"
            },
            "description": "The specific types of events to select. `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`."
          },
          {
            "name": "not_event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose type matches any of the given values. Mutually exclusive with `event_type` (positive include). `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`.",
              "title": "Not Event Type"
            },
            "description": "Exclude events whose type matches any of the given values. Mutually exclusive with `event_type` (positive include). `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`."
          },
          {
            "name": "outcome",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOutcome"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter events by derived outcome label (`success` / `failure` / `pending` / `neutral`). Repeatable to match several outcomes at once (e.g. `?outcome=success&outcome=failure`).",
              "title": "Outcome"
            },
            "description": "Filter events by derived outcome label (`success` / `failure` / `pending` / `neutral`). Repeatable to match several outcomes at once (e.g. `?outcome=success&outcome=failure`)."
          },
          {
            "name": "not_outcome",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOutcome"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose derived outcome label matches any of the given values (`success` / `failure` / `pending` / `neutral`). Repeatable. Mirrors Datadog's facet semantics: unchecking an outcome in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `outcome` (positive include).",
              "title": "Not Outcome"
            },
            "description": "Exclude events whose derived outcome label matches any of the given values (`success` / `failure` / `pending` / `neutral`). Repeatable. Mirrors Datadog's facet semantics: unchecking an outcome in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `outcome` (positive include)."
          },
          {
            "name": "trigger",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include only events whose `trigger` matches one of the given values (exact match). Repeatable. Mirrors Datadog's facet behaviour after clicking `Only`: the URL switches from exclusion mode to inclusion mode with a positive list — shorter than `not_trigger=<everything else>`. Mutually exclusive with `not_trigger`.",
              "title": "Trigger"
            },
            "description": "Include only events whose `trigger` matches one of the given values (exact match). Repeatable. Mirrors Datadog's facet behaviour after clicking `Only`: the URL switches from exclusion mode to inclusion mode with a positive list — shorter than `not_trigger=<everything else>`. Mutually exclusive with `not_trigger`."
          },
          {
            "name": "not_trigger",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose `trigger` matches any of the given values (exact match). Repeatable. Mirrors Datadog's facet semantics: the default state is `all triggers included`, and unchecking a trigger in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `trigger` (positive include).",
              "title": "Not Trigger"
            },
            "description": "Exclude events whose `trigger` matches any of the given values (exact match). Repeatable. Mirrors Datadog's facet semantics: the default state is `all triggers included`, and unchecking a trigger in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `trigger` (positive include)."
          },
          {
            "name": "not_pull_request",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose pull request matches any of the given numbers. Mutually exclusive with `pull_request` (positive include).",
              "title": "Not Pull Request"
            },
            "description": "Exclude events whose pull request matches any of the given numbers. Mutually exclusive with `pull_request` (positive include)."
          },
          {
            "name": "received_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `received_to - 1 day`.",
              "title": "Received From"
            },
            "description": "Start of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `received_to - 1 day`."
          },
          {
            "name": "received_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `now`.",
              "title": "Received To"
            },
            "description": "End of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `now`."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The opaque cursor of the current page. Must be extracted from RFC 5988 pagination links to get the previous/next pages",
              "title": "Cursor"
            },
            "description": "The opaque cursor of the current page. Must be extracted from RFC 5988 pagination links to get the previous/next pages"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The number of items per page",
              "default": 10,
              "title": "Per Page"
            },
            "description": "The number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination links (rfc5988). `next` and `prev` are each present only when there is a page to go to, so a response with nothing before or after it carries no `Link` header at all. Each link carries the query parameters of this request; an endpoint that defaults `start`/`end` pins the resolved bounds into them, so following a link keeps the range this page was served over. To return to the first page, call the endpoint again without a `cursor`.",
                "example": "Link: <https://api.mergify.com/v1/repos/Mergifyio/mergify-engine/logs?cursor=def&per_page=20>; rel=\"next\",\n  <https://api.mergify.com/v1/repos/Mergifyio/mergify-engine/logs?cursor=abc&per_page=20>; rel=\"prev\"",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/logs/aggregate": {
      "get": {
        "tags": [
          "activity_log"
        ],
        "summary": "Get aggregated event counts",
        "description": "Aggregations (total / histogram / event-type / outcome / trigger / pull-request / batch-pull-request facet counts) over the same filter set as `/logs`. The response stays consistent with what the row endpoint returns: `total` matches what the table will show; unchecked values produce no row in their facet list (the sidebar hides their count rather than display `0`). `by_outcome` is derived from `event.type` (most types map directly; a few refine the label from event metadata); `by_trigger`, `by_pull_request`, and `by_batch_pull_request` return the top 200 values by count in the window, self-excluding their own filters.",
        "operationId": "get_repository_events_aggregate_repos__owner___repository__logs_aggregate_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "pull_request",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter events by pull-request number. Repeatable to match several PRs at once (e.g. `?pull_request=1&pull_request=2`).",
              "title": "Pull Request"
            },
            "description": "Filter events by pull-request number. Repeatable to match several PRs at once (e.g. `?pull_request=1&pull_request=2`)."
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get events for PRs to the given base ref",
              "title": "Base Ref"
            },
            "description": "Get events for PRs to the given base ref"
          },
          {
            "name": "batch_pull",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to batch (draft) pull requests' own lifecycle events by number (surfaced in the dashboard as \"Batch Pull Request\"). Repeatable to match several batches at once. The draft PR is the Mergify-opened pull request that speculatively checks a batch; this returns each batch's `action.queue.checks_start` / `action.queue.checks_end` events (which snapshot the draft PR number) plus the batch's bisection events. When `in_place` is true the number is the user's own PR rather than a Mergify draft. The number rotates on checks-retry — each event snapshots the number at that attempt. Mutually exclusive with `not_batch_pull` (exclusion).",
              "title": "Batch Pull"
            },
            "description": "Filter to batch (draft) pull requests' own lifecycle events by number (surfaced in the dashboard as \"Batch Pull Request\"). Repeatable to match several batches at once. The draft PR is the Mergify-opened pull request that speculatively checks a batch; this returns each batch's `action.queue.checks_start` / `action.queue.checks_end` events (which snapshot the draft PR number) plus the batch's bisection events. When `in_place` is true the number is the user's own PR rather than a Mergify draft. The number rotates on checks-retry — each event snapshots the number at that attempt. Mutually exclusive with `not_batch_pull` (exclusion)."
          },
          {
            "name": "not_batch_pull",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude batch (draft) pull requests' own lifecycle events by number — the same event set `batch_pull` includes, negated. Repeatable. Mirrors Datadog's facet semantics: unchecking a batch pull request in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `batch_pull` (positive include).",
              "title": "Not Batch Pull"
            },
            "description": "Exclude batch (draft) pull requests' own lifecycle events by number — the same event set `batch_pull` includes, negated. Repeatable. Mirrors Datadog's facet semantics: unchecking a batch pull request in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `batch_pull` (positive include)."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "The specific types of events to select. `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`.",
              "title": "Event Type"
            },
            "description": "The specific types of events to select. `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`."
          },
          {
            "name": "not_event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose type matches any of the given values. Mutually exclusive with `event_type` (positive include). `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`.",
              "title": "Not Event Type"
            },
            "description": "Exclude events whose type matches any of the given values. Mutually exclusive with `event_type` (positive include). `action.queue.checks_not_started` is accepted as a deprecated alias of `action.queue.checks_postponed`."
          },
          {
            "name": "outcome",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOutcome"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter events by derived outcome label (`success` / `failure` / `pending` / `neutral`). Repeatable to match several outcomes at once (e.g. `?outcome=success&outcome=failure`).",
              "title": "Outcome"
            },
            "description": "Filter events by derived outcome label (`success` / `failure` / `pending` / `neutral`). Repeatable to match several outcomes at once (e.g. `?outcome=success&outcome=failure`)."
          },
          {
            "name": "not_outcome",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventOutcome"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose derived outcome label matches any of the given values (`success` / `failure` / `pending` / `neutral`). Repeatable. Mirrors Datadog's facet semantics: unchecking an outcome in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `outcome` (positive include).",
              "title": "Not Outcome"
            },
            "description": "Exclude events whose derived outcome label matches any of the given values (`success` / `failure` / `pending` / `neutral`). Repeatable. Mirrors Datadog's facet semantics: unchecking an outcome in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `outcome` (positive include)."
          },
          {
            "name": "trigger",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include only events whose `trigger` matches one of the given values (exact match). Repeatable. Mirrors Datadog's facet behaviour after clicking `Only`: the URL switches from exclusion mode to inclusion mode with a positive list — shorter than `not_trigger=<everything else>`. Mutually exclusive with `not_trigger`.",
              "title": "Trigger"
            },
            "description": "Include only events whose `trigger` matches one of the given values (exact match). Repeatable. Mirrors Datadog's facet behaviour after clicking `Only`: the URL switches from exclusion mode to inclusion mode with a positive list — shorter than `not_trigger=<everything else>`. Mutually exclusive with `not_trigger`."
          },
          {
            "name": "not_trigger",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose `trigger` matches any of the given values (exact match). Repeatable. Mirrors Datadog's facet semantics: the default state is `all triggers included`, and unchecking a trigger in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `trigger` (positive include).",
              "title": "Not Trigger"
            },
            "description": "Exclude events whose `trigger` matches any of the given values (exact match). Repeatable. Mirrors Datadog's facet semantics: the default state is `all triggers included`, and unchecking a trigger in the dashboard sidebar adds it to the exclusion list. Mutually exclusive with `trigger` (positive include)."
          },
          {
            "name": "not_pull_request",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "integer",
                    "maximum": 2147483647,
                    "minimum": 1
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclude events whose pull request matches any of the given numbers. Mutually exclusive with `pull_request` (positive include).",
              "title": "Not Pull Request"
            },
            "description": "Exclude events whose pull request matches any of the given numbers. Mutually exclusive with `pull_request` (positive include)."
          },
          {
            "name": "received_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `received_to - 1 day`.",
              "title": "Received From"
            },
            "description": "Start of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `received_to - 1 day`."
          },
          {
            "name": "received_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `now`.",
              "title": "Received To"
            },
            "description": "End of the time range: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to `now`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityLogAggregateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/time_to_merge": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Time to merge statistics for every queue",
        "description": "Get the average time to merge statistics, in seconds, for all the queues in the repository",
        "operationId": "get_time_to_merge_stats_for_all_queues_and_partitions_endpoint_repos__owner___repository__stats_time_to_merge_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Retrieve the time to merge at this timestamp: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused.",
              "title": "At"
            },
            "description": "Retrieve the time to merge at this timestamp: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused."
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The name of the branch",
              "title": "Branch"
            },
            "description": "The name of the branch"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeToMergePerPartition"
                  },
                  "title": "Response Get Time To Merge Stats For All Queues And Partitions Endpoint Repos  Owner   Repository  Stats Time To Merge Get"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/merge_queue_checks_outcome": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the queue checks outcome for the repository",
        "description": "Statuses describing the state in which the pull requests have left the queue(s).",
        "operationId": "get_checks_outcome_repos__owner___repository__stats_merge_queue_checks_outcome_get",
        "deprecated": true,
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Base reference(s) of the pull requests",
              "title": "Base Ref"
            },
            "description": "Base reference(s) of the pull requests"
          },
          {
            "name": "queue_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the merge queue(s) for the pull requests",
              "title": "Queue Name"
            },
            "description": "Name of the merge queue(s) for the pull requests"
          },
          {
            "name": "priority_rule_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the priority rule(s) of the pull requests",
              "title": "Priority Rule Name"
            },
            "description": "Name of the priority rule(s) of the pull requests"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecksOutcomeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/queues_checks_outcome_count": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the count of queue checks outcomes",
        "description": "Statuses describing the state in which the pull requests have left the queue(s), grouped by time intervals.",
        "operationId": "get_checks_outcome_by_interval_repos__owner___repository__stats_queues_checks_outcome_count_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Base reference(s) of the pull requests",
              "title": "Base Ref"
            },
            "description": "Base reference(s) of the pull requests"
          },
          {
            "name": "queue_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the merge queue(s) for the pull requests",
              "title": "Queue Name"
            },
            "description": "Name of the merge queue(s) for the pull requests"
          },
          {
            "name": "priority_rule_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the priority rule(s) of the pull requests",
              "title": "Priority Rule Name"
            },
            "description": "Name of the priority rule(s) of the pull requests"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecksOutcomeByIntervalResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/queues_entered_count": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the count of pull requests entering the queues",
        "description": "Queues pull requests entered by intervals of time",
        "operationId": "get_queues_pull_requests_entered_count_repos__owner___repository__stats_queues_entered_count_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Base reference(s) of the pull requests",
              "title": "Base Ref"
            },
            "description": "Base reference(s) of the pull requests"
          },
          {
            "name": "queue_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the merge queue(s) for the pull requests",
              "title": "Queue Name"
            },
            "description": "Name of the merge queue(s) for the pull requests"
          },
          {
            "name": "priority_rule_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the priority rule(s) of the pull requests",
              "title": "Priority Rule Name"
            },
            "description": "Name of the priority rule(s) of the pull requests"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnteredCountResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/queues_merged_count": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the count of pull requests merged by queues",
        "description": "Queues pull requests merged by intervals of time",
        "operationId": "get_queues_pull_requests_merged_count_repos__owner___repository__stats_queues_merged_count_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Base reference(s) of the pull requests",
              "title": "Base Ref"
            },
            "description": "Base reference(s) of the pull requests"
          },
          {
            "name": "queue_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the merge queue(s) for the pull requests",
              "title": "Queue Name"
            },
            "description": "Name of the merge queue(s) for the pull requests"
          },
          {
            "name": "priority_rule_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the priority rule(s) of the pull requests",
              "title": "Priority Rule Name"
            },
            "description": "Name of the priority rule(s) of the pull requests"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergedCountResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/average_ci_runtime": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the average CI runtime",
        "description": "Runtime of your CI running on queued pull requests by intervals of time",
        "operationId": "get_average_ci_runtime_repos__owner___repository__stats_average_ci_runtime_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "description": "The owner of the repository",
              "title": "Owner"
            },
            "description": "The owner of the repository"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[\\w\\-\\.]+$",
              "description": "The name of the repository",
              "title": "Repository"
            },
            "description": "The name of the repository"
          },
          {
            "name": "base_ref",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Base reference(s) of the pull requests",
              "title": "Base Ref"
            },
            "description": "Base reference(s) of the pull requests"
          },
          {
            "name": "queue_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the merge queue(s) for the pull requests",
              "title": "Queue Name"
            },
            "description": "Name of the merge queue(s) for the pull requests"
          },
          {
            "name": "priority_rule_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "maxItems": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name of the priority rule(s) of the pull requests",
              "title": "Priority Rule Name"
            },
            "description": "Name of the priority rule(s) of the pull requests"
          },
          {
            "name": "start_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`.",
              "title": "Start At"
            },
            "description": "Get the stats from this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to 1 day before `end_at`."
          },
          {
            "name": "end_at",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now.",
              "title": "End At"
            },
            "description": "Get the stats until this date: an ISO 8601 datetime with a UTC offset (e.g. `2024-01-01T00:00:00Z`); a Unix timestamp or a datetime without an offset is refused. Defaults to now."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CIAverageRuntimeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/repos/{owner}/{repository}/stats/idle_queue_time": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Get the idle queue time",
        "description": "Idle time spent in queue by the Pull Requests by intervals of time",
        "operationId": "get_average_idle_queue_time_repos__owner___repository__stats_idle_queue_time_get",
        "security": [
          {
            "AdminApplicationKey": []
          },
          {
            "MergifyTokenBearerAuth": []
          },
          {
            "GitHubTokenBearerAuth": []
          }
[...]
