{
  "openapi": "3.1.0",
  "info": {
    "title": "Framejet Screenshot API",
    "version": "1.0.0",
    "description": "Turn any public URL into a PNG or JPEG. Cookie/consent banners, sticky headers and chat widgets are removed by default. Free tier: 200 screenshots/month. Get a key at https://framejet.dev",
    "contact": {
      "email": "founder@framejet.dev",
      "url": "https://framejet.dev/docs"
    },
    "x-jentic-source-url": "https://framejet.dev/openapi.json"
  },
  "servers": [
    {
      "url": "https://framejet.dev"
    }
  ],
  "paths": {
    "/v1/take": {
      "get": {
        "operationId": "takeScreenshot",
        "summary": "Take a screenshot of a URL",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "http(s) page to capture",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://example.com"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpeg"
              ],
              "default": "png"
            }
          },
          {
            "name": "full_page",
            "in": "query",
            "description": "Capture the entire scroll height",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Viewport width",
            "schema": {
              "type": "integer",
              "minimum": 320,
              "maximum": 3840,
              "default": 1280
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Viewport height, ignored when full_page=true",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 4320,
              "default": 800
            }
          },
          {
            "name": "dpr",
            "in": "query",
            "description": "Device pixel ratio (retina)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3,
              "default": 1
            }
          },
          {
            "name": "clean",
            "in": "query",
            "description": "Remove cookie banners, sticky bars and chat widgets",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "Extra wait in ms after load",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            }
          },
          {
            "name": "cache",
            "in": "query",
            "description": "Set false to force a fresh capture",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "actions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "description": "Steps to run before capturing, ';'-separated, each verb:arg - click:<css>, type:<css>=<text>, waitfor:<css>, wait:<ms>, scroll:<px>. Max 10 steps. Deterministic: prefer this over 'goal' whenever you know the page."
          },
          {
            "name": "goal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 300
            },
            "description": "Plain-words description of the page state to reach before capturing, ending with when to stop. For pages several clicks past the URL, where the controls for step 2 do not exist until step 1 has happened. Needs 'values' for text."
          },
          {
            "name": "values",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 1000
            },
            "description": "'|'-separated exact strings a 'goal' step may type into a field. Max 10, 200 characters each. Framejet never invents text; if none fits, the capture fails."
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "headers": {
              "X-Framejet-Cache": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "HIT",
                    "MISS"
                  ]
                }
              },
              "X-Framejet-Remaining": {
                "description": "Credits left this month (authenticated requests only)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Framejet-Credits-Used": {
                "description": "Credits this request cost; 0 for a cache hit (authenticated requests only)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Framejet-Policy-Version": {
                "description": "Plan terms the account is on (authenticated requests only)",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error",
            "description": " Also returned as goal_unreached when a 'goal' could not be reached, values_required when a field needed text no supplied value fitted, and bad_action/bad_goal/bad_values/action_failed for malformed or failed steps. No quota is spent on any of these."
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "responses": {
      "Error": {
        "description": "JSON error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              },
              "required": [
                "error",
                "code"
              ]
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}