{
  "swagger": "2.0",
  "info": {
    "title": "Q8-KPNWE-Cutover",
    "x-ibm-name": "api-cutover",
    "version": "1.1.0",
    "description": "This API provides the functionality to create the cutover data",
    "termsOfService": "",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/KOLESNYKGANNA/cut/1.1.0"
  },
  "host": "itnapapicgw.q8int.com",
  "schemes": [
    "https"
  ],
  "basePath": "/kpnwe/api-int/api/cutover/v1",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "ClientId": [],
      "ClientSecret": [],
      "heartbeatoauth2": [
        "heartbeat_scope"
      ]
    }
  ],
  "securityDefinitions": {
    "heartbeatoauth2": {
      "type": "oauth2",
      "flow": "application",
      "x-ibm-oauth-provider": "q8-kpnwe-heartbeat-oauth2",
      "tokenUrl": "https://q8kpnweheartbeatoauth2/oauth2/token",
      "scopes": {
        "heartbeat_scope": "HeartBeat Scope"
      }
    },
    "ClientSecret": {
      "type": "apiKey",
      "description": "Client Secret",
      "in": "header",
      "x-key-type": "client_secret",
      "name": "X-Q8-KPNWE-clientsecret"
    },
    "ClientId": {
      "type": "apiKey",
      "in": "header",
      "x-key-type": "client_id",
      "name": "X-Q8-KPNWE-clientid"
    }
  },
  "x-ibm-configuration": {
    "type": "rest",
    "phase": "realized",
    "enforced": true,
    "testable": true,
    "cors": {
      "enabled": true
    },
    "application-authentication": {
      "certificate": false
    },
    "servers": [
      {
        "url": "https://itnapapicgw.q8int.com/kpnwe/api-int/api/cutover/v1",
        "description": "",
        "type": [
          "Production",
          "Development"
        ]
      }
    ],
    "oauth-servers": {
      "heartbeatoauth2": {
        "tokenUrls": [
          "https://itnapapicgw.q8int.com/kpnwe/api-int/q8kpnweheartbeatoauth2/oauth2/token"
        ],
        "authorizationUrls": [],
        "refreshUrls": []
      }
    }
  },
  "tags": [
    {
      "name": "cutover-controller",
      "description": "Cutover Information Controller"
    }
  ],
  "definitions": {
    "Cutover": {
      "type": "object",
      "properties": {
        "siteNumber": {
          "type": "integer",
          "format": "int64",
          "maximum": 999999,
          "maxLength": 6,
          "description": "Identifier of the site Site Number and Cutover Number are unique together."
        },
        "typeOfSite": {
          "type": "string",
          "enum": [
            "manned",
            "unmanned"
          ],
          "description": "Identifier if the site is a manned site or not"
        },
        "cutoverNumber": {
          "type": "integer",
          "format": "int64",
          "maximum": 99999,
          "maxLength": 5,
          "description": "Identifier of the cutover - unique per site, not unique across sites.  Site Number and Cutover Number are unique together."
        },
        "cutoverMoment": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time when cutover was taken"
        },
        "cutoverType": {
          "type": "string",
          "enum": [
            "AD-HOC",
            "DAILY"
          ],
          "description": "Indicates whether the cutover is a daily cutover or an ad-hoc cutover"
        },
        "nozzleIndexes": {
          "type": "array",
          "description": "Nozzle Indexes",
          "items": {
            "$ref": "#/definitions/NozzleIndex"
          }
        },
        "mopsList": {
          "type": "array",
          "description": "The MOPs numbers",
          "items": {
            "$ref": "#/definitions/Mops"
          }
        },
        "shopSales": {
          "type": "array",
          "description": "the Shop sales numbers",
          "items": {
            "$ref": "#/definitions/ShopSale"
          }
        },
        "dippings": {
          "type": "array",
          "description": "the Dippings",
          "items": {
            "$ref": "#/definitions/Dipping"
          }
        }
      },
      "required": [
        "siteNumber",
        "cutoverNumber",
        "cutoverMoment",
        "cutoverType"
      ]
    },
    "NozzleIndex": {
      "type": "object",
      "properties": {
        "nozzleNumber": {
          "type": "integer",
          "format": "int64",
          "maximum": 9,
          "maxLength": 1,
          "description": "The identifier of the nozzle"
        },
        "pumpId": {
          "type": "integer",
          "format": "int64",
          "maximum": 99,
          "maxLength": 2,
          "description": "The identifier of the pump"
        },
        "product": {
          "$ref": "#/definitions/Product"
        },
        "tankGroup": {
          "type": "integer",
          "format": "int64",
          "maximum": 99,
          "maxLength": 2,
          "description": "Tank group the Nozzle is in"
        },
        "hardwareMeasurement": {
          "$ref": "#/definitions/NozzleMeasurement"
        },
        "softwareMeasurement": {
          "$ref": "#/definitions/NozzleMeasurement"
        },
        "currency": {
          "type": "string",
          "minLength": 1,
          "maxLength": 3,
          "description": "The currency being used"
        }
      },
      "required": [
        "nozzleNumber",
        "pumpId",
        "product",
        "tankGroup",
        "hardwareMeasurement",
        "softwareMeasurement",
        "currency"
      ]
    },
    "NozzleMeasurement": {
      "type": "object",
      "description": "Measurement of the nozzle",
      "properties": {
        "amount": {
          "type": "number",
          "maximum": 9999999999.999,
          "description": "Amount of the product being measured"
        },
        "volume": {
          "type": "number",
          "maximum": 99999999999.99,
          "description": "Volume of the product being measured"
        }
      },
      "required": [
        "amount",
        "volume"
      ]
    },
    "Mops": {
      "type": "object",
      "properties": {
        "terminal": {
          "$ref": "#/definitions/Terminal"
        },
        "mop": {
          "$ref": "#/definitions/Mop"
        },
        "terminalCutoverNbr": {
          "type": "integer",
          "format": "int32",
          "maximum": 999999,
          "maxLength": 6,
          "description": "Terminal cutover number"
        },
        "productType": {
          "type": "string",
          "enum": [
            "FUEL",
            "SHOP"
          ],
          "description": "Indicates whether the MOP was used to pay for fuel or shop"
        },
        "volume": {
          "type": "number",
          "maximum": 1000000000000,
          "exclusiveMaximum": true,
          "description": "Volume of the sale"
        },
        "amount": {
          "type": "number",
          "maximum": 10000000000,
          "exclusiveMaximum": true,
          "description": "Amount sold"
        },
        "currency": {
          "type": "string",
          "minLength": 1,
          "maxLength": 3,
          "description": "The currency being used"
        }
      },
      "required": [
        "terminal",
        "mop",
        "terminalCutoverNbr",
        "productType",
        "volume",
        "amount",
        "currency"
      ]
    },
    "ShopSale": {
      "type": "object",
      "properties": {
        "department": {
          "type": "integer",
          "format": "int32",
          "maximum": 99,
          "maxLength": 2,
          "description": "Department"
        },
        "subDepartment": {
          "type": "integer",
          "format": "int32",
          "maximum": 99,
          "maxLength": 2,
          "description": "SubDepartment"
        },
        "description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 15,
          "description": "Description of the product being sold"
        },
        "amount": {
          "type": "number",
          "maximum": 100000000000,
          "exclusiveMaximum": true,
          "description": "Amount of the product being sold"
        },
        "quantity": {
          "type": "number",
          "maximum": 100000000000,
          "exclusiveMaximum": true,
          "description": "Quantity of the product being sold"
        },
        "returnAmount": {
          "type": "number",
          "maximum": 100000000000,
          "exclusiveMaximum": true,
          "description": "In case of return, the returned amount"
        },
        "returnQuantity": {
          "type": "number",
          "maximum": 100000000000,
          "exclusiveMaximum": true,
          "description": "In case of return, the returned quantity"
        },
        "eftCode1": {
          "type": "string",
          "maxLength": 2,
          "description": "To do"
        },
        "eftCode2": {
          "type": "string",
          "maxLength": 2,
          "description": "To do"
        },
        "vatPercentage": {
          "type": "number",
          "description": "The VAT percentage having been used",
          "enum": [
            0,
            600,
            1200,
            2100
          ]
        }
      },
      "required": [
        "department",
        "subDepartment",
        "description",
        "amount",
        "quantity",
        "vatPercentage"
      ]
    },
    "Dipping": {
      "type": "object",
      "properties": {
        "tankNumber": {
          "type": "integer",
          "format": "int32",
          "maximum": 99,
          "maxLength": 2,
          "description": "The number of the tank"
        },
        "tankGroup": {
          "type": "integer",
          "format": "int32",
          "maximum": 99,
          "maxLength": 2,
          "description": "Indicates the tank group the tank is in"
        },
        "tankCapacity": {
          "type": "number",
          "maximum": 100000000,
          "exclusiveMaximum": true,
          "description": "The tank capacity"
        },
        "productMeasurement": {
          "$ref": "#/definitions/ProductMeasurement"
        }
      },
      "required": [
        "tankNumber",
        "tankGroup",
        "tankCapacity",
        "productMeasurement"
      ]
    },
    "ProductMeasurement": {
      "type": "object",
      "description": "A complete measurement object for the indicated tank",
      "properties": {
        "product": {
          "$ref": "#/definitions/Product"
        },
        "waterHeight": {
          "type": "number",
          "maximum": 100,
          "exclusiveMaximum": true,
          "description": "Water Height"
        },
        "waterVolume": {
          "type": "number",
          "maximum": 1000000,
          "exclusiveMaximum": true,
          "description": "Water Volume"
        },
        "productHeight": {
          "type": "number",
          "maximum": 100,
          "exclusiveMaximum": true,
          "description": "Product Height"
        },
        "productVolume": {
          "type": "number",
          "maximum": 1000000,
          "exclusiveMaximum": true,
          "description": "Product Volume"
        },
        "temperature": {
          "type": "number",
          "maximum": 100,
          "description": "Temperature"
        },
        "gaugeStatus": {
          "type": "string",
          "enum": [
            "OK",
            "NOK",
            "NO_GAUGE",
            "ONGOING_DELIVERY",
            "ONGOING_TRANSACTION"
          ],
          "description": "The status of the tank gauge"
        }
      },
      "required": [
        "product",
        "waterHeight",
        "waterVolume",
        "productHeight",
        "productVolume",
        "temperature",
        "gaugeStatus"
      ]
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Product ID that is being measured",
          "enum": [
            0,
            2,
            3,
            4,
            5,
            6,
            8,
            11,
            12,
            13
          ]
        },
        "productName": {
          "type": "string",
          "description": "Product that is being measured, well known products are No product (0), CNG (2), HIQ Diesel (3), LPG (4), HIQ Euro 95 (5), Gasoil Industry Extra (6), HIQ Super + 98 (8), Adblue (11),  HVO 100 Neste MY Renewable Diesel (12), Lamppetroleum/Kero (13)"
        }
      },
      "required": [
        "id",
        "productName"
      ]
    },
    "Mop": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "maximum": 99999,
          "maxLength": 5,
          "description": "MOP ID that is being used"
        },
        "mopName": {
          "type": "string",
          "description": "the method of payment name related to the id"
        }
      },
      "required": [
        "id",
        "mopName"
      ]
    },
    "Terminal": {
      "properties": {
        "terminalType": {
          "type": "string",
          "description": "Type of terminal where payments are registered",
          "enum": [
            "PTI",
            "PTO",
            "POS",
            "PUMP_TEST",
            "PTO_NL_DE"
          ]
        },
        "terminalId": {
          "type": "integer",
          "format": "int32",
          "maximum": 99999999,
          "maxLength": 8,
          "description": "This is the unique ID of the terminal, that should be printed on the Terminal somewhere. It is not used by the Integration Layer, instead there is a conversion table internally that takes Site Number and Terminal Site ID and maps that to the terminal ID internally. The reason that we already include it here is that we will be ready when in the future we are not reliant on interrnal programs to do the conversion anymore."
        },
        "terminalSiteId": {
          "type": "integer",
          "format": "int32",
          "maximum": 99,
          "maxLength": 2,
          "description": "This is an ID attributed to each terminal on a site. It identifies each terminal uniquely for that given site."
        }
      },
      "required": [
        "terminalType",
        "terminalSiteId"
      ]
    },
    "Error": {
      "description": "This problem will be reported in response to requests that are not valid.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "This field will be used as identification of the problem but won't lead to any documentation when dereferenced. ",
          "enum": [
            "about:blank"
          ]
        },
        "title": {
          "type": "string",
          "description": "A short, human-readable summary of the problem type."
        },
        "status": {
          "type": "number",
          "description": "The HTTP status code generated by the origin server for this occurrence of the problem"
        },
        "detail": {
          "type": "string",
          "description": "A human-readable explanation specific to this occurrence of the problem."
        },
        "instance": {
          "type": "string",
          "description": "urn:uuid:<X-Q8-KPNWE-messageId>"
        },
        "step": {
          "type": "string",
          "description": "The step that went wrong"
        }
      }
    },
    "Healthcheck": {
      "description": "result of the actuator health check.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The runtime status of the API.",
          "enum": [
            "UP",
            "DOWN"
          ]
        }
      }
    }
  },
  "paths": {
    "/cutovers": {
      "post": {
        "tags": [
          "cutover-controller"
        ],
        "summary": "create new Cutover",
        "operationId": "createNewCutoverUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the request"
          },
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "Correlation Id"
          },
          {
            "name": "X-Receiver-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Receiver Id"
          },
          {
            "name": "X-Sender-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Sender Id"
          },
          {
            "in": "body",
            "name": "cutover",
            "description": "cutover information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cutover"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted."
          },
          "400": {
            "description": "The value of one or more request parameters is not valid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "unsupported media type",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "too many requests",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "cutover-controller"
        ],
        "summary": "health check of the API",
        "operationId": "getHealthCheck",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The request has been accepted.",
            "schema": {
              "$ref": "#/definitions/Healthcheck"
            }
          },
          "400": {
            "description": "The value of one or more request parameters is not valid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "unsupported media type",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "too many requests",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "internal server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  }
}
