{
  "openapi": "3.0.3",
  "info": {
    "title": "Quote – CPQ Quotes (Proxy Apigee: quote-cpqquotes-v1)",
    "description": "<table>   \n  <thead>  \n    <tr>\n      <th>Version</th>\n      <th>Author</th>\n      <th>Date</th>\n      <th>Changes</th>\n    </tr>  \n  </thead>\n  <tbody>\n    <tr>\n      <td>1.0.0</td>\n      <td>Rita Santos Sole</td>\n      <td>2022-03-16</td>\n      <td>[NetCracker] Versão inicial</td>\n    </tr>\n  </tbody>\n   <tbody>\n    <tr>\n      <td>1.0.1</td>\n      <td>Juliana dos Santos</td>\n      <td>2025-02-21</td>\n      <td>[Jornada Comercial - Vlocity] Inclusão do campo deltaPercentage no response do GET /cpq/quotes/retrieve</td>\n    </tr>\n  </tbody>\n  <tbody>\n    <tr>\n      <td>1.0.2</td>\n      <td>Roberto Yukio</td>\n      <td>2025-10-22</td>\n      <td>[Fulfillment] Para venda de Site de SD WAN, inclusão de novos atributos na operação PATCH /cpq/quotes no request e reponse</td>\n    </tr>\n  </tbody>\n</table> \n\n\n## Objetivo\nAPI responsável pelas cotações provenientes de uma solução Federated CPQ (Configure Price Quote). Efetua consulta, criação e atualização de cotações.\n## Público-Alvo\nA API CPQ Quote contém um conjunto simples de operações que interagem com os sistemas de CRM ou de Vendas e seus usuários, onde uma cotação do cliente é criada com base em uma oferta de produto definida em um catálogo. \n## Provedores\nO backend provedor das APIs é o CPQ - Netcracker.\n## Contexto em que a API se Insere\n  \nEsta API está inserida no conjunto de APIs do domínio Quote e fornece um mecanismo padronizado para oferecer todos os parâmetros necessários para o tratamento de uma cotação do cliente. \n",
    "version": "1",
    "contact": {
      "name": "CC-Integração",
      "email": "coee.api.integracao@claro.com.br"
    },
    "x-claro-domains": [
      "Quote"
    ],
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/JOSEAPG2525_1/quote-cpq-quotes-proxy-apigee-quote-cpqquotes-v1/1"
  },
  "servers": [
    {
      "url": "https://api-lab.claro.com.br/quote/v1",
      "description": "Lab (SaaS)"
    },
    {
      "url": "https://api-dev.claro.com.br/quote/v1",
      "description": "Dev (SaaS)"
    },
    {
      "url": "https://api-test.claro.com.br/quote/v1",
      "description": "Test (SaaS)"
    },
    {
      "url": "https://api-sandbox.claro.com.br/quote/v1",
      "description": "Sandbox (SaaS)"
    },
    {
      "url": "https://api-homolog.claro.com.br/quote/v1",
      "description": "Homologação (SaaS)"
    },
    {
      "url": "https://api.claro.com.br/quote/v1",
      "description": "Produção (SaaS)"
    },
    {
      "url": "https://lab.apigw.claro.com.br/quote/v1",
      "description": "Lab (OPDK)"
    },
    {
      "url": "https://dev.apigw.claro.com.br/quote/v1",
      "description": "Dev (OPDK)"
    },
    {
      "url": "https://test.apigw.claro.com.br/test06/quote/v1",
      "description": "Test (OPDK)"
    },
    {
      "url": "https://cas.apigw.claro.com.br/quote/v1",
      "description": "Produção (OPDK Campinas)"
    },
    {
      "url": "https://lpa.apigw.claro.com.br/quote/v1",
      "description": "Produção (OPDK Lapa)"
    }
  ],
  "paths": {
    "/cpq/quotes": {
      "get": {
        "summary": "Recupera todas as cotações relacionadas a um Cliente ou a uma Oportunidade específica. Backend: CPQ - Netcracker.",
        "description": "<b>Como degustar esta API em sandbox:</b><br>Os seguintes cenários de retorno podem ser simulados, conforme o <b>opportunityId</b> informado:</p><br>Retorno de sucesso (HTTP 200):<br>opportunityId = 200 <br> <br>Retorno de erro Bad Request (HTTP 400):<br>(vazio ou não enviado esse parâmetro) <br> <br>",
        "tags": [
          "Lista ou consulta uma cotação (Get Quotes)"
        ],
        "x-claro-backends": [
          "CPQ - Netcracker"
        ],
        "x-claro-domains": [
          "Quote"
        ],
        "operationId": "getQuotes",
        "parameters": [
          {
            "name": "opportunityId",
            "in": "query",
            "description": "ID de oportunidade do RADAR.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "OOOi0001114Q0mCAEE"
            }
          },
          {
            "example": "name, state, quoteDate",
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "String usado para filtrar a resposta e retornar apenas nome, estado e data da cotação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto de negócio contendo os dados retornados pela API caso existam.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "451": {
            "$ref": "#/components/responses/451"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      },
      "patch": {
        "summary": "Funcionalidade responsavel por atualizar parcialmente uma cotação previamente criada e que o status permita modificação ('Inicial', 'Viabilidade pendente' ou 'Viabilidade concluída').  Backend: CPQ – Netcracker\n",
        "description": "<b>Como degustar esta API em sandbox:</b><br>Os seguintes cenários de retorno podem ser simulados, conforme o <b>id</b> informado:</p><br>Retorno de sucesso (HTTP 200):<br>id = 200 <br> <br>Retorno de erro Bad Request (HTTP 400):<br>(vazio ou não enviado esse parâmetro) <br> <br>",
        "tags": [
          "Atualiza uma cotação previamente criada (Patch Quotes)"
        ],
        "x-claro-backends": [
          "CPC Amdocs"
        ],
        "x-claro-domains": [
          "Quote"
        ],
        "operationId": "patchquote",
        "requestBody": {
          "description": "Solicita atualização de uma cotação.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/patchRequest"
                  },
                  {
                    "$ref": "#/components/schemas/patchRequestSite"
                  }
                ]
              },
              "examples": {
                "asIsRequest": {
                  "summary": "Patch",
                  "description": "Requisição usada para atualizar a cotação sinalizando que a consulta de viabilidade não é necessária para esta cotação.",
                  "value": {
                    "data": {
                      "id": "4rffr3434yg",
                      "extendedParameters": {
                        "skips": [
                          "true"
                        ]
                      }
                    }
                  }
                },
                "patchRequestSite": {
                  "$ref": "#/components/examples/patchRequestSite"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Objeto de negócio contendo os dados retornados pela API caso existam.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/patchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/patchResponseSite"
                    }
                  ]
                },
                "examples": {
                  "Sucesso": {
                    "$ref": "#/components/schemas/patchResponse"
                  },
                  "SucessoSite": {
                    "$ref": "#/components/examples/ResponseSite"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "451": {
            "$ref": "#/components/responses/451"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/cpq/quotes/retrieve": {
      "get": {
        "summary": "Esta operação consiste em recuperar uma cotação previamente criada e que foi oferecida a um cliente. Backend: CPQ - Netcracker.",
        "description": "<b>Como degustar esta API em sandbox:</b><br>Os seguintes cenários de retorno podem ser simulados, conforme o <b>id</b> informado:</p><br>Retorno de sucesso (HTTP 200):<br>id = 200 <br> <br>Retorno de erro Bad Request (HTTP 400):<br>(vazio ou não enviado esse parâmetro) <br> <br>",
        "tags": [
          "Recupera uma Cotação previamente criada (Retrieve Quote)"
        ],
        "x-claro-backends": [
          "CPQ - Netcracker"
        ],
        "x-claro-domains": [
          "Quote"
        ],
        "operationId": "getQuotesRetrieve",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Número de Identificação da Cotação da Netcracker.",
            "required": true,
            "schema": {
              "type": "string",
              "example": 17421
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Objeto de negócio contendo os dados retornados pela API caso existam.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "451": {
            "$ref": "#/components/responses/451"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/cpq/quotes/states": {
      "patch": {
        "summary": "Funcionalidade responsavel por alterar o status da cotação do CPQ de acordo com a implementação do RADAR. Modifica o Status de uma Cotação previamente criada. Backend: CPQ – Netcracker",
        "description": "<b>Como degustar esta API em sandbox:</b><br>Os seguintes cenários de retorno podem ser simulados, conforme o <b>quoteId</b> informado:</p><br>Retorno de sucesso (HTTP 200):<br>quoteId = 200 <br> <br>Retorno de erro Bad Request (HTTP 400):<br>(vazio ou não enviado esse parâmetro) <br> <br>",
        "tags": [
          "Atualiza o estatus de uma cotação (Patch Quotes States)"
        ],
        "x-claro-backends": [
          "CPQ – Netcracker"
        ],
        "x-claro-domains": [
          "Quote"
        ],
        "operationId": "patchquotestates",
        "requestBody": {
          "description": "Solicita dados para atualização da cotação.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchStatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Objeto de negócio contendo os dados retornados pela API caso existam.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchStatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "410": {
            "$ref": "#/components/responses/410"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "451": {
            "$ref": "#/components/responses/451"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth2/v1/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "apiVersion": {
        "description": "Retorna sempre a versão major, minor e correções da API efetivamente consumida. \n<br>O formato é “versão major.versão minor.correções”. Exemplo: \"apiVersion: 2.1.12;2021-05-14\". \n<br>Quando a versão major não é solicitada, a versão contratada pelo cliente é retornada. Quando não há restrição de contratação, retorna a última disponível.\n<br>Referência: https://semver.org/lang/pt-BR/",
        "type": "string",
        "example": "1;2025-02-21"
      },
      "transactionId": {
        "description": "Retorna o identificador de rastreabilidade de transação gerado pela API. Caso o identificador foi fornecido pelo cliente, o mesmo é colocado sem alteração.",
        "type": "string",
        "example": "26210a02-b77f-472c-882f-e8d24883b2ec"
      },
      "error": {
        "description": "Objeto retornado na ocorrência de algum erro (4xx/5xx).",
        "required": [
          "apiVersion",
          "transactionId",
          "error"
        ],
        "type": "object",
        "properties": {
          "apiVersion": {
            "$ref": "#/components/schemas/apiVersion"
          },
          "transactionId": {
            "$ref": "#/components/schemas/transactionId"
          },
          "error": {
            "type": "object",
            "properties": {
              "httpCode": {
                "type": "string",
                "description": "Código de erro HTTP"
              },
              "errorCode": {
                "type": "string",
                "description": "Código de erro interno da API no formato. Ex.: API-3566. Esse código poderá ser utilizado internamente pelo cliente para mapeamento customizado da mensagem de erro."
              },
              "message": {
                "type": "string",
                "description": "Mensagem de erro resumida"
              },
              "detailedMessage": {
                "type": "string",
                "description": "Mensagem de erro detalhada."
              },
              "link": {
                "type": "object",
                "description": "Objeto para conter o link para a página com a documentação detalhada dos códigos e descrições dos erros no API Portal\n",
                "properties": {
                  "rel": {
                    "type": "string",
                    "enum": [
                      "related"
                    ],
                    "description": "Para referenciar a página de erros do API portal será utilizada a semântica “related” nesse cenário"
                  },
                  "href": {
                    "type": "string",
                    "description": "URL completa do recurso"
                  }
                }
              }
            }
          }
        },
        "xml": {
          "name": "xml"
        }
      },
      "searchQuoteResponse": {
        "type": "object",
        "required": [
          "apiVersion",
          "transactionId",
          "data"
        ],
        "properties": {
          "apiVersion": {
            "$ref": "#/components/schemas/apiVersion"
          },
          "transactionId": {
            "$ref": "#/components/schemas/transactionId"
          },
          "data": {
            "type": "array",
            "description": "Estrutura de retorno com dados da cotação.",
            "items": {
              "$ref": "#/components/schemas/quoteItem"
            }
          }
        }
      },
      "quoteItem": {
        "description": "Dados da cotação",
        "required": [
          "href",
          "id",
          "version",
          "state",
          "quoteDate",
          "name"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "Referencia a cotação.",
            "example": "https://public-gateway-cpq-int1.claro-cpq.managed.netcracker.cloud/quote-tmf-service/quoteManagement/quote/3953a502-c313-4c7c-a583-0d999abc84ff"
          },
          "id": {
            "description": "Identificador único da Cotação.",
            "type": "string",
            "example": "3680ac68-2968-4e05-be5d-8d1405ccf1e1"
          },
          "version": {
            "description": "Número da versão da cotação.",
            "type": "string",
            "example": "410"
          },
          "state": {
            "description": "Estado da cotação.",
            "type": "string",
            "example": "ENTERING"
          },
          "quoteDate": {
            "description": "Data e hora em que a cotação foi criada.",
            "type": "string",
            "format": "date-time",
            "example": "2021-11-15T14:07:54.339286Z"
          },
          "name": {
            "description": "Nome da cotação.",
            "type": "string",
            "example": "Quote #348"
          },
          "extendedParameters": {
            "description": "O atributo contém parâmetros adicionais para o cenário de vendas.",
            "type": "object",
            "properties": {
              "finalApprovalInfos": {
                "type": "array",
                "items": {
                  "description": "Estrutura das informações de aprovação definidas no CPQ usando regras de aprovações",
                  "properties": {
                    "finalApprovalLevel": {
                      "description": "Nível de aprovação definida no CPQ usando regras de aprovação.",
                      "type": "number",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      },
      "quoteItemSite": {
        "description": "Dados da cotação",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Id do quote item",
            "example": [
              "8a88d2c3-4e13-4c9e-91fd-58944c2c6673"
            ]
          },
          "extendedParameters": {
            "description": "O atributo contém parâmetros adicionais para o cenário de vendas.",
            "type": "object",
            "properties": {
              "parentContractCode": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "ID do contrato, referencia o extendedParameters.parentContracts[].parentContractCode",
                  "example": [
                    "VES-3 UNV202500122"
                  ]
                }
              }
            }
          },
          "subAction": {
            "type": "string",
            "description": "Sub-ação a ser executada neste item da cotação durante o cancelamento em voo:\n\n•\tROLLBACK\nPara maiores informações de quando enviar esse parametro, verifique o document CPQ: CLBR1-DI-CPQ-008 - Cancelamento em voo\n",
            "example": "ROLLBACK"
          }
        }
      },
      "createQuoteResponse": {
        "type": "object",
        "description": "Identificação do novo cliente, conta financeira e canal de pagamento que foram criados",
        "required": [
          "apiVersion",
          "transactionId",
          "data"
        ],
        "properties": {
          "apiVersion": {
            "$ref": "#/components/schemas/apiVersion"
          },
          "transactionId": {
            "$ref": "#/components/schemas/transactionId"
          },
          "data": {
            "properties": {
              "href": {
                "type": "string",
                "description": "Referencia a cotação.",
                "example": "https://public-gateway-cpq-int1.claro-cpq.managed.netcracker.cloud/quote-tmf-service/quoteManagement/quote/977d47ff-bffe-4221-ba35-9356d6cfe5d7"
              },
              "id": {
                "type": "string",
                "description": "Identificador único da cotação.",
                "example": "977d47ff-bffe-4221-ba35-9356d6cfe5d7"
              },
              "expirationDate": {
                "type": "string",
                "description": "A data em que a Cotação expira.",
                "example": "2022-04-19T09:11:56.273205Z"
              },
              "version": {
                "type": "string",
                "description": "Versão da Cotação (por exemplo, se o cliente rejeitou a Cotação, mas as negociações ainda abrem uma nova versão da Cotação é gerenciada).",
                "example": "159"
              },
              "number": {
                "type": "string",
                "description": "Número sequencial da Cotação.",
                "example": "331"
              },
              "description": {
                "type": "string",
                "description": "Descrição da Cotação.",
                "example": "Created via iFrame"
              },
              "category": {
                "type": "string",
                "description": "Usado para categorizar a Cotação a partir de uma perspectiva de negócio que pode ser útil para o sistema CRM (nome da Categoria cliente).",
                "example": "Empresas"
              },
              "state": {
                "type": "string",
                "description": "Estado da cotação.",
                "example": "IN_PROGRESS"
              },
              "quoteDate": {
                "type": "string",
                "format": "DateTime",
                "description": "Data e hora quando a Cotação foi criada.",
                "example": "2022-01-19T09:11:56.273205Z"
              },
              "validFor": {
                "$ref": "#/components/schemas/validFor"
              },
              "relatedParties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/relatedParties"
                }
              },
              "quoteItems": {
                "description": "Entidade que representa uma oferta de produtos na cotação.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/quoteItems"
                }
              },
              "quoteTotalPrices": {
                "description": "Representa o preço total da cotação.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/quoteTotalPrices"
                }
              },
              "customerCategory": {
                "type": "string",
                "description": "Identificador exclusivo da categoria do Cliente.",
                "example": "b8f6b060-2ac9-4836-91ba-d3b471a71743"
              },
              "customerId": {
                "type": "string",
                "description": "Identificador único do cliente.",
                "example": "521069f3-c58e-4a4d-b1aa-29ecfef005aa"
              },
              "distributionChannelId": {
                "type": "string",
                "description": "Identificador exclusivo do Canal de Distribuição através do qual a Cotação foi criada.",
                "example": "95b3451d-afaa-4961-9f2b-5370416f99bd"
              },
              "initialDistributionChannelId": {
                "type": "string",
                "description": "ID de um Canal de Distribuição usado durante a criação de cotações. O valor é definido uma vez e nunca alterado durante o ciclo de vida da Cotação.",
                "example": "95b3451d-afaa-4961-9f2b-5370416f99bd"
              },
              "distributionChannelName": {
                "type": "string",
                "description": "Nome do Canal de Distribuição através do qual a Cotação foi criada.",
                "example": "Canal Direto"
              },
              "name": {
                "type": "string",
                "description": "Nome da Cotação.",
                "example": "Quote #391"
              },
              "opportunityIds": {
                "type": "string",
                "description": "Identificador único da Oportunidade.",
                "example": "OOOi0001114Q0mCAEE"
              },
              "revision": {
                "type": "string",
                "description": "Atributo é usado para marcar a Cotação em andamento. É incrementado em caso de alterações na Cotação após a submissão.",
                "example": "0"
              },
              "updatedWhen": {
                "type": "string",
                "format": "DateTime",
                "description": "Data e hora da atualização da cotação.",
                "example": "2022-03-22T17:54:58.045341Z"
              },
              "overrideMode": {
                "type": "string",
                "description": "Indica que tipo de preço é substituível (GROSS ou NET).",
                "example": "GROSS",
                "enum": [
                  "GROSS",
                  "NET"
                ]
              },
              "approvalLevel": {
                "type": "string",
                "description": "Nível de aprovação para a Cotação.",
                "example": "0"
              },
              "placeRefs": {
                "description": "Local descrito por referência ou por valor vinculado a uma entidade específica.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/placeRefs"
                }
              },
              "extendedParameters": {
                "$ref": "#/components/schemas/extendedParameters"
              },
              "marketRefs": {
                "description": "Representa mercados relacionados.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/marketRefs"
                }
              },
              "geographicSiteGroups": {
                "description": "Representa mercados relacionados.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/geographicSiteGroups"
                }
              }
            }
          }
        }
      },
      "validFor": {
        "description": "O período durante a Cotação, ofertas e preços são válidos",
        "type": "object",
        "properties": {
          "startDateTime": {
            "description": "Data Inicial a Cotação, ofertas e preços são válidos.",
            "type": "string",
            "example": "2022-01-19T09:11:56.273205Z"
          },
          "endDateTime": {
            "description": "Data Final a Cotação, ofertas e preços são válidos",
            "type": "string",
            "example": "2022-04-19T09:11:56.273205Z"
          }
        }
      },
      "relatedParties": {
        "properties": {
          "id": {
            "description": "Identificador único da Parte Relacionada.",
            "type": "string",
            "example": "76bc51c7-be09-4d18-b468-c9e9b5388553"
          },
          "role": {
            "description": "Papel da Parte Relacionada",
            "type": "string",
            "example": "Customer"
          }
        }
      },
      "quoteItems": {
        "properties": {
          "id": {
            "description": "Identificador exclusivo do Item de cotação. Caso o Item de Cotação seja iniciado a partir de um Produto, o Id é selecionado automaticamente do Produto.\n\n Nota: Pode ser fornecido na solicitação no formato de UUID.\n",
            "example": "76bc51c7-be09-4d18-b468-c9e9b5388553"
          },
          "state": {
            "description": "Estado do Item de Cotação, por exemplo:\n ·  OPEN\n ·  QUALIFIED\n ·  NOT_QUALIFIED\n ·  COMPLETED\n",
            "type": "string",
            "example": "QUALIFIED",
            "enum": [
              "OPEN",
              "QUALIFIED",
              "NOT_QUALIFIED",
              "COMPLETED"
            ]
          },
          "quantity": {
            "description": "Indica a quantidade do Produto a ser cotado.\n Valor inicial = 1\n",
            "type": "integer",
            "example": "1"
          },
          "amount": {
            "description": "O valor do multiplicador que define se o Item de Cotação seria transformado em várias Instâncias de Produto na conclusão do Processamento de Cotação\n Valor inicial = 1             \n",
            "type": "integer",
            "example": "1"
          },
          "action": {
            "description": "Ação a ser executada neste Item de Cotação, por exemplo:\n·  ADD\n·  MODIFY\n·  DISCONNECT\n·  DASH           \n",
            "type": "string",
            "example": "ADD",
            "enum": [
              "ADD",
              "MODIFY",
              "DISCONNECT",
              "DASH"
            ]
          },
          "productOffering": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificador único da Oferta de Produto.",
                "type": "string",
                "example": "12ea696c-f3f0-4c56-885f-503ec66a7066"
              },
              "name": {
                "description": "Nome da Oferta de Produto",
                "type": "string",
                "example": "10MB Telemetria Individual (CAT-M)"
              }
            }
          },
          "quoteItemPrices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/quoteItemPrices"
            }
          },
          "product": {
            "$ref": "#/components/schemas/product"
          },
          "parentQuoteItemId": {
            "description": "Identificador exclusivo do item de cotação pai.\n\nNota: Pode ser fornecido na solicitação no formato de UUID para especificar a hierarquia necessária dos itens de cotação.\n",
            "type": "string",
            "example": "340a27c5-4d5f-49ab-830c-4ebacad414d0"
          },
          "quoteItemType": {
            "description": "Indica o tipo base (classe) do Item de Cotação.",
            "type": "string",
            "example": "Product offering"
          },
          "rootQuoteItemId": {
            "description": "Identificador exclusivo do item de cotação raiz.",
            "type": "string",
            "example": "340a27c5-4d5f-49ab-830c-4ebacad414d0"
          },
          "marketId": {
            "description": "Identificador único do Mercado.",
            "type": "string",
            "example": "a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "distributionChannelId": {
            "description": "Identificador exclusivo do Canal de Distribuição através do qual a Cotação foi criada.",
            "type": "string",
            "example": "95b3451d-afaa-4961-9f2b-5370416f99bd"
          },
          "availabilityCheckResult": {
            "description": "Armazena o resultado da verificação de disponibilidade.",
            "type": "string",
            "example": "AVAILABLE"
          },
          "approvalLevel": {
            "description": "Nível de aprovação do Item de Cotação.",
            "type": "string",
            "example": "0"
          },
          "extendedParameters": {
            "description": "O atributo contém parâmetros adicionais da entidade e mostra o estado da verificação de viabilidade.",
            "type": "object",
            "properties": {
              "states": {
                "description": "Estado da Verificação de Viabilidade (FC - Feasibility Check)",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/states"
                }
              }
            }
          },
          "creationTime": {
            "description": "Tempo de criação.",
            "type": "string",
            "example": "2022-03-22T16:28:59.399064Z"
          },
          "geographicSiteGroupId": {
            "description": "No nível de item de cotação o parametro em questão, é uma string única com id para o \"geographicSiteGroup.",
            "type": "string",
            "example": "636f5931-a56c-4750-9445-d703385cb578"
          }
        }
      },
      "quoteItemPrices": {
        "properties": {
          "priceType": {
            "description": "Tipo de preço, por exemplo:\n·  RC\n·  NRC\n·  Total RC\n·  Total NRC\n·  Total RC Reduction\n·  Total NRC Reduction\n·  Total RC Tax\n·  Total NRC Tax\n·  Total Deactivation Fee\n·  Total Deactivation Fee Tax\n",
            "type": "string",
            "example": "RC",
            "enum": [
              "RC",
              "NRC",
              "Total RC",
              "Total NRC",
              "Total RC Reduction",
              "Total NRC Reduction",
              "Total RC Tax",
              "Total NRC Tax",
              "Total Deactivation Fee",
              "Total Deactivation Fee Tax"
            ]
          },
          "recurringChargePeriod": {
            "description": "Período de cobrança dos encargos recorrentes, por exemplo:\n·  Day\n·  Week\n·  Month\n·  Quarter\n·  Year\nNota: o atributo deve ser preenchido apenas para quoteItemPrices (preço unitário)\n",
            "type": "string",
            "example": "Month",
            "enum": [
              "Day",
              "Week",
              "Month",
              "Quarter",
              "Year"
            ]
          },
          "name": {
            "description": "Nome do Preço do Item de Cotação.\n · para Preço Unitário -%Nome da Especificação do Componente de Preço%\n · para Total por Local, Produto ou Cotação - Total RC/NRC por Local, Produto ou Cotação\n",
            "type": "string",
            "example": "Montlhy Charge Price"
          },
          "price": {
            "properties": {
              "taxIncludedAmount": {
                "description": "Todos os impostos incluídos valor",
                "type": "string",
                "example": "5.00"
              },
              "dutyFreeAmount": {
                "description": "Valor de todos os impostos excluídos",
                "type": "string",
                "example": "3.37"
              },
              "overridden": {
                "description": "O sinalizador indica se o preço é ou não substituído (definido como True se overiddenValue for fornecido)",
                "type": "boolean",
                "example": false
              },
              "taxRate": {
                "description": "Atributo para taxa de imposto",
                "type": "number",
                "format": "float",
                "example": 48.26896
              },
              "deltaPercentage": {
                "description": "Porcentagem de desconto aplicado na oferta ",
                "type": "string",
                "example": "- 73,76 %"
              },
              "priceValueRef": {
                "description": "Identificador exclusivo do preço do Catálogo de Ofertas de Produtos:\n · Para preço em QuotePrice, priceValueRef = Price Key Id e depende de QuotePrice.priceType\n · Para preço em PriceAlteration, priceValueRef = ID da ação de promoção no catálogo de ofertas de produtos\n",
                "type": "string",
                "example": "c6cfcb57-ad61-47e9-88ce-6da10f8ece29"
              },
              "prodOfferingPriceTaxAlterationId": {
                "description": "Identificador único do envolvimento fiscal",
                "type": "string",
                "example": "0e1d1803-8a83-4656-bb7b-5d7605e99b04"
              },
              "valueBasePriceExcludingTax": {
                "description": "Preço Base/Valor Absoluto da Promoção excluindo impostos",
                "type": "string",
                "example": "3.372250"
              },
              "valueBasePriceExcludingTaxRounded": {
                "description": "Preço base/valor absoluto da promoção valor arredondado excluindo impostos",
                "type": "string",
                "example": "3.37"
              },
              "valueBasePriceIncludingTax": {
                "description": "Preço Base/Promoção Valor absoluto incluindo impostos",
                "type": "string",
                "example": 5
              },
              "valueBasePriceIncludingTaxRounded": {
                "description": "Preço base/promoção Valor arredondado absoluto incluindo impostos",
                "type": "string",
                "example": "5.00"
              },
              "valueExcludingTax": {
                "description": "Valor do preço excluindo impostos",
                "type": "string",
                "example": "3.372250"
              },
              "valueExcludingTaxRounded": {
                "description": "Valor arredondado do preço sem impostos",
                "type": "string",
                "example": "3.37"
              },
              "valueIncludingTax": {
                "description": "Valor do preço incluindo impostos",
                "type": "string",
                "example": 5
              },
              "valueIncludingTaxRounded": {
                "description": "Valor arredondado do preço incluindo impostos",
                "type": "string",
                "example": "5.00"
              },
              "valueSubTotalPriceExcludingTax": {
                "description": "Preço subtotal do item de cotação excluindo impostos",
                "type": "string",
                "example": "3.372250"
              },
              "valueSubTotalPriceExcludingTaxRounded": {
                "description": "Preço subtotal arredondado do item de cotação excluindo impostos",
                "type": "string",
                "example": "3.37"
              },
              "valueSubTotalPriceIncludingTax": {
                "description": "Preço subtotal do item de cotação, incluindo impostos",
                "type": "string",
                "example": "5"
              },
              "valueSubTotalPriceIncludingTaxRounded": {
                "description": "Preço do item de cotação subtotal arredondado, incluindo impostos",
                "type": "string",
                "example": "5.00"
              }
            }
          },
          "priceComponentSpecificationRef": {
            "description": "Identificador exclusivo da Especificação do Componente de Preço.\n\n Nota: o atributo deve ser preenchido apenas para quoteItemPrices (unit price).\n",
            "type": "string",
            "example": "7b71c6bf-2b69-416e-b7e3-f14c738df04d"
          },
          "priceSpecificationType": {
            "description": "Especificação do tipo de preço (Nome da Especificação do Componente de Preço), por exemplo:\n·  Activation fee\n·  Deactivation fee\n·  Recurrent fee\n·  Usage fee\nObservação: o atributo deve ser preenchido apenas para quoteItemPrices (preço unitário).\n",
            "type": "string",
            "example": "Montlhy Charge Price"
          },
          "priceCurrency": {
            "description": "Moeda do preço do Catálogo de Ofertas de Produtos.",
            "type": "string",
            "example": "BRL"
          }
        }
      },
      "product": {
        "description": "Descrição dos produtos em cotação.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Nome do produto em cotação.",
            "type": "string",
            "example": "10MB Telemetria Individual (CAT-M) #1"
          },
          "characteristics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/characteristics"
            }
          },
          "productSpecification": {
            "$ref": "#/components/schemas/productSpecification"
          }
        }
      },
      "characteristics": {
        "description": "Entidade que representa característica da Oferta de Produtos",
        "type": "object",
        "properties": {
          "id": {
            "description": "Exibindo o o número único da Característica.",
            "type": "string",
            "example": "a4718558-fcaf-4c3d-a6d8-d0063575f655"
          },
          "name": {
            "description": "Exibindo o nome da Característica.",
            "type": "string",
            "example": "Plataforma do Produto"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/values"
            }
          },
          "rawValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rawValues"
            }
          },
          "visible": {
            "description": "Atributo reflete a visibilidade da Característica na interface do usuário.",
            "type": "string",
            "example": "false"
          }
        }
      },
      "values": {
        "description": "Exibindo valor (s) da Característica para a lista.",
        "type": "string",
        "example": "Mobilidade"
      },
      "rawValues": {
        "description": "Valor bruto da Característica.",
        "type": "string",
        "example": "Mobilidade"
      },
      "productSpecification": {
        "description": "Referencia da especificação do produto.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador exclusivo da Especificação do Produto.",
            "type": "string",
            "example": "b0082535-403f-46d2-9d5e-d0db6b5c6725"
          },
          "version": {
            "description": "Versão da Especificação do Produto.",
            "type": "string",
            "example": "0.2"
          },
          "name": {
            "description": "Nome da Especificação do Produto.",
            "type": "string",
            "example": "Claro Cat-M (PS)"
          }
        }
      },
      "quoteTotalPrices": {
        "description": "Representa o preço total da cotação.",
        "type": "object",
        "properties": {
          "priceType": {
            "description": "Uma categoria que descreve o preço como recorrente.",
            "type": "string",
            "example": "Total NRC"
          },
          "name": {
            "type": "string",
            "description": "Nome da categoria que descreve o preço como recorrente.",
            "example": "Total NRC by Quote"
          },
          "price": {
            "description": "A entidade que contém valores de preço.",
            "type": "object",
            "properties": {
              "taxIncludedAmount": {
                "type": "string",
                "description": "Todos os impostos incluídos somam.",
                "example": "0.00"
              },
              "dutyFreeAmount": {
                "type": "string",
                "description": "Todos os impostos excluídos.",
                "example": "0.00"
              },
              "valueExcludingTaxRounded": {
                "type": "string",
                "description": "Preço arredondado excluindo impostos.",
                "example": "0.00"
              },
              "valueIncludingTaxRounded": {
                "type": "string",
                "description": "Preço arredondado, incluindo impostos.",
                "example": "0.00"
              }
            }
          },
          "priceCurrency": {
            "description": "Moeda do preço do Catálogo de Ofertas de Produtos.",
            "type": "string",
            "example": "BRL"
          }
        }
      },
      "placeRefs": {
        "description": "Um local relacionado define um local descrito por referência ou por valor vinculado a uma entidade específica.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único do local relacionado.",
            "type": "string",
            "example": "7fb28c07-54c4-4636-b9d7-77a0594a5afb"
          },
          "name": {
            "description": "Nome do local relacionado.",
            "type": "string",
            "example": "Home"
          },
          "role": {
            "description": "Função do local relacionado.",
            "type": "string",
            "example": "customerLocation"
          },
          "addedToTheQuote": {
            "description": "Flag que indica se a função é adicionado ou não à Cotação",
            "type": "boolean",
            "example": true
          },
          "address": {
            "description": "Endereço do local relacionado.",
            "type": "string",
            "example": "Av Antônio Pincinato 11036, Jundiaí, Jardim Guanabara"
          },
          "externalId": {
            "description": "Identificador externo do local a partir do sistema mestre.",
            "type": "string",
            "example": "1234567891"
          },
          "marketId": {
            "description": "Identificador único da área geográfica à qual este Lugar pertence.",
            "type": "string",
            "example": "a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "marketName": {
            "description": "Nome da área geográfica à qual este Lugar pertence.",
            "type": "string",
            "example": "Brasil"
          },
          "extendedParameters": {
            "description": "A entidade que contém valores de preço.",
            "type": "object",
            "properties": {
              "siteAddressStreetNames": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressStreetNames"
                }
              },
              "siteAddressPostcodes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressPostcodes"
                }
              },
              "siteAddressComplements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressComplements"
                }
              },
              "siteAddressStreetNrs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressStreetNrs"
                }
              },
              "siteAddressAcronymStateOrProvinces": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressAcronymStateOrProvinces"
                }
              },
              "siteAddressStreetTypes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressStreetTypes"
                }
              },
              "siteAddressNeighborhoods": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressNeighborhoods"
                }
              },
              "siteAddressLocalitions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressLocalitions"
                }
              },
              "siteLatitudes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteLatitudes"
                }
              },
              "siteIds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteIds"
                }
              },
              "siteAddressLandmarks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteAddressLandmarks"
                }
              },
              "siteLongitudes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/siteLongitudes"
                }
              },
              "contractCustomerFinal": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/contractCustomerFinal"
                }
              }
            }
          }
        }
      },
      "placeRefsSite": {
        "description": "Estrutura que contém os locais de instalação enviados durante a criação/abertura do orçamento.",
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Place ref id",
            "example": "896bcdac-fa2b-5368-4387-18cff27a3a23"
          },
          "extendedParameters": {
            "type": "object",
            "properties": {
              "siteName": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Nome do Site",
                  "example": [
                    "Jabaquara"
                  ]
                }
              },
              "siteCnlCode": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Sigla CNL do endereço de instalação.",
                  "example": [
                    "SPO"
                  ]
                }
              },
              "siteCnlAcronym": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Código CNL do local de instalação",
                  "example": [
                    "SPO123"
                  ]
                }
              },
              "siteDocumentCnpj": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "CNPJ do local de instalação.",
                  "example": [
                    "12481670000156"
                  ]
                }
              },
              "siteMunicipalSubscription": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Inscrição Municipal do local de instalação.",
                  "example": [
                    "24986160"
                  ]
                }
              },
              "siteStateSubscription": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Inscrição Estadual do local de instalação.",
                  "example": [
                    "041234567"
                  ]
                }
              },
              "billingChargingCleAccount": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Conta CLE, relacionada à conta de cobrança (conta + sub-conta CLE).",
                  "example": [
                    "123450002"
                  ]
                }
              },
              "billingChargingCnpj": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "CNPJ, relacionado do endereço de cobrança.",
                  "example": [
                    "44976580000122"
                  ]
                }
              },
              "billingDueDate": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Data de vencimento da fatura. Esta data deve estar entre os dias 1 e 31 (dia do mês).",
                  "example": [
                    "10"
                  ]
                }
              },
              "billingFullAddress": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Endereço de cobrança completo.",
                  "example": [
                    "Alameda Santos, 1945, Sobreloja H, São Paulo, SP"
                  ]
                }
              },
              "dischargeSapCode": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Código descarga SAP.",
                  "example": [
                    "C-12356"
                  ]
                }
              },
              "sapStation": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Estação SAP.",
                  "example": [
                    "SAP-2356"
                  ]
                }
              },
              "osSap": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "OS SAP",
                  "example": [
                    "OS-98765"
                  ]
                }
              }
            }
          }
        }
      },
      "extendedParameters": {
        "description": "O atributo contém parâmetros adicionais para o cenário de vendas.",
        "type": "object",
        "required": [
          "originOpportunities",
          "quoteIds",
          "assignedToUsernames",
          "hrefOpportunities",
          "contractCustomerOwnerDocumentNumbers",
          "customerIds",
          "originTypes",
          "hrefQuotes",
          "hrefCustomers",
          "opportunityIds",
          "hrefAssignedsTo"
        ],
        "properties": {
          "originOpportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/originOpportunities"
            }
          },
          "quoteIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/quoteIds"
            }
          },
          "hrefAssignedsTo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hrefAssignedsTo"
            }
          },
          "assignedToUsernames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/assignedToUsernames"
            }
          },
          "hrefOpportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hrefOpportunities"
            }
          },
          "contractCustomerOwnerAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contractCustomerOwnerAccounts"
            }
          },
          "contractCustomerOwnerDocumentNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contractCustomerOwnerDocumentNumbers"
            }
          },
          "customerIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/customerIds"
            }
          },
          "originTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/originTypes"
            }
          },
          "hrefQuotes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hrefQuotes"
            }
          },
          "Skips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/skips"
            }
          },
          "hrefCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hrefCustomers"
            }
          },
          "finalApprovalInfos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/finalApprovalInfos"
            }
          },
          "opportunityIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/opportunityIds"
            }
          },
          "technicalContactPhones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/technicalContactPhones"
            }
          },
          "cnaes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cnaes"
            }
          },
          "contactEmails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contactEmails"
            }
          },
          "salesPortfolios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/salesPortfolios"
            }
          },
          "contactNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contactNames"
            }
          },
          "technicalcontactEmails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/technicalcontactEmails"
            }
          },
          "executiveBoards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/executiveBoards"
            }
          },
          "verticals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/verticals"
            }
          },
          "nationalBoards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/nationalBoards"
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/segments"
            }
          },
          "technicalcontactNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/technicalcontactNames"
            }
          },
          "projectDescriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/projectDescriptions"
            }
          },
          "portes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portes"
            }
          },
          "contactPhoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contactPhoneNumbers"
            }
          },
          "projectIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/projectIds"
            }
          },
          "gol": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/gol"
            }
          }
        }
      },
      "originOpportunities": {
        "description": "Origem da Oportunidade determina a lista de ofertas-alvo a serem exibidas de acordo com o cenário de vendas.",
        "type": "string",
        "example": "Aquisição",
        "enum": [
          "Aquisição",
          "Aquisição do mesmo",
          "Renovação",
          "Alteração",
          "Reposição de Aparelhos Governo"
        ]
      },
      "quoteIds": {
        "description": "ID da cotação no sistema externo (Salesforce).",
        "type": "string",
        "example": "Q-03389-BR"
      },
      "customerIds": {
        "description": "ID do cliente no Salesforce.",
        "type": "string",
        "example": "A-017004-BR"
      },
      "hrefAssignedsTo": {
        "description": "Dados de hiperlink para navegação para engenheiro de vendas no Salesforce.",
        "properties": {
          "text": {
            "description": "Nome do engenheiro de vendas em Salesforce",
            "type": "string",
            "example": "AssignedTo Name"
          },
          "url": {
            "description": "Hiperlink para navegação no perfil do engenheiro de vendas no Salesforce.",
            "type": "string",
            "example": "https://usclaro--netdev.lightning.force.com/lightning/r/User/UUU2i0000005gbzAAA/view"
          }
        }
      },
      "assignedToUsernames": {
        "description": "Nome de usuário da pessoa à qual a proposta foi atribuída. Usado para GAIA como um parâmetro \"username\" (Contato do cliente do site de instalação.) - Salesforce.",
        "type": "string",
        "example": "assign.to.username@usclaro.com"
      },
      "hrefOpportunities": {
        "description": "Estrutura que contém informações de oportunidade no Salesforce.",
        "properties": {
          "text": {
            "description": "Nome da oportunidade no Salesforce.",
            "type": "string",
            "example": "SFDC Opportunity for Netcracker"
          },
          "url": {
            "description": "Link para a oportunidade no Salesforce.",
            "type": "string",
            "example": "https://usclaro--netdev.lightning.force.com/lightning/r/opportunity/OOO2i000002E94hAAC/view"
          }
        }
      },
      "contractCustomerOwnerAccounts": {
        "description": "Atributo específico para o número do documento de um cliente. Número do Documento do Cliente – Conta CLE.",
        "type": "string",
        "example": "100003220"
      },
      "contractCustomerOwnerDocumentNumbers": {
        "description": "Número do Documento do Cliente (CNPJ).",
        "type": "string",
        "example": "18844015000100"
      },
      "originTypes": {
        "description": "Especifica o tipo de origem do cenário para a oportunidade",
        "type": "string",
        "example": "Novo Contrato",
        "enum": [
          "Novo Contrato",
          "Incremento",
          "Incremento diferente da base",
          "Aparelhos de backup / SIMCARD total",
          "defesa de base",
          "antecipada",
          "prorrogação anual",
          "atualização",
          "atualização parcial",
          "rebaixamento",
          "Alteração de endereço",
          "repactuação"
        ]
      },
      "hrefQuotes": {
        "description": "Estrutura que contém informações de oportunidade no Salesforce.",
        "properties": {
          "text": {
            "description": "Nome da oportunidade no Salesforce.",
            "type": "string",
            "example": "SFDC Quote Name #001"
          },
          "url": {
            "description": "Nome da oportunidade no Salesforce.",
            "type": "string",
            "example": "https://usclaro--netdev.lightning.force.com/lightning/r/quote/QQQi0001114Q0mCAEE/view"
          }
        }
      },
      "skips": {
        "description": "Atributo usado para Salesforce invocar a API CPQ “Patch Quote” para atualizar que a consulta de viabilidade não é necessário para a cotação.",
        "type": "string",
        "example": "true"
      },
      "states": {
        "description": "Estado da Verificação de Viabilidade (FC - Feasibility Check)",
        "type": "string",
        "example": "Done"
      },
      "hrefCustomers": {
        "description": "Estrutura que contém informações de cliente no Salesforce.",
        "properties": {
          "text": {
            "description": "Nome do cliente no Salesforce.",
            "type": "string",
            "example": "SFDC Customer, INC"
          },
          "url": {
            "description": "Link para um cliente no Salesforce.",
            "type": "string",
            "example": "https://usclaro--netdev.lightning.force.com/lightning/r/account/CCC2i000003FUcOAAW/view"
          }
        }
      },
      "finalApprovalInfos": {
        "description": "Estrutura das informações de aprovação definidas no CPQ usando regras de aprovações",
        "properties": {
          "finalApprovalLevel": {
            "description": "Nível de aprovação definida no CPQ usando regras de aprovação.",
            "type": "number",
            "example": 1
          },
          "finalApprovalPriority": {
            "description": "Prioridade de aprovação definida no CPQ usando regras de aprovação.",
            "type": "number",
            "example": 0
          },
          "finalApprovalReason": {
            "description": "Razão de aprovação definida no CPQ usando regras de aprovação.",
            "type": "string",
            "example": "EBITDA Margin"
          }
        }
      },
      "opportunityIds": {
        "description": "ID da oportunidade no Salesforce.",
        "type": "string",
        "example": "OOOi0001114Q0mCAEE"
      },
      "technicalContactPhones": {
        "description": "Telefone do contato.",
        "type": "string",
        "example": "11987651234"
      },
      "cnaes": {
        "description": "Código CNAE. Lista de todas as atividades econômicas possíveis declaradas na lei brasileira.",
        "type": "string",
        "example": "821130000"
      },
      "contactEmails": {
        "description": "Email do Contato",
        "type": "string",
        "example": "leandro.pires@gmail.com"
      },
      "salesPortfolios": {
        "description": "É a segmentação das equipes da força de vendas da CLARO. Uso de parâmetro para fins de Elegibilidade POC.",
        "type": "string",
        "example": "CORPORATIVO"
      },
      "contactNames": {
        "description": "Nome do Contato.",
        "type": "string",
        "example": "José Guilherme Souza"
      },
      "technicalcontactEmails": {
        "description": "E-mail do contato",
        "type": "string",
        "example": "jgsouza@gmail.com"
      },
      "executiveBoards": {
        "description": "Determinam a Hierarquia de Vendas Responsáveis no processo de vendas para fornecer ofertas especiais. Uso de parâmetro para fins de Elegibilidade de POC.",
        "type": "string",
        "example": "LESULCONNE"
      },
      "verticals": {
        "description": "É a área de atuação da empresa (visão do grupo econômico).",
        "type": "string",
        "example": "EDUCAÇÃO"
      },
      "nationalBoards": {
        "description": "Determinam a Hierarquia de Vendas Responsáveis no processo de vendas para fornecer ofertas especiais. Uso de parâmetro para fins de Elegibilidade de POC.",
        "type": "string",
        "example": "VES-96"
      },
      "segments": {
        "description": "segments identifica o mercado no sistema GAIA.",
        "type": "string",
        "example": "GOVERNO"
      },
      "technicalcontactNames": {
        "description": "Nome do contato para o cliente.",
        "type": "string",
        "example": "Marcos Paulo Serra"
      },
      "projectDescriptions": {
        "description": "Descrição do projeto em Salesforce.",
        "type": "string",
        "example": "PORTIFÓLIO"
      },
      "portes": {
        "description": "Identifica o tamanho e a classificação da empresa.",
        "type": "string",
        "example": "GR TOP1"
      },
      "contactPhoneNumbers": {
        "description": "Telefone do contato",
        "type": "string",
        "example": "11987654321"
      },
      "projectIds": {
        "description": "ID do projeto em GAIA",
        "type": "string",
        "example": "150606616"
      },
      "gol": {
        "description": "Parte da Receita referente ao serviço GOL. O valor é definido pelo CPQ durante a precificação.",
        "type": "string",
        "example": "8.00"
      },
      "marketRefs": {
        "description": "Representa mercados relacionados.",
        "type": "object",
        "properties": {
          "marketId": {
            "description": "Identificador único do Mercado.",
            "type": "string",
            "example": "a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "marketName": {
            "description": "Nome do Mercado.",
            "type": "string",
            "example": "Brasil"
          }
        }
      },
      "geographicSiteGroups": {
        "description": "Representa um contêiner com o link para locais atribuídos ao item de cotação específico.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Atributo gerado por NC.",
            "type": "string",
            "example": "a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "name": {
            "description": "Atributo gerado por NC.",
            "type": "string",
            "example": "b7eb1fe3-a552-42bf-9cab-50af5bf5d933:a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "marketId": {
            "description": "Atributo de link para o mercado .",
            "type": "string",
            "example": "b7eb1fe3-a552-42bf-9cab-50af5bf5d933:a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "numberOfGeographicSites": {
            "description": "Valor dos locais atribuídos para o item de cotação relacionado.",
            "type": "string",
            "example": 1
          },
          "externalId": {
            "description": "Atributo dom mesmo valor que o “id”.",
            "type": "string",
            "example": "b7eb1fe3-a552-42bf-9cab-50af5bf5d933:a6f945a2-5552-4a89-bca4-4e7e5ed1e01b"
          },
          "extendedParameters": {
            "description": "Estrutura que contém parâmetros específicos adicionais",
            "type": "object",
            "properties": {
              "locationIds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/locationIds"
                }
              },
              "availabilities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/availabilities"
                }
              }
            }
          }
        }
      },
      "locationIds": {
        "description": "Matriz de IDs para locais atribuídos a um item de cotação relacionado",
        "type": "string",
        "example": "7fb28c07-54c4-4636-b9d7-77a0594a5afb"
      },
      "availabilities": {
        "description": "Matriz de IDs para locais atribuídos a um item de cotação relacionado. Sempre “on-net”",
        "type": "string",
        "example": "on-net"
      },
      "siteAddressStreetNames": {
        "description": "Nome da rua.",
        "type": "string",
        "example": "Antônio Pincinato"
      },
      "siteAddressPostcodes": {
        "description": "Código postal.",
        "type": "string",
        "example": "13211-771"
      },
      "siteAddressComplements": {
        "description": "Complemento do endereço.",
        "type": "string",
        "example": "Near the Vila Alvorada"
      },
      "siteAddressStreetNrs": {
        "description": "Número do endereço.",
        "type": "string",
        "example": "11036"
      },
      "siteAddressAcronymStateOrProvinces": {
        "description": "Abreviatura de unidade federativa",
        "type": "string",
        "example": "São Paulo"
      },
      "siteAddressStreetTypes": {
        "description": "Descrição do tipo de rua (ex. Avenida, Rua, Estrada, etc.)",
        "type": "string",
        "example": "Avenida"
      },
      "siteAddressNeighborhoods": {
        "description": "Vizinhança",
        "type": "string",
        "example": "Jardim Guanabara"
      },
      "siteAddressLocalitions": {
        "description": "Nome da Cidade",
        "type": "string",
        "example": "Jundiaí"
      },
      "siteLatitudes": {
        "description": "Latitude do endereço",
        "type": "string",
        "example": "46.9767407"
      },
      "siteIds": {
        "description": "Identificação do local \"A\"",
        "type": "string",
        "example": "65446"
      },
      "siteAddressLandmarks": {
        "description": "Descrição do ponto de referência",
        "type": "string",
        "example": "Aero Club of Jundiaí"
      },
      "siteLongitudes": {
        "description": "Longitude do endereço",
        "type": "string",
        "example": "23.1895253"
      },
      "contractCustomerFinal": {
        "description": "Nome do cliente final. O valor deste parâmetro descreve o nome do cliente que é específico para uma localização. Deve ser recebido do RADAR",
        "type": "string",
        "example": "João José da Silva"
      },
      "patchRequest": {
        "description": "Request de criação de um novo cliente sob a Organização Empresarial informada",
        "type": "object",
        "required": [
          "data",
          "id"
        ],
        "properties": {
          "data": {
            "properties": {
              "id": {
                "description": "Número de Identificação da Cotação da Netcracker",
                "type": "string",
                "example": "4rffr3434yg"
              },
              "extendedParameters": {
                "required": [
                  "Skips"
                ],
                "properties": {
                  "skips": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/skips"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patchResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "$ref": "#/components/schemas/apiVersion"
          },
          "transactionId": {
            "$ref": "#/components/schemas/transactionId"
          },
          "data": {
            "properties": {
              "href": {
                "description": "atributo em referência à cotação",
                "type": "string",
                "example": "https://public-gateway-cpq-int1.claro-cpq.managed.netcracker.cloud/quote-tmf-service/quoteManagement/quote/3953a502-c313-4c7c-a583-0d999abc84ff"
              },
              "id": {
                "description": "Identificador exclusivo da Cotação.",
                "type": "string",
                "example": "3953a502-c313-4c7c-a583-0d999abc84ff"
              },
              "expirationDate": {
                "description": "Data em que a Cotação expira",
                "type": "string",
                "format": "date-time",
                "example": "2022-12-20T09:02:25.176027Z"
              },
              "version": {
                "description": "Versão da cotação (por exemplo, se o cliente rejeitou a cotação, mas as negociações ainda abrem, uma nova versão da cotação é gerenciada)",
                "type": "string",
                "example": "42"
              },
              "number": {
                "description": "Número sequencial da Cotação.",
                "type": "string",
                "example": "348"
              },
              "description": {
                "description": "Descrição da Cotação.",
                "type": "string",
                "example": "Created via iFrame"
              },
              "category": {
                "description": "Usado para categorizar a Cotação de uma perspectiva de negócios que pode ser útil para o sistema CRM (nome da Categoria do Cliente).",
                "type": "string",
                "example": "Empresas"
              },
              "state": {
                "description": "Estado da cotação. Atualizavel por via API dedicada.",
                "type": "string",
                "example": "PENDING_APPROVAL"
              },
              "quoteDate": {
                "description": "Data e hora em que a cotação foi criada.",
                "type": "string",
                "example": "2022-12-20T09:02:25.176027Z"
              },
              "validFor": {
                "description": "O período durante a Cotação, ofertas e preços são válidos\n Contém os seguintes atributos: \n·  startDateTime;\n·  endDateTime.\nendDateTime é o único atributo passível de atualização.\n",
                "properties": {
                  "startDateTime": {
                    "description": "Date and time when the Quote was created.",
                    "type": "string",
                    "format": "startDateTime",
                    "example": "2022-12-20T09:02:25.176027Z"
                  },
                  "endDateTime": {
                    "description": "Date and time when the Quote was created.",
                    "type": "string",
                    "format": "endDateTime",
                    "example": "2022-12-20T09:02:25.176027Z"
                  }
                }
              },
              "relatedParties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/relatedParties"
                }
              },
              "quoteItems": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/quoteItems"
                }
              },
              "quoteTotalPrices": {
                "description": "Representa o preço total da cotação.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/quoteTotalPrices"
                }
              },
              "customerCategory": {
                "type": "string",
                "description": "Identificador exclusivo da categoria do Cliente.",
                "example": "b8f6b060-2ac9-4836-91ba-d3b471a71743"
              },
              "customerId": {
                "type": "string",
                "description": "Identificador único do cliente.",
                "example": "521069f3-c58e-4a4d-b1aa-29ecfef005aa"
              },
              "distributionChannelId": {
                "type": "string",
                "description": "Identificador exclusivo do Canal de Distribuição através do qual a Cotação foi criada.",
                "example": "95b3451d-afaa-4961-9f2b-5370416f99bd"
              },
              "initialDistributionChannelId": {
                "type": "string",
                "description": "ID de um Canal de Distribuição usado durante a criação de cotações. O valor é definido uma vez e nunca alterado durante o ciclo de vida da Cotação.",
                "example": "95b3451d-afaa-4961-9f2b-5370416f99bd"
              },
              "newMSA": {
                "type": "boolean",
                "description": "Este sinalizador é usado para especificar que a Cotação serve como base para criação e aceitação de um novo MSA.",
                "example": false
              },
              "distributionChannelName": {
                "type": "string",
                "description": "Nome do Canal de Distribuição através do qual a Cotação foi criada.",
                "example": "Canal Direto"
              },
              "name": {
                "type": "string",
                "description": "Nome da Cotação.",
                "example": "Quote #391"
              },
              "opportunityIds": {
                "type": "string",
                "description": "Identificador único da Oportunidade.",
                "example": "OOOi0001114Q0mCAEE"
              },
              "revision": {
                "type": "string",
                "description": "Atributo é usado para marcar a Cotação em andamento. É incrementado em caso de alterações na Cotação após a submissão.",
                "example": "0"
              },
              "updatedWhen": {
                "type": "string",
                "description": "Data e hora da atualização da cotação.",
                "example": "2022-03-22T17:54:58.045341Z",
                "format": "date-time"
              },
              "overrideMode": {
                "type": "string",
                "description": "Indica que tipo de preço é substituível (GROSS ou NET).",
                "example": "GROSS",
                "enum": [
                  "GROSS",
                  "NET"
                ]
              },
              "approvalLevel": {
                "type": "string",
                "description": "Nível de aprovação para a Cotação.",
                "example": "0"
              },
              "placeRefs": {
                "description": "Local descrito por referência ou por valor vinculado a uma entidade específica.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/placeRefs"
                }
              },
              "extendedParameters": {
                "$ref": "#/components/schemas/extendedParameters"
              },
              "marketRefs": {
                "description": "Representa mercados relacionados.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/marketRefs"
                }
              },
              "geographicSiteGroups": {
                "description": "Representa mercados relacionados.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/geographicSiteGroups"
                }
              }
            }
          }
        }
      },
      "patchRequestSite": {
        "description": "Request de criação de um novo cliente sob a Organização Empresarial informada (SDWAN)",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "properties": {
              "id": {
                "description": "Id da cotação",
                "type": "string",
                "example": "65795a89-4514-45db-baff-974491b4864a"
              },
              "extendedParameters": {
                "properties": {
                  "customerCommercialName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome fantasia do cliente",
                      "example": [
                        "Grande Mercado"
                      ]
                    }
                  },
                  "customerOwnerSubAccount": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Sub-conta CLE do cliente",
                      "example": [
                        "1234"
                      ]
                    }
                  },
                  "sfdcAssignedToPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do GC",
                      "example": [
                        "1195690975"
                      ]
                    }
                  },
                  "umbrellaContractCode": {
                    "type": "string",
                    "description": "ID do contrato guarda-chuva/principal.",
                    "example": [
                      "VES-3 UNV202500121"
                    ]
                  },
                  "cecName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do CEC",
                      "example": [
                        "Joao Silva"
                      ]
                    }
                  },
                  "cecEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do CEC",
                      "example": [
                        "jsil@email.com"
                      ]
                    }
                  },
                  "cecPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do CEC",
                      "example": [
                        "1199290908"
                      ]
                    }
                  },
                  "pvcName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do PVC",
                      "example": [
                        "Joao Silva"
                      ]
                    }
                  },
                  "pvcEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do PVC",
                      "example": [
                        "jsil@email.com"
                      ]
                    }
                  },
                  "pvcPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do PVC",
                      "example": [
                        "1199290908"
                      ]
                    }
                  },
                  "gevName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do GEV",
                      "example": [
                        "Bruno Tadeu"
                      ]
                    }
                  },
                  "gevEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do GEV",
                      "example": [
                        "btad@email.com"
                      ]
                    }
                  },
                  "gevPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do GEV",
                      "example": [
                        "1195290902"
                      ]
                    }
                  },
                  "csolName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do CSOL",
                      "example": [
                        "Gisele Soares"
                      ]
                    }
                  },
                  "csolEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do CSOL",
                      "example": [
                        "gsoa@email.com"
                      ]
                    }
                  },
                  "csolPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do CSOL",
                      "example": [
                        "1195190903"
                      ]
                    }
                  },
                  "geCsolName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do GECSOL",
                      "example": [
                        "Augusto Candido"
                      ]
                    }
                  },
                  "geCsolEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do GECSOL",
                      "example": [
                        "acan@email.com"
                      ]
                    }
                  },
                  "geCsolPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do GECSOL",
                      "example": [
                        "1195490991"
                      ]
                    }
                  },
                  "clientTechnicalContactName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do contato técnico do cliente",
                      "example": [
                        "Andreia Santos"
                      ]
                    }
                  },
                  "clientTechnicalContactEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do contato técnico do cliente",
                      "example": [
                        "asan@email.com"
                      ]
                    }
                  },
                  "clientTechnicalContactPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número de telefone do contato técnico do cliente",
                      "example": [
                        "1198235689"
                      ]
                    }
                  },
                  "parentContracts": {
                    "description": "Array de sub-contratos  (um para cada Produto, SDWAN, BLD, etc...)",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/parentContracts"
                    }
                  }
                }
              },
              "quoteItem": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/quoteItemSite"
                }
              },
              "placeRefs": {
                "description": "Estrutura que contém informações de endereço de instalação, enviado durante criação / abertura da cotação",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/placeRefsSite"
                }
              }
            }
          }
        }
      },
      "patchResponseSite": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "apiVersion": {
            "$ref": "#/components/schemas/apiVersion"
          },
          "transactionId": {
            "$ref": "#/components/schemas/transactionId"
          },
          "data": {
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "description": "Id da cotação",
                "type": "string",
                "example": "65795a89-4514-45db-baff-974491b4864a"
              },
              "extendedParameters": {
                "properties": {
                  "customerCommercialName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome fantasia do cliente",
                      "example": [
                        "Grande Mercado"
                      ]
                    }
                  },
                  "customerOwnerSubAccount": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Sub-conta CLE do cliente",
                      "example": [
                        "1234"
                      ]
                    }
                  },
                  "sfdcAssignedToPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do GC",
                      "example": [
                        "1195690975"
                      ]
                    }
                  },
                  "umbrellaContractCode": {
                    "type": "string",
                    "description": "ID do contrato guarda-chuva/principal.",
                    "example": [
                      "VES-3 UNV202500121"
                    ]
                  },
                  "cecName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do CEC",
                      "example": [
                        "Joao Silva"
                      ]
                    }
                  },
                  "cecEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do CEC",
                      "example": [
                        "jsil@email.com"
                      ]
                    }
                  },
                  "cecPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do CEC",
                      "example": [
                        "1199290908"
                      ]
                    }
                  },
                  "pvcName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do PVC",
                      "example": [
                        "Joao Silva"
                      ]
                    }
                  },
                  "pvcEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do PVC",
                      "example": [
                        "jsil@email.com"
                      ]
                    }
                  },
                  "pvcPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do PVC",
                      "example": [
                        "1199290908"
                      ]
                    }
                  },
                  "gevName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do GEV",
                      "example": [
                        "Bruno Tadeu"
                      ]
                    }
                  },
                  "gevEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do GEV",
                      "example": [
                        "btad@email.com"
                      ]
                    }
                  },
                  "gevPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do GEV",
                      "example": [
                        "1195290902"
                      ]
                    }
                  },
                  "csolName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do CSOL",
                      "example": [
                        "Gisele Soares"
                      ]
                    }
                  },
                  "csolEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do CSOL",
                      "example": [
                        "gsoa@email.com"
                      ]
                    }
                  },
                  "csolPhone": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Número do telefone do CSOL",
                      "example": [
                        "1195190903"
                      ]
                    }
                  },
                  "geCsolName": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Nome do GECSOL",
                      "example": [
                        "Augusto Candido"
                      ]
                    }
                  },
                  "geCsolEmail": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Email do GECSOL",
                      "example": [
[...]
