{
  "openapi": "3.1.0",
  "info": {
    "title": "BlitzReels API",
    "description": "Create AI-powered videos programmatically",
    "version": "1.0.0",
    "x-jentic-source-url": "https://blitzreels.com/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://blitzreels.com/api/v1",
      "description": "Canonical API server"
    }
  ],
  "paths": {
    "/workspace/media/folders/{folderId}/empty": {
      "post": {
        "operationId": "createWorkspaceMediaFoldersFolderIdEmpty",
        "summary": "Delete every media asset in a folder without deleting it",
        "description": "Delete every media asset in a folder without deleting it.",
        "tags": [
          "Media Library"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folderId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm_delete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "dry_run": {
                      "type": "boolean"
                    },
                    "selected_count": {
                      "type": "number"
                    },
                    "deleted_count": {
                      "type": "number"
                    },
                    "selected_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "deleted_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed_count": {
                      "type": "number"
                    },
                    "failed_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "error"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "impact": {
                      "type": "object",
                      "properties": {
                        "linked_project_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "linked_projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "generated_clip_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "linked_project_count",
                        "linked_projects",
                        "generated_clip_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "dry_run",
                    "selected_count",
                    "deleted_count",
                    "selected_ids",
                    "deleted_ids",
                    "failed_count",
                    "failed_items",
                    "impact"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/media/assets/batch-delete": {
      "post": {
        "operationId": "createWorkspaceMediaAssetsBatchDelete",
        "summary": "Delete selected workspace media assets",
        "description": "Delete selected workspace media assets.",
        "tags": [
          "Media Library"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "default": [],
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    }
                  },
                  "search": {
                    "default": null,
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "name_prefix": {
                    "default": null,
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "confirm_delete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "delete_generated_clips": {
                    "default": false,
                    "type": "boolean"
                  },
                  "delete_linked_projects": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "dry_run": {
                      "type": "boolean"
                    },
                    "selected_count": {
                      "type": "number"
                    },
                    "deleted_count": {
                      "type": "number"
                    },
                    "selected_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "deleted_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed_count": {
                      "type": "number"
                    },
                    "failed_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "error"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "impact": {
                      "type": "object",
                      "properties": {
                        "linked_project_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "linked_projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "generated_clip_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "linked_project_count",
                        "linked_projects",
                        "generated_clip_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "dry_run",
                    "selected_count",
                    "deleted_count",
                    "selected_ids",
                    "deleted_ids",
                    "failed_count",
                    "failed_items",
                    "impact"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/projects/batch-delete": {
      "post": {
        "operationId": "createProjectsBatchDelete",
        "summary": "Delete selected projects",
        "description": "Delete selected projects.",
        "tags": [
          "Project Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "default": [],
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    }
                  },
                  "search": {
                    "default": null,
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "name_prefix": {
                    "default": null,
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "confirm_delete": {
                    "default": false,
                    "type": "boolean"
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "delete_generated_clips": {
                    "default": false,
                    "type": "boolean"
                  },
                  "delete_linked_projects": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "dry_run": {
                      "type": "boolean"
                    },
                    "selected_count": {
                      "type": "number"
                    },
                    "deleted_count": {
                      "type": "number"
                    },
                    "selected_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "deleted_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed_count": {
                      "type": "number"
                    },
                    "failed_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "error"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "impact": {
                      "type": "object",
                      "properties": {
                        "linked_project_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "linked_projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "generated_clip_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "linked_project_count",
                        "linked_projects",
                        "generated_clip_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "dry_run",
                    "selected_count",
                    "deleted_count",
                    "selected_ids",
                    "deleted_ids",
                    "failed_count",
                    "failed_items",
                    "impact"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "getApiStatus",
        "summary": "API status",
        "description": "API status.",
        "tags": [
          "Platform"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "name",
                    "version"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/auth/validate": {
      "get": {
        "operationId": "validateAuth",
        "summary": "Validate API key",
        "description": "Validate API key.",
        "tags": [
          "Platform"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "environment": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    },
                    "key_prefix": {
                      "type": "string"
                    },
                    "docs_url": {
                      "type": "string"
                    },
                    "openapi_url": {
                      "type": "string"
                    },
                    "agent_skills": {
                      "type": "object",
                      "properties": {
                        "manifest_url": {
                          "type": "string"
                        },
                        "recommended": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "minimum_updated_after": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "manifest_url",
                        "recommended",
                        "minimum_updated_after"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "organization_id",
                    "user_id",
                    "plan",
                    "environment",
                    "key_prefix",
                    "docs_url",
                    "openapi_url",
                    "agent_skills"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clips/presets": {
      "get": {
        "operationId": "listClipPresets",
        "summary": "List available clip presets",
        "description": "List available clip presets.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "version"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "presets"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clips/source-preview": {
      "get": {
        "operationId": "getClipsSourcePreview",
        "summary": "Preview a YouTube source before clipping",
        "description": "Preview a YouTube source before clipping.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "platform": {
                      "type": "string",
                      "const": "youtube"
                    },
                    "video_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "channel_name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "duration_seconds": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "thumbnail_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "normalized_url": {
                      "type": "string"
                    },
                    "width": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "height": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "fps": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "available_qualities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "platform",
                    "video_id",
                    "title",
                    "channel_name",
                    "duration_seconds",
                    "thumbnail_url",
                    "normalized_url",
                    "width",
                    "height",
                    "fps",
                    "available_qualities"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/media/assets/{asset_id}/clip-batch": {
      "get": {
        "operationId": "getLatestClipBatchForAsset",
        "summary": "Get the latest clip batch for a media asset",
        "description": "Get the latest clip batch for a media asset.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "asset_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "batch_id": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "asset_id": {
                              "type": "string"
                            },
                            "project_folder_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "estimated_clip_count": {
                              "type": "number"
                            },
                            "total_clip_count": {
                              "type": "number"
                            },
                            "rendered_count": {
                              "type": "number"
                            },
                            "failed_count": {
                              "type": "number"
                            },
                            "review_count": {
                              "type": "number"
                            },
                            "activity": {},
                            "clips": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "clip_id": {
                                    "type": "string"
                                  },
                                  "suggestion_id": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "project_id": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "export_id": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "download_url": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "error_message": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "qa_summary": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "qa_preview_urls": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "render_progress": {
                                    "anyOf": [
                                      {
                                        "type": "number",
                                        "minimum": 0,
                                        "maximum": 99
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ],
                                    "description": "Export progress percent while the clip is rendering."
                                  },
                                  "checking": {
                                    "type": "boolean",
                                    "description": "Export finished; the final quality check is still running."
                                  },
                                  "thumbnail_url": {
                                    "description": "Signed export thumbnail, valid for one hour.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "score": {
                                    "description": "Moment ranking score from 0 to 100; null for manual clips.",
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "clip_id",
                                  "suggestion_id",
                                  "project_id",
                                  "export_id",
                                  "title",
                                  "status",
                                  "download_url",
                                  "error_message",
                                  "qa_summary",
                                  "qa_preview_urls",
                                  "render_progress",
                                  "checking",
                                  "thumbnail_url",
                                  "score"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "zip_download_url": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "last_error_message": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "studio_sound": {
                              "type": "object",
                              "properties": {
                                "requested": {
                                  "type": "boolean"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "disabled",
                                    "pending",
                                    "processing",
                                    "applied",
                                    "failed"
                                  ]
                                },
                                "source_asset_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "enhanced_asset_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "version": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "processing_run_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "error_message": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "requested",
                                "status",
                                "source_asset_id",
                                "enhanced_asset_id",
                                "version",
                                "processing_run_id",
                                "error_message"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "batch_id",
                            "status",
                            "asset_id",
                            "project_folder_id",
                            "estimated_clip_count",
                            "total_clip_count",
                            "rendered_count",
                            "failed_count",
                            "review_count",
                            "activity",
                            "clips",
                            "zip_download_url",
                            "last_error_message",
                            "studio_sound"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "batch"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clipping-projects": {
      "get": {
        "operationId": "listClippingProjects",
        "summary": "List clipping projects",
        "description": "Lists source videos that have clip batches, one entry per source with its latest batch status and clip counts. Newest activity first by default.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "in": "query",
            "name": "sort_by",
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "name"
              ]
            }
          },
          {
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clipping_projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "string"
                          },
                          "import_source": {
                            "type": "string"
                          },
                          "thumbnail_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "duration_seconds": {
                            "anyOf": [
                              {
                                "type": "number",
                                "minimum": 0
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "awaiting_source",
                              "awaiting_suggestions",
                              "creating_projects",
                              "exporting",
                              "completed",
                              "completed_with_errors",
                              "failed"
                            ]
                          },
                          "activity": {
                            "type": "string",
                            "enum": [
                              "processing",
                              "checking",
                              "complete",
                              "attention",
                              "unconfirmed"
                            ]
                          },
                          "clip_count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "ready_count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "failed_count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "exported_count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "downloaded_count": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "asset_id",
                          "name",
                          "import_source",
                          "thumbnail_url",
                          "duration_seconds",
                          "updated_at",
                          "status",
                          "activity",
                          "clip_count",
                          "ready_count",
                          "failed_count",
                          "exported_count",
                          "downloaded_count"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total_count": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "page": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "clipping_projects",
                    "total_count",
                    "page",
                    "limit",
                    "has_more"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clip-batches/{batch_id}": {
      "get": {
        "operationId": "getClipBatchesBatchId",
        "summary": "Get a clip batch",
        "description": "Get a clip batch.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch": {
                      "type": "object",
                      "properties": {
                        "batch_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "asset_id": {
                          "type": "string"
                        },
                        "project_folder_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "estimated_clip_count": {
                          "type": "number"
                        },
                        "total_clip_count": {
                          "type": "number"
                        },
                        "rendered_count": {
                          "type": "number"
                        },
                        "failed_count": {
                          "type": "number"
                        },
                        "review_count": {
                          "type": "number"
                        },
                        "activity": {},
                        "clips": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "clip_id": {
                                "type": "string"
                              },
                              "suggestion_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "project_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "export_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "title": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "download_url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "error_message": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "qa_summary": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "qa_preview_urls": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "render_progress": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 99
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Export progress percent while the clip is rendering."
                              },
                              "checking": {
                                "type": "boolean",
                                "description": "Export finished; the final quality check is still running."
                              },
                              "thumbnail_url": {
                                "description": "Signed export thumbnail, valid for one hour.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "score": {
                                "description": "Moment ranking score from 0 to 100; null for manual clips.",
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "clip_id",
                              "suggestion_id",
                              "project_id",
                              "export_id",
                              "title",
                              "status",
                              "download_url",
                              "error_message",
                              "qa_summary",
                              "qa_preview_urls",
                              "render_progress",
                              "checking",
                              "thumbnail_url",
                              "score"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "zip_download_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last_error_message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "studio_sound": {
                          "type": "object",
                          "properties": {
                            "requested": {
                              "type": "boolean"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "disabled",
                                "pending",
                                "processing",
                                "applied",
                                "failed"
                              ]
                            },
                            "source_asset_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "enhanced_asset_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "version": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "processing_run_id": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "error_message": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "requested",
                            "status",
                            "source_asset_id",
                            "enhanced_asset_id",
                            "version",
                            "processing_run_id",
                            "error_message"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "batch_id",
                        "status",
                        "asset_id",
                        "project_folder_id",
                        "estimated_clip_count",
                        "total_clip_count",
                        "rendered_count",
                        "failed_count",
                        "review_count",
                        "activity",
                        "clips",
                        "zip_download_url",
                        "last_error_message",
                        "studio_sound"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "batch"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClipBatchesBatchId",
        "summary": "Delete a terminal clip batch",
        "description": "Deletes the batch and its clip records. Projects and exports are retained by default; pass delete_projects_and_exports for explicit cascading soft deletion. Active batches and shared projects are protected.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "retention",
            "schema": {
              "default": "retain_projects_and_exports",
              "type": "string",
              "enum": [
                "retain_projects_and_exports",
                "delete_projects_and_exports"
              ]
            }
          },
          {
            "in": "query",
            "name": "dry_run",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "confirm_delete",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "retention": {
                      "type": "string",
                      "enum": [
                        "retain_projects_and_exports",
                        "delete_projects_and_exports"
                      ]
                    },
                    "dry_run": {
                      "type": "boolean"
                    },
                    "clip_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "project_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "export_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "shared_project_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "deleted_batch_count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "deleted_clip_count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "deleted_project_count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "deleted_export_count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "batch_id",
                    "status",
                    "retention",
                    "dry_run",
                    "clip_ids",
                    "project_ids",
                    "export_ids",
                    "shared_project_ids",
                    "deleted_batch_count",
                    "deleted_clip_count",
                    "deleted_project_count",
                    "deleted_export_count"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clip-batches/{batch_id}/realtime-token": {
      "get": {
        "operationId": "getClipBatchesBatchIdRealtimeToken",
        "summary": "Get a scoped realtime token for a clip batch",
        "description": "Get a scoped realtime token for a clip batch.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "minLength": 1
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "access_token",
                    "expires_at",
                    "url"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clip-batches/{batch_id}/archive": {
      "get": {
        "operationId": "getClipBatchArchive",
        "summary": "Get a download URL for a clip batch ZIP",
        "description": "Returns a signed ZIP URL when the archive of accepted clips is stored. Otherwise queues the archive and returns preparing with retry_after_seconds, or unavailable when the batch has no downloadable clips.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "batch_id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ready"
                        },
                        "batch_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "download_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "file_name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                        }
                      },
                      "required": [
                        "status",
                        "batch_id",
                        "download_url",
                        "file_name",
                        "expires_at"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "preparing"
                        },
                        "batch_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "archive_building",
                            "exports_pending"
                          ]
                        },
                        "retry_after_seconds": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "status",
                        "batch_id",
                        "reason",
                        "retry_after_seconds"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "unavailable"
                        },
                        "batch_id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "no_completed_clips",
                            "invalid_completed_exports"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "batch_id",
                        "reason"
                      ],
                      "additionalProperties": false
                    }
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clips/attach-export": {
      "post": {
        "operationId": "createClipsAttachExport",
        "summary": "Attach a visually accepted completed export to managed clips",
        "description": "Attach a visually accepted completed export to managed clips.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "export_id": {
                    "type": "string"
                  },
                  "confirm_visual_qa": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "asset_id",
                  "project_id",
                  "export_id",
                  "confirm_visual_qa"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "clip_id": {
                      "type": "string"
                    },
                    "asset_id": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "export_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "const": "exported"
                    },
                    "next_action": {
                      "type": "string",
                      "const": "stop"
                    },
                    "share_page_eligible": {
                      "type": "boolean",
                      "const": true
                    },
                    "replayed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "clip_id",
                    "asset_id",
                    "project_id",
                    "export_id",
                    "status",
                    "next_action",
                    "share_page_eligible",
                    "replayed"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clips/{clip_id}/promote-export": {
      "post": {
        "operationId": "promoteCompletedExport",
        "summary": "Promote a visually accepted export as a managed delivery",
        "description": "Promote a visually accepted export as a managed delivery.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "clip_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "export_id": {
                    "type": "string"
                  },
                  "confirm_visual_qa": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "export_id",
                  "confirm_visual_qa"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "clip_id": {
                      "type": "string"
                    },
                    "asset_id": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "export_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "const": "exported"
                    },
                    "next_action": {
                      "type": "string",
                      "const": "stop"
                    },
                    "share_page_eligible": {
                      "type": "boolean",
                      "const": true
                    },
                    "replayed": {
                      "type": "boolean"
                    },
                    "previous_export_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "clip_id",
                    "asset_id",
                    "project_id",
                    "export_id",
                    "status",
                    "next_action",
                    "share_page_eligible",
                    "replayed",
                    "previous_export_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/clip-share-pages/{asset_id}": {
      "get": {
        "operationId": "getClipSharePage",
        "summary": "Get a clip share page",
        "description": "Get a clip share page.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "asset_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset_id": {
                      "type": "string"
                    },
                    "exists": {
                      "type": "boolean"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "share_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "allow_downloads": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "description": {
                      "type": "string"
                    },
                    "hidden_clip_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "asset_id",
                    "exists",
                    "enabled",
                    "share_url",
                    "allow_downloads",
                    "title",
                    "description",
                    "hidden_clip_ids"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setClipSharePageEnabled",
        "summary": "Publish, unpublish, or update clip share page metadata",
        "description": "Publish, unpublish, or update clip share page metadata.",
        "tags": [
          "Clip Creation"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "asset_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
[...]
