{
  "openapi": "3.1.0",
  "info": {
    "title": "DeepSearch API",
    "version": "1.0.1",
    "summary": "Programmatic people research from public sources.",
    "description": "The DeepSearch API lets AI agents and applications research a person's PUBLIC online footprint.\nLook someone up by name, phone, email, or username; build a full sourced dossier (social accounts,\ncontact details, work history, relatives, and web mentions); and ask follow-up questions.\n\nPublic information only. Authenticate with a bearer API key created in the developer portal.\nUsage is metered against one weekly allowance shared with the app, MCP, CLI, and SDKs.\nEach request settles from the model tokens and paid tools it actually uses. Cached results and idempotent replays are free.\nAfter included usage is exhausted, non-expiring extra credits are used automatically without unlocking plan-restricted capabilities.\n\nAPI and MCP billing is user-managed: DeepSearch uses account credentials for these routes. Standalone MPP research accepts caller-owned payment transports. If an API request returns\n401 or 402, the error body includes an `action`, a `url`, and a `message` written for the agent to\nrelay to its user - direct the user to that URL to sign up, subscribe, or add credits, then retry.\n\n## Try it without an account\n\nSend `Authorization: Bearer dsk_test_deepsearch` and every response is a deterministic\nfixture: the production envelope, headers and error contract, with a fixed payload. Nothing\nis metered, no account is needed, and no production data is touched. Any key beginning\n`dsk_test_` behaves the same way. With your own key, add `\"sandbox\": true`\nto a request body instead. GET https://deepsearch.app/api/v1/sandbox describes the whole contract.\n\n## Versioning and deprecation\n\nThe version is in the URL path (`/api/v1/...`). Within a version, changes are additive only:\nnew endpoints, new optional request fields, and new response fields. Adding a response field is\nnot a breaking change, so parse defensively and ignore what you do not recognise.\n\nA breaking change ships as a new path version; `/api/v1` is never repurposed. When an operation\nis deprecated it keeps working and starts sending two headers: `Deprecation`, the date the\ndecision was announced, and `Sunset`, the earliest date it may stop responding. Sunset is never\nless than 12 months after Deprecation, the operation is marked `deprecated: true` in this\ndocument, and the change is listed at https://deepsearch.app/changelog and in GET /api/developer/changelog.\nAn agent that watches for a `Sunset` header has at least a year to migrate.",
    "contact": {
      "name": "DeepSearch Support",
      "email": "support@deepsearch.app",
      "url": "https://deepsearch.app/api"
    },
    "termsOfService": "https://deepsearch.app/terms",
    "x-onboarding": {
      "payment_model": "user-managed",
      "description": "DeepSearch cannot be paid by agents directly. A human user must create an account, subscribe, and generate an API key.",
      "signup_url": "https://deepsearch.app/developers",
      "billing_url": "https://deepsearch.app/billing"
    },
    "x-versioning": {
      "strategy": "url-path",
      "current": "v1",
      "breaking_changes": "new path version only",
      "in_version_changes": "additive only",
      "deprecation_headers": [
        "Deprecation",
        "Sunset"
      ],
      "minimum_sunset_notice_months": 12,
      "changelog_url": "https://deepsearch.app/changelog",
      "changelog_api": "https://deepsearch.app/api/developer/changelog"
    },
    "x-sandbox": {
      "supported": true,
      "type": "fixture-mode",
      "description": "Deterministic fixtures served by the production routes. No separate host, no account, no credits, no production data touched.",
      "public_api_key": "dsk_test_deepsearch",
      "api_key_prefix": "dsk_test_",
      "request_flag": "sandbox",
      "response_header": "X-DeepSearch-Sandbox",
      "operations": [
        "search",
        "dossier",
        "chat",
        "entity_search",
        "entity_dossier",
        "reverse_image",
        "vin"
      ],
      "discovery_url": "https://deepsearch.app/api/v1/sandbox",
      "docs_url": "https://deepsearch.app/api/docs#sandbox",
      "example": "curl https://deepsearch.app/api/v1/search \\\n  -H \"Authorization: Bearer dsk_test_deepsearch\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n        \"query\": \"Ada Lovelace\",\n        \"type\": \"name\",\n        \"format\": \"json\"\n      }'"
    },
    "x-rate-limit": {
      "supported": true,
      "standard": "draft-ietf-httpapi-ratelimit-headers",
      "headers": [
        "RateLimit-Policy",
        "RateLimit",
        "RateLimit-Limit",
        "RateLimit-Remaining",
        "RateLimit-Reset",
        "X-RateLimit-Limit",
        "X-RateLimit-Remaining",
        "X-RateLimit-Reset"
      ],
      "retry_after_header": "Retry-After",
      "reset_semantics": {
        "RateLimit-Reset": "seconds until the window resets",
        "X-RateLimit-Reset": "unix epoch seconds at which the window resets"
      },
      "sent_on": [
        "200",
        "401",
        "404",
        "405",
        "429"
      ],
      "cors": {
        "exposed": true,
        "note": "Access-Control-Expose-Headers names every header above on credential-free responses, auth failures, and 429s, so a browser-based caller can read them."
      },
      "observable_without_credentials": [
        "https://deepsearch.app/api/v1",
        "https://deepsearch.app/api/health",
        "https://deepsearch.app/api/v1/sandbox",
        "https://deepsearch.app/openapi.json"
      ],
      "policies": {
        "anonymous": {
          "limit": 120,
          "window_seconds": 60,
          "scope": "per IP",
          "applies_to": "every endpoint callable without credentials"
        },
        "search": {
          "limit": 60,
          "window_seconds": 60,
          "scope": "per API key",
          "applies_to": "POST /api/v1/search"
        },
        "dossier": {
          "limit": 30,
          "window_seconds": 60,
          "scope": "per API key",
          "applies_to": "POST /api/v1/dossier"
        },
        "chat": {
          "limit": 60,
          "window_seconds": 60,
          "scope": "per API key",
          "applies_to": "POST /api/v1/chat"
        },
        "mcp": {
          "limit": 120,
          "window_seconds": 60,
          "scope": "per API key",
          "applies_to": "https://deepsearch.app/api/mcp"
        }
      }
    },
    "x-batch": {
      "supported": true,
      "url": "https://deepsearch.app/api/v1/batch",
      "max_operations": 10,
      "billing": "per item, identical to calling each operation on its own"
    },
    "x-mcp": {
      "url": "https://deepsearch.app/api/mcp",
      "transport": "streamable-http",
      "description": "Hosted MCP server exposing search_people, build_dossier, and ask_about_person as tools. Authenticate with the user's API key as a bearer token."
    },
    "x-jentic-source-url": "https://deepsearch.app/openapi.json"
  },
  "servers": [
    {
      "url": "https://deepsearch.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "apiIndex",
        "summary": "List every endpoint, with discovery and authentication pointers.",
        "description": "The REST entry point. Returns the endpoint inventory, the scope each one needs, where the machine-readable contract lives, how to authenticate, and how to use the sandbox. No credentials required - this is what to read before you have a key.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The endpoint index.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "429": {
            "description": "Too many anonymous requests from this IP.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "apiHealth",
        "summary": "Liveness probe.",
        "description": "Returns `status: \"ok\"` when the API is serving. Reports only this service - it deliberately does not ping downstream dependencies, because every monitor and scanner in the world hits this path.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The service is up.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "status",
                    "api_version",
                    "time"
                  ],
                  "properties": {
                    "object": {
                      "const": "health"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "api_version": {
                      "const": "v1"
                    },
                    "developer_api": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "index_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapi_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "docs_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandbox": {
      "get": {
        "operationId": "sandboxContract",
        "summary": "Read the sandbox contract and the public test key.",
        "description": "Describes the test mode: the published key (`dsk_test_deepsearch`), the operations that have fixtures, the exact events each fixture emits, and what the sandbox does not simulate. Everything here works without an account.",
        "tags": [
          "Sandbox"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The sandbox contract.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxContract"
                }
              }
            }
          }
        }
      }
    },
    "/api/developer/status": {
      "get": {
        "operationId": "developerStatus",
        "summary": "Read developer platform status.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Developer platform status and discovery links.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/developer/changelog": {
      "get": {
        "operationId": "developerChangelog",
        "summary": "Read developer API changelog.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Developer API changelog entries.",
            "headers": {
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 8288 links to the OpenAPI document, the docs, llms.txt, and auth metadata."
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "Present even on 200: RFC 9110 allows a challenge wherever credentials would change the response, and it lets a client discover the token endpoint without provoking a 401."
              },
              "Access-Control-Expose-Headers": {
                "schema": {
                  "type": "string"
                },
                "description": "Names every header above. A cross-origin `fetch` can read no response header outside the Fetch safelist unless it is listed here, so without this the budget headers arrive and are stripped before any browser-based caller can see them."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "api_version",
                    "changelog"
                  ],
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "api_version": {
                      "const": "v1"
                    },
                    "changelog": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChangelogEntry"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "search",
        "summary": "Find people by name, phone, email, or username.",
        "description": "Submit an identifier and stream back ranked candidate matches (PersonHit objects) drawn from public sources. Each candidate carries a confidence score and descriptive tags so you can disambiguate before requesting a full dossier.",
        "tags": [
          "People research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scope": "search",
        "x-rateLimit": {
          "limit": 60,
          "windowMs": 60000
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "For format=json, safely retries the same request and replays the completed JSON response. For SSE, it protects wallet spend but does not replay the stream."
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional correlation id echoed in response headers and usage logs."
          },
          {
            "name": "X-DeepSearch-Sandbox",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            },
            "description": "Run against deterministic sandbox fixtures, unmetered. Equivalent to `sandbox: true` in the body."
          },
          {
            "name": "X-DeepSearch-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 80,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,39}(/\\S{1,32})?$"
            },
            "example": "deepsearch-typescript/0.1.1",
            "description": "Optional `name/version` naming the calling client. Self-reported and used only for aggregate analytics: it never affects authentication, rate limits, billing or the response. The official SDKs and CLI send it; any other name is counted as a custom client."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 240
                  },
                  "type": {
                    "default": "name",
                    "type": "string",
                    "enum": [
                      "name",
                      "phone",
                      "email",
                      "username"
                    ]
                  },
                  "platforms": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 320
                      },
                      {
                        "maxItems": 8,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 40
                        }
                      }
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "sse",
                      "json"
                    ]
                  },
                  "sandbox": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "Ada Lovelace",
                "type": "name",
                "format": "json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. With format=json a single object is returned; otherwise events stream as text/event-stream.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Stable request correlation id."
              },
              "X-DeepSearch-Operation": {
                "schema": {
                  "type": "string"
                },
                "description": "The metered operation."
              },
              "X-DeepSearch-Metered": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              },
              "X-DeepSearch-Percentage-Charged": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of the current included allowance charged by this request."
              },
              "X-DeepSearch-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of included usage remaining after this request."
              },
              "X-DeepSearch-Usage-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": "Exact boundary at which the included weekly allowance resets."
              },
              "X-DeepSearch-Usage-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "included",
                    "extra",
                    "mixed"
                  ]
                },
                "description": "Whether the reservation used included usage, extra credits, or both."
              },
              "X-DeepSearch-Credits-Charged": {
                "schema": {
                  "type": "string"
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility charge; use X-DeepSearch-Percentage-Charged."
              },
              "X-DeepSearch-Allowance-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "weekly",
                    "coin"
                  ]
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility source; use X-DeepSearch-Usage-Source."
              },
              "X-DeepSearch-Sandbox": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Deprecation": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate at which it was declared deprecated."
              },
              "Sunset": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate after which it may stop responding. Never less than 12 months after Deprecation."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "object": "search_result",
                  "request_id": "req_01HZY8M7YQ2C7W9F4X9J7Z1H3A",
                  "metadata": {
                    "api_version": "v1",
                    "operation": "search",
                    "request_id": "req_01HZY8M7YQ2C7W9F4X9J7Z1H3A",
                    "generated_at": "2026-06-19T12:00:00.000Z"
                  },
                  "usage": {
                    "metered": true,
                    "percentageCharged": 2,
                    "remainingPercent": 98,
                    "resetAt": "2026-07-01T00:00:00.000Z",
                    "source": "included",
                    "credits": 1,
                    "allowanceSource": "weekly"
                  },
                  "hits": [
                    {
                      "id": "ada-lovelace",
                      "name": "Ada Lovelace",
                      "headline": "Mathematician · London",
                      "initials": "AL",
                      "confidence": 82,
                      "location": "London, United Kingdom",
                      "tags": [
                        "3 social profiles",
                        "London"
                      ]
                    }
                  ],
                  "events": [
                    {
                      "type": "status",
                      "label": "Scanning public sources"
                    },
                    {
                      "type": "hit",
                      "hit": {
                        "id": "ada-lovelace",
                        "name": "Ada Lovelace",
                        "headline": "Mathematician · London",
                        "initials": "AL",
                        "confidence": 82,
                        "location": "London, United Kingdom",
                        "tags": [
                          "3 social profiles",
                          "London"
                        ]
                      }
                    },
                    {
                      "type": "done"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "A stream of `data: {json}` lines, one StreamEvent each."
                }
              }
            }
          },
          "400": {
            "description": "The request body was missing, malformed, or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or revoked. The body includes action/url/message - direct the user to sign up and create a key, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 6750 challenge, always present on a 401. Leads with `resource_metadata`, which points at the RFC 9728 protected-resource document describing where to get a token. Carries `error=\"invalid_token\"` when a credential was sent and rejected."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
          "402": {
            "description": "The requested capability is unavailable on the user's plan, or included usage and extra credits are exhausted. The body includes action/url/message - direct the user to upgrade, add credits, or wait for the reset, then retry. Agents cannot pay directly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the scope required for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The Idempotency-Key was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is larger than the API accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "The caller exceeded the API rate limit. Retry after the reset time or Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying. Measures the delta to the same window boundary as RateLimit-Reset, so the two agree to within a second; Retry-After is floored at 1 so it never tells a caller to retry immediately."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
          "503": {
            "description": "A temporary service-wide spend cap was reached. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://deepsearch.app/api/v1/search \\\n  -H \"Authorization: Bearer $DEEPSEARCH_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n        \"query\": \"Ada Lovelace\",\n        \"type\": \"name\",\n        \"format\": \"json\"\n      }'"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const res = await fetch(\"https://deepsearch.app/api/v1/search\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.DEEPSEARCH_API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    \"query\": \"Ada Lovelace\",\n    \"type\": \"name\",\n    \"format\": \"json\"\n  }),\n});\n\nconst result = await res.json();\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nimport json\nimport requests\n\nres = requests.post(\n    \"https://deepsearch.app/api/v1/search\",\n    headers={\n        \"Authorization\": f\"Bearer {os.environ['DEEPSEARCH_API_KEY']}\",\n        \"Content-Type\": \"application/json\",\n    },\n    json=json.loads(\"{\\\"query\\\":\\\"Ada Lovelace\\\",\\\"type\\\":\\\"name\\\",\\\"format\\\":\\\"json\\\"}\"),\n)\n\nprint(res.json())"
          }
        ],
        "x-default-response-format": "sse"
      }
    },
    "/api/v1/dossier": {
      "post": {
        "operationId": "dossier",
        "summary": "Build a full public-footprint profile for a person.",
        "description": "Pass a candidate from /search (or a minimal person object) and stream a structured dossier - identity, contact, social accounts, locations, work, mentions and a written summary with cited sources. Reports are cached privately for each account: repeating the same request from the same account replays the cached report instantly and consumes no usage. Reports are not shared between accounts.",
        "tags": [
          "People research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scope": "dossier",
        "x-rateLimit": {
          "limit": 30,
          "windowMs": 60000
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "For format=json, safely retries the same request and replays the completed JSON response. For SSE, it protects wallet spend but does not replay the stream."
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional correlation id echoed in response headers and usage logs."
          },
          {
            "name": "X-DeepSearch-Sandbox",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            },
            "description": "Run against deterministic sandbox fixtures, unmetered. Equivalent to `sandbox: true` in the body."
          },
          {
            "name": "X-DeepSearch-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 80,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,39}(/\\S{1,32})?$"
            },
            "example": "deepsearch-typescript/0.1.1",
            "description": "Optional `name/version` naming the calling client. Self-reported and used only for aggregate analytics: it never affects authentication, rate limits, billing or the response. The official SDKs and CLI send it; any other name is counted as a custom client."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 180
                      },
                      "headline": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "avatarUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "avatarCandidates": {
                        "maxItems": 10,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "identityContext": {
                        "type": "string",
                        "enum": [
                          "account",
                          "authority",
                          "submitted"
                        ]
                      },
                      "avatarContext": {
                        "type": "string",
                        "enum": [
                          "account",
                          "authority",
                          "submitted",
                          "subject"
                        ]
                      },
                      "initials": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8
                      },
                      "location": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "age": {
                        "type": "integer",
                        "exclusiveMinimum": 0,
                        "maximum": 9007199254740991
                      },
                      "confidence": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      },
                      "tags": {
                        "maxItems": 20,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 80
                        }
                      },
                      "primaryUsername": {
                        "type": "string",
                        "maxLength": 80
                      },
                      "primaryPlatform": {
                        "type": "string",
                        "enum": [
                          "instagram",
                          "facebook",
                          "x",
                          "twitter",
                          "tiktok",
                          "linkedin",
                          "youtube",
                          "whatsapp",
                          "telegram",
                          "snapchat",
                          "reddit",
                          "threads",
                          "bluesky",
                          "mastodon",
                          "pinterest",
                          "twitch",
                          "discord",
                          "tinder",
                          "bumble",
                          "hinge",
                          "onlyfans",
                          "fansly",
                          "patreon",
                          "cameo",
                          "vsco",
                          "tumblr",
                          "flickr",
                          "strava",
                          "apple_music",
                          "bandcamp",
                          "lastfm",
                          "vimeo",
                          "letterboxd",
                          "goodreads",
                          "quora",
                          "github",
                          "stack_overflow",
                          "hacker_news",
                          "npm",
                          "kaggle",
                          "medium",
                          "substack",
                          "product_hunt",
                          "wellfound",
                          "crunchbase",
                          "behance",
                          "dribbble",
                          "soundcloud",
                          "spotify",
                          "orcid",
                          "google_scholar",
                          "researchgate",
                          "academia",
                          "linktree",
                          "personal_website",
                          "company_page",
                          "other"
                        ]
                      },
                      "primaryUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "linkedProfileUrls": {
                        "maxItems": 32,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "seedEmail": {
                        "type": "string",
                        "maxLength": 320
                      },
                      "seedPhone": {
                        "type": "string",
                        "maxLength": 80
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": {}
                  },
                  "refresh": {
                    "type": "boolean"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "sse",
                      "json"
                    ]
                  },
                  "sandbox": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "person"
                ]
              },
              "example": {
                "person": {
                  "name": "Ada Lovelace",
                  "headline": "Mathematician · London",
                  "confidence": 82,
                  "tags": [
                    "Computing pioneer"
                  ]
                },
                "format": "json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. With format=json a single object is returned; otherwise events stream as text/event-stream.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Stable request correlation id."
              },
              "X-DeepSearch-Operation": {
                "schema": {
                  "type": "string"
                },
                "description": "The metered operation."
              },
              "X-DeepSearch-Metered": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              },
              "X-DeepSearch-Percentage-Charged": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of the current included allowance charged by this request."
              },
              "X-DeepSearch-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of included usage remaining after this request."
              },
              "X-DeepSearch-Usage-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": "Exact boundary at which the included weekly allowance resets."
              },
              "X-DeepSearch-Usage-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "included",
                    "extra",
                    "mixed"
                  ]
                },
                "description": "Whether the reservation used included usage, extra credits, or both."
              },
              "X-DeepSearch-Credits-Charged": {
                "schema": {
                  "type": "string"
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility charge; use X-DeepSearch-Percentage-Charged."
              },
              "X-DeepSearch-Allowance-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "weekly",
                    "coin"
                  ]
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility source; use X-DeepSearch-Usage-Source."
              },
              "X-DeepSearch-Sandbox": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Deprecation": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate at which it was declared deprecated."
              },
              "Sunset": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate after which it may stop responding. Never less than 12 months after Deprecation."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossierResponse"
                },
                "example": {
                  "object": "dossier_result",
                  "request_id": "req_01HZY8N9M52JGQ7PC1X3TPEF5R",
                  "metadata": {
                    "api_version": "v1",
                    "operation": "dossier",
                    "request_id": "req_01HZY8N9M52JGQ7PC1X3TPEF5R",
                    "generated_at": "2026-06-19T12:00:00.000Z"
                  },
                  "usage": {
                    "metered": true,
                    "percentageCharged": 9,
                    "remainingPercent": 73,
                    "resetAt": "2026-07-01T00:00:00.000Z",
                    "source": "included",
                    "credits": 1,
                    "allowanceSource": "weekly",
                    "cached": false
                  },
                  "cached": false,
                  "dossier": {
                    "summary": "Ada Lovelace was a 19th-century mathematician widely regarded as the first computer programmer.",
                    "sections": {
                      "identity": {
                        "name": "Ada Lovelace",
                        "age": null
                      }
                    },
                    "sources": [
                      {
                        "id": "src-1",
                        "position": 1,
                        "url": "https://en.wikipedia.org/wiki/Ada_Lovelace",
                        "title": "Ada Lovelace",
                        "domain": "en.wikipedia.org"
                      }
                    ]
                  },
                  "events": [
                    {
                      "type": "section",
                      "key": "identity",
                      "data": {
                        "name": "Ada Lovelace",
                        "age": null
                      }
                    },
                    {
                      "type": "summary",
                      "delta": "Ada Lovelace was a 19th-century mathematician "
                    },
                    {
                      "type": "summary",
                      "delta": "widely regarded as the first computer programmer."
                    },
                    {
                      "type": "sources",
                      "sources": [
                        {
                          "id": "src-1",
                          "position": 1,
                          "url": "https://en.wikipedia.org/wiki/Ada_Lovelace",
                          "title": "Ada Lovelace",
                          "domain": "en.wikipedia.org"
                        }
                      ]
                    },
                    {
                      "type": "done"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "A stream of `data: {json}` lines, one StreamEvent each."
                }
              }
            }
          },
          "400": {
            "description": "The request body was missing, malformed, or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or revoked. The body includes action/url/message - direct the user to sign up and create a key, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 6750 challenge, always present on a 401. Leads with `resource_metadata`, which points at the RFC 9728 protected-resource document describing where to get a token. Carries `error=\"invalid_token\"` when a credential was sent and rejected."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
          "402": {
            "description": "The requested capability is unavailable on the user's plan, or included usage and extra credits are exhausted. The body includes action/url/message - direct the user to upgrade, add credits, or wait for the reset, then retry. Agents cannot pay directly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the scope required for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The Idempotency-Key was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is larger than the API accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "The caller exceeded the API rate limit. Retry after the reset time or Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying. Measures the delta to the same window boundary as RateLimit-Reset, so the two agree to within a second; Retry-After is floored at 1 so it never tells a caller to retry immediately."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
          "503": {
            "description": "A temporary service-wide spend cap was reached. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://deepsearch.app/api/v1/dossier \\\n  -H \"Authorization: Bearer $DEEPSEARCH_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n        \"person\": {\n          \"name\": \"Ada Lovelace\",\n          \"headline\": \"Mathematician · London\",\n          \"confidence\": 82,\n          \"tags\": [\n            \"Computing pioneer\"\n          ]\n        },\n        \"format\": \"json\"\n      }'"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const res = await fetch(\"https://deepsearch.app/api/v1/dossier\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.DEEPSEARCH_API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    \"person\": {\n      \"name\": \"Ada Lovelace\",\n      \"headline\": \"Mathematician · London\",\n      \"confidence\": 82,\n      \"tags\": [\n        \"Computing pioneer\"\n      ]\n    },\n    \"format\": \"json\"\n  }),\n});\n\nconst result = await res.json();\nconsole.log(result);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nimport json\nimport requests\n\nres = requests.post(\n    \"https://deepsearch.app/api/v1/dossier\",\n    headers={\n        \"Authorization\": f\"Bearer {os.environ['DEEPSEARCH_API_KEY']}\",\n        \"Content-Type\": \"application/json\",\n    },\n    json=json.loads(\"{\\\"person\\\":{\\\"name\\\":\\\"Ada Lovelace\\\",\\\"headline\\\":\\\"Mathematician · London\\\",\\\"confidence\\\":82,\\\"tags\\\":[\\\"Computing pioneer\\\"]},\\\"format\\\":\\\"json\\\"}\"),\n)\n\nprint(res.json())"
          }
        ],
        "x-default-response-format": "sse"
      }
    },
    "/api/v1/chat": {
      "post": {
        "operationId": "chat",
        "summary": "Ask follow-up questions about a person.",
        "description": "Continue a conversation about a subject. Send the running message history and DeepSearch streams a grounded answer plus suggested follow-up questions, drawing on the person's public footprint.",
        "tags": [
          "People research"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scope": "chat",
        "x-rateLimit": {
          "limit": 60,
          "windowMs": 60000
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "For format=json, safely retries the same request and replays the completed JSON response. For SSE, it protects wallet spend but does not replay the stream."
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional correlation id echoed in response headers and usage logs."
          },
          {
            "name": "X-DeepSearch-Sandbox",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            },
            "description": "Run against deterministic sandbox fixtures, unmetered. Equivalent to `sandbox: true` in the body."
          },
          {
            "name": "X-DeepSearch-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 80,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,39}(/\\S{1,32})?$"
            },
            "example": "deepsearch-typescript/0.1.1",
            "description": "Optional `name/version` naming the calling client. Self-reported and used only for aggregate analytics: it never affects authentication, rate limits, billing or the response. The official SDKs and CLI send it; any other name is counted as a custom client."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 180
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": {}
                  },
                  "messages": {
                    "minItems": 1,
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 4000
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "context": {
                    "type": "string",
                    "maxLength": 12000
                  },
                  "direct": {
                    "type": "boolean"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "sse",
                      "json"
                    ]
                  },
                  "sandbox": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "person",
                  "messages"
                ]
              },
              "example": {
                "person": {
                  "name": "Ada Lovelace"
                },
                "messages": [
                  {
                    "role": "user",
                    "content": "Summarize her public footprint."
                  }
                ],
                "format": "json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. With format=json a single object is returned; otherwise events stream as text/event-stream.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Stable request correlation id."
              },
              "X-DeepSearch-Operation": {
                "schema": {
                  "type": "string"
                },
                "description": "The metered operation."
              },
              "X-DeepSearch-Metered": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              },
              "X-DeepSearch-Percentage-Charged": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of the current included allowance charged by this request."
              },
              "X-DeepSearch-Usage-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Whole-number percentage of included usage remaining after this request."
              },
              "X-DeepSearch-Usage-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": "Exact boundary at which the included weekly allowance resets."
              },
              "X-DeepSearch-Usage-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "included",
                    "extra",
                    "mixed"
                  ]
                },
                "description": "Whether the reservation used included usage, extra credits, or both."
              },
              "X-DeepSearch-Credits-Charged": {
                "schema": {
                  "type": "string"
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility charge; use X-DeepSearch-Percentage-Charged."
              },
              "X-DeepSearch-Allowance-Source": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "weekly",
                    "coin"
                  ]
                },
                "deprecated": true,
                "description": "Deprecated v1 compatibility source; use X-DeepSearch-Usage-Source."
              },
              "X-DeepSearch-Sandbox": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              },
              "Deprecation": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate at which it was declared deprecated."
              },
              "Sunset": {
                "schema": {
                  "type": "string"
                },
                "description": "Present only on a deprecated operation: the IMF-fixdate after which it may stop responding. Never less than 12 months after Deprecation."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                },
                "example": {
                  "object": "chat_result",
                  "request_id": "req_01HZY8P8V1TXZ6YXMJ56ATJZ1J",
                  "metadata": {
                    "api_version": "v1",
                    "operation": "chat",
                    "request_id": "req_01HZY8P8V1TXZ6YXMJ56ATJZ1J",
                    "generated_at": "2026-06-19T12:00:00.000Z"
                  },
                  "usage": {
                    "metered": true,
                    "percentageCharged": 1,
                    "remainingPercent": 72,
                    "resetAt": "2026-07-01T00:00:00.000Z",
                    "source": "included",
                    "credits": 1,
                    "allowanceSource": "weekly"
                  },
                  "answer": "Ada Lovelace is best known for her notes on Babbage's Analytical Engine.",
                  "related_questions": [
                    "What did she publish?",
                    "Who did she collaborate with?"
                  ],
                  "events": [
                    {
                      "type": "text",
                      "delta": "Ada Lovelace is best known for "
                    },
                    {
                      "type": "text",
                      "delta": "her notes on Babbage's Analytical Engine."
                    },
                    {
                      "type": "related",
                      "questions": [
                        "What did she publish?",
                        "Who did she collaborate with?"
                      ]
                    },
                    {
                      "type": "done"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "A stream of `data: {json}` lines, one StreamEvent each."
                }
              }
            }
          },
          "400": {
            "description": "The request body was missing, malformed, or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or revoked. The body includes action/url/message - direct the user to sign up and create a key, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                },
                "description": "RFC 6750 challenge, always present on a 401. Leads with `resource_metadata`, which points at the RFC 9728 protected-resource document describing where to get a token. Carries `error=\"invalid_token\"` when a credential was sent and rejected."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
          "402": {
            "description": "The requested capability is unavailable on the user's plan, or included usage and extra credits are exhausted. The body includes action/url/message - direct the user to upgrade, add credits, or wait for the reset, then retry. Agents cannot pay directly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the scope required for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The Idempotency-Key was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is larger than the API accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "The caller exceeded the API rate limit. Retry after the reset time or Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying. Measures the delta to the same window boundary as RateLimit-Reset, so the two agree to within a second; Retry-After is floored at 1 so it never tells a caller to retry immediately."
              },
              "RateLimit-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "Quota as an IETF structured field, e.g. `\"api:v1:search\";q=60;w=60` - q is the quota, w the window in seconds."
              },
              "RateLimit": {
                "schema": {
                  "type": "string"
                },
                "description": "Live counters for the same policy, e.g. `\"api:v1:search\";r=59;t=42` - r is remaining, t is seconds until reset."
              },
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed in the current window. Also sent on 401, 404, 405 and 429."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the window."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "SECONDS UNTIL the window resets, per the IETF drafts - not a clock time. The absolute epoch form is on X-RateLimit-Reset."
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Limit."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Alias of RateLimit-Remaining."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "Unix epoch seconds at which the window resets (the conventional X- meaning)."
              }
            }
          },
[...]
