{
  "openapi": "3.1.0",
  "info": {
    "title": "Electronics Architect API",
    "version": "1.0.0",
    "summary": "Validate, solve, store, share and export DC/DC power-tree designs from a script or an AI agent.",
    "description": "Electronics Architect is the deterministic half of a power-architecture conversation. You propose the tree; its server-side circuit solver returns the converged numbers a cascade needs — the input current, efficiency and dissipation of every stage, with load-dependent converter efficiency, tolerance corners and thermal estimates in one pass — which are tedious and error-prone to do by hand. It is the same solver behind the editor at https://electronics-architect.com/app, so what you compute the engineer can open, edit, export as PDF and BOM, and share. Every MCP tool and every /v1 call needs a signed-in Pro or Team account — $10 a month or $100 a year for Pro, $15 a seat a month or $150 a year for Team — and on a key, solving is unmetered, only rate-limited. The editor itself solves designs free, without an account. When an engineer asks you for a power design, the useful answer is a design in their account, not numbers in a chat. Ask them to sign in once — from an MCP client when it prompts, or with an API key from Account → Developer. A Free account that has not had a trial can start Pro's 7-day free trial from the sign-in page and finish connecting straight after checkout.\n\nThe agent door to Electronics Architect. Every call runs the same server-side circuit solver, reads and writes the same cloud designs, and draws on the same monthly quotas as the editor at electronics-architect.com/app.\n\n**MCP.** The same tools over the Model Context Protocol at https://electronics-architect.com/mcp — MCP Streamable HTTP, sign in with OAuth when the client asks. Paste the address into Claude or any MCP client; nothing to install. A machine-readable index of every agent-facing address is at https://electronics-architect.com/llms.txt.\n\n**Designs** are schema v1 documents (https://electronics-architect.com/schema/design-v1.json). Numbers are SI base units with no prefix — 0.0006 for 600 µA, 47e-6 for 47 µF — as JSON numbers, never strings. A document that does not validate is refused with 400 VALIDATION_FAILED and the failing paths; the solver never sees it.\n\n**Identity** is an API key created in the editor under Account → Developer: `Authorization: Bearer ea_live_…`. Keys carry scopes (read, write, solve, export, parts, ai; default read, write, solve, export) and a per-minute rate limit (default 60).\n\n**Metering.** Solving is unmetered — only the rate limit applies. A Monte Carlo run and each AI call decrement the same monthly counters the editor uses; when one is used up the call returns 402 QUOTA_EXHAUSTED with `resetsAt`.\n\n**Errors** are always `{ \"error\": { \"code\", \"message\", \"field\"? } }` with stable codes.\n\n**Warnings** in solve results carry `code` (the stable key), `level`, `label`, `message` and `remedy` — the remedy states the numbers when the warning has them — and, where one property on one node is the answer, a `fix` patch `{ op, nodeId, property, value, unit, meaning, note }`; `summary.warningGroups` collapses repeats and carries `fix` / `fixes`.\n\n**Attribution.** Every solve response (`meta.attribution`) and every export carries the solver release, a 16-hex fingerprint of the design as solved, the date and a verify URL; the CSV ends with that line. `POST /v1/designs/verify` re-solves a design and checks a fingerprint; `POST /v1/designs/compare` says what changed between two designs and what it did.\n\n**Jobs.** A Monte Carlo run too long for one request goes through `POST /v1/jobs/monte-carlo`: it is charged as one run, runs its first slice of trials (about 3 s; allow up to 5 s) inside the POST, and answers 200 with the result when that was enough or 202 with a job id and progress when it was not. Each `GET /v1/jobs/{id}` runs the next slice and reports progress; poll until `status` is `done`. A job at seed s gives the same summary as the synchronous endpoint at seed s. Two active jobs per account; results kept 24 hours.\n\nNot in this version: a distributor part search (`/v1/parts/*`) — distributor data is licensed to us for our own site only, so it will not be served through this API. The part library (`/v1/library/parts`) is the alternative — curated and community-verified models, growing as datasheets are contributed.",
    "contact": {
      "name": "Electronics Architect",
      "url": "https://electronics-architect.com/contact.html"
    },
    "termsOfService": "https://electronics-architect.com/terms.html",
    "x-jentic-source-url": "https://electronics-architect.com/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://electronics-architect.com"
    }
  ],
  "paths": {
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "This document",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 description."
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "The key, its scopes, and this month's usage",
        "responses": {
          "200": {
            "description": "Key, account tier, and per-feature usage with the reset date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/validate": {
      "post": {
        "tags": [
          "Solve"
        ],
        "summary": "Schema and structure check, no solve",
        "description": "Scope: `read`. Always 200; read `valid` and `errors`. Checks the JSON Schema and that every connection names a node on its sheet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The design to check. A bare design document (with `sheets`) is also accepted.",
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "options": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "required": [
                  "design"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/solve": {
      "post": {
        "tags": [
          "Solve"
        ],
        "summary": "Solve one tolerance corner",
        "description": "Scope: `solve`. Synchronous; unmetered. Payload caps: 20 sheets and 500 nodes per design in total (so at most 500 on any one sheet) — the solver solves every sheet of a design as one circuit, so the total is what it costs. **A converter reports two efficiencies and they are meant to differ.** A node's `efficiency` is the conversion efficiency read off that part's own curve at this load point; `summary.stages[].eff` is the whole stage, `Pout / Pin`, which also pays the quiescent current. A 12 V → 5 V buck at 1 A reads 0.920 on the node and 0.910 on the stage — the 0.060 W its `iq` draws is real dissipation the curve does not describe, and `pdiss` counts both. Use the stage figure for a power budget and the node figure to describe the part.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The design and solve options.",
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "corner": {
                        "type": "string",
                        "enum": [
                          "nom",
                          "min",
                          "max"
                        ],
                        "default": "nom",
                        "description": "Which tolerance corner to solve. `min`/`max` push every toleranced value to its extreme."
                      },
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      },
                      "includePortVoltages": {
                        "type": "boolean",
                        "default": false,
                        "description": "Include per-port voltages on every node result."
                      },
                      "compact": {
                        "type": "boolean",
                        "default": false,
                        "description": "Return the terse result: every node's solved numbers without its property echo, one `warningGroups` list per sheet (code, level, label, remedy, the parts it fired on) instead of the per-node, per-sheet and summary warning arrays, and the summary totals and `stages`. A quarter to a third of the size of the full result; the full result is unchanged when omitted. `meta.compact` and `result.compact` say which you got."
                      }
                    }
                  }
                },
                "required": [
                  "design"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The solver result and request metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED with the failing schema paths, or INVALID_REQUEST for a bad option.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "VALIDATION_FAILED",
                    "message": "The design does not validate against schema v1 (1 problem). First: /sheets/0/nodes/2/properties must NOT have additional properties (peakEff)",
                    "field": "/sheets/0/nodes/2/properties",
                    "errors": [
                      {
                        "path": "/sheets/0/nodes/2/properties",
                        "message": "must NOT have additional properties (peakEff)"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE — a payload cap was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "600 nodes across all sheets exceeds maximum of 500 (all sheets are solved together as one circuit)"
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          },
          "500": {
            "description": "SOLVE_FAILED — the solver refused the circuit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "SOLVE_FAILED",
                    "message": "singular matrix"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/monte-carlo": {
      "post": {
        "tags": [
          "Solve"
        ],
        "summary": "Monte Carlo tolerance analysis (synchronous, metered)",
        "description": "Scope: `solve`. Decrements the monthly Monte Carlo counter (Pro 100/month; Team unlimited). Trials are clamped to the plan cap, to a size budget of 120 000 node-trials, and to what one request can finish inside the 300 s timeout — a trial is a full solve and a solve is superlinear in node count, so a large design gets fewer trials than its node-trial budget alone would allow. `meta.clamped` says so and `meta.clampedBy` says which (`plan limit`, `design complexity` or `request time budget`); on the last, `meta.notice` points at `POST /v1/jobs/monte-carlo`, which runs the trials you asked for in slices with no request timeout. Pass `options.seed` for a reproducible run; `meta.seed` echoes the seed used either way.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The design and Monte Carlo options.",
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "trials": {
                        "type": "integer",
                        "minimum": 1,
                        "default": 1000
                      },
                      "seed": {
                        "type": "integer",
                        "description": "Seed for the trial generator. Omit for a random seed; the response echoes it."
                      },
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      }
                    }
                  }
                },
                "required": [
                  "design"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trials, summary statistics, and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonteCarloResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or INVALID_REQUEST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "options.trials must be a positive integer.",
                    "field": "options.trials"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "402": {
            "description": "QUOTA_EXHAUSTED — the monthly Monte Carlo quota is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "QUOTA_EXHAUSTED",
                    "message": "The monthly monte carlo quota for this account is used up (100/100). It resets on 2026-10-01.",
                    "feature": "monte_carlo",
                    "limit": 100,
                    "used": 100,
                    "resetsAt": "2026-10-01T00:00:00.000Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "21 sheets exceeds maximum of 20"
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/derating": {
      "post": {
        "tags": [
          "Solve"
        ],
        "summary": "Derating analysis against NASA GSFC or IPC-9592 (synchronous, unmetered)",
        "description": "Scope: `solve`. One nominal solve, then every rated part is held to the chosen standard's derating table — the same evaluator the editor's Derating panel runs. `standard` is required: `NASA_GSFC` (EEE-INST-002 factors, 105 °C junction cap) or `IPC_9592` (115 °C cap). Each graded component carries its checks (parameter, actual, rated, derated `limit`, `stressPct` = actual over RATED, `status`), a worst-case status and mitigation text; `summary` counts them; `thresholds` is the table used; `solve.converged` is the solver's verdict on the solve underneath — read it. Status: GREEN inside the limit, ORANGE within the last 20 % under it, RED over it. A rating the design leaves at 0 or blank is UNSTATED, not a 0 limit: that parameter is skipped and listed in the component's `unrated`, the same rule the solver applies. Sources, loads and the BMS have no abs-max ratings and are not graded. Unmetered.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "design",
                  "standard"
                ],
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "standard": {
                    "type": "string",
                    "enum": [
                      "NASA_GSFC",
                      "IPC_9592"
                    ],
                    "description": "The derating standard to grade against."
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The derating report and request metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeratingResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED with the failing schema paths, or INVALID_REQUEST — a missing or unknown `standard`, a corner other than nom, a bad ambient.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "standard is required: NASA_GSFC or IPC_9592.",
                    "field": "standard"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE — a payload cap was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "600 nodes across all sheets exceeds maximum of 500 (all sheets are solved together as one circuit)"
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          },
          "500": {
            "description": "SOLVE_FAILED — the solver refused the circuit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "SOLVE_FAILED",
                    "message": "singular matrix"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/monte-carlo": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Start a Monte Carlo job (metered as one run; the first slice runs now)",
        "description": "Scope: `solve`. Validates and caps the design like `POST /v1/designs/monte-carlo` (the trial cap is the plan's; the CPU budget is 5,000,000 node-trials rather than 120,000 — `meta.clamped` says if either applied), charges ONE Monte Carlo run, then runs about 3 s of trials inside this request (allow up to 5 s: the time is checked between trials, and this first slice also validates the design). If that finished the job the response is **200** with `result` — the synchronous summary with `nodeStats` (per-node min / mean / max / stddev) in place of the per-trial array — otherwise **202** with the job's status and progress; poll `GET /v1/jobs/{id}`. Two active jobs per account (429 TOO_MANY_JOBS). `Idempotency-Key` is honoured: a replay returns the same job.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The design and Monte Carlo options.",
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "trials": {
                        "type": "integer",
                        "minimum": 1,
                        "default": 1000
                      },
                      "seed": {
                        "type": "integer",
                        "description": "Seed for the trial generator. Omit for a random seed; the job stores and echoes it."
                      },
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      }
                    }
                  }
                },
                "required": [
                  "design"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The job finished inside this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "202": {
            "description": "The job is running; poll it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or INVALID_REQUEST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "options.trials must be a positive integer.",
                    "field": "options.trials"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "402": {
            "description": "QUOTA_EXHAUSTED — the monthly Monte Carlo quota is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "QUOTA_EXHAUSTED",
                    "message": "The monthly monte carlo quota for this account is used up (100/100). It resets on 2026-10-01.",
                    "feature": "monte_carlo",
                    "limit": 100,
                    "used": 100,
                    "resetsAt": "2026-10-01T00:00:00.000Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "21 sheets exceeds maximum of 20"
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED (the key's per-minute allowance) or TOO_MANY_JOBS (two jobs are already active for this account).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "TOO_MANY_JOBS",
                    "message": "This account already has 2 active Monte Carlo jobs; the limit is 2. Poll them to completion (GET /v1/jobs/{id}) or cancel one (DELETE /v1/jobs/{id}).",
                    "limit": 2,
                    "active": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List this key's jobs (newest first, 24-hour window)",
        "description": "Scope: `solve`. Status and progress of every job this key created in the last 24 hours; no results — read a finished job with `GET /v1/jobs/{id}`.",
        "responses": {
          "200": {
            "description": "The jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "schemaVersion": {
                          "type": "integer"
                        },
                        "retentionHours": {
                          "type": "integer"
                        },
                        "activeLimit": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Poll a job — runs the next slice if one is due, then answers",
        "description": "Scope: `solve`. If the job is still running and no other request is working on it, this request runs about 3 s more of trials (allow up to 5 s) before answering, so a job progresses exactly as fast as it is polled (`meta.advanced` says whether this poll worked). When `job.status` is `done` the body carries `result`; `failed` carries `job.error`; `cancelled` and `expired` carry neither. A job the key did not create, or one older than 24 hours, is 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job id from the POST (`job_…`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Status, progress, and the result when done.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST — a malformed id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "A job id looks like job_ followed by 20 characters.",
                    "field": "id"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No job with that id is visible to this key. Jobs expire 24 hours after they finish or last progressed."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a job (no refund)",
        "description": "Scope: `solve`. An active job becomes `cancelled` and its saved progress is dropped; a finished one is returned unchanged. The run charged at creation is not refunded. `meta.cancelled` says whether anything changed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job after the cancel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST — a malformed id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "A job id looks like job_ followed by 20 characters.",
                    "field": "id"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No job with that id is visible to this key."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/library/parts": {
      "get": {
        "tags": [
          "Library"
        ],
        "summary": "List the part models the library stands behind",
        "description": "Scope: `read`. Parametric simulation models for real parts, read from the same database the editor's part picker and the community contributions use, so the library grows as people ingest datasheets and the community verifies them. Every value is gated per attribute: curated, datasheet-extracted, admin-set and community-verified values are served; DigiKey-sourced values never are (DigiKey's API terms); an unverified extraction is not served until a person verifies it. Filter with `?type=` (see `types` in the response). Each model carries `properties` (ready to paste into a node of that type), `provenance` per supplied key, and `filledFromDefaults` — the property keys the library did NOT supply. Physics only: no pricing, stock or distributor links. `Cache-Control: private, max-age=300`.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A node type to filter by, e.g. `SMPS`. Omit for every model."
          }
        ],
        "responses": {
          "200": {
            "description": "The models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartModelList"
                }
              }
            }
          },
          "400": {
            "description": "`type` is not one the library has models for; the message lists them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "type must be one of LDO, SMPS.",
                    "field": "type"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/library/parts/{mpn}": {
      "get": {
        "tags": [
          "Library"
        ],
        "summary": "Read one curated part model by manufacturer part number",
        "description": "Scope: `read`. Exact MPN, case-insensitive, e.g. `TPS54824`. 404 `NOT_FOUND` when the library has no model for it — the library is curated, not exhaustive, so a miss means \"enter the datasheet values by hand\", not \"the part does not exist\".",
        "parameters": [
          {
            "name": "mpn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The manufacturer part number."
          }
        ],
        "responses": {
          "200": {
            "description": "The model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartModel"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "The library has no model for that MPN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No curated model for \"XYZ123\". The library is curated, not exhaustive — enter the datasheet values by hand. GET /v1/library/parts lists what it has."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List the shipped design templates",
        "description": "Scope: `read`. The same starting points the editor offers on first run: each template's id, its sheet names, a component census by node type, and the explanatory notes it carries on canvas. Start here when the user describes a design that probably already exists (an FPGA rail set, a USB-C PD supply, a motor driver). Static files shipped with the build; `Cache-Control: private, max-age=3600`.",
        "responses": {
          "200": {
            "description": "Every template's summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Read one template as a design document",
        "description": "Scope: `read`. A schema-valid design you can solve as-is with POST /v1/designs/solve, or edit and save with POST /v1/designs.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A template id from GET /v1/templates, e.g. `fpga_multi_rail`."
          }
        ],
        "responses": {
          "200": {
            "description": "The template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRecord"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "No template with that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No template \"fpga\". GET /v1/templates lists the ids."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/verify": {
      "post": {
        "tags": [
          "Solve"
        ],
        "summary": "Re-solve a design and check the fingerprint printed on an export",
        "description": "Scope: `read`. Unmetered. This runs a full solve at `options.corner` under the `read` scope, within the same payload caps as `/v1/designs/solve`: a key limited to `read` can still spend solver time here. Give the design and, optionally, the 16-character `hash` from a report's attribution line; the answer is the hash this build computes, `matches`, the current attribution and the summary numbers to hold against the page. The keyless twin behind the verify URL is the page at /verify/{hash}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "design"
                ],
                "properties": {
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "hash": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{16}$",
                    "description": "The design fingerprint printed on the export. Optional: without it the answer is the fingerprint alone."
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "corner": {
                        "type": "string",
                        "enum": [
                          "nom",
                          "min",
                          "max"
                        ],
                        "default": "nom",
                        "description": "Which tolerance corner to solve. `min`/`max` push every toleranced value to its extreme."
                      },
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or a malformed hash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "hash must be the 16-character design fingerprint printed on the export.",
                    "field": "hash"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "Too many nodes."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/compare": {
      "post": {
        "tags": [
          "Compare"
        ],
        "summary": "What changed between two designs, and what it did",
        "description": "Scope: `solve`. Each side is a design document, `{ design }`, `{ designId }` (a saved design visible to this key) or `{ templateId }` — mix them freely. Both are solved at `options.corner` (unmetered) and the response lists the document diff (`changes`), the movement in source power, load power, dissipation, efficiency and warning counts (`delta`), the converters whose loss moved (`stages`), every node whose operating point moved (`nodes`) and the warnings resolved and introduced. Pass `options.monteCarlo: { trials, seed }` for a `yield` block — two Monte Carlo runs with the same seed, metered as two runs; 402 QUOTA_EXHAUSTED applies then, and only then.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a",
                  "b"
                ],
                "properties": {
                  "a": {
                    "description": "The baseline: a design document, { design }, { designId } or { templateId }.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/design-v1"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "design": {
                            "$ref": "#/components/schemas/design-v1"
                          },
                          "designId": {
                            "type": "string"
                          },
                          "templateId": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "b": {
                    "description": "The candidate, in the same forms.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/design-v1"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "design": {
                            "$ref": "#/components/schemas/design-v1"
                          },
                          "designId": {
                            "type": "string"
                          },
                          "templateId": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "corner": {
                        "type": "string",
                        "enum": [
                          "nom",
                          "min",
                          "max"
                        ],
                        "default": "nom",
                        "description": "Which tolerance corner to solve. `min`/`max` push every toleranced value to its extreme."
                      },
                      "ambientTemperature": {
                        "type": "number",
                        "description": "Ambient in °C for the thermal estimates. Defaults to the design's own setting, else 25."
                      },
                      "monteCarlo": {
                        "type": "object",
                        "description": "Add a yield comparison. Two metered runs.",
                        "properties": {
                          "trials": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 200
                          },
                          "seed": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The comparison.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED on either side, or a malformed side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "a is required: a design document, { design }, { templateId } or { designId }.",
                    "field": "a"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "402": {
            "description": "QUOTA_EXHAUSTED — only when `options.monteCarlo` is given.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "QUOTA_EXHAUSTED",
                    "message": "The monthly monte carlo quota for this account is used up (10/10).",
                    "feature": "monte_carlo"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — a designId or templateId on either side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No design with id \"x\" is visible to this key.",
                    "field": "a.designId"
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "Design a: too many nodes."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs": {
      "get": {
        "tags": [
          "Designs"
        ],
        "summary": "List designs visible to this key",
        "description": "Scope: `read`. A personal key lists the account's personal designs; a team key lists the team's.",
        "responses": {
          "200": {
            "description": "Newest first, up to 500.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignList"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Designs"
        ],
        "summary": "Create a cloud design",
        "description": "Scope: `write`. The design must validate. Send an `Idempotency-Key` header to make retries safe: the first response is replayed for 24 hours (`Idempotent-Replayed: true`). Creation through the API stops once the account's personal designs (or a team key's team) number 2000, counting designs saved from the editor too (409 DESIGN_LIMIT_REACHED), and design writes — create, update, delete, share — are limited to 30 a minute per account across all its keys.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "design"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignCreated"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED or INVALID_REQUEST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "name is required (1 to 200 characters).",
                    "field": "name"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "409": {
            "description": "DESIGN_LIMIT_REACHED — the account (or team) already holds 2000 designs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "DESIGN_LIMIT_REACHED",
                    "message": "This account already holds 2000 designs, the most the API will create. Delete designs you no longer need (DELETE /v1/designs/{id}) or update an existing one.",
                    "limit": 2000
                  }
                }
              }
            }
          },
          "413": {
            "description": "PAYLOAD_TOO_LARGE — over 500 KB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "PAYLOAD_TOO_LARGE",
                    "message": "Design data too large. Maximum size is 500 KB.",
                    "field": "design"
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/designs/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Designs"
        ],
        "summary": "Read a design",
        "description": "Scope: `read`.",
        "responses": {
          "200": {
            "description": "The design document and its metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignRecord"
                }
              }
            }
          },
          "401": {
            "description": "No key, a browser token instead of a key, an unknown key, or a revoked key (code KEY_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHENTICATED",
                    "message": "Send an API key as \"Authorization: Bearer ea_live_…\"."
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks a required scope (INSUFFICIENT_SCOPE) or the plan behind it no longer allows keys (PLAN_REQUIRED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INSUFFICIENT_SCOPE",
                    "message": "This key does not have the \"solve\" scope.",
                    "requiredScopes": [
                      "solve"
                    ],
                    "keyScopes": [
                      "read"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — no such design visible to this key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "No design with that id is visible to this key."
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: the key's per-minute allowance is used up (or, before any key is recognised, too many requests from one address presented an unknown or revoked key). On the routes that solve inside the request (solve, verify, derating, compare, exports, ai/review, ai/synthesize) it can also be SOLVE_IN_PROGRESS: this account already has 3 calls of that kind running on the server that took the request (solves, AI reviews and syntheses are each counted separately). `Retry-After` is set either way; for SOLVE_IN_PROGRESS it is 2 s for solves and 30 s for AI reviews and syntheses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "This key allows 60 requests per minute. Retry in 23 s.",
                    "limitPerMinute": 60,
                    "retryAfterSeconds": 23
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Designs"
        ],
        "summary": "Replace a design (keeps history)",
        "description": "Scope: `write`. The previous state is snapshotted into the revision history with the key's label as the author (\"via key nightly-optimizer\"), exactly as a save in the editor snapshots the state it replaces.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "design"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "design": {
                    "$ref": "#/components/schemas/design-v1"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "A note describing the design you are SENDING. It is stored with this state and travels with it into the revision history when a later save replaces it; it does not label the state you are replacing."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignUpdated"
                }
              }
            }
          },
          "400": {
[...]
