{
  "openapi": "3.1.0",
  "info": {
    "title": "Rendex Rendering API",
    "version": "1.8.0",
    "description": "Render any webpage, raw HTML, or Markdown to a pixel-perfect image or PDF.\nA rendering API for automation builders and AI agents — HTML-to-image, URL\nscreenshots, hosted OG links, and URL-to-Markdown extraction from one endpoint.\n\nDeployed on Cloudflare's global edge (300+ locations, zero cold starts).\nMCP-compatible for AI agent workflows. Free tier included.\n\n**Features**: PNG/JPEG/WebP/PDF output, HTML/URL/Markdown input, batch capture (up to 500 URLs),\ngeo-targeted rendering (50+ countries), async pipeline with webhook\ndelivery, CSS/JS injection, custom cookies and headers, full-page capture,\ndark mode emulation, ad blocking, element selectors, custom viewports\n(320–3840px), device scale factor (1–3x), progressive navigation with\nautomatic fallback.\n",
    "contact": {
      "name": "Copperline Labs",
      "url": "https://rendex.dev",
      "email": "support@rendex.dev",
      "x-twitter": "rendexdev"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://rendex.dev/terms"
    },
    "x-logo": {
      "url": "https://rendex.dev/brand/icon-400.png"
    },
    "x-providerName": "rendex.dev",
    "x-apisguru-categories": [
      "application_development"
    ],
    "x-jentic-source-url": "https://rendex.dev/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.rendex.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/screenshot": {
      "get": {
        "operationId": "getScreenshot",
        "summary": "Capture screenshot via query parameters",
        "description": "Returns the screenshot as a binary image. Supports `<img src=\"...\">` embedding\nand browser-based access. All POST parameters are accepted as query params.\nAccepts API key via `Authorization: Bearer`, `x-api-key` header, or `?key=` query param.\n",
        "tags": [
          "Screenshot"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyHeader": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/width"
          },
          {
            "$ref": "#/components/parameters/height"
          },
          {
            "$ref": "#/components/parameters/fullPage"
          },
          {
            "$ref": "#/components/parameters/quality"
          },
          {
            "$ref": "#/components/parameters/delay"
          },
          {
            "$ref": "#/components/parameters/darkMode"
          },
          {
            "$ref": "#/components/parameters/deviceScaleFactor"
          },
          {
            "$ref": "#/components/parameters/blockAds"
          },
          {
            "$ref": "#/components/parameters/timeout"
          },
          {
            "$ref": "#/components/parameters/waitUntil"
          },
          {
            "$ref": "#/components/parameters/waitForSelector"
          },
          {
            "$ref": "#/components/parameters/bestAttempt"
          },
          {
            "$ref": "#/components/parameters/selector"
          },
          {
            "$ref": "#/components/parameters/device"
          },
          {
            "$ref": "#/components/parameters/blockCookieBanners"
          },
          {
            "$ref": "#/components/parameters/resizeWidth"
          },
          {
            "$ref": "#/components/parameters/resizeHeight"
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key (alternative to Authorization header)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "408": {
            "$ref": "#/components/responses/Timeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/CaptureError"
          }
        }
      },
      "post": {
        "operationId": "postScreenshot",
        "summary": "Capture screenshot (returns image binary)",
        "description": "Accepts a JSON body with capture parameters. Returns the screenshot as a\nbinary image with metadata in response headers (`x-screenshot-*`, `x-rendex-*`).\n",
        "tags": [
          "Screenshot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic screenshot",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "fullPageDark": {
                  "summary": "Full-page dark mode screenshot",
                  "value": {
                    "url": "https://github.com",
                    "fullPage": true,
                    "darkMode": true,
                    "format": "webp",
                    "quality": 85
                  }
                },
                "elementCapture": {
                  "summary": "Capture a specific element",
                  "value": {
                    "url": "https://example.com",
                    "selector": "#main-content",
                    "width": 1920,
                    "deviceScaleFactor": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "408": {
            "$ref": "#/components/responses/Timeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/CaptureError"
          }
        }
      }
    },
    "/v1/screenshot/json": {
      "post": {
        "operationId": "postScreenshotJson",
        "summary": "Capture screenshot (returns base64 JSON)",
        "description": "Same capture parameters as `POST /v1/screenshot`, but returns the image\nas a base64-encoded string inside a JSON envelope with full metadata.\n",
        "tags": [
          "Screenshot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic JSON response",
                  "value": {
                    "url": "https://example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot captured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotJsonResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "image": "iVBORw0KGgoAAAANSUhEUgAA...",
                    "contentType": "image/png",
                    "url": "https://example.com",
                    "width": 1280,
                    "height": 800,
                    "format": "png",
                    "bytesSize": 45230,
                    "capturedAt": "2026-04-02T12:00:00.000Z",
                    "quality": "full",
                    "waitStrategy": "networkidle2",
                    "loadTimeMs": 1250
                  },
                  "meta": {
                    "requestId": "req_abc123",
                    "timestamp": "2026-04-02T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "408": {
            "$ref": "#/components/responses/Timeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/CaptureError"
          }
        }
      }
    },
    "/v1/screenshot/batch": {
      "post": {
        "operationId": "postScreenshotBatch",
        "summary": "Batch capture multiple URLs",
        "description": "Submit up to 500 URLs for capture in a single request. Each URL is processed\nasynchronously. Returns a `batchId` that can be polled via `GET /v1/batches/{batchId}`.\nShared defaults apply to all URLs unless overridden per-item.\n",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Batch of three URLs",
                  "value": {
                    "urls": [
                      {
                        "url": "https://example.com"
                      },
                      {
                        "url": "https://github.com"
                      },
                      {
                        "url": "https://stripe.com"
                      }
                    ],
                    "defaults": {
                      "format": "webp",
                      "width": 1280,
                      "fullPage": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "batchId": "batch_abc123",
                    "totalUrls": 3,
                    "status": "processing",
                    "createdAt": "2026-04-05T12:00:00.000Z"
                  },
                  "meta": {
                    "requestId": "req_abc123",
                    "timestamp": "2026-04-05T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/jobs/{jobId}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Poll async job status",
        "description": "Returns the current status of an async screenshot job. When status is `completed`,\nthe response includes the image URL or base64 data.\n",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Async job identifier (returned when `async: true`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "jobId": "job_abc123",
                    "status": "completed",
                    "url": "https://example.com",
                    "imageUrl": "https://api.rendex.dev/v1/images/abc123.png",
                    "createdAt": "2026-04-05T12:00:00.000Z",
                    "completedAt": "2026-04-05T12:00:05.000Z"
                  },
                  "meta": {
                    "requestId": "req_abc123",
                    "timestamp": "2026-04-05T12:00:05.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/{batchId}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Poll batch status",
        "description": "Returns the current status of a batch capture request, including per-URL\njob statuses and progress.\n",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "Batch identifier (returned by `POST /v1/screenshot/batch`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "batchId": "batch_abc123",
                    "status": "completed",
                    "totalUrls": 3,
                    "completed": 3,
                    "failed": 0,
                    "jobs": [
                      {
                        "jobId": "job_1",
                        "url": "https://example.com",
                        "status": "completed",
                        "imageUrl": "https://api.rendex.dev/v1/images/1.png"
                      },
                      {
                        "jobId": "job_2",
                        "url": "https://github.com",
                        "status": "completed",
                        "imageUrl": "https://api.rendex.dev/v1/images/2.png"
                      },
                      {
                        "jobId": "job_3",
                        "url": "https://stripe.com",
                        "status": "completed",
                        "imageUrl": "https://api.rendex.dev/v1/images/3.png"
                      }
                    ],
                    "createdAt": "2026-04-05T12:00:00.000Z",
                    "completedAt": "2026-04-05T12:00:15.000Z"
                  },
                  "meta": {
                    "requestId": "req_abc123",
                    "timestamp": "2026-04-05T12:00:15.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Liveness check",
        "description": "Returns 200 if the API worker is running.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is alive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health/deep": {
      "get": {
        "operationId": "deepHealthCheck",
        "summary": "Deep dependency check",
        "description": "Verifies connectivity to all external dependencies (database, billing).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "All dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepHealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "One or more dependencies unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepHealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render/link": {
      "post": {
        "operationId": "createRenderLink",
        "summary": "Mint a signed hosted-render URL",
        "description": "Returns a self-contained, signed URL you can paste straight into\n`<meta property=\"og:image\">` (or an `<img src>`). No backend or storage\non your side: `GET /v1/render` renders it on the first request, caches\nthe result in R2 under a deterministic key, and serves the cached copy\non every repeat — so a widely-shared link costs one render, not one per\ncrawl. The link encodes the (signed, tamper-proof) render params, the\nowning account, and an expiry. Credits are charged to the link owner on\neach cache-miss render only.\n",
        "tags": [
          "Screenshot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ScreenshotRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "expiresIn": {
                        "type": "integer",
                        "description": "Link validity in seconds (3600–2592000). Defaults to cacheTtl or 30 days.",
                        "minimum": 3600,
                        "maximum": 2592000
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed render link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "The signed render URL to embed"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "format": {
                          "type": "string"
                        },
                        "cacheTtl": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (async/webhook/extract/geo are not valid on a render link)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Minted render-link URL exceeds the size cap (PAYLOAD_TOO_LARGE).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render": {
      "get": {
        "operationId": "serveRenderLink",
        "summary": "Serve a signed render link",
        "description": "Public endpoint — the HMAC signature in the URL is the auth boundary (no\nAPI key). Renders on the first hit and returns the image/PDF bytes;\nsubsequent hits serve the cached copy. Normally you don't call this\ndirectly — embed the URL returned by `POST /v1/render/link`. The\n`x-rendex-cache` response header is `hit` or `miss`.\n",
        "tags": [
          "Screenshot"
        ],
        "security": [],
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signed params token"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owning account id"
          },
          {
            "name": "exp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Expiry (unix seconds)"
          },
          {
            "name": "sig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "HMAC signature"
          }
        ],
        "responses": {
          "200": {
            "description": "Rendered image or PDF",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Expired or invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extract": {
      "post": {
        "operationId": "extractContent",
        "summary": "Extract clean content from a URL",
        "description": "Turns a single URL into clean reader-mode content — Markdown, JSON, or\narticle HTML — pulled from the fully-rendered page (so it works on\nJavaScript-heavy sites). Text only; for image + text in one call use\n`POST /v1/screenshot/json` with `extract: true`.\n",
        "tags": [
          "Screenshot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "extractFormat": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "json",
                      "html",
                      "text"
                    ],
                    "default": "markdown"
                  },
                  "waitUntil": {
                    "type": "string",
                    "enum": [
                      "load",
                      "domcontentloaded",
                      "networkidle0",
                      "networkidle2"
                    ]
                  },
                  "timeout": {
                    "type": "integer"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "iphone_15",
                      "iphone_se",
                      "pixel_8",
                      "ipad",
                      "ipad_pro"
                    ]
                  },
                  "blockCookieBanners": {
                    "type": "boolean"
                  },
                  "hideSelectors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "markdown",
                            "json",
                            "html",
                            "text"
                          ]
                        },
                        "content": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "byline": {
                          "type": "string"
                        },
                        "excerpt": {
                          "type": "string"
                        },
                        "siteName": {
                          "type": "string"
                        },
                        "length": {
                          "type": "integer"
                        },
                        "loadTimeMs": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Extracted content exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "No article-like content found to extract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get plan, usage, and upgrade info",
        "description": "Returns the authenticated account's plan, this month's usage\n(used / limit / remaining and the reset date), the per-minute rate limit,\nand a recommended upgrade with a one-tap link. Read-only and free — it\ndoes not consume credits.\n",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "plan": {
                          "type": "string",
                          "enum": [
                            "free",
                            "starter",
                            "pro",
                            "enterprise"
                          ]
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer",
                              "nullable": true
                            },
                            "limit": {
                              "type": "integer",
                              "nullable": true
                            },
                            "remaining": {
                              "type": "integer",
                              "nullable": true
                            },
                            "unlimited": {
                              "type": "boolean"
                            },
                            "resetsAt": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          }
                        },
                        "rateLimitPerMinute": {
                          "type": "integer"
                        },
                        "upgrade": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "recommendedPlan": {
                              "type": "string"
                            },
                            "recommendedPlanCredits": {
                              "type": "integer",
                              "nullable": true
                            },
                            "upgradeUrl": {
                              "type": "string",
                              "format": "uri"
                            },
                            "manageBillingUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "plan": "free",
                    "usage": {
                      "used": 50,
                      "limit": 100,
                      "remaining": 50,
                      "unlimited": false,
                      "resetsAt": "2026-07-01T00:00:00.000Z"
                    },
                    "rateLimitPerMinute": 10,
                    "upgrade": {
                      "recommendedPlan": "starter",
                      "recommendedPlanCredits": 10000,
                      "upgradeUrl": "https://rendex.dev/pricing",
                      "manageBillingUrl": "https://rendex.dev/dashboard/billing"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/artifact": {
      "post": {
        "operationId": "renderArtifact",
        "summary": "Render a branded PDF + PNG artifact from Markdown or HTML",
        "description": "One call that turns Markdown or HTML plus a small branding theme into a\nbranded PDF, a PNG, and a hosted share page — built for AI agents and\nChatGPT apps that produce a finished document and need a downloadable,\nshareable result. Pass the document body in `content` (Markdown by\ndefault, or set `inputFormat: html`), an optional `branding` theme\n(logo, accent color, font, header, footer), and an optional `pageSetup`\n(paper size, orientation, margins, scale, viewport). Choose the output\n`formats` — `pdf`, `png`, or both. Each requested format charges 1\ncredit from the same shared pool as the rendering endpoints, drawn with\nthe same `rdx_` key; the full charge is refunded on a render failure.\nThe response returns short-lived signed URLs for each rendered format\nplus a `shareUrl` to a hosted preview page; all expire after `expiresIn`\nseconds (default 24h).\n",
        "tags": [
          "Screenshot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The Markdown or HTML body to render. Up to ~4MB."
                  },
                  "inputFormat": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "html"
                    ],
                    "default": "markdown",
                    "description": "How to interpret `content`. 'markdown' is converted to styled HTML; 'html' is used as a body fragment."
                  },
                  "formats": {
                    "type": "array",
                    "default": [
                      "pdf",
                      "png"
                    ],
                    "minItems": 1,
                    "maxItems": 2,
                    "items": {
                      "type": "string",
                      "enum": [
                        "pdf",
                        "png"
                      ]
                    },
                    "description": "Which artifact formats to produce. Each format charges 1 credit."
                  },
                  "branding": {
                    "type": "object",
                    "description": "Optional theme applied to the artifact header, body, and footer.",
                    "properties": {
                      "logo": {
                        "type": "string",
                        "format": "uri",
                        "description": "Absolute http(s) URL of a logo image shown in the header."
                      },
                      "accentColor": {
                        "type": "string",
                        "description": "CSS color for the accent bar",
                        "links": null,
                        "and headings (e.g. '#EA580C').": null
                      },
                      "font": {
                        "type": "string",
                        "description": "CSS font-family stack applied to the body (e.g. 'Georgia",
                        "serif').": null
                      },
                      "header": {
                        "type": "string",
                        "description": "Plain-text header line shown beside the logo."
                      },
                      "footer": {
                        "type": "string",
                        "description": "Plain-text footer line shown at the bottom of every page."
                      }
                    }
                  },
                  "pageSetup": {
                    "type": "object",
                    "description": "Optional paper/viewport setup for the PDF and PNG.",
                    "properties": {
                      "size": {
                        "type": "string",
                        "enum": [
                          "A4",
                          "Letter",
                          "Legal",
                          "Tabloid",
                          "A3"
                        ],
                        "default": "A4"
                      },
                      "orientation": {
                        "type": "string",
                        "enum": [
                          "portrait",
                          "landscape"
                        ],
                        "default": "portrait"
                      },
                      "margin": {
                        "type": "object",
                        "description": "PDF page margins as CSS values (e.g. '1cm', '24px').",
                        "properties": {
                          "top": {
                            "type": "string"
                          },
                          "right": {
                            "type": "string"
                          },
                          "bottom": {
                            "type": "string"
                          },
                          "left": {
                            "type": "string"
                          }
                        }
                      },
                      "scale": {
                        "type": "number",
                        "minimum": 0.1,
                        "maximum": 2,
                        "description": "PDF render scale (0.1–2). Default 1."
                      },
                      "width": {
                        "type": "integer",
                        "minimum": 320,
                        "maximum": 3840,
                        "description": "PNG viewport width in px. Default 1280."
                      },
                      "height": {
                        "type": "integer",
                        "minimum": 240,
                        "maximum": 2160,
                        "description": "PNG viewport height in px. Default 800."
                      },
                      "fullPage": {
                        "type": "boolean",
                        "description": "Capture the full scrollable page for the PNG. Default true."
                      }
                    }
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional Mustache data. When present, `content` is rendered as a logic-less Mustache template (plus the branding fields) before conversion."
                  },
                  "expiresIn": {
                    "type": "integer",
                    "minimum": 3600,
                    "maximum": 2592000,
                    "default": 86400,
                    "description": "Seconds until the hosted URLs expire (3600–2592000). Default 86400 (24h)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered artifact URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "pdfUrl": {
                          "type": "string",
                          "description": "Signed URL of the rendered PDF (present when 'pdf' was requested)."
                        },
                        "pngUrl": {
                          "type": "string",
                          "description": "Signed URL of the rendered PNG (present when 'png' was requested)."
                        },
                        "shareUrl": {
                          "type": "string",
                          "description": "Signed URL of a hosted share page previewing the artifact."
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the signed URLs expire."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watches": {
      "post": {
        "operationId": "createWatch",
        "x-status": "stable",
        "summary": "Create a watch",
        "description": "Start monitoring a URL for changes. Rendex renders the page in real Chrome on your\nschedule, runs a before/after visual diff (and/or a text diff), and alerts you over a\nwebhook and/or email when it changes. An active watch captures its baseline immediately,\ndrawing 1 credit from your shared pool; a failed check is refunded. The same `rdx_` key\nand credit pool as the rendering endpoints.\n",
        "tags": [
          "Watch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWatchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Watch created (baseline run enqueued when active)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Watch"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters, SSRF/Safe-Browsing block, or an incompatible combination (pdf + a visual diffMode, or geo + a text diffMode)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Plan wall — watch cap (WATCH_LIMIT_REACHED; counts active + paused watches),\nper-host cap (WATCH_HOST_LIMIT_REACHED), interval floor (WATCH_INTERVAL_TOO_FAST),\nor a paid-only channel (webhook = Starter+, AI summary & geo = Pro+).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "WATCH_LIMIT_REACHED",
                    "message": "You have 1/1 watches on the free plan (active + paused). Upgrade to starter for up to 10 watches."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Monthly credit pool exhausted (hard cap, no overage)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWatches",
        "x-status": "stable",
        "summary": "List your watches",
        "description": "List your watches, newest first. Filter by state and page with the cursor.",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by state",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a prior response's nextCursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of watches, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Watch"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Pass as cursor to fetch the next page; absent on the last page"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/watches/{id}": {
      "get": {
        "operationId": "getWatch",
        "x-status": "stable",
        "summary": "Fetch one watch",
        "description": "Fetch a single watch by id, including its current status and configuration.",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watch UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The watch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Watch"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Watch not found (or not owned by the caller) — WATCH_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateWatch",
        "x-status": "stable",
        "summary": "Update, pause, resume, or re-point a watch",
        "description": "All fields optional. Set `paused` true to pause or false to resume. `webhookUrl` and\n`notifyEmail` accept `null` to switch a channel off.\n\n**renderParams is MERGED, not replaced.** A partial `renderParams` is deep-merged over the\nwatch's existing render config, so you can change one knob (e.g. `{ \"renderParams\": { \"darkMode\": true } }`)\nwithout re-sending the whole object. To clear a knob, set it to its default explicitly.\n\n**Re-baselining.** Changing `url` clears the baseline so the next run re-baselines. A\nrenderParams edit that changes WHAT is captured (a scope change — e.g. `selector`,\n`fullPage`, `width`/`height`, or `device`) likewise invalidates the baseline and\nre-baselines on the next run; a noise-only edit (e.g. `threshold`, `ignoreRegions`) does not.\n",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watch UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated watch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Watch"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Plan wall (resume re-checks the caps; a faster interval or the webhook channel may be gated)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Watch not found — WATCH_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWatch",
        "x-status": "stable",
        "summary": "Delete a watch and its run history",
        "description": "Permanently delete a watch. Run rows cascade; stored images age out via the bucket lifecycle.",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watch UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (run rows cascade; stored images age out via the bucket lifecycle)"
          },
          "404": {
            "description": "Watch not found — WATCH_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watches/{id}/runs": {
      "get": {
        "operationId": "listWatchRuns",
        "x-status": "stable",
        "summary": "Read a watch's run history",
        "description": "Newest first. Each run carries short-lived signed before/after/overlay image URLs.\n",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watch UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of runs, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WatchRun"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "Pass as cursor to fetch the next page; absent on the last page"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Watch not found — WATCH_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watches/{id}/run": {
      "post": {
        "operationId": "runWatchNow",
        "x-status": "stable",
        "summary": "Run a check now",
        "description": "Enqueue an immediate check (draws 1 credit). The watch must be active.\n",
        "tags": [
          "Watch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Watch UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Run enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "runId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "watchId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "queued"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Watch not found (or not owned by the caller) — WATCH_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Watch is paused — resume it before running (WATCH_PAUSED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Monthly credit pool exhausted (hard cap, no overage)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watches/test": {
      "post": {
        "operationId": "testWatch",
        "x-status": "stable",
        "summary": "Dry-run a watch config (creates nothing)",
        "description": "Render a proposed watch config exactly as a live check would (same self-identifying User-Agent, SSRF checks, geo + compatibility-mode behaviour, and block/error detection) and return what was captured — so you can validate a selector, scope, or fetch identity and confirm the page is reachable BEFORE committing to a schedule. Creates nothing (no watch, baseline, diff, or alerts). Draws 1 credit; refunded when the page can't be read. A blocked or errored page is a 200 result with reachable:false + an actionable reason, not an API error.",
        "tags": [
          "Watch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render result (reachable or not — both are valid test outcomes)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/WatchTestResult"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid config, SSRF-blocked URL, or unsafe URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Paid-only feature on a free plan — the dry-run applies the same paid-feature gate as\ncreate (but NO watch-count/interval walls, since a test creates nothing). Today only\nURL-embedded credentials (`user:pass@host`) bite here: free plans get PLAN_UPGRADE_REQUIRED.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "PLAN_UPGRADE_REQUIRED",
                    "message": "URL-embedded credentials (user:pass@host) require a paid plan (Starter, Pro, or Enterprise)."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Monthly credit pool exhausted (hard cap, no overage)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token: `Authorization: Bearer rdx_...`"
      },
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key in custom header: `x-api-key: rdx_...`"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key as query parameter (GET endpoint only): `?key=rdx_...`"
      }
    },
    "parameters": {
      "url": {
        "name": "url",
        "in": "query",
        "required": true,
        "description": "Webpage URL to capture (must be a valid URL)",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "format": {
        "name": "format",
        "in": "query",
        "description": "Output format",
        "schema": {
          "type": "string",
          "enum": [
            "png",
            "jpeg",
            "webp",
            "pdf"
          ],
          "default": "png"
        }
      },
      "width": {
        "name": "width",
        "in": "query",
        "description": "Viewport width in pixels",
        "schema": {
          "type": "integer",
          "minimum": 320,
          "maximum": 3840,
          "default": 1280
        }
      },
      "height": {
        "name": "height",
        "in": "query",
        "description": "Viewport height in pixels",
        "schema": {
          "type": "integer",
          "minimum": 240,
          "maximum": 2160,
          "default": 800
        }
      },
      "fullPage": {
        "name": "fullPage",
        "in": "query",
        "description": "Capture full scrollable page (capped at 16384px height)",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "quality": {
        "name": "quality",
        "in": "query",
        "description": "Image quality (JPEG and WebP only)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      },
      "delay": {
        "name": "delay",
        "in": "query",
        "description": "Wait milliseconds after page load before capture",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 10000,
          "default": 0
        }
      },
      "darkMode": {
        "name": "darkMode",
        "in": "query",
        "description": "Emulate dark color scheme (prefers-color-scheme: dark)",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "deviceScaleFactor": {
        "name": "deviceScaleFactor",
        "in": "query",
        "description": "Device pixel ratio (2 for Retina, 3 for high-DPI)",
        "schema": {
          "type": "number",
          "minimum": 1,
          "maximum": 3,
          "default": 2
        }
      },
      "blockAds": {
        "name": "blockAds",
        "in": "query",
        "description": "Block ads, trackers, and chat widgets",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "timeout": {
        "name": "timeout",
        "in": "query",
        "description": "Navigation timeout in seconds",
        "schema": {
          "type": "integer",
          "minimum": 5,
          "maximum": 60,
          "default": 30
        }
      },
      "waitUntil": {
        "name": "waitUntil",
        "in": "query",
        "description": "Page readiness condition before capture",
        "schema": {
          "type": "string",
          "enum": [
            "load",
            "domcontentloaded",
            "networkidle0",
            "networkidle2"
          ],
          "default": "networkidle2"
        }
      },
      "waitForSelector": {
        "name": "waitForSelector",
        "in": "query",
        "description": "CSS selector to wait for before capture",
        "schema": {
          "type": "string",
          "maxLength": 500
        }
      },
      "bestAttempt": {
        "name": "bestAttempt",
        "in": "query",
        "description": "Return partial screenshot on timeout instead of failing",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "selector": {
        "name": "selector",
        "in": "query",
        "description": "CSS selector of element to capture instead of full page",
        "schema": {
          "type": "string",
          "maxLength": 500
        }
      },
      "resizeWidth": {
        "name": "resizeWidth",
        "in": "query",
        "description": "Downscale the output to this width (image formats only). Aspect ratio preserved when only one dimension is set. Never upscales.",
        "schema": {
          "type": "integer",
          "minimum": 16,
          "maximum": 3840
        }
      },
      "resizeHeight": {
        "name": "resizeHeight",
        "in": "query",
        "description": "Downscale the output to this height (image formats only).",
        "schema": {
          "type": "integer",
          "minimum": 16,
          "maximum": 2160
        }
      },
      "device": {
        "name": "device",
        "in": "query",
        "description": "Device preset that sets viewport, scale, and user agent in one parameter",
        "schema": {
          "type": "string",
          "enum": [
            "desktop",
            "iphone_15",
            "iphone_se",
            "pixel_8",
            "ipad",
            "ipad_pro"
          ]
        }
      },
      "blockCookieBanners": {
        "name": "blockCookieBanners",
        "in": "query",
        "description": "Hide common cookie and consent walls before capture",
        "schema": {
          "type": "boolean",
          "default": false
        }
      }
    },
    "schemas": {
      "ScreenshotRequest": {
        "type": "object",
        "description": "Provide exactly one of `url`, `html`, or `markdown` (mutually exclusive). If none is\nprovided, the request will fail with a validation error.\n",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webpage URL to capture (mutually exclusive with `html` and `markdown`)"
          },
          "html": {
            "type": "string",
            "maxLength": 5242880,
            "description": "Raw HTML to render (up to 5 MB, mutually exclusive with `url` and `markdown`)"
          },
          "markdown": {
            "type": "string",
            "maxLength": 5242880,
            "description": "Markdown to render as styled HTML, then capture (up to 5 MB, mutually exclusive with `url` and `html`)"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Mustache template data object. When present, the `html` or `markdown` string is\ntreated as a logic-less Mustache template and rendered against `data` before capture.\nValid only with `html` or `markdown` — returns 400 if combined with `url`.\nSerialized size must not exceed 256 KB.\nSyntax: `{{var}}` (HTML-escaped), `{{{var}}}` (raw), `{{#items}}…{{/items}}` (loop),\n`{{^x}}…{{/x}}` (inverted section), `{{a.b}}` (nested access).\n"
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp",
              "pdf"
            ],
            "default": "png",
            "description": "Output format"
          },
          "width": {
            "type": "integer",
            "minimum": 320,
            "maximum": 3840,
            "default": 1280,
            "description": "Viewport width in pixels"
          },
          "height": {
            "type": "integer",
            "minimum": 240,
            "maximum": 2160,
            "default": 800,
            "description": "Viewport height in pixels"
          },
          "fullPage": {
            "type": "boolean",
            "default": false,
            "description": "Capture full scrollable page (capped at 16384px height)"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Image quality (JPEG and WebP only)"
          },
          "delay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "default": 0,
            "description": "Wait milliseconds after page load before capture"
          },
          "darkMode": {
            "type": "boolean",
            "default": false,
            "description": "Emulate dark color scheme"
          },
          "deviceScaleFactor": {
            "type": "number",
            "minimum": 1,
            "maximum": 3,
            "default": 2,
            "description": "Device pixel ratio (2 for Retina)"
          },
          "blockAds": {
            "type": "boolean",
            "default": true,
            "description": "Block ads, trackers, and chat widgets"
          },
          "blockResourceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "font",
                "image",
                "media",
                "stylesheet",
                "other"
              ]
            },
            "description": "Resource types to block during page load"
          },
          "css": {
            "type": "string",
            "maxLength": 51200,
            "description": "CSS to inject into the page before capture"
          },
          "js": {
            "type": "string",
            "maxLength": 51200,
            "description": "JavaScript to execute on the page before capture"
          },
          "cookies": {
            "type": "array",
            "description": "Cookies to set before navigating to the page",
            "items": {
              "type": "object",
              "required": [
                "name",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "httpOnly": {
                  "type": "boolean"
                },
                "secure": {
                  "type": "boolean"
                },
                "sameSite": {
                  "type": "string",
                  "enum": [
                    "Strict",
                    "Lax",
                    "None"
                  ]
                },
                "expires": {
                  "type": "number",
                  "description": "Unix timestamp (seconds) for cookie expiration"
                }
              }
            }
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom HTTP headers to send with the page request"
          },
          "userAgent": {
            "type": "string",
            "maxLength": 512,
            "description": "Custom User-Agent string"
          },
          "timeout": {
            "type": "integer",
            "minimum": 5,
            "maximum": 60,
            "default": 30,
            "description": "Navigation timeout in seconds"
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ],
            "default": "networkidle2",
            "description": "Page readiness condition before capture"
          },
          "waitForSelector": {
            "type": "string",
            "maxLength": 500,
            "description": "CSS selector to wait for before capture"
          },
          "bestAttempt": {
            "type": "boolean",
            "default": true,
            "description": "Return partial screenshot on timeout instead of failing"
          },
          "selector": {
            "type": "string",
            "maxLength": 500,
            "description": "CSS selector of element to capture instead of full page"
          },
          "pdfFormat": {
            "type": "string",
            "enum": [
              "A4",
              "Letter",
              "Legal",
              "Tabloid",
              "A3"
            ],
            "description": "Paper size for PDF output (only applies when `format` is `pdf`)"
          },
          "pdfLandscape": {
            "type": "boolean",
            "description": "Use landscape orientation for PDF output"
          },
          "pdfPrintBackground": {
            "type": "boolean",
            "description": "Include background colors and images in PDF output"
          },
          "pdfScale": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 2,
            "description": "Scale factor for PDF rendering (0.1 to 2)"
          },
          "pdfMargin": {
            "type": "object",
            "description": "Page margins for PDF output (CSS units, e.g. \"1cm\", \"0.5in\")",
            "properties": {
              "top": {
                "type": "string"
              },
              "right": {
                "type": "string"
              },
              "bottom": {
                "type": "string"
              },
              "left": {
                "type": "string"
              }
            }
          },
          "geo": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code for geo-targeted rendering (Pro/Enterprise)"
          },
          "geoCity": {
            "type": "string",
            "maxLength": 100,
            "description": "City for geo-targeted rendering (Pro/Enterprise)"
          },
          "geoState": {
            "type": "string",
            "maxLength": 100,
            "description": "State or region for geo-targeted rendering (Pro/Enterprise)"
          },
          "async": {
            "type": "boolean",
            "description": "Process the capture asynchronously (returns a `jobId` to poll)"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive a webhook notification when the capture completes (Starter+ channel; Free/Basic poll GET /v1/jobs/{jobId} instead)."
          },
          "cacheTtl": {
            "type": "integer",
            "minimum": 3600,
            "maximum": 2592000,
            "description": "Cache time-to-live in seconds (1 hour to 30 days)"
          },
          "device": {
            "type": "string",
            "enum": [
              "desktop",
              "iphone_15",
              "iphone_se",
              "pixel_8",
              "ipad",
              "ipad_pro"
            ],
            "description": "Device preset — sets viewport, device scale, and user agent in one parameter. Explicit width/height/userAgent still win."
          },
          "hideSelectors": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 500
            },
            "maxItems": 50,
            "description": "CSS selectors to hide before capture (popups, sticky nav, chat bubbles). Never errors on a miss."
          },
          "blockCookieBanners": {
            "type": "boolean",
            "default": false,
            "description": "Hide common cookie/consent walls (OneTrust, Cookiebot, Quantcast, …) via a curated CSS list."
          },
          "hosted": {
            "type": "boolean",
            "default": false,
            "description": "Store the result in R2 and return `{url, expiresAt}` (a signed CDN-backed URL) instead of the image bytes. Drop the URL into an `<img>`/`og:image`."
          },
          "extract": {
            "type": "boolean",
            "default": false,
            "description": "Also return clean reader-mode content from the same render pass (use on `/v1/screenshot/json`; the binary endpoint rejects it). Shape set by `extractFormat`."
          },
          "extractFormat": {
            "type": "string",
            "enum": [
              "markdown",
              "json",
              "html",
              "text"
            ],
            "default": "markdown",
            "description": "Shape of the extracted content when `extract` is true."
          },
          "resizeWidth": {
            "type": "integer",
            "minimum": 16,
            "maximum": 3840,
            "description": "Downscale the output to this width (image formats only). Aspect ratio preserved when only one dimension is set. Never upscales."
          },
          "resizeHeight": {
            "type": "integer",
            "minimum": 16,
            "maximum": 2160,
            "description": "Downscale the output to this height (image formats only)."
          }
        }
      },
      "ScreenshotJsonResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "format": "byte",
                "description": "Base64-encoded screenshot image"
              },
              "contentType": {
                "type": "string",
                "description": "MIME type of the image",
                "example": "image/png"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Captured URL"
              },
              "width": {
                "type": "integer",
                "description": "Viewport width used"
              },
              "height": {
                "type": "integer",
                "description": "Viewport height used"
              },
              "format": {
                "type": "string",
                "enum": [
                  "png",
                  "jpeg",
                  "webp",
                  "pdf"
                ]
              },
              "bytesSize": {
                "type": "integer",
                "description": "Image size in bytes"
              },
              "capturedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp of capture"
              },
              "quality": {
                "type": "string",
                "enum": [
                  "full",
                  "degraded",
                  "best_attempt"
                ],
                "description": "Capture quality signal"
              },
              "waitStrategy": {
                "type": "string",
                "description": "Navigation strategy that succeeded"
              },
              "loadTimeMs": {
                "type": "integer",
                "description": "Page load time in milliseconds"
              },
              "truncated": {
                "type": "boolean",
                "description": "Whether full-page capture was height-capped"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "urls": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "description": "List of URLs to capture (each item can override defaults)",
            "items": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "Webpage URL to capture"
                }
              }
            }
          },
          "defaults": {
            "$ref": "#/components/schemas/ScreenshotRequest"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive a webhook notification when the batch completes (Starter+ channel; Free/Basic poll GET /v1/batches/{batchId} instead)."
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "batchId": {
                "type": "string",
                "description": "Unique batch identifier for polling"
              },
              "totalUrls": {
                "type": "integer",
                "description": "Number of URLs in the batch"
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "completed",
                  "failed"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "jobId": {
                "type": "string",
                "description": "Unique job identifier"
              },
              "status": {
                "type": "string",
                "enum": [
                  "queued",
                  "processing",
                  "completed",
                  "failed"
                ],
                "description": "Current job status"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL that was captured"
              },
              "imageUrl": {
                "type": "string",
                "format": "uri",
                "description": "Signed URL to the captured image (available when completed)"
              },
              "error": {
                "type": "string",
                "description": "Error message (available when failed)"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "completedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "batchId": {
                "type": "string",
                "description": "Unique batch identifier"
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "completed",
                  "failed"
                ],
                "description": "Overall batch status"
              },
              "totalUrls": {
                "type": "integer",
                "description": "Total URLs in the batch"
              },
              "completed": {
                "type": "integer",
                "description": "Number of completed captures"
              },
              "failed": {
                "type": "integer",
                "description": "Number of failed captures"
              },
              "jobs": {
                "type": "array",
                "description": "Per-URL job statuses",
                "items": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "imageUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "completedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description"
              },
              "details": {
                "description": "Additional error context (validation errors, etc.)"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique request identifier"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "product": {
            "type": "string",
            "example": "rendex"
          },
          "version": {
            "type": "string",
            "example": "1.8.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeepHealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "product": {
            "type": "string",
            "example": "rendex"
          },
          "version": {
            "type": "string",
            "example": "1.8.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "checks": {
            "type": "object",
            "properties": {
              "database": {
                "$ref": "#/components/schemas/DependencyCheck"
              },
              "billing": {
                "$ref": "#/components/schemas/DependencyCheck"
              }
            }
          }
        }
      },
      "DependencyCheck": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "latencyMs": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "WatchRenderParams": {
        "type": "object",
        "additionalProperties": false,
        "description": "Render knobs applied on every check — a subset of the screenshot capture params, stored on\nthe watch and fed to the renderer each run. Inline source params (`url`/`html`/`markdown`/\n`data`) and credential knobs (`cookies`/`headers`/`css`/`js`) are NOT accepted here; the\nwatch's target is the top-level `url`. Validated with a STRICT schema: any capture param\noutside the list below (e.g. `quality`, `css`, `js`, `resize*`, `pdf*`, `userAgent`,\n`cookies`, `headers`) is REJECTED with a 400 VALIDATION_ERROR — extras are NOT silently ignored.\n",
        "properties": {
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp",
              "pdf"
            ],
            "default": "png",
            "description": "A pdf cannot be visually diffed — pair it with diffMode `text`."
          },
          "width": {
            "type": "integer",
            "minimum": 320,
            "maximum": 3840,
            "default": 1280
          },
          "height": {
            "type": "integer",
            "minimum": 240,
            "maximum": 2160,
            "default": 800
          },
          "fullPage": {
            "type": "boolean",
            "default": true,
            "description": "Defaults to true for watches (overrides the screenshot default of false) so the whole\npage is monitored — a viewport-only capture would miss changes below the fold. Set false\n(or use a selector) to scope down on purpose.\n"
          },
          "device": {
            "type": "string",
            "enum": [
              "desktop",
              "iphone_15",
              "iphone_se",
              "pixel_8",
              "ipad",
              "ipad_pro"
            ]
          },
          "deviceScaleFactor": {
            "type": "number",
            "minimum": 1,
            "maximum": 3,
            "default": 2
          },
          "darkMode": {
            "type": "boolean",
            "default": false
          },
          "blockAds": {
            "type": "boolean",
            "default": true
          },
          "blockCookieBanners": {
            "type": "boolean",
            "default": false
          },
          "hideSelectors": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Remove these elements before capture"
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ],
            "default": "networkidle2"
          },
          "delay": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "default": 0,
            "description": "Extra wait in milliseconds after the page is ready"
          },
          "timeout": {
            "type": "integer",
            "minimum": 5,
            "maximum": 60,
            "default": 30,
            "description": "Navigation timeout in seconds"
          },
          "geo": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "Pro+ — 2-letter ISO 3166-1 alpha-2 country code (e.g. `US`, `GB`; case-insensitive, upper-cased server-side) to render from. Cannot be combined with a text diffMode."
          },
          "geoCity": {
            "type": "string"
          },
          "geoState": {
            "type": "string"
          },
          "selector": {
            "type": "string",
            "maxLength": 500,
            "description": "Capture and diff ONLY this CSS element — watch just one price, banner, or section\ninstead of the whole page. Visual-first (in text mode the extracted text is full-page).\n"
          },
          "ignoreRegions": {
            "type": "array",
            "maxItems": 20,
            "description": "Pixel rectangles masked in BOTH captures before the visual diff — silence dynamic zones\n(an ad slot, a clock) so they never trip a change. Visual mode only.\n",
            "items": {
              "type": "object",
              "required": [
                "x",
                "y",
                "width",
                "height"
              ],
              "properties": {
                "x": {
                  "type": "number",
                  "minimum": 0
                },
                "y": {
                  "type": "number",
                  "minimum": 0
                },
                "width": {
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "description": "Pixels (> 0)"
                },
                "height": {
                  "type": "number",
                  "exclusiveMinimum": 0,
                  "description": "Pixels (> 0)"
                }
              }
            }
          },
          "ignoreText": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Substrings or `/regex/flags` patterns stripped from BOTH texts before the text diff —\nsilence boilerplate (timestamps, view counts, session tokens). Applies to text/both modes.\n"
          },
          "minTextChars": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000,
            "description": "Minimum added + removed characters for a text change to count — ignore tiny edits below\nthe size you care about.\n"
          },
          "suppressWhilePresent": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "type": "string",
              "maxLength": 500
            },
            "description": "While the page text contains any of these markers (e.g. \"Out of stock\", \"Loading\"), the\nrun is treated as unchanged — no alert, no baseline drift — until the marker clears.\n"
          },
          "uaMode": {
            "type": "string",
            "enum": [
              "auto",
              "identify",
              "stealth"
            ],
            "default": "auto",
            "description": "How the monitor presents its User-Agent. `auto` (default) identifies as RendexWatch and\nretries once with a standard browser identity if the page looks blocked; `identify`\nalways identifies as RendexWatch and never falls back; `stealth` always presents a\nstandard browser identity. See https://rendex.dev/bot.\n"
          }
        }
      },
      "CreateWatchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "url"
        ],
        "description": "Validated with a STRICT schema — any field outside the list below is REJECTED with a\n400 VALIDATION_ERROR, not silently ignored. Render knobs go under `renderParams` (also strict).\n",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The page to monitor"
          },
          "name": {
            "type": "string",
            "maxLength": 120,
            "description": "Optional label"
          },
          "intervalMinutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 43200,
            "default": 1440,
            "description": "Check frequency in minutes. The accepted minimum is your plan's floor — Free 1440\n(daily), Starter 180 (3h), Pro 30, Enterprise 5. A faster value returns 403\nWATCH_INTERVAL_TOO_FAST.\n"
          },
          "diffMode": {
            "type": "string",
            "enum": [
              "visual",
              "text",
              "both"
            ],
            "default": "both",
            "description": "How changes are detected. Default `both` = a pixel diff (with a highlighted overlay) AND a full-page text diff, alerting on either — catches any change, visual or text. `visual` or `text` narrow to a single signal. (`text`/`both` extract the full visible page text, not just the article body.)"
          },
          "threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.01,
            "description": "Visual sensitivity (0..1). Low (default 0.01) alerts on ANY change, including a small one on a long page (a changed-region test, not a whole-page pixel ratio). `0.06`+ = only MAJOR visual changes (whole-page ratio). Does not affect text detection."
          },
          "renderParams": {
            "$ref": "#/components/schemas/WatchRenderParams"
          },
          "aiSummary": {
            "type": "boolean",
            "default": false,
            "description": "Pro+ — opt in to an AI-written one-sentence \"what changed\" summary on each detected change. Off by default. Every change already gets a free templated summary regardless of this flag; enabling it upgrades a text change's summary to a Workers-AI sentence."
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "Starter+ — HMAC-signed change-webhook target. Delivered payload: the WatchWebhookEvent schema."
          },
          "notifyEmail": {
            "type": "string",
            "format": "email",
            "description": "Any plan — send change alerts here (defaults to your account email if omitted). Anti-abuse: must be your OWN account email; any other address is rejected with 400 VALIDATION_ERROR."
          },
          "paused": {
            "type": "boolean",
            "default": false,
            "description": "Create the watch paused (no baseline capture or charge until resumed). Paused watches still count toward your plan's watch limit."
          }
[...]
