{
  "openapi": "3.0.0",
  "info": {
    "description": "This API documentation is proprietary and confidential. Unauthorized reproduction, distribution, or use of this material is strictly prohibited. Use of this documentation is subject to the applicable terms of service and license agreement.",
    "license": {
      "name": "© 2026 Trio Mobil Inc. All rights reserved.",
      "url": "https://www.triomobil.com/en/privacy-policy"
    },
    "title": "Trio Mobil Digital Facility IoT Platform API",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Trio-Mobil/trio-mobil-digital-facility-iot-platform-api/v1"
  },
  "servers": [
    {
      "url": "https://api.triomobil.com/facility/v1"
    }
  ],
  "paths": {
    "/alarmRule/opt-out": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "all-out",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "security": [],
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleOptOut",
        "summary": "Alarm Notification Opt Out"
      }
    },
    "/alarmRules": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "model",
            "schema": {
              "enum": [
                "sensor",
                "temperatureSensor",
                "tracker",
                "vehicle",
                "forklift",
                "trueaiDevice"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sensorId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "temperatureSensorId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "trackerId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "vehicleId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "forkliftId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "trueaiDeviceId",
            "schema": {
              "items": {
                "pattern": "^[0-9a-fA-F]{24}$",
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "enum": [
                "ALARM",
                "OFFLINE",
                "OK"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_customerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_dealerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_label"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabelState__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabelState__sortBy"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/alarm-rule-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleList",
        "summary": "List Alarm Rules"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alarm-rule-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alarm-rule-post"
              }
            }
          }
        },
        "summary": "Create Alarm Rule"
      }
    },
    "/alarmRules/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleDelete",
        "summary": "Delete Alarm Rule"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alarm-rule-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleGet",
        "summary": "Get Alarm Rule"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alarm-rule-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Alarm Rules"
        ],
        "operationId": "alarmRuleUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alarm-rule-put"
              }
            }
          }
        },
        "summary": "Update Alarm Rule"
      }
    },
    "/anchors": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "floorPlanId",
            "schema": {
              "pattern": "^[0-9a-fA-F]{24}$",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "ble",
                "ua",
                "ua-widearea"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "site.region",
            "schema": {
              "maxLength": 24,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "description": "ISO 3166-1 alpha-2 country code",
            "in": "query",
            "name": "site.country",
            "schema": {
              "pattern": "^[A-Z]{2}$",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "site.name",
            "schema": {
              "maxLength": 24,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabelAddr__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabelAddr_customerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabelAddr_dealerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabelAddr_label"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabelAddr_addr"
          },
          {
            "$ref": "#/components/parameters/trait_queryLatestSignalAtIsBatteryLow_latestSignalAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryLatestSignalAtIsBatteryLow_latestSignalAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryLatestSignalAtIsBatteryLow_isBatteryLow"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabel__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabel__sortBy"
          },
          {
            "$ref": "#/components/parameters/trait_pullAuditLatestSignalAtIsBatteryLowNote__pull"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/anchor-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorList",
        "summary": "List Anchors"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anchor-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anchor-post"
              }
            }
          }
        },
        "summary": "Create Anchor"
      }
    },
    "/anchors/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorDelete",
        "summary": "Delete Anchor"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_pullAuditLatestSignalAtIsBatteryLowNote__pull"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anchor-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorGet",
        "summary": "Get Anchor"
      },
      "patch": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anchor-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorModify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anchor-patch"
              }
            }
          }
        },
        "summary": "Modify Anchor"
      },
      "put": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/anchor-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Anchors"
        ],
        "operationId": "anchorUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anchor-put"
              }
            }
          }
        },
        "summary": "Update Anchor"
      }
    },
    "/auth": {
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "authRevoke",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "summary": "Revoke Auth Token"
      },
      "post": {
        "parameters": [
          {
            "description": "seconds",
            "in": "header",
            "name": "X-TRIO-TOKEN-TTL",
            "schema": {
              "default": 172800,
              "maximum": 2592000,
              "minimum": 60,
              "type": "integer"
            }
          },
          {
            "in": "header",
            "name": "X-TRIO-FIREBASE-TOKEN",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-TRIO-OTP",
            "schema": {
              "pattern": "^\\d{6}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "token": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Generates an authentication token to be used with API calls. Once generated, token is valid for 48 hours and time-to-live is extended to 48 hours each time it is used up to 30 days. Tokens are expected to be sent with every API requests via **`Authorization`** request header.",
        "operationId": "authToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "password": {
                    "maxLength": 24,
                    "minLength": 4,
                    "type": "string"
                  },
                  "username": {
                    "maxLength": 24,
                    "minLength": 4,
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Generate Auth Token"
      }
    },
    "/auth/2fa": {
      "parameters": [],
      "delete": {
        "parameters": [
          {
            "in": "query",
            "name": "method",
            "required": true,
            "schema": {
              "enum": [
                "TOTP",
                "EMAIL"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "2faDisable",
        "requestBody": {
          "$ref": "#/components/requestBodies/2faDisableBody"
        },
        "summary": "Disable 2FA"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "email": {
                      "oneOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "enum": [
                            "REQUIRED"
                          ],
                          "type": "string"
                        }
                      ]
                    },
                    "totp": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "totp",
                    "email"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "2faStatus",
        "summary": "Status 2FA"
      },
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "method",
            "required": true,
            "schema": {
              "enum": [
                "TOTP",
                "EMAIL"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "recovery": {
                      "items": {
                        "$ref": "#/components/schemas/otp"
                      },
                      "maxItems": 10,
                      "minItems": 6,
                      "type": "array",
                      "uniqueItems": true
                    }
                  },
                  "required": [
                    "recovery"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "description": "",
        "operationId": "2faEnable",
        "requestBody": {
          "$ref": "#/components/requestBodies/2faDisableBody"
        },
        "summary": "Enable 2FA"
      }
    },
    "/auth/2fa/register": {
      "parameters": [],
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "method",
            "required": true,
            "schema": {
              "enum": [
                "TOTP",
                "EMAIL"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "uri": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uri"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "2faRegister",
        "summary": "Register 2FA"
      }
    },
    "/chats": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_label"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabel__sortOrder"
          },
          {
            "in": "query",
            "name": "_sortBy",
            "schema": {
              "items": {
                "enum": [
                  "audit.createdAt",
                  "audit.updatedAt"
                ],
                "type": "string"
              },
              "maxItems": 2,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "in": "query",
            "name": "model",
            "schema": {
              "enum": [
                "SAFE_ASSIST"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/chat-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "chatList",
        "summary": "List Chats"
      },
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "model",
            "required": true,
            "schema": {
              "enum": [
                "SAFE_ASSIST"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "chatCreate",
        "requestBody": {
          "$ref": "#/components/requestBodies/chat-post"
        },
        "summary": "Create Chat"
      }
    },
    "/chats/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "chatDelete",
        "summary": "Delete Chat"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "chatGet",
        "summary": "Get Chat"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "chatModify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chat-patch"
              }
            }
          }
        },
        "summary": "Modify Chat"
      }
    },
    "/chats/{id}/conversation": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_sortOrder__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditCreatedAt__sortBy"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat-conversation-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "description": "",
        "operationId": "conversationList",
        "summary": "Get Chat Conversation"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_requestHeader_locale"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chat-conversation-agent"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Chats"
        ],
        "operationId": "conversationCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chat-post"
              }
            }
          }
        },
        "summary": "Add Message To Chat Conversation"
      }
    },
    "/customers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditName__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditName__sortBy"
          },
          {
            "$ref": "#/components/parameters/trait_pullAuditNote__pull"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdName__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdName_dealerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdName_name"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdName_emailListaddress"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdName_phoneListnumber"
          },
          {
            "$ref": "#/components/parameters/trait_accessControl_isRestricted"
          },
          {
            "in": "query",
            "name": "segment",
            "schema": {
              "items": {
                "enum": [
                  "SME",
                  "LARGE",
                  "KEY"
                ],
                "type": "string"
              },
              "maxItems": 2,
              "minItems": 1,
              "type": "array",
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/customer-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerList",
        "summary": "List Customers"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-post"
              }
            }
          }
        },
        "summary": "Create Customer"
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerDelete",
        "summary": "Delete Customer"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_pullAuditNote__pull"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerGet",
        "summary": "Get Customer"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerModify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-patch"
              }
            }
          }
        },
        "summary": "Modify Customer"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "customerUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-put"
              }
            }
          }
        },
        "summary": "Update Customer"
      }
    },
    "/dashboards": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_customerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_dealerId"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdDealerIdCustomerIdLabel_label"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabel__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditLabel__sortBy"
          },
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/dashboard-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardList",
        "summary": "List Dashboards"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dashboard-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dashboard-post"
              }
            }
          }
        },
        "summary": "Create Dashboard"
      }
    },
    "/dashboards/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardDelete",
        "summary": "Delete Dashboard"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dashboard-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardGet",
        "summary": "Get Dashboard"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dashboard-get"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "operationId": "dashboardUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dashboard-put"
              }
            }
          }
        },
        "summary": "Update Dashboard"
      }
    },
    "/dealers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.createdBy"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.since"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedAt.until"
          },
          {
            "$ref": "#/components/parameters/trait_queryAudit_audit.updatedBy"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditName__sortOrder"
          },
          {
            "$ref": "#/components/parameters/trait_sortAuditName__sortBy"
          },
          {
            "$ref": "#/components/parameters/trait_pullAudit__pull"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__perPage"
          },
          {
            "$ref": "#/components/parameters/trait_pagination__page"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdName__id"
          },
          {
            "$ref": "#/components/parameters/trait_queryIdName_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/dealer-get"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dealers"
        ],
        "operationId": "dealerList",
        "summary": "List Dealers"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealer-get"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
          },
          "409": {
            "$ref": "#/components/responses/trait_errorResponses_409"
          },
          "414": {
            "$ref": "#/components/responses/trait_errorResponses_414"
          },
          "422": {
            "$ref": "#/components/responses/trait_errorResponses_422"
          },
          "429": {
            "$ref": "#/components/responses/trait_errorResponses_429"
          },
          "500": {
            "$ref": "#/components/responses/trait_errorResponses_500"
          },
          "502": {
            "$ref": "#/components/responses/trait_errorResponses_502"
          },
          "503": {
            "$ref": "#/components/responses/trait_errorResponses_503"
          },
          "504": {
            "$ref": "#/components/responses/trait_errorResponses_504"
          }
        },
        "tags": [
          "Dealers"
        ],
        "operationId": "dealerCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealer-post"
              }
            }
          }
        },
        "summary": "Create Dealer"
      }
    },
    "/dealers/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/trait_errorResponses_400"
          },
          "401": {
            "$ref": "#/components/responses/trait_errorResponses_401"
          },
          "403": {
            "$ref": "#/components/responses/trait_errorResponses_403"
          },
          "404": {
            "$ref": "#/components/responses/trait_errorResponses_404"
          },
          "405": {
            "$ref": "#/components/responses/trait_errorResponses_405"
          },
          "408": {
            "$ref": "#/components/responses/trait_errorResponses_408"
[...]
