{
  "swagger": "2.0",
  "info": {
    "version": "1.2.0",
    "title": "Valdit VAT Validation API",
    "description": "An API for validating VAT numbers against the EU VAT VIES Service.",
    "termsOfService": "See the Valdit Terms and Conditions (https://www.valdit.com/en-gb/legal/terms-and-conditions)",
    "contact": {
      "name": "Valdit Developers Desk",
      "url": "https://www.valdit.com/developers",
      "email": "api@valdit.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PTANIS/valdit-vat-validation-api/1.2.0"
  },
  "host": "api.valdit.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "securityDefinitions": {
    "oauth2_implicit": {
      "type": "oauth2",
      "description": "OAuth2 Implicit Grant",
      "flow": "implicit",
      "authorizationUrl": "https://www.valdit.com/identity/connect/authorize",
      "scopes": {
        "vatnumberchecks:read": "Retrieve VAT number Checks",
        "vatnumberchecks:write": "Create and Update VAT number Checks",
        "addresses:geocode": "Retrieve structured Business Addresses"
      }
    },
    "oauth2_client": {
      "type": "oauth2",
      "description": "OAuth2 Client Credentials",
      "flow": "application",
      "tokenUrl": "https://www.valdit.com/identity/connect/token",
      "scopes": {
        "vatnumberchecks:read": "Retrieve VAT number Checks",
        "vatnumberchecks:write": "Create and Update VAT number Checks",
        "addresses:geocode": "Retrieve structured Business Addresses"
      }
    }
  },
  "paths": {
    "/vatnumberchecks": {
      "post": {
        "tags": [
          "VatNumberChecks"
        ],
        "summary": "Create a new VAT number Check",
        "description": "Creates a Business Entity and performs the first VAT number validation for a new VAT number.",
        "operationId": "vatNumberChecks_create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "newVatNumberCheck",
            "in": "body",
            "description": "Defines a new VatNumberCheck to add to the Valdit VAT Validation system",
            "required": true,
            "schema": {
              "$ref": "#/definitions/newVatNumberCheck"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A Business Entity has been created successfully and a VAT number check has been performed",
            "headers": {
              "Location": {
                "description": "URL pointing to the created Business Entity",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/vatNumberSuccessResponse"
            }
          },
          "202": {
            "description": "A Business Entity has been created. The validation could not be performed at this time and has been deferred. The response contains preliminary data on the Business Entity and the VAT number validation results. The validation will be automatically repeated until a valid response has been received from the EU VAT VIES system.",
            "headers": {
              "Location": {
                "description": "URL pointing to the created Business Entity",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/vatNumberSuccessResponse"
            }
          },
          "303": {
            "description": "Duplicate. A Business Entity with the provided VAT number already exists. A GET or a PUT operation should be used instead of a POST",
            "headers": {
              "Location": {
                "description": "URL pointing to the existing Business Entity",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/successResponse"
            }
          },
          "400": {
            "description": "Bad Request. The VAT number check creation has failed. The response will provide information on why the call failed",
            "schema": {
              "$ref": "#/definitions/vatNumberCreateFailResponse"
            }
          },
          "401": {
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "402": {
            "description": "Payment Required: You have exceeded your monthly quota and the call could not be accepted",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "429": {
            "description": "Too Many Requests: You have exceeded your daily quota",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "500": {
            "description": "A server error has occurred. The response will contain additional information on the error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          }
        ]
      }
    },
    "/vatnumberchecks/{vatCountryCode}/{vatNumber}": {
      "get": {
        "tags": [
          "VatNumberChecks"
        ],
        "summary": "Get the VAT number Checks for a Business Entity",
        "description": "Retrieves the existing information on the Business Entity and the records of all previous VAT number validations for this Business Entity",
        "operationId": "vatNumberChecks_get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/vatCountryCode"
          },
          {
            "$ref": "#/parameters/vatNumber"
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "If specified, will be echoed in the response. Can be used to correlate request and response, e.g. when using asynchronous calls",
            "required": false,
            "type": "string",
            "maxLength": 50
          },
          {
            "name": "checkVatNumber",
            "in": "query",
            "description": "Indicates if a new VAT-number Check should be made before returning the results. Defaults to 'false'",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Response contains the data on the Business Entity and all the the VAT number validation records for this Business Entity.",
            "schema": {
              "$ref": "#/definitions/vatNumberSuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request. The response will provide information on why the call failed",
            "schema": {
              "$ref": "#/definitions/vatNumberFailResponse"
            }
          },
          "401": {
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "404": {
            "description": "A Business Entity with the provided VAT number could not be found",
            "schema": {
              "$ref": "#/definitions/vatNumberFailResponse"
            }
          },
          "429": {
            "description": "Too Many Requests: You have exceeded your daily quota",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "500": {
            "description": "A server error has occurred. The response will contain additional information on the error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:read"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:read",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:read"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:read",
              "addresses:geocode"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "VatNumberChecks"
        ],
        "summary": "Update an existing VAT number Check",
        "description": "Updates the information on the Business Entity by performing a new validation and returns this new and all past validation records. The PUT operation can also be used to update the settings for a Business Entity",
        "operationId": "vatNumberChecks_update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/vatCountryCode"
          },
          {
            "$ref": "#/parameters/vatNumber"
          },
          {
            "name": "updateVatNumberCheck",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/updateVatNumberCheck"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Business Entity has been updated successfully and a new VAT number validation has been performed",
            "schema": {
              "$ref": "#/definitions/vatNumberSuccessResponse"
            }
          },
          "202": {
            "description": "The Business Entity has been updated. A new validation could not be performed at this time and has been deferred",
            "headers": {
              "Location": {
                "description": "URL of the updated VAT number check.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/vatNumberSuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request. The response will provide information on why the call failed",
            "schema": {
              "$ref": "#/definitions/vatNumberUpdateFailResponse"
            }
          },
          "401": {
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "402": {
            "description": "Payment Required: You have exceeded your monthly quota and the call could not be accepted",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "404": {
            "description": "A Business Entity with the provided VAT number could not be found",
            "schema": {
              "$ref": "#/definitions/vatNumberUpdateFailResponse"
            }
          },
          "429": {
            "description": "Too Many Requests: You have exceeded your daily quota",
            "schema": {
              "$ref": "#/definitions/failResponse"
            }
          },
          "500": {
            "description": "A server error has occurred. The response will contain additional information on the error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          }
        ]
      }
    }
  },
  "parameters": {
    "vatCountryCode": {
      "name": "vatCountryCode",
      "in": "path",
      "description": "Two-letter country code as used in the EU VAT System",
      "enum": [
        "AT",
        "BE",
        "BG",
        "CY",
        "CZ",
        "DE",
        "DK",
        "EE",
        "EL",
        "ES",
        "FI",
        "FR",
        "GB",
        "HR",
        "HU",
        "IE",
        "IT",
        "LT",
        "LU",
        "LV",
        "MT",
        "NL",
        "PL",
        "PT",
        "RO",
        "SE",
        "SI",
        "SK"
      ],
      "required": true,
      "type": "string"
    },
    "vatNumber": {
      "name": "vatNumber",
      "in": "path",
      "description": "An organisation's national VAT number as issued by the Tax Administration",
      "required": true,
      "type": "string"
    }
  },
  "definitions": {
    "newVatNumberCheck": {
      "description": "Defines a new VatNumberCheck to add to the Valdit VAT Validation system",
      "required": [
        "vatCountryCode",
        "vatNumber"
      ],
      "type": "object",
      "properties": {
        "vatCountryCode": {
          "$ref": "#/definitions/vatCountryCode"
        },
        "vatNumber": {
          "description": "An organisation's national VAT number as issued by the Tax Administration",
          "type": "string"
        },
        "vatCheckRecurrence": {
          "description": "Defines the schedule at which periodic checks for this VAT number should be make. Use 'none' for a one-time check. Defaults to 'none'",
          "enum": [
            "none",
            "weekly",
            "monthly",
            "quarterly"
          ],
          "type": "string",
          "default": "none"
        },
        "customerReference": {
          "description": "Set a unique reference to the Business Entity. Defined by the Customer",
          "maxLength": 50,
          "type": "string"
        },
        "correlationId": {
          "description": "If specified, will be echoed in the response. Can be used to correlate request and response, e.g. when using asynchronous calls",
          "maxLength": 50,
          "type": "string"
        }
      }
    },
    "updateVatNumberCheck": {
      "description": "Defines the updates to an existing VatNumberCheck",
      "type": "object",
      "properties": {
        "vatCheckRecurrence": {
          "description": "Defines the new schedule at which periodic checks for this VAT number should be make. Use 'none' for a one-time check",
          "enum": [
            "none",
            "weekly",
            "monthly",
            "quarterly"
          ],
          "type": "string"
        },
        "customerReference": {
          "description": "Set a new reference to the Business Entity. Defined by the Customer",
          "maxLength": 50,
          "type": "string"
        },
        "correlationId": {
          "description": "If specified, will be echoed in the response, can be used to correlate request and response, e.g. when using asynchronous calls",
          "maxLength": 50,
          "type": "string"
        },
        "checkVatNumber": {
          "description": "Indicates if a new VAT-number Check should be made during this update",
          "type": "boolean",
          "default": true
        }
      }
    },
    "vatCountryCode": {
      "description": "Two-letter country code as used in the EU VAT System",
      "enum": [
        "AT",
        "BE",
        "BG",
        "CY",
        "CZ",
        "DE",
        "DK",
        "EE",
        "EL",
        "ES",
        "FI",
        "FR",
        "GB",
        "HR",
        "HU",
        "IE",
        "IT",
        "LT",
        "LU",
        "LV",
        "MT",
        "NL",
        "PL",
        "PT",
        "RO",
        "SE",
        "SI",
        "SK"
      ],
      "type": "string",
      "example": "BE"
    },
    "vatNumberSuccessResponse": {
      "description": "Contains the data on a Business Entity and the VAT number validation results for that Business Entity.",
      "required": [
        "status",
        "data"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "success"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "required": [
            "valditBusinessEntity",
            "vatNumberChecks"
          ],
          "type": "object",
          "properties": {
            "valditBusinessEntity": {
              "$ref": "#/definitions/valditBusinessEntity"
            },
            "vatNumberChecks": {
              "description": "Collection of VAT number Checks performed for the Business Entity.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/vatNumberCheck"
              }
            },
            "correlationId": {
              "description": "Echoes the correlationId supplied in the request, when available.",
              "type": "string"
            }
          }
        }
      }
    },
    "valditBusinessEntity": {
      "description": "Business Entity for which the Vat Checks are performed",
      "required": [
        "_id"
      ],
      "type": "object",
      "properties": {
        "_id": {
          "description": "Unique Identifier of the Business Entity",
          "type": "string",
          "minLength": 32,
          "maxLength": 32,
          "example": "5114f8a6c52e42bfa153049fd693698e"
        },
        "companyName": {
          "description": "Company Name",
          "type": "string",
          "example": "SA S.A. SPA MONOPOLE, COMPAGNIE FERMIERE DE SPA"
        },
        "vatNumberValidationInfo": {
          "$ref": "#/definitions/vatNumberValidationInfo"
        },
        "customerReference": {
          "description": "A unique reference to the Business Entity, if set by the Customer",
          "maxLength": 50,
          "type": "string"
        },
        "businessAddress": {
          "$ref": "#/definitions/address"
        }
      }
    },
    "vatNumberValidationInfo": {
      "description": "Contains information on the VAT number validation for a Business Entity",
      "required": [
        "vatCountryCode",
        "vatNumber",
        "vatCheckRecurrence"
      ],
      "type": "object",
      "properties": {
        "vatCountryCode": {
          "$ref": "#/definitions/vatCountryCode"
        },
        "vatNumber": {
          "description": "An organisation's national VAT number as issued by the Tax Administration",
          "type": "string",
          "example": "0420834005"
        },
        "vatRegisteredAddress": {
          "description": "Company Address as returned by the VAT-VIES system on the most recently performed VAT number check",
          "type": "string",
          "example": "RUE AUGUSTE LAPORTE 34\n4900 SPA"
        },
        "lastCheckResult": {
          "description": "Most recent VAT VIES Check Result",
          "enum": [
            "valid",
            "invalid",
            "unknown"
          ],
          "type": "string",
          "example": "valid"
        },
        "lastCheckDate": {
          "description": "Most recent VAT VIES Check Date-Time in UTC",
          "format": "date-time",
          "type": "string"
        },
        "vatNumberFormatValid": {
          "description": "Indicates whether the Business Entity's VAT number has a valid format.",
          "type": "boolean",
          "example": true
        },
        "vatQScore": {
          "description": "Indicates the likeliness that the VAT number is valid on a 0-100 scale. Only provided in case the last VAT-number check returned an 'unknown' checkResult",
          "type": "integer",
          "maximum": 100,
          "minimum": 0,
          "example": 68
        },
        "vatCheckRecurrence": {
          "description": "Indicates the schedule at which automated periodic VAT number checks for this Business Entity are made",
          "enum": [
            "none",
            "weekly",
            "monthly",
            "quarterly"
          ],
          "type": "string",
          "example": "monthly"
        }
      }
    },
    "vatNumberCheck": {
      "required": [
        "checkResult",
        "vatCountryCode",
        "vatNumber",
        "checkDate"
      ],
      "description": "Vat-number Check",
      "type": "object",
      "properties": {
        "checkResult": {
          "description": "Last Check Result",
          "enum": [
            "valid",
            "invalid",
            "unknown"
          ],
          "type": "string",
          "example": "valid"
        },
        "unknownReason": {
          "description": "When available will indicate why the check has returned an 'unknown' checkResult",
          "type": "string"
        },
        "vatCountryCode": {
          "$ref": "#/definitions/vatCountryCode"
        },
        "vatNumber": {
          "description": "An organisation's national VAT number as issued by the Tax Administration",
          "type": "string",
          "example": "0420834005"
        },
        "companyName": {
          "description": "Company Name",
          "type": "string",
          "example": "SA S.A. SPA MONOPOLE, COMPAGNIE FERMIERE DE SPA"
        },
        "companyAddress": {
          "description": "Company Address",
          "type": "string",
          "example": "RUE AUGUSTE LAPORTE 34\n4900 SPA"
        },
        "checkDate": {
          "format": "date-time",
          "description": "UTC Date-Time this check was made",
          "type": "string"
        },
        "consultationNumber": {
          "description": "Consultation Number for this check as issued by the EU VAT-VIES service",
          "type": "string",
          "example": "WAPIAAAAVXk7EWul"
        }
      }
    },
    "address": {
      "description": "Structured Address",
      "required": [
        "countryCode"
      ],
      "type": "object",
      "properties": {
        "street": {
          "description": "Name of street or route",
          "type": "string",
          "example": "Oude Haven"
        },
        "houseNumber": {
          "description": "Housenumber",
          "format": "int32",
          "type": "integer",
          "example": 10
        },
        "houseNumberSuffix": {
          "description": "Suffix to the Housenumber",
          "type": "string",
          "example": "A"
        },
        "building": {
          "description": "Indicates a named location (building or set of buildings)",
          "type": "string",
          "example": "'t Waaghuis"
        },
        "postalCode": {
          "description": "National postal code as used for postal mail",
          "type": "string",
          "example": "4301 DB"
        },
        "city": {
          "description": "City",
          "type": "string",
          "example": "Zierikzee"
        },
        "countryCode": {
          "description": "ISO 3166-1 2-letter country code",
          "type": "string",
          "example": "NL"
        },
        "formattedAddress": {
          "description": "Formatted address, mostly used for postal mail. Does not contain country",
          "type": "string",
          "example": "Oude Haven 10A, 4301 DB Zierikzee"
        }
      }
    },
    "vatNumberCreateFailResponse": {
      "description": "Contains information on why the create call failed",
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "fail"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "properties": {
            "newVatNumberCheck.vatCountryCode": {
              "description": "Errors related to the VatCountryCode provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "newVatNumberCheck.vatNumber": {
              "description": "Errors related to the VatNumber provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "newVatNumberCheck.vatCheckRecurrence": {
              "description": "Errors related to the Recurrence provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "newVatNumberCheck.customerReference": {
              "description": "Errors related to the CustomerReference provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "newVatNumberCheck.correlationId": {
              "description": "Errors related to the CorrelationId provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "vatNumberFailResponse": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "fail"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "properties": {
            "vatCountryCode": {
              "description": "Errors related to the VatCountryCode provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "vatNumber": {
              "description": "Errors related to the VatNumber provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "successResponse": {
      "required": [
        "status",
        "data"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "success"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "readOnly": true
        }
      }
    },
    "failResponse": {
      "required": [
        "status",
        "data"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "fail"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "readOnly": true
        }
      }
    },
    "errorResponse": {
      "required": [
        "status",
        "message"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "error"
          ],
          "type": "string",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "readOnly": true
        }
      }
    },
    "vatNumberUpdateFailResponse": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "description": "Status",
          "enum": [
            "fail"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "properties": {
            "vatCountryCode": {
              "description": "Errors related to the VatCountryCode provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "vatNumber": {
              "description": "Errors related to the VatNumber provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "updateVatNumberCheck.vatCheckRecurrence": {
              "description": "Errors related to the Recurrence provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "updateVatNumberCheck.customerReference": {
              "description": "Errors related to the CustomerReference provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "updateVatNumberCheck.correlationId": {
              "description": "Errors related to the CorrelationId provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "updateVatNumberCheck.checkVatNumber": {
              "description": "Errors related to the checkVatNumber value provided",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
