{
  "openapi": "3.0.3",
  "info": {
    "title": "daily.dev Public API",
    "description": "API for AI agents and automation to access daily.dev data. Free accounts get a monthly request quota; Plus raises it. Bookmark folders and clickbait-shielded titles require Plus.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.daily.dev/public/v1/docs/json"
  },
  "servers": [
    {
      "url": "https://api.daily.dev/public/v1"
    }
  ],
  "paths": {
    "/feeds/foryou": {
      "get": {
        "operationId": "getFeedsForyou",
        "tags": [
          "feeds"
        ],
        "description": "Get personalized \"For You\" feed",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/popular": {
      "get": {
        "operationId": "getFeedsPopular",
        "tags": [
          "feeds"
        ],
        "description": "Get feed with trending and popular posts",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tags",
            "required": false,
            "description": "Comma-separated list of tags to filter by (up to 20)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/discussed": {
      "get": {
        "operationId": "getFeedsDiscussed",
        "tags": [
          "feeds"
        ],
        "description": "Get feed of posts with discussions",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "integer",
              "enum": [
                7,
                30,
                365
              ]
            },
            "in": "query",
            "name": "period",
            "required": false,
            "description": "Days since publication to look back: 7 (default), 30 or 365. Posts are ranked by comment count within that window."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tag",
            "required": false,
            "description": "Filter by tag"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "source",
            "required": false,
            "description": "Filter by source ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/tag/{tag}": {
      "get": {
        "operationId": "getFeedsTagTag",
        "tags": [
          "feeds"
        ],
        "description": "Get posts by tag",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "tag",
            "required": true,
            "description": "Tag name"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/source/{source}": {
      "get": {
        "operationId": "getFeedsSourceSource",
        "tags": [
          "feeds"
        ],
        "description": "Get posts by source",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "source",
            "required": true,
            "description": "Source ID or handle"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "operationId": "getPostsId",
        "tags": [
          "posts"
        ],
        "description": "Get post details by ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Post ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/def-20"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}/comments": {
      "get": {
        "operationId": "getPostsIdComments",
        "tags": [
          "posts"
        ],
        "description": "Get comments for a post",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of comments to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "oldest",
                "newest"
              ],
              "default": "oldest"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort order (oldest or newest first)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Post ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-33"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/search/posts": {
      "get": {
        "operationId": "getSearchPosts",
        "tags": [
          "search"
        ],
        "description": "Search posts by keyword",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Search query (required)"
          },
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            },
            "in": "query",
            "name": "time",
            "required": false,
            "description": "Time range filter (day, week, month, year, all)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/search/tags": {
      "get": {
        "operationId": "getSearchTags",
        "tags": [
          "search"
        ],
        "description": "Search tags by name",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Search query (required). Tags are lowercase hyphenated slugs such as \"claude-code\"; spaces in the query are treated as hyphens."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-27"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/search/sources": {
      "get": {
        "operationId": "getSearchSources",
        "tags": [
          "search"
        ],
        "description": "Search sources/publishers by name",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Search query (required)"
          },
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of sources to return (1-50)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-28"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/": {
      "get": {
        "operationId": "getBookmarks",
        "tags": [
          "bookmarks"
        ],
        "description": "Get user's bookmarked posts",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of bookmarks to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "unreadOnly",
            "required": false,
            "description": "Filter to unread bookmarks only"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "listId",
            "required": false,
            "description": "Filter by bookmark list ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-30"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postBookmarks",
        "tags": [
          "bookmarks"
        ],
        "description": "Add posts to bookmarks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "postIds"
                ],
                "properties": {
                  "postIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "Array of post IDs to bookmark (1-100)"
                  },
                  "listId": {
                    "type": "string",
                    "description": "Optional bookmark list ID to add posts to (Plus users only). If not provided, Plus users get \"last used list\" behavior. Non-Plus users: this parameter is ignored."
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "postId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "listId": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/search": {
      "get": {
        "operationId": "getBookmarksSearch",
        "tags": [
          "bookmarks"
        ],
        "description": "Search within bookmarks",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Search query (required)"
          },
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of results to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "unreadOnly",
            "required": false,
            "description": "Filter to unread bookmarks only"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "listId",
            "required": false,
            "description": "Filter by bookmark list ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-30"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/lists": {
      "get": {
        "operationId": "getBookmarksLists",
        "tags": [
          "bookmarks"
        ],
        "description": "Get user's bookmark lists",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-29"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postBookmarksLists",
        "tags": [
          "bookmarks"
        ],
        "description": "Create a new bookmark list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the bookmark list",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "icon": {
                    "type": "string",
                    "description": "Icon emoji for the list",
                    "maxLength": 10
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/def-29"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/lists/{id}": {
      "delete": {
        "operationId": "deleteBookmarksListsId",
        "tags": [
          "bookmarks"
        ],
        "description": "Delete a bookmark list",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Bookmark list ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Bookmark list deleted successfully"
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/bookmarks/{id}": {
      "delete": {
        "operationId": "deleteBookmarksId",
        "tags": [
          "bookmarks"
        ],
        "description": "Remove a post from bookmarks",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Post ID to unbookmark"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Bookmark removed successfully"
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchBookmarksId",
        "tags": [
          "bookmarks"
        ],
        "description": "Move a bookmark to a list or remove from list (Plus users only)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Target bookmark list ID. Set to null or omit to remove from list."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Post ID of the bookmark to move"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Bookmark moved successfully"
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "403": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/custom/advanced-settings": {
      "get": {
        "operationId": "getFeedsCustomAdvancedSettings",
        "tags": [
          "custom-feeds"
        ],
        "description": "Get all available advanced settings that can be configured for custom feeds",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Setting ID to use when updating feed"
                          },
                          "title": {
                            "type": "string",
                            "description": "Setting title"
                          },
                          "description": {
                            "type": "string",
                            "description": "What this setting controls"
                          },
                          "defaultEnabledState": {
                            "type": "boolean",
                            "description": "Default enabled state"
                          },
                          "group": {
                            "type": "string",
                            "description": "Settings group"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/custom/": {
      "post": {
        "operationId": "postFeedsCustom",
        "tags": [
          "custom-feeds"
        ],
        "description": "Create a new custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the feed. Letters, numbers and spaces only, up to 50 characters."
                  },
                  "icon": {
                    "type": "string",
                    "description": "Icon emoji for the feed"
                  },
                  "orderBy": {
                    "type": "string",
                    "enum": [
                      "DATE",
                      "UPVOTES",
                      "DOWNVOTES",
                      "COMMENTS",
                      "CLICKS"
                    ],
                    "description": "Sort order for the feed (defaults to algorithmic ranking if not provided)"
                  },
                  "minDayRange": {
                    "type": "integer",
                    "description": "Minimum day range filter"
                  },
                  "minUpvotes": {
                    "type": "integer",
                    "description": "Minimum upvotes filter"
                  },
                  "minViews": {
                    "type": "integer",
                    "description": "Minimum views filter"
                  },
                  "disableEngagementFilter": {
                    "type": "boolean",
                    "description": "Disable engagement filter (when true, shows posts the user already clicked or saw in the feed)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-2"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getFeedsCustom",
        "tags": [
          "custom-feeds"
        ],
        "description": "List user's custom feeds",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of feeds to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-2"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/custom/{feedId}": {
      "get": {
        "operationId": "getFeedsCustomFeedId",
        "tags": [
          "custom-feeds"
        ],
        "description": "Get a custom feed's posts",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50,
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of posts to return (1-50)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Pagination cursor from previous response"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-19"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/def-21"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchFeedsCustomFeedId",
        "tags": [
          "custom-feeds"
        ],
        "description": "Update custom feed settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the feed. Letters, numbers and spaces only, up to 50 characters."
                  },
                  "icon": {
                    "type": "string",
                    "description": "Icon emoji for the feed"
                  },
                  "orderBy": {
                    "type": "string",
                    "enum": [
                      "DATE",
                      "UPVOTES",
                      "DOWNVOTES",
                      "COMMENTS",
                      "CLICKS"
                    ],
                    "description": "Sort order for the feed (defaults to algorithmic ranking if not provided)"
                  },
                  "minDayRange": {
                    "type": "integer",
                    "description": "Minimum day range filter"
                  },
                  "minUpvotes": {
                    "type": "integer",
                    "description": "Minimum upvotes filter"
                  },
                  "minViews": {
                    "type": "integer",
                    "description": "Minimum views filter"
                  },
                  "disableEngagementFilter": {
                    "type": "boolean",
                    "description": "Disable engagement filter (when true, shows posts the user already clicked or saw in the feed)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-2"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFeedsCustomFeedId",
        "tags": [
          "custom-feeds"
        ],
        "description": "Delete a custom feed",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/custom/{feedId}/info": {
      "get": {
        "operationId": "getFeedsCustomFeedIdInfo",
        "tags": [
          "custom-feeds"
        ],
        "description": "Get custom feed metadata",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-2"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/custom/{feedId}/advanced": {
      "patch": {
        "operationId": "patchFeedsCustomFeedIdAdvanced",
        "tags": [
          "custom-feeds"
        ],
        "description": "Update custom feed advanced settings. Use GET /feeds/custom/advanced-settings to see available settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "settings"
                ],
                "properties": {
                  "settings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "enabled"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Setting ID (see GET /feeds/custom/advanced-settings for available IDs)"
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Enabled state"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/def-3"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/": {
      "get": {
        "operationId": "getFeedsFilters",
        "tags": [
          "feed-filters"
        ],
        "description": "Get global feed settings (For You feed)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-4"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/tags/follow": {
      "post": {
        "operationId": "postFeedsFiltersTagsFollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Follow tags globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to follow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/tags/unfollow": {
      "post": {
        "operationId": "postFeedsFiltersTagsUnfollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Unfollow tags globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to unfollow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/tags/block": {
      "post": {
        "operationId": "postFeedsFiltersTagsBlock",
        "tags": [
          "feed-filters"
        ],
        "description": "Block tags globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to block"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/tags/unblock": {
      "post": {
        "operationId": "postFeedsFiltersTagsUnblock",
        "tags": [
          "feed-filters"
        ],
        "description": "Unblock tags globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to unblock"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/sources/follow": {
      "post": {
        "operationId": "postFeedsFiltersSourcesFollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Follow sources globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to follow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/sources/unfollow": {
      "post": {
        "operationId": "postFeedsFiltersSourcesUnfollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Unfollow sources globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to unfollow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/sources/block": {
      "post": {
        "operationId": "postFeedsFiltersSourcesBlock",
        "tags": [
          "feed-filters"
        ],
        "description": "Block sources globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to block"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/sources/unblock": {
      "post": {
        "operationId": "postFeedsFiltersSourcesUnblock",
        "tags": [
          "feed-filters"
        ],
        "description": "Unblock sources globally (For You feed)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to unblock"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}": {
      "get": {
        "operationId": "getFeedsFiltersFeedId",
        "tags": [
          "feed-filters"
        ],
        "description": "Get custom feed filter settings",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-4"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/tags/follow": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdTagsFollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Follow tags for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to follow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/tags/unfollow": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdTagsUnfollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Unfollow tags for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to unfollow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/tags/block": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdTagsBlock",
        "tags": [
          "feed-filters"
        ],
        "description": "Block tags for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to block"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/tags/unblock": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdTagsUnblock",
        "tags": [
          "feed-filters"
        ],
        "description": "Unblock tags for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tags"
                ],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to unblock"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/sources/follow": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdSourcesFollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Follow sources for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to follow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/sources/unfollow": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdSourcesUnfollow",
        "tags": [
          "feed-filters"
        ],
        "description": "Unfollow sources for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to unfollow"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/sources/block": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdSourcesBlock",
        "tags": [
          "feed-filters"
        ],
        "description": "Block sources for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sources"
                ],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Source IDs to block"
                  }
                }
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "feedId",
            "required": true,
            "description": "Feed ID"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-16"
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-22"
                }
              }
            }
          },
          "429": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/def-23"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/filters/{feedId}/sources/unblock": {
      "post": {
        "operationId": "postFeedsFiltersFeedIdSourcesUnblock",
        "tags": [
          "feed-filters"
        ],
        "description": "Unblock sources for a custom feed",
        "requestBody": {
          "content": {
            "application/json": {
[...]
