{
  "openapi": "3.1.0",
  "info": {
    "title": "Microburbs Property Data API",
    "summary": "Suburb and property data for every Australian locality.",
    "description": "**One REST API for demographics, market indicators, risk scores, AVM and\nranking — backed by 25+ years of Australian transactions and census data.**\n\n```bash\ncurl 'https://api.microburbs.com.au/v1/properties/GANSW704074813/profile' \\\n  -H 'Authorization: Bearer test'\n```\n\n## Why Microburbs\n\n- **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.\n- **National coverage** — Every Australian suburb and every residential property. GNAF-backed address resolution; state, SA2, SA3 included on every row.\n- **Production reliability** — Atomic prepaid reservations, predictable rate limits, request IDs, and 402/429/5xx semantics you can code against without guesswork.\n\n## Pricing\n\nPricing is **per endpoint**. Every response carries an `X-Cost-Cents` header\nmatching the exact cents you were billed. Bulk endpoints (e.g.\n`/v1/properties/{id}/risks/all`) ship at a flat bundle price.\n\n## Response envelope\n\nEvery priced endpoint returns the same envelope. Branch on\n`data !== null`.\n\n**Success** — HTTP 200:\n\n```json\n{\n  \"data\": { \"predicted_price\": 1240000, \"predicted_price_low\": 1180000, \"predicted_price_high\": 1310000, \"prediction_date\": \"2026-04-19\" }\n}\n```\n\n**No data** — still HTTP 200. `reason`\nis a stable slug per endpoint; `message` is human-readable:\n\n```json\n{\n  \"data\": null,\n  \"available\": false,\n  \"reason\": \"no_avm_for_GANSW704074813\",\n  \"message\": \"No AVM for GANSW704074813\"\n}\n```\n\nOne schema per endpoint. `data` is nullable;\n`available`/`reason`/`message` are optional fields that only appear\non no-data responses.\n\n## Response headers\n\nEvery metered response carries the exact call cost, cumulative spend and\nremaining prepaid credit. `X-Balance-Cents` is retained as an alias of\n`X-Remaining-Cents` for clients built during the prepaid-wallet preview.\n\n| Header | Meaning |\n| --- | --- |\n| `X-Cost-Cents` | Exact cents billed for this call. |\n| `X-Spent-Cents` | Cumulative cents used from this wallet. |\n| `X-Remaining-Cents` | Spendable prepaid credit left after this call. Calls stop at zero. |\n| `X-Period-End` | Start of the next UTC calendar month. Credits do not expire at this timestamp. |\n| `X-Balance-Cents` | Alias of `X-Remaining-Cents`. |\n| `X-Rate-Card-Version` | Version of pricing in effect for this call. |\n| `X-Request-Id` | UUID for this call — quote it in support tickets. |\n\n## Try it now\n\nThe default Bearer in the playground below is the public sandbox key\n`test`. It unlocks one sample suburb and one sample property in **every\nstate and territory**, so you can sanity-check the data against a place\nyou actually know:\n\n| State | Suburb (`suburb_name`) | Property (`gnaf_id`) |\n| --- | --- | --- |\n| NSW | `Belmont North`, `Bondi` | `GANSW704074813` — 27 Arlington St, Belmont North |\n| VIC | `St Kilda (Vic.)` | `GAVIC419929404` — 12A Chaucer St, St Kilda |\n| QLD | `Fortitude Valley` | `GAQLD162849753` — 305/41 Robertson St, Fortitude Valley |\n| WA | `Subiaco` | `GAWA_146662014` — 36 Olive St, Subiaco |\n| SA | `Unley` | `GASA_422266490` — 53 Marion St, Unley |\n| TAS | `Sandy Bay` | `GATAS702292990` — 85 Lord St, Sandy Bay |\n| ACT | `Kambah` | `GAACT714845944` — 9 McDowall Pl, Kambah |\n| NT | `Nightcliff` | `GANT_703835649` — 16 Jacksonia Cct, Nightcliff |\n\nSuburb names are canonical ABS SAL strings — note `St Kilda (Vic.)`,\nwhich ABS disambiguates from the South Australian one. Call any route\nwith these path values and you'll get real data, no signup. Anything\nelse returns `403`; mint your own key at our\n[developer portal](https://www.microburbs.com.au/developers/keys) for full access.\n\n## Using an LLM agent? Connect over MCP\n\nEvery endpoint in this reference is also exposed as a native tool over the\n**Model Context Protocol**, so Claude, Cursor, and other agents can call\nMicroburbs data directly — same API key, same plan, same per-call cents\nmetering.\n\n- **Hosted endpoint:** `https://api.microburbs.com.au/mcp` — Streamable HTTP,\n  the current MCP transport. Mounted in this API, so it is the same host, the\n  same key and the same metering as the REST endpoints below.\n- **Auth:** `Authorization: Bearer mib_live_...` (your REST key works as-is).\n  There is no OAuth flow — the key is the whole of it.\n- **Claude Code:** `claude mcp add --transport http microburbs https://api.microburbs.com.au/mcp --header \"Authorization: Bearer mib_live_...\"`\n\nFull setup for every client — claude.ai, ChatGPT, Cursor, VS Code, Windsurf —\nis on the [API docs page](https://www.microburbs.com.au/developers/api-docs).\n\n## Getting help\n\n- Email support: david@microburbs.com.au\n",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.microburbs.com.au/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.microburbs.com.au",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Health check",
        "description": "Returns immediately if the API is up. No authentication required and not metered — safe to poll from a load balancer, uptime monitor, or status dashboard without affecting your usage.\n\n**Free.**",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Ping"
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-price-cents": 0
      },
      "head": {
        "tags": [
          "Account"
        ],
        "summary": "Health check (HEAD)",
        "description": "Returns immediately if the API is up. No authentication required and not metered — safe to poll from a load balancer, uptime monitor, or status dashboard without affecting your usage.",
        "operationId": "ping_head",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Ping Head"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Me",
        "description": "Return the calling account and its current prepaid credit balance.\n\n**Free.**",
        "operationId": "me_v1_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Me V1 Me Get"
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-price-cents": 0
      }
    },
    "/v1/properties/{gnaf_id}/valuation/avm": {
      "get": {
        "tags": [
          "Property - Valuation"
        ],
        "summary": "AVM — automated valuation",
        "description": "Microburbs ML AVM for a single GNAF — point estimate, 80% range,\nplus a confidence score (0–100) derived from the interval width.\n\n**Price: 10¢ per call.**",
        "operationId": "get_property_avm_v1_properties__gnaf_id__valuation_avm_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_AvmEstimate_"
                },
                "example": {
                  "data": {
                    "predicted_price": 876651,
                    "predicted_price_high": 1183479,
                    "predicted_price_low": 569823,
                    "prediction_date": "2026-04-20"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 10
      }
    },
    "/v1/properties/{gnaf_id}/basics/bed-count": {
      "get": {
        "tags": [
          "Property - Basics"
        ],
        "summary": "Bedroom count",
        "description": "Bedroom count from the latest matching listing.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_bed_count_v1_properties__gnaf_id__basics_bed_count_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_BedCount_"
                },
                "example": {
                  "data": {
                    "bed_count": 4
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/basics/bath-count": {
      "get": {
        "tags": [
          "Property - Basics"
        ],
        "summary": "Bathroom count",
        "description": "Bathroom count from the latest matching listing.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_bath_count_v1_properties__gnaf_id__basics_bath_count_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_BathCount_"
                },
                "example": {
                  "data": {
                    "bath_count": 2
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/basics/parking-count": {
      "get": {
        "tags": [
          "Property - Basics"
        ],
        "summary": "Parking-space count",
        "description": "Parking-space count from the latest matching listing.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_parking_count_v1_properties__gnaf_id__basics_parking_count_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ParkingCount_"
                },
                "example": {
                  "data": {
                    "parking_count": 5
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/basics/dwelling-type": {
      "get": {
        "tags": [
          "Property - Basics"
        ],
        "summary": "Dwelling type",
        "description": "Dwelling type (house, unit, townhouse, ...).\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_dwelling_type_v1_properties__gnaf_id__basics_dwelling_type_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_DwellingType_"
                },
                "example": {
                  "data": {
                    "dwelling_type": "house"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/basics/land-area-sqm": {
      "get": {
        "tags": [
          "Property - Basics"
        ],
        "summary": "Land area (sqm)",
        "description": "Parcel land area in square metres from the cadastral feed.\n\n**Price: 3¢ per call.**",
        "operationId": "get_property_land_area_sqm_v1_properties__gnaf_id__basics_land_area_sqm_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_LandAreaSqm_"
                },
                "example": {
                  "data": {
                    "land_area_sqm": 814
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 3
      }
    },
    "/v1/properties/{gnaf_id}/profile": {
      "get": {
        "tags": [
          "Property - Profile"
        ],
        "summary": "ABS geo profile",
        "description": "Resolve a GNAF to its full ABS Statistical Geography Standard\nhierarchy (Mesh Block → SA1 → SA2 → SA3 → SA4 → GCCSA → State) plus\nthe parallel admin chain (LGA, suburb (SAL), postcode). Call this\nonce to get every ABS key the rest of the data layers index on.\n\n**Price: 3¢ per call.**",
        "operationId": "get_property_profile_v1_properties__gnaf_id__profile_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_PropertyProfile_"
                },
                "example": {
                  "data": {
                    "gccsa": "Australian Capital Territory",
                    "lga": "Unincorporated ACT",
                    "mesh_block": "80111103200",
                    "postcode": "2902",
                    "sa1": "80101102001",
                    "sa2": "Kambah",
                    "sa3": "Tuggeranong",
                    "sa4": "Australian Capital Territory",
                    "state": "ACT",
                    "suburb": "Kambah (ACT)"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 3
      }
    },
    "/v1/properties/{gnaf_id}/sale-history": {
      "get": {
        "tags": [
          "Property - History"
        ],
        "summary": "Sale & for-sale history",
        "description": "All Sold + For Sale records, most-recent first.\n\n**Price: 30¢ per call.**",
        "operationId": "get_property_sale_history_v1_properties__gnaf_id__sale_history_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_HistoryRecord__"
                },
                "example": {
                  "data": [
                    {
                      "date": "2025-06-05",
                      "price": 990000,
                      "type": "Sold",
                      "address": "9 Mcdowall Place"
                    },
                    {
                      "date": "2025-05-22",
                      "type": "For Sale",
                      "address": "9 Mcdowall Place"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": [
          {
            "date": "2025-06-05",
            "price": 990000,
            "type": "Sold",
            "address": "9 Mcdowall Place"
          },
          {
            "date": "2025-05-22",
            "type": "For Sale",
            "address": "9 Mcdowall Place"
          }
        ],
        "x-price-cents": 30
      }
    },
    "/v1/properties/{gnaf_id}/sale-history-latest": {
      "get": {
        "tags": [
          "Property - History"
        ],
        "summary": "Most-recent sale record",
        "description": "Most-recent Sold or For Sale record.\n\n**Price: 10¢ per call.**",
        "operationId": "get_property_sale_history_latest_v1_properties__gnaf_id__sale_history_latest_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_HistoryRecord_"
                },
                "example": {
                  "data": {
                    "date": "2025-06-05",
                    "price": 990000,
                    "type": "Sold",
                    "address": "9 Mcdowall Place"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": {
          "date": "2025-06-05",
          "price": 990000,
          "type": "Sold",
          "address": "9 Mcdowall Place"
        },
        "x-price-cents": 10
      }
    },
    "/v1/properties/{gnaf_id}/rent-history": {
      "get": {
        "tags": [
          "Property - History"
        ],
        "summary": "Rental listing history",
        "description": "All For Rent records, most-recent first.\n\n**Price: 30¢ per call.**",
        "operationId": "get_property_rent_history_v1_properties__gnaf_id__rent_history_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_HistoryRecord__"
                },
                "example": {
                  "data": [
                    {
                      "date": "2025-07-24",
                      "price": 750,
                      "type": "For Rent",
                      "address": "9 Mcdowall Place"
                    },
                    {
                      "date": "2022-10-10",
                      "type": "For Rent",
                      "address": "9 Mcdowall Place"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": [
          {
            "date": "2025-07-24",
            "price": 750,
            "type": "For Rent",
            "address": "9 Mcdowall Place"
          },
          {
            "date": "2022-10-10",
            "type": "For Rent",
            "address": "9 Mcdowall Place"
          }
        ],
        "x-price-cents": 30
      }
    },
    "/v1/properties/{gnaf_id}/rent-history-latest": {
      "get": {
        "tags": [
          "Property - History"
        ],
        "summary": "Most-recent rent observation",
        "description": "Most-recent For Rent record.\n\n**Price: 10¢ per call.**",
        "operationId": "get_property_rent_history_latest_v1_properties__gnaf_id__rent_history_latest_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_HistoryRecord_"
                },
                "example": {
                  "data": {
                    "date": "2025-07-24",
                    "price": 750,
                    "type": "For Rent",
                    "address": "9 Mcdowall Place"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": {
          "date": "2025-07-24",
          "price": 750,
          "type": "For Rent",
          "address": "9 Mcdowall Place"
        },
        "x-price-cents": 10
      }
    },
    "/v1/properties/{gnaf_id}/neighbours": {
      "get": {
        "tags": [
          "Property - Title"
        ],
        "summary": "Neighbours",
        "description": "Adjoining-parcel neighbours, enriched with address + property\ntype + bed/bath/garage from the latest matching listing.\n\n**Price: 30¢ per call.**",
        "operationId": "get_property_neighbours_v1_properties__gnaf_id__neighbours_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_Neighbours_"
                },
                "example": {
                  "data": {
                    "neighbours": [
                      {
                        "address": "3 TAMAR STREET",
                        "gnaf_pid": "GANSW704083204",
                        "property_type": "house"
                      },
                      {
                        "address": "16 HARRISON STREET",
                        "gnaf_pid": "GANSW704073018",
                        "property_type": "house"
                      },
                      {
                        "address": "14 HARRISON STREET",
                        "gnaf_pid": "GANSW704073016",
                        "property_type": "house"
                      }
                    ]
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 30
      }
    },
    "/v1/properties/{gnaf_id}/comparables/cma-comp-set": {
      "get": {
        "tags": [
          "Property - Comparables"
        ],
        "summary": "CMA comparable set",
        "description": "Top comparable sales used to triangulate the subject property's value.\n\n**Price: 60¢ per call.**",
        "operationId": "get_property_cma_comp_set_v1_properties__gnaf_id__comparables_cma_comp_set_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_CmaComp__"
                },
                "example": {
                  "data": [
                    {
                      "gnaf_pid": "GAACT714923950",
                      "street": "8 SHIPARD PL",
                      "bedrooms": 4,
                      "bathrooms": 2,
                      "dist_score": 6.319769313849382,
                      "price": 815000,
                      "date_sold": "2024-07-13",
                      "latitude": -35.38013684,
                      "longitude": 149.06828089,
                      "sal": "Kambah",
                      "state": "ACT",
                      "property_type": "house",
                      "garage_spaces": 2
                    },
                    {
                      "gnaf_pid": "GAACT714962432",
                      "street": "19 MACKAY CR",
                      "bedrooms": 4,
                      "bathrooms": 2,
                      "dist_score": 6.314913077374466,
                      "price": 975000,
                      "date_sold": "2024-05-17",
                      "latitude": -35.38141033,
                      "longitude": 149.0765471,
                      "sal": "Kambah",
                      "state": "ACT",
                      "property_type": "house",
                      "garage_spaces": 2
                    },
                    {
                      "gnaf_pid": "GAACT714953151",
                      "street": "23 BROWNSMITH CR",
                      "bedrooms": 4,
                      "bathrooms": 2,
                      "dist_score": 6.202634043106887,
                      "price": 1049000,
                      "date_sold": "2024-05-10",
                      "latitude": -35.38009598,
                      "longitude": 149.07224252,
                      "sal": "Kambah",
                      "state": "ACT",
                      "property_type": "house",
                      "garage_spaces": 4
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": [
          {
            "gnaf_pid": "GAACT714923950",
            "street": "8 SHIPARD PL",
            "bedrooms": 4,
            "bathrooms": 2,
            "dist_score": 6.319769313849382,
            "price": 815000,
            "date_sold": "2024-07-13",
            "latitude": -35.38013684,
            "longitude": 149.06828089,
            "sal": "Kambah",
            "state": "ACT",
            "property_type": "house",
            "garage_spaces": 2
          },
          {
            "gnaf_pid": "GAACT714962432",
            "street": "19 MACKAY CR",
            "bedrooms": 4,
            "bathrooms": 2,
            "dist_score": 6.314913077374466,
            "price": 975000,
            "date_sold": "2024-05-17",
            "latitude": -35.38141033,
            "longitude": 149.0765471,
            "sal": "Kambah",
            "state": "ACT",
            "property_type": "house",
            "garage_spaces": 2
          },
          {
            "gnaf_pid": "GAACT714953151",
            "street": "23 BROWNSMITH CR",
            "bedrooms": 4,
            "bathrooms": 2,
            "dist_score": 6.202634043106887,
            "price": 1049000,
            "date_sold": "2024-05-10",
            "latitude": -35.38009598,
            "longitude": 149.07224252,
            "sal": "Kambah",
            "state": "ACT",
            "property_type": "house",
            "garage_spaces": 4
          }
        ],
        "x-price-cents": 60
      }
    },
    "/v1/properties/{gnaf_id}/comparables/cma-single-comp": {
      "get": {
        "tags": [
          "Property - Comparables"
        ],
        "summary": "CMA — single best comparable",
        "description": "Single best comparable from the CMA set (highest dist_score).\n\n**Price: 10¢ per call.**",
        "operationId": "get_property_cma_single_comp_v1_properties__gnaf_id__comparables_cma_single_comp_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_CmaComp_"
                },
                "example": {
                  "data": {
                    "bathrooms": 2,
                    "bedrooms": 4,
                    "date_sold": "2024-07-13",
                    "dist_score": 6.319769313849382,
                    "garage_spaces": 2,
                    "gnaf_pid": "GAACT714923950",
                    "latitude": -35.38013684,
                    "longitude": 149.06828089,
                    "price": 815000,
                    "property_type": "house",
                    "sal": "Kambah",
                    "state": "ACT",
                    "street": "8 SHIPARD PL"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 10
      }
    },
    "/v1/properties/{gnaf_id}/comparables/recent-sales-nearby": {
      "get": {
        "tags": [
          "Property - Comparables"
        ],
        "summary": "Recent sales within a radius",
        "description": "Recent comparable sales in a small radius around the subject parcel.\n\n**Price: 4¢ per call.**",
        "operationId": "get_property_recent_sales_nearby_v1_properties__gnaf_id__comparables_recent_sales_nearby_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_RecentSale__"
                },
                "example": {
                  "data": [
                    {
                      "address": "30 Arlington Street, Belmont North",
                      "bath_count": 2,
                      "bed_count": 3,
                      "distance_m": 65,
                      "dwelling_type": "house",
                      "sale_date": "2024-08-12",
                      "sale_price": 815000
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 4
      }
    },
    "/v1/properties/{gnaf_id}/development/zoning-code": {
      "get": {
        "tags": [
          "Property - Development"
        ],
        "summary": "Primary zoning code",
        "description": "Primary zoning at the property's point — code (R2, B4, ...) when\nthe council ships one, plus the human-readable name and the\nbroader category.\n\n**Price: 3¢ per call.**",
        "operationId": "get_property_zoning_code_v1_properties__gnaf_id__development_zoning_code_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ZoningCode_"
                },
                "example": {
                  "data": {
                    "category": "Residential Zones",
                    "code": "R2",
                    "name": "Low Density Residential"
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 3
      }
    },
    "/v1/properties/{gnaf_id}/development/zoning-overlays": {
      "get": {
        "tags": [
          "Property - Development"
        ],
        "summary": "Development overlays at this point",
        "description": "Development overlays intersecting the property's parcel.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_zoning_overlays_v1_properties__gnaf_id__development_zoning_overlays_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_ZoningOverlay__"
                },
                "example": {
                  "data": [
                    {
                      "layer": "hob",
                      "value": "10 m"
                    },
                    {
                      "layer": "hob",
                      "value": "5.5 m"
                    },
                    {
                      "layer": "hob",
                      "value": "8.5 m"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sample-response": [
          {
            "layer": "hob",
            "value": "10 m"
          },
          {
            "layer": "hob",
            "value": "5.5 m"
          },
          {
            "layer": "hob",
            "value": "8.5 m"
          }
        ],
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/schools/nearby": {
      "get": {
        "tags": [
          "Property - Schools"
        ],
        "summary": "Nearby schools",
        "description": "Schools within ~5km of the property, with rank + student counts.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_schools_nearby_v1_properties__gnaf_id__schools_nearby_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_SchoolNearby__"
                },
                "example": {
                  "data": [
                    {
                      "distance_m": 612,
                      "id": 42002,
                      "name": "Belmont North Public School",
                      "school_level_type": "Primary",
                      "sector": "public"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 5
      }
    },
    "/v1/properties/{gnaf_id}/schools/ranking": {
      "get": {
        "tags": [
          "Property - Schools"
        ],
        "summary": "Local school ranking",
        "description": "Schools within ~5km of the property, ranked by NAPLAN / socioeconomic score.\n\n**Price: 100¢ per call.**",
        "operationId": "get_property_schools_ranking_v1_properties__gnaf_id__schools_ranking_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_SchoolRanking__"
                },
                "example": {
                  "data": [
                    {
                      "attendance_rate": 0.89,
                      "distance_m": 612,
                      "id": 42002,
                      "name": "Belmont North Public School",
                      "naplan_label": "Top 40%",
                      "naplan_rank": 0.63,
                      "school_level_type": "Primary",
                      "sector": "public",
                      "socioeconomic_label": "Bottom 20%",
                      "socioeconomic_rank": 0.17
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 100
      }
    },
    "/v1/properties/{gnaf_id}/amenities/nearby": {
      "get": {
        "tags": [
          "Property - Amenities"
        ],
        "summary": "Nearby amenities",
        "description": "Curated amenities (supermarkets, green spaces, restaurants/cafes)\nwithin `radius_m` of the property, bucketed and nearest-first.\n\n**Price: 10¢ per call.**",
        "operationId": "get_property_amenities_nearby_v1_properties__gnaf_id__amenities_nearby_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          },
          {
            "name": "radius_m",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 100,
              "description": "Search radius in metres (100–5000, default 1000).",
              "default": 1000,
              "title": "Radius M"
            },
            "description": "Search radius in metres (100–5000, default 1000)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_AmenitiesNearby_"
                },
                "example": {
                  "data": {
                    "center_lat": -33.802479,
                    "center_lng": 151.219715,
                    "counts": {
                      "green_spaces": 4,
                      "restaurant": 11,
                      "supermarket": 2
                    },
                    "gnaf_id": "GANSW704360755",
                    "radius_m": 1000,
                    "results": [
                      {
                        "category": "Supermarket",
                        "distance_m": 240,
                        "lat": -33.8011,
                        "lng": 151.2216,
                        "name": "Castlecrag Village"
                      },
                      {
                        "category": "Green Spaces",
                        "distance_m": 190,
                        "lat": -33.8038,
                        "lng": 151.218
                      }
                    ]
                  }
                }
              }
            },
            "headers": {
              "X-Cost-Cents": {
                "description": "Exact cents billed for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Spent-Cents": {
                "description": "Cumulative cents used from this prepaid wallet.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Remaining-Cents": {
                "description": "Spendable prepaid credit left after this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Period-End": {
                "description": "Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Balance-Cents": {
                "description": "Compatibility alias of X-Remaining-Cents.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-Rate-Card-Version": {
                "description": "Version of the endpoint rate card used for this call.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Request-Id": {
                "description": "Request identifier to quote in support requests.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "query",
                        "address"
                      ],
                      "msg": "Field required",
                      "input": null
                    }
                  ]
                }
              }
            }
          }
        },
        "x-price-cents": 10
      }
    },
    "/v1/properties/{gnaf_id}/transport/nearby": {
      "get": {
        "tags": [
          "Property - Amenities"
        ],
        "summary": "Nearest transport by mode",
        "description": "Nearest train / tram / bus / ferry stop to the property, per mode,\nwith distance. Widen `radius_m` for the nearest station beyond 1km.\n\n**Price: 5¢ per call.**",
        "operationId": "get_property_transport_nearby_v1_properties__gnaf_id__transport_nearby_get",
        "parameters": [
          {
            "name": "gnaf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Gnaf Id",
              "example": "GANSW704074813"
            },
            "example": "GANSW704074813"
          },
          {
            "name": "radius_m",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "minimum": 100,
              "description": "Search radius in metres (100–5000, default 1000).",
              "default": 1000,
              "title": "Radius M"
            },
            "description": "Search radius in metres (100–5000, default 1000)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_TransportNearby_"
                },
                "example": {
[...]
