{
  "openapi": "3.1.0",
  "info": {
    "title": "fortrabbit API",
    "description": "",
    "version": "BETA",
    "x-jentic-source-url": "https://api.fortrabbit.com/v1/docs.json"
  },
  "servers": [
    {
      "url": "https://api.fortrabbit.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/apps": {
      "get": {
        "operationId": "api_apps_get_collection",
        "tags": [
          "App"
        ],
        "responses": {
          "200": {
            "description": "App collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "App.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/App.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of App resources.",
        "description": "Retrieves the collection of App resources.",
        "parameters": [
          {
            "name": "publicId[]",
            "in": "query",
            "description": "Return only the resources with these public ids.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      },
      "post": {
        "operationId": "api_apps_post",
        "tags": [
          "App"
        ],
        "responses": {
          "201": {
            "description": "App resource created",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/App.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App-api.read"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Creates a App resource.",
        "description": "Creates a App resource.",
        "parameters": [],
        "requestBody": {
          "description": "The new App resource",
          "content": {
            "application/ld+json": {
              "schema": {
                "$ref": "#/components/schemas/App.AppCreateApiRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App.AppCreateApiRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/apps/{publicId}": {
      "get": {
        "operationId": "api_apps_publicId_get",
        "tags": [
          "App"
        ],
        "responses": {
          "200": {
            "description": "App resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/App.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a App resource.",
        "description": "Retrieves a App resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "App identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "delete": {
        "operationId": "api_apps_publicId_delete",
        "tags": [
          "App"
        ],
        "responses": {
          "204": {
            "description": "App resource deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Delete an app",
        "description": "Deletes the app together with all of its environments and their infrastructure. This cannot be undone.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "App identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "patch": {
        "operationId": "api_apps_publicId_patch",
        "tags": [
          "App"
        ],
        "responses": {
          "200": {
            "description": "App resource updated",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/App.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App-api.read"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Updates the App resource.",
        "description": "Updates the App resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "App identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ],
        "requestBody": {
          "description": "The updated App resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/App.AppUpdateApiRequest.jsonMergePatch"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App.AppUpdateApiRequest.jsonMergePatch"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/deployments": {
      "get": {
        "operationId": "api_deployments_get_collection",
        "tags": [
          "Deployment"
        ],
        "responses": {
          "200": {
            "description": "Deployment collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "Deployment.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Deployment.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deployment-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Deployment resources.",
        "description": "Retrieves the collection of Deployment resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/v1/deployments/{publicId}": {
      "get": {
        "operationId": "api_deployments_publicId_get",
        "tags": [
          "Deployment"
        ],
        "responses": {
          "200": {
            "description": "Deployment resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a Deployment resource.",
        "description": "Retrieves a Deployment resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Deployment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/deployments/{publicId}/logs": {
      "get": {
        "operationId": "api_deployments_publicIdlogs_get",
        "tags": [
          "Deployment"
        ],
        "responses": {
          "200": {
            "description": "Deployment resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment.DeploymentLogsResponse.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment.DeploymentLogsResponse-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Get deployment logs",
        "description": "Deployment logs become available shortly after a deployment finishes. While \"ready\" is false the logs are still being collected. Once \"ready\" is true the response is final; an empty \"logs\" array then means there are no logs for this deployment.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Deployment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/environments/{publicId}/deployments": {
      "post": {
        "operationId": "api_environments_publicIddeployments_post",
        "tags": [
          "Deployment"
        ],
        "responses": {
          "201": {
            "description": "Deployment resource created",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment-api.read"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Creates a Deployment resource.",
        "description": "Creates a Deployment resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Deployment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/domains": {
      "get": {
        "operationId": "api_domains_get_collection",
        "tags": [
          "Domain"
        ],
        "responses": {
          "200": {
            "description": "Domain collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "Domain.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Domain.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Domain resources.",
        "description": "Retrieves the collection of Domain resources.",
        "parameters": [
          {
            "name": "publicId[]",
            "in": "query",
            "description": "Return only the resources with these public ids.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/v1/domains/{publicId}": {
      "get": {
        "operationId": "api_domains_publicId_get",
        "tags": [
          "Domain"
        ],
        "responses": {
          "200": {
            "description": "Domain resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a Domain resource.",
        "description": "Retrieves a Domain resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Domain identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "delete": {
        "operationId": "api_domains_publicId_delete",
        "tags": [
          "Domain"
        ],
        "responses": {
          "204": {
            "description": "Domain resource deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Delete a domain",
        "description": "Deletes a domain. Environment URLs cannot be deleted.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Domain identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/environments": {
      "get": {
        "operationId": "api_environments_get_collection",
        "tags": [
          "Environment"
        ],
        "responses": {
          "200": {
            "description": "Environment collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "Environment.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Environment.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Environment resources.",
        "description": "Retrieves the collection of Environment resources.",
        "parameters": [
          {
            "name": "publicId[]",
            "in": "query",
            "description": "Return only the resources with these public ids.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      },
      "post": {
        "operationId": "api_environments_post",
        "tags": [
          "Environment"
        ],
        "responses": {
          "201": {
            "description": "Environment resource created",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment.jsonld-api.read_api.read.environment-variables"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment-api.read_api.read.environment-variables"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Creates a Environment resource.",
        "description": "Creates a Environment resource.",
        "parameters": [],
        "requestBody": {
          "description": "The new Environment resource",
          "content": {
            "application/ld+json": {
              "schema": {
                "$ref": "#/components/schemas/Environment.EnvironmentCreateApiRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Environment.EnvironmentCreateApiRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/environments/{publicId}": {
      "get": {
        "operationId": "api_environments_publicId_get",
        "tags": [
          "Environment"
        ],
        "responses": {
          "200": {
            "description": "Environment resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment.jsonld-api.read_api.read.environment-variables_api.read.platform-variables"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment-api.read_api.read.environment-variables_api.read.platform-variables"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a Environment resource.",
        "description": "Retrieves a Environment resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Environment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "delete": {
        "operationId": "api_environments_publicId_delete",
        "tags": [
          "Environment"
        ],
        "responses": {
          "204": {
            "description": "Environment resource deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Delete an environment",
        "description": "Deletes an environment and its infrastructure. The last environment in an app cannot be deleted.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Environment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "patch": {
        "operationId": "api_environments_publicId_patch",
        "tags": [
          "Environment"
        ],
        "responses": {
          "200": {
            "description": "Environment resource updated",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment.jsonld-api.read_api.read.environment-variables"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment-api.read_api.read.environment-variables"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Update an environment",
        "description": "Changes only the fields supplied; omitted fields are left unchanged. Environment variables are merged, not replaced: Add or change a variable by sending its name with a string value. Remove a variable by sending its name with a null value. Variables you do not name are left unchanged; omit the field entirely to change nothing. Platform-injected variables cannot be added, changed or removed.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Environment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ],
        "requestBody": {
          "description": "The updated Environment resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Environment.EnvironmentUpdateApiRequest.jsonMergePatch"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Environment.EnvironmentUpdateApiRequest.jsonMergePatch"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/environments/{publicId}/restart": {
      "post": {
        "operationId": "api_environments_publicIdrestart_post",
        "tags": [
          "Environment"
        ],
        "responses": {
          "202": {
            "description": "Environment resource created",
            "links": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          },
          "422": {
            "description": "An error occurred",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstraintViolation"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Creates a Environment resource.",
        "description": "Creates a Environment resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Environment identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/payment-methods": {
      "get": {
        "operationId": "api_payment-methods_get_collection",
        "tags": [
          "PaymentMethod"
        ],
        "responses": {
          "200": {
            "description": "PaymentMethod collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "PaymentMethod.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PaymentMethod.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of PaymentMethod resources.",
        "description": "Retrieves the collection of PaymentMethod resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/v1/payment-methods/{publicId}": {
      "get": {
        "operationId": "api_payment-methods_publicId_get",
        "tags": [
          "PaymentMethod"
        ],
        "responses": {
          "200": {
            "description": "PaymentMethod resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a PaymentMethod resource.",
        "description": "Retrieves a PaymentMethod resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "PaymentMethod identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "delete": {
        "operationId": "api_payment-methods_publicId_delete",
        "tags": [
          "PaymentMethod"
        ],
        "responses": {
          "204": {
            "description": "PaymentMethod resource deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Delete a payment method",
        "description": "Deletes the payment method together with every app booked on it and all of their environments. This cannot be undone.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "PaymentMethod identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/people": {
      "get": {
        "operationId": "api_people_get_collection",
        "tags": [
          "People"
        ],
        "responses": {
          "200": {
            "description": "Person collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "Person.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Person.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Person resources.",
        "description": "Retrieves the collection of Person resources.",
        "parameters": [
          {
            "name": "publicId[]",
            "in": "query",
            "description": "Return only the resources with these public ids.",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/v1/people/{publicId}": {
      "get": {
        "operationId": "api_people_publicId_get",
        "tags": [
          "People"
        ],
        "responses": {
          "200": {
            "description": "Person resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Person.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a Person resource.",
        "description": "Retrieves a Person resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Person identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    },
    "/v1/teams": {
      "get": {
        "operationId": "api_teams_get_collection",
        "tags": [
          "Team"
        ],
        "responses": {
          "200": {
            "description": "Team collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "description": "Team.jsonld-api.read collection.",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HydraCollectionBaseSchema"
                    },
                    {
                      "type": "object",
                      "required": [
                        "member"
                      ],
                      "properties": {
                        "member": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Team.jsonld-api.read"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team-api.read"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Team resources.",
        "description": "Retrieves the collection of Team resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/v1/teams/{publicId}": {
      "get": {
        "operationId": "api_teams_publicId_get",
        "tags": [
          "Team"
        ],
        "responses": {
          "200": {
            "description": "Team resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Team.jsonld-api.read"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team-api.read"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Retrieves a Team resource.",
        "description": "Retrieves a Team resource.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Team identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      },
      "delete": {
        "operationId": "api_teams_publicId_delete",
        "tags": [
          "Team"
        ],
        "responses": {
          "204": {
            "description": "Team resource deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error.jsonld"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "links": {}
          }
        },
        "summary": "Delete a team",
        "description": "Deletes the team, payment methods owned solely by it, and every app booked on those payment methods. This cannot be undone.",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "description": "Team identifier",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false
          }
        ]
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {
      "App-api.read": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "paymentMethod": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "environments": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "people": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "teams": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "region": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "software": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "trial": {
            "readOnly": true,
            "type": "boolean"
          }
        }
      },
      "App.AppCreateApiRequest": {
        "type": "object",
        "properties": {
          "teamId": {
            "pattern": "^(([a-z]{2})-[0-9a-z]{6})$",
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "minLength": 1,
            "maxLength": 32,
            "type": "string",
            "example": "acme-shop"
          },
          "region": {
            "type": "string",
            "example": "eu-w1a",
            "description": "Region identifier, e.g. \"eu-w1a\" or \"us-e1a\"."
          },
          "softwarePresetName": {
            "minLength": 1,
            "maxLength": 64,
            "type": [
              "string",
              "null"
            ],
            "example": "laravel",
            "description": "Software preset slug; defaults to \"generic-php\"."
          },
          "initialEnvironment": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "softwareVersion": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Major version only, e.g. \"11\"."
              },
              "phpVersion": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "PHP runtime version for the initial environment, e.g. \"8.4\". Defaults to the platform default. Setting it stops the environment from being auto-updated to newer PHP versions."
              },
              "components": {
                "type": "object",
                "description": "Component plans keyed by component slug. The value is a size key (e.g. \"sm\") or \"off\" to disable an optional component. Omitted optional components default to \"off\".",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "autoscaling": {
                "type": "boolean",
                "default": true,
                "description": "Enable autoscaling for the initial environment. Optional; defaults to true."
              },
              "deployment": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Deployment configuration. The git field is required to configure deployment; omit the whole object to skip deployment.",
                "required": [
                  "git"
                ],
                "properties": {
                  "git": {
                    "type": "object",
                    "required": [
                      "repository",
                      "branch"
                    ],
                    "properties": {
                      "repository": {
                        "type": "string",
                        "maxLength": 255
                      },
                      "branch": {
                        "type": "string",
                        "maxLength": 255
                      },
                      "directory": {
                        "type": "string",
                        "maxLength": 255,
                        "default": "/",
                        "description": "Deploy directory. Optional; defaults to \"/\". Must not be null or empty when provided."
                      }
                    }
                  },
                  "buildCommands": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "postDeployCommands": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "startFirstDeployment": {
                    "type": "boolean",
                    "description": "Trigger a first deployment right after the app is created."
                  }
                }
              }
            },
            "additionalProperties": false,
            "description": "Initial environment configuration.",
            "example": {
              "softwareVersion": "11",
              "phpVersion": "8.4",
              "components": {
                "php": "sm",
                "storage": "xs",
                "traffic": "xs",
                "backups": "xs"
              },
              "autoscaling": true,
              "deployment": {
                "git": {
                  "repository": "acme/shop",
                  "branch": "main",
                  "directory": "/"
                },
                "buildCommands": [
                  "composer install --no-dev"
                ],
                "postDeployCommands": [
                  "php artisan migrate --force"
                ],
                "startFirstDeployment": true
              }
            }
          },
          "paymentMethodId": {
            "pattern": "^(([a-z]{2})-[0-9a-z]{6})$",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "region"
        ]
      },
      "App.AppUpdateApiRequest.jsonMergePatch": {
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "maxLength": 32,
            "type": [
              "string",
              "null"
            ],
            "example": "acme-shop",
            "description": "New app name. Omit to leave unchanged."
          },
          "paymentMethodId": {
            "pattern": "^(([a-z]{2})-[0-9a-z]{6})$",
            "type": [
              "string",
              "null"
            ],
            "example": "pm-a1b2c3",
            "description": "Public ID of a payment method you own. Omit to leave unchanged."
          }
        }
      },
      "App.jsonld-api.read": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "paymentMethod": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "environments": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "people": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "teams": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "region": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "software": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "trial": {
                "readOnly": true,
                "type": "boolean"
              }
            }
          }
        ]
      },
      "ConstraintViolation": {
        "type": "object",
        "description": "Unprocessable entity",
        "properties": {
          "status": {
            "default": 422,
            "type": "integer"
          },
          "violations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "propertyPath": {
                  "type": "string",
                  "description": "The property path of the violation"
                },
                "message": {
                  "type": "string",
                  "description": "The message associated with the violation"
                },
                "code": {
                  "type": "string",
                  "description": "The code of the violation"
                },
                "hint": {
                  "type": "string",
                  "description": "An extra hint to understand the violation"
                },
                "payload": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "The serialized payload of the violation"
                }
              },
              "required": [
                "propertyPath",
                "message"
              ]
            }
          },
          "detail": {
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "readOnly": true,
            "type": "string"
          },
          "title": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "instance": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ConstraintViolation.jsonld": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "default": 422,
                "type": "integer"
              },
              "violations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "propertyPath": {
                      "type": "string",
                      "description": "The property path of the violation"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message associated with the violation"
                    },
                    "code": {
                      "type": "string",
                      "description": "The code of the violation"
                    },
                    "hint": {
                      "type": "string",
                      "description": "An extra hint to understand the violation"
                    },
                    "payload": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "The serialized payload of the violation"
                    }
                  },
                  "required": [
                    "propertyPath",
                    "message"
                  ]
                }
              },
              "detail": {
                "readOnly": true,
                "type": "string"
              },
              "description": {
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "readOnly": true,
                "type": "string"
              },
              "title": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "instance": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        ],
        "description": "Unprocessable entity"
      },
      "Deployment-api.read": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "commitHash": {
            "type": "string"
          },
          "commitMessage": {
            "type": "string"
          },
          "committedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "environment": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Deployment.DeploymentLogsResponse-api.read": {
        "type": "object",
        "properties": {
          "ready": {
            "type": "boolean",
            "description": "False while the deployment logs are still being collected. Poll this endpoint again until it turns true. Once true the response is final, and an empty \"logs\" array then means there are no logs to show.",
            "example": true
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "description": "Log lines in chronological order. Always an array; empty while \"ready\" is false."
          }
        }
      },
      "Deployment.DeploymentLogsResponse.jsonld-api.read": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "ready": {
                "type": "boolean",
                "description": "False while the deployment logs are still being collected. Poll this endpoint again until it turns true. Once true the response is final, and an empty \"logs\" array then means there are no logs to show.",
                "example": true
              },
              "logs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "description": "Log lines in chronological order. Always an array; empty while \"ready\" is false."
              }
            }
          }
        ]
      },
      "Deployment.jsonld-api.read": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "branch": {
                "type": "string"
              },
              "commitHash": {
                "type": "string"
              },
              "commitMessage": {
                "type": "string"
              },
              "committedAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "environment": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "Domain-api.read": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "apex",
              "subdomain",
              "environment_url"
            ]
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "environment": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "isMain": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "Domain.jsonld-api.read": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "apex",
                  "subdomain",
                  "environment_url"
                ]
              },
              "name": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "environment": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "isMain": {
                "readOnly": true,
                "type": [
                  "boolean",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "Environment-api.read": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "softwareVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "domains": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "components": {
            "readOnly": true,
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "phpVersion": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "buildCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "postDeployCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "git": {
            "readOnly": true,
            "type": "object",
            "properties": {
              "branch": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "directory": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "Environment-api.read_api.read.environment-variables": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "softwareVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "domains": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "components": {
            "readOnly": true,
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "phpVersion": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "buildCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "postDeployCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "git": {
            "readOnly": true,
            "type": "object",
            "properties": {
              "branch": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "directory": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "environmentVariables": {
            "readOnly": true,
            "type": "object",
            "description": "Variables set on this environment by its owners, keyed by name.",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": {
              "APP_ENV": "production"
            }
          }
        }
      },
      "Environment-api.read_api.read.environment-variables_api.read.platform-variables": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "softwareVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "domains": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "components": {
            "readOnly": true,
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "phpVersion": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "buildCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "postDeployCommands": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "git": {
            "readOnly": true,
            "type": "object",
            "properties": {
              "branch": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "directory": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "environmentVariables": {
            "readOnly": true,
            "type": "object",
            "description": "Variables set on this environment by its owners, keyed by name.",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": {
              "APP_ENV": "production"
            }
          },
          "platformVariables": {
            "readOnly": true,
            "type": "object",
            "description": "Variables injected by fortrabbit, keyed by name. Read-only: they cannot be added, changed or removed. Encrypted values, such as the database password, are not exposed.",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": {
              "MYSQL_DATABASE": "app"
            }
          }
        }
      },
      "Environment.EnvironmentCreateApiRequest": {
        "type": "object",
        "properties": {
          "appId": {
            "pattern": "^(([a-z]{2})-[0-9a-z]{6})$",
            "type": [
              "string",
              "null"
            ],
            "example": "ap-a1b2c3"
          },
          "name": {
            "minLength": 3,
            "maxLength": 32,
            "pattern": "^([a-z0-9]([a-z0-9-]*[a-z0-9])?)$",
            "type": "string",
            "example": "staging"
          },
          "deployment": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "git": {
                "type": "object",
                "required": [
                  "branch"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "directory": {
                    "type": "string",
                    "maxLength": 255,
                    "default": "/",
                    "description": "Deploy directory. Optional; defaults to \"/\". Must not be null or empty when provided."
                  }
                }
              },
              "buildCommands": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "postDeployCommands": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "startFirstDeployment": {
                "type": "boolean",
                "description": "Trigger a first deployment right after the environment is created."
              }
            },
            "additionalProperties": false,
            "required": [
              "git"
            ],
            "description": "Deployment configuration. The git field is required to configure deployment; omit the whole object to skip deployment.",
            "example": {
              "git": {
                "branch": "main",
                "directory": "/"
              },
              "buildCommands": [
                "composer install --no-dev"
              ],
              "postDeployCommands": [
                "php artisan migrate --force"
              ],
              "startFirstDeployment": true
            }
          },
          "softwareVersion": {
            "type": [
              "string",
              "null"
            ],
            "description": "Major version only, e.g. \"11\". Optional; defaults to the app software's version.",
            "example": "11"
          },
          "components": {
            "type": "object",
            "description": "Component plans keyed by component slug. The value is a size key (e.g. \"sm\") or \"off\" to disable an optional component.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "php": "sm",
              "storage": "xs",
              "traffic": "xs",
              "backups": "xs"
            }
          },
          "autoscaling": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Enable autoscaling. Optional; defaults to true."
          },
          "phpVersion": {
            "type": [
              "string",
              "null"
            ],
            "description": "PHP runtime version; defaults to the platform default.",
            "example": "8.4"
          },
          "sourceEnvironment": {
            "pattern": "^(([a-z]{2})-[0-9a-z]{6})$",
            "type": [
              "string",
              "null"
            ],
            "description": "Public ID of an existing environment to clone component plans and settings from.",
            "example": "en-a1b2c3"
          },
          "environmentVariables": {
            "type": "object",
            "description": "Environment variables to set on the new environment, keyed by name.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "APP_ENV": "production"
            }
          }
        },
        "required": [
          "name",
          "autoscaling"
        ]
      },
      "Environment.EnvironmentUpdateApiRequest.jsonMergePatch": {
        "type": "object",
        "properties": {
          "name": {
            "minLength": 3,
            "maxLength": 32,
            "pattern": "^([a-z0-9]([a-z0-9-]*[a-z0-9])?)$",
            "type": [
              "string",
              "null"
            ],
            "example": "staging",
            "description": "New environment name. Omit to leave unchanged."
          },
          "git": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "branch": {
                "type": "string",
                "maxLength": 255
              },
              "directory": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 255
              }
            },
            "additionalProperties": false,
            "required": [
              "branch"
            ],
            "description": "Git configuration. When present, replaces the environment's branch and source directory.",
            "example": {
              "branch": "main",
              "directory": null
            }
          },
          "buildCommands": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Replaces the environment's build commands. Omit to leave unchanged; send [] to clear.",
            "example": [
              "composer install --no-dev"
            ]
          },
          "postDeployCommands": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Replaces the environment's post-deploy commands. Omit to leave unchanged; send [] to clear.",
            "example": [
              "php artisan migrate --force"
            ]
          },
          "phpVersion": {
            "type": [
              "string",
              "null"
            ],
            "description": "PHP runtime version. Setting it stops the environment from being auto-updated to newer PHP versions. Omit to leave unchanged.",
            "example": "8.4"
          },
          "environmentVariables": {
            "type": [
              "object",
              "null"
            ],
            "description": "Add or change a variable by sending its name with a string value. Remove a variable by sending its name with a null value. Variables you do not name are left unchanged; omit the field entirely to change nothing. Platform-injected variables cannot be added, changed or removed.",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": {
              "APP_ENV": "production",
              "OLD_FLAG": null
            }
          }
        }
      },
      "Environment.jsonld-api.read": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "softwareVersion": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "domains": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "components": {
                "readOnly": true,
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "phpVersion": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "buildCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "postDeployCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "git": {
                "readOnly": true,
                "type": "object",
                "properties": {
                  "branch": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        ]
      },
      "Environment.jsonld-api.read_api.read.environment-variables": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "softwareVersion": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "domains": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "components": {
                "readOnly": true,
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "phpVersion": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "buildCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "postDeployCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "git": {
                "readOnly": true,
                "type": "object",
                "properties": {
                  "branch": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "environmentVariables": {
                "readOnly": true,
                "type": "object",
                "description": "Variables set on this environment by its owners, keyed by name.",
                "additionalProperties": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "example": {
                  "APP_ENV": "production"
                }
              }
            }
          }
        ]
      },
      "Environment.jsonld-api.read_api.read.environment-variables_api.read.platform-variables": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "publicId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "softwareVersion": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "domains": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "components": {
                "readOnly": true,
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "phpVersion": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              },
              "buildCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "postDeployCommands": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "git": {
                "readOnly": true,
                "type": "object",
                "properties": {
                  "branch": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "directory": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "environmentVariables": {
                "readOnly": true,
                "type": "object",
                "description": "Variables set on this environment by its owners, keyed by name.",
                "additionalProperties": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "example": {
                  "APP_ENV": "production"
                }
              },
              "platformVariables": {
                "readOnly": true,
                "type": "object",
                "description": "Variables injected by fortrabbit, keyed by name. Read-only: they cannot be added, changed or removed. Encrypted values, such as the database password, are not exposed.",
                "additionalProperties": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "example": {
                  "MYSQL_DATABASE": "app"
                }
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "description": "A representation of common errors.",
        "properties": {
          "title": {
            "readOnly": true,
            "description": "A short, human-readable summary of the problem.",
            "type": [
              "string",
              "null"
            ]
          },
          "detail": {
            "readOnly": true,
            "description": "A human-readable explanation specific to this occurrence of the problem.",
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "integer",
              "null"
            ],
            "examples": [
              404
            ],
            "default": 400
          },
          "instance": {
            "readOnly": true,
            "description": "A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.",
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "readOnly": true,
            "description": "A URI reference that identifies the problem type",
            "type": "string"
          }
        }
      },
      "Error.jsonld": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraItemBaseSchema"
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "readOnly": true,
                "description": "A short, human-readable summary of the problem.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "detail": {
                "readOnly": true,
                "description": "A human-readable explanation specific to this occurrence of the problem.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "status": {
                "type": [
                  "integer",
                  "null"
                ],
                "examples": [
                  404
                ],
                "default": 400
              },
              "instance": {
                "readOnly": true,
                "description": "A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.",
                "type": [
                  "string",
                  "null"
                ]
              },
              "type": {
                "readOnly": true,
                "description": "A URI reference that identifies the problem type",
                "type": "string"
              },
              "description": {
                "readOnly": true,
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        ],
        "description": "A representation of common errors."
      },
      "HydraCollectionBaseSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/HydraCollectionBaseSchemaNoPagination"
          },
          {
            "type": "object",
            "properties": {
              "view": {
                "type": "object",
                "properties": {
                  "@id": {
                    "type": "string",
[...]
