{
  "openapi": "3.0.3",
  "info": {
    "title": "Joinzy MVP API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/deustech20/joinzy-mvp-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.joinzy.app/v1"
    }
  ],
  "paths": {
    "/auth/email/request-otp": {
      "post": {
        "security": [],
        "operationId": "requestEmailOtp",
        "summary": "Запросить OTP по email",
        "description": "Отправляет одноразовый пароль (OTP) на указанный email для аутентификации.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP отправлен успешно",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "OTP отправлен на указанный email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/auth/email/verify-otp": {
      "post": {
        "security": [],
        "operationId": "verifyEmailOtp",
        "summary": "Проверить OTP по email",
        "description": "Проверяет одноразовый пароль (OTP) и возвращает JWT токен при успешной аутентификации.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                },
                "required": [
                  "email",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная аутентификация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "authTokens": {
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/password/login": {
      "post": {
        "security": [],
        "operationId": "loginWithPassword",
        "summary": "Вход с паролем",
        "description": "Аутентификация пользователя с помощью email и пароля.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный вход",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "passwordLogin": {
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "security": [],
        "operationId": "refreshToken",
        "summary": "Обновить токен",
        "description": "Обновляет JWT access token используя refresh token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Получить текущего пользователя",
        "description": "Возвращает информацию о текущем аутентифицированном пользователе.",
        "responses": {
          "200": {
            "description": "Информация о пользователе",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logoutUser",
        "summary": "Выйти из системы",
        "description": "Завершает сессию пользователя и инвалидирует токены.",
        "responses": {
          "204": {
            "description": "Успешный выход"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Получить список событий",
        "description": "Возвращает список событий с фильтрами и пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/city"
          },
          {
            "$ref": "#/components/parameters/categoryId"
          },
          {
            "$ref": "#/components/parameters/startFrom"
          },
          {
            "$ref": "#/components/parameters/startTo"
          },
          {
            "$ref": "#/components/parameters/priceMin"
          },
          {
            "$ref": "#/components/parameters/priceMax"
          },
          {
            "$ref": "#/components/parameters/isFree"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список событий",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEvents"
                },
                "examples": {
                  "listEvents": {
                    "value": {
                      "items": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "title": "Концерт классической музыки",
                          "city": "Москва",
                          "startAt": "2024-07-01T19:00:00Z",
                          "price": 1500,
                          "isFree": false,
                          "language": "ru"
                        }
                      ],
                      "meta": {
                        "nextCursor": "eyJpZCI6IjNmYTg1ZjY0In0=",
                        "total": 123
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Создать событие",
        "description": "Создает новое событие (только для организаторов).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Событие создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEventById",
        "summary": "Получить событие по ID",
        "description": "Возвращает информацию о событии по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о событии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateEvent",
        "summary": "Обновить событие",
        "description": "Обновляет данные события (только для организаторов).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Событие обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/publish": {
      "post": {
        "operationId": "publishEvent",
        "summary": "Опубликовать событие",
        "description": "Публикует событие, делая его видимым для пользователей (только для организаторов).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Событие опубликовано"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/cancel": {
      "post": {
        "operationId": "cancelEvent",
        "summary": "Отменить событие",
        "description": "Отменяет событие (только для организаторов). При отмене события возврат 100%.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Событие отменено"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/attendees": {
      "get": {
        "operationId": "getEventAttendees",
        "summary": "Получить список участников события",
        "description": "Возвращает список участников события с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список участников",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/attendees/{ticketId}/check-in": {
      "post": {
        "operationId": "checkInAttendee",
        "summary": "Отметить участника на событии",
        "description": "Отмечает участника с указанным ticketId на событии (только для организаторов).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "204": {
            "description": "Участник отмечен"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Получить список заказов",
        "description": "Возвращает список заказов пользователя с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список заказов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrders"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Создать заказ",
        "description": "Создает заказ на билеты. Требуется заголовок Idempotency-Key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Заказ создан, инициализация оплаты",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "paymentUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "pending",
                    "totalAmount": 2500
                  },
                  "paymentUrl": "https://yookassa.ru/pay/123456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/orders/guest": {
      "post": {
        "security": [],
        "operationId": "createGuestOrder",
        "summary": "Создать заказ гостя",
        "description": "Создает заказ на билеты для гостя. Требуется заголовок Idempotency-Key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Заказ гостя создан, инициализация оплаты",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "paymentUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "pending",
                    "totalAmount": 2500
                  },
                  "paymentUrl": "https://yookassa.ru/pay/123456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "getOrderById",
        "summary": "Получить заказ по ID",
        "description": "Возвращает информацию о заказе по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о заказе",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "operationId": "getTickets",
        "summary": "Получить список билетов",
        "description": "Возвращает список билетов пользователя с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список билетов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTickets"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tickets/{ticketId}": {
      "get": {
        "operationId": "getTicketById",
        "summary": "Получить билет по ID",
        "description": "Возвращает информацию о билете по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о билете",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tickets/{ticketId}/refund-request": {
      "post": {
        "operationId": "requestTicketRefund",
        "summary": "Запросить возврат билета",
        "description": "Запрашивает возврат билета согласно правилам возврата.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "204": {
            "description": "Запрос на возврат принят"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks/yookassa": {
      "post": {
        "security": [],
        "operationId": "yookassaWebhook",
        "summary": "Вебхук YooKassa",
        "description": "Обрабатывает уведомления от YooKassa (публичный endpoint). Правила возврата: 100% если >=72ч, 50% если >=24ч, 0% если <24ч.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string"
                  },
                  "object": {
                    "type": "object"
                  }
                },
                "example": {
                  "event": "payment.succeeded",
                  "object": {
                    "id": "1234567890",
                    "status": "succeeded"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Вебхук обработан"
          }
        }
      }
    },
    "/clubs": {
      "get": {
        "operationId": "getClubs",
        "summary": "Получить список клубов",
        "description": "Возвращает список клубов с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список клубов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClubs"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createClub",
        "summary": "Создать клуб",
        "description": "Создает новый клуб (только для организаторов).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Club"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Клуб создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/clubs/{clubId}": {
      "get": {
        "operationId": "getClubById",
        "summary": "Получить клуб по ID",
        "description": "Возвращает информацию о клубе по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о клубе",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateClub",
        "summary": "Обновить клуб",
        "description": "Обновляет данные клуба (только для организаторов).",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Club"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Клуб обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteClub",
        "summary": "Удалить клуб",
        "description": "Удаляет клуб (только для организаторов).",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Клуб удален"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/clubs/{clubId}/follow": {
      "post": {
        "operationId": "followClub",
        "summary": "Подписаться на клуб",
        "description": "Подписка на клуб по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Подписка выполнена"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "unfollowClub",
        "summary": "Отписаться от клуба",
        "description": "Отписка от клуба по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Отписка выполнена"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/feed": {
      "get": {
        "operationId": "getFeed",
        "summary": "Получить ленту",
        "description": "Возвращает ленту постов с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Лента постов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts": {
      "post": {
        "operationId": "createPost",
        "summary": "Создать пост",
        "description": "Создает новый пост. Ограничение: 10 постов/мин (429 при превышении).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Пост создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "operationId": "getPostById",
        "summary": "Получить пост по ID",
        "description": "Возвращает пост по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "200": {
            "description": "Пост",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Обновить пост",
        "description": "Обновляет пост по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пост обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Удалить пост",
        "description": "Удаляет пост по UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Пост удален"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/like": {
      "post": {
        "operationId": "likePost",
        "summary": "Поставить лайк посту",
        "description": "Добавляет лайк к посту.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Лайк добавлен"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "unlikePost",
        "summary": "Убрать лайк с поста",
        "description": "Убирает лайк с поста.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Лайк удален"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/comments": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Получить комментарии поста",
        "description": "Возвращает список комментариев к посту с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список комментариев",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedComments"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createPostComment",
        "summary": "Создать комментарий к посту",
        "description": "Добавляет комментарий к посту.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Комментарий создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats": {
      "get": {
        "operationId": "getChats",
        "summary": "Получить список чатов",
        "description": "Возвращает список чатов пользователя.",
        "responses": {
          "200": {
            "description": "Список чатов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chat"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/chats/{chatId}": {
      "get": {
        "operationId": "getChatById",
        "summary": "Получить чат по ID",
        "description": "Возвращает информацию о чате по UUID. (event_chat доступен только при наличии билета)",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о чате",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats/{chatId}/messages": {
      "get": {
        "operationId": "getChatMessages",
        "summary": "Получить сообщения чата",
        "description": "Возвращает сообщения чата с пагинацией и фильтрацией по afterMessageId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          },
          {
            "$ref": "#/components/parameters/afterMessageId"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Сообщения чата",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMessages"
                },
                "examples": {
                  "chatPollingResponse": {
                    "value": {
                      "items": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "chatId": "1c6b147e-3f3a-4a1a-9f3a-2a3b4c5d6e7f",
                          "senderId": "2a7b158f-4e3b-4f2a-9b4a-3d5c6e7f8g9h",
                          "content": "Привет!",
                          "sentAt": "2024-06-01T12:00:00Z"
                        }
                      ],
                      "meta": {
                        "nextCursor": "eyJpZCI6IjM0NTY3OGZiZjY0In0="
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "sendChatMessage",
        "summary": "Отправить сообщение в чат",
        "description": "Отправляет сообщение в чат.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Сообщение отправлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats/{chatId}/read": {
      "post": {
        "operationId": "markChatAsRead",
        "summary": "Отметить чат как прочитанный",
        "description": "Отмечает чат как прочитанный.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "responses": {
          "204": {
            "description": "Чат отмечен как прочитанный"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Получить уведомления",
        "description": "Возвращает список уведомлений пользователя с пагинацией.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Список уведомлений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNotifications"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "post": {
        "operationId": "markNotificationAsRead",
        "summary": "Отметить уведомление как прочитанное",
        "description": "Отмечает уведомление как прочитанное.",
        "parameters": [
          {
            "$ref": "#/components/parameters/notificationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Уведомление отмечено как прочитанное"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/devices/push-token": {
      "post": {
        "operationId": "addPushToken",
        "summary": "Добавить push-токен устройства",
        "description": "Регистрирует push-токен устройства для уведомлений.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android"
                    ]
                  }
                },
                "required": [
                  "token",
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Токен добавлен"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deletePushToken",
        "summary": "Удалить push-токен устройства",
        "description": "Удаляет push-токен устройства по значению token.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Push-токен устройства",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Токен удален"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/media/upload": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Загрузить медиафайл",
        "description": "Загружает файл с указанием назначения (post, chat, event, club).",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "post",
                      "chat",
                      "event",
                      "club"
                    ]
                  }
                },
                "required": [
                  "file",
                  "purpose"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Файл загружен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Единый формат ошибки",
        "properties": {
          "error": {
            "type": "object",
            "description": "Описание ошибки",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки (строка/enum по договоренности)",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "Человеческое описание",
                "example": "Поле email обязательно"
              },
              "details": {
                "description": "Дополнительные детали (если есть)",
                "nullable": true,
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object"
                  },
                  {
                    "type": "array"
                  }
                ]
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "requestId": {
            "type": "string",
            "description": "Идентификатор запроса для трассировки",
            "example": "req_01HZY8Y9Q1K2M3N4P5"
          }
        },
        "required": [
          "error",
          "requestId"
        ]
      },
      "User": {
        "type": "object",
        "description": "Пользователь",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID пользователя"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email пользователя"
          },
          "name": {
            "type": "string",
            "description": "Имя пользователя",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "Ссылка на аватар",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "description": "О себе",
            "nullable": true
          }
        },
        "required": [
          "id",
          "email"
        ]
      },
      "Event": {
        "type": "object",
        "description": "Событие",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID события"
          },
          "title": {
            "type": "string",
            "description": "Название события"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Описание события"
          },
          "city": {
            "type": "string",
            "description": "Город"
          },
          "categoryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID категории"
          },
          "startAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата и время начала (ISO-8601)"
          },
          "endAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата и время окончания (ISO-8601)"
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Цена (если платно)"
          },
          "isFree": {
            "type": "boolean",
            "description": "Бесплатно ли"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Язык события"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Статус события",
            "enum": [
              "draft",
              "published",
              "cancelled"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "city",
          "startAt",
          "isFree"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "description": "Метаданные пагинации",
        "properties": {
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Курсор для следующей страницы",
            "example": "eyJpZCI6IjNmYTg1ZjY0In0="
          },
          "total": {
            "type": "integer",
            "nullable": true,
            "description": "Общее количество элементов (если доступно)",
            "example": 123
          }
        }
      },
      "PaginatedEvents": {
        "type": "object",
        "description": "Список событий с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "PaginatedUsers": {
        "type": "object",
        "description": "Список пользователей с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Order": {
        "type": "object",
        "description": "Заказ на билеты",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID заказа"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID пользователя (null для гостя)"
          },
          "status": {
            "type": "string",
            "description": "Статус заказа",
            "enum": [
              "pending",
              "paid",
              "cancelled",
              "refunded"
            ]
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "Итоговая сумма"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "status",
          "totalAmount"
        ]
      },
      "PaginatedOrders": {
        "type": "object",
        "description": "Список заказов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Ticket": {
        "type": "object",
        "description": "Билет",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID билета"
          },
          "orderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID заказа"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID события (если известно)"
          },
          "status": {
            "type": "string",
            "description": "Статус билета",
            "enum": [
              "active",
              "refunded",
              "cancelled"
            ]
          },
          "checkedIn": {
            "type": "boolean",
            "description": "Отмечен ли на входе"
          }
        },
        "required": [
          "id",
          "orderId",
          "status",
          "checkedIn"
        ]
      },
      "PaginatedTickets": {
        "type": "object",
        "description": "Список билетов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ticket"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Club": {
        "type": "object",
        "description": "Клуб/сообщество",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID клуба"
          },
          "name": {
            "type": "string",
            "description": "Название клуба"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Описание клуба"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Город"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Ссылка на аватар клуба"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "PaginatedClubs": {
        "type": "object",
        "description": "Список клубов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Club"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Post": {
        "type": "object",
        "description": "Пост в ленте",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID поста"
          },
          "authorId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID автора"
          },
          "content": {
            "type": "string",
            "description": "Текст поста"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата обновления (ISO-8601)"
          },
          "likesCount": {
            "type": "integer",
            "nullable": true,
            "description": "Количество лайков"
          }
        },
        "required": [
          "id",
          "content"
        ]
      },
      "PaginatedPosts": {
        "type": "object",
        "description": "Лента постов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Comment": {
        "type": "object",
        "description": "Комментарий к посту",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID комментария"
          },
          "postId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID поста"
          },
          "authorId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID автора"
          },
          "content": {
            "type": "string",
            "description": "Текст комментария"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "content"
        ]
      },
      "PaginatedComments": {
        "type": "object",
        "description": "Список комментариев с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Chat": {
        "type": "object",
        "description": "Чат",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID чата"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID события (если чат привязан к событию)"
          },
          "participantIds": {
            "type": "array",
            "nullable": true,
            "description": "Участники чата",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "Message": {
        "type": "object",
        "description": "Сообщение в чате",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID сообщения"
          },
          "chatId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID чата"
          },
          "senderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID отправителя"
          },
          "content": {
            "type": "string",
            "description": "Текст сообщения"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/время отправки (ISO-8601)"
          }
        },
        "required": [
          "id",
          "chatId",
          "senderId",
          "content",
          "sentAt"
        ]
      },
      "PaginatedMessages": {
        "type": "object",
        "description": "Список сообщений с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Notification": {
        "type": "object",
        "description": "Уведомление",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID уведомления"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Тип уведомления"
          },
          "message": {
            "type": "string",
            "description": "Текст уведомления"
          },
          "read": {
            "type": "boolean",
            "description": "Прочитано ли"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "message",
          "read",
          "createdAt"
        ]
      },
      "PaginatedNotifications": {
        "type": "object",
        "description": "Список уведомлений с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Неверный запрос",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Слишком много запросов",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Неавторизован",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Доступ запрещен",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Не найдено",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Конфликт данных",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "parameters": {
      "q": {
        "name": "q",
        "in": "query",
        "description": "Поисковый запрос",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "city": {
        "name": "city",
        "in": "query",
        "description": "Город",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "categoryId": {
        "name": "categoryId",
        "in": "query",
        "description": "UUID категории события",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "startFrom": {
        "name": "startFrom",
        "in": "query",
        "description": "Начало периода (ISO-8601)",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "startTo": {
        "name": "startTo",
        "in": "query",
        "description": "Конец периода (ISO-8601)",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "priceMin": {
        "name": "priceMin",
        "in": "query",
        "description": "Минимальная цена",
        "required": false,
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "priceMax": {
        "name": "priceMax",
        "in": "query",
        "description": "Максимальная цена",
        "required": false,
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "isFree": {
        "name": "isFree",
        "in": "query",
        "description": "Только бесплатные события",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "language": {
        "name": "language",
        "in": "query",
        "description": "Язык события",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "description": "Сортировка",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "date_asc",
            "date_desc",
            "price_asc",
            "price_desc"
          ]
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Количество элементов на странице",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 100
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Курсор для следующей страницы",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "description": "UUID события",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ticketId": {
        "name": "ticketId",
        "in": "path",
        "description": "UUID билета",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "idempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Уникальный ключ идемпотентности (для безопасного повтора POST /orders*)",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "orderId": {
        "name": "orderId",
        "in": "path",
        "description": "UUID заказа",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "clubId": {
        "name": "clubId",
        "in": "path",
        "description": "UUID клуба",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "postId": {
        "name": "postId",
        "in": "path",
        "description": "UUID поста",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "chatId": {
        "name": "chatId",
        "in": "path",
        "description": "UUID чата",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "afterMessageId": {
        "name": "afterMessageId",
        "in": "query",
        "description": "Вернуть сообщения после указанного UUID",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "notificationId": {
        "name": "id",
        "in": "path",
        "description": "UUID уведомления",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}