{
  "openapi": "3.0.3",
  "info": {
    "title": "Joinzy MVP API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/deustech20/joinzy-mvp-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.joinzy.app/v1"
    }
  ],
  "paths": {
    "/auth/email/request-otp": {
      "post": {
        "security": [],
        "operationId": "requestEmailOtp",
        "summary": "Request OTP by email",
        "description": "Sends a one-time password (OTP) to the specified email for authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "OTP sent to the specified email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/auth/email/verify-otp": {
      "post": {
        "security": [],
        "operationId": "verifyEmailOtp",
        "summary": "Verify OTP by email",
        "description": "Verifies the one-time password (OTP) and returns a JWT token on successful authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                },
                "required": [
                  "email",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "authTokens": {
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/password/login": {
      "post": {
        "security": [],
        "operationId": "loginWithPassword",
        "summary": "Log in with password",
        "description": "Authenticates a user with email and password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "passwordLogin": {
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "security": [],
        "operationId": "refreshToken",
        "summary": "Refresh token",
        "description": "Refreshes the JWT access token using a refresh token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Returns information about the currently authenticated user.",
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logoutUser",
        "summary": "Log out",
        "description": "Ends the user's session and invalidates their tokens.",
        "responses": {
          "204": {
            "description": "Logout successful"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Get list of events",
        "description": "Returns a list of events with filters and pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/city"
          },
          {
            "$ref": "#/components/parameters/categoryId"
          },
          {
            "$ref": "#/components/parameters/startFrom"
          },
          {
            "$ref": "#/components/parameters/startTo"
          },
          {
            "$ref": "#/components/parameters/priceMin"
          },
          {
            "$ref": "#/components/parameters/priceMax"
          },
          {
            "$ref": "#/components/parameters/isFree"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEvents"
                },
                "examples": {
                  "listEvents": {
                    "value": {
                      "items": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "title": "Classical music concert",
                          "city": "Moscow",
                          "startAt": "2024-07-01T19:00:00Z",
                          "price": 1500,
                          "isFree": false,
                          "language": "ru"
                        }
                      ],
                      "meta": {
                        "nextCursor": "eyJpZCI6IjNmYTg1ZjY0In0=",
                        "total": 123
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create event",
        "description": "Creates a new event (organizers only).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEventById",
        "summary": "Get event by ID",
        "description": "Returns event information by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateEvent",
        "summary": "Update event",
        "description": "Updates event data (organizers only).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/publish": {
      "post": {
        "operationId": "publishEvent",
        "summary": "Publish event",
        "description": "Publishes an event, making it visible to users (organizers only).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Event published"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/cancel": {
      "post": {
        "operationId": "cancelEvent",
        "summary": "Cancel event",
        "description": "Cancels an event (organizers only). Cancelling an event grants a 100% refund.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Event cancelled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/attendees": {
      "get": {
        "operationId": "getEventAttendees",
        "summary": "Get event attendees list",
        "description": "Returns the event's list of attendees with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendees",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/attendees/{ticketId}/check-in": {
      "post": {
        "operationId": "checkInAttendee",
        "summary": "Check in an attendee at the event",
        "description": "Checks in an attendee with the given ticketId at the event (organizers only).",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventId"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "204": {
            "description": "Attendee checked in"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Get list of orders",
        "description": "Returns the user's list of orders with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrders"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create order",
        "description": "Creates a ticket order. An Idempotency-Key header is required.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created, initializing payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "paymentUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "pending",
                    "totalAmount": 2500
                  },
                  "paymentUrl": "https://yookassa.ru/pay/123456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/orders/guest": {
      "post": {
        "security": [],
        "operationId": "createGuestOrder",
        "summary": "Create guest order",
        "description": "Creates a guest ticket order. An Idempotency-Key header is required.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Guest order created, initializing payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "paymentUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "pending",
                    "totalAmount": 2500
                  },
                  "paymentUrl": "https://yookassa.ru/pay/123456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "getOrderById",
        "summary": "Get order by ID",
        "description": "Returns order information by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Order information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "operationId": "getTickets",
        "summary": "Get list of tickets",
        "description": "Returns the user's list of tickets with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTickets"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tickets/{ticketId}": {
      "get": {
        "operationId": "getTicketById",
        "summary": "Get ticket by ID",
        "description": "Returns ticket information by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tickets/{ticketId}/refund-request": {
      "post": {
        "operationId": "requestTicketRefund",
        "summary": "Request ticket refund",
        "description": "Requests a ticket refund according to the refund rules.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticketId"
          }
        ],
        "responses": {
          "204": {
            "description": "Refund request accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks/yookassa": {
      "post": {
        "security": [],
        "operationId": "yookassaWebhook",
        "summary": "YooKassa webhook",
        "description": "Processes notifications from YooKassa (public endpoint). Refund rules: 100% if >=72h, 50% if >=24h, 0% if <24h.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string"
                  },
                  "object": {
                    "type": "object"
                  }
                },
                "example": {
                  "event": "payment.succeeded",
                  "object": {
                    "id": "1234567890",
                    "status": "succeeded"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    },
    "/clubs": {
      "get": {
        "operationId": "getClubs",
        "summary": "Get list of clubs",
        "description": "Returns a list of clubs with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of clubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClubs"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createClub",
        "summary": "Create club",
        "description": "Creates a new club (organizers only).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Club"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Club created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/clubs/{clubId}": {
      "get": {
        "operationId": "getClubById",
        "summary": "Get club by ID",
        "description": "Returns club information by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "200": {
            "description": "Club information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateClub",
        "summary": "Update club",
        "description": "Updates club data (organizers only).",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Club"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Club updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Club"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteClub",
        "summary": "Delete club",
        "description": "Deletes a club (organizers only).",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Club deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/clubs/{clubId}/follow": {
      "post": {
        "operationId": "followClub",
        "summary": "Subscribe to club",
        "description": "Subscribe to a club by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscribed successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "unfollowClub",
        "summary": "Unsubscribe from club",
        "description": "Unsubscribe from a club by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/clubId"
          }
        ],
        "responses": {
          "204": {
            "description": "Unsubscribed successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/feed": {
      "get": {
        "operationId": "getFeed",
        "summary": "Get feed",
        "description": "Returns the post feed with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Post feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts": {
      "post": {
        "operationId": "createPost",
        "summary": "Create post",
        "description": "Creates a new post. Rate limit: 10 posts/min (429 if exceeded).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "operationId": "getPostById",
        "summary": "Get post by ID",
        "description": "Returns a post by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "200": {
            "description": "Post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Update post",
        "description": "Updates a post by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete post",
        "description": "Deletes a post by UUID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Post deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/like": {
      "post": {
        "operationId": "likePost",
        "summary": "Like a post",
        "description": "Adds a like to a post.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Like added"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "unlikePost",
        "summary": "Remove like from post",
        "description": "Removes a like from a post.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "responses": {
          "204": {
            "description": "Like removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{postId}/comments": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Get post comments",
        "description": "Returns a list of comments on a post with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedComments"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createPostComment",
        "summary": "Create a comment on a post",
        "description": "Adds a comment to a post.",
        "parameters": [
          {
            "$ref": "#/components/parameters/postId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats": {
      "get": {
        "operationId": "getChats",
        "summary": "Get list of chats",
        "description": "Returns the user's list of chats.",
        "responses": {
          "200": {
            "description": "List of chats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chat"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/chats/{chatId}": {
      "get": {
        "operationId": "getChatById",
        "summary": "Get chat by ID",
        "description": "Returns chat information by UUID. (event_chat is only accessible if a ticket is held)",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats/{chatId}/messages": {
      "get": {
        "operationId": "getChatMessages",
        "summary": "Get chat messages",
        "description": "Returns chat messages with pagination and filtering by afterMessageId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          },
          {
            "$ref": "#/components/parameters/afterMessageId"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMessages"
                },
                "examples": {
                  "chatPollingResponse": {
                    "value": {
                      "items": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "chatId": "1c6b147e-3f3a-4a1a-9f3a-2a3b4c5d6e7f",
                          "senderId": "2a7b158f-4e3b-4f2a-9b4a-3d5c6e7f8g9h",
                          "content": "Hello!",
                          "sentAt": "2024-06-01T12:00:00Z"
                        }
                      ],
                      "meta": {
                        "nextCursor": "eyJpZCI6IjM0NTY3OGZiZjY0In0="
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "sendChatMessage",
        "summary": "Send a message to the chat",
        "description": "Sends a message to the chat.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/chats/{chatId}/read": {
      "post": {
        "operationId": "markChatAsRead",
        "summary": "Mark chat as read",
        "description": "Marks the chat as read.",
        "parameters": [
          {
            "$ref": "#/components/parameters/chatId"
          }
        ],
        "responses": {
          "204": {
            "description": "Chat marked as read"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Get notifications",
        "description": "Returns the user's list of notifications with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNotifications"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "post": {
        "operationId": "markNotificationAsRead",
        "summary": "Mark notification as read",
        "description": "Marks a notification as read.",
        "parameters": [
          {
            "$ref": "#/components/parameters/notificationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Notification marked as read"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/devices/push-token": {
      "post": {
        "operationId": "addPushToken",
        "summary": "Add device push token",
        "description": "Registers a device push token for notifications.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ios",
                      "android"
                    ]
                  }
                },
                "required": [
                  "token",
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Token added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deletePushToken",
        "summary": "Delete device push token",
        "description": "Deletes a device push token by its token value.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device push token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/media/upload": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media file",
        "description": "Uploads a file with a specified destination (post, chat, event, club).",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "post",
                      "chat",
                      "event",
                      "club"
                    ]
                  }
                },
                "required": [
                  "file",
                  "purpose"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Единый формат ошибки",
        "properties": {
          "error": {
            "type": "object",
            "description": "Описание ошибки",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки (строка/enum по договоренности)",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "Человеческое описание",
                "example": "Поле email обязательно"
              },
              "details": {
                "description": "Дополнительные детали (если есть)",
                "nullable": true,
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object"
                  },
                  {
                    "type": "array"
                  }
                ]
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "requestId": {
            "type": "string",
            "description": "Идентификатор запроса для трассировки",
            "example": "req_01HZY8Y9Q1K2M3N4P5"
          }
        },
        "required": [
          "error",
          "requestId"
        ]
      },
      "User": {
        "type": "object",
        "description": "Пользователь",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID пользователя"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email пользователя"
          },
          "name": {
            "type": "string",
            "description": "Имя пользователя",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "Ссылка на аватар",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "description": "О себе",
            "nullable": true
          }
        },
        "required": [
          "id",
          "email"
        ]
      },
      "Event": {
        "type": "object",
        "description": "Событие",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID события"
          },
          "title": {
            "type": "string",
            "description": "Название события"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Описание события"
          },
          "city": {
            "type": "string",
            "description": "Город"
          },
          "categoryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID категории"
          },
          "startAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата и время начала (ISO-8601)"
          },
          "endAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата и время окончания (ISO-8601)"
          },
          "price": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Цена (если платно)"
          },
          "isFree": {
            "type": "boolean",
            "description": "Бесплатно ли"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Язык события"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "Статус события",
            "enum": [
              "draft",
              "published",
              "cancelled"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "city",
          "startAt",
          "isFree"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "description": "Метаданные пагинации",
        "properties": {
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Курсор для следующей страницы",
            "example": "eyJpZCI6IjNmYTg1ZjY0In0="
          },
          "total": {
            "type": "integer",
            "nullable": true,
            "description": "Общее количество элементов (если доступно)",
            "example": 123
          }
        }
      },
      "PaginatedEvents": {
        "type": "object",
        "description": "Список событий с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "PaginatedUsers": {
        "type": "object",
        "description": "Список пользователей с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Order": {
        "type": "object",
        "description": "Заказ на билеты",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID заказа"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID пользователя (null для гостя)"
          },
          "status": {
            "type": "string",
            "description": "Статус заказа",
            "enum": [
              "pending",
              "paid",
              "cancelled",
              "refunded"
            ]
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "description": "Итоговая сумма"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "status",
          "totalAmount"
        ]
      },
      "PaginatedOrders": {
        "type": "object",
        "description": "Список заказов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Ticket": {
        "type": "object",
        "description": "Билет",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID билета"
          },
          "orderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID заказа"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID события (если известно)"
          },
          "status": {
            "type": "string",
            "description": "Статус билета",
            "enum": [
              "active",
              "refunded",
              "cancelled"
            ]
          },
          "checkedIn": {
            "type": "boolean",
            "description": "Отмечен ли на входе"
          }
        },
        "required": [
          "id",
          "orderId",
          "status",
          "checkedIn"
        ]
      },
      "PaginatedTickets": {
        "type": "object",
        "description": "Список билетов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ticket"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Club": {
        "type": "object",
        "description": "Клуб/сообщество",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID клуба"
          },
          "name": {
            "type": "string",
            "description": "Название клуба"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Описание клуба"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Город"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Ссылка на аватар клуба"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "PaginatedClubs": {
        "type": "object",
        "description": "Список клубов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Club"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Post": {
        "type": "object",
        "description": "Пост в ленте",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID поста"
          },
          "authorId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID автора"
          },
          "content": {
            "type": "string",
            "description": "Текст поста"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата обновления (ISO-8601)"
          },
          "likesCount": {
            "type": "integer",
            "nullable": true,
            "description": "Количество лайков"
          }
        },
        "required": [
          "id",
          "content"
        ]
      },
      "PaginatedPosts": {
        "type": "object",
        "description": "Лента постов с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Comment": {
        "type": "object",
        "description": "Комментарий к посту",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID комментария"
          },
          "postId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID поста"
          },
          "authorId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID автора"
          },
          "content": {
            "type": "string",
            "description": "Текст комментария"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "content"
        ]
      },
      "PaginatedComments": {
        "type": "object",
        "description": "Список комментариев с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Chat": {
        "type": "object",
        "description": "Чат",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID чата"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID события (если чат привязан к событию)"
          },
          "participantIds": {
            "type": "array",
            "nullable": true,
            "description": "Участники чата",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "Message": {
        "type": "object",
        "description": "Сообщение в чате",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID сообщения"
          },
          "chatId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID чата"
          },
          "senderId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID отправителя"
          },
          "content": {
            "type": "string",
            "description": "Текст сообщения"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/время отправки (ISO-8601)"
          }
        },
        "required": [
          "id",
          "chatId",
          "senderId",
          "content",
          "sentAt"
        ]
      },
      "PaginatedMessages": {
        "type": "object",
        "description": "Список сообщений с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      },
      "Notification": {
        "type": "object",
        "description": "Уведомление",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID уведомления"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Тип уведомления"
          },
          "message": {
            "type": "string",
            "description": "Текст уведомления"
          },
          "read": {
            "type": "boolean",
            "description": "Прочитано ли"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата создания (ISO-8601)"
          }
        },
        "required": [
          "id",
          "message",
          "read",
          "createdAt"
        ]
      },
      "PaginatedNotifications": {
        "type": "object",
        "description": "Список уведомлений с пагинацией",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "items",
          "meta"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Неверный запрос",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Слишком много запросов",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Неавторизован",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Доступ запрещен",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Не найдено",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Конфликт данных",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "parameters": {
      "q": {
        "name": "q",
        "in": "query",
        "description": "Поисковый запрос",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "city": {
        "name": "city",
        "in": "query",
        "description": "Город",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "categoryId": {
        "name": "categoryId",
        "in": "query",
        "description": "UUID категории события",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "startFrom": {
        "name": "startFrom",
        "in": "query",
        "description": "Начало периода (ISO-8601)",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "startTo": {
        "name": "startTo",
        "in": "query",
        "description": "Конец периода (ISO-8601)",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "priceMin": {
        "name": "priceMin",
        "in": "query",
        "description": "Минимальная цена",
        "required": false,
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "priceMax": {
        "name": "priceMax",
        "in": "query",
        "description": "Максимальная цена",
        "required": false,
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "isFree": {
        "name": "isFree",
        "in": "query",
        "description": "Только бесплатные события",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "language": {
        "name": "language",
        "in": "query",
        "description": "Язык события",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "description": "Сортировка",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "date_asc",
            "date_desc",
            "price_asc",
            "price_desc"
          ]
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Количество элементов на странице",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 100
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Курсор для следующей страницы",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "eventId": {
        "name": "eventId",
        "in": "path",
        "description": "UUID события",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ticketId": {
        "name": "ticketId",
        "in": "path",
        "description": "UUID билета",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "idempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Уникальный ключ идемпотентности (для безопасного повтора POST /orders*)",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "orderId": {
        "name": "orderId",
        "in": "path",
        "description": "UUID заказа",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "clubId": {
        "name": "clubId",
        "in": "path",
        "description": "UUID клуба",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "postId": {
        "name": "postId",
        "in": "path",
        "description": "UUID поста",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "chatId": {
        "name": "chatId",
        "in": "path",
        "description": "UUID чата",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "afterMessageId": {
        "name": "afterMessageId",
        "in": "query",
        "description": "Вернуть сообщения после указанного UUID",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "notificationId": {
        "name": "id",
        "in": "path",
        "description": "UUID уведомления",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}