{
  "openapi": "3.1.0",
  "info": {
    "title": "MonsiTools Calculation API",
    "version": "1.0.0",
    "termsOfService": "https://monsitools.com/terms",
    "description": "Send a calculator's inputs, get its result back as JSON. Premium accounts, 60 requests per minute. Authenticate with an API key from Dashboard > API access (Authorization: Bearer mt_live_...). Tools and their input ids: /api-tools.json. Every call made with your account is counted in its usage, shown on the dashboard.",
    "x-jentic-source-url": "https://monsitools.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://monsitools.com"
    }
  ],
  "paths": {
    "/api/calculate": {
      "post": {
        "operationId": "calculate",
        "summary": "Run a calculator",
        "description": "Evaluates one math-mode calculator. Every input the tool declares is required; a missing one is an error rather than a silent zero.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculateRequest"
              },
              "example": {
                "slug": "vat-calculator",
                "inputs": {
                  "net_price": 100,
                  "vat_rate": 20
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculateResult"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, no slug, or missing inputs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "missing_inputs",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "401": {
            "description": "No, invalid or revoked credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "auth_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "403": {
            "description": "The account is not Premium.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "premium_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "404": {
            "description": "No such tool, or not available through the API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "tool_not_available",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "422": {
            "description": "The inputs could not be calculated (for example, not numbers).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "calculation_error",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "429": {
            "description": "More than 60 requests in a minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "rate_limited",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "500": {
            "description": "Server problem; retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "server_error",
                  "message": "Human-readable explanation."
                }
              }
            }
          }
        }
      }
    },
    "/api/keys": {
      "get": {
        "operationId": "getApiKey",
        "summary": "Key status and this month's usage",
        "description": "Requires a signed-in session token (the dashboard uses this).",
        "responses": {
          "200": {
            "description": "Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyStatus"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "auth_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "403": {
            "description": "The account is not Premium.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "premium_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create or replace the account's API key",
        "description": "The key is shown once. Creating a new one revokes the old one.",
        "responses": {
          "200": {
            "description": "The new key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "auth_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          },
          "403": {
            "description": "The account is not Premium.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "premium_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke the account's API key",
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "revoked": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": "auth_required",
                  "message": "Human-readable explanation."
                }
              }
            }
          }
        }
      }
    },
    "/api-tools.json": {
      "get": {
        "operationId": "listTools",
        "summary": "Every tool the API accepts, with its input ids",
        "security": [],
        "responses": {
          "200": {
            "description": "Map of slug to tool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Tool"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key (mt_live_...) for /api/calculate; a signed-in session token for /api/keys."
      }
    },
    "schemas": {
      "CalculateRequest": {
        "type": "object",
        "required": [
          "slug",
          "inputs"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "enum": [
              "ab-test-sample-size-calculator",
              "absenteeism-rate-calculator",
              "accrued-interest-payable-calculator",
              "ad-budget-channel-allocation-calculator",
              "ad-creative-ctr-decay-calculator",
              "ad-frequency-fatigue-threshold-calculator",
              "ad-spend-efficiency-roas-calculator",
              "ada-accommodation-cost-estimator",
              "affiliate-network-payout-timing-calculator",
              "affiliate-payout-reconciliation-calculator",
              "affiliate-program-payout-ratio-calculator",
              "affiliate-subid-revenue-splitter",
              "agentic-swarm-token-distribution",
              "ai-agent-cost-per-run-calculator",
              "ai-agent-cost-per-task-calculator",
              "ai-agent-memory-overhead-calculator",
              "ai-agent-rag-churn-cost",
              "ai-agent-retry-cost-amortizer",
              "ai-agent-tool-call-latency-budget-calculator",
              "ai-api-pricing-calculator",
              "ai-chatbot-session-length-amortizer",
              "ai-coding-assistant-context-packer",
              "ai-context-window-calculator",
              "ai-copilot-seat-utilization-calculator",
              "ai-hallucination-review-labor-cost-calculator",
              "ai-human-review-turnaround-calculator",
              "ai-model-switching-cost-calculator",
              "ai-model-switching-savings-calculator",
              "ai-output-review-sampling-rate-calculator",
              "ai-support-deflection-rate-calculator",
              "ai-support-ticket-deflection-savings-calculator",
              "ai-token-budget-runway-calculator",
              "ai-token-cost-calculator",
              "altman-z-score-bankruptcy-risk-calculator",
              "amazon-fba-fee-calculator",
              "amazon-fba-pallet-storage-analyzer",
              "amazon-storage-overage-calc",
              "anchor-text-diversity-ratio-calculator",
              "annual-contract-value-to-tcv-converter",
              "anthropic-claude-cost-estimator",
              "ap-turnover-calculator",
              "api-gateway-rate-limit-cost-calculator",
              "api-key-rotation-risk",
              "api-pagination-request-count-calculator",
              "api-rate-limit-headroom-calculator",
              "api-token-expiry-refresh-buffer-calculator",
              "aquarium-water-change-calculator",
              "ar-turnover-calculator",
              "arpu-calculator",
              "arr-calculator",
              "aspect-ratio-calculator",
              "asset-turnover-ratio-calculator",
              "attribution-model-comparator",
              "automated-scraping-rate-limit",
              "average-order-value-calculator",
              "b-roll-to-a-roll-ratio-calculator",
              "baby-formula-mixing-calculator",
              "backlink-domain-authority-weighted-score-calculator",
              "backorder-cost-impact-calculator",
              "backup-retention-cost-calculator",
              "bad-debt-reserve-calculator",
              "bad-debt-write-off-rate-calculator",
              "bakescale",
              "batch-job-parallelization-savings-calculator",
              "batch-queue-backlog-clear-time-calculator",
              "batch-vs-streaming-latency-gap-calculator",
              "beneficial-ownership-filing-deadline-calculator",
              "benefits-cost-per-employee-calculator",
              "billable-utilization-rate-calculator",
              "bmi-calculator",
              "bond-yield-to-maturity-calculator",
              "bonus-accrual-liability-calculator",
              "book-reading-pace-calculator",
              "brand-ambassador-program-cost-calculator",
              "brand-awareness-lift-calculator",
              "brand-licensing-royalty-calculator",
              "brand-lift-survey-sample-size-calculator",
              "break-even-calculator",
              "break-even-headcount-calculator",
              "break-even-roas-calculator",
              "break-even-units-calculator",
              "budget-category-allocation-calculator",
              "budget-reforecast-variance-calculator",
              "budget-variance-calculator",
              "bulk-buy-unit-savings-calculator",
              "bulk-email-send-window-calculator",
              "bundle-profitability-calculator",
              "burn-multiple-calculator",
              "burn-rate-calculator",
              "business-continuity-test-cadence-calculator",
              "business-entity-annual-report-deadline-calculator",
              "business-insurance-coverage-gap-calculator",
              "business-interruption-insurance-value-calculator",
              "business-license-renewal-lead-time-calculator",
              "business-travel-cost-per-trip-calculator",
              "buy-box-win-rate-impact-calculator",
              "cac-multi-channel-blender",
              "cac-payback-period-calculator",
              "cagr-calculator",
              "calorie-calculator",
              "campaign-break-even-lifespan",
              "camping-water-supply-calculator",
              "canonical-tag-conflict-rate-calculator",
              "cap-table-ownership-calculator",
              "capex-roi-calculator",
              "capital-lease-vs-operating-lease-classifier",
              "capitalization-rate-calculator",
              "car-depreciation-calculator",
              "car-loan-payoff-calculator",
              "car-wash-membership-savings-calculator",
              "cart-abandonment-rate-calculator",
              "cart-abandonment-recovery-value-calculator",
              "cart-line-item-property-validator",
              "cash-conversion-cycle-calculator",
              "cash-flow-forecast-calculator",
              "cbm-freight-share-allocator",
              "cdn-cache-hit-cost-savings-calculator",
              "cdn-egress-cost-calculator",
              "certificate-of-insurance-coi-expiry-tracker",
              "change-management-adoption-rate-calculator",
              "chargeback-rate-calculator",
              "churn-rate-calculator",
              "claude-cost-estimator",
              "cleanquote",
              "click-through-rate-by-serp-position-calculator",
              "click-to-open-rate-calculator",
              "co-op-marketing-fund-utilization-calculator",
              "cobra-continuation-cost-calculator",
              "coffee-brew-ratio-calculator",
              "cohort-retention-calculator",
              "commercial-lease-buildout-cost-amortizer",
              "commishcalc",
              "committed-monthly-recurring-revenue-cmrr-calculator",
              "commute-cost-calculator",
              "compound-interest-calculator",
              "compressed-file-size-estimator",
              "container-image-layer-size-optimizer",
              "content-batch-production-time-calculator",
              "content-calendar-posting-frequency-calculator",
              "content-creator-workload-intensity-calculator",
              "content-decay-recovery-priority-calculator",
              "content-distribution-reach-efficiency-calculator",
              "content-freshness-decay-calculator",
              "content-marketing-cost-per-word-calculator",
              "content-refresh-roi-calculator",
              "content-repost-engagement-decay-calculator",
              "content-repurposing-cost-per-piece-calculator",
              "content-repurposing-roi-calculator",
              "content-syndication-reach-multiplier-calculator",
              "content-to-code-ratio-calculator",
              "content-whitelisting-revenue-share-calculator",
              "context-window-utilization-rate-calculator",
              "contract-auto-renewal-revenue-exposure-calculator",
              "contract-indemnification-cap-exposure-calculator",
              "contract-renewal-notice-window-calculator",
              "contractor-agreement-renewal-tracker",
              "contractor-misclassification-cost-risk-calculator",
              "contractor-to-employee-cost-comparator",
              "contractorcalc",
              "contribution-margin-calculator",
              "contribution-margin-ratio-calculator",
              "conversion-rate-calculator",
              "cookie-consent-script-load-impact-calculator",
              "core-web-vitals-lcp-budget-calculator",
              "cost-of-delay-calculator",
              "cost-of-goods-sold-calculator",
              "cost-per-hire-calculator",
              "cost-per-landing-page-visit-calculator",
              "cost-per-wear-calculator",
              "crawl-budget-waste-estimator",
              "crawl-frequency-estimator",
              "creator-brand-deal-cpm-equivalent-calculator",
              "creator-collab-revenue-split-calculator",
              "creator-merchandise-break-even-calculator",
              "creator-merchandise-margin-calculator",
              "creator-tax-set-aside-calculator",
              "crm-import-field-mapping-time-calculator",
              "cron-expression-overlap-risk-calculator",
              "cron-job-duty-cycle-risk-calculator",
              "cron-missed-run-catchup-calculator",
              "cross-functional-team-ratio-calculator",
              "cross-platform-fee-calculator",
              "cross-posting-time-savings-calculator",
              "cross-team-dependency-delay-calculator",
              "css-grid-auto-flow-density",
              "csv-export-row-capacity-calculator",
              "current-ratio-calculator",
              "custom-shipping-box-optimizer",
              "customer-acquisition-cost-cac-calculator",
              "customer-health-score-weighting-calculator",
              "customer-lifetime-value-ltv-calculator",
              "customer-lifetime-value-to-cac-ratio-calculator",
              "customer-retention-rate-calculator",
              "daily-water-intake-goal-calculator",
              "dark-social-share-estimator",
              "data-annotation-throughput-calculator",
              "data-anonymization-overhead-calculator",
              "data-breach-notification-deadline-calculator",
              "data-cleaning-labor-cost-calculator",
              "data-deduplication-storage-savings-calculator",
              "data-labeling-project-cost-calculator",
              "data-lineage-trace-depth-calculator",
              "data-migration-downtime-estimator",
              "data-pipeline-cost-per-record-calculator",
              "data-pipeline-retry-cost-calculator",
              "data-quality-completeness-score-calculator",
              "data-replication-lag-budget-calculator",
              "data-retention-storage-projection-calculator",
              "data-sampling-fraction-calculator",
              "data-warehouse-query-cost-calculator",
              "data-warehouse-storage-cost-calculator",
              "database-backup-window-calculator",
              "database-connection-pool-size-calculator",
              "database-connection-pool-sizing-calculator",
              "database-index-bloat-estimator",
              "dataset-cleaning-token-reduction",
              "days-inventory-outstanding-calculator",
              "dead-stock-calculator",
              "debt-service-coverage-ratio-calculator",
              "debt-to-asset-ratio-calculator",
              "debt-to-equity-ratio-calculator",
              "declining-balance-depreciation-calculator",
              "deferred-revenue-recognition-schedule-calculator",
              "delivery-tip-calculator",
              "depreciation-recapture-tax-calculator",
              "diaper-stock-runway-calculator",
              "digital-asset-replacement-lifecycle",
              "digital-product-bandwidth-margin",
              "digital-product-launch-revenue-projector",
              "dimensional-weight-calculator",
              "direct-mail-response-rate-calculator",
              "discord-community-engagement-rate-calculator",
              "discount-break-even-calculator",
              "discount-stacking-calculator",
              "disk-inode-exhaustion-estimator",
              "disk-io-queue-wait-time-calculator",
              "display-ad-viewability-rate-calculator",
              "dividend-payout-ratio-calculator",
              "dividend-yield-calculator",
              "dns-cache-ttl-hit-ratio-calculator",
              "dns-propagation-delay-calculator",
              "docker-layer-cache-build-time-savings-calculator",
              "document-retention-schedule-calculator",
              "domain-rating-growth-rate-calculator",
              "down-payment-savings-timeline-calculator",
              "dpo-calculator",
              "dropshipping-return-buffer",
              "dso-calculator",
              "duplicate-content-similarity-checker",
              "duplicate-record-rate-calculator",
              "early-payment-discount-capture-calculator",
              "earnings-per-share-eps-calculator",
              "ebay-seller-fee-calculator",
              "ebitda-calculator",
              "ebitda-interest-coverage-calculator",
              "ebitda-margin-calculator",
              "ebitda-multiple-valuation-calculator",
              "ecommerce-customer-acquisition-cost-calculator",
              "economic-nexus-remaining-runway-calculator",
              "economic-order-quantity-calculator",
              "editing-software-cost-per-video-calculator",
              "editing-turnaround-sla-calculator",
              "eeo1-reporting-threshold-calculator",
              "effective-annual-rate-calculator",
              "effective-tax-rate-calculator",
              "electricity-cost-calculator",
              "email-click-to-open-rate-calculator",
              "email-deliverability-rate-calculator",
              "email-list-churn-replacement-calculator",
              "email-list-monthly-decay-rate-calculator",
              "email-open-rate-calculator",
              "embedding-similarity-threshold-tuner",
              "embedding-vector-reindexing-budget",
              "emergency-fund-runway-calculator",
              "employee-certification-renewal-tracker",
              "employee-engagement-score-aggregator",
              "employee-exit-cost-calculator",
              "employee-handbook-acknowledgment-rate-calculator",
              "employee-loaded-cost-calculator",
              "employee-net-promoter-score-enps-calculator",
              "employee-onboarding-cost-calculator",
              "employee-referral-bonus-roi-calculator",
              "employee-shadow-it-tool-spend-calculator",
              "employee-stock-option-vesting-schedule-calculator",
              "employee-turnover-cost-calculator",
              "employee-turnover-rate-calculator",
              "employee-utilization-rate-calculator",
              "employment-practices-liability-exposure-estimator",
              "enps-to-retention-correlation-estimator",
              "equipment-lease-vs-buy-calculator",
              "equipment-warranty-expiration-tracker",
              "equity-dilution-calculator",
              "estimated-landed-cost-variance",
              "estimated-payroll-tax-deposit-calculator",
              "eta-lead-time-predictor",
              "etl-batch-runtime-estimator",
              "etsy-seller-fee-calculator",
              "ev-charging-cost-per-mile-calculator",
              "extra-mortgage-payment-savings-calculator",
              "facebook-ads-frequency-cap-calculator",
              "faire-wholesale-profit-calculator",
              "fba-prep-center-amortizer",
              "featured-snippet-win-probability-calculator",
              "featured-snippet-word-count-optimizer",
              "financial-leverage-dfl-calculator",
              "fine-tuning-dataset-token-cost-calculator",
              "fine-tuning-dataset-token-weight",
              "fine-tuning-roi-break-even-calculator",
              "firewood-cord-calculator",
              "fixed-asset-disposal-gain-loss-calculator",
              "flat-file-import-time-estimator",
              "flsa-overtime-exemption-threshold-calculator",
              "fluidtype",
              "foreign-qualification-cost-calculator",
              "free-cash-flow-calculator",
              "free-cash-flow-yield-calculator",
              "freelance-day-rate-calculator",
              "freelance-hourly-rate-calculator",
              "freight-class-density-calculator",
              "fuel-range-per-tank-calculator",
              "gdpr-data-subject-request-deadline-calculator",
              "gemini-cost-estimator",
              "gift-exchange-budget-splitter",
              "gift-wrap-service-margin-calculator",
              "google-ads-impression-share-calculator",
              "google-ads-quality-score-cpc-impact-calculator",
              "gpu-inference-batch-throughput-calculator",
              "grant-budget-utilization-rate-calculator",
              "grocery-bill-split-calculator",
              "grocery-budget-per-meal-calculator",
              "grocery-cost-per-person-calculator",
              "grocery-delivery-cost-per-item-calculator",
              "grocery-unit-price-comparison-calculator",
              "gross-margin-calculator",
              "gross-margin-dollar-calculator",
              "gross-profit-dollar-calculator",
              "gross-revenue-retention-grr-calculator",
              "h1-h2-heading-hierarchy-validator",
              "hardware-asset-depot-logistics",
              "hardware-thermal-tdp-power-balance",
              "headcount-plan-vs-actual-tracker",
              "heloc-payment-calculator",
              "home-affordability-calculator",
              "home-battery-backup-runtime-calculator",
              "home-down-payment-savings-calculator",
              "home-downsizing-space-calculator",
              "home-insurance-coverage-adequacy-calculator",
              "home-solar-panel-payback-period-calculator",
              "host-read-podcast-ad-premium-calculator",
              "hourly-to-salary-converter",
              "hreflang-tag-count-calculator",
              "image-alt-text-coverage-rate-calculator",
              "image-payload-budget-calculator",
              "incident-response-cost-estimator",
              "individual-contributor-to-manager-ratio-calculator",
              "inflation-adjustment-calculator",
              "influencer-cost-per-engagement-calculator",
              "insurance-claim-reserve-adequacy-calculator",
              "insurance-deductible-optimization-calculator",
              "insurance-premium-financing-cost-calculator",
              "interest-coverage-ratio-calculator",
              "internal-link-orphan-page-rate-calculator",
              "internal-mobility-rate-calculator",
              "internal-promotion-rate-calculator",
              "inventory-days-of-supply-calculator",
              "inventory-liquidation-calculator",
              "inventory-turnover-calculator",
              "inventory-turnover-days-sales",
              "inventory-turnover-ratio-calculator",
              "invoice-factoring-discount-cost-calculator",
              "invoice-late-fee-calculator",
              "javascript-rendering-budget-calculator",
              "job-offer-comparison-calculator",
              "json-payload-size-estimator",
              "key-person-insurance-coverage-calculator",
              "keyword-cannibalization-overlap-calculator",
              "kick-streamer-revenue-projector",
              "kitting-bundling-labor-cost-calculator",
              "kubernetes-pod-resource-request-calculator",
              "landed-cost-per-unit-calculator",
              "landing-page-conversion-velocity",
              "latefeecalculator",
              "laundry-detergent-dose-calculator",
              "lawn-fertilizer-dose-calculator",
              "lawn-mowing-time-estimator",
              "lead-to-customer-conversion-rate-calculator",
              "lease-escalation-clause-calculator",
              "leftover-food-storage-countdown-calculator",
              "line-of-credit-interest-calculator",
              "linear-attribution-credit-calculator",
              "linkedin-newsletter-engagement-rate-calculator",
              "liquid-template-loop-costing",
              "livestream-ad-break-revenue-calculator",
              "livestream-bitrate-requirement-calculator",
              "livestream-donation-goal-pace-calculator",
              "livestream-hourly-earnings-calculator",
              "livestream-raid-viewer-retention-calculator",
              "llm-api-latency-sla-buffer-calculator",
              "llm-cache-hit-amortizer",
              "llm-context-budget-calculator",
              "llm-context-window-packing",
              "llm-fallback-chain-latency-calculator",
              "llm-token-cost-calculator",
              "load-balancer-node-distribution-calculator",
              "load-test-concurrent-user-capacity-calculator",
              "loan-amortization-total-interest-calculator",
              "loan-covenant-headroom-calculator",
              "loan-payment-calculator",
              "loan-to-value-ratio-calculator",
              "localstorage-quota-capacity",
              "log-ingestion-cost-calculator",
              "log-retention-storage-cost-calculator",
              "log-rotation-retention-days-calculator",
              "logo-renewal-rate-calculator",
              "lookalike-audience-match-rate-calculator",
              "loyalty-program-point-liability-calculator",
              "loyalty-program-redemption-rate-calculator",
              "ltv-decay-predictor",
              "management-layers-org-depth-calculator",
              "margin-of-safety-calculator",
              "marketing-budget-pacing-calculator",
              "marketing-funnel-dropoff-rate-calculator",
              "marketing-mix-model-weight-allocator",
              "marketing-qualified-lead-cost-calculator",
              "marketing-roi-calculator",
              "marketplace-advertising-acos-calculator",
              "marketplace-price-equalizer",
              "markup-margin-converter",
              "mcp-token-overhead-calculator",
              "meal-prep-container-count-calculator",
              "meeting-cost-calculator",
              "meeting-cost-per-decision-calculator",
              "memory-leak-growth-rate-calculator",
              "message-queue-backlog-drain-time-calculator",
              "meta-description-pixel-width-calculator",
              "meta-title-pixel-width-calculator",
              "milelog",
              "mobile-first-content-parity-calculator",
              "moq-break-even-finder",
              "moving-box-count-estimator",
              "moving-truck-size-estimator",
              "mql-to-sql-conversion-rate-calculator",
              "mrr-calculator",
              "multi-agent-orchestration-overhead-calculator",
              "multi-currency-conversion-fee-calculator",
              "multi-entity-intercompany-markup-calculator",
              "multi-model-ensemble-cost-calculator",
              "multi-touch-attribution-weight-calculator",
              "nannypay",
              "net-dollar-retention-calculator",
              "net-new-mrr-bridge-calculator",
              "net-profit-margin-calculator",
              "net-revenue-retention-calculator",
              "new-hire-ramp-up-productivity-loss-calculator",
              "newsletter-ad-slot-fill-rate-calculator",
              "newsletter-open-rate-calculator",
              "newsletter-sponsorship-fill-rate-calculator",
              "newsletter-sponsorship-rate-calculator",
              "newsletter-subscriber-growth-rate-calculator",
              "nonprofit-public-support-test-calculator",
              "nps-calculator",
              "npv-calculator",
              "ntp-clock-drift-calculator",
              "office-space-cost-per-employee-calculator",
              "office-supply-budget-per-employee-calculator",
              "oil-change-countdown-calculator",
              "onlyfans-creator-payout-projector",
              "openai-batch-api-discounter",
              "openai-cost-estimator",
              "operating-leverage-dol-calculator",
              "operating-margin-calculator",
              "osha-recordable-incident-rate-calculator",
              "out-of-home-ooh-ad-cpm-calculator",
              "overtime-pay-calculator",
              "overtime-pay-impact-calculator",
              "overtime-threshold-checker",
              "page-load-request-count-budget-calculator",
              "page-speed-score-impact-estimator",
              "paint-coverage-calculator",
              "pallet-space-cubing-optimization",
              "party-drink-quantity-calculator",
              "patent-maintenance-fee-schedule-calculator",
              "patreon-tier-revenue-calculator",
              "payback-period-calculator",
              "payment-processing-fee-calculator",
              "payment-processor-fee-comparator",
              "payschedule",
              "percentage-change-calculator",
              "percentage-of-a-number-calculator",
              "pet-food-cost-per-day-calculator",
              "pet-medication-dosage-calculator",
              "petty-cash-reconciliation-variance-calculator",
              "photography-print-margin-calculator",
              "photography-session-pricing-calculator",
              "platemath",
              "podcast-ad-cpm-calculator",
              "podcast-episode-production-time-calculator",
              "podcast-guest-booking-lead-time-calculator",
              "podcast-transcription-cost-calculator",
              "pooldose",
              "portionpet",
              "poshmark-profit-calculator",
              "preorder-campaign-capital-matcher",
              "price-to-earnings-pe-ratio-calculator",
              "priceright",
              "private-label-product-margin-calculator",
              "procurement-savings-tracker",
              "product-bundle-discount-threshold-calculator",
              "product-photography-cost-per-sku-calculator",
              "product-pricing-calculator",
              "profit-after-return-calculator",
              "profit-margin-planner",
              "programmatic-ad-viewability-cost-calculator",
              "project-contingency-buffer-calculator",
              "prompt-chaining-pipeline-delay",
              "prompt-compression-ratio-calculator",
              "prompt-compression-ratio-optimization",
              "prompt-iteration-cost-calculator",
              "prompt-variable-size-formatter",
              "prompt-variant-evaluation-sample-size-calculator",
              "prorated-rent-calculator",
              "pto-accrual-balance-calculator",
              "pto-payout-liability-calculator",
              "purchase-order-lead-time-calculator",
              "push-notification-click-through-rate-calculator",
              "push-notification-opt-in-rate-calculator",
              "px-to-rem-converter",
              "quarterly-estimated-tax-calculator",
              "quick-ratio-calculator",
              "rag-chunk-size-optimizer",
              "rain-barrel-storage-capacity-calculator",
              "recipe-cost-per-serving-calculator",
              "record-matching-confidence-score-calculator",
              "records-retention-countdown-calculator",
              "recurring-meeting-annual-cost-calculator",
              "redirect-link-equity-loss-calculator",
              "redirect-ratio-calculator",
              "redis-cache-eviction-rate-calculator",
              "referral-program-roi-calculator",
              "referral-viral-coefficient-calculator",
              "refinance-break-even-calculator",
              "relocation-package-cost-calculator",
              "remote-meeting-timezone-sync",
              "remote-work-stipend-budget-calculator",
              "rent-split-by-room-size-calculator",
              "reorder-point-safety-stock",
              "reordercalculator",
              "restocking-fee-profitability",
              "retargeting-audience-decay-calculator",
              "retirement-savings-projector",
              "return-on-assets-calculator",
              "return-on-equity-calculator",
              "return-rate-calculator",
              "return-to-origin-freight-cost-calculator",
              "revenue-multiple-valuation-calculator",
              "revenue-per-employee-calculator",
              "revenue-projection-calculator",
              "rfp-bid-no-bid-scoring-calculator",
              "rfp-response-cost-calculator",
              "road-trip-fuel-cost-calculator",
              "roas-calculator",
              "robots-txt-crawl-budget-calculator",
              "robots-txt-disallow-coverage-calculator",
              "roi-calculator-business",
              "rolling-patch-window-downtime-calculator",
              "rule-of-40-score-calculator",
              "rule-of-72-calculator",
              "saas-acv-component-splitter",
              "saas-annual-prepay-discount-breakeven-calculator",
              "saas-api-rate-plan-overage-cost-calculator",
              "saas-arpa-expansion-matrix",
              "saas-channel-partner-commission",
              "saas-churn-financial-drag",
              "saas-churn-simulator",
              "saas-contraction-mrr-simulator",
              "saas-database-index-expansion",
              "saas-expansion-revenue-runway",
              "saas-feature-adoption-rate-calculator",
              "saas-feature-flag-rollout-risk-calculator",
              "saas-feature-overhead-debt",
              "saas-freemium-conversion-velocity",
              "saas-logo-vs-revenue-churn",
              "saas-ltv-cac-validator",
              "saas-magic-number-efficiency",
              "saas-multi-year-contract-discount-calculator",
              "saas-net-dollar-retention-cohort-calculator",
              "saas-nrr-cohort-modeler",
              "saas-onboarding-cost-per-seat-calculator",
              "saas-onboarding-time-to-value-calculator",
              "saas-paid-trial-payback",
              "saas-professional-services-drag",
              "saas-quick-ratio-calculator",
              "saas-rule-of-40",
              "saas-rule-of-40-trend-tracker",
              "saas-runway-calculator",
              "saas-sales-cycle-length-tracker",
              "saas-seat-licensing-revenue",
              "saas-server-cost-per-user",
              "saas-support-cost-per-customer-calculator",
              "saas-support-ticket-cost-per-mrr-dollar-calculator",
              "saas-trial-to-paid-conversion-lag-calculator",
              "saas-usage-based-billing-variance-calculator",
              "salary-to-hourly-converter",
              "sales-qualified-lead-value-calculator",
              "sales-rep-ramp-time-calculator",
              "sales-tax-calculator",
              "sales-tax-nexus-threshold-tracker",
              "sample-prototype-cost-amortizer",
              "savings-goal-timeline-calculator",
              "schema-drift-field-mismatch-rate-calculator",
              "schema-markup-coverage-rate-calculator",
              "seasonal-demand-buffer-stock-calculator",
              "seed-row-spacing-calculator",
              "self-employment-tax-calculator",
              "seo-content-gap-word-count-calculator",
              "seo-traffic-value-calculator",
              "serp-feature-share-of-voice-calculator",
              "serverless-cold-start-cost-calculator",
              "service-worker-cache-lifecycle",
              "severance-pay-calculator",
              "shared-utility-bill-split-calculator",
              "shipping-cost-calculator",
              "shopify-admin-graphql-query-cost-estimator",
              "shopify-app-block-render-budget-calculator",
              "shopify-app-proxy-response-budget-calculator",
              "shopify-app-webhook-throttling",
              "shopify-b2b-catalog-price-list-variance-calculator",
              "shopify-breakeven-roas-calculator",
              "shopify-cart-recovery-rate-calculator",
              "shopify-checkout-extensibility-load-time-calculator",
              "shopify-checkout-ui-load-profiler",
              "shopify-collection-pagination-load-time-calculator",
              "shopify-discount-code-stacking-calculator",
              "shopify-font-performance-budget",
              "shopify-image-cdn-transformation-cost-calculator",
              "shopify-lazy-loading-coverage",
              "shopify-liquid-template-change-rate-calculator",
              "shopify-loyalty-reward-tier-slicer",
              "shopify-metafields-storage-estimator",
              "shopify-multi-location-inventory-sync-lag-calculator",
              "shopify-pos-offline-buffer",
              "shopify-profit-calculator",
              "shopify-redirect-chain-latency-calculator",
              "shopify-section-nested-block-validator",
              "shopify-section-rendering-profiler",
              "shopify-theme-asset-bundle-size-calculator",
              "shopify-theme-liquid-render-depth-calculator",
              "shopify-variant-combination-limit-calculator",
              "shopify-webhook-retry-storm-calculator",
              "simple-interest-calculator",
              "sinking-fund-payment-calculator",
              "site-architecture-reachable-pages-calculator",
              "site-migration-404-risk-calculator",
              "site-speed-conversion-impact-calculator",
              "skills-gap-coverage-calculator",
              "sleep-cycle-wake-time-calculator",
              "small-business-health-care-tax-credit-calculator",
              "sms-marketing-click-rate-calculator",
              "sms-marketing-opt-out-rate-calculator",
              "snow-shoveling-calorie-burn-calculator",
              "social-follower-growth-rate-calculator",
              "software-eol-migration-risk",
              "source-code-language-density",
              "span-of-control-calculator",
              "span-of-control-cost-impact-calculator",
              "sponsored-post-cpm-calculator",
              "sponsorship-deliverable-pricing-calculator",
              "sponsorship-rate-calculator",
              "spreadsheet-recalculation-load-calculator",
              "ssl-certificate-renewal-buffer-calculator",
              "stacked-discount-calculator",
              "stock-footage-license-cost-calculator",
              "stock-photo-royalty-calculator",
              "straight-line-depreciation-calculator",
              "stripe-capital-loan-payback",
              "structured-data-rich-result-checker",
              "student-loan-payoff-calculator",
              "sub-assembly-manufacturing-cost",
              "subscription-box-churn-cost-calculator",
              "subscription-box-cost-per-acquisition-calculator",
              "subscription-churn-revenue-loss-calculator",
              "subscription-pricing-simulator",
              "substack-subscriber-revenue-calculator",
              "succession-planning-bench-strength-calculator",
              "suitcase-packing-weight-calculator",
              "supplier-diversity-spend-calculator",
              "survey-response-processing-time-calculator",
              "system-log-rotation-disk-predictor",
              "tacos-total-advertising-cost-of-sale-calculator",
              "take-home-pay-calculator",
              "target-heart-rate-calculator",
              "target-plus-profit-calculator",
              "tcp-connection-pool-exhaustion-calculator",
              "team-meeting-load-calculator",
              "team-span-of-control-calculator",
              "thermostat-setback-savings-calculator",
              "threads-engagement-rate-calculator",
              "tiered-commission-calculator",
              "tiktok-creator-fund-payout-estimator",
              "tiktok-shop-profit-calculator",
              "time-decay-attribution-calculator",
              "time-to-fill-vacancy-calculator",
              "tip-and-split-calculator",
              "tipsplit",
              "tiptrack",
              "tire-pressure-temperature-adjustment-calculator",
              "token-bucket-refill-time-calculator",
              "tokens-to-words-converter",
              "topical-authority-coverage-calculator",
              "trade-show-lead-cost-calculator",
              "trademark-renewal-deadline-calculator",
              "training-cost-per-employee-calculator",
              "treadpace",
              "ttfb-performance-budget-calculator",
              "twitch-sub-revenue-split-calculator",
              "twitch-subscriber-revenue-split-calculator",
              "ugc-license-fee-calculator",
              "uptime-sla-credit-calculator",
              "url-parameter-duplicate-content-risk-calculator",
              "url-slug-length-calculator",
              "utm-tagging-error-rate-calculator",
              "vacation-daily-budget-calculator",
              "vat-calculator",
              "vector-db-storage-estimator",
              "vector-embedding-semantic-drift",
              "vector-embedding-storage-calculator",
              "vendor-consolidation-savings-calculator",
              "vendor-contract-value-at-risk-calculator",
              "vendor-minimum-order-value-gap-calculator",
              "vendor-onboarding-cycle-time-calculator",
              "vendor-payment-terms-cash-flow-calculator",
              "vendor-risk-assessment-score-calculator",
              "vendor-sla-penalty-calculator",
              "video-ad-completion-rate-calculator",
              "video-aspect-ratio-crop-loss-calculator",
              "video-editing-time-ratio-calculator",
              "video-render-time-estimator",
              "video-retention-curve-drop-off-calculator",
              "video-thumbnail-ab-test-lift-calculator",
              "video-watch-time-retention-calculator",
              "voiceover-cost-per-minute-calculator",
              "vpn-tunnel-overhead-calculator",
              "wacc-calculator",
              "wallpaper-roll-calculator",
              "walmart-marketplace-profit-calculator",
              "warehouse-cube-utilization-calculator",
              "watch-time-to-revenue-ratio-calculator",
              "web-crypto-key-generation-timer",
              "web-font-loading-strategy-fout-foit-calculator",
              "web-native-sharing-api-compatibility",
              "webhook-delivery-throughput-calculator",
              "webhook-retry-exponential-backoff",
              "webinar-no-show-rate-calculator",
              "webpage-title-truncation-predictor",
              "website-downtime-seo-impact-calculator",
              "wedding-table-seating-calculator",
              "weighted-average-shares-outstanding-calculator",
              "wholesale-margin-calculator",
              "wordpace",
              "worker-classification-risk-score-calculator",
              "workers-compensation-premium-estimator",
              "working-capital-calculator",
              "xml-sitemap-url-limit-calculator",
              "yardcalc",
              "youtube-ad-revenue-estimator",
              "youtube-blended-rpm-calculator",
              "youtube-membership-perk-cost-calculator",
              "youtube-shorts-revenue-projector",
              "zonecalculator"
            ],
            "description": "The tool's URL slug."
          },
          "inputs": {
            "type": "object",
            "description": "Input id to value, for every input the tool lists in /api-tools.json.",
            "additionalProperties": {
              "type": [
                "number",
                "string"
              ]
            }
          }
        }
      },
      "CalculateResult": {
        "type": "object",
        "required": [
          "ok",
          "slug",
          "name",
          "inputs",
          "result"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "number",
                "string"
              ]
            }
          },
          "result": {
            "type": "number"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "const": false
          },
          "error": {
            "type": "string",
            "enum": [
              "invalid_json_body",
              "missing_slug",
              "auth_required",
              "premium_required",
              "rate_limited",
              "tool_not_available",
              "missing_inputs",
              "calculation_error",
              "method_not_allowed",
              "server_error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "formula": {
            "type": "string"
          },
          "premium": {
            "type": "boolean"
          }
        }
      },
      "ApiUsage": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "description": "YYYY-MM, UTC."
          },
          "calls": {
            "type": "integer"
          },
          "errors": {
            "type": "integer"
          },
          "topTools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string"
                },
                "calls": {
                  "type": "integer"
                }
              }
            }
          },
          "lastUsed": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "previousMonth": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "month": {
                "type": "string"
              },
              "calls": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ApiKeyStatus": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "hasKey": {
            "type": "boolean"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "hint": {
            "type": [
              "string",
              "null"
            ],
            "description": "Last four characters of the key."
          },
          "usage": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ApiUsage"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ApiKeyCreated": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          },
          "key": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "note": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}