{
  "openapi": "3.1.0",
  "info": {
    "title": "appmanai Public API",
    "version": "1.0.0",
    "description": "App Store & Google Play data. Reads are `GET` with query parameters and a Bearer API key; the two `generate` endpoints are `POST` with a JSON body.",
    "x-jentic-source-url": "https://appmanai.com/docs/openapi.json"
  },
  "servers": [
    {
      "url": "https://appmanai.com/api/v1"
    }
  ],
  "paths": {
    "/apps/metrics/metadata": {
      "get": {
        "tags": [
          "App Metadata"
        ],
        "operationId": "appMetricsMetadata",
        "summary": "App Metadata — Current",
        "description": "Full store listing for one app.",
        "x-credit-cost": 3,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/ForceUpdate"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.071,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "appstore_id": 1,
                        "country": "US",
                        "package": "com.discord",
                        "title": "Discord - Talk, Play, Hang Out",
                        "icon": "https://play-lh.googleusercontent.com/w2DdjDHGSj3DQElQQM0_J3PsNsALS-WD3CBeH0aXOYceR-F3aT02gFonhoFzz-Tc9ec8Dx9cLqh48-tzIFcP",
                        "active": true,
                        "dev_name": "Discord Inc.",
                        "dev_url": "https://play.google.com/store/apps/developer?id=Discord+Inc.",
                        "dev_id": "6876955335863008122",
                        "downloads": "500,000,000+",
                        "downloads_exact": 689684438,
                        "categories": [
                          {
                            "name": "Communication",
                            "tag": "COMMUNICATION"
                          }
                        ],
                        "category": {
                          "COMMUNICATION": "Communication"
                        },
                        "category_ranks": [
                          {
                            "rank": 1,
                            "refreshed_at": "2026-09-17",
                            "category": "COMMUNICATION",
                            "sub_category": "topgrossing",
                            "country_id": "US"
                          },
                          {
                            "rank": 6,
                            "refreshed_at": "2026-09-17",
                            "category": "COMMUNICATION",
                            "sub_category": "topselling_free",
                            "country_id": "US"
                          },
                          {
                            "rank": 21,
                            "refreshed_at": "2026-09-17",
                            "category": "APPLICATION",
                            "sub_category": "topgrossing",
                            "country_id": "US"
                          }
                        ],
                        "price": 0,
                        "price_exact": 0,
                        "price_currency": "USD",
                        "votes": 7015746,
                        "rating": 4.31,
                        "rating_breakdown": {
                          "1": 796824,
                          "2": 141044,
                          "3": 293810
                        },
                        "version": "345.9 - Stable",
                        "last_updated": "2026-09-11",
                        "min_os_version": "7.0",
                        "file_size": null,
                        "release_date": "2015-05-07",
                        "content_rating": "Teen",
                        "content_rating_mature": false,
                        "screenshots": [
                          "https://play-lh.googleusercontent.com/J9G3W2wuETDZ-RP6AY_o3RP0BrjfeYSBTOKs85ncp_dsfsqgKXDrxrl0DZKbpinxgUaKNYODlKGPkSTZpgcM",
                          "https://play-lh.googleusercontent.com/rCrgLNcFYQAfu5QGnYNEfmdQvfoiQEt9aps_Twc7GoNgNixm9myh87x1XauJ9geFSyiBzJrECohl25udMXur",
                          "https://play-lh.googleusercontent.com/rM_OIzDT0pgTwwbIpO_9o6k_dgxTIGC4kX8DTRHMxuo_EdeZMOzn9cVYlKWEHgxH81vc5TzHxCscE-utAH44Dw"
                        ],
                        "description": "Discord is designed for gaming and great for just chilling with friends or building a community. Customize your own space and gather your friends to talk while playing your favorite games, or just hang out.GROUP CHAT THAT’S ALL FUN &amp; GAMES∙ Discord is great for playing games and chilling with friends, or even building a worldwide community. Customize your own space to talk, play, and hang out in.MAKE YOUR GROUP CHATS MORE FUN∙ Create custom emoji, stickers, soundboard effects, and more to add your personality to voice, video, or text chat. Set your avatar, a custom status, and write your own profile to show up in chat your way.STREAM LIKE YOU’RE IN THE SAME ROOM∙ High-quality and low-latency streaming makes it feel like you&#39;re hanging out on the couch with friends while playing a game, watching shows, looking at photos, or idk doing homework or something.HOP IN WHEN YOU’RE FREE, NO NEED TO CALL∙ Easily hop in and out of voice or text chats without having to call or invite anyone, so you can chat with your friends before, during, and after your game session.SEE WHO’S AROUND TO CHILL∙ See who’s around, playing games, or just hanging out. For supported games, you can see what modes or characters your friends are playing and directly join up.ALWAYS HAVE SOMETHING TO DO TOGETHER∙ Watch videos, play built-in games, listen to music, or just scroll together and spam memes. Seamlessly text, call, video chat, and play games, all in one group chat.WHEREVER YOU GAME, HANG OUT HERE∙ On your PC, phone, or console, you can still hang out on Discord. Easily switch between devices and use tools to manage multiple group chats with friends.",
                        "language": "en",
                        "locale": "en_US",
                        "email": "",
                        "dev_web": "",
                        "dev_address": "",
                        "banner": "",
                        "android_os": "",
                        "android_api": "",
                        "lang": "en_US"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/metrics/metadata/batch": {
      "get": {
        "tags": [
          "App Metadata"
        ],
        "operationId": "appMetricsMetadataBatch",
        "summary": "App Metadata — Current (batch)",
        "description": "Store listings for several apps in one call.",
        "x-credit-cost": 8,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Packages"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.076,
                        "cache": false,
                        "count": 1
                      },
                      "data": [
                        {
                          "appstore_id": 1,
                          "country": "US",
                          "package": "com.spotify.music",
                          "title": "Spotify: Music and Podcasts",
                          "icon": "https://play-lh.googleusercontent.com/IzQgYCcnCFCD08GR-3bdtcT8xzOvrNkC84avGT5CwTX2VIqmTmKKJcP_Cd4JoBOdmCMlTndlOzV6hrthg2fOWA",
                          "active": true,
                          "dev_name": "Spotify AB",
                          "dev_url": "https://play.google.com/store/apps/developer?id=Spotify+AB",
                          "dev_id": "6523013212965523194",
                          "downloads": "1,000,000,000+",
                          "downloads_exact": 3125337627,
                          "categories": [
                            {
                              "name": "Music & Audio",
                              "tag": "MUSIC_AND_AUDIO"
                            }
                          ],
                          "category": {
                            "MUSIC_AND_AUDIO": "Music & audio"
                          },
                          "category_ranks": [],
                          "price": 0,
                          "price_exact": 0,
                          "price_currency": "USD",
                          "votes": 36314774,
                          "rating": 4.35,
                          "rating_breakdown": {
                            "1": 3704170,
                            "2": 1065733,
                            "3": 1315320
                          },
                          "version": null,
                          "last_updated": "2026-09-14",
                          "min_os_version": null,
                          "file_size": null,
                          "release_date": "2014-05-27",
                          "content_rating": "Teen",
                          "content_rating_mature": false,
                          "screenshots": [
                            "https://play-lh.googleusercontent.com/c1jnjL-9CIFlwlTMX3xNyeo8aEH39sNuC5zpTHhfW8keGxQE3TBMRX9Rm3VqM3E03Cyl9AqtnxuKvxJpcW0WCA",
                            "https://play-lh.googleusercontent.com/YxWsaNLSEBvLh04geMOADhSq6Ln5LmRrpa51ixZ7YkcEwmPQ-wdtnvoZDjVAgufbi2et0IlTVDAsvCCmlsJYnNA",
                            "https://play-lh.googleusercontent.com/RevDecVUzkc8iYhVazBoXb0O0Amy3_w6MNzzABHyAlyZjEYBq3xl-UxuxL5PGB6xTZpuxV7tET3pg1rp6weFWAY"
                          ],
                          "description": "With the Spotify music and podcast app, you can play millions of songs, albums and original podcasts for free. We have even added audiobooks, so you can enjoy thousands of stories wherever you are!Stream music and podcasts, listen to audiobooks, discover albums, playlists or even single songs for free on your mobile or tablet. Subscribe to Spotify Premium to download and listen offline wherever you are.Spotify gives you access to a world of free music, curated playlists, artists, and podcasts you love. Discover podcasts, new music, top songs or listen to your favorite artists and albums.WHY SPOTIFY FOR MUSIC AND PODCASTS?• Listen to over 80 million songs and 4 million podcasts (and counting)• Enjoy over 300,000 newly added audiobook titles• Discover new music, albums, playlists and original podcasts.• Search for your favorite song or artist by typing a lyric• Enjoy amazing sound quality on music and podcasts across all devices.• Create and share your own music playlists to suit your mood or discover other playlists you might like.• Listen to daily music mixes made just for you.• Explore top songs from different genres, countries or decades.• Subscribe to your favourite podcasts so that you never miss an episode, then curate your very own podcast library.• Bookmark individual podcasts into Playlists• Listen to music and podcasts on your mobile, tablet, desktop, PlayStation, Chromecast, TV, Wear OS or wearable device.Listen and discover the latest music from artists like;• Bad Bunny• Billie Eilish• Renzo Pianciola• The Temper Trap• Harry StylesListen to your favorite music artists all day every day via the Popular Radio playlist feature. Here are just some of the artists we’ve already curated;• Taylor Swift• Drake• Eminem• Coldplay• Paolo Nutini• Fleetwood MacListen to over 40 category genres - New Releases, Charts, Live Events, Made for You, At Home, Only You, Summer, Pop, Workout, Hip-Hop, Mood, Party, Pride, Dance/Electronic, Alternative, Indie, Equal, Wellness, Rock, Frequency, R&amp;B, Disney,, Throwback, Radar, Chill, Sleep, In the car, Kids &amp; Family, Caribbean, Classical, Romance, Jazz, Instrumental, Afro, Christian and Gospel and Country.Listen to popular and exclusive podcasts like;• The Joe Rogan Experience• Modern Wisdom• 2 Bears, 1 Cave with Tom Segura and Bert Kreischer• Call Her Daddy and Crime JunkieSearch, discover and play music, podcasts and audiobooks from all over the world for free, anywhere, anytime or create your own music playlists with the latest songs to suit your mood.WHY GO PREMIUM?• Listen to albums and playlists without ad breaks.• Download and listen to music and podcasts offline, wherever you are.• Jump back in and listen to your top songs with on-demand playback.• Choose from 4 subscription options – Individual, Duo, Family, Student. There’s no commitment and you can cancel any timeAudiobooks in Premium currently available in Australia, the UK &amp; the US. Discover 250,000+ titles, 15 hours/month of available listening for Premium Individual subscribers and Duo &amp; Family plan managers.Experience Spotify on your Wear OS device:• Enjoy your favourite music and podcasts without having your phone around.• Control playback on your phone or any of your Spotify compatible devices.• Download your favourite content for offline listening on the go (Premium only).• Get instant access to Spotify with our Tiles and Complications.Please note: This app features Nielsen’s audience measurement software which will allow you to contribute to market research, such as Nielsen’s Audio Measurement. If you don&#39;t want to participate, you can opt-out within the app settings. To learn more about our digital audience measurement products and your choices in regard to them, please visit https://www.nielsen.com/digitalprivacy for more information.",
                          "language": "en",
                          "locale": "en_US",
                          "email": "",
                          "dev_web": "",
                          "dev_address": "",
                          "banner": "",
                          "android_os": "",
                          "android_api": "",
                          "lang": "en_US"
                        },
                        {
                          "appstore_id": 1,
                          "country": "US",
                          "package": "com.discord",
                          "title": "Discord - Talk, Play, Hang Out",
                          "icon": "https://play-lh.googleusercontent.com/w2DdjDHGSj3DQElQQM0_J3PsNsALS-WD3CBeH0aXOYceR-F3aT02gFonhoFzz-Tc9ec8Dx9cLqh48-tzIFcP",
                          "active": true,
                          "dev_name": "Discord Inc.",
                          "dev_url": "https://play.google.com/store/apps/developer?id=Discord+Inc.",
                          "dev_id": "6876955335863008122",
                          "downloads": "500,000,000+",
                          "downloads_exact": 689684438,
                          "categories": [
                            {
                              "name": "Communication",
                              "tag": "COMMUNICATION"
                            }
                          ],
                          "category": {
                            "COMMUNICATION": "Communication"
                          },
                          "category_ranks": [],
                          "price": 0,
                          "price_exact": 0,
                          "price_currency": "USD",
                          "votes": 7015746,
                          "rating": 4.31,
                          "rating_breakdown": {
                            "1": 796824,
                            "2": 141044,
                            "3": 293810
                          },
                          "version": "345.9 - Stable",
                          "last_updated": "2026-09-11",
                          "min_os_version": "7.0",
                          "file_size": null,
                          "release_date": "2015-05-07",
                          "content_rating": "Teen",
                          "content_rating_mature": false,
                          "screenshots": [
                            "https://play-lh.googleusercontent.com/J9G3W2wuETDZ-RP6AY_o3RP0BrjfeYSBTOKs85ncp_dsfsqgKXDrxrl0DZKbpinxgUaKNYODlKGPkSTZpgcM",
                            "https://play-lh.googleusercontent.com/rCrgLNcFYQAfu5QGnYNEfmdQvfoiQEt9aps_Twc7GoNgNixm9myh87x1XauJ9geFSyiBzJrECohl25udMXur",
                            "https://play-lh.googleusercontent.com/rM_OIzDT0pgTwwbIpO_9o6k_dgxTIGC4kX8DTRHMxuo_EdeZMOzn9cVYlKWEHgxH81vc5TzHxCscE-utAH44Dw"
                          ],
                          "description": "Discord is designed for gaming and great for just chilling with friends or building a community. Customize your own space and gather your friends to talk while playing your favorite games, or just hang out.GROUP CHAT THAT’S ALL FUN &amp; GAMES∙ Discord is great for playing games and chilling with friends, or even building a worldwide community. Customize your own space to talk, play, and hang out in.MAKE YOUR GROUP CHATS MORE FUN∙ Create custom emoji, stickers, soundboard effects, and more to add your personality to voice, video, or text chat. Set your avatar, a custom status, and write your own profile to show up in chat your way.STREAM LIKE YOU’RE IN THE SAME ROOM∙ High-quality and low-latency streaming makes it feel like you&#39;re hanging out on the couch with friends while playing a game, watching shows, looking at photos, or idk doing homework or something.HOP IN WHEN YOU’RE FREE, NO NEED TO CALL∙ Easily hop in and out of voice or text chats without having to call or invite anyone, so you can chat with your friends before, during, and after your game session.SEE WHO’S AROUND TO CHILL∙ See who’s around, playing games, or just hanging out. For supported games, you can see what modes or characters your friends are playing and directly join up.ALWAYS HAVE SOMETHING TO DO TOGETHER∙ Watch videos, play built-in games, listen to music, or just scroll together and spam memes. Seamlessly text, call, video chat, and play games, all in one group chat.WHEREVER YOU GAME, HANG OUT HERE∙ On your PC, phone, or console, you can still hang out on Discord. Easily switch between devices and use tools to manage multiple group chats with friends.",
                          "language": "en",
                          "locale": "en_US",
                          "email": "",
                          "dev_web": "",
                          "dev_address": "",
                          "banner": "",
                          "android_os": "",
                          "android_api": "",
                          "lang": "en_US"
                        }
                      ],
                      "extra": {
                        "not_found_packages": []
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/search": {
      "get": {
        "tags": [
          "App Search"
        ],
        "operationId": "appSearch",
        "summary": "App Search — By name",
        "description": "Resolve an app name into package ids.",
        "x-credit-cost": 2,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search text, e.g. \"meditation\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 2.625,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "app_search": [
                          {
                            "package": "com.google.android.apps.dynamite",
                            "title": "Google Chat",
                            "developer": "Google LLC",
                            "icon": "https://play-lh.googleusercontent.com/MfBDUGFOSiROvn2EpD2pPby2z-PwpXqX3QHfCfpaz_0_U1o6mJQxGLW0WrlLo847MvxDqo5fEF4MG2pzBbu9rw"
                          },
                          {
                            "package": "com.openai.chatgpt",
                            "title": "ChatGPT",
                            "developer": "OpenAI",
                            "icon": "https://play-lh.googleusercontent.com/T9J8e9oxxPd600j_KPM4KK2GHfNpUpGBdTy8lHPXBXpOUfGusRuZXj0UMgFNrP8we6LVt9V-AibEgcLootE6VK4"
                          },
                          {
                            "package": "com.snapchat.android",
                            "title": "Snapchat",
                            "developer": "Snap Inc",
                            "icon": "https://play-lh.googleusercontent.com/nOJWJoDAzuRSHmlFfpzHXAj8UbTJwk_JGYf0uAPTKPtiiIX_2Y7r5ATO1ZtxHRqaFTqfIDZ40PnBK4hukeJh"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/similar": {
      "get": {
        "tags": [
          "App Search"
        ],
        "operationId": "appSimilar",
        "summary": "App Search — Similar apps",
        "description": "The apps the store itself considers similar to a given app.",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.141,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "similar_apps": [
                          {
                            "package": "com.facebook.katana",
                            "title": "Facebook",
                            "developer": "Meta Platforms, Inc.",
                            "icon": "https://play-lh.googleusercontent.com/12KEJDhgk6oyE1VgmfCuFzFrQripZ_endElbvEhU1rZawQgV3RI-v3II8fDslI1sdC_WKBkmtxS3jxuIihk33Q"
                          },
                          {
                            "package": "com.facebook.orca",
                            "title": "Messenger",
                            "developer": "Meta Platforms, Inc.",
                            "icon": "https://play-lh.googleusercontent.com/cuRpiGqvAMkcbAOibD-AKCBagAunUkspQUWC_jVZF2Hob_ODdmkefnZeqkofW1idFQHhgZgnLIjsqT-2v7JKBw"
                          },
                          {
                            "package": "com.netflix.mediaclient",
                            "title": "Netflix",
                            "developer": "Netflix, Inc.",
                            "icon": "https://play-lh.googleusercontent.com/fXVS45nukV1x9PYVSKHkCQK0QGCOishIvAOxIZS3sgRem8HS7l9l94_Ggj-WZPrTLePRdNYN4pp4SPAQL7oS0PU"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/metrics/ratings/worldwide": {
      "get": {
        "tags": [
          "App Metrics"
        ],
        "operationId": "appMetricsRatingsWorldwide",
        "summary": "App Metrics — Current: ratings",
        "description": "An app's rating and per-star vote counts in every country it is listed in.",
        "x-credit-cost": 6,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Package"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.111,
                        "cache": false,
                        "count": 201
                      },
                      "data": {
                        "breakdowns": [
                          {
                            "country_id": "KZ",
                            "rating": 4.43,
                            "rating_breakdown": {
                              "1": 688540,
                              "2": 117747,
                              "3": 203908
                            },
                            "refreshed_at": "2026-09-17 04:25:31"
                          },
                          {
                            "country_id": "RU",
                            "rating": 4.05,
                            "rating_breakdown": {
                              "1": 1291813,
                              "2": 182578,
                              "3": 236921
                            },
                            "refreshed_at": "2026-09-17 02:35:55"
                          },
                          {
                            "country_id": "ZA",
                            "rating": 4.58,
                            "rating_breakdown": {
                              "1": 308003,
                              "2": 81468,
                              "3": 305375
                            },
                            "refreshed_at": "2026-09-17 02:18:25"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/metrics/ratings/history": {
      "get": {
        "tags": [
          "App Metrics"
        ],
        "operationId": "appMetricsRatingsHistory",
        "summary": "App Metrics — History: ratings",
        "description": "An app's average rating and star breakdown over time in one country.",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.03,
                        "cache": false,
                        "count": 26
                      },
                      "data": {
                        "history": [
                          {
                            "rating": 4.3,
                            "stars": {
                              "1": 799971,
                              "2": 147039,
                              "3": 291884
                            },
                            "total": 6953534,
                            "refreshed_at": "2026-08-17"
                          },
                          {
                            "rating": 4.3,
                            "stars": {
                              "1": 800955,
                              "2": 147067,
                              "3": 291529
                            },
                            "total": 6957345,
                            "refreshed_at": "2026-08-19"
                          },
                          {
                            "rating": 4.3,
                            "stars": {
                              "1": 800484,
                              "2": 147421,
                              "3": 291272
                            },
                            "total": 6959991,
                            "refreshed_at": "2026-08-20"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/metrics/installs/history": {
      "get": {
        "tags": [
          "App Metrics"
        ],
        "operationId": "appMetricsInstallsHistory",
        "summary": "App Metrics — History: installs",
        "description": "An app's total installs worldwide, at most one point per day (days without data are absent), with `daily` — the gain per day since the previous point. `daily` is `null` on a first point with no earlier data and on a day the total fell. Worldwide only — there is no per-country figure.\n\nGoogle Play figures are Google's exact install count, and `total_bucket` is the range its store page shows. Apple publishes no install counts, so App Store figures are an estimate — approximate for any single app, best read as a trend — and `total_bucket` is that estimate's range. See [Install figures and their limits](https://appmanai.com/docs/guide/installs).",
        "x-credit-cost": 10,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "name": "from",
            "in": "query",
            "description": "First day, `YYYY-MM-DD`. Defaults to 30 days before `to`.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Last day, `YYYY-MM-DD`, not before `from`. Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.023,
                        "cache": false,
                        "count": 4
                      },
                      "data": {
                        "history": [
                          {
                            "refreshed_at": "2026-10-02",
                            "total": 693524399,
                            "total_bucket": "500,000,000+",
                            "daily": null
                          },
                          {
                            "refreshed_at": "2026-10-03",
                            "total": 693537035,
                            "total_bucket": "500,000,000+",
                            "daily": 12636
                          },
                          {
                            "refreshed_at": "2026-10-04",
                            "total": 693564043,
                            "total_bucket": "500,000,000+",
                            "daily": 27008
                          },
                          {
                            "refreshed_at": "2026-10-05",
                            "total": 693564043,
                            "total_bucket": "500,000,000+",
                            "daily": 0
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/reviews": {
      "get": {
        "tags": [
          "App Reviews"
        ],
        "operationId": "appReviews",
        "summary": "App Reviews — List",
        "description": "User reviews of an app — author, star rating, text and date.",
        "x-credit-cost": 4,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "name": "star_filter",
            "in": "query",
            "description": "Only reviews with this star rating.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "description": "Review sort order: 0 most relevant (default), 1 most recent, 3 top rated.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                3
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Continuation token returned by a previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ForceUpdate"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 2.243,
                        "cache": false,
                        "count": 40
                      },
                      "data": {
                        "reviews": [
                          {
                            "review_id": "5a21cc94-653e-4ea1-8263-2d3b579a6feb",
                            "author": "shankar bc",
                            "avatar_url": "https://play-lh.googleusercontent.com/a-/ALV-UjV5GB-PPNojftpgcYJRYEia8VKaqHqX99MyOVzS7sYg-GNqt_o",
                            "rating": 3,
                            "title": null,
                            "comment": "It's literally impossible to create a new account on this app tried both via phone number and through multiple email address just goes back to starting of the page after captcha and can't even register through webpage as it takes me right back to the app please fix this bug or give an alternative way to register",
                            "comment_date": "2026-09-16 10:14:29",
                            "answer": "Thanks for sharing your experience. Registration issues like this can sometimes be caused by app bugs or device compatibility. Please try reinstalling Discord, updating your OS, and registering via a different browser. If the issue persists, visit dis.gd/contact for help.",
                            "answer_date": "2026-09-16 12:00:36",
                            "votes": 0
                          },
                          {
                            "review_id": "3aba26f8-3783-49b5-8843-167304a83581",
                            "author": "Aadhil Bejoy",
                            "avatar_url": "https://play-lh.googleusercontent.com/a-/ALV-UjWjPmoFdVXM48iAw0Yi6TwsWFlACEp8cRquIf9vBrz-sH-uTbts",
                            "rating": 5,
                            "title": null,
                            "comment": "nice",
                            "comment_date": "2026-09-16 10:13:26",
                            "answer": null,
                            "answer_date": null,
                            "votes": 0
                          },
                          {
                            "review_id": "4f6f1702-0d37-4c63-aa1c-43cc7927a6f8",
                            "author": "Shigeru trentasis",
                            "avatar_url": "https://play-lh.googleusercontent.com/a-/ALV-UjV3S-5ZaIH4TbMJz4NF4944Ws3jaGfYJt6YGdRoGQykp-pEvmuM",
                            "rating": 1,
                            "title": null,
                            "comment": "goud shjt! 💩👯🙃",
                            "comment_date": "2026-09-16 10:12:48",
                            "answer": null,
                            "answer_date": null,
                            "votes": 0
                          }
                        ],
                        "has_more": true
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/category-rankings": {
      "get": {
        "tags": [
          "App Category Ranking"
        ],
        "operationId": "appCategoryRankings",
        "summary": "App Category Ranking — Current",
        "description": "Every category chart an app currently appears in, with its rank in each.",
        "x-credit-cost": 3,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/SubCategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.019,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "category_ranks": [
                          {
                            "rank": 21,
                            "refreshed_at": "2026-09-17",
                            "category": "APPLICATION",
                            "sub_category": "topgrossing"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/category-rankings/single": {
      "get": {
        "tags": [
          "App Category Ranking"
        ],
        "operationId": "appCategoryRankingsSingle",
        "summary": "App Category Ranking — Current (one chart)",
        "description": "An app's position in a single named category chart.",
        "x-credit-cost": 2,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/SubCategory"
          },
          {
            "$ref": "#/components/parameters/Cache"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.019,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "rank": 21,
                        "refreshed_at": "2026-09-17 03:49:36"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/category-rankings/history": {
      "get": {
        "tags": [
          "App Category Ranking"
        ],
        "operationId": "appCategoryRankingsHistory",
        "summary": "App Category Ranking — History",
        "description": "An app's category chart position over time.",
        "x-credit-cost": 6,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/SubCategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.058,
                        "cache": false,
                        "count": 236
                      },
                      "data": {
                        "category_ranks": [
                          {
                            "rank": 23,
                            "refreshed_at": "2026-01-20"
                          },
                          {
                            "rank": 23,
                            "refreshed_at": "2026-01-21"
                          },
                          {
                            "rank": 23,
                            "refreshed_at": "2026-01-22"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/apps/category-rankings/start": {
      "get": {
        "tags": [
          "App Category Ranking"
        ],
        "operationId": "appCategoryStartRankings",
        "summary": "App Category Ranking — Start ranks",
        "description": "Where each app first entered a chart, from a given date.",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/SubCategory"
          },
          {
            "name": "packages",
            "in": "query",
            "required": true,
            "description": "Repeatable, up to 20. Each entry is `package:min_date`, e.g. `com.discord:2026-01-01`. The start date is required — without it the call is rejected.",
            "schema": {
              "type": "array",
              "maxItems": 20,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.066,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "start_ranks": [
                          {
                            "package": "com.discord",
                            "start_rank": 19
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/categories/top-apps": {
      "get": {
        "tags": [
          "Top Charts"
        ],
        "operationId": "categoryTopApps",
        "summary": "Top Charts — Current",
        "description": "The apps at the top of a category chart (top free, top grossing, top paid).",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/SubCategory"
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Return full app profiles instead of package ids and ranks.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "show_diff",
            "in": "query",
            "description": "Include each app's movement since the previous chart.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Chart date. Defaults to the latest.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.013,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "top_apps": [
                          {
                            "package": "com.openai.chatgpt",
                            "rank": 1,
                            "refreshed_at": "2026-09-17"
                          },
                          {
                            "package": "com.ss.android.ttmd.video",
                            "rank": 2,
                            "refreshed_at": "2026-09-17"
                          },
                          {
                            "package": "com.ss.android.ugc.tiktok.pro",
                            "rank": 3,
                            "refreshed_at": "2026-09-17"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/metrics": {
      "get": {
        "tags": [
          "Keyword Metrics"
        ],
        "operationId": "keywordMetrics",
        "summary": "Keyword Metrics — Current",
        "description": "A keyword's ASO profile — popularity (SAP), difficulty and languages.",
        "x-credit-cost": 4,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.046,
                        "cache": true,
                        "count": 1
                      },
                      "data": {
                        "sap": 64,
                        "type": "generic",
                        "difficulty": "high",
                        "languages": [
                          "fr"
                        ],
                        "language": "Français"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/metrics/sap": {
      "get": {
        "tags": [
          "Keyword Metrics"
        ],
        "operationId": "keywordMetricsSap",
        "summary": "Keyword Metrics — Current: sap",
        "description": "Search Ads Popularity (0-100) for one keyword, across both stores. The cheapest popularity check; `/keywords/metrics` adds difficulty and languages.",
        "x-credit-cost": 4,
        "parameters": [
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Cache"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.001,
                        "cache": true,
                        "count": 1
                      },
                      "data": {
                        "keyword": "chat",
                        "sap": 64,
                        "refreshed_at": "2025-09-16"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/metrics/sap/batch": {
      "get": {
        "tags": [
          "Keyword Metrics"
        ],
        "operationId": "keywordMetricsSapBatch",
        "summary": "Keyword Metrics — Current: sap (batch)",
        "description": "Search Ads Popularity for several keywords in one call.",
        "x-credit-cost": 9,
        "parameters": [
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Keywords"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.015,
                        "cache": false,
                        "count": 2
                      },
                      "data": {
                        "saps": [
                          {
                            "keyword": "music",
                            "sap": 77,
                            "refreshed_at": "2025-11-01"
                          },
                          {
                            "keyword": "chat",
                            "sap": 64,
                            "refreshed_at": "2025-09-16"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/metrics/volatility": {
      "get": {
        "tags": [
          "Keyword Metrics"
        ],
        "operationId": "keywordMetricsVolatility",
        "summary": "Keyword Metrics — Volatility",
        "description": "How much the store's ranking algorithm moved in one country over a period. High volatility means rank changes are the store's doing, not yours.",
        "x-credit-cost": 8,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/metrics/volatility/worldwide": {
      "get": {
        "tags": [
          "Keyword Metrics"
        ],
        "operationId": "keywordMetricsVolatilityWorldwide",
        "summary": "Keyword Metrics — Volatility, worldwide",
        "description": "Ranking volatility for one date across every country, to compare markets.",
        "x-credit-cost": 12,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Day to report on. Defaults to the latest.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "Days to average over.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.041,
                        "cache": false,
                        "count": 202
                      },
                      "data": [
                        {
                          "country_id": "CZ",
                          "score": 66.67,
                          "keyword_count": 60
                        },
                        {
                          "country_id": "CO",
                          "score": 66.67,
                          "keyword_count": 120
                        },
                        {
                          "country_id": "NG",
                          "score": 62.5,
                          "keyword_count": 320
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/metrics/rankings": {
      "get": {
        "tags": [
          "Keyword Metrics by App"
        ],
        "operationId": "keywordAppMetricsRankings",
        "summary": "Keyword Metrics by App — Current: rank",
        "description": "Where one app ranks in search results for one keyword.",
        "x-credit-cost": 2,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Cache"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.021,
                        "cache": true,
                        "count": 1
                      },
                      "data": {
                        "rank": 11,
                        "refreshed_at": "2026-09-17",
                        "score": 64
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/metrics/rankings/batch": {
      "get": {
        "tags": [
          "Keyword Metrics by App"
        ],
        "operationId": "keywordAppMetricsRankingsBatch",
        "summary": "Keyword Metrics by App — Current: rank (batch)",
        "description": "One app's rank for a list of keywords, in one call.",
        "x-credit-cost": 9,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Keywords"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.017,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "ranks": [
                          {
                            "keyword": "chat",
                            "rank": 11,
                            "refreshed_at": "2026-09-17"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/metrics/rankings/history": {
      "get": {
        "tags": [
          "Keyword Metrics by App"
        ],
        "operationId": "keywordAppMetricsRankingsHistory",
        "summary": "Keyword Metrics by App — History: rank",
        "description": "One app's rank for a keyword over time.",
        "x-credit-cost": 6,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "name": "period",
            "in": "query",
            "description": "Window to report. Defaults to `month`.",
            "schema": {
              "type": "string",
              "enum": [
                "week",
                "month",
                "year"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.318,
                        "cache": false,
                        "count": 471
                      },
                      "data": {
                        "history": [
                          {
                            "time_plot": "2025-02-07",
                            "rank": 7
                          },
                          {
                            "time_plot": "2025-02-13",
                            "rank": 7
                          },
                          {
                            "time_plot": "2025-02-14",
                            "rank": 7
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/metrics/rankings/worldwide": {
      "get": {
        "tags": [
          "Keyword Metrics by App"
        ],
        "operationId": "keywordAppMetricsRankingsWorldwide",
        "summary": "Keyword Metrics by App — Worldwide ranks",
        "description": "One app's rank for a keyword in every country at once.",
        "x-credit-cost": 12,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Cache"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.115,
                        "cache": true,
                        "count": 52
                      },
                      "data": {
                        "ranks": [
                          {
                            "country_id": "CH",
                            "rank": 6,
                            "refreshed_at": "2026-09-17",
                            "score": 63
                          },
                          {
                            "country_id": "NZ",
                            "rank": 14,
                            "refreshed_at": "2026-09-17",
                            "score": 5
                          },
                          {
                            "country_id": "PH",
                            "rank": 14,
                            "refreshed_at": "2026-09-17",
                            "score": 5
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/top-apps": {
      "get": {
        "tags": [
          "Keyword Search"
        ],
        "operationId": "keywordTopApps",
        "summary": "Keyword Search — Current",
        "description": "The apps that rank highest for a keyword — the search results a user sees. Use it to find the incumbents for a keyword.",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.221,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "top_apps": [
                          {
                            "package": "com.google.android.apps.dynamite",
                            "title": "Google Chat",
                            "developer": "Google LLC",
                            "icon": "https://play-lh.googleusercontent.com/MfBDUGFOSiROvn2EpD2pPby2z-PwpXqX3QHfCfpaz_0_U1o6mJQxGLW0WrlLo847MvxDqo5fEF4MG2pzBbu9rw",
                            "rank": 1,
                            "refreshed_at": "2026-09-17"
                          },
                          {
                            "package": "com.openai.chatgpt",
                            "title": "ChatGPT",
                            "developer": "OpenAI",
                            "icon": "https://play-lh.googleusercontent.com/T9J8e9oxxPd600j_KPM4KK2GHfNpUpGBdTy8lHPXBXpOUfGusRuZXj0UMgFNrP8we6LVt9V-AibEgcLootE6VK4",
                            "rank": 2,
                            "refreshed_at": "2026-09-17"
                          },
                          {
                            "package": "com.snapchat.android",
                            "title": "Snapchat",
                            "developer": "Snap Inc",
                            "icon": "https://play-lh.googleusercontent.com/nOJWJoDAzuRSHmlFfpzHXAj8UbTJwk_JGYf0uAPTKPtiiIX_2Y7r5ATO1ZtxHRqaFTqfIDZ40PnBK4hukeJh",
                            "rank": 3,
                            "refreshed_at": "2026-09-17"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/suggestions": {
      "get": {
        "tags": [
          "Keyword Suggestions"
        ],
        "operationId": "keywordSuggestions",
        "summary": "Keyword Suggestions — Related",
        "description": "Expand a seed keyword into related keywords for one store and country.",
        "x-credit-cost": 5,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.493,
                        "cache": false,
                        "count": 9
                      },
                      "data": {
                        "suggest": {
                          "0": {
                            "keyword": "snapchat",
                            "sap": 97
                          },
                          "1": {
                            "keyword": ": chatgpt",
                            "sap": 90
                          },
                          "2": {
                            "keyword": "chatgpt",
                            "sap": 88
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/suggestions/worldwide": {
      "get": {
        "tags": [
          "Keyword Suggestions"
        ],
        "operationId": "keywordSuggestionsWorldwide",
        "summary": "Keyword Suggestions — Worldwide",
        "description": "Related keywords with their popularity across all markets, without picking a store or country. The cheap first pass before narrowing down.",
        "x-credit-cost": 10,
        "parameters": [
          {
            "$ref": "#/components/parameters/Keyword"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.047,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "keywords": [
                          {
                            "keyword": "chat gpt",
                            "sap": 94
                          },
                          {
                            "keyword": "chatgpt",
                            "sap": 93
                          },
                          {
                            "keyword": "chat gpt gratuit",
                            "sap": 77
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/suggestions": {
      "get": {
        "tags": [
          "Keyword Suggestions by App"
        ],
        "operationId": "keywordAppSuggestions",
        "summary": "Keyword Suggestions by App — Recommended",
        "description": "The keywords one app is recommended for / already ranks on.",
        "x-credit-cost": 6,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.691,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "recommended_keywords": [
                          {
                            "sap": 100,
                            "rank": 17,
                            "refreshed_at": "2026-09-16",
                            "package": "com.discord",
                            "keyword": "ınstagram"
                          },
                          {
                            "sap": 97,
                            "rank": 14,
                            "refreshed_at": "2026-09-16",
                            "package": "com.discord",
                            "keyword": "snapchat"
                          },
                          {
                            "sap": 95,
                            "rank": 6,
                            "refreshed_at": "2026-09-17",
                            "package": "com.discord",
                            "keyword": "reddit"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/competitors": {
      "get": {
        "tags": [
          "Keyword Suggestions by App"
        ],
        "operationId": "keywordAppCompetitors",
        "summary": "Keyword Suggestions by App — Competitors",
        "description": "Keywords this app's competitors rank for, with popularity and this app's own rank where it has one. The gaps rivals own and you do not.",
        "x-credit-cost": 6,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Package"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 2.48,
                        "cache": false,
                        "count": 2
                      },
                      "data": {
                        "competitor_keywords": [
                          {
                            "keyword": "ınstagram",
                            "sap": 100,
                            "rank": 17,
                            "refreshed_at": "2026-09-16"
                          },
                          {
                            "keyword": "instagram",
                            "sap": 100,
                            "rank": null,
                            "refreshed_at": "2026-09-17"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/keywords/app/overlap": {
      "get": {
        "tags": [
          "Keyword Suggestions by App"
        ],
        "operationId": "keywordAppOverlap",
        "summary": "Keyword Suggestions by App — Overlap",
        "description": "Given a set of apps, the keywords they compete on — each with its popularity and every app's rank for it. A head-to-head comparison across a competitor set.",
        "x-credit-cost": 7,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/Packages"
          },
          {
            "name": "min_rank",
            "in": "query",
            "description": "Only keywords an app ranks at least this high for.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "min_sap",
            "in": "query",
            "description": "Only keywords with at least this popularity (0-100).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_apps",
            "in": "query",
            "description": "Only keywords at least this many of the apps rank for.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 1.319,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "competitor_keywords": [
                          {
                            "keyword": "ınstagram",
                            "sap": 100,
                            "packages": [
                              {
                                "package": "com.discord",
                                "rank": 17,
                                "refreshed_at": "2026-09-16"
                              },
                              {
                                "package": "com.spotify.music",
                                "rank": 22,
                                "refreshed_at": "2026-09-16"
                              }
                            ]
                          },
                          {
                            "keyword": "snapchat",
                            "sap": 97,
                            "packages": [
                              {
                                "package": "com.discord",
                                "rank": 14,
                                "refreshed_at": "2026-09-16"
                              },
                              {
                                "package": "com.spotify.music",
                                "rank": 30,
                                "refreshed_at": "2026-09-16"
                              }
                            ]
                          },
                          {
                            "keyword": "spotify",
                            "sap": 89,
                            "packages": [
                              {
                                "package": "com.spotify.music",
                                "rank": 1,
                                "refreshed_at": "2026-09-16"
                              },
                              {
                                "package": "com.discord",
                                "rank": 44,
                                "refreshed_at": "2026-09-14"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/generate/keywords": {
      "post": {
        "tags": [
          "Generation"
        ],
        "operationId": "generateKeywords",
        "summary": "Generation — Keywords",
        "description": "Generate a keyword list for an app from its own store listing, each scored with popularity and the app's current rank where it has one.",
        "x-credit-cost": 12,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "package"
                ],
                "properties": {
                  "package": {
                    "type": "string",
                    "example": "com.discord"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  },
                  "limit": {
                    "type": "integer",
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 1.469,
                        "cache": false,
                        "count": 10
                      },
                      "data": {
                        "keywords": [
                          {
                            "keyword": "discord",
                            "sap": 87,
                            "rank": 1,
                            "refreshed_at": "2026-09-17"
                          },
                          {
                            "keyword": "video chat",
                            "sap": 62,
                            "rank": null,
                            "refreshed_at": null
                          },
                          {
                            "keyword": "friends",
                            "sap": 54,
                            "rank": 116,
                            "refreshed_at": "2026-09-16"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/generate/app-metadata": {
      "post": {
        "tags": [
          "Generation"
        ],
        "operationId": "generateAppMetadata",
        "summary": "Generation — Metadata",
        "description": "Rewrite a store listing — title, short and long description — optimised for the keywords you pass. Takes the current copy directly, so you can iterate on drafts.",
        "x-credit-cost": 15,
        "parameters": [
          {
            "$ref": "#/components/parameters/Store"
          },
          {
            "$ref": "#/components/parameters/Country"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "description"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "category_tag": {
                    "type": "string",
                    "description": "Category tag from `/resources/categories`.",
                    "example": "BUSINESS"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  },
                  "keywords": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    }
                  },
                  "competitors": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 5.597,
                        "cache": false,
                        "count": 1
                      },
                      "data": {
                        "metadata": {
                          "appstore": "google_play",
                          "country": "US",
                          "language": "English",
                          "title": "Discord - Talk, Video Chat",
                          "short_description": "Talk, video chat, and hang out with friends and communities on Discord.",
                          "long_description": "Staying connected should be simple. Whether you want voice chat, video chat, or instant messages, finding the right place to talk and hang out can take time. Discord makes it easy to join conversations, meet new people, and keep your communities active—all in one app.\n\nDiscord is the easiest way to communicate with voice, video, and text. Create servers, hop into channels, and stay in sync with friends and groups whenever you want. Voice and video are built for real-time conversation, while chat keeps everything organized between calls.\n\nKEY BENEFITS\n\n1) Voice and video for real conversations\nUse Discord’s voice chat and video chat to talk naturally, coordinate quickly, and feel present with your community. Jump in fast, stay connected, and enjoy smoother hangouts—whether you’re catching up or planning something new.\n\n2) Text chat that keeps discussions organized\nDiscord supports chat across channels so conversations don’t get lost. Share updates, links, and messages right where people expect them. When you’re between voice or video moments, chat helps keep the momentum going.\n\n3) Community spaces for every interest\nHang out with your communities and friends in dedicated spaces. Build your own server or join groups that match your interests, then participate through voice, video, and text channels.\n\n4) Built for everyday connection\nDiscord works the way people actually communicate—drop into a conversation, respond to messages, and switch between voice chat, video chat, and text without the hassle of complicated setups.\n\n5) Easy to start, easy to join\nWhether you’re creating a new server or joining an existing one, Discord helps you get started quickly. Find your people, join the right channels, and start talking and hanging out right away.\n\nCOMMON USE CASES\n\n- Friends night in: connect for voice chat or video chat, then keep the conversation going in text.\n- Community meetups: coordinate plans, announcements, and discussions in one place.\n- Study groups and work sessions: keep communication clear with voice chat and organized text channels.\n- Gaming and shared interests: join servers and hang out with others through voice, video chat, and chat.\n- New connections: discover communities and start conversations with ease.\n\nTRUST-BUILDING & PRIVACY-FOCUSED EXPERIENCE\nDiscord is designed to help you manage your online experience in a structured way—using channels and communities to keep conversations organized. You can choose where you participate and how you engage, whether you prefer text, voice chat, or video chat.\n\nCTA\nDownload Discord now to talk, video chat, and hang out with friends and communities. Join a server, start a conversation, and experience how easy it is to keep connected—on your schedule."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/resources/countries": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "operationId": "listCountries",
        "summary": "Reference Data — Countries",
        "description": "Supported countries and their settings.",
        "x-credit-cost": 0,
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreOptional"
          },
          {
            "$ref": "#/components/parameters/CountryOptional"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "name": "support_level",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                5
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
                      "meta": {
                        "exec_time": 0.025,
                        "cache": false,
                        "count": 235
                      },
                      "data": {
                        "countries": [
                          {
                            "id": "US",
                            "name": "United States",
                            "name_native": "United States of America",
                            "language_id": "en",
                            "tier": 1,
                            "languages": [
                              {
                                "id": "en",
                                "name": "English"
                              },
                              {
                                "id": "es",
                                "name": "Spanish"
                              }
                            ],
                            "locales": [
                              {
                                "locale": "en_US"
                              },
                              {
                                "locale": "en_ES"
                              }
                            ],
                            "settings": [
                              {
                                "appstore_id": 1,
                                "support_level": 5,
                                "is_active": true
                              },
                              {
                                "appstore_id": 2,
                                "support_level": 5,
                                "is_active": true
                              }
                            ],
                            "position": 10
                          },
                          {
                            "id": "AU",
                            "name": "Australia",
                            "name_native": "Australia",
                            "language_id": "en",
                            "tier": 1,
                            "languages": [
                              {
                                "id": "en",
                                "name": "English"
                              }
                            ],
                            "locales": [
                              {
                                "locale": "en_AU"
                              }
                            ],
                            "settings": [
                              {
                                "appstore_id": 1,
                                "support_level": 5,
                                "is_active": true
                              },
                              {
                                "appstore_id": 2,
                                "support_level": 5,
                                "is_active": true
                              }
                            ],
                            "position": 5
                          },
                          {
                            "id": "BR",
                            "name": "Brazil",
                            "name_native": "Brasil",
                            "language_id": "pt",
                            "tier": 1,
                            "languages": [
                              {
                                "id": "pt",
                                "name": "Portuguese"
                              }
                            ],
                            "locales": [
                              {
                                "locale": "pt_BR"
                              }
                            ],
                            "settings": [
                              {
                                "appstore_id": 1,
                                "support_level": 5,
                                "is_active": true
                              },
                              {
                                "appstore_id": 2,
                                "support_level": 5,
                                "is_active": true
                              }
                            ],
                            "position": 5
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/resources/categories": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "operationId": "listCategories",
        "summary": "Reference Data — Categories",
        "description": "Category and chart tags valid for a store.",
        "x-credit-cost": 0,
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "status": 200,
[...]
