{
  "openapi": "3.1.0",
  "info": {
    "title": "Quantora API",
    "version": "0.1.0",
    "description": "Raw-first, derived-ready financial data infrastructure API.",
    "x-jentic-source-url": "https://api.financialdatapi.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.financialdatapi.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service health"
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "getReady",
        "summary": "Readiness check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service readiness"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenapiJson",
        "summary": "OpenAPI document",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "LLM documentation index",
        "description": "Compact, sectioned index of the API for LLM agents (text/plain). No API key required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Agent-facing API index"
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "operationId": "getLlmsFullTxt",
        "summary": "LLM full API reference",
        "description": "Full machine-readable endpoint reference with parameters for LLM agents (text/plain). No API key required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Full agent-facing API reference"
          }
        }
      }
    },
    "/entities": {
      "get": {
        "operationId": "getEntities",
        "summary": "List entities",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/entities/resolve": {
      "get": {
        "operationId": "getEntitiesResolve",
        "summary": "Resolve entity by alias",
        "responses": {
          "200": {
            "description": "Resolved entity and matched alias",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{idOrSlug}": {
      "get": {
        "operationId": "getEntitiesByIdOrSlug",
        "summary": "Get entity",
        "responses": {
          "200": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/entities/{idOrSlug}/aliases": {
      "get": {
        "operationId": "getEntitiesByIdOrSlugAliases",
        "summary": "List entity aliases",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aliases registered for an entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/entities/{entityId}/observations": {
      "get": {
        "operationId": "getEntitiesByEntityIdObservations",
        "summary": "List entity observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicatorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Alias of indicator_id, accepting a canonical field name, a storage indicator id, or an indicator slug. A value matching none of those returns an empty result — it is never ignored — and an empty value is rejected with 400."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "macro"
              ]
            }
          },
          {
            "name": "numericOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "numeric_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "importance",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "stale",
                "unknown"
              ],
              "description": "Filters by the SERIES' current freshness verdict: fresh returns rows of series whose latest print is within its cadence budget now, stale of series whose latest print has aged past it, unknown of series that cannot be assessed. Note the deliberate asymmetry with the per-row freshnessStatus field, which describes each row (a 1950 print of a healthy series computes stale as a row while its series — and therefore this filter — is fresh). Cannot be combined with as_of/since/date filters on latest routes: freshness is evaluated against now, a temporal filter against a past instant."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time lower bound on observed_at."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time upper bound on observed_at."
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}(-(0[1-9]|1[0-2]|[Qq][1-4]))?$",
              "description": "Period-time convenience filter: YYYY, YYYY-MM, or YYYY-Qn."
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time lower bound on period_end."
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time upper bound on period_end."
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Knowledge-time vintage cutoff; returns latest vintage known on or before this timestamp."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preferred",
                "all"
              ],
              "default": "preferred",
              "description": "How to handle a period carried by more than one data provider. 'preferred' (the default) returns one provider per (entity, indicator, frequency, period) — the publisher closest to the measurement — so a series carried by two publishers is not returned twice. 'all' returns every provider's row. A period carried by only one provider is unaffected either way, and this filter is ignored when source_id or provider_id is set."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity observations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/entities/{entityId}/derived-observations": {
      "get": {
        "operationId": "getEntitiesByEntityIdDerivedObservations",
        "summary": "List entity derived observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Derived indicator id or slug. Accepts a comma-separated list."
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Derived indicator id or slug."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preferred",
                "all"
              ],
              "default": "preferred",
              "description": "See /observations: 'preferred' returns one provider per (entity, indicator, frequency, period), 'all' returns every provider's row."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Derived analytics for one entity, each carrying its derivedFrom input lineage",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DerivedObservation"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "List countries",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/countries/{idOrIso}": {
      "get": {
        "operationId": "getCountriesByIdOrIso",
        "summary": "Get country",
        "responses": {
          "200": {
            "description": "Country",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/countries/{idOrIso}/available-indicators": {
      "get": {
        "operationId": "getCountriesByIdOrIsoAvailableIndicators",
        "summary": "List country indicators",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicators with publicly displayable observations for a country, plus explicitly modelled internal-only derived series carrying availability and availabilityReason; genuinely empty or rights-gated raw series are omitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "getCompanies",
        "summary": "List scored companies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scored fundamentals universe (S&P 500 ∪ Nasdaq-100) with sector/industry classification inline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/companies/{idOrLookup}": {
      "get": {
        "operationId": "getCompaniesByIdOrLookup",
        "summary": "Get company",
        "responses": {
          "200": {
            "description": "Company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/companies/{idOrLookup}/profile": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupProfile",
        "summary": "Get company profile",
        "responses": {
          "200": {
            "description": "Company profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/companies/{idOrLookup}/financials": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupFinancials",
        "summary": "Get company financial statements",
        "responses": {
          "200": {
            "description": "Structured income, balance-sheet, and cash-flow statements assembled from SEC XBRL fundamentals. Missing quarterly revenue, net income, diluted EPS and diluted weighted-average shares are supplemented from supported original GAAP earnings releases; filed values take precedence. Supplemented statements expose actuals_basis=includes_earnings_release and earnings_release_source_url. Release values obey the as_of publication cutoff and never fill annual fields. Operating income/expenses may be derived from complete same-context accounting identities; unsupported or non-comparable issuer definitions remain missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly"
              ],
              "description": "Restrict to a reporting frequency."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 8,
              "description": "Statements per type, newest first."
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Knowledge-time vintage cutoff; statements are assembled from the latest vintage known on or before this timestamp."
            }
          }
        ]
      }
    },
    "/companies/{idOrLookup}/filings": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupFilings",
        "summary": "List company SEC filings",
        "responses": {
          "200": {
            "description": "Recent SEC filings for one company from the stored filing-event stream (no live EDGAR call): accession number, form, filing/report dates, primary document, 8-K item codes, source URL, and linked event labels. Full filing history is available on every plan — filing inventory is public-domain metadata, so the free-plan history clamp deliberately does not apply here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Exact form filter, e.g. 8-K, 10-K, 10-Q."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20,
              "description": "Filings returned, newest first."
            }
          }
        ]
      }
    },
    "/companies/{idOrLookup}/filings/{accessionNumber}/items": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupFilingsByAccessionNumberItems",
        "summary": "Get SEC filing item text",
        "responses": {
          "200": {
            "description": "The text of a filing's sections (items), split from the EDGAR primary document at request time. Exhibit-aware for 8-K: the furnished EX-99 press-release text is attached to the earnings/disclosure item. accessionNumber accepts dashed or undashed form, or the literal 'latest' with the form query parameter. Own per-plan rate limit. Returns the single 503 error code filing_fetch_unavailable whenever the EDGAR fetch cannot complete — EDGAR unreachable, a document over the 20 MB response-size cap, a saturated EDGAR pacing queue, or the request's overall time budget exhausted before the primary document was fetched (the message names the specific reason). If time runs out during EXHIBIT retrieval the response still succeeds with the parsed items, exhibits_truncated: true on the affected item, and a top-level warning string.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "item",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Item code filter, comma-separable and repeatable. Canonical codes: 8-K '2.02'; 10-K '1A'; 10-Q part-qualified 'p2-1a'. Competitor-style spellings ('Item-1A', 'Item 2.02', 'part2item1a') are normalized."
            }
          },
          {
            "name": "include_exhibits",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "8-K only: attach EX-99 exhibit text (earnings releases and other furnished/filed exhibits)."
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text"
              ],
              "default": "text",
              "description": "Only 'text' is supported; the raw HTML stays available at source_url."
            }
          },
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Required when accessionNumber is 'latest': the form to resolve (e.g. 8-K)."
            }
          }
        ]
      }
    },
    "/companies/{idOrLookup}/insider-trades": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupInsiderTrades",
        "summary": "Get company insider trades",
        "responses": {
          "200": {
            "description": "Structured SEC Form 3/4/5 insider transactions — insider identity and role, transaction code and label, shares, price, signed USD value, post-transaction holdings — with accession number and filing URL provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "description": "Trades returned, after filters."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Lower bound on the transaction date."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Upper bound on the transaction date."
            }
          },
          {
            "name": "transaction_code",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Single SEC transaction code filter, e.g. P (purchase), S (sale), A (grant), M (option exercise)."
            }
          },
          {
            "name": "include_derivative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "Include Table II derivative-security transactions."
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Sort by transaction date."
            }
          }
        ]
      }
    },
    "/companies/{idOrLookup}/earnings": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupEarnings",
        "summary": "Get company earnings actuals",
        "responses": {
          "200": {
            "description": "Quarterly/annual earnings actuals from SEC XBRL fundamentals. For supported original 8-K consolidated GAAP tables, scheduled ingestion also extracts quarterly release actuals before the 10-Q arrives. Unsupported layouts and currencies remain missing. currency identifies the denomination; actuals_basis is companyfacts, earnings_release, or mixed. Filed fundamentals take precedence. Release actuals are gated by EDGAR acceptance time. Fundamentals are joined to the 8-K Item 2.02 earnings-release filing that announced each period (announced_at = EDGAR acceptance timestamp, falling back to END of the filing date — 23:59:59.999Z — when no acceptance timestamp is known, so an intraday as_of is never optimistic; filing_lag_days = period_end to the EDGAR filing date). eps_basis marks whether EPS is the reported EarningsPerShareDiluted XBRL tag ('reported') or derived as net_income / diluted shares ('computed'). Announcement matching heuristic: periods are matched oldest-first to the earliest original Item 2.02 filing (8-K/A amendments are excluded) whose filing date falls in the window (period_end, min(period_end + 120 days, next reported period_end)]; each filing matches at most one period, and periods with no filing in the window return null announcement fields. Analyst estimates are NOT included — this surface serves actuals with explicit knowledge-time semantics only. With as_of set, rows whose XBRL knowledge time (10-Q/10-K filed date) exceeds the cutoff are excluded exactly like /financials, and announcements accepted after the cutoff are hidden — the response never leaks figures that were not knowable at as_of.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly"
              ],
              "default": "quarterly",
              "description": "Reporting frequency."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 8,
              "description": "Periods returned, newest first."
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Knowledge-time cutoff (ISO date or timestamp): earnings as they were knowable on that date, with filing-date precision for companyfacts; complete derived-metric restatement history is not guaranteed."
            }
          }
        ]
      }
    },
    "/companies/{idOrLookup}/institutional-ownership": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupInstitutionalOwnership",
        "summary": "Get company institutional ownership",
        "responses": {
          "200": {
            "description": "SEC Form 13F positions in this company across the tracked manager roster — filer name and CIK, report quarter, position market value USD, shares, share class, put/call flag — with accession number and filing URL provenance. Defaults to each filer's latest reported quarter; coverage is the curated 25-filer roster from /institutional-ownership/filers, not the full 13F universe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "quarter",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([12]\\d{3}[^0-9Qq]?[Qq][1-4]|[Qq][1-4][^0-9Qq]?[12]\\d{3}|[1-4][Qq][^0-9Qq]?[12]\\d{3})$",
              "description": "Calendar report quarter. Accepts 2026Q1, 2026q1, Q1 2026, 1Q2026, and 2026-Q2 spellings (separators are ignored); normalized to YYYYQn. Omit for each filer's latest available quarter."
            }
          },
          {
            "name": "filer",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Manager filter: case-insensitive substring of the filer name ('berkshire') or exact SEC CIK ('0001067983')."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "description": "Holdings returned, after filters."
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Sort by position market value."
            }
          }
        ]
      }
    },
    "/institutional-ownership/filers": {
      "get": {
        "operationId": "getInstitutionalOwnershipFilers",
        "summary": "List tracked 13F filers",
        "responses": {
          "200": {
            "description": "The curated 25-manager roster the 13F pipeline ingests (name and CIK) with its coverage note: quarterly 13F-HR ingestion, ~45-day filing lag, amendment-aware, not the full 13F universe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/companies/{idOrLookup}/beneficial-ownership-events": {
      "get": {
        "operationId": "getCompaniesByIdOrLookupBeneficialOwnershipEvents",
        "summary": "List company beneficial-ownership events",
        "responses": {
          "200": {
            "description": "The company's SC 13D/13G filing history from the stored filing-event stream (no live EDGAR call), newest first. SC 13D marks active intent to influence control (is_activist: true); SC 13G is a passive stake; amendments (/A) are flagged separately.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "13d",
                "13g"
              ],
              "description": "Restrict to the 13D or 13G family; amendments are matched automatically."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Lower bound on the filing date."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Upper bound on the filing date."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "description": "Events returned, newest first."
            }
          }
        ]
      }
    },
    "/activist-events": {
      "get": {
        "operationId": "getActivistEvents",
        "summary": "List recent activist events",
        "responses": {
          "200": {
            "description": "Cross-company activist-watch feed: recent SC 13D filings (active intent to influence control; passive 13G stakes are excluded), newest first, with the issuer's ticker, entity id, and company name resolved from the event's entity. Deliberate trade-off: this feed is not subject to the free-plan history-depth clamp — a caller-supplied 'since' can reach arbitrarily far back on any plan, because recency-focused cross-company visibility is the product here and the underlying filing metadata is public-domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Lower bound on the filing date; defaults to 90 days back."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "description": "Events returned, newest first."
            }
          }
        ]
      }
    },
    "/instruments": {
      "get": {
        "operationId": "getInstruments",
        "summary": "List instruments",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instruments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/instruments/{idOrLookup}": {
      "get": {
        "operationId": "getInstrumentsByIdOrLookup",
        "summary": "Get instrument",
        "responses": {
          "200": {
            "description": "Instrument",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/indicators": {
      "get": {
        "operationId": "getIndicators",
        "summary": "List indicators",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/canonical-indicators": {
      "get": {
        "operationId": "getCanonicalIndicators",
        "summary": "List canonical indicators",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quantora public indicator catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/packages": {
      "get": {
        "operationId": "getPackages",
        "summary": "List product packages",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product packages grouping the catalogue into documented families, each with status and indicator/route counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/packages/{packageId}": {
      "get": {
        "operationId": "getPackagesByPackageId",
        "summary": "Get product package",
        "responses": {
          "200": {
            "description": "Package detail including its indicator ids, routes and docs page slugs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/indicators/{idOrSlug}": {
      "get": {
        "operationId": "getIndicatorsByIdOrSlug",
        "summary": "Get indicator",
        "responses": {
          "200": {
            "description": "Indicator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/indicators/{idOrSlug}/aliases": {
      "get": {
        "operationId": "getIndicatorsByIdOrSlugAliases",
        "summary": "List indicator aliases",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical, legacy, and provider-native indicator aliases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/indicators/{idOrSlug}/series": {
      "get": {
        "operationId": "getIndicatorsByIdOrSlugSeries",
        "summary": "List indicator series",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider/entity series for an indicator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/indicators/{idOrSlug}/entities": {
      "get": {
        "operationId": "getIndicatorsByIdOrSlugEntities",
        "summary": "List indicator entities",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities with observations for an indicator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/indicators/{indicatorId}/observations": {
      "get": {
        "operationId": "getIndicatorsByIndicatorIdObservations",
        "summary": "List indicator observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicatorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Alias of indicator_id, accepting a canonical field name, a storage indicator id, or an indicator slug. A value matching none of those returns an empty result — it is never ignored — and an empty value is rejected with 400."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "macro"
              ]
            }
          },
          {
            "name": "numericOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "numeric_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "importance",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "stale",
                "unknown"
              ],
              "description": "Filters by the SERIES' current freshness verdict: fresh returns rows of series whose latest print is within its cadence budget now, stale of series whose latest print has aged past it, unknown of series that cannot be assessed. Note the deliberate asymmetry with the per-row freshnessStatus field, which describes each row (a 1950 print of a healthy series computes stale as a row while its series — and therefore this filter — is fresh). Cannot be combined with as_of/since/date filters on latest routes: freshness is evaluated against now, a temporal filter against a past instant."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time lower bound on observed_at."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time upper bound on observed_at."
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}(-(0[1-9]|1[0-2]|[Qq][1-4]))?$",
              "description": "Period-time convenience filter: YYYY, YYYY-MM, or YYYY-Qn."
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time lower bound on period_end."
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time upper bound on period_end."
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Knowledge-time vintage cutoff; returns latest vintage known on or before this timestamp."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preferred",
                "all"
              ],
              "default": "preferred",
              "description": "How to handle a period carried by more than one data provider. 'preferred' (the default) returns one provider per (entity, indicator, frequency, period) — the publisher closest to the measurement — so a series carried by two publishers is not returned twice. 'all' returns every provider's row. A period carried by only one provider is unaffected either way, and this filter is ignored when source_id or provider_id is set."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator observations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/derived-indicators": {
      "get": {
        "operationId": "getDerivedIndicators",
        "summary": "List derived indicators",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalogue of analytics Quantora computes rather than sources: what each one is, its unit and cadence, the input series it is derived from, and how many entities it covers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DerivedIndicatorCatalogueEntry"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/derived-indicators/{idOrSlug}": {
      "get": {
        "operationId": "getDerivedIndicatorsByIdOrSlug",
        "summary": "Get derived indicator",
        "responses": {
          "200": {
            "description": "One derived indicator, including the full list of entities it is available for. Accepts the prefixed id or the bare slug",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ItemEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DerivedIndicatorCatalogueEntry"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/derived-indicators/{idOrSlug}/entities": {
      "get": {
        "operationId": "getDerivedIndicatorsByIdOrSlugEntities",
        "summary": "List derived indicator entities",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entities a derived indicator is available for, paginated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DerivedIndicatorEntity"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/derived-indicators/{idOrSlug}/observations": {
      "get": {
        "operationId": "getDerivedIndicatorsByIdOrSlugObservations",
        "summary": "List derived indicator observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Derived indicator id or slug. Accepts a comma-separated list."
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Derived indicator id or slug."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preferred",
                "all"
              ],
              "default": "preferred",
              "description": "See /observations: 'preferred' returns one provider per (entity, indicator, frequency, period), 'all' returns every provider's row."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observations of one derived indicator, each carrying its derivedFrom input lineage",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DerivedObservation"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/sources": {
      "get": {
        "operationId": "getSources",
        "summary": "List sources",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/sources/{sourceId}": {
      "get": {
        "operationId": "getSourcesBySourceId",
        "summary": "Get source",
        "responses": {
          "200": {
            "description": "Source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "operationId": "getProviders",
        "summary": "List providers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/providers/{providerId}": {
      "get": {
        "operationId": "getProvidersByProviderId",
        "summary": "Get provider",
        "responses": {
          "200": {
            "description": "Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/observations/changes": {
      "get": {
        "operationId": "getObservationsChanges",
        "summary": "List changed observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicatorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Alias of indicator_id, accepting a canonical field name, a storage indicator id, or an indicator slug. A value matching none of those returns an empty result — it is never ignored — and an empty value is rejected with 400."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "macro"
              ]
            }
          },
          {
            "name": "numericOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "numeric_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "importance",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "stale",
                "unknown"
              ],
              "description": "Filters by the SERIES' current freshness verdict: fresh returns rows of series whose latest print is within its cadence budget now, stale of series whose latest print has aged past it, unknown of series that cannot be assessed. Note the deliberate asymmetry with the per-row freshnessStatus field, which describes each row (a 1950 print of a healthy series computes stale as a row while its series — and therefore this filter — is fresh). Cannot be combined with as_of/since/date filters on latest routes: freshness is evaluated against now, a temporal filter against a past instant."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time lower bound on observed_at."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time upper bound on observed_at."
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}(-(0[1-9]|1[0-2]|[Qq][1-4]))?$",
              "description": "Period-time convenience filter: YYYY, YYYY-MM, or YYYY-Qn."
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time lower bound on period_end."
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time upper bound on period_end."
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Knowledge-time vintage cutoff; returns latest vintage known on or before this timestamp."
            }
          },
          {
            "name": "sources",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preferred",
                "all"
              ],
              "default": "preferred",
              "description": "How to handle a period carried by more than one data provider. 'preferred' (the default) returns one provider per (entity, indicator, frequency, period) — the publisher closest to the measurement — so a series carried by two publishers is not returned twice. 'all' returns every provider's row. A period carried by only one provider is unaffected either way, and this filter is ignored when source_id or provider_id is set."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public observations changed since a timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PublicObservation"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/observations": {
      "get": {
        "operationId": "getObservations",
        "summary": "List public observations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicatorId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Alias of indicator_id, accepting a canonical field name, a storage indicator id, or an indicator slug. A value matching none of those returns an empty result — it is never ignored — and an empty value is rejected with 400."
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual",
                "event",
                "static"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "macro"
              ]
            }
          },
          {
            "name": "numericOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "numeric_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "importance",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "medium",
                "high"
              ]
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "stale",
                "unknown"
              ],
              "description": "Filters by the SERIES' current freshness verdict: fresh returns rows of series whose latest print is within its cadence budget now, stale of series whose latest print has aged past it, unknown of series that cannot be assessed. Note the deliberate asymmetry with the per-row freshnessStatus field, which describes each row (a 1950 print of a healthy series computes stale as a row while its series — and therefore this filter — is fresh). Cannot be combined with as_of/since/date filters on latest routes: freshness is evaluated against now, a temporal filter against a past instant."
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time lower bound on observed_at."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Knowledge-time upper bound on observed_at."
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}(-(0[1-9]|1[0-2]|[Qq][1-4]))?$",
              "description": "Period-time convenience filter: YYYY, YYYY-MM, or YYYY-Qn."
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Period-time lower bound on period_end."
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
[...]
