{
  "openapi": "3.0.3",
  "info": {
    "title": "CompsAPI",
    "version": "1.4.0",
    "description": "Real eBay sold prices as JSON. Up to 3 years of history, real accepted Best Offer prices, and a trading card layer for graded cards and comps. Docs: https://compsapi.com/docs · Keys: https://app.compsapi.com",
    "contact": {
      "name": "CompsAPI support",
      "url": "https://app.compsapi.com/support",
      "email": "keys@compsapi.com"
    },
    "termsOfService": "https://compsapi.com/terms",
    "x-logo": {
      "url": "https://compsapi.com/apple-touch-icon.png",
      "altText": "CompsAPI"
    },
    "x-jentic-source-url": "https://api.compsapi.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.compsapi.com"
    }
  ],
  "paths": {
    "/v1/sold": {
      "get": {
        "summary": "Sold listings for a search, newest sale first",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/days"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/condition"
          },
          {
            "$ref": "#/components/parameters/best_offer"
          },
          {
            "$ref": "#/components/parameters/cards"
          },
          {
            "$ref": "#/components/parameters/grader"
          },
          {
            "$ref": "#/components/parameters/grade"
          },
          {
            "$ref": "#/components/parameters/graded"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/first_edition"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/stats"
          },
          {
            "name": "site",
            "in": "query",
            "description": "Pin one eBay marketplace. Default: US. One of US, UK, DE, FR, IT, ES, CA, AU.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "DE",
                "FR",
                "IT",
                "ES",
                "CA",
                "AU"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "eBay category id(s), comma separated, e.g. 31387 for wristwatches.",
            "schema": {
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Keep only sales at or above this sold price (applied to the returned page).",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Keep only sales at or below this sold price (applied to the returned page).",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sold listings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/comps": {
      "get": {
        "summary": "Price stats plus the 10 newest matching sales (card comps)",
        "description": "Searches the newest sales, removes junk listings, always parses the card layer, and returns stats plus the 10 newest matching sales. Not pageable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/days"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/condition"
          },
          {
            "$ref": "#/components/parameters/best_offer"
          },
          {
            "$ref": "#/components/parameters/grader"
          },
          {
            "$ref": "#/components/parameters/grade"
          },
          {
            "$ref": "#/components/parameters/graded"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/first_edition"
          },
          {
            "$ref": "#/components/parameters/exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats and newest sales.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Usage for the current UTC day (does not count against limits)",
        "responses": {
          "200": {
            "description": "Usage counters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "day_utc": {
                      "type": "string"
                    },
                    "used": {
                      "type": "integer"
                    },
                    "daily_cap": {
                      "type": "integer"
                    },
                    "trial_hours": {
                      "type": "integer",
                      "nullable": true
                    },
                    "trial_started": {
                      "type": "string",
                      "nullable": true
                    },
                    "expires": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "summary": "Service status",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "q": {
        "name": "q",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "maxLength": 300
        },
        "description": "Search terms. eBay matches every word in the title."
      },
      "days": {
        "name": "days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1095,
          "default": 90
        },
        "description": "How far back to search, up to 3 years."
      },
      "size": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 10,
          "maximum": 240,
          "default": 200
        },
        "description": "Results per page."
      },
      "condition": {
        "name": "condition",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "new, open_box, refurbished, used or parts. Comma separate to combine."
      },
      "best_offer": {
        "name": "best_offer",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "only",
            "verify"
          ]
        },
        "description": "1 adds the best_offer flag with real accepted prices; only returns accepted offers exclusively; verify also reads the public sold page and adds best_offer_confidence, asking_price and asking_gap_pct, because eBay's own accepted offer filter misses some negotiated sales."
      },
      "cards": {
        "name": "cards",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "1"
          ]
        },
        "description": "Adds the card object to every item without filtering."
      },
      "grader": {
        "name": "grader",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "PSA, BGS, CGC, SGC, TAG, ACE and others. Comma separate to combine."
      },
      "grade": {
        "name": "grade",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Grade as text, e.g. 10 or 9.5. Comma separate to combine."
      },
      "graded": {
        "name": "graded",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "description": "Only slabs, or only raw cards."
      },
      "lang": {
        "name": "lang",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "en, ja, zh, ko, de, fr, it, es, pt. Comma separate to combine."
      },
      "first_edition": {
        "name": "first_edition",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        }
      },
      "exclude": {
        "name": "exclude",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Flags to drop, e.g. junk or lot,sealed. none keeps everything."
      },
      "stats": {
        "name": "stats",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "1"
          ]
        },
        "description": "Adds price stats for the filtered results."
      }
    },
    "schemas": {
      "Card": {
        "type": "object",
        "properties": {
          "graded": {
            "type": "boolean",
            "nullable": true
          },
          "grader": {
            "type": "string",
            "nullable": true
          },
          "grade": {
            "type": "string",
            "nullable": true
          },
          "grade_label": {
            "type": "string",
            "nullable": true
          },
          "card_number": {
            "type": "string",
            "nullable": true
          },
          "year": {
            "type": "integer",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "first_edition": {
            "type": "boolean",
            "nullable": true
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "last_sold": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "number",
            "description": "Average price actually paid per unit, USD. Accepted best offers show the real offer price."
          },
          "units_sold": {
            "type": "integer"
          },
          "total_sales": {
            "type": "number"
          },
          "format": {
            "type": "string",
            "enum": [
              "FIXED_PRICE",
              "AUCTION"
            ]
          },
          "bids": {
            "type": "integer"
          },
          "best_offer": {
            "type": "boolean",
            "nullable": true,
            "description": "Only present with the best_offer parameter. true means the sale was identified as an accepted offer; false means it was not identified as one, which is not the same as a full price sale."
          },
          "condition": {
            "type": "string",
            "description": "Only present with a single condition value."
          },
          "shipping_cost": {
            "type": "number",
            "nullable": true
          },
          "free_shipping_pct": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "best_offer_confidence": {
            "type": "string",
            "enum": [
              "confirmed",
              "likely",
              "unlikely",
              "unknown"
            ],
            "description": "Only with best_offer=verify. confirmed: eBay identifies the sale as an accepted offer. likely: the listing accepted offers and the sale closed materially below the asking price. unlikely: neither holds. unknown: the sale was not on the public pages we read, or another marketplace was pinned, so no comparison was possible."
          },
          "asking_price": {
            "type": "number",
            "nullable": true,
            "description": "Only with best_offer=verify. The price eBay's public sold page displays for this listing."
          },
          "asking_gap_pct": {
            "type": "number",
            "nullable": true,
            "description": "Only with best_offer=verify. How far the asking price sits above what the sale closed at, as a percentage of the amount paid. Negative when the public page reads low."
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "used_for_stats": {
            "type": "integer"
          },
          "median": {
            "type": "number"
          },
          "mean": {
            "type": "number"
          },
          "p25": {
            "type": "number"
          },
          "p75": {
            "type": "number"
          },
          "min": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "outliers_removed": {
            "type": "integer"
          },
          "newest_sale": {
            "type": "string",
            "format": "date-time"
          },
          "oldest_sale": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SoldResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "query": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "ms": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "no_results": {
            "type": "boolean"
          },
          "next_page": {
            "type": "boolean"
          },
          "days": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "cached": {
            "type": "boolean"
          },
          "cached_age_s": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "filters": {
            "type": "object"
          },
          "count_before_filters": {
            "type": "integer"
          },
          "stats": {
            "$ref": "#/components/schemas/Stats"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Missing or invalid parameter.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "bearer": []
    }
  ]
}