{
  "openapi": "3.1.0",
  "info": {
    "title": "Elaichi API",
    "version": "0.1.0",
    "description": "Control-plane HTTP API for Elaichi — the MCP control plane for SaaS teams. Every operation here is callable with an organization API token (or, on the MCP and OAuth surfaces, per the relevant protocol). Endpoints reached only by the Elaichi web app with a session cookie, by a browser redirect, by an inbound webhook, or by platform staff are deliberately not documented.",
    "x-jentic-source-url": "https://elaichi.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.elaichi.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "service": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Public liveness probe. Touches no storage, so a 200 means the worker is up, not that D1 is.",
        "security": []
      }
    },
    "/schema/openapi.json": {
      "get": {
        "operationId": "getOpenApiJson",
        "summary": "This OpenAPI document (JSON)",
        "tags": [
          "Schema"
        ],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The live specification for this deployment, public and unauthenticated. The OAuth discovery documents point here as their documentation URL.",
        "security": []
      }
    },
    "/schema/openapi.yml": {
      "get": {
        "operationId": "getOpenApiYaml",
        "summary": "This OpenAPI document (YAML)",
        "tags": [
          "Schema"
        ],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/yaml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The same document as `/schema/openapi.json`, served as YAML.",
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getRootOpenApiJson",
        "summary": "This OpenAPI document (JSON, root alias)",
        "tags": [
          "Schema"
        ],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Identical to `GET /schema/openapi.json`. Exists at this conventional path for tooling that looks for an OpenAPI document at the API origin without being told where it lives.",
        "security": []
      }
    },
    "/openapi.yaml": {
      "get": {
        "operationId": "getRootOpenApiYaml",
        "summary": "This OpenAPI document (YAML, root alias)",
        "tags": [
          "Schema"
        ],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/yaml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Identical to `GET /schema/openapi.yml`, at the conventional root path.",
        "security": []
      }
    },
    "/auth/saml/{connectionId}/metadata": {
      "get": {
        "operationId": "samlMetadata",
        "summary": "SAML SP metadata",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "SP metadata XML.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Service-provider metadata XML to hand to the IdP administrator when configuring a SAML connection created with `POST /sso-connection`. Public — no credential.",
        "security": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SSO connection id (`sso_…`)."
          }
        ]
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Current user bootstrap payload",
        "tags": [
          "Current user"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "mfa_enabled": {
                          "type": "boolean",
                          "description": "True when TOTP is active on this account."
                        },
                        "mfa_setup_required": {
                          "type": "boolean",
                          "description": "True when THIS session would be refused (`403 mfa_setup_required`) in at least one organization the user belongs to, because the organization requires a second factor and the session has not shown one. Always `false` for an API token. A client routes the person to second-factor setup on this rather than working out which organizations require one."
                        },
                        "mfa_setup_required_org_ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The organizations behind `mfa_setup_required`: a bounded page (at most 50), with the organization named by the `current_org_id` query parameter first when it is one of them. Not the whole set — `mfa_setup_required_org_count` is the true number; an organization not listed still refuses with `403 mfa_setup_required` when entered."
                        },
                        "mfa_setup_required_org_count": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "How many organizations refuse this session for lack of a second factor."
                        },
                        "can_disable_mfa": {
                          "type": "boolean",
                          "description": "`false` while an organization the user belongs to requires a second factor and they hold no passkey — turning the authenticator app off (`DELETE /user/me/mfa/totp`) is refused with `409 mfa_required_by_organization`. The reason is in `mfa_disable_blocked_reason`."
                        },
                        "mfa_disable_blocked_reason": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "A sentence saying why `can_disable_mfa` is `false`, or `null`."
                        },
                        "is_root_org_staff": {
                          "type": "boolean",
                          "description": "Platform staff who are also a member of the root organization — gates the staff console."
                        },
                        "organizations": {
                          "type": "array",
                          "description": "One entry per active membership. Organizations where membership has lapsed are omitted.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "organization": {
                                "$ref": "#/components/schemas/Organization"
                              },
                              "member": {
                                "type": "object",
                                "description": "Membership facts only — roles and teams are the sibling fields below, not nested here.",
                                "properties": {
                                  "user_id": {
                                    "type": "string",
                                    "description": "User id (`usr_…`)."
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "via": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "How they joined, e.g. invite or verified domain."
                                  },
                                  "joined_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "roles": {
                                "type": "array",
                                "description": "Role summaries held in this organization.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Role id (`role_…`)."
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "is_system": {
                                      "type": "boolean"
                                    },
                                    "seat_class": {
                                      "type": "string",
                                      "enum": [
                                        "billable",
                                        "free_admin"
                                      ]
                                    }
                                  }
                                }
                              },
                              "teams": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Team id (`team_…`)."
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "permissions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Effective permission names, unioned across roles. This is the authoritative list for deciding what to show; the server re-checks it on every request."
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The profile of whoever the credential belongs to, plus one entry per organization they are an active member of, each carrying that org's roles, teams and effective permissions. Call this first: it is how a client learns which organization ids it may put in `X-Organization-Id` and which actions to offer. With an org API token this still returns the token owner's memberships, so read `organizations` rather than assuming the token's org is the only one.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/organization": {
      "post": {
        "operationId": "createOrganization",
        "summary": "Create organization",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Creates an organization and makes the caller its first member, holding the immutable Org Owner role; the predefined role set is seeded at the same time. Requires an interactive session — an API token is refused with 403, since a token scoped to one org must not be able to create another. Also requires this deployment to have public signup enabled (`PUBLIC_SIGNUP`), otherwise 403 `signup_disabled`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,58}[a-z0-9]$",
                    "description": "Lowercase alphanumeric with hyphens. Generated from the name when omitted."
                  },
                  "region": {
                    "type": "string",
                    "enum": [
                      "us",
                      "eu",
                      "apac"
                    ],
                    "default": "us",
                    "description": "Data location, fixed at creation: `eu`/`us` pin a hard Durable Object jurisdiction, `apac` is a placement hint. It cannot be changed afterwards."
                  },
                  "referral_code": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{1,64}$",
                    "description": "Optional referral code, for tracking only. Whitespace is trimmed, a blank value is treated as absent, and it is stored upper-cased. Recorded once at creation; not returned by this API and not editable."
                  },
                  "signup_source": {
                    "type": "object",
                    "description": "Optional attribution for where the signup came from, for tracking only. Every field is optional. Malformed input is dropped, never a 400: unknown keys, non-string or blank values, and a `referrer_host` that is not a hostname are ignored. Values are cut to 100 characters; `referrer_host` is reduced to a lowercase hostname (a full URL is accepted and stripped to its host). Recorded once at creation; not returned by this API and not editable.",
                    "properties": {
                      "utm_source": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "utm_medium": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "utm_campaign": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "utm_term": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "utm_content": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "ref": {
                        "type": "string",
                        "maxLength": 100
                      },
                      "referrer_host": {
                        "type": "string",
                        "maxLength": 100
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrganizations",
        "summary": "List your organizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result",
                    "next_cursor",
                    "prev_cursor"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Every organization the calling user belongs to. Cursor-paginated like any other list endpoint — follow `next_cursor` to reach the rest rather than assuming one response is the whole set. With an API token, scoped to exactly one org, the result is always a single-item page with `next_cursor: null`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/CursorQuery"
          }
        ]
      }
    },
    "/organization/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Membership is required. The org comes from the path, so no `X-Organization-Id` header is needed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      },
      "patch": {
        "operationId": "patchOrganization",
        "summary": "Update organization",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Requires the `org:manage` permission and an active Gold or Black subscription — except a body that sets only `allow_staff_impersonation` and/or `mfa_required`, which is accepted whatever the plan. **`settings` is REPLACED wholesale, not merged**: whatever object you send becomes the entire settings object, so any key you omit is deleted. Read the current organization first and send the merged result. `name` and `allow_staff_impersonation` are normal field updates, and omitting a field leaves it untouched. `mfa_required` is a sign-in policy and has its own rules: it needs an interactive browser session (an API token answers 403, and the AI surfaces do not accept the field at all), it is refused to a staff impersonation session, turning it OFF needs step-up reauthentication (`428 step_up_required`, action `organization.mfa-requirement.disable`), and turning it ON answers `409 mfa_setup_required` when the caller's own session would fail the check — see `can_require_mfa` on the response. A change is recorded in the `organization.updated` audit entry with the old and new value in its `mfa_required` metadata. `slug`, `plan` and `region` cannot be changed here.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Replaces the stored settings object entirely. Omitted keys are lost."
                  },
                  "allow_staff_impersonation": {
                    "type": "boolean",
                    "description": "`false` refuses Elaichi staff impersonation for this organization — every request, reads included. Recorded in the `organization.updated` audit entry: the field is named in `fields` and the value it was set to is in the entry's `allow_staff_impersonation` metadata."
                  },
                  "mfa_required": {
                    "type": "boolean",
                    "description": "`true` requires every member to hold a second factor to act in this organization; `false` lifts it. See the operation description for who may change it and what a change needs."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete organization",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "pending_deletion": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` here: this route only schedules. The organization is read-only until `purge_after` and can be brought back with `POST /organization/{id}/restore`."
                    },
                    "purge_after": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the daily cron will run the full teardown, 30 days out. The restore window closes at this instant. A repeat call on an already-scheduled organization returns the deadline already set, never a later one."
                    },
                    "summary": {
                      "type": "object",
                      "description": "Only what THIS call severed. Counts are of items successfully removed. The purge-only counts (`api_tokens_revoked`, `conversations_purged`, `logo_objects_deleted`) are absent here, not zero: they appear only on the day-30 purge and on a staff `immediate` delete.",
                      "properties": {
                        "connections_deleted": {
                          "type": "integer"
                        },
                        "scim_tokens_revoked": {
                          "type": "integer"
                        },
                        "oauth_grants_revoked": {
                          "type": "integer"
                        },
                        "stripe_subscription_cancelled": {
                          "type": "boolean"
                        },
                        "failures": {
                          "type": "array",
                          "description": "Steps that did not come off cleanly on this run, one entry per step. Empty on a clean run; a retry of the same delete may clear them. Bounded by the fixed number of teardown steps, never by organization size — a step that walks a collection reports a count and a few sample ids in its single entry rather than one entry per row.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "step": {
                                "type": "string"
                              },
                              "detail": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "residue": {
                          "type": "array",
                          "description": "Stores a deletion cannot reach at all. Empty on this route, because scheduling touches none of them; the day-30 purge (and a staff immediate delete) reports them, and that list is never a sign that anything went wrong. It is the list an erasure request is answered with.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "step": {
                                "type": "string"
                              },
                              "detail": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "**Schedules permanent deletion 30 days out — it does not erase the organization today.** What happens IMMEDIATELY and cannot be undone: every connection is severed and its vault credential deleted (a restore returns the organization but NOT the connections — each must be re-authorized by hand), every SCIM token and MCP OAuth grant is revoked, and the Stripe subscription is canceled (immediately, not at period end). Everything else — members, roles, teams, toolboxes, templates, restrictions, conversations, audit history, the logo, API tokens — survives and returns on a restore. For the next 30 days the organization is READ-ONLY: every GET still works (the paginated read APIs are the export path, and existing API tokens keep reading through them, so an export script needs no new credential), and every other method answers `403 organization_pending_deletion` except `POST /organization/{id}/restore` and the billing checkout/portal routes. MCP, tool execution and new connections are refused outright. On day 30 a daily cron runs the full teardown. Calling this twice is idempotent — the second call returns the same `purge_after` with an all-zero summary. Requires the `org:delete` permission, which **only the Org Owner role holds** — an Org Admin is refused with 403 `permission_required`. Requires an interactive session and step-up reauthentication: without a valid `X-Step-Up-Token` the call answers `428 step_up_required` (see the step-up flow). `confirm_slug` must equal the organization’s own `slug` and is re-checked server-side, so a client that skips its confirmation prompt does not skip the check. The platform root organization can never be deleted: `403 root_organization_cannot_be_deleted`. Unlike every other mutation here this does NOT require an active subscription — a locked or expired organization must still be able to leave. On `200` the `summary` describes only what THIS call severed; `api_tokens_revoked`, `conversations_purged` and `logo_objects_deleted` are absent and `residue` stays empty because this phase touches none of them (the day-30 purge reports those). A non-empty `failures` means a credential this call promised to revoke may still be live at the provider, and a client should say so rather than repeat the promise.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm_slug"
                ],
                "properties": {
                  "confirm_slug": {
                    "type": "string",
                    "description": "Must equal this organization’s `slug`. Re-checked server-side."
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Optional note, recorded on the audit entry this deletion writes before it runs."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/restore": {
      "post": {
        "operationId": "restoreOrganization",
        "summary": "Cancel a scheduled deletion",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "restored": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Undoes `DELETE /organization/{id}` inside its 30-day window: the purge is canceled and the organization becomes writable again. Connections do NOT come back — their vault credentials were deleted at the original delete, so each has to be re-authorized by hand. Requires `org:manage`, so an Org Admin can restore and not only the Owner who could delete. No body and no step-up: the delete is the dangerous direction and the undo should not cost the caller a factor. Refuses with `409` when the organization is not currently scheduled for deletion or the window has passed, with `403 organization_blocked` when the organization is under a staff hold, and with `subscription_required` when the plan lapsed — the delete canceled the Stripe subscription, so a restore without a new one is refused rather than handed back an organization every entitlement gate would immediately lock again.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/logo": {
      "put": {
        "operationId": "putOrganizationLogo",
        "summary": "Upload organization logo",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Raw image body (PNG/JPEG/WebP), max 2 MiB — not multipart. Stores the bytes and returns the organization with `logo` set to the public URL that `GET /public/org-logos/{organizationId}/{objectId}` (or the configured CDN) serves. The previous logo object is deleted only after the new one is stored. Requires `org:manage` and an active subscription.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      },
      "delete": {
        "operationId": "deleteOrganizationLogo",
        "summary": "Remove organization logo",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Deletes the stored image and clears `logo`. Irreversible — the bytes are gone and must be re-uploaded. Requires `org:manage` and an active subscription.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/security-summary": {
      "get": {
        "operationId": "getOrganizationSecuritySummary",
        "summary": "How many members have no second factor",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members_total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "members_without_second_factor": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "members_total",
                    "members_without_second_factor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Two counts for the warning beside the Require two-factor authentication setting: the organization's members, and how many of them hold neither an authenticator app nor a passkey. Counts only — one aggregate over the member index, so the response is the same size for any organization and takes no `limit` or `cursor`; list the members themselves with `GET /member`. The second count is members WITHOUT a factor, not members who would be refused: a member who signs in through this organization's own SSO connection is exempt at the door whatever they hold. Requires `org:manage` (the catalog has no `org:view`). A read, so it answers for a suspended or pending-deletion organization too.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/entitlements": {
      "get": {
        "operationId": "getOrganizationEntitlements",
        "summary": "Get effective plan and feature map",
        "tags": [
          "Entitlements"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "gold",
                        "black",
                        null
                      ],
                      "description": "Effective plan. `null` means locked — gated routes answer 403 `subscription_required`."
                    },
                    "trial_ends_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "trial_active": {
                      "type": "boolean",
                      "description": "Local pre-Checkout Gold trial only."
                    },
                    "trial_indefinite": {
                      "type": "boolean",
                      "description": "Staff-granted indefinite trial: unlocked with no end date. `trial_active` stays false — there is no clock to count down."
                    },
                    "features": {
                      "type": "object",
                      "description": "Feature key → allowed. A key that is absent is not offered to this organization — not an error. The response can carry further informational fields beyond those listed here.",
                      "additionalProperties": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "What this organization may use right now. Call this before offering a gated feature rather than reading `plan` off the organization: `plan` here is the EFFECTIVE plan (null when locked), which folds in the trial and the Stripe subscription status. Membership required; any member may read it.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/billing": {
      "get": {
        "operationId": "getOrganizationBilling",
        "summary": "Billing status",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "string",
                      "description": "Stored plan on the row: `gold`, `black`, or `none` once locked."
                    },
                    "effective_plan": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "gold",
                        "black",
                        null
                      ],
                      "description": "What the org is actually entitled to right now, after trial and Stripe subscription status are taken into account. `null` means locked — gated features refuse with `subscription_required`."
                    },
                    "trial_ends_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "trial_active": {
                      "type": "boolean",
                      "description": "The local pre-Checkout Gold trial only. A Stripe `trialing` subscription is not this flag."
                    },
                    "stripe_customer_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stripe_subscription_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stripe_subscription_status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stripe_price_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_customer": {
                      "type": "boolean"
                    },
                    "billing_configured": {
                      "type": "boolean",
                      "description": "False when this deployment has no Stripe key configured."
                    },
                    "seat_count": {
                      "type": "integer",
                      "description": "Billable memberships, with the paid-subscription minimum of one. This is the Checkout quantity."
                    },
                    "available_plans": {
                      "type": "object",
                      "description": "Which prices this deployment has configured.",
                      "properties": {
                        "gold": {
                          "type": "boolean"
                        },
                        "gold_monthly": {
                          "type": "boolean"
                        },
                        "gold_yearly": {
                          "type": "boolean"
                        },
                        "black": {
                          "type": "boolean"
                        }
                      }
                    },
                    "pricing": {
                      "type": "object",
                      "required": [
                        "country",
                        "tier",
                        "discount_pct",
                        "regional",
                        "available",
                        "currency",
                        "gold",
                        "list"
                      ],
                      "properties": {
                        "country": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "ISO 3166-1 alpha-2 the price is based on, or null when unknown (which prices as list)."
                        },
                        "tier": {
                          "type": "string",
                          "description": "Tier id: `t0` (list) to `t4` by GDP band, or a country tier such as `in` (India). Compare by `discount_pct`."
                        },
                        "discount_pct": {
                          "type": "integer",
                          "description": "Discount off list, 0–60."
                        },
                        "regional": {
                          "type": "boolean",
                          "description": "`tier !== \"t0\"`."
                        },
                        "available": {
                          "type": "boolean",
                          "description": "False only for a country Elaichi cannot sell to — Checkout refuses it with `region_unavailable`."
                        },
                        "currency": {
                          "type": "string",
                          "description": "Lowercase ISO 4217 the `gold` amounts are in."
                        },
                        "gold": {
                          "type": "object",
                          "properties": {
                            "month": {
                              "type": "object",
                              "properties": {
                                "unit_amount": {
                                  "type": "integer"
                                }
                              }
                            },
                            "year": {
                              "type": "object",
                              "properties": {
                                "unit_amount": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "description": "Per-seat price for one cycle in `currency` minor units — exactly what Checkout charges. `year` is the year total."
                        },
                        "list": {
                          "type": "object",
                          "description": "List (t0) price to show the discount against: in `currency` when list price is set in it, else USD. Display only.",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "gold": {
                              "type": "object",
                              "properties": {
                                "month": {
                                  "type": "object",
                                  "properties": {
                                    "unit_amount": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "year": {
                                  "type": "object",
                                  "properties": {
                                    "unit_amount": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "What this org's next Gold checkout charges: its sticky tier from its first checkout if it has one, otherwise the tier for the country the request comes from."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Subscription and seat state for the plan screen. Requires the `billing:view` permission. For what the org may actually *use*, prefer `GET /organization/{id}/entitlements`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/billing/checkout": {
      "post": {
        "operationId": "createBillingCheckout",
        "summary": "Create Stripe Checkout session",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Hosted Stripe Checkout URL — send the browser here."
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "seat_count": {
                      "type": "integer",
                      "description": "Quantity submitted to Stripe."
                    },
                    "trial_period_days": {
                      "type": "integer",
                      "description": "Remaining local trial carried into Stripe; `0` charges now."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Starts a per-seat subscription and returns the hosted Checkout URL to redirect the user to. Quantity is the current billable member count, and any remaining local trial is carried into Stripe as trial days. Requires `billing:manage`. Refuses with `subscription_exists` when a live (or past-due) subscription is already attached — change plans through `POST /organization/{id}/billing/portal` instead. Annual billing is Gold only. Gold is charged the tier in `GET /organization/{id}/billing` → `pricing`; a request from a country Elaichi cannot sell to, or through Tor, answers `403 region_unavailable`. A discounted tier is card only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string",
                    "enum": [
                      "gold",
                      "black"
                    ],
                    "default": "gold"
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "month",
                      "year"
                    ],
                    "default": "month",
                    "description": "Gold only. `year` with `black` is rejected as `interval_unsupported`."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/organization/{id}/billing/portal": {
      "post": {
        "operationId": "createBillingPortal",
        "summary": "Create Stripe Customer Portal session",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Returns the portal URL where the customer changes plan, payment method, or cancels. Requires `billing:manage` and an existing Stripe customer — before the first Checkout this answers `no_stripe_customer`. A request from a country Elaichi cannot sell to answers `403 region_unavailable`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization id (`org_…`)."
          }
        ]
      }
    },
    "/permission": {
      "get": {
        "operationId": "listPermissions",
        "summary": "Permission catalog",
        "tags": [
          "Permissions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result",
                    "next_cursor",
                    "prev_cursor"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Permission name, e.g. `member:manage` — this is what goes on a role."
                          },
                          "label": {
                            "type": "string",
                            "description": "Short human label."
                          },
                          "description": {
                            "type": "string"
                          },
                          "group": {
                            "type": "string",
                            "description": "Display section for a role editor, e.g. `Connectors`."
                          },
                          "high_trust": {
                            "type": "boolean",
                            "description": "True when granting this permission lets its holder create something the organization’s own governance rules cannot bind afterwards — today only `connector:create`, whose connectors are governed by identity and not by the destination they dial (see docs/access-model.md §11). Always present; surface it wherever the permission is granted."
                          }
                        }
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "The catalog of permission names a role may hold, with display copy — the source of truth for the role editor and for validating `permissions` on `POST /role` / `PATCH /role/{id}`. Org-scoped: the catalog lists the permissions this organization may grant. Paged with `limit` / `cursor`; read every page for the whole catalog.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationIdHeader"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/CursorQuery"
          }
        ]
      }
    },
    "/role": {
      "get": {
        "operationId": "listRoles",
        "summary": "List roles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result",
                    "next_cursor",
                    "prev_cursor"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Roles in this organization, system and custom alike. Any member may read them — this is what populates a role picker before `PATCH /member/{userId}` or `POST /invite`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationIdHeader"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/CursorQuery"
          }
        ]
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create role",
        "tags": [
          "Roles"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Authoring custom roles requires the `role:manage` permission and the `custom_roles` plan feature; the predefined system roles stay readable and assignable on every plan. You may only grant permissions you hold yourself — otherwise an admin could mint a role carrying `billing:manage` and assign it to themselves. Validate names against `GET /permission`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "permissions"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "permissions": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Permission names from `GET /permission`. The complete set for this role."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationIdHeader"
          }
        ]
      }
    },
    "/role/{id}": {
      "get": {
        "operationId": "getRole",
        "summary": "Get role",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Role id (`role_…`)."
          }
        ]
      },
      "patch": {
        "operationId": "patchRole",
        "summary": "Update role",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "**`permissions` is REPLACED wholesale, not merged** — the array you send becomes the role's entire permission set, so anything omitted is revoked from every member holding the role. Read the role first and send the full intended list. Omitting `permissions` entirely leaves it untouched. Edits apply live: effective permissions are recomputed per request and every cached permission context for the org is invalidated immediately. Requires `role:manage`, the `custom_roles` feature, and that you hold every permission you are granting.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "permissions": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Replaces the role's permission set entirely."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationIdHeader"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Role id (`role_…`)."
          }
        ]
      },
      "delete": {
        "operationId": "deleteRole",
        "summary": "Delete role",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "reassigned_member_count",
                    "reassigned_invite_count"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "reassigned_member_count": {
                      "type": "integer",
                      "description": "How many members were moved onto `reassign_to`. 0 when none held the role."
                    },
                    "reassigned_invite_count": {
                      "type": "integer",
                      "description": "How many pending invites were re-pointed at `reassign_to`."
                    },
                    "reassigned_by_role": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role_id": {
                            "type": "string"
                          },
                          "role_name": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      },
                      "description": "One row per distinct role members were moved onto (just `reassign_to` here). Empty when nobody held the role."
                    }
                  }
                }
              }
            }
[...]
