{
  "openapi": "3.0.3",
  "info": {
    "title": "FTS Studio API",
    "description": "Access FinTech Studios intelligence platform via API. Search across multiple news sources, generate AI-powered executive summaries, manage collections, access insight channels, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "FinTech Studios",
      "url": "https://fintechstudios.com",
      "email": "support@fintechstudios.com"
    },
    "x-jentic-source-url": "https://studio.fintechstudios.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://studio.fintechstudios.com/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Search articles",
        "description": "Search for news articles across multiple sources (FTS, NewsAPI, Brave). Returns deduplicated articles sorted by date with original source URLs. Credits are charged dynamically per source queried (FTS search cost, NewsAPI article_search cost, Brave web_search cost).",
        "tags": [
          "Search"
        ],
        "x-credit-cost": "dynamic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "example": "SEC enforcement actions 2026"
                  },
                  "language": {
                    "type": "string",
                    "default": "en"
                  },
                  "from_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date filter"
                  },
                  "to_date": {
                    "type": "string",
                    "format": "date",
                    "description": "End date filter"
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "curated",
                        "web"
                      ]
                    },
                    "default": [
                      "curated",
                      "web"
                    ],
                    "description": "Source categories to search. 'curated' = FinTech Studios' licensed news archive, 'web' = open web search. Defaults to both. ('search' is accepted as a deprecated alias for 'web'.)"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "per_page": {
                    "type": "integer",
                    "default": 25,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "articles": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "sources_searched": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "news",
                              "web",
                              "other"
                            ]
                          },
                          "description": "Source categories that returned results"
                        },
                        "source_breakdown": {
                          "type": "object",
                          "description": "Number of articles per source category (news, web, other)",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news/article/{id}/full-text": {
      "get": {
        "summary": "Get an article's full text",
        "description": "Returns the full body text of a single news article. Charged at 1.5x a standard FTS API call, and only when text is actually returned — a 404 (no full text available, e.g. paywalled or not yet processed) and transient upstream failures are not billed.",
        "tags": [
          "News"
        ],
        "x-credit-cost": "fts-api:full_text_retrieval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Article id as returned by search or trending results"
          }
        ],
        "responses": {
          "200": {
            "description": "Full article text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "article": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "full_text": {
                              "type": "string",
                              "description": "Full article body text"
                            },
                            "char_count": {
                              "type": "integer",
                              "description": "Length of full_text in characters"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No full text available for this article — not billed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — honor the Retry-After header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Upstream news service temporarily unavailable — retryable, not billed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/articles/{id}": {
      "get": {
        "summary": "Get full article by ID",
        "description": "Retrieve a single full news article by its FTS id (the `id` field returned by /search). Returns the body text plus citation metadata (title, source, canonical URL, date). Body-retrieval companion to /search; backs the MCP `fetch` tool. Credits are charged as one article_retrieval operation.",
        "tags": [
          "Search"
        ],
        "x-credit-cost": "dynamic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Article id from a /search result"
          }
        ],
        "responses": {
          "200": {
            "description": "Full article",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "body": {
                          "type": "string",
                          "nullable": true,
                          "description": "Full article body"
                        },
                        "summary": {
                          "type": "string",
                          "nullable": true
                        },
                        "source": {
                          "type": "string"
                        },
                        "author": {
                          "type": "string",
                          "nullable": true
                        },
                        "url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Canonical URL"
                        },
                        "image_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "published_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "language": {
                          "type": "string",
                          "nullable": true
                        },
                        "citation": {
                          "type": "object",
                          "description": "Structured citation metadata for RAG grounding",
                          "properties": {
                            "source": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string",
                              "nullable": true
                            },
                            "url": {
                              "type": "string",
                              "nullable": true
                            },
                            "published_at": {
                              "type": "string",
                              "nullable": true
                            },
                            "text": {
                              "type": "string",
                              "description": "House-style inline citation, e.g. (Reuters, January 30, 2026)"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Article not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trending": {
      "get": {
        "summary": "Get trending news",
        "description": "Trending market news stories right now. Costs ~1 credit.",
        "tags": [
          "Trending"
        ],
        "x-credit-cost": 1,
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "articles": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimate": {
      "post": {
        "summary": "Estimate the cost of a service call",
        "description": "Estimate the credit cost of a single service call before making it. Costs 0 credits.",
        "tags": [
          "Estimate"
        ],
        "x-credit-cost": 0,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "service"
                ],
                "properties": {
                  "service": {
                    "type": "string",
                    "example": "fts-api"
                  },
                  "operation": {
                    "type": "string",
                    "example": "generative_search"
                  },
                  "inputTokens": {
                    "type": "integer"
                  },
                  "outputTokens": {
                    "type": "integer"
                  },
                  "model": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "estimated_credits": {
                          "type": "integer"
                        },
                        "estimated_cost_usd": {
                          "type": "number"
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "exact",
                            "estimated"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimate/endpoints": {
      "get": {
        "summary": "Estimate costs for all endpoints",
        "description": "Per-endpoint credit cost table, for pricing a call in advance. Costs 0 credits.",
        "tags": [
          "Estimate"
        ],
        "x-credit-cost": 0,
        "responses": {
          "200": {
            "description": "Endpoint cost table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "endpoints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "string"
                              },
                              "method": {
                                "type": "string"
                              },
                              "estimated_credits": {
                                "type": "integer"
                              },
                              "confidence": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trending/entities": {
      "get": {
        "summary": "Get trending entities",
        "description": "Get trending entities (companies, people, regions, etc.) from the FTS Analytics API. Returns entities ranked by trend score over a 4-hour rolling window.",
        "tags": [
          "Trending"
        ],
        "x-credit-cost": 1,
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "company",
              "enum": [
                "company",
                "people",
                "person",
                "region",
                "industry",
                "topic",
                "agency",
                "currency"
              ]
            },
            "description": "Entity type to retrieve. 'person' is an alias for 'people'."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of entities to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Trending entities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 12345
                              },
                              "name": {
                                "type": "string",
                                "example": "Apple Inc"
                              },
                              "type": {
                                "type": "string",
                                "example": "company"
                              },
                              "type_display": {
                                "type": "string",
                                "example": "Company"
                              },
                              "trend_score": {
                                "type": "number",
                                "example": 87.34
                              }
                            }
                          }
                        },
                        "group": {
                          "type": "string",
                          "example": "company"
                        },
                        "total": {
                          "type": "integer",
                          "example": 20
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid group parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/summaries": {
      "post": {
        "summary": "Generate AI summary",
        "description": "Search for articles and generate an executive-level AI summary with inline citations. Credits are charged dynamically based on the FTS search cost plus LLM token usage.",
        "tags": [
          "Summaries"
        ],
        "x-credit-cost": "dynamic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "Latest AI regulation developments"
                  },
                  "model": {
                    "type": "string",
                    "default": "anthropic/claude-sonnet-4-20250514"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 2000,
                    "maximum": 8000
                  },
                  "language": {
                    "type": "string",
                    "default": "en"
                  },
                  "citation_format": {
                    "type": "string",
                    "enum": [
                      "inline",
                      "none"
                    ],
                    "default": "inline"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "articles_found": {
                          "type": "integer"
                        },
                        "model": {
                          "type": "string"
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/summaries/stream": {
      "post": {
        "summary": "Stream AI summary",
        "description": "Generate a streaming AI summary via Server-Sent Events. Credits are charged dynamically based on the FTS search cost plus LLM token usage.",
        "tags": [
          "Summaries"
        ],
        "x-credit-cost": "dynamic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string",
                    "default": "anthropic/claude-sonnet-4-20250514"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of summary chunks",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "summary": "List collections",
        "description": "List the authenticated user's collections. Only returns channel-type collections (not legacy saved searches).",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "news",
                "stock_portfolio",
                "regulatory"
              ]
            },
            "description": "Filter by collection type"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated collections list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionListItem"
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Meta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "has_more": {
                              "type": "boolean"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create collection",
        "description": "Create a new multi-source news collection. Defaults to type 'news'. Available types: news, stock_portfolio (beta), regulatory (beta). Types crypto and prediction_markets are coming soon and will return a validation error.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": 0,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "sources"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "Tech Industry News"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "news",
                      "stock_portfolio",
                      "regulatory"
                    ],
                    "default": "news"
                  },
                  "sources": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "provider_id"
                      ],
                      "properties": {
                        "provider_id": {
                          "type": "string",
                          "enum": [
                            "news",
                            "web"
                          ],
                          "example": "news",
                          "description": "Source category: 'news' for curated news sources, 'web' for web search"
                        },
                        "weight": {
                          "type": "integer",
                          "default": 100,
                          "minimum": 0,
                          "maximum": 100
                        },
                        "is_active": {
                          "type": "boolean",
                          "default": true
                        }
                      }
                    }
                  },
                  "global_filters": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "example": "semiconductor supply chain"
                      },
                      "keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "entities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "date_range": {
                        "type": "object",
                        "properties": {
                          "relative": {
                            "type": "string",
                            "example": "30d"
                          },
                          "start": {
                            "type": "string"
                          },
                          "end": {
                            "type": "string"
                          }
                        }
                      },
                      "sentiment": {
                        "type": "object",
                        "properties": {
                          "min": {
                            "type": "number"
                          },
                          "max": {
                            "type": "number"
                          }
                        }
                      },
                      "regions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "exclude_terms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "merge_strategy": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "date",
                          "priority",
                          "interleave"
                        ],
                        "default": "date"
                      }
                    }
                  },
                  "deduplication_rules": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "default": true
                      },
                      "strategy": {
                        "type": "string",
                        "enum": [
                          "url",
                          "title_similarity",
                          "content_hash"
                        ],
                        "default": "url"
                      }
                    }
                  },
                  "refresh_interval": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 1440,
                    "description": "Auto-refresh interval in minutes"
                  },
                  "max_articles_per_refresh": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Default result cap for every execute of this collection, used when the request omits max_articles. Omit for unbounded within the window."
                  },
                  "type_config": {
                    "type": "object",
                    "description": "Type-specific configuration (e.g., stock holdings)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "summary": "Get collection",
        "description": "Get full details for a specific collection including sources, filters, and strategy configuration.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update collection",
        "description": "Update an existing collection. All fields are optional (partial update). The collection type cannot be changed after creation.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "provider_id": {
                          "type": "string"
                        },
                        "weight": {
                          "type": "integer"
                        },
                        "is_active": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "global_filters": {
                    "type": "object"
                  },
                  "merge_strategy": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "date",
                          "priority",
                          "interleave"
                        ]
                      }
                    }
                  },
                  "deduplication_rules": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "strategy": {
                        "type": "string"
                      }
                    }
                  },
                  "refresh_interval": {
                    "type": "integer",
                    "nullable": true
                  },
                  "max_articles_per_refresh": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Default result cap for every execute of this collection. Null clears it back to unbounded within the window."
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "type_config": {
                    "type": "object",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      },
      "delete": {
        "summary": "Delete collection",
        "description": "Permanently delete a collection. This is a hard delete — use PUT with is_active: false for soft deactivation.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{id}/execute": {
      "post": {
        "summary": "Execute collection",
        "description": "Execute a collection's sources and return aggregated articles. Fetches from all configured sources, applies filters, merges, and deduplicates results.\n\n**Execute is always date-bounded, never silently result-bounded.** The window is your `date_start`/`date_end` if given, else the collection's saved date range, else **the last 30 days**. The applied window comes back as `date_start`/`date_end`/`date_window_source`, so a default window is always visible rather than inferred. Results are ordered by `published_at` descending (newest first, `url` as tiebreaker) regardless of the collection's merge strategy.\n\n**The result cap follows the same precedence as the window:** your `max_articles`, else the collection's stored `max_articles_per_refresh`, else unbounded — every article in the window. The FTS news source is our own API, so an unbounded execute pages through it, up to a hard ceiling of 5000 articles per query. A cap caps the window rather than replacing it, and it is pushed down to the sources, so `total_in_range` is bounded by it too: only an uncapped execute reports the true size of the window. Third-party sources (web search) keep their configured per-source limit and vendor caps either way.\n\nThere is no offset/cursor pagination — every execute re-fetches live, so there is no stable result set to page over. Two signals tell you the answer was cut short: `has_more` means your cap bit, and `truncated_sources` means a source hit its own ceiling with news still unread in the window. For the latter, split the window into calendar chunks that each stay under 5000 and merge the results — see `truncated_sources`.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": "dynamic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "max_articles": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Ceiling on returned articles, applied within the window. Omit to fall back to the collection's stored max_articles_per_refresh, and if that is unset too, to every article in the window (no cap)."
                  },
                  "date_start": {
                    "type": "string",
                    "description": "Inclusive lower bound on published_at. ISO-8601 UTC datetime, or a bare YYYY-MM-DD (widened to 00:00:00.000Z that day). Defaults to the collection's saved range, else 30 days ago.",
                    "example": "2026-08-01T00:00:00Z"
                  },
                  "date_end": {
                    "type": "string",
                    "description": "Inclusive upper bound on published_at. Omit for 'up to now'. A bare YYYY-MM-DD is widened to 23:59:59.999Z that day.",
                    "example": "2026-08-12T00:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExecutionResult"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (no channel config)"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/collections/{id}/articles": {
      "get": {
        "summary": "Get collection articles (legacy)",
        "description": "Get articles from a FTS channel-backed collection. For multi-source collections, use POST /collections/{id}/execute instead.",
        "tags": [
          "Collections"
        ],
        "x-credit-cost": "dynamic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection articles"
          },
          "400": {
            "description": "Multi-source collection — use /execute instead"
          }
        }
      }
    },
    "/insight-channels": {
      "post": {
        "summary": "Create insight channel",
        "description": "Create a new insight channel for organizing published insights.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Channel name"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Channel description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Insight channel created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InsightChannel"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      },
      "get": {
        "summary": "List insight channels",
        "description": "List the authenticated user's insight channels.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated insight channels list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InsightChannel"
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Meta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "has_more": {
                              "type": "boolean"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/insight-channels/{id}": {
      "get": {
        "summary": "Get insight channel",
        "description": "Get details for a specific insight channel.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insight channel details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InsightChannel"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Insight channel not found"
          }
        }
      }
    },
    "/insight-channels/{id}/insights": {
      "post": {
        "summary": "Create insight",
        "description": "Publish an insight to an insight channel.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Insight channel ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content",
                  "generation_type"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "headline": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "summary": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Insight body (markdown, HTML, or JSON)"
                  },
                  "content_format": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "html",
                      "json"
                    ],
                    "default": "markdown"
                  },
                  "sentiment_label": {
                    "type": "string",
                    "enum": [
                      "positive",
                      "negative",
                      "neutral",
                      "mixed"
                    ]
                  },
                  "sentiment_score": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "0 = very negative, 50 = neutral, 100 = very positive"
                  },
                  "article_count": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "article_sources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        },
                        "published_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "alt": {
                          "type": "string"
                        },
                        "source_url": {
                          "type": "string"
                        },
                        "source_title": {
                          "type": "string"
                        },
                        "source_domain": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "generation_type": {
                    "type": "string",
                    "minLength": 1,
                    "description": "e.g. search_analysis, market_brief, regulatory_scan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Insight created and published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Insight"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Insight channel not found"
          }
        }
      },
      "get": {
        "summary": "Get channel insights",
        "description": "Get paginated insights for an insight channel.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated insights list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Insight"
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Meta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "has_more": {
                              "type": "boolean"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Insight channel not found"
          }
        }
      }
    },
    "/insight-channels/{id}/insights/latest": {
      "get": {
        "summary": "Get latest insight",
        "description": "Get the most recent insight for an insight channel.",
        "tags": [
          "Insight Channels"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest insight",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Insight"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Insight channel or insight not found"
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "summary": "Chat completion",
        "description": "Generate a chat completion using an LLM via OpenRouter. Supports multiple model providers (Anthropic, OpenAI, Perplexity). Credits charged dynamically based on token usage.",
        "tags": [
          "Chat"
        ],
        "x-credit-cost": "dynamic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID from /models endpoint",
                    "example": "anthropic/claude-sonnet-4-20250514"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Conversation messages"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 4096,
                    "maximum": 128000
                  },
                  "temperature": {
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0,
                    "maximum": 2
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "json_object"
                        ]
                      }
                    }
                  },
                  "provider_params": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Provider-specific request parameters forwarded to the upstream LLM via OpenRouter. Known Perplexity params: return_images (boolean), return_related_questions (boolean), search_recency_filter (string: 'month'|'week'|'day'|'hour'), search_domain_filter (string[]).",
                    "example": {
                      "return_images": true,
                      "return_related_questions": true,
                      "search_recency_filter": "week"
                    }
                  },
                  "enrich_citations": {
                    "type": "boolean",
                    "description": "When true, post-process provider metadata to extract a structured `citations` array as a sibling to `provider_metadata`. Currently resolves Perplexity citation URLs into objects with url, title, source_name, and date. Raw provider_metadata is never modified. Response content `[n]` references are preserved as-is for apps to render as they choose.",
                    "default": false
                  },
                  "normalize_images": {
                    "type": "boolean",
                    "description": "When true, normalize provider-specific image metadata into a consistent schema. Maps variant field names (image_url/url/src, origin_url/source_url/page_url) to stable fields: url, source_url, width, height, alt, source_domain. Deduplicates by URL. Raw provider_metadata.images is never modified.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "chatcmpl-abc123"
                        },
                        "object": {
                          "type": "string",
                          "example": "chat.completion"
                        },
                        "model": {
                          "type": "string"
                        },
                        "choices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "message": {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  }
                                }
                              },
                              "finish_reason": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": "integer"
                            },
                            "completion_tokens": {
                              "type": "integer"
                            },
                            "total_tokens": {
                              "type": "integer"
                            }
                          }
                        },
                        "provider_metadata": {
                          "type": "object",
                          "additionalProperties": true,
                          "nullable": true,
                          "description": "Raw provider-specific response metadata, passed through unmodified. Contents vary by provider. Perplexity models may return: citations (string[] of URLs), images (object[]), related_questions (string[]), search_results (object[])."
                        },
                        "citations": {
                          "type": "array",
                          "nullable": true,
                          "description": "Structured citation objects resolved from provider metadata. Only present when `enrich_citations: true` was set in the request AND the provider returned citation data. Content `[n]` references are NOT rewritten — apps decide how to render them using this array.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer",
                                "description": "1-based index matching [n] references in content"
                              },
                              "url": {
                                "type": "string",
                                "description": "Source URL"
                              },
                              "title": {
                                "type": "string",
                                "description": "Article/page title from search results, if available"
                              },
                              "source_name": {
                                "type": "string",
                                "description": "Short source name derived from title or URL hostname"
                              },
                              "date": {
                                "type": "string",
                                "description": "Publication date from search results, if available"
                              }
                            },
                            "required": [
                              "index",
                              "url"
                            ]
                          },
                          "example": [
                            {
                              "index": 1,
                              "url": "https://reuters.com/article/...",
                              "title": "Tesla Q3 Report Beats Estimates",
                              "source_name": "Reuters",
                              "date": "2025-10-18"
                            },
                            {
                              "index": 2,
                              "url": "https://bloomberg.com/news/...",
                              "title": "EV Market Analysis - Bloomberg",
                              "source_name": "Bloomberg",
                              "date": "2025-10-17"
                            }
                          ]
                        },
                        "images": {
                          "type": "array",
                          "nullable": true,
                          "description": "Normalized image objects from provider metadata. Only present when `normalize_images: true` was set in the request AND the provider returned image data. All provider-specific field name variants are mapped to a consistent schema. Deduplicated by URL.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Direct URL to the image"
                              },
                              "source_url": {
                                "type": "string",
                                "description": "URL of the page where the image was found"
                              },
                              "width": {
                                "type": "integer",
                                "description": "Image width in pixels"
                              },
                              "height": {
                                "type": "integer",
                                "description": "Image height in pixels"
                              },
                              "alt": {
                                "type": "string",
                                "description": "Alt text or description"
                              },
                              "source_domain": {
                                "type": "string",
                                "description": "Domain name of the source page (e.g. 'reuters.com')"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "example": [
                            {
                              "url": "https://images.reuters.com/tesla-factory.jpg",
                              "source_url": "https://reuters.com/article/...",
                              "width": 1280,
                              "height": 720,
                              "alt": "Tesla Gigafactory",
                              "source_domain": "reuters.com"
                            }
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chat/completions/stream": {
      "post": {
        "summary": "Streaming chat completion",
        "description": "Generate a streaming chat completion via Server-Sent Events. Same parameters as /chat/completions, including provider_params. Content chunks arrive as `choices[0].delta.content`. The final chunk includes `finish_reason: \"stop\"`, `usage`, and `provider_metadata` (if the upstream provider returns extra fields). Terminated by `data: [DONE]`.",
        "tags": [
          "Chat"
        ],
        "x-credit-cost": "dynamic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "perplexity/sonar-pro"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 4096
                  },
                  "temperature": {
                    "type": "number",
                    "default": 0.7
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "json_object"
                        ]
                      }
                    }
                  },
                  "provider_params": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Provider-specific request parameters forwarded to the upstream LLM via OpenRouter. Known Perplexity params: return_images (boolean), return_related_questions (boolean), search_recency_filter (string: 'month'|'week'|'day'|'hour'), search_domain_filter (string[]).",
                    "example": {
                      "return_images": true,
                      "return_related_questions": true
                    }
                  },
                  "enrich_citations": {
                    "type": "boolean",
                    "description": "When true, the final SSE event includes a structured `citations` array resolved from provider metadata. See /chat/completions for full schema.",
                    "default": false
                  },
                  "normalize_images": {
                    "type": "boolean",
                    "description": "When true, the final SSE event includes a normalized `images` array. See /chat/completions for full schema.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of chat completion chunks. Final chunk includes provider_metadata, usage, and optionally citations and images (when enrichment flags are set).",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List available models",
        "description": "Returns the list of supported LLM models available for chat completions. Includes model capabilities, context windows, and tier requirements.",
        "tags": [
          "Chat"
        ],
        "x-credit-cost": 0,
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "anthropic/claude-sonnet-4-20250514"
                          },
                          "name": {
                            "type": "string",
                            "example": "Claude Sonnet 4.5"
                          },
                          "provider": {
                            "type": "string",
                            "example": "anthropic"
                          },
                          "context_window": {
                            "type": "integer",
                            "example": 200000
                          },
                          "max_output_tokens": {
                            "type": "integer",
                            "example": 8192
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "chat",
                              "reasoning"
                            ]
                          },
                          "supports_streaming": {
                            "type": "boolean"
                          },
                          "supports_json_format": {
                            "type": "boolean"
                          },
                          "tier": {
                            "type": "string",
                            "enum": [
                              "free",
                              "standard",
                              "premium"
                            ]
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/whoami": {
      "get": {
        "summary": "Resolve an API key to its owner",
        "description": "Returns the identity of the Studio user that owns the presented API key. `user_id` is the Studio users.id — the same value POST /api/system/provision-app-key returns, and identical across every key belonging to that user. Not metered: no credits are charged and the call succeeds even for a user with no credit account. Unlike other v1 endpoints this authenticates by API key only — a session cookie will not satisfy it, because the endpoint's purpose is to identify the presented key.",
        "tags": [
          "Account"
        ],
        "x-credit-cost": 0,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Key owner identity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "description": "Studio user id (UUID)",
                          "example": "9f2c1b7e-4a3d-4e21-9b0f-1c8e5a7d3b62"
                        },
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "nullable": true,
                          "description": "Display name; null when the user has no name on file"
                        },
                        "first_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "last_name": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/daily-briefs": {
      "get": {
        "summary": "List daily briefs",
        "description": "The authenticated user's recent daily briefs (most recent first).",
        "tags": [
          "Daily Briefs"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            },
            "description": "Maximum number of briefs to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of daily briefs"
          }
        }
      }
    },
    "/daily-briefs/latest": {
      "get": {
        "summary": "Get latest daily brief",
        "description": "The authenticated user's most recent generated daily brief, or null.",
        "tags": [
          "Daily Briefs"
        ],
        "x-credit-cost": 0,
        "responses": {
          "200": {
            "description": "Latest daily brief, or { brief: null }"
          }
        }
      }
    },
    "/newsletters": {
      "get": {
        "summary": "List newsletters",
        "description": "The authenticated user's custom newsletters.",
        "tags": [
          "Newsletters"
        ],
        "x-credit-cost": 0,
        "responses": {
          "200": {
            "description": "List of custom newsletters"
          }
        }
      }
    },
    "/newsletters/{id}": {
      "get": {
        "summary": "Get newsletter",
        "description": "A single custom newsletter owned by the authenticated user.",
        "tags": [
          "Newsletters"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Newsletter id"
          }
        ],
        "responses": {
          "200": {
            "description": "Newsletter"
          },
          "403": {
            "description": "Forbidden — not the owner"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get current user",
        "description": "Get authenticated user info, tier, and credit balance.",
        "tags": [
          "Account"
        ],
        "x-credit-cost": 0,
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserInfo"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get API usage",
        "description": "Get API usage statistics for the authenticated user.",
        "tags": [
          "Account"
        ],
        "x-credit-cost": 0,
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 90
            },
            "description": "Number of days to look back"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key (fts_live_... or fts_test_...)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token: Authorization: Bearer fts_live_..."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Query is required"
              },
              "details": {
                "type": "object"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_abc123def456"
          },
          "credits_used": {
            "type": "integer",
            "example": 1
          },
          "credits_remaining": {
            "type": "integer",
            "example": 199
          },
          "rate_limit": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "example": 1000
              },
              "remaining": {
                "type": "integer",
                "example": 999
              },
              "reset": {
                "type": "integer",
                "example": 1709251200
              }
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "Article image URL if available"
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "positive",
              "negative",
              "neutral"
            ]
          }
        }
      },
      "CollectionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "news",
              "stock_portfolio",
              "regulatory",
              "crypto",
              "prediction_markets"
            ]
          },
          "source_count": {
            "type": "integer"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Provider IDs"
          },
          "is_active": {
            "type": "boolean"
          },
          "last_executed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CollectionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "news",
              "stock_portfolio",
              "regulatory",
              "crypto",
              "prediction_markets"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider_id": {
                  "type": "string"
                },
                "weight": {
                  "type": "integer"
                },
                "is_active": {
                  "type": "boolean"
                },
                "priority": {
                  "type": "integer"
                },
                "max_results": {
                  "type": "integer",
                  "nullable": true
                }
              }
            }
          },
          "global_filters": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string",
                "nullable": true
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              },
              "entities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "nullable": true
              },
              "date_range": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "relative": {
                    "type": "string"
                  }
                }
              },
              "sentiment": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "min": {
                    "type": "number"
                  },
                  "max": {
                    "type": "number"
                  }
                }
              },
              "regions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              },
              "exclude_terms": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            }
          },
          "merge_strategy": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "date",
                  "priority",
                  "interleave"
                ]
[...]
